Repository elastic/integrations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/integrations-developer-experience, @elastic/security-external-integrations, @elastic/integrations, @elastic/obs-cloud-monitoring, @elastic/obs-cloudnative-monitoring, @elastic/elastic-agent-control-plane, @elastic/security-asset-management, @elastic/protections, @elastic/uptime

google_workspace: remove redundant event.ingested (#2797)
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-application.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-calendar.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-chat.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-chromeos.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-contacts.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-delegatedadmin.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-docs.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-domain.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-gmail.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-groups.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-licenses.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-mobile.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-org.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-security.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-sites.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-user.log-expected.json
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Owners: @elastic/security-external-integrations

okta: increase API response limit (#2791)
  packages/okta/changelog.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/manifest.yml
Owners: @elastic/security-external-integrations

cef: append pipeline errors to error.message (#2789)
  packages/cef/changelog.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cef/manifest.yml
Owners: @elastic/security-external-integrations

Fix mapper_parsing_exception when parsing event_time (#2813)
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/audit/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_sqlserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sqlserver/manifest.yml
Owners: @elastic/security-external-integrations

[cloudflare] bugfix interval (#2787)
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/logpull/agent/stream/httpjson.yml.hbs
  packages/cloudflare/data_stream/logpull/manifest.yml
  packages/cloudflare/manifest.yml
Owners: @elastic/security-external-integrations

[kafka] Add missing event.* fields into ecs.yml (#2784)
  packages/kafka/changelog.yml
  packages/kafka/data_stream/log/_dev/test/pipeline/test-controller-2-0-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-controller.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-server-2-0-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-server.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-1-1-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-2-0-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-2-2-2.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change.log-expected.json
  packages/kafka/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/kafka/data_stream/log/fields/ecs.yml
  packages/kafka/data_stream/partition/fields/ecs.yml
  packages/kafka/docs/README.md
  packages/kafka/manifest.yml
Owners: @elastic/integrations

[aws_logs] Add conditions for kibana version (#2819)
  packages/aws_logs/changelog.yml
  packages/aws_logs/manifest.yml
Owners: @elastic/obs-cloud-monitoring

[HTTPJSON] fixing config fields in manifest.yml not working as intended (#2815)
  packages/httpjson/changelog.yml
  packages/httpjson/data_stream/generic/_dev/test/system/test-transforms-config.yml
  packages/httpjson/data_stream/generic/agent/stream/httpjson.yml.hbs
  packages/httpjson/data_stream/generic/manifest.yml
  packages/httpjson/data_stream/generic/sample_event.json
  packages/httpjson/manifest.yml
Owners: @elastic/security-external-integrations

network traffic: add license note to doc page (#2809)
  packages/network_traffic/_dev/build/docs/README.md
  packages/network_traffic/changelog.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Owners: @elastic/security-external-integrations

[panw] sync with beats module (#2758)
  packages/panw/_dev/deploy/docker/sample_logs/panw-panos-globalprotect.log
  packages/panw/_dev/deploy/docker/sample_logs/panw-panos-hipmatch.log
  packages/panw/_dev/deploy/docker/sample_logs/panw-panos-userid.log
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-common-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/globalprotect.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/hipmatch.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/traffic.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/userid.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/data_stream/panos/fields/fields.yml
  packages/panw/data_stream/panos/manifest.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Owners: @elastic/security-external-integrations

Pass the SSL configs entered in the UI down to agent config (#2792)
  packages/kafka/changelog.yml
  packages/kafka/data_stream/broker/agent/stream/stream.yml.hbs
  packages/kafka/data_stream/consumergroup/agent/stream/stream.yml.hbs
  packages/kafka/data_stream/partition/agent/stream/stream.yml.hbs
  packages/kafka/manifest.yml
Owners: @elastic/integrations

Changes in CODEOWNERS don't trigger integration builds (#2814)
  .ci/Jenkinsfile
Owners: @elastic/integrations-developer-experience

panw: improve package doc text (#2810)
  packages/panw/_dev/build/docs/README.md
  packages/panw/changelog.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Owners: @elastic/security-external-integrations

cef - Add mappings for event.* fields (#2808)
  packages/cef/_dev/deploy/docker/sample_logs/cef.log
  packages/cef/_dev/deploy/docker/sample_logs/syslog.log
  packages/cef/changelog.yml
  packages/cef/data_stream/log/_dev/test/pipeline/test-cef.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-cef.json-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-cef.log
  packages/cef/data_stream/log/_dev/test/pipeline/test-cef.log-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-checkpoint.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-checkpoint.json-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-checkpoint.log
  packages/cef/data_stream/log/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/cef/data_stream/log/_dev/test/pipeline/test-fp-ngfw-smc.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-fp-ngfw-smc.json-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-fp-ngfw-smc.log
  packages/cef/data_stream/log/_dev/test/pipeline/test-fp-ngfw-smc.log-expected.json
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/cp-pipeline.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cef/data_stream/log/fields/ecs.yml
  packages/cef/docs/README.md
  packages/cef/manifest.yml
Owners: @elastic/security-external-integrations

[TI_Cybersixgill] Change from API to TAXII for the integration (#2771)
  packages/ti_cybersixgill/_dev/build/docs/README.md
  packages/ti_cybersixgill/_dev/deploy/docker/docker-compose.yml
  packages/ti_cybersixgill/_dev/deploy/docker/files/config.yml
  packages/ti_cybersixgill/_dev/deploy/docker/sample_logs/test-cybersixgill-threat.ndjson.log
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-common-config.yml
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-cybersixgill-ndjson.log
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-cybersixgill-ndjson.log-expected.json
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-cybersixgill.json
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-cybersixgill.json-expected.json
  packages/ti_cybersixgill/data_stream/threat/_dev/test/system/test-httpjson-config.yml
  packages/ti_cybersixgill/data_stream/threat/_dev/test/system/test-webhook-http-config.yml
  packages/ti_cybersixgill/data_stream/threat/_dev/test/system/test-webhook-https-config.yml
  packages/ti_cybersixgill/data_stream/threat/agent/stream/http_endpoint.yml.hbs
  packages/ti_cybersixgill/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_cybersixgill/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cybersixgill/data_stream/threat/fields/ecs.yml
  packages/ti_cybersixgill/data_stream/threat/manifest.yml
  packages/ti_cybersixgill/data_stream/threat/sample_event.json
  packages/ti_cybersixgill/docs/README.md
  packages/ti_cybersixgill/manifest.yml
Owners: @elastic/security-external-integrations

[google_workspace] admin - Remove invalid IP fields (#2801)
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-gmail.log
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-gmail.log-expected.json
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
Owners: @elastic/security-external-integrations

.github/CODEOWNERS:

# Default owners
* @elastic/integrations-developer-experience

/packages/1password @elastic/security-external-integrations
/packages/activemq @elastic/integrations
/packages/akamai @elastic/security-external-integrations
/packages/apache @elastic/integrations
/packages/atlassian_bitbucket @elastic/security-external-integrations
/packages/atlassian_confluence @elastic/security-external-integrations
/packages/atlassian_jira @elastic/security-external-integrations
/packages/auditd @elastic/security-external-integrations
/packages/auth0 @elastic/security-external-integrations
/packages/aws_logs @elastic/obs-cloud-monitoring
/packages/aws @elastic/obs-cloud-monitoring
/packages/azure_application_insights @elastic/obs-cloud-monitoring
/packages/azure_billing @elastic/obs-cloud-monitoring
/packages/azure @elastic/obs-cloud-monitoring
/packages/azure_metrics @elastic/obs-cloud-monitoring
/packages/barracuda @elastic/security-external-integrations
/packages/bluecoat @elastic/security-external-integrations
/packages/carbonblack_edr @elastic/security-external-integrations
/packages/cassandra @elastic/integrations
/packages/cef @elastic/security-external-integrations
/packages/checkpoint @elastic/security-external-integrations
/packages/cisco_asa @elastic/security-external-integrations
/packages/cisco_duo @elastic/security-external-integrations
/packages/cisco_ftd @elastic/security-external-integrations
/packages/cisco_ios @elastic/security-external-integrations
/packages/cisco @elastic/security-external-integrations
/packages/cisco_meraki @elastic/security-external-integrations
/packages/cisco_nexus @elastic/security-external-integrations
/packages/cisco_secure_endpoint @elastic/security-external-integrations
/packages/cisco_umbrella @elastic/security-external-integrations
/packages/cloudflare @elastic/security-external-integrations
/packages/cockroachdb @elastic/integrations
/packages/containerd @elastic/obs-cloudnative-monitoring
/packages/crowdstrike @elastic/security-external-integrations
/packages/cyberark @elastic/security-external-integrations
/packages/cyberarkpas @elastic/security-external-integrations
/packages/cylance @elastic/security-external-integrations
/packages/docker @elastic/obs-cloudnative-monitoring
/packages/elastic_agent @elastic/elastic-agent-control-plane
/packages/elasticsearch @elastic/integrations
/packages/etcd @elastic/integrations
/packages/f5 @elastic/security-external-integrations
/packages/fireeye @elastic/security-external-integrations
/packages/fleet_server @elastic/elastic-agent-control-plane
/packages/fortinet @elastic/security-external-integrations
/packages/gcp @elastic/security-external-integrations @elastic/obs-cloud-monitoring
/packages/github @elastic/security-external-integrations
/packages/google_workspace @elastic/security-external-integrations
/packages/haproxy @elastic/integrations
/packages/hashicorp_vault @elastic/security-external-integrations
/packages/hid_bravura_monitor @elastic/security-external-integrations
/packages/http_endpoint @elastic/security-external-integrations
/packages/httpjson @elastic/security-external-integrations
/packages/iis @elastic/integrations
/packages/imperva @elastic/security-external-integrations
/packages/infoblox @elastic/security-external-integrations
/packages/iptables @elastic/security-external-integrations
/packages/journald @elastic/integrations
/packages/juniper_junos @elastic/security-external-integrations
/packages/juniper @elastic/security-external-integrations
/packages/juniper_netscreen @elastic/security-external-integrations
/packages/juniper_srx @elastic/security-external-integrations
/packages/kafka @elastic/integrations
/packages/keycloak @elastic/security-external-integrations
/packages/kibana @elastic/integrations
/packages/kubernetes @elastic/obs-cloudnative-monitoring
/packages/linux @elastic/integrations
/packages/log @elastic/integrations
/packages/logstash @elastic/integrations
/packages/mattermost @elastic/security-external-integrations
/packages/microsoft_defender_endpoint @elastic/security-external-integrations
/packages/microsoft_dhcp @elastic/security-external-integrations
/packages/microsoft @elastic/security-external-integrations
/packages/microsoft_sqlserver @elastic/security-external-integrations
/packages/mimecast @elastic/security-external-integrations
/packages/modsecurity @elastic/integrations
/packages/mongodb @elastic/integrations
/packages/mysql_enterprise @elastic/security-external-integrations
/packages/mysql @elastic/integrations
/packages/nats @elastic/integrations
/packages/netflow @elastic/security-external-integrations
/packages/netscout @elastic/security-external-integrations
/packages/netskope @elastic/security-external-integrations
/packages/network_traffic @elastic/security-external-integrations
/packages/nginx_ingress_controller @elastic/integrations
/packages/nginx @elastic/integrations
/packages/o365 @elastic/security-external-integrations
/packages/okta @elastic/security-external-integrations
/packages/oracle @elastic/security-external-integrations
/packages/osquery_manager @elastic/security-asset-management
/packages/osquery @elastic/security-external-integrations
/packages/panw_cortex_xdr @elastic/security-external-integrations
/packages/panw @elastic/security-external-integrations
/packages/pfsense @elastic/security-external-integrations
/packages/postgresql @elastic/integrations
/packages/prometheus @elastic/obs-cloudnative-monitoring
/packages/proofpoint @elastic/security-external-integrations
/packages/pulse_connect_secure @elastic/security-external-integrations
/packages/qnap_nas @elastic/security-external-integrations
/packages/rabbitmq @elastic/integrations
/packages/radware @elastic/security-external-integrations
/packages/redis @elastic/integrations
/packages/santa @elastic/security-external-integrations
/packages/security_detection_engine @elastic/protections
/packages/snort @elastic/security-external-integrations
/packages/snyk @elastic/security-external-integrations
/packages/sonicwall @elastic/security-external-integrations
/packages/sophos @elastic/security-external-integrations
/packages/squid @elastic/security-external-integrations
/packages/stan @elastic/integrations
/packages/suricata @elastic/security-external-integrations
/packages/symantec_endpoint @elastic/security-external-integrations
/packages/synthetics @elastic/uptime
/packages/system @elastic/integrations
/packages/tcp @elastic/security-external-integrations
/packages/tenable_sc @elastic/security-external-integrations
/packages/ti_abusech @elastic/security-external-integrations
/packages/ti_anomali @elastic/security-external-integrations
/packages/ti_cybersixgill @elastic/security-external-integrations
/packages/ti_misp @elastic/security-external-integrations
/packages/ti_otx @elastic/security-external-integrations
/packages/ti_threatq @elastic/security-external-integrations
/packages/tomcat @elastic/security-external-integrations
/packages/traefik @elastic/integrations
/packages/udp @elastic/security-external-integrations
/packages/vsphere @elastic/integrations
/packages/windows @elastic/integrations
/packages/winlog @elastic/security-external-integrations
/packages/zeek @elastic/security-external-integrations
/packages/zerofox @elastic/security-external-integrations
/packages/zookeeper @elastic/integrations
/packages/zoom @elastic/security-external-integrations
/packages/zscaler @elastic/security-external-integrations
/packages/zscaler_zia @elastic/security-external-integrations
/packages/zscaler_zpa @elastic/security-external-integrations
