Repository elastic/integrations, pull requests merged in 2021-06, with the labels that each got.

#1075 [fortinet] Make event.original optional in fortinet
  packages/fortinet/_dev/build/docs/README.md
  packages/fortinet/changelog.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/system/test-logfile-config.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/system/test-tcp-config.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/system/test-udp-config.yml
  packages/fortinet/data_stream/clientendpoint/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/clientendpoint/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/clientendpoint/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/clientendpoint/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/clientendpoint/manifest.yml
  packages/fortinet/data_stream/clientendpoint/sample_event.json
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-fortinet.log-config.yml
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet/data_stream/firewall/_dev/test/system/test-logfile-config.yml
  packages/fortinet/data_stream/firewall/_dev/test/system/test-tcp-config.yml
  packages/fortinet/data_stream/firewall/_dev/test/system/test-udp-config.yml
  packages/fortinet/data_stream/firewall/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/firewall/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/firewall/manifest.yml
  packages/fortinet/data_stream/firewall/sample_event.json
  packages/fortinet/data_stream/fortimail/_dev/test/system/test-logfile-config.yml
  packages/fortinet/data_stream/fortimail/_dev/test/system/test-tcp-config.yml
  packages/fortinet/data_stream/fortimail/_dev/test/system/test-udp-config.yml
  packages/fortinet/data_stream/fortimail/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/fortimail/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/fortimail/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/fortimail/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/fortimail/manifest.yml
  packages/fortinet/data_stream/fortimail/sample_event.json
  packages/fortinet/data_stream/fortimanager/_dev/test/system/test-logfile-config.yml
  packages/fortinet/data_stream/fortimanager/_dev/test/system/test-tcp-config.yml
  packages/fortinet/data_stream/fortimanager/_dev/test/system/test-udp-config.yml
  packages/fortinet/data_stream/fortimanager/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/fortimanager/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/fortimanager/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/fortimanager/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/fortimanager/manifest.yml
  packages/fortinet/data_stream/fortimanager/sample_event.json
  packages/fortinet/docs/README.md
  packages/fortinet/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1081 Fixing data types of scalar fields
  packages/docker/changelog.yml
  packages/docker/data_stream/cpu/fields/fields.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: bug, integration:Docker

#985 Osquery manager: add platform and version fields
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/agent/stream/stream.yml.hbs
  packages/osquery_manager/data_stream/result/manifest.yml
  packages/osquery_manager/manifest.yml
Labels: Team:Asset Mgt, enhancement

#1089 [system] Fix security pipeline to support string event.code
  packages/system/changelog.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
Labels: Team:Security-External Integrations, bug

#1090 [windows] Fix security pipeline to support string event.code
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, bug

#1044 [windows] Add system tests for httpjson input
  packages/windows/_dev/build/docs/README.md
  packages/windows/_dev/deploy/docker/docker-compose.yml
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/forwarded/fields/beats.yml
  packages/windows/data_stream/forwarded/sample_event.json
  packages/windows/data_stream/powershell/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/powershell/fields/beats.yml
  packages/windows/data_stream/powershell/sample_event.json
  packages/windows/data_stream/powershell_operational/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/powershell_operational/fields/beats.yml
  packages/windows/data_stream/powershell_operational/sample_event.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/fields/base-fields.yml
  packages/windows/data_stream/sysmon_operational/fields/beats.yml
  packages/windows/data_stream/sysmon_operational/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:Windows, Team:Security-External Integrations, enhancement

#1041 [F5] updating f5 ECS version and adding event.original options
  packages/f5/changelog.yml
  packages/f5/data_stream/bigipafm/_dev/test/pipeline/test-common-config.yml
  packages/f5/data_stream/bigipafm/_dev/test/pipeline/test-generated.log
  packages/f5/data_stream/bigipafm/_dev/test/pipeline/test-generated.log-expected.json
  packages/f5/data_stream/bigipafm/agent/stream/stream.yml.hbs
  packages/f5/data_stream/bigipafm/agent/stream/tcp.yml.hbs
  packages/f5/data_stream/bigipafm/agent/stream/udp.yml.hbs
  packages/f5/data_stream/bigipafm/elasticsearch/ingest_pipeline/default.yml
  packages/f5/data_stream/bigipafm/fields/ecs.yml
  packages/f5/data_stream/bigipafm/manifest.yml
  packages/f5/data_stream/bigipapm/_dev/test/pipeline/test-common-config.yml
  packages/f5/data_stream/bigipapm/_dev/test/pipeline/test-generated.log
  packages/f5/data_stream/bigipapm/_dev/test/pipeline/test-generated.log-expected.json
  packages/f5/data_stream/bigipapm/agent/stream/stream.yml.hbs
  packages/f5/data_stream/bigipapm/agent/stream/tcp.yml.hbs
  packages/f5/data_stream/bigipapm/agent/stream/udp.yml.hbs
  packages/f5/data_stream/bigipapm/elasticsearch/ingest_pipeline/default.yml
  packages/f5/data_stream/bigipapm/fields/ecs.yml
  packages/f5/data_stream/bigipapm/manifest.yml
  packages/f5/manifest.yml
Labels: 7.14 Candidate, Integrations:f5, Team:Security-External Integrations, enhancement

#1045 [GCP] updating GCP ECS version and adding event.original
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-config.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/gcp/data_stream/audit/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/ecs.yml
  packages/gcp/data_stream/audit/manifest.yml
  packages/gcp/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/gcp/data_stream/firewall/_dev/test/pipeline/test-firewall.log-config.yml
  packages/gcp/data_stream/firewall/_dev/test/pipeline/test-firewall.log-expected.json
  packages/gcp/data_stream/firewall/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/firewall/manifest.yml
  packages/gcp/data_stream/vpcflow/_dev/test/pipeline/test-common-config.yml
  packages/gcp/data_stream/vpcflow/_dev/test/pipeline/test-vpcflow.log-config.yml
  packages/gcp/data_stream/vpcflow/_dev/test/pipeline/test-vpcflow.log-expected.json
  packages/gcp/data_stream/vpcflow/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/vpcflow/manifest.yml
  packages/gcp/docs/README.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Integrations, Team:Security-External Integrations, enhancement

#1055 [Imperva] update imperva ECS version and add event.original options
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/_dev/test/pipeline/test-common-config.yml
  packages/imperva/data_stream/securesphere/_dev/test/pipeline/test-generated.log
  packages/imperva/data_stream/securesphere/_dev/test/pipeline/test-generated.log-expected.json
  packages/imperva/data_stream/securesphere/agent/stream/stream.yml.hbs
  packages/imperva/data_stream/securesphere/agent/stream/tcp.yml.hbs
  packages/imperva/data_stream/securesphere/agent/stream/udp.yml.hbs
  packages/imperva/data_stream/securesphere/elasticsearch/ingest_pipeline/default.yml
  packages/imperva/data_stream/securesphere/manifest.yml
  packages/imperva/manifest.yml
Labels: 7.14 Candidate, Integration:imperva, Team:Security-External Integrations, enhancement

#1097 [RabbitMQ] updating rabbitmq ECS version and adding event.original options
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/rabbitmq/data_stream/log/_dev/test/pipeline/test-rabbitmq.log
  packages/rabbitmq/data_stream/log/_dev/test/pipeline/test-rabbitmq.log-expected.json
  packages/rabbitmq/data_stream/log/agent/stream/log.yml.hbs
  packages/rabbitmq/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/rabbitmq/data_stream/log/fields/ecs.yml
  packages/rabbitmq/data_stream/log/manifest.yml
  packages/rabbitmq/docs/README.md
  packages/rabbitmq/manifest.yml
Labels: 7.14 Candidate, Integration:RabbitMQ, Team:Integrations, enhancement

#1061 [Nats] update nats ECS version and add event.original options
  packages/nats/changelog.yml
  packages/nats/data_stream/log/_dev/test/pipeline/test-log-sample.log-config.yml
  packages/nats/data_stream/log/_dev/test/pipeline/test-log-sample.log-expected.json
  packages/nats/data_stream/log/agent/stream/log.yml.hbs
  packages/nats/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/nats/data_stream/log/fields/ecs.yml
  packages/nats/data_stream/log/manifest.yml
  packages/nats/docs/README.md
  packages/nats/manifest.yml
Labels: Integration:Nats, Team:Integrations, Team:Security-External Integrations, enhancement

#1060 [MongoDB] update mongodb ECS version and add event.original options
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-debian.log
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-debian.log-expected.json
  packages/mongodb/data_stream/log/agent/stream/log.yml.hbs
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb/data_stream/log/fields/ecs.yml
  packages/mongodb/data_stream/log/manifest.yml
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: 7.14 Candidate, Integration:MongoDB, Team:Integrations, enhancement

#1033 [Checkpoint] updating checkpoint package to ECS 1.10.0
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-config.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-config.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/checkpoint/data_stream/firewall/agent/stream/log.yml.hbs
  packages/checkpoint/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/checkpoint/data_stream/firewall/agent/stream/udp.yml.hbs
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/data_stream/firewall/manifest.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: 7.14 Candidate, Team:Security-External Integrations, enhancement

#1079 Add support for CloudTrail Digest and Insight Logs
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1104 [Stan] update stan ECS version and adding event.original options
  packages/stan/changelog.yml
  packages/stan/data_stream/log/_dev/test/pipeline/test-log-sample.log-config.yml
  packages/stan/data_stream/log/_dev/test/pipeline/test-log-sample.log-expected.json
  packages/stan/data_stream/log/agent/stream/log.yml.hbs
  packages/stan/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/stan/data_stream/log/fields/ecs.yml
  packages/stan/data_stream/log/manifest.yml
  packages/stan/docs/README.md
  packages/stan/manifest.yml
Labels: 7.14 Candidate, Integration:Stan, Team:Integrations, Team:Security-External Integrations, enhancement

#1107 [Traefik] update traefik ECS version and adding event.original options
  packages/traefik/changelog.yml
  packages/traefik/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-common.log-expected.json
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-json.log-config.yml
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-json.log-expected.json
  packages/traefik/data_stream/access/agent/stream/log.yml.hbs
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/format-common.yml
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/format-json.yml
  packages/traefik/data_stream/access/fields/ecs.yml
  packages/traefik/data_stream/access/manifest.yml
  packages/traefik/docs/README.md
  packages/traefik/manifest.yml
Labels: 7.14 Candidate, Integration:Traefik, Team:Integrations, enhancement

#1095 [PSQL] updating postgresql ECS version and adding event.original options
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-default.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-min-duration-statement.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-min-duration-statement.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-4.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-4.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-autovacuum-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-autovacuum-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-connection-disconnection-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-connection-disconnection-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-duration-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-duration-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-ipv6-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-ipv6-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-multi-line-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-multi-line-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-parse-bind-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-parse-bind-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-start-stop-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-start-stop-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-tempfile-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-tempfile-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-default.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-default.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-min-duration-statement.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-min-duration-statement.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-error-code-csv.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-error-code-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-debian-with-slowlog.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-debian-with-slowlog.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-multi-core.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-multi-core.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-new-timestamp.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-new-timestamp.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-query-steps-slowlog.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-query-steps-slowlog.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-ubuntu-9-5.log-config.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-ubuntu-9-5.log-expected.json
  packages/postgresql/data_stream/log/agent/stream/log.yml.hbs
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/pipeline-csv.yml
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/pipeline-log.yml
  packages/postgresql/data_stream/log/fields/ecs.yml
  packages/postgresql/data_stream/log/manifest.yml
  packages/postgresql/docs/README.md
  packages/postgresql/manifest.yml
Labels: 7.14 Candidate, Integration:PostgreSQL, Team:Integrations, enhancement

#1116 [Kafka] update kafka ECS version and adding event.original option
  packages/kafka/changelog.yml
  packages/kafka/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/kafka/data_stream/log/_dev/test/pipeline/test-controller-2-0-0.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-controller-2-0-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-controller.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-controller.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-server-2-0-0.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-server-2-0-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-server.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-server.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-1-1-0.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-1-1-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-2-0-0.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-2-0-0.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-2-2-2.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change-2-2-2.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-state-change.log-expected.json
  packages/kafka/data_stream/log/agent/stream/log.yml.hbs
  packages/kafka/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/kafka/data_stream/log/fields/ecs.yml
  packages/kafka/data_stream/log/fields/fields.yml
  packages/kafka/data_stream/log/manifest.yml
  packages/kafka/docs/README.md
  packages/kafka/manifest.yml
Labels: 7.14 Candidate, Integration:Kafka, Team:Integrations, enhancement

#1035 [Cisco] updating cisco package to ECS 1.10.0 and adding event.original
  packages/cisco/changelog.yml
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-additional-messages.log
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-dap-records.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-hostnames.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-sample.log
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco/data_stream/asa/agent/stream/stream.yml.hbs
  packages/cisco/data_stream/asa/agent/stream/udp.yml.hbs
  packages/cisco/data_stream/asa/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/asa/fields/ecs.yml
  packages/cisco/data_stream/asa/fields/fields.yml
  packages/cisco/data_stream/asa/manifest.yml
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco/data_stream/ftd/agent/stream/stream.yml.hbs
  packages/cisco/data_stream/ftd/agent/stream/udp.yml.hbs
  packages/cisco/data_stream/ftd/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/ftd/fields/ecs.yml
  packages/cisco/data_stream/ftd/fields/fields.yml
  packages/cisco/data_stream/ftd/manifest.yml
  packages/cisco/data_stream/ios/_dev/test/pipeline/test-cisco-ios.log
  packages/cisco/data_stream/ios/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco/data_stream/ios/agent/stream/stream.yml.hbs
  packages/cisco/data_stream/ios/agent/stream/udp.yml.hbs
  packages/cisco/data_stream/ios/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/ios/manifest.yml
  packages/cisco/data_stream/meraki/_dev/test/pipeline/test-generated.log
  packages/cisco/data_stream/meraki/_dev/test/pipeline/test-generated.log-config.yml
  packages/cisco/data_stream/meraki/_dev/test/pipeline/test-generated.log-expected.json
  packages/cisco/data_stream/meraki/agent/stream/stream.yml.hbs
  packages/cisco/data_stream/meraki/agent/stream/tcp.yml.hbs
  packages/cisco/data_stream/meraki/agent/stream/udp.yml.hbs
  packages/cisco/data_stream/meraki/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/meraki/manifest.yml
  packages/cisco/data_stream/nexus/agent/stream/stream.yml.hbs
  packages/cisco/data_stream/nexus/agent/stream/tcp.yml.hbs
  packages/cisco/data_stream/nexus/agent/stream/udp.yml.hbs
  packages/cisco/data_stream/nexus/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/nexus/manifest.yml
  packages/cisco/docs/README.md
  packages/cisco/manifest.yml
Labels: 7.14 Candidate, Integration:Cisco, Team:Security-External Integrations, enhancement

#1036 [Crowdstrike] updating crowdstrike to ECS 1.10.0 and add event.original option
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-audit-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-config.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-config.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/agent/stream/log.yml.hbs
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: 7.14 Candidate, Integration:Crowdstrike, Team:Security-External Integrations, enhancement

#1068 [Apache] Adding planned changes for 7.14 packages
  packages/apache/changelog.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-darwin.log-config.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-darwin.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ssl-request.log-config.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ssl-request.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ubuntu.log-config.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ubuntu.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-vhost.log-config.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-vhost.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/apache/data_stream/access/agent/stream/httpjson.yml.hbs
  packages/apache/data_stream/access/agent/stream/log.yml.hbs
  packages/apache/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/access/fields/ecs.yml
  packages/apache/data_stream/access/manifest.yml
  packages/apache/data_stream/error/_dev/test/pipeline/test-common-config.yml
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-basic.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-darwin.log-config.yml
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-darwin.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-ubuntu.log-config.yml
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-ubuntu.log-expected.json
  packages/apache/data_stream/error/agent/stream/httpjson.yml.hbs
  packages/apache/data_stream/error/agent/stream/log.yml.hbs
  packages/apache/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/error/fields/ecs.yml
  packages/apache/data_stream/error/manifest.yml
  packages/apache/data_stream/status/fields/ecs.yml
  packages/apache/docs/README.md
  packages/apache/manifest.yml
Labels: 7.14 Candidate, Integration:Apache, Team:Integrations, Team:Security-External Integrations, enhancement

#1056 [Infoblox] update infoblox ECS version and add event.original options
  packages/infoblox/changelog.yml
  packages/infoblox/data_stream/nios/_dev/test/pipeline/test-common-config.yml
  packages/infoblox/data_stream/nios/_dev/test/pipeline/test-generated.log
  packages/infoblox/data_stream/nios/_dev/test/pipeline/test-generated.log-expected.json
  packages/infoblox/data_stream/nios/agent/stream/stream.yml.hbs
  packages/infoblox/data_stream/nios/agent/stream/tcp.yml.hbs
  packages/infoblox/data_stream/nios/agent/stream/udp.yml.hbs
  packages/infoblox/data_stream/nios/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox/data_stream/nios/manifest.yml
  packages/infoblox/manifest.yml
Labels: 7.14 Candidate, Integration:Infoblox, Team:Security-External Integrations, enhancement

#1054 [IIS] update iis ECS version and add event.original options
  packages/iis/changelog.yml
  packages/iis/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access-72.log-config.yml
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access-72.log-expected.json
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access-75.log-config.yml
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access-75.log-expected.json
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access.log-config.yml
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access.log-expected.json
  packages/iis/data_stream/access/_dev/test/pipeline/test-ipv6zone.log-config.yml
  packages/iis/data_stream/access/_dev/test/pipeline/test-ipv6zone.log-expected.json
  packages/iis/data_stream/access/_dev/test/pipeline/test-x-forward-for-extended.log
  packages/iis/data_stream/access/_dev/test/pipeline/test-x-forward-for-extended.log-expected.json
  packages/iis/data_stream/access/_dev/test/pipeline/test-x-forward-for.log
  packages/iis/data_stream/access/_dev/test/pipeline/test-x-forward-for.log-expected.json
  packages/iis/data_stream/access/agent/stream/log.yml.hbs
  packages/iis/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/iis/data_stream/access/fields/ecs.yml
  packages/iis/data_stream/access/manifest.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-common-config.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-iis-error-72.log-config.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-iis-error-72.log-expected.json
  packages/iis/data_stream/error/_dev/test/pipeline/test-iis-error.log-config.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-iis-error.log-expected.json
  packages/iis/data_stream/error/_dev/test/pipeline/test-ipv6-zone-id.log-config.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-ipv6-zone-id.log-expected.json
  packages/iis/data_stream/error/agent/stream/log.yml.hbs
  packages/iis/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/iis/data_stream/error/fields/ecs.yml
  packages/iis/data_stream/error/manifest.yml
  packages/iis/docs/README.md
  packages/iis/manifest.yml
Labels: 7.14 Candidate, Integration:IIS, Team:Integrations, Team:Security-External Integrations, enhancement

#1042 [Barracuda] Update barracuda to ECS 1.10.0 and add event.original options
  packages/barracuda/changelog.yml
  packages/barracuda/data_stream/spamfirewall/_dev/test/pipeline/test-common-config.yml
  packages/barracuda/data_stream/spamfirewall/_dev/test/pipeline/test-generated.log
  packages/barracuda/data_stream/spamfirewall/_dev/test/pipeline/test-generated.log-expected.json
  packages/barracuda/data_stream/spamfirewall/agent/stream/stream.yml.hbs
  packages/barracuda/data_stream/spamfirewall/agent/stream/tcp.yml.hbs
  packages/barracuda/data_stream/spamfirewall/agent/stream/udp.yml.hbs
  packages/barracuda/data_stream/spamfirewall/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda/data_stream/spamfirewall/manifest.yml
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-common-config.yml
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-generated.log
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-generated.log-expected.json
  packages/barracuda/data_stream/waf/agent/stream/stream.yml.hbs
  packages/barracuda/data_stream/waf/agent/stream/tcp.yml.hbs
  packages/barracuda/data_stream/waf/agent/stream/udp.yml.hbs
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda/data_stream/waf/manifest.yml
  packages/barracuda/manifest.yml
Labels: 7.14 Candidate, Integration:Barracuda, Team:Security-External Integrations, enhancement

#1031 [Auditd] updating auditd package to ECS 1.10
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log-config.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log-expected.json
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-useradd.log-config.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-useradd.log-expected.json
  packages/auditd/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/auditd/data_stream/log/agent/stream/log.yml.hbs
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/data_stream/log/fields/ecs.yml
  packages/auditd/data_stream/log/manifest.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
Labels: 7.14 Candidate, Team:Security-External Integrations

#1117 [O365] updating o365 ECS version and adding event.original options
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-sts-logon.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-insights-api.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-insights-api.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-exchange.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-exchange.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-sharepoint.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-sharepoint.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-admin.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-admin.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-item.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-item.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ip-formats.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ip-formats.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ms-teams.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ms-teams.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepoint.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepoint.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op.log-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-yammer.log-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-yammer.log-expected.json
  packages/o365/data_stream/audit/agent/stream/log.yml.hbs
  packages/o365/data_stream/audit/agent/stream/o365audit.yml.hbs
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: 7.14 Candidate, Integration:o365, Team:Security-External Integrations, enhancement

#1067 [Okta] update okta ECS version
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/manifest.yml
  packages/okta/manifest.yml
Labels: 7.14 Candidate, Integration:Okta, Team:Security-External Integrations, enhancement

#1106 [Tomcat] update tomcat ECS version and add event.original options
  packages/tomcat/changelog.yml
  packages/tomcat/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/tomcat/data_stream/log/_dev/test/pipeline/test-generated.log
  packages/tomcat/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/tomcat/data_stream/log/agent/stream/stream.yml.hbs
  packages/tomcat/data_stream/log/agent/stream/tcp.yml.hbs
  packages/tomcat/data_stream/log/agent/stream/udp.yml.hbs
  packages/tomcat/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/tomcat/data_stream/log/manifest.yml
  packages/tomcat/manifest.yml
Labels: 7.14 Candidate, Integration:Tomcat, Team:Security-External Integrations, enhancement

#1105 [Suricata] update suricata ECS version and adding event.original options
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-common-config.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-6-0.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-config.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-dns-4-1-4.log-config.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-dns-4-1-4.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-config.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-expected.json
  packages/suricata/data_stream/eve/agent/stream/log.yml.hbs
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml
  packages/suricata/data_stream/eve/manifest.yml
  packages/suricata/manifest.yml
Labels: 7.14 Candidate, Integration:Suricata, Team:Security-External Integrations, enhancement

#1103 [Squid] updating squid ECS version and adding event.original options
  packages/squid/changelog.yml
  packages/squid/data_stream/log/_dev/test/pipeline/test-access1.log
  packages/squid/data_stream/log/_dev/test/pipeline/test-access1.log-expected.json
  packages/squid/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/squid/data_stream/log/_dev/test/pipeline/test-generated.log
  packages/squid/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/squid/data_stream/log/agent/stream/stream.yml.hbs
  packages/squid/data_stream/log/agent/stream/tcp.yml.hbs
  packages/squid/data_stream/log/agent/stream/udp.yml.hbs
  packages/squid/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/squid/data_stream/log/manifest.yml
  packages/squid/manifest.yml
Labels: 7.14 Candidate, Integration:Squid, Team:Security-External Integrations, enhancement

#1101 [Sonicwall] update sonicwall ECS version and adding event.original options
  packages/sonicwall/changelog.yml
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-general.log
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-general.log-expected.json
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-generated.log
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-generated.log-expected.json
  packages/sonicwall/data_stream/firewall/agent/stream/stream.yml.hbs
  packages/sonicwall/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/sonicwall/data_stream/firewall/agent/stream/udp.yml.hbs
  packages/sonicwall/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall/data_stream/firewall/manifest.yml
  packages/sonicwall/manifest.yml
Labels: 7.14 Candidate, Team:Security-External Integrations, enhancement, integration:Sonicwall

#1100 [Santa] update santa ECS version and adding event.original options
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-config.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-expected.json
  packages/santa/data_stream/log/agent/stream/log.yml.hbs
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/data_stream/log/fields/ecs.yml
  packages/santa/data_stream/log/manifest.yml
  packages/santa/docs/README.md
  packages/santa/manifest.yml
Labels: 7.14 Candidate, Integration:Santa, Team:Security-External Integrations, enhancement

#1098 [Radware] update radware ECS version and adding event.original options
  packages/radware/changelog.yml
  packages/radware/data_stream/defensepro/agent/stream/stream.yml.hbs
  packages/radware/data_stream/defensepro/agent/stream/tcp.yml.hbs
  packages/radware/data_stream/defensepro/agent/stream/udp.yml.hbs
  packages/radware/data_stream/defensepro/elasticsearch/ingest_pipeline/default.yml
  packages/radware/data_stream/defensepro/manifest.yml
  packages/radware/manifest.yml
Labels: 7.14 Candidate, Integration:Radware, Team:Security-External Integrations, enhancement

#1096 [Proofpoint] upgrade proofpoint ECS version and add event.original options
  packages/proofpoint/changelog.yml
  packages/proofpoint/data_stream/emailsecurity/_dev/test/pipeline/test-common-config.yml
  packages/proofpoint/data_stream/emailsecurity/_dev/test/pipeline/test-generated.log
  packages/proofpoint/data_stream/emailsecurity/_dev/test/pipeline/test-generated.log-expected.json
  packages/proofpoint/data_stream/emailsecurity/agent/stream/stream.yml.hbs
  packages/proofpoint/data_stream/emailsecurity/agent/stream/tcp.yml.hbs
  packages/proofpoint/data_stream/emailsecurity/agent/stream/udp.yml.hbs
  packages/proofpoint/data_stream/emailsecurity/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint/data_stream/emailsecurity/manifest.yml
  packages/proofpoint/manifest.yml
Labels: 7.14 Candidate, Integration:Proofpoint, Team:Security-External Integrations, enhancement

#1112 [Zscaler] update Zscaler ECS version and adding event.original options
  packages/zscaler/changelog.yml
  packages/zscaler/data_stream/zia/_dev/test/pipeline/test-common-config.yml
  packages/zscaler/data_stream/zia/_dev/test/pipeline/test-generated.log
  packages/zscaler/data_stream/zia/_dev/test/pipeline/test-generated.log-expected.json
  packages/zscaler/data_stream/zia/_dev/test/pipeline/test-zscaler.log
  packages/zscaler/data_stream/zia/_dev/test/pipeline/test-zscaler.log-expected.json
  packages/zscaler/data_stream/zia/agent/stream/stream.yml.hbs
  packages/zscaler/data_stream/zia/agent/stream/tcp.yml.hbs
  packages/zscaler/data_stream/zia/agent/stream/udp.yml.hbs
  packages/zscaler/data_stream/zia/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler/data_stream/zia/manifest.yml
  packages/zscaler/manifest.yml
Labels: 7.14 Candidate, Integration:Zscaler, Team:Security-External Integrations, enhancement

#1072 [Bluecoat] updating bluecoat ECS version and adding event.original options
  packages/bluecoat/changelog.yml
  packages/bluecoat/data_stream/director/_dev/test/pipeline/test-common-config.yml
  packages/bluecoat/data_stream/director/_dev/test/pipeline/test-generated.log
  packages/bluecoat/data_stream/director/_dev/test/pipeline/test-generated.log-expected.json
  packages/bluecoat/data_stream/director/agent/stream/stream.yml.hbs
  packages/bluecoat/data_stream/director/agent/stream/tcp.yml.hbs
  packages/bluecoat/data_stream/director/agent/stream/udp.yml.hbs
  packages/bluecoat/data_stream/director/elasticsearch/ingest_pipeline/default.yml
  packages/bluecoat/data_stream/director/manifest.yml
  packages/bluecoat/manifest.yml
Labels: 7.14 Candidate, Integration:Bluecoat, Team:Security-External Integrations, enhancement

#1092 [Fortinet] updating fortinet ecs version and adding event.original options
  packages/fortinet/changelog.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/pipeline/test-common-config.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/pipeline/test-generated.log
  packages/fortinet/data_stream/clientendpoint/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/clientendpoint/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/clientendpoint/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/clientendpoint/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/clientendpoint/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/clientendpoint/manifest.yml
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-fortinet.log
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet/data_stream/firewall/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/firewall/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet/data_stream/firewall/manifest.yml
  packages/fortinet/data_stream/fortimail/_dev/test/pipeline/test-common-config.yml
  packages/fortinet/data_stream/fortimail/_dev/test/pipeline/test-generated.log
  packages/fortinet/data_stream/fortimail/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/fortimail/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/fortimail/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/fortimail/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/fortimail/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/fortimail/manifest.yml
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-common-config.yml
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-generated.log
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/fortimanager/agent/stream/log.yml.hbs
  packages/fortinet/data_stream/fortimanager/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/fortimanager/agent/stream/udp.yml.hbs
  packages/fortinet/data_stream/fortimanager/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/fortimanager/fields/ecs.yml
  packages/fortinet/data_stream/fortimanager/manifest.yml
  packages/fortinet/docs/README.md
  packages/fortinet/manifest.yml
Labels: 7.14 Candidate, Integrations:Fortinet, Team:Security-External Integrations, enhancement

#1102 [Sophos] update sophos ECS version and adding event.original options
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-common-config.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-generated.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-generated.log-expected.json
  packages/sophos/data_stream/utm/agent/stream/stream.yml.hbs
  packages/sophos/data_stream/utm/agent/stream/tcp.yml.hbs
  packages/sophos/data_stream/utm/agent/stream/udp.yml.hbs
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/utm/manifest.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-config.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/agent/stream/log.yml.hbs
  packages/sophos/data_stream/xg/agent/stream/tcp.yml.hbs
  packages/sophos/data_stream/xg/agent/stream/udp.yml.hbs
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/manifest.yml
  packages/sophos/manifest.yml
Labels: 7.14 Candidate, Integration:Sophos, Team:Security-External Integrations, enhancement

#1093 [Panw] update panw ECS version and adding event.original options
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-common-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/agent/stream/logfile.yml.hbs
  packages/panw/data_stream/panos/agent/stream/syslog.yml.hbs
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/manifest.yml
  packages/panw/manifest.yml
Labels: 7.14 Candidate, Integration:PANW, Team:Security-External Integrations, enhancement

#1063 [Netscout] update netscout ECS version and add event.original options
  packages/netscout/changelog.yml
  packages/netscout/data_stream/sightline/_dev/test/pipeline/test-common-config.yml
  packages/netscout/data_stream/sightline/_dev/test/pipeline/test-generated.log
  packages/netscout/data_stream/sightline/_dev/test/pipeline/test-generated.log-expected.json
  packages/netscout/data_stream/sightline/agent/stream/stream.yml.hbs
  packages/netscout/data_stream/sightline/agent/stream/tcp.yml.hbs
  packages/netscout/data_stream/sightline/agent/stream/udp.yml.hbs
  packages/netscout/data_stream/sightline/elasticsearch/ingest_pipeline/default.yml
  packages/netscout/data_stream/sightline/manifest.yml
  packages/netscout/manifest.yml
Labels: 7.14 Candidate, Integration:Netscout, Team:Security-External Integrations, enhancement

#1058 [Juniper] update juniper ECS version and add event.original options
  packages/juniper/changelog.yml
  packages/juniper/data_stream/junos/_dev/test/pipeline/test-common-config.yml
  packages/juniper/data_stream/junos/_dev/test/pipeline/test-generated.log
  packages/juniper/data_stream/junos/_dev/test/pipeline/test-generated.log-expected.json
  packages/juniper/data_stream/junos/agent/stream/stream.yml.hbs
  packages/juniper/data_stream/junos/agent/stream/tcp.yml.hbs
  packages/juniper/data_stream/junos/agent/stream/udp.yml.hbs
  packages/juniper/data_stream/junos/elasticsearch/ingest_pipeline/default.yml
  packages/juniper/data_stream/junos/manifest.yml
  packages/juniper/data_stream/netscreen/_dev/test/pipeline/test-common-config.yml
  packages/juniper/data_stream/netscreen/_dev/test/pipeline/test-generated.log
  packages/juniper/data_stream/netscreen/_dev/test/pipeline/test-generated.log-expected.json
  packages/juniper/data_stream/netscreen/agent/stream/logfile.yml.hbs
  packages/juniper/data_stream/netscreen/agent/stream/tcp.yml.hbs
  packages/juniper/data_stream/netscreen/agent/stream/udp.yml.hbs
  packages/juniper/data_stream/netscreen/elasticsearch/ingest_pipeline/default.yml
  packages/juniper/data_stream/netscreen/manifest.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-atp.log-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-atp.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-common-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-flow.log-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-flow.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-idp.log-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-idp.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-ids.log-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-ids.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-secintel.log-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-secintel.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-utm.log-config.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-utm.log-expected.json
  packages/juniper/data_stream/srx/agent/stream/logfile.yml.hbs
  packages/juniper/data_stream/srx/agent/stream/tcp.yml.hbs
  packages/juniper/data_stream/srx/agent/stream/udp.yml.hbs
  packages/juniper/data_stream/srx/elasticsearch/ingest_pipeline/default.yml
  packages/juniper/data_stream/srx/manifest.yml
  packages/juniper/manifest.yml
Labels: 7.14 Candidate, Integration:Juniper, Team:Security-External Integrations, enhancement

#1040 [Cylance] updating cylance package to ECS 1.10.0 and add event.origina options
  packages/cylance/changelog.yml
  packages/cylance/data_stream/protect/_dev/test/pipeline/test-common-config.yml
  packages/cylance/data_stream/protect/_dev/test/pipeline/test-generated.log
  packages/cylance/data_stream/protect/_dev/test/pipeline/test-generated.log-expected.json
  packages/cylance/data_stream/protect/agent/stream/stream.yml.hbs
  packages/cylance/data_stream/protect/agent/stream/tcp.yml.hbs
  packages/cylance/data_stream/protect/agent/stream/udp.yml.hbs
  packages/cylance/data_stream/protect/elasticsearch/ingest_pipeline/default.yml
  packages/cylance/data_stream/protect/manifest.yml
  packages/cylance/manifest.yml
Labels: 7.14 Candidate, Integration:Cylance, Team:Security-External Integrations, enhancement

#1066 [Nginx_Ingress_controller] update ECS version and add event.original options
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/access/_dev/test/pipeline/test-ingest-raw.log-config.yml
  packages/nginx_ingress_controller/data_stream/access/_dev/test/pipeline/test-ingest-raw.log-expected.json
  packages/nginx_ingress_controller/data_stream/access/agent/stream/stream.yml.hbs
  packages/nginx_ingress_controller/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/nginx_ingress_controller/data_stream/access/fields/ecs.yml
  packages/nginx_ingress_controller/data_stream/access/manifest.yml
  packages/nginx_ingress_controller/data_stream/error/_dev/test/pipeline/test-error-raw.log-config.yml
  packages/nginx_ingress_controller/data_stream/error/_dev/test/pipeline/test-error-raw.log-expected.json
  packages/nginx_ingress_controller/data_stream/error/agent/stream/stream.yml.hbs
  packages/nginx_ingress_controller/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/nginx_ingress_controller/data_stream/error/fields/ecs.yml
  packages/nginx_ingress_controller/data_stream/error/manifest.yml
  packages/nginx_ingress_controller/docs/README.md
  packages/nginx_ingress_controller/manifest.yml
Labels: 7.14 Candidate, Integration:NGINX-Ingress-Controller, Team:Integrations, enhancement

#1048 [HAProxy] updating haproxy ECS version and adding event.original options
  packages/haproxy/_dev/deploy/docker/docker-compose.yml
  packages/haproxy/_dev/deploy/docker/sample_logs/haproxy.log
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-default.log
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-default.log-expected.json
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-haproxy.log
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-haproxy.log-expected.json
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-httplog-no-headers.log
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-httplog-no-headers.log-expected.json
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-tcplog.log
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-tcplog.log-expected.json
  packages/haproxy/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/haproxy/data_stream/log/agent/stream/log.yml.hbs
  packages/haproxy/data_stream/log/agent/stream/syslog.yml.hbs
  packages/haproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/haproxy/data_stream/log/fields/base-fields.yml
  packages/haproxy/data_stream/log/fields/ecs.yml
  packages/haproxy/data_stream/log/manifest.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: 7.14 Candidate, Integration:HAProxy, Team:Integrations, enhancement

#1130 [google_workspace] Add httpjson system tests and remove log input
  packages/google_workspace/_dev/deploy/docker/config.yml
  packages/google_workspace/_dev/deploy/docker/credentials.json
  packages/google_workspace/_dev/deploy/docker/docker-compose.yml
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-application-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-calendar-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-chat-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-chromeos-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-contacts-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-delegatedadmin-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-docs-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-domain-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-gmail-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-groups-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-licenses-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-mobile-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-org-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-security-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-sites-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/admin-user-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/drive-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/groups-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/login-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/saml-test.json.log
  packages/google_workspace/_dev/deploy/docker/sample_logs/user_accounts-test.json.log
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/admin/agent/stream/log.yml.hbs
  packages/google_workspace/data_stream/admin/manifest.yml
  packages/google_workspace/data_stream/admin/sample_event.json
  packages/google_workspace/data_stream/drive/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/drive/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/drive/agent/stream/log.yml.hbs
  packages/google_workspace/data_stream/drive/manifest.yml
  packages/google_workspace/data_stream/drive/sample_event.json
  packages/google_workspace/data_stream/groups/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/groups/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/groups/agent/stream/log.yml.hbs
  packages/google_workspace/data_stream/groups/manifest.yml
  packages/google_workspace/data_stream/groups/sample_event.json
  packages/google_workspace/data_stream/login/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/login/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/login/agent/stream/log.yml.hbs
  packages/google_workspace/data_stream/login/manifest.yml
  packages/google_workspace/data_stream/login/sample_event.json
  packages/google_workspace/data_stream/saml/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/saml/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/saml/agent/stream/log.yml.hbs
  packages/google_workspace/data_stream/saml/manifest.yml
  packages/google_workspace/data_stream/saml/sample_event.json
  packages/google_workspace/data_stream/user_accounts/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/user_accounts/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/user_accounts/agent/stream/log.yml.hbs
  packages/google_workspace/data_stream/user_accounts/manifest.yml
  packages/google_workspace/data_stream/user_accounts/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: Integration:Google Workspace, Team:Security-External Integrations, enhancement

#1062 [netflow] update netflow ECS version
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json-expected.json
  packages/netflow/data_stream/log/agent/stream/netflow.yml.hbs
  packages/netflow/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/netflow/data_stream/log/manifest.yml
  packages/netflow/manifest.yml
Labels: 7.14 Candidate, Integration:Netflow, Team:Security-External Integrations, enhancement

#1136 [o365] making sure pipeline does not fail if Parameters is a string value
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-sts-logon-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-insights-api-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-exchange-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-sharepoint-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-admin-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-item-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ip-formats-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ms-teams-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-parameter-string.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-parameter-string.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepoint-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-yammer-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: 7.14-candidate, Integration:o365, Team:Security-External Integrations

#1139 [osquery] Make event.original optional, bump ECS version and add custom processors
  packages/osquery/changelog.yml
  packages/osquery/data_stream/result/_dev/test/pipeline/test-osquery-event.json
  packages/osquery/data_stream/result/_dev/test/pipeline/test-osquery-event.json-config.yml
  packages/osquery/data_stream/result/_dev/test/pipeline/test-osquery.log
  packages/osquery/data_stream/result/_dev/test/pipeline/test-osquery.log-config.yml
  packages/osquery/data_stream/result/agent/stream/log.yml.hbs
  packages/osquery/data_stream/result/elasticsearch/ingest_pipeline/default.yml
  packages/osquery/data_stream/result/fields/base-fields.yml
  packages/osquery/data_stream/result/manifest.yml
  packages/osquery/data_stream/result/sample_event.json
  packages/osquery/docs/README.md
  packages/osquery/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1138 Add support for json logs in mongodb integration
  packages/mongodb/_dev/build/docs/README.md
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-debian.log-expected.json
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-ubuntu-4-4-4.log
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-ubuntu-4-4-4.log-expected.json
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/pipeline-plaintext.yml
  packages/mongodb/data_stream/log/fields/fields.yml
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: Team:Integrations

#1160 Add mapping for kubernetes.statefulset.replicas.ready
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/state_statefulset/fields/fields.yml
  packages/kubernetes/docs/README.md
  packages/kubernetes/manifest.yml
Labels: Team:Integrations

#1153 Store structured attributes from MongoDB logs in JSON format
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-debian.log-expected.json
  packages/mongodb/data_stream/log/_dev/test/pipeline/test-mongodb-ubuntu-4-4-4.log-expected.json
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/mongodb/data_stream/log/fields/fields.yml
  packages/mongodb/docs/README.md
Labels: Team:Integrations

#1177 [Security Rules] Release rules package 0.13.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#1161 [windows] Use wildcard field type
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/ecs.yml
  packages/windows/data_stream/powershell/fields/ecs.yml
  packages/windows/data_stream/powershell_operational/fields/ecs.yml
  packages/windows/data_stream/sysmon_operational/fields/ecs.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1162 [suricata] Use wildcard type
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/fields/ecs.yml
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1164 [zeek] Use wildcard type
  packages/zeek/changelog.yml
  packages/zeek/data_stream/http/fields/ecs.yml
  packages/zeek/data_stream/sip/fields/ecs.yml
  packages/zeek/docs/README.md
  packages/zeek/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1179 [netflow] Use wildcard type
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/fields/ecs.yml
  packages/netflow/docs/README.md
  packages/netflow/manifest.yml
Labels: Integration:Netflow, Team:Security-External Integrations, enhancement

#1180 [o365] Use wildcard type
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/ecs.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Integration:o365, Team:Security-External Integrations, enhancement

#1181 [cisco] Use wildcard type
  packages/cisco/changelog.yml
  packages/cisco/data_stream/asa/fields/ecs.yml
  packages/cisco/data_stream/ftd/fields/ecs.yml
  packages/cisco/data_stream/meraki/fields/ecs.yml
  packages/cisco/data_stream/nexus/fields/ecs.yml
  packages/cisco/docs/README.md
  packages/cisco/manifest.yml
Labels: Integration:Cisco, Team:Security-External Integrations, enhancement

#1182 [panw] Use wildcard type
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: Integration:PANW, Team:Security-External Integrations, enhancement

#1183 [fortinet] Use wildcard type
  packages/fortinet/changelog.yml
  packages/fortinet/data_stream/clientendpoint/fields/ecs.yml
  packages/fortinet/data_stream/firewall/fields/ecs.yml
  packages/fortinet/data_stream/fortimail/fields/ecs.yml
  packages/fortinet/data_stream/fortimanager/fields/ecs.yml
  packages/fortinet/docs/README.md
  packages/fortinet/manifest.yml
Labels: Integrations:Fortinet, Team:Security-External Integrations, enhancement

#1185 [system] Use wildcard type for security stream
  packages/system/changelog.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: Integration:System, Team:Security-External Integrations, enhancement

#1018 Introduce kubernetes package granularity
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/_dev/build/docs/events.md
  packages/kubernetes/_dev/build/docs/kube-apiserver.md
  packages/kubernetes/_dev/build/docs/kube-controller-manager.md
  packages/kubernetes/_dev/build/docs/kube-proxy.md
  packages/kubernetes/_dev/build/docs/kube-scheduler.md
  packages/kubernetes/_dev/build/docs/kube-state-metrics.md
  packages/kubernetes/_dev/build/docs/kubelet.md
  packages/kubernetes/changelog.yml
  packages/kubernetes/docs/README.md
  packages/kubernetes/docs/apiserver.md
  packages/kubernetes/docs/container.md
  packages/kubernetes/docs/controllermanager.md
  packages/kubernetes/docs/event.md
  packages/kubernetes/docs/events.md
  packages/kubernetes/docs/kube-apiserver.md
  packages/kubernetes/docs/kube-controller-manager.md
  packages/kubernetes/docs/kube-proxy.md
  packages/kubernetes/docs/kube-scheduler.md
  packages/kubernetes/docs/kube-state-metrics.md
  packages/kubernetes/docs/kubelet.md
  packages/kubernetes/docs/node.md
  packages/kubernetes/docs/pod.md
  packages/kubernetes/docs/proxy.md
  packages/kubernetes/docs/scheduler.md
  packages/kubernetes/docs/state_container.md
  packages/kubernetes/docs/state_cronjob.md
  packages/kubernetes/docs/state_daemonset.md
  packages/kubernetes/docs/state_deployment.md
  packages/kubernetes/docs/state_node.md
  packages/kubernetes/docs/state_persistentvolume.md
  packages/kubernetes/docs/state_persistentvolumeclaim.md
  packages/kubernetes/docs/state_pod.md
  packages/kubernetes/docs/state_replicaset.md
  packages/kubernetes/docs/state_resourcequota.md
  packages/kubernetes/docs/state_service.md
  packages/kubernetes/docs/state_statefulset.md
  packages/kubernetes/docs/state_storageclass.md
  packages/kubernetes/docs/system.md
  packages/kubernetes/docs/volume.md
  packages/kubernetes/manifest.yml
Labels: integration:Kubernetes

#1212 Update AWS ELB ingest pipeline
  packages/aws/changelog.yml
  packages/aws/data_stream/elb_logs/_dev/test/pipeline/test-alb.log-expected.json
  packages/aws/data_stream/elb_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/elb_logs/fields/ecs.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
Labels: Team:Integrations

#1229 [Nats] set event.module and event.dataset
  packages/nats/changelog.yml
  packages/nats/data_stream/connection/fields/base-fields.yml
  packages/nats/data_stream/connections/fields/base-fields.yml
  packages/nats/data_stream/log/fields/base-fields.yml
  packages/nats/data_stream/route/fields/base-fields.yml
  packages/nats/data_stream/routes/fields/base-fields.yml
  packages/nats/data_stream/stats/fields/base-fields.yml
  packages/nats/data_stream/subscriptions/fields/base-fields.yml
  packages/nats/docs/README.md
  packages/nats/manifest.yml
Labels: Team:Integrations

#1226 [Nginx Ingress Controller] Set event.module and event.dataset
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/access/fields/base-fields.yml
  packages/nginx_ingress_controller/data_stream/error/fields/base-fields.yml
  packages/nginx_ingress_controller/docs/README.md
  packages/nginx_ingress_controller/manifest.yml
Labels: Team:Integrations

#1230 [Apache] set event.module and event.dataset
  packages/apache/changelog.yml
  packages/apache/data_stream/access/fields/base-fields.yml
  packages/apache/data_stream/error/fields/base-fields.yml
  packages/apache/data_stream/status/fields/base-fields.yml
  packages/apache/docs/README.md
  packages/apache/manifest.yml
Labels: Team:Integrations

#1215 [auditd] Make auditd package GA with v1.0.0
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/fields/base-fields.yml
  packages/auditd/data_stream/log/manifest.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1222 [okta] Make okta package GA with v1.0.0
  packages/okta/changelog.yml
  packages/okta/data_stream/system/fields/base-fields.yml
  packages/okta/data_stream/system/manifest.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: Integration:Okta, Team:Security-External Integrations, enhancement

#1221 [panw] Make panw package GA with v1.0.0
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/fields/base-fields.yml
  packages/panw/data_stream/panos/manifest.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: Integration:PANW, Team:Security-External Integrations, enhancement

#1219 [o365] Make o365 package GA with v1.0.0
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/base-fields.yml
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Integration:o365, Team:Security-External Integrations, enhancement

#1216 [suricata] Make suricata package GA with v1.0.0
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/fields/base-fields.yml
  packages/suricata/data_stream/eve/manifest.yml
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: Integration:Suricata, Team:Security-External Integrations, enhancement

#1218 [netflow] Make netflow package GA with v1.0.0
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/fields/base-fields.yml
  packages/netflow/data_stream/log/fields/ecs.yml
  packages/netflow/data_stream/log/manifest.yml
  packages/netflow/docs/README.md
  packages/netflow/manifest.yml
Labels: Integration:Netflow, Team:Security-External Integrations, enhancement

#1214 [windows] Make windows package GA with v1.0.0
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/base-fields.yml
  packages/windows/data_stream/forwarded/fields/ecs.yml
  packages/windows/data_stream/forwarded/manifest.yml
  packages/windows/data_stream/perfmon/fields/base-fields.yml
  packages/windows/data_stream/perfmon/manifest.yml
  packages/windows/data_stream/powershell/fields/base-fields.yml
  packages/windows/data_stream/powershell/fields/ecs.yml
  packages/windows/data_stream/powershell/manifest.yml
  packages/windows/data_stream/powershell_operational/fields/base-fields.yml
  packages/windows/data_stream/powershell_operational/fields/ecs.yml
  packages/windows/data_stream/powershell_operational/manifest.yml
  packages/windows/data_stream/service/fields/base-fields.yml
  packages/windows/data_stream/service/manifest.yml
  packages/windows/data_stream/sysmon_operational/fields/base-fields.yml
  packages/windows/data_stream/sysmon_operational/fields/ecs.yml
  packages/windows/data_stream/sysmon_operational/manifest.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:Windows, Team:Security-External Integrations, enhancement

#1223 [fortinet] Make fortinet package GA with v1.0.0
  packages/fortinet/changelog.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/clientendpoint/fields/base-fields.yml
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/firewall/fields/base-fields.yml
  packages/fortinet/data_stream/firewall/manifest.yml
  packages/fortinet/data_stream/fortimail/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/fortimail/fields/base-fields.yml
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/fortimanager/fields/base-fields.yml
  packages/fortinet/docs/README.md
  packages/fortinet/manifest.yml
Labels: Integrations:Fortinet, Team:Security-External Integrations, enhancement

#1159 Remove unimplemented "Log Level" parameter from Cisco ASA/FTD
  packages/cisco/changelog.yml
  packages/cisco/data_stream/asa/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/asa/manifest.yml
  packages/cisco/data_stream/ftd/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/ftd/manifest.yml
  packages/cisco/manifest.yml
Labels: Integration:Cisco, Team:Security-External Integrations, bug

#1211 Try out constant_keyword value fields in system log integrations
  packages/system/changelog.yml
  packages/system/data_stream/application/fields/base-fields.yml
  packages/system/data_stream/auth/fields/base-fields.yml
  packages/system/data_stream/core/fields/base-fields.yml
  packages/system/data_stream/cpu/fields/base-fields.yml
  packages/system/data_stream/diskio/fields/base-fields.yml
  packages/system/data_stream/filesystem/fields/base-fields.yml
  packages/system/data_stream/fsstat/fields/base-fields.yml
  packages/system/data_stream/load/fields/base-fields.yml
  packages/system/data_stream/memory/fields/base-fields.yml
  packages/system/data_stream/network/fields/base-fields.yml
  packages/system/data_stream/process/fields/base-fields.yml
  packages/system/data_stream/process_summary/fields/base-fields.yml
  packages/system/data_stream/security/fields/base-fields.yml
  packages/system/data_stream/socket_summary/fields/base-fields.yml
  packages/system/data_stream/syslog/fields/base-fields.yml
  packages/system/data_stream/system/fields/base-fields.yml
  packages/system/data_stream/uptime/fields/base-fields.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, v7.14.0

#1241 [Linux] set event.module and event.dataset
  packages/linux/changelog.yml
  packages/linux/data_stream/conntrack/fields/base-fields.yml
  packages/linux/data_stream/entropy/fields/base-fields.yml
  packages/linux/data_stream/iostat/fields/base-fields.yml
  packages/linux/data_stream/ksm/fields/base-fields.yml
  packages/linux/data_stream/memory/fields/base-fields.yml
  packages/linux/data_stream/network_summary/fields/base-fields.yml
  packages/linux/data_stream/pageinfo/fields/base-fields.yml
  packages/linux/data_stream/raid/fields/base-fields.yml
  packages/linux/data_stream/service/fields/base-fields.yml
  packages/linux/data_stream/socket/fields/base-fields.yml
  packages/linux/data_stream/users/fields/base-fields.yml
  packages/linux/docs/README.md
  packages/linux/manifest.yml
Labels: Team:Integrations

#1240 [GCP] set event.module and event.dataset
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/fields/base-fields.yml
  packages/gcp/data_stream/firewall/fields/base-fields.yml
  packages/gcp/data_stream/vpcflow/fields/base-fields.yml
  packages/gcp/docs/README.md
  packages/gcp/manifest.yml
Labels: Team:Integrations

#1238 [Azure] set event.module and event.dataset
  packages/azure/changelog.yml
  packages/azure/data_stream/activitylogs/fields/base-fields.yml
  packages/azure/data_stream/auditlogs/fields/base-fields.yml
  packages/azure/data_stream/platformlogs/fields/base-fields.yml
  packages/azure/data_stream/signinlogs/fields/base-fields.yml
  packages/azure/docs/README.md
  packages/azure/manifest.yml
Labels: Team:Integrations

#1237 [Tomcat] set event.module and event.dataset
  packages/tomcat/_dev/build/docs/README.md
  packages/tomcat/changelog.yml
  packages/tomcat/data_stream/log/fields/base-fields.yml
  packages/tomcat/data_stream/log/fields/ecs.yml
  packages/tomcat/docs/README.md
  packages/tomcat/manifest.yml
Labels: Team:Integrations

#1236 [STAN] set event.module and event.dataset
  packages/stan/changelog.yml
  packages/stan/data_stream/channels/fields/base-fields.yml
  packages/stan/data_stream/log/fields/base-fields.yml
  packages/stan/data_stream/stats/fields/base-fields.yml
  packages/stan/data_stream/subscriptions/fields/base-fields.yml
  packages/stan/docs/README.md
  packages/stan/manifest.yml
Labels: Team:Integrations

#1233 [HAProxy] set event.module and event.dataset
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/info/fields/base-fields.yml
  packages/haproxy/data_stream/log/fields/base-fields.yml
  packages/haproxy/data_stream/log/fields/ecs.yml
  packages/haproxy/data_stream/stat/fields/base-fields.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: Team:Integrations

#1231 [Docker] set event.module and event.dataset
  packages/docker/changelog.yml
  packages/docker/data_stream/container/fields/base-fields.yml
  packages/docker/data_stream/cpu/fields/base-fields.yml
  packages/docker/data_stream/diskio/fields/base-fields.yml
  packages/docker/data_stream/event/fields/base-fields.yml
  packages/docker/data_stream/event/sample_event.json
  packages/docker/data_stream/healthcheck/fields/base-fields.yml
  packages/docker/data_stream/image/fields/base-fields.yml
  packages/docker/data_stream/info/fields/base-fields.yml
  packages/docker/data_stream/memory/fields/base-fields.yml
  packages/docker/data_stream/network/fields/base-fields.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: Team:Integrations

#1225 [RabbitMQ] Set event.module and event.dataset
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/data_stream/connection/fields/base-fields.yml
  packages/rabbitmq/data_stream/exchange/fields/base-fields.yml
  packages/rabbitmq/data_stream/log/fields/base-fields.yml
  packages/rabbitmq/data_stream/node/fields/base-fields.yml
  packages/rabbitmq/data_stream/queue/fields/base-fields.yml
  packages/rabbitmq/docs/README.md
  packages/rabbitmq/manifest.yml
Labels: Team:Integrations

#1248 [zookeeper] set event.module and event.dataset
  packages/zookeeper/changelog.yml
  packages/zookeeper/data_stream/connection/fields/base-fields.yml
  packages/zookeeper/data_stream/mntr/fields/base-fields.yml
  packages/zookeeper/data_stream/server/fields/base-fields.yml
  packages/zookeeper/docs/README.md
  packages/zookeeper/manifest.yml
Labels: Team:Integrations

#1246 [iis] set event.module and event.dataset
  packages/iis/changelog.yml
  packages/iis/data_stream/access/fields/base-fields.yml
  packages/iis/data_stream/application_pool/fields/base-fields.yml
  packages/iis/data_stream/error/fields/base-fields.yml
  packages/iis/data_stream/webserver/fields/base-fields.yml
  packages/iis/data_stream/website/fields/base-fields.yml
  packages/iis/docs/README.md
  packages/iis/manifest.yml
Labels: Team:Integrations

#767 Adjust aws package to use input groups
  packages/aws/_dev/build/docs/README.md
  packages/aws/_dev/build/docs/billing.md
  packages/aws/_dev/build/docs/cloudtrail.md
  packages/aws/_dev/build/docs/cloudwatch.md
  packages/aws/_dev/build/docs/dynamodb.md
  packages/aws/_dev/build/docs/ebs.md
  packages/aws/_dev/build/docs/ec2.md
  packages/aws/_dev/build/docs/elb.md
  packages/aws/_dev/build/docs/lambda.md
  packages/aws/_dev/build/docs/natgateway.md
  packages/aws/_dev/build/docs/rds.md
  packages/aws/_dev/build/docs/s3.md
  packages/aws/_dev/build/docs/sns.md
  packages/aws/_dev/build/docs/sqs.md
  packages/aws/_dev/build/docs/transitgateway.md
  packages/aws/_dev/build/docs/usage.md
  packages/aws/_dev/build/docs/vpcflow.md
  packages/aws/_dev/build/docs/vpn.md
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/cloudwatch_logs/manifest.yml
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/s3access/manifest.yml
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/docs/README.md
  packages/aws/docs/billing.md
  packages/aws/docs/cloudtrail.md
  packages/aws/docs/cloudwatch.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/s3.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpcflow.md
  packages/aws/docs/vpn.md
  packages/aws/img/logo_billing.svg
  packages/aws/img/logo_cloudtrail.svg
  packages/aws/img/logo_cloudwatch.svg
  packages/aws/img/logo_dynamodb.svg
  packages/aws/img/logo_ebs.svg
  packages/aws/img/logo_ec2.svg
  packages/aws/img/logo_elb.svg
  packages/aws/img/logo_lambda.svg
  packages/aws/img/logo_natgateway.svg
  packages/aws/img/logo_rds.svg
  packages/aws/img/logo_s3.svg
  packages/aws/img/logo_sns.svg
  packages/aws/img/logo_sqs.svg
  packages/aws/img/logo_transitgateway.svg
  packages/aws/img/logo_vpcflow.svg
  packages/aws/img/logo_vpn.svg
  packages/aws/manifest.yml
Labels: Team:Integrations

#1245 [AWS] set event.module and event.dataset
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/fields/base-fields.yml
  packages/aws/data_stream/cloudtrail/fields/base-fields.yml
  packages/aws/data_stream/cloudwatch_logs/fields/base-fields.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/base-fields.yml
  packages/aws/data_stream/cloudwatch_metrics/sample_event.json
  packages/aws/data_stream/dynamodb/fields/base-fields.yml
  packages/aws/data_stream/ebs/fields/base-fields.yml
  packages/aws/data_stream/ec2_logs/fields/base-fields.yml
  packages/aws/data_stream/ec2_metrics/fields/base-fields.yml
  packages/aws/data_stream/ec2_metrics/sample_event.json
  packages/aws/data_stream/elb_logs/fields/base-fields.yml
  packages/aws/data_stream/elb_metrics/fields/base-fields.yml
  packages/aws/data_stream/elb_metrics/sample_event.json
  packages/aws/data_stream/lambda/fields/base-fields.yml
  packages/aws/data_stream/lambda/sample_event.json
  packages/aws/data_stream/natgateway/fields/base-fields.yml
  packages/aws/data_stream/rds/fields/base-fields.yml
  packages/aws/data_stream/s3_daily_storage/fields/base-fields.yml
  packages/aws/data_stream/s3_request/fields/base-fields.yml
  packages/aws/data_stream/s3access/fields/base-fields.yml
  packages/aws/data_stream/sns/fields/base-fields.yml
  packages/aws/data_stream/sqs/fields/base-fields.yml
  packages/aws/data_stream/transitgateway/fields/base-fields.yml
  packages/aws/data_stream/usage/fields/base-fields.yml
  packages/aws/data_stream/vpcflow/fields/base-fields.yml
  packages/aws/data_stream/vpn/fields/base-fields.yml
  packages/aws/docs/billing.md
  packages/aws/docs/cloudtrail.md
  packages/aws/docs/cloudwatch.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/s3.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpcflow.md
  packages/aws/docs/vpn.md
  packages/aws/manifest.yml
Labels: Team:Integrations

#1234 [Nginx] set event.module and event.dataset
  packages/nginx/changelog.yml
  packages/nginx/data_stream/access/fields/base-fields.yml
  packages/nginx/data_stream/error/fields/base-fields.yml
  packages/nginx/data_stream/stubstatus/fields/base-fields.yml
  packages/nginx/docs/README.md
  packages/nginx/manifest.yml
Labels: Team:Integrations

#1251 Fix: add missing data_stream fields
  packages/zookeeper/changelog.yml
  packages/zookeeper/data_stream/connection/fields/base-fields.yml
  packages/zookeeper/data_stream/mntr/fields/base-fields.yml
  packages/zookeeper/data_stream/server/fields/base-fields.yml
  packages/zookeeper/docs/README.md
  packages/zookeeper/manifest.yml
Labels: Team:Integrations

#1253 [RabbitMQ] Fix sample event for node
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/data_stream/node/sample_event.json
  packages/rabbitmq/docs/README.md
  packages/rabbitmq/manifest.yml
Labels: Team:Integrations

#1249 [prometheus] add event.module and event.dataset
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/fields/base-fields.yml
  packages/prometheus/data_stream/query/fields/base-fields.yml
  packages/prometheus/data_stream/remote_write/fields/base-fields.yml
  packages/prometheus/docs/README.md
  packages/prometheus/manifest.yml
Labels: Team:Integrations

#1244 Add dataset and module fields to postgresql package
  packages/postgresql/_dev/build/build.yml
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/activity/fields/base-fields.yml
  packages/postgresql/data_stream/activity/fields/ecs.yml
  packages/postgresql/data_stream/bgwriter/fields/base-fields.yml
  packages/postgresql/data_stream/bgwriter/fields/ecs.yml
  packages/postgresql/data_stream/database/fields/base-fields.yml
  packages/postgresql/data_stream/database/fields/ecs.yml
  packages/postgresql/data_stream/log/fields/base-fields.yml
  packages/postgresql/data_stream/log/fields/ecs.yml
  packages/postgresql/data_stream/statement/fields/base-fields.yml
  packages/postgresql/data_stream/statement/fields/ecs.yml
  packages/postgresql/docs/README.md
  packages/postgresql/manifest.yml
Labels: Team:Integrations

#1250 Update elastic-package to support dropped events in pipeline tests
  go.mod
  go.sum
Labels: Team:Integrations

#1252 [barracuda] Set event.module and event.dataset
  packages/barracuda/changelog.yml
  packages/barracuda/data_stream/spamfirewall/fields/base-fields.yml
  packages/barracuda/data_stream/waf/fields/base-fields.yml
  packages/barracuda/manifest.yml
Labels: Integration:Barracuda, Team:Security-External Integrations, enhancement

#1254 [bluecoat] Set event.module and event.dataset
  packages/bluecoat/changelog.yml
  packages/bluecoat/data_stream/director/fields/base-fields.yml
  packages/bluecoat/manifest.yml
Labels: Integration:Bluecoat, Team:Security-External Integrations, enhancement

#1255 [cef] Set event.module and event.dataset
  packages/cef/changelog.yml
  packages/cef/data_stream/log/fields/base-fields.yml
  packages/cef/docs/README.md
  packages/cef/manifest.yml
Labels: Integration:CEF, Team:Security-External Integrations, enhancement

#1256 [checkpoint] Set event.module and event.dataset
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/base-fields.yml
  packages/checkpoint/data_stream/firewall/fields/ecs.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1257 [cisco] Set event.module and event.dataset
  packages/cisco/changelog.yml
  packages/cisco/data_stream/asa/fields/base-fields.yml
  packages/cisco/data_stream/ftd/fields/base-fields.yml
  packages/cisco/data_stream/ios/fields/base-fields.yml
  packages/cisco/data_stream/meraki/fields/base-fields.yml
  packages/cisco/data_stream/nexus/fields/base-fields.yml
  packages/cisco/docs/README.md
  packages/cisco/manifest.yml
Labels: Integration:Cisco, Team:Security-External Integrations, enhancement

#1259 [cyberark] Set event.module and event.dataset
  packages/cyberark/changelog.yml
  packages/cyberark/data_stream/corepas/fields/base-fields.yml
  packages/cyberark/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1260 [cyberarkpas] Set event.module and event.dataset
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/data_stream/audit/fields/base-fields.yml
  packages/cyberarkpas/docs/README.md
  packages/cyberarkpas/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1261 [cylance] Set event.module and event.dataset
  packages/cylance/changelog.yml
  packages/cylance/data_stream/protect/fields/base-fields.yml
  packages/cylance/manifest.yml
Labels: Integration:Cylance, Team:Security-External Integrations, enhancement

#1262 [f5] Set event.module and event.dataset
  packages/f5/changelog.yml
  packages/f5/data_stream/bigipafm/fields/base-fields.yml
  packages/f5/data_stream/bigipapm/fields/base-fields.yml
  packages/f5/manifest.yml
Labels: Integrations:f5, Team:Security-External Integrations, enhancement

#1263 [google_workspace] Set event.module and event.dataset
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/fields/base-fields.yml
  packages/google_workspace/data_stream/admin/fields/ecs.yml
  packages/google_workspace/data_stream/drive/fields/base-fields.yml
  packages/google_workspace/data_stream/drive/fields/ecs.yml
  packages/google_workspace/data_stream/groups/fields/base-fields.yml
  packages/google_workspace/data_stream/groups/fields/ecs.yml
  packages/google_workspace/data_stream/login/fields/base-fields.yml
  packages/google_workspace/data_stream/login/fields/ecs.yml
  packages/google_workspace/data_stream/saml/fields/base-fields.yml
  packages/google_workspace/data_stream/saml/fields/ecs.yml
  packages/google_workspace/data_stream/user_accounts/fields/base-fields.yml
  packages/google_workspace/data_stream/user_accounts/fields/ecs.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: Integration:Google Workspace, Team:Security-External Integrations, enhancement

#1264 [imperva] Set event.module and event.dataset
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/fields/base-fields.yml
  packages/imperva/manifest.yml
Labels: Integration:imperva, Team:Security-External Integrations, enhancement

#1265 [infoblox] Set event.module and event.dataset
  packages/infoblox/changelog.yml
  packages/infoblox/data_stream/nios/fields/base-fields.yml
  packages/infoblox/manifest.yml
Labels: Integration:Infoblox, Team:Security-External Integrations, enhancement

#1266 [iptables] Set event.module and event.dataset
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/fields/base-fields.yml
  packages/iptables/data_stream/log/fields/ecs.yml
  packages/iptables/docs/README.md
  packages/iptables/manifest.yml
Labels: Integration:iptables, Team:Security-External Integrations, enhancement

#1267 [juniper] Set event.module and event.dataset
  packages/juniper/changelog.yml
  packages/juniper/data_stream/junos/fields/base-fields.yml
  packages/juniper/data_stream/netscreen/fields/base-fields.yml
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-atp.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-flow.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-idp.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-ids.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-secintel.log-expected.json
  packages/juniper/data_stream/srx/_dev/test/pipeline/test-utm.log-expected.json
  packages/juniper/data_stream/srx/elasticsearch/ingest_pipeline/default.yml
  packages/juniper/data_stream/srx/fields/base-fields.yml
  packages/juniper/data_stream/srx/fields/ecs.yml
  packages/juniper/docs/README.md
  packages/juniper/manifest.yml
Labels: Integration:Juniper, Team:Security-External Integrations, enhancement

#1268 [microsoft] Set event.module and event.dataset
  packages/microsoft/changelog.yml
  packages/microsoft/data_stream/defender_atp/fields/base-fields.yml
  packages/microsoft/data_stream/defender_atp/fields/ecs.yml
  packages/microsoft/data_stream/dhcp/fields/base-fields.yml
  packages/microsoft/docs/README.md
  packages/microsoft/manifest.yml
Labels: Integration:Microsoft, Team:Security-External Integrations, enhancement

#1269 [netscout] Set event.module and event.dataset
  packages/netscout/changelog.yml
  packages/netscout/data_stream/sightline/fields/base-fields.yml
  packages/netscout/manifest.yml
Labels: Integration:Netscout, Team:Security-External Integrations, enhancement

#1270 [osquery] Set event.module and event.dataset
  packages/osquery/changelog.yml
  packages/osquery/data_stream/result/fields/base-fields.yml
  packages/osquery/data_stream/result/fields/ecs.yml
  packages/osquery/docs/README.md
  packages/osquery/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1271 [proofpoint] Set event.module and event.dataset
  packages/proofpoint/changelog.yml
  packages/proofpoint/data_stream/emailsecurity/fields/base-fields.yml
  packages/proofpoint/manifest.yml
Labels: Integration:Proofpoint, Team:Security-External Integrations, enhancement

#1272 [radware] Set event.module and event.dataset
  packages/radware/changelog.yml
  packages/radware/data_stream/defensepro/fields/base-fields.yml
  packages/radware/manifest.yml
Labels: Integration:Radware, Team:Security-External Integrations, enhancement

#1273 [santa] Set event.module and event.dataset
  packages/santa/changelog.yml
  packages/santa/data_stream/log/fields/base-fields.yml
  packages/santa/data_stream/log/fields/ecs.yml
  packages/santa/docs/README.md
  packages/santa/manifest.yml
Labels: Integration:Santa, Team:Security-External Integrations, enhancement

#1274 [sonicwall] Set event.module and event.dataset
  packages/sonicwall/changelog.yml
  packages/sonicwall/data_stream/firewall/fields/base-fields.yml
  packages/sonicwall/docs/README.md
  packages/sonicwall/manifest.yml
Labels: Team:Security-External Integrations, enhancement, integration:Sonicwall

#1275 [sophos] Set event.module and event.dataset
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/fields/base-fields.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/fields/base-fields.yml
  packages/sophos/data_stream/xg/fields/ecs.yml
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: Integration:Sophos, Team:Security-External Integrations, enhancement

#1276 [squid] Set event.module and event.dataset
  packages/squid/changelog.yml
  packages/squid/data_stream/log/fields/base-fields.yml
  packages/squid/manifest.yml
Labels: Integration:Squid, Team:Security-External Integrations, enhancement

#1277 [winlog] Set event.module and event.dataset
  packages/winlog/changelog.yml
  packages/winlog/data_stream/winlog/fields/base-fields.yml
  packages/winlog/docs/README.md
  packages/winlog/manifest.yml
Labels: Team:Security-External Integrations, enhancement

#1278 [zoom] Set event.module and event.dataset
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/fields/base-fields.yml
  packages/zoom/docs/README.md
  packages/zoom/manifest.yml
Labels: Integration:Zoom, Team:Security-External Integrations, enhancement

#1279 [zscaler] Set event.module and event.dataset
  packages/zscaler/changelog.yml
  packages/zscaler/data_stream/zia/fields/base-fields.yml
  packages/zscaler/manifest.yml
Labels: Integration:Zscaler, Team:Security-External Integrations, enhancement
