Repository elastic/integrations, pull requests merged in 2022-10, with the labels that each got.

#4300 Azure Logs documentation update
  packages/azure/_dev/build/docs/README.md
  packages/azure/changelog.yml
  packages/azure/docs/README.md
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, Team:Cloud-Monitoring

#4369 [docs] Escape left angle bracket (`<`)
  packages/infoblox_bloxone_ddi/_dev/build/docs/README.md
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/docs/README.md
  packages/infoblox_bloxone_ddi/manifest.yml
Labels: bug, documentation, docs

#4254 [lastpass] Initial Release for the LastPass
  .github/CODEOWNERS
  packages/lastpass/_dev/build/build.yml
  packages/lastpass/_dev/build/docs/README.md
  packages/lastpass/_dev/deploy/docker/docker-compose.yml
  packages/lastpass/_dev/deploy/docker/files/config.yml
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/detailed_shared_folder/_dev/test/pipeline/test-common-config.yml
  packages/lastpass/data_stream/detailed_shared_folder/_dev/test/pipeline/test-detailed-shared-folder.log
  packages/lastpass/data_stream/detailed_shared_folder/_dev/test/pipeline/test-detailed-shared-folder.log-expected.json
  packages/lastpass/data_stream/detailed_shared_folder/_dev/test/system/test-default-config.yml
  packages/lastpass/data_stream/detailed_shared_folder/agent/stream/httpjson.yml.hbs
  packages/lastpass/data_stream/detailed_shared_folder/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/detailed_shared_folder/fields/agent.yml
  packages/lastpass/data_stream/detailed_shared_folder/fields/base-fields.yml
  packages/lastpass/data_stream/detailed_shared_folder/fields/ecs.yml
  packages/lastpass/data_stream/detailed_shared_folder/fields/fields.yml
  packages/lastpass/data_stream/detailed_shared_folder/manifest.yml
  packages/lastpass/data_stream/detailed_shared_folder/sample_event.json
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-common-config.yml
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-event-report.log
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-event-report.log-expected.json
  packages/lastpass/data_stream/event_report/_dev/test/system/test-default-config.yml
  packages/lastpass/data_stream/event_report/agent/stream/httpjson.yml.hbs
  packages/lastpass/data_stream/event_report/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/event_report/fields/agent.yml
  packages/lastpass/data_stream/event_report/fields/base-fields.yml
  packages/lastpass/data_stream/event_report/fields/ecs.yml
  packages/lastpass/data_stream/event_report/fields/fields.yml
  packages/lastpass/data_stream/event_report/manifest.yml
  packages/lastpass/data_stream/event_report/sample_event.json
  packages/lastpass/data_stream/user/_dev/test/pipeline/test-common-config.yml
  packages/lastpass/data_stream/user/_dev/test/pipeline/test-pipeline-user.log
  packages/lastpass/data_stream/user/_dev/test/pipeline/test-pipeline-user.log-expected.json
  packages/lastpass/data_stream/user/_dev/test/system/test-default-config.yml
  packages/lastpass/data_stream/user/agent/stream/httpjson.yml.hbs
  packages/lastpass/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/user/fields/agent.yml
  packages/lastpass/data_stream/user/fields/base-fields.yml
  packages/lastpass/data_stream/user/fields/ecs.yml
  packages/lastpass/data_stream/user/fields/fields.yml
  packages/lastpass/data_stream/user/manifest.yml
  packages/lastpass/data_stream/user/sample_event.json
  packages/lastpass/docs/README.md
  packages/lastpass/img/lastpass-account-number-screenshot.png
  packages/lastpass/img/lastpass-dashboard-screenshot.png
  packages/lastpass/img/lastpass-logo.svg
  packages/lastpass/img/lastpass-provisioning-hash-screenshot.png
  packages/lastpass/kibana/dashboard/lastpass-45d2e670-244b-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/kibana/dashboard/lastpass-975ecef0-2450-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/kibana/dashboard/lastpass-fa6ad220-2458-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/kibana/search/lastpass-d8f5da30-245e-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/kibana/search/lastpass-df784f50-2454-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#4014 [ping_one] Initial Release for the PingOne
  .github/CODEOWNERS
  packages/ping_one/_dev/build/build.yml
  packages/ping_one/_dev/build/docs/README.md
  packages/ping_one/_dev/deploy/docker/docker-compose.yml
  packages/ping_one/_dev/deploy/docker/files/config.yml
  packages/ping_one/_dev/deploy/docker/sample_logs/audit.log
  packages/ping_one/changelog.yml
  packages/ping_one/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/ping_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log
  packages/ping_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/ping_one/data_stream/audit/_dev/test/system/test-http-endpoint-config.yml
  packages/ping_one/data_stream/audit/_dev/test/system/test-httpjson-config.yml
  packages/ping_one/data_stream/audit/agent/stream/http_endpoint.yml.hbs
  packages/ping_one/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/ping_one/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/ping_one/data_stream/audit/fields/agent.yml
  packages/ping_one/data_stream/audit/fields/base-fields.yml
  packages/ping_one/data_stream/audit/fields/ecs.yml
  packages/ping_one/data_stream/audit/fields/fields.yml
  packages/ping_one/data_stream/audit/manifest.yml
  packages/ping_one/data_stream/audit/sample_event.json
  packages/ping_one/docs/README.md
  packages/ping_one/img/ping-one-dashboard.png
  packages/ping_one/img/ping-one-logo.svg
  packages/ping_one/kibana/dashboard/ping_one-60aa0020-0ea5-11ed-9b69-fdafbf89c645.json
  packages/ping_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#4350 [GCP] Add loadbalancing ingest pipeline
  packages/gcp/changelog.yml
  packages/gcp/data_stream/loadbalancing_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4100 [couchbase] Add Integration Package with query_index Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/query_index/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/query_index/_dev/test/pipeline/test-query-index-metrics.json
  packages/couchbase/data_stream/query_index/_dev/test/pipeline/test-query-index-metrics.json-expected.json
  packages/couchbase/data_stream/query_index/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/query_index/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/query_index/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/query_index/fields/base-fields.yml
  packages/couchbase/data_stream/query_index/fields/ecs.yml
  packages/couchbase/data_stream/query_index/fields/fields.yml
  packages/couchbase/data_stream/query_index/manifest.yml
  packages/couchbase/data_stream/query_index/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#3892 [Azure] Add Azure Application Gateway datastream
  packages/azure/_dev/build/docs/application_gateway.md
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log-expected.json
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-common-config.yml
  packages/azure/data_stream/application_gateway/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/application_gateway/fields/base-fields.yml
  packages/azure/data_stream/application_gateway/fields/ecs.yml
  packages/azure/data_stream/application_gateway/fields/fields.yml
  packages/azure/data_stream/application_gateway/fields/package-fields.yml
  packages/azure/data_stream/application_gateway/manifest.yml
  packages/azure/data_stream/application_gateway/sample_event.json
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/docs/activity.md
  packages/azure/docs/application_gateway.md
  packages/azure/img/application_gateway_logo.svg
  packages/azure/manifest.yml
Labels: Team:Security-External Integrations, Integration:Azure, New Integration

#4344 [GCP] Add ingest pipeline for dataproc
  packages/gcp/changelog.yml
  packages/gcp/data_stream/dataproc/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3963 [Trend Micro Vision One] Initial Release for the Trend Micro Vision One Package
  .github/CODEOWNERS
  packages/trend_micro_vision_one/_dev/build/build.yml
  packages/trend_micro_vision_one/_dev/build/docs/README.md
  packages/trend_micro_vision_one/_dev/deploy/docker/docker-compose.yml
  packages/trend_micro_vision_one/_dev/deploy/docker/files/config.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/trend_micro_vision_one/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/alert/fields/agent.yml
  packages/trend_micro_vision_one/data_stream/alert/fields/base-fields.yml
  packages/trend_micro_vision_one/data_stream/alert/fields/ecs.yml
  packages/trend_micro_vision_one/data_stream/alert/fields/fields.yml
  packages/trend_micro_vision_one/data_stream/alert/manifest.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/trend_micro_vision_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log
  packages/trend_micro_vision_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/trend_micro_vision_one/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/trend_micro_vision_one/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/audit/fields/agent.yml
  packages/trend_micro_vision_one/data_stream/audit/fields/base-fields.yml
  packages/trend_micro_vision_one/data_stream/audit/fields/ecs.yml
  packages/trend_micro_vision_one/data_stream/audit/fields/fields.yml
  packages/trend_micro_vision_one/data_stream/audit/manifest.yml
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-common-config.yml
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/system/test-default-config.yml
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/detection/fields/agent.yml
  packages/trend_micro_vision_one/data_stream/detection/fields/base-fields.yml
  packages/trend_micro_vision_one/data_stream/detection/fields/ecs.yml
  packages/trend_micro_vision_one/data_stream/detection/fields/fields.yml
  packages/trend_micro_vision_one/data_stream/detection/manifest.yml
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/img/trend-micro-vision-one-alert-dashboard-screenshot.png
  packages/trend_micro_vision_one/img/trend-micro-vision-one-api-token-generate.png
  packages/trend_micro_vision_one/img/trend-micro-vision-one-console.png
  packages/trend_micro_vision_one/img/trend-micro-vision-one-logo.svg
  packages/trend_micro_vision_one/kibana/dashboard/trend_micro_vision_one-02296130-0c1b-11ed-8d26-77f06c571b89.json
  packages/trend_micro_vision_one/kibana/dashboard/trend_micro_vision_one-795c2840-0cda-11ed-ac7d-35d42be2de47.json
  packages/trend_micro_vision_one/kibana/dashboard/trend_micro_vision_one-dc4fba10-0ce5-11ed-ac7d-35d42be2de47.json
  packages/trend_micro_vision_one/kibana/search/trend_micro_vision_one-89e6e9b0-0c1d-11ed-8d26-77f06c571b89.json
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#4326 [Synthetics] project fields for lightweight monitors
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/http/agent/stream/http.yml.hbs
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/agent/stream/tcp.yml.hbs
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: Team:Uptime, v8.5.0

#4023 Support new heartbeat 'state' fields
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/common.yml
  packages/synthetics/data_stream/http/fields/common.yml
  packages/synthetics/data_stream/icmp/fields/common.yml
  packages/synthetics/data_stream/tcp/fields/common.yml
  packages/synthetics/manifest.yml
Labels: enhancement, Team:Uptime

#4382 [Azure Logs] Remove extra overview heading
  packages/azure/_dev/build/docs/README.md
  packages/azure/changelog.yml
  packages/azure/docs/README.md
  packages/azure/manifest.yml
Labels: bug, docs

#4371 gcp: fix type of dns.answers.ttl
  packages/gcp/changelog.yml
  packages/gcp/data_stream/dns/_dev/test/pipeline/test-dns.log-expected.json
  packages/gcp/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/dns/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/dns.md
  packages/gcp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:GCP, Team:Cloud-Monitoring

#4379 Fix invalid Kibana search indexRefName reference
  packages/netflow/changelog.yml
  packages/netflow/kibana/search/netflow-a34c6611-79d8-4b50-ae3f-8b328d28e24a.json
  packages/netflow/manifest.yml
Labels: bug, Integration:Netflow

#4325 [GCP] Add redis data stream
  packages/gcp/_dev/build/docs/redis.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/redis/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/redis/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/redis/fields/agent.yml
  packages/gcp/data_stream/redis/fields/base-fields.yml
  packages/gcp/data_stream/redis/fields/ecs.yml
  packages/gcp/data_stream/redis/fields/fields.yml
  packages/gcp/data_stream/redis/fields/package-fields.yml
  packages/gcp/data_stream/redis/manifest.yml
  packages/gcp/data_stream/redis/sample_event.json
  packages/gcp/docs/redis.md
  packages/gcp/manifest.yml
Labels: Integration:GCP

#4390 [netflow] Amend 2.2.5 changelog entry with correct link
  packages/netflow/changelog.yml
Labels: bug, Integration:Netflow

#4395 Fix adding processors in cloudfront logs
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudfront_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/manifest.yml
Labels: bug, Integration:AWS

#4397 gcp,google_workspace: remove duplicate fields
  packages/gcp/changelog.yml
  packages/gcp/data_stream/redis/fields/agent.yml
  packages/gcp/docs/redis.md
  packages/gcp/manifest.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/fields/agent.yml
  packages/google_workspace/data_stream/drive/fields/agent.yml
  packages/google_workspace/data_stream/groups/fields/agent.yml
  packages/google_workspace/data_stream/login/fields/agent.yml
  packages/google_workspace/data_stream/saml/fields/agent.yml
  packages/google_workspace/data_stream/user_accounts/fields/agent.yml
  packages/google_workspace/manifest.yml
Labels: Team:Security-External Integrations, Integration:GCP, Integration:Google Workspace, Team:Cloud-Monitoring

#4383 [Azure Billing Metrics] Remove extra overview heading
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/changelog.yml
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
Labels: bug, docs

#4214 [GCP] Move dashboard visualizations to by value
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-48e12760-cbe4-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/dashboard/gcp-8a1fb690-cbeb-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-9484a4cd-685f-450e-aeaa-728fbdbea20f.json
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-f40ee870-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/kibana/lens/gcp-057de170-e88d-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/lens/gcp-520c6f10-ec8a-11ea-a0ed-7fe6b565d158.json
  packages/gcp/kibana/lens/gcp-73346db0-e88d-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/lens/gcp-dd835300-e88f-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/lens/gcp-e6933020-e88d-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/visualization/gcp-0bd0a6e0-9156-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-2f6b6740-909b-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-3f472ea0-5e47-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-3f4e9040-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-434f69f0-909b-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-43f45ba0-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-543dac40-909b-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-5d2f9160-e88e-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/visualization/gcp-6958ed10-a6ad-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-6f795e70-5e49-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-6f933ef0-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-89513bc0-5e48-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-8d4ddf40-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-95e1f050-5e48-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-9d919d00-5e4d-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-afeb98a0-a6ac-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-be27b340-a6ac-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-c4e1e090-a6aa-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-d5418f80-9156-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-d63465e0-9154-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-da5bc460-63e1-11ea-b0ac-95d4ecb1fecd.json
  packages/gcp/kibana/visualization/gcp-dff87070-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-e562eb50-909a-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-eb891a20-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-eed05d80-a6ac-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-ef1508c0-5e4c-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-f86c26f0-a6aa-11ea-950e-d57608e3aa51.json
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4000 [couchbase] Add Integration Package with Database Stats Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/database_stats/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/database_stats/_dev/test/pipeline/test-database-stats-metrics.json
  packages/couchbase/data_stream/database_stats/_dev/test/pipeline/test-database-stats-metrics.json-expected.json
  packages/couchbase/data_stream/database_stats/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/database_stats/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/database_stats/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/database_stats/fields/base-fields.yml
  packages/couchbase/data_stream/database_stats/fields/ecs.yml
  packages/couchbase/data_stream/database_stats/fields/fields.yml
  packages/couchbase/data_stream/database_stats/manifest.yml
  packages/couchbase/data_stream/database_stats/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#4167 Add Performance config to resolve bug
  packages/mysql/_dev/deploy/docker/Dockerfile
  packages/mysql/_dev/deploy/docker/entrypoint.sh
  packages/mysql/changelog.yml
  packages/mysql/data_stream/performance/agent/stream/stream.yml.hbs
  packages/mysql/data_stream/performance/elasticsearch/ingest_pipeline/default.yml
  packages/mysql/data_stream/performance/fields/base-fields.yml
  packages/mysql/data_stream/performance/fields/ecs.yml
  packages/mysql/data_stream/performance/fields/fields.yml
  packages/mysql/data_stream/performance/manifest.yml
  packages/mysql/data_stream/performance/sample_event.json
  packages/mysql/manifest.yml
Labels: Team:Service-Integrations

#4064 [CoreDNS] Add CoreDNS package
  .github/CODEOWNERS
  packages/coredns/_dev/build/build.yml
  packages/coredns/_dev/build/docs/README.md
  packages/coredns/_dev/deploy/docker/Dockerfile
  packages/coredns/_dev/deploy/docker/docker-compose.yml
  packages/coredns/_dev/deploy/docker/files/Corefile
  packages/coredns/_dev/deploy/docker/files/db.example
  packages/coredns/_dev/deploy/variants.yml
  packages/coredns/changelog.yml
  packages/coredns/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/coredns/data_stream/log/_dev/test/pipeline/test-coredns-error.log
  packages/coredns/data_stream/log/_dev/test/pipeline/test-coredns-error.log-expected.json
  packages/coredns/data_stream/log/_dev/test/pipeline/test-coredns-json.log
  packages/coredns/data_stream/log/_dev/test/pipeline/test-coredns-json.log-expected.json
  packages/coredns/data_stream/log/_dev/test/pipeline/test-coredns.log
  packages/coredns/data_stream/log/_dev/test/pipeline/test-coredns.log-expected.json
  packages/coredns/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/coredns/data_stream/log/agent/stream/filestream.yml.hbs
  packages/coredns/data_stream/log/agent/stream/journald.yml.hbs
  packages/coredns/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/coredns/data_stream/log/elasticsearch/ingest_pipeline/json.yml
  packages/coredns/data_stream/log/fields/agent.yml
  packages/coredns/data_stream/log/fields/base-fields.yml
  packages/coredns/data_stream/log/fields/ecs.yml
  packages/coredns/data_stream/log/fields/fields.yml
  packages/coredns/data_stream/log/manifest.yml
  packages/coredns/data_stream/log/sample_event.json
  packages/coredns/docs/README.md
  packages/coredns/img/coredns-logo.svg
  packages/coredns/kibana/dashboard/coredns-8a1ad3ad-2439-452f-ae43-9e10fc076b7c.json
  packages/coredns/kibana/search/coredns-68cdcad8-9525-4f0e-9e6a-0bfe87076537.json
  packages/coredns/kibana/visualization/coredns-3ad75810-4429-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-75743f70-443c-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-9dc640e0-4432-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-cfde7fb0-443d-11e9-8548-ab7fbe04f038.json
  packages/coredns/manifest.yml
Labels: Team:Security-External Integrations

#4381 [MongoDB]Adding username and password to handlebar file
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/mongodb/manifest.yml
Labels: Team:Service-Integrations

#4392 Add "security" category to featured security integrations
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
  packages/network_traffic/changelog.yml
  packages/network_traffic/manifest.yml
Labels: enhancement

#4427 [darktrace] docs: escape `<>`
  packages/darktrace/_dev/build/docs/README.md
  packages/darktrace/changelog.yml
  packages/darktrace/docs/README.md
  packages/darktrace/manifest.yml
Labels: Team:Security-External Integrations

#4421 [oracle] Fixed performance data stream issues
  packages/oracle/changelog.yml
  packages/oracle/data_stream/database_audit/sample_event.json
  packages/oracle/data_stream/memory/sample_event.json
  packages/oracle/data_stream/performance/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/data_stream/performance/sample_event.json
  packages/oracle/data_stream/sysmetric/sample_event.json
  packages/oracle/data_stream/system_statistics/sample_event.json
  packages/oracle/data_stream/tablespace/sample_event.json
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Oracle

#4401 citrix_waf,cloudflare,cyberark_pta,cylance,darktrace: remove duplicated fields
  packages/citrix_waf/changelog.yml
  packages/citrix_waf/data_stream/log/fields/base-fields.yml
  packages/citrix_waf/data_stream/log/fields/ecs.yml
  packages/citrix_waf/docs/README.md
  packages/citrix_waf/manifest.yml
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/logpull/fields/ecs.yml
  packages/cloudflare/manifest.yml
  packages/cyberark_pta/changelog.yml
  packages/cyberark_pta/data_stream/events/fields/cef.yml
  packages/cyberark_pta/manifest.yml
  packages/cylance/changelog.yml
  packages/cylance/data_stream/protect/fields/base-fields.yml
  packages/cylance/data_stream/protect/fields/ecs.yml
  packages/cylance/manifest.yml
  packages/darktrace/changelog.yml
  packages/darktrace/data_stream/ai_analyst_alert/fields/agent.yml
  packages/darktrace/data_stream/model_breach_alert/fields/agent.yml
  packages/darktrace/data_stream/system_status_alert/fields/agent.yml
  packages/darktrace/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cylance, Integration:Cloudflare, Integration:CyberArk, Integration:CitrixWAF

#4399 akamai,auditd,barracuda,bluecoat,box_events,carbon_black_cloud,cef: remove duplicated fields
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/fields/ecs.yml
  packages/akamai/manifest.yml
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/fields/agent.yml
  packages/auditd/data_stream/log/fields/fields.yml
  packages/auditd/data_stream/log/fields/package-fields.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
  packages/barracuda/changelog.yml
  packages/barracuda/data_stream/spamfirewall/fields/base-fields.yml
  packages/barracuda/data_stream/waf/fields/base-fields.yml
  packages/barracuda/manifest.yml
  packages/bluecoat/changelog.yml
  packages/bluecoat/data_stream/director/fields/base-fields.yml
  packages/bluecoat/manifest.yml
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/fields/fields.yml
  packages/box_events/manifest.yml
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/fields/agent.yml
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/fields/agent.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/fields/agent.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/fields/agent.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
  packages/cef/changelog.yml
  packages/cef/data_stream/log/fields/fields.yml
  packages/cef/manifest.yml
  packages/lastpass/changelog.yml
Labels: bug, Team:Security-External Integrations, Integration:CEF, Integration:Barracuda, Integration:Bluecoat, Integration:Auditd, Integration:CarbonBlackCloud, Integration:Akamai, Integration:Box

#4400 cisco_*: remove duplicate fields
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/fields/ecs.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/manifest.yml
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/fields/ecs.yml
  packages/cisco_ios/manifest.yml
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/fields/agent.yml
  packages/cisco_ise/data_stream/log/fields/fields.yml
  packages/cisco_ise/manifest.yml
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/fields/agent.yml
  packages/cisco_meraki/data_stream/events/fields/ecs.yml
  packages/cisco_meraki/data_stream/log/fields/agent.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/manifest.yml
  packages/cisco_nexus/changelog.yml
  packages/cisco_nexus/data_stream/log/fields/agent.yml
  packages/cisco_nexus/data_stream/log/fields/base-fields.yml
  packages/cisco_nexus/manifest.yml
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/agent.yml
  packages/cisco_secure_email_gateway/manifest.yml
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/fields/agent.yml
  packages/cisco_secure_endpoint/data_stream/event/fields/ecs.yml
  packages/cisco_secure_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoISE, Integration:Cisco Meraki, Integration:CiscoNexus, Integration:CiscoIOS, Integration:CiscoFTD, Integration:CiscoASA

#4407 f5,fim,fireeye,fortinet_*: remove duplicate fields
  packages/f5/changelog.yml
  packages/f5/data_stream/bigipafm/fields/base-fields.yml
  packages/f5/data_stream/bigipapm/fields/base-fields.yml
  packages/f5/manifest.yml
  packages/fim/changelog.yml
  packages/fim/data_stream/event/fields/agent.yml
  packages/fim/manifest.yml
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/fields/agent.yml
  packages/fireeye/data_stream/nx/fields/ecs.yml
  packages/fireeye/manifest.yml
  packages/fortinet_forticlient/changelog.yml
  packages/fortinet_forticlient/data_stream/log/fields/agent.yml
  packages/fortinet_forticlient/data_stream/log/fields/base-fields.yml
  packages/fortinet_forticlient/manifest.yml
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/fields/agent.yml
  packages/fortinet_fortigate/manifest.yml
  packages/fortinet_fortimail/data_stream/log/fields/agent.yml
  packages/fortinet_fortimail/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/fields/agent.yml
  packages/fortinet_fortimanager/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortimanager/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:F5, Integration:Fortinet

#4430 [aws] Use the base cloudwatch metricset for dynamodb, instead of the lightweight module metricsset
  packages/aws/changelog.yml
  packages/aws/data_stream/dynamodb/agent/stream/stream.yml.hbs
  packages/aws/data_stream/dynamodb/sample_event.json
  packages/aws/docs/dynamodb.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#4441 [Oracle] Update grok pattern for audit logs
  packages/oracle/changelog.yml
  packages/oracle/data_stream/database_audit/_dev/test/pipeline/test-oracle-database-audit.log
  packages/oracle/data_stream/database_audit/_dev/test/pipeline/test-oracle-database-audit.log-expected.json
  packages/oracle/data_stream/database_audit/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/manifest.yml
Labels: Team:Security-External Integrations, Integration:Oracle

#4447 [Oracle] Adding support for more audit log types
  packages/oracle/changelog.yml
  packages/oracle/data_stream/database_audit/_dev/test/pipeline/test-oracle-database-audit.log
  packages/oracle/data_stream/database_audit/_dev/test/pipeline/test-oracle-database-audit.log-expected.json
  packages/oracle/data_stream/database_audit/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/data_stream/database_audit/fields/ecs.yml
  packages/oracle/data_stream/database_audit/fields/fields.yml
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: Team:Security-External Integrations, Integration:Oracle

#4352 cisco_meraki: improve handling of flows events
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/flows.yml
  packages/cisco_meraki/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cisco Meraki

#4370 fim: fix path configuration documentation
  packages/fim/changelog.yml
  packages/fim/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: FIM

#4380 cisco_{asa,ftd}: harmonise pipelines
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:CiscoFTD, Integration:CiscoASA

#4216 [MongoDb]Updated host.hostname field use FQDN of the host
  packages/mongodb/_dev/build/build.yml
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb/data_stream/log/fields/ecs.yml
  packages/mongodb/data_stream/log/sample_event.json
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: Team:Service-Integrations

#4332 docs: add eks auth
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: docs

#4403 [Stack Monitoring] Remove release field, add preview1 identifier
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/manifest.yml
  packages/logstash/changelog.yml
  packages/logstash/manifest.yml
Labels: Team:Infra Monitoring UI

#4472 Fix system dashboard
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/manifest.yml
Labels: bug

#4479 iptables: allow parsing of ulogd v2 logs with non-0x prefixed TOS field
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/_dev/test/pipeline/test-iptables-raw.log
  packages/iptables/data_stream/log/_dev/test/pipeline/test-iptables-raw.log-expected.json
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/data_stream/log/sample_event.json
  packages/iptables/docs/README.md
  packages/iptables/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:iptables

#4166 [couchbase] Add Integration Package with Dashboard
  packages/couchbase/changelog.yml
  packages/couchbase/img/couchbase-metrics-overview.png
  packages/couchbase/img/couchbase-node-dashboard.png
  packages/couchbase/img/couchbase-sync-gateway-overview.png
  packages/couchbase/img/couchbase-xdcr-dashboard.png
  packages/couchbase/kibana/dashboard/couchbase-46d21220-b9f1-11e9-a579-f5c0a5d81340.json
  packages/couchbase/kibana/dashboard/couchbase-5bb3ed20-149e-11ed-96ce-858de47efb79.json
  packages/couchbase/kibana/dashboard/couchbase-7b3a1e60-2765-11ed-a32e-e542f57b60ed.json
  packages/couchbase/kibana/dashboard/couchbase-90c39130-4605-11ed-9baf-d1d2c660068a.json
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#4135 Logs microsoft exchange online message trace
  .github/CODEOWNERS
  packages/microsoft_exchange_online_message_trace/_dev/build/build.yml
  packages/microsoft_exchange_online_message_trace/_dev/build/docs/README.md
  packages/microsoft_exchange_online_message_trace/_dev/deploy/docker/docker-compose.yml
  packages/microsoft_exchange_online_message_trace/_dev/deploy/docker/files/config.yml
  packages/microsoft_exchange_online_message_trace/_dev/deploy/docker/sample_logs/microsoft_exchange_online_message_trace_test.ndjson.log
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/system/test-httpjson-config.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_exchange_online_message_trace/data_stream/log/agent/stream/log.yml.hbs
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/fields/agent.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/fields/base-fields.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/fields/ecs.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/manifest.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/sample_event.json
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/img/dashboard.png
  packages/microsoft_exchange_online_message_trace/img/logo.svg
  packages/microsoft_exchange_online_message_trace/kibana/dashboard/microsoft_exchange_online_message_trace-10b79960-536a-11ed-869d-9d6d140defa1.json
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:MicrosoftExchangeOnlineMessageTrace

#4500 [google_workspace] Change fingerprint processor to avoid skipping events.
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations

#4489 [infoblox_nios] Handle bad values in IP and Date fields
  packages/infoblox_nios/_dev/deploy/docker/docker-compose.yml
  packages/infoblox_nios/_dev/deploy/docker/sample_logs/log.log
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/data_stream/log/fields/agent.yml
  packages/infoblox_nios/data_stream/log/fields/base-fields.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-27c573b0-b4d8-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-c3abc8b0-b4dd-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-f8d86480-b4c9-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-47a3afb0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-4d682070-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-52a20470-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-5bde4960-bee7-11ec-a230-b1548ff82828.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-63ad1d90-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-69c26d70-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-710eddc0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-771b5400-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-7ce4a6c0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-b1504c70-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-e2809d40-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-ee190f20-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-4559ff50-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-5cc295e0-b4d6-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-7103abb0-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-71f7a570-b4dd-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-854739b0-b735-11ec-8ec2-49017af276c3.json
  packages/infoblox_nios/kibana/search/infoblox_nios-8d55bb50-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-b3b496f0-b4e5-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-f3899090-b4d7-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-b9dd7a20-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-be579090-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-c5a9cd40-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-ce5187d0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#4503 [fortinet_fortigate] Improve handling of messages from newer versions of FortiOS
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Integration:Fortinet

#4301 Add agent.* fields to Elastic Agent ecs mapping
  packages/elastic_agent/data_stream/elastic_agent_logs/fields/ecs.yml
Labels: bug

#4504 docs: fix doc build error
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security Posture

#4477 [Synthetics] Change state.duration_ms to long from date
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/common.yml
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/browser_network/manifest.yml
  packages/synthetics/data_stream/browser_screenshot/manifest.yml
  packages/synthetics/data_stream/http/fields/common.yml
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/fields/common.yml
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/fields/common.yml
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: bug, Team:Uptime

#4506 panw: fix handling of event.outcome
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-gtp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-ip-tag-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-sctp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-system-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-tunnel-inspection-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/authentication.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/config.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/correlated_event.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/traffic.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/tunnel_inspection.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#4070 fortinet_fortiedr: new package for Fortinet FortiEDR ingestion
  .github/CODEOWNERS
  packages/fortinet_fortiedr/_dev/build/build.yml
  packages/fortinet_fortiedr/_dev/build/docs/README.md
  packages/fortinet_fortiedr/_dev/deploy/docker/docker-compose.yml
  packages/fortinet_fortiedr/_dev/deploy/docker/sample_logs/fortinet-edr.log
  packages/fortinet_fortiedr/changelog.yml
  packages/fortinet_fortiedr/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/fortinet_fortiedr/data_stream/log/_dev/test/pipeline/test-generated.log
  packages/fortinet_fortiedr/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_fortiedr/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/fortinet_fortiedr/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortiedr/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/fortinet_fortiedr/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortiedr/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortiedr/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortiedr/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortiedr/data_stream/log/fields/agent.yml
  packages/fortinet_fortiedr/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortiedr/data_stream/log/fields/ecs.yml
  packages/fortinet_fortiedr/data_stream/log/fields/fields.yml
  packages/fortinet_fortiedr/data_stream/log/manifest.yml
  packages/fortinet_fortiedr/data_stream/log/sample_event.json
  packages/fortinet_fortiedr/docs/README.md
  packages/fortinet_fortiedr/img/fortinet-logo.svg
  packages/fortinet_fortiedr/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#4514 cisco_duo: drop messages that hold no events
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/_dev/test/pipeline/test-empty.log
  packages/cisco_duo/data_stream/admin/_dev/test/pipeline/test-empty.log-expected.json
  packages/cisco_duo/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-empty.log
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-empty.log-expected.json
  packages/cisco_duo/data_stream/auth/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/offline_enrollment/_dev/test/pipeline/test-empty.log
  packages/cisco_duo/data_stream/offline_enrollment/_dev/test/pipeline/test-empty.log-expected.json
  packages/cisco_duo/data_stream/offline_enrollment/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/offline_enrollment/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/summary/_dev/test/pipeline/test-summary.log-expected.json
  packages/cisco_duo/data_stream/telephony/_dev/test/pipeline/test-empty.log
  packages/cisco_duo/data_stream/telephony/_dev/test/pipeline/test-empty.log-expected.json
  packages/cisco_duo/data_stream/telephony/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Cisco Duo

#4492 cisco_secure_email_gateway: improve error handling for log filepath
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/data_stream/log/sample_event.json
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, documentation, enhancement, Team:Security-External Integrations, Integration:Cisco

#4455 microsoft_dhcp: improve handling of client ID fields
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-log.log
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-logv6.log
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-logv6.log-expected.json
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/microsoft_dhcp/data_stream/log/sample_event.json
  packages/microsoft_dhcp/docs/README.md
  packages/microsoft_dhcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Microsoft_dhcp

#4520 Update Docs to rename Custom HTTPJSON to Custom API
  packages/httpjson/_dev/build/docs/README.md
  packages/httpjson/changelog.yml
  packages/httpjson/data_stream/generic/manifest.yml
  packages/httpjson/docs/README.md
  packages/httpjson/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3830 [cisco_ise] Typo: target_fields are reversed
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_policy_diagnostics.yml
  packages/cisco_ise/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoISE
