Repository elastic/integrations, pull requests merged in 2022-04, with the labels that each got.

#2940 [nagios] Add Nagios package with Events data stream
  .github/CODEOWNERS
  packages/nagios_xi/_dev/build/build.yml
  packages/nagios_xi/_dev/build/docs/README.md
  packages/nagios_xi/_dev/deploy/docker/docker-compose.yml
  packages/nagios_xi/_dev/deploy/docker/files/config.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/nagios_xi/data_stream/events/_dev/test/pipeline/test-events.log
  packages/nagios_xi/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/nagios_xi/data_stream/events/_dev/test/system/test-default-config.yml
  packages/nagios_xi/data_stream/events/agent/stream/stream.yml.hbs
  packages/nagios_xi/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/events/fields/base-fields.yml
  packages/nagios_xi/data_stream/events/fields/beats.yml
  packages/nagios_xi/data_stream/events/fields/ecs.yml
  packages/nagios_xi/data_stream/events/fields/fields.yml
  packages/nagios_xi/data_stream/events/manifest.yml
  packages/nagios_xi/data_stream/events/sample_event.json
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/img/nagios_xi-logo.svg
  packages/nagios_xi/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#2942 [nagios] Add Nagios package with Host data stream
  .github/CODEOWNERS
  packages/nagios_xi/_dev/build/docs/README.md
  packages/nagios_xi/_dev/deploy/docker/files/config.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-common-config.yml
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/nagios_xi/data_stream/host/_dev/test/system/test-default-config.yml
  packages/nagios_xi/data_stream/host/agent/stream/stream.yml.hbs
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/fields/base-fields.yml
  packages/nagios_xi/data_stream/host/fields/beats.yml
  packages/nagios_xi/data_stream/host/fields/ecs.yml
  packages/nagios_xi/data_stream/host/fields/fields.yml
  packages/nagios_xi/data_stream/host/manifest.yml
  packages/nagios_xi/data_stream/host/sample_event.json
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#2939 [apache_spark][nodes] Add Apache Spark package with Nodes data stream
  .github/CODEOWNERS
  packages/apache_spark/_dev/build/build.yml
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/_dev/deploy/docker/Dockerfile
  packages/apache_spark/_dev/deploy/docker/docker-compose.yml
  packages/apache_spark/_dev/deploy/docker/jolokia-configs/bigdata.ini
  packages/apache_spark/_dev/deploy/docker/jolokia-configs/jolokia-master.properties
  packages/apache_spark/_dev/deploy/docker/jolokia-configs/jolokia.policy
  packages/apache_spark/_dev/deploy/variants.yml
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/nodes/_dev/test/system/test-metric-config.yml
  packages/apache_spark/data_stream/nodes/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/nodes/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/nodes/fields/base-fields.yml
  packages/apache_spark/data_stream/nodes/fields/ecs.yml
  packages/apache_spark/data_stream/nodes/fields/fields.yml
  packages/apache_spark/data_stream/nodes/manifest.yml
  packages/apache_spark/data_stream/nodes/sample_event.json
  packages/apache_spark/docs/README.md
  packages/apache_spark/img/apache_spark-logo.svg
  packages/apache_spark/img/apache_spark-screenshot.png
  packages/apache_spark/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#2975 Fix mapping in linux/memory
  packages/linux/changelog.yml
  packages/linux/data_stream/memory/fields/fields.yml
  packages/linux/manifest.yml
Labels: bug, Team:Elastic-Agent-Data-Plane

#2994 [hashicorp_vault] Clarify dynamic mapping for hashicorp_vault.metrics
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/fields/ecs.yml
  packages/hashicorp_vault/data_stream/log/fields/ecs.yml
  packages/hashicorp_vault/data_stream/metrics/fields/ecs.yml
  packages/hashicorp_vault/data_stream/metrics/fields/fields.yml
  packages/hashicorp_vault/data_stream/metrics/manifest.yml
  packages/hashicorp_vault/docs/README.md
  packages/hashicorp_vault/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:HashicorpVault

#2952 [hadoop][application] Add application data stream for hadoop
  .github/CODEOWNERS
  packages/hadoop/_dev/build/build.yml
  packages/hadoop/_dev/build/docs/README.md
  packages/hadoop/_dev/deploy/docker/Dockerfile
  packages/hadoop/_dev/deploy/docker/docker-compose.yml
  packages/hadoop/_dev/deploy/docker/files/environment.sh
  packages/hadoop/_dev/deploy/docker/files/start.sh
  packages/hadoop/_dev/deploy/docker/files/wordcount.jar
  packages/hadoop/_dev/deploy/docker/files/yml/core-site.xml
  packages/hadoop/_dev/deploy/docker/files/yml/hdfs-site.xml
  packages/hadoop/_dev/deploy/docker/files/yml/mapred-site.xml
  packages/hadoop/_dev/deploy/docker/files/yml/yarn-site.xml
  packages/hadoop/_dev/deploy/variants.yml
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/_dev/test/pipeline/test-application-metrics.log
  packages/hadoop/data_stream/application/_dev/test/pipeline/test-application-metrics.log-expected.json
  packages/hadoop/data_stream/application/_dev/test/pipeline/test-common-config.yml
  packages/hadoop/data_stream/application/_dev/test/system/test-application-metrics-config.yml
  packages/hadoop/data_stream/application/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/application/fields/base-fields.yml
  packages/hadoop/data_stream/application/fields/beats.yml
  packages/hadoop/data_stream/application/fields/ecs.yml
  packages/hadoop/data_stream/application/fields/fields.yml
  packages/hadoop/data_stream/application/manifest.yml
  packages/hadoop/data_stream/application/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/img/hadoop-logo.svg
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Integrations, New Integration, Integration:Hadoop

#2912 [AWS] Add new pattern to support all 29 vpcflow fields
  packages/aws/_dev/build/docs/vpcflow.md
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-extra-samples.log-expected.json
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-v5-all-fields.log
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-v5-all-fields.log-expected.json
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpcflow/fields/ecs.yml
  packages/aws/data_stream/vpcflow/fields/fields.yml
  packages/aws/docs/vpcflow.md
  packages/aws/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AWS, Team:Cloud-Monitoring

#2926 [checkpoint] Add product link to readme
  packages/checkpoint/_dev/build/docs/README.md
  packages/checkpoint/changelog.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: Team:Security-External Integrations, Integration:Checkpoint

#2915 [cisco_secure_endpoint] Fix propagation of information from host.name
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/_dev/test/pipeline/test-cisco-amp8.log
  packages/cisco_secure_endpoint/data_stream/event/_dev/test/pipeline/test-cisco-amp8.log-expected.json
  packages/cisco_secure_endpoint/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_endpoint/data_stream/event/fields/ecs.yml
  packages/cisco_secure_endpoint/docs/README.md
  packages/cisco_secure_endpoint/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cisco

#2551 [cisco_ftd] Change observer type/name to idps/ftd
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoFTD

#3018 cisco,cisco_duo,cisco_ftd: fix event.outcome and event.type field values
  packages/cisco/changelog.yml
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-dap-records.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-hostnames.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco/data_stream/asa/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco/data_stream/asa/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco/data_stream/ftd/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco/data_stream/ftd/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/ios/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco/data_stream/ios/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/meraki/_dev/test/pipeline/test-generated.log-expected.json
  packages/cisco/data_stream/meraki/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/data_stream/nexus/elasticsearch/ingest_pipeline/default.yml
  packages/cisco/manifest.yml
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/_dev/test/pipeline/test-admin.log-expected.json
  packages/cisco_duo/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/offline_enrollment/_dev/test/pipeline/test-offline-enrollment.log-expected.json
  packages/cisco_duo/data_stream/offline_enrollment/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/summary/_dev/test/pipeline/test-summary.log-expected.json
  packages/cisco_duo/data_stream/summary/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/telephony/_dev/test/pipeline/test-telephony.log-expected.json
  packages/cisco_duo/data_stream/telephony/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/kibana/dashboard/cisco_duo-bd7d4870-0fbe-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-66ca2220-0fd0-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-f14ab7b0-0fd1-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cisco, integration:Cisco Duo

#3021 [cisco_duo] Add event.created mapping
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/fields/ecs.yml
  packages/cisco_duo/data_stream/auth/fields/ecs.yml
  packages/cisco_duo/data_stream/offline_enrollment/fields/ecs.yml
  packages/cisco_duo/data_stream/summary/fields/ecs.yml
  packages/cisco_duo/data_stream/telephony/fields/ecs.yml
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Cisco Duo

#3010 [okta]: Handle invalid values in client.ipAddress
  packages/okta/_dev/deploy/docker/docker-compose.yml
  packages/okta/_dev/deploy/docker/files/config.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-config.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta

#3022 Fix typo in ML supervised model Problem child package
  packages/problemchild/_dev/build/docs/README.md
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/manifest.yml
Labels: enhancement

#3042 Add event.created field mapping to TI packages
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/fields/ecs.yml
  packages/ti_abusech/data_stream/malware/sample_event.json
  packages/ti_abusech/data_stream/malwarebazaar/fields/ecs.yml
  packages/ti_abusech/data_stream/malwarebazaar/sample_event.json
  packages/ti_abusech/data_stream/url/fields/ecs.yml
  packages/ti_abusech/data_stream/url/sample_event.json
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/manifest.yml
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/limo/_dev/test/pipeline/test-anomali-limo-ndjson.log-expected.json
  packages/ti_anomali/data_stream/limo/fields/ecs.yml
  packages/ti_anomali/data_stream/limo/sample_event.json
  packages/ti_anomali/data_stream/threatstream/_dev/test/pipeline/test-anomali-threatstream.json-expected.json
  packages/ti_anomali/data_stream/threatstream/fields/ecs.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/fields/ecs.yml
  packages/ti_cybersixgill/data_stream/threat/sample_event.json
  packages/ti_cybersixgill/docs/README.md
  packages/ti_cybersixgill/manifest.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/fields/ecs.yml
  packages/ti_misp/data_stream/threat/sample_event.json
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-sample-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/fields/ecs.yml
  packages/ti_otx/data_stream/threat/sample_event.json
  packages/ti_otx/docs/README.md
  packages/ti_otx/manifest.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-domain-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-hash-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-ip-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/fields/ecs.yml
  packages/ti_recordedfuture/data_stream/threat/sample_event.json
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/manifest.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/fields/ecs.yml
  packages/ti_threatq/data_stream/threat/sample_event.json
  packages/ti_threatq/docs/README.md
  packages/ti_threatq/manifest.yml
Labels: Team:Security-External Integrations

#3030 [cisco_duo] Fix dashboards for 8.x
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/kibana/dashboard/cisco_duo-6b585210-0faa-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/dashboard/cisco_duo-a48b1130-0fb4-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/dashboard/cisco_duo-bd7d4870-0fbe-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/dashboard/cisco_duo-f2277ef0-0fd8-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/map/cisco_duo-158c0e80-148c-11ec-9386-31989719f9db.json
  packages/cisco_duo/kibana/visualization/cisco_duo-10edf670-1088-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-1952e300-1085-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-1b1c61d0-0fa8-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-1e9e23a0-0faa-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-2c710c70-0fbb-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-2e81b860-1089-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-315d3b40-0fdf-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-32c97410-0fa0-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-3c0a89a0-0fba-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-43e47440-0fb7-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-66ca2220-0fd0-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-6872e680-1088-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-692d5e20-0fde-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-7633dff0-0fd3-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-7a1ff1c0-0fd4-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-8342fad0-0fa8-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-8e8d9a00-0fd8-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-9818eda0-1063-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-c228b5c0-1087-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-d1ba6030-1085-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-dfdd2050-0fde-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-e2482680-0fd6-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-f14ab7b0-0fd1-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/kibana/visualization/cisco_duo-f7bdbe50-0fd9-11ec-8b4b-67126a72b1d4.json
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, dashboard, integration:Cisco Duo

#3059 Add new ecs fields to containerd integration
  packages/containerd/changelog.yml
  packages/containerd/data_stream/blkio/fields/ecs.yml
  packages/containerd/data_stream/cpu/fields/ecs.yml
  packages/containerd/data_stream/memory/fields/ecs.yml
  packages/containerd/docs/README.md
  packages/containerd/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3041 [cisco_ftd]: Set event.kind to alert when sha_disposition is malware or custom
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoFTD

#3029 add missing field kubernetes.volume.fs.inodes.pct to sample_event.json
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/volume/sample_event.json
  packages/kubernetes/docs/kubelet.md
  packages/kubernetes/manifest.yml
Labels: enhancement

#3035 checkpoint: Fix parsing error due to trailing spaces
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-trailing-space.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-trailing-space.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Checkpoint

#2971 Migrate AWS Fargate metrics module to package
  .github/CODEOWNERS
  packages/awsfargate/_dev/build/build.yml
  packages/awsfargate/_dev/build/docs/README.md
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/agent/stream/stream.yml.hbs
  packages/awsfargate/data_stream/task_stats/fields/base-fields.yml
  packages/awsfargate/data_stream/task_stats/fields/ecs.yml
  packages/awsfargate/data_stream/task_stats/fields/fields.yml
  packages/awsfargate/data_stream/task_stats/manifest.yml
  packages/awsfargate/data_stream/task_stats/sample_event.json
  packages/awsfargate/docs/README.md
  packages/awsfargate/img/logo_fargate.svg
  packages/awsfargate/img/metricbeat-awsfargate-overview.png
  packages/awsfargate/kibana/dashboard/awsfargate-20dc7c50-2e89-11eb-991c-c5fd3b7f5a63.json
  packages/awsfargate/kibana/lens/awsfargate-60941700-2e88-11eb-991c-c5fd3b7f5a63.json
  packages/awsfargate/kibana/lens/awsfargate-86720980-3966-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-8cf592f0-2e8e-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-a7970500-2e91-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-b1837e70-396f-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-c3952840-2e91-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-d3f3aa80-2e8d-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/visualization/awsfargate-38eee240-2e90-11eb-a417-f961313c14f6.json
  packages/awsfargate/manifest.yml
Labels: enhancement

#3065 Update Auth0 Readme
  packages/auth0/_dev/build/docs/README.md
  packages/auth0/changelog.yml
  packages/auth0/docs/README.md
  packages/auth0/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Auth0

#3083 [Cisco Secure Endpoint] adding fixes for pagination and host fields
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/cisco_secure_endpoint/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_endpoint/data_stream/event/fields/base-fields.yml
  packages/cisco_secure_endpoint/data_stream/event/fields/ecs.yml
  packages/cisco_secure_endpoint/data_stream/event/sample_event.json
  packages/cisco_secure_endpoint/docs/README.md
  packages/cisco_secure_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoSecureEndpoint

#3058 Update Microsoft SQL Server readme
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:microsoft_sqlserver

#3092 [Multiple Packages] adding change to forwarded tag template to multiple packages
  packages/1password/changelog.yml
  packages/1password/data_stream/item_usages/agent/stream/httpjson.yml.hbs
  packages/1password/data_stream/signin_attempts/agent/stream/httpjson.yml.hbs
  packages/1password/manifest.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/agent/stream/httpjson.yml.hbs
  packages/akamai/manifest.yml
  packages/cassandra/changelog.yml
  packages/cassandra/data_stream/log/agent/stream/log.yml.hbs
  packages/cassandra/manifest.yml
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/cisco_secure_endpoint/manifest.yml
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/agent/stream/tcp.yml.hbs
  packages/fireeye/data_stream/nx/agent/stream/udp.yml.hbs
  packages/fireeye/manifest.yml
  packages/github/changelog.yml
  packages/github/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/audit/fields/base-fields.yml
  packages/github/data_stream/audit/fields/ecs.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/snyk/data_stream/vulnerabilities/agent/stream/httpjson.yml.hbs
  packages/snyk/manifest.yml
Labels: bug, Team:Security-External Integrations, Team:Service-Integrations

#3079 [auditd]: set event.outcome value as per ECS specification
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log-expected.json
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/data_stream/log/sample_event.json
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Auditd

#3097 [Microsoft Defender Endpoint] Add support for custom azure resource
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/log/manifest.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Microsoft_defender_endpoint

#3094 panw: remove invalid field values from pipeline
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/traffic.yml
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#3095 o365: replace invalid field value from pipeline
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-sts-logon-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-parameter-string.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:o365

#3096 netflow: replace invalid field value
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json-expected.json
  packages/netflow/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/netflow/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Netflow

#3098 crowdstrike: move invalid field values
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-audit-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/remote_response_session_end.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/remote_response_session_start.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#3063 Update Atlassian Jira Readme
  packages/atlassian_jira/_dev/build/docs/README.md
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/docs/README.md
  packages/atlassian_jira/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:AtlassianJira

#3062 Update Atlassian Confluence Readme
  packages/atlassian_confluence/_dev/build/docs/README.md
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/docs/README.md
  packages/atlassian_confluence/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:AtlassianConfluence

#2977 Spring boot package [Audit events - data stream]
  .github/CODEOWNERS
  packages/spring_boot/_dev/build/build.yml
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/_dev/deploy/docker/Dockerfile
  packages/spring_boot/_dev/deploy/docker/docker-compose.yml
  packages/spring_boot/_dev/deploy/docker/spring_boot/mvnw
  packages/spring_boot/_dev/deploy/docker/spring_boot/mvnw.cmd
  packages/spring_boot/_dev/deploy/docker/spring_boot/pom.xml
  packages/spring_boot/_dev/deploy/docker/spring_boot/src/main/java/com/demo/actuator/ActuatorApplication.java
  packages/spring_boot/_dev/deploy/docker/spring_boot/src/main/java/com/demo/actuator/config/SecurityConfig.java
  packages/spring_boot/_dev/deploy/docker/spring_boot/src/main/java/com/demo/actuator/controller/RestApiController.java
  packages/spring_boot/_dev/deploy/docker/spring_boot/src/main/java/com/demo/actuator/health/HealthIndicator.java
  packages/spring_boot/_dev/deploy/docker/spring_boot/src/main/resources/application.properties
  packages/spring_boot/_dev/deploy/docker/spring_boot/src/main/resources/prometheus.yml
  packages/spring_boot/_dev/deploy/variants.yml
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/audit_events/_dev/test/pipeline/test-auditevent-metrics.log
  packages/spring_boot/data_stream/audit_events/_dev/test/pipeline/test-auditevent-metrics.log-expected.json
  packages/spring_boot/data_stream/audit_events/_dev/test/pipeline/test-common-config.yml
  packages/spring_boot/data_stream/audit_events/_dev/test/system/test-default-config.yml
  packages/spring_boot/data_stream/audit_events/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/audit_events/fields/base-fields.yml
  packages/spring_boot/data_stream/audit_events/fields/ecs.yml
  packages/spring_boot/data_stream/audit_events/fields/fields.yml
  packages/spring_boot/data_stream/audit_events/manifest.yml
  packages/spring_boot/data_stream/audit_events/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/img/spring_boot-logo.svg
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#3106 [carbon_black_cloud] Capture user domain from hostname and username field
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/carbon_black_cloud/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/alert/fields/ecs.yml
  packages/carbon_black_cloud/data_stream/alert/sample_event.json
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/sample_event.json
  packages/carbon_black_cloud/data_stream/audit/sample_event.json
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/fields/ecs.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/_dev/test/pipeline/test-watchlist-hit.log
  packages/carbon_black_cloud/data_stream/watchlist_hit/_dev/test/pipeline/test-watchlist-hit.log-expected.json
  packages/carbon_black_cloud/data_stream/watchlist_hit/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/fields/ecs.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CarbonBlackCloud

#3110 [netskope] Fix: dropping event due to new response from Netskope API.
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/alerts/fields/fields.yml
  packages/netskope/data_stream/alerts/sample_event.json
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/sample_event.json
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Netskope

#2956 Update containerd readme
  packages/containerd/_dev/build/docs/README.md
  packages/containerd/changelog.yml
  packages/containerd/docs/README.md
  packages/containerd/manifest.yml
Labels: documentation

#2163 [Sophos] Update Sophos pipelines for new fields
  packages/sophos/_dev/deploy/docker/docker-compose.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-common-config.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-generated.log-expected.json
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-common-config.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-cfilter-new.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-cfilter-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-event-new.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-event-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-firewall-new.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-firewall-new.log-expected.json
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antispam.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antivirus.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/atp.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/cfilter.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/event.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/firewall.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/idp.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/sandstorm.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/waf.yml
  packages/sophos/data_stream/xg/fields/ecs.yml
  packages/sophos/data_stream/xg/fields/fields.yml
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Sophos

#3078 [network_traffic] Add missing field mappings in DNS and TLS
  packages/network_traffic/_dev/deploy/docker/pcaps/tls-sample2.pcap
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/fields/ecs.yml
  packages/network_traffic/data_stream/dns/fields/ecs.yml
  packages/network_traffic/data_stream/http/fields/ecs.yml
  packages/network_traffic/data_stream/memcached/fields/ecs.yml
  packages/network_traffic/data_stream/nfs/fields/ecs.yml
  packages/network_traffic/data_stream/redis/fields/ecs.yml
  packages/network_traffic/data_stream/sip/fields/ecs.yml
  packages/network_traffic/data_stream/tls/_dev/test/system/test-tls-sample2-config.yml
  packages/network_traffic/data_stream/tls/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/tls/fields/ecs.yml
  packages/network_traffic/data_stream/tls/fields/protocol.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/kibana/search/network_traffic-8f0ff590-d37d-11e7-9914-4982455b3063.json
  packages/network_traffic/kibana/visualization/network_traffic-0958a910-d396-11e7-8fa0-232aa9259081.json
  packages/network_traffic/kibana/visualization/network_traffic-86743f90-d396-11e7-8fa0-232aa9259081.json
  packages/network_traffic/kibana/visualization/network_traffic-ae6e33c0-d37d-11e7-9914-4982455b3063.json
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#2978 Spring boot package [Httptrace - data stream]
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/http_trace/_dev/test/pipeline/test-common-config.yml
  packages/spring_boot/data_stream/http_trace/_dev/test/pipeline/test-httptrace-metrics.log
  packages/spring_boot/data_stream/http_trace/_dev/test/pipeline/test-httptrace-metrics.log-expected.json
  packages/spring_boot/data_stream/http_trace/_dev/test/system/test-default-config.yml
  packages/spring_boot/data_stream/http_trace/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/http_trace/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/http_trace/fields/base-fields.yml
  packages/spring_boot/data_stream/http_trace/fields/ecs.yml
  packages/spring_boot/data_stream/http_trace/fields/fields.yml
  packages/spring_boot/data_stream/http_trace/manifest.yml
  packages/spring_boot/data_stream/http_trace/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#3109 Improve AWS Fargate package information
  packages/awsfargate/img/awsfargate-integration-overview.png
  packages/awsfargate/img/metricbeat-awsfargate-overview.png
  packages/awsfargate/manifest.yml
Labels: enhancement, Integration:AWS

#3099 fireeye: move invalid field values
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/_dev/test/pipeline/test-common-config.yml
  packages/fireeye/data_stream/nx/_dev/test/pipeline/test-nx.log-expected.json
  packages/fireeye/data_stream/nx/elasticsearch/ingest_pipeline/default.yml
  packages/fireeye/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:FireEye

#3128 [o365]: Update PR link in changelog
  packages/o365/changelog.yml
Labels: bug, Team:Security-External Integrations, Integration:o365

#3130 [awsfargate] bump package version
  packages/awsfargate/changelog.yml
  packages/awsfargate/manifest.yml
Labels: enhancement

#3140 [google_workspace} Fix pagination bug that skipped events when more than one page is present
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/drive/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/groups/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/login/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/saml/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/user_accounts/agent/stream/httpjson.yml.hbs
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Google Workspace

#3146 [cisco_asa] fix visualizations
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/kibana/search/cisco_asa-14fce5e0-498f-11e9-b8ce-ed898b5ef295.json
  packages/cisco_asa/kibana/search/cisco_asa-753406e0-4986-11e9-b8ce-ed898b5ef295.json
  packages/cisco_asa/kibana/search/cisco_asa-96c6ff60-4986-11e9-b8ce-ed898b5ef295.json
  packages/cisco_asa/kibana/visualization/cisco_asa-fd89b1e0-49a2-11e9-b8ce-ed898b5ef295.json
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations

#3127 [sophos] Various improvements and log samples from 18.5
  packages/sophos/_dev/build/docs/README.md
  packages/sophos/changelog.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-spam.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-spam.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-ftp.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-ftp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-smtp.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-smtp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-web.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-web.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-atp-firewall.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-atp-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-authentication.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-authentication.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-content-filtering-http.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-content-filtering-http.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-content-filtering-web-content-policy.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-content-filtering-web-content-policy.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-firewall.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-idp.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-idp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-sandstorm.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-sandstorm.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-systemhealth.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-systemhealth.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-wireless.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-wireless.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-cfilter-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-event-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-firewall-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/system/test-logfile-config.yml
  packages/sophos/data_stream/xg/_dev/test/system/test-tcp-config.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antispam.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antivirus.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/atp.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/cfilter.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/event.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/firewall.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/idp.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/sandstorm.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/systemhealth.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/waf.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/wifi.yml
  packages/sophos/data_stream/xg/fields/agent.yml
  packages/sophos/data_stream/xg/fields/ecs.yml
  packages/sophos/data_stream/xg/fields/fields.yml
  packages/sophos/data_stream/xg/sample_event.json
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Sophos

#3117 cisco_duo: fix handling of IP addresses with port numbers
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-common-config.yml
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/auth/fields/ecs.yml
  packages/cisco_duo/data_stream/auth/fields/fields.yml
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Cisco Duo

#3170 cisco_duo: simplify grok expression for handling ports
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/manifest.yml
Labels: enhancement, Team:Security-External Integrations, integration:Cisco Duo

#2945 [apache_spark][driver] Add Apache Spark package with Driver data stream
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/_dev/deploy/docker/application/wordcount.py
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/driver/_dev/test/system/test-metric-config.yml
  packages/apache_spark/data_stream/driver/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/driver/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/driver/fields/base-fields.yml
  packages/apache_spark/data_stream/driver/fields/ecs.yml
  packages/apache_spark/data_stream/driver/fields/fields.yml
  packages/apache_spark/data_stream/driver/manifest.yml
  packages/apache_spark/data_stream/driver/sample_event.json
  packages/apache_spark/docs/README.md
Labels: enhancement, Team:Integrations, New Integration

#2943 [apache_spark][executor] Add Apache Spark package with Executor data stream
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/executor/_dev/test/system/test-metric-config.yml
  packages/apache_spark/data_stream/executor/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/executor/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/executor/fields/base-fields.yml
  packages/apache_spark/data_stream/executor/fields/ecs.yml
  packages/apache_spark/data_stream/executor/fields/fields.yml
  packages/apache_spark/data_stream/executor/manifest.yml
  packages/apache_spark/data_stream/executor/sample_event.json
  packages/apache_spark/docs/README.md
Labels: enhancement, Team:Integrations, New Integration, integration:ApacheSpark

#2979 Spring boot package [Memory - data stream]
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/memory/_dev/test/system/test-default-config.yml
  packages/spring_boot/data_stream/memory/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/memory/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/memory/fields/base-fields.yml
  packages/spring_boot/data_stream/memory/fields/ecs.yml
  packages/spring_boot/data_stream/memory/fields/fields.yml
  packages/spring_boot/data_stream/memory/manifest.yml
  packages/spring_boot/data_stream/memory/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#2804 Update cef to ECS 8.2
  packages/cef/_dev/build/build.yml
  packages/cef/_dev/build/docs/README.md
  packages/cef/changelog.yml
  packages/cef/data_stream/log/_dev/test/pipeline/test-cef.json-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-checkpoint.json-expected.json
  packages/cef/data_stream/log/_dev/test/pipeline/test-fp-ngfw-smc.json-expected.json
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/cp-pipeline.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cef/data_stream/log/fields/ecs.yml
  packages/cef/data_stream/log/sample_event.json
  packages/cef/docs/README.md
  packages/cef/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CEF

#2803 Update checkpoint to ECS 8.2
  packages/checkpoint/_dev/build/build.yml
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-trailing-space.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/ecs.yml
  packages/checkpoint/data_stream/firewall/sample_event.json
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#2800 Update fortinet to ECS 8.2
  packages/fortinet/_dev/build/build.yml
  packages/fortinet/changelog.yml
  packages/fortinet/data_stream/clientendpoint/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/clientendpoint/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/clientendpoint/sample_event.json
  packages/fortinet/data_stream/firewall/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet/data_stream/firewall/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet/data_stream/firewall/fields/ecs.yml
  packages/fortinet/data_stream/firewall/sample_event.json
  packages/fortinet/data_stream/fortimail/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/fortimail/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/fortimail/sample_event.json
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet/data_stream/fortimanager/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet/data_stream/fortimanager/sample_event.json
  packages/fortinet/docs/README.md
  packages/fortinet/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#2799 Update panw_cortex_xdr to ECS 8.2
  packages/panw_cortex_xdr/_dev/build/build.yml
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr-bioc.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/alerts/fields/ecs.yml
  packages/panw_cortex_xdr/data_stream/alerts/sample_event.json
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PanwCortexXDR

#3181 [m365_defender] Fix mapping for comments field and add missing fields
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/fields/fields.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:M365_Defender

#2798 Update sophos to ECS 8.2
  packages/sophos/_dev/build/build.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-generated.log-expected.json
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/utm/sample_event.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-spam.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-ftp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-smtp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-anti-virus-web.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-atp-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-authentication.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-content-filtering-http.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-content-filtering-web-content-policy.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-idp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-sandstorm.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-systemhealth.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18.5-wireless.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-cfilter-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-event-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-firewall-new.log-expected.json
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antispam.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antivirus.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/fields/ecs.yml
  packages/sophos/data_stream/xg/sample_event.json
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Sophos

#3116 [mimecast] add geo.ip support for siem logs, keep email.drection lowc…
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/data_stream/dlp_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/dlp_logs/sample_event.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/fields/ecs.yml
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_customer/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_grid/sample_event.json
  packages/mimecast/data_stream/ttp_ap_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ip_logs/sample_event.json
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log-expected.json
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/fields/ecs.yml
  packages/mimecast/data_stream/ttp_url_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mimecast

#3190 Update cloud security posture README
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#3126 [ci][terraform][aws] tags with metadata
  .ci/Jenkinsfile
  packages/aws/data_stream/ec2_metrics/_dev/deploy/tf/main.tf
  packages/aws/data_stream/ec2_metrics/_dev/deploy/tf/variables.tf
Labels: Team:Automation, automation

#3143 Add File Integrity Monitoring package
  .github/CODEOWNERS
  packages/fim/_dev/build/build.yml
  packages/fim/_dev/build/docs/README.md
  packages/fim/_dev/deploy/docker/docker-compose.yml
  packages/fim/_dev/deploy/docker/run.sh
  packages/fim/changelog.yml
  packages/fim/data_stream/event/_dev/test/system/test-common-config.yml
  packages/fim/data_stream/event/agent/stream/file_integrity.yml.hbs
  packages/fim/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/fim/data_stream/event/fields/agent.yml
  packages/fim/data_stream/event/fields/base-fields.yml
  packages/fim/data_stream/event/fields/ecs.yml
  packages/fim/data_stream/event/fields/package-fields.yml
  packages/fim/data_stream/event/manifest.yml
  packages/fim/data_stream/event/sample_event.json
  packages/fim/docs/README.md
  packages/fim/img/sample-logo.svg
  packages/fim/manifest.yml
Labels: Team:Security-External Integrations, New Integration, 8.3-candidate, 8.3 candidate

#3192 [aws] Fix cloudfront integration grok pattern
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log-expected.json
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#3196 [Carbon Black Cloud] Update the title of CBC connector.
  packages/carbon_black_cloud/_dev/build/docs/README.md
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CarbonBlackCloud

#3193 [mimecast] Cleanup field mappings and package description
  packages/mimecast/_dev/build/docs/README.md
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/fields/ecs.yml
  packages/mimecast/data_stream/dlp_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/dlp_logs/fields/ecs.yml
  packages/mimecast/data_stream/dlp_logs/fields/field.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/fields/ecs.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/fields/ecs.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/fields/ecs.yml
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/pipeline/test-ttp-ap-logs.log-expected.json
  packages/mimecast/data_stream/ttp_ap_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ap_logs/fields/ecs.yml
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ip_logs/fields/ecs.yml
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log-expected.json
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/fields/ecs.yml
  packages/mimecast/docs/README.md
  packages/mimecast/kibana/search/mimecast-9749a210-3e4a-11ec-80fa-4dfb04910642.json
  packages/mimecast/manifest.yml
Labels: Team:Security-External Integrations, Integration:Mimecast

#3187 [Cloudflare] Add _id field to LogPull data_stream
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log-expected.json
  packages/cloudflare/data_stream/logpull/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cloudflare

#3197 [nagios_xi] 3046: ECS Schema adherence for Nagios-XI fields
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/nagios_xi/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/events/sample_event.json
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/sample_event.json
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/manifest.yml
Labels: Integration:NagiosXI

#2981 Spring boot package [Threads - data stream]
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/threading/_dev/test/system/test-default-config.yml
  packages/spring_boot/data_stream/threading/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/threading/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/threading/fields/base-fields.yml
  packages/spring_boot/data_stream/threading/fields/ecs.yml
  packages/spring_boot/data_stream/threading/fields/fields.yml
  packages/spring_boot/data_stream/threading/manifest.yml
  packages/spring_boot/data_stream/threading/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#3207 Cloud sec posture readme
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#3137 update Kibana readme
  packages/kibana/_dev/build/docs/README.md
  packages/kibana/changelog.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: documentation, enhancement

#3061 Update Atlassian Bitbucket Readme
  packages/atlassian_bitbucket/_dev/build/docs/README.md
  packages/atlassian_bitbucket/changelog.yml
  packages/atlassian_bitbucket/docs/README.md
  packages/atlassian_bitbucket/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:AtlassianBitBucket

#2929 Update cisco-duo readme
  packages/cisco_duo/_dev/build/docs/README.md
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
Labels: documentation, Team:Security-External Integrations, integration:Cisco Duo

#2934 Update cisco_nexus readme
  packages/cisco_nexus/_dev/build/docs/README.md
  packages/cisco_nexus/changelog.yml
  packages/cisco_nexus/docs/README.md
  packages/cisco_nexus/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:CiscoNexus

#3213 [zoom] Fix content-type handling
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/agent/stream/http_endpoint.yml.hbs
  packages/zoom/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Zoom

#3183 [Cloud Posture] Add latest findings data view
  packages/cis_kubernetes_benchmark/kibana/index_pattern/cloud_security_posture-303eea10-c475-11ec-af18-c5b9b437dbbe.json
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-303eea10-c475-11ec-af18-c5b9b437dbbe.json
Labels: enhancement, Team:Cloud Security Posture

#2982 Spring boot package [GC - data stream]
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/_dev/deploy/docker/Dockerfile
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/gc/_dev/test/system/test-default-config.yml
  packages/spring_boot/data_stream/gc/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/gc/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/gc/fields/base-fields.yml
  packages/spring_boot/data_stream/gc/fields/ecs.yml
  packages/spring_boot/data_stream/gc/fields/fields.yml
  packages/spring_boot/data_stream/gc/manifest.yml
  packages/spring_boot/data_stream/gc/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#3206 [gcp] Clarify service account privileges
  packages/gcp/_dev/build/docs/README.md
  packages/gcp/changelog.yml
  packages/gcp/docs/README.md
  packages/gcp/manifest.yml
Labels: Team:Security-External Integrations, Integration:GCP

#3129 [infoblox_nios] Add Infoblox NIOS package
  .github/CODEOWNERS
  packages/infoblox_nios/_dev/build/build.yml
  packages/infoblox_nios/_dev/build/docs/README.md
  packages/infoblox_nios/_dev/deploy/docker/docker-compose.yml
  packages/infoblox_nios/_dev/deploy/docker/sample_logs/log.log
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/infoblox_nios/data_stream/log/agent/stream/tcp.yml.hbs
  packages/infoblox_nios/data_stream/log/agent/stream/udp.yml.hbs
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/data_stream/log/fields/agent.yml
  packages/infoblox_nios/data_stream/log/fields/base-fields.yml
  packages/infoblox_nios/data_stream/log/fields/ecs.yml
  packages/infoblox_nios/data_stream/log/fields/fields.yml
  packages/infoblox_nios/data_stream/log/manifest.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/img/infoblox-logo.svg
  packages/infoblox_nios/img/infoblox-nios-screenshot.png
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-27c573b0-b4d8-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-c3abc8b0-b4dd-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-f8d86480-b4c9-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-47a3afb0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-4d682070-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-52a20470-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-5bde4960-bee7-11ec-a230-b1548ff82828.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-63ad1d90-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-69c26d70-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-710eddc0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-771b5400-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-7ce4a6c0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-b1504c70-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-e2809d40-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/lens/infoblox_nios-ee190f20-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-4559ff50-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-5cc295e0-b4d6-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-7103abb0-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-71f7a570-b4dd-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-854739b0-b735-11ec-8ec2-49017af276c3.json
  packages/infoblox_nios/kibana/search/infoblox_nios-8d55bb50-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-b3b496f0-b4e5-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-f3899090-b4d7-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-b9dd7a20-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-be579090-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-c5a9cd40-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/visualization/infoblox_nios-ce5187d0-b57a-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/manifest.yml
Labels: Team:Security-External Integrations, Integration:Infoblox, New Integration

#3057 Update Crowdstrike Readme
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Crowdstrike

#2962 [windows] Support for Sysmon Registry non-QWORD/DWORD events
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/sample_event.json
  packages/windows/data_stream/powershell/sample_event.json
  packages/windows/data_stream/powershell_operational/sample_event.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Integrations, Team:Security-External Integrations, Integration:Windows

#3228 [Cloudflare]: update documentation
  packages/cloudflare/_dev/build/docs/README.md
  packages/cloudflare/changelog.yml
  packages/cloudflare/docs/README.md
  packages/cloudflare/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Cloudflare

#3226 Fix duplicate titles in AWS integration
  packages/aws/changelog.yml
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring
