Repository elastic/integrations, pull requests merged in 2022-05, with the labels that each got.

#3244 symantec_endpoint: use valid ECS values for fields
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-administrative.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-activity.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-behavior.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-packet.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-proactive-detection-sonar.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-risk.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-scan.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-security.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-system.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-traffic.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-policy.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-remove-mapped-fields.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-rfc3164.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-rfc5424.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-system.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-text-log-dump.log-expected.json
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Symantec-Endpoint

#3243 zeek/kerberos: use valid ECS values for fields
  packages/zeek/changelog.yml
  packages/zeek/data_stream/kerberos/_dev/test/pipeline/test-kerberos.log-expected.json
  packages/zeek/data_stream/kerberos/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Zeek

#2830 Add dedot to templates
  packages/docker/changelog.yml
  packages/docker/data_stream/container/agent/stream/stream.yml.hbs
  packages/docker/data_stream/cpu/agent/stream/stream.yml.hbs
  packages/docker/data_stream/diskio/agent/stream/stream.yml.hbs
  packages/docker/data_stream/event/agent/stream/stream.yml.hbs
  packages/docker/data_stream/healthcheck/agent/stream/stream.yml.hbs
  packages/docker/data_stream/image/agent/stream/stream.yml.hbs
  packages/docker/data_stream/memory/agent/stream/stream.yml.hbs
  packages/docker/data_stream/network/agent/stream/stream.yml.hbs
  packages/docker/manifest.yml
Labels: bug, Team:Elastic-Agent-Data-Plane

#2931 update Cisco FTD readme
  packages/cisco_ftd/_dev/build/docs/README.md
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:CiscoFTD

#3245 1password: change name of package "1Password Event Reporting" => "1Password"
  packages/1password/_dev/build/docs/README.md
  packages/1password/changelog.yml
  packages/1password/docs/README.md
  packages/1password/kibana/dashboard/1password-item-usages-full-dashboard.json
  packages/1password/kibana/dashboard/1password-signin-attempts-full-dashboard.json
  packages/1password/kibana/map/1password-item-usages-source-IPs-map.json
  packages/1password/kibana/map/1password-signin-attempts-source-IPs-map.json
  packages/1password/kibana/search/1password-all-events.json
  packages/1password/kibana/search/1password-item-usages.json
  packages/1password/kibana/search/1password-signin-attempts.json
  packages/1password/kibana/visualization/1password-item-usages-hot-items.json
  packages/1password/kibana/visualization/1password-item-usages-hot-users.json
  packages/1password/kibana/visualization/1password-item-usages-hot-vaults.json
  packages/1password/kibana/visualization/1password-item-usages-over-time.json
  packages/1password/kibana/visualization/1password-signin-attempts-categories-over-time.json
  packages/1password/kibana/visualization/1password-signin-attempts-count-over-time.json
  packages/1password/kibana/visualization/1password-signin-attempts-failed-gauge.json
  packages/1password/kibana/visualization/1password-signin-attempts-hot-users.json
  packages/1password/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:1Password

#2953 [hadoop][cluster_metrics] Add cluster_metrics data stream for hadoop
  packages/hadoop/_dev/build/docs/README.md
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/_dev/test/pipeline/test-application-metrics.log-expected.json
  packages/hadoop/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/application/sample_event.json
  packages/hadoop/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json
  packages/hadoop/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json-expected.json
  packages/hadoop/data_stream/cluster/_dev/test/system/test-cluster-metrics-config.yml
  packages/hadoop/data_stream/cluster/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/cluster/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/cluster/elasticsearch/ingest_pipeline/pipeline-cluster.yml
  packages/hadoop/data_stream/cluster/elasticsearch/ingest_pipeline/pipeline-expanded-cluster.yml
  packages/hadoop/data_stream/cluster/fields/base-fields.yml
  packages/hadoop/data_stream/cluster/fields/ecs.yml
  packages/hadoop/data_stream/cluster/fields/fields.yml
  packages/hadoop/data_stream/cluster/manifest.yml
  packages/hadoop/data_stream/cluster/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Integrations, New Integration, Integration:Hadoop

#3246 auditd: migrate tile_map to map object
  packages/auditd/changelog.yml
  packages/auditd/kibana/dashboard/auditd-dfbb49f0-0a0f-11e7-8a62-2d05eaaac5cb.json
  packages/auditd/kibana/search/auditd-4ac0a370-0a11-11e7-8b04-eb22a5669f27.json
  packages/auditd/kibana/visualization/auditd-2bb0fa70-0a11-11e7-9e84-43da493ad0c7.json
  packages/auditd/kibana/visualization/auditd-5ebdbe50-0a0f-11e7-825f-6748cda7d858.json
  packages/auditd/kibana/visualization/auditd-6295bdd0-0a0e-11e7-825f-6748cda7d858.json
  packages/auditd/kibana/visualization/auditd-c5411910-0a87-11e7-8b04-eb22a5669f27.json
  packages/auditd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Auditd

#2954 [hadoop][datanode] Add datanode data stream for hadoop
  packages/hadoop/_dev/build/docs/README.md
  packages/hadoop/_dev/deploy/docker/Dockerfile
  packages/hadoop/_dev/deploy/docker/docker-compose.yml
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/datanode/_dev/test/pipeline/test-datanode-metrics.json
  packages/hadoop/data_stream/datanode/_dev/test/pipeline/test-datanode-metrics.json-expected.json
  packages/hadoop/data_stream/datanode/_dev/test/system/test-datanode-config.yml
  packages/hadoop/data_stream/datanode/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/datanode/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/datanode/elasticsearch/ingest_pipeline/pipeline-dataset.yml
  packages/hadoop/data_stream/datanode/elasticsearch/ingest_pipeline/pipeline-dfs.yml
  packages/hadoop/data_stream/datanode/fields/base-fields.yml
  packages/hadoop/data_stream/datanode/fields/ecs.yml
  packages/hadoop/data_stream/datanode/fields/fields.yml
  packages/hadoop/data_stream/datanode/manifest.yml
  packages/hadoop/data_stream/datanode/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Integrations, New Integration, Integration:Hadoop

#3256 [httpjson] Adds missing option for Google Oauth2
  packages/httpjson/changelog.yml
  packages/httpjson/data_stream/generic/agent/stream/httpjson.yml.hbs
  packages/httpjson/data_stream/generic/manifest.yml
  packages/httpjson/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:httpjson

#2985 Spring boot package [Dashboards for all data streams]
  packages/spring_boot/changelog.yml
  packages/spring_boot/img/spring_boot-access_logs-dashboard.png
  packages/spring_boot/img/spring_boot-audit_events-dashboard.png
  packages/spring_boot/img/spring_boot-memory-threading-dashboard.png
  packages/spring_boot/img/spring_boot-overview-dashboard.png
  packages/spring_boot/kibana/dashboard/spring_boot-6fe11330-c7f1-11ec-986a-f1e84447fd00.json
  packages/spring_boot/kibana/dashboard/spring_boot-6fe782d0-ca15-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/dashboard/spring_boot-c89e1510-ca15-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/dashboard/spring_boot-e8507040-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/kibana/lens/spring_boot-0f481600-ca11-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-12228630-ca11-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-4a05b120-c9ea-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-5240dfb0-ca15-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-a41702e0-c7f1-11ec-986a-f1e84447fd00.json
  packages/spring_boot/kibana/lens/spring_boot-a676b6b0-ca13-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-aa0c95c0-c7f1-11ec-986a-f1e84447fd00.json
  packages/spring_boot/kibana/lens/spring_boot-aefe6620-ca13-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-e9033ff0-c9e9-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-fae00cb0-ca04-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/visualization/spring_boot-59120f10-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/kibana/visualization/spring_boot-5c2d31c0-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/kibana/visualization/spring_boot-8cc86e80-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Integrations, New Integration

#3241 Send dataYaml (Rules Activation YAML) to Agent
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/stream.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#3254 Add skip_major option to docker/diskio
  packages/docker/changelog.yml
  packages/docker/data_stream/diskio/agent/stream/stream.yml.hbs
  packages/docker/data_stream/diskio/manifest.yml
  packages/docker/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane

#3280 [gcp] Add firewall and vpc_flow dashboard
  packages/gcp/_dev/deploy/docker/docker-compose.yml
  packages/gcp/_dev/deploy/docker/sample_logs/dns.log
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/fields/agent.yml
  packages/gcp/data_stream/audit/fields/ecs.yml
  packages/gcp/data_stream/dns/_dev/test/system/test-pubsub-config.yml
  packages/gcp/data_stream/dns/fields/ecs.yml
  packages/gcp/data_stream/firewall/fields/agent.yml
  packages/gcp/data_stream/firewall/fields/ecs.yml
  packages/gcp/data_stream/vpcflow/fields/agent.yml
  packages/gcp/data_stream/vpcflow/fields/ecs.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/docs/dns.md
  packages/gcp/docs/firewall.md
  packages/gcp/docs/vpcflow.md
  packages/gcp/kibana/dashboard/gcp-48e12760-cbe4-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-6576c480-73a2-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/dashboard/gcp-8a1fb690-cbeb-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-9484a4cd-685f-450e-aeaa-728fbdbea20f.json
  packages/gcp/kibana/map/gcp-a97de660-73a5-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/search/gcp-d88364c0-73a1-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/tag/gcp-e1a359e5-543d-44c2-ab81-628138719e28.json
  packages/gcp/kibana/visualization/gcp-33ee1320-73a5-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/visualization/gcp-4627efa0-73a2-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/visualization/gcp-6d90d320-73a4-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/visualization/gcp-a8e40240-73a3-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/visualization/gcp-eb5bf570-73a2-11ea-a345-f985c61fe654.json
  packages/gcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:GCP

#3253 Fix aws.dimensions.* for rds data stream
  packages/aws/changelog.yml
  packages/aws/data_stream/dynamodb/fields/fields.yml
  packages/aws/data_stream/rds/fields/fields.yml
  packages/aws/data_stream/rds/sample_event.json
  packages/aws/data_stream/sns/fields/fields.yml
  packages/aws/docs/dynamodb.md
  packages/aws/docs/rds.md
  packages/aws/docs/sns.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#3286 [infoblox] Mark package as deprecated
  packages/infoblox/changelog.yml
  packages/infoblox/docs/README.md
  packages/infoblox/manifest.yml
Labels: Team:Security-External Integrations, Integration:Infoblox

#2944 [nagios_xi] Add Nagios package with Service data stream
  packages/nagios_xi/_dev/build/docs/README.md
  packages/nagios_xi/_dev/deploy/docker/files/config.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/service/_dev/test/pipeline/test-common-config.yml
  packages/nagios_xi/data_stream/service/_dev/test/pipeline/test-service.log
  packages/nagios_xi/data_stream/service/_dev/test/pipeline/test-service.log-expected.json
  packages/nagios_xi/data_stream/service/_dev/test/system/test-default-config.yml
  packages/nagios_xi/data_stream/service/agent/stream/stream.yml.hbs
  packages/nagios_xi/data_stream/service/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/service/fields/base-fields.yml
  packages/nagios_xi/data_stream/service/fields/beats.yml
  packages/nagios_xi/data_stream/service/fields/ecs.yml
  packages/nagios_xi/data_stream/service/fields/fields.yml
  packages/nagios_xi/data_stream/service/manifest.yml
  packages/nagios_xi/data_stream/service/sample_event.json
  packages/nagios_xi/docs/README.md
Labels: enhancement, Team:Integrations, New Integration, Integration:NagiosXI

#3070 [apache_spark][node] Change naming convention of the node data stream
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/node/_dev/test/system/test-metric-config.yml
  packages/apache_spark/data_stream/node/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/node/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/node/fields/base-fields.yml
  packages/apache_spark/data_stream/node/fields/ecs.yml
  packages/apache_spark/data_stream/node/fields/fields.yml
  packages/apache_spark/data_stream/node/manifest.yml
  packages/apache_spark/data_stream/node/sample_event.json
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: enhancement, Team:Integrations, integration:ApacheSpark

#3020 [apache spark] Add visualizations and dashboard
  packages/apache_spark/changelog.yml
  packages/apache_spark/img/apache_spark-screenshot.png
  packages/apache_spark/kibana/dashboard/apache_spark-b22dc960-a06c-11ec-8d4f-4fe3367a4156.json
  packages/apache_spark/kibana/lens/apache_spark-114428e0-c165-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/lens/apache_spark-478726a0-c165-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-038c1de0-9ee0-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-0d0a4860-c168-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-10522390-c16c-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-10f948c0-c15b-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-1d1ea920-a071-11ec-8d4f-4fe3367a4156.json
  packages/apache_spark/kibana/visualization/apache_spark-42b321a0-c16b-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-4d0b8bb0-c166-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-70133b20-c16c-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-82bf49c0-9ee0-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-87ee0d60-9ee4-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-901fda60-c16f-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-96a00df0-c157-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-a6bac910-c156-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-afe0b3f0-9ede-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-b0cb2c40-9ee4-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-c600fe80-c16e-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-d7fb12e0-c16b-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-fc61b710-c166-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/manifest.yml
Labels: enhancement, Team:Integrations, integration:ApacheSpark

#3009 [nagios_xi] Add dashboards
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/sample_event.json
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/sample_event.json
  packages/nagios_xi/data_stream/service/_dev/test/pipeline/test-service.log-expected.json
  packages/nagios_xi/data_stream/service/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/service/sample_event.json
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/img/nagios_xi-events-dashboard-screenshot.png
  packages/nagios_xi/img/nagios_xi-host-dashboard-screenshot.png
  packages/nagios_xi/img/nagios_xi-overview-dashboard-screenshot.png
  packages/nagios_xi/img/nagios_xi-service-dashboard-screenshot.png
  packages/nagios_xi/kibana/dashboard/nagios_xi-3a61d470-a0fe-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9c265030-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9f8b2710-af64-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-d56317e0-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-160cc860-afe9-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-28e038b0-a133-11ec-9990-f1d1ce00d46d.json
  packages/nagios_xi/kibana/lens/nagios_xi-5993dab0-af71-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-5ae30940-af6c-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-6b0328b0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-6cfcf2f0-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-76083ee0-b0af-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/lens/nagios_xi-7afb9950-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-7ed96fc0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-8f926310-b03a-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-94eaa480-b03a-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-9e3ac090-a132-11ec-9990-f1d1ce00d46d.json
  packages/nagios_xi/kibana/lens/nagios_xi-a2bf8000-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-a9316ed0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-ae575830-b01e-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-b6e1a520-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-b84bbc20-b0d0-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/lens/nagios_xi-d87c9200-b01f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-e3f8f220-b0a8-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/search/nagios_xi-d26d3d60-a0fc-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/visualization/nagios_xi-3ca51f30-b01c-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/visualization/nagios_xi-8232e9a0-b036-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/manifest.yml
Labels: Team:Service-Integrations, Integration:NagiosXI

#2741 [Kafka] New custom input package
  .github/CODEOWNERS
  packages/kafka_log/_dev/build/build.yml
  packages/kafka_log/_dev/build/docs/README.md
  packages/kafka_log/_dev/deploy/docker/docker-compose.yml
  packages/kafka_log/_dev/deploy/docker/sample_logs/testdata.log
  packages/kafka_log/changelog.yml
  packages/kafka_log/data_stream/generic/_dev/test/system/test-kafka-config.yml
  packages/kafka_log/data_stream/generic/agent/stream/kafka.yml.hbs
  packages/kafka_log/data_stream/generic/fields/base-fields.yml
  packages/kafka_log/data_stream/generic/fields/ecs.yml
  packages/kafka_log/data_stream/generic/fields/fields.yml
  packages/kafka_log/data_stream/generic/manifest.yml
  packages/kafka_log/data_stream/generic/sample_event.json
  packages/kafka_log/docs/README.md
  packages/kafka_log/img/logo_kafka.svg
  packages/kafka_log/manifest.yml
Labels: enhancement, Team:Integrations, Team:Security-External Integrations, Integration:Kafka_Log

#2735 [Filestream] New Input package
  .github/CODEOWNERS
  packages/filestream/_dev/build/build.yml
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/_dev/deploy/docker/docker-compose.yml
  packages/filestream/_dev/deploy/docker/sample_logs/test-filestream.log
  packages/filestream/changelog.yml
  packages/filestream/data_stream/generic/_dev/test/system/test-filestream-config.yml
  packages/filestream/data_stream/generic/agent/stream/filestream.yml.hbs
  packages/filestream/data_stream/generic/fields/base-fields.yml
  packages/filestream/data_stream/generic/fields/beats.yml
  packages/filestream/data_stream/generic/fields/ecs.yml
  packages/filestream/data_stream/generic/manifest.yml
  packages/filestream/data_stream/generic/sample_event.json
  packages/filestream/docs/README.md
  packages/filestream/img/icon.svg
  packages/filestream/manifest.yml
Labels: Team:Integrations, Team:Security-External Integrations

#3284 3276 metrics-elastic_agent mapping system.process.cpu.total.time.ms as a date
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: bug, Integration:Elastic-Agent, Team:Elastic-Agent-Control-Plane, v8.3.0

#3283 [windows] Drop unset fields in sysmon_operational data stream
  packages/windows/changelog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: bug, Team:Integrations, Team:Security-External Integrations, Integration:Windows

#3285 [aws] Fix http.response.status_code to accept 000
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log-expected.json
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3300 [microsoft_dhcp] Format observer.mac per ECS
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/data_stream/log/fields/ecs.yml
  packages/microsoft_dhcp/data_stream/log/sample_event.json
  packages/microsoft_dhcp/docs/README.md
  packages/microsoft_dhcp/manifest.yml
Labels: Team:Security-External Integrations, Integration:Microsoft_dhcp

#3301 [snort] Format {source,destination}.mac per ECS
  packages/snort/_dev/deploy/docker/docker-compose.yml
  packages/snort/changelog.yml
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-csv.log-expected.json
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/snort/data_stream/log/fields/agent.yml
  packages/snort/data_stream/log/fields/ecs.yml
  packages/snort/data_stream/log/sample_event.json
  packages/snort/docs/README.md
  packages/snort/manifest.yml
Labels: Team:Security-External Integrations, Integration:Snort

#3303 [pfsense] Format client.mac per ECS
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-dhcp.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/pfsense/data_stream/log/fields/ecs.yml
  packages/pfsense/data_stream/log/fields/fields.yml
  packages/pfsense/data_stream/log/sample_event.json
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: Team:Security-External Integrations, Integration:pfSense

#2955 [hadoop][namenode] Add namenode data stream for hadoop
  packages/hadoop/_dev/build/docs/README.md
  packages/hadoop/_dev/deploy/docker/Dockerfile
  packages/hadoop/_dev/deploy/docker/docker-compose.yml
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/namenode/_dev/test/pipeline/test-namenode-metrics.json
  packages/hadoop/data_stream/namenode/_dev/test/pipeline/test-namenode-metrics.json-expected.json
  packages/hadoop/data_stream/namenode/_dev/test/system/test-namenode-config.yml
  packages/hadoop/data_stream/namenode/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/namenode/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/namenode/fields/base-fields.yml
  packages/hadoop/data_stream/namenode/fields/ecs.yml
  packages/hadoop/data_stream/namenode/fields/fields.yml
  packages/hadoop/data_stream/namenode/manifest.yml
  packages/hadoop/data_stream/namenode/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Integrations, New Integration, Integration:Hadoop

#3080 [hadoop][application] Update SSL and proxy configuration for application data stream
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/application/manifest.yml
  packages/hadoop/data_stream/datanode/fields/fields.yml
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Integrations, New Integration, Integration:Hadoop

#3307 Add swap to memory fields
  packages/linux/changelog.yml
  packages/linux/data_stream/memory/fields/fields.yml
  packages/linux/manifest.yml
Labels: bug, Team:Elastic-Agent-Data-Plane

#3209 [azure logs] Update docs with details about event hub name recommendations
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/activitylogs.md
  packages/azure/_dev/build/docs/adlogs.md
  packages/azure/_dev/build/docs/eventhub.md
  packages/azure/_dev/build/docs/platformlogs.md
  packages/azure/_dev/build/docs/springcloudlogs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/activitylogs/manifest.yml
  packages/azure/data_stream/auditlogs/manifest.yml
  packages/azure/data_stream/platformlogs/manifest.yml
  packages/azure/data_stream/signinlogs/manifest.yml
  packages/azure/data_stream/springcloudlogs/manifest.yml
  packages/azure/docs/README.md
  packages/azure/docs/activitylogs.md
  packages/azure/docs/adlogs.md
  packages/azure/docs/eventhub.md
  packages/azure/docs/platformlogs.md
  packages/azure/docs/springcloudlogs.md
  packages/azure/manifest.yml
Labels: Integration:Azure

#3313 [cisco_ftd] Add TCP input with TLS support
  packages/cisco_ftd/_dev/deploy/docker/docker-compose.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_ftd/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_ftd/data_stream/log/manifest.yml
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, 8.3-candidate, Integration:CiscoFTD

#3305 [AWS] Move VPN configuration file into integrations and add tag collection
  packages/aws/changelog.yml
  packages/aws/data_stream/vpn/agent/stream/stream.yml.hbs
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#3333 cisco_duo: fix invalid values for event.outcome
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Cisco Duo

#3330 symantec_endpoint: use valid ECS values for fields
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-traffic.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-remove-mapped-fields.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-rfc3164.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-rfc5424.log-expected.json
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/data_stream/log/sample_event.json
  packages/symantec_endpoint/docs/README.md
  packages/symantec_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Symantec-Endpoint

#3331 fireeye: fix invalid value in sample event
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/sample_event.json
  packages/fireeye/docs/README.md
  packages/fireeye/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:FireEye

#3008 [hadoop][visualizations] Add visualizations for Hadoop
  packages/hadoop/changelog.yml
  packages/hadoop/img/dashboard-screenshot.png
  packages/hadoop/img/hadoop-application-dashboard-screenshot.png
  packages/hadoop/img/hadoop-cluster-overview-dashboard-screenshot.png
  packages/hadoop/img/hadoop-data-node-dashboard-screenshot.png
  packages/hadoop/img/hadoop-logo.svg
  packages/hadoop/img/hadoop-node-manager-dashboard-screenshot.png
  packages/hadoop/kibana/dashboard/hadoop-3e16f2c0-cd28-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/dashboard/hadoop-70125ec0-cf78-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/dashboard/hadoop-c06fb680-cf76-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/dashboard/hadoop-cb235590-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/lens/hadoop-09305b10-cf75-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-2132d820-cd2f-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/lens/hadoop-73f3b470-cf74-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-a6a8b400-cf75-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-ace7b680-cf76-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-c4e16fe0-cf73-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/visualization/hadoop-1efc7120-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-299a5cc0-cd2c-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-44f6b400-cd27-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-4b3e34c0-9d82-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-510778c0-9d88-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-66d65940-af54-11ec-b0a0-a5891c5a9022.json
  packages/hadoop/kibana/visualization/hadoop-6eb94220-cd2d-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-758b5600-9d90-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-7ae15ff0-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-8118d860-d046-11ec-8bb0-b74fc1548839.json
  packages/hadoop/kibana/visualization/hadoop-84320080-cd2b-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-8dfd1590-af54-11ec-b0a0-a5891c5a9022.json
  packages/hadoop/kibana/visualization/hadoop-9a9a5e40-9d82-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-b1a70190-cd2c-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-b4e55d50-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-cf340dc0-cd22-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-d4cdcf90-cd23-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-d7611cc0-9d90-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-eb10b810-9d87-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-f5a84790-af55-11ec-b0a0-a5891c5a9022.json
  packages/hadoop/kibana/visualization/hadoop-fcba5dd0-cd2c-11ec-be30-1d9331f0b107.json
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Integrations, New Integration, Integration:Hadoop

#3334 netflow: fix sample event
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/sample_event.json
  packages/netflow/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Netflow

#3342 [aws] Fix invalid values for ECS fields
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-extra-samples.log-expected.json
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-tcp-flag-sequence.log-expected.json
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-v5-all-fields.log-expected.json
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpcflow/sample_event.json
  packages/aws/docs/vpcflow.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#3339 [cisco_ftd] Add TLS system test
  packages/cisco_ftd/_dev/deploy/docker/docker-compose.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-tls-config.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoFTD

#3338 [cisco_ios] Add TLS system test
  packages/cisco_ios/_dev/deploy/docker/docker-compose.yml
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-tls-config.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoIOS

#3317 [checkpoint] Add TLS and custom options support to TCP input
  packages/checkpoint/_dev/deploy/docker/docker-compose.yml
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/system/test-tls-config.yml
  packages/checkpoint/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/checkpoint/data_stream/firewall/agent/stream/udp.yml.hbs
  packages/checkpoint/data_stream/firewall/manifest.yml
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#3319 [fortinet] Improve firewall input options
  packages/fortinet/_dev/deploy/docker/docker-compose.yml
  packages/fortinet/changelog.yml
  packages/fortinet/data_stream/firewall/_dev/test/system/test-tls-config.yml
  packages/fortinet/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/fortinet/data_stream/firewall/manifest.yml
  packages/fortinet/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#3320 [juniper_srx] Improve TCP input
  packages/juniper_srx/_dev/deploy/docker/docker-compose.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/juniper_srx/data_stream/log/agent/stream/tcp.yml.hbs
  packages/juniper_srx/data_stream/log/manifest.yml
  packages/juniper_srx/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3322 [sophos] Improve inputs for Sophos XG
  packages/sophos/_dev/deploy/docker/docker-compose.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/xg/_dev/test/system/test-tcp-config.yml
  packages/sophos/data_stream/xg/_dev/test/system/test-tls-config.yml
  packages/sophos/data_stream/xg/agent/stream/tcp.yml.hbs
  packages/sophos/data_stream/xg/manifest.yml
  packages/sophos/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Sophos

#3323 [panw] Replace syslog input with UDP/TCP input and syslog processor
  packages/panw/_dev/deploy/docker/docker-compose.yml
  packages/panw/_dev/deploy/docker/syslog_logs/panw-panos-traffic.log
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/system/test-syslog-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-tcp-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-tls-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-udp-config.yml
  packages/panw/data_stream/panos/agent/stream/logfile.yml.hbs
  packages/panw/data_stream/panos/agent/stream/syslog.yml.hbs
  packages/panw/data_stream/panos/agent/stream/tcp.yml.hbs
  packages/panw/data_stream/panos/agent/stream/udp.yml.hbs
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/data_stream/panos/manifest.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#3324 panw: fix terms in saved search
  packages/panw/_dev/build/docs/README.md
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/kibana/search/panw-290685e0-7569-11e9-976e-65a8f47cc4c1.json
  packages/panw/kibana/search/panw-3cea1360-7569-11e9-976e-65a8f47cc4c1.json
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#3344 cisco_ftd: remove invalid values from ECS fields
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoFTD

#3343 network_traffic: remove invalid value from event.category in SIP sample event
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/sip/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/sip/sample_event.json
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#2998 [Osquery] Add default saved queries
  packages/osquery/kibana/visualization/osquery-2d6e0760-f4ab-11e7-8647-534bb4c21040.json
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-0796f890-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-128b90b0-b4a6-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-239dce60-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-2de24900-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-363d6a30-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-5c144ac0-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-6fc00190-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-7ee71870-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-9b9b4540-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-a8870ff0-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-ccd3f850-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-cebd7b00-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-e640e200-b4a8-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-f8649710-b4a8-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-fc4e34b0-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/visualization/osquery_manager-2d6e0760-f4ab-11e7-8647-534bb4c21040.json
  packages/osquery_manager/manifest.yml
Labels: enhancement, Team:Asset Mgt, v8.3.0

#3354 cisco_asa: remove invalid values from ECS fields
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#3355 network_traffic: release as ga
  packages/network_traffic/changelog.yml
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture

#3326 okta: fill okta.request.ip_chain.* as a flattened object
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta

#3361 panw: update mapping of zone fields in visualisations
  packages/panw/changelog.yml
  packages/panw/kibana/visualization/panw-135930b0-7570-11e9-976e-65a8f47cc4c1.json
  packages/panw/kibana/visualization/panw-d9cab170-756f-11e9-976e-65a8f47cc4c1.json
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#3364 [M365_Defender] Update duplication for redirect type events
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-empty-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: M365_Defender

#3358 [iptables] Update sample_event.json
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/sample_event.json
  packages/iptables/docs/README.md
  packages/iptables/manifest.yml
Labels: Team:Security-External Integrations, Integration:iptables

#3347 [santa] update ingest pipeline to match new log format
  packages/santa/_dev/build/docs/README.md
  packages/santa/_dev/deploy/docker/sample_logs/santa.log
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-expected.json
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/data_stream/log/fields/ecs.yml
  packages/santa/data_stream/log/fields/package-fields.yml
  packages/santa/data_stream/log/manifest.yml
  packages/santa/data_stream/log/sample_event.json
  packages/santa/docs/README.md
  packages/santa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Santa

#3299 [system] Add support for 5140 and 5145 events
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-security-5140-5145.json
  packages/system/data_stream/security/_dev/test/pipeline/test-security-5140-5145.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System

#3373 santa: add process.entity_id constructed from agent.id, pid and pidversion
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-expected.json
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/data_stream/log/fields/ecs.yml
  packages/santa/data_stream/log/sample_event.json
  packages/santa/docs/README.md
  packages/santa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Santa

#3066 [oracle_weblogic] Add Integration Package with Admin Server Logs Data Stream
  .github/CODEOWNERS
  packages/oracle_weblogic/_dev/build/build.yml
  packages/oracle_weblogic/_dev/build/docs/README.md
  packages/oracle_weblogic/_dev/deploy/docker/docker-compose.yml
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/Dockerfile
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/NOTICE.txt
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/app-deploy.py
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/create-wls-domain.py
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/createWLSDomain.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/deployAppToDomain.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/generateAccess.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/setEnv.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/shutdown-servers.py
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/startAdminServer.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/startManagedServer.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/waitForAdminServer.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/properties/docker-build/domain.properties
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/properties/docker-build/domain_security.properties
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/properties/docker-run/security.properties
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/sample/META-INF/MANIFEST.MF
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/sample/WEB-INF/web.xml
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/sample/WEB-INF/weblogic.xml
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/sample/index.jsp
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/admin_server/_dev/test/pipeline/test-admin-server.log
  packages/oracle_weblogic/data_stream/admin_server/_dev/test/pipeline/test-admin-server.log-expected.json
  packages/oracle_weblogic/data_stream/admin_server/_dev/test/pipeline/test-common-config.yml
  packages/oracle_weblogic/data_stream/admin_server/_dev/test/system/test-default-config.yml
  packages/oracle_weblogic/data_stream/admin_server/agent/stream/stream.yml.hbs
  packages/oracle_weblogic/data_stream/admin_server/elasticsearch/ingest_pipeline/default.yml
  packages/oracle_weblogic/data_stream/admin_server/fields/agent.yml
  packages/oracle_weblogic/data_stream/admin_server/fields/base-fields.yml
  packages/oracle_weblogic/data_stream/admin_server/fields/ecs.yml
  packages/oracle_weblogic/data_stream/admin_server/fields/fields.yml
  packages/oracle_weblogic/data_stream/admin_server/manifest.yml
  packages/oracle_weblogic/data_stream/admin_server/sample_event.json
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/img/oracle_weblogic-logo.svg
  packages/oracle_weblogic/img/oracle_weblogic-logs-overview.png
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-4b2b0170-b88a-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-26eb5e80-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-56318fe0-b9c4-11ec-94e2-c759177428e6.json
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:oracle_weblogic

#3360 [sonicwall] Format {source,destination}.mac per ECS
  packages/sonicwall/_dev/deploy/docker/docker-compose.yml
  packages/sonicwall/changelog.yml
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-rsa2elk-output.json
  packages/sonicwall/data_stream/firewall/_dev/test/pipeline/test-rsa2elk-output.json-expected.json
  packages/sonicwall/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall/manifest.yml
Labels: Team:Security-External Integrations, integration:Sonicwall

#2531 updated max connections to max agent
  packages/fleet_server/agent/input/agent.yml.hbs
  packages/fleet_server/changelog.yml
  packages/fleet_server/manifest.yml
Labels: breaking change, Integration:Fleet-Server, Team:Elastic-Agent-Control-Plane

#3368 [cylance] Format host.mac per ECS
  packages/cylance/_dev/deploy/docker/docker-compose.yml
  packages/cylance/changelog.yml
  packages/cylance/data_stream/protect/_dev/test/pipeline/test-common-config.yml
  packages/cylance/data_stream/protect/_dev/test/pipeline/test-rsa2elk-output.json
  packages/cylance/data_stream/protect/_dev/test/pipeline/test-rsa2elk-output.json-expected.json
  packages/cylance/data_stream/protect/_dev/test/system/test-udp-config.yml
  packages/cylance/data_stream/protect/elasticsearch/ingest_pipeline/default.yml
  packages/cylance/data_stream/protect/sample_event.json
  packages/cylance/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cylance

#3375 system/security: add GeoIP enrichment
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-security-windows2012-4778.json
  packages/system/data_stream/security/_dev/test/pipeline/test-security-windows2012-4778.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/data_stream/security/sample_event.json
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System

#3378 Add configuration required for cloudbeat logs, metrics
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/agent.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/base-fields.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/manifest.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/agent.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/base-fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/manifest.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement

#3384 network_traffic: remove invalid "network_traffic" terms from event.category
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/cassandra/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/dhcpv4/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/http/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/icmp/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/memcached/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/mongodb/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/mysql/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/nfs/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/pgsql/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/redis/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#3332 [Cisco Umbrella] Add Audit Log support
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log-config.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/agent/stream/aws-s3.yml.hbs
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/ecs.yml
  packages/cisco_umbrella/data_stream/log/fields/fields.yml
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Umbrella

#3396 Add verbose/daemon to package-registry recycle command
  docs/developer_workflow_design_build_test_integration.md
Labels: documentation, Team:Infra Monitoring UI

#3389 fim: Make GA and compatible with 8.2.0
  packages/fim/changelog.yml
  packages/fim/manifest.yml
Labels: enhancement, Team:Security-External Integrations, integration:FIM

#2922 [IBM WebSphere Application Server] Add WebSphere Application Server Integration Package with JDBC data stream
  .github/CODEOWNERS
  packages/websphere_application_server/_dev/build/build.yml
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/_dev/deploy/docker/docker-compose.yml
  packages/websphere_application_server/_dev/deploy/docker/files/PASSWORD
  packages/websphere_application_server/_dev/deploy/docker/files/init.jython
  packages/websphere_application_server/_dev/deploy/docker/files/start_server.sh
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/data_stream/jdbc/_dev/test/pipeline/test-common-config.yml
  packages/websphere_application_server/data_stream/jdbc/_dev/test/pipeline/test-jdbc-metrics.json
  packages/websphere_application_server/data_stream/jdbc/_dev/test/pipeline/test-jdbc-metrics.json-expected.json
  packages/websphere_application_server/data_stream/jdbc/_dev/test/system/test-jdbc-config.yml
  packages/websphere_application_server/data_stream/jdbc/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/jdbc/elasticsearch/ingest_pipeline/default.yml
  packages/websphere_application_server/data_stream/jdbc/fields/base-fields.yml
  packages/websphere_application_server/data_stream/jdbc/fields/ecs.yml
  packages/websphere_application_server/data_stream/jdbc/fields/fields.yml
  packages/websphere_application_server/data_stream/jdbc/manifest.yml
  packages/websphere_application_server/data_stream/jdbc/sample_event.json
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/img/websphere_application_server-jdbc-dashboard-screenshot.png
  packages/websphere_application_server/img/websphere_application_server-logo.svg
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-5d9b0860-b582-11ec-89b4-c91c947c1fb3.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-37972440-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-3b877140-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-3fe9e100-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-443e1ff0-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/visualization/websphere_application_server-f843c870-b965-11ec-b94d-2bc0627c8bbf.json
  packages/websphere_application_server/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:WebsphereApplicationServer

#3398 Update TI Package descriptions
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/manifest.yml
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/manifest.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/manifest.yml
  packages/ti_otx/changelog.yml
  packages/ti_otx/manifest.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/manifest.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Threat Intel

#2763 [auditd_manager] New auditd manager package
  .github/CODEOWNERS
  packages/auditd/_dev/build/docs/README.md
  packages/auditd/changelog.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
  packages/auditd_manager/_dev/build/build.yml
  packages/auditd_manager/_dev/build/docs/README.md
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/_dev/deploy/agent/custom-agent.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/auditlogin-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/auditlogin-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/centos7-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/centos7-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/chown-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/chown-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/passwd-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/passwd-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/setuid-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/setuid-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/sudo-asuser-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/sudo-asuser-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/sudo-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/sudo-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/test-common-config.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/useradd-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/useradd-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/userlogin-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/userlogin-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/_dev/test/system/test-default-config.yml
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/elasticsearch/ingest_pipeline/default.yml
  packages/auditd_manager/data_stream/auditd/fields/base-fields.yml
  packages/auditd_manager/data_stream/auditd/fields/ecs.yml
  packages/auditd_manager/data_stream/auditd/fields/fields.yml
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/data_stream/auditd/sample_event.json
  packages/auditd_manager/docs/README.md
  packages/auditd_manager/img/executions.png
  packages/auditd_manager/img/linux.svg
  packages/auditd_manager/img/overview.png
  packages/auditd_manager/img/sockets.png
  packages/auditd_manager/kibana/dashboard/auditd_manager-693a5f40-c243-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/kibana/dashboard/auditd_manager-7de391b0-c1ca-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/dashboard/auditd_manager-c0ac2c00-c1c0-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/search/auditd_manager-0f10c430-c1c3-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/search/auditd_manager-5438b030-c246-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/kibana/search/auditd_manager-b4c93470-c240-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/kibana/search/auditd_manager-d382f5b0-c1c6-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/search/auditd_manager-e8734160-c24c-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3390 [gcp]: Preserve gcp field data in flattened fields
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/ecs.yml
  packages/gcp/data_stream/audit/fields/fields.yml
  packages/gcp/data_stream/audit/sample_event.json
  packages/gcp/data_stream/dns/sample_event.json
  packages/gcp/data_stream/firewall/sample_event.json
  packages/gcp/data_stream/vpcflow/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/docs/dns.md
  packages/gcp/docs/firewall.md
  packages/gcp/docs/vpcflow.md
  packages/gcp/manifest.yml
Labels: Team:Security-External Integrations, 8.3-candidate

#3401 [fortinet.forimanager] - Format {source,destination}.mac per ECS
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-rsa2elk-output.json
  packages/fortinet/data_stream/fortimanager/_dev/test/pipeline/test-rsa2elk-output.json-expected.json
  packages/fortinet/data_stream/fortimanager/elasticsearch/ingest_pipeline/default.yml
Labels: Team:Security-External Integrations, Integration:Fortinet

#3382 [CSP] Update integration deployment instructions
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security Posture

#3067 [oracle_weblogic] Add Integration Package with Managed Server Logs Data Stream
  packages/oracle_weblogic/_dev/build/build.yml
  packages/oracle_weblogic/_dev/build/docs/README.md
  packages/oracle_weblogic/_dev/deploy/docker/docker-compose.yml
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/adminServerLogs.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/generateAccess.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/managedServerLogs.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/startAdminServer.sh
  packages/oracle_weblogic/_dev/deploy/docker/oracle_weblogic/container-scripts/startManagedServer.sh
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/managed_server/_dev/test/pipeline/test-common-config.yml
  packages/oracle_weblogic/data_stream/managed_server/_dev/test/pipeline/test-managed-server.log
  packages/oracle_weblogic/data_stream/managed_server/_dev/test/pipeline/test-managed-server.log-expected.json
  packages/oracle_weblogic/data_stream/managed_server/_dev/test/system/test-default-config.yml
  packages/oracle_weblogic/data_stream/managed_server/agent/stream/stream.yml.hbs
  packages/oracle_weblogic/data_stream/managed_server/elasticsearch/ingest_pipeline/default.yml
  packages/oracle_weblogic/data_stream/managed_server/fields/agent.yml
  packages/oracle_weblogic/data_stream/managed_server/fields/base-fields.yml
  packages/oracle_weblogic/data_stream/managed_server/fields/ecs.yml
  packages/oracle_weblogic/data_stream/managed_server/fields/fields.yml
  packages/oracle_weblogic/data_stream/managed_server/manifest.yml
  packages/oracle_weblogic/data_stream/managed_server/sample_event.json
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/img/oracle_weblogic-logs-overview.png
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-4b2b0170-b88a-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-2e30f100-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-65ee20a0-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-8df2e0e0-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:oracle_weblogic

#3383 [mimecast] Add zip support for siem logs, siem pipeline fixes and make GA
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/_dev/deploy/docker/files/siem.zip
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/audit_events/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/manifest.yml
  packages/mimecast/data_stream/dlp_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/manifest.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/siem_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/fields/field.yml
  packages/mimecast/data_stream/siem_logs/manifest.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_customer/manifest.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/manifest.yml
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/manifest.yml
  packages/mimecast/data_stream/ttp_ip_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/manifest.yml
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/manifest.yml
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mimecast

#3405 cisco_duo: fix type of cisco_duo.auth.access_device.security_agents
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/cisco_duo/data_stream/auth/fields/fields.yml
  packages/cisco_duo/data_stream/auth/sample_event.json
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Cisco Duo

#3409 network_traffic: fix invalid terms in tls and thrift data sets
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/thrift/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/thrift/sample_event.json
  packages/network_traffic/data_stream/tls/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/tls/sample_event.json
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#3386 [Osquery] Adjustments to saved queries
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-0796f890-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-128b90b0-b4a6-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-239dce60-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-23af51c0-d75f-11ec-879b-83915b27217e.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-2de24900-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-315bfda0-d75f-11ec-879b-83915b27217e.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-363d6a30-b4a9-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-47d96fe0-d75f-11ec-879b-83915b27217e.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-5c144ac0-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-6fc00190-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-7ee71870-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-9b9b4540-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-a8870ff0-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-ccd3f850-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-cebd7b00-b4b4-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-e640e200-b4a8-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-f8649710-b4a8-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-fc4e34b0-b4a5-11ec-8f39-bf9c07530bbb.json
  packages/osquery_manager/manifest.yml
Labels: Team:Asset Mgt, v8.3.0, >enhancement

#3365 New integration for SonicWall firewall
  .github/CODEOWNERS
  packages/sonicwall/_dev/build/docs/README.md
  packages/sonicwall/changelog.yml
  packages/sonicwall/docs/README.md
  packages/sonicwall/manifest.yml
  packages/sonicwall_firewall/_dev/build/build.yml
  packages/sonicwall_firewall/_dev/build/docs/README.md
  packages/sonicwall_firewall/_dev/deploy/docker/docker-compose.yml
  packages/sonicwall_firewall/_dev/deploy/docker/sample_logs/log.log
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-drizzthacker.log
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-drizzthacker.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-general.log
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-general.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-sonicos70-aws.log
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-sonicos70-aws.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/system/test-syslog-config.yml
  packages/sonicwall_firewall/data_stream/log/agent/stream/logfile.yml.hbs
  packages/sonicwall_firewall/data_stream/log/agent/stream/udp.yml.hbs
  packages/sonicwall_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall_firewall/data_stream/log/fields/base-fields.yml
  packages/sonicwall_firewall/data_stream/log/fields/beats.yml
  packages/sonicwall_firewall/data_stream/log/fields/ecs.yml
  packages/sonicwall_firewall/data_stream/log/fields/package-fields.yml
  packages/sonicwall_firewall/data_stream/log/manifest.yml
  packages/sonicwall_firewall/data_stream/log/sample_event.json
  packages/sonicwall_firewall/docs/README.md
  packages/sonicwall_firewall/img/dashboard.png
  packages/sonicwall_firewall/img/logo.svg
  packages/sonicwall_firewall/kibana/dashboard/sonicwall_firewall-782e2cf0-d78f-11ec-bc4f-47419689dcde.json
  packages/sonicwall_firewall/kibana/search/sonicwall_firewall-93af7ae0-d796-11ec-bc4f-47419689dcde.json
  packages/sonicwall_firewall/manifest.yml
Labels: enhancement, Team:Security-External Integrations, integration:Sonicwall

#3402 [Synthetics] Rename source->origin / add project
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/common.yml
  packages/synthetics/data_stream/http/fields/common.yml
  packages/synthetics/data_stream/icmp/fields/common.yml
  packages/synthetics/data_stream/tcp/fields/common.yml
  packages/synthetics/manifest.yml
Labels: enhancement, Team:Uptime

#3371 network_traffic: add docs for configuration options
  packages/network_traffic/_dev/build/docs/README.md
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/flow/agent/stream/flow.yml.hbs
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture, docs

#3085 [IBM WebSphere Application Server] Add WebSphere Application Server Integration Package with Servlet data stream
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/data_stream/servlet/_dev/test/pipeline/test-common-config.yml
  packages/websphere_application_server/data_stream/servlet/_dev/test/pipeline/test-servlet-metrics.json
  packages/websphere_application_server/data_stream/servlet/_dev/test/pipeline/test-servlet-metrics.json-expected.json
  packages/websphere_application_server/data_stream/servlet/_dev/test/system/test-servlet-config.yml
  packages/websphere_application_server/data_stream/servlet/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/servlet/elasticsearch/ingest_pipeline/default.yml
  packages/websphere_application_server/data_stream/servlet/fields/base-fields.yml
  packages/websphere_application_server/data_stream/servlet/fields/ecs.yml
  packages/websphere_application_server/data_stream/servlet/fields/fields.yml
  packages/websphere_application_server/data_stream/servlet/manifest.yml
  packages/websphere_application_server/data_stream/servlet/sample_event.json
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/img/websphere_application_server-servlet-dashboard-screenshot.png
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-b8da46b0-b595-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-39c70fd0-b59e-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-8ce6ed80-b59d-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-e6d7d480-b59d-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:WebsphereApplicationServer

#3428 GA security integrations
  packages/akamai/changelog.yml
  packages/akamai/manifest.yml
  packages/auth0/changelog.yml
  packages/auth0/manifest.yml
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/manifest.yml
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/manifest.yml
  packages/github/changelog.yml
  packages/github/manifest.yml
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/manifest.yml
  packages/modsecurity/changelog.yml
  packages/modsecurity/manifest.yml
  packages/netskope/changelog.yml
  packages/netskope/manifest.yml
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/manifest.yml
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/manifest.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/manifest.yml
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/manifest.yml
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3422 Fix linux mapping in linux.vmstat types
  packages/linux/changelog.yml
  packages/linux/data_stream/memory/fields/fields.yml
  packages/linux/manifest.yml
Labels: bug, Team:Elastic-Agent-Data-Plane

#3420 [Sonicwall_firewall] Fix handling of NAT fields
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-nat.log
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-nat.log-expected.json
  packages/sonicwall_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall_firewall/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Sonicwall

#3138 [IBM WebSphere Application Server] Add WebSphere Application Server Integration Package with ThreadPool data stream
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/data_stream/threadpool/_dev/test/pipeline/test-common-config.yml
  packages/websphere_application_server/data_stream/threadpool/_dev/test/pipeline/test-threadpool-metrics.json
  packages/websphere_application_server/data_stream/threadpool/_dev/test/pipeline/test-threadpool-metrics.json-expected.json
  packages/websphere_application_server/data_stream/threadpool/_dev/test/system/test-threadpool-config.yml
  packages/websphere_application_server/data_stream/threadpool/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/threadpool/elasticsearch/ingest_pipeline/default.yml
  packages/websphere_application_server/data_stream/threadpool/fields/base-fields.yml
  packages/websphere_application_server/data_stream/threadpool/fields/ecs.yml
  packages/websphere_application_server/data_stream/threadpool/fields/fields.yml
  packages/websphere_application_server/data_stream/threadpool/manifest.yml
  packages/websphere_application_server/data_stream/threadpool/sample_event.json
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/img/websphere_application_server-threadpool-dashboard-screenshot.png
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-381af9f0-bae2-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-426d3360-bae6-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-43d23d70-baed-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-86426870-baec-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-888801c0-bae3-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-b8c2dff0-baec-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-d2cf3ac0-baeb-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/visualization/websphere_application_server-8d0106c0-bae3-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:WebsphereApplicationServer

#3415 ci: use withSecretVault
  .ci/Jenkinsfile
Labels: Team:Automation, automation

#3376 [doc] PostgreSQL module - minimum privileges required
  packages/postgresql/_dev/build/docs/README.md
  packages/postgresql/docs/README.md
Labels: enhancement

#3068 [oracle_weblogic] Add Integration Package with Access Logs Data Stream
  packages/oracle_weblogic/_dev/build/build.yml
  packages/oracle_weblogic/_dev/build/docs/README.md
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/access/_dev/test/pipeline/test-access.log
  packages/oracle_weblogic/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/oracle_weblogic/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/oracle_weblogic/data_stream/access/_dev/test/system/test-default-config.yml
  packages/oracle_weblogic/data_stream/access/agent/stream/stream.yml.hbs
  packages/oracle_weblogic/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/oracle_weblogic/data_stream/access/fields/agent.yml
  packages/oracle_weblogic/data_stream/access/fields/base-fields.yml
  packages/oracle_weblogic/data_stream/access/fields/ecs.yml
  packages/oracle_weblogic/data_stream/access/fields/fields.yml
  packages/oracle_weblogic/data_stream/access/manifest.yml
  packages/oracle_weblogic/data_stream/access/sample_event.json
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/img/oracle_weblogic-logs-overview.png
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-4b2b0170-b88a-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-40a02e00-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-4cb91a80-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-2e23bf90-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-2e30f100-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-4673b9f0-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:oracle_weblogic

#3199 [IBM WebSphere Application Server] Add WebSphere Application Server Integration Package with Session Manager data stream
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/data_stream/session_manager/_dev/test/pipeline/test-common-config.yml
  packages/websphere_application_server/data_stream/session_manager/_dev/test/pipeline/test-session-manager-metrics.json
  packages/websphere_application_server/data_stream/session_manager/_dev/test/pipeline/test-session-manager-metrics.json-expected.json
  packages/websphere_application_server/data_stream/session_manager/_dev/test/system/test-session_manager-config.yml
  packages/websphere_application_server/data_stream/session_manager/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/session_manager/elasticsearch/ingest_pipeline/default.yml
  packages/websphere_application_server/data_stream/session_manager/fields/base-fields.yml
  packages/websphere_application_server/data_stream/session_manager/fields/ecs.yml
  packages/websphere_application_server/data_stream/session_manager/fields/fields.yml
  packages/websphere_application_server/data_stream/session_manager/manifest.yml
  packages/websphere_application_server/data_stream/session_manager/sample_event.json
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/img/websphere_application_server-session_manager-dashboard-screenshot.png
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-db548380-c06d-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-0828ba40-c07b-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-eab8b780-c07a-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-ee7e7210-c07a-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-f28f6670-c07a-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/visualization/websphere_application_server-364d9fd0-c07b-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/manifest.yml
Labels: enhancement, New Integration, Team:Service-Integrations, Integration:WebsphereApplicationServer

#3446 [MISP] Add fixes for MISP integration
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/manifest.yml
Labels: Team:Security-External Integrations

#3445 [microsoft_dhcp] Fix value of event.type
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-logv6.log-expected.json
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcpv6.yml
  packages/microsoft_dhcp/manifest.yml
Labels: Team:Security-External Integrations

#3444 cisco_duo: remove cisco_duo.auth.access_device.security_agents when it is "unknown"
  packages/cisco_duo/_dev/deploy/docker/files/config.yml
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log
  packages/cisco_duo/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/auth/sample_event.json
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
Labels: bug, Team:Security-External Integrations, integration:Cisco Duo
