Repository elastic/integrations, pull requests merged in 2022-09, with the labels that each got.

#4106 Threat Intelligence Dashboard fix
  packages/ti_util/changelog.yml
  packages/ti_util/kibana/dashboard/ti_util-9eff2529-fff5-4064-b825-fa089f260bfa.json
  packages/ti_util/manifest.yml
Labels: bug, Team:Security-External Integrations

#4033 ES package log pipelines
  packages/elasticsearch/_dev/deploy/docker/config/elasticsearch.yml
  packages/elasticsearch/_dev/deploy/docker/config/log4j2.properties
  packages/elasticsearch/_dev/deploy/docker/docker-compose.yml
  packages/elasticsearch/_dev/deploy/docker/scripts/generate-logs.sh
  packages/elasticsearch/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/audit/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/audit/elasticsearch/ingest_pipeline/pipeline-plaintext.yml
  packages/elasticsearch/data_stream/audit/manifest.yml
  packages/elasticsearch/data_stream/deprecation/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/deprecation/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/deprecation/elasticsearch/ingest_pipeline/pipeline-plaintext.yml
  packages/elasticsearch/data_stream/deprecation/manifest.yml
  packages/elasticsearch/data_stream/gc/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/pipeline-plaintext.yml
  packages/elasticsearch/data_stream/server/manifest.yml
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/pipeline-plaintext.yml
  packages/elasticsearch/data_stream/slowlog/manifest.yml
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, v8.5.0, Team:Infra Monitoring UI

#3953 [panw_cortex_xdr] Bugfix on rename processor
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/alerts/fields/fields.yml
  packages/panw_cortex_xdr/data_stream/alerts/sample_event.json
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PanwCortexXDR

#4018 [Stack Monitoring] update packages dataset
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/manifest.yml
  packages/elasticsearch/data_stream/cluster_stats/manifest.yml
  packages/elasticsearch/data_stream/enrich/manifest.yml
  packages/elasticsearch/data_stream/index/manifest.yml
  packages/elasticsearch/data_stream/index_recovery/manifest.yml
  packages/elasticsearch/data_stream/index_summary/manifest.yml
  packages/elasticsearch/data_stream/ml_job/manifest.yml
  packages/elasticsearch/data_stream/node/manifest.yml
  packages/elasticsearch/data_stream/node_stats/manifest.yml
  packages/elasticsearch/data_stream/pending_tasks/manifest.yml
  packages/elasticsearch/data_stream/shard/manifest.yml
  packages/elasticsearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/data_stream/cluster_actions/manifest.yml
  packages/kibana/data_stream/cluster_rules/manifest.yml
  packages/kibana/data_stream/node_actions/manifest.yml
  packages/kibana/data_stream/node_rules/manifest.yml
  packages/kibana/data_stream/stats/manifest.yml
  packages/kibana/data_stream/status/manifest.yml
  packages/kibana/manifest.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node/manifest.yml
  packages/logstash/data_stream/node_stats/manifest.yml
  packages/logstash/manifest.yml
Labels: v8.5.0, Team:Infra Monitoring UI

#4085 [Cisco Umbrella] Fix Proxy Log CSV fields
  packages/cisco_umbrella/_dev/build/build.yml
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-cloudfirewalllogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/fields.yml
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: Integration:Cisco Umbrella

#4147 [Stack Monitoring] add error.message mapping
  packages/elasticsearch/data_stream/ccr/fields/ecs.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/ecs.yml
  packages/elasticsearch/data_stream/enrich/fields/ecs.yml
  packages/elasticsearch/data_stream/index/fields/ecs.yml
  packages/elasticsearch/data_stream/index_recovery/fields/ecs.yml
  packages/elasticsearch/data_stream/index_summary/fields/ecs.yml
  packages/elasticsearch/data_stream/ml_job/fields/ecs.yml
  packages/elasticsearch/data_stream/node/fields/ecs.yml
  packages/elasticsearch/data_stream/node_stats/fields/ecs.yml
  packages/elasticsearch/data_stream/pending_tasks/fields/ecs.yml
  packages/elasticsearch/data_stream/shard/fields/ecs.yml
  packages/kibana/data_stream/cluster_actions/fields/ecs.yml
  packages/kibana/data_stream/cluster_rules/fields/ecs.yml
  packages/kibana/data_stream/node_actions/fields/ecs.yml
  packages/kibana/data_stream/node_rules/fields/ecs.yml
  packages/kibana/data_stream/stats/fields/ecs.yml
  packages/kibana/data_stream/status/fields/ecs.yml
  packages/kibana/docs/README.md
  packages/logstash/data_stream/node/fields/ecs.yml
  packages/logstash/data_stream/node_stats/fields/ecs.yml
Labels: v8.5.0, Team:Infra Monitoring UI

#4144 [kubernetes ] Add missing dimention fields
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container/fields/base-fields.yml
  packages/kubernetes/data_stream/container_logs/fields/base-fields.yml
  packages/kubernetes/data_stream/pod/fields/base-fields.yml
  packages/kubernetes/data_stream/state_container/fields/base-fields.yml
  packages/kubernetes/data_stream/state_cronjob/fields/base-fields.yml
  packages/kubernetes/data_stream/state_daemonset/fields/base-fields.yml
  packages/kubernetes/data_stream/state_job/fields/base-fields.yml
  packages/kubernetes/data_stream/state_persistentvolumeclaim/fields/base-fields.yml
  packages/kubernetes/data_stream/state_pod/fields/base-fields.yml
  packages/kubernetes/data_stream/state_replicaset/fields/base-fields.yml
  packages/kubernetes/data_stream/state_resourcequota/fields/base-fields.yml
  packages/kubernetes/data_stream/state_service/fields/base-fields.yml
  packages/kubernetes/data_stream/state_statefulset/fields/base-fields.yml
  packages/kubernetes/data_stream/volume/fields/base-fields.yml
  packages/kubernetes/manifest.yml
Labels: enhancement

#4140 Feature/nginx ingress controller ipv6
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/access/_dev/test/pipeline/test-ingest-raw-ipv6.log
  packages/nginx_ingress_controller/data_stream/access/_dev/test/pipeline/test-ingest-raw-ipv6.log-config.yml
  packages/nginx_ingress_controller/data_stream/access/_dev/test/pipeline/test-ingest-raw-ipv6.log-expected.json
  packages/nginx_ingress_controller/data_stream/access/_dev/test/pipeline/test-ingest-raw.log-expected.json
  packages/nginx_ingress_controller/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/nginx_ingress_controller/data_stream/access/fields/ecs.yml
  packages/nginx_ingress_controller/data_stream/access/fields/fields.yml
  packages/nginx_ingress_controller/data_stream/access/sample_event.json
  packages/nginx_ingress_controller/data_stream/error/_dev/test/pipeline/test-error-raw.log-expected.json
  packages/nginx_ingress_controller/docs/README.md
  packages/nginx_ingress_controller/manifest.yml
Labels: bug, enhancement

#4137 infoblox_nios: add support for file inputs
  packages/infoblox_nios/_dev/build/docs/README.md
  packages/infoblox_nios/_dev/deploy/docker/docker-compose.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/infoblox_nios/data_stream/log/agent/stream/log.yml.hbs
  packages/infoblox_nios/data_stream/log/fields/ecs.yml
  packages/infoblox_nios/data_stream/log/manifest.yml
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox

#4154 Kafka sasl mechanism
  packages/kafka/changelog.yml
  packages/kafka/data_stream/consumergroup/agent/stream/stream.yml.hbs
  packages/kafka/data_stream/consumergroup/manifest.yml
  packages/kafka/data_stream/partition/agent/stream/stream.yml.hbs
  packages/kafka/data_stream/partition/manifest.yml
  packages/kafka/manifest.yml
Labels: bug, Team:Service-Integrations

#4163 cisco_asa,cisco_ftd: rename syslog priority grok pattern SYSLOGFACILITY=>SYSPRIORITY
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoFTD, Integration:CiscoASA

#4050 Logs cisco aironet.log
  .github/CODEOWNERS
  packages/cisco_aironet/_dev/build/build.yml
  packages/cisco_aironet/_dev/build/docs/README.md
  packages/cisco_aironet/_dev/deploy/docker/docker-compose.yml
  packages/cisco_aironet/_dev/deploy/docker/sample_logs/cisco-aironet.log
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/cisco_aironet/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_aironet/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_aironet/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_aironet/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_aironet/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_aironet/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/data_stream/log/fields/agent.yml
  packages/cisco_aironet/data_stream/log/fields/aironet-fields.yml
  packages/cisco_aironet/data_stream/log/fields/base-fields.yml
  packages/cisco_aironet/data_stream/log/fields/ecs.yml
  packages/cisco_aironet/data_stream/log/manifest.yml
  packages/cisco_aironet/data_stream/log/sample_event.json
  packages/cisco_aironet/docs/README.md
  packages/cisco_aironet/img/cisco.svg
  packages/cisco_aironet/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cisco, New Integration

#4156 Added new file for links definitions
  docs/documentation_guidelines.md
  links_table.yml
Labels: enhancement, Team:Ecosystem

#4145 [CSP] Store static Cloudbeat configuration
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/eks.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/vanilla.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#3632 Istio logs
  .github/CODEOWNERS
  packages/istio/_dev/build/build.yml
  packages/istio/_dev/build/docs/README.md
  packages/istio/changelog.yml
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-access-failed.log
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-access-failed.log-expected.json
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-access-json-logs.log
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-access-json-logs.log-expected.json
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-access-logs.log
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-access-logs.log-expected.json
  packages/istio/data_stream/access_logs/_dev/test/pipeline/test-common-config.yml
  packages/istio/data_stream/access_logs/agent/stream/stream.yml.hbs
  packages/istio/data_stream/access_logs/elasticsearch/ingest_pipeline/default.yml
  packages/istio/data_stream/access_logs/elasticsearch/ingest_pipeline/format-common.yml
  packages/istio/data_stream/access_logs/elasticsearch/ingest_pipeline/format-json.yml
  packages/istio/data_stream/access_logs/fields/base-fields.yml
  packages/istio/data_stream/access_logs/fields/ecs.yml
  packages/istio/data_stream/access_logs/fields/fields.yml
  packages/istio/data_stream/access_logs/manifest.yml
  packages/istio/data_stream/access_logs/sample_event.json
  packages/istio/docs/README.md
  packages/istio/docs/access-logs.md
  packages/istio/img/logo_istio.svg
  packages/istio/manifest.yml
Labels: enhancement, In Progress, Team:Cloudnative-Monitoring

#4122 [elasticsearch] add static and pipeline tests
  packages/elasticsearch/_dev/deploy/docker/scripts/generate-logs.sh
  packages/elasticsearch/data_stream/audit/_dev/test/pipeline/test-audit-logs.log
  packages/elasticsearch/data_stream/audit/_dev/test/pipeline/test-audit-logs.log-expected.json
  packages/elasticsearch/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/elasticsearch/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/audit/fields/ecs.yml
  packages/elasticsearch/data_stream/audit/fields/fields.yml
  packages/elasticsearch/data_stream/audit/fields/package-fields.yml
  packages/elasticsearch/data_stream/audit/sample_event.json
  packages/elasticsearch/data_stream/ccr/sample_event.json
  packages/elasticsearch/data_stream/deprecation/_dev/test/pipeline/test-common-config.yml
  packages/elasticsearch/data_stream/deprecation/_dev/test/pipeline/test-deprecation-logs.log
  packages/elasticsearch/data_stream/deprecation/_dev/test/pipeline/test-deprecation-logs.log-expected.json
  packages/elasticsearch/data_stream/deprecation/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/deprecation/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/deprecation/fields/ecs.yml
  packages/elasticsearch/data_stream/deprecation/fields/package-fields.yml
  packages/elasticsearch/data_stream/deprecation/sample_event.json
  packages/elasticsearch/data_stream/gc/_dev/test/pipeline/test-common-config.yml
  packages/elasticsearch/data_stream/gc/_dev/test/pipeline/test-gc-logs.log
  packages/elasticsearch/data_stream/gc/_dev/test/pipeline/test-gc-logs.log-expected.json
  packages/elasticsearch/data_stream/gc/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/gc/fields/ecs.yml
  packages/elasticsearch/data_stream/gc/fields/package-fields.yml
  packages/elasticsearch/data_stream/gc/sample_event.json
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/data_stream/index/sample_event.json
  packages/elasticsearch/data_stream/index_summary/sample_event.json
  packages/elasticsearch/data_stream/node/sample_event.json
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/data_stream/node_stats/sample_event.json
  packages/elasticsearch/data_stream/server/_dev/test/pipeline/test-common-config.yml
  packages/elasticsearch/data_stream/server/_dev/test/pipeline/test-server-logs.log
  packages/elasticsearch/data_stream/server/_dev/test/pipeline/test-server-logs.log-expected.json
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/server/fields/ecs.yml
  packages/elasticsearch/data_stream/server/fields/fields.yml
  packages/elasticsearch/data_stream/server/fields/package-fields.yml
  packages/elasticsearch/data_stream/server/sample_event.json
  packages/elasticsearch/data_stream/shard/sample_event.json
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-common-config.yml
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-indexing-slowlog-logs.log
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-indexing-slowlog-logs.log-expected.json
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-search-slowlog-logs.log
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-search-slowlog-logs.log-expected.json
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/slowlog/fields/ecs.yml
  packages/elasticsearch/data_stream/slowlog/fields/fields.yml
  packages/elasticsearch/data_stream/slowlog/fields/package-fields.yml
  packages/elasticsearch/data_stream/slowlog/sample_event.json
  packages/elasticsearch/docs/README.md
Labels: Integration:Elasticsearch, v8.5.0, Team:Infra Monitoring UI

#4174 Add benchmark step to CI
  .ci/Jenkinsfile
Labels: ci, Team:Security-External Integrations

#3947 [couchbase] Add Integration Package with CBL Replication Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/_dev/deploy/docker/docker-compose.yml
  packages/couchbase/_dev/deploy/docker/files/Dockerfile
  packages/couchbase/_dev/deploy/docker/files/configure-node.sh
  packages/couchbase/_dev/deploy/docker/files/sync-gateway-config.txt
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/cbl_replication/_dev/test/pipeline/test-cbl-replication-metrics.json
  packages/couchbase/data_stream/cbl_replication/_dev/test/pipeline/test-cbl-replication-metrics.json-expected.json
  packages/couchbase/data_stream/cbl_replication/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/cbl_replication/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/cbl_replication/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cbl_replication/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/cbl_replication/fields/base-fields.yml
  packages/couchbase/data_stream/cbl_replication/fields/ecs.yml
  packages/couchbase/data_stream/cbl_replication/fields/fields.yml
  packages/couchbase/data_stream/cbl_replication/manifest.yml
  packages/couchbase/data_stream/cbl_replication/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#4196 [cloudflare] Fix lookup of invalid key for pagination
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/cloudflare/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare

#4179 ti_util: include package in threat_intel category
  packages/ti_util/changelog.yml
  packages/ti_util/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Threat Intel

#4180 windows: fix support for user-provided processors
  packages/windows/changelog.yml
  packages/windows/data_stream/powershell/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/powershell_operational/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/sysmon_operational/agent/stream/winlog.yml.hbs
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Windows

#4181 cloudflare_logpush: harmonise line endings to unix
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare

#4127 okta: mark api_key config field as required
  packages/okta/changelog.yml
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta

#4087 cisco_ise: map cisco_ise.log.avpair.task_id as keyword
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_tacacs_accounting.yml
  packages/cisco_ise/data_stream/log/fields/fields.yml
  packages/cisco_ise/data_stream/log/sample_event.json
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoISE

#3693 atlassian_{confluence,jira}: clarify API authentication
  packages/atlassian_confluence/_dev/build/docs/README.md
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/manifest.yml
  packages/atlassian_confluence/docs/README.md
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/_dev/build/docs/README.md
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/manifest.yml
  packages/atlassian_jira/docs/README.md
  packages/atlassian_jira/manifest.yml
Labels: bug, documentation, Team:Security-External Integrations, Integration:AtlassianJira, Integration:AtlassianConfluence

#4189 cisco_asa: fix handling of non-canonical 113005 messages
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#3789 [GCP] Add dataproc data stream
  packages/gcp/_dev/build/docs/dataproc.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/dataproc/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/dataproc/fields/agent.yml
  packages/gcp/data_stream/dataproc/fields/base-fields.yml
  packages/gcp/data_stream/dataproc/fields/ecs.yml
  packages/gcp/data_stream/dataproc/fields/fields.yml
  packages/gcp/data_stream/dataproc/fields/package-fields.yml
  packages/gcp/data_stream/dataproc/manifest.yml
  packages/gcp/data_stream/dataproc/sample_event.json
  packages/gcp/docs/dataproc.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4016 Update CSP mapping fields
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/data_stream/findings/fields/fields.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, deprecation, Integration:CloudSecurityPosture

#4054 [couchbase] Add Integration Package with Miscellaneous Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/miscellaneous/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/miscellaneous/_dev/test/pipeline/test-miscellaneous-metrics.json
  packages/couchbase/data_stream/miscellaneous/_dev/test/pipeline/test-miscellaneous-metrics.json-expected.json
  packages/couchbase/data_stream/miscellaneous/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/miscellaneous/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/miscellaneous/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/miscellaneous/fields/base-fields.yml
  packages/couchbase/data_stream/miscellaneous/fields/ecs.yml
  packages/couchbase/data_stream/miscellaneous/fields/fields.yml
  packages/couchbase/data_stream/miscellaneous/manifest.yml
  packages/couchbase/data_stream/miscellaneous/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#3788 [GCP] Add PubSub data stream
  packages/gcp/_dev/build/docs/pubsub.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/pubsub/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/pubsub/fields/agent.yml
  packages/gcp/data_stream/pubsub/fields/base-fields.yml
  packages/gcp/data_stream/pubsub/fields/ecs.yml
  packages/gcp/data_stream/pubsub/fields/fields.yml
  packages/gcp/data_stream/pubsub/fields/package-fields.yml
  packages/gcp/data_stream/pubsub/manifest.yml
  packages/gcp/data_stream/pubsub/sample_event.json
  packages/gcp/docs/pubsub.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3797 [GCP] Convert GCP Compute metricset from lightweight
  packages/gcp/changelog.yml
  packages/gcp/data_stream/compute/agent/stream/stream.yml.hbs
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4218 [ci] Use Elastic Stack 8.5.0-SNAPSHOT in daily jobs
  .ci/schedule-daily.groovy
Labels: ci

#4201 infoblox_nios: allow configuration of timezone
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/agent/stream/log.yml.hbs
  packages/infoblox_nios/data_stream/log/agent/stream/tcp.yml.hbs
  packages/infoblox_nios/data_stream/log/agent/stream/udp.yml.hbs
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/manifest.yml
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#4205 [ci] Add mage command to compare bench reports
  .ci/Jenkinsfile
  dev/benchreport/benchmark.go
  dev/benchreport/report.go
  dev/benchreport/result.go
  magefile.go
Labels: ci, Team:Security-External Integrations

#4220 ti_anomali: remove limo datastream
  packages/ti_anomali/_dev/build/docs/README.md
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/limo/_dev/test/pipeline/test-anomali-limo-ndjson.log
  packages/ti_anomali/data_stream/limo/_dev/test/pipeline/test-anomali-limo-ndjson.log-expected.json
  packages/ti_anomali/data_stream/limo/_dev/test/pipeline/test-common-config.yml
  packages/ti_anomali/data_stream/limo/_dev/test/system/test-default-config.yml
  packages/ti_anomali/data_stream/limo/agent/stream/httpjson.yml.hbs
  packages/ti_anomali/data_stream/limo/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/limo/fields/agent.yml
  packages/ti_anomali/data_stream/limo/fields/base-fields.yml
  packages/ti_anomali/data_stream/limo/fields/beats.yml
  packages/ti_anomali/data_stream/limo/fields/ecs.yml
  packages/ti_anomali/data_stream/limo/fields/fields.yml
  packages/ti_anomali/data_stream/limo/manifest.yml
  packages/ti_anomali/data_stream/limo/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Threat Intel

#4104 [activemq] Add ECS fields
  packages/activemq/changelog.yml
  packages/activemq/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/activemq/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/data_stream/audit/fields/ecs.yml
  packages/activemq/data_stream/audit/sample_event.json
  packages/activemq/data_stream/broker/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/data_stream/broker/fields/ecs.yml
  packages/activemq/data_stream/broker/sample_event.json
  packages/activemq/data_stream/log/_dev/test/pipeline/test-activemq.log-expected.json
  packages/activemq/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/data_stream/log/fields/ecs.yml
  packages/activemq/data_stream/log/sample_event.json
  packages/activemq/data_stream/queue/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/data_stream/queue/fields/ecs.yml
  packages/activemq/data_stream/queue/sample_event.json
  packages/activemq/data_stream/topic/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/data_stream/topic/fields/ecs.yml
  packages/activemq/data_stream/topic/sample_event.json
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
Labels: enhancement, Integration:ActiveMQ, Team:Service-Integrations

#4209 cisco_{asa,ftd}: fix handling of 302020 messages
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoFTD, Integration:CiscoASA

#3798 [GCP] Convert GCP Firestore metricset from lightweight
  packages/gcp/changelog.yml
  packages/gcp/data_stream/firestore/agent/stream/stream.yml.hbs
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3793 [GCP] Convert GCP GKE metricset from lightweight
  packages/gcp/changelog.yml
  packages/gcp/data_stream/gke/agent/stream/stream.yml.hbs
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3676 Make cockroachDB GA
  packages/cockroachdb/_dev/build/build.yml
  packages/cockroachdb/_dev/deploy/docker/docker-compose.yml
  packages/cockroachdb/_dev/deploy/variants.yml
  packages/cockroachdb/changelog.yml
  packages/cockroachdb/data_stream/status/_dev/test/system/test-default-config.yml
  packages/cockroachdb/data_stream/status/elasticsearch/ingest_pipeline/default.yml
  packages/cockroachdb/data_stream/status/fields/fields.yml
  packages/cockroachdb/data_stream/status/manifest.yml
  packages/cockroachdb/data_stream/status/sample_event.json
  packages/cockroachdb/docs/README.md
  packages/cockroachdb/kibana/dashboard/cockroachdb-e3ba0c30-9766-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/kibana/visualization/cockroachdb-1a441d60-80bc-11ea-a7c9-d1992452caad.json
  packages/cockroachdb/kibana/visualization/cockroachdb-2af19b90-976c-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/kibana/visualization/cockroachdb-5073ed20-9760-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/kibana/visualization/cockroachdb-79691920-9766-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/kibana/visualization/cockroachdb-8add0960-976a-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/kibana/visualization/cockroachdb-bad285b0-9769-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/kibana/visualization/cockroachdb-cec58d20-80c4-11ea-a7c9-d1992452caad.json
  packages/cockroachdb/manifest.yml
Labels: Integration:CockroachDB, Team:Service-Integrations

#3839 [ti_cif3] Add New TI integration for the Collective Intelligence Framework v3
  .github/CODEOWNERS
  packages/ti_cif3/_dev/build/build.yml
  packages/ti_cif3/_dev/build/docs/README.md
  packages/ti_cif3/_dev/deploy/docker/docker-compose.yml
  packages/ti_cif3/_dev/deploy/docker/files/config.yml
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-sample-ndjson.log
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-sample-ndjson.log-expected.json
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-common-config.yml
  packages/ti_cif3/data_stream/feed/_dev/test/system/test-default-config.yml
  packages/ti_cif3/data_stream/feed/agent/stream/httpjson.yml.hbs
  packages/ti_cif3/data_stream/feed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cif3/data_stream/feed/fields/base-fields.yml
  packages/ti_cif3/data_stream/feed/fields/beats.yml
  packages/ti_cif3/data_stream/feed/fields/ecs.yml
  packages/ti_cif3/data_stream/feed/fields/fields.yml
  packages/ti_cif3/data_stream/feed/manifest.yml
  packages/ti_cif3/data_stream/feed/sample_event.json
  packages/ti_cif3/docs/README.md
  packages/ti_cif3/img/csg_logo_big.svg
  packages/ti_cif3/kibana/dashboard/ti_cif3-6005a190-0aba-11ed-bcc0-01c79f2670f3.json
  packages/ti_cif3/kibana/dashboard/ti_cif3-63a0e470-0a30-11ed-bcc0-01c79f2670f3.json
  packages/ti_cif3/kibana/dashboard/ti_cif3-aedada10-0ab5-11ed-bcc0-01c79f2670f3.json
  packages/ti_cif3/kibana/dashboard/ti_cif3-b4d9d9b0-0a2f-11ed-bcc0-01c79f2670f3.json
  packages/ti_cif3/kibana/dashboard/ti_cif3-bda23600-0abb-11ed-bcc0-01c79f2670f3.json
  packages/ti_cif3/kibana/dashboard/ti_cif3-fef149c0-0a2f-11ed-bcc0-01c79f2670f3.json
  packages/ti_cif3/kibana/tag/ti_cif3-ec8c3e30-0c59-11ed-9b65-435777f1d8a1.json.json
  packages/ti_cif3/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#4233 infoblox_nios: fix configuration page
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/infoblox_nios/data_stream/log/manifest.yml
  packages/infoblox_nios/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Infoblox_nios

#4230 [ci] Fix percentage calculation and shorten report
  dev/benchreport/report.go
Labels: Team:Security-External Integrations

#4247 [Mattermost] Add product docs link
  packages/mattermost/_dev/build/docs/README.md
  packages/mattermost/changelog.yml
  packages/mattermost/docs/README.md
  packages/mattermost/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mattermost

#2371 Document pipeline tests coverage reports
  docs/testing_and_validation.md
Labels: documentation, Team:Integrations, Team:Security-External Integrations

#3967 [oracle] Enhancement to capture system statistics metrics, pga metrics, sga metrics
  packages/oracle/_dev/build/docs/README.md
  packages/oracle/changelog.yml
  packages/oracle/data_stream/memory/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/memory/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/data_stream/memory/fields/base-fields.yml
  packages/oracle/data_stream/memory/fields/ecs.yml
  packages/oracle/data_stream/memory/fields/fields.yml
  packages/oracle/data_stream/memory/manifest.yml
  packages/oracle/data_stream/memory/sample_event.json
  packages/oracle/data_stream/performance/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/performance/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/data_stream/performance/fields/fields.yml
  packages/oracle/data_stream/system_statistics/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/system_statistics/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/data_stream/system_statistics/fields/base-fields.yml
  packages/oracle/data_stream/system_statistics/fields/ecs.yml
  packages/oracle/data_stream/system_statistics/fields/fields.yml
  packages/oracle/data_stream/system_statistics/manifest.yml
  packages/oracle/data_stream/system_statistics/sample_event.json
  packages/oracle/docs/README.md
  packages/oracle/img/Oracle-memory-dashboard.png
  packages/oracle/img/Oracle-performance-dashboard.png
  packages/oracle/img/Oracle-system_statistics-dashboard.png
  packages/oracle/kibana/dashboard/oracle-6b4866c0-1599-11ed-9607-2ba0819b3835.json
  packages/oracle/kibana/dashboard/oracle-b6b2c9f0-13a7-11ed-9607-2ba0819b3835.json
  packages/oracle/kibana/dashboard/oracle-bdb780f0-156a-11ed-9607-2ba0819b3835.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:Oracle

#4206 [logtash] align logstash logs ingestion
  packages/logstash/_dev/build/build.yml
  packages/logstash/_dev/build/docs/README.md
  packages/logstash/_dev/deploy/docker/.env
  packages/logstash/_dev/deploy/docker/config/log4j2.properties
  packages/logstash/_dev/deploy/docker/config/logstash.yml
  packages/logstash/_dev/deploy/docker/docker-compose.yml
  packages/logstash/_dev/deploy/docker/pipeline/persisted-queue.conf
  packages/logstash/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-json.log
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-json.log-expected.json
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-plain.log
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-plain.log-expected.json
  packages/logstash/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/logstash/data_stream/log/fields/ecs.yml
  packages/logstash/data_stream/log/fields/fields.yml
  packages/logstash/data_stream/log/manifest.yml
  packages/logstash/data_stream/log/sample_event.json
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-common-config.yml
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-json.log
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-json.log-expected.json
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-plain.log
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-plain.log-expected.json
  packages/logstash/data_stream/slowlog/elasticsearch/ingest_pipeline/default.yml
  packages/logstash/data_stream/slowlog/fields/ecs.yml
  packages/logstash/data_stream/slowlog/fields/fields.yml
  packages/logstash/data_stream/slowlog/manifest.yml
  packages/logstash/data_stream/slowlog/sample_event.json
  packages/logstash/docs/README.md
  packages/logstash/kibana/dashboard/logstash-Logs-Logstash-Log-Dashboard.json
  packages/logstash/kibana/dashboard/logstash-Logs-Logstash-Slowlog-Dashboard.json
  packages/logstash/kibana/search/logstash-742e45d0-cbdd-11e7-9852-73e0a9df1bb6.json
  packages/logstash/kibana/search/logstash-cfaba090-cbda-11e7-9852-73e0a9df1bb6.json
  packages/logstash/kibana/visualization/logstash-0b1dace0-cbdb-11e7-9852-73e0a9df1bb6.json
  packages/logstash/kibana/visualization/logstash-b3315630-cbdf-11e7-9852-73e0a9df1bb6.json
  packages/logstash/kibana/visualization/logstash-e90b7240-cbda-11e7-9852-73e0a9df1bb6.json
Labels: Integration:Logstash, v8.5.0, Team:Infra Monitoring UI

#3971 [couchbase] Add Integration Package with Resource Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/resource/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/resource/_dev/test/pipeline/test-resource-metrics.json
  packages/couchbase/data_stream/resource/_dev/test/pipeline/test-resource-metrics.json-expected.json
  packages/couchbase/data_stream/resource/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/resource/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/resource/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/resource/fields/base-fields.yml
  packages/couchbase/data_stream/resource/fields/ecs.yml
  packages/couchbase/data_stream/resource/fields/fields.yml
  packages/couchbase/data_stream/resource/manifest.yml
  packages/couchbase/data_stream/resource/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#4190 [influxdb] Initial commit
  .github/CODEOWNERS
  packages/influxdb/_dev/build/build.yml
  packages/influxdb/_dev/build/docs/README.md
  packages/influxdb/_dev/deploy/docker/Dockerfile
  packages/influxdb/_dev/deploy/docker/config.yml
  packages/influxdb/_dev/deploy/docker/docker-compose.yml
  packages/influxdb/_dev/deploy/docker/env.influxdb
  packages/influxdb/_dev/deploy/docker/influxdb.conf
  packages/influxdb/_dev/deploy/docker/variants.yml
  packages/influxdb/changelog.yml
  packages/influxdb/data_stream/advstatus/_dev/test/system/test-perf-config.yml
  packages/influxdb/data_stream/advstatus/agent/stream/stream.yml.hbs
  packages/influxdb/data_stream/advstatus/elasticsearch/ingest_pipeline/default.yml
  packages/influxdb/data_stream/advstatus/fields/base-fields.yml
  packages/influxdb/data_stream/advstatus/fields/ecs.yml
  packages/influxdb/data_stream/advstatus/fields/fields.yml
  packages/influxdb/data_stream/advstatus/manifest.yml
  packages/influxdb/data_stream/advstatus/sample_event.json
  packages/influxdb/data_stream/status/_dev/test/system/test-perf-config.yml
  packages/influxdb/data_stream/status/agent/stream/stream.yml.hbs
  packages/influxdb/data_stream/status/elasticsearch/ingest_pipeline/default.yml
  packages/influxdb/data_stream/status/fields/base-fields.yml
  packages/influxdb/data_stream/status/fields/ecs.yml
  packages/influxdb/data_stream/status/fields/fields.yml
  packages/influxdb/data_stream/status/manifest.yml
  packages/influxdb/data_stream/status/sample_event.json
  packages/influxdb/docs/README.md
  packages/influxdb/img/Influxdb-advstatus.png
  packages/influxdb/img/Influxdb-status.png
  packages/influxdb/img/influxdb-logo.svg
  packages/influxdb/kibana/dashboard/influxdb-6382b060-1eb0-11ed-8cd7-b31b0e0c177f.json
  packages/influxdb/kibana/dashboard/influxdb-ccddb0c0-276e-11ed-8cd7-b31b0e0c177f.json
  packages/influxdb/manifest.yml
Labels: Team:Service-Integrations, Integration:InfluxDB

#3796 [Barracuda CloudGen] Add initial Barracuda CloudGen Firewall integration
  .github/CODEOWNERS
  packages/barracuda_cloudgen_firewall/_dev/build/build.yml
  packages/barracuda_cloudgen_firewall/_dev/build/docs/README.md
  packages/barracuda_cloudgen_firewall/_dev/deploy/docker/docker-compose.yml
  packages/barracuda_cloudgen_firewall/_dev/deploy/docker/sample_logs/firewall.ndjson
  packages/barracuda_cloudgen_firewall/_dev/deploy/docker/sample_logs/thread.ndjson
  packages/barracuda_cloudgen_firewall/_dev/deploy/docker/sample_logs/web.ndjson
  packages/barracuda_cloudgen_firewall/changelog.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-firewall.log
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-firewall.log-config.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-firewall.log-expected.json
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-threat.log
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-threat.log-config.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-threat.log-expected.json
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-web.log
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-web.log-config.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-web.log-expected.json
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/system/test-lumberjack-config.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/agent/stream/lumberjack.yml.hbs
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/threat.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/web.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/fields/base-fields.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/fields/ecs.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/fields/fields.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/manifest.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/sample_event.json
  packages/barracuda_cloudgen_firewall/docs/README.md
  packages/barracuda_cloudgen_firewall/img/logo.svg
  packages/barracuda_cloudgen_firewall/manifest.yml
Labels: Team:Security-External Integrations, Integration:Barracuda, New Integration

#4283 cisco_meraki,fortinet_fortigate: fix ECS issues
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/cisco_meraki/manifest.yml
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Fortinet, Integration:Cisco Meraki

#4004 [GCP] Add loadbalancing_metrics distribution fields
  packages/gcp/changelog.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/fields.yml
  packages/gcp/docs/loadbalancing.md
Labels: Integration:GCP

#4268 [GCP] Remove lightweight module in gcp.storage data stream
  packages/gcp/changelog.yml
  packages/gcp/data_stream/storage/agent/stream/stream.yml.hbs
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4282 Fix duplicated processor in syslog
  packages/system/changelog.yml
  packages/system/data_stream/syslog/agent/stream/log.yml.hbs
  packages/system/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#4219 Azure Billing Metrics UX and docs update
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/changelog.yml
  packages/azure_billing/data_stream/billing/manifest.yml
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#4149 [Azure] Add Identity Protection and Provisioning to Azure AD logs
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/activitylogs.md
  packages/azure/_dev/build/docs/adlogs.md
  packages/azure/_dev/build/docs/eventhub.md
  packages/azure/_dev/build/docs/firewall_logs.md
  packages/azure/_dev/build/docs/platformlogs.md
  packages/azure/_dev/build/docs/springcloudlogs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/activitylogs/manifest.yml
  packages/azure/data_stream/auditlogs/manifest.yml
  packages/azure/data_stream/eventhub/manifest.yml
  packages/azure/data_stream/firewall_logs/manifest.yml
  packages/azure/data_stream/identity_protection/_dev/test/pipeline/test-rickyusers-raw.log
  packages/azure/data_stream/identity_protection/_dev/test/pipeline/test-rickyusers-raw.log-expected.json
  packages/azure/data_stream/identity_protection/_dev/test/pipeline/test-userriskevents-raw.log
  packages/azure/data_stream/identity_protection/_dev/test/pipeline/test-userriskevents-raw.log-expected.json
  packages/azure/data_stream/identity_protection/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/identity_protection/agent/stream/log.yml.hbs
  packages/azure/data_stream/identity_protection/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure/data_stream/identity_protection/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/identity_protection/fields/agent.yml
  packages/azure/data_stream/identity_protection/fields/base-fields.yml
  packages/azure/data_stream/identity_protection/fields/ecs.yml
  packages/azure/data_stream/identity_protection/fields/fields.yml
  packages/azure/data_stream/identity_protection/fields/package-fields.yml
  packages/azure/data_stream/identity_protection/manifest.yml
  packages/azure/data_stream/identity_protection/sample_event.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-kube.log
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-remote-raw.log
  packages/azure/data_stream/platformlogs/manifest.yml
  packages/azure/data_stream/provisioning/_dev/test/pipeline/test-provisioninglogs-raw.log
  packages/azure/data_stream/provisioning/_dev/test/pipeline/test-provisioninglogs-raw.log-expected.json
  packages/azure/data_stream/provisioning/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/provisioning/agent/stream/log.yml.hbs
  packages/azure/data_stream/provisioning/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure/data_stream/provisioning/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/provisioning/fields/agent.yml
  packages/azure/data_stream/provisioning/fields/base-fields.yml
  packages/azure/data_stream/provisioning/fields/ecs.yml
  packages/azure/data_stream/provisioning/fields/fields.yml
  packages/azure/data_stream/provisioning/fields/package-fields.yml
  packages/azure/data_stream/provisioning/manifest.yml
  packages/azure/data_stream/provisioning/sample_event.json
  packages/azure/data_stream/signinlogs/manifest.yml
  packages/azure/data_stream/springcloudlogs/manifest.yml
  packages/azure/docs/README.md
  packages/azure/docs/activitylogs.md
  packages/azure/docs/adlogs.md
  packages/azure/docs/eventhub.md
  packages/azure/docs/firewall_logs.md
  packages/azure/docs/platformlogs.md
  packages/azure/docs/springcloudlogs.md
  packages/azure/kibana/dashboard/azure-3cdf69c0-32d9-11ed-a2e6-916b60bbea71.json
  packages/azure/kibana/dashboard/azure-5ee36c30-32dc-11ed-a2e6-916b60bbea71.json
  packages/azure/kibana/search/azure-813b8ba0-32eb-11ed-8fa6-3121b5e93ca0.json
  packages/azure/kibana/search/azure-a3664560-32ed-11ed-8fa6-3121b5e93ca0.json
  packages/azure/kibana/search/azure-f7cc8d20-32e9-11ed-8fa6-3121b5e93ca0.json
  packages/azure/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#4290 Update documentation
  docs/definitions.md
  docs/developer_workflow_design_build_test_integration.md
  docs/developer_workflow_promote_release_integration.md
  docs/testing_and_validation.md
  docs/tips_for_building_integrations.md
Labels: enhancement

#4296 carbon_black_cloud,sentinel_one: ensure consistent ordering of arrays
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/sample_event.json
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/sample_event.json
  packages/carbon_black_cloud/data_stream/audit/sample_event.json
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/_dev/test/pipeline/test-watchlist-hit.log-expected.json
  packages/carbon_black_cloud/data_stream/watchlist_hit/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/group/sample_event.json
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CarbonBlackCloud, Integration:SentinelOne

#4281 Fix aws.cloudtrail.request_id parsing
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-assume-role-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-change-password-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-virtual-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-deactivate-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-bucket-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-virtual-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-enable-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-remove-user-from-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-start-logging-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-stop-logging-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-accout-password-policy-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-login-profile-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-upload-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: bug, Integration:AWS, Team:Cloud-Monitoring

#4304 add threa_intel category to ti_cif3 integrations
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Threat Intel

#4298 Update kibana logo
  packages/kibana/changelog.yml
  packages/kibana/img/logo_kibana.svg
Labels: bug, Team:Infra Monitoring UI

#3630 Rework system metrics overview and host overview
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/kibana/visualization/system-089b85d0-1b16-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-19e123b0-4d5a-11e7-aee5-fdc812cc3bec.json
  packages/system/kibana/visualization/system-1aae9140-1b93-11e7-8ada-3df93aab833e.json
  packages/system/kibana/visualization/system-26732e20-1b91-11e7-bec4-a5e9ec5cab8b.json
  packages/system/kibana/visualization/system-2e224660-1b19-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-34f97ee0-1b96-11e7-8ada-3df93aab833e.json
  packages/system/kibana/visualization/system-3d65d450-a9c3-11e7-af20-67db8aecb295.json
  packages/system/kibana/visualization/system-4d546850-1b15-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-4e4bb1e0-1b1b-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-522ee670-1b92-11e7-bec4-a5e9ec5cab8b.json
  packages/system/kibana/visualization/system-590a60f0-5d87-11e7-8884-1bb4c3b890e4.json
  packages/system/kibana/visualization/system-6b7b9a40-faa1-11e6-86b1-cd7735ff7e23.json
  packages/system/kibana/visualization/system-7cdb1330-4d1a-11e7-a196-69b9a7a020a9.json
  packages/system/kibana/visualization/system-825fdb80-4d1d-11e7-b5f2-2b7c1895bf32.json
  packages/system/kibana/visualization/system-83e12df0-1b91-11e7-bec4-a5e9ec5cab8b.json
  packages/system/kibana/visualization/system-855899e0-1b1c-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-96976150-4d5d-11e7-aa29-87a97a796de6.json
  packages/system/kibana/visualization/system-99381c80-4d60-11e7-9a4c-ed99bbcaa42b.json
  packages/system/kibana/visualization/system-Navigation.json
  packages/system/kibana/visualization/system-ab2d1e90-1b1a-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-bfa5e400-1b16-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-c5e3cf90-4d60-11e7-9a4c-ed99bbcaa42b.json
  packages/system/kibana/visualization/system-c6f2ffd0-4d17-11e7-a196-69b9a7a020a9.json
  packages/system/kibana/visualization/system-d2e80340-4d5c-11e7-aa29-87a97a796de6.json
  packages/system/kibana/visualization/system-d3166e80-1b91-11e7-bec4-a5e9ec5cab8b.json
  packages/system/kibana/visualization/system-e0f001c0-1b18-11e7-b09e-037021c4f8df.json
  packages/system/kibana/visualization/system-fe064790-1b1f-11e7-bec4-a5e9ec5cab8b.json
  packages/system/manifest.yml
Labels: enhancement

#4255 [elasticsearch] fix pending_tasks mappings
  packages/elasticsearch/_dev/build/docs/README.md
  packages/elasticsearch/_dev/deploy/docker/.env
  packages/elasticsearch/_dev/deploy/docker/docker-compose.yml
  packages/elasticsearch/data_stream/pending_tasks/fields/fields.yml
  packages/elasticsearch/data_stream/pending_tasks/sample_event.json
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/img/logo_elasticsearch.svg
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#4097 [cisco_meraki] Add feature to remove original event
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Meraki

#4093 [cisco_umbrella] trailing forward slash hint removal
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cisco Umbrella

#4316 [carbon_black_cloud] Add support for SQS input type
  packages/carbon_black_cloud/_dev/build/docs/README.md
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/alert/manifest.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/endpoint_event/manifest.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/watchlist_hit/manifest.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CarbonBlackCloud

#4308 [AWS] Fix billing datastream agent template.
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/agent/stream/stream.yml.hbs
  packages/aws/manifest.yml
Labels: bug, Integration:AWS

#4270 [GCP] Remove lightweight module in gcp.dataproc data stream
  packages/gcp/changelog.yml
  packages/gcp/data_stream/dataproc/agent/stream/stream.yml.hbs
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4329 IIS ignore_older flag condition check updated
  packages/iis/changelog.yml
  packages/iis/data_stream/access/agent/stream/log.yml.hbs
  packages/iis/data_stream/error/agent/stream/log.yml.hbs
  packages/iis/manifest.yml
Labels: Team:Service-Integrations

#3982 [couchbase] Add Integration Package with Cache Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/cache/_dev/test/pipeline/test-cache-metrics.json
  packages/couchbase/data_stream/cache/_dev/test/pipeline/test-cache-metrics.json-expected.json
  packages/couchbase/data_stream/cache/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/cache/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/cache/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cache/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/cache/fields/base-fields.yml
  packages/couchbase/data_stream/cache/fields/ecs.yml
  packages/couchbase/data_stream/cache/fields/fields.yml
  packages/couchbase/data_stream/cache/manifest.yml
  packages/couchbase/data_stream/cache/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#4118 [infoblox_bloxone_ddi] Initial Release for the Infoblox BloxOne DDI
  .github/CODEOWNERS
  packages/infoblox_bloxone_ddi/_dev/build/build.yml
  packages/infoblox_bloxone_ddi/_dev/build/docs/README.md
  packages/infoblox_bloxone_ddi/_dev/deploy/docker/docker-compose.yml
  packages/infoblox_bloxone_ddi/_dev/deploy/docker/files/config.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/pipeline/test-common-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/pipeline/test-pipeline-dhcp-lease.log
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/pipeline/test-pipeline-dhcp-lease.log-expected.json
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/system/test-default-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/agent/stream/httpjson.yml.hbs
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/fields/agent.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/fields/base-fields.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/fields/ecs.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/fields/fields.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/sample_event.json
  packages/infoblox_bloxone_ddi/data_stream/dns_config/_dev/test/pipeline/test-common-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/_dev/test/pipeline/test-pipeline-dns-config.log
  packages/infoblox_bloxone_ddi/data_stream/dns_config/_dev/test/pipeline/test-pipeline-dns-config.log-expected.json
  packages/infoblox_bloxone_ddi/data_stream/dns_config/_dev/test/system/test-default-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/agent/stream/httpjson.yml.hbs
  packages/infoblox_bloxone_ddi/data_stream/dns_config/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/fields/agent.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/fields/base-fields.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/fields/ecs.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/fields/fields.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/sample_event.json
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/pipeline/test-common-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/pipeline/test-pipeline-dns-data.log
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/pipeline/test-pipeline-dns-data.log-expected.json
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/system/test-default-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/agent/stream/httpjson.yml.hbs
  packages/infoblox_bloxone_ddi/data_stream/dns_data/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/fields/agent.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/fields/base-fields.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/fields/ecs.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/fields/fields.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/sample_event.json
  packages/infoblox_bloxone_ddi/docs/README.md
  packages/infoblox_bloxone_ddi/img/infoblox-bloxone-ddi-logo.svg
  packages/infoblox_bloxone_ddi/img/infoblox-bloxone-ddi-screenshot.png
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-85daef90-0ce7-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-b8497140-0cdd-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-d3f8a270-0ce3-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/search/infoblox_bloxone_ddi-86860980-34f0-11ed-a2eb-7fc0c8a128fe.json
  packages/infoblox_bloxone_ddi/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration, Integration:infoblox_bloxone_ddi

#4343 [GCP] Add compute ingest pipeline
  packages/gcp/changelog.yml
  packages/gcp/data_stream/compute/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4347 [GCP] Add firestore ingest pipeline
  packages/gcp/changelog.yml
  packages/gcp/data_stream/firestore/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4348 [GCP] Add storage ingest pipeline
  packages/gcp/changelog.yml
  packages/gcp/data_stream/storage/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4349 [GCP] Add pubsub ingest pipeline
  packages/gcp/changelog.yml
  packages/gcp/data_stream/pubsub/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring
