Repository elastic/integrations, pull requests merged in 2022-08, with the labels that each got.

#3877 Add var.storage_account_container in Azure Logs
  packages/azure/changelog.yml
  packages/azure/data_stream/activitylogs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/activitylogs/manifest.yml
  packages/azure/data_stream/auditlogs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/auditlogs/manifest.yml
  packages/azure/data_stream/eventhub/agent/stream/stream.yml.hbs
  packages/azure/data_stream/eventhub/manifest.yml
  packages/azure/data_stream/firewall_logs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/firewall_logs/manifest.yml
  packages/azure/data_stream/platformlogs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/platformlogs/manifest.yml
  packages/azure/data_stream/signinlogs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/signinlogs/manifest.yml
  packages/azure/data_stream/springcloudlogs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/springcloudlogs/manifest.yml
  packages/azure/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3909 [pfsense] Update ECS to 8.4.0
  packages/pfsense/_dev/build/build.yml
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-bsd.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-dhcp.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-haproxy.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-ipsec.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-openvpn.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-squid.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-syslog.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-unbound.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/sample_event.json
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3815 [PFsense] Enhance PFsense Integration with DHCPv6 support
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-bsd.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-dhcp.log
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-dhcp.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-haproxy.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-ipsec.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-openvpn.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-squid.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-syslog.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-unbound.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/haproxy.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/ipsec.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/openvpn.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/php-fpm.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/squid.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/unbound.yml
  packages/pfsense/data_stream/log/fields/ecs.yml
  packages/pfsense/data_stream/log/fields/fields.yml
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:pfSense

#3919 [Cloud Posture] Cloudbeat logs fields update
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Cloud Security Posture

#3923 [ti_misp] Update ECS to 8.4.0
  packages/ti_misp/_dev/build/build.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat/sample_event.json
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3921 [ti_threatq] Update ECS to 8.4.0
  packages/ti_threatq/_dev/build/build.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatq/data_stream/threat/sample_event.json
  packages/ti_threatq/docs/README.md
  packages/ti_threatq/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3930 system/security: fix handling of events 4674, 4738 and 4742
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4674.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4674.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-security-windows2016-4738-account-changed.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System

#3740 cisco_asa: add handling of AAA operations
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-dap-records.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoASA

#3832 fortinet_fortigate: add dashboard
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/img/dashboard.png
  packages/fortinet_fortigate/kibana/dashboard/fortinet_fortigate-d0cd8230-0c8b-11ed-bb95-158df2ca77e4.json
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, dashboard, Integration:Fortinet

#3637 [IBM MQ] Add 'qmgr' Data Stream to IBM MQ package
  packages/ibmmq/_dev/build/build.yml
  packages/ibmmq/_dev/build/docs/README.md
  packages/ibmmq/_dev/deploy/docker/docker-compose.yml
  packages/ibmmq/_dev/deploy/variants.yml
  packages/ibmmq/changelog.yml
  packages/ibmmq/data_stream/errorlog/fields/fields.yml
  packages/ibmmq/data_stream/qmgr/_dev/test/pipeline/test-common-config.yml
  packages/ibmmq/data_stream/qmgr/_dev/test/pipeline/test-qmgr-metrics.json
  packages/ibmmq/data_stream/qmgr/_dev/test/pipeline/test-qmgr-metrics.json-expected.json
  packages/ibmmq/data_stream/qmgr/_dev/test/system/test-default-config.yml
  packages/ibmmq/data_stream/qmgr/agent/stream/stream.yml.hbs
  packages/ibmmq/data_stream/qmgr/elasticsearch/ingest_pipeline/default.yml
  packages/ibmmq/data_stream/qmgr/fields/base-fields.yml
  packages/ibmmq/data_stream/qmgr/fields/ecs.yml
  packages/ibmmq/data_stream/qmgr/fields/fields.yml
  packages/ibmmq/data_stream/qmgr/manifest.yml
  packages/ibmmq/data_stream/qmgr/sample_event.json
  packages/ibmmq/docs/README.md
  packages/ibmmq/img/ibmmq-calls.png
  packages/ibmmq/img/ibmmq-messages.png
  packages/ibmmq/img/ibmmq-subscriptions.png
  packages/ibmmq/img/ibmmq.svg
  packages/ibmmq/kibana/dashboard/ibmmq-8f788c70-36c9-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/dashboard/ibmmq-d2112e90-36ea-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/dashboard/ibmmq-fc5512c0-36d1-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/manifest.yml
Labels: enhancement, Integration:IBM-MQ, Team:Service-Integrations

#3936 [AWS Fargate] Clarify how to run the agent as sidecar container
  packages/awsfargate/_dev/build/docs/README.md
  packages/awsfargate/changelog.yml
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
Labels: documentation, enhancement, Team:Cloud-Monitoring

#3531 Update O365 readme file
  packages/o365/_dev/build/docs/README.md
  packages/o365/changelog.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: documentation, enhancement, Team:Security-External Integrations, Integration:o365

#3856 Move lightweight manifest to integration for EBS data stream
  packages/aws/changelog.yml
  packages/aws/data_stream/ebs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ebs/fields/agent.yml
  packages/aws/data_stream/ebs/fields/package-fields.yml
  packages/aws/data_stream/ebs/sample_event.json
  packages/aws/docs/ebs.md
  packages/aws/manifest.yml
Labels: enhancement

#3928 [elasticsearch] Align mappings with metricbeat
  packages/elasticsearch/data_stream/ccr/fields/base-fields.yml
  packages/elasticsearch/data_stream/ccr/fields/ecs.yml
  packages/elasticsearch/data_stream/ccr/manifest.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/base-fields.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/ecs.yml
  packages/elasticsearch/data_stream/cluster_stats/manifest.yml
  packages/elasticsearch/data_stream/enrich/fields/base-fields.yml
  packages/elasticsearch/data_stream/enrich/fields/ecs.yml
  packages/elasticsearch/data_stream/enrich/manifest.yml
  packages/elasticsearch/data_stream/index/fields/base-fields.yml
  packages/elasticsearch/data_stream/index/fields/ecs.yml
  packages/elasticsearch/data_stream/index/fields/package-fields.yml
  packages/elasticsearch/data_stream/index/manifest.yml
  packages/elasticsearch/data_stream/index_recovery/fields/base-fields.yml
  packages/elasticsearch/data_stream/index_recovery/fields/ecs.yml
  packages/elasticsearch/data_stream/index_recovery/fields/package-fields.yml
  packages/elasticsearch/data_stream/index_recovery/manifest.yml
  packages/elasticsearch/data_stream/index_summary/fields/base-fields.yml
  packages/elasticsearch/data_stream/index_summary/fields/ecs.yml
  packages/elasticsearch/data_stream/index_summary/manifest.yml
  packages/elasticsearch/data_stream/ml_job/fields/base-fields.yml
  packages/elasticsearch/data_stream/ml_job/fields/ecs.yml
  packages/elasticsearch/data_stream/ml_job/manifest.yml
  packages/elasticsearch/data_stream/node/fields/base-fields.yml
  packages/elasticsearch/data_stream/node/fields/ecs.yml
  packages/elasticsearch/data_stream/node/manifest.yml
  packages/elasticsearch/data_stream/node_stats/fields/base-fields.yml
  packages/elasticsearch/data_stream/node_stats/fields/ecs.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/data_stream/node_stats/manifest.yml
  packages/elasticsearch/data_stream/pending_tasks/fields/base-fields.yml
  packages/elasticsearch/data_stream/pending_tasks/fields/ecs.yml
  packages/elasticsearch/data_stream/pending_tasks/manifest.yml
  packages/elasticsearch/data_stream/shard/fields/base-fields.yml
  packages/elasticsearch/data_stream/shard/fields/ecs.yml
  packages/elasticsearch/data_stream/shard/fields/package-fields.yml
  packages/elasticsearch/data_stream/shard/manifest.yml
  packages/elasticsearch/manifest.yml
Labels: v8.5.0, Team:Infra Monitoring UI

#3862 [docs] Update Jamf docs to align with docs guidelines
  packages/jamf_compliance_reporter/_dev/build/docs/README.md
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/docs/README.md
  packages/jamf_compliance_reporter/manifest.yml
Labels: documentation, enhancement, Team:Docs

#3950 [AWS Fargate] Update link to PR
  packages/awsfargate/changelog.yml
Labels: bug, Team:Cloud-Monitoring

#3912 Remove comma from rule id
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/dc91f4c4-4f0e-59ba-a0e1-96e996736787.json
  packages/cloud_security_posture/manifest.yml
Labels: bug

#3966 [Cloud Posture] Update k8s cloud posture release tag to beta
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, v8.4.0, v8.5.0, Team:Cloud Security Posture

#3906 [jamf_compliance_reporter] Update ECS to 8.4.0
  packages/jamf_compliance_reporter/_dev/build/build.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/pipeline/test-pipeline-app-metrics.log-expected.json
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/pipeline/test-pipeline-event.log-expected.json
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_execve.yml
  packages/jamf_compliance_reporter/docs/README.md
  packages/jamf_compliance_reporter/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:JAMF_Compliance_Reporter

#3910 [sentinel_one] Update ECS to 8.4.0
  packages/sentinel_one/_dev/build/build.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/_dev/test/pipeline/test-pipeline-agent.log-expected.json
  packages/sentinel_one/data_stream/agent/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/group/_dev/test/pipeline/test-pipeline-group.log-expected.json
  packages/sentinel_one/data_stream/group/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/group/sample_event.json
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log-expected.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:SentinelOne

#3924 [cisco_meraki] Update ECS to 8.4.0
  packages/cisco_meraki/_dev/build/build.yml
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/_dev/test/pipeline/test-mx-events.json-expected.json
  packages/cisco_meraki/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/events/sample_event.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-airmarshal-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-ip-flow.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-urls.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/security.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/data_stream/log/fields/fields.yml
  packages/cisco_meraki/data_stream/log/sample_event.json
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Meraki

#3970 [IBM MQ] Update changelog entry for automatic promotion of package to snapshot
  packages/ibmmq/changelog.yml
  packages/ibmmq/manifest.yml
Labels: Integration:IBM-MQ, Team:Service-Integrations

#3973 Removing EKS resource type rules
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/433ae1b7-0411-54e2-8b06-f62be93b4089.json
  packages/cloud_security_posture/kibana/csp_rule_template/677697a6-309b-5a91-ba2b-1acd571817a6.json
  packages/cloud_security_posture/kibana/csp_rule_template/f0d65fdb-035c-5e08-b4f8-0a1356c4005c.json
  packages/cloud_security_posture/kibana/csp_rule_template/fa91cef9-6c40-5644-b39d-d17e0f66d507.json
  packages/cloud_security_posture/manifest.yml
Labels: bug

#3920 [ti_anomali] Update ECS to 8.4.0
  packages/ti_anomali/_dev/build/build.yml
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/limo/_dev/test/pipeline/test-anomali-limo-ndjson.log-expected.json
  packages/ti_anomali/data_stream/limo/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/limo/sample_event.json
  packages/ti_anomali/data_stream/threatstream/_dev/test/pipeline/test-anomali-threatstream.json-expected.json
  packages/ti_anomali/data_stream/threatstream/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Threat Intel

#3713 [GCP] Add GCP Load Balancer Metricset
  packages/gcp/_dev/build/docs/audit.md
  packages/gcp/_dev/build/docs/firewall.md
  packages/gcp/_dev/build/docs/loadbalancing.md
  packages/gcp/_dev/build/docs/vpcflow.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/loadbalancing_metrics/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/loadbalancing_metrics/fields/agent.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/base-fields.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/ecs.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/fields.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/package-fields.yml
  packages/gcp/data_stream/loadbalancing_metrics/manifest.yml
  packages/gcp/data_stream/loadbalancing_metrics/sample_event.json
  packages/gcp/docs/audit.md
  packages/gcp/docs/firewall.md
  packages/gcp/docs/loadbalancing.md
  packages/gcp/docs/vpcflow.md
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-0bd0a6e0-9156-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-2f6b6740-909b-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-3f4e9040-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-434f69f0-909b-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-543dac40-909b-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-6958ed10-a6ad-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-6f933ef0-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-8d4ddf40-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-afeb98a0-a6ac-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-be27b340-a6ac-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-c4e1e090-a6aa-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-d5418f80-9156-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-d63465e0-9154-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-dff87070-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-e562eb50-909a-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-eb891a20-9155-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/visualization/gcp-eed05d80-a6ac-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/visualization/gcp-f86c26f0-a6aa-11ea-950e-d57608e3aa51.json
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3943 cisco_asa: relax some grok rules for divergent logs
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#3980 [oracle_weblogic][websphere_application_server] Update changelog entry for automatic promotion of packages to snapshot
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/manifest.yml
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/manifest.yml
Labels: Team:Service-Integrations, Integration:oracle_weblogic, Integration:WebsphereApplicationServer

#3777 Updates to the ProblemChild and DGA integration packages
  packages/dga/changelog.yml
  packages/dga/elasticsearch/ingest_pipeline/ml_dga_inference_pipeline.yml
  packages/dga/kibana/ml_module/dga-ml.json
  packages/dga/kibana/security_rule/170b35d4-d944-4264-a8ca-3118ae2e1534.json
  packages/dga/kibana/security_rule/64116bb2-0f2c-4cf6-9df4-9973452b4d4b.json
  packages/dga/kibana/security_rule/997ec71d-bddc-4513-b6f1-193f601fd420.json
  packages/dga/kibana/security_rule/a020dadb-3da2-4252-91e9-b0fc148823e2.json
  packages/dga/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/elasticsearch/ingest_pipeline/problem_child_inference_pipeline.yml
  packages/problemchild/kibana/ml_module/problemchild-ml.json
  packages/problemchild/kibana/security_rule/34184d4e-ef61-477b-8d76-5c93448c29bf.json
  packages/problemchild/kibana/security_rule/415d6863-7676-401f-aa8d-62f59a28e849.json
  packages/problemchild/kibana/security_rule/86d57ec4-ace5-4456-8145-02e6f0cdd71a.json
  packages/problemchild/kibana/security_rule/9a2e372a-cbeb-4ad6-a288-017ef086324c.json
  packages/problemchild/kibana/security_rule/9b98d945-2cce-45e5-aa84-4b021af0e153.json
  packages/problemchild/kibana/security_rule/a5cb4cd7-ba05-47e8-a815-f95c21719ded.json
  packages/problemchild/kibana/security_rule/ae7c2f69-0c51-4b02-ad54-d3d75023da8b.json
  packages/problemchild/kibana/security_rule/ff590871-371b-468f-8cd8-2876b54c53bd.json
  packages/problemchild/manifest.yml
Labels: bug

#3900 [Couchbase] Update manifest file for bucket data stream
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/bucket/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/bucket/manifest.yml
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#3853 [apache_spark] Update integration package to remove unnecessary fields
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/executor/fields/fields.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: bug, Team:Service-Integrations, integration:ApacheSpark

#3946 [Nagios_XI] Update integration package to remove unnecessary fields
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/fields/fields.yml
  packages/nagios_xi/data_stream/service/fields/fields.yml
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/manifest.yml
Labels: bug, Team:Service-Integrations, Integration:NagiosXI

#3706 [couchbase] Add Integration Package with Cluster Data Stream
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json
  packages/couchbase/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json-expected.json
  packages/couchbase/data_stream/cluster/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/cluster/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/cluster/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cluster/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/cluster/fields/base-fields.yml
  packages/couchbase/data_stream/cluster/fields/ecs.yml
  packages/couchbase/data_stream/cluster/fields/fields.yml
  packages/couchbase/data_stream/cluster/manifest.yml
  packages/couchbase/data_stream/cluster/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#3989 [windows] add field to translate_sid processor in powershell operational
  packages/windows/changelog.yml
  packages/windows/data_stream/powershell_operational/agent/stream/winlog.yml.hbs
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations

#3964 Updates to KSPM Integration README
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/img/benchmarks.png
  packages/cloud_security_posture/img/dashboard.png
  packages/cloud_security_posture/img/findings-flyout.png
  packages/cloud_security_posture/img/findings.png
  packages/cloud_security_posture/img/rules.png
Labels: documentation, 8.4 candidate

#3968 Update input types and vars to support runtime config
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/stream.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: 8.5-candidate, Team:Cloud Security Posture, Integration:CloudSecurityPosture

#3278 [Slack] Add slack integration
  .github/CODEOWNERS
  packages/slack/_dev/build/build.yml
  packages/slack/_dev/build/docs/README.md
  packages/slack/_dev/deploy/docker/docker-compose.yml
  packages/slack/_dev/deploy/docker/files/config.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/slack/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/slack/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/fields/agent.yml
  packages/slack/data_stream/audit/fields/base-fields.yml
  packages/slack/data_stream/audit/fields/beats.yml
  packages/slack/data_stream/audit/fields/ecs.yml
  packages/slack/data_stream/audit/fields/fields.yml
  packages/slack/data_stream/audit/manifest.yml
  packages/slack/data_stream/audit/sample_event.json
  packages/slack/docs/README.md
  packages/slack/img/slack.svg
  packages/slack/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:Slack

#3004 Update Netscout readme
  packages/netscout/changelog.yml
  packages/netscout/docs/README.md
  packages/netscout/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Netscout, conflicts

#3979 proofpoint_tap: clarify use of {source,destination}.ip
  packages/proofpoint_tap/_dev/build/docs/README.md
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Proofpoint, docs

#3945 windows/forwarded: add support for events 4674, 4738 and 4742
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4674.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4674.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4738.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4738.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4742.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4742.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-windows2016-4738-account-changed.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/data_stream/forwarded/fields/winlog.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows, Team:Elastic-Agent-Data-Plane

#3002 Update Netflow readme
  packages/netflow/_dev/build/docs/README.md
  packages/netflow/changelog.yml
  packages/netflow/docs/README.md
  packages/netflow/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Netflow, conflicts

#3876 [Snort] Add Snort 3 JSON alert file compatibility
  packages/snort/_dev/build/docs/README.md
  packages/snort/changelog.yml
  packages/snort/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-csv.log-expected.json
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-fast.log-expected.json
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-full.log-config.yml
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-full.log-expected.json
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-json.log
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-json.log-expected.json
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-pfsense.log-expected.json
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-syslog.log-expected.json
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/json.yml
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/plaintext.yml
  packages/snort/data_stream/log/fields/ecs.yml
  packages/snort/docs/README.md
  packages/snort/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Snort

#3962 [Abuse CH] Add Threat Fox Datastream
  packages/ti_abusech/_dev/build/docs/README.md
  packages/ti_abusech/_dev/deploy/docker/docker-compose.yml
  packages/ti_abusech/_dev/deploy/docker/files/config-threatfox.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/sample_event.json
  packages/ti_abusech/data_stream/malwarebazaar/sample_event.json
  packages/ti_abusech/data_stream/threatfox/_dev/test/pipeline/test-common-config.yml
  packages/ti_abusech/data_stream/threatfox/_dev/test/pipeline/test-threatfox-ndjson.log
  packages/ti_abusech/data_stream/threatfox/_dev/test/pipeline/test-threatfox-ndjson.log-expected.json
  packages/ti_abusech/data_stream/threatfox/_dev/test/system/test-default-config.yml
  packages/ti_abusech/data_stream/threatfox/agent/stream/httpjson.yml.hbs
  packages/ti_abusech/data_stream/threatfox/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/threatfox/fields/agent.yml
  packages/ti_abusech/data_stream/threatfox/fields/base-fields.yml
  packages/ti_abusech/data_stream/threatfox/fields/beats.yml
  packages/ti_abusech/data_stream/threatfox/fields/ecs.yml
  packages/ti_abusech/data_stream/threatfox/fields/fields.yml
  packages/ti_abusech/data_stream/threatfox/manifest.yml
  packages/ti_abusech/data_stream/threatfox/sample_event.json
  packages/ti_abusech/data_stream/url/sample_event.json
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/manifest.yml
Labels: Team:Security-External Integrations, Integration:Threat Intel, Integration:AbuseCH

#3553 [AWS] Add the Security Hub data streams
  packages/aws/_dev/build/docs/securityhub.md
  packages/aws/changelog.yml
  packages/aws/data_stream/securityhub_findings/_dev/deploy/docker/docker-compose.yml
  packages/aws/data_stream/securityhub_findings/_dev/deploy/docker/files/certificate.crt
  packages/aws/data_stream/securityhub_findings/_dev/deploy/docker/files/config.yml
  packages/aws/data_stream/securityhub_findings/_dev/deploy/docker/files/private.key
  packages/aws/data_stream/securityhub_findings/_dev/test/pipeline/test-common-config.yml
  packages/aws/data_stream/securityhub_findings/_dev/test/pipeline/test-securityhub-findings.log
  packages/aws/data_stream/securityhub_findings/_dev/test/pipeline/test-securityhub-findings.log-expected.json
  packages/aws/data_stream/securityhub_findings/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/securityhub_findings/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_findings/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_findings/fields/agent.yml
  packages/aws/data_stream/securityhub_findings/fields/base-fields.yml
  packages/aws/data_stream/securityhub_findings/fields/ecs.yml
  packages/aws/data_stream/securityhub_findings/fields/fields.yml
  packages/aws/data_stream/securityhub_findings/manifest.yml
  packages/aws/data_stream/securityhub_findings/sample_event.json
  packages/aws/data_stream/securityhub_insights/_dev/deploy/docker/docker-compose.yml
  packages/aws/data_stream/securityhub_insights/_dev/deploy/docker/files/certificate.crt
  packages/aws/data_stream/securityhub_insights/_dev/deploy/docker/files/config.yml
  packages/aws/data_stream/securityhub_insights/_dev/deploy/docker/files/private.key
  packages/aws/data_stream/securityhub_insights/_dev/test/pipeline/test-common-config.yml
  packages/aws/data_stream/securityhub_insights/_dev/test/pipeline/test-securityhub-insights.log
  packages/aws/data_stream/securityhub_insights/_dev/test/pipeline/test-securityhub-insights.log-expected.json
  packages/aws/data_stream/securityhub_insights/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/securityhub_insights/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_insights/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_insights/fields/agent.yml
  packages/aws/data_stream/securityhub_insights/fields/base-fields.yml
  packages/aws/data_stream/securityhub_insights/fields/ecs.yml
  packages/aws/data_stream/securityhub_insights/fields/fields.yml
  packages/aws/data_stream/securityhub_insights/manifest.yml
  packages/aws/data_stream/securityhub_insights/sample_event.json
  packages/aws/docs/securityhub.md
  packages/aws/img/logo_securityhub.svg
  packages/aws/img/securityhub-screenshot.png
  packages/aws/kibana/dashboard/aws-3d3dbe00-f79f-11ec-aa7f-c173c0f9e267.json
  packages/aws/kibana/dashboard/aws-8fcf4c20-f7a3-11ec-aa7f-c173c0f9e267.json
  packages/aws/kibana/dashboard/aws-cc571400-dc61-11ec-a6e3-1bc5ab0aa1b4.json
  packages/aws/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AWS, Team:Cloud-Monitoring

#3819 [Fortinet] Deprecate original integration & change logfile to filestream
  packages/fortinet/_dev/build/docs/README.md
  packages/fortinet/changelog.yml
  packages/fortinet/docs/README.md
  packages/fortinet/manifest.yml
  packages/fortinet_forticlient/changelog.yml
  packages/fortinet_forticlient/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_forticlient/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_forticlient/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_forticlient/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_forticlient/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_forticlient/manifest.yml
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/manifest.yml
  packages/fortinet_fortimail/changelog.yml
  packages/fortinet_fortimail/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_fortimail/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortimail/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortimail/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortimail/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimail/manifest.yml
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_fortimanager/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortimanager/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortimanager/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortimanager/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimanager/manifest.yml
Labels: Team:Security-External Integrations, Integration:Fortinet

#3659 [Osquery] OSQuery DFIR Saved Queries
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-0f61edf0-17e1-11ed-89c6-331eb0db6d01.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-157d5550-fd27-11ec-8645-83a23bc513b5.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-3e553650-17fd-11ed-89c6-331eb0db6d01.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-3e7155d0-0db5-11ed-a49c-6b13b058b135.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-55955db0-0c07-11ed-a49c-6b13b058b135.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-63c1fe20-176f-11ed-89c6-331eb0db6d01.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-83869f40-0dab-11ed-a49c-6b13b058b135.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-a08d7320-1823-11ed-89c6-331eb0db6d01.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-b0683c20-0dbb-11ed-a49c-6b13b058b135.json
  packages/osquery_manager/kibana/osquery_saved_query/osquery_manager-ee586dc0-1801-11ed-89c6-331eb0db6d01.json
  packages/osquery_manager/manifest.yml
Labels: Team:Asset Mgt, >enhancement, v8.4.0

#3883 [infoblox_nios] Added Support for new type of DHCP logs
  packages/infoblox_nios/_dev/build/docs/README.md
  packages/infoblox_nios/_dev/deploy/docker/sample_logs/log.log
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/fields/fields.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox

#3961 [tenable_sc] Fix an indefinite pagination bug by adding explicit pagination termination conditions.
  packages/tenable_sc/_dev/build/docs/README.md
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/asset/sample_event.json
  packages/tenable_sc/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/plugin/sample_event.json
  packages/tenable_sc/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/vulnerability/sample_event.json
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:TenableSC

#3669 [sentinel_one] Change event.kind and adjust some relevant alert fields
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log-expected.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/fields/ecs.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: Team:Security-External Integrations, Integration:SentinelOne

#3948 [Cassandra] Update as per best practices
  packages/cassandra/_dev/build/docs/README.md
  packages/cassandra/changelog.yml
  packages/cassandra/data_stream/log/_dev/test/pipeline/test-cassandra.log-expected.json
  packages/cassandra/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cassandra/data_stream/log/fields/agent.yml
  packages/cassandra/data_stream/log/fields/ecs.yml
  packages/cassandra/data_stream/log/fields/fields.yml
  packages/cassandra/data_stream/log/manifest.yml
  packages/cassandra/data_stream/log/sample_event.json
  packages/cassandra/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/cassandra/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/cassandra/data_stream/metrics/fields/ecs.yml
  packages/cassandra/data_stream/metrics/fields/fields.yml
  packages/cassandra/data_stream/metrics/manifest.yml
  packages/cassandra/data_stream/metrics/sample_event.json
  packages/cassandra/docs/README.md
  packages/cassandra/img/[Logs Cassandra] System Logs.jpg
  packages/cassandra/img/[Logs Cassandra] System Logs.png
  packages/cassandra/img/[Metrics Cassandra] Overview.png
  packages/cassandra/kibana/dashboard/cassandra-25b7d6d0-1c71-11ec-84f1-e1733c643874.json
  packages/cassandra/kibana/dashboard/cassandra-49e4e6e0-cc54-11ec-8c59-ed6efced90da.json
  packages/cassandra/kibana/search/cassandra-a7a48e10-1f8a-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-01880100-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-33068620-1f90-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-3437c610-1f83-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-49575c60-1f8b-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-49daddb0-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-54c57b30-1f91-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-5ba3b360-2020-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-700c4f60-2020-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-86a4d8e0-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-87490750-1f8e-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-88fb36d0-2020-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-8d84a7e0-1f62-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-90562c80-1f64-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-aa19ff10-1f83-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-ae0768e0-1f62-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-b5f8a180-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-c0d1d7b0-1f82-11ec-ba68-fbf426daf104.json
  packages/cassandra/kibana/visualization/cassandra-c6465e10-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-d83fced0-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-e84ad280-1f5d-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/kibana/visualization/cassandra-f733d980-1f5e-11ec-a3a3-6bd3ff5963e5.json
  packages/cassandra/manifest.yml
Labels: enhancement, Integration:Cassandra, Team:Service-Integrations

#3993 [logstash] align mappings with metricbeat
  packages/logstash/_dev/deploy/docker/config/logstash.yml
  packages/logstash/_dev/deploy/docker/config/pipelines.yml
  packages/logstash/_dev/deploy/docker/docker-compose.yml
  packages/logstash/_dev/deploy/docker/pipeline/memory-queue.conf
  packages/logstash/_dev/deploy/docker/pipeline/persisted-queue.conf
  packages/logstash/_dev/deploy/docker/pipeline/standalone-pipeline.conf
  packages/logstash/data_stream/node/fields/ecs.yml
  packages/logstash/data_stream/node/fields/fields.yml
  packages/logstash/data_stream/node/fields/package-fields.yml
  packages/logstash/data_stream/node/manifest.yml
  packages/logstash/data_stream/node_stats/fields/ecs.yml
  packages/logstash/data_stream/node_stats/fields/fields.yml
  packages/logstash/data_stream/node_stats/fields/package-fields.yml
  packages/logstash/data_stream/node_stats/manifest.yml
Labels: Integration:Logstash, v8.5.0, Team:Infra Monitoring UI

#3999 Fixes the ML jobs query for the LotL Attack Detection Package
  packages/problemchild/changelog.yml
  packages/problemchild/kibana/ml_module/problemchild-ml.json
  packages/problemchild/manifest.yml
Labels: bug

#4012 auditd,system: add missing event.original mappings
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/fields/ecs.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/auth/fields/ecs.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System, Team:Elastic-Agent-Data-Plane, Integration:Auditd

#4007 Elastic Agent: Fix ECS fields resolution
  packages/elastic_agent/_dev/build/build.yml
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/manifest.yml
Labels: bug, Integration:Elastic-Agent, Team:Elastic-Agent-Control-Plane

#4037 [journald] Add 8.x support
  packages/journald/_dev/build/build.yml
  packages/journald/_dev/build/docs/README.md
  packages/journald/changelog.yml
  packages/journald/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/journald/data_stream/log/fields/ecs.yml
  packages/journald/data_stream/log/sample_event.json
  packages/journald/docs/README.md
  packages/journald/manifest.yml
Labels: enhancement, Integration:journald, Team:Elastic-Agent-Data-Plane

#3694 cisco_ios: fix grok for ASR format logs
  packages/cisco_ios/_dev/build/docs/README.md
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-asr920.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-asr920.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format-tzoffset.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/data_stream/log/fields/fields.yml
  packages/cisco_ios/data_stream/log/sample_event.json
  packages/cisco_ios/docs/README.md
  packages/cisco_ios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoIOS

#3978 [kibana] add documentation for alert metricsets
  packages/kibana/_dev/build/docs/README.md
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: v8.5.0, Team:Infra Monitoring UI

#3882 [activemq] Update integration package to remove unnecessary fields
  packages/activemq/changelog.yml
  packages/activemq/data_stream/log/fields/fields.yml
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
Labels: bug, Integration:ActiveMQ, Team:Service-Integrations

#3493 [GCP] Add GCP Load Balancer Logs Datastream
  packages/gcp/_dev/build/docs/loadbalancing.md
  packages/gcp/_dev/deploy/docker/docker-compose.yml
  packages/gcp/_dev/deploy/docker/sample_logs/load_balancer.log
  packages/gcp/changelog.yml
  packages/gcp/data_stream/loadbalancing_logs/_dev/test/pipeline/test-common-config.yml
  packages/gcp/data_stream/loadbalancing_logs/_dev/test/pipeline/test-load_balancer.log
  packages/gcp/data_stream/loadbalancing_logs/_dev/test/pipeline/test-load_balancer.log-expected.json
  packages/gcp/data_stream/loadbalancing_logs/_dev/test/system/test-pubsub-config.yml
  packages/gcp/data_stream/loadbalancing_logs/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/loadbalancing_logs/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/loadbalancing_logs/fields/agent.yml
  packages/gcp/data_stream/loadbalancing_logs/fields/base-fields.yml
  packages/gcp/data_stream/loadbalancing_logs/fields/ecs.yml
  packages/gcp/data_stream/loadbalancing_logs/fields/fields.yml
  packages/gcp/data_stream/loadbalancing_logs/manifest.yml
  packages/gcp/data_stream/loadbalancing_logs/sample_event.json
  packages/gcp/docs/loadbalancing.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4034 [Prometheus] Disable leader election; Remove default value for bearer token
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/manifest.yml
Labels: bug

#3787 [sentinel_one] Enrich events with event.{category,type,outcome}
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/group/sample_event.json
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log-expected.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: bug, Team:Security-External Integrations, conflicts, Integration:SentinelOne

#3907 AWS integration documentation updates
  packages/aws/_dev/build/docs/billing.md
  packages/aws/_dev/build/docs/cloudtrail.md
  packages/aws/_dev/build/docs/cloudwatch.md
  packages/aws/_dev/build/docs/dynamodb.md
  packages/aws/_dev/build/docs/ebs.md
  packages/aws/_dev/build/docs/ec2.md
  packages/aws/_dev/build/docs/ecs.md
  packages/aws/_dev/build/docs/elb.md
  packages/aws/_dev/build/docs/firewall.md
  packages/aws/_dev/build/docs/kinesis.md
  packages/aws/_dev/build/docs/lambda.md
  packages/aws/_dev/build/docs/natgateway.md
  packages/aws/_dev/build/docs/rds.md
  packages/aws/_dev/build/docs/redshift.md
  packages/aws/_dev/build/docs/route53.md
  packages/aws/_dev/build/docs/s3.md
  packages/aws/_dev/build/docs/s3_storage_lens.md
  packages/aws/_dev/build/docs/sns.md
  packages/aws/_dev/build/docs/sqs.md
  packages/aws/_dev/build/docs/transitgateway.md
  packages/aws/_dev/build/docs/usage.md
  packages/aws/_dev/build/docs/vpcflow.md
  packages/aws/_dev/build/docs/vpn.md
  packages/aws/_dev/build/docs/waf.md
  packages/aws/changelog.yml
  packages/aws/docs/billing.md
  packages/aws/docs/cloudtrail.md
  packages/aws/docs/cloudwatch.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/ecs.md
  packages/aws/docs/elb.md
  packages/aws/docs/firewall.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/redshift.md
  packages/aws/docs/route53.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpcflow.md
  packages/aws/docs/vpn.md
  packages/aws/docs/waf.md
  packages/aws/manifest.yml
Labels: Team:Docs, Team:Cloud-Monitoring

#3944 system/security: add test cases for events 4738 and 4742
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4738.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4738.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4742.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4742.json-expected.json
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System, Team:Elastic-Agent-Data-Plane

#4059 Update gcp test file names to match regex
  packages/gcp/data_stream/loadbalancing_logs/_dev/test/pipeline/test-load-balancer.log
  packages/gcp/data_stream/loadbalancing_logs/_dev/test/pipeline/test-load-balancer.log-expected.json
Labels: enhancement

#4045 [zscaler_zia] Remap network.protocol/scheme to valid values for uri_parts
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:ZscalerZIA

#3908 Creating Cyberark PTA integration
  .github/CODEOWNERS
  packages/cyberark_pta/_dev/build/build.yml
  packages/cyberark_pta/_dev/build/docs/README.md
  packages/cyberark_pta/_dev/deploy/docker/docker-compose.yml
  packages/cyberark_pta/_dev/deploy/docker/sample_logs/active_dormant_user.log
  packages/cyberark_pta/_dev/deploy/docker/sample_logs/suspected_cred_theft.log
  packages/cyberark_pta/changelog.yml
  packages/cyberark_pta/data_stream/events/_dev/test/pipeline/test-active-dormant-user.json
  packages/cyberark_pta/data_stream/events/_dev/test/pipeline/test-active-dormant-user.json-expected.json
  packages/cyberark_pta/data_stream/events/_dev/test/pipeline/test-generated.log-config.yml
  packages/cyberark_pta/data_stream/events/_dev/test/pipeline/test-suspected-cred-theft.json
  packages/cyberark_pta/data_stream/events/_dev/test/pipeline/test-suspected-cred-theft.json-expected.json
  packages/cyberark_pta/data_stream/events/_dev/test/system/test-tcp-config.yml
  packages/cyberark_pta/data_stream/events/_dev/test/system/test-udp-config.yml
  packages/cyberark_pta/data_stream/events/agent/stream/tcp.yml.hbs
  packages/cyberark_pta/data_stream/events/agent/stream/udp.yml.hbs
  packages/cyberark_pta/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/cyberark_pta/data_stream/events/fields/agent.yml
  packages/cyberark_pta/data_stream/events/fields/base-fields.yml
  packages/cyberark_pta/data_stream/events/fields/cef.yml
  packages/cyberark_pta/data_stream/events/fields/ecs.yml
  packages/cyberark_pta/data_stream/events/fields/fields.yml
  packages/cyberark_pta/data_stream/events/manifest.yml
  packages/cyberark_pta/data_stream/events/sample_event.json
  packages/cyberark_pta/docs/README.md
  packages/cyberark_pta/img/cyberarkpta-overview.png
  packages/cyberark_pta/img/logo.svg
  packages/cyberark_pta/kibana/dashboard/cyberark_pta-eea41650-18bd-11ed-9abd-41a4c44d6e7d.json
  packages/cyberark_pta/kibana/search/cyberark_pta-b36467d0-18c1-11ed-9abd-41a4c44d6e7d.json
  packages/cyberark_pta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CyberArkPAS

#3785 [GCP] Add storage data stream
  packages/gcp/_dev/build/docs/storage.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/storage/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/storage/fields/agent.yml
  packages/gcp/data_stream/storage/fields/base-fields.yml
  packages/gcp/data_stream/storage/fields/ecs.yml
  packages/gcp/data_stream/storage/fields/fields.yml
  packages/gcp/data_stream/storage/fields/package-fields.yml
  packages/gcp/data_stream/storage/manifest.yml
  packages/gcp/data_stream/storage/sample_event.json
  packages/gcp/docs/storage.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3754 [github] Add dependabot alerts data stream
  packages/github/_dev/build/docs/README.md
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/changelog.yml
  packages/github/data_stream/audit/sample_event.json
  packages/github/data_stream/code_scanning/sample_event.json
  packages/github/data_stream/dependabot/_dev/test/pipeline/test-common-config.yml
  packages/github/data_stream/dependabot/_dev/test/pipeline/test-ghas-dependabot-json.log
  packages/github/data_stream/dependabot/_dev/test/pipeline/test-ghas-dependabot-json.log-expected.json
  packages/github/data_stream/dependabot/_dev/test/system/test-default-config.yml
  packages/github/data_stream/dependabot/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/dependabot/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/dependabot/fields/agent.yml
  packages/github/data_stream/dependabot/fields/base-fields.yml
  packages/github/data_stream/dependabot/fields/ecs.yml
  packages/github/data_stream/dependabot/fields/fields.yml
  packages/github/data_stream/dependabot/manifest.yml
  packages/github/data_stream/dependabot/sample_event.json
  packages/github/data_stream/secret_scanning/sample_event.json
  packages/github/docs/README.md
  packages/github/kibana/dashboard/github-6197be80-220c-11ed-88c4-e3caca48250a.json
  packages/github/kibana/lens/github-04449ba0-18f6-11ed-bfaa-c5ff8bfbd9eb.json
  packages/github/kibana/lens/github-0bf30d50-12fc-11ed-af77-016e1a977d80.json
  packages/github/kibana/lens/github-115e2840-16d2-11ed-b047-912ecccf2770.json
  packages/github/kibana/lens/github-1b0f3c80-16d2-11ed-b047-912ecccf2770.json
  packages/github/kibana/lens/github-2008a5e0-2227-11ed-baae-3bf13a70d512.json
  packages/github/kibana/lens/github-444df1c0-1300-11ed-af77-016e1a977d80.json
  packages/github/kibana/lens/github-6255ef10-18f0-11ed-bfaa-c5ff8bfbd9eb.json
  packages/github/kibana/lens/github-6ec29220-18f6-11ed-bfaa-c5ff8bfbd9eb.json
  packages/github/kibana/lens/github-74369d20-18ef-11ed-bfaa-c5ff8bfbd9eb.json
  packages/github/kibana/lens/github-809bfb50-16d3-11ed-b047-912ecccf2770.json
  packages/github/kibana/lens/github-83e3c4c0-16fe-11ed-bf91-a5e17288f47b.json
  packages/github/kibana/lens/github-ad175210-130e-11ed-af77-016e1a977d80.json
  packages/github/kibana/lens/github-b359f800-18f7-11ed-bfaa-c5ff8bfbd9eb.json
  packages/github/kibana/lens/github-c4536e30-16e4-11ed-b047-912ecccf2770.json
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Github

#4036 [hashicorp_vault] Test with Vault 1.11.2
  packages/hashicorp_vault/_dev/build/docs/README.md
  packages/hashicorp_vault/_dev/deploy/docker/docker-compose.yml
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/data_stream/audit/fields/ecs.yml
  packages/hashicorp_vault/data_stream/audit/fields/fields.yml
  packages/hashicorp_vault/data_stream/audit/sample_event.json
  packages/hashicorp_vault/docs/README.md
  packages/hashicorp_vault/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:HashicorpVault

#4065 zeek: add handling for threat.indicator fields from zeek.intel
  packages/zeek/changelog.yml
  packages/zeek/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/zeek/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/zeek/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/intel/fields/ecs.yml
  packages/zeek/docs/README.md
  packages/zeek/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zeek

#4055 Remove histogram.counts/values subfields
  packages/elastic_package_registry/changelog.yml
  packages/elastic_package_registry/data_stream/metrics/fields/fields.yml
  packages/elastic_package_registry/docs/README.md
  packages/elastic_package_registry/manifest.yml
Labels: enhancement

#4057 [AWS] Fix EC2 dashboard
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-c5846400-f7fb-11e8-af03-c999c9dea608.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#4072 Add configuration for stale bot
  .github/stale.yml
Labels: discuss, Team:Ecosystem

#3251 Update: Add support for x_forwarded_for headers in apaches access logs
  packages/apache/_dev/build/docs/README.md
  packages/apache/_dev/deploy/docker/httpd.conf
  packages/apache/changelog.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-darwin.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ssl-request.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ubuntu.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-vhost.log-expected.json
  packages/apache/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/access/fields/ecs.yml
  packages/apache/data_stream/access/fields/fields.yml
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-basic.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-darwin.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-trace.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-ubuntu.log-expected.json
  packages/apache/docs/README.md
  packages/apache/manifest.yml
Labels: >enhancement, Team:Service-Integrations

#4084 [System] Fix missing field mappings
  packages/system/changelog.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: Team:Security-External Integrations

#3960 [Spring Boot] Update the field in `audit_events` data stream dashboard
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/audit_events/_dev/test/pipeline/test-auditevent-metrics.log-expected.json
  packages/spring_boot/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/audit_events/fields/fields.yml
  packages/spring_boot/data_stream/audit_events/sample_event.json
  packages/spring_boot/data_stream/gc/sample_event.json
  packages/spring_boot/data_stream/http_trace/_dev/test/pipeline/test-httptrace-metrics.log-expected.json
  packages/spring_boot/data_stream/http_trace/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/http_trace/fields/fields.yml
  packages/spring_boot/data_stream/http_trace/sample_event.json
  packages/spring_boot/data_stream/memory/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/memory/fields/fields.yml
  packages/spring_boot/data_stream/memory/sample_event.json
  packages/spring_boot/data_stream/threading/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/kibana/lens/spring_boot-0f481600-ca11-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-12228630-ca11-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-4a05b120-c9ea-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-a41702e0-c7f1-11ec-986a-f1e84447fd00.json
  packages/spring_boot/kibana/lens/spring_boot-e9033ff0-c9e9-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/manifest.yml
Labels: bug, Integration:SpringBoot, Team:Service-Integrations

#4074 fix condition on community_id processor
  packages/traefik/changelog.yml
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/traefik/manifest.yml
Labels: bug

#4091 [panw] bug fix for adding processors
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/agent/stream/tcp.yml.hbs
  packages/panw/data_stream/panos/agent/stream/udp.yml.hbs
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations

#4098 [GCP] Add GKE data stream
  packages/gcp/_dev/build/docs/gke.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/gke/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/gke/fields/agent.yml
  packages/gcp/data_stream/gke/fields/base-fields.yml
  packages/gcp/data_stream/gke/fields/ecs.yml
  packages/gcp/data_stream/gke/fields/fields.yml
  packages/gcp/data_stream/gke/fields/package-fields.yml
  packages/gcp/data_stream/gke/manifest.yml
  packages/gcp/data_stream/gke/sample_event.json
  packages/gcp/docs/gke.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4090 Adding threat intel util package (dashboard overview)
  .github/CODEOWNERS
  packages/ti_util/changelog.yml
  packages/ti_util/docs/README.md
  packages/ti_util/img/security-logo-color-64px.svg
  packages/ti_util/img/threat-intel-overview.png
  packages/ti_util/kibana/dashboard/ti_util-9eff2529-fff5-4064-b825-fa089f260bfa.json
  packages/ti_util/kibana/tag/ti_util-3e4bef62-18b5-4f4a-96fa-45b0ec39bd73.json
  packages/ti_util/kibana/tag/ti_util-854dd9b5-b286-4329-84a7-1435fe04e3b7.json
  packages/ti_util/kibana/visualization/ti_util-47236b21-3905-4ee3-825e-cdd91f819c13.json
  packages/ti_util/manifest.yml
Labels: enhancement, Team:Security-External Integrations
