Repository elastic/integrations, pull requests merged in 2022-07, with the labels that each got.

#3619 Adding EKS input type to the cloud security posture integration
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/stream.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, 8.4 candidate

#3612 Fix pfsense grok to support new opensense log format
  packages/pfsense/_dev/deploy/docker/sample_logs/pfsense.log
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-bsd.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-syslog.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/pfsense/data_stream/log/sample_event.json
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: bug, Team:Security-External Integrations

#3651 [Snyk and Cloudflare] Fix indefinite pagination
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/cloudflare/manifest.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/snyk/data_stream/vulnerabilities/agent/stream/httpjson.yml.hbs
  packages/snyk/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Snyk, Integration:Cloudflare

#3534 update 1Password readme
  packages/1password/_dev/build/docs/README.md
  packages/1password/changelog.yml
  packages/1password/docs/README.md
  packages/1password/manifest.yml
Labels: documentation, enhancement, Team:Security-External Integrations, Integration:1Password

#3650 cisco_asa: fix handling of user parsing with sgt fields
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#3655 [docs] Fix typo in Linux docs
  packages/linux/_dev/build/docs/README.md
  packages/linux/changelog.yml
  packages/linux/docs/README.md
  packages/linux/manifest.yml
Labels: documentation, enhancement

#3661 [httpjson] Remove defaults from manifest.
  packages/httpjson/changelog.yml
  packages/httpjson/data_stream/generic/manifest.yml
  packages/httpjson/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:httpjson

#3393 [docs] Add context to Nginx integration documentation
  packages/nginx/_dev/build/docs/README.md
  packages/nginx/changelog.yml
  packages/nginx/docs/README.md
  packages/nginx/manifest.yml
Labels: documentation, enhancement, Team:Docs

#3629 [Azure Metrics] Move container_registry metrics from beats to integrations
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_registry/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_registry/elasticsearch/ingest_pipeline/default.yml
  packages/azure_metrics/data_stream/container_registry/sample_event.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3631 [Azure Metrics] Move database_account metrics from beats to integrations
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/database_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/database_account/elasticsearch/ingest_pipeline/default.yml
  packages/azure_metrics/data_stream/database_account/sample_event.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3662 Prometheus integration: minor enhancements as an outcome of evaluation issues
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
Labels: enhancement

#3665 suricata: add SNI to related.hosts for TLS events
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-expected.json
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/dns-answer-v1.yml
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/dns-answer-v2.yml
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/dns.yml
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/tls.yml
  packages/suricata/data_stream/eve/sample_event.json
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Suricata

#3578 Azure Firewall integration
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/firewall_logs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-applicationrules-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-applicationrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-common-config.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-dnsproxyrules-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-dnsproxyrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/firewall_logs/agent/stream/log.yml.hbs
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/firewall_logs/fields/base-fields.yml
  packages/azure/data_stream/firewall_logs/fields/ecs.yml
  packages/azure/data_stream/firewall_logs/fields/fields.yml
  packages/azure/data_stream/firewall_logs/fields/package-fields.yml
  packages/azure/data_stream/firewall_logs/manifest.yml
  packages/azure/data_stream/firewall_logs/sample_event.json
  packages/azure/docs/README.md
  packages/azure/docs/firewall_logs.md
  packages/azure/img/filebeat-azure-firewall-dns-proxy.png
  packages/azure/img/filebeat-azure-firewall-overview.png
  packages/azure/img/firewall_logo.svg
  packages/azure/kibana/dashboard/azure-1e5c9b50-f24a-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-280493a0-f1a1-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-8731b980-f1aa-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-91224490-f1a6-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-cad82b40-f251-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/search/azure-252228a0-f1ab-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/search/azure-3d1466b0-f252-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/search/azure-671ff040-f24e-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/search/azure-70cbce40-f1a7-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/search/azure-fb61c4c0-f1a1-11ec-a5a8-bf965bcd5646.json
  packages/azure/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Azure, New Integration

#3641 Add GitHub Advanced Security integration
  packages/github/_dev/build/docs/README.md
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/changelog.yml
  packages/github/data_stream/code_scanning/_dev/test/pipeline/test-common-config.yml
  packages/github/data_stream/code_scanning/_dev/test/pipeline/test-ghas-code-scanning-json.log
  packages/github/data_stream/code_scanning/_dev/test/pipeline/test-ghas-code-scanning-json.log-expected.json
  packages/github/data_stream/code_scanning/_dev/test/system/test-default-config.yml
  packages/github/data_stream/code_scanning/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/code_scanning/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/code_scanning/fields/agent.yml
  packages/github/data_stream/code_scanning/fields/base-fields.yml
  packages/github/data_stream/code_scanning/fields/ecs.yml
  packages/github/data_stream/code_scanning/fields/fields.yml
  packages/github/data_stream/code_scanning/manifest.yml
  packages/github/data_stream/code_scanning/sample_event.json
  packages/github/data_stream/secret_scanning/_dev/test/pipeline/test-common-config.yml
  packages/github/data_stream/secret_scanning/_dev/test/pipeline/test-ghas-secret-scanning-json.log
  packages/github/data_stream/secret_scanning/_dev/test/pipeline/test-ghas-secret-scanning-json.log-expected.json
  packages/github/data_stream/secret_scanning/_dev/test/system/test-default-config.yml
  packages/github/data_stream/secret_scanning/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/secret_scanning/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/secret_scanning/fields/agent.yml
  packages/github/data_stream/secret_scanning/fields/base-fields.yml
  packages/github/data_stream/secret_scanning/fields/ecs.yml
  packages/github/data_stream/secret_scanning/fields/fields.yml
  packages/github/data_stream/secret_scanning/manifest.yml
  packages/github/data_stream/secret_scanning/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3558 [cisco] Fix Cisco AMP rate limit reset time.
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/cisco_secure_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoSecureEndpoint

#3617 Redis enterprise Integration- Beta package
  .github/CODEOWNERS
  packages/redisenterprise/_dev/build/build.yml
  packages/redisenterprise/_dev/build/docs/README.md
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/node/agent/stream/stream.yml.hbs
  packages/redisenterprise/data_stream/node/elasticsearch/ingest_pipeline/default.yml
  packages/redisenterprise/data_stream/node/fields/base-fields.yml
  packages/redisenterprise/data_stream/node/fields/ecs.yml
  packages/redisenterprise/data_stream/node/fields/fields.yml
  packages/redisenterprise/data_stream/node/manifest.yml
  packages/redisenterprise/data_stream/node/sample_event.json
  packages/redisenterprise/data_stream/proxy/agent/stream/stream.yml.hbs
  packages/redisenterprise/data_stream/proxy/elasticsearch/ingest_pipeline/default.yml
  packages/redisenterprise/data_stream/proxy/fields/base-fields.yml
  packages/redisenterprise/data_stream/proxy/fields/ecs.yml
  packages/redisenterprise/data_stream/proxy/fields/fields.yml
  packages/redisenterprise/data_stream/proxy/manifest.yml
  packages/redisenterprise/data_stream/proxy/sample_event.json
  packages/redisenterprise/docs/README.md
  packages/redisenterprise/img/logo_redis.svg
  packages/redisenterprise/img/redisenterprise-dashboard.png
  packages/redisenterprise/kibana/dashboard/redisenterprise-8da53a40-5a2f-11ea-bc69-cdcc68092a57.json
  packages/redisenterprise/manifest.yml
  packages/redisenterprise/system-test-note.md
Labels: enhancement, Team:Service-Integrations, 8.4 candidate

#3618 [Windows enhancement ]Added processor field for service data stream in windows package
  packages/windows/changelog.yml
  packages/windows/data_stream/service/agent/stream/stream.yml.hbs
  packages/windows/data_stream/service/manifest.yml
  packages/windows/manifest.yml
Labels: enhancement, Integration:Windows, Team:Service-Integrations, Metricbeat

#3679 improve the way azure sign-in log failure messages are processed in the ingest pipeline
  packages/azure/changelog.yml
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-raw.log
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-raw.log-expected.json
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: bug

#3571 Fixed Zscaler ZIA issues
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/alerts/sample_event.json
  packages/zscaler_zia/data_stream/dns/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/dns/sample_event.json
  packages/zscaler_zia/data_stream/firewall/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/firewall/sample_event.json
  packages/zscaler_zia/data_stream/tunnel/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/tunnel/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/tunnel/sample_event.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http_endpoint.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http_endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/fields/ecs.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:ZscalerZIA

#2707 [gcp] Migrate some gcp beat metricset to data streams
  packages/gcp/_dev/build/docs/README.md
  packages/gcp/_dev/build/docs/billing.md
  packages/gcp/_dev/build/docs/compute.md
  packages/gcp/_dev/build/docs/firestore.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/system/test-pubsub-config.yml
  packages/gcp/data_stream/audit/manifest.yml
  packages/gcp/data_stream/billing/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/billing/fields/agent.yml
  packages/gcp/data_stream/billing/fields/base-fields.yml
  packages/gcp/data_stream/billing/fields/ecs.yml
  packages/gcp/data_stream/billing/fields/fields.yml
  packages/gcp/data_stream/billing/manifest.yml
  packages/gcp/data_stream/billing/sample_event.json
  packages/gcp/data_stream/compute/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/compute/fields/agent.yml
  packages/gcp/data_stream/compute/fields/base-fields.yml
  packages/gcp/data_stream/compute/fields/ecs.yml
  packages/gcp/data_stream/compute/fields/fields.yml
  packages/gcp/data_stream/compute/fields/package-fields.yml
  packages/gcp/data_stream/compute/manifest.yml
  packages/gcp/data_stream/compute/sample_event.json
  packages/gcp/data_stream/dns/_dev/test/system/test-pubsub-config.yml
  packages/gcp/data_stream/dns/manifest.yml
  packages/gcp/data_stream/firestore/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/firestore/fields/agent.yml
  packages/gcp/data_stream/firestore/fields/base-fields.yml
  packages/gcp/data_stream/firestore/fields/ecs.yml
  packages/gcp/data_stream/firestore/fields/fields.yml
  packages/gcp/data_stream/firestore/fields/package-fields.yml
  packages/gcp/data_stream/firestore/manifest.yml
  packages/gcp/data_stream/firestore/sample_event.json
  packages/gcp/data_stream/firewall/_dev/test/system/test-pubsub-config.yml
  packages/gcp/data_stream/firewall/manifest.yml
  packages/gcp/data_stream/vpcflow/_dev/test/system/test-pubsub-config.yml
  packages/gcp/data_stream/vpcflow/manifest.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/billing.md
  packages/gcp/docs/compute.md
  packages/gcp/docs/firestore.md
  packages/gcp/img/gcp-billing.png
  packages/gcp/img/gcp-compute.png
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/dashboard/gcp-f40ee870-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/kibana/lens/gcp-057de170-e88d-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/lens/gcp-520c6f10-ec8a-11ea-a0ed-7fe6b565d158.json
  packages/gcp/kibana/lens/gcp-73346db0-e88d-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/lens/gcp-dd835300-e88f-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/lens/gcp-e6933020-e88d-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/visualization/gcp-3f472ea0-5e47-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-43f45ba0-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-5d2f9160-e88e-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/visualization/gcp-6f795e70-5e49-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-89513bc0-5e48-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-95e1f050-5e48-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-9d919d00-5e4d-11ea-a4f6-717338406083.json
  packages/gcp/kibana/visualization/gcp-da5bc460-63e1-11ea-b0ac-95d4ecb1fecd.json
  packages/gcp/kibana/visualization/gcp-ef1508c0-5e4c-11ea-a4f6-717338406083.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:GCP, Team:Cloud-Monitoring

#3699 Mandate SVG logo in docs
  docs/generic_guidelines.md
Labels: bug

#3672 add container ID as part of Kubernetes Cotainer Logs filestream input
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/manifest.yml
Labels: bug

#3701 [Cloud Posture] EKS rule templates
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/09e032a7-9ac1-5964-a1da-cdb45e3f8a61.json
  packages/cloud_security_posture/kibana/csp_rule_template/0b5e340f-9120-515a-b71a-72e43ed24941.json
  packages/cloud_security_posture/kibana/csp_rule_template/1319beca-0436-5d6e-8d4a-1ee1bea35311.json
  packages/cloud_security_posture/kibana/csp_rule_template/136ee092-7486-59d2-8f77-760b743c8a72.json
  packages/cloud_security_posture/kibana/csp_rule_template/1b727ec0-12aa-5598-ae7b-3123f5d76610.json
  packages/cloud_security_posture/kibana/csp_rule_template/22c14de0-5c3b-5b14-b1ba-9cc831b48147.json
  packages/cloud_security_posture/kibana/csp_rule_template/26dba6c5-6823-56ac-8ea2-40a977bc6a5e.json
  packages/cloud_security_posture/kibana/csp_rule_template/29f995c1-1553-5200-9c08-530032d4ed1d.json
  packages/cloud_security_posture/kibana/csp_rule_template/2eaebbf1-4cd6-5e02-9f8d-fc2be36f3c86.json
  packages/cloud_security_posture/kibana/csp_rule_template/433ae1b7-0411-54e2-8b06-f62be93b4089.json
  packages/cloud_security_posture/kibana/csp_rule_template/46014c5a-c573-5357-b567-964e0139dcd3.json
  packages/cloud_security_posture/kibana/csp_rule_template/4b4dc57c-c46d-5db2-822d-ad702b0dd1d1.json
  packages/cloud_security_posture/kibana/csp_rule_template/677697a6-309b-5a91-ba2b-1acd571817a6.json
  packages/cloud_security_posture/kibana/csp_rule_template/737e58cc-60c3-5785-b2e6-7d1bb2ca1cca.json
  packages/cloud_security_posture/kibana/csp_rule_template/7d7d7235-406a-5d9b-9401-7034758b2e8b.json
  packages/cloud_security_posture/kibana/csp_rule_template/8c4d1ae0-5f42-5ad0-a95d-27824a774951.json
  packages/cloud_security_posture/kibana/csp_rule_template/98524674-3de3-5424-9afa-ca763edca62a.json
  packages/cloud_security_posture/kibana/csp_rule_template/a3cd45ae-ba6b-564a-bd85-810efbbe5cea.json
  packages/cloud_security_posture/kibana/csp_rule_template/a7e49914-1cab-599f-8d8a-bce7d808dc66.json
  packages/cloud_security_posture/kibana/csp_rule_template/a8592cf4-d913-5906-8499-dc1d5a410e2f.json
  packages/cloud_security_posture/kibana/csp_rule_template/c6bcde81-4ca4-5f6f-9ef0-1116b4a02f4c.json
  packages/cloud_security_posture/kibana/csp_rule_template/cd1f19c9-381b-5009-bc19-be33b52322d8.json
  packages/cloud_security_posture/kibana/csp_rule_template/d4eef2c6-599a-57d1-99dd-490d3745161d.json
  packages/cloud_security_posture/kibana/csp_rule_template/d98fd08b-bafa-5314-8aa7-c5cf5e319739.json
  packages/cloud_security_posture/kibana/csp_rule_template/dcccab00-07f8-55e8-bfa8-0f82d362e4ce.json
  packages/cloud_security_posture/kibana/csp_rule_template/e9322670-79b9-5177-9fc0-388712f1df07.json
  packages/cloud_security_posture/kibana/csp_rule_template/efb2ffa2-28a9-558e-aba3-f58243cb3bbb.json
  packages/cloud_security_posture/kibana/csp_rule_template/f026b2aa-c739-5512-8d7a-eaa21de507c6.json
  packages/cloud_security_posture/kibana/csp_rule_template/f0d65fdb-035c-5e08-b4f8-0a1356c4005c.json
  packages/cloud_security_posture/kibana/csp_rule_template/fa91cef9-6c40-5644-b39d-d17e0f66d507.json
  packages/cloud_security_posture/kibana/csp_rule_template/fd3e93e3-c1c6-5dd7-a582-cf6ab65ea2f2.json
Labels: enhancement

#3707 windows: enrich user details from MemberSid where possible
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/powershell/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell_operational/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#3590 [IBM MQ] Add Integration Package with Error Log Data Stream
  .github/CODEOWNERS
  packages/ibmmq/_dev/build/build.yml
  packages/ibmmq/_dev/build/docs/README.md
  packages/ibmmq/_dev/deploy/docker/docker-compose.yml
  packages/ibmmq/_dev/deploy/variants.yml
  packages/ibmmq/changelog.yml
  packages/ibmmq/data_stream/errorlog/_dev/test/pipeline/test-common-config.yml
  packages/ibmmq/data_stream/errorlog/_dev/test/pipeline/test-errorlog.log
  packages/ibmmq/data_stream/errorlog/_dev/test/pipeline/test-errorlog.log-expected.json
  packages/ibmmq/data_stream/errorlog/_dev/test/system/test-logfile-config.yml
  packages/ibmmq/data_stream/errorlog/agent/stream/log.yml.hbs
  packages/ibmmq/data_stream/errorlog/elasticsearch/ingest_pipeline/default.yml
  packages/ibmmq/data_stream/errorlog/fields/agent.yml
  packages/ibmmq/data_stream/errorlog/fields/base-fields.yml
  packages/ibmmq/data_stream/errorlog/fields/ecs.yml
  packages/ibmmq/data_stream/errorlog/fields/fields.yml
  packages/ibmmq/data_stream/errorlog/manifest.yml
  packages/ibmmq/data_stream/errorlog/sample_event.json
  packages/ibmmq/docs/README.md
  packages/ibmmq/img/ibmmq-errorlog.png
  packages/ibmmq/img/ibmmq.svg
  packages/ibmmq/kibana/dashboard/ibmmq-ba1d8830-7c7b-11e9-9645-e37efaf5baff.json
  packages/ibmmq/kibana/search/ibmmq-82db7ba0-adec-11e9-8358-1517661d7c84.json
  packages/ibmmq/manifest.yml
Labels: enhancement, Integration:IBM-MQ, Team:Service-Integrations

#3726 [Cloud Posture] Remove Kibana configuration from README
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security Posture

#3640 [netskope] Fix null ip fields and uri_parts errors
  packages/netskope/_dev/build/docs/README.md
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/alerts/fields/fields.yml
  packages/netskope/data_stream/alerts/sample_event.json
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/fields/fields.yml
  packages/netskope/data_stream/events/sample_event.json
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Netskope

#3733 [tcp/udp] Improve syslog parsing description
  packages/tcp/changelog.yml
  packages/tcp/data_stream/generic/manifest.yml
  packages/tcp/manifest.yml
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/manifest.yml
  packages/udp/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3660 Add support for AWS postgresql standard log format
  packages/postgresql/_dev/build/docs/README.md
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-aws.log
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-aws.log-expected.json
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/pipeline-aws-log.yml
  packages/postgresql/docs/README.md
  packages/postgresql/manifest.yml
Labels: Team:Cloud-Monitoring

#2927 Update cisco readme
  packages/cisco/_dev/build/docs/README.md
  packages/cisco/changelog.yml
  packages/cisco/docs/README.md
  packages/cisco/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Cisco

#2932 Update cisco_ios readme.md
  packages/cisco_ios/_dev/build/docs/README.md
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/docs/README.md
  packages/cisco_ios/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:CiscoIOS

#2960 Update Cylance readme
  packages/cylance/changelog.yml
  packages/cylance/docs/README.md
  packages/cylance/manifest.yml
Labels: documentation, Team:Security-External Integrations, Integration:Cylance

#3705 [system.auth] Split grok parsing, add tags/processors/preserve_original_event
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-multiline.log
  packages/system/data_stream/auth/_dev/test/pipeline/test-multiline.log-config.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-multiline.log-expected.json
  packages/system/data_stream/auth/agent/stream/log.yml.hbs
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/auth/manifest.yml
  packages/system/manifest.yml
Labels: Team:Security-External Integrations, Integration:System, Team:Elastic-Agent-Data-Plane

#3765 [mimecast] Update readme
  packages/mimecast/_dev/build/docs/README.md
  packages/mimecast/changelog.yml
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Team:Security-External Integrations, Integration:Mimecast

#3179 update ZScale ZIA readme
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: documentation, enhancement, Team:Security-External Integrations

#3767 [panw_cortex_xdr] Fix possible endless pagination
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/agent/stream/httpjson.yml.hbs
  packages/panw_cortex_xdr/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PanwCortexXDR

#3755 [GCP] add back compatibility to 7.17 track
  packages/gcp/changelog.yml
  packages/gcp/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3363 [Modsec] Fix date format & Json issues
  packages/modsecurity/_dev/build/docs/README.md
  packages/modsecurity/_dev/deploy/docker/sample_logs/modsec-audit.log
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-apache-audit.log
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-apache-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-audit.log
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-common-config.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/default.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/nginx-modsec.yml
  packages/modsecurity/data_stream/auditlog/fields/ecs.yml
  packages/modsecurity/data_stream/auditlog/fields/fields.yml
  packages/modsecurity/data_stream/auditlog/manifest.yml
  packages/modsecurity/data_stream/auditlog/sample_event.json
  packages/modsecurity/docs/README.md
  packages/modsecurity/manifest.yml
Labels: Team:Security-External Integrations, Integration:Modsecurity

#3425 add citrix_waf package
  .github/CODEOWNERS
  packages/citrix_waf/_dev/build/build.yml
  packages/citrix_waf/_dev/build/docs/README.md
  packages/citrix_waf/_dev/deploy/docker/docker-compose.yml
  packages/citrix_waf/_dev/deploy/docker/sample_logs/citrix-waf.log
  packages/citrix_waf/changelog.yml
  packages/citrix_waf/data_stream/log/_dev/test/pipeline/citrix_waf_cef.log
  packages/citrix_waf/data_stream/log/_dev/test/pipeline/citrix_waf_cef.log-expected.json
  packages/citrix_waf/data_stream/log/_dev/test/pipeline/citrix_waf_native.log
  packages/citrix_waf/data_stream/log/_dev/test/pipeline/citrix_waf_native.log-expected.json
  packages/citrix_waf/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/citrix_waf/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/citrix_waf/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/citrix_waf/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/citrix_waf/data_stream/log/agent/stream/stream.yml.hbs
  packages/citrix_waf/data_stream/log/agent/stream/tcp.yml.hbs
  packages/citrix_waf/data_stream/log/agent/stream/udp.yml.hbs
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/cef.yml
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_waf/data_stream/log/fields/agent.yml
  packages/citrix_waf/data_stream/log/fields/base-fields.yml
  packages/citrix_waf/data_stream/log/fields/ecs.yml
  packages/citrix_waf/data_stream/log/fields/fields.yml
  packages/citrix_waf/data_stream/log/manifest.yml
  packages/citrix_waf/data_stream/log/sample_event.json
  packages/citrix_waf/docs/README.md
  packages/citrix_waf/img/Citrix_Systems_logo.svg
  packages/citrix_waf/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CitrixWAF

#3712 [cisco_umbrella] Enrich DNS fields
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/ecs.yml
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Umbrella

#3708 [keycloak] Correct spelling "UCT -> UTC"
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/manifest.yml
  packages/keycloak/manifest.yml
Labels: Team:Security-External Integrations, docs, Integration:Keycloak

#3609 gcp: remove gcp.audit.* fields duplicated in ECS fields
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/sample_event.json
  packages/gcp/data_stream/dns/sample_event.json
  packages/gcp/data_stream/firewall/sample_event.json
  packages/gcp/data_stream/vpcflow/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/docs/dns.md
  packages/gcp/docs/firewall.md
  packages/gcp/docs/vpcflow.md
  packages/gcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:GCP

#3739 akamai: add dashboard
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log-expected.json
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/data_stream/siem/fields/fields.yml
  packages/akamai/data_stream/siem/sample_event.json
  packages/akamai/docs/README.md
  packages/akamai/kibana/dashboard/akamai-e7568320-066a-11ed-9f6c-cb8079f147f7.json
  packages/akamai/manifest.yml
Labels: enhancement, Team:Security-External Integrations, dashboard, Integration:Akamai

#3772 [network_traffic] Add option to use TCP for the SIP protocol.
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/sip/agent/stream/sip.yml.hbs
  packages/network_traffic/data_stream/sip/manifest.yml
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture

#3691 Add ignore_older to remaining nginx and system data streams
  packages/nginx/changelog.yml
  packages/nginx/data_stream/access/agent/stream/stream.yml.hbs
  packages/nginx/data_stream/access/manifest.yml
  packages/nginx/data_stream/error/agent/stream/stream.yml.hbs
  packages/nginx/data_stream/error/manifest.yml
  packages/nginx/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/auth/agent/stream/log.yml.hbs
  packages/system/data_stream/auth/manifest.yml
  packages/system/data_stream/syslog/agent/stream/log.yml.hbs
  packages/system/data_stream/syslog/manifest.yml
  packages/system/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane

#3649 [couchdb][server] Add CouchDB package with Server data stream
  .github/CODEOWNERS
  packages/couchdb/_dev/build/build.yml
  packages/couchdb/_dev/build/docs/README.md
  packages/couchdb/_dev/deploy/docker/docker-compose.yml
  packages/couchdb/_dev/deploy/docker/variants.yml
  packages/couchdb/changelog.yml
  packages/couchdb/data_stream/server/_dev/test/pipeline/test-common-config.yml
  packages/couchdb/data_stream/server/_dev/test/pipeline/test-server-metrics.json
  packages/couchdb/data_stream/server/_dev/test/pipeline/test-server-metrics.json-expected.json
  packages/couchdb/data_stream/server/_dev/test/system/test-metric-config.yml
  packages/couchdb/data_stream/server/agent/stream/stream.yml.hbs
  packages/couchdb/data_stream/server/elasticsearch/ingest_pipeline/default.yml
  packages/couchdb/data_stream/server/fields/base-fields.yml
  packages/couchdb/data_stream/server/fields/ecs.yml
  packages/couchdb/data_stream/server/fields/fields.yml
  packages/couchdb/data_stream/server/manifest.yml
  packages/couchdb/data_stream/server/sample_event.json
  packages/couchdb/docs/README.md
  packages/couchdb/img/couchdb.svg
  packages/couchdb/img/metricbeat-couchdb-overview.png
  packages/couchdb/kibana/dashboard/couchdb-53dd9860-f87b-11ec-ba64-15286f858e89.json
  packages/couchdb/manifest.yml
Labels: enhancement, Integration:CouchDB, Team:Service-Integrations

#3779 citrix_waf: add dashboard
  packages/citrix_waf/_dev/build/docs/README.md
  packages/citrix_waf/changelog.yml
  packages/citrix_waf/data_stream/log/fields/ecs.yml
  packages/citrix_waf/docs/README.md
  packages/citrix_waf/img/dashboard.png
  packages/citrix_waf/kibana/dashboard/citrix_waf-4b27aee0-0893-11ed-aba8-a72ea09ca7ef.json
  packages/citrix_waf/manifest.yml
Labels: enhancement, Team:Security-External Integrations, dashboard, Integration:CitrixWAF

#3268 [Fortinet] Separate Fortinet FortiClient into own Integration
  .github/CODEOWNERS
  packages/fortinet_forticlient/_dev/build/build.yml
  packages/fortinet_forticlient/_dev/build/docs/README.md
  packages/fortinet_forticlient/_dev/deploy/docker/docker-compose.yml
  packages/fortinet_forticlient/_dev/deploy/docker/sample_logs/fortinet-clientendpoint.log
  packages/fortinet_forticlient/changelog.yml
  packages/fortinet_forticlient/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/fortinet_forticlient/data_stream/log/_dev/test/pipeline/test-generated.log
  packages/fortinet_forticlient/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_forticlient/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/fortinet_forticlient/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_forticlient/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/fortinet_forticlient/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_forticlient/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_forticlient/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_forticlient/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_forticlient/data_stream/log/fields/agent.yml
  packages/fortinet_forticlient/data_stream/log/fields/base-fields.yml
  packages/fortinet_forticlient/data_stream/log/fields/ecs.yml
  packages/fortinet_forticlient/data_stream/log/fields/fields.yml
  packages/fortinet_forticlient/data_stream/log/manifest.yml
  packages/fortinet_forticlient/data_stream/log/sample_event.json
  packages/fortinet_forticlient/docs/README.md
  packages/fortinet_forticlient/img/fortinet-logo.svg
  packages/fortinet_forticlient/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#3265 [Fortinet] Separate Fortinet FortiGate into own Integration
  .github/CODEOWNERS
  packages/fortinet_fortigate/_dev/build/build.yml
  packages/fortinet_fortigate/_dev/build/docs/README.md
  packages/fortinet_fortigate/_dev/deploy/docker/docker-compose.yml
  packages/fortinet_fortigate/_dev/deploy/docker/sample_logs/fortinet-firewall.log
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/fortinet_fortigate/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortigate/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortigate/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/data_stream/log/fields/agent.yml
  packages/fortinet_fortigate/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortigate/data_stream/log/fields/beats.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/data_stream/log/manifest.yml
  packages/fortinet_fortigate/data_stream/log/sample_event.json
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/img/fortinet-logo.svg
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#3266 [Fortinet] Separate Fortinet FortiMail into own Integration
  .github/CODEOWNERS
  packages/fortinet_fortimail/_dev/build/build.yml
  packages/fortinet_fortimail/_dev/build/docs/README.md
  packages/fortinet_fortimail/_dev/deploy/docker/docker-compose.yml
  packages/fortinet_fortimail/_dev/deploy/docker/sample_logs/fortinet-fortimail.log
  packages/fortinet_fortimail/changelog.yml
  packages/fortinet_fortimail/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/fortinet_fortimail/data_stream/log/_dev/test/pipeline/test-generated.log
  packages/fortinet_fortimail/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_fortimail/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/fortinet_fortimail/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortimail/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/fortinet_fortimail/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortimail/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortimail/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortimail/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimail/data_stream/log/fields/agent.yml
  packages/fortinet_fortimail/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortimail/data_stream/log/fields/ecs.yml
  packages/fortinet_fortimail/data_stream/log/fields/fields.yml
  packages/fortinet_fortimail/data_stream/log/manifest.yml
  packages/fortinet_fortimail/data_stream/log/sample_event.json
  packages/fortinet_fortimail/docs/README.md
  packages/fortinet_fortimail/img/fortinet-logo.svg
  packages/fortinet_fortimail/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#3267 [Fortinet] Separate Fortinet FortiManager into own Integration
  .github/CODEOWNERS
  packages/fortinet_fortimanager/_dev/build/build.yml
  packages/fortinet_fortimanager/_dev/build/docs/README.md
  packages/fortinet_fortimanager/_dev/deploy/docker/docker-compose.yml
  packages/fortinet_fortimanager/_dev/deploy/docker/sample_logs/fortinet-fortimanager.log
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-generated.log
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/fortinet_fortimanager/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortimanager/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortimanager/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortimanager/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimanager/data_stream/log/fields/agent.yml
  packages/fortinet_fortimanager/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortimanager/data_stream/log/fields/ecs.yml
  packages/fortinet_fortimanager/data_stream/log/fields/fields.yml
  packages/fortinet_fortimanager/data_stream/log/manifest.yml
  packages/fortinet_fortimanager/data_stream/log/sample_event.json
  packages/fortinet_fortimanager/docs/README.md
  packages/fortinet_fortimanager/img/fortinet-logo.svg
  packages/fortinet_fortimanager/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#3535 update ActiveMQ readme
  packages/activemq/changelog.yml
  packages/activemq/manifest.yml
Labels: documentation, enhancement, Integration:ActiveMQ

#3802 updated Github Secret Scanning fingerprint with resolved_at
  packages/github/_dev/build/docs/README.md
  packages/github/changelog.yml
  packages/github/data_stream/secret_scanning/_dev/test/pipeline/test-ghas-secret-scanning-json.log-expected.json
  packages/github/data_stream/secret_scanning/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/secret_scanning/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: bug, Team:Security-External Integrations

#3821 Fix a typo and a bug in `gcp` integration package
  packages/gcp/changelog.yml
  packages/gcp/data_stream/compute/manifest.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3811 [panw] Preserve original event for syslog messages
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/system/test-logfile-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-tcp-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-tls-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-udp-config.yml
  packages/panw/data_stream/panos/agent/stream/tcp.yml.hbs
  packages/panw/data_stream/panos/agent/stream/udp.yml.hbs
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#3812 Fix pipeline when user.name and postgresql.log.database with brackets
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-aws.log
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-aws.log-expected.json
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/pipeline-aws-log.yml
  packages/postgresql/manifest.yml
Labels: Team:Cloud-Monitoring

#3800 checkpoint: fix handling of R81 fields
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-R81.X.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-R81.X.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Checkpoint

#3805 [Azure Logs] Add recommendations for event hub configuration
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/activitylogs.md
  packages/azure/_dev/build/docs/adlogs.md
  packages/azure/_dev/build/docs/eventhub.md
  packages/azure/_dev/build/docs/firewall_logs.md
  packages/azure/_dev/build/docs/platformlogs.md
  packages/azure/_dev/build/docs/springcloudlogs.md
  packages/azure/changelog.yml
  packages/azure/docs/README.md
  packages/azure/docs/activitylogs.md
  packages/azure/docs/adlogs.md
  packages/azure/docs/eventhub.md
  packages/azure/docs/firewall_logs.md
  packages/azure/docs/platformlogs.md
  packages/azure/docs/springcloudlogs.md
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, Team:Cloud-Monitoring

#3835 [AWS Fargate] Added support for DesiredStatus and KnownStatus for ECS Tasks
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/fields/fields.yml
  packages/awsfargate/data_stream/task_stats/sample_event.json
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3700 [cisco_duo] Fix bad value in ip and date fields
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/admin/sample_event.json
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/auth/sample_event.json
  packages/cisco_duo/data_stream/offline_enrollment/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/offline_enrollment/sample_event.json
  packages/cisco_duo/data_stream/summary/_dev/test/pipeline/test-summary.log-expected.json
  packages/cisco_duo/data_stream/summary/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/summary/sample_event.json
  packages/cisco_duo/data_stream/telephony/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/telephony/sample_event.json
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
Labels: enhancement, Team:Security-External Integrations, integration:Cisco Duo

#3622 [Platform Observability] Create initial PO package for ingesting kibana ECS formatted logs
  .github/CODEOWNERS
  packages/platform_observability/_dev/build/build.yml
  packages/platform_observability/_dev/build/docs/README.md
  packages/platform_observability/changelog.yml
  packages/platform_observability/data_stream/kibana_audit/_dev/test/pipeline/test-common-config.yml
  packages/platform_observability/data_stream/kibana_audit/_dev/test/pipeline/test-kibana-audit-logs.log
  packages/platform_observability/data_stream/kibana_audit/_dev/test/pipeline/test-kibana-audit-logs.log-expected.json
  packages/platform_observability/data_stream/kibana_audit/agent/stream/log.yml.hbs
  packages/platform_observability/data_stream/kibana_audit/elasticsearch/ingest_pipeline/default.yml
  packages/platform_observability/data_stream/kibana_audit/elasticsearch/ingest_pipeline/ecs-logs-pipeline.yml
  packages/platform_observability/data_stream/kibana_audit/fields/base-fields.yml
  packages/platform_observability/data_stream/kibana_audit/fields/ecs.yml
  packages/platform_observability/data_stream/kibana_audit/fields/package-fields.yml
  packages/platform_observability/data_stream/kibana_audit/manifest.yml
  packages/platform_observability/data_stream/kibana_audit/sample_event.json
  packages/platform_observability/data_stream/kibana_log/_dev/test/pipeline/test-common-config.yml
  packages/platform_observability/data_stream/kibana_log/_dev/test/pipeline/test-kibana-logs.log
  packages/platform_observability/data_stream/kibana_log/_dev/test/pipeline/test-kibana-logs.log-expected.json
  packages/platform_observability/data_stream/kibana_log/agent/stream/log.yml.hbs
  packages/platform_observability/data_stream/kibana_log/elasticsearch/ingest_pipeline/default.yml
  packages/platform_observability/data_stream/kibana_log/elasticsearch/ingest_pipeline/ecs-logs-pipeline.yml
  packages/platform_observability/data_stream/kibana_log/fields/base-fields.yml
  packages/platform_observability/data_stream/kibana_log/fields/ecs.yml
  packages/platform_observability/data_stream/kibana_log/manifest.yml
  packages/platform_observability/data_stream/kibana_log/sample_event.json
  packages/platform_observability/docs/README.md
  packages/platform_observability/img/logo_kibana.svg
  packages/platform_observability/manifest.yml
Labels: enhancement

#3764 [AWS] Move usage lightweight module config into integration
  packages/aws/changelog.yml
  packages/aws/data_stream/dynamodb/agent/stream/stream.yml.hbs
  packages/aws/data_stream/dynamodb/fields/package-fields.yml
  packages/aws/data_stream/dynamodb/sample_event.json
  packages/aws/data_stream/usage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/usage/fields/package-fields.yml
  packages/aws/data_stream/usage/sample_event.json
  packages/aws/docs/dynamodb.md
  packages/aws/docs/usage.md
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3671 Added first version of the integration for Elastic Package Registry
  .github/CODEOWNERS
  packages/elastic_package_registry/_dev/build/build.yml
  packages/elastic_package_registry/_dev/build/docs/README.md
  packages/elastic_package_registry/_dev/deploy/docker/Dockerfile
  packages/elastic_package_registry/_dev/deploy/docker/config.yml
  packages/elastic_package_registry/_dev/deploy/docker/docker-compose.yml
  packages/elastic_package_registry/_dev/deploy/docker/packages/test_package/0.0.1/LICENSE.txt
  packages/elastic_package_registry/_dev/deploy/docker/packages/test_package/0.0.1/changelog.yml
  packages/elastic_package_registry/_dev/deploy/docker/packages/test_package/0.0.1/docs/README.md
  packages/elastic_package_registry/_dev/deploy/docker/packages/test_package/0.0.1/img/sample-logo.svg
  packages/elastic_package_registry/_dev/deploy/docker/packages/test_package/0.0.1/img/sample-screenshot.png
  packages/elastic_package_registry/_dev/deploy/docker/packages/test_package/0.0.1/manifest.yml
  packages/elastic_package_registry/changelog.yml
  packages/elastic_package_registry/data_stream/metrics/_dev/test/pipeline/test-default.json
  packages/elastic_package_registry/data_stream/metrics/_dev/test/pipeline/test-default.json-expected.json
  packages/elastic_package_registry/data_stream/metrics/_dev/test/system/test-default-config.yml
  packages/elastic_package_registry/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/elastic_package_registry/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/elastic_package_registry/data_stream/metrics/fields/base-fields.yml
  packages/elastic_package_registry/data_stream/metrics/fields/ecs.yml
  packages/elastic_package_registry/data_stream/metrics/fields/fields.yml
  packages/elastic_package_registry/data_stream/metrics/manifest.yml
  packages/elastic_package_registry/data_stream/metrics/sample_event.json
  packages/elastic_package_registry/docs/README.md
  packages/elastic_package_registry/img/elastic-logo.svg
  packages/elastic_package_registry/img/elastic_package_registry-metrics-overview.png
  packages/elastic_package_registry/kibana/dashboard/elastic_package_registry-313c2700-099b-11ed-91b6-3b1f9c2b2771.json
  packages/elastic_package_registry/manifest.yml
Labels: enhancement, Team:Ecosystem

#3775 [Cloud Posture] Findings datastream mapping
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/data_stream/findings/fields/fields.yml
  packages/cloud_security_posture/data_stream/findings/fields/findings.yml
  packages/cloud_security_posture/data_stream/findings/fields/resource.yml
  packages/cloud_security_posture/data_stream/findings/fields/result.yml
  packages/cloud_security_posture/data_stream/findings/fields/rule.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, v8.4.0, Team:Cloud Security Posture

#2744 synthetics - segment ilm policies by dataset
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/elasticsearch/ilm/default_policy.json
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/browser_network/elasticsearch/ilm/default_policy.json
  packages/synthetics/data_stream/browser_network/manifest.yml
  packages/synthetics/data_stream/browser_screenshot/elasticsearch/ilm/default_policy.json
  packages/synthetics/data_stream/browser_screenshot/manifest.yml
  packages/synthetics/data_stream/http/elasticsearch/ilm/default_policy.json
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/elasticsearch/ilm/default_policy.json
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/elasticsearch/ilm/default_policy.json
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: enhancement, Team:Uptime, v8.4.0

#3844 Fix data_stream.dataset indentation on cloudwatch_logs integration
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/manifest.yml
Labels: bug

#3813 [Cisco Umbrella] Add missing proxy config
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/agent/stream/aws-s3.yml.hbs
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Umbrella

#3851 [Amazon Redshift] Remove beta flag
  packages/aws/changelog.yml
  packages/aws/data_stream/redshift/fields/fields.yml
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3666 [couchbase] Add Integration Package with Bucket Data Stream
  .github/CODEOWNERS
  packages/couchbase/_dev/build/build.yml
  packages/couchbase/_dev/build/docs/README.md
  packages/couchbase/_dev/deploy/docker/docker-compose.yml
  packages/couchbase/_dev/deploy/docker/files/Dockerfile
  packages/couchbase/_dev/deploy/docker/files/configure-node.sh
  packages/couchbase/_dev/deploy/variants.yml
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/bucket/_dev/test/pipeline/test-bucket-metrics.json
  packages/couchbase/data_stream/bucket/_dev/test/pipeline/test-bucket-metrics.json-expected.json
  packages/couchbase/data_stream/bucket/_dev/test/pipeline/test-common-config.yml
  packages/couchbase/data_stream/bucket/_dev/test/system/test-default-config.yml
  packages/couchbase/data_stream/bucket/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/bucket/elasticsearch/ingest_pipeline/default.yml
  packages/couchbase/data_stream/bucket/fields/base-fields.yml
  packages/couchbase/data_stream/bucket/fields/ecs.yml
  packages/couchbase/data_stream/bucket/fields/fields.yml
  packages/couchbase/data_stream/bucket/manifest.yml
  packages/couchbase/data_stream/bucket/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/img/couchbase-logo.svg
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#3855 Fix issues with Recorded Future integration
  packages/ti_recordedfuture/_dev/build/docs/README.md
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/data_stream/threat/manifest.yml
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Threat Intel

#3854 Remove release experimental, depend just on semver
  packages/elastic_package_registry/changelog.yml
  packages/elastic_package_registry/data_stream/metrics/manifest.yml
  packages/elastic_package_registry/manifest.yml
Labels: enhancement, Team:Ecosystem

#3760 [auditd_manager] Expose `immutable` option and rules as textarea
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/system/test-default-config.yml
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Auditd

#3799 Add ECS metricset and fix various visualizations
  packages/aws/_dev/build/docs/README.md
  packages/aws/_dev/build/docs/ecs.md
  packages/aws/changelog.yml
  packages/aws/data_stream/ec2_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/ecs_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ecs_metrics/fields/agent.yml
  packages/aws/data_stream/ecs_metrics/fields/base-fields.yml
  packages/aws/data_stream/ecs_metrics/fields/ecs.yml
  packages/aws/data_stream/ecs_metrics/fields/fields.yml
  packages/aws/data_stream/ecs_metrics/fields/package-fields.yml
  packages/aws/data_stream/ecs_metrics/manifest.yml
  packages/aws/data_stream/ecs_metrics/sample_event.json
  packages/aws/data_stream/firewall_metrics/fields/fields.yml
  packages/aws/docs/README.md
  packages/aws/docs/ecs.md
  packages/aws/docs/firewall.md
  packages/aws/img/logo_ecs.svg
  packages/aws/kibana/visualization/aws-398d12d0-7352-11e9-816b-07687310a99a.json
  packages/aws/kibana/visualization/aws-4bf62a10-8310-11e9-ac83-47df3568ff90.json
  packages/aws/kibana/visualization/aws-54e88a40-734e-11e9-816b-07687310a99a.json
  packages/aws/kibana/visualization/aws-b2191dd0-734c-11e9-816b-07687310a99a.json
  packages/aws/kibana/visualization/aws-d2f46190-830f-11e9-ac83-47df3568ff90.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3860 Release AWS billing integration to GA
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3838 [AWS] Move S3, SQS, SNS and lambda lightweight module config into integration
  packages/aws/changelog.yml
  packages/aws/data_stream/lambda/agent/stream/stream.yml.hbs
  packages/aws/data_stream/lambda/fields/package-fields.yml
  packages/aws/data_stream/lambda/sample_event.json
  packages/aws/data_stream/s3_daily_storage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_daily_storage/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3_daily_storage/fields/fields.yml
  packages/aws/data_stream/s3_daily_storage/fields/package-fields.yml
  packages/aws/data_stream/s3_daily_storage/sample_event.json
  packages/aws/data_stream/s3_request/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_request/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3_request/fields/fields.yml
  packages/aws/data_stream/s3_request/fields/package-fields.yml
  packages/aws/data_stream/s3_request/sample_event.json
  packages/aws/data_stream/sns/agent/stream/stream.yml.hbs
  packages/aws/data_stream/sns/fields/package-fields.yml
  packages/aws/data_stream/sns/sample_event.json
  packages/aws/data_stream/sqs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/sqs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/sqs/fields/package-fields.yml
  packages/aws/data_stream/sqs/sample_event.json
  packages/aws/docs/lambda.md
  packages/aws/docs/s3.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3829 [AWS] Add Kinesis Metrics datastream
  packages/aws/_dev/build/docs/README.md
  packages/aws/_dev/build/docs/kinesis.md
  packages/aws/changelog.yml
  packages/aws/data_stream/kinesis/agent/stream/stream.yml.hbs
  packages/aws/data_stream/kinesis/fields/agent.yml
  packages/aws/data_stream/kinesis/fields/base-fields.yml
  packages/aws/data_stream/kinesis/fields/ecs.yml
  packages/aws/data_stream/kinesis/fields/fields.yml
  packages/aws/data_stream/kinesis/fields/package-fields.yml
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/data_stream/kinesis/sample_event.json
  packages/aws/docs/README.md
  packages/aws/docs/kinesis.md
  packages/aws/img/logo_kinesis.svg
  packages/aws/kibana/dashboard/aws-07d67a60-d872-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-2a711450-d871-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-56ac2b40-d871-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-63aa5990-d86f-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-6d631980-d870-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-79d713c0-d86f-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-9deb6a80-d870-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-c68d7c30-d870-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/lens/aws-d1468000-d86f-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/visualization/aws-3c5d7860-d903-11eb-8220-c9141cc1b15c.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#3840 [AWS] Move transit gateway lightweight module config into integration
  packages/aws/changelog.yml
  packages/aws/data_stream/transitgateway/agent/stream/stream.yml.hbs
  packages/aws/data_stream/transitgateway/fields/fields.yml
  packages/aws/data_stream/transitgateway/fields/package-fields.yml
  packages/aws/data_stream/transitgateway/sample_event.json
  packages/aws/docs/transitgateway.md
  packages/aws/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#2340 [gcp] Update DNS Logs
  packages/gcp/_dev/build/docs/README.md
  packages/gcp/_dev/build/docs/dns.md
  packages/gcp/_dev/deploy/docker/sample_logs/dns.log
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/gcp/data_stream/dns/_dev/test/pipeline/test-dns.log
  packages/gcp/data_stream/dns/_dev/test/pipeline/test-dns.log-expected.json
  packages/gcp/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/dns/fields/ecs.yml
  packages/gcp/data_stream/dns/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/dns.md
  packages/gcp/manifest.yml
Labels: Team:Security-External Integrations, Integration:GCP

#3873 [AWS] Move natgateway lightweight module config into integration
  packages/aws/changelog.yml
  packages/aws/data_stream/natgateway/agent/stream/stream.yml.hbs
  packages/aws/data_stream/natgateway/sample_event.json
  packages/aws/docs/natgateway.md
  packages/aws/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#3874 [AWS] Update sample_event.json for kinesis data stream
  packages/aws/changelog.yml
  packages/aws/data_stream/kinesis/fields/agent.yml
  packages/aws/data_stream/kinesis/fields/ecs.yml
  packages/aws/data_stream/kinesis/sample_event.json
  packages/aws/docs/kinesis.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#3863 Update Elastic Package Registry integration to use new indexer metrics (get operations)
  packages/elastic_package_registry/_dev/deploy/docker/Dockerfile
  packages/elastic_package_registry/changelog.yml
  packages/elastic_package_registry/data_stream/metrics/_dev/test/pipeline/test-default.json
  packages/elastic_package_registry/data_stream/metrics/_dev/test/pipeline/test-default.json-expected.json
  packages/elastic_package_registry/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/elastic_package_registry/data_stream/metrics/fields/fields.yml
  packages/elastic_package_registry/data_stream/metrics/sample_event.json
  packages/elastic_package_registry/docs/README.md
  packages/elastic_package_registry/img/elastic_package_registry-metrics-overview.png
  packages/elastic_package_registry/kibana/dashboard/elastic_package_registry-313c2700-099b-11ed-91b6-3b1f9c2b2771.json
  packages/elastic_package_registry/manifest.yml
Labels: enhancement, Team:Ecosystem

#3896 proofpoint_tap: set @timestamp from messageTime in message datasets
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/clicks_permitted/sample_event.json
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/pipeline/test-message-delivered.log-expected.json
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/sample_event.json
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Proofpoint

#3899 [mimecast] Fix compression for SIEM logs
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/siem_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Mimecast

#3880 Update logo in Elastic Package Registry integration
  packages/elastic_package_registry/changelog.yml
  packages/elastic_package_registry/img/elastic-logo.svg
  packages/elastic_package_registry/img/elastic_package_registry-logo.svg
  packages/elastic_package_registry/manifest.yml
Labels: enhancement, Team:Ecosystem

#3893 [infoblox_nios] Update ECS to 8.4.0
  packages/infoblox_nios/_dev/build/build.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/data_stream/log/fields/fields.yml
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3891 [Prometheus] Add dynamic mapping to fix prometheus histogram type
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/manifest.yml
Labels: bug, Integration:Prometheus, Team:Cloudnative-Monitoring

#3834 Update Readme - First draft of AWS integration edits
  packages/aws_logs/_dev/build/docs/README.md
Labels: documentation, enhancement, Team:Docs

#3833 Update WAF - First draft of AWS integration edits
  packages/aws/_dev/build/docs/waf.md
Labels: documentation, enhancement, Team:Docs

#3828 Update VPN.MD First draft of AWS integration edits
  packages/aws/_dev/build/docs/vpn.md
Labels: documentation, enhancement, Team:Docs

#3826 Update vpcflow.md - First draft of AWS integration edits
  packages/aws/_dev/build/docs/vpcflow.md
Labels: documentation, enhancement, Team:Docs

#3824 Update AWS Usage - First draft of AWS integration edits
  packages/aws/_dev/build/docs/usage.md
Labels: documentation, enhancement, Team:Docs

#3810 Update AWS Transit Gateway - First draft of AWS integration edits
  packages/aws/_dev/build/docs/transitgateway.md
Labels: documentation, enhancement, Team:Docs

#3809 Update SQS First draft of AWS integration edits
  packages/aws/_dev/build/docs/sqs.md
Labels: documentation, enhancement, Team:Docs

#3808 Update SNS - First draft of AWS integration edits
  packages/aws/_dev/build/docs/sns.md
Labels: documentation, enhancement, Team:Docs

#3806 Update S3 Storage Lens- First draft of AWS integration edits
  packages/aws/_dev/build/docs/s3_storage_lens.md
Labels: documentation, enhancement, Team:Docs

#3804 Update S3 - First draft of AWS integration edits
  packages/aws/_dev/build/docs/s3.md
Labels: documentation, enhancement, Team:Docs

#3756 Update Route 53 - First draft of AWS integration edits
  packages/aws/_dev/build/docs/route53.md
Labels: documentation, enhancement, Team:Docs

#3752 Update RDS - First draft of AWS integration edits
  packages/aws/_dev/build/docs/rds.md
Labels: documentation, enhancement, Team:Docs

#3751 Update NAT Gateway - first draft of AWS integration edits
  packages/aws/_dev/build/docs/natgateway.md
Labels: documentation, Team:Docs

#3749 Update Lambda - first draft of AWS integration edits
  packages/aws/_dev/build/docs/lambda.md
Labels: documentation, enhancement, Team:Docs

#3732 Update Network Firewall - added new content based on the new doc guidelines
  packages/aws/_dev/build/docs/firewall.md
  packages/aws/docs/firewall.md
Labels: documentation, enhancement, Team:Docs

#3656 Update ELB - first draft of AWS integration edits
  packages/aws/_dev/build/docs/elb.md
  packages/aws/docs/elb.md
Labels: documentation, enhancement, Team:Docs

#3638 Update EC2 - first draft of AWS integration edits
  packages/aws/_dev/build/docs/ec2.md
  packages/aws/docs/ec2.md
Labels: documentation, enhancement, Team:Docs

#3634 Update EBS- first draft of AWS integration edits
  packages/aws/_dev/build/docs/ebs.md
  packages/aws/docs/ebs.md
Labels: documentation, enhancement, Team:Docs

#3633 Update DynamoDB- first draft of AWS integration edits
  packages/aws/_dev/build/docs/dynamodb.md
  packages/aws/docs/dynamodb.md
Labels: documentation, enhancement, Team:Docs

#3611 Update CloudTrail - First draft of AWS integration edits
  packages/aws/_dev/build/docs/cloudtrail.md
  packages/aws/docs/cloudtrail.md
Labels: documentation, enhancement, Team:Docs

#3584 Update Billing.md
  packages/aws/_dev/build/docs/billing.md
  packages/aws/docs/billing.md
Labels: documentation, enhancement

#3866 Update ECS to 8.4.0 Part 5
  packages/hid_bravura_monitor/_dev/build/build.yml
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-hid-bravura-monitor.log-expected.json
  packages/hid_bravura_monitor/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/_dev/test/pipeline/test-hid-bravura-monitor-events.json-expected.json
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/manifest.yml
  packages/http_endpoint/_dev/build/build.yml
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/manifest.yml
  packages/httpjson/_dev/build/build.yml
  packages/httpjson/changelog.yml
  packages/httpjson/manifest.yml
  packages/imperva/_dev/build/build.yml
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/_dev/test/pipeline/test-generated.log-expected.json
  packages/imperva/data_stream/securesphere/elasticsearch/ingest_pipeline/default.yml
  packages/imperva/manifest.yml
  packages/iptables/_dev/build/build.yml
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/_dev/test/pipeline/test-iptables-raw.log-expected.json
  packages/iptables/data_stream/log/_dev/test/pipeline/test-journald.json-expected.json
  packages/iptables/data_stream/log/_dev/test/pipeline/test-ubiquiti.log-expected.json
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/manifest.yml
  packages/juniper_junos/_dev/build/build.yml
  packages/juniper_junos/changelog.yml
  packages/juniper_junos/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/juniper_junos/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_junos/docs/README.md
  packages/juniper_junos/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3871 Update ECS to 8.4.0 Part 10
  packages/ti_abusech/_dev/build/build.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/_dev/test/pipeline/test-malware-ndjson.log-expected.json
  packages/ti_abusech/data_stream/malware/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/pipeline/test-malwarebazaar-ndjson.log-expected.json
  packages/ti_abusech/data_stream/malwarebazaar/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/url/_dev/test/pipeline/test-abusechurl-ndjson.log-expected.json
  packages/ti_abusech/data_stream/url/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/manifest.yml
  packages/ti_cybersixgill/_dev/build/build.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-cybersixgill-ndjson.log-expected.json
  packages/ti_cybersixgill/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cybersixgill/docs/README.md
  packages/ti_cybersixgill/manifest.yml
  packages/ti_otx/_dev/build/build.yml
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-sample-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_otx/docs/README.md
  packages/ti_otx/manifest.yml
  packages/ti_recordedfuture/_dev/build/build.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-domain-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-hash-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-ip-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/manifest.yml
  packages/tomcat/_dev/build/build.yml
  packages/tomcat/changelog.yml
  packages/tomcat/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/tomcat/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/tomcat/docs/README.md
  packages/tomcat/manifest.yml
  packages/udp/_dev/build/build.yml
  packages/udp/changelog.yml
  packages/udp/manifest.yml
  packages/winlog/_dev/build/build.yml
  packages/winlog/changelog.yml
  packages/winlog/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#3901 fortinet_fortigate: fix handling of events with from fields
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Fortinet
