Repository elastic/integrations, pull requests merged in 2022-11, with the labels that each got.

#4443 Add system tests to logstash package
  packages/logstash/_dev/deploy/docker/.env
  packages/logstash/_dev/deploy/docker/docker-compose.yml
  packages/logstash/_dev/deploy/variants.yml
  packages/logstash/data_stream/log/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/log/sample_event.json
  packages/logstash/data_stream/node/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/node/fields/fields.yml
  packages/logstash/data_stream/node/fields/package-fields.yml
  packages/logstash/data_stream/node/sample_event.json
  packages/logstash/data_stream/node_stats/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/node_stats/fields/fields.yml
  packages/logstash/data_stream/node_stats/fields/package-fields.yml
  packages/logstash/data_stream/node_stats/sample_event.json
  packages/logstash/data_stream/slowlog/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/slowlog/sample_event.json
  packages/logstash/docs/README.md
Labels: Integration:Logstash, Team:Infra Monitoring UI

#4442 Add system tests to elasticsearch package
  packages/elasticsearch/_dev/build/build.yml
  packages/elasticsearch/_dev/deploy/docker/.env
  packages/elasticsearch/_dev/deploy/docker/docker-compose.yml
  packages/elasticsearch/_dev/deploy/docker/scripts/generate-logs.sh
  packages/elasticsearch/_dev/deploy/variants.yml
  packages/elasticsearch/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/audit/sample_event.json
  packages/elasticsearch/data_stream/cluster_stats/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/fields.yml
  packages/elasticsearch/data_stream/cluster_stats/sample_event.json
  packages/elasticsearch/data_stream/gc/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/gc/sample_event.json
  packages/elasticsearch/data_stream/index/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/index/sample_event.json
  packages/elasticsearch/data_stream/index_recovery/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/index_recovery/sample_event.json
  packages/elasticsearch/data_stream/index_summary/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/index_summary/sample_event.json
  packages/elasticsearch/data_stream/ml_job/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/ml_job/sample_event.json
  packages/elasticsearch/data_stream/node/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/node/sample_event.json
  packages/elasticsearch/data_stream/node_stats/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/data_stream/node_stats/sample_event.json
  packages/elasticsearch/data_stream/server/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/server/fields/fields.yml
  packages/elasticsearch/data_stream/server/sample_event.json
  packages/elasticsearch/data_stream/shard/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/shard/sample_event.json
  packages/elasticsearch/data_stream/slowlog/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/data_stream/slowlog/sample_event.json
  packages/elasticsearch/docs/README.md
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#4528 [tcp/udp] Fix indentation of syslog processor in agent handlebars file
  packages/tcp/changelog.yml
  packages/tcp/data_stream/generic/agent/stream/tcp.yml.hbs
  packages/tcp/manifest.yml
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/agent/stream/udp.yml.hbs
  packages/udp/manifest.yml
Labels: bug, Team:Security-External Integrations

#4512 [azure_metrics] add compute_vm pipeline test
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/compute_vm/_dev/test/pipeline/test-azure-metrics-compute-vm.json
  packages/azure_metrics/data_stream/compute_vm/_dev/test/pipeline/test-azure-metrics-compute-vm.json-expected.json
  packages/azure_metrics/data_stream/compute_vm/_dev/test/pipeline/test-common-config.yml
  packages/azure_metrics/manifest.yml
Labels: Team:Cloud-Monitoring

#4513 [azure_metrics] add compute_vm_scaleset pipeline test
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/_dev/test/pipeline/test-azure-metrics-compute-vm-scaleset.json
  packages/azure_metrics/data_stream/compute_vm_scaleset/_dev/test/pipeline/test-azure-metrics-compute-vm-scaleset.json-expected.json
  packages/azure_metrics/data_stream/compute_vm_scaleset/_dev/test/pipeline/test-common-config.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/elasticsearch/ingest_pipeline/default.yml
  packages/azure_metrics/manifest.yml
Labels: Team:Cloud-Monitoring

#4486 Data Exfiltration Detection (DED) integration package
  .github/CODEOWNERS
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/img/ded_Icon.svg
  packages/ded/img/screen_shot_1.png
  packages/ded/img/screen_shot_2.png
  packages/ded/kibana/ml_module/ded-ml.json
  packages/ded/kibana/security_rule/5576098d-650d-4b0f-a3a1-48b5b0ce4f15.json
  packages/ded/kibana/security_rule/68cd785b-9195-4dbb-b7d0-34e375988ad0.json
  packages/ded/kibana/security_rule/8d4e2e5f-982b-4e8d-b765-a10d648efc33.json
  packages/ded/kibana/security_rule/a3419a53-c7cb-4101-bb88-50bc8cfd4ee9.json
  packages/ded/kibana/security_rule/adafc654-fd21-4ebf-9e4e-db4f2a08efd1.json
  packages/ded/kibana/security_rule/b9d01e71-ac5d-4203-82ed-c1246d6c72c8.json
  packages/ded/kibana/security_rule/d115c2fb-1543-4a87-ad84-cec3420fee4a.json
  packages/ded/kibana/security_rule/e33267c8-20ed-4ab9-be4c-9193f20d4cba.json
  packages/ded/manifest.yml
Labels: enhancement

#4549 Added elastic-agent compatibility
  packages/cloud_security_posture/docs/README.md
Labels: Team:Cloud Security Posture

#4524 [google_workspace] Add script to parse event paramenters for user_accounts
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/user_accounts/_dev/test/pipeline/test-user-accounts.log
  packages/google_workspace/data_stream/user_accounts/_dev/test/pipeline/test-user-accounts.log-expected.json
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/fields/package-fields.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Google Workspace

#4501 [microsoft_sqlserver] Establish Named instance connection by Instance Name
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/performance/agent/stream/stream.yml.hbs
  packages/microsoft_sqlserver/data_stream/transaction_log/agent/stream/stream.yml.hbs
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: Integration:microsoft_sqlserver

#4552 ti_{cif3,recordedfuture}: map threat.indicator.geo.location as geo_point
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/data_stream/feed/fields/ecs.yml
  packages/ti_cif3/docs/README.md
  packages/ti_cif3/manifest.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/fields/ecs.yml
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Threat Intel

#4571 lastpass: fix grammar errors in dashboards
  packages/lastpass/changelog.yml
  packages/lastpass/kibana/dashboard/lastpass-975ecef0-2450-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/kibana/dashboard/lastpass-fa6ad220-2458-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Lastpass

#4563 [Enhancement] Cisco FTD differentiating between inbound and outbound
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoFTD

#4568 Add custom processors and logs to log integration
  packages/log/changelog.yml
  packages/log/data_stream/log/agent/stream/stream.yml.hbs
  packages/log/data_stream/log/manifest.yml
  packages/log/manifest.yml
Labels: Team:Elastic-Agent, v8.6.0

#4553 winlog: allow users to configure providers list
  packages/winlog/changelog.yml
  packages/winlog/data_stream/winlog/agent/stream/winlog.yml.hbs
  packages/winlog/data_stream/winlog/manifest.yml
  packages/winlog/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#4554 micsosoft_sqlserver: allow text encoding configuration
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/log/agent/stream/log.yml.hbs
  packages/microsoft_sqlserver/data_stream/log/manifest.yml
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:microsoft_sqlserver

#4551 Enhance AWS Kinesis Integration Dashboard
  packages/aws/changelog.yml
  packages/aws/data_stream/kinesis/agent/stream/stream.yml.hbs
  packages/aws/img/metricbeat-aws-kinesis-overview.png
  packages/aws/kibana/dashboard/aws-07d67a60-d872-11eb-8220-c9141cc1b15c.json
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#3356 [pfsense] bugfix for OPNsense syslog ingest pipeline
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-phpfpm.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/haproxy.yml
  packages/pfsense/manifest.yml
Labels: Team:Security-External Integrations

#4496 [Cloud Posture] Remove runtime_cfg var
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/eks.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/vanilla.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security Posture, 8.6 candidate

#4592 [aws] Remove duplicate content_type from aws.waf
  packages/aws/changelog.yml
  packages/aws/data_stream/waf/agent/stream/aws-s3.yml.hbs
  packages/aws/manifest.yml
Labels: bug, Integration:AWS, Team:Cloud-Monitoring

#4322 [Citrix ADC] Add Integration Package with Interface Data Stream
  .github/CODEOWNERS
  packages/citrix_adc/_dev/build/build.yml
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/_dev/deploy/docker/docker-compose.yml
  packages/citrix_adc/_dev/deploy/docker/files/config.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/interface/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/interface/_dev/test/pipeline/test-interface-metrics.log
  packages/citrix_adc/data_stream/interface/_dev/test/pipeline/test-interface-metrics.log-expected.json
  packages/citrix_adc/data_stream/interface/_dev/test/system/test-default-config.yml
  packages/citrix_adc/data_stream/interface/agent/stream/httpjson.yml.hbs
  packages/citrix_adc/data_stream/interface/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/interface/fields/base-fields.yml
  packages/citrix_adc/data_stream/interface/fields/ecs.yml
  packages/citrix_adc/data_stream/interface/fields/fields.yml
  packages/citrix_adc/data_stream/interface/manifest.yml
  packages/citrix_adc/data_stream/interface/sample_event.json
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/img/citrix_adc-interface-dashboard.png
  packages/citrix_adc/img/citrix_adc-logo.svg
  packages/citrix_adc/img/citrix_adc-overview-dashboard.png
  packages/citrix_adc/kibana/dashboard/citrix_adc-b475f280-4eb1-11ed-9db6-73aea65de09b.json
  packages/citrix_adc/kibana/dashboard/citrix_adc-c4b9b970-3d99-11ed-9f8b-1bc5a55dfeec.json
  packages/citrix_adc/manifest.yml
Labels: enhancement, Integration:Citrix-Netscaler, Team:Service-Integrations

#4485 [Integrations] Updated the infrastructure category
  packages/activemq/changelog.yml
  packages/activemq/manifest.yml
  packages/apache/changelog.yml
  packages/apache/manifest.yml
  packages/couchbase/changelog.yml
  packages/couchbase/manifest.yml
  packages/couchdb/changelog.yml
  packages/couchdb/manifest.yml
  packages/etcd/changelog.yml
  packages/etcd/manifest.yml
  packages/hadoop/changelog.yml
  packages/hadoop/manifest.yml
  packages/haproxy/changelog.yml
  packages/haproxy/manifest.yml
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/manifest.yml
  packages/ibmmq/changelog.yml
  packages/ibmmq/manifest.yml
  packages/iis/changelog.yml
  packages/iis/manifest.yml
  packages/kafka/changelog.yml
  packages/kafka/manifest.yml
  packages/memcached/changelog.yml
  packages/memcached/manifest.yml
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/manifest.yml
  packages/mongodb/changelog.yml
  packages/mongodb/manifest.yml
  packages/mysql/changelog.yml
  packages/mysql/manifest.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/manifest.yml
  packages/nginx/changelog.yml
  packages/nginx/manifest.yml
  packages/oracle/changelog.yml
  packages/oracle/manifest.yml
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/manifest.yml
  packages/postgresql/changelog.yml
  packages/postgresql/manifest.yml
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/manifest.yml
  packages/redis/changelog.yml
  packages/redis/manifest.yml
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/manifest.yml
  packages/traefik/changelog.yml
  packages/traefik/manifest.yml
  packages/vsphere/changelog.yml
  packages/vsphere/manifest.yml
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/manifest.yml
  packages/zookeeper/changelog.yml
  packages/zookeeper/manifest.yml
Labels: Team:Service-Integrations

#4561 [microsoft_sqlserver] Introduced merge results flag in performance data streams
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/performance/agent/stream/stream.yml.hbs
  packages/microsoft_sqlserver/data_stream/performance/sample_event.json
  packages/microsoft_sqlserver/docs/README.md
Labels: Team:Service-Integrations, 8.6 candidate

#4609 🔥 Remove Filestream integration
  .github/CODEOWNERS
  packages/filestream/_dev/build/build.yml
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/_dev/deploy/docker/docker-compose.yml
  packages/filestream/_dev/deploy/docker/sample_logs/test-filestream.log
  packages/filestream/changelog.yml
  packages/filestream/data_stream/generic/_dev/test/system/test-filestream-config.yml
  packages/filestream/data_stream/generic/agent/stream/filestream.yml.hbs
  packages/filestream/data_stream/generic/fields/base-fields.yml
  packages/filestream/data_stream/generic/fields/beats.yml
  packages/filestream/data_stream/generic/fields/ecs.yml
  packages/filestream/data_stream/generic/manifest.yml
  packages/filestream/data_stream/generic/sample_event.json
  packages/filestream/docs/README.md
  packages/filestream/img/icon.svg
  packages/filestream/manifest.yml
Labels: Team:Ecosystem

#4461 [Oracle] Add system testing files
  packages/oracle/changelog.yml
  packages/oracle/data_stream/database_audit/sample_event.json
  packages/oracle/data_stream/memory/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/memory/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/memory/_dev/test/system/test-memory-config.yml
  packages/oracle/data_stream/memory/sample_event.json
  packages/oracle/data_stream/performance/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/performance/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/performance/_dev/test/system/test-performance-config.yml
  packages/oracle/data_stream/performance/sample_event.json
  packages/oracle/data_stream/sysmetric/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/sysmetric/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/sysmetric/_dev/test/system/test-sysmetric-config.yml
  packages/oracle/data_stream/sysmetric/sample_event.json
  packages/oracle/data_stream/system_statistics/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/system_statistics/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/system_statistics/_dev/test/system/test-systemstatistics-config.yml
  packages/oracle/data_stream/system_statistics/sample_event.json
  packages/oracle/data_stream/tablespace/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/tablespace/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/tablespace/_dev/test/system/test-tablespace-config.yml
  packages/oracle/data_stream/tablespace/sample_event.json
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: Integration:Oracle

#4579 cisco_{asa,ftd}: add configuration for internal and external zones
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_asa/data_stream/log/manifest.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_ftd/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_ftd/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_ftd/data_stream/log/manifest.yml
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoFTD, Integration:CiscoASA

#4602 [google_workspace] Fix cursor value and pagination
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/admin/manifest.yml
  packages/google_workspace/data_stream/drive/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/drive/manifest.yml
  packages/google_workspace/data_stream/groups/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/groups/manifest.yml
  packages/google_workspace/data_stream/login/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/login/manifest.yml
  packages/google_workspace/data_stream/saml/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/saml/manifest.yml
  packages/google_workspace/data_stream/user_accounts/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/user_accounts/manifest.yml
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Google Workspace

#4584 Add container instance pipeline tests
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_instance/_dev/test/pipeline/test-azure-metrics-container-instance.json
  packages/azure_metrics/data_stream/container_instance/_dev/test/pipeline/test-azure-metrics-container-instance.json-expected.json
  packages/azure_metrics/data_stream/container_instance/_dev/test/pipeline/test-common-config.yml
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure, Team:Cloud-Monitoring

#4585 [apache_spark] Improvise README to explicitly call out the need for Spark to run standalone
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/changelog.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: enhancement, Team:Service-Integrations, integration:ApacheSpark

#4640 Osquery_manager: Update kibana constraint to ^8.6 for 1.5.1
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/manifest.yml
Labels: enhancement

#4632 netflow,netscout,netskope,o365,okta: remove duplicate fields
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/fields/agent.yml
  packages/netflow/data_stream/log/fields/ecs.yml
  packages/netflow/manifest.yml
  packages/netscout/changelog.yml
  packages/netscout/data_stream/sightline/fields/base-fields.yml
  packages/netscout/data_stream/sightline/fields/ecs.yml
  packages/netscout/manifest.yml
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/fields/agent.yml
  packages/netskope/data_stream/alerts/fields/ecs.yml
  packages/netskope/data_stream/events/fields/agent.yml
  packages/netskope/data_stream/events/fields/ecs.yml
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/agent.yml
  packages/o365/data_stream/audit/fields/ecs.yml
  packages/o365/manifest.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/fields/agent.yml
  packages/okta/data_stream/system/fields/ecs.yml
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta, Integration:o365, Integration:Netflow, Integration:Netscout, Integration:Netskope

#4633 panw*,pulse_connect_secure: remove duplicate fields
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/fields/agent.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/alerts/fields/agent.yml
  packages/panw_cortex_xdr/data_stream/alerts/fields/ecs.yml
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/manifest.yml
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/fields/ecs.yml
  packages/pulse_connect_secure/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW, Integration:PanwCortexXDR, Integration:PulseConnectSecure

#4526 [couchbase] Update Integration Package with SSL Configurations
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/bucket/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cache/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cbl_replication/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cluster/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/database_stats/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/miscellaneous/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/node/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/query_index/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/resource/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/xdcr/agent/stream/stream.yml.hbs
  packages/couchbase/manifest.yml
Labels: enhancement, Integration:Couchbase, Team:Service-Integrations

#4594 [logstash] fix mappings
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node_stats/fields/fields.yml
  packages/logstash/data_stream/node_stats/fields/package-fields.yml
  packages/logstash/manifest.yml
Labels: Integration:Logstash, Team:Infra Monitoring UI

#4658 fortinet_fortigate: add source and destination NAT IPs to related.ip
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#4629 Azure Platform Logs: rename identity as identity_name when the value is a string
  packages/azure/changelog.yml
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-identity-raw.log
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-identity-raw.log-expected.json
  packages/azure/data_stream/platformlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/platformlogs/fields/fields.yml
  packages/azure/docs/platformlogs.md
  packages/azure/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#4664 add KSPM to integration name
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security Posture

#4668 Panw | Support text values on panos.certificate.size field
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/fields/fields.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#4653 Refactor cisco_ise integration
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-ad-connector.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-administrative-and-operational-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-authentication-flow-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-failed-attempts.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-identity-stores-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-system-statistics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_ad_connector.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_administrative_and_operational_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_authentication_flow_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_failed_attempts.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_guest.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_identity_stores_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_internal_operations_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_mydevices.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_policy_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_posture_and_client_provisioning_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_radius_accounting.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_radius_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_system_statistics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_tacacs_accounting.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_threat_centric_nac.yml
  packages/cisco_ise/data_stream/log/fields/fields.yml
  packages/cisco_ise/data_stream/log/sample_event.json
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:CiscoISE

#4572 [Enhancement] [Proofpoint TAP] Make enhancement in connector with best practices implementation
  packages/proofpoint_tap/_dev/deploy/docker/docker-compose.yml
  packages/proofpoint_tap/_dev/deploy/docker/files/config.yml
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/fields/agent.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/fields/base-fields.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/manifest.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/clicks_permitted/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/fields/agent.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/fields/base-fields.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/manifest.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/sample_event.json
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/message_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/fields/agent.yml
  packages/proofpoint_tap/data_stream/message_blocked/fields/base-fields.yml
  packages/proofpoint_tap/data_stream/message_blocked/fields/fields.yml
  packages/proofpoint_tap/data_stream/message_blocked/manifest.yml
  packages/proofpoint_tap/data_stream/message_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/message_delivered/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/fields/agent.yml
  packages/proofpoint_tap/data_stream/message_delivered/fields/base-fields.yml
  packages/proofpoint_tap/data_stream/message_delivered/fields/fields.yml
  packages/proofpoint_tap/data_stream/message_delivered/manifest.yml
  packages/proofpoint_tap/data_stream/message_delivered/sample_event.json
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-3ad578f0-b5a6-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-770903b0-b5aa-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-9899aae0-b5ad-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-ee5bc100-b5c8-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Proofpoint

#4574 [Enhancement] [Jamf Compliance Reporter] Make enhancement in connector with best practices implementation
  packages/jamf_compliance_reporter/_dev/deploy/docker/docker-compose.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_app_metrics.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audio_video_device_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit_class_verification_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_accept.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_arguments.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_bind_and_aue_connect.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_chdir.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_chroot.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_execve.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_exit.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_fork.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_kill.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_listen.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_mount.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_pidfortask.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_posix_spawn.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_ptrace.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_session.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_setpriority.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_socketpair.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_ssauthint.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_taskforpid.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_tasknameforpid.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_unmount.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_wait4.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_compliance_reporter_tamper_event_and_file_event_info.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_exec_chain_child_object.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gatekeeper_info_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gatekeeper_manual_overrides.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gatekeeper_quarantine_log.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_hardware_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_identity_object.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_license_info_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_preference_list_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_print_event_information.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_process_object.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_prohibited_app_blocked.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_signal_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_unified_log_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_xprotect_event_log.yml
  packages/jamf_compliance_reporter/data_stream/log/fields/agent.yml
  packages/jamf_compliance_reporter/data_stream/log/fields/base-fields.yml
  packages/jamf_compliance_reporter/data_stream/log/manifest.yml
  packages/jamf_compliance_reporter/data_stream/log/sample_event.json
  packages/jamf_compliance_reporter/docs/README.md
  packages/jamf_compliance_reporter/img/jamf-compliance-reporter-screenshot.png
  packages/jamf_compliance_reporter/kibana/dashboard/jamf_compliance_reporter-8351fc80-b58c-11ec-a813-df29637f29df.json
  packages/jamf_compliance_reporter/kibana/dashboard/jamf_compliance_reporter-dd0ea730-b557-11ec-a813-df29637f29df.json
  packages/jamf_compliance_reporter/kibana/dashboard/jamf_compliance_reporter-dd28ec80-b584-11ec-a813-df29637f29df.json
  packages/jamf_compliance_reporter/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:JAMF_Compliance_Reporter

#4670 [Enhancement] [PANW] Make enhancement in connector with best practices implementation
  packages/panw/_dev/deploy/docker/docker-compose.yml
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/authentication.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/correlated_event.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/globalprotect.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/gtp.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/hipmatch.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/traffic.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/userid.yml
  packages/panw/data_stream/panos/fields/base-fields.yml
  packages/panw/data_stream/panos/manifest.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/kibana/dashboard/panw-0c0fa830-dca5-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-42d2b320-dcec-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-4782db40-dccc-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-772964e0-7591-11e9-aacf-79a3704914a0.json
  packages/panw/kibana/dashboard/panw-a663eea0-dd72-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-a8dc42e0-dcc8-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-d3e36450-dce1-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-e40ba240-7572-11e9-976e-65a8f47cc4c1.json
  packages/panw/kibana/dashboard/panw-f84a1440-dcf7-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/search/panw-0ffe1200-ddb9-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-1d9d5060-ddb9-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-37acbca0-ddb1-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-6d0ea500-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-79d117f0-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-89e2f970-ddb7-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-8dc6b590-ddb2-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-92083d90-ddb7-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-9df5cdf0-ddaf-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-a93a1c80-dcd7-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/search/panw-c53134a0-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-cfbe1f60-ddb7-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-d01e7260-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#4684 revert istio release from ga to beta
  packages/istio/manifest.yml
Labels: enhancement

#4679 Tenable: additional pipeline sanity checks
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/tenable_sc/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/tenable_sc/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/manifest.yml
Labels: bug, Integration:TenableSC

#4364 [Citrix ADC] Add Integration Package with Service Data Stream
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/_dev/deploy/docker/docker-compose.yml
  packages/citrix_adc/_dev/deploy/docker/files/config.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/service/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/service/_dev/test/pipeline/test-service-metrics.log
  packages/citrix_adc/data_stream/service/_dev/test/pipeline/test-service-metrics.log-expected.json
  packages/citrix_adc/data_stream/service/_dev/test/system/test-default-config.yml
  packages/citrix_adc/data_stream/service/agent/stream/stream.yml.hbs
  packages/citrix_adc/data_stream/service/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/service/fields/base-fields.yml
  packages/citrix_adc/data_stream/service/fields/ecs.yml
  packages/citrix_adc/data_stream/service/fields/fields.yml
  packages/citrix_adc/data_stream/service/manifest.yml
  packages/citrix_adc/data_stream/service/sample_event.json
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/img/citrix_adc-logo.svg
  packages/citrix_adc/img/citrix_adc-overview-dashboard.png
  packages/citrix_adc/img/citrix_adc-service-dashboard.png
  packages/citrix_adc/kibana/dashboard/citrix_adc-8d0661f0-4fa4-11ed-8fa7-7bab33159b99.json
  packages/citrix_adc/kibana/dashboard/citrix_adc-c4b9b970-3d99-11ed-9f8b-1bc5a55dfeec.json
  packages/citrix_adc/manifest.yml
Labels: enhancement, Integration:Citrix-Netscaler, Team:Service-Integrations

#4197 [GCP] support multiple regions when gathering metrics
  packages/gcp/changelog.yml
  packages/gcp/data_stream/compute/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/compute/manifest.yml
  packages/gcp/data_stream/dataproc/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/dataproc/manifest.yml
  packages/gcp/data_stream/firestore/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/firestore/manifest.yml
  packages/gcp/data_stream/gke/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/gke/manifest.yml
  packages/gcp/data_stream/loadbalancing_metrics/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/loadbalancing_metrics/manifest.yml
  packages/gcp/data_stream/redis/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/redis/manifest.yml
  packages/gcp/data_stream/storage/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/storage/manifest.yml
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#3837 [google_workspace] Add support for Alert Data Stream
  packages/google_workspace/_dev/build/docs/README.md
  packages/google_workspace/_dev/deploy/docker/config.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/google_workspace/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/google_workspace/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/google_workspace/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/alert/fields/agent.yml
  packages/google_workspace/data_stream/alert/fields/base-fields.yml
  packages/google_workspace/data_stream/alert/fields/ecs.yml
  packages/google_workspace/data_stream/alert/fields/fields.yml
  packages/google_workspace/data_stream/alert/manifest.yml
  packages/google_workspace/data_stream/alert/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/img/google-workspace-alert-screenshot.png
  packages/google_workspace/kibana/dashboard/google_workspace-d6287d50-0107-11ed-825d-df764a9c0c57.json
  packages/google_workspace/kibana/search/google_workspace-8ec40930-0110-11ed-825d-df764a9c0c57.json
  packages/google_workspace/kibana/search/google_workspace-e013b790-010b-11ed-825d-df764a9c0c57.json
  packages/google_workspace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Google Workspace, Epic

#4639 [gcp] add compute pipeline test
  packages/gcp/changelog.yml
  packages/gcp/data_stream/compute/_dev/test/pipeline/test-common-config.yml
  packages/gcp/data_stream/compute/_dev/test/pipeline/test-gcp-compute.json
  packages/gcp/data_stream/compute/_dev/test/pipeline/test-gcp-compute.json-expected.json
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4682 Update screenshots and icon
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/img/benchmarks.png
  packages/cloud_security_posture/img/cis-kubernetes-benchmark-logo.svg
  packages/cloud_security_posture/img/dashboard.png
  packages/cloud_security_posture/img/findings-flyout.png
  packages/cloud_security_posture/img/findings.png
  packages/cloud_security_posture/img/rules.png
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security Posture

#4603 [PHP-FPM] Add Integration Package with Pool Data Stream
  .github/CODEOWNERS
  packages/php_fpm/_dev/build/build.yml
  packages/php_fpm/_dev/build/docs/README.md
  packages/php_fpm/_dev/deploy/docker/docker-compose.yml
  packages/php_fpm/_dev/deploy/docker/files/Dockerfile
  packages/php_fpm/_dev/deploy/docker/files/default
  packages/php_fpm/_dev/deploy/docker/files/entrypoint.sh
  packages/php_fpm/changelog.yml
  packages/php_fpm/data_stream/pool/_dev/test/pipeline/test-common-config.yml
  packages/php_fpm/data_stream/pool/_dev/test/pipeline/test-pool-metrics.log
  packages/php_fpm/data_stream/pool/_dev/test/pipeline/test-pool-metrics.log-expected.json
  packages/php_fpm/data_stream/pool/_dev/test/system/test-default-config.yml
  packages/php_fpm/data_stream/pool/agent/stream/httpjson.yml.hbs
  packages/php_fpm/data_stream/pool/elasticsearch/ingest_pipeline/default.yml
  packages/php_fpm/data_stream/pool/fields/base-fields.yml
  packages/php_fpm/data_stream/pool/fields/ecs.yml
  packages/php_fpm/data_stream/pool/fields/fields.yml
  packages/php_fpm/data_stream/pool/manifest.yml
  packages/php_fpm/data_stream/pool/sample_event.json
  packages/php_fpm/docs/README.md
  packages/php_fpm/img/php_fpm-logo.svg
  packages/php_fpm/img/php_fpm-pool-dashboard.png
  packages/php_fpm/kibana/dashboard/php_fpm-6853a270-5a92-11ed-8d56-a14fd29a60cb.json
  packages/php_fpm/manifest.yml
Labels: enhancement, Integration:php-fpm, Team:Service-Integrations

#4719 [Cisco_Secure_Endpoint] Add drop processor for empty events
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/_dev/test/pipeline/test-cisco-amp-empty.log
  packages/cisco_secure_endpoint/data_stream/event/_dev/test/pipeline/test-cisco-amp-empty.log-expected.json
  packages/cisco_secure_endpoint/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_endpoint/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoSecureEndpoint

#4704 [Enhancement] [Infoblox Bloxone DDI] Update the Pagination Termination Condition and Added Filter instead of KQL in visualizations
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/agent/stream/httpjson.yml.hbs
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/sample_event.json
  packages/infoblox_bloxone_ddi/data_stream/dns_config/agent/stream/httpjson.yml.hbs
  packages/infoblox_bloxone_ddi/data_stream/dns_config/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/sample_event.json
  packages/infoblox_bloxone_ddi/data_stream/dns_data/agent/stream/httpjson.yml.hbs
  packages/infoblox_bloxone_ddi/data_stream/dns_data/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/sample_event.json
  packages/infoblox_bloxone_ddi/docs/README.md
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-85daef90-0ce7-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-b8497140-0cdd-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-d3f8a270-0ce3-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/search/infoblox_bloxone_ddi-86860980-34f0-11ed-a2eb-7fc0c8a128fe.json
  packages/infoblox_bloxone_ddi/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:infoblox_bloxone_ddi

#4701 [Enhancement] [Trend Micro Vision One] Update the Pagination Termination Condition
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#4700 [Enhancement] [Lastpass] Update the Pagination Termination Condition
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/event_report/agent/stream/httpjson.yml.hbs
  packages/lastpass/data_stream/user/agent/stream/httpjson.yml.hbs
  packages/lastpass/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Lastpass

#4699 [Enhancement] [Proofpoint TAP] Update the Pagination Termination Condition
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_permitted/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_delivered/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Proofpoint

#4713 atlassian_{bitbucket,confluence,jira}: fix handling of zero-length event lists
  packages/atlassian_bitbucket/changelog.yml
  packages/atlassian_bitbucket/data_stream/audit/_dev/test/pipeline/test-audit-api-empty.log
  packages/atlassian_bitbucket/data_stream/audit/_dev/test/pipeline/test-audit-api-empty.log-expected.json
  packages/atlassian_bitbucket/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_bitbucket/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_bitbucket/manifest.yml
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-api-empty.log
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-api-empty.log-expected.json
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-cloud-empty.log
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-cloud-empty.log-config.yml
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-cloud-empty.log-expected.json
  packages/atlassian_confluence/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/cloud.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/self-hosted.yml
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-empty.log
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-empty.log-expected.json
  packages/atlassian_jira/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_jira/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AtlassianJira, Integration:AtlassianConfluence, Integration:AtlassianBitBucket

#4565 [Enhancement][infoblox_nios] Added Support for new type of DHCP logs
  packages/infoblox_nios/_dev/build/docs/README.md
  packages/infoblox_nios/_dev/deploy/docker/sample_logs/log.log
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/fields/fields.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#4242 [f5_bigip] Initial Release for the F5 BIG-IP
  .github/CODEOWNERS
  packages/f5_bigip/_dev/build/build.yml
  packages/f5_bigip/_dev/build/docs/README.md
  packages/f5_bigip/_dev/deploy/docker/docker-compose.yml
  packages/f5_bigip/_dev/deploy/docker/sample_logs/log.log
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-afm.log
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-afm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-apm.log
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-apm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-asm.log
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-asm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-avr.log
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-avr.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-ltm.log
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-ltm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/system/test-http-endpoint-config.yml
  packages/f5_bigip/data_stream/log/agent/stream/aws-s3.yml.hbs
  packages/f5_bigip/data_stream/log/agent/stream/http_endpoint.yml.hbs
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipafm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipapm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipasm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipavr.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipltm.yml
  packages/f5_bigip/data_stream/log/fields/agent.yml
  packages/f5_bigip/data_stream/log/fields/base-fields.yml
  packages/f5_bigip/data_stream/log/fields/ecs.yml
  packages/f5_bigip/data_stream/log/fields/fields.yml
  packages/f5_bigip/data_stream/log/manifest.yml
  packages/f5_bigip/data_stream/log/sample_event.json
  packages/f5_bigip/docs/README.md
  packages/f5_bigip/img/f5-bigip-logo.svg
  packages/f5_bigip/img/f5-bigip-screenshot.png
  packages/f5_bigip/kibana/dashboard/f5_bigip-3d589240-2d03-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/kibana/dashboard/f5_bigip-68e4e1e0-2d1f-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/kibana/dashboard/f5_bigip-bfd3f300-2cfd-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/kibana/dashboard/f5_bigip-c7a76440-2d16-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/kibana/dashboard/f5_bigip-f9913450-2d06-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/kibana/search/f5_bigip-2a1f6900-2d18-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/kibana/search/f5_bigip-4088d440-2dab-11ed-8a2f-21ef339df797.json
  packages/f5_bigip/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#4716 Add docker_logs datastream for docker container logs collection
  packages/docker/_dev/build/docs/README.md
  packages/docker/changelog.yml
  packages/docker/data_stream/container_logs/agent/stream/stream.yml.hbs
  packages/docker/data_stream/container_logs/fields/base-fields.yml
  packages/docker/data_stream/container_logs/fields/ecs.yml
  packages/docker/data_stream/container_logs/fields/fields.yml
  packages/docker/data_stream/container_logs/manifest.yml
  packages/docker/data_stream/container_logs/sample_event.json
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: Team:Cloudnative-Monitoring

#4611 juniper_*,m365_defender,microsoft_defender_endpoint,mimecast,modsecurity: remove duplicate fields
  packages/juniper_junos/changelog.yml
  packages/juniper_junos/data_stream/log/fields/agent.yml
  packages/juniper_junos/data_stream/log/fields/ecs.yml
  packages/juniper_junos/manifest.yml
  packages/juniper_netscreen/changelog.yml
  packages/juniper_netscreen/data_stream/log/fields/agent.yml
  packages/juniper_netscreen/data_stream/log/fields/ecs.yml
  packages/juniper_netscreen/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/fields/ecs.yml
  packages/juniper_srx/manifest.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/fields/ecs.yml
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/fields/ecs.yml
  packages/microsoft_defender_endpoint/data_stream/log/fields/fields.yml
  packages/microsoft_defender_endpoint/manifest.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/siem_logs/fields/ecs.yml
  packages/mimecast/data_stream/ttp_ap_logs/fields/ecs.yml
  packages/mimecast/data_stream/ttp_ip_logs/fields/ecs.yml
  packages/mimecast/data_stream/ttp_url_logs/fields/ecs.yml
  packages/mimecast/manifest.yml
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/fields/agent.yml
  packages/modsecurity/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Juniper, Integration:Mimecast, Integration:Modsecurity, Integration:Microsoft_defender_endpoint, Integration: M365_Defender

#4610 hid_bravura_monitor,imperva,infoblox_*,zscalar_*: remove duplicate fields
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/fields/agent.yml
  packages/hid_bravura_monitor/data_stream/log/fields/ecs.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/agent.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/ecs.yml
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/manifest.yml
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/fields/base-fields.yml
  packages/imperva/data_stream/securesphere/fields/ecs.yml
  packages/imperva/manifest.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/fields/agent.yml
  packages/infoblox_bloxone_ddi/manifest.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/fields/agent.yml
  packages/infoblox_nios/manifest.yml
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/manifest.yml
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/browser_access/fields/ecs.yml
  packages/zscaler_zpa/data_stream/user_status/_dev/test/pipeline/test-user-status.log-expected.json
  packages/zscaler_zpa/data_stream/user_status/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:imperva, Integration:ZscalerZPA, Integration:ZscalerZIA, Integration:Infoblox_nios, Integration:infoblox_bloxone_ddi, Integration: HID Bravura Monitor

#4709 fix flattened process fields in default ingest pipeline
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: Team:Security-External Integrations, Integration:Crowdstrike

#4649 Use report command from elastic-package
  .ci/Jenkinsfile
  dev/benchreport/benchmark.go
  dev/benchreport/report.go
  dev/benchreport/result.go
  magefile.go
Labels: enhancement, ci

#4731 [suricata] Defensive copy of parameter lists
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml
  packages/suricata/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Suricata

#4703 [Enhancement] [AWS Security Hub] Update the Pagination Termination Condition
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/fields/agent.yml
  packages/aws/data_stream/cloudfront_logs/fields/agent.yml
  packages/aws/data_stream/cloudtrail/fields/agent.yml
  packages/aws/data_stream/cloudwatch_logs/fields/agent.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/agent.yml
  packages/aws/data_stream/dynamodb/fields/agent.yml
  packages/aws/data_stream/ebs/fields/agent.yml
  packages/aws/data_stream/ec2_logs/fields/agent.yml
  packages/aws/data_stream/ecs_metrics/fields/agent.yml
  packages/aws/data_stream/elb_logs/fields/agent.yml
  packages/aws/data_stream/elb_metrics/fields/agent.yml
  packages/aws/data_stream/firewall_logs/fields/agent.yml
  packages/aws/data_stream/firewall_metrics/fields/agent.yml
  packages/aws/data_stream/kinesis/fields/agent.yml
  packages/aws/data_stream/lambda/fields/agent.yml
  packages/aws/data_stream/natgateway/fields/agent.yml
  packages/aws/data_stream/rds/fields/agent.yml
  packages/aws/data_stream/route53_public_logs/fields/agent.yml
  packages/aws/data_stream/route53_resolver_logs/fields/agent.yml
  packages/aws/data_stream/s3_daily_storage/fields/agent.yml
  packages/aws/data_stream/s3_request/fields/agent.yml
  packages/aws/data_stream/s3_storage_lens/fields/agent.yml
  packages/aws/data_stream/s3access/fields/agent.yml
  packages/aws/data_stream/securityhub_findings/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_insights/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/sns/fields/agent.yml
  packages/aws/data_stream/sqs/fields/agent.yml
  packages/aws/data_stream/transitgateway/fields/agent.yml
  packages/aws/data_stream/usage/fields/agent.yml
  packages/aws/data_stream/vpcflow/fields/agent.yml
  packages/aws/data_stream/vpn/fields/agent.yml
  packages/aws/data_stream/waf/fields/agent.yml
  packages/aws/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AWS

#4642 radware,slack,sophos,squid,suricata,symantec,ti_*,tomcat: remove duplicate fields
  packages/radware/changelog.yml
  packages/radware/data_stream/defensepro/fields/base-fields.yml
  packages/radware/manifest.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/fields/ecs.yml
  packages/slack/data_stream/audit/fields/fields.yml
  packages/slack/docs/README.md
  packages/slack/manifest.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/fields/base-fields.yml
  packages/sophos/data_stream/xg/fields/fields.yml
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
  packages/squid/changelog.yml
  packages/squid/data_stream/log/fields/base-fields.yml
  packages/squid/data_stream/log/fields/ecs.yml
  packages/squid/manifest.yml
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/fields/agent.yml
  packages/suricata/data_stream/eve/fields/base-fields.yml
  packages/suricata/data_stream/eve/fields/ecs.yml
  packages/suricata/manifest.yml
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/fields/agent.yml
  packages/symantec_endpoint/data_stream/log/fields/ecs.yml
  packages/symantec_endpoint/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/fields/ecs.yml
  packages/ti_cybersixgill/manifest.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/fields/base-fields.yml
  packages/ti_threatq/manifest.yml
  packages/tomcat/changelog.yml
  packages/tomcat/data_stream/log/fields/base-fields.yml
  packages/tomcat/data_stream/log/fields/ecs.yml
  packages/tomcat/docs/README.md
  packages/tomcat/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Symantec-Endpoint, Integration:Squid, Integration:Sophos, Integration:Suricata, Integration:Radware, Integration:Cybersixgill, Integration:Slack

#4742 Cisco Secure Email Gateway | Update grok pattern to extract additional fields
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/fields.yml
  packages/cisco_secure_email_gateway/data_stream/log/sample_event.json
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, Integration:CiscoSecureEmailGateway

#4676 [AWS] Support multiple forwarded IPs in cloudfront integration
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log-expected.json
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudfront_logs/fields/ecs.yml
  packages/aws/docs/cloudfront.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring
