Repository elastic/integrations, pull requests merged in 2022-12, with the labels that each got.

#4652 [PHP-FPM] Add Integration Package with Process Data Stream
  packages/php_fpm/_dev/build/docs/README.md
  packages/php_fpm/changelog.yml
  packages/php_fpm/data_stream/process/_dev/test/pipeline/test-common-config.yml
  packages/php_fpm/data_stream/process/_dev/test/pipeline/test-process-metrics.log
  packages/php_fpm/data_stream/process/_dev/test/pipeline/test-process-metrics.log-expected.json
  packages/php_fpm/data_stream/process/_dev/test/system/test-default-config.yml
  packages/php_fpm/data_stream/process/agent/stream/httpjson.yml.hbs
  packages/php_fpm/data_stream/process/elasticsearch/ingest_pipeline/default.yml
  packages/php_fpm/data_stream/process/fields/base-fields.yml
  packages/php_fpm/data_stream/process/fields/ecs.yml
  packages/php_fpm/data_stream/process/fields/fields.yml
  packages/php_fpm/data_stream/process/manifest.yml
  packages/php_fpm/data_stream/process/sample_event.json
  packages/php_fpm/docs/README.md
  packages/php_fpm/img/php_fpm-process-dashboard.png
  packages/php_fpm/kibana/dashboard/php_fpm-30d6d490-60c6-11ed-a227-676557292b43.json
  packages/php_fpm/manifest.yml
Labels: enhancement, Integration:php-fpm, Team:Service-Integrations

#4720 Add GCS input to Cloudflare Logpush
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/audit/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: 8.6 candidate

#4728 Add GCS input to Akamai
  packages/akamai/_dev/build/docs/README.md
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/agent/stream/gcs.yml.hbs
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/docs/README.md
  packages/akamai/manifest.yml
Labels: 8.6 candidate

#4741 [Synthetics] add run_from.geo.name field
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/agent/stream/browser.yml.hbs
  packages/synthetics/data_stream/http/agent/stream/http.yml.hbs
  packages/synthetics/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/synthetics/data_stream/tcp/agent/stream/tcp.yml.hbs
  packages/synthetics/manifest.yml
Labels: v8.5.0

#4727 httpjson: remove leftover single quote
  packages/httpjson/changelog.yml
  packages/httpjson/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:httpjson, docs

#4530 Kafka dashboard fix fields
  packages/kafka/changelog.yml
  packages/kafka/data_stream/consumergroup/fields/fields.yml
  packages/kafka/data_stream/consumergroup/sample_event.json
  packages/kafka/data_stream/partition/fields/fields.yml
  packages/kafka/data_stream/partition/sample_event.json
  packages/kafka/docs/README.md
  packages/kafka/kibana/visualization/kafka-587f2360-8f21-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-944188f0-8e79-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-dc89f8d0-8e8e-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/manifest.yml
Labels: bug, Team:Service-Integrations

#4726 panw: process URLs for THREAT events of url subtype
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#4756 [Metrics Kubernetes] Nodes: Fix memory usage by node
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-b945b7b0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: bug, dashboard, Team:Cloudnative-Monitoring

#4752 [Cloud Posture] Introducing cspm
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/eks.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/vanilla.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security Posture

#4655 Fix PR URL in changelog
  packages/log/changelog.yml
Labels: bug, Team:Elastic-Agent, docs

#4760 [PHP-FPM] Update the `request duration` field description in Process data stream
  packages/php_fpm/_dev/build/docs/README.md
  packages/php_fpm/changelog.yml
  packages/php_fpm/data_stream/process/fields/fields.yml
  packages/php_fpm/docs/README.md
  packages/php_fpm/img/php_fpm-process-dashboard.png
  packages/php_fpm/kibana/dashboard/php_fpm-30d6d490-60c6-11ed-a227-676557292b43.json
  packages/php_fpm/manifest.yml
Labels: bug, Integration:php-fpm, Team:Service-Integrations

#4418 [Citrix ADC] Add Integration Package with lbvserver Data Stream
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/_dev/deploy/docker/docker-compose.yml
  packages/citrix_adc/_dev/deploy/docker/files/config.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/lbvserver/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/lbvserver/_dev/test/pipeline/test-lbvserver-metrics.log
  packages/citrix_adc/data_stream/lbvserver/_dev/test/pipeline/test-lbvserver-metrics.log-expected.json
  packages/citrix_adc/data_stream/lbvserver/_dev/test/system/test-default-config.yml
  packages/citrix_adc/data_stream/lbvserver/agent/stream/httpjson.yml.hbs
  packages/citrix_adc/data_stream/lbvserver/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/lbvserver/fields/base-fields.yml
  packages/citrix_adc/data_stream/lbvserver/fields/ecs.yml
  packages/citrix_adc/data_stream/lbvserver/fields/fields.yml
  packages/citrix_adc/data_stream/lbvserver/manifest.yml
  packages/citrix_adc/data_stream/lbvserver/sample_event.json
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/img/citrix_adc-lbvserver-dashboard.png
  packages/citrix_adc/img/citrix_adc-overview-dashboard.png
  packages/citrix_adc/kibana/dashboard/citrix_adc-2b30a8f0-4fa9-11ed-8fa7-7bab33159b99.json
  packages/citrix_adc/kibana/dashboard/citrix_adc-c4b9b970-3d99-11ed-9f8b-1bc5a55dfeec.json
  packages/citrix_adc/manifest.yml
Labels: enhancement, Integration:Citrix-Netscaler, Team:Service-Integrations

#4769 Inline awsfargate integration dashboard
  packages/awsfargate/changelog.yml
  packages/awsfargate/kibana/dashboard/awsfargate-20dc7c50-2e89-11eb-991c-c5fd3b7f5a63.json
  packages/awsfargate/kibana/lens/awsfargate-60941700-2e88-11eb-991c-c5fd3b7f5a63.json
  packages/awsfargate/kibana/lens/awsfargate-86720980-3966-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-8cf592f0-2e8e-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-a7970500-2e91-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-b1837e70-396f-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-c3952840-2e91-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/lens/awsfargate-d3f3aa80-2e8d-11eb-a417-f961313c14f6.json
  packages/awsfargate/kibana/visualization/awsfargate-38eee240-2e90-11eb-a417-f961313c14f6.json
  packages/awsfargate/manifest.yml
Labels: Team:Cloud-Monitoring

#4531 SysmonForLinux | New integration to support Sysmon logs for Linux
  .github/CODEOWNERS
  packages/sysmon_linux/_dev/build/build.yml
  packages/sysmon_linux/_dev/build/docs/README.md
  packages/sysmon_linux/_dev/deploy/docker/docker-compose.yml
  packages/sysmon_linux/_dev/deploy/docker/sample_logs/sysmon.log
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/sysmon_linux/data_stream/log/_dev/test/pipeline/test-sysmon.json
  packages/sysmon_linux/data_stream/log/_dev/test/pipeline/test-sysmon.json-expected.json
  packages/sysmon_linux/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/sysmon_linux/data_stream/log/agent/stream/filestream.yml.hbs
  packages/sysmon_linux/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sysmon_linux/data_stream/log/fields/agent.yml
  packages/sysmon_linux/data_stream/log/fields/base-fields.yml
  packages/sysmon_linux/data_stream/log/fields/beats.yml
  packages/sysmon_linux/data_stream/log/fields/ecs.yml
  packages/sysmon_linux/data_stream/log/fields/fields.yml
  packages/sysmon_linux/data_stream/log/fields/winlog.yml
  packages/sysmon_linux/data_stream/log/manifest.yml
  packages/sysmon_linux/data_stream/log/sample_event.json
  packages/sysmon_linux/docs/README.md
  packages/sysmon_linux/img/kibana-sysmon-linux.png
  packages/sysmon_linux/img/sysmon-linux.svg
  packages/sysmon_linux/kibana/dashboard/sysmon_linux-22fcf4b0-64d8-11ed-8c3d-9d8cab821d64.json
  packages/sysmon_linux/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:SysmonForLinux

#4754 Azure App Insights: fix misspelled field name in app_state data stream
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/data_stream/app_state/fields/fields.yml
  packages/azure_application_insights/docs/README.md
  packages/azure_application_insights/docs/app_state.md
  packages/azure_application_insights/manifest.yml
Labels: bug, Integration:Azure, Team:Cloud-Monitoring

#4794 [AWS] Change Kinesis integration documentation to Kinesis Data Stream
  packages/aws/_dev/build/docs/kinesis.md
  packages/aws/changelog.yml
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/docs/kinesis.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#4805 [panw] Fix handling of related.ip when host.ip is an array
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#4767 [Trend Micro Vision One] Add drop processor for empty events
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: bug, Team:Security-External Integrations

#4777 [LastPass] Update ECS `source.geo.location` field.
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/detailed_shared_folder/sample_event.json
  packages/lastpass/data_stream/event_report/fields/ecs.yml
  packages/lastpass/data_stream/event_report/sample_event.json
  packages/lastpass/data_stream/user/sample_event.json
  packages/lastpass/docs/README.md
  packages/lastpass/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Lastpass

#4745 [Tenable SC] Sync build version in user-agent header with package version
  packages/tenable_sc/_dev/build/docs/README.md
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/asset/sample_event.json
  packages/tenable_sc/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/plugin/sample_event.json
  packages/tenable_sc/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/vulnerability/sample_event.json
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:TenableSC

#4774 Azure Storage Account - Replace link to indonesian docs
  packages/azure_metrics/_dev/build/docs/compute_vm.md
  packages/azure_metrics/_dev/build/docs/compute_vm_scaleset.md
  packages/azure_metrics/_dev/build/docs/container_instance.md
  packages/azure_metrics/_dev/build/docs/container_registry.md
  packages/azure_metrics/_dev/build/docs/container_service.md
  packages/azure_metrics/_dev/build/docs/database_account.md
  packages/azure_metrics/_dev/build/docs/monitor.md
  packages/azure_metrics/_dev/build/docs/storage_account.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/compute_vm.md
  packages/azure_metrics/docs/compute_vm_scaleset.md
  packages/azure_metrics/docs/container_instance.md
  packages/azure_metrics/docs/container_registry.md
  packages/azure_metrics/docs/container_service.md
  packages/azure_metrics/docs/database_account.md
  packages/azure_metrics/docs/monitor.md
  packages/azure_metrics/docs/storage_account.md
  packages/azure_metrics/manifest.yml
Labels: documentation

#4802 barracuda,bluecoat,cylance,f5,imperva,netscout,radware,squid: fix field docs
  packages/barracuda/_dev/build/docs/README.md
  packages/barracuda/changelog.yml
  packages/barracuda/docs/README.md
  packages/barracuda/manifest.yml
  packages/bluecoat/_dev/build/docs/README.md
  packages/bluecoat/changelog.yml
  packages/bluecoat/docs/README.md
  packages/bluecoat/manifest.yml
  packages/cylance/_dev/build/docs/README.md
  packages/cylance/changelog.yml
  packages/cylance/docs/README.md
  packages/cylance/manifest.yml
  packages/f5/_dev/build/docs/README.md
  packages/f5/changelog.yml
  packages/f5/docs/README.md
  packages/f5/manifest.yml
  packages/imperva/_dev/build/docs/README.md
  packages/imperva/changelog.yml
  packages/imperva/docs/README.md
  packages/imperva/manifest.yml
  packages/netscout/_dev/build/docs/README.md
  packages/netscout/changelog.yml
  packages/netscout/docs/README.md
  packages/netscout/manifest.yml
  packages/radware/_dev/build/docs/README.md
  packages/radware/changelog.yml
  packages/radware/docs/README.md
  packages/radware/manifest.yml
  packages/squid/_dev/build/docs/README.md
  packages/squid/changelog.yml
  packages/squid/docs/README.md
  packages/squid/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Squid, Integration:F5, Integration:Cylance, Integration:Barracuda, Integration:imperva, Integration:Netscout, Integration:Bluecoat, Integration:Radware, docs

#4781 Checkpoint | support unix and unix_ms ts for time field
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Checkpoint

#4808 okta: handle already set event.original more robustly
  packages/okta/changelog.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#4458 [Citrix ADC] Add Integration Package with System Data Stream
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/_dev/deploy/docker/files/config.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/system/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/system/_dev/test/pipeline/test-system-metrics.log
  packages/citrix_adc/data_stream/system/_dev/test/pipeline/test-system-metrics.log-expected.json
  packages/citrix_adc/data_stream/system/_dev/test/system/test-default-config.yml
  packages/citrix_adc/data_stream/system/agent/stream/stream.yml.hbs
  packages/citrix_adc/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/system/fields/base-fields.yml
  packages/citrix_adc/data_stream/system/fields/ecs.yml
  packages/citrix_adc/data_stream/system/fields/fields.yml
  packages/citrix_adc/data_stream/system/manifest.yml
  packages/citrix_adc/data_stream/system/sample_event.json
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/img/citrix_adc-system-dashboard.png
  packages/citrix_adc/kibana/dashboard/citrix_adc-73ef1be0-485a-11ed-aee6-31b55c85e6df.json
  packages/citrix_adc/manifest.yml
Labels: enhancement, Integration:Citrix-Netscaler, Team:Service-Integrations

#4751 PANW | Fix discrepancies in user fields and conform to ECS
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-authentication-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-correlated-events-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/correlated_event.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/globalprotect.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/hipmatch.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/traffic.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/tunnel_inspection.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/userid.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#4702 Lyve cloud integration
  .github/CODEOWNERS
  packages/lyve_cloud/_dev/build/build.yml
  packages/lyve_cloud/_dev/build/docs/README.md
  packages/lyve_cloud/changelog.yml
  packages/lyve_cloud/data_stream/audit/_dev/test/pipeline/test-audit-events.json
  packages/lyve_cloud/data_stream/audit/_dev/test/pipeline/test-audit-events.json-expected.json
  packages/lyve_cloud/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/lyve_cloud/data_stream/audit/agent/stream/aws-s3.yml.hbs
  packages/lyve_cloud/data_stream/audit/elasticsearch/ingest_pipeline/audit_lc.yml
  packages/lyve_cloud/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/lyve_cloud/data_stream/audit/fields/agent.yml
  packages/lyve_cloud/data_stream/audit/fields/base-fields.yml
  packages/lyve_cloud/data_stream/audit/fields/ecs.yml
  packages/lyve_cloud/data_stream/audit/fields/fields.yml
  packages/lyve_cloud/data_stream/audit/manifest.yml
  packages/lyve_cloud/data_stream/audit/sample_event.json
  packages/lyve_cloud/docs/README.md
  packages/lyve_cloud/img/APIs-count-dashboard.png
  packages/lyve_cloud/img/LyveCloud-Logo.svg
  packages/lyve_cloud/kibana/dashboard/lyve_cloud-42d12a00-5852-11ed-a702-0d7be6ba8b3f.json
  packages/lyve_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#4830 [AWS] Support VPC flow logs with message field
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-with-message-field.log
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-with-message-field.log-expected.json
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#4828 Panw Cortex XDR | Conform user fields to ECS standards
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr-bioc.log
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr-bioc.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/alerts/fields/ecs.yml
  packages/panw_cortex_xdr/data_stream/alerts/fields/fields.yml
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PanwCortexXDR

#4323 [salesforce] Add `salesforce` package foundation along with `logout_rest` data stream
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/_dev/deploy/docker/files/config.yml
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/login_rest/_dev/test/pipeline/test-login-rest.log-expected.json
  packages/salesforce/data_stream/login_rest/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/login_rest/sample_event.json
  packages/salesforce/data_stream/logout_rest/_dev/test/pipeline/test-common-config.yml
  packages/salesforce/data_stream/logout_rest/_dev/test/pipeline/test-logout-rest.log
  packages/salesforce/data_stream/logout_rest/_dev/test/pipeline/test-logout-rest.log-expected.json
  packages/salesforce/data_stream/logout_rest/_dev/test/system/test-default-config.yml
  packages/salesforce/data_stream/logout_rest/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/logout_rest/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/logout_rest/fields/base-fields.yml
  packages/salesforce/data_stream/logout_rest/fields/ecs.yml
  packages/salesforce/data_stream/logout_rest/fields/fields.yml
  packages/salesforce/data_stream/logout_rest/manifest.yml
  packages/salesforce/data_stream/logout_rest/sample_event.json
  packages/salesforce/docs/README.md
  packages/salesforce/img/salesforce-logout.png
  packages/salesforce/kibana/dashboard/salesforce-6c750440-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:Salesforce

#4865 [m365_defender] Bugfix for when entities fields are empty
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: M365_Defender

#4857 [AWS] Remove quotes from VPC flow log message and move dot_expander to top
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-with-message-field.log
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#4859 [Custom AWS Logs] Add latency config parameter into aws-cloudwatch input
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: Team:Cloud-Monitoring

#4708 [beat] Create beat package
  .github/CODEOWNERS
  packages/beat/_dev/build/build.yml
  packages/beat/_dev/build/docs/README.md
  packages/beat/_dev/deploy/docker/config/apm-server/apm-server.yml
  packages/beat/_dev/deploy/docker/config/metricbeat/metricbeat.yml
  packages/beat/_dev/deploy/docker/docker-compose.yml
  packages/beat/_dev/deploy/docker/scripts/events.ndjson
  packages/beat/_dev/deploy/docker/scripts/generate-events.sh
  packages/beat/_dev/deploy/variants.yml
  packages/beat/changelog.yml
  packages/beat/data_stream/state/_dev/test/system/test-default-config.yml
  packages/beat/data_stream/state/agent/stream/stream.yml.hbs
  packages/beat/data_stream/state/fields/base-fields.yml
  packages/beat/data_stream/state/fields/ecs.yml
  packages/beat/data_stream/state/fields/fields.yml
  packages/beat/data_stream/state/fields/package-fields.yml
  packages/beat/data_stream/state/manifest.yml
  packages/beat/data_stream/state/sample_event.json
  packages/beat/data_stream/stats/_dev/test/system/test-default-config.yml
  packages/beat/data_stream/stats/agent/stream/stream.yml.hbs
  packages/beat/data_stream/stats/fields/base-fields.yml
  packages/beat/data_stream/stats/fields/ecs.yml
  packages/beat/data_stream/stats/fields/fields.yml
  packages/beat/data_stream/stats/fields/package-fields.yml
  packages/beat/data_stream/stats/manifest.yml
  packages/beat/data_stream/stats/sample_event.json
  packages/beat/docs/README.md
  packages/beat/img/logo_beat.svg
  packages/beat/manifest.yml
Labels: Team:Infra Monitoring UI, Integration:Beat

#4847 [Enhancement] [LastPass] Add support for `event.outcome` field and new type of `event.action`
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/detailed_shared_folder/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/detailed_shared_folder/sample_event.json
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-event-report.log
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-event-report.log-expected.json
  packages/lastpass/data_stream/event_report/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/event_report/sample_event.json
  packages/lastpass/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/user/sample_event.json
  packages/lastpass/docs/README.md
  packages/lastpass/kibana/dashboard/lastpass-45d2e670-244b-11ed-80ca-25e921dc7ac2.json
  packages/lastpass/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Lastpass

#4473 [Citrix ADC] Add Integration Package with VPN Data Stream
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/_dev/deploy/docker/files/config.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/vpn/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/vpn/_dev/test/pipeline/test-vpn-metrics.log
  packages/citrix_adc/data_stream/vpn/_dev/test/pipeline/test-vpn-metrics.log-expected.json
  packages/citrix_adc/data_stream/vpn/_dev/test/system/test-default-config.yml
  packages/citrix_adc/data_stream/vpn/agent/stream/httpjson.yml.hbs
  packages/citrix_adc/data_stream/vpn/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/vpn/fields/base-fields.yml
  packages/citrix_adc/data_stream/vpn/fields/ecs.yml
  packages/citrix_adc/data_stream/vpn/fields/fields.yml
  packages/citrix_adc/data_stream/vpn/manifest.yml
  packages/citrix_adc/data_stream/vpn/sample_event.json
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/img/citrix_adc-vpn-dashboard.png
  packages/citrix_adc/kibana/dashboard/citrix_adc-abcd5660-4947-11ed-9b28-1f7d06bfd481.json
  packages/citrix_adc/manifest.yml
Labels: enhancement, Integration:Citrix-Netscaler, Team:Service-Integrations

#4680 New integration created for "cloud_defend" for containers feature
  .github/CODEOWNERS
  packages/cloud_defend/LICENSE.txt
  packages/cloud_defend/_dev/deploy/k8s/.empty
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/agent/stream/stream.yml.hbs
  packages/cloud_defend/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/alerts/fields/base-fields.yml
  packages/cloud_defend/data_stream/alerts/fields/ecs.yml
  packages/cloud_defend/data_stream/alerts/manifest.yml
  packages/cloud_defend/data_stream/alerts/sample_event.json
  packages/cloud_defend/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/cloud_defend/data_stream/metrics/fields/base-fields.yml
  packages/cloud_defend/data_stream/metrics/manifest.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/img/sample-logo.svg
  packages/cloud_defend/img/sample-screenshot.png
  packages/cloud_defend/manifest.yml
Labels: enhancement, v8.7.0, Team: Cloud Native Integrations

#4877 [TI OTX] Adding drop for empty documents
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-empty-ndjson.log
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-empty-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-sample-ndjson.log
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-sample-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_otx/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_otx/data_stream/threat/sample_event.json
  packages/ti_otx/docs/README.md
  packages/ti_otx/manifest.yml
Labels: bug, Team:Security-External Integrations

#4837 [MongoDB] Added remove processors in ingest pipeline for log datastream
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb/data_stream/log/sample_event.json
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: Team:Service-Integrations, 8.7 Candidate

#4436 [GCP] Add gcp.metrics input package
  .github/CODEOWNERS
  packages/gcp_metrics/agent/input/input.yml.hbs
  packages/gcp_metrics/changelog.yml
  packages/gcp_metrics/docs/README.md
  packages/gcp_metrics/fields/input.yml
  packages/gcp_metrics/img/logo_gcp.svg
  packages/gcp_metrics/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#4824 [MongoDB] Added ssl mappings in handlebar file for mongodb data streams
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/collstats/agent/stream/stream.yml.hbs
  packages/mongodb/data_stream/dbstats/agent/stream/stream.yml.hbs
  packages/mongodb/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/mongodb/data_stream/replstatus/agent/stream/stream.yml.hbs
  packages/mongodb/data_stream/status/agent/stream/stream.yml.hbs
  packages/mongodb/manifest.yml
Labels: 8.7 Candidate

#4893 [m365_defender] Update API version for Incident data stream & Mark log data stream as deprecated
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/_dev/deploy/docker/http-mock-config.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/fields/fields.yml
  packages/m365_defender/data_stream/log/manifest.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/kibana/dashboard/m365_defender-ac54d310-44ab-11ed-8375-0168a9970c06.json
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender
