Repository elastic/integrations, pull requests merged in 2023-03, with the labels that each got.

#5419 [Cisco ASA] Remove ignore_failure causing performance impact
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#5314 [o365] Update fields.yml with new ListBaseType field
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Team:Security-External Integrations, Integration:o365

#5422 [m365_defender] Document and Title Updates
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/manifest.yml
  packages/m365_defender/data_stream/incident/manifest.yml
  packages/m365_defender/data_stream/log/manifest.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender

#5433 [network_traffic] Fix field type for send_headers from bool to text
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/http/agent/stream/http.yml.hbs
  packages/network_traffic/data_stream/http/manifest.yml
  packages/network_traffic/manifest.yml
Labels: Team:Security-External Integrations, Integration:Network Packet Capture

#5420 [Zscaler ZIA] Add dynamic ECS mapping as well as resolve the issue relate to User Agent and NA fields.
  packages/zscaler_zia/_dev/build/build.yml
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/_dev/deploy/docker/docker-compose.yml
  packages/zscaler_zia/_dev/deploy/docker/sample_logs/web-http_endpoint.log
  packages/zscaler_zia/_dev/deploy/docker/sample_logs/web.log
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/alerts/fields/agent.yml
  packages/zscaler_zia/data_stream/alerts/fields/beats.yml
  packages/zscaler_zia/data_stream/alerts/fields/ecs.yml
  packages/zscaler_zia/data_stream/alerts/sample_event.json
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/dns/fields/agent.yml
  packages/zscaler_zia/data_stream/dns/fields/beats.yml
  packages/zscaler_zia/data_stream/dns/fields/ecs.yml
  packages/zscaler_zia/data_stream/dns/sample_event.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/firewall/fields/agent.yml
  packages/zscaler_zia/data_stream/firewall/fields/beats.yml
  packages/zscaler_zia/data_stream/firewall/fields/ecs.yml
  packages/zscaler_zia/data_stream/firewall/sample_event.json
  packages/zscaler_zia/data_stream/tunnel/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/tunnel/fields/agent.yml
  packages/zscaler_zia/data_stream/tunnel/fields/beats.yml
  packages/zscaler_zia/data_stream/tunnel/fields/ecs.yml
  packages/zscaler_zia/data_stream/tunnel/sample_event.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/fields/agent.yml
  packages/zscaler_zia/data_stream/web/fields/beats.yml
  packages/zscaler_zia/data_stream/web/fields/ecs.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:ZscalerZIA

#5448 [Cloud Security] Refactor config type
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/eks.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/vanilla.yml.hbs
  packages/cloud_security_posture/data_stream/vulnerabilities/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#5441 tines: make email address optional and add note
  packages/tines/changelog.yml
  packages/tines/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Tines

#5447 [Azure Metrics] Fix CassandraConnectionClosures metric configuration
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/database_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#5367 [elasticsearch] Fix collection of shard recovery total time
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/index_recovery/fields/package-fields.yml
  packages/elasticsearch/data_stream/index_recovery/sample_event.json
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#5359 [Kibana] Add `condition` configuration for Kibana logs and metrics
  packages/kibana/changelog.yml
  packages/kibana/data_stream/audit/agent/stream/log.yml.hbs
  packages/kibana/data_stream/cluster_actions/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/cluster_rules/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/log/agent/stream/log.yml.hbs
  packages/kibana/data_stream/node_actions/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/node_rules/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/stats/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/status/agent/stream/stream.yml.hbs
  packages/kibana/manifest.yml
Labels: Integration:Kibana, >enhancement, Team:Infra Monitoring UI

#5431 [logstash] Add missing monitoring cpu aliases
  packages/logstash/_dev/deploy/docker/docker-compose.yml
  packages/logstash/_dev/deploy/variants.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/sample_event.json
  packages/logstash/data_stream/node/sample_event.json
  packages/logstash/data_stream/node_stats/fields/fields.yml
  packages/logstash/data_stream/node_stats/fields/package-fields.yml
  packages/logstash/data_stream/node_stats/manifest.yml
  packages/logstash/data_stream/node_stats/sample_event.json
  packages/logstash/data_stream/slowlog/sample_event.json
  packages/logstash/docs/README.md
  packages/logstash/manifest.yml
Labels: Integration:Logstash, Team:Infra Monitoring UI

#5445 [Cisco ASA] Support additional patterns for 113012, 113004, and 716039 message ids
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/manifest.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#5418 modsecurity: relax timestamp parsing and improve error handling
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-apache-audit.log
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-apache-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/default.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/nginx-modsec.yml
  packages/modsecurity/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations

#5335 [Elastic Agent] Adding new dashboards to monitor Agent Health
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/img/elastic_agent_info.png
  packages/elastic_agent/img/elastic_agent_integrations.png
  packages/elastic_agent/img/elastic_agent_metrics.png
  packages/elastic_agent/img/elastic_agent_overview.png
  packages/elastic_agent/kibana/dashboard/elastic_agent-0600ffa0-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1a4e7280-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a148dc70-6b3c-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/kibana/lens/elastic_agent-27798780-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/lens/elastic_agent-409f5d70-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/lens/elastic_agent-58677820-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/lens/elastic_agent-6e88c0a0-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/search/elastic_agent-462b68c0-b10b-11ed-957f-f1c897630287.json
  packages/elastic_agent/kibana/search/elastic_agent-522c9e20-ad53-11ed-957f-f1c897630287.json
  packages/elastic_agent/kibana/visualization/elastic_agent-47d87552-8421-4cfc-bc5d-4a7205f5b007.json
  packages/elastic_agent/kibana/visualization/elastic_agent-69219f50-febc-11eb-9a5b-19cc90b68e55.json
  packages/elastic_agent/kibana/visualization/elastic_agent-819241d0-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/visualization/elastic_agent-93a8a11d-b2da-4ef3-81dc-c7040560ffde.json
  packages/elastic_agent/kibana/visualization/elastic_agent-a11c250a-865f-4eb2-9441-882d229313be.json
  packages/elastic_agent/manifest.yml
Labels: Team:Security-External Integrations, Team:Elastic-Agent-Control-Plane

#5393 cisco_asa: allow user to retain searchable log message
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_asa/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_asa/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/cisco_asa/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_asa/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/data_stream/log/manifest.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoASA

#5440 checkpoint: test and support R81 logs
  packages/checkpoint/_dev/build/docs/README.md
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#5465 [Azure Monitor] Fix dimensions for CassandraConnectionClosures
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/database_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#5482 [1password] Stop pagination on has_more=false
  packages/1password/_dev/deploy/docker/config.yml
  packages/1password/changelog.yml
  packages/1password/data_stream/item_usages/_dev/test/system/test-default-config.yml
  packages/1password/data_stream/item_usages/agent/stream/httpjson.yml.hbs
  packages/1password/data_stream/signin_attempts/_dev/test/system/test-default-config.yml
  packages/1password/data_stream/signin_attempts/agent/stream/httpjson.yml.hbs
  packages/1password/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:1Password

#5406 cloudflare: drop empty event sets
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/cloudflare/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/cloudflare/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare/manifest.yml
Labels: bug, Integration:Cloudflare, Team:Cloud Security

#5486 tcp,udp: allow YAML custom configuration
  packages/tcp/changelog.yml
  packages/tcp/data_stream/generic/agent/stream/tcp.yml.hbs
  packages/tcp/data_stream/generic/manifest.yml
  packages/tcp/manifest.yml
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/agent/stream/udp.yml.hbs
  packages/udp/data_stream/generic/manifest.yml
  packages/udp/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#5487 okta: allow configuration of http keep-alives
  packages/okta/changelog.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/data_stream/system/manifest.yml
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#5514 [D4C] updated schema yaml format
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/manifest.yml
Labels: enhancement, v8.8.0, Team: Cloud Native Integrations

#5524 mimecast: map SpamProcessingDetail as flattened
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/fields/field.yml
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Mimecast

#5511 [Windows] Support Sysmon New EventIDs - 8, 9, 19, 20, 27, 28, 255
  packages/windows/changelog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/fields/winlog.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#5553 zscaler_zia: map web login user details to ECS
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:ZscalerZIA

#5554 fortinet_fortigate: accomodate multiple and misformatted timezones
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#5509 [beat] Update mappings for APM Server aggregation metrics
  packages/beat/changelog.yml
  packages/beat/data_stream/stats/fields/fields.yml
  packages/beat/data_stream/stats/sample_event.json
  packages/beat/docs/README.md
  packages/beat/manifest.yml
Labels: Team:Infra Monitoring UI, Integration:Beat

#5462 [Elastic stack] Clarify titles and descriptions
  packages/beat/changelog.yml
  packages/beat/manifest.yml
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/manifest.yml
  packages/enterprisesearch/changelog.yml
  packages/enterprisesearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/manifest.yml
  packages/logstash/changelog.yml
  packages/logstash/manifest.yml
Labels: Integration:Elasticsearch, Integration:Kibana, Integration:Logstash, Team:Infra Monitoring UI, Integration:Beat, Integration:Enterprisesearch

#5556 pulse_connect_secure: handle user domain for SAML events
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-vpn.log
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-vpn.log-expected.json
  packages/pulse_connect_secure/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pulse_connect_secure/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PulseConnectSecure

#5559 [Cisco Secure Email Gateway] fix grok for message in AMP pipeline
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_amp.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Team:Security-External Integrations

#5456 crowdstrike: remove redundant GeoIP look-ups
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#5500 netflow: enrich network direction and type
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json-expected.json
  packages/netflow/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/netflow/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Netflow

#5389 fortinet_fortigate: Include NAT and firewall IPs in related.ip
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#5446 [cisco_umbrella] Update to v8 format proxy logs
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/ecs.yml
  packages/cisco_umbrella/data_stream/log/fields/fields.yml
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Umbrella

#5525 system: remove duplicate windows dashboards
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-01c54730-fee6-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-035846a0-a249-11e9-a422-d144027429da.json
  packages/system/kibana/dashboard/system-8223bed0-b9e9-11e9-b6a2-c9b4015c4baf.json
  packages/system/kibana/dashboard/system-f49f3170-9ffc-11ea-87e4-49f31ec44891.json
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System

#5597 [ GCP ] Fix convert processor in Audit Pipeline
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:GCP

#5483 [1password] Enable http keep-alive
  packages/1password/changelog.yml
  packages/1password/data_stream/item_usages/agent/stream/httpjson.yml.hbs
  packages/1password/data_stream/signin_attempts/agent/stream/httpjson.yml.hbs
  packages/1password/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:1Password

#5596 [Crowdstrike] | Add support for concurrent messages in SQS mode
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Crowdstrike

#5590 [O11y][Salesforce] Lens migration for visualizations to Kibana version 8.5.0
  packages/salesforce/changelog.yml
  packages/salesforce/img/salesforce-apex.png
  packages/salesforce/img/salesforce-login.png
  packages/salesforce/img/salesforce-logout.png
  packages/salesforce/kibana/dashboard/salesforce-1659aef0-574c-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/kibana/dashboard/salesforce-59ef0af0-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/kibana/dashboard/salesforce-6c750440-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/kibana/dashboard/salesforce-790da810-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/manifest.yml
Labels: enhancement, v8.5.0, Team:Service-Integrations, Integration:Salesforce

#5492 [O11y][Apache Spark] Lens migration for visualizations to kibana version 8.1.0
  packages/apache_spark/changelog.yml
  packages/apache_spark/img/apache_spark-screenshot.png
  packages/apache_spark/kibana/dashboard/apache_spark-b22dc960-a06c-11ec-8d4f-4fe3367a4156.json
  packages/apache_spark/kibana/visualization/apache_spark-038c1de0-9ee0-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-0d0a4860-c168-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-10522390-c16c-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-10f948c0-c15b-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-1d1ea920-a071-11ec-8d4f-4fe3367a4156.json
  packages/apache_spark/kibana/visualization/apache_spark-42b321a0-c16b-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-4d0b8bb0-c166-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-70133b20-c16c-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-82bf49c0-9ee0-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-87ee0d60-9ee4-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-901fda60-c16f-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-96a00df0-c157-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-a6bac910-c156-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-afe0b3f0-9ede-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-b0cb2c40-9ee4-11ec-adb3-438cf5ea2616.json
  packages/apache_spark/kibana/visualization/apache_spark-c600fe80-c16e-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-d7fb12e0-c16b-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/kibana/visualization/apache_spark-fc61b710-c166-11ec-97dc-abb2b7efe8a8.json
  packages/apache_spark/manifest.yml
Labels: enhancement, v8.1.0, Team:Service-Integrations

#5521 [O11y][PHP-FPM] Lens migration for visualizations to kibana version 8.4.0
  packages/php_fpm/changelog.yml
  packages/php_fpm/img/php_fpm-process-dashboard.png
  packages/php_fpm/kibana/dashboard/php_fpm-30d6d490-60c6-11ed-a227-676557292b43.json
  packages/php_fpm/kibana/dashboard/php_fpm-6853a270-5a92-11ed-8d56-a14fd29a60cb.json
  packages/php_fpm/manifest.yml
Labels: enhancement, Integration:php-fpm, v8.4.0, Team:Service-Integrations

#5545 [O11y][ETCD] Lens migration for visualizations to Kibana version 8.3.0
  packages/etcd/changelog.yml
  packages/etcd/img/metrics-overview.png
  packages/etcd/kibana/dashboard/etcd-a2f2c8fd-f016-42c8-9dc1-4e5a36038e35.json
  packages/etcd/kibana/visualization/etcd-212dc4bd-bf51-4bed-88b5-74bb4441574f.json
  packages/etcd/kibana/visualization/etcd-55c39055-3c9c-491a-b45f-15a2b0f684a0.json
  packages/etcd/kibana/visualization/etcd-744a430c-e117-495b-bbca-42b9102aec8b.json
  packages/etcd/kibana/visualization/etcd-ce03dbe8-a869-40a0-b5dd-115b7821730f.json
  packages/etcd/kibana/visualization/etcd-d1292452-aff5-4d66-ae4f-276a8a497e88.json
  packages/etcd/kibana/visualization/etcd-d444c52e-f204-4719-88de-f3b930beeeb0.json
  packages/etcd/kibana/visualization/etcd-d8f81d62-ddd3-4b78-a1c2-17c9765296ff.json
  packages/etcd/kibana/visualization/etcd-ef66b2be-da4e-4030-a49a-f3f91ccaf655.json
  packages/etcd/manifest.yml
Labels: enhancement, Integration:Etcd, v8.3.0, Team:Service-Integrations

#5517 [O11y][ActiveMQ] Lens migration for visualizations to Kibana version 8.2.0
  packages/activemq/changelog.yml
  packages/activemq/img/filebeat-activemq-audit.png
  packages/activemq/img/filebeat-activemq-log.png
  packages/activemq/img/metricbeat-activemq-broker.png
  packages/activemq/img/metricbeat-activemq-queues.png
  packages/activemq/img/metricbeat-activemq-topics.png
  packages/activemq/kibana/dashboard/activemq-8a0cbc90-f916-11ec-9736-016ee09668f5.json
  packages/activemq/kibana/dashboard/activemq-bbc52920-f916-11ec-9736-016ee09668f5.json
  packages/activemq/kibana/dashboard/activemq-d3639bc0-f916-11ec-9736-016ee09668f5.json
  packages/activemq/kibana/dashboard/activemq-eac72840-f916-11ec-9736-016ee09668f5.json
  packages/activemq/kibana/dashboard/activemq-f98d0c50-f916-11ec-9736-016ee09668f5.json
  packages/activemq/manifest.yml
Labels: enhancement, v8.2.0, Team:Service-Integrations

#5599 cloudflare_logpush: use EdgeStartTimestamp event timestamp
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cloudflare Logpush

#5472 checkpoint: add dashboard
  packages/checkpoint/changelog.yml
  packages/checkpoint/img/addresses_and_ports.png
  packages/checkpoint/img/overview.png
  packages/checkpoint/img/time_and_place.png
  packages/checkpoint/img/time_and_traffic.png
  packages/checkpoint/kibana/dashboard/checkpoint-259c5770-bd5b-11ed-b58e-dda7b2de7340.json
  packages/checkpoint/kibana/dashboard/checkpoint-71094a90-bd49-11ed-b58e-dda7b2de7340.json
  packages/checkpoint/kibana/dashboard/checkpoint-840b87b0-bd68-11ed-bda5-b56d80cf13c4.json
  packages/checkpoint/kibana/dashboard/checkpoint-e4daa100-bcb1-11ed-b8ec-2fbdd87e0d2f.json
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, dashboard, Integration:Checkpoint

#5557 [Logstash] Add ability to set `condition` for logs and metrics.
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/agent/stream/log.yml.hbs
  packages/logstash/data_stream/node/agent/stream/stream.yml.hbs
  packages/logstash/data_stream/node_stats/agent/stream/stream.yml.hbs
  packages/logstash/data_stream/slowlog/agent/stream/log.yml.hbs
  packages/logstash/manifest.yml
Labels: Integration:Logstash, Team:Infra Monitoring UI

#5625 [Synthetics] Fix mapping for state.ends.id
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/common.yml
  packages/synthetics/data_stream/http/fields/common.yml
  packages/synthetics/data_stream/icmp/fields/common.yml
  packages/synthetics/data_stream/tcp/fields/common.yml
  packages/synthetics/manifest.yml
Labels: bug, Team:Uptime

#5530 [O11y][Spring Boot] Lens migration for visualizations to Kibana version 8.1.0
  packages/spring_boot/changelog.yml
  packages/spring_boot/img/spring_boot-overview-dashboard.png
  packages/spring_boot/kibana/dashboard/spring_boot-e8507040-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/kibana/visualization/spring_boot-59120f10-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/kibana/visualization/spring_boot-5c2d31c0-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/kibana/visualization/spring_boot-8cc86e80-c7b0-11ec-9c82-4b3dfe36a746.json
  packages/spring_boot/manifest.yml
Labels: enhancement, v8.1.0, Integration:SpringBoot, Team:Service-Integrations

#5548 [O11y][Oracle WebLogic] Lens migration for visualizations to kibana version 8.4.0
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/img/oracle_weblogic-deployed-application.png
  packages/oracle_weblogic/img/oracle_weblogic-logs-overview.png
  packages/oracle_weblogic/img/oracle_weblogic-threadpool.png
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-08549310-bef8-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-4b2b0170-b88a-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-ea8cae80-ba24-11ec-913e-9be55c877bed.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-0a14bf00-ba29-11ec-913e-9be55c877bed.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-0ddf0d70-ba29-11ec-913e-9be55c877bed.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-12f42b60-ba29-11ec-913e-9be55c877bed.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-15cc2a90-ba29-11ec-913e-9be55c877bed.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-1d8fc050-bf03-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-1df7e830-baf6-11ec-bb0c-dbfaa8a6536b.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-2673e7a0-bf03-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-40a02e00-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-4cb91a80-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-4f5dece0-ba23-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-ae12cbf0-bf02-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-b25075a0-bf02-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-b6d401f0-bf02-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-c31dabf0-c132-11ec-aaae-35e5cf8554e6.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-cd92c2f0-bf02-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/lens/oracle_weblogic-d11ea8d0-bf02-11ec-b09e-d5f6721c5e40.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-12f3e390-baf5-11ec-bb0c-dbfaa8a6536b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-26eb5e80-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-2e23bf90-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-2e30f100-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-4673b9f0-b895-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-4b31a520-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-65ee20a0-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-6d8686b0-ba22-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-6feffac0-bbd1-11ec-89c6-4d6d87ffa28e.json
  packages/oracle_weblogic/kibana/visualization/oracle_weblogic-8df2e0e0-ba1f-11ec-a201-adc4a883afa1.json
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, v8.4.0, Team:Service-Integrations, Integration:oracle_weblogic

#5574 [O11y][CouchDB] Lens migration for visualizations to Kibana version 8.4.0
  packages/couchdb/changelog.yml
  packages/couchdb/img/metricbeat-couchdb-overview.png
  packages/couchdb/kibana/dashboard/couchdb-53dd9860-f87b-11ec-ba64-15286f858e89.json
  packages/couchdb/manifest.yml
Labels: enhancement, Integration:CouchDB, v8.4.0, Team:Service-Integrations

#5630 [GCP] Support additional input param in PubSub input for all datastreams
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/audit/manifest.yml
  packages/gcp/data_stream/dns/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/dns/manifest.yml
  packages/gcp/data_stream/firewall/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/firewall/manifest.yml
  packages/gcp/data_stream/loadbalancing_logs/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/loadbalancing_logs/manifest.yml
  packages/gcp/data_stream/vpcflow/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/vpcflow/manifest.yml
  packages/gcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:GCP

#5623 netflow: allow specification of internal networks
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/agent/stream/netflow.yml.hbs
  packages/netflow/data_stream/log/manifest.yml
  packages/netflow/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Netflow

#5464 [Kubernetes] Add support for TSDB - all metrics datastreams except the state ones
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/apiserver/fields/ecs.yml
  packages/kubernetes/data_stream/container/fields/base-fields.yml
  packages/kubernetes/data_stream/container/fields/ecs.yml
  packages/kubernetes/data_stream/controllermanager/fields/ecs.yml
  packages/kubernetes/data_stream/node/fields/base-fields.yml
  packages/kubernetes/data_stream/node/fields/ecs.yml
  packages/kubernetes/data_stream/pod/fields/base-fields.yml
  packages/kubernetes/data_stream/pod/fields/ecs.yml
  packages/kubernetes/data_stream/proxy/fields/ecs.yml
  packages/kubernetes/data_stream/scheduler/fields/ecs.yml
  packages/kubernetes/data_stream/system/fields/base-fields.yml
  packages/kubernetes/data_stream/system/fields/ecs.yml
  packages/kubernetes/data_stream/volume/fields/base-fields.yml
  packages/kubernetes/data_stream/volume/fields/ecs.yml
  packages/kubernetes/manifest.yml
Labels: enhancement, Team:Cloudnative-Monitoring

#5097 [GCP] Add Cloud Run metrics datastream
  packages/gcp/changelog.yml
  packages/gcp/data_stream/cloudrun_metrics/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/cloudrun_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/cloudrun_metrics/fields/agent.yml
  packages/gcp/data_stream/cloudrun_metrics/fields/base-fields.yml
  packages/gcp/data_stream/cloudrun_metrics/fields/ecs.yml
  packages/gcp/data_stream/cloudrun_metrics/fields/fields.yml
  packages/gcp/data_stream/cloudrun_metrics/fields/package-fields.yml
  packages/gcp/data_stream/cloudrun_metrics/manifest.yml
  packages/gcp/data_stream/cloudrun_metrics/sample_event.json
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#5639 [beat] fix cgroup memory aliases
  packages/beat/changelog.yml
  packages/beat/data_stream/stats/fields/package-fields.yml
  packages/beat/docs/README.md
  packages/beat/manifest.yml
Labels: bug, Team:Infra Monitoring UI, Integration:Beat, Feature:Stack Monitoring

#5655 [Crowdstrike] FDR - Fixes parsing errors in aip and ContextTimeStamp fields
  packages/crowdstrike/_dev/deploy/docker/sample_logs/fdr-sample.log
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#5038 [GCP] Migrate compute metrics dashboard to lens
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-f40ee870-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:GCP, Team:Cloud-Monitoring

#5631 [O11y][WebSphere Application Server] Migrate `JDBC` dashboard visualizations to lens in Kibana 8.3.0
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/img/websphere_application_server-jdbc-dashboard-screenshot.png
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-5d9b0860-b582-11ec-89b4-c91c947c1fb3.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-37972440-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-3b877140-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-3fe9e100-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-443e1ff0-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/visualization/websphere_application_server-f843c870-b965-11ec-b94d-2bc0627c8bbf.json
  packages/websphere_application_server/manifest.yml
Labels: enhancement, v8.3.0, Team:Service-Integrations, Integration:WebsphereApplicationServer

#5576 [Apache] Fix a bug that may blank three visualizations
  packages/apache/changelog.yml
  packages/apache/kibana/visualization/apache-22057f20-3a12-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-47820ce0-3a1d-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-99666080-3a20-11eb-8946-296aab7b13db.json
  packages/apache/manifest.yml
Labels: bug, Integration:Apache

#5632 [O11y][WebSphere Application Server] Migrate `threadpool` dashboard visualizations to lens in Kibana 8.3.0
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/img/websphere_application_server-threadpool-dashboard-screenshot.png
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-381af9f0-bae2-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-426d3360-bae6-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-43d23d70-baed-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-86426870-baec-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-888801c0-bae3-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-b8c2dff0-baec-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-d2cf3ac0-baeb-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/visualization/websphere_application_server-8d0106c0-bae3-11ec-b244-51e5cddeab04.json
Labels: enhancement, v8.3.0, Team:Service-Integrations, Integration:WebsphereApplicationServer

#5633 [O11y][WebSphere Application Server] Migrate `Session Manager` and `Servlet` dashboard visualizations to lens in Kibana 8.3.0
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/img/websphere_application_server-session_manager-dashboard-screenshot.png
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-b8da46b0-b595-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/dashboard/websphere_application_server-db548380-c06d-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-0828ba40-c07b-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-39c70fd0-b59e-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-8ce6ed80-b59d-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-e6d7d480-b59d-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-eab8b780-c07a-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-ee7e7210-c07a-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-f28f6670-c07a-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/visualization/websphere_application_server-364d9fd0-c07b-11ec-8552-f3dc1a6b95f9.json
Labels: enhancement, v8.3.0, Team:Service-Integrations, Integration:WebsphereApplicationServer

#5618 [Elastic Agent] Update dashboard filters and adding agent.* fields
  .github/CODEOWNERS
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/auditbeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/cloud_defend_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/endpoint_security_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/endpoint_sercurity_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/fleet_server_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/fleet_server_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/heartbeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/metricbeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/osquerybeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/packetbeat_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/fields/ecs.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-0600ffa0-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1a4e7280-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a148dc70-6b3c-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/kibana/search/elastic_agent-462b68c0-b10b-11ed-957f-f1c897630287.json
  packages/elastic_agent/kibana/search/elastic_agent-522c9e20-ad53-11ed-957f-f1c897630287.json
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent

#5604 [Azure Logs] Clarify the Storage Account container role in the integration
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/activitylogs.md
  packages/azure/_dev/build/docs/adlogs.md
  packages/azure/_dev/build/docs/application_gateway.md
  packages/azure/_dev/build/docs/eventhub.md
  packages/azure/_dev/build/docs/firewall_logs.md
  packages/azure/_dev/build/docs/platformlogs.md
  packages/azure/_dev/build/docs/springcloudlogs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/eventhub/manifest.yml
  packages/azure/docs/README.md
  packages/azure/docs/activitylogs.md
  packages/azure/docs/adlogs.md
  packages/azure/docs/application_gateway.md
  packages/azure/docs/eventhub.md
  packages/azure/docs/firewall_logs.md
  packages/azure/docs/platformlogs.md
  packages/azure/docs/springcloudlogs.md
  packages/azure/manifest.yml
Labels: Team:Cloud-Monitoring, docs

#5627 checkpoint: improve front page documentation
  packages/checkpoint/_dev/build/docs/README.md
  packages/checkpoint/changelog.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#5515 [cisco_umbrella] Split Identity types
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-cloudfirewalllogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-iplogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/ecs.yml
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Umbrella

#5523 [fortinet_fortigate] Add ECS fields
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/data_stream/log/sample_event.json
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#5686 netflow: add missing read buffer size configuration
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/manifest.yml
  packages/netflow/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Netflow

#5689 winlog: improve documentation for obtaining channel names
  packages/winlog/_dev/build/docs/README.md
  packages/winlog/changelog.yml
  packages/winlog/docs/README.md
  packages/winlog/manifest.yml
Labels: enhancement, Team:Security-External Integrations, docs

#5669 crowdstrike: prevent ingestion of duplicate event IDs
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#5605 [O11y][Hadoop] Migrate `node_manager` and `data_node` dashboards visualizations to lens in kibana 8.3.0
  packages/hadoop/changelog.yml
  packages/hadoop/img/hadoop-data-node-dashboard-screenshot.png
  packages/hadoop/img/hadoop-node-manager-dashboard-screenshot.png
  packages/hadoop/kibana/dashboard/hadoop-70125ec0-cf78-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/dashboard/hadoop-c06fb680-cf76-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-09305b10-cf75-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-2132d820-cd2f-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/lens/hadoop-73f3b470-cf74-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-a6a8b400-cf75-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-ace7b680-cf76-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/lens/hadoop-c4e16fe0-cf73-11ec-bc3e-6faca2b11df2.json
  packages/hadoop/kibana/visualization/hadoop-299a5cc0-cd2c-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-6eb94220-cd2d-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-8118d860-d046-11ec-8bb0-b74fc1548839.json
  packages/hadoop/kibana/visualization/hadoop-84320080-cd2b-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-b1a70190-cd2c-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-fcba5dd0-cd2c-11ec-be30-1d9331f0b107.json
  packages/hadoop/manifest.yml
Labels: enhancement, Integration:Hadoop, v8.3.0, Team:Service-Integrations

#5573 [O11y][Nagios XI] Lens migration for visualizations to Kibana version 8.3.0
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/img/nagios_xi-service-dashboard-screenshot.png
  packages/nagios_xi/kibana/dashboard/nagios_xi-3a61d470-a0fe-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9c265030-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9f8b2710-af64-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-d56317e0-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-160cc860-afe9-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-28e038b0-a133-11ec-9990-f1d1ce00d46d.json
  packages/nagios_xi/kibana/lens/nagios_xi-5993dab0-af71-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-5ae30940-af6c-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-6b0328b0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-6cfcf2f0-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-76083ee0-b0af-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/lens/nagios_xi-7afb9950-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-7ed96fc0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-8f926310-b03a-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-94eaa480-b03a-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-9e3ac090-a132-11ec-9990-f1d1ce00d46d.json
  packages/nagios_xi/kibana/lens/nagios_xi-a2bf8000-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-a9316ed0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-ae575830-b01e-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-b6e1a520-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-b84bbc20-b0d0-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/lens/nagios_xi-d87c9200-b01f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-e3f8f220-b0a8-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/search/nagios_xi-d26d3d60-a0fc-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/visualization/nagios_xi-3ca51f30-b01c-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/visualization/nagios_xi-8232e9a0-b036-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/manifest.yml
Labels: enhancement, v8.3.0, Team:Service-Integrations, Integration:NagiosXI

#5510 [O11y][InfluxDB] Lens migration for visualizations to Kibana version 8.3.0
  packages/influxdb/changelog.yml
  packages/influxdb/img/Influxdb-advstatus.png
  packages/influxdb/img/Influxdb-status.png
  packages/influxdb/kibana/dashboard/influxdb-6382b060-1eb0-11ed-8cd7-b31b0e0c177f.json
  packages/influxdb/kibana/dashboard/influxdb-ccddb0c0-276e-11ed-8cd7-b31b0e0c177f.json
  packages/influxdb/manifest.yml
Labels: enhancement, v8.3.0, Team:Service-Integrations

#5678 [O11y][Redis Enterprise] Migrate visualizations to lens in Kibana 8.3.0
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/img/redisenterprise-dashboard.png
  packages/redisenterprise/kibana/dashboard/redisenterprise-8da53a40-5a2f-11ea-bc69-cdcc68092a57.json
  packages/redisenterprise/manifest.yml
Labels: enhancement, Integration:Redis-Enterprise, v8.3.0, Team:Service-Integrations

#5607 [O11y][Hadoop] Migrate `application` dashboard visualizations to lens in kibana 8.3.0
  packages/hadoop/changelog.yml
  packages/hadoop/img/hadoop-application-dashboard-screenshot.png
  packages/hadoop/kibana/dashboard/hadoop-3e16f2c0-cd28-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-44f6b400-cd27-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-4b3e34c0-9d82-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-510778c0-9d88-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-758b5600-9d90-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-9a9a5e40-9d82-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-d7611cc0-9d90-11ec-a51d-5da436601bd6.json
  packages/hadoop/kibana/visualization/hadoop-eb10b810-9d87-11ec-a51d-5da436601bd6.json
  packages/hadoop/manifest.yml
Labels: enhancement, Integration:Hadoop, v8.3.0, Team:Service-Integrations

#5606 [O11y][Hadoop] Migrate `Cluster` dashboard visualizations to lens in kibana 8.3.0
  packages/hadoop/changelog.yml
  packages/hadoop/img/hadoop-cluster-overview-dashboard-screenshot.png
  packages/hadoop/kibana/dashboard/hadoop-cb235590-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-1efc7120-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-66d65940-af54-11ec-b0a0-a5891c5a9022.json
  packages/hadoop/kibana/visualization/hadoop-7ae15ff0-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-8dfd1590-af54-11ec-b0a0-a5891c5a9022.json
  packages/hadoop/kibana/visualization/hadoop-b4e55d50-cd24-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-cf340dc0-cd22-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-d4cdcf90-cd23-11ec-be30-1d9331f0b107.json
  packages/hadoop/kibana/visualization/hadoop-f5a84790-af55-11ec-b0a0-a5891c5a9022.json
  packages/hadoop/manifest.yml
Labels: enhancement, Integration:Hadoop, v8.3.0, Team:Service-Integrations

#5522 [cisco_ftd] Add network and dns ECS fields
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/data_stream/log/manifest.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoFTD

#5653 system: clean up windows dashboards
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-0d3f2380-fa78-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/dashboard/system-277876d0-fa2c-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/dashboard/system-5517a150-f9ce-11e6-8115-a7c18106d86a.json
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Logs-syslog-dashboard.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/kibana/dashboard/system-Windows-Dashboard.json
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-06b6b060-7a80-11ea-bc9a-0baf2ca323a3.json
  packages/system/kibana/search/system-324686c0-fefb-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-62439dc0-f9c9-11e6-a747-6121780e0414.json
  packages/system/kibana/search/system-6f4071a0-7a78-11ea-bc9a-0baf2ca323a3.json
  packages/system/kibana/search/system-757510b0-a87f-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-7e178c80-fee1-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-8030c1b0-fa77-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/search/system-9066d5b0-fef2-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-Syslog-system-logs.json
  packages/system/kibana/search/system-b6f321e0-fa25-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/search/system-ce71c9a0-a25e-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-eb0039f0-fa7f-11e6-a1df-a78bd7504d38.json
  packages/system/kibana/tag/system-fleet-managed-default.json
  packages/system/kibana/tag/system-fleet-pkg-system-default.json
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System

#5498 tines: make inputs object arrays flattened
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-audit-logs.json
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-audit-logs.json-expected.json
  packages/tines/data_stream/audit_logs/fields/fields.yml
  packages/tines/docs/README.md
  packages/tines/manifest.yml
Labels: bug, Team:Security-External Integrations

#5493 Barracuda WAF: Add new integration
  packages/barracuda/_dev/build/docs/README.md
  packages/barracuda/_dev/deploy/docker/docker-compose.yml
  packages/barracuda/_dev/deploy/docker/sample_logs/barracuda-spamfirewall-generated.log
  packages/barracuda/_dev/deploy/docker/sample_logs/barracuda-waf-generated.log
  packages/barracuda/_dev/deploy/docker/sample_logs/barracuda.log
  packages/barracuda/changelog.yml
  packages/barracuda/data_stream/spamfirewall/_dev/test/pipeline/test-generated.log
  packages/barracuda/data_stream/spamfirewall/_dev/test/pipeline/test-generated.log-expected.json
  packages/barracuda/data_stream/spamfirewall/_dev/test/system/test-logfile-config.yml
  packages/barracuda/data_stream/spamfirewall/_dev/test/system/test-tcp-config.yml
  packages/barracuda/data_stream/spamfirewall/_dev/test/system/test-udp-config.yml
  packages/barracuda/data_stream/spamfirewall/agent/stream/stream.yml.hbs
  packages/barracuda/data_stream/spamfirewall/agent/stream/tcp.yml.hbs
  packages/barracuda/data_stream/spamfirewall/agent/stream/udp.yml.hbs
  packages/barracuda/data_stream/spamfirewall/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda/data_stream/spamfirewall/fields/base-fields.yml
  packages/barracuda/data_stream/spamfirewall/fields/ecs.yml
  packages/barracuda/data_stream/spamfirewall/fields/fields.yml
  packages/barracuda/data_stream/spamfirewall/manifest.yml
  packages/barracuda/data_stream/spamfirewall/sample_event.json
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-access.log
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-access.log-config.yml
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-access.log-expected.json
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-generated.log
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-generated.log-expected.json
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-network-firewall.log
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-network-firewall.log-config.yml
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-network-firewall.log-expected.json
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-web-firewall.log
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-web-firewall.log-config.yml
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-web-firewall.log-expected.json
  packages/barracuda/data_stream/waf/_dev/test/system/test-logfile-config.yml
  packages/barracuda/data_stream/waf/_dev/test/system/test-tcp-config.yml
  packages/barracuda/data_stream/waf/_dev/test/system/test-tls-config.yml
  packages/barracuda/data_stream/waf/_dev/test/system/test-udp-config.yml
  packages/barracuda/data_stream/waf/agent/stream/stream.yml.hbs
  packages/barracuda/data_stream/waf/agent/stream/tcp.yml.hbs
  packages/barracuda/data_stream/waf/agent/stream/udp.yml.hbs
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/access.yml
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/networkfirewall.yml
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/webfirewall.yml
  packages/barracuda/data_stream/waf/fields/agent.yml
  packages/barracuda/data_stream/waf/fields/base-fields.yml
  packages/barracuda/data_stream/waf/fields/ecs.yml
  packages/barracuda/data_stream/waf/fields/fields.yml
  packages/barracuda/data_stream/waf/manifest.yml
  packages/barracuda/data_stream/waf/sample_event.json
  packages/barracuda/docs/README.md
  packages/barracuda/img/access_log.png
  packages/barracuda/img/barracuda-waf-overview.png
  packages/barracuda/img/networkfirewall_log.png
  packages/barracuda/img/webfirewall_log.png
  packages/barracuda/kibana/dashboard/barracuda-15b04f30-ca1a-11ed-b9ee-a95854a88a6d.json
  packages/barracuda/kibana/dashboard/barracuda-8fb98ab0-ca1c-11ed-b9ee-a95854a88a6d.json
  packages/barracuda/kibana/dashboard/barracuda-aab68e70-ca18-11ed-b9ee-a95854a88a6d.json
  packages/barracuda/kibana/dashboard/barracuda-b09843d0-ca1b-11ed-b9ee-a95854a88a6d.json
  packages/barracuda/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Barracuda, RSA2ELK, 8.8 candidate

#5688 [O11y][CockroachDB] Migrate visualizations to lens in Kibana 8.4.0
  packages/cockroachdb/changelog.yml
  packages/cockroachdb/data_stream/status/fields/agent.yml
  packages/cockroachdb/data_stream/status/fields/fields.yml
  packages/cockroachdb/img/cockroachdb-overview.png
  packages/cockroachdb/kibana/dashboard/cockroachdb-e3ba0c30-9766-11e9-9eea-6f554992ec1f.json
  packages/cockroachdb/manifest.yml
Labels: enhancement, Integration:CockroachDB, v8.4.0, Team:Service-Integrations

#5691 [O11y][ZooKeeper] Lens migration for visualizations to Kibana version 8.2.0
  packages/zookeeper/changelog.yml
  packages/zookeeper/img/metricbeat-zookeeper.png
  packages/zookeeper/kibana/dashboard/zookeeper-467207a0-231e-11e9-bb66-8baac426dfd4.json
  packages/zookeeper/kibana/visualization/zookeeper-1c2f8930-231a-11e9-bb66-8baac426dfd4.json
  packages/zookeeper/kibana/visualization/zookeeper-8d3b7770-2319-11e9-bb66-8baac426dfd4.json
  packages/zookeeper/kibana/visualization/zookeeper-c0be43c0-2319-11e9-bb66-8baac426dfd4.json
  packages/zookeeper/kibana/visualization/zookeeper-d2f52b50-231c-11e9-bb66-8baac426dfd4.json
  packages/zookeeper/kibana/visualization/zookeeper-ddb13c60-231b-11e9-bb66-8baac426dfd4.json
  packages/zookeeper/manifest.yml
Labels: enhancement, Integration:ZooKeeper, v8.2.0, Team:Service-Integrations

#5741 [integrations][tennable_io] - Updates package to corelate with latest httpjson change
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_io/manifest.yml
Labels: Team:Security-External Integrations, 8.7 Candidate

#5759 [elasticsearch] add read exceptions mappings
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/fields/fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: bug, Integration:Elasticsearch, Team:Infra Monitoring UI, Feature:Stack Monitoring

#5733 [O11y][Microsoft SQL Server] Lens migration for visualizations to Kibana version 8.4.0
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/performance/fields/ecs.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/fields/fields.yml
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-361588b0-389b-11ec-9973-85eff9a74fdb.json
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-62b48570-fdf7-11ec-882e-ddefea6aeea3.json
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-a2ead240-18bb-11e9-9836-f37dedd3b411.json
  packages/microsoft_sqlserver/kibana/search/microsoft_sqlserver-a8a63940-fdfa-11ec-882e-ddefea6aeea3.json
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver, v8.4.0, Team:Service-Integrations

#5734 [O11y][Microsoft SQL Server] Lens migration for `Transaction log` dashboard visualizations to Kibana version 8.4.0
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/img/sqlserver-transaction-dashboard.png
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-18d66970-1fb4-11e9-8a4d-eb34d2834f6b.json
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver, v8.4.0, Team:Service-Integrations

#5677 [integrations] - Making multiple integrations GA
  packages/barracuda_cloudgen_firewall/changelog.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/manifest.yml
  packages/barracuda_cloudgen_firewall/manifest.yml
  packages/box_events/changelog.yml
  packages/box_events/manifest.yml
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/manifest.yml
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/manifest.yml
  packages/cyberark_pta/changelog.yml
  packages/cyberark_pta/manifest.yml
  packages/darktrace/changelog.yml
  packages/darktrace/manifest.yml
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/manifest.yml
  packages/github/changelog.yml
  packages/github/data_stream/audit/manifest.yml
  packages/github/data_stream/code_scanning/manifest.yml
  packages/github/data_stream/dependabot/manifest.yml
  packages/github/data_stream/secret_scanning/manifest.yml
  packages/github/manifest.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/manifest.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/manifest.yml
  packages/lastpass/changelog.yml
  packages/lastpass/manifest.yml
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/manifest.yml
  packages/ping_one/changelog.yml
  packages/ping_one/manifest.yml
  packages/slack/changelog.yml
  packages/slack/manifest.yml
  packages/sophos_central/changelog.yml
  packages/sophos_central/manifest.yml
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/manifest.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/manifest.yml
Labels: Team:Security-External Integrations, 8.7 Candidate

#5508 Update: Add forcer_merge to the node stats metric
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:Elasticsearch, Team:Infra Monitoring UI
