Repository elastic/integrations, pull requests merged in 2023-05, with the labels that each got.

#5990 [salesforce] Implement `logout_stream` data stream for Salesforce
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/logout_stream/_dev/test/pipeline/test-common-config.yml
  packages/salesforce/data_stream/logout_stream/_dev/test/pipeline/test-logout-stream.log
  packages/salesforce/data_stream/logout_stream/_dev/test/pipeline/test-logout-stream.log-expected.json
  packages/salesforce/data_stream/logout_stream/_dev/test/system/test-default-config.yml
  packages/salesforce/data_stream/logout_stream/agent/stream/cometd.yml.hbs
  packages/salesforce/data_stream/logout_stream/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/logout_stream/fields/base-fields.yml
  packages/salesforce/data_stream/logout_stream/fields/ecs.yml
  packages/salesforce/data_stream/logout_stream/fields/fields.yml
  packages/salesforce/data_stream/logout_stream/manifest.yml
  packages/salesforce/data_stream/logout_stream/sample_event.json
  packages/salesforce/docs/README.md
  packages/salesforce/manifest.yml
Labels: enhancement, v8.7.0, Team:Service-Integrations, Integration:Salesforce

#6034 [Vulnerability Management] Update CloudFormation template ElasticAgentVersion
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#6015 [Github] Dependabot remove fixReason from request
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/changelog.yml
  packages/github/data_stream/dependabot/_dev/test/pipeline/test-ghas-dependabot-json.log
  packages/github/data_stream/dependabot/_dev/test/pipeline/test-ghas-dependabot-json.log-expected.json
  packages/github/data_stream/dependabot/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/dependabot/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/dependabot/fields/fields.yml
  packages/github/data_stream/dependabot/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Github

#6046 mimecast: check ttp URL source IP values for type conformity
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log-expected.json
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/fields/field.yml
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Mimecast

#6010 okta: retain targeting information
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#6068 okta: remove redundant rename processors
  packages/okta/changelog.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta

#5895 [AWS][ECS] Add dimension fields for TSDB support
  packages/aws/changelog.yml
  packages/aws/data_stream/ecs_metrics/fields/ecs.yml
  packages/aws/data_stream/ecs_metrics/fields/fields.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#5891 [AWS][Kinesis] Add dimension fields for TSDB support
  packages/aws/changelog.yml
  packages/aws/data_stream/kinesis/fields/ecs.yml
  packages/aws/data_stream/kinesis/fields/fields.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#5968 [AWS][ECS] Add ECS metric types for TSDB support
  packages/aws/changelog.yml
  packages/aws/data_stream/ecs_metrics/fields/fields.yml
  packages/aws/docs/ecs.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#5911 [Elastic Agent] Adding Input Metrics dashboards
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-0600ffa0-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1a4e7280-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1badd650-d136-11ed-b85f-4be0157fc90c.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-77cdb1c0-cd45-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-7d110ba0-cd45-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-87ad4330-cd45-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a148dc70-6b3c-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a7b5e7a0-cd44-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a8192f90-cd3f-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/kibana/search/elastic_agent-462b68c0-b10b-11ed-957f-f1c897630287.json
  packages/elastic_agent/kibana/search/elastic_agent-522c9e20-ad53-11ed-957f-f1c897630287.json
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Team:Elastic-Agent

#6028 Add missing event fields
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/deprecation/_dev/test/pipeline/test-deprecation-logs.log-expected.json
  packages/elasticsearch/data_stream/deprecation/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/deprecation/fields/ecs.yml
  packages/elasticsearch/data_stream/deprecation/sample_event.json
  packages/elasticsearch/data_stream/gc/_dev/test/pipeline/test-gc-logs.log-expected.json
  packages/elasticsearch/data_stream/gc/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/gc/fields/ecs.yml
  packages/elasticsearch/data_stream/gc/sample_event.json
  packages/elasticsearch/data_stream/server/_dev/test/pipeline/test-server-logs.log-expected.json
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/server/fields/ecs.yml
  packages/elasticsearch/data_stream/server/sample_event.json
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-indexing-slowlog-logs.log-expected.json
  packages/elasticsearch/data_stream/slowlog/_dev/test/pipeline/test-search-slowlog-logs.log-expected.json
  packages/elasticsearch/data_stream/slowlog/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/slowlog/fields/ecs.yml
  packages/elasticsearch/data_stream/slowlog/sample_event.json
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/data_stream/log/fields/ecs.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/fields/ecs.yml
  packages/logstash/data_stream/slowlog/fields/ecs.yml
  packages/logstash/manifest.yml
Labels: bug, Integration:Elasticsearch, Integration:Kibana, Integration:Logstash, Team:Infra Monitoring UI

#6098 system: remove managed tag
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-0d3f2380-fa78-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/dashboard/system-277876d0-fa2c-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/dashboard/system-5517a150-f9ce-11e6-8115-a7c18106d86a.json
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Logs-syslog-dashboard.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/kibana/dashboard/system-Windows-Dashboard.json
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-06b6b060-7a80-11ea-bc9a-0baf2ca323a3.json
  packages/system/kibana/search/system-324686c0-fefb-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-62439dc0-f9c9-11e6-a747-6121780e0414.json
  packages/system/kibana/search/system-6f4071a0-7a78-11ea-bc9a-0baf2ca323a3.json
  packages/system/kibana/search/system-757510b0-a87f-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-7e178c80-fee1-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-8030c1b0-fa77-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/search/system-9066d5b0-fef2-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-Syslog-system-logs.json
  packages/system/kibana/search/system-b6f321e0-fa25-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/search/system-ce71c9a0-a25e-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-eb0039f0-fa7f-11e6-a1df-a78bd7504d38.json
  packages/system/kibana/tag/system-fleet-managed-default.json
  packages/system/kibana/tag/system-fleet-pkg-system-default.json
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System

#5736 zeronetworks v0.1.0
  .github/CODEOWNERS
  packages/zeronetworks/LICENSE.txt
  packages/zeronetworks/_dev/build/build.yml
  packages/zeronetworks/_dev/build/docs/README.md
  packages/zeronetworks/_dev/deploy/docker/docker-compose.yml
  packages/zeronetworks/_dev/deploy/docker/files/config.yml
  packages/zeronetworks/changelog.yml
  packages/zeronetworks/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/zeronetworks/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/zeronetworks/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/zeronetworks/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/zeronetworks/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/zeronetworks/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zeronetworks/data_stream/audit/fields/agent.yml
  packages/zeronetworks/data_stream/audit/fields/base-fields.yml
  packages/zeronetworks/data_stream/audit/fields/beats.yml
  packages/zeronetworks/data_stream/audit/fields/ecs.yml
  packages/zeronetworks/data_stream/audit/fields/fields.yml
  packages/zeronetworks/data_stream/audit/manifest.yml
  packages/zeronetworks/data_stream/audit/sample_event.json
  packages/zeronetworks/docs/README.md
  packages/zeronetworks/img/logo.svg
  packages/zeronetworks/img/screenshot.png
  packages/zeronetworks/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#6108 [Kubernetes][Container] Add container name as dimension
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container/fields/base-fields.yml
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#6107 [Akamai] Added the 'to' query params to the time based request
  packages/akamai/_dev/deploy/docker/files/config.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/agent/stream/httpjson.yml.hbs
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Akamai

#6091 [Tomcat] Deprecate Tomcat package
  packages/tomcat/_dev/build/docs/README.md
  packages/tomcat/changelog.yml
  packages/tomcat/docs/README.md
  packages/tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, Team:Service-Integrations

#6041 [O11y][Salesforce] Add custom field for _id and update dashboard
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/login_rest/_dev/test/pipeline/test-login-rest.log-expected.json
  packages/salesforce/data_stream/login_rest/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/login_rest/fields/fields.yml
  packages/salesforce/data_stream/login_rest/sample_event.json
  packages/salesforce/docs/README.md
  packages/salesforce/kibana/dashboard/salesforce-1659aef0-574c-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/kibana/dashboard/salesforce-790da810-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/manifest.yml
Labels: Integration:Salesforce

#5424 [Apache Tomcat] Add integration package with cache data stream
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/cache/_dev/test/pipeline/test-cache-metrics.json
  packages/apache_tomcat/data_stream/cache/_dev/test/pipeline/test-cache-metrics.json-expected.json
  packages/apache_tomcat/data_stream/cache/_dev/test/pipeline/test-common-config.yml
  packages/apache_tomcat/data_stream/cache/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/cache/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/cache/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/cache/fields/base-fields.yml
  packages/apache_tomcat/data_stream/cache/fields/ecs.yml
  packages/apache_tomcat/data_stream/cache/fields/fields.yml
  packages/apache_tomcat/data_stream/cache/manifest.yml
  packages/apache_tomcat/data_stream/cache/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/img/apache_tomcat-cache-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-9f21d4e0-b837-11ed-8008-cf66df3fb6bf.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, v8.7.0, Team:Service-Integrations

#5983 [Apache Tomcat] Add integration package with localhost data stream
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/localhost/_dev/test/pipeline/test-common-config.yml
  packages/apache_tomcat/data_stream/localhost/_dev/test/pipeline/test-localhost.log
  packages/apache_tomcat/data_stream/localhost/_dev/test/pipeline/test-localhost.log-expected.json
  packages/apache_tomcat/data_stream/localhost/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/localhost/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/localhost/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/localhost/fields/base-fields.yml
  packages/apache_tomcat/data_stream/localhost/fields/beats.yml
  packages/apache_tomcat/data_stream/localhost/fields/ecs.yml
  packages/apache_tomcat/data_stream/localhost/fields/fields.yml
  packages/apache_tomcat/data_stream/localhost/manifest.yml
  packages/apache_tomcat/data_stream/localhost/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-16ab7410-ddce-11ed-8080-ddad81fe2c3c.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, v8.7.0, Team:Service-Integrations

#6109 Update paths for archived artifacts
  .ci/Jenkinsfile
Labels: ci

#5883 [Apache Tomcat] Add integration package with access data stream
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/apache_tomcat/data_stream/access/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/access/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/access/fields/base-fields.yml
  packages/apache_tomcat/data_stream/access/fields/beats.yml
  packages/apache_tomcat/data_stream/access/fields/ecs.yml
  packages/apache_tomcat/data_stream/access/fields/fields.yml
  packages/apache_tomcat/data_stream/access/manifest.yml
  packages/apache_tomcat/data_stream/access/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/img/apache_tomcat-access-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-44a8e0d0-b8f5-11ed-ac9b-cb6bcd97d223.json
  packages/apache_tomcat/kibana/search/apache_tomcat-d0957a70-eda4-11ed-909a-2baec7270d1f.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, v8.7.0, Team:Service-Integrations

#6124 [Tomcat] Update README.md
  packages/tomcat/_dev/build/docs/README.md
  packages/tomcat/changelog.yml
  packages/tomcat/docs/README.md
  packages/tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, Team:Service-Integrations

#6127 [Tomcat] Remove localhost dashboard and update titles of saved searches
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-16ab7410-ddce-11ed-8080-ddad81fe2c3c.json
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-9c66eb10-dd0c-11ed-9f4f-d97c9f37d195.json
  packages/apache_tomcat/kibana/search/apache_tomcat-1f3c6e30-dd11-11ed-9f4f-d97c9f37d195.json
  packages/apache_tomcat/kibana/search/apache_tomcat-4d39c820-ddcd-11ed-8080-ddad81fe2c3c.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, Team:Service-Integrations

#6121 network_traffic: remove redundant field cleanup scripts
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/cassandra/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/dhcpv4/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/http/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/icmp/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/memcached/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/mongodb/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/mysql/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/nfs/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/pgsql/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/redis/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/sip/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/thrift/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/tls/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/manifest.yml
Labels: Team:Security-External Integrations, Integration:Network Packet Capture, bugfix

#6142 cisco_ftd: support additional patterns for 113012, 113004, and 716039 message ids
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoFTD

#6128 [Fleet] Fix metric types for GCP + elastic package registry integrations
  packages/elastic_package_registry/changelog.yml
  packages/elastic_package_registry/data_stream/metrics/fields/fields.yml
  packages/elastic_package_registry/docs/README.md
  packages/elastic_package_registry/manifest.yml
  packages/gcp/changelog.yml
  packages/gcp/data_stream/redis/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/redis.md
  packages/gcp/manifest.yml
Labels: bug

#6163 Enable Request tracer on System and Windows integrations
  packages/system/changelog.yml
  packages/system/data_stream/application/agent/stream/httpjson.yml.hbs
  packages/system/data_stream/security/_dev/test/system/test-default-config.yml
  packages/system/data_stream/security/agent/stream/httpjson.yml.hbs
  packages/system/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/forwarded/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/powershell/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/powershell/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/powershell_operational/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/powershell_operational/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/sysmon_operational/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/sysmon_operational/agent/stream/httpjson.yml.hbs
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Team:Elastic-Agent-Data-Plane

#6164 [Cloudflare Logpush, Akamai] - Fixed bugs related to the gcs input
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/agent/stream/gcs.yml.hbs
  packages/akamai/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/audit/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/agent/stream/gcs.yml.hbs
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#6112 [D4C] cloud_defend. Removed kubernetesPodId. Update docs.
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: enhancement, v8.8.0, Team: Cloud Native Integrations

#6177 [D4C] fixes to some examples in the documentation
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: documentation, v8.8.0, Team: Cloud Native Integrations

#6179 trellix_epo_cloud: ensure API keys are not logged
  packages/trellix_epo_cloud/changelog.yml
  packages/trellix_epo_cloud/data_stream/device/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/data_stream/event/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/data_stream/group/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/manifest.yml
Labels: bug, Team:Security-External Integrations

#5992 [Kubernetes][Dashboard] Fix proxy, controller manager and scheduler dashboards to support TSDB
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-5e649d60-9901-11e9-ba57-b7ab4e2d4b58.json
  packages/kubernetes/kibana/dashboard/kubernetes-bf9389f0-0c14-11ed-b760-5d1bccb47f56.json
  packages/kubernetes/kibana/dashboard/kubernetes-f5ab5510-9c94-11e9-94fd-c91206cd5249.json
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:Kubernetes

#6053 [integrations][Cloudflare Logpush] - Added local SQS queues per data stream, that will override the global queue if provided.
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/audit/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: Team:Security-External Integrations, 8.8-candidate

#6047 [Synthetics] adjust run_from.id
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/agent/stream/browser.yml.hbs
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/http/agent/stream/http.yml.hbs
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/agent/stream/tcp.yml.hbs
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: Team:Uptime, v8.8.0

#5460 [TI_RecordedFuture] Support IoC expiration
  packages/ti_recordedfuture/_dev/build/docs/README.md
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-domain-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-hash-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-ip-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/system/test-fusion-file-download-config.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/system/test-risklist-api-config.yml
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ilm/default_policy.json
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/data_stream/threat/manifest.yml
  packages/ti_recordedfuture/data_stream/threat/sample_event.json
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/agent.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/beats.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/manifest.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Recorded Future

#6196 [Kubernetes][Dashboards] Fix proxy, controller manager and scheduler incorrect visualizations and add use of last value
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-5e649d60-9901-11e9-ba57-b7ab4e2d4b58.json
  packages/kubernetes/kibana/dashboard/kubernetes-bf9389f0-0c14-11ed-b760-5d1bccb47f56.json
  packages/kubernetes/kibana/dashboard/kubernetes-f5ab5510-9c94-11e9-94fd-c91206cd5249.json
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#5957 crowdstrike - Fix process.uptime and LocalAddressIP4 parsing
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdrv2-notmanaged.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdrv2-notmanaged.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#6161 [aws] Enable request tracer
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/guardduty/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/guardduty/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/inspector/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/inspector/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/inspector/manifest.yml
  packages/aws/data_stream/securityhub_findings/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/securityhub_findings/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_findings/manifest.yml
  packages/aws/data_stream/securityhub_insights/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/securityhub_insights/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_insights/manifest.yml
  packages/aws/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#6216 [1.3.0] [CNVM] Updated cnvm screenshots
  packages/cloud_security_posture/img/cnvm_vulnerabilities_flyout.png
  packages/cloud_security_posture/img/cnvm_vulnerabilities_table.png
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#6081 [Custom AWS Logs] Add multiline support for aws-s3 input
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: Team:Cloud-Monitoring

#6199 [Cloudflare Logpush, Akamai] - Fixed variable naming bugs related to the gcs input
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#6213 [AWS] Fix typo in field name causing erroneous timestamp detection on s3access
  packages/aws/changelog.yml
  packages/aws/data_stream/s3access/_dev/test/pipeline/test-s3-server-access.log-expected.json
  packages/aws/data_stream/s3access/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#6221 [Kubernetes][Dashboards] Fix missing sort field on proxy and scheduler dashboards
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-5e649d60-9901-11e9-ba57-b7ab4e2d4b58.json
  packages/kubernetes/kibana/dashboard/kubernetes-f5ab5510-9c94-11e9-94fd-c91206cd5249.json
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#6045 [AWS][Lambda] Add metric type to lambda fields
  packages/aws/changelog.yml
  packages/aws/data_stream/lambda/fields/fields.yml
  packages/aws/docs/lambda.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6218 [ti_misp] Add missing `event.original` cleanup step for `threat_attributes` data stream.
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: Team:Security-External Integrations, Integration:MISP, bugfix

#6102 [AWS][Natgateway] Add dimension fields for TSDB support
  packages/aws/changelog.yml
  packages/aws/data_stream/natgateway/fields/ecs.yml
  packages/aws/data_stream/natgateway/fields/fields.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#6193 slack: add audit.context.session_id
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/fields/fields.yml
  packages/slack/docs/README.md
  packages/slack/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Slack

#6154 windows: improve regular expression search efficiency to allow parsing large events
  packages/windows/changelog.yml
  packages/windows/data_stream/powershell/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Windows

#6263 panw: allow dollar sign at the end of a user name with @ separation
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#6262 [infoblox_nios] Fix dns.answers processing
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/manifest.yml
Labels: Team:Security-External Integrations, infoblox_nios, bugfix

#6105 [AWS][Natgateway] Add metric type to fields
  packages/aws/changelog.yml
  packages/aws/data_stream/natgateway/fields/fields.yml
  packages/aws/docs/natgateway.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6276 [fortinet_fortigate] Fix syslog KV split to take into account quoted values.
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: Team:Security-External Integrations, Integration:Fortinet, bugfix

#6119 cisco_umbrella: handle user identities with full email address values
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cisco Umbrella

#6220 [Microsoft SqlServer] Update description - Domain users use manual encoding to handle parse error.
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/fields/ecs.yml
  packages/microsoft_sqlserver/manifest.yml
Labels: Team:Service-Integrations

#5973 [AWS][Lambda] Add dimension fields for TSDB support
  packages/aws/changelog.yml
  packages/aws/data_stream/lambda/fields/ecs.yml
  packages/aws/data_stream/lambda/fields/fields.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#6225 [AWS] Set dimension fields in Usage, ELB and DynamoDB data streams
  packages/aws/changelog.yml
  packages/aws/data_stream/dynamodb/fields/ecs.yml
  packages/aws/data_stream/dynamodb/fields/fields.yml
  packages/aws/data_stream/elb_metrics/fields/ecs.yml
  packages/aws/data_stream/elb_metrics/fields/fields.yml
  packages/aws/data_stream/usage/fields/ecs.yml
  packages/aws/data_stream/usage/fields/fields.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#6146 [Elasticsearch] Forward active.only config to datastream config
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/index_recovery/_dev/test/system/test-default-config.yml
  packages/elasticsearch/data_stream/index_recovery/agent/stream/stream.yml.hbs
  packages/elasticsearch/manifest.yml
Labels: bug, Integration:Elasticsearch, Team:Infra Monitoring UI

#6249 Fix dashboard issue with integration nginx_ingress_controller
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/access/fields/fields.yml
  packages/nginx_ingress_controller/docs/README.md
  packages/nginx_ingress_controller/manifest.yml
Labels: bug

#6292 [Kubernetes][Dashboard] Update volume dashboard
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-3912d9a0-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#6316 [1.3.0] [Cloud Security Posture] Release version 1.3.0
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Integration:CloudSecurityPosture

#6274 Add a package for Universal Profiling Collector
  .github/CODEOWNERS
  packages/universal_profiling_collector/changelog.yml
  packages/universal_profiling_collector/docs/README.md
  packages/universal_profiling_collector/img/profiler-logo-color-48px.svg
  packages/universal_profiling_collector/manifest.yml
Labels: enhancement, v8.9.0

#6303 Memcached Integration - Updated documentation to fix punctuations
  packages/memcached/_dev/build/docs/README.md
  packages/memcached/changelog.yml
  packages/memcached/docs/README.md
  packages/memcached/manifest.yml
Labels: Team:Service-Integrations

#6289 [elasticsearch] fix `elasticsearch.server.tags` mapping
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/server/fields/fields.yml
  packages/elasticsearch/data_stream/server/sample_event.json
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#6256 [system] support ip or domain in sshd messages
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth.log
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-secure-rhel7.log-expected.json
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/auth/fields/ecs.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane

#5649 [AWS] Migrate VPN metrics dashboard to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-67c9f900-693e-11ea-b0ac-95d4ecb1fecd.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#6302 okta: add support for okta.device field group and okta.target.detailEntry fields
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#5644 [AWS] Migrate SQS metrics dashboard visualizations to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-234aeda0-43b7-11e9-8697-530f39afc6eb.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#6310 fix system test for kubernetes integration for k8s v1.27.0
  packages/kubernetes/_dev/deploy/k8s/ss.yaml
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container_logs/manifest.yml
  packages/kubernetes/data_stream/state_node/fields/fields.yml
  packages/kubernetes/kibana/dashboard/kubernetes-bf9389f0-0c14-11ed-b760-5d1bccb47f56.json
  packages/kubernetes/manifest.yml
Labels: bug

#5640 [AWS] Migrate RDS metrics dashboard visualizations to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-3367c170-921f-11e9-aa19-159bf182e06f.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#6309 [sophos_central] Fix timestamp parsing and update package-spec version to 2.7.0
  packages/sophos_central/changelog.yml
  packages/sophos_central/data_stream/alert/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sophos_central/data_stream/alert/_dev/test/pipeline/test-user-formats.log-expected.json
  packages/sophos_central/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sophos_central/data_stream/alert/sample_event.json
  packages/sophos_central/data_stream/event/sample_event.json
  packages/sophos_central/docs/README.md
  packages/sophos_central/manifest.yml
Labels: bug, Team:Security-External Integrations

#6322 [cisco_ftd] Add rule, device and host ECS fields
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-endpoint-profile.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-endpoint-profile.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoFTD

#6378 [hid_bravura_monitor] - Format ingest pipeline YAML
  packages/hid_bravura_monitor/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
Labels: Team:Security-External Integrations, Integration: HID Bravura Monitor

#6379 [fortinet_fortigate] use YAML literal for script source
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
Labels: Team:Security-External Integrations, Integration:Fortinet

#6380 [Infoblox NIOS] use YAML literal for script source
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
Labels: Team:Security-External Integrations, infoblox_nios

#6381 [Slack] minor ingest pipeline YAML changes
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
Labels: Team:Security-External Integrations, Integration:Slack

#6382 [Zero Networks] Fix pipeline script params
  packages/zeronetworks/changelog.yml
  packages/zeronetworks/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zeronetworks/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:ZeroNetworks

#5648 Correct Cisco FTD Ingest Pipeline for Message IDs 302013 and 302015 (#5647)
  packages/cisco_ftd/_dev/deploy/docker/sample_logs/cisco-ftd.log
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_ftd/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_ftd/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_ftd/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/manifest.yml
  packages/cisco_ftd/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoFTD

#6385 [Infoblox NIOS] Add timestamp from event.created
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/manifest.yml
Labels: Team:Security-External Integrations, Integration:Infoblox_nios, bugfix

#6364 Universal Profiling Collector: Add input configuration
  packages/universal_profiling_collector/agent/input/input.yml.hbs
  packages/universal_profiling_collector/changelog.yml
  packages/universal_profiling_collector/manifest.yml
Labels: enhancement, v8.9.0

#6341 [TI_RecordedFuture] Add a field to easily filter transform's source and destination indices
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/fields/ecs.yml
  packages/ti_recordedfuture/data_stream/threat/fields/fields.yml
  packages/ti_recordedfuture/data_stream/threat/sample_event.json
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Recorded Future

#6344 [TI_Anomali] Add a field to easily filter transform's source and destination indices
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/threatstream/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/threatstream/fields/ecs.yml
  packages/ti_anomali/data_stream/threatstream/fields/fields.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Anomali

#6373 [1password] - Update ECS to 8.8.0 and pkg-spec 2.7.0
  packages/1password/_dev/build/build.yml
  packages/1password/changelog.yml
  packages/1password/data_stream/audit_events/_dev/test/pipeline/test-auditevents.json-expected.json
  packages/1password/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/audit_events/sample_event.json
  packages/1password/data_stream/item_usages/_dev/test/pipeline/test-itemusages.json-expected.json
  packages/1password/data_stream/item_usages/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/item_usages/sample_event.json
  packages/1password/data_stream/signin_attempts/_dev/test/pipeline/test-signinattempts.json-expected.json
  packages/1password/data_stream/signin_attempts/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/signin_attempts/sample_event.json
  packages/1password/docs/README.md
  packages/1password/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:1Password

#4999 [Slack] Add anomalous event details
  packages/slack/_dev/deploy/docker/files/config.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/slack/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/fields/fields.yml
  packages/slack/data_stream/audit/sample_event.json
  packages/slack/docs/README.md
  packages/slack/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Slack

#6384 akamai: fix signs of from and to GET parameters
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/agent/stream/httpjson.yml.hbs
  packages/akamai/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Akamai
