Repository elastic/integrations, pull requests merged in 2023-08, with the labels that each got.

#7030 [Istio] Enable TSDB by default
  packages/istio/changelog.yml
  packages/istio/data_stream/istiod_metrics/manifest.yml
  packages/istio/data_stream/proxy_metrics/manifest.yml
  packages/istio/manifest.yml
Labels: Integration:Istio

#6514 [TI_Anomali] Fix destination fields mapping conflicts
  packages/ti_anomali/_dev/build/docs/README.md
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/pipeline/test-anomali-threatstream.json
  packages/ti_anomali/data_stream/threatstream/_dev/test/pipeline/test-anomali-threatstream.json-expected.json
  packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-integrator-http-config.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-webhook-http-config.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-webhook-https-config.yml
  packages/ti_anomali/data_stream/threatstream/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/elasticsearch/transform/latest_ioc/fields/agent.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/fields/beats.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_anomali/manifest.yml
Labels: Integration:Anomali, bugfix

#7192 windows: harmonise powershell details regexp patterns
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-events.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-events.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-operational-events.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-operational-events.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell_operational.yml
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Windows

#7199 jumpcloud: add system test and fix identified issues
  packages/jumpcloud/_dev/deploy/docker/docker-compose.yml
  packages/jumpcloud/_dev/deploy/docker/files/config.yml
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/data_stream/events/_dev/test/system/test-default-config.yml
  packages/jumpcloud/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jumpcloud/data_stream/events/fields/agent.yml
  packages/jumpcloud/data_stream/events/fields/fields.yml
  packages/jumpcloud/data_stream/events/sample_event.json
  packages/jumpcloud/docs/README.md
  packages/jumpcloud/manifest.yml
Labels: bug, Team:Security-External Integrations

#6936 Add vpcflow logs standalone S3 option
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/manifest.yml
Labels: enhancement

#7166 [mysql_enterprise] - update package-spec to 2.9.0
  packages/mysql_enterprise/changelog.yml
  packages/mysql_enterprise/data_stream/audit/_dev/test/pipeline/test-mysql-audit.log-expected.json
  packages/mysql_enterprise/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/mysql_enterprise/data_stream/audit/sample_event.json
  packages/mysql_enterprise/docs/README.md
  packages/mysql_enterprise/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6860 [Cassandra] Enable TSDB.
  packages/cassandra/changelog.yml
  packages/cassandra/data_stream/metrics/manifest.yml
  packages/cassandra/manifest.yml
Labels: Integration:Cassandra

#7033 [Elastic Agent] Set metric type
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/fleet_server_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/fleet_server_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/fields/beat-fields.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent, Integration:Elastic-Agent

#7119 [m365_defender] Add support for newer Oauth Token Endpoint and fixes in some ECS mappings.
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/fields/ecs.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: Team:Security-External Integrations, Integration: M365_Defender

#7127 [Azure] [Container_instance] Add dimensions and metric_type metadata for the container_instance data_stream
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_instance/fields/agent.yml
  packages/azure_metrics/data_stream/container_instance/fields/ecs.yml
  packages/azure_metrics/data_stream/container_instance/fields/fields.yml
  packages/azure_metrics/data_stream/container_instance/fields/package-fields.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/container_instance.md
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure

#7216 [Cisco ASA] Fix the handling of spaces in 113005 messages
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoASA, bugfix

#6697 [Trellix_EDR_Cloud] Initial release for the Trellix EDR Cloud
  .github/CODEOWNERS
  packages/trellix_edr_cloud/_dev/build/build.yml
  packages/trellix_edr_cloud/_dev/build/docs/README.md
  packages/trellix_edr_cloud/changelog.yml
  packages/trellix_edr_cloud/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/trellix_edr_cloud/data_stream/event/_dev/test/pipeline/test-event.log
  packages/trellix_edr_cloud/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/trellix_edr_cloud/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/trellix_edr_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/trellix_edr_cloud/data_stream/event/fields/base-fields.yml
  packages/trellix_edr_cloud/data_stream/event/fields/beats.yml
  packages/trellix_edr_cloud/data_stream/event/fields/fields.yml
  packages/trellix_edr_cloud/data_stream/event/manifest.yml
  packages/trellix_edr_cloud/data_stream/event/sample_event.json
  packages/trellix_edr_cloud/docs/README.md
  packages/trellix_edr_cloud/img/trellix-edr-cloud-event-dashboard.png
  packages/trellix_edr_cloud/img/trellix-edr-cloud-logo.svg
  packages/trellix_edr_cloud/img/trellix-logo.svg
  packages/trellix_edr_cloud/kibana/dashboard/trellix_edr_cloud-eb724520-0e93-11ee-9537-d3109e421092.json
  packages/trellix_edr_cloud/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#7210 tenable_sc: add tenable_sc.vulnerability.age field
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/asset/sample_event.json
  packages/tenable_sc/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/plugin/sample_event.json
  packages/tenable_sc/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/tenable_sc/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/vulnerability/fields/fields.yml
  packages/tenable_sc/data_stream/vulnerability/sample_event.json
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:TenableSC

#7232 Universal Profiling: Promote Agent integration for GA
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/manifest.yml
Labels: enhancement

#6851 [1password] Add user fields for actor_details, object_details, and aux_details.
  packages/1password/changelog.yml
  packages/1password/data_stream/audit_events/_dev/test/pipeline/test-auditevents.json
  packages/1password/data_stream/audit_events/_dev/test/pipeline/test-auditevents.json-expected.json
  packages/1password/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/audit_events/fields/ecs.yml
  packages/1password/data_stream/audit_events/fields/fields.yml
  packages/1password/data_stream/audit_events/sample_event.json
  packages/1password/data_stream/item_usages/sample_event.json
  packages/1password/data_stream/signin_attempts/sample_event.json
  packages/1password/docs/README.md
  packages/1password/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:1Password

#7176 [amazon_security_lake] Initial Release for Amazon Security Lake
  .github/CODEOWNERS
  packages/amazon_security_lake/_dev/build/build.yml
  packages/amazon_security_lake/_dev/build/docs/README.md
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-account-change.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-account-change.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-api-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-api-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-authentication.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-authentication.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-dns-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-dns-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-network-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-network-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-security-findings.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-security-findings.log-expected.json
  packages/amazon_security_lake/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_application_activity.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_findings.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_identity_and_access_management.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_network_activity.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_actor.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_attack.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_device.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_http_request.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_malware.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_network_connection_info.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_network_endpoint.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_process.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_proxy.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_tls.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_traffic.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_user.yml
  packages/amazon_security_lake/data_stream/event/fields/base-fields.yml
  packages/amazon_security_lake/data_stream/event/fields/beats.yml
  packages/amazon_security_lake/data_stream/event/fields/ecs.yml
  packages/amazon_security_lake/data_stream/event/fields/fields.yml
  packages/amazon_security_lake/data_stream/event/manifest.yml
  packages/amazon_security_lake/docs/README.md
  packages/amazon_security_lake/img/amazon-security-lake-application-activity-dashboard.png
  packages/amazon_security_lake/img/amazon-security-lake-dns-activity-dashboard.png
  packages/amazon_security_lake/img/amazon-security-lake-findings-dashboard.png
  packages/amazon_security_lake/img/amazon-security-lake-identity-and-access-management-dashboard.png
  packages/amazon_security_lake/img/amazon-security-lake-logo.svg
  packages/amazon_security_lake/img/amazon-security-lake-network-activity-dashboard.png
  packages/amazon_security_lake/img/amazon-security-lake-overview-dashboard.png
  packages/amazon_security_lake/kibana/dashboard/amazon_security_lake-0d2d7a60-2472-11ee-8d80-89e82659e0f1.json
  packages/amazon_security_lake/kibana/dashboard/amazon_security_lake-15b6e140-24a3-11ee-bb84-975fc16e8386.json
  packages/amazon_security_lake/kibana/dashboard/amazon_security_lake-1bbac7b0-2632-11ee-a94e-bfa24df19b15.json
  packages/amazon_security_lake/kibana/dashboard/amazon_security_lake-41b73270-25fe-11ee-983a-17fb20a3b25d.json
  packages/amazon_security_lake/kibana/dashboard/amazon_security_lake-ed18e3a0-2565-11ee-be5c-17edc959116c.json
  packages/amazon_security_lake/kibana/dashboard/amazon_security_lake-f21df8e0-249d-11ee-aa05-4dd9349682f3.json
  packages/amazon_security_lake/kibana/search/amazon_security_lake-16a0aa00-26dd-11ee-a94e-bfa24df19b15.json
  packages/amazon_security_lake/kibana/search/amazon_security_lake-81902d50-2538-11ee-9f72-193490b86197.json
  packages/amazon_security_lake/kibana/search/amazon_security_lake-93f1c2f0-262e-11ee-abb4-f9698f7e351e.json
  packages/amazon_security_lake/kibana/search/amazon_security_lake-ab4090f0-2618-11ee-983a-17fb20a3b25d.json
  packages/amazon_security_lake/kibana/search/amazon_security_lake-c2472e60-262e-11ee-a94e-bfa24df19b15.json
  packages/amazon_security_lake/manifest.yml
Labels: Team:Security-External Integrations

#7237 [System] Validate ClientAddress IP for Windows Security events
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-security-windows2012-4779.json
  packages/system/data_stream/security/_dev/test/pipeline/test-security-windows2012-4779.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
Labels: Team:Security-External Integrations, Integration:System, bugfix

#7229 [windows] AppLocker - Add more ECS fields, remove beta flag, add dashboard
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/_dev/test/pipeline/test-events-applocker-exe-8003.json
  packages/windows/data_stream/applocker_exe_and_dll/_dev/test/pipeline/test-events-applocker-exe-8003.json-expected.json
  packages/windows/data_stream/applocker_exe_and_dll/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/ecs.yml
  packages/windows/data_stream/applocker_exe_and_dll/manifest.yml
  packages/windows/data_stream/applocker_exe_and_dll/sample_event.json
  packages/windows/docs/README.md
  packages/windows/img/applocker-windows-audit-and-blocked.png
  packages/windows/kibana/dashboard/windows-b28aaad0-2f2d-11ee-acdc-45d0efa0889d.json
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#7254 [Cisco ASA] Fix the grok patterns for 313005, 722033 and 722034
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoASA, bugfix

#6580 statsd_input: Improve documentation
  packages/statsd_input/docs/README.md
Labels: bug, docs

#7255 [M365 Defender] Fix fingerprint processor fields for log datastream
  packages/m365_defender/_dev/deploy/docker/http-mock-config.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/_dev/test/system/test-httpjson-config.yml
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: M365_Defender

#7291 [okta] - Update package-spec to 2.9.0
  packages/okta/changelog.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#7294 [panw] - update package-spec to 2.9.0
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-config-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#7295 [panw_cortex_xdr] - update package-spec to 2.9.0
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr-bioc.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/alerts/sample_event.json
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PanwCortexXDR

#7296 [ping_one] - update package-spec to 2.9.0
  packages/ping_one/changelog.yml
  packages/ping_one/data_stream/audit/sample_event.json
  packages/ping_one/docs/README.md
  packages/ping_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7249 Migrate GCP Billing input control to new control panel
  packages/gcp/changelog.yml
  packages/gcp/img/gcp-billing.png
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:GCP, dashboard

#7214 [Elastic Agent] Enable TSDB by default
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_metrics/manifest.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/manifest.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/manifest.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/manifest.yml
  packages/elastic_agent/data_stream/filebeat_metrics/manifest.yml
  packages/elastic_agent/data_stream/fleet_server_metrics/manifest.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/manifest.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/manifest.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/manifest.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/manifest.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent, Integration:Elastic-Agent

#7183 Add metric_type mapping to stat datastream of HA Proxy
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/stat/fields/fields.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: Integration:HAProxy

#7269 [Cisco ISE] Missing ECS Field Mappings
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/fields/ecs.yml
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoISE

#7267 [Cisco FTD] Missing Geo Field Mappings
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoFTD

#7264 [Cisco ASA] Missing Geo Field Mappings
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/fields/ecs.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoASA, bugfix

#7306 [cloud_security_posture] Update CloudFormation template to tag agents
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#7298 [pulse_connect_secure] - update package-spec to 2.9.0
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-admin.log-expected.json
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-syslog.log-expected.json
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-system.log-expected.json
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-vpn.log-expected.json
  packages/pulse_connect_secure/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pulse_connect_secure/data_stream/log/sample_event.json
  packages/pulse_connect_secure/docs/README.md
  packages/pulse_connect_secure/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PulseConnectSecure

#7299 [slack] - update package-spec to 2.9.0
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/sample_event.json
  packages/slack/docs/README.md
  packages/slack/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Slack

#7308 [GCP] Fix check on gcp.audit.authorization_info[].granted
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: bug, Integration:GCP

#7309 [suricata] - update package-spec to 2.9.0
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-expected.json
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/tls.yml
  packages/suricata/data_stream/eve/sample_event.json
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Suricata

#7313 [tenable_sc] - update package-spec to 2.9.0
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/sample_event.json
  packages/tenable_sc/data_stream/plugin/sample_event.json
  packages/tenable_sc/data_stream/vulnerability/sample_event.json
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:TenableSC

#7316 [ti_cif3] - update package-spec to 2.9.0
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-no-preserve-ndjson.log-expected.json
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-sample-ndjson.log-expected.json
  packages/ti_cif3/data_stream/feed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cif3/data_stream/feed/fields/ecs.yml
  packages/ti_cif3/data_stream/feed/sample_event.json
  packages/ti_cif3/docs/README.md
  packages/ti_cif3/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7315 [ti_abusech] - update package-spec to 2.9.0
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/_dev/test/pipeline/test-malware-ndjson.log-expected.json
  packages/ti_abusech/data_stream/malware/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/malware/sample_event.json
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/pipeline/test-malwarebazaar-ndjson.log-expected.json
  packages/ti_abusech/data_stream/malwarebazaar/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/malwarebazaar/sample_event.json
  packages/ti_abusech/data_stream/threatfox/_dev/test/pipeline/test-threatfox-ndjson.log-expected.json
  packages/ti_abusech/data_stream/threatfox/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/threatfox/sample_event.json
  packages/ti_abusech/data_stream/url/_dev/test/pipeline/test-abusechurl-ndjson.log-expected.json
  packages/ti_abusech/data_stream/url/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/url/sample_event.json
  packages/ti_abusech/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AbuseCH

#7330 [Okta] Add field for okta.debug_context.debug_data.dt_hash
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#7279 [windows] Add Windows AppLocker Data Stream (MSI and Script)
  .github/CODEOWNERS
  packages/windows/_dev/build/docs/README.md
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_msi_and_script/_dev/test/pipeline/test-events-applocker-msi-and-script-8006.json
  packages/windows/data_stream/applocker_msi_and_script/_dev/test/pipeline/test-events-applocker-msi-and-script-8006.json-expected.json
  packages/windows/data_stream/applocker_msi_and_script/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/applocker_msi_and_script/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/applocker_msi_and_script/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_msi_and_script/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/agent.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/base-fields.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/beats.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/ecs.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/winlog.yml
  packages/windows/data_stream/applocker_msi_and_script/manifest.yml
  packages/windows/data_stream/applocker_msi_and_script/sample_event.json
  packages/windows/docs/README.md
  packages/windows/kibana/dashboard/windows-b28aaad0-2f2d-11ee-acdc-45d0efa0889d.json
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, Integration:Windows

#6872 [Qualys VMDR] Initial release for the Qualys VMDR
  .github/CODEOWNERS
  packages/qualys_vmdr/_dev/build/build.yml
  packages/qualys_vmdr/_dev/build/docs/README.md
  packages/qualys_vmdr/_dev/deploy/docker/docker-compose.yml
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-common-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/base-fields.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/beats.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/fields.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/manifest.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-common-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log-expected.json
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/fields/base-fields.yml
  packages/qualys_vmdr/data_stream/knowledge_base/fields/beats.yml
  packages/qualys_vmdr/data_stream/knowledge_base/fields/fields.yml
  packages/qualys_vmdr/data_stream/knowledge_base/manifest.yml
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/img/qualys-vmdr-asset-host-detection-dashboard.png
  packages/qualys_vmdr/img/qualys-vmdr-knowledge-base-dashboard.png
  packages/qualys_vmdr/img/qualys-vmdr-logo.svg
  packages/qualys_vmdr/kibana/dashboard/qualys_vmdr-017c0220-1001-11ee-b28e-615808a979fd.json
  packages/qualys_vmdr/kibana/dashboard/qualys_vmdr-686c4470-11b6-11ee-a722-91244a8ae892.json
  packages/qualys_vmdr/kibana/search/qualys_vmdr-4119cae0-100e-11ee-b28e-615808a979fd.json
  packages/qualys_vmdr/kibana/search/qualys_vmdr-fc0b5150-125e-11ee-a722-91244a8ae892.json
  packages/qualys_vmdr/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#7341 spring_boot: add support for http request trace logging
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/audit_events/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/http_trace/agent/stream/stream.yml.hbs
  packages/spring_boot/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:SpringBoot

#7144 [Kubernetes] Bump package-spec format_version to 2.9.0
  packages/kubernetes/data_stream/pod/fields/fields.yml
  packages/kubernetes/data_stream/state_node/sample_event.json
  packages/kubernetes/data_stream/state_persistentvolume/sample_event.json
  packages/kubernetes/data_stream/state_pod/fields/fields.yml
  packages/kubernetes/data_stream/state_resourcequota/sample_event.json
  packages/kubernetes/data_stream/state_storageclass/sample_event.json
  packages/kubernetes/docs/kube-state-metrics.md
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes, Team:Cloud-Monitoring

#7332 CODEOWNERS: split ownership of aws between observability and security
  .github/CODEOWNERS
Labels: enhancement, Team:Security-External Integrations, Team:Cloud-Monitoring

#7333 CODEOWNERS: split ownership of gcp between cloud monitoring and security
  .github/CODEOWNERS
Labels: enhancement, Team:Security-External Integrations, Team:Cloud-Monitoring

#7139 [Azure] [Container-service] Add dimension and metric_type metadata to the container_service datastream
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_service/fields/agent.yml
  packages/azure_metrics/data_stream/container_service/fields/ecs.yml
  packages/azure_metrics/data_stream/container_service/fields/fields.yml
  packages/azure_metrics/data_stream/container_service/fields/package-fields.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/container_service.md
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure

#7344 couchbase: add support for http request trace logging
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/node/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/node/manifest.yml
  packages/couchbase/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Couchbase

#7343 hadoop: add support for http request trace logging
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/application/manifest.yml
  packages/hadoop/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Hadoop

#7340 ti_maltiverse: add support for http request trace logging
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/data_stream/indicator/agent/stream/stream.yml.hbs
  packages/ti_maltiverse/data_stream/indicator/manifest.yml
  packages/ti_maltiverse/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Maltiverse

#7339 bitdefender: add support for http request trace logging
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_configuration/agent/stream/httpjson.yml.hbs
  packages/bitdefender/data_stream/push_statistics/agent/stream/httpjson.yml.hbs
  packages/bitdefender/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7336 zeek: add support for http request tracing
  packages/zeek/changelog.yml
  packages/zeek/data_stream/capture_loss/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/connection/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/dce_rpc/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/dhcp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/dnp3/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/dns/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/dpd/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/files/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/ftp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/http/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/intel/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/irc/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/kerberos/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/modbus/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/mysql/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/notice/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/ntlm/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/ntp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/ocsp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/pe/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/radius/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/rdp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/rfb/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/signature/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/sip/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/smb_cmd/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/smb_files/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/smb_mapping/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/smtp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/snmp/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/socks/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/ssh/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/ssl/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/stats/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/syslog/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/traceroute/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/tunnel/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/weird/agent/stream/httpjson.yml.hbs
  packages/zeek/data_stream/x509/agent/stream/httpjson.yml.hbs
  packages/zeek/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zeek

#7338 bitwarden: add support for http request trace logging
  packages/bitwarden/changelog.yml
  packages/bitwarden/data_stream/collection/agent/stream/httpjson.yml.hbs
  packages/bitwarden/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/bitwarden/data_stream/group/agent/stream/httpjson.yml.hbs
  packages/bitwarden/data_stream/policy/agent/stream/httpjson.yml.hbs
  packages/bitwarden/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Bitwarden

#7334 trellix_epo_cloud: add support for http request trace logging
  packages/trellix_epo_cloud/changelog.yml
  packages/trellix_epo_cloud/data_stream/device/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/data_stream/device/manifest.yml
  packages/trellix_epo_cloud/data_stream/event/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/data_stream/event/manifest.yml
  packages/trellix_epo_cloud/data_stream/group/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/data_stream/group/manifest.yml
  packages/trellix_epo_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7335 cel: fix location of http request trace log destination
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: bug, Team:Security-External Integrations

#7342 nagios_xi: add support for http request trace logging
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/agent/stream/stream.yml.hbs
  packages/nagios_xi/data_stream/host/agent/stream/stream.yml.hbs
  packages/nagios_xi/data_stream/service/agent/stream/stream.yml.hbs
  packages/nagios_xi/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:NagiosXI

#7151 [AWS] [API Gateway] Add custom access logging fields
  packages/aws/_dev/build/docs/apigateway.md
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway-http.log
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway-http.log-expected.json
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway-rest.log
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway-rest.log-expected.json
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway-websocket.log
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway-websocket.log-expected.json
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway.log
  packages/aws/data_stream/apigateway_logs/_dev/test/pipeline/test-apigateway.log-expected.json
  packages/aws/data_stream/apigateway_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/apigateway_logs/fields/fields.yml
  packages/aws/docs/apigateway.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#7201 [HA Proxy]Add dimension mapping to info datastream
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/info/fields/agent.yml
  packages/haproxy/data_stream/info/fields/ecs.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: Integration:HAProxy

#7280 [Juniper SRX] Fix grok patterns for system logs
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-system.log
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-system.log-expected.json
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/system.yml
  packages/juniper_srx/data_stream/log/fields/fields.yml
  packages/juniper_srx/docs/README.md
  packages/juniper_srx/manifest.yml
Labels: Team:Security-External Integrations, Integration:Juniper SRX, bugfix

#7287 [GCP] Fix loadbalancing_metrics prefix
  packages/gcp/changelog.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/fields.yml
  packages/gcp/data_stream/loadbalancing_metrics/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/loadbalancing.md
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/manifest.yml
Labels: Integration:GCP

#7380 [Cloud Security] Update GCP's policy manifest
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: bugfix, 8.10 candidate

#7386 lastpass: allow users to specify time zone for event_report events
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-event-report.log-expected.json
  packages/lastpass/data_stream/event_report/_dev/test/system/test-default-config.yml
  packages/lastpass/data_stream/event_report/agent/stream/httpjson.yml.hbs
  packages/lastpass/data_stream/event_report/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/event_report/manifest.yml
  packages/lastpass/data_stream/event_report/sample_event.json
  packages/lastpass/docs/README.md
  packages/lastpass/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Lastpass

#7365 [Kibana] Add missing "basepath" variable in Kibana integration settings
  packages/kibana/changelog.yml
  packages/kibana/manifest.yml
Labels: Team:Infra Monitoring UI, bugfix

#7390 [Cloud Security] Add GCP rule templates
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/0e318770-7077-5996-afd8-27ca34fc5446.json
  packages/cloud_security_posture/kibana/csp_rule_template/1316108c-33a8-5198-9529-45716c5a87b1.json
  packages/cloud_security_posture/kibana/csp_rule_template/15c6f217-2ae2-5bb4-8ebe-f40adf02910d.json
  packages/cloud_security_posture/kibana/csp_rule_template/23e5f81e-ca05-53bf-8109-7e676feecee3.json
  packages/cloud_security_posture/kibana/csp_rule_template/2b7b51e2-7e54-5b24-bc9c-6d09416fd5dc.json
  packages/cloud_security_posture/kibana/csp_rule_template/33299b3d-68da-5604-8c62-62690fd40c49.json
  packages/cloud_security_posture/kibana/csp_rule_template/3bfcca47-de6a-57d4-961f-3c7f5b5f699c.json
  packages/cloud_security_posture/kibana/csp_rule_template/3ed0b9d8-c5f2-55e2-92a5-2531868e79ca.json
  packages/cloud_security_posture/kibana/csp_rule_template/40ab36e3-7438-5c36-afcd-bf5f5401366e.json
  packages/cloud_security_posture/kibana/csp_rule_template/421191d6-a13c-5c78-8c5b-102e1229655f.json
  packages/cloud_security_posture/kibana/csp_rule_template/4931d684-a386-5545-b2c4-47b836e0149b.json
  packages/cloud_security_posture/kibana/csp_rule_template/4a6a8b7a-d7a2-5a52-af5c-70009500bbc5.json
  packages/cloud_security_posture/kibana/csp_rule_template/4b11956d-7985-524e-900e-20405e2baaca.json
  packages/cloud_security_posture/kibana/csp_rule_template/4da6e870-fed1-5822-bb2d-f6a1714bc4a8.json
  packages/cloud_security_posture/kibana/csp_rule_template/4eb0d962-c123-575e-8c0c-9d10a2fbe5d1.json
  packages/cloud_security_posture/kibana/csp_rule_template/5d7e7fce-64fb-5b7b-beeb-920496c2e333.json
  packages/cloud_security_posture/kibana/csp_rule_template/5de29f7b-ba03-5c77-81d9-7ea65ebd6a0f.json
  packages/cloud_security_posture/kibana/csp_rule_template/5ee69b99-8f70-5daf-b784-866131aca3ba.json
  packages/cloud_security_posture/kibana/csp_rule_template/64d37675-473f-5edc-882e-5b8b85b789c3.json
  packages/cloud_security_posture/kibana/csp_rule_template/67909c46-649c-52c1-a464-b3e81615d938.json
  packages/cloud_security_posture/kibana/csp_rule_template/68cfd04b-fc79-5877-8638-af3aa82d92db.json
  packages/cloud_security_posture/kibana/csp_rule_template/68f9d23f-882f-55d1-86c6-711413c31129.json
  packages/cloud_security_posture/kibana/csp_rule_template/756e1a54-b2ce-56b9-a13f-17f652d7767c.json
  packages/cloud_security_posture/kibana/csp_rule_template/7e584486-4d0f-5edb-8a64-7ee0b59333b8.json
  packages/cloud_security_posture/kibana/csp_rule_template/84862c2c-4aba-5458-9c5f-12855091617b.json
  packages/cloud_security_posture/kibana/csp_rule_template/873e6387-218d-587a-8fa1-3d65f4a77802.json
  packages/cloud_security_posture/kibana/csp_rule_template/89cc8ff0-be81-55f2-b1cf-d7db1e214741.json
  packages/cloud_security_posture/kibana/csp_rule_template/8a985fda-fc4c-5435-b7f0-c4d40bb1307a.json
  packages/cloud_security_posture/kibana/csp_rule_template/8c36c21b-3c8f-5a92-bc7e-62871428f4d2.json
  packages/cloud_security_posture/kibana/csp_rule_template/8f2644ed-70b5-576f-b9b9-aabea6821749.json
  packages/cloud_security_posture/kibana/csp_rule_template/9126cd85-611c-5b06-b2f2-a18338e26ae1.json
  packages/cloud_security_posture/kibana/csp_rule_template/91d52d43-da61-5ba2-a4d4-1018fee84559.json
  packages/cloud_security_posture/kibana/csp_rule_template/92077c86-0322-5497-b94e-38ef356eadd6.json
  packages/cloud_security_posture/kibana/csp_rule_template/9259a915-0294-54d6-b379-162ceb36e875.json
  packages/cloud_security_posture/kibana/csp_rule_template/92ab0102-d825-52ce-87a8-1d0b4e06166c.json
  packages/cloud_security_posture/kibana/csp_rule_template/936ea3f4-b4bc-5f3a-a7a0-dec9bda0a48c.json
  packages/cloud_security_posture/kibana/csp_rule_template/a1f327c0-3e4b-5b55-891a-b91e720cd535.json
  packages/cloud_security_posture/kibana/csp_rule_template/a7c6b368-29db-53e6-8b86-dfaddf719f59.json
  packages/cloud_security_posture/kibana/csp_rule_template/b0ed2847-4db1-57c3-b2b6-49b0576a2506.json
  packages/cloud_security_posture/kibana/csp_rule_template/b190337a-56a7-5906-8960-76fd05283599.json
  packages/cloud_security_posture/kibana/csp_rule_template/b64386ab-20fa-57d2-9b5b-631d64181531.json
  packages/cloud_security_posture/kibana/csp_rule_template/b8c40039-034b-5299-8660-a7c8d34efe36.json
  packages/cloud_security_posture/kibana/csp_rule_template/bac65dd0-771b-5bfb-8e5f-3b1dc8962684.json
  packages/cloud_security_posture/kibana/csp_rule_template/be1197db-90d0-58db-b780-f0a939264bd0.json
  packages/cloud_security_posture/kibana/csp_rule_template/c2d65e60-221b-5748-a545-579a69ad4a93.json
  packages/cloud_security_posture/kibana/csp_rule_template/d63a2fd8-7ba2-5589-9899-23f99fd8c846.json
  packages/cloud_security_posture/kibana/csp_rule_template/dbd6a799-b6c3-5768-ab68-9bd6f63bbd48.json
  packages/cloud_security_posture/kibana/csp_rule_template/e2306922-4f95-5660-bf2e-9610f556de69.json
  packages/cloud_security_posture/kibana/csp_rule_template/e833e6a8-673d-56b2-a979-f9aa4e52cb71.json
  packages/cloud_security_posture/kibana/csp_rule_template/e83a8e8a-e34b-5a01-8142-82d5aef60cab.json
  packages/cloud_security_posture/kibana/csp_rule_template/ec7949d4-9e55-5f44-8c4a-a0e674a2a46f.json
  packages/cloud_security_posture/kibana/csp_rule_template/f44d0940-2e62-5993-9028-d3e63ae23960.json
  packages/cloud_security_posture/kibana/csp_rule_template/f62488d2-4b52-57d4-8ecd-d8f47dcb3dda.json
  packages/cloud_security_posture/kibana/csp_rule_template/fdff0b83-dc73-5d60-9ad3-b98ed139a1b4.json
  packages/cloud_security_posture/kibana/csp_rule_template/fe083488-fa0f-5408-9624-ac27607ac2ff.json
  packages/cloud_security_posture/kibana/csp_rule_template/ff3a8287-e4ac-5a3c-b0d7-4f349e0ab077.json
  packages/cloud_security_posture/kibana/csp_rule_template/ffc9fb91-dc44-512b-a558-036e8ce11282.json
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#6823 [cloud_security_posture] Adding vulnerability fields
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/cloud.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/ecs.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/network.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/resource.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/vulnerability.yml
Labels: enhancement, Integration:CloudSecurityPosture

#7394 cisco_ise: add support for filestream input
  packages/cisco_ise/_dev/deploy/docker/docker-compose.yml
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/cisco_ise/data_stream/log/agent/stream/filestream.yml.hbs
  packages/cisco_ise/data_stream/log/fields/ecs.yml
  packages/cisco_ise/data_stream/log/manifest.yml
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoISE

#7391 [cisco_meraki] Address the changes in Firmware MX18.101
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/flows.yml
  packages/cisco_meraki/manifest.yml
Labels: bug, Team:Security-External Integrations

#7219 [O11y][Azure Billing] Migrate Azure Billing dashboard visualizations to lens
  packages/azure_billing/changelog.yml
  packages/azure_billing/img/azure-billing-overview.png
  packages/azure_billing/kibana/dashboard/azure_billing-d3efeb30-c1c7-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/kibana/visualization/azure_billing-05d5b3e0-c1c9-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/kibana/visualization/azure_billing-6ffa7e20-c1da-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/kibana/visualization/azure_billing-82a51dd0-c1d7-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/kibana/visualization/azure_billing-9142aca0-c1c7-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/kibana/visualization/azure_billing-b18053b0-c1da-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/kibana/visualization/azure_billing-c8016f70-c1da-11ea-b7e7-0f48178cdb3c.json
  packages/azure_billing/manifest.yml
Labels: enhancement, Integration:Azure, Team:Obs-InfraObs

#7155 [Azure][Container_registry] Add dimension and metric_type metadata to the container_registry datastream
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_registry/fields/agent.yml
  packages/azure_metrics/data_stream/container_registry/fields/ecs.yml
  packages/azure_metrics/data_stream/container_registry/fields/fields.yml
  packages/azure_metrics/data_stream/container_registry/fields/package-fields.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/container_registry.md
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure

#7393 [windows] Add Windows AppLocker Data Stream (Packaged app-Deployment)
  .github/CODEOWNERS
  packages/windows/_dev/build/docs/README.md
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-deployment.json
  packages/windows/data_stream/applocker_packaged_app_deployment/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-deployment.json-expected.json
  packages/windows/data_stream/applocker_packaged_app_deployment/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/applocker_packaged_app_deployment/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_packaged_app_deployment/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/agent.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/base-fields.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/beats.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/ecs.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/winlog.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, Integration:Windows

#7177 [Azure] [compute_vm_scaleset] List exposed metrics; add dimension and metric_type metadata
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/fields/agent.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/fields/ecs.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/fields/fields.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/fields/package-fields.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/compute_vm_scaleset.md
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure

#7432 [O365] Fix API timestamp issue in CEL program
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: Team:Security-External Integrations, Integration:o365, bugfix

#7447 [Security Rules] Update security rules package to v8.7.11-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0171f283-ade7-4f87-9521-ac346c68cc9b_2.json
  packages/security_detection_engine/kibana/security_rule/0787daa6-f8c5-453b-a4ec-048037f6c1cd_2.json
  packages/security_detection_engine/kibana/security_rule/0b803267-74c5-444d-ae29-32b5db2d562a_1.json
  packages/security_detection_engine/kibana/security_rule/0f4d35e4-925e-4959-ab24-911be207ee6f_105.json
  packages/security_detection_engine/kibana/security_rule/17b0a495-4d9f-414c-8ad0-92f018b8e001_3.json
  packages/security_detection_engine/kibana/security_rule/2605aa59-29ac-4662-afad-8d86257c7c91_1.json
  packages/security_detection_engine/kibana/security_rule/28738f9f-7427-4d23-bc69-756708b5f624_4.json
  packages/security_detection_engine/kibana/security_rule/28d39238-0c01-420a-b77a-24e5a7378663_1.json
  packages/security_detection_engine/kibana/security_rule/2a692072-d78d-42f3-a48a-775677d79c4e_2.json
  packages/security_detection_engine/kibana/security_rule/2d8043ed-5bda-4caf-801c-c1feb7410504_204.json
  packages/security_detection_engine/kibana/security_rule/40ddbcc8-6561-44d9-afc8-eefdbfe0cccd_2.json
  packages/security_detection_engine/kibana/security_rule/474fd20e-14cc-49c5-8160-d9ab4ba16c8b_4.json
  packages/security_detection_engine/kibana/security_rule/48b3d2e3-f4e8-41e6-95e6-9b2091228db3_3.json
  packages/security_detection_engine/kibana/security_rule/4a99ac6f-9a54-4ba5-a64f-6eb65695841b_1.json
  packages/security_detection_engine/kibana/security_rule/4b1a807a-4e7b-414e-8cea-24bf580f6fc5_3.json
  packages/security_detection_engine/kibana/security_rule/4d4c35f4-414e-4d0c-bb7e-6db7c80a6957_2.json
  packages/security_detection_engine/kibana/security_rule/4ec47004-b34a-42e6-8003-376a123ea447_4.json
  packages/security_detection_engine/kibana/security_rule/52376a86-ee86-4967-97ae-1a05f55816f0_107.json
  packages/security_detection_engine/kibana/security_rule/53617418-17b4-4e9c-8a2c-8deb8086ca4b_2.json
  packages/security_detection_engine/kibana/security_rule/5b06a27f-ad72-4499-91db-0c69667bffa5_1.json
  packages/security_detection_engine/kibana/security_rule/7592c127-89fb-4209-a8f6-f9944dfd7e02_2.json
  packages/security_detection_engine/kibana/security_rule/76e4d92b-61c1-4a95-ab61-5fd94179a1ee_3.json
  packages/security_detection_engine/kibana/security_rule/781f8746-2180-4691-890c-4c96d11ca91d_2.json
  packages/security_detection_engine/kibana/security_rule/7fb500fa-8e24-4bd1-9480-2a819352602c_4.json
  packages/security_detection_engine/kibana/security_rule/80084fa9-8677-4453-8680-b891d3c0c778_2.json
  packages/security_detection_engine/kibana/security_rule/884e87cc-c67b-4c90-a4ed-e1e24a940c82_1.json
  packages/security_detection_engine/kibana/security_rule/88fdcb8c-60e5-46ee-9206-2663adf1b1ce_1.json
  packages/security_detection_engine/kibana/security_rule/8a024633-c444-45c0-a4fe-78128d8c1ab6_1.json
  packages/security_detection_engine/kibana/security_rule/96d11d31-9a79-480f-8401-da28b194608f_4.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_108.json
  packages/security_detection_engine/kibana/security_rule/aebaa51f-2a91-4f6a-850b-b601db2293f4_2.json
  packages/security_detection_engine/kibana/security_rule/afe6b0eb-dd9d-4922-b08a-1910124d524d_1.json
  packages/security_detection_engine/kibana/security_rule/bbaa96b9-f36c-4898-ace2-581acb00a409_2.json
  packages/security_detection_engine/kibana/security_rule/c8935a8b-634a-4449-98f7-bb24d3b2c0af_4.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_2.json
  packages/security_detection_engine/kibana/security_rule/cac91072-d165-11ec-a764-f661ea17fbce_208.json
  packages/security_detection_engine/kibana/security_rule/d55436a8-719c-445f-92c4-c113ff2f9ba5_1.json
  packages/security_detection_engine/kibana/security_rule/da87eee1-129c-4661-a7aa-57d0b9645fad_8.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_1.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_102.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_104.json
  packages/security_detection_engine/kibana/security_rule/fa3a59dc-33c3-43bf-80a9-e8437a922c7f_3.json
  packages/security_detection_engine/kibana/security_rule/ff10d4d8-fea7-422d-afb1-e5a2702369a9_3.json
  packages/security_detection_engine/kibana/security_rule/ff9bc8b9-f03b-4283-be58-ee0a16f5a11b_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.7.0

#7448 [Security Rules] Update security rules package to v8.8.9-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0171f283-ade7-4f87-9521-ac346c68cc9b_2.json
  packages/security_detection_engine/kibana/security_rule/0787daa6-f8c5-453b-a4ec-048037f6c1cd_2.json
  packages/security_detection_engine/kibana/security_rule/0b803267-74c5-444d-ae29-32b5db2d562a_1.json
  packages/security_detection_engine/kibana/security_rule/0f4d35e4-925e-4959-ab24-911be207ee6f_105.json
  packages/security_detection_engine/kibana/security_rule/17b0a495-4d9f-414c-8ad0-92f018b8e001_3.json
  packages/security_detection_engine/kibana/security_rule/2605aa59-29ac-4662-afad-8d86257c7c91_1.json
  packages/security_detection_engine/kibana/security_rule/28738f9f-7427-4d23-bc69-756708b5f624_4.json
  packages/security_detection_engine/kibana/security_rule/28d39238-0c01-420a-b77a-24e5a7378663_1.json
  packages/security_detection_engine/kibana/security_rule/2a692072-d78d-42f3-a48a-775677d79c4e_2.json
  packages/security_detection_engine/kibana/security_rule/2d8043ed-5bda-4caf-801c-c1feb7410504_204.json
  packages/security_detection_engine/kibana/security_rule/40ddbcc8-6561-44d9-afc8-eefdbfe0cccd_2.json
  packages/security_detection_engine/kibana/security_rule/474fd20e-14cc-49c5-8160-d9ab4ba16c8b_4.json
  packages/security_detection_engine/kibana/security_rule/48b3d2e3-f4e8-41e6-95e6-9b2091228db3_3.json
  packages/security_detection_engine/kibana/security_rule/4a99ac6f-9a54-4ba5-a64f-6eb65695841b_1.json
  packages/security_detection_engine/kibana/security_rule/4b1a807a-4e7b-414e-8cea-24bf580f6fc5_3.json
  packages/security_detection_engine/kibana/security_rule/4d4c35f4-414e-4d0c-bb7e-6db7c80a6957_2.json
  packages/security_detection_engine/kibana/security_rule/4ec47004-b34a-42e6-8003-376a123ea447_4.json
  packages/security_detection_engine/kibana/security_rule/52376a86-ee86-4967-97ae-1a05f55816f0_107.json
  packages/security_detection_engine/kibana/security_rule/53617418-17b4-4e9c-8a2c-8deb8086ca4b_2.json
  packages/security_detection_engine/kibana/security_rule/5b06a27f-ad72-4499-91db-0c69667bffa5_1.json
  packages/security_detection_engine/kibana/security_rule/7592c127-89fb-4209-a8f6-f9944dfd7e02_2.json
  packages/security_detection_engine/kibana/security_rule/76e4d92b-61c1-4a95-ab61-5fd94179a1ee_3.json
  packages/security_detection_engine/kibana/security_rule/781f8746-2180-4691-890c-4c96d11ca91d_2.json
  packages/security_detection_engine/kibana/security_rule/7fb500fa-8e24-4bd1-9480-2a819352602c_4.json
  packages/security_detection_engine/kibana/security_rule/80084fa9-8677-4453-8680-b891d3c0c778_2.json
  packages/security_detection_engine/kibana/security_rule/884e87cc-c67b-4c90-a4ed-e1e24a940c82_1.json
  packages/security_detection_engine/kibana/security_rule/88fdcb8c-60e5-46ee-9206-2663adf1b1ce_1.json
  packages/security_detection_engine/kibana/security_rule/8a024633-c444-45c0-a4fe-78128d8c1ab6_1.json
  packages/security_detection_engine/kibana/security_rule/96d11d31-9a79-480f-8401-da28b194608f_4.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_108.json
  packages/security_detection_engine/kibana/security_rule/aebaa51f-2a91-4f6a-850b-b601db2293f4_2.json
  packages/security_detection_engine/kibana/security_rule/afe6b0eb-dd9d-4922-b08a-1910124d524d_1.json
  packages/security_detection_engine/kibana/security_rule/bbaa96b9-f36c-4898-ace2-581acb00a409_2.json
  packages/security_detection_engine/kibana/security_rule/c8935a8b-634a-4449-98f7-bb24d3b2c0af_4.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_2.json
  packages/security_detection_engine/kibana/security_rule/cac91072-d165-11ec-a764-f661ea17fbce_208.json
  packages/security_detection_engine/kibana/security_rule/d55436a8-719c-445f-92c4-c113ff2f9ba5_1.json
  packages/security_detection_engine/kibana/security_rule/da87eee1-129c-4661-a7aa-57d0b9645fad_8.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_1.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_102.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_104.json
  packages/security_detection_engine/kibana/security_rule/fa3a59dc-33c3-43bf-80a9-e8437a922c7f_3.json
  packages/security_detection_engine/kibana/security_rule/ff10d4d8-fea7-422d-afb1-e5a2702369a9_3.json
  packages/security_detection_engine/kibana/security_rule/ff9bc8b9-f03b-4283-be58-ee0a16f5a11b_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.8.0

#7435 [AWS] Disable TSDB on AWS Billing
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#7438 [AWS] Disable TSDB on AWS Billing
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#7449 [Security Rules] Update security rules package to v8.9.4-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0171f283-ade7-4f87-9521-ac346c68cc9b_2.json
  packages/security_detection_engine/kibana/security_rule/0787daa6-f8c5-453b-a4ec-048037f6c1cd_2.json
  packages/security_detection_engine/kibana/security_rule/0b803267-74c5-444d-ae29-32b5db2d562a_1.json
  packages/security_detection_engine/kibana/security_rule/0f4d35e4-925e-4959-ab24-911be207ee6f_105.json
  packages/security_detection_engine/kibana/security_rule/17b0a495-4d9f-414c-8ad0-92f018b8e001_3.json
  packages/security_detection_engine/kibana/security_rule/2605aa59-29ac-4662-afad-8d86257c7c91_1.json
  packages/security_detection_engine/kibana/security_rule/28738f9f-7427-4d23-bc69-756708b5f624_4.json
  packages/security_detection_engine/kibana/security_rule/28d39238-0c01-420a-b77a-24e5a7378663_1.json
  packages/security_detection_engine/kibana/security_rule/2a692072-d78d-42f3-a48a-775677d79c4e_2.json
  packages/security_detection_engine/kibana/security_rule/2d8043ed-5bda-4caf-801c-c1feb7410504_204.json
  packages/security_detection_engine/kibana/security_rule/40ddbcc8-6561-44d9-afc8-eefdbfe0cccd_2.json
  packages/security_detection_engine/kibana/security_rule/474fd20e-14cc-49c5-8160-d9ab4ba16c8b_4.json
  packages/security_detection_engine/kibana/security_rule/48b3d2e3-f4e8-41e6-95e6-9b2091228db3_3.json
  packages/security_detection_engine/kibana/security_rule/4a99ac6f-9a54-4ba5-a64f-6eb65695841b_1.json
  packages/security_detection_engine/kibana/security_rule/4b1a807a-4e7b-414e-8cea-24bf580f6fc5_3.json
  packages/security_detection_engine/kibana/security_rule/4d4c35f4-414e-4d0c-bb7e-6db7c80a6957_2.json
  packages/security_detection_engine/kibana/security_rule/4ec47004-b34a-42e6-8003-376a123ea447_4.json
  packages/security_detection_engine/kibana/security_rule/52376a86-ee86-4967-97ae-1a05f55816f0_107.json
  packages/security_detection_engine/kibana/security_rule/53617418-17b4-4e9c-8a2c-8deb8086ca4b_2.json
  packages/security_detection_engine/kibana/security_rule/5b06a27f-ad72-4499-91db-0c69667bffa5_1.json
  packages/security_detection_engine/kibana/security_rule/7592c127-89fb-4209-a8f6-f9944dfd7e02_2.json
  packages/security_detection_engine/kibana/security_rule/76e4d92b-61c1-4a95-ab61-5fd94179a1ee_3.json
  packages/security_detection_engine/kibana/security_rule/781f8746-2180-4691-890c-4c96d11ca91d_2.json
  packages/security_detection_engine/kibana/security_rule/7fb500fa-8e24-4bd1-9480-2a819352602c_4.json
  packages/security_detection_engine/kibana/security_rule/80084fa9-8677-4453-8680-b891d3c0c778_2.json
  packages/security_detection_engine/kibana/security_rule/884e87cc-c67b-4c90-a4ed-e1e24a940c82_1.json
  packages/security_detection_engine/kibana/security_rule/88fdcb8c-60e5-46ee-9206-2663adf1b1ce_1.json
  packages/security_detection_engine/kibana/security_rule/8a024633-c444-45c0-a4fe-78128d8c1ab6_1.json
  packages/security_detection_engine/kibana/security_rule/96d11d31-9a79-480f-8401-da28b194608f_4.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_108.json
  packages/security_detection_engine/kibana/security_rule/aebaa51f-2a91-4f6a-850b-b601db2293f4_2.json
  packages/security_detection_engine/kibana/security_rule/afe6b0eb-dd9d-4922-b08a-1910124d524d_1.json
  packages/security_detection_engine/kibana/security_rule/bbaa96b9-f36c-4898-ace2-581acb00a409_2.json
  packages/security_detection_engine/kibana/security_rule/c8935a8b-634a-4449-98f7-bb24d3b2c0af_4.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_2.json
  packages/security_detection_engine/kibana/security_rule/cac91072-d165-11ec-a764-f661ea17fbce_208.json
  packages/security_detection_engine/kibana/security_rule/d55436a8-719c-445f-92c4-c113ff2f9ba5_1.json
  packages/security_detection_engine/kibana/security_rule/da87eee1-129c-4661-a7aa-57d0b9645fad_8.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_1.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_102.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_104.json
  packages/security_detection_engine/kibana/security_rule/fa3a59dc-33c3-43bf-80a9-e8437a922c7f_3.json
  packages/security_detection_engine/kibana/security_rule/ff10d4d8-fea7-422d-afb1-e5a2702369a9_3.json
  packages/security_detection_engine/kibana/security_rule/ff9bc8b9-f03b-4283-be58-ee0a16f5a11b_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.9.0

#7450 [Security Rules] Update security rules package to v8.10.1-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0171f283-ade7-4f87-9521-ac346c68cc9b_2.json
  packages/security_detection_engine/kibana/security_rule/0787daa6-f8c5-453b-a4ec-048037f6c1cd_2.json
  packages/security_detection_engine/kibana/security_rule/0b803267-74c5-444d-ae29-32b5db2d562a_1.json
  packages/security_detection_engine/kibana/security_rule/0f4d35e4-925e-4959-ab24-911be207ee6f_105.json
  packages/security_detection_engine/kibana/security_rule/17b0a495-4d9f-414c-8ad0-92f018b8e001_3.json
  packages/security_detection_engine/kibana/security_rule/2605aa59-29ac-4662-afad-8d86257c7c91_1.json
  packages/security_detection_engine/kibana/security_rule/28738f9f-7427-4d23-bc69-756708b5f624_4.json
  packages/security_detection_engine/kibana/security_rule/28d39238-0c01-420a-b77a-24e5a7378663_1.json
  packages/security_detection_engine/kibana/security_rule/2a692072-d78d-42f3-a48a-775677d79c4e_2.json
  packages/security_detection_engine/kibana/security_rule/2d8043ed-5bda-4caf-801c-c1feb7410504_204.json
  packages/security_detection_engine/kibana/security_rule/40ddbcc8-6561-44d9-afc8-eefdbfe0cccd_2.json
  packages/security_detection_engine/kibana/security_rule/474fd20e-14cc-49c5-8160-d9ab4ba16c8b_4.json
  packages/security_detection_engine/kibana/security_rule/48b3d2e3-f4e8-41e6-95e6-9b2091228db3_3.json
  packages/security_detection_engine/kibana/security_rule/4a99ac6f-9a54-4ba5-a64f-6eb65695841b_1.json
  packages/security_detection_engine/kibana/security_rule/4b1a807a-4e7b-414e-8cea-24bf580f6fc5_3.json
  packages/security_detection_engine/kibana/security_rule/4d4c35f4-414e-4d0c-bb7e-6db7c80a6957_2.json
  packages/security_detection_engine/kibana/security_rule/4ec47004-b34a-42e6-8003-376a123ea447_4.json
  packages/security_detection_engine/kibana/security_rule/52376a86-ee86-4967-97ae-1a05f55816f0_107.json
  packages/security_detection_engine/kibana/security_rule/53617418-17b4-4e9c-8a2c-8deb8086ca4b_2.json
  packages/security_detection_engine/kibana/security_rule/5b06a27f-ad72-4499-91db-0c69667bffa5_1.json
  packages/security_detection_engine/kibana/security_rule/7592c127-89fb-4209-a8f6-f9944dfd7e02_2.json
  packages/security_detection_engine/kibana/security_rule/76e4d92b-61c1-4a95-ab61-5fd94179a1ee_3.json
  packages/security_detection_engine/kibana/security_rule/781f8746-2180-4691-890c-4c96d11ca91d_2.json
  packages/security_detection_engine/kibana/security_rule/7fb500fa-8e24-4bd1-9480-2a819352602c_4.json
  packages/security_detection_engine/kibana/security_rule/80084fa9-8677-4453-8680-b891d3c0c778_2.json
  packages/security_detection_engine/kibana/security_rule/884e87cc-c67b-4c90-a4ed-e1e24a940c82_1.json
  packages/security_detection_engine/kibana/security_rule/88fdcb8c-60e5-46ee-9206-2663adf1b1ce_1.json
  packages/security_detection_engine/kibana/security_rule/8a024633-c444-45c0-a4fe-78128d8c1ab6_1.json
  packages/security_detection_engine/kibana/security_rule/96d11d31-9a79-480f-8401-da28b194608f_4.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_108.json
  packages/security_detection_engine/kibana/security_rule/aebaa51f-2a91-4f6a-850b-b601db2293f4_2.json
  packages/security_detection_engine/kibana/security_rule/afe6b0eb-dd9d-4922-b08a-1910124d524d_1.json
  packages/security_detection_engine/kibana/security_rule/bbaa96b9-f36c-4898-ace2-581acb00a409_2.json
  packages/security_detection_engine/kibana/security_rule/c8935a8b-634a-4449-98f7-bb24d3b2c0af_4.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_2.json
  packages/security_detection_engine/kibana/security_rule/cac91072-d165-11ec-a764-f661ea17fbce_208.json
  packages/security_detection_engine/kibana/security_rule/d55436a8-719c-445f-92c4-c113ff2f9ba5_1.json
  packages/security_detection_engine/kibana/security_rule/da87eee1-129c-4661-a7aa-57d0b9645fad_8.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_1.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_102.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/eb6a3790-d52d-11ec-8ce9-f661ea17fbce_104.json
  packages/security_detection_engine/kibana/security_rule/fa3a59dc-33c3-43bf-80a9-e8437a922c7f_3.json
  packages/security_detection_engine/kibana/security_rule/ff10d4d8-fea7-422d-afb1-e5a2702369a9_3.json
  packages/security_detection_engine/kibana/security_rule/ff9bc8b9-f03b-4283-be58-ee0a16f5a11b_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.10.0

#7453 [Security Rules] Update security rules package to v8.7.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.7.0

#7455 [Security Rules] Update security rules package to v8.8.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.8.0

#7456 [Security Rules] Update security rules package to v8.9.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.9.0

#7457 [Security Rules] Update security rules package to v8.10.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.10.0

#7446 [windows] Add Windows AppLocker Data Stream (Packaged app-Execution)
  .github/CODEOWNERS
  packages/windows/_dev/build/docs/README.md
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_packaged_app_execution/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-execution.json
  packages/windows/data_stream/applocker_packaged_app_execution/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-execution.json-expected.json
  packages/windows/data_stream/applocker_packaged_app_execution/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/applocker_packaged_app_execution/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/applocker_packaged_app_execution/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_packaged_app_execution/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/agent.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/base-fields.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/beats.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/ecs.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/winlog.yml
  packages/windows/data_stream/applocker_packaged_app_execution/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_execution/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7452 [cisco_secure_email_gateway] Match both Unix and Windows-style paths
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#7471 [Elastic Agent] Fix agent dashboard links for non default spaces
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/ecs.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Security-External Integrations, Team:Elastic-Agent, Integration:Elastic-Agent, bugfix

#7476 [Elastic Agent] Add missing hyperlinks in agent health dashboards
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-0600ffa0-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1a4e7280-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1badd650-d136-11ed-b85f-4be0157fc90c.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-77cdb1c0-cd45-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-7d110ba0-cd45-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-87ad4330-cd45-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a148dc70-6b3c-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a7b5e7a0-cd44-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-a8192f90-cd3f-11ed-869d-e7dc1b551cd2.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent, Integration:Elastic-Agent

#7451 [8.6 Backport] [GCP] Fix check on gcp.audit.authorization_info[].granted
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: bug, Integration:GCP, backport

#7466 cisco_ios: support ingesting NTP log messages
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoIOS

#7319 [AWS] Remove duplicated `number_of_workers` settings from the custom logs integration
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
Labels: bug, Integration:AWS

#7487 [AWS] Add dimensions to EC2 data stream.
  packages/aws/changelog.yml
  packages/aws/data_stream/ec2_metrics/fields/ecs.yml
  packages/aws/data_stream/ec2_metrics/fields/fields.yml
  packages/aws/docs/ec2.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#7481 [AWS] Remove duplicated number_of_workers settings from the custom logs integration (part 2)
  packages/aws_logs/changelog.yml
  packages/aws_logs/manifest.yml
Labels: bug, Integration:AWS

#7392 Add Microsoft Entra ID Entity Analytics Integration
  .github/CODEOWNERS
  packages/entityanalytics_entra_id/_dev/build/build.yml
  packages/entityanalytics_entra_id/_dev/build/docs/README.md
  packages/entityanalytics_entra_id/_dev/deploy/docker/docker-compose.yml
  packages/entityanalytics_entra_id/_dev/deploy/docker/files/config.yml
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/system/test-default-config.yml
  packages/entityanalytics_entra_id/data_stream/entity/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/agent.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/base-fields.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/beats.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/ecs.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/fields.yml
  packages/entityanalytics_entra_id/data_stream/entity/manifest.yml
  packages/entityanalytics_entra_id/data_stream/entity/sample_event.json
  packages/entityanalytics_entra_id/docs/README.md
  packages/entityanalytics_entra_id/img/logo-azure.svg
  packages/entityanalytics_entra_id/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7490 [AWS][EC2] Add metric type to EC2
  packages/aws/changelog.yml
  packages/aws/data_stream/ec2_metrics/fields/fields.yml
  packages/aws/docs/ec2.md
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#7445 [Azure] Fix the metrics field name in the container instance datastream
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_instance/_dev/test/pipeline/test-azure-metrics-container-instance.json
  packages/azure_metrics/data_stream/container_instance/elasticsearch/ingest_pipeline/default.yml
  packages/azure_metrics/data_stream/container_instance/fields/fields.yml
  packages/azure_metrics/data_stream/container_instance/fields/package-fields.yml
  packages/azure_metrics/data_stream/container_registry/fields/fields.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/container_instance.md
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure, Team:Cloud-Monitoring

#7397 modsecurity: make pipeline selection more robust when nginx is configured with server_tokens off
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-audit.log
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/default.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/nginx-modsec.yml
  packages/modsecurity/data_stream/auditlog/fields/fields.yml
  packages/modsecurity/docs/README.md
  packages/modsecurity/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Modsecurity

#6247 Remove AWS CloudWatch logs via S3 option
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudwatch_logs/manifest.yml
  packages/aws/manifest.yml
Labels: breaking change, Team:Cloud-Monitoring

#7525 [Azure Logs] Clean up dashboard titles and descriptions
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-0f559cc0-f0d5-11e9-90ec-112a988266d5.json
  packages/azure/kibana/dashboard/azure-1adf52d0-f50f-11eb-a831-732d3e9bbd43.json
  packages/azure/kibana/dashboard/azure-280493a0-f1a1-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-32aedb00-f524-11eb-b9f3-73fa29f35762.json
  packages/azure/kibana/dashboard/azure-3cdf69c0-32d9-11ed-a2e6-916b60bbea71.json
  packages/azure/kibana/dashboard/azure-5ad41d90-f50e-11eb-a831-732d3e9bbd43.json
  packages/azure/kibana/dashboard/azure-5ee36c30-32dc-11ed-a2e6-916b60bbea71.json
  packages/azure/kibana/dashboard/azure-91224490-f1a6-11ec-a5a8-bf965bcd5646.json
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, bugfix

#7130 Add metrics datastream for Azure Functions
  packages/azure_functions/_dev/build/docs/README.md
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/functionapplogs/manifest.yml
  packages/azure_functions/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/azure_functions/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/azure_functions/data_stream/metrics/fields/agent.yml
  packages/azure_functions/data_stream/metrics/fields/base-fields.yml
  packages/azure_functions/data_stream/metrics/fields/ecs.yml
  packages/azure_functions/data_stream/metrics/fields/fields.yml
  packages/azure_functions/data_stream/metrics/fields/package-fields.yml
  packages/azure_functions/data_stream/metrics/manifest.yml
  packages/azure_functions/data_stream/metrics/sample_event.json
  packages/azure_functions/docs/README.md
  packages/azure_functions/img/azure-functions-overview1.png
  packages/azure_functions/img/azure-functions-overview2.png
  packages/azure_functions/img/azure-functions-overview3.png
  packages/azure_functions/kibana/dashboard/azure_functions-5b40c9c0-33d4-11ee-8d85-2d7adebebd1b.json
  packages/azure_functions/kibana/lens/azure_functions-1e62d580-3491-11ee-8d85-2d7adebebd1b.json
  packages/azure_functions/kibana/lens/azure_functions-7f0826e0-33b2-11ee-8d85-2d7adebebd1b.json
  packages/azure_functions/manifest.yml
Labels: Integration:Azure

#7461 [O11y][GCP] Migrate GCP Load Balancing L3 Overview dashboard to lens
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:GCP, dashboard

#7428 [O11y][Azure Metrics] Migrate Database Account Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-database-account-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-b232c220-8481-11ea-b181-4b1a9e0110f9.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, azure_metrics

#7496 [O11y][Azure Metrics] Migrate VM Scale Sets Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-vmss-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-91afcc50-eaad-11e9-90ec-112a988266d5.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, azure_metrics

#7529 [O11y][Azure Metrics] Migrate Container Service Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-container-service-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-dae20ed0-6d0a-11ea-8fe8-71add5fd7c38.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, azure_metrics

#7396 windows: retain winlog.event_data.Details
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-sysmon-operational-events.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/sysmon_operational.yml
  packages/windows/data_stream/forwarded/fields/winlog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/fields/winlog.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#7172 [Windows] Add dimension fields for service datastream to support TSDB.
  packages/windows/changelog.yml
  packages/windows/data_stream/service/fields/agent.yml
  packages/windows/data_stream/service/fields/fields.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:Windows

#7200 [Windows] Add metric_type mapping for the fields of `service` datastream.
  packages/windows/changelog.yml
  packages/windows/data_stream/service/fields/fields.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:Windows

#7205 Update Kibana integration to collect task manager HTTP metrics
  packages/kibana/_dev/build/docs/README.md
  packages/kibana/_dev/deploy/docker/docker-compose.yml
  packages/kibana/_dev/deploy/variants.yml
  packages/kibana/changelog.yml
  packages/kibana/data_stream/task_manager_metrics/_dev/test/system/test-default-config.yml
  packages/kibana/data_stream/task_manager_metrics/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/task_manager_metrics/fields/base-fields.yml
  packages/kibana/data_stream/task_manager_metrics/fields/ecs.yml
  packages/kibana/data_stream/task_manager_metrics/fields/fields.yml
  packages/kibana/data_stream/task_manager_metrics/fields/package-fields.yml
  packages/kibana/data_stream/task_manager_metrics/manifest.yml
  packages/kibana/data_stream/task_manager_metrics/sample_event.json
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: Integration:Kibana

#7535 [File Integrity Monitoring] Add dashboard for events overview
  packages/fim/changelog.yml
  packages/fim/img/fim-overview.png
  packages/fim/kibana/dashboard/fim-97c782f0-4291-11ee-a0f4-51818a115e85.json
  packages/fim/kibana/search/fim-6c045e50-4295-11ee-a0f4-51818a115e85.json
  packages/fim/manifest.yml
Labels: enhancement, Team:Security-External Integrations, dashboard, Integration:FIM

#7553 github: add support for github.{permission,repository_public} fields
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-audit-json.log-expected.json
  packages/github/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/audit/fields/fields.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Github

#7374 windows: reconcile forwarded event pipelines with their non-forwarded equivalents
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-sysmon-operational-events.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell_operational.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/sysmon_operational.yml
  packages/windows/data_stream/forwarded/sample_event.json
  packages/windows/data_stream/powershell/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell/sample_event.json
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell_operational/sample_event.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#7581 [Cloud Security] D4C v1.2.0 (documentation update)
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/manifest.yml
Labels: Team:Cloud Security

#7556 [GCP][CloudSQL] Set metric type
  packages/gcp/changelog.yml
  packages/gcp/data_stream/cloudsql_mysql/fields/fields.yml
  packages/gcp/data_stream/cloudsql_postgresql/fields/fields.yml
  packages/gcp/data_stream/cloudsql_sqlserver/fields/fields.yml
  packages/gcp/docs/cloudsql.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#7558 [O11y][Azure Metrics] Migrate Compute VM Guest Linux Metrics Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/kibana/dashboard/azure_metrics-d8e3c5f0-feaf-11eb-8fff-87871c582eca.json
  packages/azure_metrics/manifest.yml
Labels: enhancement

#7444 [O11y][PHP-FPM] Resolve the conflict in host.ip field
  packages/php_fpm/_dev/build/docs/README.md
  packages/php_fpm/changelog.yml
  packages/php_fpm/data_stream/pool/fields/ecs.yml
  packages/php_fpm/data_stream/process/fields/ecs.yml
  packages/php_fpm/docs/README.md
  packages/php_fpm/manifest.yml
Labels: Integration:php-fpm, bugfix

#7494 [O11y][GoLang] Resolve the conflict in host.ip field
  packages/golang/_dev/build/docs/README.md
  packages/golang/changelog.yml
  packages/golang/data_stream/expvar/fields/ecs.yml
  packages/golang/data_stream/heap/fields/ecs.yml
  packages/golang/docs/README.md
  packages/golang/manifest.yml
Labels: Integration:Golang, bugfix

#7375 [O11y][Azure] Migration of Azure AD Provisioning Logs dashboard to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-3cdf69c0-32d9-11ed-a2e6-916b60bbea71.json
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, dashboard

#7562 [O11y][Azure Metrics] Migrate Compute VM Guest ASP.NET & Sql Server dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/kibana/dashboard/azure_metrics-a6f5d430-eaa6-11e9-90ec-112a988266d5.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, azure_metrics

#7557 [O11y][Azure Metrics] Migrate Compute VM Guest Memory & Process Metrics dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/kibana/dashboard/azure_metrics-b6b434c0-feae-11eb-8fff-87871c582eca.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, azure_metrics

#7563 [O11y][Azure Metrics] Migrate Container Registry Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-container-registry-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-72fe31e7-ea7d-4796-94d1-8f0a091904e2.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, azure_metrics

#7459 [O11y][GCP]Migrate GCP Load Balancing TCP SSL Proxy Overview dashboard to lens
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:GCP, dashboard

#7580 o365: increase CEL resource.tracer.maxsize limit
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#7560 [GCP] Set metric type for Cloud Run, Compute, Dataproc and Firestore data streams
  packages/gcp/changelog.yml
  packages/gcp/data_stream/cloudrun_metrics/fields/fields.yml
  packages/gcp/data_stream/compute/fields/fields.yml
  packages/gcp/data_stream/dataproc/fields/fields.yml
  packages/gcp/data_stream/firestore/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/compute.md
  packages/gcp/docs/dataproc.md
  packages/gcp/docs/firestore.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#7568 [ti_cybersixgill] - update package-spec to 2.10.0
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/_dev/test/pipeline/test-cybersixgill-ndjson.log-expected.json
  packages/ti_cybersixgill/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cybersixgill/data_stream/threat/fields/fields.yml
  packages/ti_cybersixgill/data_stream/threat/sample_event.json
  packages/ti_cybersixgill/docs/README.md
  packages/ti_cybersixgill/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cybersixgill

#7570 [ti_misp] - update package-spec to 2.10.0
  packages/ti_misp/_dev/deploy/docker/files/config.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat/sample_event.json
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat_attributes/fields/ecs.yml
  packages/ti_misp/data_stream/threat_attributes/sample_event.json
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MISP

#7497 [AWS][EC2] Enable TSDB by default
  packages/aws/changelog.yml
  packages/aws/data_stream/ec2_metrics/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#7604 cisco_asa: add support for unspecified reason AAA user authentication rejection
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#7607 [Istio] Revert Istio metric type to object
  packages/istio/changelog.yml
  packages/istio/data_stream/istiod_metrics/fields/fields.yml
  packages/istio/data_stream/proxy_metrics/fields/fields.yml
  packages/istio/docs/README.md
  packages/istio/manifest.yml
Labels: Integration:Istio

#7605 [Cloud Security] [AWS Orgs] CloudFormation: Validate OrganizationalUnitIds
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#7516 [Fortinet Fortigate] Change default TCP framing to RFC 6587
  packages/fortinet_fortigate/_dev/build/docs/README.md
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/manifest.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: Team:Security-External Integrations, Integration:Fortinet, bugfix

#7572 [cisco_secure_email_gateway] Correct escaping to match both Unix and Windows-style paths
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#7574 [ti_otx] - update package-spec to 2.10.0
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-no-preserve-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-sample-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_otx/data_stream/threat/sample_event.json
  packages/ti_otx/docs/README.md
  packages/ti_otx/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AlienVaultOTX

#7589 [ti_threatq] - update package-spec to 2.10.0
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatq/data_stream/threat/sample_event.json
  packages/ti_threatq/docs/README.md
  packages/ti_threatq/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:ThreatQ

#7590 [cyberarkpas] - update package-spec to 2.10.0
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/data_stream/audit/_dev/test/pipeline/test-178-get-user-s-details.log-expected.json
  packages/cyberarkpas/data_stream/audit/_dev/test/pipeline/test-23-action-on-closed-safe.log-expected.json
  packages/cyberarkpas/data_stream/audit/_dev/test/pipeline/test-479-security-warning-the-signature-hash-algorithm-of-the-vault-certificate-is-sha1.log-expected.json
  packages/cyberarkpas/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cyberarkpas/data_stream/audit/sample_event.json
  packages/cyberarkpas/docs/README.md
  packages/cyberarkpas/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CyberArkPAS

#7602 [pfsense] - update package-spec to 2.10.0
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/fields/fields.yml
  packages/pfsense/data_stream/log/sample_event.json
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:pfSense

#7551 [Azure] [Container Service] Normalize azure.dimensions.status metric values to lowercase
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_service/_dev/test/pipeline/test-azure-container-service.json
  packages/azure_metrics/data_stream/container_service/_dev/test/pipeline/test-azure-container-service.json-expected.json
  packages/azure_metrics/data_stream/container_service/elasticsearch/ingest_pipeline/default.yml
  packages/azure_metrics/manifest.yml
Labels: Integration:Azure

#7611 [Elastic Agent] Add queue depth, output batch size and rate
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/auditbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_logs/fields/fields.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent, Integration:Elastic-Agent, >enhancement

#7376 [O11y][Azure] Migration of Azure AD Identity Protection dashboard to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-5ee36c30-32dc-11ed-a2e6-916b60bbea71.json
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, dashboard

#7458 [O11y][GCP] Migrate GCP Load Balancing HTTPS Overview dashboard to lens
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:GCP, dashboard

#7575 [ti_rapid7_threat_command] - update package-spec to 2.10.0
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/data_stream/alert/sample_event.json
  packages/ti_rapid7_threat_command/data_stream/ioc/fields/fields.yml
  packages/ti_rapid7_threat_command/data_stream/ioc/sample_event.json
  packages/ti_rapid7_threat_command/data_stream/vulnerability/sample_event.json
  packages/ti_rapid7_threat_command/docs/README.md
  packages/ti_rapid7_threat_command/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Rapid7-Threat-Command

#7599 [cisco_secure_email_gateway] - update package-spec to 2.10.0
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-error.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-text-mail.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/fields.yml
  packages/cisco_secure_email_gateway/data_stream/log/sample_event.json
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#7601 [forgerock] - update package-spec to 2.10.0
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/am_access/sample_event.json
  packages/forgerock/data_stream/am_activity/sample_event.json
  packages/forgerock/data_stream/am_authentication/sample_event.json
  packages/forgerock/data_stream/am_config/_dev/test/pipeline/test-am-config.log-expected.json
  packages/forgerock/data_stream/am_config/elasticsearch/ingest_pipeline/default.yml
  packages/forgerock/data_stream/am_config/sample_event.json
  packages/forgerock/data_stream/am_core/sample_event.json
  packages/forgerock/data_stream/idm_access/sample_event.json
  packages/forgerock/data_stream/idm_activity/sample_event.json
  packages/forgerock/data_stream/idm_authentication/sample_event.json
  packages/forgerock/data_stream/idm_config/sample_event.json
  packages/forgerock/data_stream/idm_core/sample_event.json
  packages/forgerock/data_stream/idm_sync/sample_event.json
  packages/forgerock/docs/README.md
  packages/forgerock/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:ForgeRock

#7613 [ti_anomali] - update package-spec to 2.10.0
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/pipeline/test-anomali-threatstream.json-expected.json
  packages/ti_anomali/data_stream/threatstream/elasticsearch/ilm/default_policy.json
  packages/ti_anomali/data_stream/threatstream/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Anomali

#6751 Add synthetics estimator dashboard based on adhoc data view
  packages/synthetics/changelog.yml
  packages/synthetics/kibana/dashboard/synthetics-e465c570-1561-11ee-9d3b-15ab835418fd.json
  packages/synthetics/kibana/index_pattern/7258d186-6430-4b51-bb67-2603cdfb4652.json
  packages/synthetics/manifest.yml
Labels: enhancement, Team:Uptime

#7571 Create heartbeat datastream for cloud-defend
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/heartbeat/agent/stream/stream.yml.hbs
  packages/cloud_defend/data_stream/heartbeat/fields/base-fields.yml
  packages/cloud_defend/data_stream/heartbeat/fields/fields.yml
  packages/cloud_defend/data_stream/heartbeat/manifest.yml
  packages/cloud_defend/manifest.yml
Labels: enhancement
