Repository elastic/integrations, pull requests merged in 2023-10, with the labels that each got.

#7716 Undefined log.file.* fields breaking tests for filestream inputs
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/access/fields/beats.yml
  packages/apache_tomcat/data_stream/access/sample_event.json
  packages/apache_tomcat/data_stream/cache/sample_event.json
  packages/apache_tomcat/data_stream/catalina/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/catalina/fields/beats.yml
  packages/apache_tomcat/data_stream/catalina/sample_event.json
  packages/apache_tomcat/data_stream/connection_pool/sample_event.json
  packages/apache_tomcat/data_stream/localhost/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/localhost/fields/beats.yml
  packages/apache_tomcat/data_stream/localhost/sample_event.json
  packages/apache_tomcat/data_stream/memory/sample_event.json
  packages/apache_tomcat/data_stream/request/sample_event.json
  packages/apache_tomcat/data_stream/session/sample_event.json
  packages/apache_tomcat/data_stream/thread_pool/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
  packages/coredns/changelog.yml
  packages/coredns/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/coredns/data_stream/log/fields/agent.yml
  packages/coredns/data_stream/log/sample_event.json
  packages/coredns/docs/README.md
  packages/coredns/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7957 [gcp] Add tags.yml file and upgrade to package spec 3.0
  packages/gcp/changelog.yml
  packages/gcp/data_stream/loadbalancing_logs/manifest.yml
  packages/gcp/kibana/dashboard/gcp-1ae960c0-f9f8-11eb-bc38-79936db7c106.json
  packages/gcp/kibana/dashboard/gcp-2b0fd7b0-feac-11ea-b032-d59f894a5072.json
  packages/gcp/kibana/dashboard/gcp-48e12760-cbe4-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/dashboard/gcp-8a1fb690-cbeb-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-9484a4cd-685f-450e-aeaa-728fbdbea20f.json
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-ca401040-8e52-11ea-9fa6-4d675d5290dc.json
  packages/gcp/kibana/dashboard/gcp-f40ee870-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/kibana/tags.yml
  packages/gcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:GCP

#8037 [okta] Add tags.yml file so that integration's dashboards and saved searches are tagged with 'Security Solution'
  packages/okta/changelog.yml
  packages/okta/kibana/dashboard/okta-749203a0-67b1-11ea-a76f-bf44814e437d.json
  packages/okta/kibana/tags.yml
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#7894 Osquery_manager: Upgrade osquery_manager for serverless, pick up ECS 8.10.0
  packages/osquery_manager/_dev/build/build.yml
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/fields/base-fields.yml
  packages/osquery_manager/data_stream/result/fields/ecs.yml
  packages/osquery_manager/data_stream/result/fields/osquery.yml
  packages/osquery_manager/manifest.yml
Labels: enhancement

#8027 [aws] Add configuration option for TLD for httpjson inputs
  packages/aws/changelog.yml
  packages/aws/data_stream/guardduty/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/inspector/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/inspector/manifest.yml
  packages/aws/data_stream/securityhub_findings/_dev/deploy/docker/docker-compose.yml
  packages/aws/data_stream/securityhub_findings/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/securityhub_findings/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_findings/manifest.yml
  packages/aws/data_stream/securityhub_insights/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_insights/manifest.yml
  packages/aws/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AWS

#8007 [Cloud Security] Add GCP rule templates
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/00bb0b02-fe51-5b6b-a2b5-d51608ec7d4c.json
  packages/cloud_security_posture/kibana/csp_rule_template/1e4f8b50-90e4-5e99-8a40-a21b142eb6b4.json
  packages/cloud_security_posture/kibana/csp_rule_template/27acd88e-c64f-5e9e-9cff-2de649f92ccf.json
  packages/cloud_security_posture/kibana/csp_rule_template/37fc1edc-a59d-5e63-a530-d3d088195865.json
  packages/cloud_security_posture/kibana/csp_rule_template/8f88e7f7-6924-5913-bc18-95fcdc5ae744.json
  packages/cloud_security_posture/kibana/csp_rule_template/a9f473e3-a8b4-5076-b59a-f0d1c5a961ba.json
  packages/cloud_security_posture/kibana/csp_rule_template/e06f9ef1-eedb-5f95-b8d4-36d27d602afd.json
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#8045 [synthetics] Update synthetics minor for 8.11 changes
  packages/synthetics/changelog.yml
  packages/synthetics/kibana/dashboard/synthetics-e465c570-1561-11ee-9d3b-15ab835418fd.json
  packages/synthetics/kibana/index_pattern/7258d186-6430-4b51-bb67-2603cdfb4652.json
  packages/synthetics/manifest.yml
Labels: bug, Team:Uptime, v8.11.0

#6985 [Suricata] Add Observer Metadata
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-config.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-config.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-expected.json
  packages/suricata/data_stream/eve/agent/stream/log.yml.hbs
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml
  packages/suricata/data_stream/eve/fields/ecs.yml
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: Team:Security-External Integrations, Integration:Suricata

#8053 cisco_asa,cisco_ftd,juniper_srx: remove redundant regular expression quantifier
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Juniper SRX, Integration:CiscoFTD, Integration:CiscoASA

#7488 [Azure Storage Account] Add metric_type metadata to the datastream
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/storage_account/fields/fields.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/storage_account.md
  packages/azure_metrics/manifest.yml
Labels: enhancement

#8043 [cloud_security_posture] Allow multiple installations
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#7839 [wiz] Initial Release for Wiz
  .github/CODEOWNERS
  packages/wiz/_dev/build/build.yml
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/_dev/deploy/docker/docker-compose.yml
  packages/wiz/_dev/deploy/docker/files/config-audit.yml
  packages/wiz/_dev/deploy/docker/files/config-issue.yml
  packages/wiz/_dev/deploy/docker/files/config-vulnerability.yml
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/wiz/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/wiz/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/wiz/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/audit/fields/base-fields.yml
  packages/wiz/data_stream/audit/fields/beats.yml
  packages/wiz/data_stream/audit/fields/fields.yml
  packages/wiz/data_stream/audit/manifest.yml
  packages/wiz/data_stream/audit/sample_event.json
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-common-config.yml
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log-expected.json
  packages/wiz/data_stream/issue/_dev/test/system/test-default-config.yml
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/issue/fields/base-fields.yml
  packages/wiz/data_stream/issue/fields/beats.yml
  packages/wiz/data_stream/issue/fields/fields.yml
  packages/wiz/data_stream/issue/manifest.yml
  packages/wiz/data_stream/issue/sample_event.json
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/fields/base-fields.yml
  packages/wiz/data_stream/vulnerability/fields/beats.yml
  packages/wiz/data_stream/vulnerability/fields/fields.yml
  packages/wiz/data_stream/vulnerability/manifest.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/img/wiz-logo.svg
  packages/wiz/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#8073 [Security Rules] Update security rules package to v8.7.14-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0678bc9c-b71a-433b-87e6-2f664b6b3131_1.json
  packages/security_detection_engine/kibana/security_rule/18a5dd9a-e3fa-4996-99b1-ae533b8f27fc_1.json
  packages/security_detection_engine/kibana/security_rule/19e9daf3-f5c5-4bc2-a9af-6b1e97098f03_1.json
  packages/security_detection_engine/kibana/security_rule/2377946d-0f01-4957-8812-6878985f515d_1.json
  packages/security_detection_engine/kibana/security_rule/301571f3-b316-4969-8dd0-7917410030d3_1.json
  packages/security_detection_engine/kibana/security_rule/36c48a0c-c63a-4cbc-aee1-8cac87db31a9_1.json
  packages/security_detection_engine/kibana/security_rule/3e0561b5-3fac-4461-84cc-19163b9aaa61_1.json
  packages/security_detection_engine/kibana/security_rule/3f4e2dba-828a-452a-af35-fe29c5e78969_1.json
  packages/security_detection_engine/kibana/security_rule/814d96c7-2068-42aa-ba8e-fe0ddd565e2e_1.json
  packages/security_detection_engine/kibana/security_rule/8d366588-cbd6-43ba-95b4-0971c3f906e5_1.json
  packages/security_detection_engine/kibana/security_rule/a74c60cb-70ee-4629-a127-608ead14ebf1_1.json
  packages/security_detection_engine/kibana/security_rule/a8d35ca0-ad8d-48a9-9f6c-553622dca61a_1.json
  packages/security_detection_engine/kibana/security_rule/be4c5aed-90f5-4221-8bd5-7ab3a4334751_1.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_1.json
  packages/security_detection_engine/kibana/security_rule/e9b0902b-c515-413b-b80b-a8dcebc81a66_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.7.0

#8075 [Security Rules] Update security rules package to v8.9.7-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0678bc9c-b71a-433b-87e6-2f664b6b3131_1.json
  packages/security_detection_engine/kibana/security_rule/18a5dd9a-e3fa-4996-99b1-ae533b8f27fc_1.json
  packages/security_detection_engine/kibana/security_rule/19e9daf3-f5c5-4bc2-a9af-6b1e97098f03_1.json
  packages/security_detection_engine/kibana/security_rule/2377946d-0f01-4957-8812-6878985f515d_1.json
  packages/security_detection_engine/kibana/security_rule/301571f3-b316-4969-8dd0-7917410030d3_1.json
  packages/security_detection_engine/kibana/security_rule/36c48a0c-c63a-4cbc-aee1-8cac87db31a9_1.json
  packages/security_detection_engine/kibana/security_rule/3e0561b5-3fac-4461-84cc-19163b9aaa61_1.json
  packages/security_detection_engine/kibana/security_rule/3f4e2dba-828a-452a-af35-fe29c5e78969_1.json
  packages/security_detection_engine/kibana/security_rule/814d96c7-2068-42aa-ba8e-fe0ddd565e2e_1.json
  packages/security_detection_engine/kibana/security_rule/8d366588-cbd6-43ba-95b4-0971c3f906e5_1.json
  packages/security_detection_engine/kibana/security_rule/a74c60cb-70ee-4629-a127-608ead14ebf1_1.json
  packages/security_detection_engine/kibana/security_rule/a8d35ca0-ad8d-48a9-9f6c-553622dca61a_1.json
  packages/security_detection_engine/kibana/security_rule/be4c5aed-90f5-4221-8bd5-7ab3a4334751_1.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_105.json
  packages/security_detection_engine/kibana/security_rule/e9b0902b-c515-413b-b80b-a8dcebc81a66_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.9.0

#8074 [Security Rules] Update security rules package to v8.8.12-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0678bc9c-b71a-433b-87e6-2f664b6b3131_1.json
  packages/security_detection_engine/kibana/security_rule/18a5dd9a-e3fa-4996-99b1-ae533b8f27fc_1.json
  packages/security_detection_engine/kibana/security_rule/19e9daf3-f5c5-4bc2-a9af-6b1e97098f03_1.json
  packages/security_detection_engine/kibana/security_rule/2377946d-0f01-4957-8812-6878985f515d_1.json
  packages/security_detection_engine/kibana/security_rule/301571f3-b316-4969-8dd0-7917410030d3_1.json
  packages/security_detection_engine/kibana/security_rule/36c48a0c-c63a-4cbc-aee1-8cac87db31a9_1.json
  packages/security_detection_engine/kibana/security_rule/3e0561b5-3fac-4461-84cc-19163b9aaa61_1.json
  packages/security_detection_engine/kibana/security_rule/3f4e2dba-828a-452a-af35-fe29c5e78969_1.json
  packages/security_detection_engine/kibana/security_rule/814d96c7-2068-42aa-ba8e-fe0ddd565e2e_1.json
  packages/security_detection_engine/kibana/security_rule/8d366588-cbd6-43ba-95b4-0971c3f906e5_1.json
  packages/security_detection_engine/kibana/security_rule/a74c60cb-70ee-4629-a127-608ead14ebf1_1.json
  packages/security_detection_engine/kibana/security_rule/a8d35ca0-ad8d-48a9-9f6c-553622dca61a_1.json
  packages/security_detection_engine/kibana/security_rule/be4c5aed-90f5-4221-8bd5-7ab3a4334751_1.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_105.json
  packages/security_detection_engine/kibana/security_rule/e9b0902b-c515-413b-b80b-a8dcebc81a66_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.8.0

#8076 [Security Rules] Update security rules package to v8.10.4-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0678bc9c-b71a-433b-87e6-2f664b6b3131_1.json
  packages/security_detection_engine/kibana/security_rule/18a5dd9a-e3fa-4996-99b1-ae533b8f27fc_1.json
  packages/security_detection_engine/kibana/security_rule/19e9daf3-f5c5-4bc2-a9af-6b1e97098f03_1.json
  packages/security_detection_engine/kibana/security_rule/2377946d-0f01-4957-8812-6878985f515d_1.json
  packages/security_detection_engine/kibana/security_rule/301571f3-b316-4969-8dd0-7917410030d3_1.json
  packages/security_detection_engine/kibana/security_rule/36c48a0c-c63a-4cbc-aee1-8cac87db31a9_1.json
  packages/security_detection_engine/kibana/security_rule/3e0561b5-3fac-4461-84cc-19163b9aaa61_1.json
  packages/security_detection_engine/kibana/security_rule/3f4e2dba-828a-452a-af35-fe29c5e78969_1.json
  packages/security_detection_engine/kibana/security_rule/814d96c7-2068-42aa-ba8e-fe0ddd565e2e_1.json
  packages/security_detection_engine/kibana/security_rule/8d366588-cbd6-43ba-95b4-0971c3f906e5_1.json
  packages/security_detection_engine/kibana/security_rule/a74c60cb-70ee-4629-a127-608ead14ebf1_1.json
  packages/security_detection_engine/kibana/security_rule/a8d35ca0-ad8d-48a9-9f6c-553622dca61a_1.json
  packages/security_detection_engine/kibana/security_rule/be4c5aed-90f5-4221-8bd5-7ab3a4334751_1.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_105.json
  packages/security_detection_engine/kibana/security_rule/e9b0902b-c515-413b-b80b-a8dcebc81a66_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.10.0

#8051 [ECS] Updating journald to ECS 8.10 for new `process.thread.capabilities.effective`
  packages/journald/_dev/build/build.yml
  packages/journald/_dev/deploy/docker/docker-compose.yml
  packages/journald/changelog.yml
  packages/journald/docs/README.md
  packages/journald/fields/ecs.yml
  packages/journald/manifest.yml
  packages/journald/sample_event.json
Labels: enhancement, Team:Security-External Integrations, Integration:journald

#8056 forgerock: use dynamic mappings for object fields
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/am_access/fields/forgerock-fields.yml
  packages/forgerock/data_stream/am_activity/fields/forgerock-fields.yml
  packages/forgerock/docs/README.md
  packages/forgerock/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:ForgeRock

#8042 [cloud_security_posture] Add Azure rule templates
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/02ca1a3a-559e-53d7-afcd-8e3774c4efb9.json
  packages/cloud_security_posture/kibana/csp_rule_template/1d0a20ee-ad20-5416-84c8-32c0f69b209b.json
  packages/cloud_security_posture/kibana/csp_rule_template/1f9c62f6-5c4a-59e6-9a12-0260b7e04a37.json
  packages/cloud_security_posture/kibana/csp_rule_template/26ff6dff-042f-5901-8191-0e347d113e9e.json
  packages/cloud_security_posture/kibana/csp_rule_template/34c9c662-5072-5195-835e-48da9be5047f.json
  packages/cloud_security_posture/kibana/csp_rule_template/368b52f8-b468-5fc7-9e47-b1b5e040e051.json
  packages/cloud_security_posture/kibana/csp_rule_template/449bf7bf-8070-580f-a3aa-66bc7f94a721.json
  packages/cloud_security_posture/kibana/csp_rule_template/5133d843-d913-5c1c-930f-89560b828704.json
  packages/cloud_security_posture/kibana/csp_rule_template/61ab077c-fc0f-5920-8bcf-ccc037a4139b.json
  packages/cloud_security_posture/kibana/csp_rule_template/6d58f558-d07a-541c-b720-689459524679.json
  packages/cloud_security_posture/kibana/csp_rule_template/76fea8f6-7bf2-5dc4-85f0-1aec20fbf100.json
  packages/cloud_security_posture/kibana/csp_rule_template/77d274cb-69ae-5a85-b8f6-ba192aee8af4.json
  packages/cloud_security_posture/kibana/csp_rule_template/7d1de53a-a32e-55c0-b412-317ed91f65e0.json
  packages/cloud_security_posture/kibana/csp_rule_template/80db9189-cd4d-572a-94dc-e635ee8af7fa.json
  packages/cloud_security_posture/kibana/csp_rule_template/8233dcc7-c6af-5110-b7d4-239a70d7bed5.json
  packages/cloud_security_posture/kibana/csp_rule_template/83fe7d80-9b1b-50a1-8aad-c68fd26dfdd4.json
  packages/cloud_security_posture/kibana/csp_rule_template/84c7925a-42ff-5999-b784-ab037f6242c6.json
  packages/cloud_security_posture/kibana/csp_rule_template/a3ffdc15-c93b-52a5-8e26-a27103b85bf3.json
  packages/cloud_security_posture/kibana/csp_rule_template/a4b61e0e-b0ca-53c5-a744-4587c57e0f2d.json
  packages/cloud_security_posture/kibana/csp_rule_template/aa06a6a1-9cc3-5064-86bd-0f6dd7f80a11.json
  packages/cloud_security_posture/kibana/csp_rule_template/ad4de26d-02a8-5202-b718-48147bf0fd03.json
  packages/cloud_security_posture/kibana/csp_rule_template/bc5fb87e-7195-5318-9a2f-b8f6d487f961.json
  packages/cloud_security_posture/kibana/csp_rule_template/dfc17731-aa8f-5ecc-878b-113d1db009ca.json
  packages/cloud_security_posture/kibana/csp_rule_template/e1b73c05-5137-5b65-9513-6f8018b6deff.json
  packages/cloud_security_posture/kibana/csp_rule_template/e3c6b85b-703e-5891-a01f-640d59ec449e.json
  packages/cloud_security_posture/kibana/csp_rule_template/ea3378aa-250e-50d8-9260-ff8237cf09a2.json
  packages/cloud_security_posture/kibana/csp_rule_template/efec59bf-4563-5da7-a1db-f5c28e93b21f.json
  packages/cloud_security_posture/kibana/csp_rule_template/f1322e13-3fb3-5c9c-be8e-29d4ae293d22.json
  packages/cloud_security_posture/kibana/csp_rule_template/f55af438-f955-51d3-b42f-60b0d48d86e4.json
  packages/cloud_security_posture/kibana/csp_rule_template/f8c6e5cf-cfce-5c11-b303-a20c7c1cd694.json
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#8084 [Cloud Security] Bump integration version
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#8016 [O11y][Prometheus] Migrate Prometheus Server Overview dashboard to lens
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/data_stream/remote_write/fields/fields.yml
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/img/prometheus-server-overview.png
  packages/prometheus/kibana/dashboard/prometheus-c181a040-3d96-11ed-b624-b12467b8df74.json
  packages/prometheus/manifest.yml
Labels: enhancement, Integration:Prometheus

#8089 [Cisco ASA] Fix the processing of the protocol field for 313005
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoASA, bugfix

#8090 [m365_defender] Fix duplicate event.original field
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
  packages/m365_defender/validation.yml
Labels: bug, Team:Security-External Integrations, Integration: M365_Defender

#8080 zeek: use dynamic mapping for object fields
  packages/zeek/changelog.yml
  packages/zeek/data_stream/intel/fields/fields.yml
  packages/zeek/docs/README.md
  packages/zeek/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zeek

#8097 [box_events] - Clean-up field definitions
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/fields/agent.yml
  packages/box_events/data_stream/events/fields/base-fields.yml
  packages/box_events/data_stream/events/fields/ecs.yml
  packages/box_events/data_stream/events/fields/fields.yml
  packages/box_events/docs/README.md
  packages/box_events/manifest.yml
  packages/box_events/validation.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Box

#8058 [O11y][Containerd Metrics] Migrate Containerd Overview Dashboard to lens
  packages/containerd/changelog.yml
  packages/containerd/img/containerd-screenshot.png
  packages/containerd/kibana/dashboard/containerd-53ba62e0-79dd-11ec-af32-5f2c93bb0f7e.json
  packages/containerd/manifest.yml
Labels: enhancement, dashboard, Integration:Containerd

#7651 [Golang] Migrate to GA
  packages/golang/changelog.yml
  packages/golang/manifest.yml
Labels: Integration:Golang

#8093 Add Bot fields to HTTP events in Cloudflare integrations
  packages/cloudflare/_dev/deploy/docker/files/config.yml
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/sample_event.json
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log-expected.json
  packages/cloudflare/data_stream/logpull/agent/stream/httpjson.yml.hbs
  packages/cloudflare/data_stream/logpull/elasticsearch/ingest_pipeline/http.yml
  packages/cloudflare/data_stream/logpull/fields/fields.yml
  packages/cloudflare/data_stream/logpull/sample_event.json
  packages/cloudflare/docs/README.md
  packages/cloudflare/manifest.yml
  packages/cloudflare/validation.yml
  packages/cloudflare_logpush/_dev/deploy/docker/sample_logs/http_request.log
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/fields/fields.yml
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
  packages/cloudflare_logpush/validation.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cloudflare, Integration:Cloudflare Logpush

#7659 [Olly] [AWS] Update Billing Overview dashboard
  packages/aws/changelog.yml
  packages/aws/img/metricbeat-aws-billing-overview.png
  packages/aws/kibana/dashboard/aws-e6776b10-1534-11ea-841c-01bf20a6c8ba.json
  packages/aws/manifest.yml
Labels: Integration:AWS, bugfix

#8061 [O11y][Apache Spark] Update MBean for driver datastream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/driver/agent/stream/stream.yml.hbs
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8032 [Synthetics] Break out synthetics dashboard integration with adhoc data views
  .github/CODEOWNERS
  packages/synthetics_dashboards/changelog.yml
  packages/synthetics_dashboards/docs/README.md
  packages/synthetics_dashboards/img/uptime-logo-color-64px.svg
  packages/synthetics_dashboards/kibana/dashboard/synthetics_dashboards-e465c570-1561-11ee-9d3b-15ab835418fd.json
  packages/synthetics_dashboards/manifest.yml
Labels: bug, Team:Uptime, v8.10.0

#8095 [backport] Break out synthetics dashboards
  packages/synthetics/changelog.yml
  packages/synthetics/kibana/dashboard/synthetics-e465c570-1561-11ee-9d3b-15ab835418fd.json
  packages/synthetics/kibana/index_pattern/7258d186-6430-4b51-bb67-2603cdfb4652.json
  packages/synthetics/manifest.yml
Labels: enhancement, Team:Uptime, v8.10.0

#8099 [windows] - Cleanup fields.yml files
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/_dev/test/pipeline/test-events-applocker-exe-8003.json
  packages/windows/data_stream/applocker_exe_and_dll/fields/agent.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/base-fields.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/ecs.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/winlog.yml
  packages/windows/data_stream/applocker_exe_and_dll/manifest.yml
  packages/windows/data_stream/applocker_msi_and_script/_dev/test/pipeline/test-events-applocker-msi-and-script-8006.json
  packages/windows/data_stream/applocker_msi_and_script/fields/agent.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/base-fields.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/ecs.yml
  packages/windows/data_stream/applocker_msi_and_script/fields/winlog.yml
  packages/windows/data_stream/applocker_msi_and_script/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-deployment.json
  packages/windows/data_stream/applocker_packaged_app_deployment/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-deployment.json-expected.json
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/agent.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/base-fields.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/ecs.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/fields/winlog.yml
  packages/windows/data_stream/applocker_packaged_app_execution/_dev/test/pipeline/test-events-microsoft-windows-applocker-packaged-app-execution.json
  packages/windows/data_stream/applocker_packaged_app_execution/fields/agent.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/base-fields.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/ecs.yml
  packages/windows/data_stream/applocker_packaged_app_execution/fields/winlog.yml
  packages/windows/data_stream/forwarded/fields/agent.yml
  packages/windows/data_stream/forwarded/fields/base-fields.yml
  packages/windows/data_stream/forwarded/fields/fields.yml
  packages/windows/data_stream/forwarded/fields/winlog.yml
  packages/windows/data_stream/perfmon/fields/agent.yml
  packages/windows/data_stream/perfmon/fields/base-fields.yml
  packages/windows/data_stream/powershell/fields/agent.yml
  packages/windows/data_stream/powershell/fields/base-fields.yml
  packages/windows/data_stream/powershell/fields/fields.yml
  packages/windows/data_stream/powershell/fields/winlog.yml
  packages/windows/data_stream/powershell_operational/fields/agent.yml
  packages/windows/data_stream/powershell_operational/fields/base-fields.yml
  packages/windows/data_stream/powershell_operational/fields/fields.yml
  packages/windows/data_stream/powershell_operational/fields/winlog.yml
  packages/windows/data_stream/service/fields/agent.yml
  packages/windows/data_stream/service/fields/base-fields.yml
  packages/windows/data_stream/service/fields/fields.yml
  packages/windows/data_stream/service/manifest.yml
  packages/windows/data_stream/sysmon_operational/fields/agent.yml
  packages/windows/data_stream/sysmon_operational/fields/base-fields.yml
  packages/windows/data_stream/sysmon_operational/fields/winlog.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, Integration:Windows, Team:Elastic-Agent

#8083 [TrendMicro VisionOne] Fix Detection API TMV1-Query header
  packages/trend_micro_vision_one/_dev/deploy/docker/files/config.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
  packages/trend_micro_vision_one/validation.yml
Labels: Team:Security-External Integrations, Integration:TrendMicroVisionOne, bugfix

#7826 [O11y][CouchDB] Remove forwarded tag from metrics data streams
  packages/couchdb/changelog.yml
  packages/couchdb/data_stream/server/agent/stream/stream.yml.hbs
  packages/couchdb/data_stream/server/fields/ecs.yml
  packages/couchdb/data_stream/server/manifest.yml
  packages/couchdb/data_stream/server/sample_event.json
  packages/couchdb/docs/README.md
  packages/couchdb/manifest.yml
Labels: Integration:CouchDB, bugfix

#7959 [O11y][STAN] Fix reference error in Channel Overview dashboard
  packages/stan/changelog.yml
  packages/stan/kibana/visualization/stan-0e412fe0-4371-11ea-b0c6-cb14c0977bd1.json
  packages/stan/kibana/visualization/stan-46a07ac0-436d-11ea-b0c6-cb14c0977bd1.json
  packages/stan/manifest.yml
Labels: Integration:Stan, dashboard, bugfix

#7828 [O11y][IBM MQ] Remove forwarded tag from metrics data streams
  packages/ibmmq/changelog.yml
  packages/ibmmq/data_stream/qmgr/agent/stream/stream.yml.hbs
  packages/ibmmq/data_stream/qmgr/manifest.yml
  packages/ibmmq/data_stream/qmgr/sample_event.json
  packages/ibmmq/docs/README.md
  packages/ibmmq/manifest.yml
Labels: Integration:IBM-MQ, bugfix

#7829 [O11y][Websphere Application Server] Remove forwarded tag from metrics data streams
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/data_stream/jdbc/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/jdbc/manifest.yml
  packages/websphere_application_server/data_stream/jdbc/sample_event.json
  packages/websphere_application_server/data_stream/servlet/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/servlet/manifest.yml
  packages/websphere_application_server/data_stream/servlet/sample_event.json
  packages/websphere_application_server/data_stream/session_manager/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/session_manager/manifest.yml
  packages/websphere_application_server/data_stream/session_manager/sample_event.json
  packages/websphere_application_server/data_stream/threadpool/agent/stream/stream.yml.hbs
  packages/websphere_application_server/data_stream/threadpool/manifest.yml
  packages/websphere_application_server/data_stream/threadpool/sample_event.json
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/manifest.yml
Labels: Integration:WebsphereApplicationServer, bugfix

#7827 [O11y][Hadoop] Remove forwarded tag from metrics data streams
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/manifest.yml
  packages/hadoop/data_stream/cluster/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/cluster/manifest.yml
  packages/hadoop/data_stream/cluster/sample_event.json
  packages/hadoop/data_stream/datanode/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/datanode/manifest.yml
  packages/hadoop/data_stream/datanode/sample_event.json
  packages/hadoop/data_stream/namenode/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/namenode/manifest.yml
  packages/hadoop/data_stream/namenode/sample_event.json
  packages/hadoop/data_stream/node_manager/agent/stream/stream.yml.hbs
  packages/hadoop/data_stream/node_manager/manifest.yml
  packages/hadoop/data_stream/node_manager/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
Labels: Integration:Hadoop, bugfix

#7825 [O11y][Couchbase] Remove forwarded tag from metrics data streams
  packages/couchbase/changelog.yml
  packages/couchbase/data_stream/bucket/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/bucket/manifest.yml
  packages/couchbase/data_stream/bucket/sample_event.json
  packages/couchbase/data_stream/cache/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cache/fields/ecs.yml
  packages/couchbase/data_stream/cache/manifest.yml
  packages/couchbase/data_stream/cache/sample_event.json
  packages/couchbase/data_stream/cbl_replication/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cbl_replication/fields/ecs.yml
  packages/couchbase/data_stream/cbl_replication/manifest.yml
  packages/couchbase/data_stream/cbl_replication/sample_event.json
  packages/couchbase/data_stream/cluster/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/cluster/manifest.yml
  packages/couchbase/data_stream/cluster/sample_event.json
  packages/couchbase/data_stream/database_stats/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/database_stats/fields/ecs.yml
  packages/couchbase/data_stream/database_stats/manifest.yml
  packages/couchbase/data_stream/database_stats/sample_event.json
  packages/couchbase/data_stream/miscellaneous/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/miscellaneous/fields/ecs.yml
  packages/couchbase/data_stream/miscellaneous/manifest.yml
  packages/couchbase/data_stream/miscellaneous/sample_event.json
  packages/couchbase/data_stream/node/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/node/manifest.yml
  packages/couchbase/data_stream/node/sample_event.json
  packages/couchbase/data_stream/query_index/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/query_index/fields/ecs.yml
  packages/couchbase/data_stream/query_index/manifest.yml
  packages/couchbase/data_stream/query_index/sample_event.json
  packages/couchbase/data_stream/resource/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/resource/manifest.yml
  packages/couchbase/data_stream/resource/sample_event.json
  packages/couchbase/data_stream/xdcr/agent/stream/stream.yml.hbs
  packages/couchbase/data_stream/xdcr/fields/ecs.yml
  packages/couchbase/data_stream/xdcr/manifest.yml
  packages/couchbase/data_stream/xdcr/sample_event.json
  packages/couchbase/docs/README.md
  packages/couchbase/manifest.yml
Labels: Integration:Couchbase, bugfix

#7823 [O11y][ActiveMQ] Remove forwarded tag from metrics data streams
  packages/activemq/changelog.yml
  packages/activemq/data_stream/broker/agent/stream/stream.yml.hbs
  packages/activemq/data_stream/broker/fields/ecs.yml
  packages/activemq/data_stream/broker/manifest.yml
  packages/activemq/data_stream/broker/sample_event.json
  packages/activemq/data_stream/queue/agent/stream/stream.yml.hbs
  packages/activemq/data_stream/queue/fields/ecs.yml
  packages/activemq/data_stream/queue/manifest.yml
  packages/activemq/data_stream/queue/sample_event.json
  packages/activemq/data_stream/topic/agent/stream/stream.yml.hbs
  packages/activemq/data_stream/topic/fields/ecs.yml
  packages/activemq/data_stream/topic/manifest.yml
  packages/activemq/data_stream/topic/sample_event.json
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
Labels: Integration:ActiveMQ, bugfix

#8136 [Cisco ISE] Added 2 test logs
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-ad-connector.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-administrative-and-operational-audit.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-administrative-and-operational-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-authentication-flow-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-failed-attempts.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-guest.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-identity-stores-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-internal-operations-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-my-devices.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-policy-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-posture-client-provisioning-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-system-statistics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-threat-centric-nac.log-expected.json
Labels: Team:Security-External Integrations

#6743 [System] rework metric dashboards
  packages/system/changelog.yml
  packages/system/img/host-overview.png
  packages/system/img/kibana-system.png
  packages/system/img/metricbeat_system_dashboard.png
  packages/system/img/system-overview.png
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane

#7767 [O11y][Traefik] Add dimension fields for health datastream
  packages/traefik/changelog.yml
  packages/traefik/data_stream/health/fields/ecs.yml
  packages/traefik/docs/README.md
  packages/traefik/manifest.yml
Labels: Integration:Traefik

#7768 [O11y][Traefik] Add metric_type for health datastream
  packages/traefik/changelog.yml
  packages/traefik/data_stream/health/fields/fields.yml
  packages/traefik/docs/README.md
  packages/traefik/manifest.yml
Labels: Integration:Traefik

#8098 [Logstash] Add CEL native data collection, and dashboards for Pipeline and Pipeline Details
  packages/logstash/_dev/build/docs/README.md
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node_cel/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/node_cel/agent/stream/cel.yml.hbs
  packages/logstash/data_stream/node_cel/fields/agent.yml
  packages/logstash/data_stream/node_cel/fields/base-fields.yml
  packages/logstash/data_stream/node_cel/fields/ecs.yml
  packages/logstash/data_stream/node_cel/fields/fields.yml
  packages/logstash/data_stream/node_cel/fields/package-fields.yml
  packages/logstash/data_stream/node_cel/manifest.yml
  packages/logstash/data_stream/node_cel/sample_event.json
  packages/logstash/data_stream/pipeline/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/pipeline/agent/stream/cel.yml.hbs
  packages/logstash/data_stream/pipeline/elasticsearch/ingest_pipeline/default.yml
  packages/logstash/data_stream/pipeline/fields/agent.yml
  packages/logstash/data_stream/pipeline/fields/base-fields.yml
  packages/logstash/data_stream/pipeline/fields/ecs.yml
  packages/logstash/data_stream/pipeline/fields/fields.yml
  packages/logstash/data_stream/pipeline/fields/package-fields.yml
  packages/logstash/data_stream/pipeline/manifest.yml
  packages/logstash/data_stream/pipeline/sample_event.json
  packages/logstash/data_stream/plugins/_dev/test/system/test-default-config.yml
  packages/logstash/data_stream/plugins/agent/stream/cel.yml.hbs
  packages/logstash/data_stream/plugins/elasticsearch/ingest_pipeline/default.yml
  packages/logstash/data_stream/plugins/fields/agent.yml
  packages/logstash/data_stream/plugins/fields/base-fields.yml
  packages/logstash/data_stream/plugins/fields/ecs.yml
  packages/logstash/data_stream/plugins/fields/fields.yml
  packages/logstash/data_stream/plugins/fields/package-fields.yml
  packages/logstash/data_stream/plugins/manifest.yml
  packages/logstash/data_stream/plugins/sample_event.json
  packages/logstash/docs/README.md
  packages/logstash/kibana/dashboard/logstash-79270240-48ee-11ee-8cb5-99927777c522.json
  packages/logstash/kibana/dashboard/logstash-9d450b10-4680-11ee-9ddc-919f87fe352d.json
  packages/logstash/kibana/dashboard/logstash-a42d7060-45e6-11ee-957b-3720c0b0fbc5.json
  packages/logstash/kibana/dashboard/logstash-bc1a8050-5ee1-11ee-8e78-bf6865bc3ffc.json
  packages/logstash/kibana/dashboard/logstash-c0594170-526a-11ee-9ecc-31444cb79548.json
  packages/logstash/kibana/dashboard/logstash-ee860840-41ed-11ee-874b-fdb94cc3273a.json
  packages/logstash/manifest.yml
Labels: enhancement

#7545 [panw] Adding traffic and threat performance benchmarks
  packages/panw/_dev/benchmark/system/threat-benchmark/config.yml
  packages/panw/_dev/benchmark/system/threat-benchmark/fields.yml
  packages/panw/_dev/benchmark/system/threat-benchmark/gotext.tpl
  packages/panw/_dev/benchmark/system/threat-logs.yml
  packages/panw/_dev/benchmark/system/traffic-benchmark/config.yml
  packages/panw/_dev/benchmark/system/traffic-benchmark/fields.yml
  packages/panw/_dev/benchmark/system/traffic-benchmark/gotext.tpl
  packages/panw/_dev/benchmark/system/traffic-logs.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#8142 [O11y][Logs Nginx Ingress Controller] Migrate Nginx Ingress Controller Overview Dashboard to lens
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/img/nginx-ingress-controller-overview.png
  packages/nginx_ingress_controller/kibana/dashboard/nginx_ingress_controller-dfbc0840-f340-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/kibana/map/nginx_ingress_controller-eabe6870-e1da-11ec-baf0-970634a1784d.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-1aa782a0-f345-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-Access-Browsers.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-Access-OSes.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-a3bf1ce0-f347-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-afd506b0-f348-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-ba138ab0-f344-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-ee250270-f344-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/kibana/visualization/nginx_ingress_controller-f137cb40-f345-11ea-a3fd-1b45ec532bb3.json
  packages/nginx_ingress_controller/manifest.yml
Labels: Integration:NGINX-Ingress-Controller, dashboard

#8067 [O11y] [Springboot] support tags to gc, memory and threading datastreams
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/audit_events/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/gc/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/gc/fields/ecs.yml
  packages/spring_boot/data_stream/gc/manifest.yml
  packages/spring_boot/data_stream/gc/sample_event.json
  packages/spring_boot/data_stream/http_trace/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/memory/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/memory/fields/ecs.yml
  packages/spring_boot/data_stream/memory/manifest.yml
  packages/spring_boot/data_stream/memory/sample_event.json
  packages/spring_boot/data_stream/threading/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/threading/fields/ecs.yml
  packages/spring_boot/data_stream/threading/manifest.yml
  packages/spring_boot/data_stream/threading/sample_event.json
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: Integration:SpringBoot

#8113 [amazon_security_lake] Add data subscriber steps in readme
  packages/amazon_security_lake/_dev/build/docs/README.md
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/docs/README.md
  packages/amazon_security_lake/img/another_aws_account.png
  packages/amazon_security_lake/img/external_id.png
  packages/amazon_security_lake/img/home_page.png
  packages/amazon_security_lake/img/queue_url.png
  packages/amazon_security_lake/img/role_arn_and_external_id.png
  packages/amazon_security_lake/img/role_type.png
  packages/amazon_security_lake/img/s3_full_access.png
  packages/amazon_security_lake/img/search.png
  packages/amazon_security_lake/img/sqs_full_access.png
  packages/amazon_security_lake/img/this_account.png
  packages/amazon_security_lake/manifest.yml
Labels: Team:Security-External Integrations, docs, Integration:Amazon Security Lake

#8092 [Cloud Security] Azure: Link to 8.11 ARM template
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#7515 [O11y][Oracle WebLogic] Add dimension fields for deployed_application datastream
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/deployed_application/fields/ecs.yml
  packages/oracle_weblogic/data_stream/deployed_application/fields/fields.yml
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, Integration:oracle_weblogic

#8175 [integrations][Cisco Meraki] - Removed experimental release tags from data streams
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/manifest.yml
  packages/cisco_meraki/data_stream/log/manifest.yml
  packages/cisco_meraki/manifest.yml
Labels: integration, Team:Security-External Integrations, bugfix

#8130 [integrations] - Improve docs & fix minor bugs for Microsoft exchange online message trace
  packages/microsoft_exchange_online_message_trace/_dev/build/docs/README.md
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/system/test-httpjson-config.yml
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: integration, Team:Security-External Integrations

#7513 [O11y][Oracle WebLogic] Add metric_type for deployed_application datastream
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/deployed_application/fields/fields.yml
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/manifest.yml
Labels: Integration:oracle_weblogic

#7991 [O11y][Apache Spark] Add dimension mapping for application datastream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/application/fields/ecs.yml
  packages/apache_spark/data_stream/application/fields/fields.yml
  packages/apache_spark/data_stream/application/sample_event.json
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8145 added metrics data streams to fleet_server
  .github/CODEOWNERS
  packages/fleet_server/_dev/build/build.yml
  packages/fleet_server/changelog.yml
  packages/fleet_server/data_stream/agent_status_metrics/fields/base-fields.yml
  packages/fleet_server/data_stream/agent_status_metrics/fields/fields.yml
  packages/fleet_server/data_stream/agent_status_metrics/manifest.yml
  packages/fleet_server/data_stream/agent_versions_metrics/fields/base-fields.yml
  packages/fleet_server/data_stream/agent_versions_metrics/fields/fields.yml
  packages/fleet_server/data_stream/agent_versions_metrics/manifest.yml
  packages/fleet_server/manifest.yml
Labels: enhancement, Team:Elastic-Agent

#7517 [O11y][Oracle WebLogic] Add dimension fields for threadpool datastream
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/threadpool/agent/stream/stream.yml.hbs
  packages/oracle_weblogic/data_stream/threadpool/elasticsearch/ingest_pipeline/default.yml
  packages/oracle_weblogic/data_stream/threadpool/fields/ecs.yml
  packages/oracle_weblogic/data_stream/threadpool/fields/fields.yml
  packages/oracle_weblogic/data_stream/threadpool/sample_event.json
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, Integration:oracle_weblogic

#7795 [O11y][Apache Spark] Add metric_type for application data stream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/application/fields/fields.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8111 [O11y][Apache Spark] Add dimension mapping for driver datastream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/driver/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/driver/fields/ecs.yml
  packages/apache_spark/data_stream/driver/fields/fields.yml
  packages/apache_spark/data_stream/driver/sample_event.json
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#7903 Removing detection rules from the `problemchild` package
  packages/problemchild/NOTICE.txt
  packages/problemchild/_dev/build/docs/README.md
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/elasticsearch/ingest_pipeline/problem_child_inference_pipeline.yml
  packages/problemchild/fields/base-fields.yml
  packages/problemchild/fields/custom.yml
  packages/problemchild/kibana/ml_module/problemchild-ml.json
  packages/problemchild/kibana/security_rule/34184d4e-ef61-477b-8d76-5c93448c29bf.json
  packages/problemchild/kibana/security_rule/415d6863-7676-401f-aa8d-62f59a28e849.json
  packages/problemchild/kibana/security_rule/86d57ec4-ace5-4456-8145-02e6f0cdd71a.json
  packages/problemchild/kibana/security_rule/9a2e372a-cbeb-4ad6-a288-017ef086324c.json
  packages/problemchild/kibana/security_rule/9b98d945-2cce-45e5-aa84-4b021af0e153.json
  packages/problemchild/kibana/security_rule/a5cb4cd7-ba05-47e8-a815-f95c21719ded.json
  packages/problemchild/kibana/security_rule/ae7c2f69-0c51-4b02-ad54-d3d75023da8b.json
  packages/problemchild/kibana/security_rule/ff590871-371b-468f-8cd8-2876b54c53bd.json
  packages/problemchild/manifest.yml
Labels: breaking change

#7947 Removing detection rules from the `ded` package
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/kibana/ml_module/ded-ml.json
  packages/ded/kibana/security_rule/5576098d-650d-4b0f-a3a1-48b5b0ce4f15.json
  packages/ded/kibana/security_rule/798c1290-6411-486e-bc85-7ae9fe826aaf.json
  packages/ded/kibana/security_rule/7a342a6b-58df-4832-919d-d4bd681e3138.json
  packages/ded/kibana/security_rule/8d4e2e5f-982b-4e8d-b765-a10d648efc33.json
  packages/ded/kibana/security_rule/adafc654-fd21-4ebf-9e4e-db4f2a08efd1.json
  packages/ded/kibana/security_rule/b9d01e71-ac5d-4203-82ed-c1246d6c72c8.json
  packages/ded/kibana/security_rule/da5cd97e-7f3c-40dc-9183-7ef1270e8817.json
  packages/ded/manifest.yml
Labels: breaking change

#8167 ref v8.10.0 ecs tag instead of 8.10 ecs branch
  packages/cloud_defend/_dev/build/build.yml
Labels: enhancement, v8.11.0, Integration:Defend for Containers

#8082 infoblox_bloxone_ddi: fix handling of options fields
  packages/infoblox_bloxone_ddi/_dev/deploy/docker/files/config.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/pipeline/test-pipeline-dhcp-lease.log
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/pipeline/test-pipeline-dhcp-lease.log-expected.json
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/_dev/test/system/test-default-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/pipeline/test-pipeline-dns-data.log
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/pipeline/test-pipeline-dns-data.log-expected.json
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/system/test-default-config.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:infoblox_bloxone_ddi

#8110 [O11y][Apache Spark] Add metric type mapping for driver datastream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/driver/fields/fields.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: enhancement

#7993 [O11y][Apache Spark] Add dimension mapping for Executor datastream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/executor/elasticsearch/ingest_pipeline/default.yml
  packages/apache_spark/data_stream/executor/fields/ecs.yml
  packages/apache_spark/data_stream/executor/fields/fields.yml
  packages/apache_spark/data_stream/executor/sample_event.json
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#7831 [O11y][Apache Spark] Add metric_type for executor data stream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/executor/fields/fields.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8160 [TrendMicro VisionOne] Fix missing request in pipeline
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/manifest.yml
Labels: Team:Security-External Integrations, Integration:TrendMicroVisionOne, bugfix

#7996 [O11y][Apache Spark] Add dimension mapping for Node datastream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/node/fields/ecs.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#7794 [O11y][Apache Spark] Add metric_type for node data stream
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/node/fields/fields.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8182 [Cisco ASA] Support 113015 event and hidden username value
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoASA

#8154 [Wiz] Added Dashboards for all the Data Streams
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/docs/README.md
  packages/wiz/img/wiz-audit-dashboard.png
  packages/wiz/img/wiz-issue-dashboard.png
  packages/wiz/img/wiz-vulnerability-dashboard.png
  packages/wiz/kibana/dashboard/wiz-927c36f0-6358-11ee-a265-c3569aa0cebf.json
  packages/wiz/kibana/dashboard/wiz-be3fd3f0-6358-11ee-9db4-21f79f2e6273.json
  packages/wiz/kibana/dashboard/wiz-d8f91a20-6363-11ee-a265-c3569aa0cebf.json
  packages/wiz/manifest.yml
Labels: Team:Security-External Integrations, Integration:Wiz

#8108 [Data Exfiltration Detection] Update files to add Serverless support to the package
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/kibana/dashboard/ded-c0d7f060-7a6b-11ed-9b26-4bb95b2c57a6.json
  packages/ded/manifest.yml
Labels: enhancement

#8106 [ProblemChild] Update files to add Serverless support to the package
  packages/problemchild/changelog.yml
  packages/problemchild/manifest.yml
Labels: enhancement

#8107 Infoblox_nios: add client geoip and registered_domain processors to dns data
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/data_stream/log/fields/ecs.yml
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#7518 [O11y][Oracle WebLogic] Enable time series data streams for the deployed_application and threadpool
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/deployed_application/manifest.yml
  packages/oracle_weblogic/data_stream/threadpool/manifest.yml
  packages/oracle_weblogic/manifest.yml
Labels: enhancement, Integration:oracle_weblogic

#8041 Update (most) obs-cloud-monitoring owned packages to format_version 3.0.0
  packages/aws_logs/changelog.yml
  packages/aws_logs/manifest.yml
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/fields/ecs.yml
  packages/awsfargate/data_stream/task_stats/fields/fields.yml
  packages/awsfargate/data_stream/task_stats/sample_event.json
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
  packages/awsfargate/validation.yml
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-apigateway-log.json
  packages/awsfirehose/data_stream/logs/fields/fields.yml
  packages/awsfirehose/data_stream/logs/routing_rules.yml
  packages/awsfirehose/manifest.yml
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/data_stream/app_insights/fields/fields.yml
  packages/azure_application_insights/data_stream/app_insights/fields/package-fields.yml
  packages/azure_application_insights/manifest.yml
  packages/azure_application_insights/validation.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/manifest.yml
  packages/azure_billing/validation.yml
  packages/gcp_metrics/_dev/build/build.yml
  packages/gcp_metrics/changelog.yml
  packages/gcp_metrics/manifest.yml
Labels: enhancement

#8169 slack: fix handling of oldest parameter when paginating
  packages/slack/_dev/deploy/docker/docker-compose.yml
  packages/slack/_dev/deploy/docker/files/config.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/slack/manifest.yml
  packages/slack/validation.yml
Labels: bug, Team:Security-External Integrations, Integration:Slack

#8162 [Cloud Security] Update manifest format_version to 3.0.0 for cloud_security_posture package
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/resource.yml
  packages/cloud_security_posture/data_stream/findings/fields/result.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/cloud.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#8121 [Lateral Movement Detection] Update files to add Serverless support to the package
  packages/lmd/changelog.yml
  packages/lmd/elasticsearch/transform/pivot_transform/transform.yml
  packages/lmd/kibana/dashboard/lmd-17fea180-8c4c-11ed-bb03-41a73f349362.json
  packages/lmd/manifest.yml
Labels: enhancement

#8112 [O11y][Apache Spark] Enable time series data stream for the application, driver, executor and node
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/application/manifest.yml
  packages/apache_spark/data_stream/driver/manifest.yml
  packages/apache_spark/data_stream/executor/manifest.yml
  packages/apache_spark/data_stream/node/manifest.yml
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8226 [Cloud Security] Add Elastic-specific tags in CloudFormation
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security, technical-debt

#6788 [O11y][Apache Tomcat] Add TSDB enablement for request and cache data streams and update ecs.yml file
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/cache/fields/ecs.yml
  packages/apache_tomcat/data_stream/cache/manifest.yml
  packages/apache_tomcat/data_stream/cache/sample_event.json
  packages/apache_tomcat/data_stream/request/fields/ecs.yml
  packages/apache_tomcat/data_stream/request/manifest.yml
  packages/apache_tomcat/data_stream/request/sample_event.json
  packages/apache_tomcat/data_stream/session/fields/ecs.yml
  packages/apache_tomcat/data_stream/session/manifest.yml
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, v8.8.0

#8178 [PANW] PAN-OS v11 Support
  packages/panw/_dev/build/docs/README.md
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-config-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-config-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-system-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-system-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#8246 [Cloud Security] Base CloudFormation url only on version
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security, technical-debt

#8206 [system] Adds `tags.yml` file so they appear under the Security Solution UI and upgrades package spec to version 3.0.0
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-config.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth.log-config.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-multiline.log-config.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-secure-rhel7.log-config.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-secure-rhel7.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-timestamp.log-config.yml
  packages/system/data_stream/process/fields/fields.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4663.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4674.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-common-config.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog-sample.log-config.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog-sample.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog.log-config.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-suse-syslog.log-config.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-tz-offset.log-config.yml
  packages/system/docs/README.md
  packages/system/kibana/search/system-62439dc0-f9c9-11e6-a747-6121780e0414.json
  packages/system/kibana/search/system-8030c1b0-fa77-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/search/system-Syslog-system-logs.json
  packages/system/kibana/search/system-b6f321e0-fa25-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/search/system-eb0039f0-fa7f-11e6-a1df-a78bd7504d38.json
  packages/system/kibana/tags.yml
  packages/system/manifest.yml
  packages/system/validation.yml
Labels: Team:Security-External Integrations, Integration:System, Team:Elastic-Agent

#8230 Added field `winlog.event_data.EnabledPrivilegeList` to windows and system integration
  packages/system/changelog.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/winlog.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Team:Elastic-Agent-Data-Plane

#8205 [Cisco ASA] Support patterns with SGT tag:name as username
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/ecs.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
  packages/cisco_asa/validation.yml
Labels: Team:Security-External Integrations, Integration:CiscoASA, bugfix

#8173 [O11y][Apache] Migrate `Uptime` metric visualization to lens
  packages/apache/changelog.yml
  packages/apache/img/apache-metrics-overview.png
  packages/apache/kibana/dashboard/apache-Metrics-Apache-HTTPD-server-status.json
  packages/apache/manifest.yml
Labels: enhancement, Integration:Apache

#8172 [O11y][Hadoop] Update human readable format of metric visualization
  packages/hadoop/changelog.yml
  packages/hadoop/img/hadoop-application-dashboard-screenshot.png
  packages/hadoop/kibana/dashboard/hadoop-3e16f2c0-cd28-11ec-be30-1d9331f0b107.json
  packages/hadoop/manifest.yml
Labels: enhancement, Integration:Hadoop

#7650 [Apache Spark] Migrate to GA
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/changelog.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#8188 [O11y][Stan] Migrate Logs Overview Dashboard Visualizations to Lens
  packages/stan/changelog.yml
  packages/stan/img/logs-stan-overview.png
  packages/stan/kibana/dashboard/stan-Logs-stan-overview.json
  packages/stan/kibana/visualization/stan-04083600-41af-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-0b2061d0-41ad-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-3f6cca40-41ae-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-4a6d9ec0-41a8-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-6987a800-41a8-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-7716c780-41ad-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-7ed62870-41ae-11e9-a4da-b1df688edbcd.json
  packages/stan/kibana/visualization/stan-c3d1ab80-41a8-11e9-a4da-b1df688edbcd.json
  packages/stan/manifest.yml
Labels: Integration:Stan

#8266 [O11y][K8] Migrate DaemonSets dashboard visualizations to lens
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-85879010-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:Kubernetes, dashboard

#8242 windows: make pipeline routing robust to channel letter case
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-1100.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-1100.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows, Team:Elastic-Agent

#8273 google_workspace,infoblox_bloxone_ddi: fix documentation for initial interval config
  packages/google_workspace/changelog.yml
  packages/google_workspace/manifest.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/manifest.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/manifest.yml
  packages/infoblox_bloxone_ddi/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Google Workspace, docs, Integration:infoblox_bloxone_ddi

#8278 [Cloudflare Logpush] Add non_aws_bucket_name option to AWS S3 input
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/access_request/manifest.yml
  packages/cloudflare_logpush/data_stream/audit/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/casb/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/casb/manifest.yml
  packages/cloudflare_logpush/data_stream/device_posture/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/device_posture/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/dns_firewall/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/dns_firewall/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_dns/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_http/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_http/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_network/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_network/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/magic_ids/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/magic_ids/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/network_session/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/network_session/manifest.yml
  packages/cloudflare_logpush/data_stream/sinkhole_http/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/sinkhole_http/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/data_stream/workers_trace/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/workers_trace/manifest.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cloudflare Logpush

#8294 [UDP/TCP] Add reroute processor support
  packages/tcp/changelog.yml
  packages/tcp/data_stream/generic/manifest.yml
  packages/tcp/manifest.yml
  packages/tcp/validation.yml
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/manifest.yml
  packages/udp/manifest.yml
  packages/udp/validation.yml
Labels: enhancement, Team:Security-External Integrations, Integration:TCP, Integration:UDP

#5610 [O11y][HAProxy] Migrate log data-stream visualizations to lens in kibana 8.4.0
  packages/haproxy/changelog.yml
  packages/haproxy/img/haproxy-logs-overview.png
  packages/haproxy/kibana/dashboard/haproxy-3560d580-aa34-11e8-9c06-877f0445e3e0.json
  packages/haproxy/kibana/map/haproxy-b7d14510-e1dd-11ec-baf0-970634a1784d.json
  packages/haproxy/kibana/visualization/haproxy-55251360-aa32-11e8-9c06-877f0445e3e0.json
  packages/haproxy/kibana/visualization/haproxy-68af8ef0-aa33-11e8-9c06-877f0445e3e0.json
  packages/haproxy/kibana/visualization/haproxy-7fb671f0-aa32-11e8-9c06-877f0445e3e0.json
  packages/haproxy/manifest.yml
Labels: enhancement, Integration:HAProxy, v8.4.0, Team:Service-Integrations

#8103 [System] Add RFC 5424 support to Auth datastream
  packages/system/_dev/deploy/docker/docker-compose.yml
  packages/system/_dev/deploy/docker/sample_logs/auth-sample.log
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-5424.log
  packages/system/data_stream/auth/_dev/test/pipeline/test-5424.log-expected.json
  packages/system/data_stream/auth/_dev/test/system/test-default-config.yml
  packages/system/data_stream/auth/agent/stream/log.yml.hbs
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/auth/fields/agent.yml
  packages/system/data_stream/auth/fields/ecs.yml
  packages/system/data_stream/auth/fields/fields.yml
  packages/system/data_stream/auth/sample_event.json
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System

#8300 [cloud_security_posture] GCP OrganizationId must be string
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: bug

#8255 [HAProxy] Fix the Grok pattern for parsing TCP logs
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-tcplog.log
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-tcplog.log-expected.json
  packages/haproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/haproxy/manifest.yml
Labels: bugfix

#8298 jumpcloud: map jumpcloud.event.changes as flattened
  packages/jumpcloud/_dev/deploy/docker/files/config.yml
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/data_stream/events/fields/fields.yml
  packages/jumpcloud/data_stream/events/sample_event.json
  packages/jumpcloud/docs/README.md
  packages/jumpcloud/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:JumpCloud

#8276 [elastic_agent] add data_streams for Universal Profiling services
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/pf_elastic_collector/fields/base-fields.yml
  packages/elastic_agent/data_stream/pf_elastic_collector/fields/ecs.yml
  packages/elastic_agent/data_stream/pf_elastic_collector/fields/fields.yml
  packages/elastic_agent/data_stream/pf_elastic_collector/manifest.yml
  packages/elastic_agent/data_stream/pf_elastic_symbolizer/fields/base-fields.yml
  packages/elastic_agent/data_stream/pf_elastic_symbolizer/fields/ecs.yml
  packages/elastic_agent/data_stream/pf_elastic_symbolizer/fields/fields.yml
  packages/elastic_agent/data_stream/pf_elastic_symbolizer/manifest.yml
  packages/elastic_agent/data_stream/pf_host_agent_logs/fields/base-fields.yml
  packages/elastic_agent/data_stream/pf_host_agent_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/pf_host_agent_logs/fields/fields.yml
  packages/elastic_agent/data_stream/pf_host_agent_logs/manifest.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent

#8326 modsecurity: add missing destination.{as,geo}.* field definitions and mapping
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/fields/ecs.yml
  packages/modsecurity/docs/README.md
  packages/modsecurity/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Modsecurity

#8036 [Fortinet] Add support for 7.4 events
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-6-2.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-6-2.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortigate/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortigate/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/data_stream/log/manifest.yml
  packages/fortinet_fortigate/data_stream/log/sample_event.json
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#8302 [Hashicorp Vault] TSDB enablement for Hashicorp vault
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/metrics/manifest.yml
  packages/hashicorp_vault/manifest.yml
Labels: enhancement, Integration:HashicorpVault

#8010 [winlog] Convert to an input package.
  packages/winlog/_dev/build/build.yml
  packages/winlog/_dev/build/docs/README.md
  packages/winlog/_dev/deploy/docker/docker-compose.yml
  packages/winlog/_dev/deploy/docker/http-mock-config.yml
  packages/winlog/agent/input/winlog.yml.hbs
  packages/winlog/changelog.yml
  packages/winlog/data_stream/winlog/_dev/test/system/test-splunk-config.yml
  packages/winlog/data_stream/winlog/agent/stream/httpjson.yml.hbs
  packages/winlog/data_stream/winlog/fields/agent.yml
  packages/winlog/data_stream/winlog/fields/beats.yml
  packages/winlog/data_stream/winlog/fields/ecs.yml
  packages/winlog/data_stream/winlog/manifest.yml
  packages/winlog/docs/README.md
  packages/winlog/fields/agent.yml
  packages/winlog/fields/base-fields.yml
  packages/winlog/fields/winlog.yml
  packages/winlog/manifest.yml
  packages/winlog/validation.yml
Labels: enhancement, Team:Security-External Integrations, breaking change, Integration:Custom Windows Events

#8241 [docs] Update IIS README to use documentation guidelines
  packages/iis/_dev/build/docs/README.md
  packages/iis/changelog.yml
  packages/iis/docs/README.md
  packages/iis/manifest.yml
Labels: enhancement, Team:Docs, docs

#8240 [docs] Update MSSQL README to use documentation guidelines
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Team:Docs, docs

#8332 [AWS][Security Hub] Update Donut charts with Pie
  packages/aws/changelog.yml
  packages/aws/img/securityhub_summary_dashboard.png
  packages/aws/kibana/dashboard/aws-c9f103d0-5f63-11ed-bd69-473ce047ef30.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS, dashboard

#8265 [O11y][K8] Migrate Deployments dashboard visualizations to lens
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-5be46210-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:Kubernetes, dashboard

#8292 [cisco_secure_email_gateway] Support New Format for Mail Category of logs and Add Pipeline for Antivirus
  packages/cisco_secure_email_gateway/_dev/build/docs/README.md
  packages/cisco_secure_email_gateway/_dev/deploy/docker/sample_logs/antivirus.@123456789.s
  packages/cisco_secure_email_gateway/_dev/deploy/docker/sample_logs/log.log
  packages/cisco_secure_email_gateway/_dev/deploy/docker/sample_logs/mail_logs.@123456789.s
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-anti-spam.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-antivirus.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-antivirus.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-content-scanner.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-error.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-gui-log.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-status.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-system.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-text-mail.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-text-mail.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_amp.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_anti_spam.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_antivirus.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_authentication.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bounce.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_content_scanner.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_error_logs.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gui_logs.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_status.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_system.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_text_mail_logs.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/ecs.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/fields.yml
  packages/cisco_secure_email_gateway/data_stream/log/sample_event.json
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/img/cisco-secure-email-gateway-antivirus-screenshot.png
  packages/cisco_secure_email_gateway/img/cisco-secure-email-gateway-text-mail-screenshot.png
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-406c0f90-6da1-11ee-bfeb-7b49e926f7c6.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-c19f7c50-b05b-11ec-8a45-8d83ac55242a.json
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#8341 cisco_meraki,zscalar_zpa: fix field mappings and definitions
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/browser_access/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:ZscalerZPA, Integration:Cisco Meraki

#8345 [System] Fix indentation of tags inside syslog datastream
  packages/system/_dev/deploy/docker/docker-compose.yml
  packages/system/_dev/deploy/docker/sample_logs/syslog.log
  packages/system/changelog.yml
  packages/system/data_stream/syslog/_dev/test/system/test-default-config.yml
  packages/system/data_stream/syslog/agent/stream/log.yml.hbs
  packages/system/data_stream/syslog/fields/agent.yml
  packages/system/data_stream/syslog/fields/ecs.yml
  packages/system/data_stream/syslog/fields/fields.yml
  packages/system/data_stream/syslog/sample_event.json
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: Team:Security-External Integrations, Integration:System, bugfix

#8329 [Kubernetes] Add state namespace datastream
  packages/kubernetes/_dev/build/docs/kube-state-metrics.md
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/state_namespace/_dev/test/system/test-default-config.yml
  packages/kubernetes/data_stream/state_namespace/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_namespace/fields/agent.yml
  packages/kubernetes/data_stream/state_namespace/fields/base-fields.yml
  packages/kubernetes/data_stream/state_namespace/fields/ecs.yml
  packages/kubernetes/data_stream/state_namespace/fields/fields.yml
  packages/kubernetes/data_stream/state_namespace/manifest.yml
  packages/kubernetes/data_stream/state_namespace/sample_event.json
  packages/kubernetes/docs/kube-state-metrics.md
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes, Team:Cloudnative-Monitoring
