Repository elastic/integrations, pull requests merged in 2023-07, with the labels that each got.

#6727 [haproxy] Add event.duration to log's exported fields section
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/log/fields/ecs.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: bug, documentation, Integration:HAProxy, Team:Service-Integrations

#6770 Fix elf.sections mapping to nested
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/fields/ecs.yml
  packages/osquery_manager/manifest.yml
Labels: bug

#6772 [CNVM] CloudFormation template increase disk size
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#6749 [AWS Billing] Add fingerprint dimension
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/billing/fields/fields.yml
  packages/aws/docs/billing.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6773 sophos: fix log config indentation
  packages/sophos/changelog.yml
  packages/sophos/data_stream/xg/agent/stream/log.yml.hbs
  packages/sophos/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Sophos

#6762 fortinet_fortigate: allow syslog lines without a priority
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Fortinet

#6782 [AWS] Enable TSDB for some metric datasets - Part 1
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/data_stream/dynamodb/manifest.yml
  packages/aws/data_stream/ebs/manifest.yml
  packages/aws/data_stream/ecs_metrics/manifest.yml
  packages/aws/data_stream/elb_metrics/manifest.yml
  packages/aws/data_stream/firewall_metrics/manifest.yml
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/data_stream/lambda/manifest.yml
  packages/aws/data_stream/natgateway/manifest.yml
  packages/aws/data_stream/rds/manifest.yml
  packages/aws/data_stream/redshift/manifest.yml
  packages/aws/data_stream/s3_storage_lens/manifest.yml
  packages/aws/data_stream/sns/manifest.yml
  packages/aws/data_stream/sqs/manifest.yml
  packages/aws/data_stream/transitgateway/manifest.yml
  packages/aws/data_stream/vpn/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#6800 [integrations]- Make multiple integrations GA
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/manifest.yml
  packages/bitdefender/changelog.yml
  packages/bitdefender/manifest.yml
  packages/bitwarden/changelog.yml
  packages/bitwarden/manifest.yml
  packages/forcepoint_web/changelog.yml
  packages/forcepoint_web/manifest.yml
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/manifest.yml
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/manifest.yml
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/manifest.yml
  packages/sysmon_linux/manifest.yml
  packages/tanium/changelog.yml
  packages/tanium/manifest.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/scan/manifest.yml
  packages/tenable_io/data_stream/scanner/manifest.yml
  packages/tenable_io/data_stream/vulnerability/manifest.yml
  packages/tenable_io/manifest.yml
  packages/thycotic_ss/changelog.yml
  packages/thycotic_ss/manifest.yml
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/manifest.yml
  packages/tines/changelog.yml
  packages/tines/manifest.yml
  packages/trellix_epo_cloud/changelog.yml
  packages/trellix_epo_cloud/manifest.yml
  packages/trendmicro/changelog.yml
  packages/trendmicro/manifest.yml
  packages/vectra_detect/changelog.yml
  packages/vectra_detect/manifest.yml
  packages/zeronetworks/changelog.yml
  packages/zeronetworks/manifest.yml
Labels: 8.9 candidate

#6786 Add env. vars to manage docker output in CI jobs
  .ci/Jenkinsfile
Labels: ci

#6813 iptables: convert visualisations to lens
  packages/iptables/changelog.yml
  packages/iptables/kibana/dashboard/iptables-ceefb9e0-1f51-11e9-93ed-f7e068f4aebb.json
  packages/iptables/kibana/dashboard/iptables-d39f0980-1ff3-11e9-ae2a-939083c6a64e.json
  packages/iptables/kibana/search/iptables-b3f1b010-1f26-11e9-8ec4-cf5d91a864b3.json
  packages/iptables/kibana/search/iptables-c4e80aa0-1fd4-11e9-ae2a-939083c6a64e.json
  packages/iptables/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:iptables

#6812 cisco_secure_email_gateway: convert visualisations to lens
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-3e3a4de0-b00b-11ec-8a45-8d83ac55242a.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-6a11cbc0-b513-11ec-aa3c-afc0e710666b.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-97ab0d40-b63e-11ec-b665-f79f0daaad54.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-a1060e90-b025-11ec-8a45-8d83ac55242a.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-b9591cf0-b640-11ec-b665-f79f0daaad54.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-be7e9c00-b055-11ec-8a45-8d83ac55242a.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-c19f7c50-b05b-11ec-8a45-8d83ac55242a.json
  packages/cisco_secure_email_gateway/kibana/dashboard/cisco_secure_email_gateway-c94a00a0-b0a7-11ec-8a45-8d83ac55242a.json
  packages/cisco_secure_email_gateway/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#6799 cisco_ise: convert dashboard visualisations to lens
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/kibana/dashboard/cisco_ise-44afda90-3991-11ed-bb16-3b8b6259e7b8.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-506e8200-39a5-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-6b611af0-39a0-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-a42bdb60-39a8-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-db12cdf0-3a2f-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-e0ca7fa0-398e-11ed-bb16-3b8b6259e7b8.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-e2146a20-39a1-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-fcb9bc40-3a32-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/search/cisco_ise-2c7c0eb0-a505-11ec-ab9d-4b8e737a22d9.json
  packages/cisco_ise/kibana/search/cisco_ise-39e47010-a09b-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-47c77dc0-a065-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-5f739b70-a0a6-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-ac5b9ba0-a02d-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-d1ba7b80-a075-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-eecf4510-a058-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-f681d1f0-a09f-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoISE

#6815 cisco_duo: convert to lens
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/kibana/dashboard/cisco_duo-2eb22f90-34c3-11ed-81dc-5d9e1bd8e06a.json
  packages/cisco_duo/kibana/dashboard/cisco_duo-7e997350-34c9-11ed-81dc-5d9e1bd8e06a.json
  packages/cisco_duo/kibana/dashboard/cisco_duo-f4c25e10-3420-11ed-a766-d751fb2ca0fe.json
  packages/cisco_duo/kibana/dashboard/cisco_duo-fc635930-342f-11ed-8943-5bb82a29aed1.json
  packages/cisco_duo/manifest.yml
Labels: enhancement, Team:Security-External Integrations, integration:Cisco Duo

#6819 1password: convert to lens
  packages/1password/changelog.yml
  packages/1password/kibana/dashboard/1password-audit-events-full-dashboard.json
  packages/1password/kibana/dashboard/1password-item-usages-full-dashboard.json
  packages/1password/kibana/dashboard/1password-signin-attempts-full-dashboard.json
  packages/1password/kibana/search/1password-audit-events.json
  packages/1password/kibana/search/1password-item-usages.json
  packages/1password/kibana/search/1password-signin-attempts.json
  packages/1password/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:1Password

#6490 [O11y][Prometheus Input] Add system test cases
  packages/prometheus_input/_dev/deploy/docker/docker-compose.yml
  packages/prometheus_input/_dev/deploy/docker/files/PASSWORD
  packages/prometheus_input/_dev/deploy/docker/files/init.jython
  packages/prometheus_input/_dev/deploy/docker/files/start_server.sh
  packages/prometheus_input/_dev/test/system/test-default-config.yml
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/fields/base-fields.yml
  packages/prometheus_input/fields/ecs.yml
  packages/prometheus_input/manifest.yml
  packages/prometheus_input/sample_event.json
Labels: Integration:prometheus_input

#6793 TI Util package fix incorrect index in dashboard
  packages/ti_util/changelog.yml
  packages/ti_util/kibana/dashboard/ti_util-9eff2529-fff5-4064-b825-fa089f260bfa.json
  packages/ti_util/manifest.yml
Labels: bugfix

#6824 Handle DNAT log with policy/rgc/rc/rule attributes
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: bugfix

#6796 bluecoat,juniper_junos,juniper_netscreen: deprecate packages
  packages/bluecoat/changelog.yml
  packages/bluecoat/manifest.yml
  packages/juniper_junos/changelog.yml
  packages/juniper_junos/manifest.yml
  packages/juniper_netscreen/changelog.yml
  packages/juniper_netscreen/manifest.yml
Labels: enhancement, deprecation, Integration:Juniper, Integration:Bluecoat

#6698 [Elasticsearch] Add metric type to fields
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/fields/fields.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/fields.yml
  packages/elasticsearch/data_stream/enrich/fields/fields.yml
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/data_stream/index_recovery/fields/fields.yml
  packages/elasticsearch/data_stream/index_summary/fields/fields.yml
  packages/elasticsearch/data_stream/ingest_pipeline/fields/fields.yml
  packages/elasticsearch/data_stream/ml_job/fields/fields.yml
  packages/elasticsearch/data_stream/node/fields/fields.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch

#6805 Activemq package: revert back change to dynamic_dataset/namespace
  packages/activemq/changelog.yml
  packages/activemq/data_stream/log/manifest.yml
  packages/activemq/manifest.yml
Labels: enhancement, v8.9.0

#6841 aws_logs package: allow reroute to logs-*-*
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: enhancement, v8.9.0

#6846 [fortinet_fortigate] Undo field description changes added after ECS v8.8.0
  packages/fortinet_fortigate/docs/README.md
Labels: documentation, Team:Security-External Integrations, Integration:Fortinet

#6746 [ci] Enable Slack notifications on daily job status
  .ci/schedule-daily.groovy
Labels: enhancement

#6573 [Apache Tomcat] Add integration package with session data stream
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/session/_dev/test/pipeline/test-common-config.yml
  packages/apache_tomcat/data_stream/session/_dev/test/pipeline/test-session-metrics.json
  packages/apache_tomcat/data_stream/session/_dev/test/pipeline/test-session-metrics.json-expected.json
  packages/apache_tomcat/data_stream/session/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/session/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/session/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/session/fields/base-fields.yml
  packages/apache_tomcat/data_stream/session/fields/ecs.yml
  packages/apache_tomcat/data_stream/session/fields/fields.yml
  packages/apache_tomcat/data_stream/session/manifest.yml
  packages/apache_tomcat/data_stream/session/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/img/apache_tomcat-session-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-2a331270-b8cd-11ed-a099-3791d000f969.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, Team:Service-Integrations

#6739 [AWS Fargate] Add metric type to fields
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/fields/fields.yml
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
Labels: Integration:AWS

#6733 [AWS Farget] Set dimension fields
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/fields/ecs.yml
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
Labels: Integration:AWS

#6840 Kafka_log package: allow reroute to logs-*-*
  packages/kafka_log/changelog.yml
  packages/kafka_log/data_stream/generic/manifest.yml
  packages/kafka_log/manifest.yml
Labels: enhancement, v8.9.0

#6803 Kafka package: revert back change to dynamic_dataset/namespace
  packages/kafka/changelog.yml
  packages/kafka/data_stream/log/manifest.yml
  packages/kafka/manifest.yml
Labels: enhancement, v8.9.0

#6801 System package: revert back change to dynamic_dataset/namespace
  packages/system/changelog.yml
  packages/system/data_stream/syslog/manifest.yml
  packages/system/manifest.yml
Labels: enhancement, v8.9.0

#6681 [trend_micro_vision_one] - Update package-spec to 2.9.0
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/trend_micro_vision_one/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:TrendMicroVisionOne

#6849 [sonicwall_firewall] - update package-spec to 2.9.0
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-drizzthacker.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-general.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-nat.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-sonicos70-aws.log-expected.json
  packages/sonicwall_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall_firewall/data_stream/log/sample_event.json
  packages/sonicwall_firewall/docs/README.md
  packages/sonicwall_firewall/manifest.yml
Labels: enhancement, Team:Security-External Integrations, integration:Sonicwall

#6852 [snyk] - update package-spec to 2.9.0
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit/fields/package-fields.yml
  packages/snyk/data_stream/audit/sample_event.json
  packages/snyk/data_stream/vulnerabilities/_dev/test/pipeline/test-snyk-vulnerabilities.log-expected.json
  packages/snyk/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/vulnerabilities/fields/package-fields.yml
  packages/snyk/data_stream/vulnerabilities/sample_event.json
  packages/snyk/docs/README.md
  packages/snyk/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Snyk

#6855 [santa] - update package-spec to 2.9.0
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-expected.json
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/data_stream/log/sample_event.json
  packages/santa/docs/README.md
  packages/santa/kibana/dashboard/santa-161855f0-ff6a-11e8-93c5-d5ecd1b3e307.json
  packages/santa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Santa

#6869 [windows] Add ECS error.code mapping
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/ecs.yml
  packages/windows/data_stream/powershell/fields/ecs.yml
  packages/windows/data_stream/powershell_operational/fields/ecs.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Windows

#6870 [hid_bravura_monitor.winlog] Add ECS error.code mapping
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/ecs.yml
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: HID Bravura Monitor

#6833 netskope: remove netskope.events.region and netskope.events.region.id
  packages/netskope/changelog.yml
  packages/netskope/data_stream/events/fields/fields.yml
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Netskope

#6832 f5: deprecate package
  packages/f5/changelog.yml
  packages/f5/manifest.yml
Labels: deprecation, Team:Security-External Integrations, Integration:F5

#6831 cel: make debug log field redactions available
  packages/cel/_dev/test/system/test-basic-auth-config.yml
  packages/cel/_dev/test/system/test-get-config.yml
  packages/cel/_dev/test/system/test-oauth-config.yml
  packages/cel/_dev/test/system/test-oauth-scope-config.yml
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CEL

#6761 windows: add support for sysmon 15.0/event 29
  packages/windows/changelog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#6844 [Crowdstrike] Adding many new event types
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-audit-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-auth-activity.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-cspmioa-streaming.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-cspmioa-streaming.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-cspmsearch-streaming.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-cspmsearch-streaming.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-identity-protection-incident.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-identity-protection-incident.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-incident-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-ipd-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-ipd-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-mobile-detection-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-mobile-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-recon-notification.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-recon-notification.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-remote-response.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-user-activity.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-xdr-detection-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-xdr-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/cspm_events.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/identity_protection_incident.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/ipd_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/mobile_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/recon_notification_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/xdr_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/fields/ecs.yml
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Crowdstrike

#6884 auditd_manager: convert visualisations to lens
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/kibana/dashboard/auditd_manager-693a5f40-c243-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/kibana/dashboard/auditd_manager-7de391b0-c1ca-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/dashboard/auditd_manager-c0ac2c00-c1c0-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/search/auditd_manager-0f10c430-c1c3-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/search/auditd_manager-5438b030-c246-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/kibana/search/auditd_manager-b4c93470-c240-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/kibana/search/auditd_manager-d382f5b0-c1c6-11e7-8995-936807a28b16.json
  packages/auditd_manager/kibana/search/auditd_manager-e8734160-c24c-11e7-8692-232bd1143e8a.json
  packages/auditd_manager/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Auditd Manager

#6883 github: convert visualisations to lens
  packages/github/changelog.yml
  packages/github/kibana/dashboard/github-4da91aa0-12fc-11ed-af77-016e1a977d80.json
  packages/github/kibana/dashboard/github-591d69e0-17b6-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-6197be80-220c-11ed-88c4-e3caca48250a.json
  packages/github/kibana/dashboard/github-6a6d7c40-17ab-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-8bfd8310-205c-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/dashboard/github-dcee84c0-2059-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/dashboard/github-f0104680-ae18-11ed-83fa-df5d96a45724.json
  packages/github/kibana/search/github-173f1050-20ae-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/search/github-a5f3d9b0-20af-11ec-8b10-11a4c5e322a0.json
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Github

#6866 [azure] Ensure url.path cannot be duplicated
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:Azure, bugfix

#6867 [azure] Ensure user_agent.original cannot be duplicated
  packages/azure/changelog.yml
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:Azure, bugfix

#6859 [pfSense] Convert visualisations to Lens
  packages/pfsense/changelog.yml
  packages/pfsense/img/dhcp.png
  packages/pfsense/img/firewall.png
  packages/pfsense/img/unbound-1.png
  packages/pfsense/img/unbound-2.png
  packages/pfsense/img/unbound-3.png
  packages/pfsense/img/unbound.png
  packages/pfsense/kibana/dashboard/pfsense-986061c0-3a9a-11eb-96b2-e765737b7534.json
  packages/pfsense/kibana/dashboard/pfsense-bdb33ee0-3a8e-11eb-96b2-e765737b7534.json
  packages/pfsense/kibana/dashboard/pfsense-c8b42350-3a9c-11eb-96b2-e765737b7534.json
  packages/pfsense/kibana/search/pfsense-22edf800-3a8e-11eb-96b2-e765737b7534.json
  packages/pfsense/kibana/search/pfsense-ec91cf20-3a9c-11eb-96b2-e765737b7534.json
  packages/pfsense/kibana/search/pfsense-f9ed8947-6d26-4497-905f-57d08ee304f4.json
  packages/pfsense/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:pfSense

#6839 [Suricata] Convert visualisations to Lens
  packages/suricata/changelog.yml
  packages/suricata/img/filebeat-suricata-alerts.png
  packages/suricata/img/filebeat-suricata-events.png
  packages/suricata/img/suricata-alerts.png
  packages/suricata/img/suricata-events.png
  packages/suricata/kibana/dashboard/suricata-05268ee0-86d1-11e8-b59d-21efb914e65c.json
  packages/suricata/kibana/dashboard/suricata-78289c40-86da-11e8-b59d-21efb914e65c.json
  packages/suricata/kibana/search/suricata-13dd22f0-86cc-11e8-b59d-21efb914e65c.json
  packages/suricata/kibana/search/suricata-1c2bcec0-86d1-11e8-b59d-21efb914e65c.json
  packages/suricata/kibana/search/suricata-d57a2db0-86ca-11e8-b59d-21efb914e65c.json
  packages/suricata/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Suricata

#6876 [PANW] Convert visualisations to Lens
  packages/panw/changelog.yml
  packages/panw/img/filebeat-panw-threat.png
  packages/panw/img/filebeat-panw-traffic.png
  packages/panw/img/panw-threat.png
  packages/panw/img/panw-traffic.png
  packages/panw/kibana/dashboard/panw-0c0fa830-dca5-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-42d2b320-dcec-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-4782db40-dccc-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-772964e0-7591-11e9-aacf-79a3704914a0.json
  packages/panw/kibana/dashboard/panw-a663eea0-dd72-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-a8dc42e0-dcc8-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-b1a9f7a0-dcaa-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-d3e36450-dce1-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/dashboard/panw-e40ba240-7572-11e9-976e-65a8f47cc4c1.json
  packages/panw/kibana/dashboard/panw-f84a1440-dcf7-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/search/panw-0ffe1200-ddb9-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-1d9d5060-ddb9-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-24a5cf50-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-37acbca0-ddb1-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-6d0ea500-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-79d117f0-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-89e2f970-ddb7-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-8dc6b590-ddb2-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-92083d90-ddb7-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-9df5cdf0-ddaf-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-a93a1c80-dcd7-11ec-8b8b-1fae02ab6a5e.json
  packages/panw/kibana/search/panw-c53134a0-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-cfbe1f60-ddb7-11ec-8e76-9b3b99f98cd4.json
  packages/panw/kibana/search/panw-d01e7260-ddb8-11ec-8e76-9b3b99f98cd4.json
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#6826 [Osquery] Convert visualisations to Lens
  packages/osquery/changelog.yml
  packages/osquery/img/kibana-osquery-compatibility.png
  packages/osquery/img/osquery-compliance.png
  packages/osquery/kibana/dashboard/osquery-69f5ae20-eb02-11e7-8f04-51231daa5b05.json
  packages/osquery/kibana/dashboard/osquery-c0a7ce90-f4aa-11e7-8647-534bb4c21040.json
  packages/osquery/kibana/search/osquery-0fe5dc00-f49b-11e7-8647-534bb4c21040.json
  packages/osquery/kibana/search/osquery-3824b080-eb02-11e7-8f04-51231daa5b05.json
  packages/osquery/kibana/search/osquery-7a9482d0-eb00-11e7-8f04-51231daa5b05.json
  packages/osquery/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6888 zeek: convert visualisations to lens
  packages/zeek/changelog.yml
  packages/zeek/kibana/dashboard/zeek-7cbb5410-3700-11e9-aa6d-ff445a78330c.json
  packages/zeek/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zeek

#6885 ti_rapid7_threat_command: convert visualisations to lens
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-0ee0c5f0-7208-11ed-af6f-3913a325a746.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-1abe9f50-591c-11ed-a133-234996671b18.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-20735802-0864-485a-8b6f-e138aae5900d.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-2388d940-f6b4-11ec-ad26-2fb998639a1e.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-24d08610-7227-11ed-af6f-3913a325a746.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-7fdae3b0-590a-11ed-abd0-858c1d0aec26.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-8dea15b0-f3a3-11ec-aff5-576c7e430437.json
  packages/ti_rapid7_threat_command/kibana/dashboard/ti_rapid7_threat_command-8f985fb0-6988-11ed-8bdb-110ff35bc478.json
  packages/ti_rapid7_threat_command/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6836 [Osquery_manager] Convert visualisations to Lens
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/kibana/dashboard/osquery_manager-69f5ae20-eb02-11e7-8f04-51231daa5b05.json
  packages/osquery_manager/kibana/dashboard/osquery_manager-c0a7ce90-f4aa-11e7-8647-534bb4c21040.json
  packages/osquery_manager/kibana/search/osquery_manager-0fe5dc00-f49b-11e7-8647-534bb4c21040.json
  packages/osquery_manager/kibana/search/osquery_manager-3824b080-eb02-11e7-8f04-51231daa5b05.json
  packages/osquery_manager/kibana/search/osquery_manager-7a9482d0-eb00-11e7-8f04-51231daa5b05.json
  packages/osquery_manager/kibana/visualization/osquery_manager-1da1ed30-eb03-11e7-8f04-51231daa5b05.json
  packages/osquery_manager/kibana/visualization/osquery_manager-240f3630-eb05-11e7-8f04-51231daa5b05.json
  packages/osquery_manager/kibana/visualization/osquery_manager-2d6e0760-f4ab-11e7-8647-534bb4c21040.json
  packages/osquery_manager/kibana/visualization/osquery_manager-6ec10290-f4aa-11e7-8647-534bb4c21040.json
  packages/osquery_manager/kibana/visualization/osquery_manager-a9fd8bb0-eb01-11e7-8f04-51231daa5b05.json
  packages/osquery_manager/kibana/visualization/osquery_manager-ab587180-f4a9-11e7-8647-534bb4c21040.json
  packages/osquery_manager/kibana/visualization/osquery_manager-ffdbba50-f4a9-11e7-8647-534bb4c21040.json
  packages/osquery_manager/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6894 [System Audit] Convert visualisations to Lens
  packages/system_audit/changelog.yml
  packages/system_audit/img/system-audit-overview-dashboard.png
  packages/system_audit/img/system-audit-package-dashboard.png
  packages/system_audit/kibana/dashboard/system_audit-137c52f0-286a-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/dashboard/system_audit-2be46cb0-27f2-11e9-89af-fd12d59dac90.json
  packages/system_audit/kibana/search/system_audit-391ef230-2868-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-4ccc5b50-27f6-11e9-89af-fd12d59dac90.json
  packages/system_audit/kibana/visualization/system_audit-4e7701d0-2869-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-6ed51940-2868-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-8dc55df0-2869-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-bdf9c530-27fe-11e9-805f-43bf57dfa519.json
  packages/system_audit/kibana/visualization/system_audit-f664fb20-27f3-11e9-89af-fd12d59dac90.json
  packages/system_audit/kibana/visualization/system_audit-fe23f530-2868-11e9-9d21-0be348776e6c.json
  packages/system_audit/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6882 windows: set event.action to the event's sysmon name
  packages/windows/changelog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#6856 network_traffic: fix mapping for tls.detailed.{client,server}_certificate_chain
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/tls/fields/protocol.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#6886 [AWS Usage] Enable TSDB by default
  packages/aws/changelog.yml
  packages/aws/data_stream/usage/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#6861 [Elasticsearch] Enable TSDB by default
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/index/manifest.yml
  packages/elasticsearch/data_stream/index_recovery/manifest.yml
  packages/elasticsearch/data_stream/index_summary/manifest.yml
  packages/elasticsearch/data_stream/ingest_pipeline/manifest.yml
  packages/elasticsearch/data_stream/ml_job/manifest.yml
  packages/elasticsearch/data_stream/node/manifest.yml
  packages/elasticsearch/data_stream/node_stats/manifest.yml
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch

#6593 [Microsoft_Defender_Cloud] Initial Release for the Microsoft Defender for Cloud
  .github/CODEOWNERS
  packages/microsoft_defender_cloud/_dev/build/build.yml
  packages/microsoft_defender_cloud/_dev/build/docs/README.md
  packages/microsoft_defender_cloud/changelog.yml
  packages/microsoft_defender_cloud/data_stream/event/_dev/test/pipeline/test-alert.log
  packages/microsoft_defender_cloud/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/microsoft_defender_cloud/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_defender_cloud/data_stream/event/agent/stream/azure-eventhub.yml.hbs
  packages/microsoft_defender_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_cloud/data_stream/event/fields/base-fields.yml
  packages/microsoft_defender_cloud/data_stream/event/fields/beats.yml
  packages/microsoft_defender_cloud/data_stream/event/fields/fields.yml
  packages/microsoft_defender_cloud/data_stream/event/manifest.yml
  packages/microsoft_defender_cloud/docs/README.md
  packages/microsoft_defender_cloud/img/microsoft-defender-cloud-dashboard-event.png
  packages/microsoft_defender_cloud/img/microsoft-defender-cloud-logo.svg
  packages/microsoft_defender_cloud/kibana/dashboard/microsoft_defender_cloud-97eaf040-0516-11ee-b4db-89b3a5f6df7f.json
  packages/microsoft_defender_cloud/kibana/search/microsoft_defender_cloud-52f0f2f0-039f-11ee-bafb-95960de71508.json
  packages/microsoft_defender_cloud/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#6879 cisco_secure_email_gateway: fix timeout in grok for consolidated events
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#6738 [Cloud Security] Moved gcp params to datastream
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#6794 ti_misp: retain email subjects in misp.attribute
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MISP

#6857 fortigate_fortimanager,sentinel_one_cloud_funnel: relax date tests
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-common-config.yml
Labels: bug, Team:Security-External Integrations, Integration:Fortinet, Integration:SentinelOne

#6878 [Arista NG Firewall] Bugs in Default Ingest Pipeline
  packages/arista_ngfw/changelog.yml
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-intrusion-detection.log-expected.json
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/arista_ngfw/data_stream/log/fields/ecs.yml
  packages/arista_ngfw/docs/README.md
  packages/arista_ngfw/manifest.yml
Labels: Team:Security-External Integrations

#6916 [aws] Add missing fields in vpcflow logs
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/fields/fields.yml
  packages/aws/docs/vpcflow.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#6900 microsoft_defender_endpoint: convert visualisations to lens
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/kibana/dashboard/microsoft_defender_endpoint-65402c30-ca6a-11ea-9d4d-9737a63aaa55.json
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Microsoft_defender_endpoint

#6901 infoblox_nios: convert visualisations to lens
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-27c573b0-b4d8-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-c3abc8b0-b4dd-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/dashboard/infoblox_nios-f8d86480-b4c9-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-4559ff50-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-5cc295e0-b4d6-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-7103abb0-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-71f7a570-b4dd-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-854739b0-b735-11ec-8ec2-49017af276c3.json
  packages/infoblox_nios/kibana/search/infoblox_nios-8d55bb50-b4e1-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-b3b496f0-b4e5-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/kibana/search/infoblox_nios-f3899090-b4d7-11ec-80e1-4bd67c5762eb.json
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#6903 okta: convert visualisations to lens
  packages/okta/changelog.yml
  packages/okta/kibana/dashboard/okta-749203a0-67b1-11ea-a76f-bf44814e437d.json
  packages/okta/kibana/search/okta-21028750-67ca-11ea-a76f-bf44814e437d.json
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#6904 qnap_nas: convert visualisations to lens
  packages/qnap_nas/changelog.yml
  packages/qnap_nas/kibana/dashboard/qnap_nas-32e28700-4b0c-11ec-b2cc-b9a3cc301b75.json
  packages/qnap_nas/kibana/search/qnap_nas-50acdec0-4b0c-11ec-b2cc-b9a3cc301b75.json
  packages/qnap_nas/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6905 auth0: convert visualisations to lens
  packages/auth0/changelog.yml
  packages/auth0/kibana/dashboard/auth0-29fb7200-4062-11ec-b18d-ef6bf98b26bf.json
  packages/auth0/kibana/search/auth0-629b19e0-4061-11ec-b18d-ef6bf98b26bf.json
  packages/auth0/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Auth0

#6906 tenable_io: convert visualisations to lens
  packages/tenable_io/changelog.yml
  packages/tenable_io/kibana/dashboard/tenable_io-0d902a50-edec-11ed-b550-bd5e656b580f.json
  packages/tenable_io/kibana/dashboard/tenable_io-4d784610-1ec2-11ed-bad4-551c615a34d1.json
  packages/tenable_io/kibana/dashboard/tenable_io-84586900-1ed4-11ed-bad4-551c615a34d1.json
  packages/tenable_io/kibana/dashboard/tenable_io-a5395ac0-eb94-11ed-8b7d-ef1c8f105a1d.json
  packages/tenable_io/kibana/dashboard/tenable_io-f2dacba0-1e22-11ed-bad4-551c615a34d1.json
  packages/tenable_io/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Tenable.io

#6924 cyberarkpas,darktrace,infoblox_bloxone_ddi,jamf_compliance_reporter,ti_abusech,ti_cybersixgill,zscaler_zpa: convert visualisations to len
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/kibana/dashboard/cyberarkpas-eb12ef60-96f6-11eb-bbf8-d77aef8ad7a6.json
  packages/cyberarkpas/kibana/search/cyberarkpas-a9b82df0-97a5-11eb-bbf8-d77aef8ad7a6.json
  packages/cyberarkpas/kibana/search/cyberarkpas-fec0d170-96f7-11eb-bbf8-d77aef8ad7a6.json
  packages/cyberarkpas/manifest.yml
  packages/darktrace/changelog.yml
  packages/darktrace/kibana/dashboard/darktrace-6bd3c320-13b2-11ed-bdc1-9f13147efcf8.json
  packages/darktrace/kibana/dashboard/darktrace-da768d80-1399-11ed-bdc1-9f13147efcf8.json
  packages/darktrace/kibana/dashboard/darktrace-eb643d20-13a5-11ed-bdc1-9f13147efcf8.json
  packages/darktrace/kibana/search/darktrace-31a3f8a0-13a3-11ed-bdc1-9f13147efcf8.json
  packages/darktrace/kibana/search/darktrace-c0e40350-13aa-11ed-bdc1-9f13147efcf8.json
  packages/darktrace/kibana/search/darktrace-fbf9cfc0-13b3-11ed-bdc1-9f13147efcf8.json
  packages/darktrace/manifest.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-85daef90-0ce7-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-b8497140-0cdd-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/dashboard/infoblox_bloxone_ddi-d3f8a270-0ce3-11ed-8a96-d11b53f3d359.json
  packages/infoblox_bloxone_ddi/kibana/search/infoblox_bloxone_ddi-86860980-34f0-11ed-a2eb-7fc0c8a128fe.json
  packages/infoblox_bloxone_ddi/manifest.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/kibana/dashboard/jamf_compliance_reporter-8351fc80-b58c-11ec-a813-df29637f29df.json
  packages/jamf_compliance_reporter/kibana/dashboard/jamf_compliance_reporter-dd0ea730-b557-11ec-a813-df29637f29df.json
  packages/jamf_compliance_reporter/kibana/dashboard/jamf_compliance_reporter-dd28ec80-b584-11ec-a813-df29637f29df.json
  packages/jamf_compliance_reporter/manifest.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/kibana/dashboard/ti_abusech-2457fb50-3bc3-11ec-ae8c-7d00429ad420.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-6a90c980-3b32-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-c0d8d1f0-3b20-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/tag/ti_abusech-73511520-3b32-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/kibana/dashboard/ti_cybersixgill-63c9fee0-5bea-11ec-9302-152fd766c738.json
  packages/ti_cybersixgill/kibana/dashboard/ti_cybersixgill-717013b0-5bed-11ec-9302-152fd766c738.json
  packages/ti_cybersixgill/kibana/dashboard/ti_cybersixgill-c75353f0-5be8-11ec-9302-152fd766c738.json
  packages/ti_cybersixgill/kibana/tag/ti_cybersixgill-7186bf10-5be4-11ec-9302-152fd766c738.json
  packages/ti_cybersixgill/manifest.yml
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/kibana/dashboard/zscaler_zpa-34f0b8a0-3a71-11ed-9e41-155bc0d23bc2.json
  packages/zscaler_zpa/kibana/dashboard/zscaler_zpa-3b709f70-3a98-11ed-9e41-155bc0d23bc2.json
  packages/zscaler_zpa/kibana/dashboard/zscaler_zpa-893ef040-3a88-11ed-9e41-155bc0d23bc2.json
  packages/zscaler_zpa/kibana/dashboard/zscaler_zpa-a0742450-3a89-11ed-9e41-155bc0d23bc2.json
  packages/zscaler_zpa/kibana/search/zscaler_zpa-d9d5e800-537b-11ec-9527-b704eaaa5c53.json
  packages/zscaler_zpa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cybersixgill, Integration:AbuseCH, Integration:ZscalerZPA, Integration:CyberArkPAS, Integration:JAMF_Compliance_Reporter, Integration:infoblox_bloxone_ddi, Integration:Darktrace

#6912 [Auditd] Convert visualisations to Lens
  packages/auditd/changelog.yml
  packages/auditd/img/kibana-audit-auditd.png
  packages/auditd/kibana/dashboard/auditd-dfbb49f0-0a0f-11e7-8a62-2d05eaaac5cb.json
  packages/auditd/kibana/search/auditd-4ac0a370-0a11-11e7-8b04-eb22a5669f27.json
  packages/auditd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Auditd

#6910 [Santa] Convert visualisations to Lens
  packages/santa/changelog.yml
  packages/santa/img/kibana-santa-log-overview.png
  packages/santa/kibana/dashboard/santa-161855f0-ff6a-11e8-93c5-d5ecd1b3e307.json
  packages/santa/kibana/search/santa-6d56a010-ff6a-11e8-93c5-d5ecd1b3e307.json
  packages/santa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Santa

#6914 [Google Workspace] Convert visualisations to Lens
  packages/google_workspace/changelog.yml
  packages/google_workspace/kibana/dashboard/google_workspace-3be0b490-3430-11ed-9f31-c9178ccae8cd.json
  packages/google_workspace/kibana/dashboard/google_workspace-f8210e80-3b28-11ed-8bdd-f5c5df6c1370.json
  packages/google_workspace/kibana/search/google_workspace-1cac9ed0-3b2f-11ed-8bdd-f5c5df6c1370.json
  packages/google_workspace/kibana/search/google_workspace-2c40f770-3b24-11ed-8bdd-f5c5df6c1370.json
  packages/google_workspace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Google Workspace

#6931 [Microsoft Exchange Online Message Trace] Convert visualisations to Lens
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/img/dashboard.png
  packages/microsoft_exchange_online_message_trace/kibana/dashboard/microsoft_exchange_online_message_trace-10b79960-536a-11ed-869d-9d6d140defa1.json
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MicrosoftExchangeOnlineMessageTrace

#6527 [Apache Tomcat] Add integration package with memory data stream
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/memory/_dev/test/pipeline/test-common-config.yml
  packages/apache_tomcat/data_stream/memory/_dev/test/pipeline/test-gc-metrics.json
  packages/apache_tomcat/data_stream/memory/_dev/test/pipeline/test-gc-metrics.json-expected.json
  packages/apache_tomcat/data_stream/memory/_dev/test/pipeline/test-memory-metrics.json
  packages/apache_tomcat/data_stream/memory/_dev/test/pipeline/test-memory-metrics.json-expected.json
  packages/apache_tomcat/data_stream/memory/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/memory/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/memory/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/memory/fields/base-fields.yml
  packages/apache_tomcat/data_stream/memory/fields/ecs.yml
  packages/apache_tomcat/data_stream/memory/fields/fields.yml
  packages/apache_tomcat/data_stream/memory/manifest.yml
  packages/apache_tomcat/data_stream/memory/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/img/apache_tomcat-memory-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-c2e71320-bccb-11ed-8065-19219c0d55ab.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, Team:Service-Integrations

#6950 [AWS][API Gateway] Set dimension fields
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/fields/ecs.yml
  packages/aws/data_stream/apigateway_metrics/fields/fields.yml
  packages/aws/docs/apigateway.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6280 Fix EventID's for "Users Added to Group" panel
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations

#6932 [Sentinel One] Convert visualisations to Lens
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/kibana/dashboard/sentinel_one-0dd17490-bbb8-11ec-82b7-8fcb232e9538.json
  packages/sentinel_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:SentinelOne

#6898 [M365 Defender] Convert visualisations to Lens
  packages/m365_defender/changelog.yml
  packages/m365_defender/img/m365-defender-dashboard-device.png
  packages/m365_defender/img/m365-defender-dashboard-incident.png
  packages/m365_defender/img/m365-defender-dashboard.png
  packages/m365_defender/kibana/dashboard/m365_defender-2690a440-7235-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-3caf3c00-7456-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-ac54d310-44ab-11ed-8375-0168a9970c06.json
  packages/m365_defender/kibana/dashboard/m365_defender-c0b796d0-720a-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-d587df00-745f-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-d80d7840-4366-11ed-b1f2-e917f608bd03.json
  packages/m365_defender/kibana/search/m365_defender-64a31410-722c-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/search/m365_defender-989afc60-44a5-11ed-8375-0168a9970c06.json
  packages/m365_defender/kibana/search/m365_defender-fcf25960-44af-11ed-8375-0168a9970c06.json
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender

#6942 updating rule names to match current
  packages/ti_util/changelog.yml
  packages/ti_util/kibana/dashboard/ti_util-9eff2529-fff5-4064-b825-fa089f260bfa.json
  packages/ti_util/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#6964 [AWS][EMR] Update metric type and set dimensions fields
  packages/aws/changelog.yml
  packages/aws/data_stream/emr_metrics/fields/ecs.yml
  packages/aws/data_stream/emr_metrics/fields/fields.yml
  packages/aws/docs/emr.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6965 [slack] Parse action_timestamp as microseconds
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Slack

#6868 [microsoft_sqlserver,system] Add ECS error.code mapping
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/audit/fields/ecs.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/application/fields/ecs.yml
  packages/system/data_stream/system/fields/ecs.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: bug, Integration:System, Integration:microsoft_sqlserver

#6960 Fix Firewall dashboards
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-1e5c9b50-f24a-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-8731b980-f1aa-11ec-a5a8-bf965bcd5646.json
  packages/azure/kibana/dashboard/azure-91224490-f1a6-11ec-a5a8-bf965bcd5646.json
  packages/azure/manifest.yml
Labels: bug

#6959 zeek: fix handling of zeek.http.host when URI contains a domain
  packages/zeek/changelog.yml
  packages/zeek/data_stream/http/_dev/test/pipeline/test-http.log
  packages/zeek/data_stream/http/_dev/test/pipeline/test-http.log-expected.json
  packages/zeek/data_stream/http/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/http/fields/ecs.yml
  packages/zeek/data_stream/http/fields/fields.yml
  packages/zeek/docs/README.md
  packages/zeek/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Zeek

#6980 [HID Bravura] Converting dashboards to lens
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-hid-bravura-monitor.log-expected.json
  packages/hid_bravura_monitor/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/_dev/test/pipeline/test-hid-bravura-monitor-events.json-expected.json
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/winlog.yml
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-0665f160-f956-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-0db75ff0-f9f4-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-1a431f90-fa01-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-23a89d20-fa07-11eb-96cd-db0fb11a40f3.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-28db2060-fa02-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-3f403100-f9f4-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-49fa7e40-f9fc-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-4bf327b0-fa01-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-4ee19fa0-fa02-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-52cf42a0-fa04-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-578cb360-f9f3-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-6ebde770-fa02-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-7c5c1ef0-fa03-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-8187dcb0-fa04-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-91029280-0520-11ec-853c-2bf1ec8ddeef.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-a8739000-f9fd-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-a9ea8420-f9f3-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-b0fd1f50-06a2-11ec-a72d-e52b79e13120.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-b66f3780-fa03-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-b9bc5190-fa01-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-c5417bd0-f9fc-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-cc6c9cf0-fa06-11eb-96cd-db0fb11a40f3.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-d17be4f0-f9fa-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-d3a33820-fa02-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-d59177c0-f9fb-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-db22d850-fa00-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-e9fa5320-fa01-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-f8112090-fa03-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-046c7b20-2b6d-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-089d63f0-d37c-11eb-9e70-edcbba448215.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-1616ab00-22c8-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-1a724dd0-2395-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-2e254220-df55-11eb-9b6e-d57491399e2a.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-2ec4a850-1463-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-39072a50-2f42-11eb-b6a1-bdb7d768b585.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-3aa4b370-25db-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-4215e410-2f42-11eb-b6a1-bdb7d768b585.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-465760e0-25d7-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-53be5e10-d909-11eb-9e70-edcbba448215.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-55100560-1add-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-77cbe8b0-de89-11eb-a272-2d62b237e243.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-83eacd90-1473-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-95032a30-2eab-11eb-b6a1-bdb7d768b585.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-991d9760-1473-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-9a787d10-0521-11ec-853c-2bf1ec8ddeef.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-9e4165d0-1a1a-11eb-abcf-effcd51852fa.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-ad5f7180-1473-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-be8c8b60-874f-11eb-a5be-4d72a1654030.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-bfc7f7c0-1473-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-d1f2d8c0-1473-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-dca8bb20-d397-11eb-9e70-edcbba448215.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-dd637750-1473-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: HID Bravura Monitor

#6928 Update docs for IBM MQ.
  packages/ibmmq/_dev/build/docs/README.md
  packages/ibmmq/changelog.yml
  packages/ibmmq/docs/README.md
  packages/ibmmq/manifest.yml
Labels: enhancement

#6966 system: improve event.{action,category,outcome} enrichment for auth datastream
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-secure-rhel7.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-timestamp.log-expected.json
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System

#6827 [AWS] [CloudWatch] Add dimensions metadata
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/ecs.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/package-fields.yml
  packages/aws/docs/cloudwatch.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6897 [O11y][AWS] Migrate AWS Fargate input control to new control panel
  packages/awsfargate/changelog.yml
  packages/awsfargate/img/awsfargate-integration-overview.png
  packages/awsfargate/kibana/dashboard/awsfargate-20dc7c50-2e89-11eb-991c-c5fd3b7f5a63.json
  packages/awsfargate/manifest.yml
Labels: enhancement, Integration:AWS, v8.3.0

#6998 [AWS Fargate] Enable TSDB by default
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/manifest.yml
  packages/awsfargate/manifest.yml
Labels: Integration:AWS

#6889 [Istio] Add metric type to fields
  packages/istio/changelog.yml
  packages/istio/data_stream/istiod_metrics/fields/fields.yml
  packages/istio/data_stream/proxy_metrics/fields/fields.yml
  packages/istio/docs/README.md
  packages/istio/manifest.yml
Labels: Integration:Istio

#6995 [O11y][AWS] Migrate AWS Network Firewall input control to new control panel
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-firewall-alerts.png
  packages/aws/img/filebeat-aws-firewall-flows.png
  packages/aws/img/filebeat-aws-firewall-overview.png
  packages/aws/kibana/dashboard/aws-2ba11b50-4b9d-11ec-8282-5342b8988acc.json
  packages/aws/kibana/dashboard/aws-562bdea0-4ba7-11ec-8282-5342b8988acc.json
  packages/aws/kibana/dashboard/aws-dfa76470-4ba1-11ec-8282-5342b8988acc.json
  packages/aws/kibana/search/aws-f4856850-4d32-11ec-a678-057fce71e8cd.json
  packages/aws/manifest.yml
Labels: Integration:AWS

#6621 [O365] | Migrate to CEL input
  packages/o365/_dev/build/docs/README.md
  packages/o365/_dev/deploy/docker/config.yml
  packages/o365/_dev/deploy/docker/docker-compose.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/system/test-cel-config.yml
  packages/o365/data_stream/audit/_dev/test/system/test-o365audit-config.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/data_stream/audit/sample_event.json
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#7004 trellix_epo_cloud: work around static CEL now global behaviour
  packages/trellix_epo_cloud/changelog.yml
  packages/trellix_epo_cloud/data_stream/event/agent/stream/input.yml.hbs
  packages/trellix_epo_cloud/manifest.yml
Labels: bug, Team:Security-External Integrations

#6487 [O11y][AWS] Migrate AWS S3 Server Access Log dashboard visualizations to lens
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-s3access-overview.png
  packages/aws/kibana/dashboard/aws-4746e000-bacd-11e9-9f70-1f7bda85a5eb.json
  packages/aws/kibana/search/aws-5e5a3c90-bac0-11e9-9f70-1f7bda85a5eb.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#6865 [O11y][AWS] Migrate AWS Redshift dashboard input controls
  packages/aws/changelog.yml
  packages/aws/img/metricbeat-aws-redshift-overview.png
  packages/aws/kibana/dashboard/aws-81f2c980-e743-11ec-93f6-9b98f71110cd.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#7008 [GCP] change ownership in manifest
  packages/gcp/changelog.yml
  packages/gcp/manifest.yml
Labels: Team:Security-External Integrations

#7007 [Istio] Update "Pilot xds expired" visualization
  packages/istio/changelog.yml
  packages/istio/kibana/dashboard/istio-f0f863b0-5941-11ed-bfb8-bbfe5b338339.json
  packages/istio/manifest.yml
Labels: Integration:Istio

#5818 [O11y][MySQL] Migrate `[Logs MySQL] Overview` dashboard visualizations to lens in kibana 8.8.0
  packages/mysql/changelog.yml
  packages/mysql/img/kibana-mysql.png
  packages/mysql/kibana/dashboard/mysql-Logs-MySQL-Dashboard.json
  packages/mysql/kibana/search/mysql-Logs-MySQL-Slow-log.json
  packages/mysql/kibana/search/mysql-Logs-MySQL-error-log.json
  packages/mysql/kibana/visualization/mysql-Error-logs-levels.json
  packages/mysql/kibana/visualization/mysql-Slow-logs-by-count.json
  packages/mysql/kibana/visualization/mysql-Slow-queries-over-time.json
  packages/mysql/kibana/visualization/mysql-error-logs.json
  packages/mysql/kibana/visualization/mysql-slowest-queries.json
  packages/mysql/manifest.yml
Labels: enhancement, Integration:MySQL, v8.6.0, Team:Service-Integrations

#6892 [IIS] Update document with supported ingest patterns for `access_log`
  packages/iis/_dev/build/docs/README.md
  packages/iis/changelog.yml
  packages/iis/data_stream/application_pool/fields/agent.yml
  packages/iis/data_stream/application_pool/manifest.yml
  packages/iis/data_stream/webserver/fields/agent.yml
  packages/iis/data_stream/webserver/manifest.yml
  packages/iis/data_stream/website/fields/agent.yml
  packages/iis/data_stream/website/manifest.yml
  packages/iis/docs/README.md
  packages/iis/manifest.yml
Labels: enhancement

#6534 [system] Add Windows Firewall events
  packages/system/changelog.yml
  packages/system/data_stream/network/fields/agent.yml
  packages/system/data_stream/process/sample_event.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5152.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5152.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5156.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5156.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5157.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5157.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5158.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5158.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/data_stream/security/sample_event.json
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: Team:Security-External Integrations

#6899 [cloud_security_posture] Seperate cloud formation templates for CSPM and CNVM
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Integration:CloudSecurityPosture

#7011 [Netflow] Converting all visualizations to Lens
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json-expected.json
  packages/netflow/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/netflow/data_stream/log/sample_event.json
  packages/netflow/img/netflow-conversation.png
  packages/netflow/img/netflow-geo.png
  packages/netflow/img/netflow-overview.png
  packages/netflow/img/netflow-topn.png
  packages/netflow/img/traffic-analysis.png
  packages/netflow/kibana/dashboard/netflow-14387a13-53bc-43a4-b9cd-63977aa8d87c.json
  packages/netflow/kibana/dashboard/netflow-34e26884-161a-4448-9556-43b5bf2f62a2.json
  packages/netflow/kibana/dashboard/netflow-38012abe-c611-4124-8497-381fcd85acc8.json
  packages/netflow/kibana/dashboard/netflow-77326664-23be-4bf1-a126-6d7e60cfc024.json
  packages/netflow/kibana/dashboard/netflow-94972700-de4a-4272-9143-2fa8d4981365.json
  packages/netflow/kibana/dashboard/netflow-acd7a630-0c71-4840-bc9e-4a3801374a32.json
  packages/netflow/kibana/dashboard/netflow-c64665f9-d222-421e-90b0-c7310d944b8a.json
  packages/netflow/kibana/dashboard/netflow-feebb4e6-b13e-4e4e-b9fc-d3a178276425.json
  packages/netflow/kibana/search/netflow-a34c6611-79d8-4b50-ae3f-8b328d28e24a.json
  packages/netflow/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Netflow

#6986 [github] - update package-spec to 2.9.0
  packages/github/changelog.yml
  packages/github/data_stream/audit/sample_event.json
  packages/github/data_stream/code_scanning/sample_event.json
  packages/github/data_stream/dependabot/sample_event.json
  packages/github/data_stream/issues/fields/fields.yml
  packages/github/data_stream/issues/sample_event.json
  packages/github/data_stream/secret_scanning/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Github

#5819 [O11y][MySQL] Migrate `[Metrics MySQL] Database Overview` dashboard visualizations to lens in kibana 8.8.0
  packages/mysql/changelog.yml
  packages/mysql/img/metricbeat-mysql.png
  packages/mysql/kibana/dashboard/mysql-57b3fb50-6309-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-0774bbb0-c69c-11ea-a106-5be590f42b74.json
  packages/mysql/kibana/visualization/mysql-3e5c4490-c6a1-11ea-a106-5be590f42b74.json
  packages/mysql/kibana/visualization/mysql-493e8460-630d-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-4fa69a10-630b-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-779ee920-6309-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-7ea77d30-630a-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-822df290-630f-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-8b276c80-c6ad-11ea-a106-5be590f42b74.json
  packages/mysql/kibana/visualization/mysql-96d46630-63a4-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-98c7bca0-63a2-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-a1e00160-63a4-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-aaa326b0-f1f5-11e7-85ab-594b1652e0d1.json
  packages/mysql/kibana/visualization/mysql-bf60bc10-639b-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-c8661020-6310-11ea-a83e-25b8612d00cc.json
  packages/mysql/kibana/visualization/mysql-cd72e030-c6a6-11ea-a106-5be590f42b74.json
  packages/mysql/kibana/visualization/mysql-fc6b5a40-630d-11ea-a83e-25b8612d00cc.json
  packages/mysql/manifest.yml
Labels: enhancement, Integration:MySQL, v8.6.0, Team:Service-Integrations

#6915 Add CloudTrail standalone S3 option
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudtrail/fields/fields.yml
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/docs/cloudtrail.md
  packages/aws/manifest.yml
Labels: enhancement

#4593 Explicitly mention the various licenses in the root license file
  .ci/Jenkinsfile
  LICENSE.txt
  licenses/Elastic-2.0.txt
Labels: Team:Ecosystem

#7014 [GCP] Convert some dashboards to lens
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/fields/fields.yml
  packages/gcp/data_stream/audit/manifest.yml
  packages/gcp/data_stream/audit/sample_event.json
  packages/gcp/data_stream/firewall/_dev/test/pipeline/test-firewall.log-expected.json
  packages/gcp/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/firewall/fields/fields.yml
  packages/gcp/data_stream/firewall/sample_event.json
  packages/gcp/data_stream/vpcflow/_dev/test/pipeline/test-vpcflow.log-expected.json
  packages/gcp/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/vpcflow/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/docs/firewall.md
  packages/gcp/docs/vpcflow.md
  packages/gcp/kibana/dashboard/gcp-48e12760-cbe4-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/dashboard/gcp-6576c480-73a2-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/dashboard/gcp-8a1fb690-cbeb-11ec-b519-85ccf621cbbf.json
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-9484a4cd-685f-450e-aeaa-728fbdbea20f.json
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/search/gcp-d88364c0-73a1-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/tag/gcp-e1a359e5-543d-44c2-ab81-628138719e28.json
  packages/gcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:GCP

#7026 [ti_misp] Skip rename if "event.original" already exists
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: Team:Security-External Integrations, Integration:MISP, bugfix

#6644 [O11y][AWS] Migrate AWS Billing dashboard visualizations to lens
  packages/aws/changelog.yml
  packages/aws/img/metricbeat-aws-billing-overview.png
  packages/aws/kibana/dashboard/aws-e6776b10-1534-11ea-841c-01bf20a6c8ba.json
  packages/aws/manifest.yml
Labels: Integration:AWS

#4126 [GCP] Add cloudsql data streams
  packages/gcp/_dev/build/docs/cloudsql.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/cloudsql_mysql/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/cloudsql_mysql/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/cloudsql_mysql/fields/agent.yml
  packages/gcp/data_stream/cloudsql_mysql/fields/base-fields.yml
  packages/gcp/data_stream/cloudsql_mysql/fields/ecs.yml
  packages/gcp/data_stream/cloudsql_mysql/fields/fields.yml
  packages/gcp/data_stream/cloudsql_mysql/fields/package-fields.yml
  packages/gcp/data_stream/cloudsql_mysql/manifest.yml
  packages/gcp/data_stream/cloudsql_mysql/sample_event.json
  packages/gcp/data_stream/cloudsql_postgresql/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/cloudsql_postgresql/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/cloudsql_postgresql/fields/agent.yml
  packages/gcp/data_stream/cloudsql_postgresql/fields/base-fields.yml
  packages/gcp/data_stream/cloudsql_postgresql/fields/ecs.yml
  packages/gcp/data_stream/cloudsql_postgresql/fields/fields.yml
  packages/gcp/data_stream/cloudsql_postgresql/fields/package-fields.yml
  packages/gcp/data_stream/cloudsql_postgresql/manifest.yml
  packages/gcp/data_stream/cloudsql_postgresql/sample_event.json
  packages/gcp/data_stream/cloudsql_sqlserver/agent/stream/stream.yml.hbs
  packages/gcp/data_stream/cloudsql_sqlserver/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/cloudsql_sqlserver/fields/agent.yml
  packages/gcp/data_stream/cloudsql_sqlserver/fields/base-fields.yml
  packages/gcp/data_stream/cloudsql_sqlserver/fields/ecs.yml
  packages/gcp/data_stream/cloudsql_sqlserver/fields/fields.yml
  packages/gcp/data_stream/cloudsql_sqlserver/fields/package-fields.yml
  packages/gcp/data_stream/cloudsql_sqlserver/manifest.yml
  packages/gcp/data_stream/cloudsql_sqlserver/sample_event.json
  packages/gcp/data_stream/redis/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/cloudsql.md
  packages/gcp/docs/redis.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#6962 [O11y][AWS] Migrate AWS VPC Flow dashboard visualizations to lens
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-vpcflow-overview.png
  packages/aws/kibana/dashboard/aws-15503340-4488-11ea-ad63-791a5dc86f10.json
  packages/aws/kibana/search/aws-c1aee600-4487-11ea-ad63-791a5dc86f10.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#4818 [Azure] Add Monitor App Service Logs data stream
  .github/CODEOWNERS
  packages/azure_app_service/_dev/build/build.yml
  packages/azure_app_service/_dev/build/docs/README.md
  packages/azure_app_service/changelog.yml
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceapplogs-raw.log
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceapplogs-raw.log-expected.json
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceauditlogs-raw.log
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceauditlogs-raw.log-expected.json
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceconsolelogs-raw.log
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceconsolelogs-raw.log-expected.json
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appservicehttplogs-raw.log
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appservicehttplogs-raw.log-expected.json
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceipsecauditlogs-raw.log
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appserviceipsecauditlogs-raw.log-expected.json
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appservicesplatformlogs-raw.log
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-appservicesplatformlogs-raw.log-expected.json
  packages/azure_app_service/data_stream/app_service_logs/_dev/test/pipeline/test-common-config.yml
  packages/azure_app_service/data_stream/app_service_logs/agent/stream/azure-eventhub.yml.hbs
  packages/azure_app_service/data_stream/app_service_logs/agent/stream/log.yml.hbs
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/appservice-applogs-inner-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/appservice-auditlogs-inner-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/appservice-consolelogs-inner-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/appservice-httplogs-inner-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/appservice-ipsecauditlogs-inner-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/appservice-platformlogs-inner-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure_app_service/data_stream/app_service_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_app_service/data_stream/app_service_logs/fields/base-fields.yml
  packages/azure_app_service/data_stream/app_service_logs/fields/ecs.yml
  packages/azure_app_service/data_stream/app_service_logs/fields/fields.yml
  packages/azure_app_service/data_stream/app_service_logs/fields/package-fields.yml
  packages/azure_app_service/data_stream/app_service_logs/manifest.yml
  packages/azure_app_service/docs/README.md
  packages/azure_app_service/img/app-service-logo.svg
  packages/azure_app_service/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#7003 CODEOWNERS: remove deleted packages from list
  .github/CODEOWNERS
Labels: Team:Security-External Integrations

#6919 [Cisco IOS] Fix parsing when message_count is missing
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/data_stream/log/fields/ecs.yml
  packages/cisco_ios/data_stream/log/fields/fields.yml
  packages/cisco_ios/docs/README.md
  packages/cisco_ios/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoIOS, bugfix

#7106 [Cloud Security Posture] Remove preview tag before the 8.9 release
  packages/cloud_security_posture/changelog.yml
Labels: Team:Cloud Security

#6871 [O11y][AWS] Migrate AWS Security Hub dashboards to lens
  packages/aws/changelog.yml
  packages/aws/img/securityhub_summary_dashboard.png
  packages/aws/kibana/dashboard/aws-c9f103d0-5f63-11ed-bd69-473ce047ef30.json
  packages/aws/kibana/search/aws-b111d3a0-5f3e-11ed-b2ee-f91fa284c4b5.json
  packages/aws/kibana/search/aws-cc2e2cf0-5f3f-11ed-b2ee-f91fa284c4b5.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#6609 [O11y][Apache Tomcat] Add integration package with `thread pool` data stream
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/thread_pool/_dev/test/pipeline/test-common-config.yml
  packages/apache_tomcat/data_stream/thread_pool/_dev/test/pipeline/test-thread-pool-metrics.json
  packages/apache_tomcat/data_stream/thread_pool/_dev/test/pipeline/test-thread-pool-metrics.json-expected.json
  packages/apache_tomcat/data_stream/thread_pool/_dev/test/pipeline/test-thread-pool-threading-metrics.json
  packages/apache_tomcat/data_stream/thread_pool/_dev/test/pipeline/test-thread-pool-threading-metrics.json-expected.json
  packages/apache_tomcat/data_stream/thread_pool/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/thread_pool/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/thread_pool/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/thread_pool/fields/base-fields.yml
  packages/apache_tomcat/data_stream/thread_pool/fields/ecs.yml
  packages/apache_tomcat/data_stream/thread_pool/fields/fields.yml
  packages/apache_tomcat/data_stream/thread_pool/manifest.yml
  packages/apache_tomcat/data_stream/thread_pool/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/img/apache_tomcat-thread-pool-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-5b24a9c0-0e86-11ee-8c11-879004e1a267.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat, v8.7.0

#6816 [Sophos] UTM data stream: replace Javascript processing with ingest pipelines
  packages/sophos/_dev/build/docs/README.md
  packages/sophos/_dev/deploy/docker/docker-compose.yml
  packages/sophos/_dev/deploy/docker/sample_logs/sophos-utm-generated.log
  packages/sophos/_dev/deploy/docker/sample_logs/sophos-utm.log
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-generated.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-generated.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-packet-filter.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-packet-filter.json-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dhcp.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dhcp.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dns.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dns.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-http.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-http.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-packetfilter.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-packetfilter.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/system/test-logfile-config.yml
  packages/sophos/data_stream/utm/agent/stream/stream.yml.hbs
  packages/sophos/data_stream/utm/agent/stream/tcp.yml.hbs
  packages/sophos/data_stream/utm/agent/stream/udp.yml.hbs
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/dhcp.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/dns.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/http.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/packetfilter.yml
  packages/sophos/data_stream/utm/fields/agent.yml
  packages/sophos/data_stream/utm/fields/base-fields.yml
  packages/sophos/data_stream/utm/fields/ecs.yml
  packages/sophos/data_stream/utm/fields/fields.yml
  packages/sophos/data_stream/utm/manifest.yml
  packages/sophos/data_stream/utm/sample_event.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-authentication.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/event.yml
  packages/sophos/data_stream/xg/sample_event.json
  packages/sophos/docs/README.md
  packages/sophos/img/sophos-utm-dhcp.png
  packages/sophos/img/sophos-utm-http.png
  packages/sophos/img/sophos-utm-overview.png
  packages/sophos/img/sophos-utm-packetfilter.png
  packages/sophos/kibana/dashboard/sophos-13d06620-19af-11ee-982d-b1686976653f.json
  packages/sophos/kibana/dashboard/sophos-14b92300-19b0-11ee-982d-b1686976653f.json
  packages/sophos/kibana/dashboard/sophos-55522ef0-19ad-11ee-982d-b1686976653f.json
  packages/sophos/kibana/dashboard/sophos-60a2c260-19ad-11ee-982d-b1686976653f.json
  packages/sophos/kibana/search/sophos-fc02bd30-1a5e-11ee-86cf-13f340792f77.json
  packages/sophos/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Sophos

#7038 [hashicorp_vault] - update package spec to 2.9.0
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/fields/fields.yml
  packages/hashicorp_vault/data_stream/audit/sample_event.json
  packages/hashicorp_vault/data_stream/log/sample_event.json
  packages/hashicorp_vault/data_stream/metrics/sample_event.json
  packages/hashicorp_vault/docs/README.md
  packages/hashicorp_vault/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:HashicorpVault

#7057 [infoblox_nios] - update package spec to 2.9.0
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#7120 [keycloak] - update package-spec to 2.9.0
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/sample_event.json
  packages/keycloak/docs/README.md
  packages/keycloak/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Keycloak

#7121 [lastpass] - update pkg-spec to 2.9.0
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/detailed_shared_folder/sample_event.json
  packages/lastpass/data_stream/event_report/sample_event.json
  packages/lastpass/data_stream/user/sample_event.json
  packages/lastpass/docs/README.md
  packages/lastpass/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Lastpass

#7122 [lyve_cloud] - update package-spec to 2.9.0
  packages/lyve_cloud/changelog.yml
  packages/lyve_cloud/data_stream/audit/fields/base-fields.yml
  packages/lyve_cloud/data_stream/audit/sample_event.json
  packages/lyve_cloud/docs/README.md
  packages/lyve_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#7123 [m365_defender] - update package-spec to 2.9.0.
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/fields/ecs.yml
  packages/m365_defender/data_stream/incident/fields/ecs.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/fields/ecs.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender

#7105 all: remove confusing fail- prefix from error messages
  packages/bitwarden/changelog.yml
  packages/bitwarden/data_stream/collection/elasticsearch/ingest_pipeline/default.yml
  packages/bitwarden/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/bitwarden/data_stream/group/elasticsearch/ingest_pipeline/default.yml
  packages/bitwarden/data_stream/policy/elasticsearch/ingest_pipeline/default.yml
  packages/bitwarden/manifest.yml
  packages/cisco_nexus/changelog.yml
  packages/cisco_nexus/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_nexus/data_stream/log/elasticsearch/ingest_pipeline/pipeline_extract_message.yml
  packages/cisco_nexus/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/system.yml
  packages/juniper_srx/manifest.yml
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/manifest.yml
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-command-script.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-cross-process.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-file.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-indicator.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-login.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-network-action.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-process.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-registry.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-scheduled-task.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-threat-intelligence-indicator.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
  packages/trellix_epo_cloud/changelog.yml
  packages/trellix_epo_cloud/data_stream/device/elasticsearch/ingest_pipeline/default.yml
  packages/trellix_epo_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/trellix_epo_cloud/data_stream/group/elasticsearch/ingest_pipeline/default.yml
  packages/trellix_epo_cloud/manifest.yml
  packages/vectra_detect/changelog.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-detection.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-lockdown.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-scoring.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-alert.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-audit.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-campaign.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-health.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-detection.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-lockdown.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-scoring.yml
  packages/vectra_detect/manifest.yml
Labels: bug, Team:Security-External Integrations

#6975 Fix mappings of flattened fields in azure billing and application insights packages
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/data_stream/app_insights/fields/agent.yml
  packages/azure_application_insights/data_stream/app_insights/fields/package-fields.yml
  packages/azure_application_insights/data_stream/app_state/fields/agent.yml
  packages/azure_application_insights/data_stream/app_state/fields/package-fields.yml
  packages/azure_application_insights/docs/README.md
  packages/azure_application_insights/docs/app_state.md
  packages/azure_application_insights/manifest.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/data_stream/billing/fields/agent.yml
  packages/azure_billing/data_stream/billing/fields/package-fields.yml
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
Labels: Integration:Azure

#6610 iis: Add script processor to fix grok behaviour of ES 8.7.x+
  packages/iis/data_stream/access/_dev/test/pipeline/test-iis-access-75.log-expected.json
  packages/iis/data_stream/access/elasticsearch/ingest_pipeline/default.yml
Labels: bug

#6982 [O11y][Apache Tomcat] Add overview dashboards for logs and metrics data streams
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/img/apache_tomcat-access-dashboard.png
  packages/apache_tomcat/img/apache_tomcat-catalina-localhost-dashboard.png
  packages/apache_tomcat/img/apache_tomcat-logs-overview-dashboard.png
  packages/apache_tomcat/img/apache_tomcat-metrics-overview-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-44a8e0d0-b8f5-11ed-ac9b-cb6bcd97d223.json
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-8fd54a20-1f0d-11ee-9d6b-bb41d08322c8.json
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-9c66eb10-dd0c-11ed-9f4f-d97c9f37d195.json
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-c2e71320-bccb-11ed-8065-19219c0d55ab.json
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-c8ec7280-1a57-11ee-8c1a-099fb2bcb823.json
  packages/apache_tomcat/kibana/search/apache_tomcat-1f3c6e30-dd11-11ed-9f4f-d97c9f37d195.json
  packages/apache_tomcat/kibana/search/apache_tomcat-4d39c820-ddcd-11ed-8080-ddad81fe2c3c.json
  packages/apache_tomcat/kibana/search/apache_tomcat-d0957a70-eda4-11ed-909a-2baec7270d1f.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat

#7132 akamai: add event limit parameter to HTTPJSON stream
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/agent/stream/httpjson.yml.hbs
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Akamai

#7124 [microsoft_defender_endpoint] - update package-spec to 2.9.0
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Microsoft_defender_endpoint

#7125 [microsoft_dhcp] - update package-spec to 2.9.0
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-logv6.log-expected.json
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcpv6.yml
  packages/microsoft_dhcp/data_stream/log/sample_event.json
  packages/microsoft_dhcp/docs/README.md
  packages/microsoft_dhcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Microsoft_dhcp

#7096 Add additional mappings for fleet-server logs
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/elastic_agent_logs/fields/fields.yml
  packages/elastic_agent/data_stream/fleet_server_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/fleet_server_logs/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Fleet, Integration:Elastic-Agent

#7029 [aws_logs] Add system tests for awss3 input
  packages/aws_logs/data_stream/generic/_dev/deploy/tf/env.yml
  packages/aws_logs/data_stream/generic/_dev/deploy/tf/main.tf
  packages/aws_logs/data_stream/generic/_dev/deploy/tf/variables.tf
  packages/aws_logs/data_stream/generic/_dev/test/system/test-default-config.yml
Labels: enhancement, Team:Security-External Integrations, Team:Cloud-Monitoring

#6977 [windows] Add Initial AppLocker Data Stream (EXE and DLL)
  packages/windows/_dev/build/docs/README.md
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/_dev/test/pipeline/test-events-applocker-exe-8003.json
  packages/windows/data_stream/applocker_exe_and_dll/_dev/test/pipeline/test-events-applocker-exe-8003.json-expected.json
  packages/windows/data_stream/applocker_exe_and_dll/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/applocker_exe_and_dll/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/applocker_exe_and_dll/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_exe_and_dll/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/agent.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/base-fields.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/beats.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/ecs.yml
  packages/windows/data_stream/applocker_exe_and_dll/fields/winlog.yml
  packages/windows/data_stream/applocker_exe_and_dll/manifest.yml
  packages/windows/data_stream/applocker_exe_and_dll/sample_event.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#6741 [ti_maltiverse] Add new Maltiverse threat intelligence integration
  .github/CODEOWNERS
  packages/ti_maltiverse/_dev/build/build.yml
  packages/ti_maltiverse/_dev/build/docs/README.md
  packages/ti_maltiverse/_dev/deploy/docker/config.yml
  packages/ti_maltiverse/_dev/deploy/docker/docker-compose.yml
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/data_stream/indicator/_dev/test/pipeline/test-common-config.yml
  packages/ti_maltiverse/data_stream/indicator/_dev/test/pipeline/test-maltiverse-feed-event.json
  packages/ti_maltiverse/data_stream/indicator/_dev/test/pipeline/test-maltiverse-feed-event.json-expected.json
  packages/ti_maltiverse/data_stream/indicator/_dev/test/system/test-default-config.yml
  packages/ti_maltiverse/data_stream/indicator/agent/stream/stream.yml.hbs
  packages/ti_maltiverse/data_stream/indicator/elasticsearch/ilm/default_policy.json
  packages/ti_maltiverse/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_maltiverse/data_stream/indicator/fields/base-fields.yml
  packages/ti_maltiverse/data_stream/indicator/fields/ecs.yml
  packages/ti_maltiverse/data_stream/indicator/fields/indicator.yml
  packages/ti_maltiverse/data_stream/indicator/manifest.yml
  packages/ti_maltiverse/data_stream/indicator/sample_event.json
  packages/ti_maltiverse/docs/README.md
  packages/ti_maltiverse/elasticsearch/transform/latest/fields/fields.yml
  packages/ti_maltiverse/elasticsearch/transform/latest/manifest.yml
  packages/ti_maltiverse/elasticsearch/transform/latest/transform.yml
  packages/ti_maltiverse/img/logo-maltiverse.svg
  packages/ti_maltiverse/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:Maltiverse

#7128 [microsoft_exchange_online_message_trace] - update package-spec to 2.9.0
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/sample_event.json
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MicrosoftExchangeOnlineMessageTrace

#7156 [Synthetics] Added test run ID field
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/agent/stream/browser.yml.hbs
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/http/agent/stream/http.yml.hbs
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/agent/stream/tcp.yml.hbs
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: v8.10.0

#6988 f5_bigip: add support for log file input
  packages/f5_bigip/_dev/deploy/docker/docker-compose.yml
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/f5_bigip/data_stream/log/agent/stream/log.yml.hbs
  packages/f5_bigip/data_stream/log/fields/ecs.yml
  packages/f5_bigip/data_stream/log/manifest.yml
  packages/f5_bigip/docs/README.md
  packages/f5_bigip/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:F5-BIGIP

#7104 system_audit: fix handling of processors yaml when user provides additional processors
  packages/system_audit/changelog.yml
  packages/system_audit/data_stream/package/_dev/test/system/test-system-package-config.yml
  packages/system_audit/data_stream/package/agent/stream/package.yml.hbs
  packages/system_audit/manifest.yml
Labels: bug, Team:Security-External Integrations

#7154 Zeek smb_mapping log Add support for missing UI processor element
  packages/zeek/changelog.yml
  packages/zeek/data_stream/capture_loss/manifest.yml
  packages/zeek/data_stream/connection/manifest.yml
  packages/zeek/data_stream/dce_rpc/manifest.yml
  packages/zeek/data_stream/dhcp/manifest.yml
  packages/zeek/data_stream/dnp3/manifest.yml
  packages/zeek/data_stream/dns/manifest.yml
  packages/zeek/data_stream/dpd/manifest.yml
  packages/zeek/data_stream/files/manifest.yml
  packages/zeek/data_stream/ftp/manifest.yml
  packages/zeek/data_stream/http/manifest.yml
  packages/zeek/data_stream/intel/manifest.yml
  packages/zeek/data_stream/irc/manifest.yml
  packages/zeek/data_stream/kerberos/manifest.yml
  packages/zeek/data_stream/known_certs/manifest.yml
  packages/zeek/data_stream/known_hosts/manifest.yml
  packages/zeek/data_stream/known_services/manifest.yml
  packages/zeek/data_stream/modbus/manifest.yml
  packages/zeek/data_stream/mysql/manifest.yml
  packages/zeek/data_stream/notice/manifest.yml
  packages/zeek/data_stream/ntlm/manifest.yml
  packages/zeek/data_stream/ntp/manifest.yml
  packages/zeek/data_stream/ocsp/manifest.yml
  packages/zeek/data_stream/pe/manifest.yml
  packages/zeek/data_stream/radius/manifest.yml
  packages/zeek/data_stream/rdp/manifest.yml
  packages/zeek/data_stream/rfb/manifest.yml
  packages/zeek/data_stream/signature/manifest.yml
  packages/zeek/data_stream/sip/manifest.yml
  packages/zeek/data_stream/smb_cmd/manifest.yml
  packages/zeek/data_stream/smb_files/manifest.yml
  packages/zeek/data_stream/smb_mapping/manifest.yml
  packages/zeek/data_stream/smtp/manifest.yml
  packages/zeek/data_stream/snmp/manifest.yml
  packages/zeek/data_stream/socks/manifest.yml
  packages/zeek/data_stream/software/manifest.yml
  packages/zeek/data_stream/ssh/manifest.yml
  packages/zeek/data_stream/ssl/manifest.yml
  packages/zeek/data_stream/stats/manifest.yml
  packages/zeek/data_stream/syslog/manifest.yml
  packages/zeek/data_stream/traceroute/manifest.yml
  packages/zeek/data_stream/tunnel/manifest.yml
  packages/zeek/data_stream/weird/manifest.yml
  packages/zeek/data_stream/x509/manifest.yml
  packages/zeek/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zeek

#7157 network_traffic: explicitly license under Elastic 1.0
  packages/network_traffic/LICENSE.txt
  packages/network_traffic/changelog.yml
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#7028 CODEOWNERS: split ownership of system between observability and security
  .github/CODEOWNERS
Labels: Team:Security-External Integrations, Team:Obs-InfraObs

#7099 [O11y][Apache Tomcat] Add supported log formats for Catalina and Localhost logs
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat

#6854 [Arista NG Firewall] Bug fixes for initial release
  packages/arista_ngfw/_dev/build/docs/README.md
  packages/arista_ngfw/changelog.yml
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-firewall-event.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-http-request.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-http-response.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-session-event.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-session-stats.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-web-filter.log-expected.json
  packages/arista_ngfw/data_stream/log/agent/stream/tcp.yml.hbs
  packages/arista_ngfw/data_stream/log/agent/stream/udp.yml.hbs
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/arista_ngfw/data_stream/log/fields/ecs.yml
  packages/arista_ngfw/data_stream/log/manifest.yml
  packages/arista_ngfw/docs/README.md
  packages/arista_ngfw/manifest.yml
Labels: Integration:Arista NGFW

#5594 [O11y][Kafka] Migration for visualizations to lens in kibana 8.8.0
  packages/kafka/changelog.yml
  packages/kafka/img/filebeat-kafka-logs-overview.png
  packages/kafka/img/metricbeat_kafka_dashboard.png
  packages/kafka/kibana/dashboard/kafka-943caca0-87ee-11e7-ad9c-db80de0bf8d3.json
  packages/kafka/kibana/dashboard/kafka-ea488d90-8e63-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/search/kafka-all-kafka-logs.json
  packages/kafka/kibana/search/kafka-stacktraces.json
  packages/kafka/kibana/visualization/kafka-1681f1a0-90e7-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-27dd5960-d2ed-11e8-8766-dbbdc39e7ba9.json
  packages/kafka/kibana/visualization/kafka-3f7c33c0-87ee-11e7-ad9c-db80de0bf8d3.json
  packages/kafka/kibana/visualization/kafka-491fee50-d2f5-11e8-8766-dbbdc39e7ba9.json
  packages/kafka/kibana/visualization/kafka-587f2360-8f21-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-8d2f79a0-8e65-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-944188f0-8e79-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-9a7576e0-d231-11e8-8766-dbbdc39e7ba9.json
  packages/kafka/kibana/visualization/kafka-b9d12c80-8e63-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-dc89f8d0-8e8e-11e8-8fa2-3d5f811fbd0f.json
  packages/kafka/kibana/visualization/kafka-number-of-kafka-stracktraces-by-class.json
  packages/kafka/manifest.yml
Labels: enhancement, Integration:Kafka, v8.6.0, Team:Service-Integrations

#7165 [mimecast] - update package-spec to 2.9.0
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/data_stream/dlp_logs/sample_event.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/pipeline/test-threat-intel-malware-customer.log-expected.json
  packages/mimecast/data_stream/threat_intel_malware_customer/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/pipeline/test-threat-intel-malware-grid.log-expected.json
  packages/mimecast/data_stream/threat_intel_malware_grid/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/sample_event.json
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/sample_event.json
  packages/mimecast/data_stream/ttp_url_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/kibana/dashboard/mimecast-042d5620-5411-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-0ebd21e0-5422-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-6c61f080-541f-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-7790e470-541a-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-87fba310-5413-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-b4585cb0-541c-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-bca36430-540f-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-f22e62f0-5417-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/kibana/dashboard/mimecast-f8933590-541b-11ec-bd43-b5e1f9a9c8d5.json
  packages/mimecast/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mimecast

#7168 [netskope] - update package-spec to 2.9.0
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/fields/fields.yml
  packages/netskope/data_stream/alerts/sample_event.json
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/sample_event.json
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Netskope

#7169 [o365] - update package-spec to 2.9.0
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/data_stream/audit/sample_event.json
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365
