Repository elastic/integrations, pull requests merged in 2023-11, with the labels that each got.

#8258 [Logstash] Add plugin specific drilldown dashboards
  packages/logstash/changelog.yml
  packages/logstash/data_stream/pipeline/agent/stream/cel.yml.hbs
  packages/logstash/data_stream/plugins/agent/stream/cel.yml.hbs
  packages/logstash/data_stream/plugins/fields/fields.yml
  packages/logstash/data_stream/plugins/sample_event.json
  packages/logstash/docs/README.md
  packages/logstash/kibana/dashboard/logstash-4bbf4a50-6ece-11ee-910d-eb0006359086.json
  packages/logstash/kibana/dashboard/logstash-4f60a1e0-6eab-11ee-86f6-d7074508d975.json
  packages/logstash/kibana/dashboard/logstash-79270240-48ee-11ee-8cb5-99927777c522.json
  packages/logstash/kibana/dashboard/logstash-8f8c78a0-6e9e-11ee-86f6-d7074508d975.json
  packages/logstash/kibana/dashboard/logstash-9d450b10-4680-11ee-9ddc-919f87fe352d.json
  packages/logstash/kibana/dashboard/logstash-a42d7060-45e6-11ee-957b-3720c0b0fbc5.json
  packages/logstash/kibana/dashboard/logstash-b516a470-71ea-11ee-aadf-e577130ac888.json
  packages/logstash/kibana/dashboard/logstash-b5234e70-6f54-11ee-910d-eb0006359086.json
  packages/logstash/kibana/dashboard/logstash-bc1a8050-5ee1-11ee-8e78-bf6865bc3ffc.json
  packages/logstash/kibana/dashboard/logstash-c0594170-526a-11ee-9ecc-31444cb79548.json
  packages/logstash/kibana/dashboard/logstash-ee860840-41ed-11ee-874b-fdb94cc3273a.json
  packages/logstash/kibana/dashboard/logstash-fe17b800-6eb4-11ee-86f6-d7074508d975.json
  packages/logstash/manifest.yml
Labels: enhancement

#8361 system,windows: fix UAC attribute bit table
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-security-windows2016-4738-account-changed.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-windows2016-4738-account-changed.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Windows, Integration:System

#8322 [crowdstrike] Prefer ImageFileName for the value of process.executable
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/firewall_match.yml
  packages/crowdstrike/manifest.yml
Labels: Team:Security-External Integrations, Integration:Crowdstrike, bugfix

#8362 [Cisco ASA] Fix GROK adding support to usernames ending with "$"
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoASA, bugfix

#8304 [O11y][Apache Tomcat] Fix pipeline test and rename `header_forwarder` field to `client.ip`
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/apache_tomcat/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/access/fields/ecs.yml
  packages/apache_tomcat/data_stream/access/fields/fields.yml
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
Labels: bug, Integration:Tomcat

#8349 [Kubernetes] Update K8s version for 1.28 compatibility
  .ci/Jenkinsfile
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/docs/README.md
Labels: Integration:Kubernetes, Team:Cloudnative-Monitoring

#8366 CloudFormation version hardening
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#8223 [SpringBoot] Migrate to GA
  packages/spring_boot/changelog.yml
  packages/spring_boot/manifest.yml
Labels: Integration:SpringBoot

#8360 [docs] Update MSSQL README
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Team:Docs, docs

#8368 [Prisma Cloud] Extract user.name from user.email in audit data_stream
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/prisma_cloud/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/audit/sample_event.json
  packages/prisma_cloud/docs/README.md
  packages/prisma_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: Palo Alto Prisma Cloud

#8350 [ti_recordedfuture] Fix the parsing of providers info from evidence fields
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-domain-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-hash-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-ip-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/manifest.yml
Labels: Team:Security-External Integrations, Integration:Recorded Future, bugfix

#8354 [Cisco Meraki] Simplify ipflows pipeline to cover ICMP events
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-airmarshal-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-ip-flow.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-ip-flow.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-urls.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/ipflows.yml
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Meraki

#7633 [microsoft_dhcp] changes/fix to set values for source and the right values for host; #…
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-logv6.log-expected.json
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcpv6.yml
  packages/microsoft_dhcp/data_stream/log/fields/ecs.yml
  packages/microsoft_dhcp/data_stream/log/sample_event.json
  packages/microsoft_dhcp/docs/README.md
  packages/microsoft_dhcp/manifest.yml
Labels: Team:Security-External Integrations, Integration:Microsoft_dhcp

#8379 [O11y][Azure Application Insight] App state overview Lens Migration
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/img/azure_app_insights_app_state-overview.png
  packages/azure_application_insights/kibana/dashboard/azure_application_insights-d5fbd610-03d9-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-0df175c0-03ee-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-0e74dee0-04a4-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-1064f9a0-04a5-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-2b54b2c0-04a8-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-76cc1d70-04a7-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-a89c8fd0-03ec-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-cb5ec410-03ed-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-cfa361a0-04a8-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-e2704140-04a3-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/lens/azure_application_insights-f0678020-04a2-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/kibana/visualization/azure_application_insights-2e5183a0-03da-11eb-8034-63f2039e9d3f.json
  packages/azure_application_insights/manifest.yml
Labels: enhancement, Integration:Azure, dashboard

#8386 [sentinel_one_cloud_funnel] Add system test for aws-s3 input
  packages/sentinel_one_cloud_funnel/_dev/deploy/tf/env.yml
  packages/sentinel_one_cloud_funnel/_dev/deploy/tf/files/test-command-script.log
  packages/sentinel_one_cloud_funnel/_dev/deploy/tf/main.tf
  packages/sentinel_one_cloud_funnel/_dev/deploy/tf/variables.tf
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/system/test-default-config.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/fields/beats.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/sample_event.json
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: Team:Security-External Integrations, Integration:SentinelOne

#8374 o365: add fallback for missing startTime
  packages/o365/_dev/deploy/docker/config.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/system/test-cel-config.yml
  packages/o365/data_stream/audit/_dev/test/system/test-o365audit-config.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:o365

#8384 [cisco_meraki] Fix handling of security events without dhost and with action.
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/security.yml
  packages/cisco_meraki/manifest.yml
Labels: bug, Team:Security-External Integrations

#8382 [O11y][Stan] Migrate `Client IP Count Timeline` visualization to lens
  packages/stan/changelog.yml
  packages/stan/img/logs-stan-overview.png
  packages/stan/kibana/dashboard/stan-Logs-stan-overview.json
  packages/stan/kibana/visualization/stan-c669ae20-41ed-11e9-ac5c-71ffa38a62e3.json
  packages/stan/manifest.yml
Labels: Integration:Stan

#8383 [O11y][NATS] Migrate `Client IP Count Timeline` visualization to lens
  packages/nats/changelog.yml
  packages/nats/img/filebeat_nats_dashboard.png
  packages/nats/kibana/dashboard/nats-Logs-nats-overview.json
  packages/nats/kibana/visualization/nats-c669ae20-41ed-11e9-ac5c-71ffa38a62e3.json
  packages/nats/manifest.yml
Labels: Integration:Nats

#8388 [cisco_umbrella] Add system tests for aws-s3 input and fix fields
  packages/cisco_umbrella/_dev/deploy/tf/env.yml
  packages/cisco_umbrella/_dev/deploy/tf/files/test-umbrella-proxylogs.log
  packages/cisco_umbrella/_dev/deploy/tf/main.tf
  packages/cisco_umbrella/_dev/deploy/tf/variables.tf
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/system/test-default-config.yml
  packages/cisco_umbrella/data_stream/log/fields/agent.yml
  packages/cisco_umbrella/data_stream/log/fields/base-fields.yml
  packages/cisco_umbrella/data_stream/log/sample_event.json
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cisco Umbrella

#8289 Extend user.name mapping to Windows Integration Package
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4662.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4662.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5136.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5136.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4662.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4662.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-5136.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-5136.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, Integration:Windows, Team:Elastic-Agent

#8402 o365: prevent API calls having a start time more than 168h in the past
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:o365

#8344 zscaler_zia: add question and answer names, and response data to `relate.{hosts,ip}`
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/zscaler_zia/data_stream/alerts/sample_event.json
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns.log
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns.log-expected.json
  packages/zscaler_zia/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/dns/sample_event.json
  packages/zscaler_zia/data_stream/firewall/sample_event.json
  packages/zscaler_zia/data_stream/tunnel/sample_event.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:ZscalerZIA

#8406 [Atlassian Confluence] Adding new pagination conditions
  packages/atlassian_confluence/_dev/deploy/docker/files/config.yml
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_confluence/data_stream/audit/sample_event.json
  packages/atlassian_confluence/docs/README.md
  packages/atlassian_confluence/manifest.yml
Labels: Team:Security-External Integrations, Integration:AtlassianConfluence, bugfix

#8238 Improve and unify dimensions for Elastic-Agent and Beats metrics
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/beat-stats-fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent

#8411 [o365] Preserve event.original from o365audit field
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-bad-ips.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-exchange-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-item-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-modified-properites.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/sample_event.json
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Team:Security-External Integrations, Integration:o365, bugfix

#8394 [O11y][Apache Tomcat] Update description in README.md
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat

#8413 o365: allow user configuration of API request batch size
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#8337 [O11y][K8s] Update size of the metric visualizations
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-0a672d50-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-21694370-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-5be46210-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-85879010-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-9bf990a0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:Kubernetes, dashboard

#8239 [Synthetics] Fix meta container object mappings
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/common.yml
  packages/synthetics/data_stream/browser_network/fields/common.yml
  packages/synthetics/data_stream/browser_screenshot/fields/common.yml
  packages/synthetics/data_stream/http/fields/common.yml
  packages/synthetics/data_stream/icmp/fields/common.yml
  packages/synthetics/data_stream/tcp/fields/common.yml
  packages/synthetics/manifest.yml
Labels: bug, Team:Uptime

#8217 [slack] Choose the correct value for the `oldest` param
  packages/slack/_dev/deploy/docker/files/config.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/slack/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/slack/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Slack

#8432 Allow rerouting of Azure logs events to a different data stream
  packages/azure/changelog.yml
  packages/azure/data_stream/activitylogs/manifest.yml
  packages/azure/data_stream/application_gateway/manifest.yml
  packages/azure/data_stream/auditlogs/manifest.yml
  packages/azure/data_stream/eventhub/manifest.yml
  packages/azure/data_stream/firewall_logs/manifest.yml
  packages/azure/data_stream/identity_protection/manifest.yml
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-raw.log
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-raw.log-expected.json
  packages/azure/data_stream/platformlogs/manifest.yml
  packages/azure/data_stream/provisioning/manifest.yml
  packages/azure/data_stream/signinlogs/manifest.yml
  packages/azure/data_stream/springcloudlogs/manifest.yml
  packages/azure/manifest.yml
  packages/azure/validation.yml
Labels: enhancement, Team:Cloud-Monitoring

#8417 [etcd] Fix incorrect field mapping in leader dataset
  packages/etcd/changelog.yml
  packages/etcd/data_stream/leader/fields/fields.yml
  packages/etcd/data_stream/leader/sample_event.json
  packages/etcd/docs/README.md
  packages/etcd/manifest.yml
Labels: Integration:Etcd

#8408 [integration][windows] - Fixed parsing of winlog.event_data.MemberName in forwarded data stream when extra commas are present
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4746-user.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4746-user.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/manifest.yml
Labels: integration, Integration:Windows, bugfix

#8440 [Buildkite] Update cronline for schedule-daily job
  catalog-info.yaml
Labels: ci

#8462 [Buildkite] Remove duplicated keys from steps in schedule-daily
  .buildkite/hooks/pre-command
  .buildkite/pipeline.schedule-daily.yml
  .buildkite/scripts/common.sh
Labels: ci

#8449 [intrgration][sentinel-one-cloud-funnel] - Added support for GCS input
  packages/sentinel_one_cloud_funnel/_dev/build/docs/README.md
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/agent/stream/gcs.yml.hbs
  packages/sentinel_one_cloud_funnel/data_stream/event/manifest.yml
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, integration, Team:Security-External Integrations

#7395 [Kubernetes] Expand `condition` support to remaining inputs
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/apiserver/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/apiserver/manifest.yml
  packages/kubernetes/data_stream/audit_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/audit_logs/manifest.yml
  packages/kubernetes/data_stream/container/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/container/manifest.yml
  packages/kubernetes/data_stream/controllermanager/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/controllermanager/manifest.yml
  packages/kubernetes/data_stream/event/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/event/manifest.yml
  packages/kubernetes/data_stream/node/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/node/manifest.yml
  packages/kubernetes/data_stream/pod/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/pod/manifest.yml
  packages/kubernetes/data_stream/proxy/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/proxy/manifest.yml
  packages/kubernetes/data_stream/scheduler/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/scheduler/manifest.yml
  packages/kubernetes/data_stream/state_container/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_cronjob/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_daemonset/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_deployment/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_job/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_node/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_persistentvolume/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_persistentvolumeclaim/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_pod/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_replicaset/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_resourcequota/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_service/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_statefulset/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_storageclass/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/system/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/system/manifest.yml
  packages/kubernetes/data_stream/volume/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/volume/manifest.yml
  packages/kubernetes/manifest.yml
Labels: Team:Cloudnative-Monitoring

#8463 [Buildkite] Reuse from and to changesets in Buildkite scripts
  .buildkite/scripts/common.sh
  .buildkite/scripts/test_integrations_with_serverless.sh
  .buildkite/scripts/test_one_package.sh
  .buildkite/scripts/trigger_integrations_in_parallel.sh
Labels: ci

#8299 gcp: add keep_json option for audit, dns, firewall and vpcflow datastreams
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/fields.yml
  packages/gcp/data_stream/audit/manifest.yml
  packages/gcp/data_stream/audit/sample_event.json
  packages/gcp/data_stream/dns/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/dns/fields/fields.yml
  packages/gcp/data_stream/dns/manifest.yml
  packages/gcp/data_stream/dns/sample_event.json
  packages/gcp/data_stream/firewall/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/firewall/fields/fields.yml
  packages/gcp/data_stream/firewall/manifest.yml
  packages/gcp/data_stream/firewall/sample_event.json
  packages/gcp/data_stream/vpcflow/_dev/test/pipeline/test-vpcflow.log-expected.json
  packages/gcp/data_stream/vpcflow/agent/stream/gcp-pubsub.yml.hbs
  packages/gcp/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/vpcflow/fields/fields.yml
  packages/gcp/data_stream/vpcflow/manifest.yml
  packages/gcp/data_stream/vpcflow/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/docs/dns.md
  packages/gcp/docs/firewall.md
  packages/gcp/docs/vpcflow.md
  packages/gcp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:GCP

#8446 [Cloudflare Logpush] Add content-type header to HTTP endpoint setup docs
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cloudflare Logpush, bugfix

#8477 [Buildkite] Fix pipeline triggered to test local packages in schedule-daily
  .buildkite/pipeline.schedule-daily.yml
Labels: ci

#8475 [TI_MISP] Add support for EnforceWarningList filter parameter
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/manifest.yml
  packages/ti_misp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MISP

#8480 [cloudflare_logpush] Add support for updated security fields
  packages/cloudflare_logpush/_dev/deploy/docker/sample_logs/http_request.log
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare Logpush

#8390 Mandiant Advantage Integration initial implementation
  .github/CODEOWNERS
  packages/ti_mandiant_advantage/LICENSE.txt
  packages/ti_mandiant_advantage/_dev/build/build.yml
  packages/ti_mandiant_advantage/_dev/build/docs/README.md
  packages/ti_mandiant_advantage/_dev/deploy/docker/docker-compose.yml
  packages/ti_mandiant_advantage/_dev/deploy/docker/files/config.yml
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-fqdn-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-fqdn-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-ipv4-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-ipv4-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-md5-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-md5-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-url-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-url-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/system/test-default-config.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/agent/stream/httpjson.yml.hbs
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/elasticsearch/ingest_pipeline/default.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/agent.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/base-fields.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/ecs.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/fields.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/manifest.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/sample_event.json
  packages/ti_mandiant_advantage/docs/README.md
  packages/ti_mandiant_advantage/img/mandiant-logo.svg
  packages/ti_mandiant_advantage/img/ti_mandiant_alert.png
  packages/ti_mandiant_advantage/img/ti_mandiant_dashboard.png
  packages/ti_mandiant_advantage/img/ti_mandiant_indicators.png
  packages/ti_mandiant_advantage/kibana/dashboard/ti_mandiant_advantage-6c148130-314d-11ee-a289-f15ecff976b0.json
  packages/ti_mandiant_advantage/kibana/tag/ti_mandiant_advantage-3034d2e0-0a25-11ee-8156-4b7067bf551f.json
  packages/ti_mandiant_advantage/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:Mandiant Advantage Threat Intel

#8437 [Sophos] Fix parse of syslog priority from UTM events
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-http.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-http.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-packetfilter.log
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-packetfilter.log-expected.json
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/utm/fields/ecs.yml
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: Team:Security-External Integrations, Integration:Sophos, bugfix

#8472 entityanalytics_okta: allow dataset selection
  packages/entityanalytics_okta/_dev/deploy/docker/files/config.yml
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_okta/data_stream/user/manifest.yml
  packages/entityanalytics_okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#8044 [stack monitoring] Remove stack monitoring data streams beta flag
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/manifest.yml
  packages/elasticsearch/data_stream/cluster_stats/manifest.yml
  packages/elasticsearch/data_stream/enrich/manifest.yml
  packages/elasticsearch/data_stream/index/manifest.yml
  packages/elasticsearch/data_stream/index_recovery/manifest.yml
  packages/elasticsearch/data_stream/index_summary/manifest.yml
  packages/elasticsearch/data_stream/ml_job/manifest.yml
  packages/elasticsearch/data_stream/node/manifest.yml
  packages/elasticsearch/data_stream/node_stats/manifest.yml
  packages/elasticsearch/data_stream/pending_tasks/manifest.yml
  packages/elasticsearch/data_stream/shard/manifest.yml
  packages/elasticsearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/data_stream/audit/fields/package-fields.yml
  packages/kibana/data_stream/cluster_actions/manifest.yml
  packages/kibana/data_stream/cluster_rules/manifest.yml
  packages/kibana/data_stream/node_actions/manifest.yml
  packages/kibana/data_stream/node_rules/manifest.yml
  packages/kibana/data_stream/stats/manifest.yml
  packages/kibana/data_stream/status/manifest.yml
  packages/kibana/data_stream/task_manager_metrics/sample_event.json
  packages/kibana/manifest.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-json.log-expected.json
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-plain.log-expected.json
  packages/logstash/data_stream/log/sample_event.json
  packages/logstash/data_stream/node/manifest.yml
  packages/logstash/data_stream/node_cel/fields/agent.yml
  packages/logstash/data_stream/node_cel/fields/package-fields.yml
  packages/logstash/data_stream/node_cel/manifest.yml
  packages/logstash/data_stream/node_stats/manifest.yml
  packages/logstash/data_stream/pipeline/fields/agent.yml
  packages/logstash/data_stream/pipeline/fields/package-fields.yml
  packages/logstash/data_stream/pipeline/sample_event.json
  packages/logstash/data_stream/plugins/fields/agent.yml
  packages/logstash/data_stream/plugins/manifest.yml
  packages/logstash/data_stream/plugins/sample_event.json
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-json.log-expected.json
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-plain.log-expected.json
  packages/logstash/data_stream/slowlog/sample_event.json
  packages/logstash/docs/README.md
  packages/logstash/manifest.yml
  packages/logstash/validation.yml
Labels: Integration:Elasticsearch, Integration:Kibana, Integration:Logstash, Team:Infra Monitoring UI

#8213 [RedisEnterprise] Enable use_type flag for node and proxy datastreams
  packages/redisenterprise/_dev/build/docs/README.md
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/node/agent/stream/stream.yml.hbs
  packages/redisenterprise/data_stream/node/elasticsearch/ingest_pipeline/default.yml
  packages/redisenterprise/data_stream/node/fields/fields.yml
  packages/redisenterprise/data_stream/node/sample_event.json
  packages/redisenterprise/data_stream/proxy/agent/stream/stream.yml.hbs
  packages/redisenterprise/data_stream/proxy/fields/fields.yml
  packages/redisenterprise/data_stream/proxy/sample_event.json
  packages/redisenterprise/docs/README.md
  packages/redisenterprise/kibana/dashboard/redisenterprise-8da53a40-5a2f-11ea-bc69-cdcc68092a57.json
  packages/redisenterprise/manifest.yml
Labels: enhancement

#8376 Add cloudbeat Azure Credentials config
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#8516 Add 24h period configuration to all CSPM providers
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: bug

#8503 Sophos | Use `Timezone` config when invalid IANA timezone in events
  packages/sophos/changelog.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/sample_event.json
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Sophos

#8385 [Apache Tomcat] Migrate to GA
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/img/apache_tomcat-access-dashboard.png
  packages/apache_tomcat/kibana/dashboard/apache_tomcat-44a8e0d0-b8f5-11ed-ac9b-cb6bcd97d223.json
  packages/apache_tomcat/kibana/search/apache_tomcat-d0957a70-eda4-11ed-909a-2baec7270d1f.json
  packages/apache_tomcat/manifest.yml
Labels: enhancement, Integration:Tomcat

#8520 Allow rerouting of Azure Metrics events to a different data stream
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/compute_vm/manifest.yml
  packages/azure_metrics/data_stream/compute_vm_scaleset/manifest.yml
  packages/azure_metrics/data_stream/container_instance/manifest.yml
  packages/azure_metrics/data_stream/container_registry/manifest.yml
  packages/azure_metrics/data_stream/container_service/manifest.yml
  packages/azure_metrics/data_stream/database_account/manifest.yml
  packages/azure_metrics/data_stream/monitor/manifest.yml
  packages/azure_metrics/data_stream/storage_account/manifest.yml
  packages/azure_metrics/manifest.yml
Labels: enhancement, Integration:Azure

#8091 [Redis Enterprise]Add dimension fields to node datastream for TSDB su…
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/node/fields/ecs.yml
  packages/redisenterprise/data_stream/node/fields/fields.yml
  packages/redisenterprise/data_stream/node/manifest.yml
  packages/redisenterprise/data_stream/proxy/fields/fields.yml
  packages/redisenterprise/docs/README.md
  packages/redisenterprise/manifest.yml
Labels: enhancement

#8526 [logstash] add missing `host.ip` mapping
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/fields/ecs.yml
  packages/logstash/data_stream/node/fields/ecs.yml
  packages/logstash/data_stream/node_stats/fields/ecs.yml
  packages/logstash/data_stream/slowlog/fields/ecs.yml
  packages/logstash/manifest.yml
Labels: Integration:Logstash

#8133 [Redis Enterprise] Add mapping metric_type mapping for the fields of node datastream
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/node/fields/fields.yml
  packages/redisenterprise/docs/README.md
  packages/redisenterprise/manifest.yml
Labels: enhancement

#8518 [Network Beaconing Identification] Update beaconing docs to add feature details of the transform
  packages/beaconing/changelog.yml
  packages/beaconing/docs/README.md
  packages/beaconing/elasticsearch/transform/pivot_transform/transform.yml
  packages/beaconing/img/beaconing-detection-1.png
  packages/beaconing/manifest.yml
Labels: enhancement

#8538 cisco_meraki: record port state changes
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/sample_event.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/cisco_meraki/data_stream/log/fields/fields.yml
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Meraki

#8467 [okta] add okta.transaction.detail.request_api_token_id
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#8535 cisco_umbrella: don't clobber temporary field when collecting identities
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cisco Umbrella

#8540 [CSP] Add CIS Azure 5.3.1
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/0d5ddd5f-749b-516b-89ca-b5bf18ba4861.json
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#8531 Disable jenkins daily job in favor of Buildkite pipeline
  .ci/jobs/integrations-daily.yml
  .ci/schedule-daily.groovy
  catalog-info.yaml
Labels: ci

#8447 [GCP] [DNS logs] Don't parse `rdata` when it is empty
  packages/gcp/changelog.yml
  packages/gcp/data_stream/dns/_dev/test/pipeline/test-dns-empty-rdata.log
  packages/gcp/data_stream/dns/_dev/test/pipeline/test-dns-empty-rdata.log-expected.json
  packages/gcp/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#8534 sophos: retain host name information in host.name as well as host.hostname
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dhcp.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dns.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-http.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-packetfilter.log-expected.json
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/utm/sample_event.json
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Sophos

#8537 cisco_ios: support CISE_Alarm events
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-cise-alarm.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-cise-alarm.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_alarm.yml
  packages/cisco_ise/data_stream/log/fields/ecs.yml
  packages/cisco_ise/data_stream/log/fields/fields.yml
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoISE

#8548 fortigate_fortigate: fix indentation in hbs templates
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/agent/stream/log.yml.hbs
  packages/fortinet_fortigate/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortigate/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Fortinet

#8405 [O11y] [ SpringBoot] Support GC datastream on springboot 2.x with LTS JDK versions 11,17 and 21
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/gc/_dev/test/pipeline/test-gc-g1-concurrency-generation-metrics.json
  packages/spring_boot/data_stream/gc/_dev/test/pipeline/test-gc-g1-concurrency-generation-metrics.json-expected.json
  packages/spring_boot/data_stream/gc/_dev/test/pipeline/test-gc-g1-young-generation-metrics.json
  packages/spring_boot/data_stream/gc/_dev/test/pipeline/test-gc-g1-young-generation-metrics.json-expected.json
  packages/spring_boot/data_stream/gc/_dev/test/pipeline/test-gc-ps-marksweep-metrics.json
  packages/spring_boot/data_stream/gc/_dev/test/pipeline/test-gc-ps-marksweep-metrics.json-expected.json
  packages/spring_boot/data_stream/gc/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/gc/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/gc/fields/fields.yml
  packages/spring_boot/docs/README.md
  packages/spring_boot/img/spring_boot-memory-threading-dashboard.png
  packages/spring_boot/kibana/dashboard/spring_boot-c89e1510-ca15-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-0f481600-ca11-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-12228630-ca11-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-4a05b120-c9ea-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-e9033ff0-c9e9-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/kibana/lens/spring_boot-fae00cb0-ca04-11ec-b4b1-b57f75afa7dd.json
  packages/spring_boot/manifest.yml
Labels: enhancement, Integration:SpringBoot

#8490 Cisco FTD | Create `security_event` fields from flattened `security` field
  packages/cisco_ftd/_dev/build/docs/README.md
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-endpoint-profile.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoFTD

#8471 ci - bump daily job to use 8.12-SNAPSHOT
  .ci/schedule-daily.groovy
Labels: ci

#8343 [GCP] Add billing additional fields
  packages/gcp/_dev/build/docs/billing.md
  packages/gcp/changelog.yml
  packages/gcp/data_stream/billing/fields/fields.yml
  packages/gcp/data_stream/billing/manifest.yml
  packages/gcp/data_stream/billing/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/billing.md
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/manifest.yml
Labels: Team:Obs-InfraObs

#8558 auditd_manager: make socket type selection a set of options and correct documentation
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Auditd Manager

#8508 cisco_meraki: remove incorrect event.category:threat and event.type:indicator values
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-airmarshal-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-generated.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/idsalerts.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/security.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/data_stream/log/sample_event.json
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cisco Meraki

#8403 Rally benchmark aws.billing
  packages/aws/_dev/benchmark/rally/billing-benchmark.yml
  packages/aws/_dev/benchmark/rally/billing-benchmark/config.yml
  packages/aws/_dev/benchmark/rally/billing-benchmark/fields.yml
  packages/aws/_dev/benchmark/rally/billing-benchmark/template.ndjson
Labels: Integration:AWS

#8507 qualys_vmdr: fix mapping of vulnerability type and severity
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log-expected.json
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-0_valid-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-1_invalid-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: Qualys VMDR

#8498 Add additional event types for CrowdStrike integration
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: documentation, enhancement

#8499 Update the Kibana version for Microsoft Entra ID Entity Analytics integration
  packages/entityanalytics_entra_id/_dev/build/docs/README.md
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/docs/README.md
  packages/entityanalytics_entra_id/manifest.yml
Labels: bug, documentation

#8570 Added `beat.stats.libbeat.pipeline.queue.max_events` to elastic agent
  packages/elastic_agent/data_stream/auditbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/beat-stats-fields.yml
  packages/elastic_agent/data_stream/filebeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_logs/fields/fields.yml
Labels: Team:Elastic-Agent

#8574 trendmicro: handle presence of MSG-LEN in TCP messages
  packages/trendmicro/_dev/deploy/docker/sample_logs/trendmicro.log
  packages/trendmicro/changelog.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/default.yml
  packages/trendmicro/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:TrendMicro

#8148 [Redis Enterprise] Add dimension fields to proxy datastream.
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/proxy/fields/ecs.yml
  packages/redisenterprise/data_stream/proxy/fields/fields.yml
  packages/redisenterprise/data_stream/proxy/manifest.yml
  packages/redisenterprise/docs/README.md
  packages/redisenterprise/manifest.yml
Labels: enhancement

#8539 Add metric_type mapping for the fields of proxy dataset.
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/proxy/fields/fields.yml
  packages/redisenterprise/docs/README.md
  packages/redisenterprise/kibana/dashboard/redisenterprise-8da53a40-5a2f-11ea-bc69-cdcc68092a57.json
  packages/redisenterprise/manifest.yml
Labels: enhancement

#8578 Missing changelog artifacts for adding `beat.stats.libbeat.pipeline.queue.max_events` to elastic agent
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent

#8473 Removing "experimental" messaging from LotL docs
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/manifest.yml
Labels: enhancement

#8221 network_traffic: copy non-ECS fields to ECS-compliant locations for detection rules
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/sample_event.json
  packages/network_traffic/data_stream/cassandra/sample_event.json
  packages/network_traffic/data_stream/dhcpv4/sample_event.json
  packages/network_traffic/data_stream/dns/sample_event.json
  packages/network_traffic/data_stream/flow/sample_event.json
  packages/network_traffic/data_stream/http/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/http/fields/protocol.yml
  packages/network_traffic/data_stream/http/sample_event.json
  packages/network_traffic/data_stream/icmp/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/icmp/sample_event.json
  packages/network_traffic/data_stream/memcached/sample_event.json
  packages/network_traffic/data_stream/mongodb/sample_event.json
  packages/network_traffic/data_stream/mysql/sample_event.json
  packages/network_traffic/data_stream/nfs/sample_event.json
  packages/network_traffic/data_stream/pgsql/sample_event.json
  packages/network_traffic/data_stream/redis/sample_event.json
  packages/network_traffic/data_stream/sip/sample_event.json
  packages/network_traffic/data_stream/thrift/sample_event.json
  packages/network_traffic/data_stream/tls/sample_event.json
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture

#8495 [O11y][Microsoft SQL Server] Update the Transaction log dashboard
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/img/sqlserver-transaction-dashboard.png
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-18d66970-1fb4-11e9-8a4d-eb34d2834f6b.json
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver

#8375 [O11y][HAProxy] Migrate visualizations to lens
  packages/haproxy/changelog.yml
  packages/haproxy/img/haproxy-metrics-backend.png
  packages/haproxy/img/haproxy-metrics-frontend.png
  packages/haproxy/img/haproxy-metrics-http-backend.png
  packages/haproxy/img/haproxy-metrics-http-frontend.png
  packages/haproxy/img/haproxy-metrics-http-server.png
  packages/haproxy/img/haproxy-metrics-overview.png
  packages/haproxy/kibana/dashboard/haproxy-0836a4b0-47bd-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-4b555c30-47dd-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-8cc50a50-47e0-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-9151c900-471d-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-d5878d00-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-e9057ae0-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-0751ed00-479c-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-30956d00-47d7-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-40bed190-473b-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-72e84b00-47e1-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-79350d50-47db-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-794b6cd0-471d-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-86159190-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-8c8f0300-47dc-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-976b0910-47e4-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-981d1040-47be-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-a64b4fd0-471c-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-b3463670-47a1-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-bb0ab500-4735-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-f1e27ed0-47dc-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/visualization/haproxy-fcbdfa60-47bd-11e8-bc13-1397384faad3.json
  packages/haproxy/manifest.yml
Labels: enhancement, Integration:HAProxy, dashboard

#8564 [O11y][Airflow] Add system tests for the integration package
  packages/airflow/_dev/deploy/docker/docker-compose.yml
  packages/airflow/_dev/deploy/docker/sample_logs/test-airflow.log
  packages/airflow/changelog.yml
  packages/airflow/data_stream/statsd/_dev/test/system/test-default-config.yml
  packages/airflow/data_stream/statsd/sample_event.json
  packages/airflow/manifest.yml
Labels: enhancement, Integration:airflow

#8577 [integrations][Custom Azure Blob Storage] - Made integration GA, added new parameters & improved docs
  packages/azure_blob_storage/_dev/build/docs/README.md
  packages/azure_blob_storage/changelog.yml
  packages/azure_blob_storage/data_stream/generic/_dev/test/system/test-default-config.yml
  packages/azure_blob_storage/data_stream/generic/agent/stream/abs.yml.hbs
  packages/azure_blob_storage/data_stream/generic/manifest.yml
  packages/azure_blob_storage/docs/README.md
  packages/azure_blob_storage/manifest.yml
Labels: enhancement, integration, Team:Security-External Integrations

#8600 system: fix handling of tags in syslog datastream
  packages/system/changelog.yml
  packages/system/data_stream/auth/agent/stream/log.yml.hbs
  packages/system/data_stream/syslog/agent/stream/log.yml.hbs
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System

#8584 [RedisEnterprise] Enable TSDB
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/node/manifest.yml
  packages/redisenterprise/data_stream/proxy/manifest.yml
  packages/redisenterprise/manifest.yml
Labels: enhancement

#8581 [cloud_security_posture] Support Azure account type
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#8605 added output_health data stream to fleet_server
  packages/fleet_server/changelog.yml
  packages/fleet_server/data_stream/output_health_logs/elasticsearch/ilm/default_policy.json
  packages/fleet_server/data_stream/output_health_logs/fields/base-fields.yml
  packages/fleet_server/data_stream/output_health_logs/fields/fields.yml
  packages/fleet_server/data_stream/output_health_logs/lifecycle.yml
  packages/fleet_server/data_stream/output_health_logs/manifest.yml
  packages/fleet_server/manifest.yml
Labels: enhancement

#8619 [cloud_security_posture] Bump Azure ARM template branch to main until 8.12 branch created
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement
