Repository elastic/integrations, pull requests merged in 2023-01, with the labels that each got.

#4888 Add mappings for components in elastic_agent logs
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/elastic_agent_logs/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent

#4917 [AWS_Logs] Add support for worker count in non_aws_bucket settings
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#4905 [auditd_manager] Add audit rule files option to auditd_manager
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#4919 Improve docker package description
  packages/docker/changelog.yml
  packages/docker/data_stream/container_logs/fields/fields.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: Team:Cloudnative-Monitoring

#4924 Remove need for autodiscovery to monitor Istiod service.
  packages/istio/changelog.yml
  packages/istio/data_stream/istiod_metrics/_dev/test/system/test-default-config.yml
  packages/istio/data_stream/istiod_metrics/agent/stream/stream.yml.hbs
  packages/istio/data_stream/istiod_metrics/manifest.yml
  packages/istio/manifest.yml
Labels: enhancement, draft, Team:Cloudnative-Monitoring

#4861 okta: make okta.debug_context.debug_data.risk_reasons visible to search
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#4858 auditd: teach kv about quoted spaces
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log-expected.json
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/data_stream/log/fields/fields.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Auditd

#4907 [cisco_meraki] Improved timezone offset error handling
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/manifest.yml
Labels: 8.7-candidate

#4916 [Beats] Added ssl config support to beats module
  packages/beat/changelog.yml
  packages/beat/data_stream/state/agent/stream/stream.yml.hbs
  packages/beat/data_stream/stats/agent/stream/stream.yml.hbs
  packages/beat/manifest.yml
Labels: bug, draft, v8.7.0, Team:Infra Monitoring UI, Integration:Beat

#4912 [Kibana] Added ssl config support to kibana module
  packages/kibana/changelog.yml
  packages/kibana/data_stream/cluster_actions/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/cluster_rules/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/node_actions/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/node_rules/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/stats/agent/stream/stream.yml.hbs
  packages/kibana/data_stream/status/agent/stream/stream.yml.hbs
  packages/kibana/manifest.yml
Labels: bug, Integration:Kibana, v8.7.0, Team:Infra Monitoring UI

#4934 Fix filters in linux/services
  packages/linux/changelog.yml
  packages/linux/data_stream/service/agent/stream/stream.yml.hbs
  packages/linux/manifest.yml
Labels: bug, Team:Elastic-Agent

#4410 [salesforce] Implement `apex` data stream for Salesforce
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/apex/_dev/test/pipeline/test-apex.log
  packages/salesforce/data_stream/apex/_dev/test/pipeline/test-apex.log-expected.json
  packages/salesforce/data_stream/apex/_dev/test/pipeline/test-common-config.yml
  packages/salesforce/data_stream/apex/_dev/test/system/test-default-config.yml
  packages/salesforce/data_stream/apex/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/apex/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/apex/fields/base-fields.yml
  packages/salesforce/data_stream/apex/fields/ecs.yml
  packages/salesforce/data_stream/apex/fields/fields.yml
  packages/salesforce/data_stream/apex/manifest.yml
  packages/salesforce/data_stream/apex/sample_event.json
  packages/salesforce/docs/README.md
  packages/salesforce/img/salesforce-apex.png
  packages/salesforce/kibana/dashboard/salesforce-59ef0af0-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:Salesforce

#4979 [Docs] Add note about asset metadata and tags to docs
  docs/generic_guidelines.md
Labels: Team:Ecosystem

#4356 [salesforce] Implement `setupaudittrail` data stream for Salesforce
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/_dev/deploy/docker/files/config.yml
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/setupaudittrail/_dev/test/pipeline/test-common-config.yml
  packages/salesforce/data_stream/setupaudittrail/_dev/test/pipeline/test-setupaudittrail.log
  packages/salesforce/data_stream/setupaudittrail/_dev/test/pipeline/test-setupaudittrail.log-expected.json
  packages/salesforce/data_stream/setupaudittrail/_dev/test/system/test-default-config.yml
  packages/salesforce/data_stream/setupaudittrail/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/setupaudittrail/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/setupaudittrail/fields/base-fields.yml
  packages/salesforce/data_stream/setupaudittrail/fields/ecs.yml
  packages/salesforce/data_stream/setupaudittrail/fields/fields.yml
  packages/salesforce/data_stream/setupaudittrail/manifest.yml
  packages/salesforce/data_stream/setupaudittrail/sample_event.json
  packages/salesforce/docs/README.md
  packages/salesforce/img/salesforce-setupaudittrail.png
  packages/salesforce/kibana/dashboard/salesforce-790da810-5749-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:Salesforce

#4929 Mimecast | Fix issues with template configuration
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/audit_events/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log-expected.json
  packages/mimecast/data_stream/dlp_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/sample_event.json
  packages/mimecast/data_stream/siem_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/siem_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_customer/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/sample_event.json
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/sample_event.json
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: bug, Integration:Mimecast

#4952 [Metrics][Docker] Add link to Docker available keys
  packages/docker/changelog.yml
  packages/docker/data_stream/container_logs/manifest.yml
  packages/docker/manifest.yml
Labels: enhancement

#5000 [Security Rules] Update security rules package to v8.3.4-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0d160033-fab7-4e72-85a3-3a9d80c8bff7.json
  packages/security_detection_engine/kibana/security_rule/54a81f68-5f2a-421e-8eed-f888278bb712.json
  packages/security_detection_engine/kibana/security_rule/6aace640-e631-4870-ba8e-5fdda09325db.json
  packages/security_detection_engine/kibana/security_rule/ac5012b8-8da8-440b-aaaf-aedafdea2dff.json
  packages/security_detection_engine/kibana/security_rule/b946c2f7-df06-4c00-a5aa-1f6fbc7bb72c.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, trade-artifacts

#4982 [google_workspace] Fix pagination and filters for Report API data streams.
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/drive/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/groups/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/login/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/rules/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/saml/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/user_accounts/agent/stream/httpjson.yml.hbs
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations

#4987 Rebrand to Bravura Security (formerly Hitachi ID)
  packages/hid_bravura_monitor/_dev/build/docs/README.md
  packages/hid_bravura_monitor/_dev/deploy/docker/sample_logs/hid_bravura_monitor.log
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-hid-bravura-monitor.log
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-hid-bravura-monitor.log-expected.json
  packages/hid_bravura_monitor/data_stream/log/manifest.yml
  packages/hid_bravura_monitor/data_stream/winlog/_dev/test/pipeline/test-hid-bravura-monitor-events.json
  packages/hid_bravura_monitor/data_stream/winlog/_dev/test/pipeline/test-hid-bravura-monitor-events.json-expected.json
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/manifest.yml
  packages/hid_bravura_monitor/data_stream/winlog/sample_event.json
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/img/kibana-hid_bravura_monitor-overview.png
  packages/hid_bravura_monitor/img/logo_hid_bravura_monitor.svg
  packages/hid_bravura_monitor/kibana/dashboard/hid_bravura_monitor-0665f160-f956-11eb-a1ab-1964dffd1499.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-089d63f0-d37c-11eb-9e70-edcbba448215.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-2ec4a850-1463-11eb-bb7b-bb041e8cf289.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-53be5e10-d909-11eb-9e70-edcbba448215.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-9a787d10-0521-11ec-853c-2bf1ec8ddeef.json
  packages/hid_bravura_monitor/kibana/search/hid_bravura_monitor-dca8bb20-d397-11eb-9e70-edcbba448215.json
  packages/hid_bravura_monitor/manifest.yml
Labels: Team:Security-External Integrations

#5014 [Microsoft_defender_endpoint] Add support for Oauth2 scopes
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/log/manifest.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Microsoft_defender_endpoint

#5024 [Security Rules] Update security rules package to v8.3.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, trade-artifacts

#5018 mimecast: fingerprint audit events based on their event ID
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mimecast

#5026 Add a section about pre-filters in visualizations
  docs/dashboard_guidelines.md
Labels: enhancement

#5029 [Tomcat] - change owner to obs service integrations team
  .github/CODEOWNERS
  packages/tomcat/manifest.yml
Labels: Integration:Tomcat, Team:Service-Integrations

#5043 Update filters in visualization section
  docs/dashboard_guidelines.md
  docs/images/filter_in_visualization.png
Labels: enhancement, docs

#5027 [Security Rules] Update security rules package to v8.4.2-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/02a23ee7-c8f8-4701-b99d-e9038ce313cb.json
  packages/security_detection_engine/kibana/security_rule/07b5f85a-240f-11ed-b3d9-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/12a2f15d-597e-4334-88ff-38a02cb1330b.json
  packages/security_detection_engine/kibana/security_rule/12cbf709-69e8-4055-94f9-24314385c27e.json
  packages/security_detection_engine/kibana/security_rule/14de811c-d60f-11ec-9fd7-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/2abda169-416b-4bb3-9a6b-f8d239fd78ba.json
  packages/security_detection_engine/kibana/security_rule/495e5f2e-2480-11ed-bea8-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/5e161522-2545-11ed-ac47-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/63c05204-339a-11ed-a261-0242ac120002.json
  packages/security_detection_engine/kibana/security_rule/63c056a0-339a-11ed-a261-0242ac120002.json
  packages/security_detection_engine/kibana/security_rule/63c057cc-339a-11ed-a261-0242ac120002.json
  packages/security_detection_engine/kibana/security_rule/65f9bccd-510b-40df-8263-334f03174fed.json
  packages/security_detection_engine/kibana/security_rule/68994a6c-c7ba-4e82-b476-26a26877adf6.json
  packages/security_detection_engine/kibana/security_rule/6f435062-b7fc-4af9-acea-5b1ead65c5a5.json
  packages/security_detection_engine/kibana/security_rule/7164081a-3930-11ed-a261-0242ac120002.json
  packages/security_detection_engine/kibana/security_rule/764c8437-a581-4537-8060-1fdb0e92c92d.json
  packages/security_detection_engine/kibana/security_rule/785a404b-75aa-4ffd-8be5-3334a5a544dd.json
  packages/security_detection_engine/kibana/security_rule/7caa8e60-2df0-11ed-b814-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/93e63c3e-4154-4fc6-9f86-b411e0987bbf.json
  packages/security_detection_engine/kibana/security_rule/9510add4-3392-11ed-bd01-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/9cf7a0ae-2404-11ed-ae7d-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/a2795334-2499-11ed-9e1a-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/a99f82f5-8e77-4f8b-b3ce-10c0f6afbc73.json
  packages/security_detection_engine/kibana/security_rule/acbc8bb9-2486-49a8-8779-45fb5f9a93ee.json
  packages/security_detection_engine/kibana/security_rule/ad3f2807-2b3e-47d7-b282-f84acbbe14be.json
  packages/security_detection_engine/kibana/security_rule/c7908cac-337a-4f38-b50d-5eeb78bdb531.json
  packages/security_detection_engine/kibana/security_rule/cad4500a-abd7-4ef3-b5d3-95524de7cfe1.json
  packages/security_detection_engine/kibana/security_rule/cc6a8a20-2df2-11ed-8378-f661ea17fbce.json
  packages/security_detection_engine/kibana/security_rule/cf549724-c577-4fd6-8f9b-d1b8ec519ec0.json
  packages/security_detection_engine/kibana/security_rule/df7fda76-c92b-4943-bc68-04460a5ea5ba.json
  packages/security_detection_engine/kibana/security_rule/e555105c-ba6d-481f-82bb-9b633e7b4827.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, trade-artifacts

#5035 [Cloud Posture] Add posture_type field to mapping
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/rule.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Integration:CloudSecurityPosture

#4972 [Kubernetes] Add data_stream.dataset pre filter is dashboards and remove duplicated dashboard tags
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-0a672d50-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-21694370-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3912d9a0-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3d4d9290-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-5be46210-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-85879010-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-9bf990a0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-b945b7b0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-d3bd9650-0c14-11ed-b760-5d1bccb47f56.json
  packages/kubernetes/kibana/dashboard/kubernetes-dd081350-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-f4dc26db-1b53-4ea2-a78b-1bfab8ea267c.json
  packages/kubernetes/kibana/dashboard/kubernetes-ff1b3850-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/search/kubernetes-ee55101a-9f62-44da-b64c-ffa1eb5abad8.json
  packages/kubernetes/kibana/tag/kubernetes-324d9ef8-9631-4850-9617-8f5bd7a1b25c.json
  packages/kubernetes/kibana/tag/kubernetes-c7922c5e-cd6f-4926-82e3-d98e8106b190.json
  packages/kubernetes/kibana/tag/kubernetes-kubernetes.json
  packages/kubernetes/kibana/tag/kubernetes-managed.json
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#5062 [Security Rules] Update security rules package to v8.4.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, trade-artifacts

#5050 [Anduril] "Defend for containers" updates and fixes
  packages/cloud_defend/_dev/build/build.yml
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/agent/stream/stream.yml.hbs
  packages/cloud_defend/data_stream/alerts/fields/ecs.yml
  packages/cloud_defend/data_stream/alerts/manifest.yml
  packages/cloud_defend/data_stream/alerts/sample_event.json
  packages/cloud_defend/img/control-policy-general-view-screenshot.png
  packages/cloud_defend/img/control-policy-yaml-view-screenshot.png
  packages/cloud_defend/img/logo.svg
  packages/cloud_defend/img/sample-logo.svg
  packages/cloud_defend/img/sample-screenshot.png
  packages/cloud_defend/manifest.yml
Labels: enhancement, Team: Cloud Native Integrations

#4478 system/auth: improve handling of user name and event outcome in auth dataset
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-rhel79.log
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-rhel79.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-multiline.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-secure-rhel7.log-expected.json
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System, Team:Elastic-Agent-Data-Plane

#4993 [Thycotic Secret Server] New integration
  .github/CODEOWNERS
  packages/thycotic_ss/_dev/build/build.yml
  packages/thycotic_ss/_dev/build/docs/README.md
  packages/thycotic_ss/_dev/deploy/docker/docker-compose.yml
  packages/thycotic_ss/_dev/deploy/docker/sample_logs/full-sample.log
  packages/thycotic_ss/_dev/deploy/docker/sample_logs/thycotic-ss-test.log
  packages/thycotic_ss/changelog.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/pipeline/test-common-config.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/pipeline/test-thycotic-ss.json
  packages/thycotic_ss/data_stream/logs/_dev/test/pipeline/test-thycotic-ss.json-expected.json
  packages/thycotic_ss/data_stream/logs/_dev/test/system/test-logfile-config.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/system/test-tcp-config.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/system/test-udp-config.yml
  packages/thycotic_ss/data_stream/logs/agent/stream/log.yml.hbs
  packages/thycotic_ss/data_stream/logs/agent/stream/tcp.yml.hbs
  packages/thycotic_ss/data_stream/logs/agent/stream/udp.yml.hbs
  packages/thycotic_ss/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/thycotic_ss/data_stream/logs/fields/base-fields.yml
  packages/thycotic_ss/data_stream/logs/fields/ecs.yml
  packages/thycotic_ss/data_stream/logs/fields/fields.yml
  packages/thycotic_ss/data_stream/logs/manifest.yml
  packages/thycotic_ss/data_stream/logs/sample_event.json
  packages/thycotic_ss/docs/README.md
  packages/thycotic_ss/img/sample-configure-integration.png
  packages/thycotic_ss/img/sample-screenshot.png
  packages/thycotic_ss/img/thycotic-logo.png
  packages/thycotic_ss/img/thycotic.svg
  packages/thycotic_ss/kibana/dashboard/thycotic_ss-0cb71ae0-5bdd-11ed-b6ae-6bb0097dca82.json
  packages/thycotic_ss/kibana/search/thycotic_ss-0f0ee630-5be0-11ed-b2a4-1f1327c45443.json
  packages/thycotic_ss/kibana/tag/thycotic_ss-07c90cf0-5bdd-11ed-b2a4-1f1327c45443.json
  packages/thycotic_ss/kibana/tag/thycotic_ss-0b623940-5bdd-11ed-b2a4-1f1327c45443.json
  packages/thycotic_ss/kibana/tag/thycotic_ss-fleet-managed-default.json
  packages/thycotic_ss/kibana/tag/thycotic_ss-fleet-pkg-thycotic_ss-default.json
  packages/thycotic_ss/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:Thycotic Secret Server

#5004 [Cisco ASA] Interchange source, destination for messages 302013 & 302015
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoASA

#4900 [FIM] Add host metadata processor
  packages/fim/changelog.yml
  packages/fim/data_stream/event/agent/stream/file_integrity.yml.hbs
  packages/fim/data_stream/event/sample_event.json
  packages/fim/docs/README.md
  packages/fim/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:FIM

#4992 [Forcepoint Web Security] New integration
  .github/CODEOWNERS
  packages/forcepoint_web/_dev/build/build.yml
  packages/forcepoint_web/_dev/build/docs/README.md
  packages/forcepoint_web/_dev/deploy/docker/docker-compose.yml
  packages/forcepoint_web/_dev/deploy/docker/sample_logs/forcepoint-web-test.log
  packages/forcepoint_web/changelog.yml
  packages/forcepoint_web/data_stream/logs/_dev/test/pipeline/test-common-config.yml
  packages/forcepoint_web/data_stream/logs/_dev/test/pipeline/test-forcepoint-web.json
  packages/forcepoint_web/data_stream/logs/_dev/test/pipeline/test-forcepoint-web.json-expected.json
  packages/forcepoint_web/data_stream/logs/_dev/test/system/test-logfile-config.yml
  packages/forcepoint_web/data_stream/logs/agent/stream/log.yml.hbs
  packages/forcepoint_web/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/forcepoint_web/data_stream/logs/fields/base-fields.yml
  packages/forcepoint_web/data_stream/logs/fields/ecs.yml
  packages/forcepoint_web/data_stream/logs/fields/fields.yml
  packages/forcepoint_web/data_stream/logs/manifest.yml
  packages/forcepoint_web/data_stream/logs/sample_event.json
  packages/forcepoint_web/docs/README.md
  packages/forcepoint_web/img/forcepoint.svg
  packages/forcepoint_web/img/sample-screenshot.png
  packages/forcepoint_web/kibana/dashboard/forcepoint_web-05cb8903-79fb-4aa1-a20e-db1eb073a8e9.json
  packages/forcepoint_web/kibana/tag/forcepoint_web-b68f4a90-6152-11ed-821f-379231f65878.json
  packages/forcepoint_web/kibana/tag/forcepoint_web-d1441740-0abd-11ec-8dc1-6ba4e980669c.json
  packages/forcepoint_web/kibana/tag/forcepoint_web-e8ddb130-6616-11ed-a448-1d80c9718734.json
  packages/forcepoint_web/kibana/tag/forcepoint_web-fleet-managed-default.json
  packages/forcepoint_web/kibana/tag/forcepoint_web-fleet-pkg-forcepoint_web-default.json
  packages/forcepoint_web/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:Forcepoint Web Security

#4974 [Lateral Movement Detection] Add dashboard and release to production
  packages/lmd/changelog.yml
  packages/lmd/docs/README.md
  packages/lmd/kibana/dashboard/lmd-17fea180-8c4c-11ed-bb03-41a73f349362.json
  packages/lmd/kibana/security_rule/2577e749-ed63-4b58-ac32-4f8a94d73e60.json
  packages/lmd/kibana/security_rule/282cd7e6-9d51-421e-93b4-ebc2d422eb44.json
  packages/lmd/kibana/security_rule/98789aa2-c22a-4ab4-aa6b-d980073f7ca7.json
  packages/lmd/kibana/security_rule/aa00d5db-7732-440a-97fc-8f9a3dc5314b.json
  packages/lmd/kibana/security_rule/d4e891de-fe8d-4f19-a9b3-e5f390c7167e.json
  packages/lmd/kibana/security_rule/e5ebb55f-97f0-4815-b05b-59b223b1d4df.json
  packages/lmd/manifest.yml
Labels: Integration:Lateral Movement Detection

#5047 [O365] Add fingerprint processor to prevent ingestion of duplicate events
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#5084 [oracle,microsoft_sqlserver] - change owner to obs-service-integrations
  .github/CODEOWNERS
  packages/microsoft_sqlserver/manifest.yml
  packages/oracle/manifest.yml
Labels: Team:Security-External Integrations, Integration:Oracle, Integration:microsoft_sqlserver, Team:Service-Integrations

#5061 [Kubernetes] Update kube state metrics version
  packages/kubernetes/_dev/deploy/k8s/cluster-role-binding.yaml
  packages/kubernetes/_dev/deploy/k8s/cluster-role.yaml
  packages/kubernetes/_dev/deploy/k8s/deployment.yaml
  packages/kubernetes/_dev/deploy/k8s/service-account.yaml
  packages/kubernetes/_dev/deploy/k8s/service.yaml
Labels: Integration:Kubernetes, Team:Cloudnative-Monitoring

#4956 [Windows] Added support for custom processors on perfmon
  packages/windows/changelog.yml
  packages/windows/data_stream/perfmon/agent/stream/stream.yml.hbs
  packages/windows/data_stream/perfmon/manifest.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows, Team:Elastic-Agent

#4981 [elasticsearch] update for GC log level
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/gc/_dev/test/pipeline/test-gc-logs.log
  packages/elasticsearch/data_stream/gc/_dev/test/pipeline/test-gc-logs.log-expected.json
  packages/elasticsearch/data_stream/gc/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/gc/fields/ecs.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:Elasticsearch, v8.7.0, Team:Infra Monitoring UI

#5099 [NGINX] After 8.6.0, kubernetes pod labels used for condition matching are not dedoted
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/access/manifest.yml
  packages/nginx_ingress_controller/data_stream/error/manifest.yml
  packages/nginx_ingress_controller/manifest.yml
Labels: Integration:NGINX-Ingress-Controller

#5101 [Cloud Posture] Add cloud fields to mapping
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Integration:CloudSecurityPosture

#5087 system/security: add mapping for Windows events 4797, 5379, 5380, 5381, and 5382
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4797.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4797.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5379.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5379.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5380.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5380.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5381.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5381.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5382.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5382.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System

#5066 [pfSense] Fix misspelling of HAProxy
  packages/pfsense/_dev/build/docs/README.md
  packages/pfsense/changelog.yml
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:pfSense

#4816 [tenable_io] Initial Release for the Tenable.io
  .github/CODEOWNERS
  packages/tenable_io/_dev/build/build.yml
  packages/tenable_io/_dev/build/docs/README.md
  packages/tenable_io/_dev/deploy/docker/docker-compose.yml
  packages/tenable_io/_dev/deploy/docker/files/config.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-common-config.yml
  packages/tenable_io/data_stream/asset/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/asset/fields/agent.yml
  packages/tenable_io/data_stream/asset/fields/base-fields.yml
  packages/tenable_io/data_stream/asset/fields/ecs.yml
  packages/tenable_io/data_stream/asset/fields/fields.yml
  packages/tenable_io/data_stream/asset/fields/overridden-ecs.yml
  packages/tenable_io/data_stream/asset/manifest.yml
  packages/tenable_io/data_stream/asset/sample_event.json
  packages/tenable_io/data_stream/plugin/_dev/test/pipeline/test-common-config.yml
  packages/tenable_io/data_stream/plugin/_dev/test/pipeline/test-plugin.log
  packages/tenable_io/data_stream/plugin/_dev/test/pipeline/test-plugin.log-expected.json
  packages/tenable_io/data_stream/plugin/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/plugin/fields/agent.yml
  packages/tenable_io/data_stream/plugin/fields/base-fields.yml
  packages/tenable_io/data_stream/plugin/fields/ecs.yml
  packages/tenable_io/data_stream/plugin/fields/fields.yml
  packages/tenable_io/data_stream/plugin/fields/overridden-ecs.yml
  packages/tenable_io/data_stream/plugin/manifest.yml
  packages/tenable_io/data_stream/plugin/sample_event.json
  packages/tenable_io/data_stream/vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/tenable_io/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/tenable_io/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/tenable_io/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/vulnerability/fields/agent.yml
  packages/tenable_io/data_stream/vulnerability/fields/base-fields.yml
  packages/tenable_io/data_stream/vulnerability/fields/ecs.yml
  packages/tenable_io/data_stream/vulnerability/fields/fields.yml
  packages/tenable_io/data_stream/vulnerability/fields/overridden-ecs.yml
  packages/tenable_io/data_stream/vulnerability/manifest.yml
  packages/tenable_io/data_stream/vulnerability/sample_event.json
  packages/tenable_io/docs/README.md
  packages/tenable_io/img/tenable_io-logo.svg
  packages/tenable_io/img/tenable_io-screenshot.png
  packages/tenable_io/kibana/dashboard/tenable_io-4d784610-1ec2-11ed-bad4-551c615a34d1.json
  packages/tenable_io/kibana/dashboard/tenable_io-84586900-1ed4-11ed-bad4-551c615a34d1.json
  packages/tenable_io/kibana/dashboard/tenable_io-f2dacba0-1e22-11ed-bad4-551c615a34d1.json
  packages/tenable_io/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#4926 [enterprisesearch] create package
  .github/CODEOWNERS
  packages/enterprisesearch/_dev/build/build.yml
  packages/enterprisesearch/_dev/build/docs/README.md
  packages/enterprisesearch/_dev/deploy/docker/config/elasticsearch.yml
  packages/enterprisesearch/_dev/deploy/docker/docker-compose.yml
  packages/enterprisesearch/_dev/deploy/variants.yml
  packages/enterprisesearch/changelog.yml
  packages/enterprisesearch/data_stream/health/_dev/test/system/test-default-config.yml
  packages/enterprisesearch/data_stream/health/agent/stream/stream.yml.hbs
  packages/enterprisesearch/data_stream/health/fields/base-fields.yml
  packages/enterprisesearch/data_stream/health/fields/ecs.yml
  packages/enterprisesearch/data_stream/health/fields/fields.yml
  packages/enterprisesearch/data_stream/health/fields/package-fields.yml
  packages/enterprisesearch/data_stream/health/manifest.yml
  packages/enterprisesearch/data_stream/health/sample_event.json
  packages/enterprisesearch/data_stream/stats/_dev/test/system/test-default-config.yml
  packages/enterprisesearch/data_stream/stats/agent/stream/stream.yml.hbs
  packages/enterprisesearch/data_stream/stats/fields/base-fields.yml
  packages/enterprisesearch/data_stream/stats/fields/ecs.yml
  packages/enterprisesearch/data_stream/stats/fields/fields.yml
  packages/enterprisesearch/data_stream/stats/fields/package-fields.yml
  packages/enterprisesearch/data_stream/stats/manifest.yml
  packages/enterprisesearch/data_stream/stats/sample_event.json
  packages/enterprisesearch/docs/README.md
  packages/enterprisesearch/img/logo_entsearch.svg
  packages/enterprisesearch/manifest.yml
Labels: v8.7.0, Team:Infra Monitoring UI, Integration:Enterprisesearch

#5088 [mysql] Update ingest pipeline for performance datastream
  packages/mysql/changelog.yml
  packages/mysql/data_stream/performance/elasticsearch/ingest_pipeline/default.yml
  packages/mysql/data_stream/performance/sample_event.json
  packages/mysql/manifest.yml
Labels: Integration:MySQL

#5032 [GCP] Remove broken input control reference panel and replace with new-style control
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-f40ee870-5e4a-11ea-a4f6-717338406083.json
  packages/gcp/manifest.yml
Labels: Integration:GCP

#5140 [IIS] Accept multiple application_pool name
  packages/iis/changelog.yml
  packages/iis/data_stream/application_pool/agent/stream/stream.yml.hbs
  packages/iis/manifest.yml
Labels: Integration:IIS

#4918 [RabbitMQ] Add support for new timestamp format
  packages/rabbitmq/_dev/build/docs/README.md
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/data_stream/log/_dev/test/pipeline/test-rabbitmq.log
  packages/rabbitmq/data_stream/log/_dev/test/pipeline/test-rabbitmq.log-expected.json
  packages/rabbitmq/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/rabbitmq/docs/README.md
  packages/rabbitmq/manifest.yml
Labels: Integration:RabbitMQ

#5131 [Stack Monitoring] Remove unecessary filebeat processors
  packages/elasticsearch/data_stream/audit/_dev/test/pipeline/test-audit-logs.log
  packages/elasticsearch/data_stream/audit/_dev/test/pipeline/test-audit-logs.log-expected.json
  packages/elasticsearch/data_stream/audit/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/deprecation/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/server/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/slowlog/agent/stream/log.yml.hbs
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#5141 [elasticsearch] add period variable to data streams
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/audit/manifest.yml
  packages/elasticsearch/data_stream/ccr/fields/fields.yml
  packages/elasticsearch/data_stream/ccr/manifest.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/fields.yml
  packages/elasticsearch/data_stream/cluster_stats/manifest.yml
  packages/elasticsearch/data_stream/deprecation/manifest.yml
  packages/elasticsearch/data_stream/enrich/fields/fields.yml
  packages/elasticsearch/data_stream/enrich/manifest.yml
  packages/elasticsearch/data_stream/gc/manifest.yml
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/data_stream/index/manifest.yml
  packages/elasticsearch/data_stream/index_recovery/fields/fields.yml
  packages/elasticsearch/data_stream/index_recovery/manifest.yml
  packages/elasticsearch/data_stream/index_summary/fields/fields.yml
  packages/elasticsearch/data_stream/index_summary/manifest.yml
  packages/elasticsearch/data_stream/ml_job/fields/fields.yml
  packages/elasticsearch/data_stream/ml_job/manifest.yml
  packages/elasticsearch/data_stream/node/fields/fields.yml
  packages/elasticsearch/data_stream/node/manifest.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/data_stream/node_stats/manifest.yml
  packages/elasticsearch/data_stream/pending_tasks/fields/fields.yml
  packages/elasticsearch/data_stream/pending_tasks/manifest.yml
  packages/elasticsearch/data_stream/server/manifest.yml
  packages/elasticsearch/data_stream/shard/fields/fields.yml
  packages/elasticsearch/data_stream/shard/manifest.yml
  packages/elasticsearch/data_stream/slowlog/manifest.yml
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#5153 Improve Custom Logs documentation
  packages/log/changelog.yml
  packages/log/docs/README.md
  packages/log/manifest.yml
Labels: documentation, enhancement, Team:Elastic-Agent-Data-Plane

#5139 cisco_{asa,ftd}: allow configuration of time zones
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-dap-records.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-hostnames.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_asa/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_asa/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/manifest.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_ftd/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_ftd/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_ftd/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/manifest.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoFTD, Integration:CiscoASA
