Repository elastic/integrations, pull requests merged in 2023-02, with the labels that each got.

#5146 o365: retain file, directory and URL details for SharePointSharingOperation
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop-events.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/sample_event.json
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#5138 cisco_meraki: capture flows firewall rules
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/sample_event.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/flows.yml
  packages/cisco_meraki/data_stream/log/fields/fields.yml
  packages/cisco_meraki/data_stream/log/sample_event.json
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Meraki

#5092 [mysql] Update slowlog pipeline to parse schema name with dash
  packages/mysql/changelog.yml
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-1-21.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-2-12.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-3-13.log
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-3-13.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-explain.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-5-7-22.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-darwin-brew-5-7-10.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-debian-5-7-17.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-debian-5-7-19.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-5-5-53.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-5-7-19-innodb.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-5-7-19.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/slowlog/elasticsearch/ingest_pipeline/default.json
  packages/mysql/manifest.yml
Labels: Integration:MySQL

#5120 [Windows] Add additional fields to windows package system_operational integration
  packages/windows/changelog.yml
  packages/windows/data_stream/perfmon/manifest.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/fields/winlog.yml
  packages/windows/data_stream/sysmon_operational/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Integration:Windows

#5115 [o365_audit] Add NewValue field
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#5077 [Elastic Agent] Monitor Filebeat Inputs
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/agent.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/base-fields.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/manifest.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/agent.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/base-fields.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_input_metrics/manifest.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Integration:Elastic-Agent

#5161 [Kubernetes] Add system testing for state service
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/state_service/_dev/test/system/test-default-config.yml
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes, Team:Cloudnative-Monitoring

#5164 m365_defender,microsoft_defender_endpoint: drop empty event sets
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-empty-ndjson.log
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-empty-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Microsoft_defender_endpoint, Integration: M365_Defender

#5157 checkpoint: allow configuration of time zones
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r80x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-trailing-space.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/system/test-logfile-config.yml
  packages/checkpoint/data_stream/firewall/_dev/test/system/test-tcp-config.yml
  packages/checkpoint/data_stream/firewall/agent/stream/log.yml.hbs
  packages/checkpoint/data_stream/firewall/agent/stream/tcp.yml.hbs
  packages/checkpoint/data_stream/firewall/agent/stream/udp.yml.hbs
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/manifest.yml
  packages/checkpoint/data_stream/firewall/sample_event.json
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#5125 Match logs without junos@ip
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-flow.log
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-flow.log-expected.json
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/data_stream/log/fields/fields.yml
  packages/juniper_srx/docs/README.md
  packages/juniper_srx/manifest.yml
Labels: Team:Security-External Integrations, Integration:Juniper

#5073 [Azure Application Gateway] Fix parsing error client port is blank and adjust for timeStamp
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log-expected.json
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#4862 [New Integration] System Audit
  .github/CODEOWNERS
  packages/system_audit/_dev/build/build.yml
  packages/system_audit/_dev/build/docs/README.md
  packages/system_audit/_dev/deploy/docker/docker-compose.yml
  packages/system_audit/changelog.yml
  packages/system_audit/data_stream/package/_dev/test/pipeline/test-common-config.yml
  packages/system_audit/data_stream/package/_dev/test/pipeline/test-system-package-dpkg.json
  packages/system_audit/data_stream/package/_dev/test/pipeline/test-system-package-dpkg.json-expected.json
  packages/system_audit/data_stream/package/_dev/test/pipeline/test-system-package-homebrew.json
  packages/system_audit/data_stream/package/_dev/test/pipeline/test-system-package-homebrew.json-expected.json
  packages/system_audit/data_stream/package/_dev/test/system/test-syetem-package-config.yml
  packages/system_audit/data_stream/package/agent/stream/package.yml.hbs
  packages/system_audit/data_stream/package/elasticsearch/ingest_pipeline/default.yml
  packages/system_audit/data_stream/package/fields/base-fields.yml
  packages/system_audit/data_stream/package/fields/beats.yml
  packages/system_audit/data_stream/package/fields/ecs.yml
  packages/system_audit/data_stream/package/fields/package.yml
  packages/system_audit/data_stream/package/manifest.yml
  packages/system_audit/data_stream/package/sample_event.json
  packages/system_audit/docs/README.md
  packages/system_audit/img/system-audit-overview-dashboard.png
  packages/system_audit/img/system-audit-package-dashboard.png
  packages/system_audit/kibana/dashboard/system_audit-137c52f0-286a-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/dashboard/system_audit-2be46cb0-27f2-11e9-89af-fd12d59dac90.json
  packages/system_audit/kibana/search/system_audit-391ef230-2868-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-4ccc5b50-27f6-11e9-89af-fd12d59dac90.json
  packages/system_audit/kibana/visualization/system_audit-4e7701d0-2869-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-6ed51940-2868-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-8dc55df0-2869-11e9-9d21-0be348776e6c.json
  packages/system_audit/kibana/visualization/system_audit-bdf9c530-27fe-11e9-805f-43bf57dfa519.json
  packages/system_audit/kibana/visualization/system_audit-f664fb20-27f3-11e9-89af-fd12d59dac90.json
  packages/system_audit/kibana/visualization/system_audit-fe23f530-2868-11e9-9d21-0be348776e6c.json
  packages/system_audit/manifest.yml
Labels: Team:Security-External Integrations, 8.7-candidate

#4930 [Ceph] Add Integration Package with OSD Performance data stream
  .github/CODEOWNERS
  packages/ceph/_dev/build/build.yml
  packages/ceph/_dev/build/docs/README.md
  packages/ceph/_dev/deploy/docker/docker-compose.yml
  packages/ceph/_dev/deploy/docker/files/config.yml
  packages/ceph/changelog.yml
  packages/ceph/data_stream/osd_performance/_dev/test/pipeline/test-common-config.yml
  packages/ceph/data_stream/osd_performance/_dev/test/pipeline/test-osd-performance-metrics.log
  packages/ceph/data_stream/osd_performance/_dev/test/pipeline/test-osd-performance-metrics.log-expected.json
  packages/ceph/data_stream/osd_performance/_dev/test/system/test-default-config.yml
  packages/ceph/data_stream/osd_performance/agent/stream/httpjson.yml.hbs
  packages/ceph/data_stream/osd_performance/elasticsearch/ingest_pipeline/default.yml
  packages/ceph/data_stream/osd_performance/fields/base-fields.yml
  packages/ceph/data_stream/osd_performance/fields/ecs.yml
  packages/ceph/data_stream/osd_performance/fields/fields.yml
  packages/ceph/data_stream/osd_performance/manifest.yml
  packages/ceph/data_stream/osd_performance/sample_event.json
  packages/ceph/docs/README.md
  packages/ceph/img/ceph-logo.svg
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#4963 [Ceph] Add Integration Package with Cluster Health data stream
  packages/ceph/_dev/build/docs/README.md
  packages/ceph/_dev/deploy/docker/docker-compose.yml
  packages/ceph/_dev/deploy/docker/files/config.yml
  packages/ceph/changelog.yml
  packages/ceph/data_stream/cluster_health/_dev/test/pipeline/test-cluster-health-metrics.log
  packages/ceph/data_stream/cluster_health/_dev/test/pipeline/test-cluster-health-metrics.log-expected.json
  packages/ceph/data_stream/cluster_health/_dev/test/pipeline/test-common-config.yml
  packages/ceph/data_stream/cluster_health/_dev/test/system/test-default-config.yml
  packages/ceph/data_stream/cluster_health/agent/stream/httpjson.yml.hbs
  packages/ceph/data_stream/cluster_health/elasticsearch/ingest_pipeline/default.yml
  packages/ceph/data_stream/cluster_health/fields/base-fields.yml
  packages/ceph/data_stream/cluster_health/fields/ecs.yml
  packages/ceph/data_stream/cluster_health/fields/fields.yml
  packages/ceph/data_stream/cluster_health/manifest.yml
  packages/ceph/data_stream/cluster_health/sample_event.json
  packages/ceph/docs/README.md
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#5179 [AWS] Add dashboards data stream filters
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-07d67a60-d872-11eb-8220-c9141cc1b15c.json
  packages/aws/kibana/dashboard/aws-0eb5a6a0-694f-11ea-b0ac-95d4ecb1fecd.json
  packages/aws/kibana/dashboard/aws-234aeda0-43b7-11e9-8697-530f39afc6eb.json
  packages/aws/kibana/dashboard/aws-3367c170-921f-11e9-aa19-159bf182e06f.json
  packages/aws/kibana/dashboard/aws-3d3dbe00-f79f-11ec-aa7f-c173c0f9e267.json
  packages/aws/kibana/dashboard/aws-44ce4680-b7ba-11e9-8349-f15f850c5cd0.json
  packages/aws/kibana/dashboard/aws-67c9f900-693e-11ea-b0ac-95d4ecb1fecd.json
  packages/aws/kibana/dashboard/aws-68ba7bd0-20b6-11ea-8f72-2f8d21e50b0c.json
  packages/aws/kibana/dashboard/aws-7ac8e1d0-28d2-11ea-ba6c-49a884eb104f.json
  packages/aws/kibana/dashboard/aws-80ed1380-41a6-11ec-a605-bff67d9b7872.json
  packages/aws/kibana/dashboard/aws-81f2c980-e743-11ec-93f6-9b98f71110cd.json
  packages/aws/kibana/dashboard/aws-917a07b0-178e-11ea-8650-fb606deb5be4.json
  packages/aws/kibana/dashboard/aws-9c09cd20-7399-11ea-a345-f985c61fe654.json
  packages/aws/kibana/dashboard/aws-c2b1cbc0-6891-11ea-b0ac-95d4ecb1fecd.json
  packages/aws/kibana/dashboard/aws-e6776b10-1534-11ea-841c-01bf20a6c8ba.json
  packages/aws/kibana/dashboard/aws-e74bf320-b3ce-11e9-87a4-078dbbae220d.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#5159 microsoft_exchange_online_message_trace: map fields to ECS
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/fields/base-fields.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/fields/ecs.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/fields/fields.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/sample_event.json
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MicrosoftExchangeOnlineMessageTrace

#5051 cef,infoblox_nios,keycloak,modsecurity,panw,pfsense,qnap_nas,snort,sonicwall: ensure timezones are strings
  packages/cef/changelog.yml
  packages/cef/data_stream/log/_dev/test/system/test-udp-tz-config.yml
  packages/cef/data_stream/log/agent/stream/log.yml.hbs
  packages/cef/data_stream/log/agent/stream/udp.yml.hbs
  packages/cef/manifest.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-udp-tz-config.yml
  packages/infoblox_nios/data_stream/log/agent/stream/log.yml.hbs
  packages/infoblox_nios/data_stream/log/agent/stream/tcp.yml.hbs
  packages/infoblox_nios/data_stream/log/agent/stream/udp.yml.hbs
  packages/infoblox_nios/manifest.yml
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/system/test-logfile-non-utc-config.yml
  packages/keycloak/data_stream/log/agent/stream/filestream.yml.hbs
  packages/keycloak/manifest.yml
  packages/modsecurity/_dev/deploy/docker/sample_logs/modsec-audit-tz.log
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-apache-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/_dev/test/system/test-logfile-tz-config.yml
  packages/modsecurity/data_stream/auditlog/agent/stream/stream.yml.hbs
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/nginx-modsec.yml
  packages/modsecurity/data_stream/auditlog/manifest.yml
  packages/modsecurity/data_stream/auditlog/sample_event.json
  packages/modsecurity/manifest.yml
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/system/test-udp-tz-config.yml
  packages/panw/data_stream/panos/agent/stream/logfile.yml.hbs
  packages/panw/data_stream/panos/agent/stream/tcp.yml.hbs
  packages/panw/data_stream/panos/agent/stream/udp.yml.hbs
  packages/panw/manifest.yml
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/system/test-udp-non-utc-config.yml
  packages/pfsense/data_stream/log/agent/stream/tcp.yml.hbs
  packages/pfsense/data_stream/log/agent/stream/udp.yml.hbs
  packages/pfsense/manifest.yml
  packages/qnap_nas/changelog.yml
  packages/qnap_nas/data_stream/log/_dev/test/system/test-udp-non-utc-config.yml
  packages/qnap_nas/data_stream/log/agent/stream/tcp.yml.hbs
  packages/qnap_nas/data_stream/log/agent/stream/udp.yml.hbs
  packages/qnap_nas/manifest.yml
  packages/snort/changelog.yml
  packages/snort/data_stream/log/_dev/test/system/test-logfile-full-config.yml
  packages/snort/data_stream/log/_dev/test/system/test-udp-tz-config.yml
  packages/snort/data_stream/log/agent/stream/log.yml.hbs
  packages/snort/data_stream/log/agent/stream/udp.yml.hbs
  packages/snort/manifest.yml
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/sonicwall_firewall/data_stream/log/agent/stream/logfile.yml.hbs
  packages/sonicwall_firewall/data_stream/log/agent/stream/udp.yml.hbs
  packages/sonicwall_firewall/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CEF, Integration:PANW, Integration:Snort, integration:Sonicwall, Integration:Modsecurity, Integration:pfSense, Integration:Keycloak, infoblox_nios

#5184 checkpoint: improve support for Checkpoint 81
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r80x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/data_stream/firewall/sample_event.json
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#5168 crowdstrike: conditionally support Windows NT timestamps
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Crowdstrike

#5190 ti_misp: honor preserve_original_event tag
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-config.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-config.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-config.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat/sample_event.json
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MISP

#4692 [GCS] Adding new integration for Custom GCS Input
  .github/CODEOWNERS
  packages/google_cloud_storage/_dev/build/build.yml
  packages/google_cloud_storage/_dev/build/docs/README.md
  packages/google_cloud_storage/_dev/deploy/docker/docker-compose.yml
  packages/google_cloud_storage/_dev/deploy/docker/sample_logs/testbucket/testdata.log
  packages/google_cloud_storage/changelog.yml
  packages/google_cloud_storage/data_stream/generic/_dev/test/system/test-default-config.yml
  packages/google_cloud_storage/data_stream/generic/agent/stream/gcs.yml.hbs
  packages/google_cloud_storage/data_stream/generic/fields/base-fields.yml
  packages/google_cloud_storage/data_stream/generic/fields/beats.yml
  packages/google_cloud_storage/data_stream/generic/fields/fields.yml
  packages/google_cloud_storage/data_stream/generic/manifest.yml
  packages/google_cloud_storage/data_stream/generic/sample_event.json
  packages/google_cloud_storage/docs/README.md
  packages/google_cloud_storage/img/icon.svg
  packages/google_cloud_storage/manifest.yml
Labels: Team:Security-External Integrations, Integration:GCS

#5106 [Cloud Security] Fix ECS import method
  packages/cloud_security_posture/_dev/build/build.yml
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/findings/fields/base-fields.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/data_stream/findings/fields/rule.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:CloudSecurityPosture

#5196 [fim] Fix for duplicate processor key
  packages/fim/changelog.yml
  packages/fim/data_stream/event/agent/stream/file_integrity.yml.hbs
  packages/fim/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:FIM, 8.7 Candidate

#4693 [Azure Blob Storage] Adding integration for Custom Azure Blob Storage Input
  .github/CODEOWNERS
  packages/azure_blob_storage/_dev/build/build.yml
  packages/azure_blob_storage/_dev/build/docs/README.md
  packages/azure_blob_storage/_dev/deploy/docker/docker-compose.yml
  packages/azure_blob_storage/_dev/deploy/docker/sample_logs/testdata.log
  packages/azure_blob_storage/changelog.yml
  packages/azure_blob_storage/data_stream/generic/_dev/test/system/test-default-config.yml
  packages/azure_blob_storage/data_stream/generic/agent/stream/abs.yml.hbs
  packages/azure_blob_storage/data_stream/generic/fields/base-fields.yml
  packages/azure_blob_storage/data_stream/generic/fields/beats.yml
  packages/azure_blob_storage/data_stream/generic/fields/fields.yml
  packages/azure_blob_storage/data_stream/generic/manifest.yml
  packages/azure_blob_storage/data_stream/generic/sample_event.json
  packages/azure_blob_storage/docs/README.md
  packages/azure_blob_storage/img/icon.svg
  packages/azure_blob_storage/manifest.yml
Labels: Team:Security-External Integrations, Integration:Azure_Blob_Storage

#4915 [AWS] Add support for Guardduty datastream
  packages/aws/_dev/build/docs/guardduty.md
  packages/aws/changelog.yml
  packages/aws/data_stream/guardduty/_dev/deploy/docker/docker-compose.yml
  packages/aws/data_stream/guardduty/_dev/deploy/docker/files/certificate.crt
  packages/aws/data_stream/guardduty/_dev/deploy/docker/files/config.yml
  packages/aws/data_stream/guardduty/_dev/deploy/docker/files/private.key
  packages/aws/data_stream/guardduty/_dev/test/pipeline/test-common-config.yml
  packages/aws/data_stream/guardduty/_dev/test/pipeline/test-guardduty.log
  packages/aws/data_stream/guardduty/_dev/test/pipeline/test-guardduty.log-expected.json
  packages/aws/data_stream/guardduty/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/guardduty/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/guardduty/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/guardduty/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/guardduty/fields/agent.yml
  packages/aws/data_stream/guardduty/fields/base-fields.yml
  packages/aws/data_stream/guardduty/fields/ecs.yml
  packages/aws/data_stream/guardduty/fields/fields.yml
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/guardduty/sample_event.json
  packages/aws/docs/guardduty.md
  packages/aws/img/guardduty-screenshot.png
  packages/aws/img/logo_guardduty.svg
  packages/aws/kibana/dashboard/aws-401261a0-6a39-11ed-b880-2f1b70138655.json
  packages/aws/kibana/dashboard/aws-9d21f520-6a36-11ed-b880-2f1b70138655.json
  packages/aws/kibana/dashboard/aws-f890a5b0-6a3a-11ed-b880-2f1b70138655.json
  packages/aws/kibana/search/aws-b3169d70-6a38-11ed-b880-2f1b70138655.json
  packages/aws/kibana/search/aws-df758050-6a49-11ed-b880-2f1b70138655.json
  packages/aws/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AWS

#5174 [Ceph] Add Integration Package with OSD Tree data stream
  packages/ceph/_dev/build/docs/README.md
  packages/ceph/_dev/deploy/docker/files/config.yml
  packages/ceph/changelog.yml
  packages/ceph/data_stream/osd_tree/_dev/test/pipeline/test-common-config.yml
  packages/ceph/data_stream/osd_tree/_dev/test/pipeline/test-osd-tree-metrics-1.log
  packages/ceph/data_stream/osd_tree/_dev/test/pipeline/test-osd-tree-metrics-1.log-expected.json
  packages/ceph/data_stream/osd_tree/_dev/test/pipeline/test-osd-tree-metrics-2.log
  packages/ceph/data_stream/osd_tree/_dev/test/pipeline/test-osd-tree-metrics-2.log-expected.json
  packages/ceph/data_stream/osd_tree/_dev/test/system/test-default-config.yml
  packages/ceph/data_stream/osd_tree/agent/stream/httpjson.yml.hbs
  packages/ceph/data_stream/osd_tree/elasticsearch/ingest_pipeline/default.yml
  packages/ceph/data_stream/osd_tree/fields/base-fields.yml
  packages/ceph/data_stream/osd_tree/fields/ecs.yml
  packages/ceph/data_stream/osd_tree/fields/fields.yml
  packages/ceph/data_stream/osd_tree/manifest.yml
  packages/ceph/data_stream/osd_tree/sample_event.json
  packages/ceph/docs/README.md
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#4962 [m365_defender] Add support for Streaming Event types
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-email.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-email.log-expected.json
  packages/m365_defender/data_stream/event/agent/stream/azure-eventhub.yml.hbs
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_email.yml
  packages/m365_defender/data_stream/event/fields/agent.yml
  packages/m365_defender/data_stream/event/fields/base-fields.yml
  packages/m365_defender/data_stream/event/fields/ecs.yml
  packages/m365_defender/data_stream/event/fields/fields.yml
  packages/m365_defender/data_stream/event/manifest.yml
  packages/m365_defender/data_stream/incident/manifest.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/fields/fields.yml
  packages/m365_defender/data_stream/log/manifest.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/img/m365-defender-dashboard-alert.png
  packages/m365_defender/img/m365-defender-dashboard-app-and-identity.png
  packages/m365_defender/img/m365-defender-dashboard-device.png
  packages/m365_defender/img/m365-defender-dashboard-email.png
  packages/m365_defender/kibana/dashboard/m365_defender-2690a440-7235-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-3caf3c00-7456-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-c0b796d0-720a-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-d587df00-745f-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/search/m365_defender-64a31410-722c-11ed-8657-c59f6ece834c.json
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender

#5191 okta: make auth factors and risk behaviors searchable
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Okta

#4908 [Golang] Add Integration Package with heap Data Stream
  packages/golang/_dev/build/docs/README.md
  packages/golang/changelog.yml
  packages/golang/data_stream/heap/_dev/test/pipeline/test-common-config.yml
  packages/golang/data_stream/heap/_dev/test/pipeline/test-heap-metrics.log
  packages/golang/data_stream/heap/_dev/test/pipeline/test-heap-metrics.log-expected.json
  packages/golang/data_stream/heap/_dev/test/system/test-default-config.yml
  packages/golang/data_stream/heap/agent/stream/httpjson.yml.hbs
  packages/golang/data_stream/heap/elasticsearch/ingest_pipeline/default.yml
  packages/golang/data_stream/heap/fields/base-fields.yml
  packages/golang/data_stream/heap/fields/ecs.yml
  packages/golang/data_stream/heap/fields/fields.yml
  packages/golang/data_stream/heap/manifest.yml
  packages/golang/data_stream/heap/sample_event.json
  packages/golang/docs/README.md
  packages/golang/img/golang-heap-dashboard.png
  packages/golang/kibana/dashboard/golang-a121edd0-8767-11ed-8520-df2d9ce4ab4e.json
  packages/golang/manifest.yml
Labels: enhancement, Integration:Golang, Team:Service-Integrations

#5205 ti_cif3,ti_otx,ti_threatq: honor preserve_original_event
  packages/ti_cif3/_dev/deploy/docker/docker-compose.yml
  packages/ti_cif3/_dev/deploy/docker/files/config.yml
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-no-preserve-ndjson.log
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-no-preserve-ndjson.log-config.yml
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-no-preserve-ndjson.log-expected.json
  packages/ti_cif3/data_stream/feed/_dev/test/pipeline/test-cif3-sample-ndjson.log-config.yml
  packages/ti_cif3/data_stream/feed/_dev/test/system/test-default-config.yml
  packages/ti_cif3/data_stream/feed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cif3/data_stream/feed/fields/beats.yml
  packages/ti_cif3/data_stream/feed/fields/fields.yml
  packages/ti_cif3/data_stream/feed/manifest.yml
  packages/ti_cif3/data_stream/feed/sample_event.json
  packages/ti_cif3/manifest.yml
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-empty-ndjson.log-config.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-no-preserve-ndjson.log
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-no-preserve-ndjson.log-config.yml
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-no-preserve-ndjson.log-expected.json
  packages/ti_otx/data_stream/threat/_dev/test/pipeline/test-otx-sample-ndjson.log-config.yml
  packages/ti_otx/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_otx/manifest.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log-config.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-config.yml
  packages/ti_threatq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatq/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Threat Intel

#5186 Add filters to elastic agent visualizations
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/kibana/lens/elastic_agent-27798780-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/lens/elastic_agent-409f5d70-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/lens/elastic_agent-58677820-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/lens/elastic_agent-6e88c0a0-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/visualization/elastic_agent-47d87552-8421-4cfc-bc5d-4a7205f5b007.json
  packages/elastic_agent/kibana/visualization/elastic_agent-69219f50-febc-11eb-9a5b-19cc90b68e55.json
  packages/elastic_agent/kibana/visualization/elastic_agent-819241d0-0037-11ec-af6c-1740f74b2d73.json
  packages/elastic_agent/kibana/visualization/elastic_agent-93a8a11d-b2da-4ef3-81dc-c7040560ffde.json
  packages/elastic_agent/kibana/visualization/elastic_agent-a11c250a-865f-4eb2-9441-882d229313be.json
  packages/elastic_agent/manifest.yml
Labels: bug, Team:Elastic-Agent

#5198 System dashboards add filters
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/manifest.yml
Labels: bug

#5070 [Ceph] Add Integration Package with Pool Disk data stream
  packages/ceph/_dev/build/docs/README.md
  packages/ceph/_dev/deploy/docker/files/config.yml
  packages/ceph/changelog.yml
  packages/ceph/data_stream/pool_disk/_dev/test/pipeline/test-common-config.yml
  packages/ceph/data_stream/pool_disk/_dev/test/pipeline/test-pool-disk-metrics.log
  packages/ceph/data_stream/pool_disk/_dev/test/pipeline/test-pool-disk-metrics.log-expected.json
  packages/ceph/data_stream/pool_disk/_dev/test/system/test-default-config.yml
  packages/ceph/data_stream/pool_disk/agent/stream/httpjson.yml.hbs
  packages/ceph/data_stream/pool_disk/elasticsearch/ingest_pipeline/default.yml
  packages/ceph/data_stream/pool_disk/fields/base-fields.yml
  packages/ceph/data_stream/pool_disk/fields/ecs.yml
  packages/ceph/data_stream/pool_disk/fields/fields.yml
  packages/ceph/data_stream/pool_disk/manifest.yml
  packages/ceph/data_stream/pool_disk/sample_event.json
  packages/ceph/docs/README.md
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#5011 [Ceph] Add Integration Package with Cluster Disk data stream
  packages/ceph/_dev/build/docs/README.md
  packages/ceph/_dev/deploy/docker/files/config.yml
  packages/ceph/changelog.yml
  packages/ceph/data_stream/cluster_disk/_dev/test/pipeline/test-cluster-disk-metrics.log
  packages/ceph/data_stream/cluster_disk/_dev/test/pipeline/test-cluster-disk-metrics.log-expected.json
  packages/ceph/data_stream/cluster_disk/_dev/test/pipeline/test-common-config.yml
  packages/ceph/data_stream/cluster_disk/_dev/test/system/test-default-config.yml
  packages/ceph/data_stream/cluster_disk/agent/stream/httpjson.yml.hbs
  packages/ceph/data_stream/cluster_disk/elasticsearch/ingest_pipeline/default.yml
  packages/ceph/data_stream/cluster_disk/fields/base-fields.yml
  packages/ceph/data_stream/cluster_disk/fields/ecs.yml
  packages/ceph/data_stream/cluster_disk/fields/fields.yml
  packages/ceph/data_stream/cluster_disk/manifest.yml
  packages/ceph/data_stream/cluster_disk/sample_event.json
  packages/ceph/docs/README.md
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#5199 [Cloud Security] Add cspm/kspm icons
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/img/cis-kubernetes-benchmark-logo.svg
  packages/cloud_security_posture/img/logo_cloud_security_posture.svg
  packages/cloud_security_posture/img/logo_cspm.svg
  packages/cloud_security_posture/img/logo_kspm.svg
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#5204 okta: fix typo
  packages/okta/changelog.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta, docs

#2497 [New Package] Azure Frontdoor Integration
  .github/CODEOWNERS
  packages/azure_frontdoor/_dev/build/build.yml
  packages/azure_frontdoor/_dev/build/docs/README.md
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-fdaccess.log
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-fdaccess.log-expected.json
  packages/azure_frontdoor/data_stream/access/agent/stream/azure-eventhub.yml.hbs
  packages/azure_frontdoor/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/access/fields/agent.yml
  packages/azure_frontdoor/data_stream/access/fields/base-fields.yml
  packages/azure_frontdoor/data_stream/access/fields/ecs.yml
  packages/azure_frontdoor/data_stream/access/fields/fields.yml
  packages/azure_frontdoor/data_stream/access/manifest.yml
  packages/azure_frontdoor/data_stream/access/sample_event.json
  packages/azure_frontdoor/data_stream/waf/_dev/test/pipeline/test-common-config.yml
  packages/azure_frontdoor/data_stream/waf/_dev/test/pipeline/test-fdwaf.log
  packages/azure_frontdoor/data_stream/waf/_dev/test/pipeline/test-fdwaf.log-expected.json
  packages/azure_frontdoor/data_stream/waf/agent/stream/azure-eventhub.yml.hbs
  packages/azure_frontdoor/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/waf/fields/agent.yml
  packages/azure_frontdoor/data_stream/waf/fields/base-fields.yml
  packages/azure_frontdoor/data_stream/waf/fields/ecs.yml
  packages/azure_frontdoor/data_stream/waf/fields/fields.yml
  packages/azure_frontdoor/data_stream/waf/manifest.yml
  packages/azure_frontdoor/data_stream/waf/sample_event.json
  packages/azure_frontdoor/docs/README.md
  packages/azure_frontdoor/img/azure-frontdoor-overview.png
  packages/azure_frontdoor/img/front-door.svg
  packages/azure_frontdoor/kibana/dashboard/azure_frontdoor-d05e0860-6ea7-11ec-bf35-712f9048d91f.json
  packages/azure_frontdoor/manifest.yml
Labels: Team:Security-External Integrations, Integration:Azure, v8.7.0

#4471 Trendmicro Integration
  .github/CODEOWNERS
  packages/trendmicro/_dev/build/build.yml
  packages/trendmicro/_dev/build/docs/README.md
  packages/trendmicro/_dev/deploy/docker/docker-compose.yml
  packages/trendmicro/_dev/deploy/docker/sample_logs/trendmicro.log
  packages/trendmicro/changelog.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-common-config.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json-expected.json
  packages/trendmicro/data_stream/deep_security/_dev/test/system/test-filestream-config.yml
  packages/trendmicro/data_stream/deep_security/agent/stream/stream.yml.hbs
  packages/trendmicro/data_stream/deep_security/agent/stream/tcp.yml.hbs
  packages/trendmicro/data_stream/deep_security/agent/stream/udp.yml.hbs
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/application-control-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/default.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/firewall-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/integrity-monitoring-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/intrusion-prevention-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/log-inspection.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/malware-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/system-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/web-reputation.yml
  packages/trendmicro/data_stream/deep_security/fields/agent.yml
  packages/trendmicro/data_stream/deep_security/fields/base-fields.yml
  packages/trendmicro/data_stream/deep_security/fields/ecs.yml
  packages/trendmicro/data_stream/deep_security/fields/fields.yml
  packages/trendmicro/data_stream/deep_security/manifest.yml
  packages/trendmicro/data_stream/deep_security/sample_event.json
  packages/trendmicro/docs/README.md
  packages/trendmicro/img/Trend-Micro-Logo.svg
  packages/trendmicro/img/sample-logo.svg
  packages/trendmicro/img/sample-screenshot.png
  packages/trendmicro/img/trend-micro-deep-security-dashboard-screenshot.png
  packages/trendmicro/kibana/dashboard/trendmicro-8efdcf10-a2fc-11ed-bd5a-0d4c2fb00c2c.json
  packages/trendmicro/manifest.yml
Labels: Team:Security-External Integrations, New Integration, v8.7.0

#5202 [Logstash] Add datastream period option
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node/manifest.yml
  packages/logstash/data_stream/node_stats/manifest.yml
  packages/logstash/manifest.yml
Labels: Integration:Logstash, Team:Infra Monitoring UI

#5201 [Kibana] Add datastream period option
  packages/kibana/changelog.yml
  packages/kibana/data_stream/cluster_actions/manifest.yml
  packages/kibana/data_stream/cluster_rules/fields/fields.yml
  packages/kibana/data_stream/cluster_rules/manifest.yml
  packages/kibana/data_stream/node_actions/fields/fields.yml
  packages/kibana/data_stream/node_actions/manifest.yml
  packages/kibana/data_stream/node_rules/fields/fields.yml
  packages/kibana/data_stream/node_rules/manifest.yml
  packages/kibana/data_stream/stats/manifest.yml
  packages/kibana/data_stream/status/manifest.yml
  packages/kibana/manifest.yml
Labels: Integration:Kibana, Team:Infra Monitoring UI

#5209 [Cloud Security] - Updating readme documentation with the supported namespace - backporting Kibana 8.5
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#5211 [Cloud Security] - Updating readme documentation with the supported namespace - backporting Kibana 8.6
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#5220 checkpoint: improve parsing and expose origin_sic_name
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-common-config.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r80x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-trailing-space.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/data_stream/firewall/manifest.yml
  packages/checkpoint/data_stream/firewall/sample_event.json
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Checkpoint

#5076 [Tines] New integration
  .github/CODEOWNERS
  packages/tines/_dev/build/build.yml
  packages/tines/_dev/build/docs/README.md
  packages/tines/_dev/deploy/docker/config.yml
  packages/tines/_dev/deploy/docker/docker-compose.yml
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-audit-logs.json
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-audit-logs.json-expected.json
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-common-config.yml
  packages/tines/data_stream/audit_logs/_dev/test/system/test-default-config.yml
  packages/tines/data_stream/audit_logs/agent/stream/httpjson.yml.hbs
  packages/tines/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/tines/data_stream/audit_logs/fields/base-fields.yml
  packages/tines/data_stream/audit_logs/fields/ecs.yml
  packages/tines/data_stream/audit_logs/fields/fields.yml
  packages/tines/data_stream/audit_logs/manifest.yml
  packages/tines/data_stream/audit_logs/sample_event.json
  packages/tines/data_stream/time_saved/_dev/test/pipeline/test-common-config.yml
  packages/tines/data_stream/time_saved/_dev/test/pipeline/test-time-saved.json
  packages/tines/data_stream/time_saved/_dev/test/pipeline/test-time-saved.json-expected.json
  packages/tines/data_stream/time_saved/_dev/test/system/test-default-config.yml
  packages/tines/data_stream/time_saved/agent/stream/httpjson.yml.hbs
  packages/tines/data_stream/time_saved/elasticsearch/ingest_pipeline/default.yml
  packages/tines/data_stream/time_saved/fields/base-fields.yml
  packages/tines/data_stream/time_saved/fields/ecs.yml
  packages/tines/data_stream/time_saved/fields/fields.yml
  packages/tines/data_stream/time_saved/manifest.yml
  packages/tines/data_stream/time_saved/sample_event.json
  packages/tines/docs/README.md
  packages/tines/img/tines-audit-logs-dashboard.png
  packages/tines/img/tines-integration-configuration.png
  packages/tines/img/tines-purple-logo.png
  packages/tines/img/tines-time-saved-dashboard.png
  packages/tines/kibana/dashboard/tines-215e32f0-9e2a-11ed-9dee-d3f2ae7796f5.json
  packages/tines/kibana/dashboard/tines-c8ef4110-9a44-11ed-ad71-d13f8e88b6f1.json
  packages/tines/kibana/tag/tines-fleet-managed-default.json
  packages/tines/kibana/tag/tines-fleet-pkg-tines-default.json
  packages/tines/manifest.yml
Labels: Team:Security-External Integrations, New Integration, Integration:Tines

#5253 [Cloud Posture] Add RDS fetcher to AWS hbs file
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
Labels: enhancement, Integration:CloudSecurityPosture

#5251 [Cloud Security] cloud_security_posture version bump - beta1
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#5267 Assign streams to inputs
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug

#5269 Fixing beta version syntax
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug

#5216 [Ceph] Add Integration Package with Cluster Status data stream
  packages/ceph/_dev/build/docs/README.md
  packages/ceph/_dev/deploy/docker/files/config.yml
  packages/ceph/changelog.yml
  packages/ceph/data_stream/cluster_status/_dev/test/pipeline/test-cluster-status-metrics-nautilus.log
  packages/ceph/data_stream/cluster_status/_dev/test/pipeline/test-cluster-status-metrics-nautilus.log-expected.json
  packages/ceph/data_stream/cluster_status/_dev/test/pipeline/test-cluster-status-metrics-octopus.log
  packages/ceph/data_stream/cluster_status/_dev/test/pipeline/test-cluster-status-metrics-octopus.log-expected.json
  packages/ceph/data_stream/cluster_status/_dev/test/pipeline/test-common-config.yml
  packages/ceph/data_stream/cluster_status/_dev/test/system/test-default-config.yml
  packages/ceph/data_stream/cluster_status/agent/stream/httpjson.yml.hbs
  packages/ceph/data_stream/cluster_status/elasticsearch/ingest_pipeline/default.yml
  packages/ceph/data_stream/cluster_status/fields/base-fields.yml
  packages/ceph/data_stream/cluster_status/fields/ecs.yml
  packages/ceph/data_stream/cluster_status/fields/fields.yml
  packages/ceph/data_stream/cluster_status/manifest.yml
  packages/ceph/data_stream/cluster_status/sample_event.json
  packages/ceph/docs/README.md
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#5133 [Cloud Security] adding readme for cspm & kspm policy templates
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/docs/cspm.md
  packages/cloud_security_posture/docs/kspm.md
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#5290 [Azure Logs] Add `storage_account_container` to application gateway integration
  packages/azure/_dev/build/docs/application_gateway.md
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/application_gateway/manifest.yml
  packages/azure/docs/application_gateway.md
  packages/azure/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#5239 [Winlog] Can't modify Dataset Name / event.dataset not conforming to ECS
  packages/winlog/changelog.yml
  packages/winlog/data_stream/winlog/fields/base-fields.yml
  packages/winlog/data_stream/winlog/fields/ecs.yml
  packages/winlog/docs/README.md
  packages/winlog/manifest.yml
Labels: Team:Security-External Integrations, Integration:Custom Windows Events

#5152 [Ceph] Add Integration Package with dashboard
  packages/ceph/changelog.yml
  packages/ceph/img/ceph-overview-dashboard.png
  packages/ceph/kibana/dashboard/ceph-b2083fa0-9e0a-11ed-9f4a-79c03177b9dc.json
  packages/ceph/manifest.yml
Labels: enhancement, Integration:Ceph, Team:Service-Integrations

#5300 [Google Workspace ] Fix order of processes in ingest pipeline
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/rules/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations

#5304 [Google Workspace] Fix timestamp value in Rules data stream
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/rules/_dev/test/pipeline/test-rules.log-expected.json
  packages/google_workspace/data_stream/rules/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/rules/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Google Workspace

#5192 cisco_secure_email_gateway: allow configuration of time zones
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-anti-spam.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-content-scanner.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-error.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-gui-log.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-status.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-system.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-text-mail.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_secure_email_gateway/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_secure_email_gateway/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/data_stream/log/manifest.yml
  packages/cisco_secure_email_gateway/data_stream/log/sample_event.json
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#5295 checkpoint: enhance processor error reporting
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#5227 [Kubernetes] Update system testing manifests
  packages/kubernetes/_dev/deploy/k8s/cluster-role-binding.yaml
  packages/kubernetes/_dev/deploy/k8s/cluster-role.yaml
  packages/kubernetes/_dev/deploy/k8s/configmap.yaml
  packages/kubernetes/_dev/deploy/k8s/deployment.yaml
  packages/kubernetes/_dev/deploy/k8s/kustomization.yaml
  packages/kubernetes/_dev/deploy/k8s/service-account.yaml
  packages/kubernetes/_dev/deploy/k8s/service.yaml
Labels: enhancement, Team:Cloudnative-Monitoring

#5327 Bumping version of next
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug

#5320 system/auth: remove redundant regular expression quantifier
  packages/system/changelog.yml
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:System

#5195 [sophos_central] Initial Release for the Sophos Central
  .github/CODEOWNERS
  packages/sophos_central/_dev/build/build.yml
  packages/sophos_central/_dev/build/docs/README.md
  packages/sophos_central/_dev/deploy/docker/docker-compose.yml
  packages/sophos_central/_dev/deploy/docker/files/config.yml
  packages/sophos_central/changelog.yml
  packages/sophos_central/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/sophos_central/data_stream/alert/_dev/test/pipeline/test-pipeline-activity.log
  packages/sophos_central/data_stream/alert/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sophos_central/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/sophos_central/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/sophos_central/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sophos_central/data_stream/alert/fields/base-fields.yml
  packages/sophos_central/data_stream/alert/fields/beats.yml
  packages/sophos_central/data_stream/alert/fields/fields.yml
  packages/sophos_central/data_stream/alert/manifest.yml
  packages/sophos_central/data_stream/alert/sample_event.json
  packages/sophos_central/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/sophos_central/data_stream/event/_dev/test/pipeline/test-pipeline-activity.log
  packages/sophos_central/data_stream/event/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sophos_central/data_stream/event/_dev/test/system/test-default-config.yml
  packages/sophos_central/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/sophos_central/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sophos_central/data_stream/event/fields/base-fields.yml
  packages/sophos_central/data_stream/event/fields/beats.yml
  packages/sophos_central/data_stream/event/fields/fields.yml
  packages/sophos_central/data_stream/event/manifest.yml
  packages/sophos_central/data_stream/event/sample_event.json
  packages/sophos_central/docs/README.md
  packages/sophos_central/img/sophos-central-alerts.png
  packages/sophos_central/img/sophos-central-events.png
  packages/sophos_central/img/sophos_central_logo.svg
  packages/sophos_central/kibana/dashboard/sophos_central-1616f9a0-77af-11ed-98b8-2bf13cc9deaa.json
  packages/sophos_central/kibana/dashboard/sophos_central-3ad33c00-7ad8-11ed-a685-e7c53637b621.json
  packages/sophos_central/manifest.yml
Labels: enhancement, Team:Security-External Integrations, New Integration

#5329 Change default storage container name to avoid collision
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/agent/stream/azure-eventhub.yml.hbs
  packages/azure_frontdoor/data_stream/waf/agent/stream/azure-eventhub.yml.hbs
  packages/azure_frontdoor/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#5321 checkpoint: fix src_user_name field mapping
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r80x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Checkpoint

#5292 [GitHub] Issues Datastream
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/changelog.yml
  packages/github/data_stream/issues/_dev/test/pipeline/test-common-config.yml
  packages/github/data_stream/issues/_dev/test/pipeline/test-github-issues-json.log
  packages/github/data_stream/issues/_dev/test/pipeline/test-github-issues-json.log-expected.json
  packages/github/data_stream/issues/_dev/test/system/test-default-config.yml
  packages/github/data_stream/issues/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/issues/fields/agent.yml
  packages/github/data_stream/issues/fields/base-fields.yml
  packages/github/data_stream/issues/fields/ecs.yml
  packages/github/data_stream/issues/fields/fields.yml
  packages/github/data_stream/issues/manifest.yml
  packages/github/data_stream/issues/sample_event.json
  packages/github/kibana/dashboard/github-f0104680-ae18-11ed-83fa-df5d96a45724.json
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Github

#5334 Add additional checks for event.original already existing into Azure firewall logs integration ingest pipeline
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: bug

#5325 mimecast: drop documents with no events
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log-expected.json
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/pipeline/test-threat-intel-malware-customer.log
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/pipeline/test-threat-intel-malware-customer.log-expected.json
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_customer/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/pipeline/test-threat-intel-malware-grid.log
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/pipeline/test-threat-intel-malware-grid.log-expected.json
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/pipeline/test-ttp-ap-logs.log
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/pipeline/test-ttp-ap-logs.log-expected.json
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ip_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log-expected.json
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Mimecast

#5326 [System Test] Assert on hit-count
  packages/google_workspace/data_stream/admin/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/drive/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/groups/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/login/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/rules/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/saml/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/user_accounts/_dev/test/system/test-default-config.yml
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/data_stream/audit_events/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/dlp_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ip_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/system/test-default-config.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/system/test-default-config.yml
Labels: Team:Security-External Integrations, Integration:Google Workspace, Integration:Okta, Integration:Mimecast, 8.8 candidate

#5098 [O11y][Hadoop] Replace format of date processor from epoch_millis to UNIX_MS
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/_dev/test/pipeline/test-application-metrics.log-expected.json
  packages/hadoop/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/application/sample_event.json
  packages/hadoop/data_stream/datanode/_dev/test/pipeline/test-datanode-metrics.json
  packages/hadoop/data_stream/datanode/_dev/test/pipeline/test-datanode-metrics.json-expected.json
  packages/hadoop/data_stream/datanode/elasticsearch/ingest_pipeline/pipeline-dataset.yml
  packages/hadoop/data_stream/datanode/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
Labels: bug, Integration:Hadoop, Team:Service-Integrations

#5302 [tenable.io] Add Max Retries parameter to increase wait time
  packages/tenable_io/_dev/build/docs/README.md
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/asset/manifest.yml
  packages/tenable_io/data_stream/plugin/manifest.yml
  packages/tenable_io/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/vulnerability/manifest.yml
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Tenable.io

#5357 [Cloud Security] Add backward compatibility for cloudbeat < 8.7
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/findings/fields/cloudbeat.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security

#5362 network_traffic: fix type of real_ip_header option for HTTP data stream
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/http/manifest.yml
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#5350 [system + winlog] Fix mapping for time_created to date
  packages/system/changelog.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
  packages/winlog/changelog.yml
  packages/winlog/data_stream/winlog/fields/winlog.yml
  packages/winlog/docs/README.md
  packages/winlog/manifest.yml
Labels: Team:Security-External Integrations, Integration:Windows, Integration:System

#5266 Add vulnerability management integration
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/base-fields.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/cloudbeat.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/ecs.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/manifest.yml
  packages/cloud_security_posture/img/logo_vuln_mgmt.svg
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#5244 [Cortex XDR] Add support for Advanced security level
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/agent/stream/httpjson.yml.hbs
  packages/panw_cortex_xdr/data_stream/alerts/manifest.yml
  packages/panw_cortex_xdr/manifest.yml
Labels: Team:Security-External Integrations, Integration:PanwCortexXDR

#5231 [gcp] Add logic to handle scalar request.policy values on audit
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:GCP

#5353 [Elasticsearch] Add condition and leader election to Elasticsearch integration
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/audit/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/ccr/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/cluster_stats/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/deprecation/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/enrich/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/gc/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/index/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index_recovery/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index_summary/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/ml_job/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/node/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/node_stats/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/pending_tasks/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/server/agent/stream/log.yml.hbs
  packages/elasticsearch/data_stream/shard/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/slowlog/agent/stream/log.yml.hbs
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:Elasticsearch, Team:Infra Monitoring UI

#5366 [Github] | Fix template parsing issue in audit datastream
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-audit-json.log-expected.json
  packages/github/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/audit/manifest.yml
  packages/github/data_stream/audit/sample_event.json
  packages/github/data_stream/code_scanning/sample_event.json
  packages/github/data_stream/dependabot/sample_event.json
  packages/github/data_stream/issues/sample_event.json
  packages/github/data_stream/secret_scanning/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Github

#5371 [Mimecast] Fix template config and verify cursor test
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/audit_events/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/manifest.yml
Labels: Team:Security-External Integrations, Integration:Mimecast

#5376 mimecast: fingerprint events to prevent duplicates
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/dlp_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ap_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Mimecast

#5336 Prometheus set datastream name
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/data_stream/remote_write/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
Labels: Team:Cloudnative-Monitoring

#5361 [Azure Logs] Fix `event.original` handling on Application Gateway and the generic Event Hub integration
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/eventhub/elasticsearch/ingest_pipeline/parsed-message.yml
  packages/azure/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#5025 [GCP] Add various dashboards
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-1ae960c0-f9f8-11eb-bc38-79936db7c106.json
  packages/gcp/kibana/dashboard/gcp-2b0fd7b0-feac-11ea-b032-d59f894a5072.json
  packages/gcp/kibana/dashboard/gcp-6576c480-73a2-11ea-a345-f985c61fe654.json
  packages/gcp/kibana/dashboard/gcp-ca401040-8e52-11ea-9fa6-4d675d5290dc.json
  packages/gcp/manifest.yml
Labels: Integration:GCP

#5031 [JumpCloud] New integration
  .github/CODEOWNERS
  packages/jumpcloud/_dev/build/build.yml
  packages/jumpcloud/_dev/build/docs/README.md
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/jumpcloud/data_stream/events/_dev/test/pipeline/test-events.json
  packages/jumpcloud/data_stream/events/_dev/test/pipeline/test-events.json-expected.json
  packages/jumpcloud/data_stream/events/agent/stream/httpjson.yml.hbs
  packages/jumpcloud/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jumpcloud/data_stream/events/fields/base-fields.yml
  packages/jumpcloud/data_stream/events/fields/ecs.yml
  packages/jumpcloud/data_stream/events/fields/fields.yml
  packages/jumpcloud/data_stream/events/manifest.yml
  packages/jumpcloud/data_stream/events/sample_event.json
  packages/jumpcloud/docs/README.md
  packages/jumpcloud/img/jumpcloud.svg
  packages/jumpcloud/img/sample-add-integration.png
  packages/jumpcloud/img/sample-screenshot.png
  packages/jumpcloud/kibana/dashboard/jumpcloud-fe780080-94a7-11ed-9170-e9f90db17dfc.json
  packages/jumpcloud/kibana/tag/jumpcloud-fleet-managed-default.json
  packages/jumpcloud/kibana/tag/jumpcloud-fleet-pkg-jumpcloud-default.json
  packages/jumpcloud/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#5382 [Azure Logs] Add a missing pattern for AzureFirewallNetworkRule
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-sdh3075-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-sdh3075-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#5390 ti_misp: drop empty event sets
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MISP

#5380 [tenable_sc] Add drop to pipeline if event is empty
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/tenable_sc/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/tenable_sc/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/manifest.yml
Labels: Team:Security-External Integrations, Integration:TenableSC

#5395 [System Test] Add system test with cursors
  packages/google_workspace/_dev/deploy/docker/config.yml
  packages/google_workspace/data_stream/admin/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/drive/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/groups/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/login/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/rules/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/saml/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/user_accounts/_dev/test/system/test-default-config.yml
  packages/okta/_dev/deploy/docker/files/config.yml
  packages/okta/data_stream/system/_dev/test/system/test-default-config.yml
Labels: Team:Security-External Integrations

#5356 [Prometheus ] Add remote_write documentation
  packages/prometheus/_dev/build/docs/README.md
  packages/prometheus/docs/README.md
Labels: enhancement

#5398 Promote Elasticsearch 1.4.0 to GA
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, v8.7.0

#5414 Fix image source in Jumpcloud readme
  packages/jumpcloud/_dev/build/docs/README.md
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/docs/README.md
  packages/jumpcloud/manifest.yml
Labels: Team:Security-External Integrations, Integration:Tines

#5415 Fix image sources in Tines readme
  packages/tines/_dev/build/docs/README.md
  packages/tines/changelog.yml
  packages/tines/docs/README.md
  packages/tines/manifest.yml
Labels: Team:Security-External Integrations, Integration:Tines
