Repository elastic/integrations, pull requests merged in 2023-06, with the labels that each got.

#6401 [Github] Remove duplicate repository fields not in github root
  packages/github/changelog.yml
  packages/github/data_stream/issues/_dev/test/pipeline/test-github-issues-json.log
  packages/github/data_stream/issues/_dev/test/pipeline/test-github-issues-json.log-expected.json
  packages/github/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/github/manifest.yml
Labels: Integration:Github, bugfix

#6392 [Docker][Diskio] Add metric type
  packages/docker/changelog.yml
  packages/docker/data_stream/diskio/fields/fields.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: Integration:Docker

#5934 [DOCS] Update Microsoft SQL Server integration docs with required permissions to the database
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: documentation, Team:Docs, docs

#6418 [System Audit] - Improved documentation
  packages/system_audit/_dev/build/docs/README.md
  packages/system_audit/changelog.yml
  packages/system_audit/docs/README.md
  packages/system_audit/manifest.yml
Labels: documentation, Team:Security-External Integrations, bugfix

#6079 [AWS][RDS] Add dimension fields for TSDB support
  packages/aws/changelog.yml
  packages/aws/data_stream/rds/fields/ecs.yml
  packages/aws/data_stream/rds/fields/fields.yml
  packages/aws/docs/rds.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6370 [Cloudflare] New dashboards using Lens, and bumping format version
  packages/cloudflare/_dev/deploy/docker/files/config.yml
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/sample_event.json
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log-config.yml
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log-expected.json
  packages/cloudflare/data_stream/logpull/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare/data_stream/logpull/elasticsearch/ingest_pipeline/http.yml
  packages/cloudflare/data_stream/logpull/fields/fields.yml
  packages/cloudflare/data_stream/logpull/sample_event.json
  packages/cloudflare/docs/README.md
  packages/cloudflare/img/cloudflare-overview1.png
  packages/cloudflare/img/cloudflare-perf1.png
  packages/cloudflare/img/cloudflare-performance.png
  packages/cloudflare/img/cloudflare-performance2.png
  packages/cloudflare/img/cloudflare-reliability.png
  packages/cloudflare/img/cloudflare-sec1.png
  packages/cloudflare/img/cloudflare-security-overview.png
  packages/cloudflare/img/cloudflare-snapshot.png
  packages/cloudflare/kibana/dashboard/cloudflare-095f3a00-23d6-11e9-ba08-c19298cded24.json
  packages/cloudflare/kibana/dashboard/cloudflare-532a64c0-293a-11e9-b959-4502c43b2e30.json
  packages/cloudflare/kibana/dashboard/cloudflare-5a5d6b80-49b9-11e9-bd1f-75f359ac0c3f.json
  packages/cloudflare/kibana/dashboard/cloudflare-8d730ba0-3aa6-11e9-bd1f-75f359ac0c3f.json
  packages/cloudflare/kibana/dashboard/cloudflare-9c4c3100-39df-11e9-bd1f-75f359ac0c3f.json
  packages/cloudflare/kibana/dashboard/cloudflare-a35b4880-49a9-11e9-bd1f-75f359ac0c3f.json
  packages/cloudflare/kibana/dashboard/cloudflare-b221c710-2963-11e9-b959-4502c43b2e30.json
  packages/cloudflare/kibana/dashboard/cloudflare-ded7e2c0-2955-11e9-b959-4502c43b2e30.json
  packages/cloudflare/kibana/search/cloudflare-22e487e0-feed-11ed-9df1-c1797eb73c31.json
  packages/cloudflare/kibana/search/cloudflare-a046cd07-96af-4518-a0c0-aea826e9ffc3.json
  packages/cloudflare/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cloudflare

#6372 [crowdstrike] - Update to ECS 8.8.0 and pkg-spec 2.7.0
  packages/crowdstrike/_dev/build/build.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-audit-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-commandline.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/auth_activity_audit.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/detection_summary.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdrv2-notmanaged.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Crowdstrike

#6394 [O11y][MySQL] Update system test cases
  packages/mysql/_dev/deploy/docker/Dockerfile
  packages/mysql/_dev/deploy/docker/docker-compose.yml
  packages/mysql/_dev/deploy/docker/entrypoint.sh
  packages/mysql/_dev/deploy/variants.yml
  packages/mysql/changelog.yml
  packages/mysql/data_stream/performance/_dev/test/system/test-default-config.yml
  packages/mysql/data_stream/performance/sample_event.json
  packages/mysql/manifest.yml
Labels: enhancement, Integration:MySQL

#6094 [AWS][RDS] Add metric type to fields
  packages/aws/changelog.yml
  packages/aws/data_stream/rds/fields/fields.yml
  packages/aws/docs/rds.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6429 [O11y] [Nagios XI] Update field description for host and service data stream
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/host/fields/fields.yml
  packages/nagios_xi/data_stream/service/fields/fields.yml
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/manifest.yml
Labels: Integration:NagiosXI, bugfix

#6404 [O11y] [Couchbase] Make sync-gateway host optional
  packages/couchbase/changelog.yml
  packages/couchbase/manifest.yml
Labels: Integration:Couchbase, bugfix

#6439 [cisco_meraki] - Update to package-spec 2.7.0
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/_dev/test/pipeline/test-mx-events.json-expected.json
  packages/cisco_meraki/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/events/sample_event.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-airmarshal-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/airmarshal.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/data_stream/log/sample_event.json
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Cisco Meraki

#6456 Universal Profiling Symbolizer: update to 8.8.1
  packages/universal_profiling_symbolizer/changelog.yml
  packages/universal_profiling_symbolizer/manifest.yml
Labels: enhancement

#6123 [vectra_detect] Add new event type vectra match v2
  packages/vectra_detect/_dev/build/docs/README.md
  packages/vectra_detect/_dev/deploy/docker/sample_logs/vectra_detect.log
  packages/vectra_detect/changelog.yml
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-account-detection.log-expected.json
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-account-scoring.log-expected.json
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-alert.log
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-alert.log-expected.json
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-audit.log
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-host-detection.log
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-host-detection.log-expected.json
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-host-scoring.log
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-host-scoring.log-expected.json
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-detection.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-lockdown.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-scoring.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-alert.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-audit.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-campaign.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-health.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-detection.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-lockdown.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-scoring.yml
  packages/vectra_detect/data_stream/log/fields/fields.yml
  packages/vectra_detect/data_stream/log/sample_event.json
  packages/vectra_detect/docs/README.md
  packages/vectra_detect/img/alert-dashboard.png
  packages/vectra_detect/kibana/dashboard/vectra_detect-0bbae190-e96c-11ed-82b8-a7ddbad6a7d5.json
  packages/vectra_detect/kibana/search/vectra_detect-61ac42e0-e978-11ed-9360-39d3b55aa664.json
  packages/vectra_detect/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:VectraDetect

#6411 Add CRC options when configuring Zoom integration
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/agent/stream/http_endpoint.yml.hbs
  packages/zoom/data_stream/webhook/manifest.yml
  packages/zoom/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zoom

#6365 [AWS] Add metric type to VPN, Firewall and Transit Gateway data streams
  packages/aws/changelog.yml
  packages/aws/data_stream/firewall_metrics/fields/fields.yml
  packages/aws/data_stream/transitgateway/fields/fields.yml
  packages/aws/data_stream/vpn/fields/fields.yml
  packages/aws/docs/firewall.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/vpn.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6311 [AWS] Set dimensions fields of Billing, SQS and SNS data streams
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/fields/ecs.yml
  packages/aws/data_stream/billing/fields/fields.yml
  packages/aws/data_stream/sns/fields/ecs.yml
  packages/aws/data_stream/sns/fields/fields.yml
  packages/aws/data_stream/sqs/fields/ecs.yml
  packages/aws/data_stream/sqs/fields/fields.yml
  packages/aws/docs/billing.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6188 [AWS] Add API Gateway metrics data stream
  packages/aws/_dev/build/docs/apigateway.md
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/apigateway_metrics/fields/agent.yml
  packages/aws/data_stream/apigateway_metrics/fields/base-fields.yml
  packages/aws/data_stream/apigateway_metrics/fields/ecs.yml
  packages/aws/data_stream/apigateway_metrics/fields/fields.yml
  packages/aws/data_stream/apigateway_metrics/fields/package-fields.yml
  packages/aws/data_stream/apigateway_metrics/manifest.yml
  packages/aws/data_stream/apigateway_metrics/sample_event.json
  packages/aws/docs/apigateway.md
  packages/aws/img/logo_apigateway.svg
  packages/aws/manifest.yml
Labels: 8.9 candidate

#6390 [Docker] Add dimensions to metrics data streams, except for events
  packages/docker/changelog.yml
  packages/docker/data_stream/container/fields/ecs.yml
  packages/docker/data_stream/cpu/fields/ecs.yml
  packages/docker/data_stream/diskio/fields/ecs.yml
  packages/docker/data_stream/healthcheck/fields/ecs.yml
  packages/docker/data_stream/image/fields/ecs.yml
  packages/docker/data_stream/image/fields/fields.yml
  packages/docker/data_stream/image/manifest.yml
  packages/docker/data_stream/info/fields/ecs.yml
  packages/docker/data_stream/info/fields/fields.yml
  packages/docker/data_stream/memory/fields/ecs.yml
  packages/docker/data_stream/network/fields/ecs.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: Integration:Docker

#6319 [AWS] Add metric type to SNS, SQS and Billing data streams
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/fields/fields.yml
  packages/aws/data_stream/sns/fields/fields.yml
  packages/aws/data_stream/sqs/fields/fields.yml
  packages/aws/docs/billing.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6480 [AWS] Add link to the main requirements section in all AWS integrations
  packages/aws/_dev/build/docs/apigateway.md
  packages/aws/_dev/build/docs/billing.md
  packages/aws/_dev/build/docs/cloudfront.md
  packages/aws/_dev/build/docs/cloudtrail.md
  packages/aws/_dev/build/docs/cloudwatch.md
  packages/aws/_dev/build/docs/dynamodb.md
  packages/aws/_dev/build/docs/ebs.md
  packages/aws/_dev/build/docs/ec2.md
  packages/aws/_dev/build/docs/ecs.md
  packages/aws/_dev/build/docs/elb.md
  packages/aws/_dev/build/docs/firewall.md
  packages/aws/_dev/build/docs/kinesis.md
  packages/aws/_dev/build/docs/lambda.md
  packages/aws/_dev/build/docs/natgateway.md
  packages/aws/_dev/build/docs/rds.md
  packages/aws/_dev/build/docs/redshift.md
  packages/aws/_dev/build/docs/route53.md
  packages/aws/_dev/build/docs/s3.md
  packages/aws/_dev/build/docs/s3_storage_lens.md
  packages/aws/_dev/build/docs/sns.md
  packages/aws/_dev/build/docs/sqs.md
  packages/aws/_dev/build/docs/transitgateway.md
  packages/aws/_dev/build/docs/usage.md
  packages/aws/_dev/build/docs/vpcflow.md
  packages/aws/_dev/build/docs/vpn.md
  packages/aws/_dev/build/docs/waf.md
  packages/aws/changelog.yml
  packages/aws/docs/apigateway.md
  packages/aws/docs/billing.md
  packages/aws/docs/cloudfront.md
  packages/aws/docs/cloudtrail.md
  packages/aws/docs/cloudwatch.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/ecs.md
  packages/aws/docs/elb.md
  packages/aws/docs/firewall.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/redshift.md
  packages/aws/docs/route53.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpcflow.md
  packages/aws/docs/vpn.md
  packages/aws/docs/waf.md
  packages/aws/manifest.yml
Labels: documentation, Team:Cloud-Monitoring

#6409 [O11y] [Nagios XI] Update control panel and add units for metrics chart in service dashboards
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/img/nagios_xi-service-dashboard-screenshot.png
  packages/nagios_xi/kibana/dashboard/nagios_xi-d56317e0-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-7afb9950-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-7ed96fc0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-a9316ed0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/manifest.yml
Labels: Integration:NagiosXI, bugfix

#6440 [AWS] Use `aws.dimensions.DBInstanceIdentifier` as database instance identifier in the RDS dashboard
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-3367c170-921f-11e9-aa19-159bf182e06f.json
  packages/aws/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#6296 [AWS] Add metric type to Usage, DynamoDB and ELB data streams
  packages/aws/changelog.yml
  packages/aws/data_stream/dynamodb/fields/fields.yml
  packages/aws/data_stream/elb_metrics/fields/fields.yml
  packages/aws/data_stream/usage/fields/fields.yml
  packages/aws/docs/dynamodb.md
  packages/aws/docs/elb.md
  packages/aws/docs/usage.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6425 [O11y][Oracle WebLogic] Fix descriptions in README.md
  packages/oracle_weblogic/_dev/build/docs/README.md
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/manifest.yml
Labels: Integration:oracle_weblogic, bugfix

#6374 [O11y][AWS CloudTrail] Migrate AWS `CloudTrail` dashboard visualizations to lenses in Kibana 8.7.1
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-cloudtrail.png
  packages/aws/kibana/dashboard/aws-9c09cd20-7399-11ea-a345-f985c61fe654.json
  packages/aws/kibana/search/aws-30ccde50-7397-11ea-a345-f985c61fe654.json
  packages/aws/manifest.yml
Labels: Integration:AWS

#6368 [O11y][AWS Usage] Migrate Usage Overview dashboard visualizations to lens in kibana 8.7.1
  packages/aws/changelog.yml
  packages/aws/img/metricbeat-aws-usage-overview.png
  packages/aws/kibana/dashboard/aws-917a07b0-178e-11ea-8650-fb606deb5be4.json
  packages/aws/manifest.yml
Labels: enhancement

#5650 [AWS] Add Firewall metrics dashboard input control groups
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-3abffe60-4ba9-11ec-8282-5342b8988acc.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#5626 [AWS] Migrate EC2 metrics dashboard to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-c5846400-f7fb-11e8-af03-c999c9dea608.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#6483 checkpoint: avoid data loss from loguid collisions
  packages/checkpoint/_dev/build/docs/README.md
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Checkpoint

#6463 panw: allow usernames to contain spaces
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#5643 [AWS] Migrate ELB metrics dashboard visualizations to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-e74bf320-b3ce-11e9-87a4-078dbbae220d.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#5426 [AWS] Migrate NATGateway metrics visualizations to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-c2b1cbc0-6891-11ea-b0ac-95d4ecb1fecd.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#6507 [okta] Fix concurrent modification exception
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Okta

#6495 ti_misp - Fix duplicate requests for page 1
  packages/ti_misp/_dev/deploy/docker/files/config.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/system/test-default-config.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/_dev/test/system/test-default-config.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MISP

#6512 [ti_misp] Fix threat_attributes pagination loop
  packages/ti_misp/_dev/deploy/docker/files/config.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MISP

#6505 [Github] Update documentation containing audit log prerequisites
  packages/github/_dev/build/docs/README.md
  packages/github/changelog.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: bug, documentation, Team:Security-External Integrations

#6421 [AWS] Add agent.id field to be set as dimension for TSDB migration
  packages/aws/changelog.yml
  packages/aws/data_stream/dynamodb/fields/ecs.yml
  packages/aws/data_stream/ebs/fields/ecs.yml
  packages/aws/data_stream/ecs_metrics/fields/ecs.yml
  packages/aws/data_stream/elb_metrics/fields/ecs.yml
  packages/aws/data_stream/kinesis/fields/ecs.yml
  packages/aws/data_stream/lambda/fields/ecs.yml
  packages/aws/data_stream/natgateway/fields/ecs.yml
  packages/aws/data_stream/redshift/fields/ecs.yml
  packages/aws/data_stream/usage/fields/ecs.yml
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ecs.md
  packages/aws/docs/elb.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/redshift.md
  packages/aws/docs/usage.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6509 [symantec_endpoint] Parse all times relative to configured TZ offset
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-policy-rfc3164-sep14-3ru7.log
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-policy-rfc3164-sep14-3ru7.log-expected.json
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/data_stream/log/manifest.yml
  packages/symantec_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Symantec-Endpoint

#6520 [PANW] Split field panw.panos.url_category_list in threat logs
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PANW

#6459 [AWS] Add include_linked_accounts parameter for all metrics data streams
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/agent/stream/stream.yml.hbs
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/data_stream/cloudwatch_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/cloudwatch_metrics/manifest.yml
  packages/aws/data_stream/dynamodb/agent/stream/stream.yml.hbs
  packages/aws/data_stream/dynamodb/manifest.yml
  packages/aws/data_stream/ebs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ebs/manifest.yml
  packages/aws/data_stream/ec2_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ec2_metrics/manifest.yml
  packages/aws/data_stream/ecs_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ecs_metrics/manifest.yml
  packages/aws/data_stream/elb_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/elb_metrics/manifest.yml
  packages/aws/data_stream/firewall_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/firewall_metrics/manifest.yml
  packages/aws/data_stream/kinesis/agent/stream/stream.yml.hbs
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/data_stream/lambda/agent/stream/stream.yml.hbs
  packages/aws/data_stream/lambda/manifest.yml
  packages/aws/data_stream/natgateway/agent/stream/stream.yml.hbs
  packages/aws/data_stream/natgateway/manifest.yml
  packages/aws/data_stream/rds/agent/stream/stream.yml.hbs
  packages/aws/data_stream/rds/fields/ecs.yml
  packages/aws/data_stream/rds/fields/fields.yml
  packages/aws/data_stream/rds/manifest.yml
  packages/aws/data_stream/redshift/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_daily_storage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_daily_storage/manifest.yml
  packages/aws/data_stream/s3_request/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_request/manifest.yml
  packages/aws/data_stream/s3_storage_lens/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_storage_lens/manifest.yml
  packages/aws/data_stream/sns/agent/stream/stream.yml.hbs
  packages/aws/data_stream/sns/manifest.yml
  packages/aws/data_stream/sqs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/sqs/manifest.yml
  packages/aws/data_stream/transitgateway/agent/stream/stream.yml.hbs
  packages/aws/data_stream/transitgateway/manifest.yml
  packages/aws/data_stream/usage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/usage/manifest.yml
  packages/aws/data_stream/vpn/agent/stream/stream.yml.hbs
  packages/aws/data_stream/vpn/manifest.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#6397 Migrate dashboard "Azure Spring Cloud System Logs" to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-1adf52d0-f50f-11eb-a831-732d3e9bbd43.json
  packages/azure/kibana/dashboard/azure-5ad41d90-f50e-11eb-a831-732d3e9bbd43.json
  packages/azure/manifest.yml
Labels: enhancement

#6522 Onboard repository into Buildkite
  .buildkite/pipeline.yml
  .buildkite/pull-requests.json
  catalog-info.yaml
Labels: ci

#6435 Migrate dashboard "Azure Spring Cloud Logs Application Cloud Logs" to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-32aedb00-f524-11eb-b9f3-73fa29f35762.json
  packages/azure/manifest.yml
Labels: enhancement

#6432 Migrate dashboard "Azure Spring Cloud logs Overview" to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-5ad41d90-f50e-11eb-a831-732d3e9bbd43.json
  packages/azure/manifest.yml
Labels: enhancement

#6231 [AWS] add latency documentation
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_metrics/manifest.yml
  packages/aws/data_stream/dynamodb/manifest.yml
  packages/aws/data_stream/ebs/manifest.yml
  packages/aws/data_stream/ec2_metrics/manifest.yml
  packages/aws/data_stream/ecs_metrics/manifest.yml
  packages/aws/data_stream/elb_metrics/manifest.yml
  packages/aws/data_stream/firewall_metrics/manifest.yml
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/data_stream/lambda/manifest.yml
  packages/aws/data_stream/natgateway/manifest.yml
  packages/aws/data_stream/rds/manifest.yml
  packages/aws/data_stream/redshift/manifest.yml
  packages/aws/data_stream/s3_daily_storage/manifest.yml
  packages/aws/data_stream/s3_request/manifest.yml
  packages/aws/data_stream/s3_storage_lens/manifest.yml
  packages/aws/data_stream/sns/manifest.yml
  packages/aws/data_stream/sqs/manifest.yml
  packages/aws/data_stream/transitgateway/manifest.yml
  packages/aws/data_stream/usage/manifest.yml
  packages/aws/data_stream/vpn/manifest.yml
  packages/aws/docs/README.md
  packages/aws/img/metricbeat-aws-cloudwatch-latency.png
  packages/aws/manifest.yml
Labels: Team:Cloud-Monitoring

#6400 Cloud Security - Add CloudFormation url to CSPM
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#6548 http_endpoint: fix handling of include header config
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/data_stream/generic/agent/stream/http.yml.hbs
  packages/http_endpoint/data_stream/generic/manifest.yml
  packages/http_endpoint/manifest.yml
Labels: bug, Team:Security-External Integrations

#6508 windows: allow DNS query responses to have no data
  packages/windows/changelog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#6536 Add processors to prometheus
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/data_stream/remote_write/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
Labels: enhancement

#6555 [Fleet] Fix fleet server integration to avoid server:null in template
  packages/fleet_server/agent/input/agent.yml.hbs
  packages/fleet_server/changelog.yml
  packages/fleet_server/manifest.yml
Labels: bug, Team:Fleet

#5651 [AWS] Migrate TransitGateway metrics dashboard to lenses
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-0eb5a6a0-694f-11ea-b0ac-95d4ecb1fecd.json
  packages/aws/manifest.yml
Labels: Integration:AWS, Team:Cloud-Monitoring

#6549 symantec_endpoint: use ip_address field to populate related.ip
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-packet.log
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-packet.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-proactive-detection-sonar.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-risk.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-agent-scan.log-expected.json
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Symantec-Endpoint

#6521 [AWS][ELB] Migrate AWS ELB Access Log dashboard visualizations to lens
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-elb-overview.png
  packages/aws/kibana/dashboard/aws-3af47420-3e7b-11ea-bb0a-69c3ca1d410f.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#6542 [ForgeRock] Fix IDM Activity revision field format
  packages/forgerock/_dev/deploy/docker/files/config.yml
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/idm_activity/_dev/test/pipeline/test-idm-activity.log
  packages/forgerock/data_stream/idm_activity/_dev/test/pipeline/test-idm-activity.log-expected.json
  packages/forgerock/data_stream/idm_activity/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_activity/fields/forgerock-fields.yml
  packages/forgerock/data_stream/idm_activity/sample_event.json
  packages/forgerock/docs/README.md
  packages/forgerock/manifest.yml
Labels: Team:Security-External Integrations, bugfix, Integration:ForgeRock

#6533 [O11y][MongoDB] Update filters and remove `mongodb.log.timestamp` from mongodb logs dashboard
  packages/mongodb/changelog.yml
  packages/mongodb/img/filebeat-mongodb-overview.png
  packages/mongodb/kibana/dashboard/mongodb-abcf35b0-0a82-11e8-bffe-ff7d4f68cf94.json
  packages/mongodb/kibana/search/mongodb-bfc96a60-0a80-11e8-bffe-ff7d4f68cf94.json
  packages/mongodb/kibana/search/mongodb-e49fe000-0a7e-11e8-bffe-ff7d4f68cf94.json
  packages/mongodb/manifest.yml
Labels: Integration:MongoDB, bugfix

#6575 [ti_misp] Fix parsing of threat event publish_timestamp
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: Team:Security-External Integrations, Integration:MISP, bugfix

#6443 [ Cisco Secure Email Gateway ] Fix grok pattern in AMP ingest pipeline
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_amp.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#6591 [fortinet_fortigate] - Update package-spec to 2.7.0
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/data_stream/log/sample_event.json
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6581 [darktrace] - Update to package-spec 2.7.0
  packages/darktrace/changelog.yml
  packages/darktrace/data_stream/ai_analyst_alert/_dev/test/pipeline/test-ai-analyst-alert.log-expected.json
  packages/darktrace/data_stream/ai_analyst_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/data_stream/ai_analyst_alert/sample_event.json
  packages/darktrace/data_stream/model_breach_alert/_dev/test/pipeline/test-model-breach-alert.log-expected.json
  packages/darktrace/data_stream/model_breach_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/data_stream/model_breach_alert/sample_event.json
  packages/darktrace/data_stream/system_status_alert/_dev/test/pipeline/test-system-status-alert.log-expected.json
  packages/darktrace/data_stream/system_status_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/data_stream/system_status_alert/sample_event.json
  packages/darktrace/docs/README.md
  packages/darktrace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Darktrace

#6503 Migrate "[Azure Logs] User Activity" dashboard to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-87095750-f05a-11e9-90ec-112a988266d5.json
  packages/azure/manifest.yml
Labels: enhancement

#6501 Migrate "[Logs Azure] Cloud Overview" dashboard to Lens
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-41e84340-ec20-11e9-90ec-112a988266d5.json
  packages/azure/manifest.yml
Labels: enhancement

#6622 [Cloud Security] Update vanilla.yml to scan pki folder recursively
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/vanilla.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: bug

#6613 c*: ensure event.kind is correctly set for pipeline errors
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/manifest.yml
  packages/carbonblack_edr/changelog.yml
  packages/carbonblack_edr/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/carbonblack_edr/manifest.yml
  packages/cef/changelog.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/cp-pipeline.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/fp-pipeline.yml
  packages/cef/manifest.yml
  packages/citrix_waf/changelog.yml
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/cef.yml
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_waf/manifest.yml
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare/data_stream/logpull/elasticsearch/ingest_pipeline/http.yml
  packages/cloudflare/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/auth_activity_audit.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/firewall_match.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/incident_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/remote_response_session_end.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/remote_response_session_start.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/user_activity_audit.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
  packages/cylance/changelog.yml
  packages/cylance/data_stream/protect/elasticsearch/ingest_pipeline/default.yml
  packages/cylance/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6183 [Juniper SRX] Support SRX system logs pattern
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-atp.log-expected.json
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-flow.log-expected.json
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-idp.log-expected.json
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-ids.log-expected.json
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-secintel.log-expected.json
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-system.log
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-system.log-expected.json
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-utm.log-expected.json
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/atp.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/flow.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/idp.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/ids.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/secintel.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/system.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/juniper_srx/data_stream/log/fields/fields.yml
  packages/juniper_srx/docs/README.md
  packages/juniper_srx/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Juniper

#6551 [Istio] Set dimension fields for TSDB migration
  packages/istio/changelog.yml
  packages/istio/data_stream/istiod_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/istio/data_stream/istiod_metrics/fields/ecs.yml
  packages/istio/data_stream/istiod_metrics/fields/fields.yml
  packages/istio/data_stream/proxy_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/istio/data_stream/proxy_metrics/fields/ecs.yml
  packages/istio/data_stream/proxy_metrics/fields/fields.yml
  packages/istio/docs/README.md
  packages/istio/manifest.yml
Labels: Integration:Istio

#6642 iptables: ensure event.kind is correctly set for pipeline errors
  packages/iptables/_dev/deploy/docker/Dockerfile
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations

#6599 1password,[ab]*: ensure event.kind is correctly set for pipeline errors
  packages/1password/changelog.yml
  packages/1password/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/item_usages/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/signin_attempts/elasticsearch/ingest_pipeline/default.yml
  packages/1password/manifest.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
  packages/atlassian_bitbucket/changelog.yml
  packages/atlassian_bitbucket/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_bitbucket/manifest.yml
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/cloud.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/self-hosted.yml
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/cloud.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/self-hosted.yml
  packages/atlassian_jira/manifest.yml
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/manifest.yml
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/elasticsearch/ingest_pipeline/default.yml
  packages/auditd_manager/manifest.yml
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/manifest.yml
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/manifest.yml
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/audit.yml
  packages/barracuda_cloudgen_firewall/changelog.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/threat.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/web.yml
  packages/barracuda_cloudgen_firewall/manifest.yml
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_configuration/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/data_stream/push_statistics/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/manifest.yml
  packages/bluecoat/changelog.yml
  packages/bluecoat/data_stream/director/elasticsearch/ingest_pipeline/default.yml
  packages/bluecoat/manifest.yml
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/box_events/manifest.yml
  packages/ti_cif3/changelog.yml
  packages/ti_otx/changelog.yml
  packages/ti_threatq/changelog.yml
Labels: enhancement, Team:Security-External Integrations

#6615 jamf_compliance_reporter: ensure event.kind is correctly set for pipeline errors
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_app_metrics.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audio_video_device_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit_class_verification_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_accept.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_arguments.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_auth.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_bind_and_aue_connect.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_chdir.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_chroot.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_execve.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_exit.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_fork.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_kill.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_listen.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_logout.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_mount.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_pidfortask.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_posix_spawn.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_ptrace.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_remove_from_group_and_aue_mac_set_proc.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_session.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_setpriority.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_socketpair.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_ssauthint.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_taskforpid.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_tasknameforpid.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_unmount.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_wait4.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_compliance_reporter_tamper_event_and_file_event_info.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_exec_chain_child_object.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gatekeeper_info_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gatekeeper_manual_overrides.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_gatekeeper_quarantine_log.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_hardware_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_identity_object.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_license_info_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_preference_list_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_print_event_information.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_process_object.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_prohibited_app_blocked.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_signal_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_unified_log_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_xprotect_definitions_version_info.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_xprotect_event_log.yml
  packages/jamf_compliance_reporter/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6616 [hi]*: ensure event.kind is correctly set for pipeline errors
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/data_stream/log/elasticsearch/ingest_pipeline/json.yml
  packages/hashicorp_vault/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/manifest.yml
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/manifest.yml
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/elasticsearch/ingest_pipeline/default.yml
  packages/imperva/manifest.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_config/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/manifest.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6617 [jkl]*: ensure event.kind is correctly set for pipeline errors
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jumpcloud/manifest.yml
  packages/juniper_junos/changelog.yml
  packages/juniper_junos/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_junos/manifest.yml
  packages/juniper_netscreen/changelog.yml
  packages/juniper_netscreen/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_netscreen/manifest.yml
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/keycloak/manifest.yml
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/detailed_shared_folder/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/event_report/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/manifest.yml
  packages/lyve_cloud/changelog.yml
  packages/lyve_cloud/data_stream/audit/elasticsearch/ingest_pipeline/audit_lc.yml
  packages/lyve_cloud/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/lyve_cloud/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6661 m*: ensure event.kind is correctly set for pipeline errors
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_email.yml
  packages/m365_defender/manifest.yml
  packages/mattermost/changelog.yml
  packages/mattermost/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/mattermost/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/manifest.yml
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcpv6.yml
  packages/microsoft_dhcp/manifest.yml
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/manifest.yml
  packages/mysql_enterprise/changelog.yml
  packages/mysql_enterprise/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/mysql_enterprise/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6662 [np]*: ensure event.kind is correctly set for pipeline errors
  packages/netscout/changelog.yml
  packages/netscout/data_stream/sightline/elasticsearch/ingest_pipeline/default.yml
  packages/netscout/manifest.yml
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/manifest.yml
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/authentication.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/config.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/correlated_event.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/globalprotect.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/gtp.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/hipmatch.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/ip_tag.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/sctp.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/system.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/traffic.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/tunnel_inspection.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/userid.yml
  packages/panw/manifest.yml
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/manifest.yml
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/haproxy.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/ipsec.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/openvpn.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/php-fpm.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/squid.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/unbound.yml
  packages/pfsense/manifest.yml
  packages/ping_one/changelog.yml
  packages/ping_one/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/ping_one/manifest.yml
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/manifest.yml
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pulse_connect_secure/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6663 [qrs]*: ensure event.kind is correctly set for pipeline errors
  packages/qnap_nas/changelog.yml
  packages/qnap_nas/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/qnap_nas/manifest.yml
  packages/radware/changelog.yml
  packages/radware/data_stream/defensepro/elasticsearch/ingest_pipeline/default.yml
  packages/radware/manifest.yml
  packages/santa/changelog.yml
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/agent/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/group/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/manifest.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/manifest.yml
  packages/snort/changelog.yml
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/json.yml
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/plaintext.yml
  packages/snort/manifest.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/manifest.yml
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall_firewall/manifest.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antispam.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/antivirus.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/atp.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/cfilter.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/event.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/firewall.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/idp.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/sandstorm.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/systemhealth.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/waf.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/wifi.yml
  packages/sophos/manifest.yml
  packages/sophos_central/changelog.yml
  packages/sophos_central/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sophos_central/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sophos_central/manifest.yml
  packages/squid/changelog.yml
  packages/squid/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/squid/manifest.yml
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/manifest.yml
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sysmon_linux/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#6620 modsecurity: fix handling of apache audit.details field
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/_dev/test/pipeline/test-apache-audit.log-expected.json
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Modsecurity

#6670 [pfSense] Fix mapping of protocol field for ICMP unreachable events
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-syslog.log
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-syslog.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/pfsense/data_stream/log/fields/fields.yml
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: Team:Security-External Integrations, Integration:pfSense, bugfix

#6649 [ti_misp] Keep the same timestamp for later pages
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/manifest.yml
Labels: Team:Security-External Integrations, Integration:MISP, bugfix

#6539 [network_traffic] Fix to index events with memcached stats responses
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/memcached/_dev/test/pipeline/test-common-config.yml
  packages/network_traffic/data_stream/memcached/_dev/test/pipeline/test-stats-responses.json
  packages/network_traffic/data_stream/memcached/_dev/test/pipeline/test-stats-responses.json-expected.json
  packages/network_traffic/data_stream/memcached/_dev/test/system/test-memcached-bin-tcp-stats-config.yml
  packages/network_traffic/data_stream/memcached/_dev/test/system/test-memcached-text-tcp-stats-config.yml
  packages/network_traffic/data_stream/memcached/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/memcached/fields/protocol.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: Team:Security-External Integrations, Integration:Network Packet Capture, bugfix

#6676 sophos: fix handling of date parsing
  packages/sophos/changelog.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-spam.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-virus-ftp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-virus-smtp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-virus-web.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-atp-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-authentication.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-content-filtering-http.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-content-filtering-web-content-policy.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-idp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-sandstorm.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-systemhealth.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-wireless.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-cfilter-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-event-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-firewall-new.log-expected.json
  packages/sophos/data_stream/xg/agent/stream/log.yml.hbs
  packages/sophos/data_stream/xg/agent/stream/tcp.yml.hbs
  packages/sophos/data_stream/xg/agent/stream/udp.yml.hbs
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/fields/fields.yml
  packages/sophos/data_stream/xg/manifest.yml
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Sophos

#6687 [Cloud Security] Update cis gcp config file
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#6696 [m365_defender] Fix event.query type to group
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log-expected.json
  packages/m365_defender/data_stream/event/fields/fields.yml
  packages/m365_defender/manifest.yml
Labels: Team:Security-External Integrations, Integration: M365_Defender, bugfix

#6592 statsd_input: Fix config to take `host` instead of `hosts`
  packages/statsd_input/agent/input/input.yml.hbs
  packages/statsd_input/changelog.yml
  packages/statsd_input/manifest.yml
Labels: bug

#6623 [Elasticsearch] Add dimensions fields for TSDB migration
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/fields/ecs.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/ecs.yml
  packages/elasticsearch/data_stream/enrich/fields/ecs.yml
  packages/elasticsearch/data_stream/enrich/fields/fields.yml
  packages/elasticsearch/data_stream/enrich/fields/package-fields.yml
  packages/elasticsearch/data_stream/index/fields/ecs.yml
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/data_stream/index_recovery/fields/ecs.yml
  packages/elasticsearch/data_stream/index_recovery/fields/fields.yml
  packages/elasticsearch/data_stream/index_summary/fields/ecs.yml
  packages/elasticsearch/data_stream/ingest_pipeline/elasticsearch/ingest_pipeline/default.yml
  packages/elasticsearch/data_stream/ingest_pipeline/fields/ecs.yml
  packages/elasticsearch/data_stream/ingest_pipeline/fields/fields.yml
  packages/elasticsearch/data_stream/ml_job/fields/ecs.yml
  packages/elasticsearch/data_stream/ml_job/fields/fields.yml
  packages/elasticsearch/data_stream/node/fields/ecs.yml
  packages/elasticsearch/data_stream/node/fields/package-fields.yml
  packages/elasticsearch/data_stream/node_stats/fields/ecs.yml
  packages/elasticsearch/data_stream/node_stats/fields/package-fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#6699 [Cloud Security] Update CloudFormation template
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#6647 [Docker] Enable TSDB by default
  packages/docker/changelog.yml
  packages/docker/data_stream/container/manifest.yml
  packages/docker/data_stream/cpu/manifest.yml
  packages/docker/data_stream/diskio/manifest.yml
  packages/docker/data_stream/healthcheck/manifest.yml
  packages/docker/data_stream/image/manifest.yml
  packages/docker/data_stream/info/manifest.yml
  packages/docker/data_stream/memory/manifest.yml
  packages/docker/data_stream/network/manifest.yml
  packages/docker/manifest.yml
Labels: Integration:Docker

#6347 [Arista NG Firewall] Initial Release
  .github/CODEOWNERS
  packages/arista_ngfw/_dev/build/build.yml
  packages/arista_ngfw/_dev/build/docs/README.md
  packages/arista_ngfw/_dev/deploy/docker/docker-compose.yml
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/admin-login.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/firewall-event.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/http-request.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/http-response.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/interface-stats.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/intrusion-detection.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/session-event.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/system-stats.log
  packages/arista_ngfw/_dev/deploy/docker/sample_logs/web-filter.log
  packages/arista_ngfw/changelog.yml
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-admin-login.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-admin-login.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-firewall-event.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-firewall-event.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-http-request.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-http-request.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-http-response.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-http-response.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-interface-stats.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-interface-stats.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-intrusion-detection.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-intrusion-detection.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-session-event.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-session-event.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-system-stats.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-system-stats.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-unsupported-mesage-class.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-unsupported-mesage-class.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-web-filter.log
  packages/arista_ngfw/data_stream/log/_dev/test/pipeline/test-web-filter.log-expected.json
  packages/arista_ngfw/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/arista_ngfw/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/arista_ngfw/data_stream/log/agent/stream/tcp.yml.hbs
  packages/arista_ngfw/data_stream/log/agent/stream/udp.yml.hbs
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/admin_login.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/http_event.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/interface_stats.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/intrusion_prevention.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/system_stats.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/web_filter.yml
  packages/arista_ngfw/data_stream/log/fields/agent.yml
  packages/arista_ngfw/data_stream/log/fields/base-fields.yml
  packages/arista_ngfw/data_stream/log/fields/ecs.yml
  packages/arista_ngfw/data_stream/log/fields/fields.yml
  packages/arista_ngfw/data_stream/log/manifest.yml
  packages/arista_ngfw/data_stream/log/sample_event.json
  packages/arista_ngfw/docs/README.md
  packages/arista_ngfw/img/arista-logo.svg
  packages/arista_ngfw/img/screenshot_add_integration.png
  packages/arista_ngfw/img/screenshot_package.png
  packages/arista_ngfw/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#6531 mysql: Add script processor to fix grok behaviour of ES 8.7.x+
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-8-0-15.log
  packages/mysql/data_stream/slowlog/elasticsearch/ingest_pipeline/default.json
Labels: bug

#6583 [AWS] Add dimensions to S3 Storage Lens
  packages/aws/changelog.yml
  packages/aws/data_stream/s3_storage_lens/fields/ecs.yml
  packages/aws/data_stream/s3_storage_lens/fields/fields.yml
  packages/aws/docs/s3_storage_lens.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6584 [AWS] Add metric type to S3 Storage Lens
  packages/aws/changelog.yml
  packages/aws/data_stream/s3_storage_lens/fields/fields.yml
  packages/aws/docs/s3_storage_lens.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#6668 [Crowdstrike] Overhaul of Crowdstrike Falcon pipelines and mappings
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-audit-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-auth-activity.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-auth-activity.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-commandline.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-commandline.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-detection-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-incident-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-incident-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-remote-response.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-remote-response.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-user-activity.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-user-activity.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/auth_activity_audit.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/firewall_match.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/incident_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/remote_response_session_end.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/remote_response_session_start.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/user_activity_audit.yml
  packages/crowdstrike/data_stream/falcon/fields/ecs.yml
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Crowdstrike

#6488 [O11y][SQL Input] Add system test cases
  packages/sql_input/_dev/deploy/docker/docker-compose.yml
  packages/sql_input/_dev/test/system/test-mssql-config.yml
  packages/sql_input/_dev/test/system/test-mysql-config.yml
  packages/sql_input/_dev/test/system/test-postgresql-config.yml
  packages/sql_input/changelog.yml
  packages/sql_input/fields/base-fields.yml
  packages/sql_input/fields/ecs.yml
  packages/sql_input/fields/input.yml
  packages/sql_input/manifest.yml
  packages/sql_input/sample_event.json
Labels: Integration:sql_input

#6747 codeowners: sort package list and add request to maintain order
  .github/CODEOWNERS
Labels: Team:Security-External Integrations

#6714 [zeek][ssl] Clean up Splunk input system test data
  packages/zeek/_dev/deploy/docker/http-mock-config.yml
  packages/zeek/_dev/deploy/docker/sample_logs/ssl.log
Labels: bug, Team:Security-External Integrations, Integration:Zeek

#6594 [O11y][StatsD Input] Add system test cases
  packages/statsd_input/_dev/deploy/docker/docker-compose.yml
  packages/statsd_input/_dev/deploy/docker/sample_logs/test-statsd.log
  packages/statsd_input/_dev/test/system/test-default-config.yml
  packages/statsd_input/changelog.yml
  packages/statsd_input/fields/base-fields.yml
  packages/statsd_input/fields/ecs.yml
  packages/statsd_input/fields/input.yml
  packages/statsd_input/manifest.yml
  packages/statsd_input/sample_event.json
Labels: Integration:statsd

#6528 Adding preserve original event option to System integration Syslog datastream
  packages/system/changelog.yml
  packages/system/data_stream/security/sample_event.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog-sample.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-preserve-event-original.log
  packages/system/data_stream/syslog/_dev/test/pipeline/test-preserve-event-original.log-config.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-preserve-event-original.log-expected.json
  packages/system/data_stream/syslog/agent/stream/log.yml.hbs
  packages/system/data_stream/syslog/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/syslog/fields/ecs.yml
  packages/system/data_stream/syslog/manifest.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:System, Team:Obs-InfraObs

#6767 [HAProxy] Add timezone offset support
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-default.log-config.yml
  packages/haproxy/data_stream/log/_dev/test/pipeline/test-default.log-expected.json
  packages/haproxy/data_stream/log/agent/stream/log.yml.hbs
  packages/haproxy/data_stream/log/agent/stream/syslog.yml.hbs
  packages/haproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/haproxy/data_stream/log/manifest.yml
  packages/haproxy/manifest.yml
Labels: enhancement, Integration:HAProxy, Team:Obs-InfraObs

#6675 [zoom] - Update package-spec to 2.9.0
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-user.json-expected.json
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/user.yml
  packages/zoom/data_stream/webhook/fields/fields.yml
  packages/zoom/data_stream/webhook/sample_event.json
  packages/zoom/docs/README.md
  packages/zoom/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Zoom

#6769 [HAProxy] Remove uncessary Timezone default in manifest
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/log/manifest.yml
  packages/haproxy/manifest.yml
Labels: Integration:HAProxy, Team:Service-Integrations
