Repository elastic/integrations, pull requests merged in 2023-09, with the labels that each got.

#7528 [O11y][GoLang] Add metric_type for expvar data stream
  packages/golang/changelog.yml
  packages/golang/data_stream/expvar/fields/fields.yml
  packages/golang/docs/README.md
  packages/golang/manifest.yml
Labels: enhancement, Integration:Golang

#7569 [GCP] Set metric type for GKE, Load Balancing, PubSub, Redis and Storage data streams
  packages/gcp/changelog.yml
  packages/gcp/data_stream/gke/fields/fields.yml
  packages/gcp/data_stream/loadbalancing_metrics/fields/fields.yml
  packages/gcp/data_stream/pubsub/fields/fields.yml
  packages/gcp/data_stream/redis/fields/fields.yml
  packages/gcp/data_stream/storage/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/gke.md
  packages/gcp/docs/loadbalancing.md
  packages/gcp/docs/pubsub.md
  packages/gcp/docs/redis.md
  packages/gcp/docs/storage.md
  packages/gcp/manifest.yml
Labels: Integration:GCP, Team:Cloud-Monitoring

#7505 [O11y][WebSphere Application Server] Add compatibility and update title in manifest
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/manifest.yml
Labels: enhancement, Integration:WebsphereApplicationServer

#7647 [integrations][Confluence] - Fixed timestamp handling in httpjson cursor
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_confluence/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#7468 [O11y][Apache Spark] Resolve the conflicts in host.ip field
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/application/fields/ecs.yml
  packages/apache_spark/data_stream/driver/fields/ecs.yml
  packages/apache_spark/data_stream/executor/fields/ecs.yml
  packages/apache_spark/data_stream/node/fields/ecs.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark, bugfix

#7509 [O11y][Citrix ADC] Resolve the conflicts in host.ip field
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/interface/fields/ecs.yml
  packages/citrix_adc/data_stream/lbvserver/fields/ecs.yml
  packages/citrix_adc/data_stream/service/fields/ecs.yml
  packages/citrix_adc/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/system/fields/ecs.yml
  packages/citrix_adc/data_stream/vpn/fields/ecs.yml
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/manifest.yml
Labels: Integration:Citrix-Netscaler, bugfix

#7507 [O11y][WebSphere Application Server] Resolve the conflict in host.ip field
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/data_stream/jdbc/fields/ecs.yml
  packages/websphere_application_server/data_stream/servlet/fields/ecs.yml
  packages/websphere_application_server/data_stream/session_manager/fields/ecs.yml
  packages/websphere_application_server/data_stream/threadpool/fields/ecs.yml
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/manifest.yml
Labels: Integration:WebsphereApplicationServer, bugfix

#7541 [AWS] [API Gateway] Enhance logs dashboard with filtering
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-apigateway-overview.png
  packages/aws/kibana/dashboard/aws-5465f0f0-26e4-11ee-9051-011d57d86fe2.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS

#7495 [O11y][CouchDB] Resolve the conflicts in host.ip field
  packages/couchdb/changelog.yml
  packages/couchdb/data_stream/server/fields/ecs.yml
  packages/couchdb/docs/README.md
  packages/couchdb/manifest.yml
Labels: Integration:CouchDB, bugfix

#7146 Add `awsfirehose` integration package
  .github/CODEOWNERS
  packages/awsfirehose/_dev/build/build.yml
  packages/awsfirehose/_dev/build/docs/README.md
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-cloudtrail-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-cloudtrail-log.json-expected.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-firewall-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-firewall-log.json-expected.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-route53-public-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-route53-public-log.json-expected.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-route53-resolver-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-route53-resolver-log.json-expected.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-vpcflow-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-vpcflow-log.json-expected.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-waf-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-waf-log.json-expected.json
  packages/awsfirehose/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/awsfirehose/data_stream/logs/fields/ecs.yml
  packages/awsfirehose/data_stream/logs/fields/fields.yml
  packages/awsfirehose/data_stream/logs/manifest.yml
  packages/awsfirehose/data_stream/logs/routing_rules.yml
  packages/awsfirehose/docs/README.md
  packages/awsfirehose/img/aws-firehose.png
  packages/awsfirehose/img/aws.png
  packages/awsfirehose/img/destination-settings.png
  packages/awsfirehose/img/install-assets.png
  packages/awsfirehose/img/logo_firehose.svg
  packages/awsfirehose/img/source-destination.png
  packages/awsfirehose/manifest.yml
Labels: New Integration, Integration:Amazon Kinesis Data Firehose

#7522 [M365 Defender] Improve ECS mapping and fix incorrect or missing fields
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-email.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_email.yml
  packages/m365_defender/data_stream/event/fields/ecs.yml
  packages/m365_defender/data_stream/event/fields/fields.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/img/m365-defender-dashboard-alert.png
  packages/m365_defender/img/m365-defender-dashboard-app-and-identity.png
  packages/m365_defender/img/m365-defender-dashboard-device.png
  packages/m365_defender/img/m365-defender-dashboard-email.png
  packages/m365_defender/img/m365-defender-dashboard-incident.png
  packages/m365_defender/img/m365-defender-dashboard.png
  packages/m365_defender/img/m365-defender-events-alerts1.png
  packages/m365_defender/img/m365-defender-events-alerts2.png
  packages/m365_defender/img/m365-defender-events-app1.png
  packages/m365_defender/img/m365-defender-events-device1.png
  packages/m365_defender/img/m365-defender-events-device2.png
  packages/m365_defender/img/m365-defender-events-email1.png
  packages/m365_defender/img/m365-defender-incident-alert1.png
  packages/m365_defender/img/m365-defender-incident-alert2.png
  packages/m365_defender/img/m365-defender-incidents-incidents1.png
  packages/m365_defender/img/m365-defender-incidents-incidents2.png
  packages/m365_defender/kibana/dashboard/m365_defender-2690a440-7235-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-3caf3c00-7456-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-ac54d310-44ab-11ed-8375-0168a9970c06.json
  packages/m365_defender/kibana/dashboard/m365_defender-c0b796d0-720a-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-d587df00-745f-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-d80d7840-4366-11ed-b1f2-e917f608bd03.json
  packages/m365_defender/kibana/search/m365_defender-64a31410-722c-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/search/m365_defender-989afc60-44a5-11ed-8375-0168a9970c06.json
  packages/m365_defender/kibana/search/m365_defender-fcf25960-44af-11ed-8375-0168a9970c06.json
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender

#7638 [O11y][Azure Metrics] Migrate Container Instance Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-container-instance-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-9c11ac60-6cf6-11ea-8fe8-71add5fd7c38.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, azure_metrics

#7523 [O11y][PHP-FPM] Add service.address field and update dashboard
  packages/php_fpm/changelog.yml
  packages/php_fpm/data_stream/pool/agent/stream/httpjson.yml.hbs
  packages/php_fpm/data_stream/pool/fields/ecs.yml
  packages/php_fpm/data_stream/pool/sample_event.json
  packages/php_fpm/data_stream/process/agent/stream/httpjson.yml.hbs
  packages/php_fpm/data_stream/process/fields/ecs.yml
  packages/php_fpm/data_stream/process/sample_event.json
  packages/php_fpm/docs/README.md
  packages/php_fpm/img/php_fpm-pool-dashboard.png
  packages/php_fpm/img/php_fpm-process-dashboard.png
  packages/php_fpm/kibana/dashboard/php_fpm-30d6d490-60c6-11ed-a227-676557292b43.json
  packages/php_fpm/kibana/dashboard/php_fpm-6853a270-5a92-11ed-8d56-a14fd29a60cb.json
  packages/php_fpm/manifest.yml
Labels: enhancement, Integration:php-fpm

#7510 [O11y][WebSphere Application Server] Update dashboards, visualizations and screenshots
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/img/websphere_application_server-jdbc-dashboard-screenshot.png
  packages/websphere_application_server/img/websphere_application_server-servlet-dashboard-screenshot.png
  packages/websphere_application_server/img/websphere_application_server-session_manager-dashboard-screenshot.png
  packages/websphere_application_server/img/websphere_application_server-threadpool-dashboard-screenshot.png
  packages/websphere_application_server/kibana/lens/websphere_application_server-0828ba40-c07b-11ec-8552-f3dc1a6b95f9.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-37972440-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-3b877140-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-3fe9e100-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-426d3360-bae6-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-43d23d70-baed-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-443e1ff0-b49d-11ec-9a7c-ef3101c300f1.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-86426870-baec-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-888801c0-bae3-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-8ce6ed80-b59d-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-b8c2dff0-baec-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-d2cf3ac0-baeb-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/kibana/lens/websphere_application_server-e6d7d480-b59d-11ec-888d-b1230de080fd.json
  packages/websphere_application_server/manifest.yml
Labels: enhancement, Integration:WebsphereApplicationServer

#7657 netflow,network_traffic,suricata: use dynamic field definitions
  packages/netflow/_dev/build/build.yml
  packages/netflow/changelog.yml
  packages/netflow/manifest.yml
  packages/network_traffic/_dev/build/build.yml
  packages/network_traffic/changelog.yml
  packages/network_traffic/manifest.yml
  packages/suricata/_dev/build/build.yml
  packages/suricata/changelog.yml
  packages/suricata/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Suricata, Integration:Netflow, Integration:Network Packet Capture

#7402 [entityanalytics_okta] Add the ECS mapping for entityanalytics_okta package.
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/user/fields/ecs.yml
  packages/entityanalytics_okta/data_stream/user/sample_event.json
  packages/entityanalytics_okta/docs/README.md
  packages/entityanalytics_okta/kibana/dashboard/entityanalytics_okta-e5242a60-0f35-11ee-8319-1d33c4a0c7ae.json
  packages/entityanalytics_okta/manifest.yml
Labels: integration, Team:Security-External Integrations, 8.10 candidate

#7675 [AWS] [API Gateway] Fix aggregation types for metrics dashboard
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-a4482820-03aa-11ee-84d4-7f15bab18041.json
  packages/aws/manifest.yml
Labels: Integration:AWS, bugfix

#7689 tenable_io: update integration based on feedback from Tenable
  packages/tenable_io/_dev/build/docs/README.md
  packages/tenable_io/_dev/deploy/docker/files/config.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/asset/fields/fields.yml
  packages/tenable_io/data_stream/asset/manifest.yml
  packages/tenable_io/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/plugin/fields/fields.yml
  packages/tenable_io/data_stream/plugin/manifest.yml
  packages/tenable_io/data_stream/scan/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/scan/fields/fields.yml
  packages/tenable_io/data_stream/scan/manifest.yml
  packages/tenable_io/data_stream/scanner/_dev/test/pipeline/test-common-config.yml
  packages/tenable_io/data_stream/scanner/_dev/test/pipeline/test-scanner.log
  packages/tenable_io/data_stream/scanner/_dev/test/pipeline/test-scanner.log-expected.json
  packages/tenable_io/data_stream/scanner/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/scanner/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/scanner/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/scanner/fields/agent.yml
  packages/tenable_io/data_stream/scanner/fields/base-fields.yml
  packages/tenable_io/data_stream/scanner/fields/ecs.yml
  packages/tenable_io/data_stream/scanner/fields/fields.yml
  packages/tenable_io/data_stream/scanner/fields/overridden-ecs.yml
  packages/tenable_io/data_stream/scanner/manifest.yml
  packages/tenable_io/data_stream/scanner/sample_event.json
  packages/tenable_io/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/vulnerability/fields/fields.yml
  packages/tenable_io/data_stream/vulnerability/manifest.yml
  packages/tenable_io/docs/README.md
  packages/tenable_io/img/tenable_io-logo.svg
  packages/tenable_io/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Tenable.io

#7688 cisco_ios: support IOSXE-*-PLATFORM messages
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/data_stream/log/fields/ecs.yml
  packages/cisco_ios/data_stream/log/fields/fields.yml
  packages/cisco_ios/docs/README.md
  packages/cisco_ios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoIOS

#7702 [AWS] [API Gateway] Add dashboard filters, control groups and clean up
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-a4482820-03aa-11ee-84d4-7f15bab18041.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS, bugfix

#7715 suricata: use ecs import instead of local definitions
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/fields/ecs.yml
  packages/suricata/data_stream/eve/fields/fields-epr.yml
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Suricata

#7707 m365_defender: fix template snippet escaping behaviour and add event.kind for pipeline errors
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: M365_Defender

#7714 checkpoint,github,hid_bravura_monitor: make types match
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
  packages/github/changelog.yml
  packages/github/data_stream/dependabot/fields/fields.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/winlog.yml
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Checkpoint, Integration:Github, Integration: HID Bravura Monitor

#7696 update dashboards, fix timestamp and improve fingerprinting
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/sample_event.json
  packages/tenable_io/data_stream/plugin/sample_event.json
  packages/tenable_io/data_stream/scan/sample_event.json
  packages/tenable_io/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/tenable_io/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/vulnerability/sample_event.json
  packages/tenable_io/docs/README.md
  packages/tenable_io/kibana/dashboard/tenable_io-0d902a50-edec-11ed-b550-bd5e656b580f.json
  packages/tenable_io/kibana/dashboard/tenable_io-4d784610-1ec2-11ed-bad4-551c615a34d1.json
  packages/tenable_io/kibana/dashboard/tenable_io-84586900-1ed4-11ed-bad4-551c615a34d1.json
  packages/tenable_io/kibana/dashboard/tenable_io-a5395ac0-eb94-11ed-8b7d-ef1c8f105a1d.json
  packages/tenable_io/kibana/dashboard/tenable_io-f2dacba0-1e22-11ed-bad4-551c615a34d1.json
  packages/tenable_io/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Tenable.io

#7637 [elasticsearch] add api_key authentication
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/cluster_stats/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/enrich/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index_recovery/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index_summary/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/ingest_pipeline/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/ml_job/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/node/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/node_stats/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/pending_tasks/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/shard/agent/stream/stream.yml.hbs
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, Team:Infra Monitoring UI

#7508 [O11y][Azure Metrics] Migrate Compute VMs Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-vm-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-eb3f05f0-ea9a-11e9-90ec-112a988266d5.json
  packages/azure_metrics/manifest.yml
Labels: enhancement, dashboard, Integration:azure_metrics

#7403 [Cloud Security] Add support for GCP org
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#7736 [cloud_security_posture] Update CloudFormation cfn-signal installation
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug

#7754 [O11y][IBM MQ] Update the docker image
  packages/ibmmq/_dev/deploy/docker/docker-compose.yml
  packages/ibmmq/changelog.yml
  packages/ibmmq/manifest.yml
Labels: Integration:IBM-MQ, bugfix

#7734 [crowdstrike] Convert Win32 timestamps to unix millisecond timestamp
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-ipd-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#7753 Remove mappings from filebeat_input_logs
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/agent.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/ecs.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_input_logs/manifest.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent, Integration:Elastic-Agent

#7663 [Ceph] Migrate to GA
  packages/ceph/changelog.yml
  packages/ceph/img/ceph-overview-dashboard-cluster-metrics.png
  packages/ceph/img/ceph-overview-dashboard-osd-status.png
  packages/ceph/img/ceph-overview-dashboard-pool-metrics.png
  packages/ceph/img/ceph-overview-dashboard.png
  packages/ceph/manifest.yml
Labels: Integration:Ceph

#7664 [Citrix ADC] Migrate to GA
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/manifest.yml
Labels: Integration:Citrix-Netscaler

#7666 [CouchDB] Migrate to GA
  packages/couchdb/changelog.yml
  packages/couchdb/manifest.yml
Labels: Integration:CouchDB

#7764 cloudflare_logpush: fix handling of timestamps for all available formats
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/_dev/test/pipeline/test-pipeline-access-request.log
  packages/cloudflare_logpush/data_stream/access_request/_dev/test/pipeline/test-pipeline-access-request.log-expected.json
  packages/cloudflare_logpush/data_stream/access_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log
  packages/cloudflare_logpush/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/cloudflare_logpush/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/casb/_dev/test/pipeline/test-pipeline-casb.log
  packages/cloudflare_logpush/data_stream/casb/_dev/test/pipeline/test-pipeline-casb.log-expected.json
  packages/cloudflare_logpush/data_stream/casb/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/device_posture/_dev/test/pipeline/test-pipeline-device-posture.log
  packages/cloudflare_logpush/data_stream/device_posture/_dev/test/pipeline/test-pipeline-device-posture.log-expected.json
  packages/cloudflare_logpush/data_stream/device_posture/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/dns/_dev/test/pipeline/test-pipeline-dns.log
  packages/cloudflare_logpush/data_stream/dns/_dev/test/pipeline/test-pipeline-dns.log-expected.json
  packages/cloudflare_logpush/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log-expected.json
  packages/cloudflare_logpush/data_stream/firewall_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/_dev/test/pipeline/test-pipeline-gateway-dns.log
  packages/cloudflare_logpush/data_stream/gateway_dns/_dev/test/pipeline/test-pipeline-gateway-dns.log-expected.json
  packages/cloudflare_logpush/data_stream/gateway_dns/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_http/_dev/test/pipeline/test-pipeline-gateway-http.log
  packages/cloudflare_logpush/data_stream/gateway_http/_dev/test/pipeline/test-pipeline-gateway-http.log-expected.json
  packages/cloudflare_logpush/data_stream/gateway_http/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_network/_dev/test/pipeline/test-pipeline-gateway-network.log
  packages/cloudflare_logpush/data_stream/gateway_network/_dev/test/pipeline/test-pipeline-gateway-network.log-expected.json
  packages/cloudflare_logpush/data_stream/gateway_network/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/nel_report/_dev/test/pipeline/test-pipeline-nel-report.log
  packages/cloudflare_logpush/data_stream/nel_report/_dev/test/pipeline/test-pipeline-nel-report.log-expected.json
  packages/cloudflare_logpush/data_stream/nel_report/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/network_analytics/_dev/test/pipeline/test-pipeline-network-analytics.log
  packages/cloudflare_logpush/data_stream/network_analytics/_dev/test/pipeline/test-pipeline-network-analytics.log-expected.json
  packages/cloudflare_logpush/data_stream/network_analytics/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/network_session/_dev/test/pipeline/test-pipeline-network-session.log
  packages/cloudflare_logpush/data_stream/network_session/_dev/test/pipeline/test-pipeline-network-session.log-expected.json
  packages/cloudflare_logpush/data_stream/network_session/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/_dev/test/pipeline/test-pipeline-spectrum-event.log
  packages/cloudflare_logpush/data_stream/spectrum_event/_dev/test/pipeline/test-pipeline-spectrum-event.log-expected.json
  packages/cloudflare_logpush/data_stream/spectrum_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/workers_trace/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare Logpush

#7763 cloudflare: fix handling of timestamps in unix (seconds) format
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log
  packages/cloudflare/data_stream/logpull/_dev/test/pipeline/test-http-json.log-expected.json
  packages/cloudflare/data_stream/logpull/elasticsearch/ingest_pipeline/http.yml
  packages/cloudflare/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare

#7673 [O11y] [Hadoop] Migrate to GA
  packages/hadoop/changelog.yml
  packages/hadoop/img/hadoop-application-dashboard-screenshot.png
  packages/hadoop/kibana/dashboard/hadoop-3e16f2c0-cd28-11ec-be30-1d9331f0b107.json
  packages/hadoop/manifest.yml
Labels: Integration:Hadoop

#7679 [Documentation] Update TSDB guidelines to provide testing guidance
  docs/developer_tsdb_migration_guidelines.md
Labels: documentation

#7206 [Windows] Enable TSDB for service metrics dataset.
  packages/windows/changelog.yml
  packages/windows/data_stream/service/manifest.yml
  packages/windows/manifest.yml
Labels: Integration:Windows

#7542 [integrations][okta] - Added support for Oauth2 for okta.system data stream
  packages/okta/_dev/build/docs/README.md
  packages/okta/_dev/deploy/docker/docker-compose.yml
  packages/okta/_dev/deploy/docker/files/config_oauth2.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/system/test-api-key-config.yml
  packages/okta/data_stream/system/_dev/test/system/test-oauth2-config.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/docs/README.md
  packages/okta/kibana/search/okta-21028750-67ca-11ea-a76f-bf44814e437d.json
  packages/okta/manifest.yml
Labels: enhancement, integration, Team:Security-External Integrations, Integration:Okta, 8.11 candidate

#7750 [mimecast] Add new data_stream archive_search_logs
  packages/mimecast/_dev/build/docs/README.md
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/archive_search_logs/_dev/test/pipeline/test-archive-search-logs.log
  packages/mimecast/data_stream/archive_search_logs/_dev/test/pipeline/test-archive-search-logs.log-expected.json
  packages/mimecast/data_stream/archive_search_logs/_dev/test/pipeline/test-common-config.yml
  packages/mimecast/data_stream/archive_search_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/archive_search_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/archive_search_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/archive_search_logs/fields/agent.yml
  packages/mimecast/data_stream/archive_search_logs/fields/base-fields.yml
  packages/mimecast/data_stream/archive_search_logs/fields/ecs.yml
  packages/mimecast/data_stream/archive_search_logs/fields/field.yml
  packages/mimecast/data_stream/archive_search_logs/manifest.yml
  packages/mimecast/data_stream/archive_search_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mimecast

#7759 [atlassian_jira] Ensure from/to timestamps are properly encoded
  packages/atlassian_jira/_dev/deploy/docker/files/config.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/_dev/test/system/test-api-cloud-config.yml
  packages/atlassian_jira/data_stream/audit/_dev/test/system/test-api-config.yml
  packages/atlassian_jira/data_stream/audit/_dev/test/system/test-files-config.yml
  packages/atlassian_jira/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_jira/data_stream/audit/manifest.yml
  packages/atlassian_jira/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AtlassianJira

#7785 aws: fix GuardDuty API call parameter
  packages/aws/changelog.yml
  packages/aws/data_stream/guardduty/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/guardduty/agent/stream/httpjson.yml.hbs
  packages/aws/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AWS

#7801 [ti_recordedfuture] Remove dotted-yaml keys
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/manifest.yml
  packages/ti_recordedfuture/manifest.yml
Labels: Team:Security-External Integrations, Integration:Recorded Future

#7803 [ti_anomali] Remove dotted-yaml keys
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/manifest.yml
  packages/ti_anomali/manifest.yml
Labels: Team:Security-External Integrations, Integration:Anomali

#7804 [ti_maltiverse] Remove dotted yaml keys
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/elasticsearch/transform/latest/manifest.yml
  packages/ti_maltiverse/manifest.yml
Labels: Team:Security-External Integrations, Integration:Maltiverse

#7118 [Kubernetes] Reroute container logs based on pod annotations
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/_dev/build/docs/container-logs.md
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container_logs/_dev/test/pipeline/test-common-config.yml
  packages/kubernetes/data_stream/container_logs/_dev/test/pipeline/test-nginx.log
  packages/kubernetes/data_stream/container_logs/_dev/test/pipeline/test-nginx.log-expected.json
  packages/kubernetes/data_stream/container_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/container_logs/elasticsearch/ingest_pipeline/default.yml
  packages/kubernetes/data_stream/container_logs/fields/ecs.yml
  packages/kubernetes/data_stream/container_logs/manifest.yml
  packages/kubernetes/data_stream/container_logs/routing_rules.yml
  packages/kubernetes/docs/README.md
  packages/kubernetes/docs/container-logs.md
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#7807 [bitdefender,forcepoint_web,jumpcloud,tines] Remove version from ingest pipeline definitions
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_configuration/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/data_stream/push_notifications/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/data_stream/push_statistics/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/manifest.yml
  packages/forcepoint_web/changelog.yml
  packages/forcepoint_web/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/forcepoint_web/manifest.yml
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jumpcloud/manifest.yml
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/tines/data_stream/time_saved/elasticsearch/ingest_pipeline/default.yml
  packages/tines/manifest.yml
Labels: Team:Security-External Integrations, Integration:Forcepoint Web Security, Integration:Tines, Integration:Bitdefender, Integration:JumpCloud

#7818 [Cloud Security] Add org mapping for CSPM
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/cloud.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#7830 Update Apache Spark logo
  packages/apache_spark/changelog.yml
  packages/apache_spark/img/apache_spark-logo.svg
  packages/apache_spark/manifest.yml
Labels: integration:ApacheSpark

#7731 [ti_util] Change dashboard queries from `match_phrase` to `wildcard`
  packages/ti_util/changelog.yml
  packages/ti_util/kibana/dashboard/ti_util-9eff2529-fff5-4064-b825-fa089f260bfa.json
  packages/ti_util/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#7802 [atlassian_confluence] Ensure pagination request parameters are properly encoded
  packages/atlassian_confluence/_dev/deploy/docker/files/config.yml
  packages/atlassian_confluence/_dev/deploy/docker/files/test-audit.log
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/_dev/test/system/test-api-cloud-config.yml
  packages/atlassian_confluence/data_stream/audit/_dev/test/system/test-api-config.yml
  packages/atlassian_confluence/data_stream/audit/_dev/test/system/test-files-config.yml
  packages/atlassian_confluence/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_confluence/data_stream/audit/manifest.yml
  packages/atlassian_confluence/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AtlassianConfluence

#7704 [Logstash] Add Node Dashboards to Logstash integration package
  packages/logstash/changelog.yml
  packages/logstash/kibana/dashboard/logstash-79270240-48ee-11ee-8cb5-99927777c522.json
  packages/logstash/kibana/dashboard/logstash-9d450b10-4680-11ee-9ddc-919f87fe352d.json
  packages/logstash/kibana/dashboard/logstash-a42d7060-45e6-11ee-957b-3720c0b0fbc5.json
  packages/logstash/kibana/dashboard/logstash-ee860840-41ed-11ee-874b-fdb94cc3273a.json
  packages/logstash/kibana/index_pattern/logstash-sm-metrics.json
  packages/logstash/manifest.yml
Labels: enhancement

#7852 [Security Rules] Update security rules package to v8.7.13-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/07639887-da3a-4fbf-9532-8ce748ff8c50_1.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_3.json
  packages/security_detection_engine/kibana/security_rule/14dab405-5dd9-450c-8106-72951af2391f_1.json
  packages/security_detection_engine/kibana/security_rule/1f460f12-a3cf-4105-9ebb-f788cc63f365_1.json
  packages/security_detection_engine/kibana/security_rule/210d4430-b371-470e-b879-80b7182aa75e_1.json
  packages/security_detection_engine/kibana/security_rule/345889c4-23a8-4bc0-b7ca-756bd17ce83b_1.json
  packages/security_detection_engine/kibana/security_rule/39157d52-4035-44a8-9d1a-6f8c5f580a07_1.json
  packages/security_detection_engine/kibana/security_rule/3b47900d-e793-49e8-968f-c90dc3526aa1_107.json
  packages/security_detection_engine/kibana/security_rule/53dedd83-1be7-430f-8026-363256395c8b_1.json
  packages/security_detection_engine/kibana/security_rule/54902e45-3467-49a4-8abc-529f2c8cfb80_105.json
  packages/security_detection_engine/kibana/security_rule/5c895b4f-9133-4e68-9e23-59902175355c_1.json
  packages/security_detection_engine/kibana/security_rule/800e01be-a7a4-46d0-8de9-69f3c9582b44_1.json
  packages/security_detection_engine/kibana/security_rule/a5eb21b7-13cc-4b94-9fe2-29bb2914e037_1.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_3.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_4.json
  packages/security_detection_engine/kibana/security_rule/afd04601-12fc-4149-9b78-9c3f8fe45d39_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_1.json
  packages/security_detection_engine/kibana/security_rule/cd82e3d6-1346-4afd-8f22-38388bbf34cb_1.json
  packages/security_detection_engine/kibana/security_rule/d3551433-782f-4e22-bbea-c816af2d41c6_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_5.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_3.json
  packages/security_detection_engine/kibana/security_rule/f59668de-caa0-4b84-94c1-3a1549e1e798_1.json
  packages/security_detection_engine/kibana/security_rule/f7c4dc5a-a58d-491d-9f14-9b66507121c0_108.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.7.0

#7854 [Security Rules] Update security rules package to v8.8.11-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/07639887-da3a-4fbf-9532-8ce748ff8c50_1.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_3.json
  packages/security_detection_engine/kibana/security_rule/14dab405-5dd9-450c-8106-72951af2391f_1.json
  packages/security_detection_engine/kibana/security_rule/1f460f12-a3cf-4105-9ebb-f788cc63f365_1.json
  packages/security_detection_engine/kibana/security_rule/210d4430-b371-470e-b879-80b7182aa75e_1.json
  packages/security_detection_engine/kibana/security_rule/345889c4-23a8-4bc0-b7ca-756bd17ce83b_1.json
  packages/security_detection_engine/kibana/security_rule/39157d52-4035-44a8-9d1a-6f8c5f580a07_1.json
  packages/security_detection_engine/kibana/security_rule/3b47900d-e793-49e8-968f-c90dc3526aa1_107.json
  packages/security_detection_engine/kibana/security_rule/53dedd83-1be7-430f-8026-363256395c8b_1.json
  packages/security_detection_engine/kibana/security_rule/54902e45-3467-49a4-8abc-529f2c8cfb80_105.json
  packages/security_detection_engine/kibana/security_rule/5c895b4f-9133-4e68-9e23-59902175355c_1.json
  packages/security_detection_engine/kibana/security_rule/800e01be-a7a4-46d0-8de9-69f3c9582b44_1.json
  packages/security_detection_engine/kibana/security_rule/a5eb21b7-13cc-4b94-9fe2-29bb2914e037_1.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_3.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_4.json
  packages/security_detection_engine/kibana/security_rule/afd04601-12fc-4149-9b78-9c3f8fe45d39_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_1.json
  packages/security_detection_engine/kibana/security_rule/cd82e3d6-1346-4afd-8f22-38388bbf34cb_1.json
  packages/security_detection_engine/kibana/security_rule/d3551433-782f-4e22-bbea-c816af2d41c6_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_4.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_3.json
  packages/security_detection_engine/kibana/security_rule/f59668de-caa0-4b84-94c1-3a1549e1e798_1.json
  packages/security_detection_engine/kibana/security_rule/f7c4dc5a-a58d-491d-9f14-9b66507121c0_108.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.8.0

#7855 [Security Rules] Update security rules package to v8.9.6-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/07639887-da3a-4fbf-9532-8ce748ff8c50_1.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_3.json
  packages/security_detection_engine/kibana/security_rule/14dab405-5dd9-450c-8106-72951af2391f_1.json
  packages/security_detection_engine/kibana/security_rule/1f460f12-a3cf-4105-9ebb-f788cc63f365_1.json
  packages/security_detection_engine/kibana/security_rule/210d4430-b371-470e-b879-80b7182aa75e_1.json
  packages/security_detection_engine/kibana/security_rule/345889c4-23a8-4bc0-b7ca-756bd17ce83b_1.json
  packages/security_detection_engine/kibana/security_rule/39157d52-4035-44a8-9d1a-6f8c5f580a07_1.json
  packages/security_detection_engine/kibana/security_rule/3b47900d-e793-49e8-968f-c90dc3526aa1_107.json
  packages/security_detection_engine/kibana/security_rule/53dedd83-1be7-430f-8026-363256395c8b_1.json
  packages/security_detection_engine/kibana/security_rule/54902e45-3467-49a4-8abc-529f2c8cfb80_105.json
  packages/security_detection_engine/kibana/security_rule/5c895b4f-9133-4e68-9e23-59902175355c_1.json
  packages/security_detection_engine/kibana/security_rule/800e01be-a7a4-46d0-8de9-69f3c9582b44_1.json
  packages/security_detection_engine/kibana/security_rule/a5eb21b7-13cc-4b94-9fe2-29bb2914e037_1.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_3.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_4.json
  packages/security_detection_engine/kibana/security_rule/afd04601-12fc-4149-9b78-9c3f8fe45d39_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_1.json
  packages/security_detection_engine/kibana/security_rule/cd82e3d6-1346-4afd-8f22-38388bbf34cb_1.json
  packages/security_detection_engine/kibana/security_rule/d3551433-782f-4e22-bbea-c816af2d41c6_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_4.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_3.json
  packages/security_detection_engine/kibana/security_rule/f59668de-caa0-4b84-94c1-3a1549e1e798_1.json
  packages/security_detection_engine/kibana/security_rule/f7c4dc5a-a58d-491d-9f14-9b66507121c0_108.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.9.0

#7857 [Security Rules] Update security rules package to v8.10.3-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/07639887-da3a-4fbf-9532-8ce748ff8c50_1.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_3.json
  packages/security_detection_engine/kibana/security_rule/14dab405-5dd9-450c-8106-72951af2391f_1.json
  packages/security_detection_engine/kibana/security_rule/1f460f12-a3cf-4105-9ebb-f788cc63f365_1.json
  packages/security_detection_engine/kibana/security_rule/210d4430-b371-470e-b879-80b7182aa75e_1.json
  packages/security_detection_engine/kibana/security_rule/345889c4-23a8-4bc0-b7ca-756bd17ce83b_1.json
  packages/security_detection_engine/kibana/security_rule/39157d52-4035-44a8-9d1a-6f8c5f580a07_1.json
  packages/security_detection_engine/kibana/security_rule/3b47900d-e793-49e8-968f-c90dc3526aa1_107.json
  packages/security_detection_engine/kibana/security_rule/53dedd83-1be7-430f-8026-363256395c8b_1.json
  packages/security_detection_engine/kibana/security_rule/54902e45-3467-49a4-8abc-529f2c8cfb80_105.json
  packages/security_detection_engine/kibana/security_rule/5c895b4f-9133-4e68-9e23-59902175355c_1.json
  packages/security_detection_engine/kibana/security_rule/800e01be-a7a4-46d0-8de9-69f3c9582b44_1.json
  packages/security_detection_engine/kibana/security_rule/a5eb21b7-13cc-4b94-9fe2-29bb2914e037_1.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_3.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_4.json
  packages/security_detection_engine/kibana/security_rule/afd04601-12fc-4149-9b78-9c3f8fe45d39_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_1.json
  packages/security_detection_engine/kibana/security_rule/cd82e3d6-1346-4afd-8f22-38388bbf34cb_1.json
  packages/security_detection_engine/kibana/security_rule/d3551433-782f-4e22-bbea-c816af2d41c6_1.json
  packages/security_detection_engine/kibana/security_rule/e72f87d0-a70e-4f8d-8443-a6407bc34643_4.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_3.json
  packages/security_detection_engine/kibana/security_rule/f59668de-caa0-4b84-94c1-3a1549e1e798_1.json
  packages/security_detection_engine/kibana/security_rule/f7c4dc5a-a58d-491d-9f14-9b66507121c0_108.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.10.0

#7866 [Security Rules] Update security rules package to v8.7.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.7.0

#7867 [Security Rules] Update security rules package to v8.8.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.8.0

#7868 [Security Rules] Update security rules package to v8.9.6
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules, v8.9.0

#6358 Add `condition` and `processors` settings to SQL Input
  packages/sql_input/agent/input/input.yml.hbs
  packages/sql_input/changelog.yml
  packages/sql_input/manifest.yml
Labels: enhancement, Team:Service-Integrations

#7875 [cisco_secure_email_gateway] Remove unused field mappings
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/fields.yml
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#7873 [hid_bravura_monitor] Use ECS definition for message and tags
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/manifest.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/base-fields.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/ecs.yml
  packages/hid_bravura_monitor/data_stream/winlog/fields/fields.yml
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration: HID Bravura Monitor

#7800 [auditd] Remove elasticsearch.dynamic_{dataset,namespace}
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/manifest.yml
  packages/auditd/manifest.yml
Labels: Team:Security-External Integrations, Integration:Auditd

#7878 [symantec_endpoint] Adopt ECS log.syslog mappings
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-policy-rfc3164-sep14-3ru7.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-rfc3164.log-expected.json
  packages/symantec_endpoint/data_stream/log/_dev/test/pipeline/test-rfc5424.log-expected.json
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/data_stream/log/fields/agent.yml
  packages/symantec_endpoint/data_stream/log/fields/ecs.yml
  packages/symantec_endpoint/data_stream/log/fields/fields.yml
  packages/symantec_endpoint/docs/README.md
  packages/symantec_endpoint/manifest.yml
Labels: Team:Security-External Integrations, Integration:Symantec-Endpoint

#7872 [elastic_agent] Fix inconsistencies in field mapping types
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_logs/fields/fields.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/auditbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/auditbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/cloud_defend_logs/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/elastic_agent_logs/fields/fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/beat-stats-fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/endpoint_sercurity_logs/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/filebeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/fleet_server_logs/fields/fields.yml
  packages/elastic_agent/data_stream/fleet_server_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_metrics/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_metrics/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: bug, Team:Elastic-Agent, Integration:Elastic-Agent

#7897 [windows] perfmon add refresh_wildcard_counters variable
  packages/windows/changelog.yml
  packages/windows/data_stream/perfmon/agent/stream/stream.yml.hbs
  packages/windows/data_stream/perfmon/manifest.yml
  packages/windows/manifest.yml
Labels: enhancement

#7805 [Cloud Security] D4C format version updated
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/lifecycle.yml
  packages/cloud_defend/data_stream/file/lifecycle.yml
  packages/cloud_defend/data_stream/heartbeat/lifecycle.yml
  packages/cloud_defend/data_stream/metrics/lifecycle.yml
  packages/cloud_defend/data_stream/process/lifecycle.yml
  packages/cloud_defend/manifest.yml
Labels: Team:Cloud Security, blocked, Integration:Defend for Containers

#7824 [O11y][Apache Tomcat] Remove forwarded tag from metrics data streams
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/cache/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/cache/manifest.yml
  packages/apache_tomcat/data_stream/cache/sample_event.json
  packages/apache_tomcat/data_stream/connection_pool/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/connection_pool/manifest.yml
  packages/apache_tomcat/data_stream/connection_pool/sample_event.json
  packages/apache_tomcat/data_stream/memory/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/memory/manifest.yml
  packages/apache_tomcat/data_stream/memory/sample_event.json
  packages/apache_tomcat/data_stream/request/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/request/manifest.yml
  packages/apache_tomcat/data_stream/request/sample_event.json
  packages/apache_tomcat/data_stream/session/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/session/manifest.yml
  packages/apache_tomcat/data_stream/session/sample_event.json
  packages/apache_tomcat/data_stream/thread_pool/agent/stream/stream.yml.hbs
  packages/apache_tomcat/data_stream/thread_pool/manifest.yml
  packages/apache_tomcat/data_stream/thread_pool/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
Labels: Integration:Tomcat, bugfix

#7892 [Cloud Security] Add Azure ARM url
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#7500 microsoft_sqlserver/data_stream/transaction_log: Add support for `fetch_from_all_databases` for mssql
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/performance/manifest.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/agent/stream/stream.yml.hbs
  packages/microsoft_sqlserver/data_stream/transaction_log/manifest.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver

#7527 [O11y][PHP-FPM] Add metric_type for pool and process data streams
  packages/php_fpm/changelog.yml
  packages/php_fpm/data_stream/pool/fields/fields.yml
  packages/php_fpm/data_stream/process/fields/fields.yml
  packages/php_fpm/docs/README.md
  packages/php_fpm/manifest.yml
Labels: enhancement, Integration:php-fpm

#7891 [Salesforce] Add request timeout parameter in configuration
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/apex/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/apex/manifest.yml
  packages/salesforce/data_stream/login_rest/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/login_rest/manifest.yml
  packages/salesforce/data_stream/logout_rest/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/logout_rest/manifest.yml
  packages/salesforce/data_stream/setupaudittrail/agent/stream/httpjson.yml.hbs
  packages/salesforce/data_stream/setupaudittrail/manifest.yml
  packages/salesforce/docs/README.md
  packages/salesforce/manifest.yml
Labels: enhancement

#7670 [awsfirehose] remove redudant `.logs` suffix from dataset name
  packages/awsfirehose/_dev/build/docs/README.md
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-apigateway-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-cloudtrail-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-firewall-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-route53-public-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-route53-resolver-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-vpcflow-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-waf-log.json
  packages/awsfirehose/data_stream/logs/manifest.yml
  packages/awsfirehose/data_stream/logs/routing_rules.yml
  packages/awsfirehose/docs/README.md
  packages/awsfirehose/manifest.yml
Labels: enhancement

#7809 cisco_secure_email_gateway: update ingest pipeline to handle v15
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/ecs.yml
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#7887 [amazon_security_lake] Remove role creation steps and add notification parsing script parameter
  packages/amazon_security_lake/_dev/build/docs/README.md
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/amazon_security_lake/data_stream/event/manifest.yml
  packages/amazon_security_lake/docs/README.md
  packages/amazon_security_lake/manifest.yml
Labels: Team:Security-External Integrations, Integration:Amazon Security Lake

#7906 [ECS] Updating box_events to ECS 8.10 & ECS field validation updates
  packages/box_events/_dev/build/build.yml
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/_dev/test/pipeline/test-anomalous-download.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-copy.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-create.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-download.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-event-types.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-malicious-content.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-preview.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-rename.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-locations.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-sessions.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-trash.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-upload.log-expected.json
  packages/box_events/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/box_events/data_stream/events/sample_event.json
  packages/box_events/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Box

#7922 [atlassian_jira] Add stop condition for Jira Cloud pagination
  packages/atlassian_jira/_dev/deploy/docker/files/config.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_jira/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AtlassianJira

#7907 [ECS] Updating cisco_asa to ECS 8.10 & ECS field validation updates
  packages/cisco_asa/_dev/build/build.yml
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-dap-records.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-hostnames.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sip.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:CiscoASA

#7908 [ECS] Updating cisco_ftd to ECS 8.10 & ECS field validation updates
  packages/cisco_ftd/_dev/build/build.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-endpoint-profile.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:CiscoFTD

#7927 [ECS] Updating jamf_compliance_reporter to ECS 8.10 & ECS field validation updates
  packages/jamf_compliance_reporter/_dev/build/build.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/pipeline/test-pipeline-app-metrics.log-expected.json
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/pipeline/test-pipeline-event.log-expected.json
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_unified_log_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_xprotect_event_log.yml
  packages/jamf_compliance_reporter/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:JAMF_Compliance_Reporter

#7928 [ECS] Updating keycloak to ECS 8.10 & ECS field validation updates
  packages/keycloak/_dev/build/build.yml
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/keycloak/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Keycloak

#7929 [ECS] Updating microsoft_defender_endpoint to ECS 8.10 & ECS field validation updates
  packages/microsoft_defender_endpoint/_dev/build/build.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Microsoft_defender_endpoint

#7944 [ECS] Updating ping_one to ECS 8.10 & ECS field validation updates
  packages/ping_one/_dev/build/build.yml
  packages/ping_one/changelog.yml
  packages/ping_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/ping_one/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/ping_one/data_stream/audit/sample_event.json
  packages/ping_one/docs/README.md
  packages/ping_one/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations

#7945 [ECS] Updating proofpoint_tap to ECS 8.10 & ECS field validation updates
  packages/proofpoint_tap/_dev/build/build.yml
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/_dev/test/pipeline/test-clicks-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/clicks_permitted/_dev/test/pipeline/test-clicks-permitted.log-expected.json
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/sample_event.json
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/pipeline/test-message-delivered.log-expected.json
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/sample_event.json
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Proofpoint

#7946 [ECS] Updating slack to ECS 8.10 & ECS field validation updates
  packages/slack/_dev/build/build.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/sample_event.json
  packages/slack/docs/README.md
  packages/slack/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Slack

#7948 [ECS] Updating tenable_sc to ECS 8.10 & ECS field validation updates
  packages/tenable_sc/_dev/build/build.yml
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/tenable_sc/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/asset/sample_event.json
  packages/tenable_sc/data_stream/plugin/_dev/test/pipeline/test-plugin.log-expected.json
  packages/tenable_sc/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/plugin/sample_event.json
  packages/tenable_sc/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/tenable_sc/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/vulnerability/sample_event.json
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:TenableSC

#7949 [ECS] Updating ti_rapid7_threat_command to ECS 8.10 & ECS field validation updates
  packages/ti_rapid7_threat_command/_dev/build/build.yml
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/data_stream/alert/sample_event.json
  packages/ti_rapid7_threat_command/data_stream/ioc/sample_event.json
  packages/ti_rapid7_threat_command/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability-event.json-expected.json
  packages/ti_rapid7_threat_command/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/ti_rapid7_threat_command/data_stream/vulnerability/sample_event.json
  packages/ti_rapid7_threat_command/docs/README.md
  packages/ti_rapid7_threat_command/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:Rapid7-Threat-Command

#7791 [cisco_meraki] Add event.action and message to specific events
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/sample_event.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/cisco_meraki/data_stream/log/sample_event.json
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cisco Meraki

#7849 [ti_anomali] Add DLM policy and Update `format_version` to `3.0.0`
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/threatstream/lifecycle.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_anomali/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Anomali

#7851 [ti_maltiverse] Add DLM policy and Update `format_version` to `3.0.0`
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/data_stream/indicator/lifecycle.yml
  packages/ti_maltiverse/elasticsearch/transform/latest/transform.yml
  packages/ti_maltiverse/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Maltiverse

#7848 [ti_recordedfuture] Add DLM policy and update format_version to 3.0.0
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/lifecycle.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Recorded Future

#7850 [O11y][Golang] Fix description in README.md
  packages/golang/_dev/build/docs/README.md
  packages/golang/changelog.yml
  packages/golang/docs/README.md
  packages/golang/manifest.yml
Labels: Integration:Golang

#7954 [Github] Fix docs for Audit log permissions
  packages/github/_dev/build/docs/README.md
  packages/github/changelog.yml
  packages/github/data_stream/audit/manifest.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: Team:Security-External Integrations, Integration:Github, docs

#7931 [ECS] Updating pfsense to ECS 8.10 & ECS field validation updates
  packages/pfsense/_dev/build/build.yml
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-bsd.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-dhcp.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-haproxy.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-ipsec.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-openvpn.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-phpfpm.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-squid.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-syslog.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-unbound.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/haproxy.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/openvpn.yml
  packages/pfsense/data_stream/log/sample_event.json
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:pfSense

#7940 [Custom Logs] Implement input parameter exclude_files
  packages/log/agent/input/input.yml.hbs
  packages/log/changelog.yml
  packages/log/manifest.yml
Labels: Team:Elastic-Agent

#7963 [ECS][1password] Correcting invalid ECS field usages at root-level
  packages/1password/changelog.yml
  packages/1password/data_stream/audit_events/sample_event.json
  packages/1password/data_stream/item_usages/_dev/test/pipeline/test-itemusages.json-expected.json
  packages/1password/data_stream/item_usages/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/item_usages/fields/ecs.yml
  packages/1password/data_stream/item_usages/sample_event.json
  packages/1password/data_stream/signin_attempts/_dev/test/pipeline/test-signinattempts.json-expected.json
  packages/1password/data_stream/signin_attempts/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/signin_attempts/fields/ecs.yml
  packages/1password/data_stream/signin_attempts/sample_event.json
  packages/1password/docs/README.md
  packages/1password/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:1Password

#7966 [ECS][cisco_aironet] Correcting invalid ECS field usages at root-level
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/data_stream/log/fields/ecs.yml
  packages/cisco_aironet/data_stream/log/sample_event.json
  packages/cisco_aironet/docs/README.md
  packages/cisco_aironet/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoAironet

#7967 [ECS][cloudflare_logpush] Correcting invalid ECS field usages at root-level
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/sample_event.json
  packages/cloudflare_logpush/data_stream/audit/sample_event.json
  packages/cloudflare_logpush/data_stream/casb/sample_event.json
  packages/cloudflare_logpush/data_stream/device_posture/sample_event.json
  packages/cloudflare_logpush/data_stream/dns/sample_event.json
  packages/cloudflare_logpush/data_stream/firewall_event/sample_event.json
  packages/cloudflare_logpush/data_stream/gateway_dns/sample_event.json
  packages/cloudflare_logpush/data_stream/gateway_http/sample_event.json
  packages/cloudflare_logpush/data_stream/gateway_network/sample_event.json
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/data_stream/nel_report/sample_event.json
  packages/cloudflare_logpush/data_stream/network_analytics/sample_event.json
  packages/cloudflare_logpush/data_stream/network_session/_dev/test/pipeline/test-pipeline-network-session.log-expected.json
  packages/cloudflare_logpush/data_stream/network_session/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/network_session/fields/ecs.yml
  packages/cloudflare_logpush/data_stream/network_session/sample_event.json
  packages/cloudflare_logpush/data_stream/spectrum_event/sample_event.json
  packages/cloudflare_logpush/data_stream/workers_trace/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare Logpush

#7970 [suricata] use ECS field definitions
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/fields/agent.yml
  packages/suricata/data_stream/eve/fields/base-fields.yml
  packages/suricata/docs/README.md
  packages/suricata/manifest.yml
Labels: Integration:Suricata

#7909 ti_maltiverse: move non-ECS fields out of root
  packages/ti_maltiverse/_dev/build/docs/README.md
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/data_stream/indicator/_dev/test/pipeline/test-common-config.yml
  packages/ti_maltiverse/data_stream/indicator/_dev/test/pipeline/test-maltiverse-feed-event.json
  packages/ti_maltiverse/data_stream/indicator/_dev/test/pipeline/test-maltiverse-feed-event.json-expected.json
  packages/ti_maltiverse/data_stream/indicator/agent/stream/stream.yml.hbs
  packages/ti_maltiverse/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_maltiverse/data_stream/indicator/fields/fields.yml
  packages/ti_maltiverse/data_stream/indicator/fields/indicator.yml
  packages/ti_maltiverse/data_stream/indicator/sample_event.json
  packages/ti_maltiverse/docs/README.md
  packages/ti_maltiverse/elasticsearch/transform/latest/fields/fields.yml
  packages/ti_maltiverse/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Maltiverse

#7969 [ECS][fireeye] Correcting invalid ECS field declarations at root-level
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/_dev/test/pipeline/test-nx.log-expected.json
  packages/fireeye/data_stream/nx/elasticsearch/ingest_pipeline/renaming-raws.yml
  packages/fireeye/data_stream/nx/fields/ecs.yml
  packages/fireeye/data_stream/nx/sample_event.json
  packages/fireeye/docs/README.md
  packages/fireeye/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:FireEye

#7961 [ECS] Update SEI packages to ECS 8.10 (Part 5)
  packages/entityanalytics_entra_id/_dev/build/build.yml
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_entra_id/data_stream/entity/sample_event.json
  packages/entityanalytics_entra_id/docs/README.md
  packages/entityanalytics_entra_id/manifest.yml
  packages/qualys_vmdr/_dev/build/build.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log-expected.json
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
  packages/trellix_edr_cloud/_dev/build/build.yml
  packages/trellix_edr_cloud/changelog.yml
  packages/trellix_edr_cloud/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/trellix_edr_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/trellix_edr_cloud/data_stream/event/sample_event.json
  packages/trellix_edr_cloud/docs/README.md
  packages/trellix_edr_cloud/manifest.yml
Labels: Team:Security-External Integrations

#7968 [ECS][crowdstrike] Correcting invalid ECS field usages at root-level
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Crowdstrike

#7964 [docker] Fix 'message' data type to align with ECS
  packages/docker/changelog.yml
  packages/docker/data_stream/container_logs/fields/base-fields.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: bug, Integration:Docker, Team:Cloudnative-Monitoring

#7981 [ECS][infoblox_nios] Correcting invalid ECS field usages at root-level
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/fields/ecs.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Infoblox_nios

#7971 [oracle_weblogic] Use ECS definition for 'message' field type
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/admin_server/fields/base-fields.yml
  packages/oracle_weblogic/data_stream/domain/fields/base-fields.yml
  packages/oracle_weblogic/data_stream/managed_server/fields/base-fields.yml
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/manifest.yml
Labels: bug, Integration:oracle_weblogic, Team:Obs-InfraObs

#7982 [ECS][lyve_cloud] Correcting invalid ECS field usages at root-level
  packages/lyve_cloud/changelog.yml
  packages/lyve_cloud/data_stream/audit/_dev/test/pipeline/test-audit-events.json-expected.json
  packages/lyve_cloud/data_stream/audit/elasticsearch/ingest_pipeline/audit_lc.yml
  packages/lyve_cloud/data_stream/audit/fields/ecs.yml
  packages/lyve_cloud/data_stream/audit/sample_event.json
  packages/lyve_cloud/docs/README.md
  packages/lyve_cloud/manifest.yml
Labels: bug, Team:Security-External Integrations

#7984 [ECS][panw] Correcting invalid ECS field usages at root-level
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#7985 [ECS][sentinel_one] Correcting invalid ECS field usages at root-level
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/activity/fields/ecs.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/fields/ecs.yml
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/group/sample_event.json
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:SentinelOne

#7986 [ECS][trend_micro_vision_one] Correcting invalid ECS field usages at root-level
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/detection/fields/ecs.yml
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:TrendMicro

#7965 [ECS] Cleaning up incorrect invalid ECS field usages at root-level
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/fields/ecs.yml
  packages/azure_frontdoor/data_stream/waf/fields/ecs.yml
  packages/azure_frontdoor/docs/README.md
  packages/azure_frontdoor/manifest.yml
  packages/carbonblack_edr/changelog.yml
  packages/carbonblack_edr/data_stream/log/fields/ecs.yml
  packages/carbonblack_edr/docs/README.md
  packages/carbonblack_edr/manifest.yml
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/fields/ecs.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/fields/ecs.yml
  packages/juniper_srx/docs/README.md
  packages/juniper_srx/manifest.yml
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/fields/ecs.yml
  packages/netflow/docs/README.md
  packages/netflow/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Juniper SRX, Integration:Netflow, Integration:Cisco Meraki, docs, Integration:CarbonBlackEDR, Integration:AzureFrontDoor

#7960 [ECS] Updating hashicorp_vault to ECS 8.10 & ECS field validation updates
  packages/hashicorp_vault/_dev/build/build.yml
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/hashicorp_vault/data_stream/audit/_dev/test/pipeline/test-faked-all-fields.log-expected.json
  packages/hashicorp_vault/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/data_stream/audit/sample_event.json
  packages/hashicorp_vault/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/hashicorp_vault/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/data_stream/log/sample_event.json
  packages/hashicorp_vault/data_stream/metrics/sample_event.json
  packages/hashicorp_vault/docs/README.md
  packages/hashicorp_vault/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:HashicorpVault

#7876 [AWS] [API Gateway] Split metrics dashboard by API type and filter documents visualized
  packages/aws/changelog.yml
  packages/aws/img/metricbeat-aws-apigateway-overview.png
  packages/aws/kibana/dashboard/aws-a4482820-03aa-11ee-84d4-7f15bab18041.json
  packages/aws/kibana/dashboard/aws-aed17a80-56d9-11ee-893f-c96e4c6c871e.json
  packages/aws/kibana/dashboard/aws-bff88770-56d6-11ee-893f-c96e4c6c871e.json
  packages/aws/kibana/dashboard/aws-df91e7f0-56d8-11ee-893f-c96e4c6c871e.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:AWS, bugfix

#7941 [System] Documentation Update: Remove linux-only field mappings from diskio, memory datastr…
  packages/system/_dev/build/docs/README.md
  packages/system/changelog.yml
  packages/system/data_stream/diskio/fields/fields.yml
  packages/system/data_stream/memory/fields/fields.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: Integration:System

#7910 [ti_rapid7] Update format_version to 3.0.0
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/data_stream/alert/sample_event.json
  packages/ti_rapid7_threat_command/data_stream/ioc/sample_event.json
  packages/ti_rapid7_threat_command/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability-event.json-expected.json
  packages/ti_rapid7_threat_command/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/ti_rapid7_threat_command/data_stream/vulnerability/sample_event.json
  packages/ti_rapid7_threat_command/docs/README.md
  packages/ti_rapid7_threat_command/kibana/security_rule/af814670-3279-11ed-93fa-d354b323cd1b.json
  packages/ti_rapid7_threat_command/kibana/security_rule/eaecc8f0-6704-11ed-80b2-9bbc46f73b72.json
  packages/ti_rapid7_threat_command/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Rapid7-Threat-Command

#7951 trend_micro_vision_one: handle detection documents that have a requests array instead of a request field
  packages/trend_micro_vision_one/_dev/deploy/docker/files/config.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/system/test-default-config.yml
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:TrendMicroVisionOne

#7787 [O11y][Cassandra] Fix the type for log.flags field
  packages/cassandra/_dev/build/docs/README.md
  packages/cassandra/changelog.yml
  packages/cassandra/data_stream/log/fields/agent.yml
  packages/cassandra/docs/README.md
  packages/cassandra/manifest.yml
Labels: Integration:Cassandra, bugfix

#7995 handle both clientIp and clientIP in azure app gateway
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log-expected.json
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: bug

#7900 [aws.securityhub_findings] Correcting pipeline to utilize ecs `network.direction` and `threat.indicator.type` allowed values
  packages/aws/changelog.yml
  packages/aws/data_stream/securityhub_findings/_dev/test/pipeline/test-securityhub-findings.log
  packages/aws/data_stream/securityhub_findings/_dev/test/pipeline/test-securityhub-findings.log-expected.json
  packages/aws/data_stream/securityhub_findings/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_findings/fields/ecs.yml
  packages/aws/docs/securityhub.md
  packages/aws/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AWS

#7888 [O11y][Springboot] Resolve the conflicts in host.ip field, update readme and remove incorrect rename processor
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/audit_events/fields/ecs.yml
  packages/spring_boot/data_stream/gc/fields/ecs.yml
  packages/spring_boot/data_stream/memory/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/memory/fields/ecs.yml
  packages/spring_boot/data_stream/threading/fields/ecs.yml
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: Integration:SpringBoot, bugfix

#7962 [Universal Profiling] Add inputs for collector/symbolizer
  packages/universal_profiling_collector/agent/input/input.yml.hbs
  packages/universal_profiling_collector/changelog.yml
  packages/universal_profiling_collector/manifest.yml
  packages/universal_profiling_symbolizer/agent/input/input.yml.hbs
  packages/universal_profiling_symbolizer/changelog.yml
  packages/universal_profiling_symbolizer/manifest.yml
Labels: enhancement

#7978 [hashicorp_vault] Fix fields.yml definition for dynamic mapping
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/fields/base-fields.yml
  packages/hashicorp_vault/data_stream/log/fields/base-fields.yml
  packages/hashicorp_vault/data_stream/metrics/fields/base-fields.yml
  packages/hashicorp_vault/data_stream/metrics/fields/fields.yml
  packages/hashicorp_vault/data_stream/metrics/manifest.yml
  packages/hashicorp_vault/docs/README.md
  packages/hashicorp_vault/manifest.yml
Labels: Team:Security-External Integrations, Integration:HashicorpVault

#8002 [ECS] Updating aws/guardduty to ECS 8.10
  packages/aws/_dev/build/build.yml
  packages/aws/changelog.yml
  packages/aws/data_stream/ebs/sample_event.json
  packages/aws/data_stream/ecs_metrics/sample_event.json
  packages/aws/data_stream/elb_metrics/sample_event.json
  packages/aws/data_stream/guardduty/_dev/test/pipeline/test-guardduty.log-expected.json
  packages/aws/data_stream/guardduty/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/guardduty/fields/ecs.yml
  packages/aws/data_stream/natgateway/sample_event.json
  packages/aws/data_stream/redshift/sample_event.json
  packages/aws/data_stream/securityhub_findings/sample_event.json
  packages/aws/data_stream/transitgateway/sample_event.json
  packages/aws/docs/apigateway.md
  packages/aws/docs/billing.md
  packages/aws/docs/cloudfront.md
  packages/aws/docs/cloudtrail.md
  packages/aws/docs/cloudwatch.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/ecs.md
  packages/aws/docs/elb.md
  packages/aws/docs/emr.md
  packages/aws/docs/firewall.md
  packages/aws/docs/guardduty.md
  packages/aws/docs/inspector.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/redshift.md
  packages/aws/docs/route53.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/securityhub.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpcflow.md
  packages/aws/docs/vpn.md
  packages/aws/docs/waf.md
  packages/aws/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:AWS

#7988 o365: fix mappings for dynamically mapped fields
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:o365

#7990 Fix Request Time lens and update image for AWS API Gateway
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-apigateway-overview.png
  packages/aws/kibana/dashboard/aws-5465f0f0-26e4-11ee-9051-011d57d86fe2.json
  packages/aws/manifest.yml
Labels: Integration:AWS, bugfix

#7976 github: add support for additional audit log fields
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-audit-json.log-expected.json
  packages/github/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/audit/fields/ecs.yml
  packages/github/data_stream/audit/fields/fields.yml
  packages/github/data_stream/audit/sample_event.json
  packages/github/data_stream/code_scanning/sample_event.json
  packages/github/data_stream/dependabot/sample_event.json
  packages/github/data_stream/issues/sample_event.json
  packages/github/data_stream/secret_scanning/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Github

#7904 github: give greater instructions for commit messages
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Team:Security-External Integrations, Team:Elastic-Agent, Team:Ecosystem, Team:Cloud-Monitoring, Team:Infra Monitoring UI, Team:Obs-InfraObs

#8015 cisco_asa: expand set of accepted auth rejection reasons and retain reason
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoASA

#7942 [O11y][Docker] Migrate Docker Overview dashboard to lens
  packages/docker/changelog.yml
  packages/docker/img/docker-overview.png
  packages/docker/kibana/dashboard/docker-AV4REOpp5NkDleZmzKkE.json
  packages/docker/kibana/visualization/docker-CPU-usage.json
  packages/docker/kibana/visualization/docker-Network-IO.json
  packages/docker/kibana/visualization/docker-Number-of-Containers.json
  packages/docker/kibana/visualization/docker-containers-per-host.json
  packages/docker/kibana/visualization/docker-containers.json
  packages/docker/kibana/visualization/docker-images-and-names.json
  packages/docker/kibana/visualization/docker-memory-usage.json
  packages/docker/manifest.yml
Labels: Integration:Docker, dashboard

#8018 [O11y][Prometheus Input] Fix test failure by upgrading the docker image version to the latest
  packages/prometheus_input/_dev/deploy/docker/docker-compose.yml
  packages/prometheus_input/_dev/deploy/docker/files/init.jython
  packages/prometheus_input/_dev/deploy/docker/files/start_server.sh
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/manifest.yml
Labels: bugfix, Integration:prometheus_input

#8009 [O11y][WebSphere Application Server] Update the docker image
  packages/websphere_application_server/_dev/build/docs/README.md
  packages/websphere_application_server/_dev/deploy/docker/docker-compose.yml
  packages/websphere_application_server/_dev/deploy/docker/files/init.jython
  packages/websphere_application_server/_dev/deploy/docker/files/start_server.sh
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/docs/README.md
  packages/websphere_application_server/manifest.yml
Labels: bug, Integration:WebsphereApplicationServer

#8019 microsoft_sqlserver: Bump minimum `kibana.version`
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/manifest.yml
Labels: Integration:microsoft_sqlserver, Team:Obs-InfraObs

#7680 [WebSphere Application Server] Migrate to GA
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/img/websphere_application_server-threadpool-dashboard-screenshot.png
  packages/websphere_application_server/kibana/lens/websphere_application_server-d2cf3ac0-baeb-11ec-b244-51e5cddeab04.json
  packages/websphere_application_server/manifest.yml
Labels: Integration:WebsphereApplicationServer

#8025 [SEI] Update 29 packages to format_version 3.0.0
  packages/1password/changelog.yml
  packages/1password/manifest.yml
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/manifest.yml
  packages/box_events/changelog.yml
  packages/box_events/manifest.yml
  packages/carbonblack_edr/changelog.yml
  packages/carbonblack_edr/manifest.yml
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/manifest.yml
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/manifest.yml
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/manifest.yml
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/manifest.yml
  packages/fireeye/changelog.yml
  packages/fireeye/manifest.yml
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/manifest.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/manifest.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/manifest.yml
  packages/keycloak/changelog.yml
  packages/keycloak/manifest.yml
  packages/lyve_cloud/changelog.yml
  packages/lyve_cloud/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/manifest.yml
  packages/netflow/changelog.yml
  packages/netflow/manifest.yml
  packages/okta/changelog.yml
  packages/okta/manifest.yml
  packages/panw/changelog.yml
  packages/panw/manifest.yml
  packages/pfsense/changelog.yml
  packages/pfsense/manifest.yml
  packages/ping_one/changelog.yml
  packages/ping_one/manifest.yml
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/manifest.yml
  packages/slack/changelog.yml
  packages/slack/manifest.yml
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/manifest.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/manifest.yml
Labels: Team:Security-External Integrations
