Repository elastic/integrations, pull requests merged in 2023-04, with the labels that each got.

#5760 [Kubernetes] Add condition NetworkUnavailable to state node
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/state_node/fields/fields.yml
  packages/kubernetes/docs/kube-state-metrics.md
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes

#5592 [D4C] readme updates to explain process selectors
  packages/cloud_defend/data_stream/alerts/fields/fields.yml
  packages/cloud_defend/data_stream/file/fields/fields.yml
  packages/cloud_defend/data_stream/process/fields/fields.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: enhancement

#5737 [O11y][Redis Enterprise] Add description for panels
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/img/redisenterprise-dashboard.png
  packages/redisenterprise/kibana/dashboard/redisenterprise-8da53a40-5a2f-11ea-bc69-cdcc68092a57.json
  packages/redisenterprise/manifest.yml
Labels: bug, Integration:Redis-Enterprise, Team:Service-Integrations

#5716 [cisco_umbrella] Add DLP and Intrusion logs for SIG users
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-cloudfirewalllogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-cloudfirewalllogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dlplogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dlplogs.log-config.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dlplogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-dnslogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-intrusionlogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-intrusionlogs.log-config.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-intrusionlogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-iplogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-proxylogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/agent/stream/aws-s3.yml.hbs
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/ecs.yml
  packages/cisco_umbrella/data_stream/log/fields/fields.yml
  packages/cisco_umbrella/data_stream/log/sample_event.json
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
Labels: Team:Security-External Integrations, Integration:Cisco Umbrella

#5777 [AWS] Add CloudWatch logs latency config option
  packages/aws/_dev/build/docs/cloudwatch.md
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/cloudwatch_logs/manifest.yml
  packages/aws/docs/cloudwatch.md
  packages/aws/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#5793 [D4C] Added mapping for cloud_defend.trace_point. Fixed host.name and host…
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/fields/fields.yml
  packages/cloud_defend/data_stream/file/fields/fields.yml
  packages/cloud_defend/data_stream/process/fields/fields.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: enhancement

#5775 [integrations] [microsft message trace] - Deprecated basic auth and added support for Oauth2
  packages/microsoft_exchange_online_message_trace/_dev/build/docs/README.md
  packages/microsoft_exchange_online_message_trace/_dev/deploy/docker/files/config.yml
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/system/test-httpjson-config.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: enhancement, Team:Security-External Integrations

#5798 [Synthetics] add additional lightweight heartbeat configs
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/http/agent/stream/http.yml.hbs
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/agent/stream/tcp.yml.hbs
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: Team:Uptime, v8.8.0

#5779 network_traffic: fix documentation for flows period
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/flow/manifest.yml
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture, docs

#5778 network_traffic: remove beta tags on data streams and add flow tests
  packages/network_traffic/_dev/build/docs/README.md
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/manifest.yml
  packages/network_traffic/data_stream/cassandra/manifest.yml
  packages/network_traffic/data_stream/dhcpv4/manifest.yml
  packages/network_traffic/data_stream/dns/manifest.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-http-get-2k-file-config.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-icmp-2-pings-config.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-icmp4-ping-config.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-icmp6-ping-config.yml
  packages/network_traffic/data_stream/flow/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/flow/fields/ecs.yml
  packages/network_traffic/data_stream/flow/manifest.yml
  packages/network_traffic/data_stream/flow/sample_event.json
  packages/network_traffic/data_stream/http/manifest.yml
  packages/network_traffic/data_stream/icmp/manifest.yml
  packages/network_traffic/data_stream/memcached/manifest.yml
  packages/network_traffic/data_stream/mongodb/manifest.yml
  packages/network_traffic/data_stream/mysql/manifest.yml
  packages/network_traffic/data_stream/nfs/manifest.yml
  packages/network_traffic/data_stream/pgsql/manifest.yml
  packages/network_traffic/data_stream/redis/manifest.yml
  packages/network_traffic/data_stream/sip/manifest.yml
  packages/network_traffic/data_stream/thrift/manifest.yml
  packages/network_traffic/data_stream/tls/manifest.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/kibana/dashboard/network_traffic-flows.json
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture

#5780 [O11y][Nginx] Migrate `[Metrics Nginx] Overview` dashboard visualizations to lens in kibana 8.5.0
  packages/nginx/changelog.yml
  packages/nginx/data_stream/stubstatus/fields/agent.yml
  packages/nginx/img/nginx-metrics-overview.png
  packages/nginx/kibana/dashboard/nginx-023d2930-f1a5-11e7-a9ef-93c69af7b129.json
  packages/nginx/kibana/visualization/nginx-47a8e0f0-f1a4-11e7-a9ef-93c69af7b129.json
  packages/nginx/kibana/visualization/nginx-555df8a0-f1a1-11e7-a9ef-93c69af7b129.json
  packages/nginx/kibana/visualization/nginx-7cc9ea40-3af8-11eb-94b7-0dab91df36a6.json
  packages/nginx/kibana/visualization/nginx-823b3c80-3af9-11eb-94b7-0dab91df36a6.json
  packages/nginx/kibana/visualization/nginx-a1d92240-f1a1-11e7-a9ef-93c69af7b129.json
  packages/nginx/kibana/visualization/nginx-d763a570-f1a1-11e7-a9ef-93c69af7b129.json
  packages/nginx/kibana/visualization/nginx-dcbffe30-f1a4-11e7-a9ef-93c69af7b129.json
  packages/nginx/kibana/visualization/nginx-e302b5a0-3afb-11eb-94b7-0dab91df36a6.json
  packages/nginx/kibana/visualization/nginx-ea7f9e10-3af6-11eb-94b7-0dab91df36a6.json
  packages/nginx/manifest.yml
Labels: enhancement, Integration:NGINX, v8.5.0, Team:Service-Integrations

#5781 [O11y][Nginx] Migrate `[Logs Nginx] Overview` dashboard visualizations to lens in kibana 8.5.0
  packages/nginx/changelog.yml
  packages/nginx/img/nginx-logs-overview.png
  packages/nginx/kibana/dashboard/nginx-55a9e6e0-a29e-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/map/nginx-4576daa0-e1da-11ec-baf0-970634a1784d.json
  packages/nginx/kibana/visualization/nginx-0dd6f320-a29f-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/visualization/nginx-46322e50-a1f6-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/visualization/nginx-9184fa00-a1f5-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/visualization/nginx-9484ecf0-3af5-11eb-94b7-0dab91df36a6.json
  packages/nginx/kibana/visualization/nginx-97109780-a2a5-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/visualization/nginx-Access-Browsers.json
  packages/nginx/kibana/visualization/nginx-Access-OSes.json
  packages/nginx/kibana/visualization/nginx-b70b1b20-a1f4-11e7-928f-5dbe6f6f5519.json
  packages/nginx/manifest.yml
Labels: enhancement, Integration:NGINX, v8.5.0, Team:Service-Integrations

#5495 [O11y][IBM MQ] Lens migration for visualizations to Kibana version 8.5.0
  packages/ibmmq/changelog.yml
  packages/ibmmq/img/ibmmq-calls.png
  packages/ibmmq/img/ibmmq-errorlog.png
  packages/ibmmq/img/ibmmq-messages.png
  packages/ibmmq/img/ibmmq-subscriptions.png
  packages/ibmmq/kibana/dashboard/ibmmq-8f788c70-36c9-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/dashboard/ibmmq-ba1d8830-7c7b-11e9-9645-e37efaf5baff.json
  packages/ibmmq/kibana/dashboard/ibmmq-d2112e90-36ea-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/dashboard/ibmmq-fc5512c0-36d1-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/search/ibmmq-82db7ba0-adec-11e9-8358-1517661d7c84.json
  packages/ibmmq/manifest.yml
Labels: enhancement, v8.5.0, Team:Service-Integrations

#5714 [O11y][Cassandra] Migrate `Overview` dashboard visualizations to lens in kibana 8.3.0
  packages/cassandra/changelog.yml
  packages/cassandra/img/[Metrics Cassandra] Overview.png
  packages/cassandra/kibana/dashboard/cassandra-25b7d6d0-1c71-11ec-84f1-e1733c643874.json
  packages/cassandra/kibana/search/cassandra-7ff6a1a0-1c6f-11ec-84f1-e1733c643874.json
  packages/cassandra/manifest.yml
Labels: enhancement, Integration:Cassandra, v8.3.0, Team:Service-Integrations

#5782 [O11y][Nginx] Migrate `[Logs Nginx] Access and error logs` dashboard visualizations to lens in kibana 8.5.0
  packages/nginx/changelog.yml
  packages/nginx/img/nginx-logs-access-error.png
  packages/nginx/kibana/dashboard/nginx-046212a0-a2a1-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/search/nginx-6d9e66d0-a1f0-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/search/nginx-9eb25600-a1f0-11e7-928f-5dbe6f6f5519.json
  packages/nginx/kibana/search/nginx-Logs-Nginx-integration.json
  packages/nginx/kibana/visualization/nginx-1cfb1a80-a1f4-11e7-928f-5dbe6f6f5519.json
  packages/nginx/manifest.yml
Labels: enhancement, Integration:NGINX, v8.5.0, Team:Service-Integrations

#5715 [O11y][Cassandra] Migrate `System Log` dashboard visualizations to lens in kibana 8.3.0
  packages/cassandra/changelog.yml
  packages/cassandra/img/[Logs Cassandra] System Logs.png
  packages/cassandra/kibana/dashboard/cassandra-49e4e6e0-cc54-11ec-8c59-ed6efced90da.json
  packages/cassandra/kibana/search/cassandra-a7a48e10-1f8a-11ec-ba68-fbf426daf104.json
  packages/cassandra/manifest.yml
Labels: enhancement, Integration:Cassandra, v8.3.0, Team:Service-Integrations

#5807 [Github] Add issues datastream into package README
  packages/github/_dev/build/docs/README.md
  packages/github/changelog.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Github

#5546 [rapid7_insightvm] Initial Release for the Rapid7 InsightVM
  .github/CODEOWNERS
  packages/rapid7_insightvm/_dev/build/build.yml
  packages/rapid7_insightvm/_dev/build/docs/README.md
  packages/rapid7_insightvm/_dev/deploy/docker/docker-compose.yml
  packages/rapid7_insightvm/_dev/deploy/docker/files/config.yml
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/rapid7_insightvm/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/rapid7_insightvm/data_stream/asset/_dev/test/pipeline/test-common-config.yml
  packages/rapid7_insightvm/data_stream/asset/_dev/test/system/test-default-config.yml
  packages/rapid7_insightvm/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/rapid7_insightvm/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/data_stream/asset/fields/base-fields.yml
  packages/rapid7_insightvm/data_stream/asset/fields/beats.yml
  packages/rapid7_insightvm/data_stream/asset/fields/fields.yml
  packages/rapid7_insightvm/data_stream/asset/manifest.yml
  packages/rapid7_insightvm/data_stream/asset/sample_event.json
  packages/rapid7_insightvm/data_stream/vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/rapid7_insightvm/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/rapid7_insightvm/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/rapid7_insightvm/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/rapid7_insightvm/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/rapid7_insightvm/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/data_stream/vulnerability/fields/base-fields.yml
  packages/rapid7_insightvm/data_stream/vulnerability/fields/beats.yml
  packages/rapid7_insightvm/data_stream/vulnerability/fields/fields.yml
  packages/rapid7_insightvm/data_stream/vulnerability/manifest.yml
  packages/rapid7_insightvm/data_stream/vulnerability/sample_event.json
  packages/rapid7_insightvm/docs/README.md
  packages/rapid7_insightvm/img/rapid7-insightvm-asset-dashboard.png
  packages/rapid7_insightvm/img/rapid7-insightvm-logo-dark.svg
  packages/rapid7_insightvm/img/rapid7-insightvm-logo.svg
  packages/rapid7_insightvm/img/rapid7-insightvm-vulnerability-dashboard.png
  packages/rapid7_insightvm/kibana/dashboard/rapid7_insightvm-a1345db0-b725-11ed-9179-55e576c8acae.json
  packages/rapid7_insightvm/kibana/dashboard/rapid7_insightvm-ae7bd8c0-b71d-11ed-9179-55e576c8acae.json
  packages/rapid7_insightvm/kibana/search/rapid7_insightvm-0f8409c0-b733-11ed-9179-55e576c8acae.json
  packages/rapid7_insightvm/kibana/search/rapid7_insightvm-1ae3add0-b732-11ed-9179-55e576c8acae.json
  packages/rapid7_insightvm/manifest.yml
Labels: Team:Security-External Integrations, New Integration

#5804 network_traffic: fix passing of period and timeout parameters to agent
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-http-get-2k-file-config.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-icmp-2-pings-config.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-icmp4-ping-config.yml
  packages/network_traffic/data_stream/flow/_dev/test/system/test-icmp6-ping-config.yml
  packages/network_traffic/data_stream/flow/agent/stream/flow.yml.hbs
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#5813 [Synthetics] include body max bytes
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/agent/stream/browser.yml.hbs
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/http/agent/stream/http.yml.hbs
  packages/synthetics/manifest.yml
Labels: bug, Team:Uptime, v8.8.0

#5790 [AWS] Add missing permissions required by the CloudWatch logs integration
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
Labels: documentation, Team:Cloud-Monitoring

#5747 [O11y][PostgreSQL] Lens migration for `Overview` dashboard visualizations to Kibana version 8.4.0
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/bgwriter/fields/agent.yml
  packages/postgresql/data_stream/bgwriter/fields/ecs.yml
  packages/postgresql/data_stream/database/fields/agent.yml
  packages/postgresql/data_stream/database/fields/fields.yml
  packages/postgresql/img/logs-overview.png
  packages/postgresql/kibana/dashboard/postgresql-158be870-87f4-11e7-ad9c-db80de0bf8d3.json
  packages/postgresql/kibana/search/postgresql-PostgreSQL All Logs.json
  packages/postgresql/kibana/search/postgresql-all-logs.json
  packages/postgresql/kibana/visualization/postgresql-3dbd5370-87f3-11e7-ad9c-db80de0bf8d3.json
  packages/postgresql/kibana/visualization/postgresql-PostgreSQL Log Level Count.json
  packages/postgresql/manifest.yml
Labels: enhancement, Integration:PostgreSQL, v8.4.0

#5748 [O11y][PostgreSQL] Lens migration for `Database Overview` visualizations to Kibana version 8.4.0
  packages/postgresql/changelog.yml
  packages/postgresql/img/metrics-overview.png
  packages/postgresql/kibana/dashboard/postgresql-4288b790-b79f-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-0cb65170-b909-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-147875b0-b903-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-20931ef0-b79a-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-570973a0-b798-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-66d67200-b799-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-960ecdf0-b79a-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-98e6b0a0-b79b-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-d733c630-b797-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-e2b28ce0-b908-11e9-a579-f5c0a5d81340.json
  packages/postgresql/kibana/visualization/postgresql-fbfa67e0-b796-11e9-a579-f5c0a5d81340.json
  packages/postgresql/manifest.yml
Labels: enhancement, Integration:PostgreSQL, v8.4.0, Team:Service-Integrations

#5749 [O11y][PostgreSQL] Lens migration for `Query Duration Overview` visualizations to Kibana version 8.4.0
  packages/postgresql/changelog.yml
  packages/postgresql/img/logs-slowlog-overview.png
  packages/postgresql/kibana/dashboard/postgresql-e4c5f230-87f3-11e7-ad9c-db80de0bf8d3.json
  packages/postgresql/kibana/search/postgresql-PostgreSQL Query Durations.json
  packages/postgresql/kibana/search/postgresql-Slow PostgreSQL Queries.json
  packages/postgresql/kibana/search/postgresql-query-durations.json
  packages/postgresql/kibana/search/postgresql-slow-postgresql-queries.json
  packages/postgresql/kibana/visualization/postgresql-PostgreSQL Query Count and Duration.json
  packages/postgresql/manifest.yml
Labels: enhancement, Integration:PostgreSQL, v8.4.0, Team:Service-Integrations

#5791 [AWS] Add missing permissions in the AWS Billing integration documentation
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
Labels: documentation, Team:Cloud-Monitoring

#5825 [Akamai] Add toggle to enable request tracing
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/system/test-default-config.yml
  packages/akamai/data_stream/siem/agent/stream/httpjson.yml.hbs
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Akamai

#5827 [Akamai] Use 'offset' value as cursor
  packages/akamai/_dev/deploy/docker/files/config.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/system/test-default-config.yml
  packages/akamai/data_stream/siem/agent/stream/httpjson.yml.hbs
  packages/akamai/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Akamai

#5810 [O11y][Vsphere] Migrate `Hosts Overview` dashboard visualizations to lens in kibana 8.7.0
  packages/vsphere/changelog.yml
  packages/vsphere/img/vsphere_dashboard.png
  packages/vsphere/kibana/dashboard/vsphere-a2d04970-0336-11ed-80a3-e31802c6cc3f.json
  packages/vsphere/kibana/search/vsphere-1411b690-f017-11e9-aaf3-15199b632da7.json
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vSphere, v8.7.0, Team:Service-Integrations

#5811 [O11y][Vsphere] Migrate `VMs Overview` dashboard visualizations to lens in kibana 8.7.0
  packages/vsphere/changelog.yml
  packages/vsphere/img/vsphere_vm_dashboard.png
  packages/vsphere/kibana/dashboard/vsphere-6ef55590-0337-11ed-80a3-e31802c6cc3f.json
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vSphere, v8.7.0, Team:Service-Integrations

#5636 [O11y][Apache] Migrate `Metrics overview` dashboard visualizations to lens in kibana 8.3.0
  packages/apache/changelog.yml
  packages/apache/img/apache-metrics-overview.png
  packages/apache/kibana/dashboard/apache-Metrics-Apache-HTTPD-server-status.json
  packages/apache/kibana/search/apache-HTTPD.json
  packages/apache/kibana/visualization/apache-22057f20-3a12-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-320cd980-3a36-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-47820ce0-3a1d-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-7724cf20-3a39-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-7d68f730-3a39-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-805d7bb0-3a10-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-99666080-3a20-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-HTTPD-CPU.json
  packages/apache/kibana/visualization/apache-HTTPD-Load1-slash-5-slash-15.json
  packages/apache/kibana/visualization/apache-HTTPD-Scoreboard.json
  packages/apache/kibana/visualization/apache-a45311f0-3a34-11eb-8946-296aab7b13db.json
  packages/apache/kibana/visualization/apache-f4ffec70-3a36-11eb-8946-296aab7b13db.json
  packages/apache/manifest.yml
Labels: enhancement, Integration:Apache, v8.3.0, Team:Service-Integrations

#5776 [stack monitoring] add explicit mapping for timestamps
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/audit/fields/ecs.yml
  packages/elasticsearch/data_stream/deprecation/fields/ecs.yml
  packages/elasticsearch/data_stream/gc/fields/ecs.yml
  packages/elasticsearch/data_stream/server/fields/ecs.yml
  packages/elasticsearch/data_stream/slowlog/fields/ecs.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/data_stream/audit/fields/ecs.yml
  packages/kibana/data_stream/log/fields/ecs.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/fields/ecs.yml
  packages/logstash/data_stream/slowlog/fields/ecs.yml
  packages/logstash/manifest.yml
Labels: bug, Integration:Elasticsearch, Integration:Kibana, Integration:Logstash, Team:Infra Monitoring UI

#5658 [O11y][Redis] Migrate `Metrics Overview` dashboard visualizations to lens in kibana 8.3.0
  packages/redis/changelog.yml
  packages/redis/img/metricbeat_redis_overview_dashboard.png
  packages/redis/kibana/dashboard/redis-AV4YjZ5pux-M-tCAunxK.json
  packages/redis/kibana/visualization/redis-Clients-Metrics.json
  packages/redis/kibana/visualization/redis-Connected-clients.json
  packages/redis/kibana/visualization/redis-Keyspaces.json
  packages/redis/kibana/visualization/redis-Server-Versions.json
  packages/redis/kibana/visualization/redis-hosts.json
  packages/redis/kibana/visualization/redis-multiplexing-API.json
  packages/redis/kibana/visualization/redis-server-mode.json
  packages/redis/manifest.yml
Labels: enhancement, Integration:Redis, v8.3.0, Team:Service-Integrations

#5659 [O11y][Redis] Migrate `Key Metrics` dashboard visualizations to lens in kibana 8.3.0
  packages/redis/changelog.yml
  packages/redis/img/metricbeat_redis_key_dashboard.png
  packages/redis/kibana/dashboard/redis-28969190-0511-11e9-9c60-d582a238e2c5.json
  packages/redis/kibana/search/redis-Metrics-Redis.json
  packages/redis/kibana/visualization/redis-00d39210-050d-11e9-9c60-d582a238e2c5.json
  packages/redis/kibana/visualization/redis-4435ac40-050e-11e9-9c60-d582a238e2c5.json
  packages/redis/kibana/visualization/redis-517a5fd0-0514-11e9-9c60-d582a238e2c5.json
  packages/redis/kibana/visualization/redis-7f4bc7d0-050c-11e9-9c60-d582a238e2c5.json
  packages/redis/kibana/visualization/redis-8541a4a0-0513-11e9-9c60-d582a238e2c5.json
  packages/redis/manifest.yml
Labels: enhancement, Integration:Redis, v8.3.0, Team:Service-Integrations

#5661 [O11y][Redis] Migrate `Logs Overview` dashboard visualizations to lens in kibana 8.3.0
  packages/redis/changelog.yml
  packages/redis/img/kibana-redis.png
  packages/redis/kibana/dashboard/redis-7fea2930-478e-11e7-b1f0-cb29bac6bf8b.json
  packages/redis/kibana/search/redis-0ab87b80-478e-11e7-b1f0-cb29bac6bf8b.json
  packages/redis/kibana/search/redis-73613570-4791-11e7-be88-2ddb32f3df97.json
  packages/redis/kibana/visualization/redis-78b9afe0-478f-11e7-b1f0-cb29bac6bf8b.json
  packages/redis/kibana/visualization/redis-d2864600-478f-11e7-be88-2ddb32f3df97.json
  packages/redis/kibana/visualization/redis-dcccaa80-4791-11e7-be88-2ddb32f3df97.json
  packages/redis/manifest.yml
Labels: enhancement, Integration:Redis, v8.3.0, Team:Service-Integrations

#5814 [O11Y][CoreDNS] Fix coredns reference error in overview dashboard
  packages/coredns/changelog.yml
  packages/coredns/img/coredns-overview.png
  packages/coredns/kibana/visualization/coredns-3ad75810-4429-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-75743f70-443c-11e9-8548-ab7fbe04f038.json
  packages/coredns/manifest.yml
Labels: bug, Integration:CoreDNS, Team:Service-Integrations

#5789 [cisco_secure_email_gateway] Fix grok pattern and timezone in consolidated pipeline.
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/data_stream/log/sample_event.json
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:CiscoSecureEmailGateway

#5794 [AWS] Add `number_of_workers` and `latency` to all CloudWatch Logs based integrations
  packages/aws/_dev/build/docs/cloudtrail.md
  packages/aws/_dev/build/docs/cloudwatch.md
  packages/aws/_dev/build/docs/ec2.md
  packages/aws/_dev/build/docs/elb.md
  packages/aws/_dev/build/docs/firewall.md
  packages/aws/_dev/build/docs/route53.md
  packages/aws/_dev/build/docs/vpcflow.md
  packages/aws/_dev/build/docs/waf.md
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/cloudwatch_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/cloudwatch_logs/manifest.yml
  packages/aws/data_stream/ec2_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/elb_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/firewall_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/firewall_logs/manifest.yml
  packages/aws/data_stream/route53_public_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/route53_public_logs/manifest.yml
  packages/aws/data_stream/route53_resolver_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/route53_resolver_logs/manifest.yml
  packages/aws/data_stream/vpcflow/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/data_stream/waf/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/waf/manifest.yml
  packages/aws/docs/cloudtrail.md
  packages/aws/docs/cloudwatch.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/firewall.md
  packages/aws/docs/route53.md
  packages/aws/docs/vpcflow.md
  packages/aws/docs/waf.md
  packages/aws/manifest.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
Labels: enhancement, Team:Cloud-Monitoring

#5838 [System/Windows/Winlog] Document 21 Event ID clause limit under certain situations
  packages/system/_dev/build/docs/README.md
  packages/system/changelog.yml
  packages/system/data_stream/application/manifest.yml
  packages/system/data_stream/security/manifest.yml
  packages/system/data_stream/system/manifest.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
  packages/windows/_dev/build/docs/README.md
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/manifest.yml
  packages/windows/data_stream/powershell/manifest.yml
  packages/windows/data_stream/powershell_operational/manifest.yml
  packages/windows/data_stream/sysmon_operational/manifest.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
  packages/winlog/_dev/build/docs/README.md
  packages/winlog/changelog.yml
  packages/winlog/data_stream/winlog/fields/agent.yml
  packages/winlog/data_stream/winlog/manifest.yml
  packages/winlog/docs/README.md
  packages/winlog/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows, Integration:System, docs, Integration:Custom Windows Events

#5757 [O11y][Oracle] Migrate `Sysmetrics` dashboard visualizations to lens in kibana 8.6.0
  packages/oracle/changelog.yml
  packages/oracle/img/Oracle-sysmetrics-dashboard-2.png
  packages/oracle/img/Oracle-sysmetrics-dashboard.png
  packages/oracle/kibana/dashboard/oracle-59eeb380-08d7-11ed-9abf-15e60715cfab.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:Oracle, Team:Service-Integrations

#5821 [O11y][CoreDNS] Migrate CoreDNS visualizations to lens in kibana 8.0.0
  packages/coredns/changelog.yml
  packages/coredns/img/coredns-overview.png
  packages/coredns/kibana/dashboard/coredns-8a1ad3ad-2439-452f-ae43-9e10fc076b7c.json
  packages/coredns/kibana/search/coredns-68cdcad8-9525-4f0e-9e6a-0bfe87076537.json
  packages/coredns/kibana/visualization/coredns-3ad75810-4429-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-75743f70-443c-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-9dc640e0-4432-11e9-8548-ab7fbe04f038.json
  packages/coredns/kibana/visualization/coredns-cfde7fb0-443d-11e9-8548-ab7fbe04f038.json
  packages/coredns/manifest.yml
Labels: enhancement, Integration:CoreDNS, v8.0.0, Team:Service-Integrations

#5724 [O11y][IIS] Migrate `Access and error logs` dashboard visualizations to lens in kibana 8.5.0
  packages/iis/changelog.yml
  packages/iis/img/kibana-iis.png
  packages/iis/kibana/dashboard/iis-4278ad30-fe16-11e7-a3b0-d13028918f9f.json
  packages/iis/kibana/map/iis-0ac17980-e1d8-11ec-baf0-970634a1784d.json
  packages/iis/manifest.yml
Labels: enhancement, Integration:IIS, v8.5.0, Team:Service-Integrations

#5786 [O11y][Oracle] Migrate `Memory` dashboard visualizations to lens in kibana 8.6.0
  packages/oracle/changelog.yml
  packages/oracle/img/Oracle-memory-dashboard.png
  packages/oracle/kibana/dashboard/oracle-bdb780f0-156a-11ed-9607-2ba0819b3835.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:Oracle, v8.6.0, Team:Service-Integrations

#5725 [O11y][IIS] Migrate `Webserver Process Overview` dashboard visualizations to lens in kibana 8.5.0
  packages/iis/changelog.yml
  packages/iis/img/metricbeat-iis-webserver-process.png
  packages/iis/kibana/dashboard/iis-2c171500-858b-11ea-91bc-ab084c7ec0e7.json
  packages/iis/manifest.yml
Labels: enhancement, Integration:IIS, v8.5.0, Team:Service-Integrations

#5726 [O11y][IIS] Migrate `Website Overview` dashboard visualizations to lens in kibana 8.5.0
  packages/iis/changelog.yml
  packages/iis/img/metricbeat-iis-website-overview.png
  packages/iis/kibana/dashboard/iis-4b975820-85a1-11ea-91bc-ab084c7ec0e7.json
  packages/iis/manifest.yml
Labels: enhancement, Integration:IIS, v8.5.0, Team:Service-Integrations

#5754 [O11y][Oracle] Migrate `Tablespace` dashboard visualizations to lens in kibana 8.6.0
  packages/oracle/changelog.yml
  packages/oracle/img/Oracle-tablespace-dashboard.png
  packages/oracle/kibana/dashboard/oracle-9e19fb00-08e1-11ed-9abf-15e60715cfab.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:Oracle, Team:Service-Integrations

#5728 [O11y][IIS] Migrate `Application Pool Overview` dashboard visualizations to lens in kibana 8.5.0
  packages/iis/changelog.yml
  packages/iis/img/metricbeat-iis-application-pool-overview.png
  packages/iis/kibana/dashboard/iis-b4108810-861c-11ea-91bc-ab084c7ec0e7.json
  packages/iis/manifest.yml
Labels: enhancement, Integration:IIS, v8.5.0, Team:Service-Integrations

#5815 [O11y][Oracle] Migrate `System Statistics` dashboard visualizations to kibana 8.6.0
  packages/oracle/changelog.yml
  packages/oracle/img/Oracle-system_statistics-dashboard.png
  packages/oracle/kibana/dashboard/oracle-b6b2c9f0-13a7-11ed-9607-2ba0819b3835.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:Oracle, v8.6.0, Team:Service-Integrations

#5758 [O11y][Oracle] Migrate `Performance` dashboard visualizations to lens in kibana 8.6.0
  packages/oracle/changelog.yml
  packages/oracle/img/Oracle-performance-dashboard.png
  packages/oracle/kibana/dashboard/oracle-6b4866c0-1599-11ed-9607-2ba0819b3835.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:Oracle, Team:Service-Integrations

#5539 cel: new generic integration
  .github/CODEOWNERS
  packages/cel/_dev/deploy/docker/docker-compose.yml
  packages/cel/_dev/deploy/docker/files/config.yml
  packages/cel/_dev/test/system/test-get-config.yml
  packages/cel/_dev/test/system/test-oauth-config.yml
  packages/cel/_dev/test/system/test-oauth-scope-config.yml
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/docs/README.md
  packages/cel/fields/input.yml
  packages/cel/manifest.yml
  packages/cel/sample_event.json
Labels: enhancement, Team:Security-External Integrations

#5836 [D4C] kubernetes category added. trace_point now hook_point
  packages/cloud_defend/_dev/build/build.yml
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/alerts/fields/fields.yml
  packages/cloud_defend/data_stream/file/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/file/fields/fields.yml
  packages/cloud_defend/data_stream/process/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/process/fields/fields.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/kibana/index_pattern/cloud_defend-42ae0e4c-d963-4661-a507-16e45a793fc2.json
  packages/cloud_defend/manifest.yml
Labels: enhancement

#5841 Adding vulnerability management period and removing region
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, 8.8-candidate, Team:Cloud Security, 8.8 candidate

#5870 [O11y][WebSphere Application Server] Release Session Manager, Servlet, Threadpool lens migration work
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/manifest.yml
Labels: enhancement, v8.3.0, Team:Service-Integrations, Integration:WebsphereApplicationServer

#5882 [Oracle WebLogic] Add host.ip field
  packages/oracle_weblogic/_dev/build/docs/README.md
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/admin_server/fields/ecs.yml
  packages/oracle_weblogic/data_stream/deployed_application/fields/ecs.yml
  packages/oracle_weblogic/data_stream/threadpool/fields/ecs.yml
  packages/oracle_weblogic/docs/README.md
  packages/oracle_weblogic/manifest.yml
Labels: bug, Team:Service-Integrations, Integration:oracle_weblogic

#5874 [Cloud Security Posture] Update CloudFormation template format
  packages/cloud_security_posture/manifest.yml
Labels: v8.8.0, Team:Cloud Security

#5897 [Barracuda] Fix indentation issue in System tests
  packages/barracuda/data_stream/waf/_dev/test/system/test-logfile-config.yml
  packages/barracuda/data_stream/waf/_dev/test/system/test-tcp-config.yml
  packages/barracuda/data_stream/waf/_dev/test/system/test-tls-config.yml
  packages/barracuda/data_stream/waf/_dev/test/system/test-udp-config.yml
Labels: bug

#5768 [m365_defender] Update event.kind to alert for Incident data stream and handle null v…
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: Team:Security-External Integrations, Integration: M365_Defender

#5840 [o365] New field detected: FileSizeBytes
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Team:Security-External Integrations, Integration:o365

#5908 ti_misp: harmonise distribution type to long
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat/fields/fields.yml
  packages/ti_misp/data_stream/threat/sample_event.json
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat_attributes/fields/fields.yml
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MISP

#5745 [tenable.io] Update data collection and pipeline by adding state filter and ecs fields respectively
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/asset/sample_event.json
  packages/tenable_io/data_stream/plugin/_dev/test/pipeline/test-plugin.log-expected.json
  packages/tenable_io/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/plugin/sample_event.json
  packages/tenable_io/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/tenable_io/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/vulnerability/fields/ecs.yml
  packages/tenable_io/data_stream/vulnerability/sample_event.json
  packages/tenable_io/docs/README.md
  packages/tenable_io/kibana/dashboard/tenable_io-84586900-1ed4-11ed-bad4-551c615a34d1.json
  packages/tenable_io/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Tenable.io

#5808 [google_workspace] Set event categorization for Token data stream.
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/access_transparency/sample_event.json
  packages/google_workspace/data_stream/admin/sample_event.json
  packages/google_workspace/data_stream/alert/sample_event.json
  packages/google_workspace/data_stream/context_aware_access/sample_event.json
  packages/google_workspace/data_stream/device/sample_event.json
  packages/google_workspace/data_stream/drive/sample_event.json
  packages/google_workspace/data_stream/gcp/sample_event.json
  packages/google_workspace/data_stream/group_enterprise/sample_event.json
  packages/google_workspace/data_stream/groups/sample_event.json
  packages/google_workspace/data_stream/login/sample_event.json
  packages/google_workspace/data_stream/rules/sample_event.json
  packages/google_workspace/data_stream/saml/sample_event.json
  packages/google_workspace/data_stream/token/_dev/test/pipeline/test-token.log-expected.json
  packages/google_workspace/data_stream/token/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/token/sample_event.json
  packages/google_workspace/data_stream/user_accounts/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Google Workspace

#5565 [ZScaler ZPA] Fix PosturesHit and PosturesMiss parsing
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/user_status/_dev/test/pipeline/test-user-status.log
  packages/zscaler_zpa/data_stream/user_status/_dev/test/pipeline/test-user-status.log-expected.json
  packages/zscaler_zpa/data_stream/user_status/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:ZscalerZPA

#5638 Add Azure AD Entity Analytics Integration
  .github/CODEOWNERS
  packages/entityanalytics_azure/LICENSE.txt
  packages/entityanalytics_azure/_dev/build/build.yml
  packages/entityanalytics_azure/_dev/build/docs/README.md
  packages/entityanalytics_azure/_dev/deploy/docker/docker-compose.yml
  packages/entityanalytics_azure/_dev/deploy/docker/files/config.yml
  packages/entityanalytics_azure/changelog.yml
  packages/entityanalytics_azure/data_stream/users/_dev/test/pipeline/test-users.json
  packages/entityanalytics_azure/data_stream/users/_dev/test/pipeline/test-users.json-expected.json
  packages/entityanalytics_azure/data_stream/users/_dev/test/system/test-default-config.yml
  packages/entityanalytics_azure/data_stream/users/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_azure/data_stream/users/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_azure/data_stream/users/fields/agent.yml
  packages/entityanalytics_azure/data_stream/users/fields/base-fields.yml
  packages/entityanalytics_azure/data_stream/users/fields/beats.yml
  packages/entityanalytics_azure/data_stream/users/fields/ecs.yml
  packages/entityanalytics_azure/data_stream/users/fields/fields.yml
  packages/entityanalytics_azure/data_stream/users/manifest.yml
  packages/entityanalytics_azure/data_stream/users/sample_event.json
  packages/entityanalytics_azure/docs/README.md
  packages/entityanalytics_azure/img/logo-azure.svg
  packages/entityanalytics_azure/manifest.yml
Labels: enhancement, Team:Security-External Integrations, v8.8.0

#5902 [D4C] change resource.label and resource.annotation to keyword type
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/fields/fields.yml
  packages/cloud_defend/data_stream/file/fields/fields.yml
  packages/cloud_defend/data_stream/process/fields/fields.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: enhancement

#5873 synthetics - add rc1 for GA release
  packages/synthetics/changelog.yml
  packages/synthetics/manifest.yml
Labels: Team:Uptime, v8.8.0

#5862 [Cloud Security] Update vulnerability management integration title and docs
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/docs/README.md
  packages/cloud_security_posture/docs/vuln_mgmt.md
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#5889 mimecast: add option to enable http request trace logging for debugging
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/audit_events/manifest.yml
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/manifest.yml
  packages/mimecast/data_stream/siem_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/siem_logs/manifest.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_customer/manifest.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/manifest.yml
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/manifest.yml
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/manifest.yml
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/manifest.yml
  packages/mimecast/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Mimecast

#5887 pulse_connect_secure: allow user-defined TCP options
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/agent/stream/tcp.yml.hbs
  packages/pulse_connect_secure/data_stream/log/manifest.yml
  packages/pulse_connect_secure/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:PulseConnectSecure

#5903 network_traffic: fix flows dashboard
  packages/network_traffic/changelog.yml
  packages/network_traffic/kibana/dashboard/network_traffic-65120940-1454-11e9-9de0-f98d1808db8e.json
  packages/network_traffic/kibana/dashboard/network_traffic-a7b35890-8baa-11e8-9676-ef67484126fb.json
  packages/network_traffic/kibana/dashboard/network_traffic-cassandra.json
  packages/network_traffic/kibana/dashboard/network_traffic-dashboard.json
  packages/network_traffic/kibana/dashboard/network_traffic-dns-unique-domains.json
  packages/network_traffic/kibana/dashboard/network_traffic-flows.json
  packages/network_traffic/kibana/dashboard/network_traffic-http.json
  packages/network_traffic/kibana/dashboard/network_traffic-mongodb-performance.json
  packages/network_traffic/kibana/dashboard/network_traffic-mysql-performance.json
  packages/network_traffic/kibana/dashboard/network_traffic-nfs.json
  packages/network_traffic/kibana/dashboard/network_traffic-pgsql-performance.json
  packages/network_traffic/kibana/dashboard/network_traffic-thrift-performance.json
  packages/network_traffic/kibana/dashboard/network_traffic-tls-sessions.json
  packages/network_traffic/kibana/search/network_traffic-651fd6d0-88d0-11e7-ad9c-db80de0bf8d3.json
  packages/network_traffic/kibana/search/network_traffic-6b1b1360-d49d-11e7-996f-bd7c1ca4591b.json
  packages/network_traffic/kibana/search/network_traffic-71908f00-88ca-11e7-ad9c-db80de0bf8d3.json
  packages/network_traffic/kibana/search/network_traffic-8e2af860-d520-11e7-9fff-7b1ebf397ba9.json
  packages/network_traffic/kibana/search/network_traffic-8f0ff590-d37d-11e7-9914-4982455b3063.json
  packages/network_traffic/kibana/search/network_traffic-94908e80-d2d8-11e7-9914-4982455b3063.json
  packages/network_traffic/kibana/search/network_traffic-b8992150-8ba8-11e8-9676-ef67484126fb.json
  packages/network_traffic/kibana/search/network_traffic-bf3d23b0-d37c-11e7-9914-4982455b3063.json
  packages/network_traffic/kibana/search/network_traffic-cassandra-queryview.json
  packages/network_traffic/kibana/search/network_traffic-d19e8485-7df5-47ce-8009-9dc3c42bcf17.json
  packages/network_traffic/kibana/search/network_traffic-eaa83e60-190b-11e9-be0d-adde5066235e.json
  packages/network_traffic/kibana/search/network_traffic-ffc3c0b0-d2d7-11e7-9914-4982455b3063.json
  packages/network_traffic/kibana/search/network_traffic-mongodb-transactions-with-write-concern-0.json
  packages/network_traffic/kibana/search/network_traffic-mongodb-transactions.json
  packages/network_traffic/kibana/search/network_traffic-mysql-errors.json
  packages/network_traffic/kibana/search/network_traffic-mysql-transactions.json
  packages/network_traffic/kibana/search/network_traffic-nfs-errors-search.json
  packages/network_traffic/kibana/search/network_traffic-nfs.json
  packages/network_traffic/kibana/search/network_traffic-pgsql-errors.json
  packages/network_traffic/kibana/search/network_traffic-pgsql-transactions.json
  packages/network_traffic/kibana/search/network_traffic-search.json
  packages/network_traffic/kibana/search/network_traffic-thrift-errors.json
  packages/network_traffic/kibana/search/network_traffic-thrift-transactions.json
  packages/network_traffic/kibana/search/network_traffic-transactions-errors.json
  packages/network_traffic/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Network Packet Capture

#5886 panw: allow dollar sign at the end of a user name
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:PANW

#5805 cloudflare: safe escape authentication keys
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/cloudflare/data_stream/logpull/agent/stream/httpjson.yml.hbs
  packages/cloudflare/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare

#5914 [LastPass] Change the default timezone to ET
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/event_report/_dev/test/pipeline/test-event-report.log-expected.json
  packages/lastpass/data_stream/event_report/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Lastpass

#5888 network_traffic: allow integration users to specify npcap.never_install
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/agent/stream/amqp.yml.hbs
  packages/network_traffic/data_stream/cassandra/agent/stream/cassandra.yml.hbs
  packages/network_traffic/data_stream/dhcpv4/agent/stream/dhcpv4.yml.hbs
  packages/network_traffic/data_stream/dns/agent/stream/dns.yml.hbs
  packages/network_traffic/data_stream/flow/agent/stream/flow.yml.hbs
  packages/network_traffic/data_stream/http/agent/stream/http.yml.hbs
  packages/network_traffic/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/network_traffic/data_stream/memcached/agent/stream/memcached.yml.hbs
  packages/network_traffic/data_stream/mongodb/agent/stream/mongodb.yml.hbs
  packages/network_traffic/data_stream/mysql/agent/stream/mysql.yml.hbs
  packages/network_traffic/data_stream/nfs/agent/stream/nfs.yml.hbs
  packages/network_traffic/data_stream/pgsql/agent/stream/pgsql.yml.hbs
  packages/network_traffic/data_stream/redis/agent/stream/redis.yml.hbs
  packages/network_traffic/data_stream/sip/agent/stream/sip.yml.hbs
  packages/network_traffic/data_stream/thrift/agent/stream/thrift.yml.hbs
  packages/network_traffic/data_stream/tls/agent/stream/tls.yml.hbs
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture

#5893 [O11y][CouchBase] Update visualization name and categories
  packages/couchbase/changelog.yml
  packages/couchbase/img/couchbase-node-dashboard.png
  packages/couchbase/kibana/dashboard/couchbase-90c39130-4605-11ed-9baf-d1d2c660068a.json
  packages/couchbase/manifest.yml
Labels: bug, Integration:Couchbase, Team:Service-Integrations

#5916 [DOCS] Update CONTRIBUTING.md with Docs Guidelines link
  CONTRIBUTING.md
Labels: documentation, Team:Docs, docs

#5915 [Cloud Security] [CNVM] Added mappings to vulnerability
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/base-fields.yml
  packages/cloud_security_posture/data_stream/findings/fields/cloudbeat.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/base-fields.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/ecs.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/resource.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/vulnerability.yml
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-07a5e6d6-982d-4c7c-a845-5f2be43279c9.json
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-c406d945-a359-4c04-9a6a-65d66de8706b.json
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security

#5904 cloudflare_logpush: fix mapping of url fields
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log-expected.json
  packages/cloudflare_logpush/data_stream/firewall_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/firewall_event/fields/ecs.yml
  packages/cloudflare_logpush/data_stream/firewall_event/sample_event.json
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Cloudflare Logpush

#5927 [Carbon Black Cloud] Cleanup fields based on Alert API doc
  packages/carbon_black_cloud/_dev/deploy/docker/files/config.yml
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/carbon_black_cloud/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/alert/fields/ecs.yml
  packages/carbon_black_cloud/data_stream/alert/fields/fields.yml
  packages/carbon_black_cloud/data_stream/alert/sample_event.json
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/sample_event.json
  packages/carbon_black_cloud/data_stream/audit/sample_event.json
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/kibana/search/carbon_black_cloud-b23c6730-3a6e-11ed-a8e8-41eb8778c6de.json
  packages/carbon_black_cloud/manifest.yml
Labels: bug, Integration:CarbonBlackCloud, docs

#5920 [InfluxDB] Add additional dimension field for advstatus datastream
  packages/influxdb/changelog.yml
  packages/influxdb/data_stream/advstatus/fields/fields.yml
  packages/influxdb/docs/README.md
  packages/influxdb/manifest.yml
Labels: Integration:InfluxDB

#5898 [Cloud Security] Set default CSPM period
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
Labels: enhancement, Team:Cloud Security

#5896 [Fleet] Remove host and port for Fleet Server
  packages/fleet_server/agent/input/agent.yml.hbs
  packages/fleet_server/changelog.yml
  packages/fleet_server/manifest.yml
Labels: Team:Fleet

#5872 [Cloud Security] Add orchestrator.cluster.id to the index mapping
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#5884 [ci] - Test skipping publishing step for daily 7.17 and 8.x test jobs
  .ci/Jenkinsfile
  .ci/schedule-daily.groovy
Labels: ci, Team:Fleet, Team:Ecosystem

#5937 Added build manifest setting ECS reference
  packages/cel/_dev/build/build.yml
  packages/cel/changelog.yml
  packages/cel/manifest.yml
  packages/jolokia_input/_dev/build/build.yml
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/manifest.yml
Labels: bug, Team:Fleet

#5930 Universal Profiling: add package for agent
  .github/CODEOWNERS
  packages/universal_profiling_agent/agent/input/input.yml.hbs
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/docs/README.md
  packages/universal_profiling_agent/img/flamegraph-overview.png
  packages/universal_profiling_agent/img/profiler-logo-color-48px.svg
  packages/universal_profiling_agent/manifest.yml
Labels: enhancement, Team:Integrations, v8.8.0

#5942 mysql_enterprise: fix handling of streaming data sent as partial array object
  packages/mysql_enterprise/changelog.yml
  packages/mysql_enterprise/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/mysql_enterprise/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MySQL

#5964 windows: update tests expectations to match processor behaviour
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-sysmon-operational-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Windows

#5948 [Cisco ASA] Fix parsing issue for 313005 #5946
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
Labels: bug, Team:Security-External Integrations

#5967 cisco_asa: add support for 722011, 722033 and 722034 and fix 722037 and 722051
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: bug, enhancement, Team:Security-External Integrations, Integration:CiscoASA

#5879 Universal Profiling: add package for symbolizer
  .github/CODEOWNERS
  packages/universal_profiling_symbolizer/changelog.yml
  packages/universal_profiling_symbolizer/docs/README.md
  packages/universal_profiling_symbolizer/img/profiler-logo-color-48px.svg
  packages/universal_profiling_symbolizer/manifest.yml
Labels: enhancement, v8.8.0

#5975 Fix schedule daily job
  .ci/schedule-daily.groovy
Labels: bug, ci

#5980 [Windows] Add event.category and event.type to Sysmon Operational
  packages/windows/changelog.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Windows

#5890 Convert Journald integration to input type
  packages/journald/_dev/build/build.yml
  packages/journald/_dev/build/docs/README.md
  packages/journald/_dev/test/system/test-journald-config.yml
  packages/journald/agent/input/journald.yml.hbs
  packages/journald/changelog.yml
  packages/journald/data_stream/log/manifest.yml
  packages/journald/docs/README.md
  packages/journald/elasticsearch/ingest_pipeline/default.yml
  packages/journald/fields/agent.yml
  packages/journald/fields/base-fields.yml
  packages/journald/fields/ecs.yml
  packages/journald/fields/input.yml
  packages/journald/manifest.yml
  packages/journald/sample_event.json
Labels: enhancement, Team:Security-External Integrations, Integration:journald

#5951 [Synthetics] Release Synthetics Integration as GA.
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/browser_network/manifest.yml
  packages/synthetics/data_stream/browser_screenshot/manifest.yml
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: Team:Uptime

#5985 [D4C] Doc updates
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/file/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/process/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: enhancement

#5922 [CEL] Modify the resource tracer filename to add instanceID
  packages/cel/_dev/test/system/test-get-config.yml
  packages/cel/_dev/test/system/test-oauth-config.yml
  packages/cel/_dev/test/system/test-oauth-scope-config.yml
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Team:Security-External Integrations, 8.8 candidate

#5966 ti_recordedfuture: scrape provider details from evidence fields
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-domain-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-hash-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-ip-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/data_stream/threat/sample_event.json
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Recorded Future

#5972 network_traffic: allow user-defined processors on flows
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/flow/agent/stream/flow.yml.hbs
  packages/network_traffic/data_stream/flow/manifest.yml
  packages/network_traffic/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Network Packet Capture

#4157 Add syslog source - macos system.log
  packages/system/changelog.yml
  packages/system/data_stream/syslog/manifest.yml
  packages/system/manifest.yml
Labels: Team:Elastic-Agent

#5965 ti_misp: add toggle to enable request tracing
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat/manifest.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/manifest.yml
  packages/ti_misp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MISP

#5981 Use docker-compose v2 to run tests in CI
  .ci/Jenkinsfile
  packages/influxdb/_dev/deploy/docker/docker-compose.yml
Labels: ci

#6017 [Elasticseach] [Kibana] Add host ip mapping
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/deprecation/fields/ecs.yml
  packages/elasticsearch/data_stream/gc/fields/ecs.yml
  packages/elasticsearch/data_stream/server/fields/ecs.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
  packages/kibana/_dev/deploy/docker/config/kibana.yml
  packages/kibana/changelog.yml
  packages/kibana/data_stream/log/fields/ecs.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: bug, Integration:Elasticsearch, Integration:Kibana, Team:Infra Monitoring UI

#5917 ti_misp: harmonise object fields between datastreams
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat/fields/fields.yml
  packages/ti_misp/data_stream/threat/sample_event.json
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat_attributes/sample_event.json
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:MISP

#6025 [google_workspace] Link security labs blog post in the readme
  packages/google_workspace/_dev/build/docs/README.md
  packages/google_workspace/changelog.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: documentation, enhancement, Team:Security-External Integrations, Integration:Google Workspace

#4941 [salesforce] Implement `login_stream` data stream for Salesforce
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/_dev/deploy/docker/files/config.yml
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/login_stream/_dev/test/pipeline/test-common-config.yml
  packages/salesforce/data_stream/login_stream/_dev/test/pipeline/test-login-stream.log
  packages/salesforce/data_stream/login_stream/_dev/test/pipeline/test-login-stream.log-expected.json
  packages/salesforce/data_stream/login_stream/_dev/test/system/test-default-config.yml
  packages/salesforce/data_stream/login_stream/agent/stream/cometd.yml.hbs
  packages/salesforce/data_stream/login_stream/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/login_stream/fields/base-fields.yml
  packages/salesforce/data_stream/login_stream/fields/ecs.yml
  packages/salesforce/data_stream/login_stream/fields/fields.yml
  packages/salesforce/data_stream/login_stream/manifest.yml
  packages/salesforce/data_stream/login_stream/sample_event.json
  packages/salesforce/docs/README.md
  packages/salesforce/img/salesforce-login.png
  packages/salesforce/kibana/dashboard/salesforce-1659aef0-574c-11ec-8f0b-05e8b06e1b10-pkg.json
  packages/salesforce/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:Salesforce
