Repository elastic/integrations, pull requests merged in 2024-10, with the labels that each got.

#11272 Frontdoor integration types fix
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-fdaccess.log-expected.json
  packages/azure_frontdoor/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/access/fields/fields.yml
  packages/azure_frontdoor/data_stream/access/sample_event.json
  packages/azure_frontdoor/data_stream/waf/fields/fields.yml
  packages/azure_frontdoor/docs/README.md
  packages/azure_frontdoor/manifest.yml
Labels: breaking change, Integration:azure_frontdoor, Team:Security-Service Integrations

#11300 [Security Rules] Update security rules package to v8.12.23
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11301 [Security Rules] Update security rules package to v8.13.18
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11302 [Security Rules] Update security rules package to v8.14.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11067 Handle missing community_id attributes for Cisco and Sophos devices
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-common-config.yml
Labels: Integration:sophos, Integration:cisco_ios, Team:Security-Deployment and Devices

#11239 Add aws.firehose.arn, aws.firehose.request_id and aws.metrics_names_fingerprint fields
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/runtime/fields/fields.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-apigateway-metric.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-apigateway-metric.json-expected.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-multiple-metrics.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-multiple-metrics.json-expected.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-rds-metrics.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-rds-metrics.json-expected.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-s3-daily-storage-metrics.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-s3-daily-storage-metrics.json-expected.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-s3-request-metrics.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-s3-request-metrics.json-expected.json
  packages/awsfirehose/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/awsfirehose/data_stream/metrics/fields/fields.yml
  packages/awsfirehose/data_stream/metrics/routing_rules.yml
  packages/awsfirehose/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:awsfirehose, Team:Security-Service Integrations, Integration:aws_bedrock, Team:obs-ds-hosted-services

#11299 [Santa] Make the ingest pipeline less restrictive with unexpected log formats
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-expected.json
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/data_stream/log/fields/package-fields.yml
  packages/santa/data_stream/log/sample_event.json
  packages/santa/docs/README.md
  packages/santa/manifest.yml
Labels: enhancement, Integration:santa, Team:Security-Service Integrations

#11316 swp_all: use triple-brace templating in complex templates
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/manifest.yml
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcp.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/dhcpv6.yml
  packages/microsoft_dhcp/manifest.yml
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/data_stream/analytical/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/manifest.yml
Labels: Integration:microsoft_dhcp, Integration:hid_bravura_monitor, bugfix, Team:Security-Windows Platform, Integration:microsoft_dnsserver

#11202 [custom_ti] Add support for basic authentication
  packages/ti_custom/_dev/deploy/docker/files/config.yml
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/_dev/test/system/test-stix-config.yml
  packages/ti_custom/data_stream/indicator/_dev/test/system/test-taxii-basic-auth-config.yml
  packages/ti_custom/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_custom/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_custom/data_stream/indicator/manifest.yml
  packages/ti_custom/data_stream/indicator/sample_event.json
  packages/ti_custom/docs/README.md
  packages/ti_custom/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ti_custom

#11308 Add the security capability to the tychon package
  packages/tychon/changelog.yml
  packages/tychon/manifest.yml
Labels: bugfix, Integration:tychon, Team:Security-Service Integrations

#11325 [ti_mandiant_advantage] Fingerprint the full event
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-campaigns-reports-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-fqdn-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-ipv4-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-md5-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-url-event.json-expected.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/elasticsearch/ingest_pipeline/default.yml
  packages/ti_mandiant_advantage/manifest.yml
Labels: bugfix, Integration:ti_mandiant_advantage, Team:Security-Service Integrations

#11313 [cloudflare] Add health check to mock service
  packages/cloudflare/_dev/deploy/docker/docker-compose.yml
  packages/cloudflare/_dev/deploy/docker/logpull-mock-service/main.go
  packages/cloudflare/data_stream/logpull/_dev/test/system/test-default-config.yml
Labels: Integration:cloudflare, bugfix, Team:Security-Service Integrations

#11069 Cisco Meraki metrics package [WIP]
  .github/CODEOWNERS
  packages/cisco_meraki_metrics/_dev/build/build.yml
  packages/cisco_meraki_metrics/_dev/build/docs/README.md
  packages/cisco_meraki_metrics/changelog.yml
  packages/cisco_meraki_metrics/data_stream/device_health/_dev/test/pipeline/test-common-config.yml
  packages/cisco_meraki_metrics/data_stream/device_health/_dev/test/pipeline/test-pipeline-device-health.json
  packages/cisco_meraki_metrics/data_stream/device_health/_dev/test/pipeline/test-pipeline-device-health.json-expected.json
  packages/cisco_meraki_metrics/data_stream/device_health/agent/stream/stream.yml.hbs
  packages/cisco_meraki_metrics/data_stream/device_health/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki_metrics/data_stream/device_health/fields/agent.yml
  packages/cisco_meraki_metrics/data_stream/device_health/fields/base-fields.yml
  packages/cisco_meraki_metrics/data_stream/device_health/fields/fields.yml
  packages/cisco_meraki_metrics/data_stream/device_health/manifest.yml
  packages/cisco_meraki_metrics/data_stream/device_health/sample_event.json
  packages/cisco_meraki_metrics/docs/README.md
  packages/cisco_meraki_metrics/img/cisco-logo.svg
  packages/cisco_meraki_metrics/img/device_health_dashboard.png
  packages/cisco_meraki_metrics/kibana/dashboard/cisco_meraki_metrics-d6b9863a-88e2-4e3d-a2a7-36ca1ee525b1.json
  packages/cisco_meraki_metrics/manifest.yml
Labels: New Integration, Team:Security-Deployment and Devices

#11326 packages/salesforce: preparation for GA release
  packages/salesforce/changelog.yml
  packages/salesforce/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:salesforce

#11267 [Elastic Connectors] Add index name as input var
  packages/elastic_connectors/agent/input/github.yml.hbs
  packages/elastic_connectors/agent/input/google_drive.yml.hbs
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/manifest.yml
Labels: enhancement, Integration:elastic_connectors, Team:Search-Extract and Transform

#11281 Add aws.metrics_names_fingerprint field and mark it as a dimension
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/fields/package-fields.yml
  packages/aws/data_stream/dynamodb/fields/package-fields.yml
  packages/aws/data_stream/ebs/fields/package-fields.yml
  packages/aws/data_stream/ec2_metrics/fields/package-fields.yml
  packages/aws/data_stream/elb_metrics/fields/package-fields.yml
  packages/aws/data_stream/emr_metrics/fields/package-fields.yml
  packages/aws/data_stream/firewall_metrics/fields/package-fields.yml
  packages/aws/data_stream/kafka_metrics/fields/package-fields.yml
  packages/aws/data_stream/kinesis/fields/package-fields.yml
  packages/aws/data_stream/lambda/fields/package-fields.yml
  packages/aws/data_stream/natgateway/fields/package-fields.yml
  packages/aws/data_stream/rds/fields/package-fields.yml
  packages/aws/data_stream/s3_daily_storage/fields/package-fields.yml
  packages/aws/data_stream/s3_request/fields/package-fields.yml
  packages/aws/data_stream/s3_storage_lens/fields/package-fields.yml
  packages/aws/data_stream/sns/fields/package-fields.yml
  packages/aws/data_stream/sqs/fields/package-fields.yml
  packages/aws/data_stream/transitgateway/fields/package-fields.yml
  packages/aws/data_stream/usage/fields/package-fields.yml
  packages/aws/data_stream/vpn/fields/package-fields.yml
  packages/aws/docs/apigateway.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/emr.md
  packages/aws/docs/firewall.md
  packages/aws/docs/kafka.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpn.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11099 [panw_metrics] Add Palo Alto Networks metrics integration
  .github/CODEOWNERS
  packages/panw_metrics/_dev/build/build.yml
  packages/panw_metrics/_dev/build/docs/README.md
  packages/panw_metrics/changelog.yml
  packages/panw_metrics/data_stream/interfaces/agent/stream/stream.yml.hbs
  packages/panw_metrics/data_stream/interfaces/fields/base-fields.yml
  packages/panw_metrics/data_stream/interfaces/fields/ecs.yml
  packages/panw_metrics/data_stream/interfaces/fields/fields.yml
  packages/panw_metrics/data_stream/interfaces/manifest.yml
  packages/panw_metrics/data_stream/interfaces/sample_event.json
  packages/panw_metrics/data_stream/routing/agent/stream/stream.yml.hbs
  packages/panw_metrics/data_stream/routing/fields/base-fields.yml
  packages/panw_metrics/data_stream/routing/fields/ecs.yml
  packages/panw_metrics/data_stream/routing/fields/fields.yml
  packages/panw_metrics/data_stream/routing/manifest.yml
  packages/panw_metrics/data_stream/routing/sample_event.json
  packages/panw_metrics/data_stream/system/_dev/test/pipeline/test-pipeline-system.json
  packages/panw_metrics/data_stream/system/_dev/test/pipeline/test-pipeline-system.json-expected.json
  packages/panw_metrics/data_stream/system/agent/stream/stream.yml.hbs
  packages/panw_metrics/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/panw_metrics/data_stream/system/fields/base-fields.yml
  packages/panw_metrics/data_stream/system/fields/ecs.yml
  packages/panw_metrics/data_stream/system/fields/fields.yml
  packages/panw_metrics/data_stream/system/manifest.yml
  packages/panw_metrics/data_stream/system/sample_event.json
  packages/panw_metrics/data_stream/vpn/agent/stream/stream.yml.hbs
  packages/panw_metrics/data_stream/vpn/fields/base-fields.yml
  packages/panw_metrics/data_stream/vpn/fields/ecs.yml
  packages/panw_metrics/data_stream/vpn/fields/fields.yml
  packages/panw_metrics/data_stream/vpn/manifest.yml
  packages/panw_metrics/data_stream/vpn/sample_event.json
  packages/panw_metrics/docs/README.md
  packages/panw_metrics/img/logo.svg
  packages/panw_metrics/img/panw_interfaces_dashboard.png
  packages/panw_metrics/img/panw_routing_dashboard.png
  packages/panw_metrics/img/panw_system_dashboard.png
  packages/panw_metrics/img/panw_vpn_dashboard.png
  packages/panw_metrics/kibana/dashboard/panw_metrics-27ff09cf-28a5-424d-8c3d-3b30f61d82dc.json
  packages/panw_metrics/kibana/dashboard/panw_metrics-5621b556-9010-4883-a339-4aa6a0b4bd74.json
  packages/panw_metrics/kibana/dashboard/panw_metrics-c100764a-f935-4c7b-a0d0-7622c4e19f6f.json
  packages/panw_metrics/kibana/dashboard/panw_metrics-fa29a215-7679-4867-a1e7-f3f8dc0bbbef.json
  packages/panw_metrics/manifest.yml
Labels: New Integration

#11307 Fix aws release version
  packages/aws/changelog.yml
  packages/aws/manifest.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#11225 GCP Vertex AI LLM Integration
  .github/CODEOWNERS
  packages/gcp_vertexai/LICENSE.txt
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/gcp_vertexai/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/gcp_vertexai/data_stream/metrics/fields/base-fields.yml
  packages/gcp_vertexai/data_stream/metrics/fields/fields.yml
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/img/gcp-vertexai-overview-dashboard.png
  packages/gcp_vertexai/img/gcp_vertexai.svg
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-b711f0e9-6c69-42f1-9edc-d276f6f162a3.json
  packages/gcp_vertexai/manifest.yml
  packages/gcp_vertexai/validation.yml
Labels: New Integration

#11342 o365: Add missing `resource.timeout` to CEL input.
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#11339 barracuda.waf: Improve access logs parsing
  packages/barracuda/changelog.yml
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-access.log
  packages/barracuda/data_stream/waf/_dev/test/pipeline/test-access.log-expected.json
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/access.yml
  packages/barracuda/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/barracuda/data_stream/waf/fields/fields.yml
  packages/barracuda/docs/README.md
  packages/barracuda/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:barracuda

#10592 [Prometheus] Added dynamic_<dataset|namespace> settings to prometheus datasets
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
Labels: enhancement, Integration:prometheus, Team:Cloudnative-Monitoring, Team:Obs-InfraObs

#11351 [squid] Add documentation on supported formats
  packages/squid/_dev/build/docs/README.md
  packages/squid/changelog.yml
  packages/squid/docs/README.md
  packages/squid/manifest.yml
Labels: enhancement, Integration:squid, docs, Team:Security-Deployment and Devices

#11238 [Cloud Security] enable asset inventory package to support agentless
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11359 proofpoint_on_demand: fix ingest failure issues
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/message/_dev/test/pipeline/test-message.log
  packages/proofpoint_on_demand/data_stream/message/_dev/test/pipeline/test-message.log-expected.json
  packages/proofpoint_on_demand/data_stream/message/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_on_demand/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#11315 sdd_all: use triple-brace templating in complex templates
  packages/cef/changelog.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/cp-pipeline.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cef/data_stream/log/elasticsearch/ingest_pipeline/fp-pipeline.yml
  packages/cef/manifest.yml
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/manifest.yml
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/manifest.yml
  packages/goflow2/changelog.yml
  packages/goflow2/data_stream/sflow/elasticsearch/ingest_pipeline/default.yml
  packages/goflow2/manifest.yml
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/_dev/test/pipeline/test-iptables-raw.log-expected.json
  packages/iptables/data_stream/log/_dev/test/pipeline/test-ubiquiti.log-expected.json
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/atp.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/flow.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/idp.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/ids.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/secintel.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/system.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/juniper_srx/manifest.yml
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/nginx-modsec.yml
  packages/modsecurity/manifest.yml
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/manifest.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/dhcp.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/dns.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/http.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/packetfilter.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/manifest.yml
  packages/zeek/changelog.yml
  packages/zeek/data_stream/socks/elasticsearch/ingest_pipeline/third-party.yml
  packages/zeek/manifest.yml
Labels: Integration:sophos, Integration:cef, Integration:zeek, Integration:iptables, Integration:juniper_srx, Integration:checkpoint, Integration:cisco_ise, Integration:modsecurity, Integration:cisco_ios, Integration:cisco_ftd, Integration:pfsense, Integration:cisco_secure_email_gateway, bugfix, Team:Security-Deployment and Devices, Integration:goflow2

#11317 slp_all: use triple-brace templating in templates
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/manifest.yml
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/file/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/data_stream/process/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_defend/manifest.yml
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/cassandra/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/dhcpv4/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/dns/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/flow/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/http/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/icmp/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/memcached/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/mongodb/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/mysql/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/nfs/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/pgsql/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/redis/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/sip/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/thrift/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/data_stream/tls/elasticsearch/ingest_pipeline/default.yml
  packages/network_traffic/data_stream/tls/elasticsearch/ingest_pipeline/geoip.yml
  packages/network_traffic/manifest.yml
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sysmon_linux/manifest.yml
  packages/system_audit/changelog.yml
  packages/system_audit/data_stream/package/elasticsearch/ingest_pipeline/default.yml
  packages/system_audit/manifest.yml
Labels: Integration:network_traffic, Integration:auditd, Integration:sysmon_linux, bugfix, Integration:cloud_defend, Team:Security-Linux Platform, Integration:system_audit

#11292 [Cisco ASA]: Add destination.address to events with message ID 7250xx
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: enhancement, Integration:cisco_asa, Team:Security-Deployment and Devices

#11361 proofpoint_tap: improve clarity of agent config and fix pagination logic
  packages/proofpoint_tap/_dev/deploy/docker/files/config.yml
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_permitted/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/message_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/message_delivered/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Integration:proofpoint_tap, bugfix, Team:Security-Service Integrations

#11385 [Security Rules] Update security rules package to v8.13.19
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11384 [Security Rules] Update security rules package to v8.12.24
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11387 [Security Rules] Update security rules package to v8.15.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11386 [Security Rules] Update security rules package to v8.14.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11374 aws.firewall_logs: flaky-test: Increase wait time for data.
  packages/aws/data_stream/firewall_logs/_dev/test/system/test-default-config.yml
Labels: Integration:aws, Team:Security-Service Integrations

#11244 [AWS Bedrock] Editing for GA
  packages/aws_bedrock/_dev/build/docs/README.md
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
Labels: documentation, enhancement, Team:Security-Service Integrations, Integration:aws_bedrock

#11390 [Crowdstrike] Update Test Log For Alert Data Stream
  packages/crowdstrike/_dev/deploy/docker/files/config-alert.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/docs/README.md
Labels: Integration:crowdstrike, Crest, Team:Security-Service Integrations

#11369 Fix aws.metrics_names_fingerprint field
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/fields/package-fields.yml
  packages/aws/data_stream/dynamodb/fields/package-fields.yml
  packages/aws/data_stream/ebs/fields/package-fields.yml
  packages/aws/data_stream/ec2_metrics/fields/package-fields.yml
  packages/aws/data_stream/elb_metrics/fields/package-fields.yml
  packages/aws/data_stream/emr_metrics/fields/package-fields.yml
  packages/aws/data_stream/firewall_metrics/fields/package-fields.yml
  packages/aws/data_stream/kafka_metrics/fields/package-fields.yml
  packages/aws/data_stream/kinesis/fields/package-fields.yml
  packages/aws/data_stream/lambda/fields/package-fields.yml
  packages/aws/data_stream/natgateway/fields/package-fields.yml
  packages/aws/data_stream/rds/fields/package-fields.yml
  packages/aws/data_stream/s3_daily_storage/fields/package-fields.yml
  packages/aws/data_stream/s3_request/fields/package-fields.yml
  packages/aws/data_stream/s3_storage_lens/fields/package-fields.yml
  packages/aws/data_stream/sns/fields/package-fields.yml
  packages/aws/data_stream/sqs/fields/package-fields.yml
  packages/aws/data_stream/transitgateway/fields/package-fields.yml
  packages/aws/data_stream/usage/fields/package-fields.yml
  packages/aws/data_stream/vpn/fields/package-fields.yml
  packages/aws/docs/apigateway.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/emr.md
  packages/aws/docs/firewall.md
  packages/aws/docs/kafka.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpn.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11336 [Auditd Manager] Add Session Data option
  packages/auditd_manager/_dev/build/docs/README.md
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/test-sudo-events.json
  packages/auditd_manager/data_stream/auditd/_dev/test/pipeline/test-sudo-events.json-expected.json
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/docs/README.md
  packages/auditd_manager/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:auditd_manager, Team:Security-Linux Platform

#9907 [System.Security] For Windows, store the split access list and mask values
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4662.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4663.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-4674.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-security-5140-5145.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
Labels: Integration:system, bugfix, Team:Security-Windows Platform

#11329 [integrations][o365] - Added guardrails to various array accessors to prevent out-of-bounds errors and cleaned up some existing code
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: integration, Integration:o365, bugfix, Team:Security-Service Integrations

#11393 [Cloud Security] increase transfom retention_policy to 90 days for Wiz
  packages/wiz/changelog.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/transform.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/transform.yml
  packages/wiz/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#11402 ti_misp: Fix the processing of ISO8601 dates
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: Integration:ti_misp, bugfix, Team:Security-Service Integrations

#11366 Add aws.metrics_names_fingerprint field and mark it as a dimension
  packages/aws/data_stream/apigateway_metrics/fields/package-fields.yml
  packages/aws/data_stream/dynamodb/fields/package-fields.yml
  packages/aws/data_stream/ebs/fields/package-fields.yml
  packages/aws/data_stream/ec2_metrics/fields/package-fields.yml
  packages/aws/data_stream/elb_metrics/fields/package-fields.yml
  packages/aws/data_stream/emr_metrics/fields/package-fields.yml
  packages/aws/data_stream/firewall_metrics/fields/package-fields.yml
  packages/aws/data_stream/kafka_metrics/fields/package-fields.yml
  packages/aws/data_stream/kinesis/fields/package-fields.yml
  packages/aws/data_stream/lambda/fields/package-fields.yml
  packages/aws/data_stream/natgateway/fields/package-fields.yml
  packages/aws/data_stream/rds/fields/package-fields.yml
  packages/aws/data_stream/s3_daily_storage/fields/package-fields.yml
  packages/aws/data_stream/s3_request/fields/package-fields.yml
  packages/aws/data_stream/s3_storage_lens/fields/package-fields.yml
  packages/aws/data_stream/sns/fields/package-fields.yml
  packages/aws/data_stream/sqs/fields/package-fields.yml
  packages/aws/data_stream/transitgateway/fields/package-fields.yml
  packages/aws/data_stream/usage/fields/package-fields.yml
  packages/aws/data_stream/vpn/fields/package-fields.yml
  packages/aws/docs/apigateway.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/emr.md
  packages/aws/docs/firewall.md
  packages/aws/docs/kafka.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpn.md
Labels: Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11368 Add aws.metrics_names_fingerprint field and mark it as a dimension
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/fields/package-fields.yml
  packages/aws/data_stream/cloudfront_logs/sample_event.json
  packages/aws/data_stream/dynamodb/fields/package-fields.yml
  packages/aws/data_stream/ebs/fields/package-fields.yml
  packages/aws/data_stream/ec2_metrics/fields/package-fields.yml
  packages/aws/data_stream/elb_metrics/fields/package-fields.yml
  packages/aws/data_stream/emr_metrics/fields/package-fields.yml
  packages/aws/data_stream/firewall_metrics/fields/package-fields.yml
  packages/aws/data_stream/kafka_metrics/fields/package-fields.yml
  packages/aws/data_stream/kinesis/fields/package-fields.yml
  packages/aws/data_stream/lambda/fields/package-fields.yml
  packages/aws/data_stream/natgateway/fields/package-fields.yml
  packages/aws/data_stream/rds/fields/package-fields.yml
  packages/aws/data_stream/s3_daily_storage/fields/package-fields.yml
  packages/aws/data_stream/s3_request/fields/package-fields.yml
  packages/aws/data_stream/s3_storage_lens/fields/package-fields.yml
  packages/aws/data_stream/sns/fields/package-fields.yml
  packages/aws/data_stream/sqs/fields/package-fields.yml
  packages/aws/data_stream/transitgateway/fields/package-fields.yml
  packages/aws/data_stream/usage/fields/package-fields.yml
  packages/aws/data_stream/vpn/fields/package-fields.yml
  packages/aws/docs/apigateway.md
  packages/aws/docs/cloudfront.md
  packages/aws/docs/dynamodb.md
  packages/aws/docs/ebs.md
  packages/aws/docs/ec2.md
  packages/aws/docs/elb.md
  packages/aws/docs/emr.md
  packages/aws/docs/firewall.md
  packages/aws/docs/kafka.md
  packages/aws/docs/kinesis.md
  packages/aws/docs/lambda.md
  packages/aws/docs/natgateway.md
  packages/aws/docs/rds.md
  packages/aws/docs/s3.md
  packages/aws/docs/s3_storage_lens.md
  packages/aws/docs/sns.md
  packages/aws/docs/sqs.md
  packages/aws/docs/transitgateway.md
  packages/aws/docs/usage.md
  packages/aws/docs/vpn.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11282 crowdstrike: add shims to recover deprecated fields
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#11396 okta: add grantedScopes, grantType, clientSecret and requestedScopes fields from debug data
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/no_use_flattened_debug.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/use_flattened_debug.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations

#11372 entityanalytics_{ad,entra_id,okta}: don't include input-private details to index
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_ad/manifest.yml
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-device.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_entra_id/manifest.yml
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/user/sample_event.json
  packages/entityanalytics_okta/docs/README.md
  packages/entityanalytics_okta/manifest.yml
Labels: bugfix, Integration:entityanalytics_entra_id, Team:Security-Service Integrations, Integration:entityanalytics_okta, Integration:entityanalytics_ad

#11397 Release aws package with `related.entity` (and add missing data)
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-add-user-to-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-assume-role-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-change-password-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-console-login-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-db-instance-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-key-pair-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-lambda-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-virtual-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-deactivate-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-bucket-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-virtual-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-disable-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-enable-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-remove-user-from-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-run-instances-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-start-logging-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-stop-configuration-recorder.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-stop-logging-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-tls-details-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-accout-password-policy-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-login-profile-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-upload-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs

#11112 aws: improve error.message and add event.kind:pipeline_error for pipeline errors
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/awshealth/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/billing/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudtrail/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudwatch_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudwatch_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/dynamodb/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/ec2_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/ec2_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/elb_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/emr_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/guardduty/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/inspector/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/kafka_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/kinesis/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/lambda/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/natgateway/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/rds/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/redshift/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/route53_public_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/route53_resolver_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3_daily_storage/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3_request/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3access/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_findings/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_insights/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/sqs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/transitgateway/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/usage/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpn/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11407 [Kubernetes_OTEL] Add a link to the onboarding flow, fix the package logo
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/docs/README.md
  packages/kubernetes_otel/img/kubernetes-otel-logo.svg
  packages/kubernetes_otel/kibana/dashboard/kubernetes_otel-cluster-overview.json
  packages/kubernetes_otel/manifest.yml
Labels: enhancement, dashboard, Team:Cloudnative-Monitoring, Integration:kubernetes_otel

#10671 [Oracle] Add extended space metrics
  packages/oracle/_dev/build/docs/README.md
  packages/oracle/changelog.yml
  packages/oracle/data_stream/tablespace/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/tablespace/elasticsearch/ingest_pipeline/default.yml
  packages/oracle/data_stream/tablespace/fields/fields.yml
  packages/oracle/data_stream/tablespace/manifest.yml
  packages/oracle/data_stream/tablespace/sample_event.json
  packages/oracle/docs/README.md
  packages/oracle/img/Oracle-tablespace-dashboard.png
  packages/oracle/kibana/dashboard/oracle-9e19fb00-08e1-11ed-9abf-15e60715cfab.json
  packages/oracle/manifest.yml
Labels: enhancement, Integration:oracle, dashboard, Team:Obs-InfraObs

#11356 Add changelog for backport versions into main
  packages/aws/changelog.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#11408 [awsfirehose] Add more detailed field description for aws.metrics_name_fingerprint
  packages/awsfirehose/_dev/build/docs/README.md
  packages/awsfirehose/data_stream/metrics/fields/fields.yml
  packages/awsfirehose/docs/README.md
Labels: Integration:awsfirehose, Team:obs-ds-hosted-services

#11420 [AuditdManager] Reverting Session Data option
  packages/auditd_manager/_dev/build/docs/README.md
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/docs/README.md
  packages/auditd_manager/manifest.yml
Labels: Integration:auditd_manager, bugfix, Team:Security-Linux Platform

#11421 o365: format CEL code
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#11415 Fix AWS Bedrock documentation and dashboard issues
  packages/aws_bedrock/_dev/build/docs/README.md
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/fields/fields.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Integration:aws_bedrock

#11428 [Security Rules] Update security rules package to v8.12.25
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11429 [Security Rules] Update security rules package to v8.13.20
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11431 [Security Rules] Update security rules package to v8.15.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11430 [Security Rules] Update security rules package to v8.14.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11318 [vSphere][host] Update sample event
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/host/sample_event.json
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11417 [Cloud Security][Asset Inventory] Update README
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/docs/README.md
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11422 cisco_duo: include error response body when non-200 and fix next_offset handling
  packages/cisco_duo/_dev/deploy/docker/files/config.yml
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/system/test-default-config.yml
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11435 Change format_spec in the kubernetes_otel package to 3.3.0
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/manifest.yml
Labels: enhancement, Team:Cloudnative-Monitoring, Integration:kubernetes_otel

#11409 forgerock: fix endTime query parameter handling
  packages/forgerock/_dev/deploy/docker/files/config.yml
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/am_access/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_activity/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_authentication/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_config/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_core/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_access/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_activity/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_authentication/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_config/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_core/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_sync/agent/stream/httpjson.yml.hbs
  packages/forgerock/manifest.yml
Labels: bugfix, Integration:forgerock, Team:Security-Service Integrations

#11441 [cisco_duo] Set request rate limits
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/offline_enrollment/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/summary/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#10842 [PostgreSQL] Add `condition` setting support
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/activity/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/bgwriter/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/database/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/log/agent/stream/log.yml.hbs
  packages/postgresql/manifest.yml
Labels: enhancement, Integration:postgresql, Team:Obs-InfraObs

#11413 [Cloud Security][Asset Inventory] Update compatibility conditions to >=8.16.0
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11438 [Cloud Security] Bump up version
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11437 [Cloud Security] lowercase host.name for cloud_secrity_posture
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json-expected.json
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/vulnerabilities/_dev/test/pipeline/test-findings-log.json-expected.json
  packages/cloud_security_posture/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11451 Remove events from Otel Kubernetes General Dashboard
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/kibana/dashboard/kubernetes_otel-cluster-overview.json
  packages/kubernetes_otel/manifest.yml
Labels: enhancement, dashboard, Team:Cloudnative-Monitoring, Integration:kubernetes_otel

#11456 [cisco_duo] Fix auth CEL cursor handling
  packages/cisco_duo/_dev/deploy/docker/files/config.yml
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11440 Snyk: Fix query parameters definition for issues data stream
  packages/snyk/changelog.yml
  packages/snyk/data_stream/issues/agent/stream/cel.yml.hbs
  packages/snyk/manifest.yml
Labels: Integration:snyk, bugfix, Team:Security-Service Integrations

#11458 [tines] Fix template rendering error when there's no auth_email
  packages/tines/_dev/deploy/docker/config.yml
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/_dev/test/system/test-no-x-user-email-config.yml
  packages/tines/data_stream/audit_logs/agent/stream/httpjson.yml.hbs
  packages/tines/data_stream/time_saved/_dev/test/system/test-no-x-user-email-config.yml
  packages/tines/data_stream/time_saved/agent/stream/httpjson.yml.hbs
  packages/tines/manifest.yml
Labels: Integration:tines, bugfix, Team:Security-Service Integrations

#11450 [integrations][SymantecEndpoint Security] - Added support for Azure Blob Storage input
  packages/symantec_endpoint_security/_dev/build/docs/README.md
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-event.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-event.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/agent/stream/abs.yml.hbs
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint_security/data_stream/event/fields/fields.yml
  packages/symantec_endpoint_security/data_stream/event/manifest.yml
  packages/symantec_endpoint_security/docs/README.md
  packages/symantec_endpoint_security/manifest.yml
Labels: enhancement, integration, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#11392 [AWS] Add mappings for runtimeDetails field in GuardDuty events
  packages/aws/changelog.yml
  packages/aws/data_stream/guardduty/_dev/test/pipeline/test-guardduty.log
  packages/aws/data_stream/guardduty/_dev/test/pipeline/test-guardduty.log-expected.json
  packages/aws/data_stream/guardduty/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/guardduty/fields/fields.yml
  packages/aws/docs/guardduty.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Security-Service Integrations

#11444 ti_misp: update decayed status to reflect the passage of time
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
Labels: Integration:ti_misp, flaky-test, bugfix, Team:Security-Service Integrations

#11446 trend_micro_vision_one: improve regional domain config documentation
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/manifest.yml
Labels: documentation, Integration:trend_micro_vision_one, bugfix, Team:Security-Service Integrations

#11462 proofpoint_tap: ensure that queries satisfy API restrictions
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_permitted/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_delivered/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/manifest.yml
Labels: Integration:proofpoint_tap, bugfix, Team:Security-Service Integrations

#11471 [cisco_duo] Make the rate limit configurable
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/offline_enrollment/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/summary/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11201 New Integration: HPE Aruba CX - part 1
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/integration_bug.yml
  packages/hpe_aruba_cx/LICENSE.txt
  packages/hpe_aruba_cx/_dev/build/build.yml
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/_dev/deploy/docker/docker-compose.yml
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/6000.log
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/6300.log
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/8360.log
  packages/hpe_aruba_cx/changelog.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx-6000.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx-6000.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/hpe_aruba_cx/data_stream/log/agent/stream/filestream.yml.hbs
  packages/hpe_aruba_cx/data_stream/log/agent/stream/tcp.yml.hbs
  packages/hpe_aruba_cx/data_stream/log/agent/stream/udp.yml.hbs
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/agent.yml
  packages/hpe_aruba_cx/data_stream/log/fields/base-fields.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/data_stream/log/manifest.yml
  packages/hpe_aruba_cx/data_stream/log/sample_event.json
  packages/hpe_aruba_cx/docs/README.md
  packages/hpe_aruba_cx/img/aruba-networks-logo.svg
  packages/hpe_aruba_cx/img/sample-screenshot.png
  packages/hpe_aruba_cx/manifest.yml
Labels: New Integration

#11373 Enhancements to Google Vertex AI dashbaord
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/gcp_vertexai/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/gcp_vertexai/data_stream/metrics/fields/fields.yml
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-b711f0e9-6c69-42f1-9edc-d276f6f162a3.json
  packages/gcp_vertexai/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:gcp_vertexai

#11475 proofpoint_tap: ensure cursor state is published when a query has been made
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/_dev/test/pipeline/test-clicks-blocked.log
  packages/proofpoint_tap/data_stream/clicks_blocked/_dev/test/pipeline/test-clicks-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/clicks_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/_dev/test/pipeline/test-clicks-permitted.log
  packages/proofpoint_tap/data_stream/clicks_permitted/_dev/test/pipeline/test-clicks-permitted.log-expected.json
  packages/proofpoint_tap/data_stream/clicks_permitted/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/message_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/pipeline/test-message-delivered.log
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/pipeline/test-message-delivered.log-expected.json
  packages/proofpoint_tap/data_stream/message_delivered/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/manifest.yml
Labels: Integration:proofpoint_tap, bugfix, Team:Security-Service Integrations

#10937 Enhancement: Add visualizations for data tier capacity
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/img/capacity_overview.png
  packages/elasticsearch/kibana/dashboard/elasticsearch-b1399af0-628c-11ee-9c63-732d7f759a7a.json
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:elasticsearch, dashboard, Team:Stack Monitoring

#11479 [elasticsearch] Add timeout configuration support
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ccr/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/cluster_stats/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/enrich/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index_recovery/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/index_summary/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/ingest_pipeline/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/ml_job/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/node/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/node_stats/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/pending_tasks/agent/stream/stream.yml.hbs
  packages/elasticsearch/data_stream/shard/agent/stream/stream.yml.hbs
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:elasticsearch, Team:Stack Monitoring

#11249 [windows] Windows Defender Data stream overhaul to GA
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/windows_defender/_dev/test/pipeline/test-events-windows-defender-events.json
  packages/windows/data_stream/windows_defender/_dev/test/pipeline/test-events-windows-defender-events.json-expected.json
  packages/windows/data_stream/windows_defender/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/windows_defender/fields/agent.yml
  packages/windows/data_stream/windows_defender/fields/base-fields.yml
  packages/windows/data_stream/windows_defender/fields/ecs.yml
  packages/windows/data_stream/windows_defender/manifest.yml
  packages/windows/data_stream/windows_defender/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:windows, Team:Elastic-Agent-Data-Plane, bugfix, Team:Security-Windows Platform

#11481 [Cloud Security][Asset Inventory] Improve Asset Inventory credentials UX
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/aws.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/azure.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/docs/README.md
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11234 [GitLab] Add sidekiq and pages datastreams
  packages/gitlab/_dev/build/docs/README.md
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-pages.log
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-sidekiq.log
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/pages/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/pages/_dev/test/pipeline/test-pages.log
  packages/gitlab/data_stream/pages/_dev/test/pipeline/test-pages.log-expected.json
  packages/gitlab/data_stream/pages/_dev/test/system/test-default-config.yml
  packages/gitlab/data_stream/pages/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/pages/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/pages/fields/agent.yml
  packages/gitlab/data_stream/pages/fields/base-fields.yml
  packages/gitlab/data_stream/pages/fields/beats.yml
  packages/gitlab/data_stream/pages/fields/fields.yml
  packages/gitlab/data_stream/pages/manifest.yml
  packages/gitlab/data_stream/pages/sample_event.json
  packages/gitlab/data_stream/sidekiq/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/sidekiq/_dev/test/pipeline/test-gitlab-sidekiq.log
  packages/gitlab/data_stream/sidekiq/_dev/test/pipeline/test-gitlab-sidekiq.log-expected.json
  packages/gitlab/data_stream/sidekiq/_dev/test/system/test-filestream-config.yml
  packages/gitlab/data_stream/sidekiq/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/sidekiq/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/sidekiq/fields/agent.yml
  packages/gitlab/data_stream/sidekiq/fields/base-fields.yml
  packages/gitlab/data_stream/sidekiq/fields/beats.yml
  packages/gitlab/data_stream/sidekiq/fields/fields.yml
  packages/gitlab/data_stream/sidekiq/manifest.yml
  packages/gitlab/data_stream/sidekiq/sample_event.json
  packages/gitlab/docs/README.md
  packages/gitlab/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:gitlab

#11487 [aws_bedrock] Ignore non-policy data under ...trace.guardrail
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log-expected.json
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:aws_bedrock

#11447 packages/prometheus: Add `metrics_count` to collector and remote_write if `metrics_count: true`
  packages/prometheus/_dev/build/docs/README.md
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/collector/fields/fields.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/remote_write/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/remote_write/fields/fields.yml
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/docs/README.md
  packages/prometheus/manifest.yml
Labels: enhancement, Integration:prometheus, Team:Cloudnative-Monitoring, Team:Obs-InfraObs

#11474 akamai: remove stale experimental/beta warnings
  packages/akamai/_dev/build/docs/README.md
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/docs/README.md
  packages/akamai/manifest.yml
Labels: Integration:akamai, bugfix, Team:Security-Service Integrations

#11488 wiz: fix missing score handling and retain cloud_configuration_rule_description
  packages/wiz/changelog.yml
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log-expected.json
  packages/wiz/data_stream/issue/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/issue/fields/fields.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: enhancement, bugfix, Integration:wiz, Team:Security-Service Integrations

#11489 wiz: fix missing score handling and retain cloud_configuration_rule_description
  packages/wiz/changelog.yml
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log-expected.json
  packages/wiz/data_stream/issue/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/issue/fields/fields.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: enhancement, bugfix, Integration:wiz, Team:Security-Service Integrations

#11442 [AWS] Add support to configure owning account for AWS metrics integrations
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/apigateway_metrics/manifest.yml
  packages/aws/data_stream/awshealth/agent/stream/stream.yml.hbs
  packages/aws/data_stream/awshealth/manifest.yml
  packages/aws/data_stream/billing/agent/stream/stream.yml.hbs
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/data_stream/cloudwatch_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/cloudwatch_metrics/manifest.yml
  packages/aws/data_stream/dynamodb/agent/stream/stream.yml.hbs
  packages/aws/data_stream/dynamodb/manifest.yml
  packages/aws/data_stream/ebs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ebs/manifest.yml
  packages/aws/data_stream/ec2_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ec2_metrics/manifest.yml
  packages/aws/data_stream/ecs_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ecs_metrics/manifest.yml
  packages/aws/data_stream/elb_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/elb_metrics/manifest.yml
  packages/aws/data_stream/emr_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/emr_metrics/manifest.yml
  packages/aws/data_stream/firewall_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/firewall_metrics/manifest.yml
  packages/aws/data_stream/kafka_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/kafka_metrics/manifest.yml
  packages/aws/data_stream/kinesis/agent/stream/stream.yml.hbs
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/data_stream/lambda/agent/stream/stream.yml.hbs
  packages/aws/data_stream/lambda/manifest.yml
  packages/aws/data_stream/natgateway/agent/stream/stream.yml.hbs
  packages/aws/data_stream/natgateway/manifest.yml
  packages/aws/data_stream/rds/agent/stream/stream.yml.hbs
  packages/aws/data_stream/rds/manifest.yml
  packages/aws/data_stream/redshift/agent/stream/stream.yml.hbs
  packages/aws/data_stream/redshift/manifest.yml
  packages/aws/data_stream/s3_daily_storage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_daily_storage/manifest.yml
  packages/aws/data_stream/s3_request/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_request/manifest.yml
  packages/aws/data_stream/s3_storage_lens/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3_storage_lens/manifest.yml
  packages/aws/data_stream/sns/agent/stream/stream.yml.hbs
  packages/aws/data_stream/sns/manifest.yml
  packages/aws/data_stream/sqs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/sqs/manifest.yml
  packages/aws/data_stream/transitgateway/agent/stream/stream.yml.hbs
  packages/aws/data_stream/transitgateway/manifest.yml
  packages/aws/data_stream/usage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/usage/manifest.yml
  packages/aws/data_stream/vpn/agent/stream/stream.yml.hbs
  packages/aws/data_stream/vpn/manifest.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/runtime/agent/stream/stream.yml.hbs
  packages/aws_bedrock/data_stream/runtime/manifest.yml
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock, Team:obs-ds-hosted-services

#11445 slack: map details.url_private and actor.* fields, and improve pipeline efficiency
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/fields/fields.yml
  packages/slack/data_stream/audit/sample_event.json
  packages/slack/docs/README.md
  packages/slack/manifest.yml
Labels: enhancement, Integration:slack, Team:Security-Service Integrations

#11020 [Enhancement] Add ".caseless" fields to MDE process events
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/fields/ecs.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration:m365_defender, Team:Security-Service Integrations

#11499 o365: Fix the handling of duplicated field QueryTime
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-duplicated-querytime-events.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-duplicated-querytime-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#11498 [AWS] Multiple AWS Metrics dashboard updated
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-fac28650-7349-11e9-816b-07687310a99a.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, dashboard, Team:obs-ds-hosted-services

#11477 Adding DevOps Dashboard for Gigamon
  packages/gigamon/changelog.yml
  packages/gigamon/data_stream/ami/sample_event.json
  packages/gigamon/docs/README.md
  packages/gigamon/img/API_Inventory_Dashboard.png
  packages/gigamon/img/API_Vulnerabilities_Dashboard.png
  packages/gigamon/kibana/dashboard/gigamon-032aab7b-87b2-444c-8c86-956d092598fb.json
  packages/gigamon/kibana/dashboard/gigamon-20c6c22a-dae0-4a0a-ad8c-043f878fc109.json
  packages/gigamon/kibana/dashboard/gigamon-3523b534-7525-44a7-808f-6a9f3235a67d.json
  packages/gigamon/kibana/dashboard/gigamon-3e5652b3-1b0e-428f-9dc3-78d179ce2463.json
  packages/gigamon/kibana/dashboard/gigamon-46931a21-a33e-43af-aadf-da8d6446b9cc.json
  packages/gigamon/kibana/dashboard/gigamon-4ae2cd9a-3eef-42c6-a02c-731ce74d94ac.json
  packages/gigamon/kibana/dashboard/gigamon-62291e9e-8b75-4f23-9121-79959da99b3b.json
  packages/gigamon/kibana/dashboard/gigamon-64ca15b3-8327-4940-8b35-0e75ab3a73c6.json
  packages/gigamon/kibana/dashboard/gigamon-855a64dc-1a72-403f-932b-a5b848378f7e.json
  packages/gigamon/kibana/dashboard/gigamon-8f772203-64e0-4d1b-bb0e-14fa57b4b754.json
  packages/gigamon/kibana/dashboard/gigamon-d6cecabb-f026-4823-914d-b4d61fd61787.json
  packages/gigamon/kibana/dashboard/gigamon-d866be49-47b2-4306-a2be-d5cb6b6ab9c8.json
  packages/gigamon/kibana/dashboard/gigamon-e192a946-8287-450a-a8f0-e23de9f95dae.json
  packages/gigamon/kibana/dashboard/gigamon-e733c64e-6ea9-4dd6-a8ca-3914274598f3.json
  packages/gigamon/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:gigamon

#11504 symantec_endpoint: ensure that event.duration is mapped as a long
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/fields/ecs.yml
  packages/symantec_endpoint/docs/README.md
  packages/symantec_endpoint/manifest.yml
Labels: Integration:symantec_endpoint, bugfix, Team:Security-Service Integrations

#11506 Update synthetics code ownership !!
  .github/CODEOWNERS
  packages/synthetics/manifest.yml
  packages/synthetics_dashboards/manifest.yml
Labels: Team:obs-ux-infra_services, Integration:synthetics, Integration:synthetics_dashboards

#11497 [cisco_ios] Add support for ISO 8601 timestamps
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: enhancement, Integration:cisco_ios, Team:Security-Deployment and Devices

#11500 [Auditd Manager] Add Session Data option
  packages/auditd_manager/_dev/build/docs/README.md
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-default.expected
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-default.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer-with-audit-rules-and-processors.expected
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer-with-audit-rules-and-processors.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer-with-audit-rules.expected
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer-with-audit-rules.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer-with-processors.expected
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer-with-processors.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer.expected
  packages/auditd_manager/data_stream/auditd/_dev/test/policy/test-session-viewer.yml
  packages/auditd_manager/data_stream/auditd/agent/stream/auditd.yml.hbs
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/docs/README.md
  packages/auditd_manager/manifest.yml
Labels: enhancement, Integration:auditd_manager, Team:Security-Linux Platform

#11523 [Fortinet Fortigate] swap source and destination for fortigate VPN event
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-6-2.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#11285 feat: add Nginx Ingress Controller Otel integration
  .github/CODEOWNERS
  packages/nginx_ingress_controller_otel/changelog.yml
  packages/nginx_ingress_controller_otel/docs/README.md
  packages/nginx_ingress_controller_otel/img/logo_nginx.svg
  packages/nginx_ingress_controller_otel/img/nginx-ingress-controller-access-error-logs.png
  packages/nginx_ingress_controller_otel/img/nginx-ingress-controller-overview.png
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-379039f4-4a54-499e-9e45-33544d77c8f5.json
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-b0e9b7bb-0ee0-41da-8aae-61999c11a87a.json
  packages/nginx_ingress_controller_otel/manifest.yml
  packages/nginx_ingress_controller_otel/validation.yml
Labels: New Integration

#11537 [suricata] Fix parsing of extra commas in TLS subject and issuer fields
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-alerts.log-expected.json
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-expected.json
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/tls.yml
  packages/suricata/manifest.yml
Labels: Integration:suricata, bugfix, Team:Security-Deployment and Devices

#11548 [Security Rules] Update security rules package to v8.13.21
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11550 [Security Rules] Update security rules package to v8.12.26
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11549 [Security Rules] Update security rules package to v8.15.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11554 1password - fix system test preserve_original_event
  packages/1password/data_stream/audit_events/_dev/test/system/test-default-config.yml
  packages/1password/data_stream/audit_events/sample_event.json
  packages/1password/data_stream/item_usages/_dev/test/system/test-default-config.yml
  packages/1password/data_stream/item_usages/sample_event.json
  packages/1password/data_stream/signin_attempts/_dev/test/system/test-default-config.yml
  packages/1password/data_stream/signin_attempts/sample_event.json
  packages/1password/docs/README.md
Labels: Integration:1password, Team:Security-Service Integrations

#11398 [Asset Inventory] Organization Support
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11535 Add Cloud Configuration Finding to the list of data streams in README
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/changelog.yml
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: Team:Service-Integrations, Team:Cloud Security, bugfix, Integration:wiz, Team:Security-Service Integrations

#11575 [Jamf Protect] Minor changes to the pipeline_event_authentication
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_authentication.yml
  packages/jamf_protect/data_stream/telemetry/sample_event.json
  packages/jamf_protect/data_stream/telemetry_legacy/sample_event.json
  packages/jamf_protect/data_stream/web_threat_events/sample_event.json
  packages/jamf_protect/data_stream/web_traffic_events/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_protect

#11492 [IBM MQ integration package] Update the compatibility section
  packages/ibmmq/_dev/build/docs/README.md
  packages/ibmmq/changelog.yml
  packages/ibmmq/docs/README.md
  packages/ibmmq/manifest.yml
Labels: documentation, enhancement, Integration:ibmmq, Team:Obs-InfraObs

#11414 [Cloud Security] release Wiz version 2.0.0
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/fields/base-fields.yml
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-cloud-configuration-finding.log
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-cloud-configuration-finding.log-expected.json
  packages/wiz/data_stream/cloud_configuration_finding/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/base-fields.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/beats.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/rule.yml
  packages/wiz/data_stream/issue/fields/base-fields.yml
  packages/wiz/data_stream/vulnerability/fields/base-fields.yml
  packages/wiz/docs/README.md
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/base-fields.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/beats.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/ecs.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/rule.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/transform.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/base-fields.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/wiz/img/wiz-context-entity-flyout.png
  packages/wiz/img/wiz-misconfiguration-findings.png
  packages/wiz/manifest.yml
Labels: breaking change, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#11596 proofpoint_tap: fix interval end clamping
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/clicks_permitted/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/message_blocked/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/system/test-default-config.yml
  packages/proofpoint_tap/data_stream/message_delivered/agent/stream/httpjson.yml.hbs
  packages/proofpoint_tap/manifest.yml
Labels: Integration:proofpoint_tap, bugfix, Team:Security-Service Integrations

#11598 wiz: fix handling of missing fields
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/manifest.yml
Labels: bugfix, Integration:wiz, Team:Security-Service Integrations

#11597 wiz: fix handling of missing wiz.vulnerability.vulnerable_asset.name field
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/manifest.yml
Labels: bugfix, Integration:wiz, Team:Security-Service Integrations

#11517 darktrace: fix handling of acknowledgement in model_breach_alert
  packages/darktrace/changelog.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/pipeline/test-model-breach-alert.log
  packages/darktrace/data_stream/model_breach_alert/_dev/test/pipeline/test-model-breach-alert.log-expected.json
  packages/darktrace/data_stream/model_breach_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/data_stream/model_breach_alert/fields/fields.yml
  packages/darktrace/data_stream/model_breach_alert/sample_event.json
  packages/darktrace/docs/README.md
  packages/darktrace/manifest.yml
Labels: enhancement, Integration:darktrace, bugfix, Team:Security-Service Integrations

#11501 okta: make okta.target use dynamic objects instead of flattened
  packages/okta/changelog.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, breaking change, Integration:okta, Team:Security-Service Integrations

#11288 [corelight] initial release of Corelight
  .github/CODEOWNERS
  packages/corelight/changelog.yml
  packages/corelight/docs/README.md
  packages/corelight/img/corelight-logo.svg
  packages/corelight/img/name-resolution-insights.png
  packages/corelight/img/remote-activity-insights-screenshot.png
  packages/corelight/img/secure-channel-insights.png
  packages/corelight/img/security-posture.png
  packages/corelight/kibana/dashboard/corelight-45197477-c13f-4e52-a5dd-fb4f53564963.json
  packages/corelight/kibana/dashboard/corelight-7c0946bc-acd0-4ec3-ab3b-8a92853f4a3b.json
  packages/corelight/kibana/dashboard/corelight-8546a96c-86c9-4edf-9d46-88338d6ac40e.json
  packages/corelight/kibana/dashboard/corelight-f4864774-ed73-4b78-b861-5b8235ec12cf.json
  packages/corelight/manifest.yml
  packages/corelight/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations, Integration:corelight

#11583 [osquery_manager] Add mappings for ECS email fields
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/fields/ecs.yml
  packages/osquery_manager/manifest.yml
Labels: enhancement, Team:Asset Mgt, Integration:osquery_manager

#11606 Tolerate existing event.timezone in fortimail and fortiproxy
  packages/fortinet_fortimail/changelog.yml
  packages/fortinet_fortimail/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimail/manifest.yml
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortiproxy/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:fortinet_fortiproxy, Integration:fortinet_fortimail
