Repository elastic/integrations, pull requests merged in 2024-12, with the labels that each got.

#11927 qualys_vmdr: Cleanup duplicate processors and update documentation
  packages/qualys_vmdr/_dev/build/docs/README.md
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: documentation, enhancement, bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#11938 [windows] Fix powerhsell context info value split
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell_operational.yml
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Integration:windows, Team:Elastic-Agent-Data-Plane, bugfix, Team:Security-Windows Platform

#11875 remove hostname from zookeeper mntr data stream
  packages/zookeeper/changelog.yml
  packages/zookeeper/data_stream/mntr/fields/fields.yml
  packages/zookeeper/docs/README.md
  packages/zookeeper/manifest.yml
Labels: Integration:zookeeper, Team:Obs-InfraObs, bugfix

#11947 [checkpoint] Align hostname grok pattern with syslog RFC
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-audit.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-authentication.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r80x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-trailing-space.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
Labels: Integration:checkpoint, bugfix, Team:Security-Deployment and Devices

#11945 [servicenow] Replace dropdown with textbox for timezone offset parameter
  packages/servicenow/_dev/build/docs/README.md
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/servicenow/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/servicenow/data_stream/event/agent/stream/cel.yml.hbs
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/data_stream/event/manifest.yml
  packages/servicenow/data_stream/event/sample_event.json
  packages/servicenow/docs/README.md
  packages/servicenow/manifest.yml
Labels: enhancement, Crest, Team:Security-Service Integrations, Integration:servicenow

#11836 [Aruba] DHCPv4 snooping events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11928 Fix broken link for the Abnormal Security integration
  packages/abnormal_security/_dev/build/docs/README.md
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/docs/README.md
  packages/abnormal_security/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:abnormal_security

#11907 [AWS] [Lambda] Add Event Source Mapping metrics
  packages/aws/_dev/build/docs/lambda.md
  packages/aws/changelog.yml
  packages/aws/data_stream/lambda/agent/stream/stream.yml.hbs
  packages/aws/data_stream/lambda/fields/fields.yml
  packages/aws/data_stream/lambda/manifest.yml
  packages/aws/docs/lambda.md
  packages/aws/img/metricbeat-aws-lambda-overview.png
  packages/aws/kibana/dashboard/aws-7ac8e1d0-28d2-11ea-ba6c-49a884eb104f.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, dashboard, Team:Obs-InfraObs

#11923 [GCP VertexAI] Add support for different deployment types
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/img/gcp-vertexai-overview-dashboard.png
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-b711f0e9-6c69-42f1-9edc-d276f6f162a3.json
  packages/gcp_vertexai/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:gcp_vertexai

#11905 Support the first 40-60 event types for the Aruba integration
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11987 #11921-2 MVRP events (310x)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11957 symantec_edr_cloud: deprecate package
  packages/symantec_edr_cloud/_dev/build/docs/README.md
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/docs/README.md
  packages/symantec_edr_cloud/manifest.yml
Labels: enhancement, deprecation, Team:Security-Service Integrations, Integration:symantec_edr_cloud

#11986 [Aruba] Add DHCPv6 Relay and Snooping events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11991 [awsfirehose] Update documentation around restricted API key permissions
  packages/awsfirehose/_dev/build/docs/README.md
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/docs/README.md
  packages/awsfirehose/img/destination-settings.png
  packages/awsfirehose/manifest.yml
Labels: enhancement, Integration:awsfirehose, Team:obs-ds-hosted-services

#11956 microsoft_exchange_online_message_trace: improve document fingerprinting resolution
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: Integration:microsoft_exchange_online_message_trac, bugfix, Team:Security-Service Integrations

#11982 servicenow: truncate very long field values
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event.log
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:servicenow

#11990 [citrix_adc] Ensure time zone setting is applied properly
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-config-time.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-config-time.json-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-config-time.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-local-time.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-local-time.json-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-local-time.json-expected.json
  packages/citrix_adc/data_stream/log/agent/stream/stream.yml.hbs
  packages/citrix_adc/data_stream/log/agent/stream/tcp.yml.hbs
  packages/citrix_adc/data_stream/log/agent/stream/udp.yml.hbs
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:citrix_adc

#11879 fix: invalid range for successful HTTP response status code
  packages/nginx_ingress_controller_otel/changelog.yml
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-05a72585-3900-4944-b648-2f15907872d1.json
  packages/nginx_ingress_controller_otel/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, bugfix, Integration:nginx_ingress_controller_otel

#11933 [AWS] [ELB] Add Connection Log Support for AWS ELB dataset
  packages/aws/_dev/build/docs/elb.md
  packages/aws/changelog.yml
  packages/aws/data_stream/elb_logs/_dev/test/pipeline/test-alb.log
  packages/aws/data_stream/elb_logs/_dev/test/pipeline/test-alb.log-expected.json
  packages/aws/data_stream/elb_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/elb_logs/fields/fields.yml
  packages/aws/docs/elb.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs

#11862 docs: geoip processor available in contrib collector
  packages/nginx_ingress_controller_otel/docs/README.md
Labels: Team:Obs-InfraObs, Integration:nginx_ingress_controller_otel

#11985 #11921-1 Multiple spanning tree protocol events (20xx)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11954 checkpoint_email,okta,wiz: add support for request trace deletion
  packages/checkpoint_email/changelog.yml
  packages/checkpoint_email/data_stream/event/agent/stream/cel.yml.hbs
  packages/checkpoint_email/data_stream/event/manifest.yml
  packages/checkpoint_email/manifest.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/manifest.yml
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/audit/manifest.yml
  packages/wiz/data_stream/cloud_configuration_finding/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/cloud_configuration_finding/manifest.yml
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/manifest.yml
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/manifest.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:okta, Integration:wiz, Team:Security-Service Integrations, Integration:checkpoint_email

#11993 ti_mandiant_advantage: add support for proxy configuration
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/agent/stream/httpjson.yml.hbs
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/manifest.yml
  packages/ti_mandiant_advantage/manifest.yml
Labels: enhancement, Integration:ti_mandiant_advantage, Team:Security-Service Integrations

#12002 [Aruba] Remove dash sequence values
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
Labels: Integration:hpe_aruba_cx

#11773 [CrowdStrike] Add Support of Crowdstrike Event Stream
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/deploy/docker/docker-compose.yml
  packages/crowdstrike/data_stream/falcon/_dev/deploy/docker/files/config.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/system/test-streaming-config.yml
  packages/crowdstrike/data_stream/falcon/agent/stream/streaming.yml.hbs
  packages/crowdstrike/data_stream/falcon/manifest.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Crest, Team:Security-Service Integrations

#11988 packages/prometheus: Upgrade to package format_version v3
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
Labels: enhancement, Integration:prometheus, Team:Cloudnative-Monitoring, Team:Obs-InfraObs

#11995 Revert: prisma_cloud: fix login endpoint path (#11885)
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/host/agent/stream/input.yml.hbs
  packages/prisma_cloud/data_stream/host/manifest.yml
  packages/prisma_cloud/data_stream/host_profile/agent/stream/input.yml.hbs
  packages/prisma_cloud/data_stream/host_profile/manifest.yml
  packages/prisma_cloud/manifest.yml
Labels: bugfix, Integration:prisma_cloud, Team:Security-Service Integrations

#11534 [vSphere] Add unique document id for all the data-streams
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json
  packages/vsphere/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json-expected.json
  packages/vsphere/data_stream/cluster/fields/fields.yml
  packages/vsphere/data_stream/cluster/sample_event.json
  packages/vsphere/data_stream/datastore/_dev/test/pipeline/test-datastore.json
  packages/vsphere/data_stream/datastore/_dev/test/pipeline/test-datastore.json-expected.json
  packages/vsphere/data_stream/datastore/fields/fields.yml
  packages/vsphere/data_stream/datastore/sample_event.json
  packages/vsphere/data_stream/datastorecluster/_dev/test/pipeline/test-datastorecluster-metrics.json
  packages/vsphere/data_stream/datastorecluster/_dev/test/pipeline/test-datastorecluster-metrics.json-expected.json
  packages/vsphere/data_stream/datastorecluster/fields/fields.yml
  packages/vsphere/data_stream/datastorecluster/sample_event.json
  packages/vsphere/data_stream/host/_dev/test/pipeline/test-host.json
  packages/vsphere/data_stream/host/_dev/test/pipeline/test-host.json-expected.json
  packages/vsphere/data_stream/host/fields/fields.yml
  packages/vsphere/data_stream/host/sample_event.json
  packages/vsphere/data_stream/network/_dev/test/pipeline/test-network.json
  packages/vsphere/data_stream/network/_dev/test/pipeline/test-network.json-expected.json
  packages/vsphere/data_stream/network/fields/fields.yml
  packages/vsphere/data_stream/network/sample_event.json
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json-expected.json
  packages/vsphere/data_stream/resourcepool/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/resourcepool/fields/fields.yml
  packages/vsphere/data_stream/resourcepool/sample_event.json
  packages/vsphere/data_stream/virtualmachine/_dev/test/pipeline/test-virtualmachine.json
  packages/vsphere/data_stream/virtualmachine/_dev/test/pipeline/test-virtualmachine.json-expected.json
  packages/vsphere/data_stream/virtualmachine/fields/fields.yml
  packages/vsphere/data_stream/virtualmachine/sample_event.json
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#12001 #11921-3/4 NAE events (60xx) and NAE Agents events (690x)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12009 qualys_vmdr.asset_host_detection: Capture issue with XML parsing into error.message
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#12016 http_endpoint: add program option to the configuration user interface
  packages/http_endpoint/_dev/test/system/test-http-cel-config.yml
  packages/http_endpoint/agent/input/http.yml.hbs
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/manifest.yml
Labels: enhancement, Integration:http_endpoint, Team:Security-Service Integrations

#12011 proofpoint_on_demand.mail: Fix script processor handling `sm` field
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/pipeline/test-mail.log
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/pipeline/test-mail.log-expected.json
  packages/proofpoint_on_demand/data_stream/mail/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_on_demand/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#11105 cisco_aironet: add ECS mapping for event.severity
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/data_stream/log/fields/ecs.yml
  packages/cisco_aironet/data_stream/log/sample_event.json
  packages/cisco_aironet/docs/README.md
  packages/cisco_aironet/manifest.yml
Labels: Integration:cisco_aironet, bugfix, Team:Security-Deployment and Devices

#11764 [netflow] Fix dashboard navigation links
  packages/netflow/changelog.yml
  packages/netflow/kibana/dashboard/netflow-14387a13-53bc-43a4-b9cd-63977aa8d87c.json
  packages/netflow/kibana/dashboard/netflow-34e26884-161a-4448-9556-43b5bf2f62a2.json
  packages/netflow/kibana/dashboard/netflow-38012abe-c611-4124-8497-381fcd85acc8.json
  packages/netflow/kibana/dashboard/netflow-77326664-23be-4bf1-a126-6d7e60cfc024.json
  packages/netflow/kibana/dashboard/netflow-94972700-de4a-4272-9143-2fa8d4981365.json
  packages/netflow/kibana/dashboard/netflow-acd7a630-0c71-4840-bc9e-4a3801374a32.json
  packages/netflow/kibana/dashboard/netflow-c64665f9-d222-421e-90b0-c7310d944b8a.json
  packages/netflow/kibana/dashboard/netflow-feebb4e6-b13e-4e4e-b9fc-d3a178276425.json
  packages/netflow/kibana/search/netflow-a34c6611-79d8-4b50-ae3f-8b328d28e24a.json
  packages/netflow/kibana/tag/netflow-security-solution-default.json
  packages/netflow/manifest.yml
Labels: dashboard, Integration:netflow, bugfix, Team:Security-Deployment and Devices

#12018 servicenow: tolerate diverse input shapes
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event-aws.log
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event-aws.log-expected.json
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:servicenow

#11994 okta: parse JSON string in okta.debug_context.debug_data.tunnels
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-config.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-config.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/no_use_flattened_debug.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/use_flattened_debug.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations

#11839 [iptables] Add mapping for journald.custom fields
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/manifest.yml
Labels: Integration:iptables, bugfix, Team:Security-Deployment and Devices

#11678 [fortinet_fortigate] add hostname parsing for syslog
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#11837 [panw] Parse URL from domain_edl category threat logs
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/manifest.yml
Labels: enhancement, Integration:panw, Team:Security-Deployment and Devices

#11949 [tanium] Extra field presence checks, truncation of excessive depth
  packages/tanium/_dev/deploy/docker/docker-compose.yml
  packages/tanium/_dev/deploy/docker/sample_logs/threat_response.log
  packages/tanium/changelog.yml
  packages/tanium/data_stream/action_history/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/client_status/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/discover/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/endpoint_config/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/reporting/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-common-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-deep.log
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-deep.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-match-details-empty-map-value.log
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-match-details-empty-map-value.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-new-default.log
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-new-default.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-threat-response.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/system/test-http-endpoint-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/match_details.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/match_details_whats.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/match_details_whats_actions.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/pipeline_payload.yml
  packages/tanium/data_stream/threat_response/fields/fields.yml
  packages/tanium/data_stream/threat_response/sample_event.json
  packages/tanium/docs/README.md
  packages/tanium/manifest.yml
Labels: Integration:tanium, bugfix, Team:Security-Service Integrations

#12026 tenable_sc: rebrand integration
  packages/tenable_sc/_dev/build/docs/README.md
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/manifest.yml
  packages/tenable_sc/data_stream/plugin/manifest.yml
  packages/tenable_sc/data_stream/vulnerability/manifest.yml
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/img/tenable_sc-logo.svg
  packages/tenable_sc/kibana/dashboard/tenable_sc-38c74c00-3814-11ed-bfe4-89ace1bfa1be.json
  packages/tenable_sc/kibana/dashboard/tenable_sc-3b851800-380a-11ed-bfe4-89ace1bfa1be.json
  packages/tenable_sc/kibana/dashboard/tenable_sc-b61f3090-3806-11ed-bfe4-89ace1bfa1be.json
  packages/tenable_sc/kibana/search/tenable_sc-e23be000-8970-11ec-a56b-9fd8deec1ba2.json
  packages/tenable_sc/manifest.yml
Labels: enhancement, dashboard, Integration:tenable_sc, Team:Security-Service Integrations

#11801 mimecast: implement siem_logs v2 agent
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/_dev/deploy/docker/files/iep.gz
  packages/mimecast/_dev/deploy/docker/files/rec0.gz
  packages/mimecast/_dev/deploy/docker/files/rec1.gz
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-docs-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v1-logs.log
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v1-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v2-logs.log
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v2-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/system/test-v1-config.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/system/test-v2-config.yml
  packages/mimecast/data_stream/siem_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v1_pipeline.yml
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v2_pipeline.yml
  packages/mimecast/data_stream/siem_logs/fields/field.yml
  packages/mimecast/data_stream/siem_logs/manifest.yml
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: enhancement, Integration:mimecast, Team:Security-Service Integrations

#11984 [azure logs] add routing integration to use only one azure-eventhub input
  .github/CODEOWNERS
  packages/azure/_dev/build/docs/events.md
  packages/azure/changelog.yml
  packages/azure/data_stream/events/agent/stream/stream.yml.hbs
  packages/azure/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/events/fields/base-fields.yml
  packages/azure/data_stream/events/fields/fields.yml
  packages/azure/data_stream/events/fields/package-fields.yml
  packages/azure/data_stream/events/manifest.yml
  packages/azure/data_stream/events/routing_rules.yml
  packages/azure/docs/events.md
  packages/azure/manifest.yml
Labels: enhancement, Integration:azure, Team:obs-ds-hosted-services

#12035 [watchguard_firebox] Improve key/value splitting in traffic logs
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-alarm.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-diagnostic.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-event.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log-expected.json
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_traffic.yml
  packages/watchguard_firebox/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:watchguard_firebox

#12017 #11921-6/7 Added NDM and ND Snooping Events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11895 kibana - define span.id field
  packages/kibana/changelog.yml
  packages/kibana/data_stream/audit/fields/ecs.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: Integration:kibana, bugfix, Team:Stack Monitoring

#11998 [Corelight] Update security posture dashboard
  packages/corelight/changelog.yml
  packages/corelight/img/security-posture.png
  packages/corelight/kibana/dashboard/corelight-7c0946bc-acd0-4ec3-ab3b-8a92853f4a3b.json
  packages/corelight/manifest.yml
Labels: enhancement, dashboard, Crest, Team:Security-Service Integrations, Integration:corelight

#12003 issues: add feature request template
  .github/ISSUE_TEMPLATE/integration_feature_request.yml
  .github/workflows/updatecli/updatecli.d/sync-packages-to-bug-issue-template.yml
Labels: enhancement

#12056 [Security Rules] Update security rules package to v8.14.18-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_5.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12057 [Security Rules] Update security rules package to v8.15.12-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_5.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12058 [Security Rules] Update security rules package to v8.16.3-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/28eb3afe-131d-48b0-a8fc-9784f3d54f3c_105.json
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_5.json
  packages/security_detection_engine/kibana/security_rule/ff9bc8b9-f03b-4283-be58-ee0a16f5a11b_107.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12059 [Security Rules] Update security rules package to v8.17.1-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/28eb3afe-131d-48b0-a8fc-9784f3d54f3c_105.json
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_5.json
  packages/security_detection_engine/kibana/security_rule/ff9bc8b9-f03b-4283-be58-ee0a16f5a11b_107.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12060 [Security Rules] Update security rules package to v8.14.18
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12061 [Security Rules] Update security rules package to v8.15.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12062 [Security Rules] Update security rules package to v8.16.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12063 [Security Rules] Update security rules package to v8.17.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12048 eset_protect: bump version of stream and certs for system tests
  packages/eset_protect/_dev/deploy/docker/docker-compose.yml
  packages/eset_protect/_dev/deploy/docker/files/detection-certificate.crt
  packages/eset_protect/_dev/deploy/docker/files/detection-private.key
  packages/eset_protect/_dev/deploy/docker/files/device_task-certificate.crt
  packages/eset_protect/_dev/deploy/docker/files/device_task-private.key
  packages/eset_protect/_dev/deploy/docker/files/oauth-certificate.crt
  packages/eset_protect/_dev/deploy/docker/files/oauth-private.key
  packages/eset_protect/data_stream/detection/_dev/test/system/test-default-config.yml
  packages/eset_protect/data_stream/device_task/_dev/test/system/test-default-config.yml
Labels: bugfix, Integration:eset_protect, Team:Security-Service Integrations

#12053 cloudflare_logpush: Generically rename non-AWS S3-compatible bucket options.
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/manifest.yml
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/casb/manifest.yml
  packages/cloudflare_logpush/data_stream/device_posture/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/dns_firewall/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_http/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_network/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/magic_ids/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/network_session/manifest.yml
  packages/cloudflare_logpush/data_stream/sinkhole_http/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/data_stream/workers_trace/manifest.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: documentation, enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#12047 ssi_all: fix string literal syntax in painless scripts
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/casb/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/device_posture/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/firewall_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_http/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_network/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/nel_report/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/network_analytics/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/network_session/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
  packages/cylance/changelog.yml
  packages/cylance/data_stream/protect/elasticsearch/ingest_pipeline/default.yml
  packages/cylance/manifest.yml
  packages/darktrace/changelog.yml
  packages/darktrace/data_stream/ai_analyst_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/data_stream/model_breach_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/data_stream/system_status_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/manifest.yml
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/production/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/manifest.yml
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dhcp_lease/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/manifest.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_compliance_reporter/manifest.yml
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/telemetry_legacy/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/web_threat_events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/web_traffic_events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/manifest.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
  packages/microsoft_sentinel/changelog.yml
  packages/microsoft_sentinel/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sentinel/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sentinel/manifest.yml
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint/manifest.yml
Labels: Integration:azure, Integration:symantec_endpoint, Integration:cylance, Integration:jamf_compliance_reporter, Integration:m365_defender, Integration:infoblox_bloxone_ddi, Integration:darktrace, Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations, Integration:jamf_protect, Integration:gitlab, Integration:microsoft_sentinel

#12064 [digital_guardian] Map extra timestamps and other fields
  packages/digital_guardian/_dev/build/docs/README.md
  packages/digital_guardian/changelog.yml
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log-expected.json
  packages/digital_guardian/data_stream/arc/elasticsearch/ingest_pipeline/default.yml
  packages/digital_guardian/data_stream/arc/fields/fields.yml
  packages/digital_guardian/docs/README.md
  packages/digital_guardian/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:digital_guardian

#12027 tines: work around multimorphic tines.audit_log.inputs.inputs.options…
  packages/tines/_dev/deploy/docker/config.yml
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/fields/fields.yml
  packages/tines/data_stream/audit_logs/manifest.yml
  packages/tines/data_stream/audit_logs/sample_event.json
  packages/tines/docs/README.md
  packages/tines/manifest.yml
Labels: Integration:tines, bugfix, Team:Security-Service Integrations

#12030 [AWS] Add ELB Connection logs dashboard
  packages/aws/changelog.yml
  packages/aws/img/aws-load-balancer-overview.png
  packages/aws/img/filebeat-aws-alb-connection-overview.png
  packages/aws/kibana/dashboard/aws-58e41f29-9b73-4ba9-b5f1-3e7b8ac1924b.json
  packages/aws/kibana/dashboard/aws-93b9ad3e-2dd3-40a6-a068-1440e8654d79.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, dashboard, Team:obs-ds-hosted-services

#11881 falco: fix dashboard visualisation and handling of event.original
  packages/falco/changelog.yml
  packages/falco/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/falco/kibana/dashboard/falco-872f3c48-4d4c-4bf3-a13c-1250743bf925.json
  packages/falco/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Integration:falco

#11762 [CDR][GCP] Add related.entity to GCP Audit Logs
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-cloudresourcemanager-googleapis-com.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-cloudresourcemanager-googleapis-com.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-compute-googleapis-com.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-compute-googleapis-com.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-iamcredentials-googleapis-com.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-iamcredentials-googleapis-com.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/base-fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/manifest.yml
Labels: enhancement, Integration:gcp, Team:Cloud Security, Team:Security-Service Integrations

#11946 [Juniper SRX] Populate event fields for system log
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/_dev/test/pipeline/test-system.log-expected.json
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/system.yml
  packages/juniper_srx/manifest.yml
Labels: Integration:juniper_srx, Team:Security-Deployment and Devices

#12066 [Cloud Security] Changed CSPM agentless identification tags
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#12055 [tanium] Map extra fields, set event.kind for alerts
  packages/tanium/changelog.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-common-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-deep.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-match-details-empty-map-value.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-new-default.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-threat-response.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/system/test-http-endpoint-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/threat_response/fields/fields.yml
  packages/tanium/docs/README.md
  packages/tanium/manifest.yml
Labels: enhancement, Integration:tanium, Team:Security-Service Integrations

#12072 [AWS] Add SQS API calls documentation and required S3 permissions
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
Labels: documentation, enhancement, Integration:aws, Team:Obs-InfraObs, Team:obs-ds-hosted-services

#12080 #12065 - 3/4/5 Added Port access role, Policies and Port events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12091 google_workspace: pin the alpine image version to v3.20
  packages/google_workspace/_dev/deploy/docker/docker-compose.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations

#12092 qualys_vmdr: Handle empty XML responses in Qualys asset_host_detection.
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#12071 Fix broken links in Security Service integrations packages
  packages/authentik/_dev/build/docs/README.md
  packages/authentik/changelog.yml
  packages/authentik/docs/README.md
  packages/authentik/manifest.yml
  packages/bbot/_dev/build/docs/README.md
  packages/bbot/changelog.yml
  packages/bbot/docs/README.md
  packages/bbot/manifest.yml
  packages/cisco_duo/_dev/build/docs/README.md
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/docs/README.md
  packages/cisco_duo/manifest.yml
  packages/google_workspace/_dev/build/docs/README.md
  packages/google_workspace/changelog.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
  packages/lumos/_dev/build/docs/README.md
  packages/lumos/changelog.yml
  packages/lumos/docs/README.md
  packages/lumos/manifest.yml
  packages/thycotic_ss/_dev/build/docs/README.md
  packages/thycotic_ss/changelog.yml
  packages/thycotic_ss/docs/README.md
  packages/thycotic_ss/manifest.yml
  packages/ti_cybersixgill/_dev/build/docs/README.md
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/docs/README.md
  packages/ti_cybersixgill/manifest.yml
  packages/tychon/_dev/build/docs/README.md
  packages/tychon/changelog.yml
  packages/tychon/docs/README.md
  packages/tychon/manifest.yml
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/changelog.yml
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: documentation, Integration:google_workspace, Integration:ti_cybersixgill, Integration:cisco_duo, Integration:thycotic_ss, bugfix, Integration:tychon, Integration:wiz, Team:Security-Service Integrations, Integration:lumos, Integration:bbot, Integration:authentik

#12087 mimecast: remove invalid remove processor
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#11929 Fix broken link for Prebuilt Security Detection Rules
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/docs/README.md
  packages/security_detection_engine/manifest.yml
Labels: documentation, Integration:security_detection_engine, bugfix

#12068 google_workspace: fix string literal syntax in painless scripts
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/access_transparency/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-gmail.log-expected.json
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/context_aware_access/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/device/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/gcp/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/group_enterprise/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/rules/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/token/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations

#12088 #12065-6/7 PORT_ACCESS, Port Security and Port Statistics Event additions
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12077 Fix broken links in Observability integrations packages
  packages/azure_application_insights/_dev/build/docs/README.md
  packages/azure_application_insights/docs/README.md
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/docs/README.md
  packages/azure_functions/_dev/build/docs/README.md
  packages/azure_functions/docs/README.md
  packages/azure_metrics/_dev/build/docs/README.md
  packages/azure_metrics/docs/README.md
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/docs/README.md
  packages/citrix_waf/_dev/build/docs/README.md
  packages/citrix_waf/docs/README.md
  packages/jolokia_input/docs/README.md
  packages/nats/_dev/build/docs/README.md
  packages/nats/docs/README.md
  packages/oracle_weblogic/_dev/build/docs/README.md
  packages/oracle_weblogic/docs/README.md
Labels: documentation, Integration:nats, Integration:oracle_weblogic, Integration:citrix_waf, Team:Obs-InfraObs, bugfix, Integration:azure_metrics, Team:Security-Deployment and Devices, Integration:citrix_adc, Integration:jolokia_input, Integration:azure_application_insights, Integration:azure_billing, Integration:azure_functions, Team:obs-ds-hosted-services

#11533 [ess_billing] Addition of an ESS billing integration
  .github/CODEOWNERS
  packages/ess_billing/LICENSE.txt
  packages/ess_billing/_dev/build/build.yml
  packages/ess_billing/changelog.yml
  packages/ess_billing/data_stream/billing/agent/stream/cel.yml.hbs
  packages/ess_billing/data_stream/billing/elasticsearch/ingest_pipeline/default.yml
  packages/ess_billing/data_stream/billing/fields/base-fields.yml
  packages/ess_billing/data_stream/billing/fields/fields.yml
  packages/ess_billing/data_stream/billing/manifest.yml
  packages/ess_billing/data_stream/billing/sample_event.json
  packages/ess_billing/docs/README.md
  packages/ess_billing/img/ess_billing-dashboard.png
  packages/ess_billing/img/sample-logo.svg
  packages/ess_billing/kibana/dashboard/ess_billing-essbillingdashboard.json
  packages/ess_billing/manifest.yml
Labels: enhancement, New Integration

#12097 packages/salesforce: Fix processor syntax issue when adding new ones
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/apex/agent/stream/salesforce.yml.hbs
  packages/salesforce/manifest.yml
Labels: Team:Obs-InfraObs, Integration:salesforce, bugfix

#12103 [proofpoint_on_demand] - Added support for configurable retry options
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/audit/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/audit/fields/base-fields.yml
  packages/proofpoint_on_demand/data_stream/mail/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/message/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/manifest.yml
Labels: enhancement, integration, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#12028 [O11y][MySQL] Fix optional chaining in the replica_status data stream pipeline
  packages/mysql/_dev/build/docs/README.md
  packages/mysql/changelog.yml
  packages/mysql/data_stream/error/sample_event.json
  packages/mysql/data_stream/replica_status/elasticsearch/ingest_pipeline/default.yml
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-1-21.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-2-12.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-3-13.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-explain.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-5-7-22.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-darwin-brew-5-7-10.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-debian-5-7-17.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-debian-5-7-19.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-5-5-53.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-5-7-19-innodb.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-5-7-19.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/slowlog/elasticsearch/ingest_pipeline/default.json
  packages/mysql/data_stream/slowlog/sample_event.json
  packages/mysql/docs/README.md
  packages/mysql/manifest.yml
Labels: Integration:mysql, flaky-test, Team:Obs-InfraObs, bugfix

#12098 ti_custom: Add docs about retrieving ISAC feeds
  packages/ti_custom/_dev/build/docs/README.md
  packages/ti_custom/changelog.yml
  packages/ti_custom/docs/README.md
  packages/ti_custom/manifest.yml
Labels: documentation, enhancement, Team:Security-Service Integrations, Integration:ti_custom

#12105 #12065-10 Adding Power over Ethernet events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12079 [Cloud Security][CSPM][Asset Inventory] Update versions for 8.17 release
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture, Integration:cloud_asset_inventory

#12126 #12118-3/4 Rapid per VLAN Spanning Tree Protocol and QoS events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12112 [M365 Defender] change connection_string to secret
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/manifest.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#12094 Fix broken links in Cloud Defend integration package
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: documentation, bugfix, Integration:cloud_defend, Team:Security-Linux Platform

#12125 ci: enable updates to the feature request template
  .github/workflows/updatecli/updatecli.d/sync-packages-to-bug-issue-template.yml
Labels: Team:Security-Service Integrations

#12084 ti_custom: Improve pagination options for TAXII servers
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_custom/data_stream/indicator/manifest.yml
  packages/ti_custom/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ti_custom

#12136 #12118-5/6/7 RBAC, Redundant Management and Replication Manager events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12135 Update link in the Rapid7 Threat Command Integration
  packages/ti_rapid7_threat_command/_dev/build/docs/README.md
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/docs/README.md
  packages/ti_rapid7_threat_command/manifest.yml
Labels: documentation, bugfix, Integration:ti_rapid7_threat_command, Team:Security-Service Integrations

#11920 cloudflare_logpush: enable memory limit checks for http_endpoint input
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/access_request/manifest.yml
  packages/cloudflare_logpush/data_stream/audit/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/casb/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/casb/manifest.yml
  packages/cloudflare_logpush/data_stream/device_posture/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/device_posture/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/dns_firewall/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/dns_firewall/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_dns/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_http/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_http/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_network/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_network/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/magic_ids/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/magic_ids/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/network_session/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/network_session/manifest.yml
  packages/cloudflare_logpush/data_stream/sinkhole_http/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/sinkhole_http/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/data_stream/workers_trace/agent/stream/http_endpoint.yml.hbs
  packages/cloudflare_logpush/data_stream/workers_trace/manifest.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#12108 google_workspace,jamf_protect,ti_mandiant: add "preserve_original_event" tag to documents with event.kind set to "pipeline_error"
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/access_transparency/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/context_aware_access/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/device/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/gcp/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/group_enterprise/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/rules/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/token/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/web_threat_events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/web_traffic_events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/manifest.yml
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/elasticsearch/ingest_pipeline/default.yml
  packages/ti_mandiant_advantage/manifest.yml
Labels: enhancement, Integration:google_workspace, Integration:ti_mandiant_advantage, Team:Security-Service Integrations, Integration:jamf_protect

#12127 okta: do not remove event.original in main ingest
  packages/okta/changelog.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations

#12139 update documentation to align with markup schema
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12110 Include pipeline test examples to accommodate the new Cloudtrail format
  packages/aws/_dev/build/docs/cloudtrail.md
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-group-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-group-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-group-json.log-expected.json
  packages/aws/docs/cloudtrail.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs

#12134 Fix broken links in the nginx_ingress_controller package
  packages/nginx_ingress_controller/_dev/build/docs/README.md
  packages/nginx_ingress_controller/docs/README.md
Labels: documentation, Integration:nginx_ingress_controller, Team:Cloudnative-Monitoring, bugfix

#12095 [digital_guardian] Correct time formats, data size parsing
  packages/digital_guardian/changelog.yml
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log-expected.json
  packages/digital_guardian/data_stream/arc/elasticsearch/ingest_pipeline/default.yml
  packages/digital_guardian/data_stream/arc/fields/fields.yml
  packages/digital_guardian/docs/README.md
  packages/digital_guardian/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:digital_guardian

#11215 [New Integration] Envoyproxy
  .github/CODEOWNERS
  packages/envoyproxy/_dev/build/build.yml
  packages/envoyproxy/_dev/build/docs/README.md
  packages/envoyproxy/_dev/deploy/docker/docker-compose.yml
  packages/envoyproxy/_dev/deploy/docker/sample_logs/envoy-logfile.log
  packages/envoyproxy/_dev/deploy/docker/sample_logs/envoy-stats.log
  packages/envoyproxy/changelog.yml
  packages/envoyproxy/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/envoyproxy/data_stream/log/_dev/test/pipeline/test-log.log
  packages/envoyproxy/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/envoyproxy/data_stream/log/_dev/test/system/test-default-config.yml
  packages/envoyproxy/data_stream/log/agent/stream/filestream.yml.hbs
  packages/envoyproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/envoyproxy/data_stream/log/elasticsearch/ingest_pipeline/geo.yml
  packages/envoyproxy/data_stream/log/elasticsearch/ingest_pipeline/http.yml
  packages/envoyproxy/data_stream/log/elasticsearch/ingest_pipeline/json.yml
  packages/envoyproxy/data_stream/log/elasticsearch/ingest_pipeline/plaintext.yml
  packages/envoyproxy/data_stream/log/elasticsearch/ingest_pipeline/tcp.yml
  packages/envoyproxy/data_stream/log/fields/base-fields.yml
  packages/envoyproxy/data_stream/log/fields/beats.yml
  packages/envoyproxy/data_stream/log/fields/fields.yml
  packages/envoyproxy/data_stream/log/manifest.yml
  packages/envoyproxy/data_stream/log/sample_event.json
  packages/envoyproxy/data_stream/stats/_dev/test/system/test-default-config.yml
  packages/envoyproxy/data_stream/stats/agent/stream/stream.yml.hbs
  packages/envoyproxy/data_stream/stats/elasticsearch/ingest_pipeline/default.yml
  packages/envoyproxy/data_stream/stats/fields/agent.yml
  packages/envoyproxy/data_stream/stats/fields/base-fields.yml
  packages/envoyproxy/data_stream/stats/fields/beats.yml
  packages/envoyproxy/data_stream/stats/fields/ecs.yml
  packages/envoyproxy/data_stream/stats/fields/fields.yml
  packages/envoyproxy/data_stream/stats/manifest.yml
  packages/envoyproxy/data_stream/stats/sample_event.json
  packages/envoyproxy/docs/README.md
  packages/envoyproxy/img/envoy.svg
  packages/envoyproxy/manifest.yml
Labels: New Integration, Team:Obs-InfraObs

#12148 [Azure Frontdoor] change connection_string to secret
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/manifest.yml
Labels: Integration:azure_frontdoor, bugfix, Team:Security-Service Integrations

#12151 [azure_frontdoor] Add `storage_account_container` variables
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/manifest.yml
  packages/azure_frontdoor/data_stream/waf/agent/stream/azure-eventhub.yml.hbs
  packages/azure_frontdoor/data_stream/waf/manifest.yml
  packages/azure_frontdoor/manifest.yml
Labels: Integration:azure_frontdoor, bugfix, Team:Security-Service Integrations

#11757 Update SQL input integration to fix typo
  packages/sql_input/changelog.yml
  packages/sql_input/docs/README.md
  packages/sql_input/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:sql_input

#12133 Fix broken links in the security packages
  packages/qnap_nas/_dev/build/docs/README.md
  packages/qnap_nas/docs/README.md
  packages/sophos/_dev/build/docs/README.md
  packages/sophos/docs/README.md
  packages/suricata/_dev/build/docs/README.md
  packages/suricata/docs/README.md
Labels: documentation, Integration:sophos, Integration:suricata, bugfix, Team:Security-Deployment and Devices, Integration:qnap_nas

#11814 [MS365] [One Drive] Add One Drive datastream
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/onedrive_usage/_dev/test/pipeline/test-onedrive-usageaccountcounts.json
  packages/o365_metrics/data_stream/onedrive_usage/_dev/test/pipeline/test-onedrive-usageaccountcounts.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage/_dev/test/pipeline/test-onedrive-usagefilecounts.json
  packages/o365_metrics/data_stream/onedrive_usage/_dev/test/pipeline/test-onedrive-usagefilecounts.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage/_dev/test/pipeline/test-onedrive-usagestorage.json
  packages/o365_metrics/data_stream/onedrive_usage/_dev/test/pipeline/test-onedrive-usagestorage.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/onedrive_usage/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage/fields/agent.yml
  packages/o365_metrics/data_stream/onedrive_usage/fields/base-fields.yml
  packages/o365_metrics/data_stream/onedrive_usage/fields/fields.yml
  packages/o365_metrics/data_stream/onedrive_usage/manifest.yml
  packages/o365_metrics/data_stream/outlook_activity/_dev/test/pipeline/test-metrics.json-expected.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#11983 [GCP][CDR] Add actor.entity.id and target.entity.id fields to audit logs
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-cloudresourcemanager-googleapis-com.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-compute-googleapis-com.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-iamcredentials-googleapis-com.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/base-fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/manifest.yml
Labels: enhancement, Integration:gcp, Team:Cloud Security, Team:Security-Service Integrations

#11637 [vSphere] Add and update Dashboards
  packages/vsphere/changelog.yml
  packages/vsphere/img/vsphere_cluster_network_dashboard.png
  packages/vsphere/img/vsphere_dashboard.png
  packages/vsphere/img/vsphere_datastore_datastorecluster_dashboard.png
  packages/vsphere/img/vsphere_host_dashboard.png
  packages/vsphere/img/vsphere_resourcepool_dashboard.png
  packages/vsphere/img/vsphere_vm_dashboard.png
  packages/vsphere/kibana/dashboard/vsphere-172ac91f-ea16-49d1-ba21-e395c8b5eff6.json
  packages/vsphere/kibana/dashboard/vsphere-6ef55590-0337-11ed-80a3-e31802c6cc3f.json
  packages/vsphere/kibana/dashboard/vsphere-72fa1702-7400-4f53-be14-c2817001340a.json
  packages/vsphere/kibana/dashboard/vsphere-77c5abbe-f385-4f1d-9950-7a26ae350e81.json
  packages/vsphere/kibana/dashboard/vsphere-a2d04970-0336-11ed-80a3-e31802c6cc3f.json
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, dashboard, Team:Obs-InfraObs

#12114 Tenable_sc: Update API lastseen parameter format
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/manifest.yml
Labels: enhancement, Integration:tenable_sc, bugfix, Team:Security-Service Integrations

#12100 Fix aws logs duplicated keys in agent template
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/manifest.yml
Labels: bugfix, Integration:aws_logs, Team:obs-ds-hosted-services

#12113 Initial release of PingFederate
  .github/CODEOWNERS
  packages/ping_federate/_dev/build/build.yml
  packages/ping_federate/_dev/build/docs/README.md
  packages/ping_federate/_dev/deploy/docker/docker-compose.yml
  packages/ping_federate/_dev/deploy/docker/sample_logs/test-admin.log
  packages/ping_federate/_dev/deploy/docker/sample_logs/test-audit.log
  packages/ping_federate/changelog.yml
  packages/ping_federate/data_stream/admin/_dev/test/pipeline/test-admin.log
  packages/ping_federate/data_stream/admin/_dev/test/pipeline/test-admin.log-expected.json
  packages/ping_federate/data_stream/admin/_dev/test/pipeline/test-common-config.yml
  packages/ping_federate/data_stream/admin/_dev/test/system/test-logfile-config.yml
  packages/ping_federate/data_stream/admin/agent/stream/filestream.yml.hbs
  packages/ping_federate/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/ping_federate/data_stream/admin/fields/base-fields.yml
  packages/ping_federate/data_stream/admin/fields/beats.yml
  packages/ping_federate/data_stream/admin/fields/fields.yml
  packages/ping_federate/data_stream/admin/manifest.yml
  packages/ping_federate/data_stream/admin/sample_event.json
  packages/ping_federate/data_stream/audit/_dev/test/pipeline/test-audit.json
  packages/ping_federate/data_stream/audit/_dev/test/pipeline/test-audit.json-expected.json
  packages/ping_federate/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-logfile-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-tcp-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-tls-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-udp-config.yml
  packages/ping_federate/data_stream/audit/agent/stream/filestream.yml.hbs
  packages/ping_federate/data_stream/audit/agent/stream/tcp.yml.hbs
  packages/ping_federate/data_stream/audit/agent/stream/udp.yml.hbs
  packages/ping_federate/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/ping_federate/data_stream/audit/fields/base-fields.yml
  packages/ping_federate/data_stream/audit/fields/beats.yml
  packages/ping_federate/data_stream/audit/fields/fields.yml
  packages/ping_federate/data_stream/audit/manifest.yml
  packages/ping_federate/data_stream/audit/sample_event.json
  packages/ping_federate/docs/README.md
  packages/ping_federate/img/ping_federate-admin-dashboard.png
  packages/ping_federate/img/ping_federate-audit-dashboard.png
  packages/ping_federate/img/ping_federate-logo.svg
  packages/ping_federate/kibana/dashboard/ping_federate-4e1a3b90-8da8-4d5d-89e7-5c49fb4a3541.json
  packages/ping_federate/kibana/dashboard/ping_federate-c975ed3a-3c11-4352-830e-84f1efaf9e92.json
  packages/ping_federate/kibana/tag/ping_federate-security-solution-default.json
  packages/ping_federate/kibana/tags.yml
  packages/ping_federate/manifest.yml
  packages/ping_federate/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#12089 [Jolokia Input] Add HTTP Options
  packages/jolokia_input/agent/input/input.yml.hbs
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:jolokia_input

#12180 [Amazon Bedrock] Add support for function calling reasoning and response
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log-expected.json
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock

#12132 Threat map optimization
  packages/threat_map/_dev/build/docs/README.md
  packages/threat_map/changelog.yml
  packages/threat_map/docs/README.md
  packages/threat_map/kibana/dashboard/threat_map-fecb4669-516d-4de9-aa98-713aca39fa6c.json
  packages/threat_map/manifest.yml
Labels: dashboard, bugfix, Crest, Team:Security-Service Integrations, Integration:threat_map

#12158 [checkpoint_harmony_endpoint] Auth and pagination fixes
  packages/checkpoint_harmony_endpoint/_dev/deploy/docker/files/config.yml
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/antibot/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/antibot/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/antibot/manifest.yml
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/manifest.yml
  packages/checkpoint_harmony_endpoint/data_stream/forensics/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/forensics/manifest.yml
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/manifest.yml
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/manifest.yml
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/manifest.yml
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/_dev/test/system/test-default-config.yml
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/manifest.yml
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#12186 Change to First official logo
  packages/first_epss/changelog.yml
  packages/first_epss/img/first-logo.svg
  packages/first_epss/img/first-org-RGB.svg
  packages/first_epss/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:first_epss

#12204 [threat_map] Fix Invalid SVG path error
  packages/threat_map/changelog.yml
  packages/threat_map/kibana/dashboard/threat_map-fecb4669-516d-4de9-aa98-713aca39fa6c.json
  packages/threat_map/manifest.yml
Labels: dashboard, bugfix, Crest, Team:Security-Service Integrations, Integration:threat_map

#12161 Fix handling of lists in 'Set ECS categorization fields' scripts
  packages/authentik/changelog.yml
  packages/authentik/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/authentik/manifest.yml
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_on_demand/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/watchguard_firebox/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/manifest.yml
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:windows, Integration:system, Integration:zscaler_zia, bugfix, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Security-Windows Platform, Integration:watchguard_firebox, Integration:proofpoint_on_demand, Integration:authentik

#12173 [rubrik] Add managed volumes datastream
  .github/CODEOWNERS
  packages/rubrik/LICENSE.txt
  packages/rubrik/_dev/build/build.yml
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/managed_volumes/_dev/test/pipeline/test-managed-volumes-metrics.log
  packages/rubrik/data_stream/managed_volumes/_dev/test/pipeline/test-managed-volumes-metrics.log-expected.json
  packages/rubrik/data_stream/managed_volumes/agent/stream/httpjson.yml.hbs
  packages/rubrik/data_stream/managed_volumes/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/managed_volumes/fields/base-fields.yml
  packages/rubrik/data_stream/managed_volumes/fields/fields.yml
  packages/rubrik/data_stream/managed_volumes/manifest.yml
  packages/rubrik/docs/README.md
  packages/rubrik/img/rubrik-logo.svg
  packages/rubrik/img/sample-screenshot.png
  packages/rubrik/manifest.yml
Labels: New Integration, Team:Obs-InfraObs

#12176 [Arista NG Firewall] Correct Grok pattern due to change in Syslog message format.
  packages/arista_ngfw/changelog.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/arista_ngfw/manifest.yml
Labels: bugfix, Integration:arista_ngfw, Team:Security-Deployment and Devices

#12200 packages/gcp_vertexai: Add support for regions and zone
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:gcp_vertexai

#12166 journald: add missing source.ip and host.ip ECS fields
  packages/journald/changelog.yml
  packages/journald/docs/README.md
  packages/journald/fields/ecs.yml
  packages/journald/manifest.yml
Labels: Integration:journald, Team:Elastic-Agent-Data-Plane, bugfix
