Repository elastic/integrations, pull requests merged in 2024-11, with the labels that each got.

#11608 aws.securityhub_findings: Add fields to `_source` as needed by CDR workflows.
  packages/aws/changelog.yml
  packages/aws/data_stream/securityhub_findings/_dev/test/pipeline/test-securityhub-findings.log-expected.json
  packages/aws/data_stream/securityhub_findings/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_findings/fields/ecs.yml
  packages/aws/elasticsearch/transform/latest_cdr_misconfigurations/fields/ecs.yml
  packages/aws/manifest.yml
Labels: Integration:aws, bugfix, Team:Security-Service Integrations

#11527 [Elasticsearch][Ingest Pipeline] Add elasticsearch.node.name as TSDS dimension
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/ingest_pipeline/fields/package-fields.yml
  packages/elasticsearch/manifest.yml
Labels: Integration:elasticsearch, Feature:Stack Monitoring, bugfix, Team:Stack Monitoring

#11611 carbon_black_cloud: map endpoint events types to event.category and event.type
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/manifest.yml
Labels: enhancement, Integration:carbon_black_cloud, Team:Security-Service Integrations

#11602 cel: Add `xsd` configuration option to input.
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Integration:cel, Team:Security-Service Integrations

#11605 ti_crowdstrike: Set transforms unattended setting to true.
  packages/ti_crowdstrike/_dev/build/docs/README.md
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/transform.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_crowdstrike/manifest.yml
Labels: enhancement, Integration:ti_crowdstrike, Team:Security-Service Integrations

#11582 [azure_billing] Add resource_manager_audience config option
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/changelog.yml
  packages/azure_billing/data_stream/billing/agent/stream/stream.yml.hbs
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
Labels: Team:Service-Integrations, Team:Obs-InfraObs, bugfix, Integration:azure_billing

#11512 packages/salesforce: Update docs to reflect the use of optional security token
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/docs/README.md
  packages/salesforce/manifest.yml
Labels: enhancement, docs, Team:Obs-InfraObs, Integration:salesforce

#11614 [Cloud Security] add missing ECS mappings to wiz cdr_latest_vulnerabilities destination index
  packages/wiz/changelog.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/wiz/manifest.yml
Labels: enhancement, Team:Service-Integrations, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#11524 Deprecate experimental third-party API import option
  packages/apache/changelog.yml
  packages/apache/manifest.yml
  packages/nginx/changelog.yml
  packages/nginx/manifest.yml
  packages/system/changelog.yml
  packages/system/manifest.yml
  packages/windows/_dev/build/docs/README.md
  packages/windows/changelog.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
  packages/zeek/changelog.yml
  packages/zeek/manifest.yml
Labels: deprecation, Integration:windows, Integration:system, Integration:apache, Integration:zeek, Integration:nginx, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs, Team:Security-Deployment and Devices, Team:Security-Linux Platform, Team:Security-Windows Platform

#11610 Add Cilium Tetragon integration
  .github/CODEOWNERS
  packages/tetragon/_dev/build/build.yml
  packages/tetragon/_dev/build/docs/README.md
  packages/tetragon/changelog.yml
  packages/tetragon/data_stream/log/_dev/test/pipeline/test-cilium-tetragon-log.log
  packages/tetragon/data_stream/log/_dev/test/pipeline/test-cilium-tetragon-log.log-expected.json
  packages/tetragon/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/tetragon/data_stream/log/_dev/test/pipeline/test-execkprobe-log.log
  packages/tetragon/data_stream/log/_dev/test/pipeline/test-execkprobe-log.log-expected.json
  packages/tetragon/data_stream/log/agent/stream/filestream.yml.hbs
  packages/tetragon/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/tetragon/data_stream/log/fields/agent.yml
  packages/tetragon/data_stream/log/fields/base-fields.yml
  packages/tetragon/data_stream/log/fields/beats.yml
  packages/tetragon/data_stream/log/fields/fields.yml
  packages/tetragon/data_stream/log/manifest.yml
  packages/tetragon/docs/README.md
  packages/tetragon/img/logo.svg
  packages/tetragon/manifest.yml
Labels: enhancement, New Integration, Team:Security-Deployment and Devices

#10917 [cisco_asa] Fix Event code 106023 - Source/Destination IP not being parsed into respective source.ip or destination.ip field when interface nameif has a full colon (:)
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-106023-iface-with-prefix.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-106023-iface-with-prefix.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#11584 mimecast: squelch test errors associated with timezone short IDs
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
Labels: flaky-test, Integration:mimecast, bugfix, Team:Security-Service Integrations

#11280 [cisco_ise] Improve ECS mappings
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-failed-attempts.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-failed-attempts.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-my-devices.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_failed_attempts.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_mydevices.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/fields/ecs.yml
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: enhancement, Integration:cisco_ise, Team:Security-Deployment and Devices

#11515 [Bug] Fix 400 bad request in localhost_access.*.log causing dissect failure on pipeline.
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/apache_tomcat/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/manifest.yml
Labels: Integration:apache_tomcat, Team:Obs-InfraObs, bugfix

#10684 Updated ingest pipeline default.yml to set event category and type
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/sample_event.json
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: enhancement, Integration:microsoft_exchange_online_message_trac, Team:Security-Service Integrations

#10934 System Integration: Rename Desconnections to Disconnections
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/manifest.yml
Labels: enhancement, Integration:system, dashboard, Team:Obs-InfraObs

#11623 sublime_security: add high-water mark timestamp to prevent duplicate event ingestion
  packages/sublime_security/changelog.yml
  packages/sublime_security/data_stream/audit/agent/stream/cel.yml.hbs
  packages/sublime_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:sublime_security

#11622 carbon_black_cloud: fix handling of source.address to be dependent on direction
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/manifest.yml
Labels: Integration:carbon_black_cloud, bugfix, Team:Security-Service Integrations

#11591 Otel k8s events added back to kubernetes_otel-cluster-overview Dashboard
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/kibana/dashboard/kubernetes_otel-cluster-overview.json
  packages/kubernetes_otel/manifest.yml
Labels: enhancement, dashboard, Team:Cloudnative-Monitoring, Team:obs-ds-hosted-services, Integration:kubernetes_otel

#11344 azure: add related.entity field to auditlogs and signinlogs default ingest pipeline
  packages/azure/changelog.yml
  packages/azure/data_stream/auditlogs/_dev/test/pipeline/test-audit-logs-edgecases.log-expected.json
  packages/azure/data_stream/auditlogs/_dev/test/pipeline/test-audit-logs-sample.log-expected.json
  packages/azure/data_stream/auditlogs/_dev/test/pipeline/test-auditlogs-raw.log-expected.json
  packages/azure/data_stream/auditlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/auditlogs/fields/fields.yml
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-managed-identity-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-managed-identity.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user-signin.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-service-principal-signinlogs-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-service-principal.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-raw.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-sample.log-expected.json
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/signinlogs/fields/fields.yml
  packages/azure/docs/adlogs.md
  packages/azure/manifest.yml
Labels: enhancement, Integration:azure, Team:Obs-InfraObs

#11643 Repairing logs for the aruba integration within the feature branch
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/6000.log
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/6300.log
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/aruba.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
Labels: Integration:hpe_aruba_cx

#11609 [ProxySG] Support 'bcreportermain_v1', 'bcreporterssl_v1', and 'ssl' formats
  packages/proxysg/changelog.yml
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-bcreportermainv1.log
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-bcreportermainv1.log-config.yml
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-bcreportermainv1.log-expected.json
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-bcreportersslv1.log
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-bcreportersslv1.log-config.yml
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-bcreportersslv1.log-expected.json
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-main.log-expected.json
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-ssl.log
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-ssl.log-config.yml
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-ssl.log-expected.json
  packages/proxysg/data_stream/log/elasticsearch/ingest_pipeline/bcreportermain_v1.yml
  packages/proxysg/data_stream/log/elasticsearch/ingest_pipeline/bcreporterssl_v1.yml
  packages/proxysg/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/proxysg/data_stream/log/elasticsearch/ingest_pipeline/ssl.yml
  packages/proxysg/data_stream/log/fields/fields.yml
  packages/proxysg/data_stream/log/manifest.yml
  packages/proxysg/docs/README.md
  packages/proxysg/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:proxysg

#11613 zscaler_zia.firewall: Fix source/destination ip mapping
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall.log-expected.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-unicode.json-expected.json
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/firewall/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:zscaler_zia, Team:Security-Service Integrations

#11590 AWS ELB add support for ALPN policy details in NLB logs
  packages/aws/changelog.yml
  packages/aws/data_stream/elb_logs/_dev/test/pipeline/test-alb.log
  packages/aws/data_stream/elb_logs/_dev/test/pipeline/test-alb.log-expected.json
  packages/aws/data_stream/elb_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/elb_logs/fields/fields.yml
  packages/aws/docs/elb.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs, bugfix

#11641 ti_misp: add request rate limit
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat/manifest.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/manifest.yml
  packages/ti_misp/manifest.yml
Labels: Integration:ti_misp, bugfix, Team:Security-Service Integrations

#11662 [Aruba] Add DCBx log processing
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11666 [Aruba] Add CFM log processing
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: enhancement, Integration:hpe_aruba_cx

#11621 cisco_duo.trust_monitor: Fix 400 and 401 errors in Trust Monitor
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/system/test-default-config.yml
  packages/cisco_duo/data_stream/trust_monitor/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11660 [azure] Fix error and improve clarity in Storage Account docs
  packages/azure/_dev/build/docs/README.md
  packages/azure/changelog.yml
  packages/azure/docs/README.md
  packages/azure/manifest.yml
Labels: documentation, Integration:azure, bugfix, Team:obs-ds-hosted-services

#11552 [azure_logs] Add Custom Azure Logs input package
  .github/CODEOWNERS
  packages/azure_logs/LICENSE.txt
  packages/azure_logs/_dev/build/build.yml
  packages/azure_logs/_dev/build/docs/README.md
  packages/azure_logs/agent/input/input.yml.hbs
  packages/azure_logs/changelog.yml
  packages/azure_logs/docs/README.md
  packages/azure_logs/fields/base-fields.yml
  packages/azure_logs/img/icon.svg
  packages/azure_logs/manifest.yml
Labels: enhancement, New Integration, Team:obs-ds-hosted-services, Integration:azure_logs

#11472 [checkpoint_email] Initial release of the Check Point Harmony Email & Collaboration
  .github/CODEOWNERS
  packages/checkpoint_email/_dev/build/build.yml
  packages/checkpoint_email/_dev/build/docs/README.md
  packages/checkpoint_email/_dev/deploy/docker/docker-compose.yml
  packages/checkpoint_email/_dev/deploy/docker/files/config.yml
  packages/checkpoint_email/changelog.yml
  packages/checkpoint_email/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/checkpoint_email/data_stream/event/_dev/test/pipeline/test-event.log
  packages/checkpoint_email/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/checkpoint_email/data_stream/event/_dev/test/system/test-default-config.yml
  packages/checkpoint_email/data_stream/event/agent/stream/cel.yml.hbs
  packages/checkpoint_email/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint_email/data_stream/event/fields/base-fields.yml
  packages/checkpoint_email/data_stream/event/fields/beats.yml
  packages/checkpoint_email/data_stream/event/fields/fields.yml
  packages/checkpoint_email/data_stream/event/manifest.yml
  packages/checkpoint_email/data_stream/event/sample_event.json
  packages/checkpoint_email/docs/README.md
  packages/checkpoint_email/img/checkpoint-logo.svg
  packages/checkpoint_email/img/checkpoint_email-event_overview.png
  packages/checkpoint_email/kibana/dashboard/checkpoint_email-1404d9d9-994a-4d46-aa40-339e43179cf2.json
  packages/checkpoint_email/kibana/search/checkpoint_email-08b47d47-e0e1-4ea7-b26e-1df2db31ca87.json
  packages/checkpoint_email/kibana/tag/checkpoint_email-security-solution-default.json
  packages/checkpoint_email/kibana/tags.yml
  packages/checkpoint_email/manifest.yml
  packages/checkpoint_email/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#11667 [ARUBA] Add support for DNS and DPSE events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11640 [Cisco Duo] - Added fix for 400 and 401 errors in telephony v2 data stream
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: integration, Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11683 sublime_security: fix water mark use
  packages/sublime_security/changelog.yml
  packages/sublime_security/data_stream/audit/agent/stream/cel.yml.hbs
  packages/sublime_security/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:sublime_security

#11659 [GCP VertexAI] Update dashboard and documentation & Fix field mapping
  packages/gcp_vertexai/_dev/build/build.yml
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/metrics/fields/fields.yml
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/data_stream/metrics/sample_event.json
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/img/gcp-vertexai-overview-dashboard.png
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-b711f0e9-6c69-42f1-9edc-d276f6f162a3.json
  packages/gcp_vertexai/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:gcp_vertexai

#11652 [checkpoint_harmony_endpoint] Tidy the Server URL var, screenshots
  packages/checkpoint_harmony_endpoint/_dev/build/docs/README.md
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/docs/README.md
  packages/checkpoint_harmony_endpoint/img/Screenshot_1.png
  packages/checkpoint_harmony_endpoint/img/screenshot1.png
  packages/checkpoint_harmony_endpoint/img/screenshot2.png
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#11647 [claroty_ctd] Fixed batch size issue in data collection for asset and baseline data-streams.
  packages/claroty_ctd/changelog.yml
  packages/claroty_ctd/data_stream/asset/agent/stream/cel.yml.hbs
  packages/claroty_ctd/data_stream/baseline/agent/stream/cel.yml.hbs
  packages/claroty_ctd/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:claroty_ctd

#11649 [corelight] Update inferences field to ssh.inferences for ssh log type
  packages/corelight/changelog.yml
  packages/corelight/kibana/dashboard/corelight-45197477-c13f-4e52-a5dd-fb4f53564963.json
  packages/corelight/manifest.yml
Labels: enhancement, dashboard, Crest, Team:Security-Service Integrations, Integration:corelight

#11668 [citrix_adc] improve grok parsing in sslvpn pipeline
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/alg_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/appfw_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/bot_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/cef.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ci_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/cvpn_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/dns_and_ssli_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ica_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/pitboss_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ssllog_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/tcp_and_acl_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/transform_feature.yml
  packages/citrix_adc/data_stream/log/fields/fields.yml
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/manifest.yml
Labels: breaking change, Team:Obs-InfraObs, Team:Security-Deployment and Devices, Integration:citrix_adc

#11691 [hpe_aruba_cx] Add parsing for container event logs
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11699 [Security Rules] Update security rules package to v8.13.22
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11701 [Security Rules] Update security rules package to v8.15.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11702 [Security Rules] Update security rules package to v8.16.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11700 [Security Rules] Update security rules package to v8.14.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11692 [Aruba] Add ecmp type
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#10158 akamai: handle input leniently
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log-expected.json
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
Labels: enhancement, Integration:akamai, Team:Security-Service Integrations

#11698 [citrix_adc] Improve timestamp parsing
  packages/citrix_adc/_dev/deploy/docker/sample_logs/citrix-adc.log
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-with-delink.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ica_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/tcp_and_acl_feature.yml
  packages/citrix_adc/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:citrix_adc

#11693 auth0: Fix dashboard visualisations containing empty data.
  packages/auth0/_dev/deploy/docker/sample_logs/auth0-ndjson.log
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/_dev/test/system/test-auth0-cel-config.yml
  packages/auth0/data_stream/logs/_dev/test/system/test-auth0-http-config.yml
  packages/auth0/data_stream/logs/_dev/test/system/test-auth0-https-config.yml
  packages/auth0/data_stream/logs/manifest.yml
  packages/auth0/data_stream/logs/sample_event.json
  packages/auth0/docs/README.md
  packages/auth0/kibana/dashboard/auth0-29fb7200-4062-11ec-b18d-ef6bf98b26bf.json
  packages/auth0/kibana/search/auth0-629b19e0-4061-11ec-b18d-ef6bf98b26bf.json
  packages/auth0/kibana/tag/auth0-security-solution-default.json
  packages/auth0/manifest.yml
Labels: dashboard, Integration:auth0, bugfix, Team:Security-Service Integrations

#11685 darktrace: handle model breach alert documents that have boolean acknowledged
  packages/darktrace/changelog.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/pipeline/test-model-breach-alert.log
  packages/darktrace/data_stream/model_breach_alert/_dev/test/pipeline/test-model-breach-alert.log-expected.json
  packages/darktrace/data_stream/model_breach_alert/elasticsearch/ingest_pipeline/default.yml
  packages/darktrace/manifest.yml
Labels: enhancement, Integration:darktrace, Team:Security-Service Integrations

#11638 mimecast: fix parsing of logon-authentication-failed events
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#11646 packages/microsoft_sqlserver: Improve documentation
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver, docs, Team:Obs-InfraObs

#11669 [vSphere] Apply doc guidelines and general editing
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: documentation, enhancement, Integration:vsphere, Team:Obs-InfraObs

#11711 [Cloud Security] Release version 1.11.0
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11681 [Custom AWS logs] Remove ingest pipeline option
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: bugfix, Integration:aws_logs, Team:obs-ds-hosted-services

#11654 [AWS] [Billing] Remove `reducedTimeRange` Filter from `Total Estimated Charges` Lens
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-e6776b10-1534-11ea-841c-01bf20a6c8ba.json
  packages/aws/manifest.yml
Labels: Integration:aws, dashboard, Team:Obs-InfraObs, bugfix, Team:obs-ds-hosted-services

#11718 Add log format option to all input configs
  packages/proxysg/changelog.yml
  packages/proxysg/data_stream/log/manifest.yml
  packages/proxysg/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:proxysg

#11724 [crowdstrike] Map additional fields observed in alert data
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#11670 cisco_duo: fix 400 and 401 errors in Auth and Activity
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/activity/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/auth/manifest.yml
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/trust_monitor/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11713 Add changelog for backport versions into main
  packages/aws/changelog.yml
Labels: Integration:aws, Team:Obs-InfraObs, backport, Team:obs-ds-hosted-services

#11725 packages/salesforce: GA Release
  packages/salesforce/changelog.yml
  packages/salesforce/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:salesforce, bugfix

#11619 [cisco_ise] Fix multiple pipeline processing issues
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-ad-connector.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-administrative-and-operational-audit.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-administrative-and-operational-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-authentication-flow-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-cise-alarm.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-failed-attempts.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-guest.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-identity-stores-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-internal-operations-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-monitoring-data-purge-audit.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-monitoring-data-purge-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-my-devices.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-policy-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-posture-client-provisioning-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-accounting-identifier.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-accounting-identifier.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-system-statistics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-threat-centric-nac.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_administrative_and_operational_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_monitoring_data_purge_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/fields/fields.yml
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: Integration:cisco_ise, bugfix, Team:Security-Deployment and Devices

#11726 eset_protect: add HTTP header identifying the integration
  packages/eset_protect/changelog.yml
  packages/eset_protect/data_stream/detection/agent/stream/cel.yml.hbs
  packages/eset_protect/data_stream/device_task/agent/stream/cel.yml.hbs
  packages/eset_protect/manifest.yml
Labels: enhancement, Integration:eset_protect, Team:Security-Service Integrations

#11674 Aruba #11541: Support the first 10 event types for the Aruba integration
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: enhancement, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11720 [Aruba] Add parsing of CoPP events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: enhancement, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11732 [azure] rename azure.platformlogs.properties as .raw when it contains a string value
  packages/azure/changelog.yml
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-json-raw.log
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-json-raw.log-expected.json
  packages/azure/data_stream/platformlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:azure, bugfix, Team:obs-ds-hosted-services

#11748 [Aruba] Add CPU_RX Events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11745 [Aruba] Add EVPN events handling
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11734 crowdstrike: add support for FQL queries in alert and host data streams
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/alert/manifest.yml
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#11721 tenable_sc: update tested versions note and user agent string
  packages/tenable_sc/_dev/build/docs/README.md
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: documentation, enhancement, Integration:tenable_sc, Team:Security-Service Integrations

#11703 ti_crowdstrike: fix mapping type for ioc.value field
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/ioc/fields/fields.yml
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_crowdstrike/manifest.yml
Labels: breaking change, bugfix, Integration:ti_crowdstrike, Team:Security-Service Integrations

#11743 [Search Connectors] Add connector_id to policy template
  packages/elastic_connectors/agent/input/github.yml.hbs
  packages/elastic_connectors/agent/input/google_drive.yml.hbs
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/manifest.yml
Labels: enhancement, Integration:elastic_connectors, Team:Search-Extract and Transform

#11716 Add "Security Solution" tags to security-related CDR integrations
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/kibana/tags.yml
  packages/prisma_cloud/manifest.yml
  packages/wiz/changelog.yml
  packages/wiz/kibana/tags.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Integration:prisma_cloud

#11663 CSPM: add cloud connectors support
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11731 [cisco_ios] Fix FQDN parsing
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-asr920.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-badauth.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format-tzoffset.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-fqdn.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-fqdn.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-tzoffset.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-yearfirst-timestamp.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:cisco_ios, bugfix, Team:Security-Deployment and Devices

#11730 [panw] Parse URL for threat-file message types
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/manifest.yml
Labels: enhancement, Integration:panw, Team:Security-Deployment and Devices

#11704 cyberarkpas: bump stream version
  packages/cyberarkpas/_dev/deploy/docker/docker-compose.yml
Labels: Integration:cyberarkpas, bugfix, Team:Security-Service Integrations

#11752 [Aruba] Add external drive event
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11707 Universal Profiling Agent: add project_id
  packages/universal_profiling_agent/agent/input/input.yml.hbs
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/manifest.yml
Labels: enhancement, Integration:universal_profiling_agent

#11025 [netflow] add workers option
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/agent/stream/netflow.yml.hbs
  packages/netflow/data_stream/log/manifest.yml
  packages/netflow/manifest.yml
Labels: enhancement, Integration:netflow, Team:Security-Deployment and Devices

#11777 [Aruba] Add DHCP Relay events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/docs/README.md
Labels: Integration:hpe_aruba_cx

#11332 Add Filestream integration
  .github/CODEOWNERS
  packages/filestream/_dev/build/build.yml
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/_dev/deploy/docker/docker-compose.yml
  packages/filestream/_dev/deploy/docker/sample_logs/test-filestream.log
  packages/filestream/changelog.yml
  packages/filestream/data_stream/generic/_dev/test/system/test-filestream-config.yml
  packages/filestream/data_stream/generic/agent/stream/filestream.yml.hbs
  packages/filestream/data_stream/generic/fields/base-fields.yml
  packages/filestream/data_stream/generic/fields/beats.yml
  packages/filestream/data_stream/generic/fields/ecs.yml
  packages/filestream/data_stream/generic/fields/filestream.yml
  packages/filestream/data_stream/generic/manifest.yml
  packages/filestream/data_stream/generic/sample_event.json
  packages/filestream/docs/README.md
  packages/filestream/img/icon.svg
  packages/filestream/manifest.yml
Labels: New Integration, Team:Elastic-Agent-Data-Plane

#11625 [Nginx Otel] Fix body structured field in dashboards
  packages/nginx_ingress_controller_otel/changelog.yml
  packages/nginx_ingress_controller_otel/docs/README.md
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-05a72585-3900-4944-b648-2f15907872d1.json
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-30277d32-7af7-4a29-b5e2-a77e707d8471.json
  packages/nginx_ingress_controller_otel/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:nginx_ingress_controller_otel

#11772 cisco_duo: fix the parsing of last_published timestamp
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/activity/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#11401 [O11y][HAProxy] Update misleading visualizations on haproxy.stat.connection.total field and add new visualizations.
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/stat/fields/fields.yml
  packages/haproxy/docs/README.md
  packages/haproxy/img/haproxy-metrics-backend.png
  packages/haproxy/img/haproxy-metrics-frontend.png
  packages/haproxy/img/haproxy-metrics-http-backend.png
  packages/haproxy/img/haproxy-metrics-http-frontend.png
  packages/haproxy/img/haproxy-metrics-http-server.png
  packages/haproxy/img/haproxy-metrics-overview.png
  packages/haproxy/kibana/dashboard/haproxy-0836a4b0-47bd-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-3560d580-aa34-11e8-9c06-877f0445e3e0.json
  packages/haproxy/kibana/dashboard/haproxy-4b555c30-47dd-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-8cc50a50-47e0-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-9151c900-471d-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-d5878d00-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-e9057ae0-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/manifest.yml
Labels: Integration:haproxy, dashboard, Team:Obs-InfraObs, bugfix

#11788 [microsoft_exchange_server] Fix relatedrecipientaddress mapping
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/fields.yml
  packages/microsoft_exchange_server/manifest.yml
Labels: bugfix, Team:Security-Windows Platform, Integration:microsoft_exchange_server

#11780 [cisco_ftd] Fixed grok errors on ftd message ID 305006. Added additional matching patterns per specification.
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-firepower-management.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-305006.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-305006.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-endpoint-profile.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-session.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-username-with-spaces.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-no-type-id.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-file-malware.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:cisco_ftd, bugfix, Team:Security-Deployment and Devices

#11781 [citrix_adc] Support addition log message types and ECS mappings
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-with-delink.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-cef.log-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:citrix_adc

#11796 [Aruba] added Fault monitor event
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#10955 entityanalytics_ad: expose attribute selection configuration
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_ad/data_stream/user/manifest.yml
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad

#11802 [Azure] [App Service] Remove metrics reference from manifest
  packages/azure_app_service/changelog.yml
  packages/azure_app_service/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:azure_app_service

#11739 crowdstrike.falcon: Fix Falcon Overview dashboard errors.
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/kibana/dashboard/crowdstrike-ad80a080-821b-11ee-bae0-937af575b750.json
  packages/crowdstrike/kibana/search/crowdstrike-a9e7ff80-8212-11ee-bae0-937af575b750.json
  packages/crowdstrike/kibana/tag/crowdstrike-security-solution-default.json
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, dashboard, bugfix, Team:Security-Service Integrations

#11797 [tanium] Fix handling of differently formatted data
  packages/tanium/changelog.yml
  packages/tanium/data_stream/action_history/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/client_status/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/discover/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/endpoint_config/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/reporting/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-threat-response.log
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-threat-response.log-expected.json
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/pipeline_payload.yml
  packages/tanium/data_stream/threat_response/fields/fields.yml
  packages/tanium/docs/README.md
  packages/tanium/manifest.yml
Labels: Integration:tanium, bugfix, Team:Security-Service Integrations

#11804 [crowdstrike] Extract user and host names from the name field
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#11803 Fix broken link in Custom API using Common Expression Language
  packages/httpjson/_dev/build/docs/README.md
  packages/httpjson/changelog.yml
  packages/httpjson/docs/README.md
  packages/httpjson/manifest.yml
Labels: documentation, Integration:httpjson, bugfix, Team:Security-Service Integrations

#11798 [Aruba] Firmware update event
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11639 [servicenow] Add product version and remove `logs` from configuration page description.
  packages/servicenow/_dev/build/docs/README.md
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/servicenow/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/servicenow/data_stream/event/agent/stream/cel.yml.hbs
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/data_stream/event/manifest.yml
  packages/servicenow/data_stream/event/sample_event.json
  packages/servicenow/docs/README.md
  packages/servicenow/kibana/dashboard/servicenow-e6093b0d-38a6-4b05-8354-4bbaef28b667.json
  packages/servicenow/manifest.yml
Labels: documentation, enhancement, Crest, Team:Security-Service Integrations, Integration:servicenow

#11824 ti_misp: update the use of fingerprint processors
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/manifest.yml
Labels: Integration:ti_misp, bugfix, Team:Security-Service Integrations

#11800 [cisco_ise] Revert mapping change for cisco_av_pair that was introduced with 1.24.1
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/fields/fields.yml
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: Integration:cisco_ise, bugfix, Team:Security-Deployment and Devices

#11815 [cisco_secure_email_gateway] Fix parsing the text_mail log lines for file uploads
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-anti-spam.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-antivirus.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-content-scanner.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-error.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-gui-log.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-mail-file-upload.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-mail-file-upload.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-status.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-system.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-text-mail.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_text_mail_logs.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/ecs.yml
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Integration:cisco_secure_email_gateway, bugfix, Team:Security-Deployment and Devices

#11817 Revert "[Custom AWS logs] Remove ingest pipeline option"
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: bugfix, Integration:aws_logs, Team:obs-ds-hosted-services

#11749 [azure/graphactivitylogs] fix destination.geo.region_name mapping
  packages/azure/changelog.yml
  packages/azure/data_stream/graphactivitylogs/fields/ecs.yml
  packages/azure/docs/graphactivitylogs.md
  packages/azure/manifest.yml
Labels: Integration:azure, bugfix, Team:Security-Service Integrations

#11794 aws_inspector: add note about AWS Permissions and Role ARN support
  packages/aws/_dev/build/docs/README.md
  packages/aws/_dev/build/docs/inspector.md
  packages/aws/changelog.yml
  packages/aws/docs/README.md
  packages/aws/docs/inspector.md
  packages/aws/manifest.yml
Labels: documentation, Integration:aws, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11825 1password: unify the use for user.full_name and user.name for all data streams
  packages/1password/changelog.yml
  packages/1password/data_stream/audit_events/_dev/test/pipeline/test-auditevents.json-expected.json
  packages/1password/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/audit_events/sample_event.json
  packages/1password/data_stream/item_usages/_dev/test/pipeline/test-itemusages.json-expected.json
  packages/1password/data_stream/item_usages/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/item_usages/sample_event.json
  packages/1password/data_stream/signin_attempts/_dev/test/pipeline/test-signinattempts.json-expected.json
  packages/1password/data_stream/signin_attempts/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/signin_attempts/sample_event.json
  packages/1password/docs/README.md
  packages/1password/manifest.yml
Labels: Integration:1password, bugfix, Team:Security-Service Integrations

#11779 [Aruba] Add Fan Events
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11819 jamf_pro: fix instructions for Header Authentication configuration
  packages/jamf_pro/_dev/build/docs/README.md
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/docs/README.md
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#11786 [claroty_ctd] Added double new lines between the navigation links on the dashboard.
  packages/claroty_ctd/changelog.yml
  packages/claroty_ctd/img/claroty_ctd-activity_log.png
  packages/claroty_ctd/img/claroty_ctd-alert.png
  packages/claroty_ctd/img/claroty_ctd-asset.png
  packages/claroty_ctd/img/claroty_ctd-baseline.png
  packages/claroty_ctd/img/claroty_ctd-event.png
  packages/claroty_ctd/img/claroty_ctd-health_check.png
  packages/claroty_ctd/img/claroty_ctd-insight.png
  packages/claroty_ctd/img/claroty_ctd-overview.png
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-0f0d9db1-dbf3-4d2f-b87c-c5d75e6ea62d.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-1051aba6-db32-473c-a24d-3b9200f22f17.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-3ff35f11-fb3c-40b1-bb47-a0d5345fc0c7.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-66d8c2cc-eeb7-420e-8c83-9c0cae66a7fe.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-a91b7c98-8dd4-479e-bc35-71641c85db97.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-b7e0ad66-86c3-4b72-ae19-0576ed9fb1d6.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-ce5edf6b-6671-4d1e-adc0-834a76ff9169.json
  packages/claroty_ctd/kibana/dashboard/claroty_ctd-e2106b06-3d16-4014-9343-f63ebb90a114.json
  packages/claroty_ctd/manifest.yml
Labels: enhancement, dashboard, Crest, Team:Security-Service Integrations, Integration:claroty_ctd

#11784 mimecast: prevent contamination of time values with short timezone IDs
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/fields/field.yml
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#11829 [AWS][Cloudfront Logs] - Implemented GROK processor based ipv6/v4 parsing in AWS Cloudfront Logs data stream
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/manifest.yml
  packages/aws/data_stream/apigateway_metrics/fields/package-fields.yml
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log-expected.json
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/pipeline_process_ip.yml
  packages/aws/data_stream/cloudfront_logs/manifest.yml
  packages/aws/data_stream/cloudfront_logs/sample_event.json
  packages/aws/data_stream/cloudtrail/fields/fields.yml
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/dynamodb/fields/package-fields.yml
  packages/aws/data_stream/ebs/fields/package-fields.yml
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/ec2_metrics/_dev/test/pipeline/test-ec2-metrics-from-firehose.json
  packages/aws/data_stream/ec2_metrics/fields/package-fields.yml
  packages/aws/data_stream/elb_logs/fields/fields.yml
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/elb_metrics/fields/package-fields.yml
  packages/aws/data_stream/emr_logs/manifest.yml
  packages/aws/data_stream/emr_metrics/fields/package-fields.yml
  packages/aws/data_stream/firewall_logs/manifest.yml
  packages/aws/data_stream/firewall_metrics/fields/package-fields.yml
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/kafka_metrics/fields/package-fields.yml
  packages/aws/data_stream/kinesis/fields/package-fields.yml
  packages/aws/data_stream/lambda/fields/package-fields.yml
  packages/aws/data_stream/natgateway/fields/package-fields.yml
  packages/aws/data_stream/rds/_dev/test/pipeline/test-rds-metrics-from-firehose.json
  packages/aws/data_stream/rds/fields/package-fields.yml
  packages/aws/data_stream/route53_resolver_logs/manifest.yml
  packages/aws/data_stream/s3_daily_storage/fields/package-fields.yml
  packages/aws/data_stream/s3_request/fields/package-fields.yml
  packages/aws/data_stream/s3_storage_lens/fields/package-fields.yml
  packages/aws/data_stream/s3access/manifest.yml
  packages/aws/data_stream/sns/fields/package-fields.yml
  packages/aws/data_stream/sqs/fields/package-fields.yml
  packages/aws/data_stream/transitgateway/fields/package-fields.yml
  packages/aws/data_stream/usage/fields/package-fields.yml
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/data_stream/vpn/fields/package-fields.yml
  packages/aws/data_stream/waf/manifest.yml
  packages/aws/docs/cloudfront.md
  packages/aws/manifest.yml
Labels: enhancement, integration, Integration:aws, Team:Obs-InfraObs, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#11858 aws_bedrock: add mapping for gen_ai.guardrail_id
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log-expected.json
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/data_stream/invocation/fields/fields.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:aws_bedrock

#11863 [Zscaler ZIA] Add custom input options to http input
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/alerts/manifest.yml
  packages/zscaler_zia/data_stream/audit/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/audit/manifest.yml
  packages/zscaler_zia/data_stream/dns/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/dns/manifest.yml
  packages/zscaler_zia/data_stream/endpoint_dlp/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/endpoint_dlp/manifest.yml
  packages/zscaler_zia/data_stream/firewall/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/firewall/manifest.yml
  packages/zscaler_zia/data_stream/sandbox_report/manifest.yml
  packages/zscaler_zia/data_stream/tunnel/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/tunnel/manifest.yml
  packages/zscaler_zia/data_stream/web/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/web/manifest.yml
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:zscaler_zia, Team:Security-Service Integrations

#11867 ti_custom: fixes for TAXII communication in Custom TI
  packages/ti_custom/_dev/deploy/docker/files/config.yml
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_custom/data_stream/indicator/manifest.yml
  packages/ti_custom/manifest.yml
Labels: enhancement, bugfix, Team:Security-Service Integrations, Integration:ti_custom

#11664 [New Integration] blacklens.io
  .github/CODEOWNERS
  packages/blacklens/_dev/build/build.yml
  packages/blacklens/_dev/build/docs/README.md
  packages/blacklens/changelog.yml
  packages/blacklens/data_stream/alerts/_dev/test/pipeline/test-alerts.log
  packages/blacklens/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/blacklens/data_stream/alerts/agent/stream/httpjson.yml.hbs
  packages/blacklens/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/blacklens/data_stream/alerts/fields/base-fields.yml
  packages/blacklens/data_stream/alerts/fields/beats.yml
  packages/blacklens/data_stream/alerts/fields/ecs.yml
  packages/blacklens/data_stream/alerts/fields/fields.yml
  packages/blacklens/data_stream/alerts/manifest.yml
  packages/blacklens/data_stream/alerts/sample_event.json
  packages/blacklens/docs/README.md
  packages/blacklens/img/blacklens-dashboard-alerts.png
  packages/blacklens/img/blacklens-logo.svg
  packages/blacklens/kibana/dashboard/blacklens-e718fd52-f1b3-400f-94c1-ead17da571f6.json
  packages/blacklens/kibana/tag/blacklens-f91e5a40-16bf-46d8-a366-e0f9a5ddb6a4.json
  packages/blacklens/manifest.yml
Labels: New Integration, Team:Security-Service Integrations, Community, Integration:blacklens

#11876 Replace Metricbeat with Elastic Agent
  packages/prometheus/_dev/build/docs/README.md
  packages/prometheus/changelog.yml
  packages/prometheus/docs/README.md
  packages/prometheus/manifest.yml
Labels: documentation, enhancement, Integration:prometheus, Team:Obs-InfraObs

#11861 [O11y][MySQL] Update README to clarify the supported setup information for `replica_status` data stream
  packages/mysql/_dev/build/docs/README.md
  packages/mysql/changelog.yml
  packages/mysql/docs/README.md
  packages/mysql/manifest.yml
Labels: documentation, enhancement, Integration:mysql, Team:Obs-InfraObs

#11872 Support the first 30-40 event types for the Aruba integration
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11901 [Security Rules] Update security rules package to v8.13.23
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11902 [Security Rules] Update security rules package to v8.14.17
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11903 [Security Rules] Update security rules package to v8.15.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11904 [Security Rules] Update security rules package to v8.16.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11484 [AWS] add support to include linked accounts when using log name prefix to select log groups
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/apigateway_logs/manifest.yml
  packages/aws/data_stream/cloudtrail/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/cloudwatch_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/cloudwatch_logs/manifest.yml
  packages/aws/data_stream/ec2_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/elb_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/emr_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/emr_logs/manifest.yml
  packages/aws/data_stream/firewall_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/firewall_logs/manifest.yml
  packages/aws/data_stream/route53_public_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/route53_public_logs/manifest.yml
  packages/aws/data_stream/route53_resolver_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/route53_resolver_logs/manifest.yml
  packages/aws/data_stream/vpcflow/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/data_stream/waf/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/waf/manifest.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_bedrock/data_stream/invocation/manifest.yml
  packages/aws_bedrock/manifest.yml
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock, Integration:aws_logs, Team:obs-ds-hosted-services

#11884 [cisco_asa] Handle another variation of message 113040
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-106023-iface-with-prefix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#11896 Fix broken links for Barracuda and Websocket integrations
  packages/barracuda/_dev/build/docs/README.md
  packages/barracuda/changelog.yml
  packages/barracuda/docs/README.md
  packages/barracuda/manifest.yml
  packages/websocket/_dev/build/docs/README.md
  packages/websocket/changelog.yml
  packages/websocket/docs/README.md
  packages/websocket/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:barracuda, Integration:websocket

#11885 prisma_cloud: fix trace log location, don't leak access token into debug logs and fix login endpoint path
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/alert/agent/stream/input.yml.hbs
  packages/prisma_cloud/data_stream/audit/agent/stream/input.yml.hbs
  packages/prisma_cloud/data_stream/host/agent/stream/input.yml.hbs
  packages/prisma_cloud/data_stream/host_profile/agent/stream/input.yml.hbs
  packages/prisma_cloud/manifest.yml
Labels: bugfix, Integration:prisma_cloud, Team:Security-Service Integrations

#11887 tines: fix handling of multimorphic tines.audit_log.inputs.inputs.options fields
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-audit-logs.json
  packages/tines/data_stream/audit_logs/_dev/test/pipeline/test-audit-logs.json-expected.json
  packages/tines/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/tines/data_stream/audit_logs/fields/fields.yml
  packages/tines/docs/README.md
  packages/tines/manifest.yml
  packages/tines/validation.yml
Labels: Integration:tines, bugfix, Team:Security-Service Integrations

#11889 servicenow: retain the servicenow.event.table_name field
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/data_stream/event/fields/fields.yml
  packages/servicenow/data_stream/event/sample_event.json
  packages/servicenow/docs/README.md
  packages/servicenow/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:servicenow

#11877 qualys_vmdr.knowledge_base: Handle *_LIST fields containing multiple values.
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log-expected.json
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-2_valid-mixed-list-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/fields/fields.yml
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#11758 [New Integration] Threat Map
  .github/CODEOWNERS
  packages/threat_map/_dev/build/docs/README.md
  packages/threat_map/changelog.yml
  packages/threat_map/docs/README.md
  packages/threat_map/img/copy-to-dashboard.png
  packages/threat_map/img/customization-options.png
  packages/threat_map/img/query-bar.png
  packages/threat_map/img/sample-logo.svg
  packages/threat_map/img/threat-map.png
  packages/threat_map/kibana/dashboard/threat_map-7c35935c-0bb9-493a-ab49-d89889a5412d.json
  packages/threat_map/manifest.yml
  packages/threat_map/validation.yml
Labels: dashboard, New Integration, Crest, Team:Security-Service Integrations

#11890 aws_bedrock: retain contextualGroundingPolicy check details
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log-expected.json
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/data_stream/invocation/fields/fields.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:aws_bedrock

#11891 [AWS docs] Add required permissions for Custom AWS Logs
  packages/aws_logs/_dev/build/docs/README.md
  packages/aws_logs/changelog.yml
  packages/aws_logs/docs/README.md
  packages/aws_logs/manifest.yml
Labels: documentation, enhancement, Integration:aws_logs, Team:obs-ds-hosted-services

#11918 [integrations][GitHub] - Added support for enterprise audit logs
  packages/github/_dev/build/docs/README.md
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-json.log-expected.json
  packages/github/data_stream/audit/_dev/test/pipeline/test-organisation-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-organisation-audit-json.log-expected.json
  packages/github/data_stream/audit/_dev/test/system/test-enterprise-audit-config.yml
  packages/github/data_stream/audit/_dev/test/system/test-organisation-audit-config.yml
  packages/github/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/audit/manifest.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: enhancement, integration, Integration:github, Team:Security-Service Integrations

#11924 Fix broken link for Microsoft SQL Server Integration
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: documentation, Integration:microsoft_sqlserver, Team:Obs-InfraObs, bugfix

#11926 Fix broken link for the Barracuda integration
  packages/barracuda/_dev/build/docs/README.md
  packages/barracuda/changelog.yml
  packages/barracuda/docs/README.md
  packages/barracuda/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:barracuda

#11917 [panw] Map name for more subtypes, fix CSV escaping
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/manifest.yml
Labels: Integration:panw, bugfix, Team:Security-Service Integrations, Team:Security-Deployment and Devices

#11925 Fix broken link and various formatting issues for the Squid Proxy integration
  packages/squid/_dev/build/docs/README.md
  packages/squid/changelog.yml
  packages/squid/docs/README.md
  packages/squid/manifest.yml
Labels: documentation, Integration:squid, bugfix, Team:Security-Deployment and Devices

#11932 [integrations][GitHub] - Addressed some missing documentation issues and fixed timestamp value in sample logs
  packages/github/_dev/build/docs/README.md
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-json.log-expected.json
  packages/github/data_stream/audit/manifest.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: integration, Integration:github, bugfix, Team:Security-Service Integrations
