Repository elastic/integrations, pull requests merged in 2024-04, with the labels that each got.

#9291 okta: allow users to provide private key as a PEM block
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/system/test-oauth2-pem-config.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/manifest.yml
Labels: enhancement, Integration:Okta, Team:Security-Service Integrations

#9481 cisco_ios: Fix hostname parsing for names that contain '_' underscore characters
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:CiscoIOS, bugfix, Team:Security-Deployment and Devices

#9483 [akamai.siem] handle empty userRiskData strings
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log-expected.json
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
Labels: bug, Integration:Akamai, Team:Security-Service Integrations

#9432 system/security - uses elastic/stream v0.14.0 for testing
  packages/system/_dev/deploy/docker/docker-compose.yml
  packages/system/_dev/deploy/docker/files/security.stream.yml
  packages/system/_dev/deploy/docker/sample_logs/security.json.log
  packages/system/data_stream/security/_dev/test/system/test-default-config.yml
Labels: Integration:System, Team:Obs-InfraObs, Team:Security-Linux Platform, Team:Security-Windows Platform

#9424 Add a `period` parameter to the counter cache in remote write
  packages/prometheus/_dev/build/docs/README.md
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/remote_write/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/docs/README.md
  packages/prometheus/manifest.yml
Labels: bug

#9456 [ti_crowdstrike] Add the ECS mappings to be useful for threat Intel rules
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/data_stream/intel/sample_event.json
  packages/ti_crowdstrike/data_stream/ioc/sample_event.json
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/ecs.yml
  packages/ti_crowdstrike/manifest.yml
Labels: enhancement, Integration:TI Crowdstrike, Team:Security-Service Integrations

#9486 [akamai.siem] don't fail on headers without values
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log-expected.json
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
Labels: bug, Integration:Akamai, Team:Security-Service Integrations

#9477 [O365] Check contentExpiration timestamp before requesting contents
  packages/o365/_dev/deploy/docker/config.yml
  packages/o365/_dev/deploy/docker/docker-compose.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/system/test-cel-config.yml
  packages/o365/data_stream/audit/_dev/test/system/test-o365audit-config.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/sample_event.json
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#9445 [O11y][Azure] Remove suffix from Compute VMs Overview dashboard
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-vm-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-eb3f05f0-ea9a-11e9-90ec-112a988266d5.json
  packages/azure_metrics/manifest.yml
Labels: Integration:azure_metrics

#9377 [O11y][AWS] Rally benchmark `aws.waf`
  packages/aws/_dev/benchmark/rally/waf-benchmark.yml
  packages/aws/_dev/benchmark/rally/waf-benchmark/config.yml
  packages/aws/_dev/benchmark/rally/waf-benchmark/fields.yml
  packages/aws/_dev/benchmark/rally/waf-benchmark/template.ndjson
Labels: enhancement, Integration:AWS

#9295 [O11y][System] Rally benchmark `system.diskio`
  packages/system/_dev/benchmark/rally/diskio-benchmark.yml
  packages/system/_dev/benchmark/rally/diskio-benchmark/config.yml
  packages/system/_dev/benchmark/rally/diskio-benchmark/fields.yml
  packages/system/_dev/benchmark/rally/diskio-benchmark/template.ndjson
Labels: enhancement, Integration:System

#9505 [Security Rules] Update security rules package to v8.11.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9506 [Security Rules] Update security rules package to v8.12.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9441 [D4C] Update support matrix in README.md
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/docs/README.md
  packages/cloud_defend/manifest.yml
Labels: documentation, Integration:Defend for Containers, Team:Security-Linux Platform

#9510 [F5 BigIP] Clarify the lack of support for syslog messages in README
  packages/f5_bigip/_dev/build/docs/README.md
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/docs/README.md
  packages/f5_bigip/manifest.yml
Labels: docs, Integration:F5-BIGIP, Team:Security-Service Integrations

#9513 Remove entrypoint override for elastic/stream
  packages/bluecoat/_dev/deploy/docker/docker-compose.yml
  packages/cisco_ise/_dev/deploy/docker/docker-compose.yml
  packages/cisco_secure_email_gateway/_dev/deploy/docker/docker-compose.yml
  packages/cyberarkpas/_dev/deploy/docker/docker-compose.yml
  packages/cylance/_dev/deploy/docker/docker-compose.yml
  packages/f5/_dev/deploy/docker/docker-compose.yml
  packages/fireeye/_dev/deploy/docker/docker-compose.yml
  packages/infoblox_nios/_dev/deploy/docker/docker-compose.yml
  packages/jamf_compliance_reporter/_dev/deploy/docker/docker-compose.yml
  packages/netscout/_dev/deploy/docker/docker-compose.yml
  packages/netskope/_dev/deploy/docker/docker-compose.yml
  packages/pfsense/_dev/deploy/docker/docker-compose.yml
  packages/pps/_dev/deploy/docker/docker-compose.yml
  packages/qnap_nas/_dev/deploy/docker/docker-compose.yml
  packages/radware/_dev/deploy/docker/docker-compose.yml
  packages/sonicwall_firewall/_dev/deploy/docker/docker-compose.yml
  packages/sophos/_dev/deploy/docker/docker-compose.yml
  packages/squid/_dev/deploy/docker/docker-compose.yml
  packages/tanium/_dev/deploy/docker/docker-compose.yml
  packages/thycotic_ss/_dev/deploy/docker/docker-compose.yml
  packages/tomcat/_dev/deploy/docker/docker-compose.yml
  packages/zscaler_zia/_dev/deploy/docker/docker-compose.yml
  packages/zscaler_zpa/_dev/deploy/docker/docker-compose.yml
Labels: Team:Obs-InfraObs

#9524 sentinel_one_cloud_funnel: Mapping Improvements & preserve_original_event fix
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-dns.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-registry.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-dns.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-network-action.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-process.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-registry.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/manifest.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/sample_event.json
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement

#9490 [windows] Fix parsing of event data fields for event 600
  packages/windows/changelog.yml
  packages/windows/data_stream/powershell/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/powershell/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/powershell/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Integration:Windows, bugfix, Team:Security-Windows Platform

#9472 netskope: Handle the string type value for user.email field.
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/alerts/sample_event.json
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/sample_event.json
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: Integration:Netskope, bugfix, Team:Security-Service Integrations

#8414 [AWS Billing] Add processor and leader election support
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/agent/stream/stream.yml.hbs
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#9493 o365: improve handling of o365.audit.OperationProperties
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-stringly-json-events.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-stringly-json-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#9385 [citrix_adc] Add support of citrix_waf connector and enhance the syslog message
  packages/citrix_adc/_dev/build/build.yml
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/_dev/deploy/docker/docker-compose.yml
  packages/citrix_adc/_dev/deploy/docker/sample_logs/citrix-adc.log
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-cef.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-cef.log-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/citrix_adc/data_stream/log/agent/stream/stream.yml.hbs
  packages/citrix_adc/data_stream/log/agent/stream/tcp.yml.hbs
  packages/citrix_adc/data_stream/log/agent/stream/udp.yml.hbs
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/alg_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/appfw_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/bot_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/cef.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ci_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/cvpn_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/dns_and_ssli_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ica_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/pitboss_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/ssllog_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/tcp_and_acl_feature.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/transform_feature.yml
  packages/citrix_adc/data_stream/log/fields/agent.yml
  packages/citrix_adc/data_stream/log/fields/base-fields.yml
  packages/citrix_adc/data_stream/log/fields/ecs.yml
  packages/citrix_adc/data_stream/log/fields/fields.yml
  packages/citrix_adc/data_stream/log/manifest.yml
  packages/citrix_adc/data_stream/log/sample_event.json
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/img/citrix_adc-log-dashboard.png
  packages/citrix_adc/kibana/dashboard/citrix_adc-95709fd0-e130-11ee-adb0-b71252739438.json
  packages/citrix_adc/manifest.yml
Labels: enhancement, Integration:CitrixADC

#9290 [AWS] [Billing] Document GetCostAndUsage API limitation
  packages/aws/_dev/build/docs/billing.md
  packages/aws/changelog.yml
  packages/aws/docs/billing.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#9542 [cisco_ftd]: allocate network if null when calculating bytes for Event 113019
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-session.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-session.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Integration:CiscoFTD, Team:Security-Deployment and Devices

#9540 [fortinet_fortigate]: support parsing failed logins from https
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/login.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Integration:Fortinet_FortiGate, Team:Security-Deployment and Devices

#9541 [cisco_ftd]: treat FTD suffix as optional
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Integration:CiscoFTD, Team:Security-Deployment and Devices

#9413 [windows_etw] Initial release of Custom Windows ETW integration
  .github/CODEOWNERS
  packages/windows_etw/_dev/build/build.yml
  packages/windows_etw/_dev/build/docs/README.md
  packages/windows_etw/agent/input/etw.yml.hbs
  packages/windows_etw/changelog.yml
  packages/windows_etw/docs/README.md
  packages/windows_etw/fields/agent.yml
  packages/windows_etw/fields/base-fields.yml
  packages/windows_etw/fields/ecs.yml
  packages/windows_etw/fields/winlog.yml
  packages/windows_etw/img/logo_windows.svg
  packages/windows_etw/kibana/tags.yml
  packages/windows_etw/manifest.yml
  packages/windows_etw/sample_event.json
  packages/windows_etw/validation.yml
Labels: enhancement, New Integration, Team:Security-Service Integrations, Team:Security-Windows Platform, Integration:Custom Windows ETW

#9470 [Cloud Security] [Findings Ingest Pipeline] Remove cloud.account.id and cloud.account.name empty fields from the latest findings document
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json-expected.json
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#9545 [cisco_aironet]: handle CLIENT_ORCH_LOG messages
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/manifest.yml
Labels: bug, Integration:CiscoAironet, Team:Security-Deployment and Devices

#9533 [Enhancement] Make Cisco ISE syslog priority field optional
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-ad-connector.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-administrative-and-operational-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-authentication-flow-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-cise-alarm.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-failed-attempts.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-guest.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-identity-stores-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-internal-operations-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-my-devices.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-my-devices.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-policy-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-posture-client-provisioning-audit.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-radius-diagnostics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-system-statistics.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-threat-centric-nac.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/manifest.yml
Labels: enhancement, Integration:CiscoISE, Team:Security-Deployment and Devices

#9517 prisma_cloud: update manifest version format to v3.0.3
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/alert/fields/fields.yml
  packages/prisma_cloud/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/prisma_cloud/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/host/fields/fields.yml
  packages/prisma_cloud/data_stream/host/sample_event.json
  packages/prisma_cloud/docs/README.md
  packages/prisma_cloud/manifest.yml
Labels: enhancement, Integration: Palo Alto Prisma Cloud, Team:Security-Service Integrations

#9518 proofpoint_tap: update manifest version format to v3.0.3
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/fields/ecs.yml
  packages/proofpoint_tap/data_stream/message_blocked/sample_event.json
  packages/proofpoint_tap/data_stream/message_delivered/fields/ecs.yml
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Integration:Proofpoint, Team:Security-Service Integrations

#9519 tanium: update manifest version format to v3.0.3
  packages/tanium/changelog.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-common-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-http-endpoint-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/threat_response/fields/fields.yml
  packages/tanium/docs/README.md
  packages/tanium/manifest.yml
Labels: enhancement, Integration:Tanium, Team:Security-Service Integrations

#9521 vectra_detect: update manifest version format to v3.0.3
  packages/vectra_detect/changelog.yml
  packages/vectra_detect/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/vectra_detect/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/vectra_detect/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/vectra_detect/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/vectra_detect/manifest.yml
Labels: enhancement, Integration:VectraDetect, Team:Security-Service Integrations

#9503 [O11y][Azure Metrics] Migrate Blob Storage Overview dashboard to lens
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/kibana/dashboard/azure_metrics-b165ef60-32f7-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/manifest.yml
Labels: Integration:azure_metrics

#9315 [New Integration] Menlo Security
  .github/CODEOWNERS
  packages/menlo/_dev/build/build.yml
  packages/menlo/_dev/build/docs/README.md
  packages/menlo/_dev/deploy/docker/config.yml
  packages/menlo/_dev/deploy/docker/docker-compose.yml
  packages/menlo/changelog.yml
  packages/menlo/data_stream/dlp/_dev/test/pipeline/test-common-config.yml
  packages/menlo/data_stream/dlp/_dev/test/pipeline/test-dlp.log
  packages/menlo/data_stream/dlp/_dev/test/pipeline/test-dlp.log-expected.json
  packages/menlo/data_stream/dlp/_dev/test/system/test-default-config.yml
  packages/menlo/data_stream/dlp/agent/stream/input.yml.hbs
  packages/menlo/data_stream/dlp/elasticsearch/ingest_pipeline/default.yml
  packages/menlo/data_stream/dlp/fields/agent.yml
  packages/menlo/data_stream/dlp/fields/base-fields.yml
  packages/menlo/data_stream/dlp/fields/ecs.yml
  packages/menlo/data_stream/dlp/fields/fields.yml
  packages/menlo/data_stream/dlp/manifest.yml
  packages/menlo/data_stream/dlp/sample_event.json
  packages/menlo/data_stream/web/_dev/test/pipeline/test-common-config.yml
  packages/menlo/data_stream/web/_dev/test/pipeline/test-web.log
  packages/menlo/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/menlo/data_stream/web/_dev/test/system/test-default-config.yml
  packages/menlo/data_stream/web/agent/stream/input.yml.hbs
  packages/menlo/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/menlo/data_stream/web/fields/agent.yml
  packages/menlo/data_stream/web/fields/base-fields.yml
  packages/menlo/data_stream/web/fields/ecs.yml
  packages/menlo/data_stream/web/fields/fields.yml
  packages/menlo/data_stream/web/manifest.yml
  packages/menlo/data_stream/web/sample_event.json
  packages/menlo/docs/README.md
  packages/menlo/img/logo.png
  packages/menlo/manifest.yml
Labels: New Integration, Team:Security-Service Integrations

#9502 [O11y][Azure Metrics] Update visualizations and remove suffix
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/img/azure_metrics-storage-account-overview.png
  packages/azure_metrics/kibana/dashboard/azure_metrics-10efa340-32f8-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-1a151f80-32db-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-dff7a080-32f7-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-ff2fe020-32f7-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/manifest.yml
Labels: Integration:azure_metrics

#9574 [nginx_ingress_controller]: escape bracket inside regex expression
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/nginx_ingress_controller/manifest.yml
Labels: bug, Integration:NGINX-Ingress-Controller, Team:Cloudnative-Monitoring

#9577 [Jamf Protect] Adding process.parent.entity_id ECS mapping
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/alerts/fields/ecs.yml
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:Jamf Protect

#9571 [cisco_secure_email_gateway]: escape bracket inside regex expression
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_amp.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, Integration:CiscoSecureEmailGateway, Team:Security-Deployment and Devices

#9578 [cisco_ios]: escape hyphen inside regex char list
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9078 mimecast: log processing stage and improve document fingerprinting
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/archive_search_logs/sample_event.json
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/data_stream/dlp_logs/sample_event.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-docs-logs.log
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-docs-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/fields/field.yml
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_customer/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_grid/sample_event.json
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/sample_event.json
  packages/mimecast/data_stream/ttp_url_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Integration:Mimecast, bugfix, Team:Security-Service Integrations

#9569 [cisco_ftd]: escape hyphen inside regex char list
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Integration:CiscoFTD, Team:Security-Deployment and Devices

#9585 .buildkite/pipeline.schedule-daily - Use v8.14 snapshot
  .buildkite/pipeline.schedule-daily.yml
Labels: ci

#9587 [pulse_connect_secure]: remove redundant nested repeat operator *
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pulse_connect_secure/manifest.yml
Labels: bug, Team:Service-Integrations, Integration:PulseConnectSecure

#9570 [cisco_nexus]: remove redundant nested repeat operator
  packages/cisco_nexus/changelog.yml
  packages/cisco_nexus/data_stream/log/elasticsearch/ingest_pipeline/pipeline_extract_message.yml
  packages/cisco_nexus/manifest.yml
Labels: bug, Integration:CiscoNexus, Team:Security-Deployment and Devices

#9594 Added mapping support for shard_stats.total_count
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/kibana/dashboard/elasticsearch-ea5b81a0-7fbf-11ed-8509-ddabeb9daeaf.json
  packages/elasticsearch/kibana/index_pattern/befe6dd7-ec0b-4cb7-aa59-e4d5e6f39ae9.json
  packages/elasticsearch/manifest.yml
Labels: enhancement

#8807 Add `backend` configuration key to fim integration
  packages/fim/changelog.yml
  packages/fim/data_stream/event/agent/stream/file_integrity.yml.hbs
  packages/fim/manifest.yml
Labels: enhancement

#9596 [O11y][StatsD Input] Update to Kibana 8.11 for beats fixes
  packages/statsd_input/_dev/test/system/test-default-config.yml
  packages/statsd_input/changelog.yml
  packages/statsd_input/manifest.yml
  packages/statsd_input/sample_event.json
Labels: enhancement, Integration:statsd

#9605 [Netskope] - Added support for custom tcp options & upgraded stack requirements to ^8.7.0
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/agent/stream/tcp.yml.hbs
  packages/netskope/data_stream/alerts/manifest.yml
  packages/netskope/data_stream/events/agent/stream/tcp.yml.hbs
  packages/netskope/data_stream/events/manifest.yml
  packages/netskope/manifest.yml
Labels: enhancement, integration, 8.14 candidate

#9548 [cisco_asa] Improve ECS event categorization
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: enhancement, Integration:CiscoASA, Team:Security-Deployment and Devices

#9621 Add secrets support to the Azure Metrics integration
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/container_instance/fields/package-fields.yml
  packages/azure_metrics/data_stream/storage_account/fields/agent.yml
  packages/azure_metrics/data_stream/storage_account/fields/ecs.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/docs/container_instance.md
  packages/azure_metrics/manifest.yml
  packages/azure_metrics/validation.yml
Labels: enhancement

#9622 entityanalytics_entra_id - Fix input link
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/manifest.yml
  packages/entityanalytics_entra_id/manifest.yml
Labels: Integration:Microsoft Entra ID (Entity Analytics), Team:Security-Service Integrations

#9258 [Azure Logs] Clarify event hub name field description
  packages/azure/changelog.yml
  packages/azure/manifest.yml
  packages/azure_metrics/data_stream/monitor/fields/package-fields.yml
  packages/azure_metrics/data_stream/storage_account/fields/agent.yml
  packages/azure_metrics/data_stream/storage_account/fields/fields.yml
  packages/azure_metrics/data_stream/storage_account/fields/package-fields.yml
Labels: enhancement, Team:Cloud-Monitoring

#9627 sentinel_one_cloud_funnel: fix original data preservation for gcs
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/agent/stream/gcs.yml.hbs
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-registry.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: bug, Integration: SentinelOne Cloud Funnel, Team:Security-Service Integrations

#9633 [cisco_asa] Allow apostrophes in usernames
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Integration:CiscoASA, Team:Security-Deployment and Devices

#9597 Consolidate content on the Azure Monitor Metrics doc page
  packages/azure_metrics/_dev/build/docs/monitor.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/monitor.md
  packages/azure_metrics/manifest.yml
Labels: documentation, enhancement, >enhancement

#9623 pipeline tests - Ignore url.extension for ES < 8.14
  packages/azure/data_stream/graphactivitylogs/_dev/test/pipeline/test-common-config.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-common-config.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-common-config.yml
  packages/netskope/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-common-config.yml
  packages/ti_rapid7_threat_command/data_stream/ioc/_dev/test/pipeline/test-common-config.yml
Labels: flaky-test, Team:Obs-InfraObs, Team:Security-Service Integrations

#9600 [eset_protect] Update grant type to password
  packages/eset_protect/changelog.yml
  packages/eset_protect/data_stream/detection/agent/stream/cel.yml.hbs
  packages/eset_protect/data_stream/detection/sample_event.json
  packages/eset_protect/data_stream/device_task/agent/stream/cel.yml.hbs
  packages/eset_protect/data_stream/device_task/sample_event.json
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/eset_protect/data_stream/event/sample_event.json
  packages/eset_protect/docs/README.md
  packages/eset_protect/manifest.yml
Labels: enhancement, Integration:ESETProtect, Team:Security-Service Integrations

#9551 cisco_umbrella: add dashboards
  packages/cisco_umbrella/_dev/deploy/tf/files/test-umbrella-auditlogs.log
  packages/cisco_umbrella/_dev/deploy/tf/files/test-umbrella-dnslogs.log
  packages/cisco_umbrella/_dev/deploy/tf/files/test-umbrella-firewalllogs.log
  packages/cisco_umbrella/_dev/deploy/tf/files/test-umbrella-intrusionlogs.log
  packages/cisco_umbrella/_dev/deploy/tf/files/test-umbrella-proxylogs.log
  packages/cisco_umbrella/_dev/deploy/tf/main.tf
  packages/cisco_umbrella/_dev/deploy/tf/out.tf
  packages/cisco_umbrella/_dev/deploy/tf/variables.tf
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/pipeline/test-umbrella-auditlogs.log-expected.json
  packages/cisco_umbrella/data_stream/log/_dev/test/system/test-default-config.yml
  packages/cisco_umbrella/data_stream/log/agent/stream/aws-s3.yml.hbs
  packages/cisco_umbrella/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_umbrella/data_stream/log/fields/fields.yml
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/data_stream/log/sample_event.json
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/img/audit_logs.png
  packages/cisco_umbrella/img/dns_logs.png
  packages/cisco_umbrella/img/firewall_logs.png
  packages/cisco_umbrella/img/intrusion_logs.png
  packages/cisco_umbrella/img/overview.png
  packages/cisco_umbrella/img/proxy_logs.png
  packages/cisco_umbrella/kibana/dashboard/cisco_umbrella-52778e55-96ca-49b8-b5f9-52d98926f24c.json
  packages/cisco_umbrella/kibana/dashboard/cisco_umbrella-6b6c7d99-a9ce-4c9e-9353-f1faa526b581.json
  packages/cisco_umbrella/kibana/dashboard/cisco_umbrella-705d7e02-5f16-49f7-bfaa-b356db752799.json
  packages/cisco_umbrella/kibana/dashboard/cisco_umbrella-88287dc7-c649-4a11-9918-3586bf120934.json
  packages/cisco_umbrella/kibana/dashboard/cisco_umbrella-91f35333-9f4a-48b3-a38c-daca5b114801.json
  packages/cisco_umbrella/kibana/dashboard/cisco_umbrella-9f665f8f-4653-41f8-8cb5-7eb09af3d047.json
  packages/cisco_umbrella/kibana/tag/cisco_umbrella-c7d1eb28-8a20-4d2b-9fa5-46b7a39d69a3.json
  packages/cisco_umbrella/kibana/tag/cisco_umbrella-security-solution-default.json
  packages/cisco_umbrella/manifest.yml
  packages/cisco_umbrella/validation.yml
Labels: enhancement, Integration:Cisco Umbrella, Team:Security-Service Integrations

#8070 [Integration][Logstash][Logs] Include plugin.id in the plain text log format
  packages/logstash/_dev/deploy/variants.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-json.log-expected.json
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-plain.log
  packages/logstash/data_stream/log/_dev/test/pipeline/test-log-plain.log-expected.json
  packages/logstash/data_stream/log/elasticsearch/ingest_pipeline/pipeline-plaintext.yml
  packages/logstash/data_stream/log/fields/fields.yml
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-json.log-expected.json
  packages/logstash/data_stream/slowlog/_dev/test/pipeline/test-slowlog-plain.log-expected.json
  packages/logstash/manifest.yml
Labels: Integration:Logstash, Feature:Stack Monitoring

#9642 [cisco_asa] Fix categorization of network protocols
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Integration:CiscoASA, Team:Security-Deployment and Devices

#9615 Consolidate content on the Azure Container Registry Metrics doc page
  packages/azure_metrics/_dev/build/docs/container_registry.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/container_registry.md
  packages/azure_metrics/manifest.yml
Labels: documentation, >enhancement

#9611 Consolidate content on the Azure Container Instance Metrics doc page
  packages/azure_metrics/_dev/build/docs/container_instance.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/container_instance.md
  packages/azure_metrics/manifest.yml
Labels: documentation, >enhancement

#9662 [cisco_ios] Fix handling of ACCESSLOGSP logs
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9643 [Jamf Protect] Adding AWS S3 as input type
  packages/jamf_protect/_dev/build/docs/README.md
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/agent/stream/aws-s3.yml.hbs
  packages/jamf_protect/data_stream/alerts/manifest.yml
  packages/jamf_protect/data_stream/telemetry/agent/stream/aws-s3.yml.hbs
  packages/jamf_protect/data_stream/telemetry/manifest.yml
  packages/jamf_protect/data_stream/web_threat_events/agent/stream/aws-s3.yml.hbs
  packages/jamf_protect/data_stream/web_threat_events/manifest.yml
  packages/jamf_protect/data_stream/web_traffic_events/agent/stream/aws-s3.yml.hbs
  packages/jamf_protect/data_stream/web_traffic_events/manifest.yml
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: Team:Security-Service Integrations, Integration:Jamf Protect

#9573 [System] Add global filter in dashboard for System
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Logs-syslog-dashboard.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/manifest.yml
Labels: enhancement, Integration:System, Team:Elastic-Agent

#9655 [Oracle] Add global filter in dashboard for Oracle
  packages/oracle/changelog.yml
  packages/oracle/kibana/dashboard/oracle-55661160-08c7-11ed-9abf-15e60715cfab.json
  packages/oracle/kibana/dashboard/oracle-59eeb380-08d7-11ed-9abf-15e60715cfab.json
  packages/oracle/kibana/dashboard/oracle-6b4866c0-1599-11ed-9607-2ba0819b3835.json
  packages/oracle/kibana/dashboard/oracle-9e19fb00-08e1-11ed-9abf-15e60715cfab.json
  packages/oracle/kibana/dashboard/oracle-b6b2c9f0-13a7-11ed-9607-2ba0819b3835.json
  packages/oracle/kibana/dashboard/oracle-bdb780f0-156a-11ed-9607-2ba0819b3835.json
  packages/oracle/manifest.yml
Labels: Integration:Oracle

#9675 [kibana] fix docs
  packages/kibana/_dev/build/docs/README.md
  packages/kibana/changelog.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: Integration:Kibana, docs

#9681 [Security Rules] Update security rules package to v8.10.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9682 [Security Rules] Update security rules package to v8.11.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9684 [Security Rules] Update security rules package to v8.13.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9673 [JAMF Protect] Adding System Tests
  packages/jamf_protect/_dev/deploy/docker/docker-compose.yml
  packages/jamf_protect/_dev/deploy/docker/sample_logs/alerts.log
  packages/jamf_protect/_dev/deploy/docker/sample_logs/telemetry.log
  packages/jamf_protect/_dev/deploy/docker/sample_logs/webthreats.log
  packages/jamf_protect/_dev/deploy/docker/sample_logs/webtraffic.log
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/system/test-http-endpoint-config.yml
  packages/jamf_protect/data_stream/alerts/fields/agent.yml
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/data_stream/telemetry/_dev/test/system/test-http-endpoint-config.yml
  packages/jamf_protect/data_stream/telemetry/sample_event.json
  packages/jamf_protect/data_stream/web_threat_events/_dev/test/system/test-http-endpoint-config.yml
  packages/jamf_protect/data_stream/web_threat_events/fields/agent.yml
  packages/jamf_protect/data_stream/web_threat_events/fields/base-fields.yml
  packages/jamf_protect/data_stream/web_threat_events/sample_event.json
  packages/jamf_protect/data_stream/web_traffic_events/_dev/test/system/test-http-endpoint-config.yml
  packages/jamf_protect/data_stream/web_traffic_events/fields/agent.yml
  packages/jamf_protect/data_stream/web_traffic_events/fields/base-fields.yml
  packages/jamf_protect/data_stream/web_traffic_events/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: enhancement, Integration:Jamf Protect

#9674 Consolidate content on Azure metrics pages
  packages/azure_metrics/_dev/build/docs/compute_vm.md
  packages/azure_metrics/_dev/build/docs/compute_vm_scaleset.md
  packages/azure_metrics/_dev/build/docs/container_instance.md
  packages/azure_metrics/_dev/build/docs/container_registry.md
  packages/azure_metrics/_dev/build/docs/container_service.md
  packages/azure_metrics/_dev/build/docs/database_account.md
  packages/azure_metrics/_dev/build/docs/monitor.md
  packages/azure_metrics/_dev/build/docs/storage_account.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/compute_vm.md
  packages/azure_metrics/docs/compute_vm_scaleset.md
  packages/azure_metrics/docs/container_instance.md
  packages/azure_metrics/docs/container_registry.md
  packages/azure_metrics/docs/container_service.md
  packages/azure_metrics/docs/database_account.md
  packages/azure_metrics/docs/monitor.md
  packages/azure_metrics/docs/storage_account.md
  packages/azure_metrics/manifest.yml
Labels: documentation, >enhancement

#9426 [system] Add missing conditional checks to render `preserve_original_event` tag when toggled on
  packages/system/changelog.yml
  packages/system/data_stream/application/agent/stream/winlog.yml.hbs
  packages/system/data_stream/security/agent/stream/winlog.yml.hbs
  packages/system/data_stream/system/agent/stream/winlog.yml.hbs
  packages/system/manifest.yml
Labels: bugfix

#9668 [Cloud Security] Backport 1.7.5
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security

#9664 ti_threatconnect: refactor cel code
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ThreatConnect

#9692 ti_threatconnect: fix changelog entry
  packages/ti_threatconnect/changelog.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:ThreatConnect

#9512 [aws_logs] Add custom settings variable
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: enhancement, Integration:AWS

#9691 [System] Fix typos in Failed and Blocked Accounts dashboard
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/manifest.yml
Labels: bugfix

#9671 [O11y][StatsD Input] Fix hit count in system tests
  packages/statsd_input/_dev/test/system/test-default-config.yml
Labels: Integration:statsd, bugfix

#9688 [panw] Allow `/` to be optional in url
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/data_stream/panos/fields/ecs.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, Integration:PANW, Team:Security-Deployment and Devices

#9657 [juniper_junos]: include log.file.device_id and log.file.inode in base-fields
  packages/juniper_junos/changelog.yml
  packages/juniper_junos/data_stream/log/fields/base-fields.yml
  packages/juniper_junos/docs/README.md
  packages/juniper_junos/manifest.yml
Labels: bug, Team:Security-Deployment and Devices, integration:Juniper Junos

#9658 [juniper_netscreen]: include log.file.device_id and log.file.inode in base-fields
  packages/juniper_netscreen/changelog.yml
  packages/juniper_netscreen/data_stream/log/fields/base-fields.yml
  packages/juniper_netscreen/docs/README.md
  packages/juniper_netscreen/manifest.yml
Labels: bug, Team:Security-Deployment and Devices, integration:Juniper Netscreen

#9702 [fim]: add auto option for backend and make it the default one
  packages/fim/changelog.yml
  packages/fim/manifest.yml
Labels: bug, Integration:FIM, Team:Security-Linux Platform

#9665 rapid7_insightvm: canonicalize host.name to lower case and map subdomain to host.hostname
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/rapid7_insightvm/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/rapid7_insightvm/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/manifest.yml
Labels: enhancement, Integration:Rapid7-InsightVM, Team:Security-Service Integrations

#9485 entityanalytics_ad: new package for Active Directory user collection
  .github/CODEOWNERS
  packages/entityanalytics_ad/_dev/build/build.yml
  packages/entityanalytics_ad/_dev/build/docs/README.md
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-common-config.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/marker.yml
  packages/entityanalytics_ad/data_stream/user/fields/base-fields.yml
  packages/entityanalytics_ad/data_stream/user/fields/beats.yml
  packages/entityanalytics_ad/data_stream/user/fields/ecs.yml
  packages/entityanalytics_ad/data_stream/user/fields/fields.yml
  packages/entityanalytics_ad/data_stream/user/manifest.yml
  packages/entityanalytics_ad/data_stream/user/sample_event.json
  packages/entityanalytics_ad/docs/README.md
  packages/entityanalytics_ad/img/logo.svg
  packages/entityanalytics_ad/manifest.yml
  packages/entityanalytics_ad/validation.yml
Labels: enhancement, Team:Security-Service Integrations

#9727 [zscaler_zia] Fix mapping of source.ip and source.nat.ip
  packages/zscaler_zia/_dev/deploy/docker/sample_logs/web-http_endpoint.log
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:ZscalerZIA, bugfix, Team:Security-Service Integrations

#9632 [Apache] Update grok pattern for accepting user-identity
  packages/apache/changelog.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-darwin.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ssl-request.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ubuntu.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-vhost.log-expected.json
  packages/apache/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/access/fields/fields.yml
  packages/apache/data_stream/access/sample_event.json
  packages/apache/data_stream/status/manifest.yml
  packages/apache/docs/README.md
  packages/apache/manifest.yml
Labels: bug, Integration:Apache

#9448 [O11y][AWS] Rally benchmark `aws.cloudtrail`
  packages/aws/_dev/benchmark/rally/cloudtrail-benchmark.yml
  packages/aws/_dev/benchmark/rally/cloudtrail-benchmark/config.yml
  packages/aws/_dev/benchmark/rally/cloudtrail-benchmark/fields.yml
  packages/aws/_dev/benchmark/rally/cloudtrail-benchmark/template.ndjson
Labels: enhancement, Integration:AWS

#9738 [Crowdstrike,Azure] Fix flaky tests with ECS fields
  packages/azure/changelog.yml
  packages/azure/data_stream/graphactivitylogs/_dev/test/pipeline/test-common-config.yml
  packages/azure/data_stream/graphactivitylogs/fields/ecs.yml
  packages/azure/docs/graphactivitylogs.md
  packages/azure/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:Azure, Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#9756 [Security Rules] Update security rules package to v8.10.17-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/25d917c4-aa3c-4111-974c-286c0312ff95_4.json
  packages/security_detection_engine/kibana/security_rule/28f6f34b-8e16-487a-b5fd-9d22eb903db8_1.json
  packages/security_detection_engine/kibana/security_rule/6ee947e9-de7e-4281-a55d-09289bdf947e_7.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9755 [Security Rules] Update security rules package to v8.11.14-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/25d917c4-aa3c-4111-974c-286c0312ff95_4.json
  packages/security_detection_engine/kibana/security_rule/28f6f34b-8e16-487a-b5fd-9d22eb903db8_1.json
  packages/security_detection_engine/kibana/security_rule/6ee947e9-de7e-4281-a55d-09289bdf947e_7.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9758 [Security Rules] Update security rules package to v8.13.5-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/25d917c4-aa3c-4111-974c-286c0312ff95_4.json
  packages/security_detection_engine/kibana/security_rule/28f6f34b-8e16-487a-b5fd-9d22eb903db8_1.json
  packages/security_detection_engine/kibana/security_rule/6ee947e9-de7e-4281-a55d-09289bdf947e_7.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9759 [Security Rules] Update security rules package to v8.10.17
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9761 [Security Rules] Update security rules package to v8.12.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9762 [Security Rules] Update security rules package to v8.13.5
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules
