Repository elastic/integrations, pull requests merged in 2024-07, with the labels that each got.

#10285 [IIS] Add processors capability to IIS Metrics
  packages/iis/changelog.yml
  packages/iis/data_stream/application_pool/agent/stream/stream.yml.hbs
  packages/iis/data_stream/application_pool/manifest.yml
  packages/iis/data_stream/error/_dev/test/pipeline/test-common-config.yml
  packages/iis/data_stream/webserver/agent/stream/stream.yml.hbs
  packages/iis/data_stream/webserver/manifest.yml
  packages/iis/data_stream/website/agent/stream/stream.yml.hbs
  packages/iis/data_stream/website/manifest.yml
  packages/iis/manifest.yml
Labels: enhancement, Team:Obs-InfraObs

#10305 entityanalytics_entra_id: migrate to ecs@mappings
  packages/entityanalytics_entra_id/_dev/build/build.yml
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/device/fields/beats.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/beats.yml
  packages/entityanalytics_entra_id/data_stream/user/fields/beats.yml
  packages/entityanalytics_entra_id/docs/README.md
  packages/entityanalytics_entra_id/manifest.yml
Labels: enhancement, Integration:Microsoft Entra ID (Entity Analytics), Team:Security-Service Integrations

#10307 [Carbon Black Cloud] - Improved & optimised CEL agents and cleaned up errors in trace log paths
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert_v7/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/data_stream/audit/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/manifest.yml
Labels: integration, bugfix, Team:Security-Service Integrations

#10256 crowdstrike: Modify threat.framework based on prefix and custom tactic names
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-event-stream.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-mobile-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-xdr-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/mobile_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/xdr_detection_summary.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#10318 wiz: fix input error handling in ingest pipeline
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/manifest.yml
Labels: bugfix, Integration:Wiz, Team:Security-Service Integrations

#10181 AWS: TargetResponseTime metrics added to Application elb
  packages/aws/changelog.yml
  packages/aws/data_stream/elb_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/elb_metrics/fields/fields.yml
  packages/aws/docs/elb.md
  packages/aws/manifest.yml
Labels: Integration:AWS

#10283 [cisco_asa] Grok parsing fixes for an SDH
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:CiscoASA, bugfix, Team:Security-Deployment and Devices

#10322 mimecast: fix handling of emails containing comma in quoted name
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Integration:Mimecast, bugfix, Team:Security-Service Integrations

#10349 wiz: handle missing fields in API responses
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/manifest.yml
Labels: bugfix, Integration:Wiz, Team:Security-Service Integrations

#10345 sentinel_one: Add agent related fields into alerts dataset.
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log
  packages/sentinel_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/fields/fields.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:SentinelOne, Team:Security-Service Integrations

#10339 .buildkite/pipeline.schedule-daily - Use v8.15 snapshot (#9585)
  .buildkite/pipeline.schedule-daily.yml
Labels: ci

#10312 [cribl] Updating docs for clarity around config
  packages/cribl/_dev/build/docs/README.md
  packages/cribl/changelog.yml
  packages/cribl/docs/README.md
  packages/cribl/img/elastic-cribl-config.png
  packages/cribl/manifest.yml
Labels: documentation, Team:Security-Service Integrations

#10356 [tenable_io] Include last_fixed date in the fingerprint to avoid duplicated entries
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/manifest.yml
Labels: Integration:Tenable.io, bugfix, Team:Security-Service Integrations

#10359 [Cloud Security] Bump integration
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#10346 all: harmonise http status error return behaviour
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert_v7/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/data_stream/audit/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/manifest.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/user_activity/agent/stream/cel.yml.hbs
  packages/qualys_vmdr/manifest.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/issues/agent/stream/cel.yml.hbs
  packages/snyk/manifest.yml
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/data_stream/incident/agent/stream/cel.yml.hbs
  packages/symantec_edr_cloud/manifest.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/plugin/agent/stream/cel.yml.hbs
  packages/tenable_io/data_stream/scan/agent/stream/cel.yml.hbs
  packages/tenable_io/manifest.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malwarebazaar/agent/stream/cel.yml.hbs
  packages/ti_abusech/manifest.yml
  packages/ti_crowdstrike/_dev/deploy/docker/files/config.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/manifest.yml
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/manifest.yml
Labels: enhancement, Integration:Snyk, Integration:Crowdstrike, Integration:AbuseCH, Integration:CarbonBlackCloud, Integration:Tenable.io, Integration:Wiz, Integration: Qualys VMDR, Integration:TI Crowdstrike, Team:Security-Service Integrations, Integration:ThreatConnect, Integration:Symantec EDR Cloud

#10362 [WIZ] Add type field into issue datastream
  packages/wiz/changelog.yml
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log-expected.json
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/issue/fields/fields.yml
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: enhancement, Integration:Wiz, Team:Security-Service Integrations

#10320 qualys_vmdr: use field names matching Qualys names
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/fields.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/kibana/search/qualys_vmdr-4119cae0-100e-11ee-b28e-615808a979fd.json
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, breaking change, Integration: Qualys VMDR, Team:Security-Service Integrations

#10090 auditd: Fix invalid event.type: stop->end
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log-expected.json
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/manifest.yml
Labels: Stalled, bugfix

#10068 [Jolokia Input] Add processors option
  packages/jolokia_input/agent/input/input.yml.hbs
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/manifest.yml
Labels: enhancement, Integration:Jolokia_input

#10432 [Security Rules] Update security rules package to v8.11.21
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10433 [Security Rules] Update security rules package to v8.12.17
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10434 [Security Rules] Update security rules package to v8.14.6
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10436 [Security Rules] Update security rules package to v8.13.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10422 [O11y][Hadoop] Fix system tests
  packages/hadoop/_dev/deploy/docker/Dockerfile
  packages/hadoop/_dev/deploy/docker/files/CentOS-Base.repo
Labels: Integration:Hadoop, bugfix

#10407 [O11y][Hadoop] Migrate Hadoop package to adopt ecs@mappings
  packages/hadoop/_dev/build/build.yml
  packages/hadoop/_dev/build/docs/README.md
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/_dev/test/pipeline/test-application-metrics.log-expected.json
  packages/hadoop/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/application/fields/ecs.yml
  packages/hadoop/data_stream/application/sample_event.json
  packages/hadoop/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json-expected.json
  packages/hadoop/data_stream/cluster/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/cluster/fields/ecs.yml
  packages/hadoop/data_stream/cluster/sample_event.json
  packages/hadoop/data_stream/datanode/_dev/test/pipeline/test-datanode-metrics.json-expected.json
  packages/hadoop/data_stream/datanode/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/datanode/fields/ecs.yml
  packages/hadoop/data_stream/datanode/sample_event.json
  packages/hadoop/data_stream/namenode/_dev/test/pipeline/test-namenode-metrics.json-expected.json
  packages/hadoop/data_stream/namenode/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/namenode/fields/ecs.yml
  packages/hadoop/data_stream/namenode/sample_event.json
  packages/hadoop/data_stream/node_manager/_dev/test/pipeline/test-node-manager-metrics.json-expected.json
  packages/hadoop/data_stream/node_manager/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/data_stream/node_manager/fields/ecs.yml
  packages/hadoop/data_stream/node_manager/sample_event.json
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
Labels: Integration:Hadoop

#10448 Fix missing changelog link to PR
  packages/elastic_agent/changelog.yml
Labels: Team:Elastic-Agent

#10414 [elastic_agent] Add back apm-server metrics dropped due to TSDB
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/beat-fields.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane, bugfix

#10040 [Azure] [OpenAI] Add Azure Billing lens to overview dashboard
  packages/azure_openai/_dev/build/docs/README.md
  packages/azure_openai/changelog.yml
  packages/azure_openai/docs/README.md
  packages/azure_openai/img/azure_open_ai_overview.png
  packages/azure_openai/kibana/dashboard/azure_openai-21d9a0d0-e6a0-4b34-bc6d-ce6560a1dab3.json
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9428 [Azure] Update Azure Firewall pipeline
  packages/azure/_dev/build/docs/firewall_logs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-applicationrules-structured-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-applicationrules-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-dnsproxy-structured-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-dnsproxy-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-natrule-structured-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-natrule-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrule-structured-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrule-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/firewall_logs/fields/ecs.yml
  packages/azure/data_stream/firewall_logs/fields/fields.yml
  packages/azure/docs/firewall_logs.md
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, Team:Security-Service Integrations

#10341 packages/salesforce: add dashboards
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/login/_dev/test/pipeline/test-login-object.log
  packages/salesforce/data_stream/login/_dev/test/pipeline/test-login-object.log-expected.json
  packages/salesforce/data_stream/login/elasticsearch/ingest_pipeline/object.yml
  packages/salesforce/data_stream/logout/_dev/test/pipeline/test-logout-eventlogfile.log-expected.json
  packages/salesforce/data_stream/logout/_dev/test/pipeline/test-logout-object.log-expected.json
  packages/salesforce/data_stream/logout/elasticsearch/ingest_pipeline/eventlogfile.yml
  packages/salesforce/data_stream/logout/fields/fields.yml
  packages/salesforce/docs/README.md
  packages/salesforce/img/salesforce-apex-dashboard.png
  packages/salesforce/img/salesforce-login-dashboard.png
  packages/salesforce/img/salesforce-logout-dashboard.png
  packages/salesforce/img/salesforce-setupaudittrail-dashboard.png
  packages/salesforce/kibana/dashboard/salesforce-19da7408-dbd1-4745-a888-da9dadcd747d.json
  packages/salesforce/kibana/dashboard/salesforce-31f56373-0faf-4bf9-8741-3c560bb69f82.json
  packages/salesforce/kibana/dashboard/salesforce-573a6fd6-de05-499c-bd29-4ce2146baaa8.json
  packages/salesforce/kibana/dashboard/salesforce-77a8a241-5605-46ae-815a-6dd689de2f09.json
  packages/salesforce/manifest.yml
  packages/salesforce/validation.yml
Labels: enhancement, Integration:Kibana, breaking change, dashboard, Team:Obs-InfraObs, Integration:Salesforce

#10445 [cisco_aironet] fix handling multiple whitespace characters between month and monthday
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/manifest.yml
Labels: bug, Integration:CiscoAironet, Team:Security-Deployment and Devices

#10110 [watchguard_firebox] Initial release of the WatchGuard Firebox
  .github/CODEOWNERS
  packages/watchguard_firebox/_dev/build/build.yml
  packages/watchguard_firebox/_dev/build/docs/README.md
  packages/watchguard_firebox/_dev/deploy/docker/docker-compose.yml
  packages/watchguard_firebox/_dev/deploy/docker/sample_logs/watchguard_firebox.log
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-alarm.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-alarm.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-diagnostic.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-diagnostic.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-event.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-event.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/watchguard_firebox/data_stream/log/agent/stream/udp.yml.hbs
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_alarm.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_diagnostic.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_event.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_traffic.yml
  packages/watchguard_firebox/data_stream/log/fields/base-fields.yml
  packages/watchguard_firebox/data_stream/log/fields/beats.yml
  packages/watchguard_firebox/data_stream/log/fields/fields.yml
  packages/watchguard_firebox/data_stream/log/manifest.yml
  packages/watchguard_firebox/data_stream/log/sample_event.json
  packages/watchguard_firebox/docs/README.md
  packages/watchguard_firebox/img/watchguard-firebox-log-dashboard-1.png
  packages/watchguard_firebox/img/watchguard-firebox-log-dashboard-2.png
  packages/watchguard_firebox/img/watchguard-firebox-log-dashboard-3.png
  packages/watchguard_firebox/img/watchguard-firebox-log-dashboard-4.png
  packages/watchguard_firebox/img/watchguard-logo.svg
  packages/watchguard_firebox/kibana/dashboard/watchguard_firebox-5fb58f2b-8720-4b57-89b6-0f727f0d260f.json
  packages/watchguard_firebox/kibana/search/watchguard_firebox-0c03afcf-e39d-484a-8575-0630b7bb892a.json
  packages/watchguard_firebox/kibana/search/watchguard_firebox-19e90429-51c9-4f47-8889-baf56bdc7735.json
  packages/watchguard_firebox/kibana/search/watchguard_firebox-5cbe635b-9d2e-4d14-b2d4-e7146c421eaf.json
  packages/watchguard_firebox/kibana/search/watchguard_firebox-9173ff94-4af2-4f6d-86bc-7123d0f335f5.json
  packages/watchguard_firebox/kibana/tags.yml
  packages/watchguard_firebox/manifest.yml
  packages/watchguard_firebox/validation.yml
Labels: New Integration, Crest, Team:Security-Deployment and Devices

#10085 Replicated `never_install` functionality for `with_vlans`
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/agent/stream/amqp.yml.hbs
  packages/network_traffic/data_stream/cassandra/agent/stream/cassandra.yml.hbs
  packages/network_traffic/data_stream/dhcpv4/agent/stream/dhcpv4.yml.hbs
  packages/network_traffic/data_stream/dns/agent/stream/dns.yml.hbs
  packages/network_traffic/data_stream/flow/agent/stream/flow.yml.hbs
  packages/network_traffic/data_stream/http/agent/stream/http.yml.hbs
  packages/network_traffic/data_stream/icmp/agent/stream/icmp.yml.hbs
  packages/network_traffic/data_stream/memcached/agent/stream/memcached.yml.hbs
  packages/network_traffic/data_stream/mongodb/agent/stream/mongodb.yml.hbs
  packages/network_traffic/data_stream/mysql/agent/stream/mysql.yml.hbs
  packages/network_traffic/data_stream/nfs/agent/stream/nfs.yml.hbs
  packages/network_traffic/data_stream/pgsql/agent/stream/pgsql.yml.hbs
  packages/network_traffic/data_stream/redis/agent/stream/redis.yml.hbs
  packages/network_traffic/data_stream/sip/agent/stream/sip.yml.hbs
  packages/network_traffic/data_stream/thrift/agent/stream/thrift.yml.hbs
  packages/network_traffic/data_stream/tls/agent/stream/tls.yml.hbs
  packages/network_traffic/manifest.yml
Labels: enhancement, Stalled

#10310 Extra rules to validate packages with shared ownership across data streams
  .github/CODEOWNERS
  dev/codeowners/codeowners.go
  dev/codeowners/codeowners_test.go
  dev/codeowners/testdata/CODEOWNERS-streams-missing-owners
  dev/codeowners/testdata/CODEOWNERS-streams-multiple-owners
  dev/codeowners/testdata/CODEOWNERS-streams-valid
  dev/codeowners/testdata/test_packages/package_1/data_stream/stream_1/.keep
  dev/codeowners/testdata/test_packages/package_1/data_stream/stream_2/.keep
  dev/codeowners/testdata/test_packages/package_1/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices

#10374 qualys_vmdr: reduce severity of error from documents lacking IDs in knowledge base
  packages/imperva_cloud_waf/data_stream/event/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration: Qualys VMDR, Team:Security-Service Integrations

#10170 [qualys_vmdr] Check HTTP status codes
  packages/qualys_vmdr/_dev/deploy/docker/docker-compose.yml
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-0_valid-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-1_invalid-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/user_activity/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration: Qualys VMDR, Team:Security-Service Integrations

#10119 Add AWSHealth Integration
  .github/CODEOWNERS
  packages/aws/_dev/build/docs/awshealth.md
  packages/aws/changelog.yml
  packages/aws/data_stream/awshealth/agent/stream/stream.yml.hbs
  packages/aws/data_stream/awshealth/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/awshealth/fields/base-fields.yml
  packages/aws/data_stream/awshealth/fields/ecs.yml
  packages/aws/data_stream/awshealth/fields/fields.yml
  packages/aws/data_stream/awshealth/fields/package-fields.yml
  packages/aws/data_stream/awshealth/manifest.yml
  packages/aws/data_stream/awshealth/sample_event.json
  packages/aws/docs/awshealth.md
  packages/aws/img/logo_aws_health.svg
  packages/aws/img/metricbeat-aws-awshealth.png
  packages/aws/kibana/dashboard/aws-9574244b-b538-4cc1-9666-8aac4ecf433e.json
  packages/aws/kibana/search/aws-7b0b3e0c-79c6-427c-8a9f-09b982f9e07e.json
  packages/aws/manifest.yml
Labels: enhancement

#10452 [Azure OpenAI] Add PTU deployment metrics dashboard
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_ptu_deployment.png
  packages/azure_openai/kibana/dashboard/azure_openai-83bbaa98-7f44-4785-8774-15e0de9f74fa.json
  packages/azure_openai/manifest.yml
Labels: enhancement

#10207 [windows] Windows Defender Antivirus Data Stream - Initial Add
  .github/CODEOWNERS
  packages/windows/_dev/build/build.yml
  packages/windows/_dev/build/docs/README.md
  packages/windows/_dev/deploy/docker/files/config.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/sample_event.json
  packages/windows/data_stream/windows_defender/_dev/test/pipeline/test-events-windows-defender-events.json
  packages/windows/data_stream/windows_defender/_dev/test/pipeline/test-events-windows-defender-events.json-expected.json
  packages/windows/data_stream/windows_defender/_dev/test/system/test-default-config.yml
  packages/windows/data_stream/windows_defender/agent/stream/httpjson.yml.hbs
  packages/windows/data_stream/windows_defender/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/windows_defender/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/windows_defender/fields/agent.yml
  packages/windows/data_stream/windows_defender/fields/base-fields.yml
  packages/windows/data_stream/windows_defender/fields/beats.yml
  packages/windows/data_stream/windows_defender/fields/ecs.yml
  packages/windows/data_stream/windows_defender/fields/winlog.yml
  packages/windows/data_stream/windows_defender/manifest.yml
  packages/windows/data_stream/windows_defender/sample_event.json
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: New Integration, Team:Elastic-Agent-Data-Plane, Team:Security-Windows Platform

#9246 enhancement - modify incident handling to match defender for endpoint
  packages/panw_cortex_xdr/_dev/build/docs/README.md
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/incidents/_dev/test/pipeline/test-panw-xdr-incident.log-expected.json
  packages/panw_cortex_xdr/data_stream/incidents/agent/stream/httpjson.yml.hbs
  packages/panw_cortex_xdr/data_stream/incidents/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/manifest.yml
Labels: enhancement, Integration:PanwCortexXDR, Team:Security-Service Integrations

#10394 [Azure OpenAI] Add API Management Gateway Logs
  packages/azure_openai/_dev/build/docs/README.md
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-gateway.log
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-gateway.log-expected.json
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-request-response.log-expected.json
  packages/azure_openai/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_openai/data_stream/logs/fields/fields.yml
  packages/azure_openai/data_stream/logs/sample_event.json
  packages/azure_openai/docs/README.md
  packages/azure_openai/manifest.yml
Labels: enhancement

#10461 [Cisco ISE] Handle logs that start with ISO8601 timestamp
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-system-statistics.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-system-statistics.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/manifest.yml
Labels: enhancement

#10458 [Suricata] Fix TLS version parsing to handle both TLS 1.2 and SSLv2 kind of values
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-small.log-expected.json
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/tls.yml
  packages/suricata/manifest.yml
Labels: bug

#10411 Add Processor Support
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/data_stream/deployed_application/agent/stream/stream.yml.hbs
  packages/oracle_weblogic/data_stream/threadpool/agent/stream/stream.yml.hbs
  packages/oracle_weblogic/manifest.yml
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/activity/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/activity/manifest.yml
  packages/postgresql/data_stream/bgwriter/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/bgwriter/manifest.yml
  packages/postgresql/data_stream/database/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/database/manifest.yml
  packages/postgresql/data_stream/statement/agent/stream/stream.yml.hbs
  packages/postgresql/data_stream/statement/manifest.yml
  packages/postgresql/manifest.yml
  packages/prometheus_input/agent/input/input.yml.hbs
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/manifest.yml
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/data_stream/connection/agent/stream/stream.yml.hbs
  packages/rabbitmq/data_stream/connection/manifest.yml
  packages/rabbitmq/data_stream/exchange/agent/stream/stream.yml.hbs
  packages/rabbitmq/data_stream/exchange/manifest.yml
  packages/rabbitmq/data_stream/node/agent/stream/stream.yml.hbs
  packages/rabbitmq/data_stream/node/manifest.yml
  packages/rabbitmq/data_stream/queue/agent/stream/stream.yml.hbs
  packages/rabbitmq/data_stream/queue/manifest.yml
  packages/rabbitmq/manifest.yml
  packages/redis/changelog.yml
  packages/redis/data_stream/info/agent/stream/stream.yml.hbs
  packages/redis/data_stream/info/manifest.yml
  packages/redis/data_stream/key/agent/stream/stream.yml.hbs
  packages/redis/data_stream/key/manifest.yml
  packages/redis/data_stream/keyspace/agent/stream/stream.yml.hbs
  packages/redis/data_stream/keyspace/manifest.yml
  packages/redis/data_stream/slowlog/agent/stream/stream.yml.hbs
  packages/redis/data_stream/slowlog/manifest.yml
  packages/redis/manifest.yml
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/data_stream/node/agent/stream/stream.yml.hbs
  packages/redisenterprise/data_stream/node/manifest.yml
  packages/redisenterprise/data_stream/proxy/agent/stream/stream.yml.hbs
  packages/redisenterprise/data_stream/proxy/manifest.yml
  packages/redisenterprise/manifest.yml
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/gc/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/memory/agent/stream/stream.yml.hbs
  packages/spring_boot/data_stream/threading/agent/stream/stream.yml.hbs
  packages/spring_boot/manifest.yml
  packages/traefik/changelog.yml
  packages/traefik/data_stream/health/agent/stream/stream.yml.hbs
  packages/traefik/data_stream/health/manifest.yml
  packages/traefik/manifest.yml
  packages/zookeeper/changelog.yml
  packages/zookeeper/data_stream/connection/agent/stream/stream.yml.hbs
  packages/zookeeper/data_stream/connection/manifest.yml
  packages/zookeeper/data_stream/mntr/agent/stream/stream.yml.hbs
  packages/zookeeper/data_stream/mntr/manifest.yml
  packages/zookeeper/data_stream/server/agent/stream/stream.yml.hbs
  packages/zookeeper/data_stream/server/manifest.yml
  packages/zookeeper/manifest.yml
Labels: enhancement

#10408 Add missing winlog config options
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/winlog/agent/stream/winlog.yml.hbs
  packages/hid_bravura_monitor/data_stream/winlog/manifest.yml
  packages/hid_bravura_monitor/manifest.yml
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/audit/agent/stream/winlog.yml.hbs
  packages/microsoft_sqlserver/data_stream/audit/manifest.yml
  packages/microsoft_sqlserver/manifest.yml
Labels: Integration:microsoft_sqlserver, Integration: HID Bravura Monitor, Team:Security-Windows Platform

#10456 Sdh4854 panw username parsing expansion
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: Integration:PANW, bugfix, Team:Security-Deployment and Devices

#10477 qualys_vmdr.user_activity - handle headers and footers
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/user_activity/_dev/test/system/test-user-activity-config.yml
  packages/qualys_vmdr/data_stream/user_activity/agent/stream/cel.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: bug, Integration: Qualys VMDR, Team:Security-Service Integrations

#10495 [Azure OpenAI] Map the source.* fields to ECS fields
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-gateway.log
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-gateway.log-expected.json
  packages/azure_openai/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_openai/manifest.yml
Labels: bug

#10471 Elastic Agent: ensure syslog processor is not used with 7.17.X agents
  packages/system/changelog.yml
  packages/system/data_stream/auth/agent/stream/log.yml.hbs
  packages/system/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#10213 [Kubernetes] Update namespace filter on data streams
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/event/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/pod/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_container/manifest.yml
  packages/kubernetes/data_stream/state_cronjob/manifest.yml
  packages/kubernetes/data_stream/state_daemonset/manifest.yml
  packages/kubernetes/data_stream/state_deployment/manifest.yml
  packages/kubernetes/data_stream/state_job/manifest.yml
  packages/kubernetes/data_stream/state_namespace/manifest.yml
  packages/kubernetes/data_stream/state_node/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_node/manifest.yml
  packages/kubernetes/data_stream/state_persistentvolume/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_persistentvolume/manifest.yml
  packages/kubernetes/data_stream/state_persistentvolumeclaim/manifest.yml
  packages/kubernetes/data_stream/state_pod/manifest.yml
  packages/kubernetes/data_stream/state_replicaset/manifest.yml
  packages/kubernetes/data_stream/state_resourcequota/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_resourcequota/manifest.yml
  packages/kubernetes/data_stream/state_service/manifest.yml
  packages/kubernetes/data_stream/state_statefulset/manifest.yml
  packages/kubernetes/data_stream/state_storageclass/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/state_storageclass/manifest.yml
  packages/kubernetes/manifest.yml
Labels: Integration:Kubernetes, Team:Cloudnative-Monitoring

#10073 snyk: allow dynamic organization look-up in audit_logs data stream
  packages/snyk/_dev/deploy/docker/files/config.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/_dev/test/system/test-multi-org-config.yml
  packages/snyk/data_stream/audit_logs/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/audit_logs/manifest.yml
  packages/snyk/manifest.yml
Labels: enhancement, Integration:Snyk, Team:Security-Service Integrations

#10497 [Synthetics] add journey.duration mapping to browser fields
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/synthetics.yml
  packages/synthetics/manifest.yml
Labels: Team:obs-ux-infra_services

#10474 [udp,tcp]: introduce preserve original event option
  packages/tcp/changelog.yml
  packages/tcp/data_stream/generic/_dev/test/system/test-syslog-preserve-original-config.yml
  packages/tcp/data_stream/generic/_dev/test/system/test-tcp-preserve-original-config.yml
  packages/tcp/data_stream/generic/agent/stream/tcp.yml.hbs
  packages/tcp/data_stream/generic/fields/ecs.yml
  packages/tcp/data_stream/generic/manifest.yml
  packages/tcp/manifest.yml
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/_dev/test/system/test-syslog-preserve-original-config.yml
  packages/udp/data_stream/generic/_dev/test/system/test-udp-preserve-original-config.yml
  packages/udp/data_stream/generic/agent/stream/udp.yml.hbs
  packages/udp/data_stream/generic/fields/ecs.yml
  packages/udp/data_stream/generic/manifest.yml
  packages/udp/manifest.yml
Labels: enhancement, Integration:TCP, Integration:UDP, Team:Security-Deployment and Devices

#10515 snyk: Fix fingerprint in audit_logs.
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/_dev/test/pipeline/test-snyk-audit.json
  packages/snyk/data_stream/audit_logs/_dev/test/pipeline/test-snyk-audit.json-expected.json
  packages/snyk/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/manifest.yml
Labels: Integration:Snyk, bugfix, Team:Security-Service Integrations

#9926 websocket: new generic integration
  .github/CODEOWNERS
  packages/websocket/_dev/build/build.yml
  packages/websocket/_dev/build/docs/README.md
  packages/websocket/_dev/deploy/docker/docker-compose.yml
  packages/websocket/_dev/deploy/docker/websocket-mock-service/go.mod
  packages/websocket/_dev/deploy/docker/websocket-mock-service/go.sum
  packages/websocket/_dev/deploy/docker/websocket-mock-service/main.go
  packages/websocket/_dev/test/system/test-auth-config.yml
  packages/websocket/_dev/test/system/test-get-config.yml
  packages/websocket/agent/input/websocket.yml.hbs
  packages/websocket/changelog.yml
  packages/websocket/docs/README.md
  packages/websocket/fields/base-fields.yml
  packages/websocket/fields/beats.yml
  packages/websocket/img/websocket_configuration.png
  packages/websocket/manifest.yml
  packages/websocket/sample_event.json
  packages/websocket/validation.yml
Labels: integration, New Integration, Crest, Team:Security-Service Integrations

#10534 Fix the Cisco_ISE toggle description for filestream input
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/manifest.yml
  packages/cisco_ise/manifest.yml
Labels: bugfix

#10531 [cisco_umbrella] Fix handling of parsers when file_selectors is not empty
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/_dev/test/system/test-default-config.yml
  packages/cisco_umbrella/data_stream/log/agent/stream/aws-s3.yml.hbs
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/manifest.yml
Labels: Integration:cisco_umbrella, bugfix, Team:Security-Service Integrations

#10409 Add Processor Support
  packages/activemq/changelog.yml
  packages/activemq/data_stream/broker/agent/stream/stream.yml.hbs
  packages/activemq/data_stream/broker/manifest.yml
  packages/activemq/data_stream/queue/agent/stream/stream.yml.hbs
  packages/activemq/data_stream/queue/manifest.yml
  packages/activemq/data_stream/topic/agent/stream/stream.yml.hbs
  packages/activemq/data_stream/topic/manifest.yml
  packages/activemq/manifest.yml
  packages/apache/changelog.yml
  packages/apache/data_stream/status/agent/stream/stream.yml.hbs
  packages/apache/data_stream/status/manifest.yml
  packages/apache/manifest.yml
  packages/apache_spark/changelog.yml
  packages/apache_spark/data_stream/application/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/application/manifest.yml
  packages/apache_spark/data_stream/driver/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/driver/manifest.yml
  packages/apache_spark/data_stream/executor/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/executor/manifest.yml
  packages/apache_spark/data_stream/node/agent/stream/stream.yml.hbs
  packages/apache_spark/data_stream/node/manifest.yml
  packages/apache_spark/manifest.yml
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/agent/stream/stream.yml.hbs
  packages/awsfargate/data_stream/task_stats/manifest.yml
  packages/awsfargate/manifest.yml
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/data_stream/app_insights/agent/stream/stream.yml.hbs
  packages/azure_application_insights/data_stream/app_insights/manifest.yml
  packages/azure_application_insights/data_stream/app_state/agent/stream/stream.yml.hbs
  packages/azure_application_insights/data_stream/app_state/manifest.yml
  packages/azure_application_insights/manifest.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/data_stream/billing/agent/stream/stream.yml.hbs
  packages/azure_billing/data_stream/billing/manifest.yml
  packages/azure_billing/manifest.yml
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/azure_functions/data_stream/metrics/manifest.yml
  packages/azure_functions/manifest.yml
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/azure_openai/data_stream/metrics/manifest.yml
  packages/azure_openai/manifest.yml
  packages/cassandra/changelog.yml
  packages/cassandra/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/cassandra/data_stream/metrics/manifest.yml
  packages/cassandra/manifest.yml
  packages/cockroachdb/changelog.yml
  packages/cockroachdb/data_stream/status/agent/stream/stream.yml.hbs
  packages/cockroachdb/data_stream/status/manifest.yml
  packages/cockroachdb/manifest.yml
Labels: enhancement

#10418 Fix network.transport and network.protocol issues in m365_defender
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, Team:Security-Service Integrations

#9249 aws/data_stream/route53_public_logs: Handle non-%HOSTNAME entries
  packages/aws/changelog.yml
  packages/aws/data_stream/route53_public_logs/_dev/test/pipeline/test-route53.log
  packages/aws/data_stream/route53_public_logs/_dev/test/pipeline/test-route53.log-expected.json
  packages/aws/data_stream/route53_public_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Security-Service Integrations

#10228 [O11y][Apache] Update grok pattern for access and error log data streams
  packages/apache/_dev/build/docs/README.md
  packages/apache/changelog.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-darwin.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ssl-request.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ubuntu.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-vhost.log-expected.json
  packages/apache/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/access/fields/fields.yml
  packages/apache/data_stream/access/sample_event.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-basic.log
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-basic.log-expected.json
  packages/apache/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/error/sample_event.json
  packages/apache/docs/README.md
  packages/apache/manifest.yml
Labels: Integration:apache, Team:Obs-InfraObs

#10546 pulse_connect_secure: allow domain separators to include extra backslash characters
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-system.log
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-system.log-expected.json
  packages/pulse_connect_secure/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pulse_connect_secure/manifest.yml
Labels: enhancement, Integration:pulse_connect_secure, Team:Security-Service Integrations

#10549 [integrations][keycloak] - Fixed parser config default value and updated GROK pattern to account for multiline error logs
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/keycloak/data_stream/log/manifest.yml
  packages/keycloak/manifest.yml
Labels: integration, Integration:keycloak, bugfix, Team:Security-Service Integrations

#10551 [zscaler_zia] Update NSS Feed Screenshot with updated Feed Output Format of Web
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/img/nss_feeds.png
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Crest, Team:Security-Service Integrations

#10529 Convert error.code to string for winlog inputs
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/manifest.yml
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/manifest.yml
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sqlserver/data_stream/performance/manifest.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/manifest.yml
  packages/microsoft_sqlserver/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml
  packages/system/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_msi_and_script/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/applocker_packaged_app_execution/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/windows_defender/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Integration:windows, Integration:system, Integration:microsoft_sqlserver, Team:Obs-InfraObs, Integration:hid_bravura_monitor, bugfix, Team:Security-Windows Platform, Integration:microsoft_dnsserver

#10517 zscaler_zia: Fix url parsing in Web logs.
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#10563 [integrations][keycloak]- Enhanced kv processor to trim escape sequences properly
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/keycloak/manifest.yml
Labels: integration, Integration:keycloak, bugfix, Team:Security-Service Integrations

#10545 ti_crowdstrike: fix time stamp handling
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:ti_crowdstrike, Team:Security-Service Integrations

#10556 Fix missing processors block in kubernetes.audit_logs integration (#10548)
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/audit_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/manifest.yml
Labels: Integration:kubernetes, Team:Cloudnative-Monitoring

#10512 [system][diskio]: update system.diskio as it requires root privileges
  packages/system/changelog.yml
  packages/system/data_stream/diskio/manifest.yml
  packages/system/manifest.yml
Labels: Integration:system, Team:Obs-InfraObs

#10581 [cisco_asa]: support parsing IPv4 and IPv6 for ids 721016 and 721018
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bug, Integration:cisco_asa, Team:Security-Deployment and Devices

#10579 [fortinet_fortigate]: parse correctly alternative logs for Administrator logins
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-6-2.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/login.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#10298 Add support for conditions in Cloud Security Posture
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/eks.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/vanilla.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#10589 buildkite: don't test packages for changes in issue and pr templates
  .buildkite/scripts/common.sh
Labels: enhancement

#10567 crowdstrike: add fingerprint processors to alert and host data streams
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#10588 Enhance issue templates to include problem descriptions
  .github/ISSUE_TEMPLATE/integration_bug.yml
Labels: enhancement

#10572 [kibana] Improve docker scenario healthcheck
  packages/kibana/_dev/deploy/docker/docker-compose.yml
Labels: Integration:kibana, Team:Stack Monitoring

#10472 [proofpoint_on_demand] Initial release of the Proofpoint On Demand
  .github/CODEOWNERS
  packages/proofpoint_on_demand/_dev/build/build.yml
  packages/proofpoint_on_demand/_dev/build/docs/README.md
  packages/proofpoint_on_demand/_dev/deploy/docker/docker-compose.yml
  packages/proofpoint_on_demand/_dev/deploy/docker/websocket-mock-service/go.mod
  packages/proofpoint_on_demand/_dev/deploy/docker/websocket-mock-service/go.sum
  packages/proofpoint_on_demand/_dev/deploy/docker/websocket-mock-service/main.go
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/proofpoint_on_demand/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/proofpoint_on_demand/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/proofpoint_on_demand/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/proofpoint_on_demand/data_stream/audit/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_on_demand/data_stream/audit/fields/base-fields.yml
  packages/proofpoint_on_demand/data_stream/audit/fields/beats.yml
  packages/proofpoint_on_demand/data_stream/audit/fields/fields.yml
  packages/proofpoint_on_demand/data_stream/audit/manifest.yml
  packages/proofpoint_on_demand/data_stream/audit/sample_event.json
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/pipeline/test-common-config.yml
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/pipeline/test-mail.log
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/pipeline/test-mail.log-expected.json
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/system/test-default-config.yml
  packages/proofpoint_on_demand/data_stream/mail/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/mail/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_on_demand/data_stream/mail/fields/base-fields.yml
  packages/proofpoint_on_demand/data_stream/mail/fields/beats.yml
  packages/proofpoint_on_demand/data_stream/mail/fields/fields.yml
  packages/proofpoint_on_demand/data_stream/mail/manifest.yml
  packages/proofpoint_on_demand/data_stream/mail/sample_event.json
  packages/proofpoint_on_demand/data_stream/message/_dev/test/pipeline/test-common-config.yml
  packages/proofpoint_on_demand/data_stream/message/_dev/test/pipeline/test-message.log
  packages/proofpoint_on_demand/data_stream/message/_dev/test/pipeline/test-message.log-expected.json
  packages/proofpoint_on_demand/data_stream/message/_dev/test/system/test-default-config.yml
  packages/proofpoint_on_demand/data_stream/message/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/message/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_on_demand/data_stream/message/fields/base-fields.yml
  packages/proofpoint_on_demand/data_stream/message/fields/beats.yml
  packages/proofpoint_on_demand/data_stream/message/fields/fields.yml
  packages/proofpoint_on_demand/data_stream/message/manifest.yml
  packages/proofpoint_on_demand/data_stream/message/sample_event.json
  packages/proofpoint_on_demand/docs/README.md
  packages/proofpoint_on_demand/img/proofpoint_on_demand-audit-dashboard.png
  packages/proofpoint_on_demand/img/proofpoint_on_demand-logo.svg
  packages/proofpoint_on_demand/img/proofpoint_on_demand-mail-dashboard.png
  packages/proofpoint_on_demand/img/proofpoint_on_demand-message-dashboard.png
  packages/proofpoint_on_demand/kibana/dashboard/proofpoint_on_demand-77feed4b-c40f-45f4-b9dd-7094a6877609.json
  packages/proofpoint_on_demand/kibana/dashboard/proofpoint_on_demand-ae89dee7-9dc7-4121-ba6a-93c408307ee4.json
  packages/proofpoint_on_demand/kibana/dashboard/proofpoint_on_demand-e84a69fa-843b-4697-8b9c-cd9b005581ef.json
  packages/proofpoint_on_demand/kibana/search/proofpoint_on_demand-47445983-1383-4de7-9a0a-3f39f46e5b5c.json
  packages/proofpoint_on_demand/kibana/search/proofpoint_on_demand-7748df39-1f80-4506-8e47-afac86766d3d.json
  packages/proofpoint_on_demand/kibana/search/proofpoint_on_demand-f73aa7a7-3a1d-41aa-b462-308dd0fb347b.json
  packages/proofpoint_on_demand/kibana/tags.yml
  packages/proofpoint_on_demand/manifest.yml
  packages/proofpoint_on_demand/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#10582 [Cisco ASA] message 716059 alternative format
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#10600 [Security Rules] Update security rules package to v8.12.18
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10601 [Security Rules] Update security rules package to v8.13.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10602 [Security Rules] Update security rules package to v8.14.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10603 [Security Rules] Update security rules package to v8.15.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10586 [cisco_secure_email_gateway] Cisco Email Gateway Greedy Parsing Fix
  packages/cisco_secure_email_gateway/_dev/deploy/docker/sample_logs/consolidated_event.@123456789.s
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: bug, Integration:cisco_secure_email_gateway, Team:Security-Deployment and Devices

#10547 microsoft_exchange_online_message_trace: clarify configuration documentation
  packages/microsoft_exchange_online_message_trace/_dev/build/docs/README.md
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: Integration:microsoft_exchange_online_message_trac, bugfix, Team:Security-Service Integrations

#10255 Fixed typos in changelog url links to GitHub
  packages/cisco_ftd/changelog.yml
  packages/cisco_ios/changelog.yml
  packages/cisco_nexus/changelog.yml
  packages/cisco_secure_email_gateway/changelog.yml
  packages/fim/changelog.yml
  packages/juniper_junos/changelog.yml
  packages/juniper_netscreen/changelog.yml
  packages/nginx_ingress_controller/changelog.yml
  packages/pfsense/changelog.yml
  packages/pulse_connect_secure/changelog.yml
  packages/security_detection_engine/changelog.yml
Labels: Integration:nginx_ingress_controller, Integration:security_detection_engine, Team:Cloudnative-Monitoring, Integration:cisco_nexus, Integration:cisco_ios, Integration:cisco_ftd, Integration:pfsense, Integration:cisco_secure_email_gateway, Integration:fim, Integration:pulse_connect_secure, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Security-Linux Platform, Integration:juniper_junos, Integration:juniper_netscreen

#10381 bitdefender: Add jsonRPC format as recommended default.
  packages/bitdefender/_dev/build/docs/README.md
  packages/bitdefender/_dev/deploy/docker/docker-compose.yml
  packages/bitdefender/_dev/deploy/docker/sample_logs/jsonrpc_format.log
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_configuration/sample_event.json
  packages/bitdefender/data_stream/push_notifications/_dev/test/pipeline/test-push-notification-jsonrpc.json
  packages/bitdefender/data_stream/push_notifications/_dev/test/pipeline/test-push-notification-jsonrpc.json-config.yml
  packages/bitdefender/data_stream/push_notifications/_dev/test/pipeline/test-push-notification-jsonrpc.json-expected.json
  packages/bitdefender/data_stream/push_notifications/_dev/test/pipeline/test-push-notification.json-expected.json
  packages/bitdefender/data_stream/push_notifications/_dev/test/system/test-bitdefender-push-notification-jsonrpc-http-config.yml
  packages/bitdefender/data_stream/push_notifications/_dev/test/system/test-bitdefender-push-notification-jsonrpc-https-config.yml
  packages/bitdefender/data_stream/push_notifications/_dev/test/system/test-bitdefender-push-notification-qradar-http-config.yml
  packages/bitdefender/data_stream/push_notifications/agent/stream/http_endpoint.yml.hbs
  packages/bitdefender/data_stream/push_notifications/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/data_stream/push_notifications/fields/fields.yml
  packages/bitdefender/data_stream/push_notifications/sample_event.json
  packages/bitdefender/docs/README.md
  packages/bitdefender/img/bitdefender-integration-configuration-1.png
  packages/bitdefender/manifest.yml
Labels: enhancement, Integration:bitdefender, Team:Security-Service Integrations

#10344 [MySQL] Add replica status data stream
  packages/mysql/_dev/build/docs/README.md
  packages/mysql/_dev/deploy/docker/Dockerfile
  packages/mysql/_dev/deploy/docker/docker-compose.yml
  packages/mysql/_dev/deploy/docker/master/Dockerfile
  packages/mysql/_dev/deploy/docker/master/conf/mysql.conf.cnf
  packages/mysql/_dev/deploy/docker/master/entrypoint-master.sh
  packages/mysql/_dev/deploy/docker/master/healthcheck.sh
  packages/mysql/_dev/deploy/docker/master/mysql_master.env
  packages/mysql/_dev/deploy/docker/replica/Dockerfile
  packages/mysql/_dev/deploy/docker/replica/conf/mysql.conf.cnf
  packages/mysql/_dev/deploy/docker/replica/entrypoint-replica.sh
  packages/mysql/_dev/deploy/docker/replica/grant-permissions.sql
  packages/mysql/_dev/deploy/docker/replica/healthcheck.sh
  packages/mysql/_dev/deploy/docker/replica/mysql_replica.env
  packages/mysql/changelog.yml
  packages/mysql/data_stream/galera_status/_dev/test/system/test-default-config.yml
  packages/mysql/data_stream/replica_status/_dev/test/pipeline/test-common-config.yml
  packages/mysql/data_stream/replica_status/_dev/test/pipeline/test-replica-status-metrics.json
  packages/mysql/data_stream/replica_status/_dev/test/pipeline/test-replica-status-metrics.json-expected.json
  packages/mysql/data_stream/replica_status/_dev/test/system/test-default-config.yml
  packages/mysql/data_stream/replica_status/agent/stream/stream.yml.hbs
  packages/mysql/data_stream/replica_status/elasticsearch/ingest_pipeline/default.yml
  packages/mysql/data_stream/replica_status/fields/base-fields.yml
  packages/mysql/data_stream/replica_status/fields/ecs.yml
  packages/mysql/data_stream/replica_status/fields/fields.yml
  packages/mysql/data_stream/replica_status/manifest.yml
  packages/mysql/data_stream/replica_status/sample_event.json
  packages/mysql/docs/README.md
  packages/mysql/img/mysql-replica_status-dashboard.png
  packages/mysql/kibana/dashboard/mysql-df471c8c-e8d0-4a06-8a3c-44a4e0429bca.json
  packages/mysql/manifest.yml
Labels: Integration:mysql, Team:Obs-InfraObs

#10533 [Enhancement] Add ".caseless" fields to process events
  packages/system/changelog.yml
  packages/system/data_stream/security/fields/ecs.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/ecs.yml
  packages/windows/data_stream/sysmon_operational/fields/ecs.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:windows, Integration:system, Team:Elastic-Agent-Data-Plane, Team:Ecosystem, Team:Obs-InfraObs, Team:Security-Windows Platform

#10606 box: fix handling of empty api responses
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/_dev/test/pipeline/test-empty.log
  packages/box_events/data_stream/events/_dev/test/pipeline/test-empty.log-expected.json
  packages/box_events/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/box_events/manifest.yml
Labels: Integration:box_events, bugfix, Team:Security-Service Integrations

#10629 [O11y][MySQL] Update PR link for `replica_status` data stream
  packages/mysql/changelog.yml
Labels: Integration:mysql, bugfix

#10633 [google_workspace] - Updated google drive event schema and mappings to incorporate missing fields and avoid conflicts
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log-expected.json
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/fields/fields.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: integration, Integration:google_workspace, bugfix, Team:Security-Service Integrations

#10399 [prisma_access] Initial release of the Prisma Access
  .github/CODEOWNERS
  packages/prisma_access/_dev/build/build.yml
  packages/prisma_access/_dev/build/docs/README.md
  packages/prisma_access/_dev/deploy/docker/docker-compose.yml
  packages/prisma_access/_dev/deploy/docker/sample_logs/prisma_access.log
  packages/prisma_access/changelog.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/prisma_access/data_stream/event/_dev/test/system/test-tcp-config.yml
  packages/prisma_access/data_stream/event/agent/stream/tcp.yml.hbs
  packages/prisma_access/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_access/data_stream/event/fields/base-fields.yml
  packages/prisma_access/data_stream/event/fields/beats.yml
  packages/prisma_access/data_stream/event/fields/fields.yml
  packages/prisma_access/data_stream/event/manifest.yml
  packages/prisma_access/data_stream/event/sample_event.json
  packages/prisma_access/docs/README.md
  packages/prisma_access/img/prisma-access-authentication-dashboard.png
  packages/prisma_access/img/prisma-access-decryption-dashboard.png
  packages/prisma_access/img/prisma-access-dns-security-dashboard.png
  packages/prisma_access/img/prisma-access-file-url-dashboard.png
  packages/prisma_access/img/prisma-access-hip-match-global-protect-dashboard.png
  packages/prisma_access/img/prisma-access-logo.svg
  packages/prisma_access/img/prisma-access-sctp-tunnel-dashboard.png
  packages/prisma_access/img/prisma-access-system-configuration-dashboard.png
  packages/prisma_access/img/prisma-access-threat-dashboard.png
  packages/prisma_access/img/prisma-access-traffic-dashboard.png
  packages/prisma_access/img/prisma-access-userid-iptag-dashboard.png
  packages/prisma_access/kibana/dashboard/prisma_access-29e20c1b-56d7-4faf-874a-ec0be2b71d73.json
  packages/prisma_access/kibana/dashboard/prisma_access-3ee4a5d1-f482-477d-a9d7-79614e47edf6.json
  packages/prisma_access/kibana/dashboard/prisma_access-4748fc8c-61fa-4734-96c4-00434060bb91.json
  packages/prisma_access/kibana/dashboard/prisma_access-5491eea8-ffea-4c38-853e-ecc71a029f5e.json
  packages/prisma_access/kibana/dashboard/prisma_access-59f8f009-9181-4648-8d2f-0efcef9af09c.json
  packages/prisma_access/kibana/dashboard/prisma_access-8c044964-3350-4ef9-8af0-b35842382ecb.json
  packages/prisma_access/kibana/dashboard/prisma_access-954911aa-fa52-4288-9eda-b5ffd6e4b742.json
  packages/prisma_access/kibana/dashboard/prisma_access-98ffa22c-9cce-4c8f-b827-045466894b3b.json
  packages/prisma_access/kibana/dashboard/prisma_access-9f7ebe0c-3608-4f80-bb30-14bf9da2add9.json
  packages/prisma_access/kibana/dashboard/prisma_access-c44e75d2-4d32-4944-877a-d4770b8bf003.json
  packages/prisma_access/kibana/search/prisma_access-240405f8-755f-4ffe-a0db-f20ae7911512.json
  packages/prisma_access/kibana/search/prisma_access-29ea49d5-83c3-4b2f-9f28-c0b889e4bffb.json
  packages/prisma_access/kibana/search/prisma_access-5841ba7f-45a0-4fbc-957c-cfa29a081651.json
  packages/prisma_access/kibana/search/prisma_access-7d0c9533-3fd4-46e2-a3d6-45481564f3ae.json
  packages/prisma_access/kibana/search/prisma_access-8e560bd6-5d0f-49bc-a238-08935d920c68.json
  packages/prisma_access/kibana/search/prisma_access-901e28ad-c0f4-4d01-bcce-5179545e8f15.json
  packages/prisma_access/kibana/search/prisma_access-9ccf2035-7285-4d43-a532-4414378efee1.json
  packages/prisma_access/kibana/search/prisma_access-a382a121-6dc3-4500-a096-2cb36d230006.json
  packages/prisma_access/kibana/search/prisma_access-e3d06be6-c0ee-42d1-8c6c-779d0ff8085d.json
  packages/prisma_access/kibana/search/prisma_access-eff7a8a7-4217-474e-b5ea-b6173e8ed2f5.json
  packages/prisma_access/kibana/tags.yml
  packages/prisma_access/manifest.yml
  packages/prisma_access/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#10616 [sql_input] Pin mssql docker image used for testing
  packages/sql_input/_dev/deploy/docker/docker-compose.yml
Labels: Team:Obs-InfraObs, Integration:sql_input

#10618 [panw] Use high-res timestamp and ensure time zone config is applied
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-authentication-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-config-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-gtp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-ip-tag-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-sctp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-system-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-time-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-time-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-time-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-tunnel-inspection-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/agent/stream/tcp.yml.hbs
  packages/panw/data_stream/panos/agent/stream/udp.yml.hbs
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: bug, Integration:panw, Team:Security-Deployment and Devices

#10645 [checkpoint] Ensure event.original is always set to message
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/manifest.yml
Labels: bug, Integration:checkpoint, Team:Security-Deployment and Devices

#10476 Improve DGA/LotL doc's Installation Procedures
  packages/dga/changelog.yml
  packages/dga/docs/README.md
  packages/dga/fields/base-fields.yml
  packages/dga/fields/custom.yml
  packages/dga/img/component-templates-edit.png
  packages/dga/img/component-templates.png
  packages/dga/img/custom-pipeline.png
  packages/dga/img/field1.png
  packages/dga/img/field1a.png
  packages/dga/img/field2.png
  packages/dga/img/fields-complete.png
  packages/dga/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/fields/base-fields.yml
  packages/problemchild/fields/custom.yml
  packages/problemchild/img/component-templates-edit.png
  packages/problemchild/img/component-templates.png
  packages/problemchild/img/custom-pipeline.png
  packages/problemchild/img/field1.png
  packages/problemchild/img/field2.png
  packages/problemchild/img/field2a.png
  packages/problemchild/img/field3.png
  packages/problemchild/img/fields-complete.png
  packages/problemchild/manifest.yml
Labels: documentation, enhancement, Integration:dga, Integration:problemchild

#10605 qualys_vmdr: improve cloud.* field mappings
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#10637 ti_abusech: Fix ECS date mapping on threat fields.
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/fields/ecs.yml
  packages/ti_abusech/data_stream/malwarebazaar/fields/ecs.yml
  packages/ti_abusech/data_stream/threatfox/fields/ecs.yml
  packages/ti_abusech/data_stream/url/fields/ecs.yml
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/manifest.yml
Labels: Integration:ti_abusech, bugfix, Team:Security-Service Integrations

#10630 symantec_endpoint_security: handle non-map raw data values
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-scalar-flattened.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-scalar-flattened.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint_security/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#10641 Osquery_manager: Upgrade osquery mappings to match osquery 5.12.1 schema
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/fields/osquery.yml
  packages/osquery_manager/manifest.yml
Labels: Integration:osquery_manager, Team:Security-Deployment and Devices

#10646 Copy log.syslog.appname to process.name
  .github/CODEOWNERS
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-host-syslog-processor.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-host-syslog-processor.json-expected.json
  packages/system/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
Labels: Integration:system, bugfix, Team:Security-Linux Platform

#10613 AWS Fargate: Add disclaimer that integration supports ECS only
  packages/awsfargate/_dev/build/docs/README.md
  packages/awsfargate/changelog.yml
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
Labels: documentation, Team:Obs-InfraObs, Integration:awsfargate

#10667 [Cloud Security] Release version 1.10.0
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture
