Repository elastic/integrations, pull requests merged in 2024-09, with the labels that each got.

#10927 jamf_protect: fix up dashboard filters
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/alerts/fields/base-fields.yml
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/kibana/dashboard/jamf_protect-e9b86210-c65c-11ee-882f-57f79af43d7f.json
  packages/jamf_protect/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Integration:jamf_protect

#10921 [Nginx_ingress_controller] fix nginx_ingress_controller.access.remote_ip_list field mapping
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/data_stream/access/fields/fields.yml
  packages/nginx_ingress_controller/docs/README.md
  packages/nginx_ingress_controller/manifest.yml
Labels: Integration:nginx_ingress_controller, Team:Cloudnative-Monitoring

#10913 [Cloud Security] Deprecate vulnerability data views
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-07a5e6d6-982d-4c7c-a845-5f2be43279c9.json
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-c406d945-a359-4c04-9a6a-65d66de8706b.json.json
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#10987 [Security Rules] Update security rules package to v8.12.21
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#10988 [Security Rules] Update security rules package to v8.13.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#10989 [Security Rules] Update security rules package to v8.14.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#10990 [Security Rules] Update security rules package to v8.15.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#10966 [qualys_vmdr] Rename and convert fields. Lower case `cloud.provider`
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/fields.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, breaking change, Integration:qualys_vmdr, Team:Security-Service Integrations

#10986 [abnormal_security] Update data-collection to handle empty threats
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/threat/agent/stream/cel.yml.hbs
  packages/abnormal_security/data_stream/threat/sample_event.json
  packages/abnormal_security/docs/README.md
  packages/abnormal_security/manifest.yml
Labels: bugfix, Crest, Team:Security-Service Integrations, Integration:abnormal_security

#10939 [AWS Bedrock] Add Field to hold LLM text model response value in human readable format for selected LLM models
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log-expected.json
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/data_stream/invocation/fields/fields.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/img/aws_bedrock_chat_image.png
  packages/aws_bedrock/img/aws_bedrock_invocation.png
  packages/aws_bedrock/img/aws_bedrock_logs.png
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/kibana/search/aws_bedrock-102e7881-0c3f-4996-91e6-453f682df2f2.json
  packages/aws_bedrock/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:aws_bedrock

#10943 [oracle] Add support to run system tests with Elastic Agent images based on Wolfi
  packages/oracle/data_stream/memory/_dev/test/system/test-memory-config.yml
  packages/oracle/data_stream/performance/_dev/test/system/test-performance-config.yml
  packages/oracle/data_stream/sysmetric/_dev/test/system/test-sysmetric-config.yml
  packages/oracle/data_stream/system_statistics/_dev/test/system/test-systemstatistics-config.yml
  packages/oracle/data_stream/tablespace/_dev/test/system/test-tablespace-config.yml
Labels: Integration:oracle, Team:Obs-InfraObs

#10947 Defender answers bug
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#10923 entityanalytics_ad: format SID and GUID in canonical formats
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad

#10925 infoblox_nios: fix handling of MARK log entries
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/manifest.yml
Labels: Integration:infoblox_nios, bugfix, Team:Security-Service Integrations

#11010 [cisco_ios] Remove pipeline test files
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-parsing-issue-5150.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-parsing-issue-5150.log-expected.json
Labels: deprecation, Integration:cisco_ios, Team:Security-Deployment and Devices

#11002 [Exchange Server] Add conditional override when from address differs from sender address & minor enhancements
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log-expected.json
  packages/microsoft_exchange_server/data_stream/messagetracking/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/smtp/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/smtp/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/smtp/fields/fields.yml
  packages/microsoft_exchange_server/manifest.yml
Labels: enhancement, Team:Security-Windows Platform, Integration:microsoft_exchange_server

#11007 Update packages to use Elastic Agent images based on Ubuntu
  packages/apache_tomcat/_dev/deploy/variants.yml
  packages/apache_tomcat/data_stream/access/_dev/test/system/test-default-config.yml
  packages/apache_tomcat/data_stream/catalina/_dev/test/system/test-default-config.yml
  packages/iptables/data_stream/log/_dev/test/system/test-journald-config.yml
  packages/journald/_dev/test/system/test-journald-config.yml
  packages/microsoft_sqlserver/data_stream/log/_dev/test/system/test-errorlog-config.yml
  packages/stan/data_stream/log/_dev/test/system/test-default-config.yml
  packages/system_audit/data_stream/package/_dev/test/system/test-system-package-config.yml
Labels: Integration:stan, Integration:apache_tomcat, Integration:iptables, Integration:journald, Team:Elastic-Agent-Data-Plane, Integration:microsoft_sqlserver, Team:Obs-InfraObs, Team:Security-Deployment and Devices, Team:Security-Linux Platform, Integration:system_audit

#10916 [cisco_ios] Handle timestamp starting with the year such as 'yyyy MMM d HH:mm:ss.SSS z'
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-yearfirst-timestamp.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-yearfirst-timestamp.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:cisco_ios, bugfix, Team:Security-Deployment and Devices

#10758 [first_epss] New integration
  .github/CODEOWNERS
  packages/first_epss/_dev/build/build.yml
  packages/first_epss/_dev/build/docs/README.md
  packages/first_epss/_dev/deploy/docker/docker-compose.yml
  packages/first_epss/_dev/deploy/docker/files/config.yml
  packages/first_epss/changelog.yml
  packages/first_epss/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/first_epss/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/first_epss/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/first_epss/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/first_epss/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/first_epss/data_stream/vulnerability/fields/base-fields.yml
  packages/first_epss/data_stream/vulnerability/fields/beats.yml
  packages/first_epss/data_stream/vulnerability/fields/fields.yml
  packages/first_epss/data_stream/vulnerability/manifest.yml
  packages/first_epss/data_stream/vulnerability/sample_event.json
  packages/first_epss/docs/README.md
  packages/first_epss/img/first-epss-dashboard.png
  packages/first_epss/img/first-logo.svg
  packages/first_epss/kibana/dashboard/first_epss-fad8ebfb-fb41-4029-bbcb-c8e05d7f6c65.json
  packages/first_epss/manifest.yml
Labels: New Integration, Team:Security-Service Integrations, Community

#10945 [Cloud Security] add observer.vendor to cloud_security_posture
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json-expected.json
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/vulnerabilities/_dev/test/pipeline/test-findings-log.json-expected.json
  packages/cloud_security_posture/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11016 Adapt definitions of nested subfields to current Fleet implementation
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/fields/fields.yml
  packages/akamai/docs/README.md
  packages/akamai/manifest.yml
  packages/falco/changelog.yml
  packages/falco/data_stream/alerts/fields/fields.yml
  packages/falco/docs/README.md
  packages/falco/manifest.yml
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/fields/fields.yml
  packages/gcp/data_stream/billing/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/docs/billing.md
  packages/gcp/manifest.yml
  packages/github/changelog.yml
  packages/github/data_stream/dependabot/fields/fields.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/alert/fields/fields.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/telemetry/fields/fields.yml
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
  packages/tanium/changelog.yml
  packages/tanium/data_stream/endpoint_config/fields/fields.yml
  packages/tanium/data_stream/threat_response/fields/fields.yml
  packages/tanium/docs/README.md
  packages/tanium/manifest.yml
  packages/trellix_edr_cloud/changelog.yml
  packages/trellix_edr_cloud/data_stream/event/fields/fields.yml
  packages/trellix_edr_cloud/docs/README.md
  packages/trellix_edr_cloud/manifest.yml
Labels: Integration:gcp, Integration:google_workspace, Integration:github, Integration:akamai, Team:Obs-InfraObs, Integration:tanium, Team:Security-Service Integrations, Integration:jamf_protect, Integration:trellix_edr_cloud, Team:obs-ds-hosted-services, Integration:falco

#10803 Fix skipping Authentication Pipeline in panw panos Integration
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-authentication-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-authentication-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: Integration:panw, bugfix, Team:Security-Deployment and Devices

#11029 [symantec_endpoint_security] Fix null check conditions
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-diagnostic.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-diagnostic.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-security.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-security.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_application.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_audit.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_security.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_system.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_actor.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_attack.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_cybox.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_process.yml
  packages/symantec_endpoint_security/manifest.yml
Labels: bugfix, Crest, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#11027 f5_bigip: Fix ASM script processor when `event.original` is absent.
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-asm.log-expected.json
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipasm.yml
  packages/f5_bigip/manifest.yml
Labels: bugfix, Integration:f5_bigip, Team:Security-Service Integrations

#11017 [Cloud Security ]add observer.vendor to cloud_security_posture package version 1.10
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json-expected.json
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/findings/fields/cloud.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/ecs.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#10997 Add host name to Wiz vulnerability data stream
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#10801 Fix IPv6 cleanup
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-dns.log
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-dns.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-dns.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sysmon_linux/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-5152.json
  packages/system/data_stream/security/_dev/test/pipeline/test-5152.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-windows2012-4768.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-windows2012-4768.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/sysmon_operational.yml
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Integration:windows, Integration:system, Team:Elastic-Agent-Data-Plane, Integration:sysmon_linux, bugfix, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations, Team:Security-Linux Platform, Team:Security-Windows Platform

#11031 [proofpoint_on_demand] Adapt definitions of nested subfields
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/audit/fields/fields.yml
  packages/proofpoint_on_demand/docs/README.md
  packages/proofpoint_on_demand/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#10968 [zscaler_zia] Improve data processing in the web pipeline
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#11041 [Cloud Security] add backported 1.10.1 version changelog entry to main
  packages/cloud_security_posture/changelog.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture

#11042 add PR link to 1.10.1 changelog
  packages/cloud_security_posture/changelog.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture

#11030 [Cloud Security] add observer.vendor field mappings
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/findings/fields/cloud.yml
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
  packages/cloud_security_posture/data_stream/findings/fields/related.yml
  packages/cloud_security_posture/data_stream/vulnerabilities/_dev/test/pipeline/test-findings-log.json
  packages/cloud_security_posture/data_stream/vulnerabilities/fields/ecs.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#10896 [checkpoint] Improve normalization of user.name field
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-audit.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-authentication.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint-with-time.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r80x.log-expected.json
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Integration:checkpoint, Team:Security-Deployment and Devices

#11033 [fortinet_fortigate] Fix TLS parsing bug
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-2.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-2.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bugfix, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#11013 bitdefender: ensure remediation actions are correlated with their file paths
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_notifications/_dev/test/pipeline/test-push-notification-jsonrpc.json-expected.json
  packages/bitdefender/data_stream/push_notifications/_dev/test/pipeline/test-push-notification.json-expected.json
  packages/bitdefender/data_stream/push_notifications/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/manifest.yml
Labels: bugfix, Integration:bitdefender, Team:Security-Service Integrations

#10216 Fix AWS cloudfront log parsing
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/manifest.yml
  packages/aws/data_stream/cloudfront_logs/_dev/deploy/tf/files/test-cloudfront.log
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log
  packages/aws/data_stream/cloudfront_logs/_dev/test/pipeline/test-cloudfront.log-expected.json
  packages/aws/data_stream/cloudfront_logs/_dev/test/system/test-default-config.yml
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudfront_logs/fields/fields.yml
  packages/aws/data_stream/cloudfront_logs/manifest.yml
  packages/aws/data_stream/cloudfront_logs/sample_event.json
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/emr_logs/manifest.yml
  packages/aws/data_stream/firewall_logs/manifest.yml
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/route53_resolver_logs/manifest.yml
  packages/aws/data_stream/s3access/manifest.yml
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/data_stream/waf/manifest.yml
  packages/aws/docs/cloudfront.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#10593 [Kubernetes] Add both pod.{cpu,memory}.usage.node.pct and pod.{cpu,memory}.usage.limit.pct metrics to the Overview dashboard
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-0a672d50-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-21694370-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3912d9a0-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3d4d9290-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-5be46210-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-85879010-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-9bf990a0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-b945b7b0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-d3bd9650-0c14-11ed-b760-5d1bccb47f56.json
  packages/kubernetes/kibana/dashboard/kubernetes-dd081350-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-e88326d1-866b-4fcb-8aae-6cad722292e9.json
  packages/kubernetes/kibana/dashboard/kubernetes-ff1b3850-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:kubernetes, dashboard, Team:Cloudnative-Monitoring

#10840 [prometheus] [collector] Add missing `ssl` params
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/manifest.yml
Labels: enhancement, Integration:prometheus, Team:Obs-InfraObs

#10809 Provide support of configuring ignore_older events in apache access-logs
  packages/apache/changelog.yml
  packages/apache/data_stream/access/agent/stream/log.yml.hbs
  packages/apache/data_stream/access/manifest.yml
  packages/apache/manifest.yml
Labels: enhancement, Integration:apache, Team:Obs-InfraObs

#10976 [Cloud Security][Assets Inventory] Add GCP policy template
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/gcp.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#10992 [squid] Enhance mappings and add geoip enrichments
  packages/squid/_dev/deploy/docker/sample_logs/squid-log-access.log
  packages/squid/changelog.yml
  packages/squid/data_stream/log/_dev/test/pipeline/test-access.log
  packages/squid/data_stream/log/_dev/test/pipeline/test-access.log-expected.json
  packages/squid/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/squid/data_stream/log/fields/fields.yml
  packages/squid/data_stream/log/sample_event.json
  packages/squid/docs/README.md
  packages/squid/manifest.yml
Labels: Integration:squid, bugfix, Team:Security-Deployment and Devices

#11046 [carbon_black_cloud] Return full state in CEL program results
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert_v7/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/data_stream/audit/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/manifest.yml
Labels: Integration:carbon_black_cloud, bugfix, Team:Security-Service Integrations

#11068 [google_workspace] handle json.id.time missing
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations

#11091 [Cloud Security][Assets Inventory] Remove GCP/Azure for kibana 8.15.0
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/azure.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/gcp.yml.hbs
  packages/cloud_asset_inventory/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:cloud_asset_inventory

#11048 [Santa] Add support for team ID field
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log
  packages/santa/data_stream/log/_dev/test/pipeline/test-santa-raw.log-expected.json
  packages/santa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/santa/data_stream/log/fields/package-fields.yml
  packages/santa/docs/README.md
  packages/santa/manifest.yml
Labels: enhancement, Integration:santa, Team:Security-Service Integrations

#11063 [ti_crowdstrike] Fix intel pagination bug due to cursor formatting
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:ti_crowdstrike, Team:Security-Service Integrations

#10991 [Cloudflare Logpush] Support JA4 fields for HTTP requests
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/fields/fields.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#11051 [falco] Adjust Falco events to work with External Alerts rule
  packages/falco/changelog.yml
  packages/falco/data_stream/alerts/_dev/test/pipeline/test-falco.log
  packages/falco/data_stream/alerts/_dev/test/pipeline/test-falco.log-expected.json
  packages/falco/data_stream/alerts/_dev/test/pipeline/test-nopreserve.log-expected.json
  packages/falco/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/falco/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:falco

#10479 [Cloud Security] change secret value for gcp json blob to true
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11021 aws_bedrock: support newer guardrails data structure
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log
  packages/aws_bedrock/data_stream/invocation/_dev/test/pipeline/test-aws-bedrock.log-expected.json
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:aws_bedrock

#11036 sentinel_one: document alert data stream environment limitation
  packages/sentinel_one/_dev/build/docs/README.md
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: Integration:sentinel_one, bugfix, Team:Security-Service Integrations

#10765 entityanalytics_entra_id: add support for request trace logging
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/system/test-default-config.yml
  packages/entityanalytics_entra_id/data_stream/entity/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_entra_id/data_stream/entity/manifest.yml
  packages/entityanalytics_entra_id/manifest.yml
Labels: enhancement, Integration:entityanalytics_entra_id, Team:Security-Service Integrations

#11019 [Enhancement] Improve S1 Cloud Funnel Process Events compatibility
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/fields/ecs.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/fields/fields.yml
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations

#10895 Add Latest Transform - Wiz Vulnerabilities
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/base-fields.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/beats.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/transform.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Team:Security-Service Integrations

#10792 Fix powershell error on events 40961 and 40962
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-events.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-events.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell_operational.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/sysmon_operational.yml
  packages/windows/data_stream/powershell/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Integration:windows, bugfix, Team:Security-Windows Platform

#11121 [citrix_adc] Improve handling of SSLVPN Message
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:citrix_adc

#10984 [DOCS] Add new section on Azure Functions hosting plans
  packages/azure_functions/_dev/build/docs/README.md
  packages/azure_functions/docs/README.md
Labels: documentation, enhancement, docs, Team:Obs-InfraObs, Integration:azure_functions

#11098 [Cloud Security] fix 'got types.Null, expected iterable type' error
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/cloud_configuration_finding/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:wiz, Team:Security-Service Integrations

#10940 tenable_io: fix flakey test and timestamp handling
  packages/tenable_io/_dev/deploy/docker/files/config.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/plugin/agent/stream/cel.yml.hbs
  packages/tenable_io/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/manifest.yml
Labels: Integration:tenable_io, bugfix, Team:Security-Service Integrations

#11093 claroty_ctd: fix replacement configuration
  packages/claroty_ctd/changelog.yml
  packages/claroty_ctd/data_stream/event/agent/stream/tcp.yml.hbs
  packages/claroty_ctd/data_stream/event/agent/stream/udp.yml.hbs
  packages/claroty_ctd/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:claroty_ctd

#11011 cyberarkpas: improve efficiency of event.duration calculation
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cyberarkpas/manifest.yml
Labels: enhancement, Integration:cyberarkpas, Team:Security-Service Integrations

#11123 Update changelog and manifest for 10984
  packages/azure/changelog.yml
  packages/azure/manifest.yml
Labels: documentation, Integration:azure, Team:obs-ds-hosted-services

#10973 entityanalytics_okta: map group fields and add test infrastructure
  packages/entityanalytics_okta/_dev/deploy/docker/files/config.yml
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/user/fields/fields.yml
  packages/entityanalytics_okta/docs/README.md
  packages/entityanalytics_okta/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_okta

#11053 google_scc: fix field name typo
  packages/google_scc/changelog.yml
  packages/google_scc/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/google_scc/data_stream/asset/elasticsearch/ingest_pipeline/pipeline_asset.yml
  packages/google_scc/data_stream/asset/fields/fields.yml
  packages/google_scc/docs/README.md
  packages/google_scc/manifest.yml
Labels: bugfix, Integration:google_scc, Team:Security-Service Integrations

#10459 [New Integration] ProxySG
  .github/CODEOWNERS
  packages/proxysg/LICENSE.txt
  packages/proxysg/_dev/build/build.yml
  packages/proxysg/_dev/build/docs/README.md
  packages/proxysg/_dev/deploy/docker/docker-compose.yml
  packages/proxysg/_dev/deploy/docker/sample_logs/filestream/proxysg.log
  packages/proxysg/_dev/deploy/docker/sample_logs/syslog/proxysg.log
  packages/proxysg/changelog.yml
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-main.log
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-main.log-config.yml
  packages/proxysg/data_stream/log/_dev/test/pipeline/test-proxy-main.log-expected.json
  packages/proxysg/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/proxysg/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/proxysg/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/proxysg/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/proxysg/data_stream/log/agent/stream/stream.yml.hbs
  packages/proxysg/data_stream/log/agent/stream/tcp.yml.hbs
  packages/proxysg/data_stream/log/agent/stream/udp.yml.hbs
  packages/proxysg/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/proxysg/data_stream/log/elasticsearch/ingest_pipeline/main.yml
  packages/proxysg/data_stream/log/fields/agent.yml
  packages/proxysg/data_stream/log/fields/base-fields.yml
  packages/proxysg/data_stream/log/fields/fields.yml
  packages/proxysg/data_stream/log/manifest.yml
  packages/proxysg/data_stream/log/sample_event.json
  packages/proxysg/docs/README.md
  packages/proxysg/img/proxysg_logo.svg
  packages/proxysg/img/screenshot-0.png
  packages/proxysg/kibana/dashboard/proxysg-69b7c835-b9b4-4efa-b183-69468f4688c0.json
  packages/proxysg/manifest.yml
Labels: enhancement, New Integration, Team:Security-Deployment and Devices, Integration:proxysg

#11023 crowdstrike: fix mapping for assessment events and aip handling
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/deploy/tf/files/fdr-sample.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/system/test-default-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/system/test-keep-metadata-config.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#11065 [jamf_pro] Various minor improvements and fixes
  packages/jamf_pro/_dev/build/docs/README.md
  packages/jamf_pro/_dev/deploy/docker/files/config.yml
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-added.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-check-in.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-inventory-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-patch-policy-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-policy-finished.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-push-capability-changed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-check-in.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-command-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-enrolled.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-inventory-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-push-sent.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-unenrolled.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-patch-software-title-updated.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/system/test-http-endpoint-config.yml
  packages/jamf_pro/data_stream/events/agent/stream/http_endpoint.yml.hbs
  packages/jamf_pro/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_pro/data_stream/events/sample_event.json
  packages/jamf_pro/data_stream/inventory/agent/stream/cel.yml.hbs
  packages/jamf_pro/data_stream/inventory/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_pro/data_stream/inventory/sample_event.json
  packages/jamf_pro/docs/README.md
  packages/jamf_pro/kibana/dashboard/jamf_pro-90cf12f3-9a11-466b-8c28-5a07a85bc038.json
  packages/jamf_pro/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#10953 m365_defender: fix assignment of windows os identity and posix hosts
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#11100 Set vulnerability ECS field based on Qualys data
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/data_stream/user_activity/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#10886 add missing fields gcp audit logs
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-sdh-3695.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/kibana/search/gcp-d88364c0-73a1-11ea-a345-f985c61fe654.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:gcp, Team:Security-Service Integrations

#11126 [CI] Fix script that retrieves oldest supported version
  .buildkite/scripts/build_packages.sh
  .buildkite/scripts/find_oldest_supported_version.py
Labels: ci

#11125 [Cloud Security][Asset Inventory] Restore Azure and GCP streams for ^8.16
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/azure.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/gcp.yml.hbs
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#10614 Switch to PAT generated token
  .buildkite/hooks/pre-command
  .buildkite/scripts/backport_branch.sh
Labels: v7.17.0, 8.14 candidate, 8.15 candidate

#11140 [Security Rules] Update security rules package to v8.13.17-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/043d80a3-c49e-43ef-9c72-1088f0c7b278_101.json
  packages/security_detection_engine/kibana/security_rule/04e65517-16e9-4fc4-b7f1-94dc21ecea0d_1.json
  packages/security_detection_engine/kibana/security_rule/0b96dfd8-5b8c-4485-9a1c-69ff7839786a_1.json
  packages/security_detection_engine/kibana/security_rule/1251b98a-ff45-11ee-89a1-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/13e908b9-7bf0-4235-abc9-b5deb500d0ad_7.json
  packages/security_detection_engine/kibana/security_rule/1719ee47-89b8-4407-9d55-6dff2629dd4c_1.json
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_101.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_113.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_208.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_309.json
  packages/security_detection_engine/kibana/security_rule/291a0de9-937a-4189-94c0-3e847c8b13e4_312.json
  packages/security_detection_engine/kibana/security_rule/2c6a6acf-0dcb-404d-89fb-6b0327294cfa_101.json
  packages/security_detection_engine/kibana/security_rule/2d62889e-e758-4c5e-b57e-c735914ee32a_101.json
  packages/security_detection_engine/kibana/security_rule/32d3ad0e-6add-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3838e0e3-1850-4850-a411-2e8c5ba40ba8_112.json
  packages/security_detection_engine/kibana/security_rule/3896d4c0-6ad1-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_208.json
  packages/security_detection_engine/kibana/security_rule/4aa58ac6-4dc0-4d18-b713-f58bf8bd015c_1.json
  packages/security_detection_engine/kibana/security_rule/65432f4a-e716-4cc1-ab11-931c4966da2d_101.json
  packages/security_detection_engine/kibana/security_rule/6649e656-6f85-11ef-8876-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_115.json
  packages/security_detection_engine/kibana/security_rule/6ded0996-7d4b-40f2-bf4a-6913e7591795_1.json
  packages/security_detection_engine/kibana/security_rule/725a048a-88c5-4fc7-8677-a44fc0031822_1.json
  packages/security_detection_engine/kibana/security_rule/7afc6cc9-8800-4c7f-be6b-b688d2dea248_2.json
  packages/security_detection_engine/kibana/security_rule/83bf249e-4348-47ba-9741-1202a09556ad_101.json
  packages/security_detection_engine/kibana/security_rule/8e39f54e-910b-4adb-a87e-494fbba5fb65_3.json
  packages/security_detection_engine/kibana/security_rule/994e40aa-8c85-43de-825e-15f665375ee8_7.json
  packages/security_detection_engine/kibana/security_rule/ab75c24b-2502-43a0-bf7c-e60e662c811e_113.json
  packages/security_detection_engine/kibana/security_rule/ac6bc744-e82b-41ad-b58d-90654fa4ebfb_1.json
  packages/security_detection_engine/kibana/security_rule/bdfaddc4-4438-48b4-bc43-9f5cf8151c46_1.json
  packages/security_detection_engine/kibana/security_rule/c124dc1b-cef2-4d01-8d74-ff6b0d5096b6_1.json
  packages/security_detection_engine/kibana/security_rule/c371e9fc-6a10-11ef-a0ac-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/c6655282-6c79-11ef-bbb5-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/cf575427-0839-4c69-a9e6-99fde02606f3_1.json
  packages/security_detection_engine/kibana/security_rule/d9ffc3d6-9de9-4b29-9395-5757d0695ecf_101.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_2.json
  packages/security_detection_engine/kibana/security_rule/e28b8093-833b-4eda-b877-0873d134cf3c_2.json
  packages/security_detection_engine/kibana/security_rule/e29599ee-d6ad-46a9-9c6a-dc39f361890d_1.json
  packages/security_detection_engine/kibana/security_rule/ecc0cd54-608e-11ef-ab6d-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_5.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11142 [Security Rules] Update security rules package to v8.15.5-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/043d80a3-c49e-43ef-9c72-1088f0c7b278_101.json
  packages/security_detection_engine/kibana/security_rule/04e65517-16e9-4fc4-b7f1-94dc21ecea0d_1.json
  packages/security_detection_engine/kibana/security_rule/0b96dfd8-5b8c-4485-9a1c-69ff7839786a_1.json
  packages/security_detection_engine/kibana/security_rule/1251b98a-ff45-11ee-89a1-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/13e908b9-7bf0-4235-abc9-b5deb500d0ad_7.json
  packages/security_detection_engine/kibana/security_rule/1719ee47-89b8-4407-9d55-6dff2629dd4c_1.json
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_101.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_113.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_208.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_309.json
  packages/security_detection_engine/kibana/security_rule/291a0de9-937a-4189-94c0-3e847c8b13e4_312.json
  packages/security_detection_engine/kibana/security_rule/2c6a6acf-0dcb-404d-89fb-6b0327294cfa_101.json
  packages/security_detection_engine/kibana/security_rule/2d62889e-e758-4c5e-b57e-c735914ee32a_101.json
  packages/security_detection_engine/kibana/security_rule/32d3ad0e-6add-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3838e0e3-1850-4850-a411-2e8c5ba40ba8_112.json
  packages/security_detection_engine/kibana/security_rule/3896d4c0-6ad1-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_208.json
  packages/security_detection_engine/kibana/security_rule/4aa58ac6-4dc0-4d18-b713-f58bf8bd015c_1.json
  packages/security_detection_engine/kibana/security_rule/65432f4a-e716-4cc1-ab11-931c4966da2d_101.json
  packages/security_detection_engine/kibana/security_rule/6649e656-6f85-11ef-8876-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_115.json
  packages/security_detection_engine/kibana/security_rule/6ded0996-7d4b-40f2-bf4a-6913e7591795_1.json
  packages/security_detection_engine/kibana/security_rule/725a048a-88c5-4fc7-8677-a44fc0031822_1.json
  packages/security_detection_engine/kibana/security_rule/7afc6cc9-8800-4c7f-be6b-b688d2dea248_2.json
  packages/security_detection_engine/kibana/security_rule/83bf249e-4348-47ba-9741-1202a09556ad_101.json
  packages/security_detection_engine/kibana/security_rule/8e39f54e-910b-4adb-a87e-494fbba5fb65_3.json
  packages/security_detection_engine/kibana/security_rule/994e40aa-8c85-43de-825e-15f665375ee8_7.json
  packages/security_detection_engine/kibana/security_rule/ab75c24b-2502-43a0-bf7c-e60e662c811e_113.json
  packages/security_detection_engine/kibana/security_rule/ac6bc744-e82b-41ad-b58d-90654fa4ebfb_1.json
  packages/security_detection_engine/kibana/security_rule/bdfaddc4-4438-48b4-bc43-9f5cf8151c46_1.json
  packages/security_detection_engine/kibana/security_rule/c124dc1b-cef2-4d01-8d74-ff6b0d5096b6_1.json
  packages/security_detection_engine/kibana/security_rule/c371e9fc-6a10-11ef-a0ac-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/c6655282-6c79-11ef-bbb5-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/cf575427-0839-4c69-a9e6-99fde02606f3_1.json
  packages/security_detection_engine/kibana/security_rule/d9ffc3d6-9de9-4b29-9395-5757d0695ecf_101.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_2.json
  packages/security_detection_engine/kibana/security_rule/e28b8093-833b-4eda-b877-0873d134cf3c_2.json
  packages/security_detection_engine/kibana/security_rule/e29599ee-d6ad-46a9-9c6a-dc39f361890d_1.json
  packages/security_detection_engine/kibana/security_rule/ecc0cd54-608e-11ef-ab6d-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_5.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11141 [Security Rules] Update security rules package to v8.14.11-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/043d80a3-c49e-43ef-9c72-1088f0c7b278_101.json
  packages/security_detection_engine/kibana/security_rule/04e65517-16e9-4fc4-b7f1-94dc21ecea0d_1.json
  packages/security_detection_engine/kibana/security_rule/0b96dfd8-5b8c-4485-9a1c-69ff7839786a_1.json
  packages/security_detection_engine/kibana/security_rule/1251b98a-ff45-11ee-89a1-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/13e908b9-7bf0-4235-abc9-b5deb500d0ad_7.json
  packages/security_detection_engine/kibana/security_rule/1719ee47-89b8-4407-9d55-6dff2629dd4c_1.json
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_101.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_113.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_208.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_309.json
  packages/security_detection_engine/kibana/security_rule/291a0de9-937a-4189-94c0-3e847c8b13e4_312.json
  packages/security_detection_engine/kibana/security_rule/2c6a6acf-0dcb-404d-89fb-6b0327294cfa_101.json
  packages/security_detection_engine/kibana/security_rule/2d62889e-e758-4c5e-b57e-c735914ee32a_101.json
  packages/security_detection_engine/kibana/security_rule/32d3ad0e-6add-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3838e0e3-1850-4850-a411-2e8c5ba40ba8_112.json
  packages/security_detection_engine/kibana/security_rule/3896d4c0-6ad1-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_208.json
  packages/security_detection_engine/kibana/security_rule/4aa58ac6-4dc0-4d18-b713-f58bf8bd015c_1.json
  packages/security_detection_engine/kibana/security_rule/65432f4a-e716-4cc1-ab11-931c4966da2d_101.json
  packages/security_detection_engine/kibana/security_rule/6649e656-6f85-11ef-8876-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_115.json
  packages/security_detection_engine/kibana/security_rule/6ded0996-7d4b-40f2-bf4a-6913e7591795_1.json
  packages/security_detection_engine/kibana/security_rule/725a048a-88c5-4fc7-8677-a44fc0031822_1.json
  packages/security_detection_engine/kibana/security_rule/7afc6cc9-8800-4c7f-be6b-b688d2dea248_2.json
  packages/security_detection_engine/kibana/security_rule/83bf249e-4348-47ba-9741-1202a09556ad_101.json
  packages/security_detection_engine/kibana/security_rule/8e39f54e-910b-4adb-a87e-494fbba5fb65_3.json
  packages/security_detection_engine/kibana/security_rule/994e40aa-8c85-43de-825e-15f665375ee8_7.json
  packages/security_detection_engine/kibana/security_rule/ab75c24b-2502-43a0-bf7c-e60e662c811e_113.json
  packages/security_detection_engine/kibana/security_rule/ac6bc744-e82b-41ad-b58d-90654fa4ebfb_1.json
  packages/security_detection_engine/kibana/security_rule/bdfaddc4-4438-48b4-bc43-9f5cf8151c46_1.json
  packages/security_detection_engine/kibana/security_rule/c124dc1b-cef2-4d01-8d74-ff6b0d5096b6_1.json
  packages/security_detection_engine/kibana/security_rule/c371e9fc-6a10-11ef-a0ac-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/c6655282-6c79-11ef-bbb5-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/cf575427-0839-4c69-a9e6-99fde02606f3_1.json
  packages/security_detection_engine/kibana/security_rule/d9ffc3d6-9de9-4b29-9395-5757d0695ecf_101.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_2.json
  packages/security_detection_engine/kibana/security_rule/e28b8093-833b-4eda-b877-0873d134cf3c_2.json
  packages/security_detection_engine/kibana/security_rule/e29599ee-d6ad-46a9-9c6a-dc39f361890d_1.json
  packages/security_detection_engine/kibana/security_rule/ecc0cd54-608e-11ef-ab6d-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_5.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#10898 Elastic connector integration
  .github/CODEOWNERS
  packages/elastic_connectors/LICENSE.txt
  packages/elastic_connectors/agent/input/github.yml.hbs
  packages/elastic_connectors/agent/input/google_drive.yml.hbs
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/docs/README.md
  packages/elastic_connectors/img/connectors-logo.svg
  packages/elastic_connectors/img/google-drive-connector-screenshot.png
  packages/elastic_connectors/img/service_type/github.svg
  packages/elastic_connectors/img/service_type/google_drive.svg
  packages/elastic_connectors/manifest.yml
Labels: New Integration

#11144 [pfsense] Fix firewall ICMPv6 message parsing error
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense-transport-dash.log
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense-transport-dash.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-opensense.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-bsd.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-dhcp.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-haproxy.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-openvpn.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-phpfpm.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-squid.log-expected.json
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-unbound.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/pfsense/manifest.yml
Labels: Integration:pfsense, bugfix, Team:Security-Deployment and Devices

#11012 crowdstrike: map command line fields as multi-fields with match_only_text
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#11132 cloudflare_logpush: retain firewall event zone names
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log-expected.json
  packages/cloudflare_logpush/data_stream/firewall_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/firewall_event/fields/fields.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#11129 [CI] Update updatecli configuration for 8.x SNAPSHOT
  .github/workflows/updatecli/updatecli.d/bump-latest-snapshot-version.yml
Labels: ci

#11139 [Security Rules] Update security rules package to v8.12.22-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/043d80a3-c49e-43ef-9c72-1088f0c7b278_1.json
  packages/security_detection_engine/kibana/security_rule/04e65517-16e9-4fc4-b7f1-94dc21ecea0d_1.json
  packages/security_detection_engine/kibana/security_rule/1251b98a-ff45-11ee-89a1-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/13e908b9-7bf0-4235-abc9-b5deb500d0ad_7.json
  packages/security_detection_engine/kibana/security_rule/1719ee47-89b8-4407-9d55-6dff2629dd4c_1.json
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_1.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_113.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_208.json
  packages/security_detection_engine/kibana/security_rule/291a0de9-937a-4189-94c0-3e847c8b13e4_312.json
  packages/security_detection_engine/kibana/security_rule/2c6a6acf-0dcb-404d-89fb-6b0327294cfa_1.json
  packages/security_detection_engine/kibana/security_rule/2d62889e-e758-4c5e-b57e-c735914ee32a_1.json
  packages/security_detection_engine/kibana/security_rule/32d3ad0e-6add-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3838e0e3-1850-4850-a411-2e8c5ba40ba8_112.json
  packages/security_detection_engine/kibana/security_rule/3896d4c0-6ad1-11ef-8c7b-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_208.json
  packages/security_detection_engine/kibana/security_rule/4aa58ac6-4dc0-4d18-b713-f58bf8bd015c_1.json
  packages/security_detection_engine/kibana/security_rule/65432f4a-e716-4cc1-ab11-931c4966da2d_1.json
  packages/security_detection_engine/kibana/security_rule/6649e656-6f85-11ef-8876-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_115.json
  packages/security_detection_engine/kibana/security_rule/6ded0996-7d4b-40f2-bf4a-6913e7591795_1.json
  packages/security_detection_engine/kibana/security_rule/7afc6cc9-8800-4c7f-be6b-b688d2dea248_2.json
  packages/security_detection_engine/kibana/security_rule/83bf249e-4348-47ba-9741-1202a09556ad_1.json
  packages/security_detection_engine/kibana/security_rule/8e39f54e-910b-4adb-a87e-494fbba5fb65_3.json
  packages/security_detection_engine/kibana/security_rule/994e40aa-8c85-43de-825e-15f665375ee8_7.json
  packages/security_detection_engine/kibana/security_rule/ab75c24b-2502-43a0-bf7c-e60e662c811e_113.json
  packages/security_detection_engine/kibana/security_rule/ac6bc744-e82b-41ad-b58d-90654fa4ebfb_1.json
  packages/security_detection_engine/kibana/security_rule/c124dc1b-cef2-4d01-8d74-ff6b0d5096b6_1.json
  packages/security_detection_engine/kibana/security_rule/c371e9fc-6a10-11ef-a0ac-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/cf575427-0839-4c69-a9e6-99fde02606f3_1.json
  packages/security_detection_engine/kibana/security_rule/d9ffc3d6-9de9-4b29-9395-5757d0695ecf_1.json
  packages/security_detection_engine/kibana/security_rule/dffbd37c-d4c5-46f8-9181-5afdd9172b4c_2.json
  packages/security_detection_engine/kibana/security_rule/e28b8093-833b-4eda-b877-0873d134cf3c_2.json
  packages/security_detection_engine/kibana/security_rule/e29599ee-d6ad-46a9-9c6a-dc39f361890d_1.json
  packages/security_detection_engine/kibana/security_rule/ecc0cd54-608e-11ef-ab6d-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_5.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11146 [osquery_manager] Upgrade osquery to 5.13.1
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/fields/osquery.yml
  packages/osquery_manager/manifest.yml
Labels: enhancement, Team:Asset Mgt, Integration:osquery_manager, Team:Security-Deployment and Devices

#11154 [Security Rules] Update security rules package to v8.13.17
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#11155 [Security Rules] Update security rules package to v8.14.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#10841 Initial Release of Sysdig Secure Integration
  .github/CODEOWNERS
  packages/sysdig/LICENSE.txt
  packages/sysdig/_dev/build/build.yml
  packages/sysdig/_dev/build/docs/README.md
  packages/sysdig/_dev/deploy/docker/docker-compose.yml
  packages/sysdig/_dev/deploy/docker/sample_logs/sysdig.log
  packages/sysdig/changelog.yml
  packages/sysdig/data_stream/alerts/_dev/test/pipeline/test-sysdig.log
  packages/sysdig/data_stream/alerts/_dev/test/pipeline/test-sysdig.log-expected.json
  packages/sysdig/data_stream/alerts/_dev/test/system/test-default-config.yml
  packages/sysdig/data_stream/alerts/agent/stream/http.yml.hbs
  packages/sysdig/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/sysdig/data_stream/alerts/fields/base-fields.yml
  packages/sysdig/data_stream/alerts/fields/fields.yml
  packages/sysdig/data_stream/alerts/manifest.yml
  packages/sysdig/data_stream/alerts/sample_event.json
  packages/sysdig/docs/README.md
  packages/sysdig/img/sysdig-events-screenshot.png
  packages/sysdig/img/sysdig-logo-badge.svg
  packages/sysdig/kibana/dashboard/sysdig-fae0ccf1-e806-4876-a7fa-7258b094b15b.json
  packages/sysdig/kibana/search/sysdig-de7b4ea8-76b6-43ba-97ee-6fb519bd610b.json
  packages/sysdig/manifest.yml
Labels: Category: Cloud Workload Protection, New Integration, Team:Security-Service Integrations

#10412 [PostgreSQL] Enhance grok pattern
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/activity/manifest.yml
  packages/postgresql/data_stream/bgwriter/manifest.yml
  packages/postgresql/data_stream/database/manifest.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-default.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-min-duration-statement.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-4.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-autovacuum-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-connection-disconnection-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-duration-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-ipv6-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-multi-line-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-parse-bind-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-start-stop-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-tempfile-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-default.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-min-duration-statement.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-error-code-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-debian-with-slowlog.log
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-debian-with-slowlog.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-multi-core.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-new-timestamp.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-aws.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-query-steps-slowlog.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-ubuntu-9-5.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/system/test-default-config.yml
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/pipeline-log.yml
  packages/postgresql/data_stream/log/fields/agent.yml
  packages/postgresql/data_stream/log/fields/fields.yml
  packages/postgresql/data_stream/log/sample_event.json
  packages/postgresql/data_stream/statement/manifest.yml
  packages/postgresql/docs/README.md
  packages/postgresql/manifest.yml
Labels: Integration:postgresql, Team:Obs-InfraObs, bugfix

#10664 vsphere: Add support for processors in datastore, host and virtualmachine
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/datastore/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/datastore/manifest.yml
  packages/vsphere/data_stream/host/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/host/manifest.yml
  packages/vsphere/data_stream/log/agent/stream/tcpudp.yml.hbs
  packages/vsphere/data_stream/log/manifest.yml
  packages/vsphere/data_stream/virtualmachine/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/virtualmachine/manifest.yml
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11167 [Cloud Security][Asset Inventory] Add template variables to all input streams
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11173 [Cloud Security][Asset Inventory] update manifest and changelog
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#11157 GA Deployment and Devices integrations
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/manifest.yml
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:fortinet_fortiproxy, Integration:watchguard_firebox

#11147 crowdstrike: temporarily reinstate fields/ecs.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/fields/ecs.yml
  packages/crowdstrike/data_stream/falcon/fields/ecs.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/data_stream/host/fields/ecs.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#11181 Update the Custom Logs integration to package spec V3.1.5
  packages/log/changelog.yml
  packages/log/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane, Integration:log

#11118 azure metrics: add list of supported databases and namespaces
  packages/azure_metrics/_dev/build/docs/database_account.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/database_account.md
  packages/azure_metrics/manifest.yml
Labels: documentation, enhancement, Integration:azure_metrics, Team:obs-ds-hosted-services

#11184 Rename AWS Bedrock integration as Amazon Bedrock
  packages/aws_bedrock/_dev/build/docs/README.md
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/data_stream/invocation/manifest.yml
  packages/aws_bedrock/data_stream/runtime/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/data_stream/runtime/manifest.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/img/aws_bedrock_chat_image.png
  packages/aws_bedrock/img/aws_bedrock_invocation.png
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Integration:aws_bedrock

#10894 [vSphere][host] Add support for new metrics in Host datastream
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/datastore/fields/fields.yml
  packages/vsphere/data_stream/host/_dev/test/pipeline/test-host.json
  packages/vsphere/data_stream/host/_dev/test/pipeline/test-host.json-expected.json
  packages/vsphere/data_stream/host/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/host/fields/agent.yml
  packages/vsphere/data_stream/host/fields/fields.yml
  packages/vsphere/data_stream/host/manifest.yml
  packages/vsphere/data_stream/host/sample_event.json
  packages/vsphere/data_stream/virtualmachine/fields/fields.yml
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#10965 [Cloud Security] add misconfiguration latest transform to Wiz integration
  packages/wiz/changelog.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/base-fields.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/beats.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/ecs.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/fields.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/resource.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/result.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/fields/rule.yml
  packages/wiz/elasticsearch/transform/latest_cdr_misconfigurations/transform.yml
  packages/wiz/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#10949 [vSphere] Add new cluster datatastream
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json
  packages/vsphere/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json-expected.json
  packages/vsphere/data_stream/cluster/_dev/test/system/test-default-config.yml
  packages/vsphere/data_stream/cluster/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/cluster/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/cluster/fields/agent.yml
  packages/vsphere/data_stream/cluster/fields/base-fields.yml
  packages/vsphere/data_stream/cluster/fields/ecs.yml
  packages/vsphere/data_stream/cluster/fields/fields.yml
  packages/vsphere/data_stream/cluster/manifest.yml
  packages/vsphere/data_stream/cluster/sample_event.json
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11177 [stormshield] Fix timestamp fields, move stormshield.msg to message
  packages/stormshield/changelog.yml
  packages/stormshield/data_stream/log/_dev/test/pipeline/test-firewall.log-expected.json
  packages/stormshield/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/stormshield/data_stream/log/fields/ecs.yml
  packages/stormshield/data_stream/log/sample_event.json
  packages/stormshield/docs/README.md
  packages/stormshield/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:stormshield

#10996 [vSphere] Add new resourcepool datatastream
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json-expected.json
  packages/vsphere/data_stream/resourcepool/_dev/test/system/test-default-config.yml
  packages/vsphere/data_stream/resourcepool/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/resourcepool/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/resourcepool/fields/agent.yml
  packages/vsphere/data_stream/resourcepool/fields/base-fields.yml
  packages/vsphere/data_stream/resourcepool/fields/ecs.yml
  packages/vsphere/data_stream/resourcepool/fields/fields.yml
  packages/vsphere/data_stream/resourcepool/manifest.yml
  packages/vsphere/data_stream/resourcepool/sample_event.json
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11165 Update README for packages with ML Modules to ensure naming is consistent
  packages/apache/_dev/build/docs/README.md
  packages/apache/docs/README.md
  packages/nginx/_dev/build/docs/README.md
  packages/nginx/docs/README.md
Labels: enhancement, Integration:apache, Integration:nginx, Team:Obs-InfraObs

#11149 carbon_black_cloud: ensure alert search range is a valid temporal ordering
  packages/carbon_black_cloud/_dev/build/docs/README.md
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert_v7/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: Integration:carbon_black_cloud, bugfix, Team:Security-Service Integrations

#10942 [vSphere][virtualmachine] Add support for additional metrics
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/virtualmachine/_dev/test/pipeline/test-virtualmachine.json
  packages/vsphere/data_stream/virtualmachine/_dev/test/pipeline/test-virtualmachine.json-expected.json
  packages/vsphere/data_stream/virtualmachine/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/virtualmachine/fields/fields.yml
  packages/vsphere/data_stream/virtualmachine/manifest.yml
  packages/vsphere/data_stream/virtualmachine/sample_event.json
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11120 azure storage account: fix capacity and count metrics visualizations in the all dashboards
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/kibana/dashboard/azure_metrics-10efa340-32f8-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-1a151f80-32db-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-b165ef60-32f7-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-dff7a080-32f7-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/kibana/dashboard/azure_metrics-ff2fe020-32f7-11ea-a83e-25b8612d00cc.json
  packages/azure_metrics/manifest.yml
Labels: dashboard, bugfix, Integration:azure_metrics, Team:obs-ds-hosted-services

#11137 [kubernetes OTEL] Add kubernetes OTEL package
  .github/CODEOWNERS
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/docs/README.md
  packages/kubernetes_otel/img/kubernetes_overview.png
  packages/kubernetes_otel/img/logo_kubernetes.svg
  packages/kubernetes_otel/kibana/dashboard/kubernetes_otel-70c709ff-59b9-43b7-8ef4-4c34d8890bde.json
  packages/kubernetes_otel/kibana/tags.yml
  packages/kubernetes_otel/manifest.yml
  packages/kubernetes_otel/validation.yml
Labels: New Integration

#11135 [crowdstrike] Add Support of IDP and EPP Alert Fields
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/_dev/deploy/docker/files/config-alert.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/_dev/test/system/test-common-config.yml
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/fields/fields.yml
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/img/crowdstrike-alert-dashboard.png
  packages/crowdstrike/kibana/dashboard/crowdstrike-d8070b00-99b3-11ee-bf4d-afbc95e0486c.json
  packages/crowdstrike/kibana/tag/crowdstrike-security-solution-default.json
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, dashboard, Crest, Team:Security-Service Integrations

#11089 [vSphere][datastorecluster] Add new Datastream Datastore Cluster
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/_dev/deploy/docker/Dockerfile
  packages/vsphere/_dev/deploy/docker/docker-compose.yml
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/datastorecluster/_dev/test/pipeline/test-datastorecluster-metrics.json
  packages/vsphere/data_stream/datastorecluster/_dev/test/pipeline/test-datastorecluster-metrics.json-expected.json
  packages/vsphere/data_stream/datastorecluster/_dev/test/system/test-default-config.yml
  packages/vsphere/data_stream/datastorecluster/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/datastorecluster/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/datastorecluster/fields/agent.yml
  packages/vsphere/data_stream/datastorecluster/fields/base-fields.yml
  packages/vsphere/data_stream/datastorecluster/fields/ecs.yml
  packages/vsphere/data_stream/datastorecluster/fields/fields.yml
  packages/vsphere/data_stream/datastorecluster/manifest.yml
  packages/vsphere/data_stream/datastorecluster/sample_event.json
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Metricbeat, Team:Obs-InfraObs

#10888 Remove event.original removal processors (integrations AWS & Azure)
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudfront_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudtrail/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/ec2_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/elb_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/emr_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/guardduty/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/inspector/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/route53_public_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/route53_resolver_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3access/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_findings/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_insights/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
  packages/azure/changelog.yml
  packages/azure/data_stream/activitylogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/auditlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/eventhub/elasticsearch/ingest_pipeline/parsed-message.yml
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/graphactivitylogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/identity_protection/_dev/test/pipeline/test-rickyusers-raw.log-expected.json
  packages/azure/data_stream/identity_protection/_dev/test/pipeline/test-userriskevents-raw.log-expected.json
  packages/azure/data_stream/identity_protection/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/platformlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/provisioning/_dev/test/pipeline/test-provisioninglogs-raw.log-expected.json
  packages/azure/data_stream/provisioning/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/springcloudlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/manifest.yml
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/functionapplogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_functions/manifest.yml
  packages/azure_network_watcher_nsg/changelog.yml
  packages/azure_network_watcher_nsg/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/azure_network_watcher_nsg/manifest.yml
  packages/azure_network_watcher_vnet/changelog.yml
  packages/azure_network_watcher_vnet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/azure_network_watcher_vnet/manifest.yml
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_openai/manifest.yml
Labels: enhancement, Integration:azure, Integration:aws, Team:Obs-InfraObs, Integration:azure_frontdoor, Team:Security-Service Integrations, Integration:azure_network_watcher_vnet, Integration:aws_bedrock, Integration:azure_network_watcher_nsg, Integration:azure_functions, Integration:azure_openai, Team:obs-ds-hosted-services

#10993 [vSphere][network] Create network datastream
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/network/_dev/test/pipeline/test-network.json
  packages/vsphere/data_stream/network/_dev/test/pipeline/test-network.json-expected.json
  packages/vsphere/data_stream/network/_dev/test/system/test-default-config.yml
  packages/vsphere/data_stream/network/agent/stream/stream.yml.hbs
  packages/vsphere/data_stream/network/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/network/fields/agent.yml
  packages/vsphere/data_stream/network/fields/base-fields.yml
  packages/vsphere/data_stream/network/fields/ecs.yml
  packages/vsphere/data_stream/network/fields/fields.yml
  packages/vsphere/data_stream/network/manifest.yml
  packages/vsphere/data_stream/network/sample_event.json
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11103 cisco_aironet: add ECS mapping for destination.port
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/fields/ecs.yml
  packages/cisco_aironet/docs/README.md
  packages/cisco_aironet/manifest.yml
Labels: Integration:cisco_aironet, bugfix, Team:Security-Deployment and Devices

#11193 [netflow]: Append all ip addresses found to the related.ip field.
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json-expected.json
  packages/netflow/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/netflow/manifest.yml
Labels: enhancement, Integration:netflow, Team:Security-Deployment and Devices

#11212 [Kubernetes] Use filestream fingerprint mode by default for container_logs datastream
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:kubernetes, Team:Cloudnative-Monitoring

#11196 Docker: bump package-spec version to 3.2.2
  packages/docker/changelog.yml
  packages/docker/data_stream/container_logs/manifest.yml
  packages/docker/data_stream/memory/fields/fields.yml
  packages/docker/manifest.yml
Labels: enhancement, Integration:docker, Team:Cloudnative-Monitoring

#11229 [vSphere][network] fix issue with TSDB network name
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/network/fields/fields.yml
Labels: Integration:vsphere, Team:Obs-InfraObs, bugfix

#11237 [fortinet_fortimanager] Add more ECS fields mappings
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-fortimanager-additional.log
  packages/fortinet_fortimanager/data_stream/log/_dev/test/pipeline/test-fortimanager-additional.log-expected.json
  packages/fortinet_fortimanager/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimanager/data_stream/log/fields/fields.yml
  packages/fortinet_fortimanager/docs/README.md
  packages/fortinet_fortimanager/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:fortinet_fortimanager

#11182 [pfsense] Add SNORT log processing
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-snort.log
  packages/pfsense/data_stream/log/_dev/test/pipeline/test-pfsense-snort.log-expected.json
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/snort.yml
  packages/pfsense/data_stream/log/fields/fields.yml
  packages/pfsense/docs/README.md
  packages/pfsense/manifest.yml
Labels: enhancement, Integration:pfsense, Team:Security-Deployment and Devices

#11052 o365,sentinel_one_cloud_funnel,sysmon_linux,system,windows: tighten ipv4 extraction
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-dns.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sysmon_linux/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/sysmon_operational.yml
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: enhancement, Integration:windows, Integration:system, Integration:o365, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs, Integration:sysmon_linux, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations, Team:Security-Linux Platform, Team:Security-Windows Platform

#11230 [vSphere] Filter alerts and warnings from triggered alarms.
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json
  packages/vsphere/data_stream/cluster/_dev/test/pipeline/test-cluster-metrics.json-expected.json
  packages/vsphere/data_stream/cluster/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/cluster/fields/fields.yml
  packages/vsphere/data_stream/datastore/_dev/test/pipeline/test-datastore.json
  packages/vsphere/data_stream/datastore/_dev/test/pipeline/test-datastore.json-expected.json
  packages/vsphere/data_stream/datastore/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/datastore/fields/fields.yml
  packages/vsphere/data_stream/datastorecluster/_dev/test/pipeline/test-datastorecluster-metrics.json
  packages/vsphere/data_stream/datastorecluster/_dev/test/pipeline/test-datastorecluster-metrics.json-expected.json
  packages/vsphere/data_stream/datastorecluster/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/datastorecluster/fields/fields.yml
  packages/vsphere/data_stream/host/_dev/test/pipeline/test-host.json-expected.json
  packages/vsphere/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/host/fields/fields.yml
  packages/vsphere/data_stream/network/_dev/test/pipeline/test-network.json
  packages/vsphere/data_stream/network/_dev/test/pipeline/test-network.json-expected.json
  packages/vsphere/data_stream/network/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/network/fields/fields.yml
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json-expected.json
  packages/vsphere/data_stream/resourcepool/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/resourcepool/fields/fields.yml
  packages/vsphere/data_stream/virtualmachine/_dev/test/pipeline/test-virtualmachine.json
  packages/vsphere/data_stream/virtualmachine/_dev/test/pipeline/test-virtualmachine.json-expected.json
  packages/vsphere/data_stream/virtualmachine/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/virtualmachine/fields/fields.yml
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#10007 [Azure] Application Gateway WAF: add event.reason
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log-expected.json
  packages/azure/data_stream/application_gateway/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: enhancement, Integration:azure, Team:Obs-InfraObs, Team:Security-Service Integrations

#11248 qualys_vmdr: retain event.original as json
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/data_stream/user_activity/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#11213 Add condition field to Keycloak log datastream
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/agent/stream/filestream.yml.hbs
  packages/keycloak/data_stream/log/manifest.yml
  packages/keycloak/manifest.yml
Labels: enhancement, Integration:keycloak, Team:Security-Service Integrations

#11221 carbon_black_cloud: fix timestamp type when using cursor value
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert_v7/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/manifest.yml
Labels: Integration:carbon_black_cloud, bugfix, Team:Security-Service Integrations

#11240 forgerock: fix handling of query time ranges
  packages/forgerock/_dev/deploy/docker/files/config.yml
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/am_access/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/am_access/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_activity/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/am_activity/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_authentication/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/am_authentication/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_config/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/am_core/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_access/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_access/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_activity/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_activity/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_authentication/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_authentication/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_config/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_config/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_core/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_core/agent/stream/httpjson.yml.hbs
  packages/forgerock/data_stream/idm_sync/_dev/test/system/test-default-config.yml
  packages/forgerock/data_stream/idm_sync/agent/stream/httpjson.yml.hbs
  packages/forgerock/manifest.yml
Labels: bugfix, Integration:forgerock, Team:Security-Service Integrations

#11243 [Kubernetes] Fix Overview dashboard Kibana id
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-0a672d50-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-21694370-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3912d9a0-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3d4d9290-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-5be46210-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-85879010-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-9bf990a0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-b945b7b0-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-d3bd9650-0c14-11ed-b760-5d1bccb47f56.json
  packages/kubernetes/kibana/dashboard/kubernetes-dd081350-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-f4dc26db-1b53-4ea2-a78b-1bfab8ea267c.json
  packages/kubernetes/kibana/dashboard/kubernetes-ff1b3850-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/manifest.yml
Labels: Integration:kubernetes, dashboard, Team:Cloudnative-Monitoring, bugfix

#11186 Update tests using journalctl tool to start a custom independent agent
  packages/iptables/data_stream/log/_dev/test/system/test-journald-config.yml
  packages/journald/_dev/test/system/test-journald-config.yml
Labels: Integration:iptables, Integration:journald, Team:Elastic-Agent-Data-Plane, Team:Security-Deployment and Devices

#11216 [google_workspace]: Remove link to unpublished security-labs blog from README.
  packages/google_workspace/_dev/build/docs/README.md
  packages/google_workspace/changelog.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: documentation, Integration:google_workspace, bugfix, Team:Security-Service Integrations

#11232 [Azure docs] Clarify generic vs specialized integrations
  packages/azure_metrics/_dev/build/docs/README.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/manifest.yml
Labels: documentation, enhancement, Integration:azure_metrics, Team:obs-ds-hosted-services

#11242 [vSphere] Update README and fix Resourcepool datastream TSDB
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/data_stream/cluster/fields/fields.yml
  packages/vsphere/data_stream/cluster/manifest.yml
  packages/vsphere/data_stream/datastorecluster/manifest.yml
  packages/vsphere/data_stream/resourcepool/_dev/test/pipeline/test-resourcepool-metrics.json-expected.json
  packages/vsphere/data_stream/resourcepool/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/resourcepool/fields/fields.yml
  packages/vsphere/data_stream/resourcepool/manifest.yml
  packages/vsphere/data_stream/resourcepool/sample_event.json
  packages/vsphere/data_stream/virtualmachine/fields/fields.yml
  packages/vsphere/docs/README.md
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11255 [vSphere] Release new integration version.
  packages/vsphere/changelog.yml
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11259 [carbon_black_cloud] Fix alert_v7 CEL pagination logic
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert_v7/agent/stream/cel.yml.hbs
  packages/carbon_black_cloud/manifest.yml
Labels: Integration:carbon_black_cloud, bugfix, Team:Security-Service Integrations

#11228 Rename the ingestion-team
  .github/CODEOWNERS
  packages/elastic_connectors/manifest.yml
Labels: Integration:elastic_connectors

#11222 f5_bigip: url decode user agent strings
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-apm.log
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-apm.log-expected.json
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigip_bot_and_dos.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipapm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipasm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipavr.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipltm.yml
  packages/f5_bigip/manifest.yml
Labels: enhancement, Integration:f5_bigip, Team:Security-Service Integrations

#11115 Add related.entity to cloudtrail integration
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-add-user-to-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-assume-role-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-change-password-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-cloudtrail-digest-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-console-login-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-db-instance-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-db-instance-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-key-pair-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-lambda-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-lambda-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-create-virtual-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-deactivate-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-bucket-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-delete-virtual-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-disable-key-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-disable-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-enable-mfa-device-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-insight-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-remove-user-from-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-run-instances-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-run-instances-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-start-logging-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-stop-configuration-recorder.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-stop-configuration-recorder.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-stop-logging-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-tls-details-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-access-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-accout-password-policy-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-group-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-login-profile-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-trail-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-update-user-json.log-expected.json
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-upload-ssh-public-key-json.log-expected.json
  packages/aws/data_stream/cloudtrail/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/cloudtrail/fields/fields.yml
  packages/aws/docs/cloudtrail.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs

#11061 [vSphere] Add SSL/TLS support for `tcp` input in `log` data stream
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/log/agent/stream/tcpudp.yml.hbs
  packages/vsphere/data_stream/log/manifest.yml
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#11263 [checkpoint] Drop support for EOL OS version R80.X
  packages/checkpoint/_dev/build/docs/README.md
  packages/checkpoint/changelog.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Integration:checkpoint, docs, Team:Security-Deployment and Devices

#11269 GA microsoft_dnsserver integration
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/manifest.yml
Labels: enhancement, Team:Security-Windows Platform, Integration:microsoft_dnsserver

#11252 [Cloud Security][Cloud Security Posture] Update kibana condition
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11274 [Cloud Security][Cloud Security Posture] Bump package
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#11219 forgerock: fix handling of idm_core object payloads
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/idm_core/_dev/test/pipeline/test-idm-core.log
  packages/forgerock/data_stream/idm_core/_dev/test/pipeline/test-idm-core.log-expected.json
  packages/forgerock/data_stream/idm_core/elasticsearch/ingest_pipeline/default.yml
  packages/forgerock/data_stream/idm_core/fields/fields.yml
  packages/forgerock/docs/README.md
  packages/forgerock/manifest.yml
Labels: bugfix, Integration:forgerock, Team:Security-Service Integrations

#11217 Add in technique.name field to the transform. Remove milliseconds from TQL query.
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/_dev/test/pipeline/test-indicator.log-expected.json
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/ecs.yml
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ti_threatconnect

#11254 [Salesforce] Editing for GA
  packages/salesforce/_dev/build/docs/README.md
  packages/salesforce/changelog.yml
  packages/salesforce/docs/README.md
  packages/salesforce/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:salesforce
