Repository elastic/integrations, pull requests merged in 2024-08, with the labels that each got.

#10657 zscaler_zia: Add eurl hex-encoded field for url parsing in web logs.
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#10569 [NetSkope] add related.user and user.name to netskope events and alerts
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/manifest.yml
Labels: enhancement, Integration:netskope, Team:Security-Service Integrations

#10673 Add a data stream name input field to bug template
  .github/ISSUE_TEMPLATE/integration_bug.yml
Labels: enhancement, Team:Security-Service Integrations

#10635 [cisco_ftd]: support usernames with spaces for message ids 716002 and 722051
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: bug, Integration:cisco_ftd, Team:Security-Deployment and Devices

#10669 [Cloud Security] Bump 1.11.0 pre-release version and update 1.9.0 changelogs
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#10676 [iptables] invoke community_id processor only for supported protocols
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/_dev/test/pipeline/test-iptables-raw.log
  packages/iptables/data_stream/log/_dev/test/pipeline/test-iptables-raw.log-expected.json
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/data_stream/log/fields/ecs.yml
  packages/iptables/docs/README.md
  packages/iptables/manifest.yml
Labels: bug, Integration:iptables, Team:Security-Deployment and Devices

#10387 Update auditd manager independent agent
  packages/auditd_manager/data_stream/auditd/_dev/deploy/agent/custom-agent.yml
  packages/auditd_manager/data_stream/auditd/_dev/test/system/test-default-config.yml
Labels: Integration:auditd_manager, Team:Security-Linux Platform

#10388 Update oracle independent agent
  packages/oracle/data_stream/memory/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/memory/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/memory/_dev/deploy/docker/docker-compose.yml
  packages/oracle/data_stream/memory/_dev/test/system/test-memory-config.yml
  packages/oracle/data_stream/performance/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/performance/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/performance/_dev/deploy/docker/docker-compose.yml
  packages/oracle/data_stream/performance/_dev/test/system/test-performance-config.yml
  packages/oracle/data_stream/sysmetric/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/sysmetric/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/sysmetric/_dev/deploy/docker/docker-compose.yml
  packages/oracle/data_stream/sysmetric/_dev/test/system/test-sysmetric-config.yml
  packages/oracle/data_stream/system_statistics/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/system_statistics/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/system_statistics/_dev/deploy/docker/docker-compose.yml
  packages/oracle/data_stream/system_statistics/_dev/test/system/test-systemstatistics-config.yml
  packages/oracle/data_stream/tablespace/_dev/deploy/agent/Dockerfile
  packages/oracle/data_stream/tablespace/_dev/deploy/agent/custom-agent.yml
  packages/oracle/data_stream/tablespace/_dev/deploy/docker/docker-compose.yml
  packages/oracle/data_stream/tablespace/_dev/test/system/test-tablespace-config.yml
Labels: Integration:oracle, Team:Obs-InfraObs

#10677 [qualys_vmdr] Fix CEL access to unset state.params in knowledge_base
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-1_invalid-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#10681 [prisma_cloud] Fix null checks in host_profile CEL program
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/host/agent/stream/input.yml.hbs
  packages/prisma_cloud/data_stream/host_profile/agent/stream/input.yml.hbs
  packages/prisma_cloud/manifest.yml
Labels: bugfix, Integration:prisma_cloud, Team:Security-Service Integrations

#10439 [system] Windows Security dashboard fix (adds windows.forwarded)
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/manifest.yml
Labels: Integration:system, Team:Obs-InfraObs

#10663 [Cloud Asset Inventory] Add Azure Inventory
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/aws.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/azure.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#10682 google_workspace: add geoip processors to data streams without
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/access_transparency/_dev/test/pipeline/test-access-transparency.log-expected.json
  packages/google_workspace/data_stream/access_transparency/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/access_transparency/sample_event.json
  packages/google_workspace/data_stream/admin/sample_event.json
  packages/google_workspace/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/alert/sample_event.json
  packages/google_workspace/data_stream/context_aware_access/_dev/test/pipeline/test-context-aware-access.log-expected.json
  packages/google_workspace/data_stream/context_aware_access/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/context_aware_access/sample_event.json
  packages/google_workspace/data_stream/device/_dev/test/pipeline/test-device.log-expected.json
  packages/google_workspace/data_stream/device/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/device/sample_event.json
  packages/google_workspace/data_stream/drive/sample_event.json
  packages/google_workspace/data_stream/gcp/_dev/test/pipeline/test-gcp.log-expected.json
  packages/google_workspace/data_stream/gcp/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/gcp/sample_event.json
  packages/google_workspace/data_stream/group_enterprise/_dev/test/pipeline/test-group-enterprise.log-expected.json
  packages/google_workspace/data_stream/group_enterprise/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/group_enterprise/sample_event.json
  packages/google_workspace/data_stream/groups/sample_event.json
  packages/google_workspace/data_stream/login/sample_event.json
  packages/google_workspace/data_stream/rules/sample_event.json
  packages/google_workspace/data_stream/saml/sample_event.json
  packages/google_workspace/data_stream/token/_dev/test/pipeline/test-token.log-expected.json
  packages/google_workspace/data_stream/token/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/token/sample_event.json
  packages/google_workspace/data_stream/user_accounts/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: enhancement, Integration:google_workspace, Team:Security-Service Integrations

#10688 Add related.entities to asset inventory
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/related.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#10583 Azure Logs: Expand the integration docs adding a section for Event Hub partitions
  packages/azure/_dev/build/docs/README.md
  packages/azure/changelog.yml
  packages/azure/docs/README.md
  packages/azure/manifest.yml
Labels: documentation, Integration:azure, Team:obs-ds-hosted-services

#10324 [O11y][AWS] Add global filter for dashboards to improve performance of AWS Integration package
  packages/aws/changelog.yml
  packages/aws/kibana/dashboard/aws-3af47420-3e7b-11ea-bb0a-69c3ca1d410f.json
  packages/aws/kibana/dashboard/aws-4c404390-2724-11ee-a3cb-33de1feb08f6.json
  packages/aws/kibana/dashboard/aws-5465f0f0-26e4-11ee-9051-011d57d86fe2.json
  packages/aws/kibana/dashboard/aws-98f85120-0ea4-11ee-9c37-e55025c0278a.json
  packages/aws/kibana/dashboard/aws-9c09cd20-7399-11ea-a345-f985c61fe654.json
  packages/aws/kibana/dashboard/aws-a096b830-4762-11e9-8062-c98a86cb6f94.json
  packages/aws/kibana/dashboard/aws-fac28650-7349-11e9-816b-07687310a99a.json
  packages/aws/kibana/search/aws-30ccde50-7397-11ea-a345-f985c61fe654.json
  packages/aws/kibana/search/aws-4f41d150-2704-11ee-81f9-fdf97c8e03a6.json
  packages/aws/kibana/search/aws-c1543010-2724-11ee-a3cb-33de1feb08f6.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws

#10398 [O11y][GCP] Add global filter for dashboards to improve performance related to infraobs packages
  packages/gcp/changelog.yml
  packages/gcp/kibana/dashboard/gcp-6041d970-a6ae-11ea-950e-d57608e3aa51.json
  packages/gcp/kibana/dashboard/gcp-76c9e920-e890-11ea-bf8c-d13ebf358a78.json
  packages/gcp/kibana/dashboard/gcp-8f9c6cc0-909d-11ea-8180-7b0dacd9df87.json
  packages/gcp/kibana/dashboard/gcp-aa5b8bd0-9157-11ea-8180-7b0dacd9df87.json
  packages/gcp/manifest.yml
Labels: enhancement, Integration:gcp

#10656 auth0: add auth0 v2 api input
  packages/auth0/_dev/build/docs/README.md
  packages/auth0/_dev/deploy/docker/docker-compose.yml
  packages/auth0/_dev/deploy/docker/files/config-logs.yml
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-pull-responses.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-pull-responses.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/system/test-auth0-cel-config.yml
  packages/auth0/data_stream/logs/agent/stream/cel.yml.hbs
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/data_stream/logs/fields/fields.yml
  packages/auth0/data_stream/logs/manifest.yml
  packages/auth0/data_stream/logs/sample_event.json
  packages/auth0/docs/README.md
  packages/auth0/manifest.yml
Labels: enhancement, Integration:auth0, Team:Security-Service Integrations

#10379 [O11y][Azure] Add global filter for dashboards to improve performance related to infraobs packages
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-0f559cc0-f0d5-11e9-90ec-112a988266d5.json
  packages/azure/kibana/dashboard/azure-1adf52d0-f50f-11eb-a831-732d3e9bbd43.json
  packages/azure/kibana/dashboard/azure-32aedb00-f524-11eb-b9f3-73fa29f35762.json
  packages/azure/kibana/dashboard/azure-41e84340-ec20-11e9-90ec-112a988266d5.json
  packages/azure/kibana/dashboard/azure-5ad41d90-f50e-11eb-a831-732d3e9bbd43.json
  packages/azure/kibana/dashboard/azure-87095750-f05a-11e9-90ec-112a988266d5.json
  packages/azure/manifest.yml
Labels: enhancement, Integration:azure

#10685 pipeline tests - Ignore url.extension for ES < 8.14
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/zscaler_zia/data_stream/sandbox_report/_dev/test/pipeline/test-common-config.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-common-config.yml
Labels: flaky-test, Integration:zscaler_zia, Integration:f5_bigip, Team:Security-Service Integrations, Integration:prisma_access

#10672 Deprecate SQS queue global setting
  packages/carbon_black_cloud/_dev/build/docs/README.md
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/manifest.yml
  packages/carbon_black_cloud/data_stream/alert_v7/manifest.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/manifest.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/manifest.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/manifest.yml
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/casb/manifest.yml
  packages/cloudflare_logpush/data_stream/device_posture/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/dns_firewall/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_http/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_network/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/magic_ids/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/network_session/manifest.yml
  packages/cloudflare_logpush/data_stream/sinkhole_http/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/data_stream/workers_trace/manifest.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
  packages/jamf_protect/_dev/build/docs/README.md
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/manifest.yml
  packages/jamf_protect/data_stream/telemetry/manifest.yml
  packages/jamf_protect/data_stream/telemetry_legacy/agent/stream/aws-s3.yml.hbs
  packages/jamf_protect/data_stream/telemetry_legacy/manifest.yml
  packages/jamf_protect/data_stream/web_threat_events/manifest.yml
  packages/jamf_protect/data_stream/web_traffic_events/manifest.yml
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: Integration:carbon_black_cloud, Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations, Integration:jamf_protect

#10689 azure_frontdoor: Add identity field to access and waf datastreams.
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-common-config.yml
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-fdaccess.log
  packages/azure_frontdoor/data_stream/access/_dev/test/pipeline/test-fdaccess.log-expected.json
  packages/azure_frontdoor/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/access/fields/fields.yml
  packages/azure_frontdoor/data_stream/waf/_dev/test/pipeline/test-common-config.yml
  packages/azure_frontdoor/data_stream/waf/_dev/test/pipeline/test-fdwaf.log
  packages/azure_frontdoor/data_stream/waf/_dev/test/pipeline/test-fdwaf.log-expected.json
  packages/azure_frontdoor/data_stream/waf/elasticsearch/ingest_pipeline/default.yml
  packages/azure_frontdoor/data_stream/waf/fields/fields.yml
  packages/azure_frontdoor/docs/README.md
  packages/azure_frontdoor/manifest.yml
Labels: enhancement, Integration:azure_frontdoor, Team:Security-Service Integrations

#10617 [Digital Guardian] Initial Release of Digital Guardian
  .github/CODEOWNERS
  packages/digital_guardian/_dev/build/build.yml
  packages/digital_guardian/_dev/build/docs/README.md
  packages/digital_guardian/_dev/deploy/docker/docker-compose.yml
  packages/digital_guardian/_dev/deploy/docker/files/config.yml
  packages/digital_guardian/changelog.yml
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-common-config.yml
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log-expected.json
  packages/digital_guardian/data_stream/arc/_dev/test/system/test-default-config.yml
  packages/digital_guardian/data_stream/arc/agent/stream/cel.yml.hbs
  packages/digital_guardian/data_stream/arc/elasticsearch/ingest_pipeline/default.yml
  packages/digital_guardian/data_stream/arc/fields/base-fields.yml
  packages/digital_guardian/data_stream/arc/fields/beats.yml
  packages/digital_guardian/data_stream/arc/fields/fields.yml
  packages/digital_guardian/data_stream/arc/manifest.yml
  packages/digital_guardian/data_stream/arc/sample_event.json
  packages/digital_guardian/docs/README.md
  packages/digital_guardian/img/arc_overview.png
  packages/digital_guardian/img/digital-guardian-logo.svg
  packages/digital_guardian/kibana/dashboard/digital_guardian-908d6e88-1972-4ec5-95de-acdbca2659ce.json
  packages/digital_guardian/kibana/tag/digital_guardian-security-solution-default.json
  packages/digital_guardian/kibana/tags.yml
  packages/digital_guardian/manifest.yml
  packages/digital_guardian/validation.yml
Labels: New Integration, Team:Security-Service Integrations

#10644 [GitLab] Added application, auth, and audit datastreams
  packages/gitlab/_dev/build/docs/README.md
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-application.log
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-audit.log
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-auth.log
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/application/_dev/test/pipeline/test-application.log
  packages/gitlab/data_stream/application/_dev/test/pipeline/test-application.log-expected.json
  packages/gitlab/data_stream/application/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/application/_dev/test/system/test-default-config.yml
  packages/gitlab/data_stream/application/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/application/fields/agent.yml
  packages/gitlab/data_stream/application/fields/base-fields.yml
  packages/gitlab/data_stream/application/fields/beats.yml
  packages/gitlab/data_stream/application/fields/fields.yml
  packages/gitlab/data_stream/application/manifest.yml
  packages/gitlab/data_stream/application/sample_event.json
  packages/gitlab/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gitlab/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gitlab/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/gitlab/data_stream/audit/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/audit/fields/agent.yml
  packages/gitlab/data_stream/audit/fields/base-fields.yml
  packages/gitlab/data_stream/audit/fields/beats.yml
  packages/gitlab/data_stream/audit/fields/fields.yml
  packages/gitlab/data_stream/audit/manifest.yml
  packages/gitlab/data_stream/audit/sample_event.json
  packages/gitlab/data_stream/auth/_dev/test/pipeline/test-auth.log
  packages/gitlab/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/gitlab/data_stream/auth/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/auth/_dev/test/system/test-default-config.yml
  packages/gitlab/data_stream/auth/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/auth/fields/agent.yml
  packages/gitlab/data_stream/auth/fields/base-fields.yml
  packages/gitlab/data_stream/auth/fields/beats.yml
  packages/gitlab/data_stream/auth/fields/fields.yml
  packages/gitlab/data_stream/auth/manifest.yml
  packages/gitlab/data_stream/auth/sample_event.json
  packages/gitlab/docs/README.md
  packages/gitlab/img/gitlab-application-dashboard.png
  packages/gitlab/img/gitlab-auth-dashboard.png
  packages/gitlab/kibana/dashboard/gitlab-6b62c186-77b6-49f2-a820-ca377575bb96.json
  packages/gitlab/kibana/dashboard/gitlab-8af75511-17ac-441f-a8e7-b8bd6a341629.json
  packages/gitlab/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:gitlab

#10715 [Security Rules] Update security rules package to v8.12.19
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10716 [Security Rules] Update security rules package to v8.14.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10717 [Security Rules] Update security rules package to v8.15.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10480 [AWS] update max_number_of_messages parameter description
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/manifest.yml
  packages/aws/data_stream/cloudfront_logs/manifest.yml
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/emr_logs/manifest.yml
  packages/aws/data_stream/firewall_logs/manifest.yml
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/route53_resolver_logs/manifest.yml
  packages/aws/data_stream/s3access/manifest.yml
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/data_stream/waf/manifest.yml
  packages/aws/manifest.yml
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_logs

#10708 [watchguard_firebox] Add date format pattern to parse syslog timestamp
  packages/watchguard_firebox/_dev/deploy/docker/sample_logs/watchguard_firebox.log
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-alarm.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-alarm.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/watchguard_firebox/data_stream/log/sample_event.json
  packages/watchguard_firebox/docs/README.md
  packages/watchguard_firebox/manifest.yml
Labels: Team:Security-Deployment and Devices, Integration:watchguard_firebox

#10679 [fortinet_fortiproxy] Remap devname to observer.name and process url field
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/pipeline/test-example.log-expected.json
  packages/fortinet_fortiproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortiproxy/data_stream/log/fields/ecs.yml
  packages/fortinet_fortiproxy/docs/README.md
  packages/fortinet_fortiproxy/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:fortinet_fortiproxy

#10079 [Docs] Add ecs@mappings migration guide for integration developers
  docs/ecs@mappings_migration_guide.md
Labels: documentation

#10724 Profiling: Update requirements
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/docs/README.md
  packages/universal_profiling_agent/manifest.yml
Labels: backport, 8.15 candidate, Integration:universal_profiling_agent

#10720 sophos_central: Update docs for token_url configuration
  packages/sophos_central/_dev/build/docs/README.md
  packages/sophos_central/changelog.yml
  packages/sophos_central/docs/README.md
  packages/sophos_central/manifest.yml
Labels: documentation, Team:Security-Service Integrations, Integration:sophos_central

#10697 Populate `event.outcome` based on `sso_token_success`, when present
  packages/jumpcloud/changelog.yml
  packages/jumpcloud/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jumpcloud/manifest.yml
Labels: enhancement, Integration:jumpcloud, Team:Security-Service Integrations

#10741 [zscaler_zia] Update response format version numbers
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#10561 [New Integration] Goflow2 integration
  .github/CODEOWNERS
  packages/goflow2/_dev/build/build.yml
  packages/goflow2/_dev/build/docs/README.md
  packages/goflow2/_dev/deploy/docker/docker-compose.yml
  packages/goflow2/_dev/deploy/docker/sample_logs/test-goflow2-sflow-sample.log
  packages/goflow2/changelog.yml
  packages/goflow2/data_stream/sflow/_dev/test/pipeline/test-goflow2-sflow-sample.log
  packages/goflow2/data_stream/sflow/_dev/test/pipeline/test-goflow2-sflow-sample.log-config.yml
  packages/goflow2/data_stream/sflow/_dev/test/pipeline/test-goflow2-sflow-sample.log-expected.json
  packages/goflow2/data_stream/sflow/_dev/test/system/test-filestream-config.yml
  packages/goflow2/data_stream/sflow/agent/stream/filestream.yml.hbs
  packages/goflow2/data_stream/sflow/elasticsearch/ingest_pipeline/default.yml
  packages/goflow2/data_stream/sflow/fields/agent.yml
  packages/goflow2/data_stream/sflow/fields/base-fields.yml
  packages/goflow2/data_stream/sflow/fields/fields.yml
  packages/goflow2/data_stream/sflow/manifest.yml
  packages/goflow2/data_stream/sflow/sample_event.json
  packages/goflow2/docs/README.md
  packages/goflow2/img/goflow2-logo.svg
  packages/goflow2/manifest.yml
Labels: New Integration, Team:Security-Deployment and Devices

#10701 gcp: retain authenticationInfo.serviceAccountKeyName data
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/manifest.yml
Labels: enhancement, Integration:gcp, Team:Elastic-Agent-Control-Plane, Team:Security-Service Integrations

#10728 Add search reference that was removed from Elastic-Agent dashboard
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-0600ffa0-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/manifest.yml
  packages/elastic_agent/validation.yml
Labels: bug, Integration:elastic_agent

#10732 mimecast: add message release logs data stream
  packages/mimecast/_dev/build/docs/README.md
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/message_release_logs/_dev/test/pipeline/test-common-config.yml
  packages/mimecast/data_stream/message_release_logs/_dev/test/pipeline/test-release-logs.json
  packages/mimecast/data_stream/message_release_logs/_dev/test/pipeline/test-release-logs.json-expected.json
  packages/mimecast/data_stream/message_release_logs/_dev/test/system/test-default-config.yml
  packages/mimecast/data_stream/message_release_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/message_release_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/message_release_logs/fields/agent.yml
  packages/mimecast/data_stream/message_release_logs/fields/base-fields.yml
  packages/mimecast/data_stream/message_release_logs/fields/field.yml
  packages/mimecast/data_stream/message_release_logs/manifest.yml
  packages/mimecast/data_stream/message_release_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: enhancement, Integration:mimecast, Team:Security-Service Integrations

#10706 Add `related.entity` field
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/related.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#10719 Rename from `related.entities` to `related.entity`
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/related.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#10751 [Keycloak] Fix missing value in pipeline condition
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/keycloak/manifest.yml
Labels: Integration:keycloak, bugfix, Team:Security-Service Integrations

#10736 Fix event.module for Linux Metrics Service
  packages/linux/changelog.yml
  packages/linux/data_stream/service/agent/stream/stream.yml.hbs
  packages/linux/manifest.yml
Labels: Integration:linux, Team:Elastic-Agent-Data-Plane

#10756 [suricata] Handle empty tls data
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-6-0.log
  packages/suricata/data_stream/eve/_dev/test/pipeline/test-eve-6-0.log-expected.json
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml
  packages/suricata/manifest.yml
Labels: Integration:suricata, bugfix, Team:Security-Deployment and Devices

#10692 [Cloud Security] Deprecate data views
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-07a5e6d6-982d-4c7c-a845-5f2be43279c9.json
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-303eea10-c475-11ec-af18-c5b9b437dbbe.json
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-9129a080-7f48-11ec-8249-431333f83c5f.json
  packages/cloud_security_posture/kibana/index_pattern/cloud_security_posture-c406d945-a359-4c04-9a6a-65d66de8706b.json
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture

#10702 entityanalytics_okta: record whether a user's credentials include a recovery question
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/user/fields/fields.yml
  packages/entityanalytics_okta/docs/README.md
  packages/entityanalytics_okta/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_okta

#10759 qualys_vmdr: use correct time format for last_modified_after parameter
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#10328 trend_micro_vision_one: Update doc for setting up API Keys.
  packages/trend_micro_vision_one/_dev/build/docs/README.md
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: documentation, Integration:trend_micro_vision_one, Team:Security-Service Integrations

#9931 [GCP] [Billing] Improve documentation
  packages/gcp/_dev/build/docs/billing.md
  packages/gcp/changelog.yml
  packages/gcp/docs/billing.md
  packages/gcp/manifest.yml
Labels: Integration:gcp

#10762 entityanalytics_ad: expose paging size configuration to user
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_ad/data_stream/user/manifest.yml
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad

#10417 Remove event.original removal processors (integrations 1Password to Auth0)
  packages/1password/changelog.yml
  packages/1password/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/item_usages/elasticsearch/ingest_pipeline/default.yml
  packages/1password/data_stream/signin_attempts/elasticsearch/ingest_pipeline/default.yml
  packages/1password/manifest.yml
  packages/activemq/changelog.yml
  packages/activemq/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/activemq/manifest.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/amazon_security_lake/manifest.yml
  packages/apache/changelog.yml
  packages/apache/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/apache/manifest.yml
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/catalina/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/localhost/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/manifest.yml
  packages/arista_ngfw/changelog.yml
  packages/arista_ngfw/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/arista_ngfw/manifest.yml
  packages/atlassian_bitbucket/changelog.yml
  packages/atlassian_bitbucket/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_bitbucket/manifest.yml
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_jira/manifest.yml
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/manifest.yml
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/elasticsearch/ingest_pipeline/default.yml
  packages/auditd_manager/manifest.yml
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/manifest.yml
Labels: enhancement, Integration:apache, Integration:apache_tomcat, Integration:activemq, Integration:1password, Integration:atlassian_jira, Integration:atlassian_confluence, Integration:auditd, Integration:auth0, Integration:atlassian_bitbucket, Integration:akamai, Team:Obs-InfraObs, Integration:auditd_manager, Integration:arista_ngfw, Integration:amazon_security_lake, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Security-Linux Platform

#10755 [cisco_asa] Support parsing empty user names
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#10658 qualys_vmdr: add support for configuring which cloud metadata to use
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-common-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/manifest.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#10742 [canva] Initial release for canva
  .github/CODEOWNERS
  packages/canva/_dev/build/build.yml
  packages/canva/_dev/build/docs/README.md
  packages/canva/changelog.yml
  packages/canva/data_stream/audit/_dev/deploy/tf/env.yml
  packages/canva/data_stream/audit/_dev/deploy/tf/files/test-audit.log
  packages/canva/data_stream/audit/_dev/deploy/tf/main.tf
  packages/canva/data_stream/audit/_dev/deploy/tf/variables.tf
  packages/canva/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/canva/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/canva/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/canva/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/canva/data_stream/audit/agent/stream/aws-s3.yml.hbs
  packages/canva/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/canva/data_stream/audit/fields/base-fields.yml
  packages/canva/data_stream/audit/fields/beats.yml
  packages/canva/data_stream/audit/fields/fields.yml
  packages/canva/data_stream/audit/manifest.yml
  packages/canva/data_stream/audit/sample_event.json
  packages/canva/docs/README.md
  packages/canva/img/canva-audit-dashboard.png
  packages/canva/img/canva-logo.svg
  packages/canva/kibana/dashboard/canva-062b09b1-072e-4582-bc50-61cfb47f4dc1.json
  packages/canva/manifest.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#10788 [prisma_access] Change query filter from the visual level to the dashboard level.
  packages/prisma_access/changelog.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/prisma_access/img/prisma-access-authentication-dashboard.png
  packages/prisma_access/img/prisma-access-decryption-dashboard.png
  packages/prisma_access/img/prisma-access-dns-security-dashboard.png
  packages/prisma_access/img/prisma-access-file-url-dashboard.png
  packages/prisma_access/img/prisma-access-hip-match-global-protect-dashboard.png
  packages/prisma_access/img/prisma-access-sctp-tunnel-dashboard.png
  packages/prisma_access/img/prisma-access-system-configuration-dashboard.png
  packages/prisma_access/img/prisma-access-threat-dashboard.png
  packages/prisma_access/img/prisma-access-traffic-dashboard.png
  packages/prisma_access/img/prisma-access-userid-iptag-dashboard.png
  packages/prisma_access/kibana/dashboard/prisma_access-29e20c1b-56d7-4faf-874a-ec0be2b71d73.json
  packages/prisma_access/kibana/dashboard/prisma_access-3ee4a5d1-f482-477d-a9d7-79614e47edf6.json
  packages/prisma_access/kibana/dashboard/prisma_access-4748fc8c-61fa-4734-96c4-00434060bb91.json
  packages/prisma_access/kibana/dashboard/prisma_access-5491eea8-ffea-4c38-853e-ecc71a029f5e.json
  packages/prisma_access/kibana/dashboard/prisma_access-59f8f009-9181-4648-8d2f-0efcef9af09c.json
  packages/prisma_access/kibana/dashboard/prisma_access-8c044964-3350-4ef9-8af0-b35842382ecb.json
  packages/prisma_access/kibana/dashboard/prisma_access-954911aa-fa52-4288-9eda-b5ffd6e4b742.json
  packages/prisma_access/kibana/dashboard/prisma_access-98ffa22c-9cce-4c8f-b827-045466894b3b.json
  packages/prisma_access/kibana/dashboard/prisma_access-9f7ebe0c-3608-4f80-bb30-14bf9da2add9.json
  packages/prisma_access/kibana/dashboard/prisma_access-c44e75d2-4d32-4944-877a-d4770b8bf003.json
  packages/prisma_access/kibana/search/prisma_access-240405f8-755f-4ffe-a0db-f20ae7911512.json
  packages/prisma_access/kibana/search/prisma_access-29ea49d5-83c3-4b2f-9f28-c0b889e4bffb.json
  packages/prisma_access/kibana/search/prisma_access-5841ba7f-45a0-4fbc-957c-cfa29a081651.json
  packages/prisma_access/kibana/search/prisma_access-7d0c9533-3fd4-46e2-a3d6-45481564f3ae.json
  packages/prisma_access/kibana/search/prisma_access-8e560bd6-5d0f-49bc-a238-08935d920c68.json
  packages/prisma_access/kibana/search/prisma_access-901e28ad-c0f4-4d01-bcce-5179545e8f15.json
  packages/prisma_access/kibana/search/prisma_access-9ccf2035-7285-4d43-a532-4414378efee1.json
  packages/prisma_access/kibana/search/prisma_access-a382a121-6dc3-4500-a096-2cb36d230006.json
  packages/prisma_access/kibana/search/prisma_access-e3d06be6-c0ee-42d1-8c6c-779d0ff8085d.json
  packages/prisma_access/kibana/search/prisma_access-eff7a8a7-4217-474e-b5ea-b6173e8ed2f5.json
  packages/prisma_access/kibana/tag/prisma_access-security-solution-default.json
  packages/prisma_access/manifest.yml
Labels: enhancement, Crest, Team:Security-Service Integrations

#10754 [cisco_ise] Improve handling of unset fields from source
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-passed-authentications.log-expected.json
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-tacacs-accounting.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_tacacs_accounting.yml
  packages/cisco_ise/manifest.yml
Labels: Integration:cisco_ise, bugfix, Team:Security-Deployment and Devices

#10798 M365_defender bug fix: add check for `-` in host.mac
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, Team:Security-Service Integrations

#10799 amazon_security_lake: remove confusing documentation remnant
  packages/amazon_security_lake/_dev/build/docs/README.md
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/docs/README.md
  packages/amazon_security_lake/manifest.yml
Labels: bugfix, Integration:amazon_security_lake, Team:Security-Service Integrations

#10731 [panw] Update `event.created` field to follow ECS spec
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-audit-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-authentication-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-config-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-correlated-events-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-gtp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-ip-tag-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-sctp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-system-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-time-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-tunnel-inspection-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/agent/stream/logfile.yml.hbs
  packages/panw/data_stream/panos/agent/stream/tcp.yml.hbs
  packages/panw/data_stream/panos/agent/stream/udp.yml.hbs
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/audit.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/userid.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: breaking change, Integration:panw, Team:Security-Deployment and Devices

#10608 Initial release of Spycloud
  .github/CODEOWNERS
  packages/spycloud/_dev/build/build.yml
  packages/spycloud/_dev/build/docs/README.md
  packages/spycloud/_dev/deploy/docker/docker-compose.yml
  packages/spycloud/_dev/deploy/docker/files/config.yml
  packages/spycloud/changelog.yml
  packages/spycloud/data_stream/breach_catalog/_dev/test/pipeline/test-breach-catalog.log
  packages/spycloud/data_stream/breach_catalog/_dev/test/pipeline/test-breach-catalog.log-expected.json
  packages/spycloud/data_stream/breach_catalog/_dev/test/pipeline/test-common-config.yml
  packages/spycloud/data_stream/breach_catalog/_dev/test/system/test-default-config.yml
  packages/spycloud/data_stream/breach_catalog/agent/stream/cel.yml.hbs
  packages/spycloud/data_stream/breach_catalog/elasticsearch/ingest_pipeline/default.yml
  packages/spycloud/data_stream/breach_catalog/fields/base-fields.yml
  packages/spycloud/data_stream/breach_catalog/fields/beats.yml
  packages/spycloud/data_stream/breach_catalog/fields/fields.yml
  packages/spycloud/data_stream/breach_catalog/manifest.yml
  packages/spycloud/data_stream/breach_catalog/sample_event.json
  packages/spycloud/data_stream/breach_record/_dev/test/pipeline/test-breach-record.log
  packages/spycloud/data_stream/breach_record/_dev/test/pipeline/test-breach-record.log-expected.json
  packages/spycloud/data_stream/breach_record/_dev/test/pipeline/test-common-config.yml
  packages/spycloud/data_stream/breach_record/_dev/test/system/test-default-config.yml
  packages/spycloud/data_stream/breach_record/agent/stream/cel.yml.hbs
  packages/spycloud/data_stream/breach_record/elasticsearch/ingest_pipeline/default.yml
  packages/spycloud/data_stream/breach_record/fields/base-fields.yml
  packages/spycloud/data_stream/breach_record/fields/beats.yml
  packages/spycloud/data_stream/breach_record/fields/fields.yml
  packages/spycloud/data_stream/breach_record/manifest.yml
  packages/spycloud/data_stream/breach_record/sample_event.json
  packages/spycloud/data_stream/compass/_dev/test/pipeline/test-common-config.yml
  packages/spycloud/data_stream/compass/_dev/test/pipeline/test-compass.log
  packages/spycloud/data_stream/compass/_dev/test/pipeline/test-compass.log-expected.json
  packages/spycloud/data_stream/compass/_dev/test/system/test-default-config.yml
  packages/spycloud/data_stream/compass/agent/stream/cel.yml.hbs
  packages/spycloud/data_stream/compass/elasticsearch/ingest_pipeline/default.yml
  packages/spycloud/data_stream/compass/fields/base-fields.yml
  packages/spycloud/data_stream/compass/fields/beats.yml
  packages/spycloud/data_stream/compass/fields/fields.yml
  packages/spycloud/data_stream/compass/manifest.yml
  packages/spycloud/data_stream/compass/sample_event.json
  packages/spycloud/docs/README.md
  packages/spycloud/img/spycloud-breach-catalog-dashboard.png
  packages/spycloud/img/spycloud-breach-record-dashboard.png
  packages/spycloud/img/spycloud-compass-dashboard.png
  packages/spycloud/img/spycloud-logo.svg
  packages/spycloud/kibana/dashboard/spycloud-586e3060-9e51-11ee-acf7-7108ddc3dcca.json
  packages/spycloud/kibana/dashboard/spycloud-9589d660-9e43-11ee-acf7-7108ddc3dcca.json
  packages/spycloud/kibana/dashboard/spycloud-a34dc2b0-9e62-11ee-acf7-7108ddc3dcca.json
  packages/spycloud/kibana/search/spycloud-183723e0-cfd3-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/search/spycloud-43954630-d171-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/search/spycloud-4757ed20-d169-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/search/spycloud-55e37350-cfd4-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/search/spycloud-90f45670-9e48-11ee-acf7-7108ddc3dcca.json
  packages/spycloud/kibana/search/spycloud-b2beff20-aadd-11ee-bf13-df1477528748.json
  packages/spycloud/kibana/search/spycloud-e27a8bb0-d168-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/search/spycloud-ec8c5750-cfd8-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/search/spycloud-f27f95b0-cfd7-11ee-be61-3fc66032ff4c.json
  packages/spycloud/kibana/tags.yml
  packages/spycloud/manifest.yml
  packages/spycloud/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#10699 Add AWS Bedrock runtime metrics to Firehose rerouting
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/runtime/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/metrics/routing_rules.yml
  packages/awsfirehose/manifest.yml
Labels: Integration:awsfirehose, Team:Security-Service Integrations, Integration:aws_bedrock, Team:obs-ds-hosted-services

#10813 Adding process.name field and minor enhancements to od* events.
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/telemetry/_dev/test/pipeline/test-jamf-protect-telemetry-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_authentication.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_btm_launch_item_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_btm_launch_item_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_exec.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_attribute_set.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_attribute_value_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_attribute_value_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_create_group.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_create_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_delete_group.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_delete_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_disable_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_enable_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_group_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_group_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_group_set.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_modify_password.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_profile_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_profile_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_screensharing_attach.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_screensharing_detach.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_object_process.yml
  packages/jamf_protect/data_stream/telemetry/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:jamf_protect

#10795 [Watchguard Firebox] Added optional cluster member info
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log-expected.json
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/watchguard_firebox/data_stream/log/fields/fields.yml
  packages/watchguard_firebox/docs/README.md
  packages/watchguard_firebox/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:watchguard_firebox

#10772 [M365 Defender] Fix handling of DNS answers field
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/event/fields/fields.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#10814 zscaler_zia: Add hex-encoded fields in web logs.
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/fields/fields.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:zscaler_zia, Team:Security-Service Integrations

#10815 [checkpoint] Migrate log stream to saved search
  packages/checkpoint/changelog.yml
  packages/checkpoint/kibana/dashboard/checkpoint-259c5770-bd5b-11ed-b58e-dda7b2de7340.json
  packages/checkpoint/kibana/dashboard/checkpoint-71094a90-bd49-11ed-b58e-dda7b2de7340.json
  packages/checkpoint/kibana/dashboard/checkpoint-840b87b0-bd68-11ed-bda5-b56d80cf13c4.json
  packages/checkpoint/kibana/dashboard/checkpoint-e4daa100-bcb1-11ed-b8ec-2fbdd87e0d2f.json
  packages/checkpoint/kibana/tag/checkpoint-security-solution-default.json
  packages/checkpoint/manifest.yml
  packages/checkpoint/validation.yml
Labels: enhancement, Integration:checkpoint, Team:Security-Deployment and Devices

#10820 [LMD] Remove "scripted_metric" aggregation from the pivot transform
  packages/lmd/changelog.yml
  packages/lmd/elasticsearch/transform/pivot_transform/transform.yml
  packages/lmd/manifest.yml
Labels: enhancement, Integration:lmd

#10683 [AWS] Add dot_expander processor into metrics ingest pipeline
  packages/aws/changelog.yml
  packages/aws/data_stream/billing/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/dynamodb/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/ec2_metrics/_dev/test/pipeline/test-ec2-metrics-from-agent.json
  packages/aws/data_stream/ec2_metrics/_dev/test/pipeline/test-ec2-metrics-from-agent.json-expected.json
  packages/aws/data_stream/ec2_metrics/_dev/test/pipeline/test-ec2-metrics-from-firehose.json
  packages/aws/data_stream/ec2_metrics/_dev/test/pipeline/test-ec2-metrics-from-firehose.json-expected.json
  packages/aws/data_stream/ec2_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/kafka_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/kinesis/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/lambda/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/natgateway/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/rds/_dev/test/pipeline/test-rds-metrics-from-agent.json
  packages/aws/data_stream/rds/_dev/test/pipeline/test-rds-metrics-from-agent.json-expected.json
  packages/aws/data_stream/rds/_dev/test/pipeline/test-rds-metrics-from-firehose.json
  packages/aws/data_stream/rds/_dev/test/pipeline/test-rds-metrics-from-firehose.json-expected.json
  packages/aws/data_stream/rds/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/redshift/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3_daily_storage/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3_request/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/sqs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/transitgateway/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/usage/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpn/elasticsearch/ingest_pipeline/default.yml
  packages/aws/kibana/dashboard/aws-234aeda0-43b7-11e9-8697-530f39afc6eb.json
  packages/aws/kibana/dashboard/aws-c5846400-f7fb-11e8-af03-c999c9dea608.json
  packages/aws/manifest.yml
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/runtime/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock, Team:obs-ds-hosted-services

#10816 [panw] Fix x-fwd-for parsing
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: enhancement, Integration:panw, Team:Security-Deployment and Devices

#10828 Update owner for Team:Security-Applied ML packages
  packages/beaconing/manifest.yml
  packages/ded/manifest.yml
  packages/dga/manifest.yml
  packages/lmd/manifest.yml
  packages/problemchild/manifest.yml
Labels: Integration:lmd, Integration:beaconing, Integration:ded, Integration:dga, Integration:problemchild, Team:Security-Applied ML

#10823 Add back custom.yml files to LotL, DGA packages
  packages/dga/changelog.yml
  packages/dga/fields/base-fields.yml
  packages/dga/fields/custom.yml
  packages/dga/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/fields/base-fields.yml
  packages/problemchild/fields/custom.yml
  packages/problemchild/manifest.yml
Labels: bugfix, Integration:dga, Integration:problemchild

#10821 microsoft_defender_cloud: Store eventhub metdata inside azure-eventhub field.
  packages/microsoft_defender_cloud/changelog.yml
  packages/microsoft_defender_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_cloud/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:microsoft_defender_cloud

#10836 [Security Rules] Update security rules package to v8.12.20
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10838 [Security Rules] Update security rules package to v8.14.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10837 [Security Rules] Update security rules package to v8.13.15
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10839 [Security Rules] Update security rules package to v8.15.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#10778 Citrix ADC Integration Grok Fix
  packages/citrix_adc/_dev/deploy/docker/sample_logs/citrix-adc.log
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:citrix_adc

#10831 crowdstrike: Return empty events array when no resources in alert, host.
  packages/crowdstrike/_dev/deploy/docker/files/config-alert.yml
  packages/crowdstrike/_dev/deploy/docker/files/config-host.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#10544 [Auditd Manager] Add docs to support add_session_metadata processor
  packages/auditd_manager/_dev/build/docs/README.md
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/docs/README.md
  packages/auditd_manager/manifest.yml
Labels: documentation, enhancement, docs, Integration:auditd_manager, Team:Security-Linux Platform

#10766 [O11y][Prometheus] Revert changes of TSDB performance and storage reduction
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/elasticsearch/ingest_pipeline/default.yml
  packages/prometheus/data_stream/collector/fields/fields.yml
  packages/prometheus/data_stream/collector/sample_event.json
  packages/prometheus/data_stream/query/elasticsearch/ingest_pipeline/default.yml
  packages/prometheus/data_stream/query/fields/fields.yml
  packages/prometheus/data_stream/query/sample_event.json
  packages/prometheus/data_stream/remote_write/elasticsearch/ingest_pipeline/default.yml
  packages/prometheus/data_stream/remote_write/fields/fields.yml
  packages/prometheus/docs/README.md
  packages/prometheus/manifest.yml
Labels: Integration:prometheus, Team:Cloudnative-Monitoring, Team:Obs-InfraObs, bugfix

#10796 proofpoint_tap: set default search period to one day
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-3ad578f0-b5a6-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-770903b0-b5aa-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-9899aae0-b5ad-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/dashboard/proofpoint_tap-ee5bc100-b5c8-11ec-a9d0-e94ed15a14b9.json
  packages/proofpoint_tap/kibana/search/proofpoint_tap-00dd5660-af9b-11ec-bf43-c372803d141d.json
  packages/proofpoint_tap/kibana/search/proofpoint_tap-717803c0-b130-11ec-8e58-3fc548a48fe4.json
  packages/proofpoint_tap/kibana/tag/proofpoint_tap-security-solution-default.json
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Integration:proofpoint_tap, Team:Security-Service Integrations

#10774 panw_cortex_xdr: use Cortex XDR SIEM ingestion time for cursor progression
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/agent/stream/httpjson.yml.hbs
  packages/panw_cortex_xdr/manifest.yml
Labels: enhancement, Integration:panw_cortex_xdr, Team:Security-Service Integrations

#10773 Restore errors visualisation to [Elastic-Agent] agent info dashboard
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-0600ffa0-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-1a4e7280-6b5e-11ed-98de-67bdecd21824.json
  packages/elastic_agent/manifest.yml
  packages/elastic_agent/validation.yml
Labels: Integration:elastic_agent, Team:Elastic-Agent-Data-Plane, bugfix

#10694 crowdstrike: prevent api duplicate responses
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#10764 entityanalytics_okta: add support for request trace logging
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/_dev/test/system/test-default-config.yml
  packages/entityanalytics_okta/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_okta/data_stream/user/manifest.yml
  packages/entityanalytics_okta/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_okta

#10829 Preserve auditd.log.record_type
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-enriched.log
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-enriched.log-expected.json
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-raw.log-expected.json
  packages/auditd/data_stream/log/_dev/test/pipeline/test-truncated-execve.log-expected.json
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/data_stream/log/fields/fields.yml
  packages/auditd/docs/README.md
  packages/auditd/manifest.yml
Labels: enhancement, Integration:auditd, bugfix, Team:Security-Linux Platform

#10785 [network_traffic] Set map_to_ecs to true by default
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/manifest.yml
  packages/network_traffic/data_stream/cassandra/manifest.yml
  packages/network_traffic/data_stream/dhcpv4/manifest.yml
  packages/network_traffic/data_stream/dns/manifest.yml
  packages/network_traffic/data_stream/flow/manifest.yml
  packages/network_traffic/data_stream/http/manifest.yml
  packages/network_traffic/data_stream/icmp/manifest.yml
  packages/network_traffic/data_stream/memcached/manifest.yml
  packages/network_traffic/data_stream/mongodb/_dev/test/system/test-mongo-3-0-session-config.yml
  packages/network_traffic/data_stream/mongodb/manifest.yml
  packages/network_traffic/data_stream/mysql/manifest.yml
  packages/network_traffic/data_stream/nfs/manifest.yml
  packages/network_traffic/data_stream/pgsql/manifest.yml
  packages/network_traffic/data_stream/redis/manifest.yml
  packages/network_traffic/data_stream/sip/manifest.yml
  packages/network_traffic/data_stream/thrift/manifest.yml
  packages/network_traffic/data_stream/tls/manifest.yml
  packages/network_traffic/manifest.yml
Labels: enhancement, Integration:network_traffic, Team:Security-Linux Platform

#10749 [O11y][MYSQL] Add `schemaname` field in the performance data stream
  packages/mysql/changelog.yml
  packages/mysql/data_stream/performance/elasticsearch/ingest_pipeline/default.yml
  packages/mysql/data_stream/performance/fields/fields.yml
  packages/mysql/manifest.yml
Labels: enhancement, Integration:mysql, Team:Obs-InfraObs

#10698 [system] Fix broken visualization for User Renamed Metric in User Management Events Dashboard
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/manifest.yml
Labels: Integration:system, Team:Obs-InfraObs, bugfix

#10855 [zscaler_zia] In web v8, use b64 fields to avoid encoding issues
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/fields/fields.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#10858 zscaler_zia: Sanitize unwanted characters in firewall.
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-unicode.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-unicode.json-expected.json
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#10861 ti_crowdstrike: Fix max() calculation on empty resources leading to error
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:ti_crowdstrike, Team:Security-Service Integrations

#10864 [cisco_asa] Handle "Account has been locked out" reason parsing
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#10866 [cef] Make dataset name configurable
  packages/cef/changelog.yml
  packages/cef/data_stream/log/agent/stream/log.yml.hbs
  packages/cef/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cef/data_stream/log/agent/stream/udp.yml.hbs
  packages/cef/data_stream/log/manifest.yml
  packages/cef/manifest.yml
Labels: enhancement, Integration:cef, Team:Security-Deployment and Devices

#10865 [fortinet_fortigate] Fix test data
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log-expected.json
  packages/fortinet_fortigate/manifest.yml
Labels: bugfix, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#10854 [Amazon Security Lake] - Re-enable SQS notification settings
  packages/amazon_security_lake/_dev/build/docs/README.md
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/amazon_security_lake/data_stream/event/manifest.yml
  packages/amazon_security_lake/docs/README.md
  packages/amazon_security_lake/manifest.yml
Labels: bugfix, Integration:amazon_security_lake, Team:Security-Service Integrations

#10665 [gcp_metrics] Set kibana restriction to 8.15.0, where the scope for the geo_point was reduced
  packages/gcp_metrics/changelog.yml
  packages/gcp_metrics/manifest.yml
Labels: enhancement, Integration:gcp_metrics, Team:obs-ds-hosted-services

#10790 [Cloud Security] implement cloud_security_finding data stream for Wiz
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/_dev/deploy/docker/docker-compose.yml
  packages/wiz/_dev/deploy/docker/files/config-cloud_configuration_finding.yml
  packages/wiz/changelog.yml
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-cloud-configuration-finding.log
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-cloud-configuration-finding.log-expected.json
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-common-config.yml
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/system/test-default-config.yml
  packages/wiz/data_stream/cloud_configuration_finding/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/cloud_configuration_finding/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/base-fields.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/beats.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/fields.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/resource.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/result.yml
  packages/wiz/data_stream/cloud_configuration_finding/fields/rule.yml
  packages/wiz/data_stream/cloud_configuration_finding/manifest.yml
  packages/wiz/data_stream/cloud_configuration_finding/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/img/wiz-cloud_configuration_finding-dashboard.png
  packages/wiz/kibana/dashboard/wiz-726802c0-4007-48b9-bae5-09daa69d4368.json
  packages/wiz/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#10880 [cisco_asa] Fix changelog PR number
  packages/cisco_asa/changelog.yml
Labels: Integration:cisco_asa, Team:Security-Deployment and Devices

#10789 [aws custom logs] Updating file selector field to receive mutline configurations
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/manifest.yml
Labels: enhancement, Integration:aws_logs, Team:obs-ds-hosted-services

#10713 chore: group to keyword
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/audit_logs/fields/fields.yml
  packages/kubernetes/docs/audit-logs.md
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:kubernetes, Team:Cloudnative-Monitoring

#10860 [abnormal_security] Update pagination termination condition
  packages/abnormal_security/_dev/deploy/docker/files/config.yml
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/threat/agent/stream/cel.yml.hbs
  packages/abnormal_security/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/abnormal_security/data_stream/threat/sample_event.json
  packages/abnormal_security/docs/README.md
  packages/abnormal_security/manifest.yml
Labels: enhancement, Crest, Team:Security-Service Integrations, Integration:abnormal_security

#10771 [fortinet_fortiproxy] Fix udp_options in UDP agent file
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortiproxy/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:fortinet_fortiproxy

#10804 [Kubernetes] Add support for Kubernetes v1.31
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/docs/README.md
Labels: Integration:kubernetes, Team:Cloudnative-Monitoring

#10874 zscaler_zia: Remove department field and fix parsing errors in web logs
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#10892 Update Wiz vuln data stream for CDR
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/fields/fields.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:wiz, Team:Security-Service Integrations

#10893 [k8s Integratiion] Adding container.id as filter of Cluster Overview and removing median filter occurencies
  packages/kubernetes/changelog.yml
  packages/kubernetes/kibana/dashboard/kubernetes-0a672d50-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-3912d9a0-bcb2-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-5be46210-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-85879010-bcb1-11ec-b64f-7dd6e8e82013.json
  packages/kubernetes/kibana/dashboard/kubernetes-f4dc26db-1b53-4ea2-a78b-1bfab8ea267c.json
  packages/kubernetes/manifest.yml
Labels: Integration:kubernetes, Team:Cloudnative-Monitoring, bugfix

#10846 [citrix_adc] Handle time zone parsing in sslvpn_and_aaatm_feature pipeline
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Team:Security-Deployment and Devices, Integration:citrix_adc

#10879 gigamon: Update package description and cleanup
  packages/gigamon/_dev/build/docs/README.md
  packages/gigamon/changelog.yml
  packages/gigamon/data_stream/ami/elasticsearch/ingest_pipeline/default.yml
  packages/gigamon/docs/README.md
  packages/gigamon/kibana/dashboard/gigamon-032aab7b-87b2-444c-8c86-956d092598fb.json
  packages/gigamon/kibana/dashboard/gigamon-3523b534-7525-44a7-808f-6a9f3235a67d.json
  packages/gigamon/kibana/dashboard/gigamon-46931a21-a33e-43af-aadf-da8d6446b9cc.json
  packages/gigamon/kibana/dashboard/gigamon-4ae2cd9a-3eef-42c6-a02c-731ce74d94ac.json
  packages/gigamon/kibana/dashboard/gigamon-62291e9e-8b75-4f23-9121-79959da99b3b.json
  packages/gigamon/kibana/dashboard/gigamon-64ca15b3-8327-4940-8b35-0e75ab3a73c6.json
  packages/gigamon/kibana/dashboard/gigamon-855a64dc-1a72-403f-932b-a5b848378f7e.json
  packages/gigamon/kibana/dashboard/gigamon-8f772203-64e0-4d1b-bb0e-14fa57b4b754.json
  packages/gigamon/kibana/dashboard/gigamon-d6cecabb-f026-4823-914d-b4d61fd61787.json
  packages/gigamon/kibana/dashboard/gigamon-d866be49-47b2-4306-a2be-d5cb6b6ab9c8.json
  packages/gigamon/kibana/dashboard/gigamon-e192a946-8287-450a-a8f0-e23de9f95dae.json
  packages/gigamon/kibana/dashboard/gigamon-e733c64e-6ea9-4dd6-a8ca-3914274598f3.json
  packages/gigamon/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:gigamon

#10924 [ci] automate updates to .github/ISSUE_TEMPLATE/integration_bug.yml
  .github/workflows/updatecli/updatecli.d/sync-packages-to-bug-issue-template.yml
Labels: ci, Team:Ecosystem

#9868 okta: allow user configuration of debug_data flattened use
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-config.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-config.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/system/test-api-key-no-flattened-config.yml
  packages/okta/data_stream/system/_dev/test/system/test-oauth2-config.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/no_use_flattened_debug.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/use_flattened_debug.yml
  packages/okta/data_stream/system/fields/agent.yml
  packages/okta/data_stream/system/fields/base-fields.yml
  packages/okta/data_stream/system/fields/fields.yml
  packages/okta/data_stream/system/manifest.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
  packages/okta/validation.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations

#10928 [citrix-adc logs]: Add native_timestamp format
  packages/citrix_adc/_dev/deploy/docker/sample_logs/citrix-adc.log
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:citrix_adc

#10851 [authentik] Initial release of the authentik
  .github/CODEOWNERS
  packages/authentik/_dev/build/build.yml
  packages/authentik/_dev/build/docs/README.md
  packages/authentik/_dev/deploy/docker/docker-compose.yml
  packages/authentik/_dev/deploy/docker/files/config.yml
  packages/authentik/changelog.yml
  packages/authentik/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/authentik/data_stream/event/_dev/test/pipeline/test-event.log
  packages/authentik/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/authentik/data_stream/event/_dev/test/system/test-default-config.yml
  packages/authentik/data_stream/event/agent/stream/cel.yml.hbs
  packages/authentik/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/authentik/data_stream/event/fields/base-fields.yml
  packages/authentik/data_stream/event/fields/beats.yml
  packages/authentik/data_stream/event/fields/fields.yml
  packages/authentik/data_stream/event/manifest.yml
  packages/authentik/data_stream/event/sample_event.json
  packages/authentik/data_stream/group/_dev/test/pipeline/test-common-config.yml
  packages/authentik/data_stream/group/_dev/test/pipeline/test-group.log
  packages/authentik/data_stream/group/_dev/test/pipeline/test-group.log-expected.json
  packages/authentik/data_stream/group/_dev/test/system/test-default-config.yml
  packages/authentik/data_stream/group/agent/stream/cel.yml.hbs
  packages/authentik/data_stream/group/elasticsearch/ingest_pipeline/default.yml
  packages/authentik/data_stream/group/fields/base-fields.yml
  packages/authentik/data_stream/group/fields/beats.yml
  packages/authentik/data_stream/group/fields/fields.yml
  packages/authentik/data_stream/group/manifest.yml
  packages/authentik/data_stream/group/sample_event.json
  packages/authentik/data_stream/user/_dev/test/pipeline/test-common-config.yml
  packages/authentik/data_stream/user/_dev/test/pipeline/test-user.log
  packages/authentik/data_stream/user/_dev/test/pipeline/test-user.log-expected.json
  packages/authentik/data_stream/user/_dev/test/system/test-default-config.yml
  packages/authentik/data_stream/user/agent/stream/cel.yml.hbs
  packages/authentik/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/authentik/data_stream/user/fields/base-fields.yml
  packages/authentik/data_stream/user/fields/beats.yml
  packages/authentik/data_stream/user/fields/fields.yml
  packages/authentik/data_stream/user/manifest.yml
  packages/authentik/data_stream/user/sample_event.json
  packages/authentik/docs/README.md
  packages/authentik/img/authentik-event_overview.png
  packages/authentik/img/authentik-logo.svg
  packages/authentik/img/authentik-user_and_group_overview.png
  packages/authentik/kibana/dashboard/authentik-490ec869-2ac1-4c30-9653-7916748d4f84.json
  packages/authentik/kibana/dashboard/authentik-e3c4a5f9-e47c-4cde-b755-859122e7ef80.json
  packages/authentik/kibana/search/authentik-16fb2a4f-720c-416f-9713-dfc87ce0cb79.json
  packages/authentik/kibana/search/authentik-cfd98a0c-37de-40a7-a785-72104f99c515.json
  packages/authentik/kibana/search/authentik-cfe038cb-a2ed-494f-a7ee-40723b96c029.json
  packages/authentik/kibana/tag/authentik-security-solution-default.json
  packages/authentik/kibana/tags.yml
  packages/authentik/manifest.yml
  packages/authentik/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations, Integration:authentik

#10914 wiz: fix result.evaluation to be lowercased in cloud_configuration_finding
  packages/wiz/changelog.yml
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-cloud-configuration-finding.log-expected.json
  packages/wiz/data_stream/cloud_configuration_finding/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:wiz, Team:Security-Service Integrations

#10899 packages/microsoft_sqlserver: Fix `HEALTHCHECK`
  packages/microsoft_sqlserver/_dev/deploy/docker/Dockerfile
Labels: Integration:microsoft_sqlserver, Team:Obs-InfraObs, bugfix

#10915 packages/microsoft_sqlserver: Update documentation
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: Integration:microsoft_sqlserver, Team:Obs-InfraObs, bugfix

#10936 [Cloud Security] Add Cloud Configuration Finding dashboard screenshot reference to the manifest
  packages/wiz/changelog.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Team:Security-Service Integrations

#10810 [m365_defender] Fix dashboard filters to look for correct event.severity values.
  packages/m365_defender/changelog.yml
  packages/m365_defender/kibana/dashboard/m365_defender-2690a440-7235-11ed-8657-c59f6ece834c.json
  packages/m365_defender/manifest.yml
Labels: dashboard, Integration:m365_defender, bugfix, Team:Security-Service Integrations, Team:Security-Windows Platform

#10800 Add `event.module` to network_traffic integration
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/fields/base.yml
  packages/network_traffic/data_stream/cassandra/fields/base.yml
  packages/network_traffic/data_stream/dhcpv4/fields/base.yml
  packages/network_traffic/data_stream/dns/fields/base.yml
  packages/network_traffic/data_stream/flow/fields/base.yml
  packages/network_traffic/data_stream/http/fields/base.yml
  packages/network_traffic/data_stream/icmp/fields/base.yml
  packages/network_traffic/data_stream/memcached/fields/base.yml
  packages/network_traffic/data_stream/mongodb/fields/base.yml
  packages/network_traffic/data_stream/mysql/fields/base.yml
  packages/network_traffic/data_stream/nfs/fields/base.yml
  packages/network_traffic/data_stream/pgsql/fields/base.yml
  packages/network_traffic/data_stream/redis/fields/base.yml
  packages/network_traffic/data_stream/sip/fields/base.yml
  packages/network_traffic/data_stream/thrift/fields/base.yml
  packages/network_traffic/data_stream/tls/fields/base.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: Integration:network_traffic, bugfix, Team:Security-Linux Platform

#10944 Adding missing fields in the status metricset of the kibana integration
  packages/kibana/changelog.yml
  packages/kibana/data_stream/status/fields/fields.yml
  packages/kibana/data_stream/status/sample_event.json
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: enhancement, Integration:kibana, Team:Stack Monitoring

#10793 Zeek known certs grok fix
  packages/zeek/changelog.yml
  packages/zeek/data_stream/known_certs/_dev/test/pipeline/test-known-certs.log
  packages/zeek/data_stream/known_certs/_dev/test/pipeline/test-known-certs.log-expected.json
  packages/zeek/data_stream/known_certs/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: Integration:zeek, bugfix, Team:Security-Deployment and Devices

#10948 [cisco_ios] Fix CISCO-IOS integration failed to parse logs coming from different application versions
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-parsing-issue-5150.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-parsing-issue-5150.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:cisco_ios, bugfix, Team:Security-Deployment and Devices
