Repository elastic/integrations, pull requests merged in 2024-03, with the labels that each got.

#9238 Set sensitive values as secret in services integrations
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/manifest.yml
  packages/eset_protect/changelog.yml
  packages/eset_protect/manifest.yml
  packages/forcepoint_web/changelog.yml
  packages/forcepoint_web/data_stream/logs/manifest.yml
  packages/forcepoint_web/manifest.yml
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/manifest.yml
  packages/imperva_cloud_waf/manifest.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/manifest.yml
  packages/ti_eclecticiq/changelog.yml
  packages/ti_eclecticiq/manifest.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/fields/fields.yml
  packages/ti_threatconnect/docs/README.md
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, Integration:Crowdstrike, Integration:Forcepoint Web Security, Integration:ESETProtect, Integration:TI Crowdstrike, Integration:EclecticIQ, Team:Security-Service Integrations, Integration:Imperva Cloud WAF, Integration: ThreatConnect

#9102 [cisco_ios] Improve parsing groks to better handle generic messages
  packages/cisco_ios/_dev/deploy/docker/sample_logs/cisco-ios-timezones.log
  packages/cisco_ios/_dev/deploy/docker/sample_logs/cisco-ios.log
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: enhancement, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9270 [ti_crowdstrike] Add Mapping of Hash Sha1 type Indicator
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:TI Crowdstrike, Team:Security-Service Integrations

#9274 [ti_crowdstrike] Add ilm policy to intel data stream
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/manifest.yml
  packages/ti_crowdstrike/manifest.yml
Labels: bug, Integration:TI Crowdstrike, Team:Security-Service Integrations

#9120 sentinel_one_cloud_funnel: improve detection rules support
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-command-script.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-cross-process.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-dns.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-file.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-indicator.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-login.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-module.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-network-action.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-process.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-registry.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-scheduled-task.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-threat-intelligence-indicator.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-url.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-command-script.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-dns.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-file.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-login.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-network-action.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-process.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-registry.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-url.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/fields/fields.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/manifest.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/sample_event.json
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, Integration: SentinelOne Cloud Funnel, Team:Security-Service Integrations

#9282 [Security Rules] Update security rules package to v8.11.10-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0136b315-b566-482f-866c-1d8e2477ba16_103.json
  packages/security_detection_engine/kibana/security_rule/03024bd9-d23f-4ec1-8674-3cf1a21e130b_103.json
  packages/security_detection_engine/kibana/security_rule/054db96b-fd34-43b3-9af2-587b3bd33964_3.json
  packages/security_detection_engine/kibana/security_rule/05cad2fb-200c-407f-b472-02ea8c9e5e4a_3.json
  packages/security_detection_engine/kibana/security_rule/0ce6487d-8069-4888-9ddd-61b52490cebc_103.json
  packages/security_detection_engine/kibana/security_rule/0e52157a-8e96-4a95-a6e3-5faae5081a74_103.json
  packages/security_detection_engine/kibana/security_rule/1c6a8c7a-5cb6-4a82-ba27-d5a5b8a40a38_107.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_104.json
  packages/security_detection_engine/kibana/security_rule/2724808c-ba5d-48b2-86d2-0002103df753_3.json
  packages/security_detection_engine/kibana/security_rule/272a6484-2663-46db-a532-ef734bf9a796_103.json
  packages/security_detection_engine/kibana/security_rule/27f7c15a-91f8-4c3d-8b9e-1f99cc030a51_103.json
  packages/security_detection_engine/kibana/security_rule/2820c9c2-bcd7-4d6e-9eba-faf3891ba450_110.json
  packages/security_detection_engine/kibana/security_rule/2de10e77-c144-4e69-afb7-344e7127abd0_104.json
  packages/security_detection_engine/kibana/security_rule/30bfddd7-2954-4c9d-bbc6-19a99ca47e23_7.json
  packages/security_detection_engine/kibana/security_rule/3728c08d-9b70-456b-b6b8-007c7d246128_4.json
  packages/security_detection_engine/kibana/security_rule/3e12a439-d002-4944-bc42-171c0dcb9b96_4.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_104.json
  packages/security_detection_engine/kibana/security_rule/48819484-9826-4083-9eba-1da74cd0eaf2_2.json
  packages/security_detection_engine/kibana/security_rule/4b868f1f-15ff-4ba3-8c11-d5a7a6356d37_3.json
  packages/security_detection_engine/kibana/security_rule/514121ce-c7b6-474a-8237-68ff71672379_103.json
  packages/security_detection_engine/kibana/security_rule/51a09737-80f7-4551-a3be-dac8ef5d181a_2.json
  packages/security_detection_engine/kibana/security_rule/5930658c-2107-4afc-91af-e0e55b7f7184_103.json
  packages/security_detection_engine/kibana/security_rule/5b18eef4-842c-4b47-970f-f08d24004bde_4.json
  packages/security_detection_engine/kibana/security_rule/5e552599-ddec-4e14-bad1-28aa42404388_103.json
  packages/security_detection_engine/kibana/security_rule/60f3adec-1df9-4104-9c75-b97d9f078b25_103.json
  packages/security_detection_engine/kibana/security_rule/66c058f3-99f4-4d18-952b-43348f2577a0_2.json
  packages/security_detection_engine/kibana/security_rule/675239ea-c1bc-4467-a6d3-b9e2cc7f676d_103.json
  packages/security_detection_engine/kibana/security_rule/684554fc-0777-47ce-8c9b-3d01f198d7f8_103.json
  packages/security_detection_engine/kibana/security_rule/6ace94ba-f02c-4d55-9f53-87d99b6f9af4_6.json
  packages/security_detection_engine/kibana/security_rule/721999d0-7ab2-44bf-b328-6e63367b9b29_103.json
  packages/security_detection_engine/kibana/security_rule/88671231-6626-4e1b-abb7-6e361a171fbb_103.json
  packages/security_detection_engine/kibana/security_rule/97314185-2568-4561-ae81-f3e480e5e695_103.json
  packages/security_detection_engine/kibana/security_rule/98995807-5b09-4e37-8a54-5cae5dc932d7_103.json
  packages/security_detection_engine/kibana/security_rule/a989fa1b-9a11-4dd8-a3e9-f0de9c6eb5f2_103.json
  packages/security_detection_engine/kibana/security_rule/ac8805f6-1e08-406c-962e-3937057fa86f_5.json
  packages/security_detection_engine/kibana/security_rule/b2951150-658f-4a60-832f-a00d1e6c6745_103.json
  packages/security_detection_engine/kibana/security_rule/bba1b212-b85c-41c6-9b28-be0e5cdfc9b1_103.json
  packages/security_detection_engine/kibana/security_rule/bbd1a775-8267-41fa-9232-20e5582596ac_104.json
  packages/security_detection_engine/kibana/security_rule/ca79768e-40e1-4e45-a097-0e5fbc876ac2_103.json
  packages/security_detection_engine/kibana/security_rule/d4ff2f53-c802-4d2e-9fb9-9ecc08356c3f_5.json
  packages/security_detection_engine/kibana/security_rule/d68eb1b5-5f1c-4b6d-9e63-5b6b145cd4aa_103.json
  packages/security_detection_engine/kibana/security_rule/d743ff2a-203e-4a46-a3e3-40512cfe8fbb_103.json
  packages/security_detection_engine/kibana/security_rule/dc71c186-9fe4-4437-a4d0-85ebb32b8204_7.json
  packages/security_detection_engine/kibana/security_rule/debff20a-46bc-4a4d-bae5-5cdd14222795_109.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_3.json
  packages/security_detection_engine/kibana/security_rule/eb9eb8ba-a983-41d9-9c93-a1c05112ca5e_109.json
  packages/security_detection_engine/kibana/security_rule/ec8efb0c-604d-42fa-ac46-ed1cfbc38f78_103.json
  packages/security_detection_engine/kibana/security_rule/f530ca17-153b-4a7a-8cd3-98dd4b4ddf73_5.json
  packages/security_detection_engine/kibana/security_rule/fac52c69-2646-4e79-89c0-fd7653461010_5.json
  packages/security_detection_engine/kibana/security_rule/ff4dd44a-0ac6-44c4-8609-3f81bc820f02_103.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9284 [Security Rules] Update security rules package to v8.13.1-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0136b315-b566-482f-866c-1d8e2477ba16_103.json
  packages/security_detection_engine/kibana/security_rule/03024bd9-d23f-4ec1-8674-3cf1a21e130b_103.json
  packages/security_detection_engine/kibana/security_rule/054db96b-fd34-43b3-9af2-587b3bd33964_3.json
  packages/security_detection_engine/kibana/security_rule/05cad2fb-200c-407f-b472-02ea8c9e5e4a_3.json
  packages/security_detection_engine/kibana/security_rule/0ce6487d-8069-4888-9ddd-61b52490cebc_103.json
  packages/security_detection_engine/kibana/security_rule/0e52157a-8e96-4a95-a6e3-5faae5081a74_103.json
  packages/security_detection_engine/kibana/security_rule/1c6a8c7a-5cb6-4a82-ba27-d5a5b8a40a38_107.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_104.json
  packages/security_detection_engine/kibana/security_rule/2724808c-ba5d-48b2-86d2-0002103df753_3.json
  packages/security_detection_engine/kibana/security_rule/272a6484-2663-46db-a532-ef734bf9a796_103.json
  packages/security_detection_engine/kibana/security_rule/27f7c15a-91f8-4c3d-8b9e-1f99cc030a51_103.json
  packages/security_detection_engine/kibana/security_rule/2820c9c2-bcd7-4d6e-9eba-faf3891ba450_109.json
  packages/security_detection_engine/kibana/security_rule/2de10e77-c144-4e69-afb7-344e7127abd0_104.json
  packages/security_detection_engine/kibana/security_rule/30bfddd7-2954-4c9d-bbc6-19a99ca47e23_7.json
  packages/security_detection_engine/kibana/security_rule/3728c08d-9b70-456b-b6b8-007c7d246128_4.json
  packages/security_detection_engine/kibana/security_rule/3e12a439-d002-4944-bc42-171c0dcb9b96_4.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_104.json
  packages/security_detection_engine/kibana/security_rule/48819484-9826-4083-9eba-1da74cd0eaf2_2.json
  packages/security_detection_engine/kibana/security_rule/4b868f1f-15ff-4ba3-8c11-d5a7a6356d37_3.json
  packages/security_detection_engine/kibana/security_rule/514121ce-c7b6-474a-8237-68ff71672379_103.json
  packages/security_detection_engine/kibana/security_rule/51a09737-80f7-4551-a3be-dac8ef5d181a_2.json
  packages/security_detection_engine/kibana/security_rule/5930658c-2107-4afc-91af-e0e55b7f7184_103.json
  packages/security_detection_engine/kibana/security_rule/5b18eef4-842c-4b47-970f-f08d24004bde_4.json
  packages/security_detection_engine/kibana/security_rule/5e552599-ddec-4e14-bad1-28aa42404388_103.json
  packages/security_detection_engine/kibana/security_rule/60f3adec-1df9-4104-9c75-b97d9f078b25_103.json
  packages/security_detection_engine/kibana/security_rule/66c058f3-99f4-4d18-952b-43348f2577a0_2.json
  packages/security_detection_engine/kibana/security_rule/675239ea-c1bc-4467-a6d3-b9e2cc7f676d_103.json
  packages/security_detection_engine/kibana/security_rule/684554fc-0777-47ce-8c9b-3d01f198d7f8_103.json
  packages/security_detection_engine/kibana/security_rule/6ace94ba-f02c-4d55-9f53-87d99b6f9af4_6.json
  packages/security_detection_engine/kibana/security_rule/721999d0-7ab2-44bf-b328-6e63367b9b29_103.json
  packages/security_detection_engine/kibana/security_rule/88671231-6626-4e1b-abb7-6e361a171fbb_103.json
  packages/security_detection_engine/kibana/security_rule/97314185-2568-4561-ae81-f3e480e5e695_103.json
  packages/security_detection_engine/kibana/security_rule/98995807-5b09-4e37-8a54-5cae5dc932d7_103.json
  packages/security_detection_engine/kibana/security_rule/a989fa1b-9a11-4dd8-a3e9-f0de9c6eb5f2_103.json
  packages/security_detection_engine/kibana/security_rule/ac8805f6-1e08-406c-962e-3937057fa86f_5.json
  packages/security_detection_engine/kibana/security_rule/b2951150-658f-4a60-832f-a00d1e6c6745_103.json
  packages/security_detection_engine/kibana/security_rule/bba1b212-b85c-41c6-9b28-be0e5cdfc9b1_103.json
  packages/security_detection_engine/kibana/security_rule/bbd1a775-8267-41fa-9232-20e5582596ac_104.json
  packages/security_detection_engine/kibana/security_rule/ca79768e-40e1-4e45-a097-0e5fbc876ac2_103.json
  packages/security_detection_engine/kibana/security_rule/d4ff2f53-c802-4d2e-9fb9-9ecc08356c3f_5.json
  packages/security_detection_engine/kibana/security_rule/d68eb1b5-5f1c-4b6d-9e63-5b6b145cd4aa_103.json
  packages/security_detection_engine/kibana/security_rule/d743ff2a-203e-4a46-a3e3-40512cfe8fbb_103.json
  packages/security_detection_engine/kibana/security_rule/dc71c186-9fe4-4437-a4d0-85ebb32b8204_7.json
  packages/security_detection_engine/kibana/security_rule/debff20a-46bc-4a4d-bae5-5cdd14222795_109.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_3.json
  packages/security_detection_engine/kibana/security_rule/eb9eb8ba-a983-41d9-9c93-a1c05112ca5e_109.json
  packages/security_detection_engine/kibana/security_rule/ec8efb0c-604d-42fa-ac46-ed1cfbc38f78_103.json
  packages/security_detection_engine/kibana/security_rule/f530ca17-153b-4a7a-8cd3-98dd4b4ddf73_5.json
  packages/security_detection_engine/kibana/security_rule/fac52c69-2646-4e79-89c0-fd7653461010_5.json
  packages/security_detection_engine/kibana/security_rule/ff4dd44a-0ac6-44c4-8609-3f81bc820f02_103.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9279 Disable secrets for packages with older stack versions due to errors.
  packages/activemq/changelog.yml
  packages/activemq/manifest.yml
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/manifest.yml
  packages/azure_app_service/changelog.yml
  packages/azure_app_service/manifest.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/manifest.yml
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/functionapplogs/manifest.yml
  packages/azure_functions/data_stream/metrics/manifest.yml
  packages/azure_functions/manifest.yml
  packages/cassandra/changelog.yml
  packages/cassandra/manifest.yml
  packages/ceph/changelog.yml
  packages/ceph/manifest.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/manifest.yml
  packages/cockroachdb/changelog.yml
  packages/cockroachdb/data_stream/status/manifest.yml
  packages/cockroachdb/manifest.yml
  packages/golang/changelog.yml
  packages/golang/manifest.yml
  packages/kafka/changelog.yml
  packages/kafka/data_stream/consumergroup/manifest.yml
  packages/kafka/data_stream/partition/manifest.yml
  packages/kafka/manifest.yml
  packages/kafka_log/changelog.yml
  packages/kafka_log/data_stream/generic/manifest.yml
  packages/kafka_log/manifest.yml
  packages/mysql/changelog.yml
  packages/mysql/manifest.yml
  packages/nginx/changelog.yml
  packages/nginx/manifest.yml
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/manifest.yml
  packages/postgresql/changelog.yml
  packages/postgresql/manifest.yml
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/manifest.yml
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/manifest.yml
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/manifest.yml
  packages/salesforce/changelog.yml
  packages/salesforce/manifest.yml
  packages/spring_boot/changelog.yml
  packages/spring_boot/manifest.yml
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/manifest.yml
Labels: bugfix

#9283 [Security Rules] Update security rules package to v8.12.6-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0136b315-b566-482f-866c-1d8e2477ba16_103.json
  packages/security_detection_engine/kibana/security_rule/03024bd9-d23f-4ec1-8674-3cf1a21e130b_103.json
  packages/security_detection_engine/kibana/security_rule/054db96b-fd34-43b3-9af2-587b3bd33964_3.json
  packages/security_detection_engine/kibana/security_rule/05cad2fb-200c-407f-b472-02ea8c9e5e4a_3.json
  packages/security_detection_engine/kibana/security_rule/0ce6487d-8069-4888-9ddd-61b52490cebc_103.json
  packages/security_detection_engine/kibana/security_rule/0e52157a-8e96-4a95-a6e3-5faae5081a74_103.json
  packages/security_detection_engine/kibana/security_rule/1c6a8c7a-5cb6-4a82-ba27-d5a5b8a40a38_107.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_104.json
  packages/security_detection_engine/kibana/security_rule/2724808c-ba5d-48b2-86d2-0002103df753_3.json
  packages/security_detection_engine/kibana/security_rule/272a6484-2663-46db-a532-ef734bf9a796_103.json
  packages/security_detection_engine/kibana/security_rule/27f7c15a-91f8-4c3d-8b9e-1f99cc030a51_103.json
  packages/security_detection_engine/kibana/security_rule/2820c9c2-bcd7-4d6e-9eba-faf3891ba450_110.json
  packages/security_detection_engine/kibana/security_rule/2de10e77-c144-4e69-afb7-344e7127abd0_104.json
  packages/security_detection_engine/kibana/security_rule/30bfddd7-2954-4c9d-bbc6-19a99ca47e23_7.json
  packages/security_detection_engine/kibana/security_rule/3728c08d-9b70-456b-b6b8-007c7d246128_4.json
  packages/security_detection_engine/kibana/security_rule/3e12a439-d002-4944-bc42-171c0dcb9b96_4.json
  packages/security_detection_engine/kibana/security_rule/3efee4f0-182a-40a8-a835-102c68a4175d_104.json
  packages/security_detection_engine/kibana/security_rule/48819484-9826-4083-9eba-1da74cd0eaf2_2.json
  packages/security_detection_engine/kibana/security_rule/4b868f1f-15ff-4ba3-8c11-d5a7a6356d37_3.json
  packages/security_detection_engine/kibana/security_rule/514121ce-c7b6-474a-8237-68ff71672379_103.json
  packages/security_detection_engine/kibana/security_rule/51a09737-80f7-4551-a3be-dac8ef5d181a_2.json
  packages/security_detection_engine/kibana/security_rule/5930658c-2107-4afc-91af-e0e55b7f7184_103.json
  packages/security_detection_engine/kibana/security_rule/5b18eef4-842c-4b47-970f-f08d24004bde_4.json
  packages/security_detection_engine/kibana/security_rule/5e552599-ddec-4e14-bad1-28aa42404388_103.json
  packages/security_detection_engine/kibana/security_rule/60f3adec-1df9-4104-9c75-b97d9f078b25_103.json
  packages/security_detection_engine/kibana/security_rule/66c058f3-99f4-4d18-952b-43348f2577a0_2.json
  packages/security_detection_engine/kibana/security_rule/675239ea-c1bc-4467-a6d3-b9e2cc7f676d_103.json
  packages/security_detection_engine/kibana/security_rule/684554fc-0777-47ce-8c9b-3d01f198d7f8_103.json
  packages/security_detection_engine/kibana/security_rule/6ace94ba-f02c-4d55-9f53-87d99b6f9af4_6.json
  packages/security_detection_engine/kibana/security_rule/721999d0-7ab2-44bf-b328-6e63367b9b29_103.json
  packages/security_detection_engine/kibana/security_rule/88671231-6626-4e1b-abb7-6e361a171fbb_103.json
  packages/security_detection_engine/kibana/security_rule/97314185-2568-4561-ae81-f3e480e5e695_103.json
  packages/security_detection_engine/kibana/security_rule/98995807-5b09-4e37-8a54-5cae5dc932d7_103.json
  packages/security_detection_engine/kibana/security_rule/a989fa1b-9a11-4dd8-a3e9-f0de9c6eb5f2_103.json
  packages/security_detection_engine/kibana/security_rule/ac8805f6-1e08-406c-962e-3937057fa86f_5.json
  packages/security_detection_engine/kibana/security_rule/b2951150-658f-4a60-832f-a00d1e6c6745_103.json
  packages/security_detection_engine/kibana/security_rule/bba1b212-b85c-41c6-9b28-be0e5cdfc9b1_103.json
  packages/security_detection_engine/kibana/security_rule/bbd1a775-8267-41fa-9232-20e5582596ac_104.json
  packages/security_detection_engine/kibana/security_rule/ca79768e-40e1-4e45-a097-0e5fbc876ac2_103.json
  packages/security_detection_engine/kibana/security_rule/d4ff2f53-c802-4d2e-9fb9-9ecc08356c3f_5.json
  packages/security_detection_engine/kibana/security_rule/d68eb1b5-5f1c-4b6d-9e63-5b6b145cd4aa_103.json
  packages/security_detection_engine/kibana/security_rule/d743ff2a-203e-4a46-a3e3-40512cfe8fbb_103.json
  packages/security_detection_engine/kibana/security_rule/dc71c186-9fe4-4437-a4d0-85ebb32b8204_7.json
  packages/security_detection_engine/kibana/security_rule/debff20a-46bc-4a4d-bae5-5cdd14222795_109.json
  packages/security_detection_engine/kibana/security_rule/e0cc3807-e108-483c-bf66-5a4fbe0d7e89_3.json
  packages/security_detection_engine/kibana/security_rule/eb9eb8ba-a983-41d9-9c93-a1c05112ca5e_109.json
  packages/security_detection_engine/kibana/security_rule/ec8efb0c-604d-42fa-ac46-ed1cfbc38f78_103.json
  packages/security_detection_engine/kibana/security_rule/f530ca17-153b-4a7a-8cd3-98dd4b4ddf73_5.json
  packages/security_detection_engine/kibana/security_rule/fac52c69-2646-4e79-89c0-fd7653461010_5.json
  packages/security_detection_engine/kibana/security_rule/ff4dd44a-0ac6-44c4-8609-3f81bc820f02_103.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9301 [Security Rules] Update security rules package to v8.13.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9300 [Security Rules] Update security rules package to v8.12.6
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9298 [Security Rules] Update security rules package to v8.10.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9299 [Security Rules] Update security rules package to v8.11.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9303 [Carbon Black Cloud] - Introduced data stream specific SQS queues
  packages/carbon_black_cloud/_dev/build/docs/README.md
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/alert/manifest.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/endpoint_event/manifest.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/watchlist_hit/manifest.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: enhancement, integration, bugfix, Team:Security-Service Integrations

#9288 ti_crowdstrike: ensure timestamp is rendered as an integer
  packages/ti_crowdstrike/_dev/deploy/docker/files/config.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:TI Crowdstrike, Team:Security-Service Integrations

#9309 ti_mandiant_advantage: remove invalid non-leaf field definition
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/ecs.yml
  packages/ti_mandiant_advantage/docs/README.md
  packages/ti_mandiant_advantage/manifest.yml
Labels: bugfix, Integration:Mandiant Advantage Threat Intel, Team:Security-Service Integrations

#9231 [ti_threatconnect] Update Fingerprint Processor and Description for Configuration Parameters
  packages/ti_threatconnect/_dev/build/docs/README.md
  packages/ti_threatconnect/_dev/deploy/docker/files/config-indicator.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/_dev/test/pipeline/test-indicator.log-expected.json
  packages/ti_threatconnect/data_stream/indicator/_dev/test/system/test-default-config.yml
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatconnect/data_stream/indicator/manifest.yml
  packages/ti_threatconnect/data_stream/indicator/sample_event.json
  packages/ti_threatconnect/docs/README.md
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration: ThreatConnect

#9310 [cisco_meraki] fix uri parts in log datastream
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-urls.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-urls.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/urls.yml
  packages/cisco_meraki/data_stream/log/fields/ecs.yml
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: bug, Integration:Cisco Meraki, bugfix, Team:Security-Service Integrations

#9308 ti_otx: fix type mapping inconsistency for otx.id field
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/pulses_subscribed/_dev/test/pipeline/test-otx-pulses-subscribed-json.log-expected.json
  packages/ti_otx/data_stream/pulses_subscribed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_otx/data_stream/pulses_subscribed/fields/fields.yml
  packages/ti_otx/data_stream/pulses_subscribed/sample_event.json
  packages/ti_otx/data_stream/threat/sample_event.json
  packages/ti_otx/docs/README.md
  packages/ti_otx/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_otx/manifest.yml
Labels: Integration:AlienVaultOTX, bugfix, Team:Security-Service Integrations

#9197 New Exchange Server integration
  .github/CODEOWNERS
  packages/microsoft_exchange_server/_dev/build/build.yml
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/_dev/test/pipeline/test-httpproxy.log
  packages/microsoft_exchange_server/data_stream/httpproxy/_dev/test/pipeline/test-httpproxy.log-expected.json
  packages/microsoft_exchange_server/data_stream/httpproxy/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/httpproxy/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/fields/base-fields.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/manifest.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/_dev/test/pipeline/test-imap4-pop3.json
  packages/microsoft_exchange_server/data_stream/imap4_pop3/_dev/test/pipeline/test-imap4-pop3.json-expected.json
  packages/microsoft_exchange_server/data_stream/imap4_pop3/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/imap4_pop3/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/base-fields.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/manifest.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log-expected.json
  packages/microsoft_exchange_server/data_stream/messagetracking/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/messagetracking/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/base-fields.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/manifest.yml
  packages/microsoft_exchange_server/data_stream/smtp/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_exchange_server/data_stream/smtp/_dev/test/pipeline/test-smtp.json
  packages/microsoft_exchange_server/data_stream/smtp/_dev/test/pipeline/test-smtp.json-expected.json
  packages/microsoft_exchange_server/data_stream/smtp/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/smtp/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/smtp/fields/base-fields.yml
  packages/microsoft_exchange_server/data_stream/smtp/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/smtp/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/smtp/manifest.yml
  packages/microsoft_exchange_server/docs/README.md
  packages/microsoft_exchange_server/img/exchange.svg
  packages/microsoft_exchange_server/img/screenshot_httpproxy.png
  packages/microsoft_exchange_server/img/screenshot_messagtracking.png
  packages/microsoft_exchange_server/kibana/dashboard/microsoft_exchange_server-2b868ef0-c041-11ee-a682-0f218cc418af.json
  packages/microsoft_exchange_server/kibana/dashboard/microsoft_exchange_server-e52391d0-c034-11ee-a682-0f218cc418af.json
  packages/microsoft_exchange_server/kibana/search/microsoft_exchange_server-75b14bd0-c034-11ee-a682-0f218cc418af.json
  packages/microsoft_exchange_server/kibana/search/microsoft_exchange_server-ee0a5030-c03f-11ee-a682-0f218cc418af.json
  packages/microsoft_exchange_server/manifest.yml
  packages/microsoft_exchange_server/validation.yml
Labels: New Integration, Team:Security-Windows Platform

#9331 [Cloud Security] Bump up version
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#9343 [Cloud Security Posture] Label keys as secrets
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#9333 [panw] Ensure empty NAT IP is not appended to related items
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/sample_event.json
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, Integration:PANW, Team:Security-Deployment and Devices

#9340 carbon_black_cloud: fix handling of network direction
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/sample_event.json
  packages/carbon_black_cloud/data_stream/asset_vulnerability_summary/sample_event.json
  packages/carbon_black_cloud/data_stream/audit/sample_event.json
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/fields/ecs.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: Integration:CarbonBlackCloud, bugfix, Team:Security-Service Integrations

#9338 microsoft_defender_endpoint: fix handling of empty array fields
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: Integration:Microsoft_defender_endpoint, bugfix, Team:Security-Service Integrations

#9292 trendmicro: use CEF name as event.action if no action is specified
  packages/trendmicro/changelog.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json-expected.json
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/default.yml
  packages/trendmicro/manifest.yml
Labels: enhancement, Integration:TrendMicro, Team:Security-Service Integrations

#9293 qualys_vmdr: expand documents to map each vulnerability per host
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/fields.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration: Qualys VMDR, Team:Security-Service Integrations

#9321 Re-enable secrets for packages disabled due to Kibana versions below …
  packages/activemq/changelog.yml
  packages/activemq/manifest.yml
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/manifest.yml
  packages/azure_app_service/changelog.yml
  packages/azure_app_service/manifest.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/manifest.yml
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/functionapplogs/manifest.yml
  packages/azure_functions/data_stream/metrics/manifest.yml
  packages/azure_functions/manifest.yml
  packages/cassandra/changelog.yml
  packages/cassandra/manifest.yml
  packages/ceph/changelog.yml
  packages/ceph/manifest.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/manifest.yml
  packages/cockroachdb/changelog.yml
  packages/cockroachdb/data_stream/status/manifest.yml
  packages/cockroachdb/manifest.yml
  packages/golang/changelog.yml
  packages/golang/manifest.yml
  packages/kafka/changelog.yml
  packages/kafka/data_stream/consumergroup/manifest.yml
  packages/kafka/data_stream/partition/manifest.yml
  packages/kafka/manifest.yml
  packages/kafka_log/changelog.yml
  packages/kafka_log/data_stream/generic/manifest.yml
  packages/kafka_log/manifest.yml
  packages/mysql/changelog.yml
  packages/mysql/manifest.yml
  packages/nginx/changelog.yml
  packages/nginx/manifest.yml
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/manifest.yml
  packages/postgresql/changelog.yml
  packages/postgresql/manifest.yml
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/manifest.yml
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/manifest.yml
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/manifest.yml
  packages/salesforce/changelog.yml
  packages/salesforce/manifest.yml
  packages/spring_boot/changelog.yml
  packages/spring_boot/manifest.yml
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/manifest.yml
Labels: >enhancement

#9351 infoblox_nios: remove incorrect client.domain mapping from dns logs
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/data_stream/log/fields/ecs.yml
  packages/infoblox_nios/data_stream/log/sample_event.json
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: Integration:Infoblox_nios, bugfix, Team:Security-Service Integrations

#9339 [logstash] add missing queue.capacity mappings
  packages/logstash/_dev/deploy/docker/docker-compose.yml
  packages/logstash/_dev/deploy/variants.yml
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node_stats/fields/fields.yml
  packages/logstash/manifest.yml
Labels: Integration:Logstash, Feature:Stack Monitoring

#9240 [CISA KEVs] New Integration - CISA Known Exploited Vulnerabilities Tracking
  .github/CODEOWNERS
  packages/cisa_kevs/LICENSE.txt
  packages/cisa_kevs/_dev/build/build.yml
  packages/cisa_kevs/_dev/build/docs/README.md
  packages/cisa_kevs/_dev/deploy/docker/docker-compose.yml
  packages/cisa_kevs/_dev/deploy/docker/files/config.yml
  packages/cisa_kevs/changelog.yml
  packages/cisa_kevs/data_stream/vulnerability/_dev/test/pipeline/test-cisakev-ndjson.log
  packages/cisa_kevs/data_stream/vulnerability/_dev/test/pipeline/test-cisakev-ndjson.log-expected.json
  packages/cisa_kevs/data_stream/vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/cisa_kevs/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/cisa_kevs/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/cisa_kevs/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/cisa_kevs/data_stream/vulnerability/fields/base-fields.yml
  packages/cisa_kevs/data_stream/vulnerability/fields/beats.yml
  packages/cisa_kevs/data_stream/vulnerability/fields/ecs.yml
  packages/cisa_kevs/data_stream/vulnerability/fields/fields.yml
  packages/cisa_kevs/data_stream/vulnerability/manifest.yml
  packages/cisa_kevs/data_stream/vulnerability/sample_event.json
  packages/cisa_kevs/docs/README.md
  packages/cisa_kevs/img/cisa_kevs.png
  packages/cisa_kevs/img/icon.svg
  packages/cisa_kevs/kibana/dashboard/cisa_kevs-dcb4dd40-d17a-11ee-b159-799470efb549.json
  packages/cisa_kevs/manifest.yml
  packages/cisa_kevs/validation.yml
Labels: New Integration, Team:Security-Service Integrations

#9314 [Azure] Add Microsoft Graph Activity Logs datastream
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/graphactivitylogs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/graphactivitylogs/_dev/test/pipeline/test-activitylogs-raw.log
  packages/azure/data_stream/graphactivitylogs/_dev/test/pipeline/test-activitylogs-raw.log-expected.json
  packages/azure/data_stream/graphactivitylogs/_dev/test/pipeline/test-common-config.yml
  packages/azure/data_stream/graphactivitylogs/agent/stream/azure-eventhub.yml.hbs
  packages/azure/data_stream/graphactivitylogs/agent/stream/log.yml.hbs
  packages/azure/data_stream/graphactivitylogs/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure/data_stream/graphactivitylogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/graphactivitylogs/fields/agent.yml
  packages/azure/data_stream/graphactivitylogs/fields/base-fields.yml
  packages/azure/data_stream/graphactivitylogs/fields/ecs.yml
  packages/azure/data_stream/graphactivitylogs/fields/fields.yml
  packages/azure/data_stream/graphactivitylogs/fields/package-fields.yml
  packages/azure/data_stream/graphactivitylogs/manifest.yml
  packages/azure/data_stream/graphactivitylogs/sample_event.json
  packages/azure/docs/README.md
  packages/azure/docs/graphactivitylogs.md
  packages/azure/img/graph_activity.png
  packages/azure/img/graph_activity_logs.png
  packages/azure/kibana/dashboard/azure-2b2e94c8-aff5-401d-b9a5-aae2d051a92c.json
  packages/azure/manifest.yml
Labels: enhancement, Integration:Azure, Team:Security-Service Integrations

#9276 Add Lumos Package
  .github/CODEOWNERS
  packages/lumos/_dev/build/build.yml
  packages/lumos/_dev/build/docs/README.md
  packages/lumos/_dev/deploy/docker/docker-compose.yml
  packages/lumos/_dev/deploy/docker/files/config.yml
  packages/lumos/changelog.yml
  packages/lumos/data_stream/activity_logs/_dev/test/pipeline/test-activity-logs.log
  packages/lumos/data_stream/activity_logs/_dev/test/pipeline/test-activity-logs.log-expected.json
  packages/lumos/data_stream/activity_logs/_dev/test/system/test-default-config.yml
  packages/lumos/data_stream/activity_logs/agent/stream/httpjson.yml.hbs
  packages/lumos/data_stream/activity_logs/elasticsearch/ingest_pipeline/default.yml
  packages/lumos/data_stream/activity_logs/fields/base-fields.yml
  packages/lumos/data_stream/activity_logs/fields/ecs.yml
  packages/lumos/data_stream/activity_logs/fields/fields.yml
  packages/lumos/data_stream/activity_logs/manifest.yml
  packages/lumos/data_stream/activity_logs/sample_event.json
  packages/lumos/docs/README.md
  packages/lumos/img/activity-log-screenshot.png
  packages/lumos/img/lumos-logo.svg
  packages/lumos/img/lumos-screenshot.png
  packages/lumos/manifest.yml
Labels: New Integration, Team:Security-Service Integrations

#9346 [AWS] Improve latency description in integration setup
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_metrics/manifest.yml
  packages/aws/data_stream/ebs/manifest.yml
  packages/aws/data_stream/ec2_metrics/manifest.yml
  packages/aws/data_stream/ecs_metrics/manifest.yml
  packages/aws/data_stream/elb_metrics/manifest.yml
  packages/aws/data_stream/emr_metrics/manifest.yml
  packages/aws/data_stream/firewall_metrics/manifest.yml
  packages/aws/data_stream/kafka_metrics/manifest.yml
  packages/aws/data_stream/kinesis/manifest.yml
  packages/aws/data_stream/lambda/manifest.yml
  packages/aws/data_stream/natgateway/manifest.yml
  packages/aws/data_stream/rds/manifest.yml
  packages/aws/data_stream/redshift/manifest.yml
  packages/aws/data_stream/s3_daily_storage/manifest.yml
  packages/aws/data_stream/s3_request/manifest.yml
  packages/aws/data_stream/s3_storage_lens/manifest.yml
  packages/aws/data_stream/sns/manifest.yml
  packages/aws/data_stream/sqs/manifest.yml
  packages/aws/data_stream/transitgateway/manifest.yml
  packages/aws/data_stream/usage/manifest.yml
  packages/aws/data_stream/vpn/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:AWS

#9371 qualys_vmdr: increase request timeout and document
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/manifest.yml
  packages/qualys_vmdr/data_stream/knowledge_base/manifest.yml
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration: Qualys VMDR, Team:Security-Service Integrations

#9361 sentinel_one_cloud_funnel: improve process handling
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-process.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-process.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, Integration: SentinelOne Cloud Funnel, Team:Security-Service Integrations

#9380 [Carbon Black Cloud] - Fix @timestamp value by changing source to device_timestamp
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/fields/fields.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
Labels: integration, bugfix, Team:Security-Service Integrations

#9349 [Microsoft Exchange Server] Fix recipientstatus Field type, add Support for custom processors & Update Doc link
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/httpproxy/manifest.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/imap4_pop3/manifest.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log-expected.json
  packages/microsoft_exchange_server/data_stream/messagetracking/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/manifest.yml
  packages/microsoft_exchange_server/data_stream/smtp/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/smtp/manifest.yml
  packages/microsoft_exchange_server/docs/README.md
  packages/microsoft_exchange_server/manifest.yml
Labels: Team:Security-Windows Platform

#9318 Adding name field to Audit Saved Object
  packages/kibana/changelog.yml
  packages/kibana/data_stream/audit/_dev/test/pipeline/test-kibana-audit-logs.log
  packages/kibana/data_stream/audit/_dev/test/pipeline/test-kibana-audit-logs.log-expected.json
  packages/kibana/data_stream/audit/fields/package-fields.yml
  packages/kibana/docs/README.md
  packages/kibana/manifest.yml
Labels: enhancement, Integration:Kibana

#9391 [Carbon Black Cloud] - Added support for more @timestamp formats
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log
  packages/carbon_black_cloud/data_stream/endpoint_event/_dev/test/pipeline/test-endpoint-event.log-expected.json
  packages/carbon_black_cloud/data_stream/endpoint_event/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/manifest.yml
Labels: integration, Team:Service-Integrations, bugfix, Team:Security-Service Integrations

#9382 [eset_protect] Enhancing ECS fields
  packages/eset_protect/changelog.yml
  packages/eset_protect/data_stream/detection/sample_event.json
  packages/eset_protect/data_stream/device_task/sample_event.json
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/eset_protect/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/eset_protect/data_stream/event/sample_event.json
  packages/eset_protect/docs/README.md
  packages/eset_protect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ESET Threat Intelligence

#9387 Fixing versions surrounded by quotes
  .buildkite/scripts/backport_branch.sh
Labels: enhancement

#9407 [trendmicro] Add ECS Categorization for Anti-malware Events
  packages/trendmicro/changelog.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json-expected.json
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/malware-event.yml
  packages/trendmicro/data_stream/deep_security/sample_event.json
  packages/trendmicro/docs/README.md
  packages/trendmicro/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:TrendMicro

#9384 [fortinet_fortigate] Add more sanitization for unwanted characters.
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-unsanitized.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-unsanitized.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, Integration:Fortinet_FortiGate, Team:Security-Deployment and Devices

#9390 barracuda,barracuda_cloudgen_firewall: update manifest version format to v3.0.3
  packages/barracuda/changelog.yml
  packages/barracuda/manifest.yml
  packages/barracuda_cloudgen_firewall/changelog.yml
  packages/barracuda_cloudgen_firewall/manifest.yml
Labels: enhancement, Integration:Barracuda, Integration:BarracudaWAF, Team:Security-Service Integrations

#9399 carbonblack_edr,cribl,cyberark_pta,cyberarkpas: update manifest version format to v3.0.3
  packages/carbonblack_edr/changelog.yml
  packages/carbonblack_edr/data_stream/log/_dev/test/system/test-http-config.yml
  packages/carbonblack_edr/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/carbonblack_edr/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/carbonblack_edr/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/carbonblack_edr/manifest.yml
  packages/cribl/changelog.yml
  packages/cribl/manifest.yml
  packages/cyberark_pta/changelog.yml
  packages/cyberark_pta/data_stream/events/_dev/test/system/test-tcp-config.yml
  packages/cyberark_pta/data_stream/events/_dev/test/system/test-udp-config.yml
  packages/cyberark_pta/manifest.yml
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/data_stream/audit/_dev/test/system/test-logfile-config.yml
  packages/cyberarkpas/data_stream/audit/_dev/test/system/test-tcp-config.yml
  packages/cyberarkpas/data_stream/audit/_dev/test/system/test-tls-config.yml
  packages/cyberarkpas/data_stream/audit/_dev/test/system/test-udp-config.yml
  packages/cyberarkpas/manifest.yml
Labels: enhancement, Integration:CyberArkPAS, Integration:CyberArk, Integration:CarbonBlackEDR, Team:Security-Service Integrations

#9402 darktrace,fireeye,infoblox_nios,jamf_compliance_reporter,keycloak: update manifest version format to v3.0.3
  packages/darktrace/changelog.yml
  packages/darktrace/data_stream/ai_analyst_alert/_dev/test/system/test-httpjson-config.yml
  packages/darktrace/data_stream/ai_analyst_alert/_dev/test/system/test-tcp-config.yml
  packages/darktrace/data_stream/ai_analyst_alert/_dev/test/system/test-tls-config.yml
  packages/darktrace/data_stream/ai_analyst_alert/_dev/test/system/test-udp-config.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/pipeline/test-common-config.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/system/test-httpjson-config.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/system/test-tcp-config.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/system/test-tls-config.yml
  packages/darktrace/data_stream/model_breach_alert/_dev/test/system/test-udp-config.yml
  packages/darktrace/data_stream/model_breach_alert/fields/fields.yml
  packages/darktrace/data_stream/system_status_alert/_dev/test/system/test-tcp-config.yml
  packages/darktrace/data_stream/system_status_alert/_dev/test/system/test-tls-config.yml
  packages/darktrace/data_stream/system_status_alert/_dev/test/system/test-udp-config.yml
  packages/darktrace/docs/README.md
  packages/darktrace/manifest.yml
  packages/fireeye/_dev/deploy/docker/sample_logs/fireeye-nx.log
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/_dev/test/system/test-default-config.yml
  packages/fireeye/data_stream/nx/_dev/test/system/test-tcp-config.yml
  packages/fireeye/data_stream/nx/_dev/test/system/test-udp-config.yml
  packages/fireeye/manifest.yml
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/infoblox_nios/data_stream/log/_dev/test/system/test-udp-tz-config.yml
  packages/infoblox_nios/manifest.yml
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/system/test-http-endpoint-config.yml
  packages/jamf_compliance_reporter/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/jamf_compliance_reporter/manifest.yml
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/keycloak/data_stream/log/_dev/test/system/test-logfile-non-utc-config.yml
  packages/keycloak/manifest.yml
Labels: enhancement, Integration:FireEye, Integration:JAMF_Compliance_Reporter, Integration:Keycloak, Integration:Infoblox_nios, Integration:Darktrace, Team:Security-Service Integrations

#9403 mattermost,netskope,pulse_connect_secure,santa,symantec_endpoint: update manifest version format to v3.0.3
  packages/mattermost/_dev/deploy/docker/sample_logs/audit.log
  packages/mattermost/changelog.yml
  packages/mattermost/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/mattermost/manifest.yml
  packages/netskope/_dev/deploy/docker/sample_logs/alerts.log
  packages/netskope/_dev/deploy/docker/sample_logs/events.log
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/system/test-default-config.yml
  packages/netskope/data_stream/events/_dev/test/system/test-default-config.yml
  packages/netskope/manifest.yml
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/pulse_connect_secure/manifest.yml
  packages/santa/_dev/deploy/docker/sample_logs/santa.log
  packages/santa/changelog.yml
  packages/santa/data_stream/log/_dev/test/system/test-default-config.yml
  packages/santa/manifest.yml
  packages/symantec_endpoint/_dev/deploy/docker/sample_logs/symantec_endpoint.log
  packages/symantec_endpoint/changelog.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/symantec_endpoint/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/symantec_endpoint/manifest.yml
Labels: enhancement, Integration:Symantec-Endpoint, Integration:Santa, Integration:Netskope, Integration:PulseConnectSecure, Integration:Mattermost, Team:Security-Service Integrations

#9404 thycotic_ss,ti_abusech,ti_util,tines,zscaler_zpa: update manifest version format to v3.0.3
  packages/thycotic_ss/changelog.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/system/test-logfile-config.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/system/test-tcp-config.yml
  packages/thycotic_ss/data_stream/logs/_dev/test/system/test-udp-config.yml
  packages/thycotic_ss/manifest.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/_dev/test/system/test-default-config.yml
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/system/test-default-config.yml
  packages/ti_abusech/data_stream/threatfox/_dev/test/system/test-default-config.yml
  packages/ti_abusech/data_stream/url/_dev/test/system/test-default-config.yml
  packages/ti_abusech/manifest.yml
  packages/ti_util/changelog.yml
  packages/ti_util/manifest.yml
  packages/tines/changelog.yml
  packages/tines/data_stream/audit_logs/_dev/test/system/test-default-config.yml
  packages/tines/data_stream/audit_logs/fields/fields.yml
  packages/tines/data_stream/time_saved/_dev/test/system/test-default-config.yml
  packages/tines/docs/README.md
  packages/tines/manifest.yml
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/app_connector_status/_dev/test/system/test-default-config.yml
  packages/zscaler_zpa/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/zscaler_zpa/data_stream/browser_access/_dev/test/system/test-default-config.yml
  packages/zscaler_zpa/data_stream/user_activity/_dev/test/system/test-default-config.yml
  packages/zscaler_zpa/data_stream/user_status/_dev/test/system/test-default-config.yml
  packages/zscaler_zpa/manifest.yml
Labels: enhancement, Integration:AbuseCH, Integration:ZscalerZPA, Integration:Thycotic Secret Server, Team:Security-Service Integrations

#8869 packages/vsphere/docs: Improve logs collection documentation
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vSphere, docs

#9386 Update description of Custom Logs input
  packages/log/changelog.yml
  packages/log/manifest.yml
Labels: Team:Elastic-Agent

#9389 box_events: update manifest version format to v3.0.3
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-locations.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-sessions.log-expected.json
  packages/box_events/data_stream/events/_dev/test/system/test-httpjson-config.yml
  packages/box_events/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/box_events/data_stream/events/fields/ecs.yml
  packages/box_events/data_stream/events/fields/fields.yml
  packages/box_events/docs/README.md
  packages/box_events/manifest.yml
Labels: enhancement, Integration:Box, Team:Security-Service Integrations

#9416 [D4C] Update subscription tier in manifest.yml
  packages/cloud_defend/changelog.yml
  packages/cloud_defend/manifest.yml
Labels: documentation, Integration:Defend for Containers, Team:Security-Linux Platform

#9296 [O11y][System] Rally benchmark `system.memory`
  packages/system/_dev/benchmark/rally/memory-benchmark.yml
  packages/system/_dev/benchmark/rally/memory-benchmark/config.yml
  packages/system/_dev/benchmark/rally/memory-benchmark/fields.yml
  packages/system/_dev/benchmark/rally/memory-benchmark/template.ndjson
Labels: enhancement, Integration:System

#9294 [O11y][System] Rally benchmark `system.cpu`
  packages/system/_dev/benchmark/rally/cpu-benchmark.yml
  packages/system/_dev/benchmark/rally/cpu-benchmark/config.yml
  packages/system/_dev/benchmark/rally/cpu-benchmark/fields.yml
  packages/system/_dev/benchmark/rally/cpu-benchmark/template.ndjson
Labels: enhancement, Integration:System

#9242 [O11y][AWS] Rally benchmark `aws.vpcflow`
  packages/aws/_dev/benchmark/rally/vpcflow-benchmark.yml
  packages/aws/_dev/benchmark/rally/vpcflow-benchmark/config.yml
  packages/aws/_dev/benchmark/rally/vpcflow-benchmark/fields.yml
  packages/aws/_dev/benchmark/rally/vpcflow-benchmark/template.ndjson
Labels: enhancement, Integration:AWS

#9419 [Security Rules] Update security rules package to v8.11.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9420 [Security Rules] Update security rules package to v8.12.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9421 [Security Rules] Update security rules package to v8.13.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9436 [crowdstrike] Fix cache option name in FDR data stream.
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/agent/stream/stream.yml.hbs
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#9415 cisco_meraki: fix webhook configuration and behavior
  packages/cisco_meraki/_dev/deploy/docker/docker-compose.yml
  packages/cisco_meraki/_dev/deploy/docker/sample_events/meraki-mx-ndjson.log
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/cisco_meraki/data_stream/events/_dev/test/pipeline/test-mx-events.json
  packages/cisco_meraki/data_stream/events/_dev/test/pipeline/test-mx-events.json-expected.json
  packages/cisco_meraki/data_stream/events/_dev/test/system/test-meraki-http-config.yml
  packages/cisco_meraki/data_stream/events/_dev/test/system/test-meraki-https-config.yml
  packages/cisco_meraki/data_stream/events/agent/stream/http_endpoint.yml.hbs
  packages/cisco_meraki/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/events/manifest.yml
  packages/cisco_meraki/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_meraki/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_meraki/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_meraki/manifest.yml
Labels: Integration:Cisco Meraki, bugfix, Team:Security-Service Integrations

#9417 slack: map md5 hash detail for files
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/slack/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/slack/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/slack/data_stream/audit/fields/ecs.yml
  packages/slack/data_stream/audit/fields/fields.yml
  packages/slack/docs/README.md
  packages/slack/manifest.yml
Labels: enhancement, Integration:Slack, Team:Security-Service Integrations

#9442 cisco_ios: fix handling of timezone configurations
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:CiscoIOS, bugfix, Team:Security-Deployment and Devices

#9433 [Cloud Security] Backport 1.8.1
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security

#9438 Fortigate logs parsing with kafka logstash
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-json.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-json.json-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bug, bugfix

#8917 feat [#8647]: mark linux integrations requiring root
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/manifest.yml
  packages/fim/changelog.yml
  packages/fim/manifest.yml
  packages/network_traffic/changelog.yml
  packages/network_traffic/manifest.yml
  packages/system_audit/changelog.yml
  packages/system_audit/manifest.yml
Labels: Integration:Network Packet Capture, Integration:FIM, Integration:Auditd Manager, Integration:Defend for Containers

#9285 citrix_waf: relax header format constraints
  packages/citrix_waf/changelog.yml
  packages/citrix_waf/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log
  packages/citrix_waf/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_waf/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_waf/manifest.yml
Labels: enhancement, Integration:CitrixWAF, Team:Security-Deployment and Devices

#9443 cisco_ios: fix bad auth grok processor handling of missing MD5 sums
  packages/cisco_ios/_dev/build/docs/README.md
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-badauth.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-badauth.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/docs/README.md
  packages/cisco_ios/manifest.yml
Labels: Integration:CiscoIOS, bugfix, Team:Security-Deployment and Devices

#9392 google_scc: update manifest version format to v3.0.3
  packages/google_scc/changelog.yml
  packages/google_scc/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/google_scc/data_stream/asset/elasticsearch/ingest_pipeline/pipeline_asset.yml
  packages/google_scc/data_stream/asset/fields/fields.yml
  packages/google_scc/docs/README.md
  packages/google_scc/manifest.yml
Labels: enhancement, Integration:Google Security Command Center, Team:Security-Service Integrations

#9311 http_endpoint: allow user specified HTTP method
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/data_stream/generic/agent/stream/http.yml.hbs
  packages/http_endpoint/data_stream/generic/manifest.yml
  packages/http_endpoint/manifest.yml
Labels: enhancement, Integration:Custom HTTP Endpoint, Team:Security-Service Integrations

#9431 [NetSkope] add UNIX format to the date processor on Alerts and Events datasets.
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/manifest.yml
Labels: Team:Security-Service Integrations

#9457 [LastPass] Fix page index for event reports
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/event_report/agent/stream/httpjson.yml.hbs
  packages/lastpass/manifest.yml
Labels: Integration:Lastpass, bugfix, Team:Security-Service Integrations

#9434 [Cloud Security] Fix cluster_id missing error in the Ingest Pipeline
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/elasticsearch/ingest_pipeline/default.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security

#9375 qualys_vmdr: expand CVE list for each vulnerability
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log-expected.json
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/fields/fields.yml
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration: Qualys VMDR, Team:Security-Service Integrations
