Repository elastic/integrations, pull requests merged in 2024-06, with the labels that each got.

#10053 [panw] Fix null dereference with absent certificate dates in decryption pipeline
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/decryption.yml
  packages/panw/manifest.yml
Labels: bug, Integration:PANW, Team:Security-Deployment and Devices

#10046 infoblox_nios: handle REFUSED log messages
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/fields/ecs.yml
  packages/infoblox_nios/data_stream/log/fields/fields.yml
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Integration:Infoblox_nios, Team:Security-Service Integrations

#10044 [windows] Add script block hash and signature to powershell pipelines
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-events.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-operational-events.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-powershell-operational-events.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/powershell_operational.yml
  packages/windows/data_stream/forwarded/fields/fields.yml
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json
  packages/windows/data_stream/powershell_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/powershell_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/data_stream/powershell_operational/fields/fields.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: enhancement, Integration:Windows, Team:Elastic-Agent-Data-Plane, Team:Security-Windows Platform

#10055 [Azure] [OpenAI] Enable sanitization by default
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/logs/manifest.yml
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9865 [AWS] Add common variables to all SQS-based AWS inputs
  packages/aws/_dev/benchmark/rally/billing-benchmark/config.yml
  packages/aws/_dev/benchmark/rally/billing-benchmark/fields.yml
  packages/aws/_dev/benchmark/rally/ec2_metrics-benchmark.yml
  packages/aws/_dev/benchmark/rally/sqs-benchmark.yml
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/apigateway_logs/fields/agent.yml
  packages/aws/data_stream/apigateway_logs/manifest.yml
  packages/aws/data_stream/apigateway_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/billing/manifest.yml
  packages/aws/data_stream/cloudfront_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudfront_logs/fields/agent.yml
  packages/aws/data_stream/cloudfront_logs/manifest.yml
  packages/aws/data_stream/cloudtrail/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudtrail/fields/agent.yml
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/base-fields.yml
  packages/aws/data_stream/dynamodb/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ebs/agent/stream/stream.yml.hbs
  packages/aws/data_stream/ec2_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/ec2_logs/fields/agent.yml
  packages/aws/data_stream/ec2_logs/manifest.yml
  packages/aws/data_stream/elb_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/elb_logs/fields/agent.yml
  packages/aws/data_stream/elb_logs/manifest.yml
  packages/aws/data_stream/elb_metrics/agent/stream/stream.yml.hbs
  packages/aws/data_stream/emr_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/emr_logs/fields/agent.yml
  packages/aws/data_stream/emr_logs/manifest.yml
  packages/aws/data_stream/firewall_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/firewall_logs/fields/agent.yml
  packages/aws/data_stream/firewall_logs/manifest.yml
  packages/aws/data_stream/guardduty/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/rds/agent/stream/stream.yml.hbs
  packages/aws/data_stream/route53_resolver_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/route53_resolver_logs/fields/agent.yml
  packages/aws/data_stream/route53_resolver_logs/manifest.yml
  packages/aws/data_stream/s3_storage_lens/agent/stream/stream.yml.hbs
  packages/aws/data_stream/s3access/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/s3access/fields/agent.yml
  packages/aws/data_stream/s3access/manifest.yml
  packages/aws/data_stream/usage/agent/stream/stream.yml.hbs
  packages/aws/data_stream/vpcflow/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/vpcflow/fields/agent.yml
  packages/aws/data_stream/vpcflow/manifest.yml
  packages/aws/data_stream/waf/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/waf/fields/agent.yml
  packages/aws/data_stream/waf/manifest.yml
  packages/aws/manifest.yml
Labels: enhancement

#10054 Use all process metrics values for endpoint
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/endpoint_security_metrics/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#9945 [Cisco FTD] Add parsing for addition message types
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Integration:CiscoFTD, Team:Security-Deployment and Devices

#10058 proofpoint_tap: improve query interval documentation to avoid request throttling
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/manifest.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/manifest.yml
  packages/proofpoint_tap/data_stream/message_blocked/manifest.yml
  packages/proofpoint_tap/data_stream/message_delivered/manifest.yml
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Integration:Proofpoint, Team:Security-Service Integrations

#10067 [cisco_asa] Add additional log types
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/ecs.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Integration:CiscoASA, Team:Security-Deployment and Devices

#9909 http_endpoint: provide request tracing support
  packages/http_endpoint/_dev/test/system/test-http-config.yml
  packages/http_endpoint/agent/input/http.yml.hbs
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/manifest.yml
Labels: enhancement, Integration:Custom HTTP Endpoint, Team:Security-Service Integrations

#9996 [O11y][Nagios_xi] Enable secret for the api_key field, update format version and add dashboard-level filters
  packages/nagios_xi/_dev/build/docs/README.md
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/nagios_xi/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/events/sample_event.json
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log
  packages/nagios_xi/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/sample_event.json
  packages/nagios_xi/data_stream/service/_dev/test/pipeline/test-service.log-expected.json
  packages/nagios_xi/data_stream/service/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/service/fields/ecs.yml
  packages/nagios_xi/data_stream/service/fields/fields.yml
  packages/nagios_xi/data_stream/service/sample_event.json
  packages/nagios_xi/docs/README.md
  packages/nagios_xi/kibana/dashboard/nagios_xi-3a61d470-a0fe-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9c265030-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9f8b2710-af64-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-d56317e0-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-160cc860-afe9-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-28e038b0-a133-11ec-9990-f1d1ce00d46d.json
  packages/nagios_xi/kibana/lens/nagios_xi-5993dab0-af71-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-5ae30940-af6c-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-6b0328b0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-6cfcf2f0-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-76083ee0-b0af-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/lens/nagios_xi-7afb9950-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-7ed96fc0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-8f926310-b03a-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-94eaa480-b03a-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-9e3ac090-a132-11ec-9990-f1d1ce00d46d.json
  packages/nagios_xi/kibana/lens/nagios_xi-a2bf8000-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-a9316ed0-a11f-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/lens/nagios_xi-ae575830-b01e-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-b6e1a520-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-b84bbc20-b0d0-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/lens/nagios_xi-d87c9200-b01f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/lens/nagios_xi-e3f8f220-b0a8-11ec-9d30-4dcd61bf6ba0.json
  packages/nagios_xi/kibana/search/nagios_xi-d26d3d60-a0fc-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/visualization/nagios_xi-8232e9a0-b036-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/manifest.yml
Labels: enhancement, Integration:NagiosXI

#9897 [O11y][HAProxy] Enable secret for the password field, update format version and add dashboard-level filters.
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/info/manifest.yml
  packages/haproxy/data_stream/stat/fields/agent.yml
  packages/haproxy/kibana/dashboard/haproxy-0836a4b0-47bd-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-3560d580-aa34-11e8-9c06-877f0445e3e0.json
  packages/haproxy/kibana/dashboard/haproxy-4b555c30-47dd-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-8cc50a50-47e0-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-9151c900-471d-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-d5878d00-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/dashboard/haproxy-e9057ae0-47c5-11e8-bc13-1397384faad3.json
  packages/haproxy/kibana/map/haproxy-b7d14510-e1dd-11ec-baf0-970634a1784d.json
  packages/haproxy/manifest.yml
Labels: enhancement

#10049 ti_abusech: Adjust field mappings for transform
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/elasticsearch/transform/latest_malware/fields/base-fields.yml
  packages/ti_abusech/elasticsearch/transform/latest_malware/fields/ecs.yml
  packages/ti_abusech/elasticsearch/transform/latest_malware/transform.yml
  packages/ti_abusech/elasticsearch/transform/latest_malwarebazaar/fields/base-fields.yml
  packages/ti_abusech/elasticsearch/transform/latest_malwarebazaar/fields/ecs.yml
  packages/ti_abusech/elasticsearch/transform/latest_malwarebazaar/transform.yml
  packages/ti_abusech/elasticsearch/transform/latest_threatfox/fields/base-fields.yml
  packages/ti_abusech/elasticsearch/transform/latest_threatfox/fields/ecs.yml
  packages/ti_abusech/elasticsearch/transform/latest_threatfox/transform.yml
  packages/ti_abusech/elasticsearch/transform/latest_url/fields/base-fields.yml
  packages/ti_abusech/elasticsearch/transform/latest_url/fields/ecs.yml
  packages/ti_abusech/elasticsearch/transform/latest_url/transform.yml
  packages/ti_abusech/manifest.yml
Labels: Integration:AbuseCH, bugfix

#10086 [Azure] [OpenAI] Revert metric types to gauges
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/metrics/fields/fields.yml
  packages/azure_openai/docs/README.md
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9532 [OpenCanary] Beta Push of New Integration
  .github/CODEOWNERS
  packages/opencanary/_dev/build/build.yml
  packages/opencanary/_dev/build/docs/README.md
  packages/opencanary/_dev/deploy/docker/docker-compose.yml
  packages/opencanary/_dev/deploy/docker/sample_logs/events.log
  packages/opencanary/changelog.yml
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-events.log
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/opencanary/data_stream/events/agent/stream/stream.yml.hbs
  packages/opencanary/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/opencanary/data_stream/events/fields/agent.yml
  packages/opencanary/data_stream/events/fields/base-fields.yml
  packages/opencanary/data_stream/events/fields/ecs.yml
  packages/opencanary/data_stream/events/fields/fields.yml
  packages/opencanary/data_stream/events/manifest.yml
  packages/opencanary/data_stream/events/sample_event.json
  packages/opencanary/docs/README.md
  packages/opencanary/img/logo.svg
  packages/opencanary/manifest.yml
  packages/opencanary/validation.yml
Labels: New Integration, Team:Security-Service Integrations, Integration:OpenCanary

#10062 ti_*: Add missing fields in transform destination indices (1)
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/elasticsearch/transform/latest_threat/fields/base-fields.yml
  packages/ti_cif3/elasticsearch/transform/latest_threat/fields/ecs.yml
  packages/ti_cif3/elasticsearch/transform/latest_threat/transform.yml
  packages/ti_cif3/manifest.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/base-fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/ecs.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/transform.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_crowdstrike/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_cybersixgill/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_cybersixgill/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_cybersixgill/manifest.yml
  packages/ti_eclecticiq/changelog.yml
  packages/ti_eclecticiq/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_eclecticiq/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_eclecticiq/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_eclecticiq/manifest.yml
  packages/ti_eset/changelog.yml
  packages/ti_eset/data_stream/apt/fields/base-fields.yml
  packages/ti_eset/data_stream/botnet/fields/base-fields.yml
  packages/ti_eset/data_stream/cc/fields/base-fields.yml
  packages/ti_eset/data_stream/domains/fields/base-fields.yml
  packages/ti_eset/data_stream/files/fields/base-fields.yml
  packages/ti_eset/data_stream/ip/fields/base-fields.yml
  packages/ti_eset/data_stream/url/fields/base-fields.yml
  packages/ti_eset/docs/README.md
  packages/ti_eset/elasticsearch/transform/apt_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/apt_latest_ioc/transform.yml
  packages/ti_eset/elasticsearch/transform/botnet_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/botnet_latest_ioc/transform.yml
  packages/ti_eset/elasticsearch/transform/cc_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/cc_latest_ioc/transform.yml
  packages/ti_eset/elasticsearch/transform/domains_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/domains_latest_ioc/transform.yml
  packages/ti_eset/elasticsearch/transform/files_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/files_latest_ioc/transform.yml
  packages/ti_eset/elasticsearch/transform/ip_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/ip_latest_ioc/transform.yml
  packages/ti_eset/elasticsearch/transform/url_latest_ioc/fields/ecs.yml
  packages/ti_eset/elasticsearch/transform/url_latest_ioc/transform.yml
  packages/ti_eset/manifest.yml
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/data_stream/indicator/fields/base-fields.yml
  packages/ti_maltiverse/docs/README.md
  packages/ti_maltiverse/elasticsearch/transform/latest/fields/fields.yml
  packages/ti_maltiverse/elasticsearch/transform/latest/transform.yml
  packages/ti_maltiverse/manifest.yml
Labels: bugfix, Team:Security-Service Integrations

#10066 ti_*: Add missing fields in transform destination indices (2)
  packages/ti_misp/changelog.yml
  packages/ti_misp/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_misp/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_misp/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_misp/manifest.yml
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/fields/ecs.yml
  packages/ti_opencti/docs/README.md
  packages/ti_opencti/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_opencti/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_opencti/manifest.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_recordedfuture/manifest.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/base-fields.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/ecs.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/transform.yml
  packages/ti_threatconnect/manifest.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_threatq/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_threatq/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_threatq/manifest.yml
Labels: bugfix, Team:Security-Service Integrations

#10100 Update Index Configuration, Mapping and Data Views
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/asset.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-2773feaf-50bb-43f8-9fa9-8f9a5f85e566.json
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-b4949290-465a-44ac-829a-099642147567.json
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-c9edb0f7-b901-44b0-8a64-1110053bc9cc.json
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement

#10098 [fortinet_fortiproxy]: update documentation
  packages/fortinet_fortiproxy/_dev/deploy/docker/sample_logs/fortinet-fortiproxy.log
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/pipeline/test-example.log
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/pipeline/test-example.log-expected.json
  packages/fortinet_fortiproxy/data_stream/log/sample_event.json
  packages/fortinet_fortiproxy/docs/README.md
  packages/fortinet_fortiproxy/manifest.yml
Labels: Team:Security-Deployment and Devices, Integration:Fortinet_FortiProxy

#10105 [fortinet_fortiproxy] Add security solution tags and expand categories.
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/kibana/tags.yml
  packages/fortinet_fortiproxy/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:Fortinet_FortiProxy

#10102 [sentinel_one] Add agent.id to all agent related data
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/agent/_dev/test/pipeline/test-pipeline-agent.log-expected.json
  packages/sentinel_one/data_stream/agent/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/agent/fields/fields.yml
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log-expected.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/fields/fields.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:SentinelOne, Team:Security-Service Integrations

#9337 Stormshield/create first integration
  .github/CODEOWNERS
  packages/stormshield/LICENSE.txt
  packages/stormshield/_dev/build/build.yml
  packages/stormshield/_dev/build/docs/README.md
  packages/stormshield/_dev/deploy/docker/docker-compose.yml
  packages/stormshield/_dev/deploy/docker/sample_logs/stormshield.log
  packages/stormshield/changelog.yml
  packages/stormshield/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/stormshield/data_stream/log/_dev/test/pipeline/test-firewall.log
  packages/stormshield/data_stream/log/_dev/test/pipeline/test-firewall.log-expected.json
  packages/stormshield/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/stormshield/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/stormshield/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/stormshield/data_stream/log/agent/stream/tcp.yml.hbs
  packages/stormshield/data_stream/log/agent/stream/udp.yml.hbs
  packages/stormshield/data_stream/log/elasticsearch/ingest_pipeline/count.yml
  packages/stormshield/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/stormshield/data_stream/log/elasticsearch/ingest_pipeline/filterstat.yml
  packages/stormshield/data_stream/log/elasticsearch/ingest_pipeline/monitor.yml
  packages/stormshield/data_stream/log/fields/base-fields.yml
  packages/stormshield/data_stream/log/fields/ecs.yml
  packages/stormshield/data_stream/log/fields/fields.yml
  packages/stormshield/data_stream/log/manifest.yml
  packages/stormshield/data_stream/log/sample_event.json
  packages/stormshield/docs/README.md
  packages/stormshield/img/add-integration.png
  packages/stormshield/img/configuration-syslog.png
  packages/stormshield/img/dashboard.png
  packages/stormshield/img/stormshield_logo.png
  packages/stormshield/kibana/dashboard/stormshield-5be8e340-235b-11ef-8b33-572717a2fc0b.json
  packages/stormshield/kibana/tags.yml
  packages/stormshield/manifest.yml
Labels: New Integration, Team:Security-Deployment and Devices

#10115 ti_misp: allow user configuration of event limit in threat data stream
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat/manifest.yml
  packages/ti_misp/manifest.yml
Labels: enhancement, Integration:MISP, Team:Security-Service Integrations

#9860 [M365 Defender] Adjust mappings for detection rules
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/event/fields/ecs.yml
  packages/m365_defender/data_stream/event/fields/fields.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/ti_rapid7_threat_command/data_stream/ioc/_dev/test/pipeline/test-common-config.yml
Labels: enhancement, Integration: M365_Defender, Team:Security-Service Integrations, Category: 3rd EDR

#9131 Traefik 2.x access-log support
  packages/traefik/_dev/build/build.yml
  packages/traefik/_dev/build/docs/README.md
  packages/traefik/changelog.yml
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-common.log
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-common.log-expected.json
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-json.log
  packages/traefik/data_stream/access/_dev/test/pipeline/test-format-json.log-expected.json
  packages/traefik/data_stream/access/_dev/test/system/test-format-common-config.yml
  packages/traefik/data_stream/access/_dev/test/system/test-format-json-config.yml
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/format-common.yml
  packages/traefik/data_stream/access/elasticsearch/ingest_pipeline/format-json.yml
  packages/traefik/data_stream/access/fields/agent.yml
  packages/traefik/data_stream/access/fields/ecs.yml
  packages/traefik/data_stream/access/fields/fields.yml
  packages/traefik/data_stream/access/sample_event.json
  packages/traefik/data_stream/health/_dev/test/system/test-default-config.yml
  packages/traefik/data_stream/health/fields/ecs.yml
  packages/traefik/data_stream/health/sample_event.json
  packages/traefik/docs/README.md
  packages/traefik/kibana/dashboard/traefik-Logs-Traefik-Dashboard.json
  packages/traefik/manifest.yml
Labels: Integration:Traefik, Team:Obs-InfraObs

#10126 [Security Rules] Update security rules package to v8.12.14-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/054db96b-fd34-43b3-9af2-587b3bd33964_4.json
  packages/security_detection_engine/kibana/security_rule/1251b98a-ff45-11ee-89a1-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/13e908b9-7bf0-4235-abc9-b5deb500d0ad_6.json
  packages/security_detection_engine/kibana/security_rule/151d8f72-0747-11ef-a0c2-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/15a8ba77-1c13-4274-88fe-6bd14133861e_111.json
  packages/security_detection_engine/kibana/security_rule/16fac1a1-21ee-4ca6-b720-458e3855d046_110.json
  packages/security_detection_engine/kibana/security_rule/17b0a495-4d9f-414c-8ad0-92f018b8e001_11.json
  packages/security_detection_engine/kibana/security_rule/185c782e-f86a-11ee-9d9f-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/192657ba-ab0e-4901-89a2-911d611eee98_1.json
  packages/security_detection_engine/kibana/security_rule/1d4ca9c0-ff1e-11ee-91cc-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_208.json
  packages/security_detection_engine/kibana/security_rule/28f6f34b-8e16-487a-b5fd-9d22eb903db8_2.json
  packages/security_detection_engine/kibana/security_rule/30fbf4db-c502-4e68-a239-2e99af0f70da_1.json
  packages/security_detection_engine/kibana/security_rule/3115bd2c-0baa-4df0-80ea-45e474b5ef93_102.json
  packages/security_detection_engine/kibana/security_rule/4494c14f-5ff8-4ed2-8e99-bf816a1642fc_4.json
  packages/security_detection_engine/kibana/security_rule/4ec47004-b34a-42e6-8003-376a123ea447_10.json
  packages/security_detection_engine/kibana/security_rule/5397080f-34e5-449b-8e9c-4c8083d7ccc6_6.json
  packages/security_detection_engine/kibana/security_rule/5b9eb30f-87d6-45f4-9289-2bf2024f0376_5.json
  packages/security_detection_engine/kibana/security_rule/5cd8e1f7-0050-4afc-b2df-904e40b2f5ae_110.json
  packages/security_detection_engine/kibana/security_rule/63431796-f813-43af-820b-492ee2efec8e_1.json
  packages/security_detection_engine/kibana/security_rule/684554fc-0777-47ce-8c9b-3d01f198d7f8_207.json
  packages/security_detection_engine/kibana/security_rule/71de53ea-ff3b-11ee-b572-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/79ce2c96-72f7-44f9-88ef-60fa1ac2ce47_5.json
  packages/security_detection_engine/kibana/security_rule/7c2e1297-7664-42bc-af11-6d5d35220b6b_1.json
  packages/security_detection_engine/kibana/security_rule/7d091a76-0737-11ef-8469-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/7df3cb8b-5c0c-4228-b772-bb6cd619053c_1.json
  packages/security_detection_engine/kibana/security_rule/7fb500fa-8e24-4bd1-9480-2a819352602c_11.json
  packages/security_detection_engine/kibana/security_rule/84755a05-78c8-4430-8681-89cd6c857d71_1.json
  packages/security_detection_engine/kibana/security_rule/873b5452-074e-11ef-852e-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/88817a33-60d3-411f-ba79-7c905d865b2a_108.json
  packages/security_detection_engine/kibana/security_rule/88fdcb8c-60e5-46ee-9206-2663adf1b1ce_106.json
  packages/security_detection_engine/kibana/security_rule/94418745-529f-4259-8d25-a713a6feb6ae_1.json
  packages/security_detection_engine/kibana/security_rule/96d11d31-9a79-480f-8401-da28b194608f_11.json
  packages/security_detection_engine/kibana/security_rule/994e40aa-8c85-43de-825e-15f665375ee8_6.json
  packages/security_detection_engine/kibana/security_rule/a00681e3-9ed6-447c-ab2c-be648821c622_312.json
  packages/security_detection_engine/kibana/security_rule/a8aaa49d-9834-462d-bf8f-b1255cebc004_1.json
  packages/security_detection_engine/kibana/security_rule/adbfa3ee-777e-4747-b6b0-7bd645f30880_5.json
  packages/security_detection_engine/kibana/security_rule/b9554892-5e0e-424b-83a0-5aef95aa43bf_110.json
  packages/security_detection_engine/kibana/security_rule/bcaa15ce-2d41-44d7-a322-918f9db77766_5.json
  packages/security_detection_engine/kibana/security_rule/c0429aa8-9974-42da-bfb6-53a0a515a145_110.json
  packages/security_detection_engine/kibana/security_rule/c1e79a70-fa6f-11ee-8bc8-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_6.json
  packages/security_detection_engine/kibana/security_rule/da7f5803-1cd4-42fd-a890-0173ae80ac69_5.json
  packages/security_detection_engine/kibana/security_rule/dd52d45a-4602-4195-9018-ebe0f219c273_1.json
  packages/security_detection_engine/kibana/security_rule/e8c9ff14-fd1e-11ee-a0df-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/f18a474c-3632-427f-bcf5-363c994309ee_1.json
  packages/security_detection_engine/kibana/security_rule/f28e2be4-6eca-4349-bdd9-381573730c22_110.json
  packages/security_detection_engine/kibana/security_rule/f3403393-1fd9-4686-8f6e-596c58bc00b4_5.json
  packages/security_detection_engine/kibana/security_rule/f48ecc44-7d02-437d-9562-b838d2c41987_1.json
  packages/security_detection_engine/kibana/security_rule/fb01d790-9f74-4e76-97dd-b4b0f7bf6435_105.json
  packages/security_detection_engine/kibana/security_rule/fd332492-0bc6-11ef-b5be-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/fda1d332-5e08-4f27-8a9b-8c802e3292a6_9.json
  packages/security_detection_engine/kibana/security_rule/ff0d807d-869b-4a0d-a493-52bc46d2f1b1_5.json
  packages/security_detection_engine/kibana/security_rule/ff10d4d8-fea7-422d-afb1-e5a2702369a9_11.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10125 [Security Rules] Update security rules package to v8.11.18-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/054db96b-fd34-43b3-9af2-587b3bd33964_4.json
  packages/security_detection_engine/kibana/security_rule/1251b98a-ff45-11ee-89a1-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/13e908b9-7bf0-4235-abc9-b5deb500d0ad_6.json
  packages/security_detection_engine/kibana/security_rule/151d8f72-0747-11ef-a0c2-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/15a8ba77-1c13-4274-88fe-6bd14133861e_111.json
  packages/security_detection_engine/kibana/security_rule/16fac1a1-21ee-4ca6-b720-458e3855d046_110.json
  packages/security_detection_engine/kibana/security_rule/17b0a495-4d9f-414c-8ad0-92f018b8e001_11.json
  packages/security_detection_engine/kibana/security_rule/185c782e-f86a-11ee-9d9f-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/192657ba-ab0e-4901-89a2-911d611eee98_1.json
  packages/security_detection_engine/kibana/security_rule/1d4ca9c0-ff1e-11ee-91cc-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_208.json
  packages/security_detection_engine/kibana/security_rule/28f6f34b-8e16-487a-b5fd-9d22eb903db8_2.json
  packages/security_detection_engine/kibana/security_rule/30fbf4db-c502-4e68-a239-2e99af0f70da_1.json
  packages/security_detection_engine/kibana/security_rule/3115bd2c-0baa-4df0-80ea-45e474b5ef93_102.json
  packages/security_detection_engine/kibana/security_rule/4494c14f-5ff8-4ed2-8e99-bf816a1642fc_4.json
  packages/security_detection_engine/kibana/security_rule/4ec47004-b34a-42e6-8003-376a123ea447_10.json
  packages/security_detection_engine/kibana/security_rule/5397080f-34e5-449b-8e9c-4c8083d7ccc6_6.json
  packages/security_detection_engine/kibana/security_rule/5b9eb30f-87d6-45f4-9289-2bf2024f0376_5.json
  packages/security_detection_engine/kibana/security_rule/5cd8e1f7-0050-4afc-b2df-904e40b2f5ae_110.json
  packages/security_detection_engine/kibana/security_rule/63431796-f813-43af-820b-492ee2efec8e_1.json
  packages/security_detection_engine/kibana/security_rule/684554fc-0777-47ce-8c9b-3d01f198d7f8_207.json
  packages/security_detection_engine/kibana/security_rule/71de53ea-ff3b-11ee-b572-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/79ce2c96-72f7-44f9-88ef-60fa1ac2ce47_5.json
  packages/security_detection_engine/kibana/security_rule/7c2e1297-7664-42bc-af11-6d5d35220b6b_1.json
  packages/security_detection_engine/kibana/security_rule/7d091a76-0737-11ef-8469-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/7df3cb8b-5c0c-4228-b772-bb6cd619053c_1.json
  packages/security_detection_engine/kibana/security_rule/7fb500fa-8e24-4bd1-9480-2a819352602c_11.json
  packages/security_detection_engine/kibana/security_rule/84755a05-78c8-4430-8681-89cd6c857d71_1.json
  packages/security_detection_engine/kibana/security_rule/873b5452-074e-11ef-852e-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/88817a33-60d3-411f-ba79-7c905d865b2a_108.json
  packages/security_detection_engine/kibana/security_rule/88fdcb8c-60e5-46ee-9206-2663adf1b1ce_106.json
  packages/security_detection_engine/kibana/security_rule/94418745-529f-4259-8d25-a713a6feb6ae_1.json
  packages/security_detection_engine/kibana/security_rule/96d11d31-9a79-480f-8401-da28b194608f_11.json
  packages/security_detection_engine/kibana/security_rule/994e40aa-8c85-43de-825e-15f665375ee8_6.json
  packages/security_detection_engine/kibana/security_rule/a00681e3-9ed6-447c-ab2c-be648821c622_312.json
  packages/security_detection_engine/kibana/security_rule/a8aaa49d-9834-462d-bf8f-b1255cebc004_1.json
  packages/security_detection_engine/kibana/security_rule/adbfa3ee-777e-4747-b6b0-7bd645f30880_5.json
  packages/security_detection_engine/kibana/security_rule/b9554892-5e0e-424b-83a0-5aef95aa43bf_110.json
  packages/security_detection_engine/kibana/security_rule/bcaa15ce-2d41-44d7-a322-918f9db77766_5.json
  packages/security_detection_engine/kibana/security_rule/c0429aa8-9974-42da-bfb6-53a0a515a145_110.json
  packages/security_detection_engine/kibana/security_rule/c1e79a70-fa6f-11ee-8bc8-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_6.json
  packages/security_detection_engine/kibana/security_rule/da7f5803-1cd4-42fd-a890-0173ae80ac69_5.json
  packages/security_detection_engine/kibana/security_rule/dd52d45a-4602-4195-9018-ebe0f219c273_1.json
  packages/security_detection_engine/kibana/security_rule/e8c9ff14-fd1e-11ee-a0df-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/f18a474c-3632-427f-bcf5-363c994309ee_1.json
  packages/security_detection_engine/kibana/security_rule/f28e2be4-6eca-4349-bdd9-381573730c22_110.json
  packages/security_detection_engine/kibana/security_rule/f3403393-1fd9-4686-8f6e-596c58bc00b4_5.json
  packages/security_detection_engine/kibana/security_rule/f48ecc44-7d02-437d-9562-b838d2c41987_1.json
  packages/security_detection_engine/kibana/security_rule/fb01d790-9f74-4e76-97dd-b4b0f7bf6435_105.json
  packages/security_detection_engine/kibana/security_rule/fd332492-0bc6-11ef-b5be-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/fda1d332-5e08-4f27-8a9b-8c802e3292a6_9.json
  packages/security_detection_engine/kibana/security_rule/ff0d807d-869b-4a0d-a493-52bc46d2f1b1_5.json
  packages/security_detection_engine/kibana/security_rule/ff10d4d8-fea7-422d-afb1-e5a2702369a9_11.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10130 [Security Rules] Update security rules package to v8.11.18
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10131 [Security Rules] Update security rules package to v8.12.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10132 [Security Rules] Update security rules package to v8.13.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10124 crowdstrike: Add `device.id` field.
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-event-stream.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:Crowdstrike, Team:Security-Service Integrations

#10136 all: fix sample events to agree with ECS
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/sample_event.json
  packages/cisco_umbrella/docs/README.md
  packages/cisco_umbrella/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/am_access/sample_event.json
  packages/forgerock/data_stream/am_activity/sample_event.json
  packages/forgerock/data_stream/am_authentication/sample_event.json
  packages/forgerock/data_stream/am_config/sample_event.json
  packages/forgerock/data_stream/am_core/sample_event.json
  packages/forgerock/data_stream/idm_access/sample_event.json
  packages/forgerock/data_stream/idm_activity/sample_event.json
  packages/forgerock/data_stream/idm_authentication/sample_event.json
  packages/forgerock/data_stream/idm_config/sample_event.json
  packages/forgerock/data_stream/idm_core/sample_event.json
  packages/forgerock/data_stream/idm_sync/sample_event.json
  packages/forgerock/docs/README.md
  packages/forgerock/manifest.yml
  packages/lumos/changelog.yml
  packages/lumos/data_stream/activity_logs/sample_event.json
  packages/lumos/docs/README.md
  packages/lumos/manifest.yml
  packages/mattermost/changelog.yml
  packages/mattermost/data_stream/audit/sample_event.json
  packages/mattermost/docs/README.md
  packages/mattermost/manifest.yml
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/sample_event.json
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/sample_event.json
  packages/pulse_connect_secure/docs/README.md
  packages/pulse_connect_secure/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/group/sample_event.json
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/sample_event.json
  packages/ti_cybersixgill/docs/README.md
  packages/ti_cybersixgill/manifest.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/data_stream/audit/sample_event.json
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: bugfix, Team:Security-Service Integrations

#10025 Update MSSQL doc for version requirements
  packages/microsoft_sqlserver/_dev/build/docs/README.md
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: documentation, enhancement, Integration:microsoft_sqlserver

#10142 Replace Azure AD with Microsoft Entra ID
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/changelog.yml
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
  packages/azure_functions/_dev/build/docs/README.md
  packages/azure_functions/changelog.yml
  packages/azure_functions/docs/README.md
  packages/azure_functions/manifest.yml
Labels: documentation, enhancement

#10140 [panw] Improve handling of urls and filenames when parsing anti-virus events
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/threat.yml
  packages/panw/manifest.yml
Labels: enhancement, Integration:PANW, Team:Security-Deployment and Devices

#10141 [Buildkite] Update default timeout for pipeline serverless
  .buildkite/pipeline.serverless.yml
Labels: ci

#10144 [Amazon Security Lake] - Removed support for SQS since it is not supported at the input level
  packages/amazon_security_lake/_dev/build/docs/README.md
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/amazon_security_lake/data_stream/event/manifest.yml
  packages/amazon_security_lake/docs/README.md
  packages/amazon_security_lake/manifest.yml
Labels: integration, bugfix, Team:Security-Service Integrations

#10156 ti_abusech: improve error handling and reporting in malwarebazaar data stream
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malwarebazaar/agent/stream/cel.yml.hbs
  packages/ti_abusech/manifest.yml
Labels: enhancement, Integration:AbuseCH, Team:Security-Service Integrations

#10103 [sentinel_one] Change default interval to 30s for all data streams
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/manifest.yml
  packages/sentinel_one/data_stream/agent/manifest.yml
  packages/sentinel_one/data_stream/alert/manifest.yml
  packages/sentinel_one/data_stream/group/manifest.yml
  packages/sentinel_one/data_stream/threat/manifest.yml
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:SentinelOne, Team:Security-Service Integrations

#10147 [CiscoIOS] Restore system Message handling for Cisco IOS
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Team:Security-Deployment and Devices

#10035 qualys_vmdr - user_activity fixes
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/user_activity/_dev/test/system/test-user-activity-config.yml
  packages/qualys_vmdr/data_stream/user_activity/agent/stream/cel.yml.hbs
  packages/qualys_vmdr/data_stream/user_activity/manifest.yml
  packages/qualys_vmdr/manifest.yml
Labels: Integration: Qualys VMDR

#10172 [microsoft_exchange_online_message_trace] Fix template to not fail without local domains.
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_exchange_online_message_trace/data_stream/log/agent/stream/log.yml.hbs
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: Integration:MicrosoftExchangeOnlineMessageTrace, bugfix, Team:Security-Windows Platform

#10031 [elastic_agent] Agent Metrics Dashboard improvements
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/endpoint_security_metrics/fields/fields.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#10134 cylance,ti_opencti: fix up package validation issues
  packages/cylance/changelog.yml
  packages/cylance/manifest.yml
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/fields/ecs.yml
  packages/ti_opencti/data_stream/indicator/sample_event.json
  packages/ti_opencti/docs/README.md
  packages/ti_opencti/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_opencti/manifest.yml
Labels: enhancement, Integration:Cylance, Integration:OpenCTI, Team:Security-Service Integrations

#10188 qualys_vmdr: fix date format to match user activity api behaviour
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/user_activity/agent/stream/cel.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration: Qualys VMDR, Team:Security-Service Integrations

#10187 o365: improve handling of o365.audit.AdditionalInfo
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-stringly-json-events.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-stringly-json-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#10186 sentinel_one: fix sample event mac address
  packages/sentinel_one/_dev/deploy/docker/files/config.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: Integration:SentinelOne, bugfix, Team:Security-Service Integrations

#9913 [Apache.Access] Added response_time in microseconds as a field to apache access data_stream
  packages/apache/_dev/build/docs/README.md
  packages/apache/changelog.yml
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-basic.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-darwin.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ssl-request.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-ubuntu.log-expected.json
  packages/apache/data_stream/access/_dev/test/pipeline/test-access-vhost.log-expected.json
  packages/apache/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache/data_stream/access/fields/fields.yml
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-basic.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-darwin.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-trace.log-expected.json
  packages/apache/data_stream/error/_dev/test/pipeline/test-error-ubuntu.log-expected.json
  packages/apache/docs/README.md
  packages/apache/manifest.yml
Labels: enhancement, Integration:Apache

#10180 Fix formatting of filesystem ignore types
  packages/system/changelog.yml
  packages/system/data_stream/filesystem/agent/stream/stream.yml.hbs
  packages/system/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs, Team:Security-Linux Platform, Team:Security-Windows Platform

#10203 [ti_opencti] Ignore missing createdBy, improve reg hive name handling
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-ipv4-addr-createdby-is-null.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-ipv4-addr-createdby-is-null.json-expected.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-windows-registry-key-no-hive.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-windows-registry-key-no-hive.json-expected.json
  packages/ti_opencti/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_opencti/data_stream/indicator/elasticsearch/ingest_pipeline/ecs_from_windows_registry_key.yml
  packages/ti_opencti/manifest.yml
Labels: bugfix, Integration:OpenCTI, Team:Security-Service Integrations

#10182 Remove references to Kibana versions from READMEs
  packages/azure_network_watcher_nsg/_dev/build/docs/README.md
  packages/azure_network_watcher_nsg/changelog.yml
  packages/azure_network_watcher_nsg/docs/README.md
  packages/azure_network_watcher_nsg/manifest.yml
  packages/azure_network_watcher_vnet/_dev/build/docs/README.md
  packages/azure_network_watcher_vnet/changelog.yml
  packages/azure_network_watcher_vnet/docs/README.md
  packages/azure_network_watcher_vnet/manifest.yml
  packages/eset_protect/_dev/build/docs/README.md
  packages/eset_protect/changelog.yml
  packages/eset_protect/docs/README.md
  packages/eset_protect/manifest.yml
  packages/imperva_cloud_waf/_dev/build/docs/README.md
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/docs/README.md
  packages/imperva_cloud_waf/manifest.yml
  packages/sentinel_one_cloud_funnel/_dev/build/docs/README.md
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
  packages/symantec_edr_cloud/_dev/build/docs/README.md
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/docs/README.md
  packages/symantec_edr_cloud/manifest.yml
  packages/ti_crowdstrike/_dev/build/docs/README.md
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/manifest.yml
  packages/ti_eset/_dev/build/docs/README.md
  packages/ti_eset/changelog.yml
  packages/ti_eset/docs/README.md
  packages/ti_eset/manifest.yml
Labels: bugfix, Integration:SentinelOne Cloud Funnel, Integration:ESETProtect, Integration:TI Crowdstrike, Team:Security-Service Integrations, Integration:Imperva Cloud WAF, Integration:Azure-Network-Watcher-VNet, Integration:Azure-Network-Watcher-NSG, Integration:Symantec EDR Cloud, Integration:TI ESET

#10179 m365_defender: Improve ECS Mappings for Detection Rules
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration: M365_Defender, Team:Security-Service Integrations

#10229 [cisco_asa] Extract user agent from 722055 logs to correct field
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/ecs.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: bug, Integration:CiscoASA, Team:Security-Deployment and Devices

#10226 Prevent failure on not encoded url`s
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:ZscalerZIA, Team:Security-Service Integrations

#10232 ti_eclecticiq: Add CEL resource.tracer limit
  packages/ti_eclecticiq/changelog.yml
  packages/ti_eclecticiq/data_stream/threat/agent/stream/input.yml.hbs
  packages/ti_eclecticiq/manifest.yml
Labels: enhancement, Integration:EclecticIQ, Team:Security-Service Integrations

#10233 o365: Increase CEL tracer log count
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#10198 [winlog] Preserve original event when toggled on
  packages/winlog/agent/input/winlog.yml.hbs
  packages/winlog/changelog.yml
  packages/winlog/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane, Team:Security-Windows Platform

#10241 [Security Rules] Update security rules package to v8.11.19
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10242 [Security Rules] Update security rules package to v8.12.15
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10244 [Security Rules] Update security rules package to v8.13.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10245 [Security Rules] Update security rules package to v8.14.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10243 [cisco_asa] Loosen a grok pattern for a Customer issue
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: bugfix

#10194 Added `multi: true` to `audit_rule_files`
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/manifest.yml
  packages/auditd_manager/manifest.yml
Labels: bug, Integration:Auditd Manager, Team:Security-Linux Platform

#10270 [panw] Normalize log.level to lowercase
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: bug, Integration:PANW, Team:Security-Deployment and Devices

#10281 Add user mappings for Cloud Security Posture
  packages/cloud_security_posture/data_stream/findings/fields/ecs.yml
Labels: enhancement

#10286 symantec_edr_cloud: improve http error handling
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/data_stream/incident/agent/stream/cel.yml.hbs
  packages/symantec_edr_cloud/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_edr_cloud/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:Symantec EDR Cloud

#10159 GCP: Redis Field Type Fix
  packages/gcp/changelog.yml
  packages/gcp/data_stream/redis/fields/fields.yml
  packages/gcp/docs/README.md
  packages/gcp/docs/redis.md
  packages/gcp/manifest.yml
Labels: Integration:GCP

#10280 m365_defender: Fix process executable containing duplicate process name.
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: Integration: M365_Defender, bugfix, Team:Security-Service Integrations

#10299 [Security Rules] Update security rules package to v8.12.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10300 [Security Rules] Update security rules package to v8.11.20
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10301 [Security Rules] Update security rules package to v8.13.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10302 [Security Rules] Update security rules package to v8.14.5
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10291 [Zscaler] add additional condition to failure processor
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:ZscalerZIA, Team:Security-Service Integrations

#10006 [teleport] Initial release of Teleport integration
  .github/CODEOWNERS
  packages/teleport/LICENSE.txt
  packages/teleport/_dev/build/build.yml
  packages/teleport/_dev/build/docs/README.md
  packages/teleport/_dev/deploy/docker/docker-compose.yml
  packages/teleport/_dev/deploy/docker/sample_logs/test-teleport-all-events.log
  packages/teleport/_dev/deploy/docker/sample_logs/test-teleport-generated.log
  packages/teleport/changelog.yml
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-teleport-all-events.log
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-teleport-all-events.log-expected.json
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-teleport-generated.log
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-teleport-generated.log-expected.json
  packages/teleport/data_stream/audit/_dev/test/system/test-filestream-config.yml
  packages/teleport/data_stream/audit/agent/stream/filestream.yml.hbs
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/event-categories.yml
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/event-enrich.yml
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/event-groups.yml
  packages/teleport/data_stream/audit/fields/base-fields.yml
  packages/teleport/data_stream/audit/fields/beats.yml
  packages/teleport/data_stream/audit/fields/fields.yml
  packages/teleport/data_stream/audit/manifest.yml
  packages/teleport/data_stream/audit/sample_event.json
  packages/teleport/docs/README.md
  packages/teleport/img/teleport-dashboard-main-chrome.png
  packages/teleport/img/teleport-dashboard-related-user-chrome.png
  packages/teleport/img/teleport-logo.svg
  packages/teleport/kibana/dashboard/teleport-6ed390ba-aab9-446c-9b9b-f4fc1867656c.json
  packages/teleport/kibana/search/teleport-837113b5-1bdb-4a90-9336-e05d39db8707.json
  packages/teleport/manifest.yml
  packages/teleport/validation.yml
Labels: enhancement, Category: Identity & Access Management, New Integration, Team:Security-Service Integrations, Team:Security-Scalability, Integration:Teleport, Integration Assistant

#10278 wiz: fix state retention between iterations
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/issue/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/issue/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/manifest.yml
Labels: enhancement, bugfix, Integration:Wiz, Team:Security-Service Integrations
