Repository elastic/integrations, pull requests merged in 2024-05, with the labels that each got.

#9716 crowdstrike: refactor alert and host collectors and improve error handling
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:Crowdstrike, Team:Security-Service Integrations

#9734 [Buildkite] Update pre-command hook
  .buildkite/hooks/pre-command
  .buildkite/pipeline.publish.yml
Labels: ci

#9765 Add panel to dashboard, add percent field
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/auditbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/cloudbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/elastic_agent_metrics/fields/beat-stats-fields.yml
  packages/elastic_agent/data_stream/filebeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/heartbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/metricbeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/osquerybeat_logs/fields/fields.yml
  packages/elastic_agent/data_stream/packetbeat_logs/fields/fields.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent

#9741 Update Buildkite pipelines in backport branch (backport-security_detection_engine-8.12)
  .buildkite/hooks/pre-command
  .buildkite/pipeline.publish.yml
  .buildkite/pipeline.schedule-daily.yml
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  .buildkite/pull-requests.json
  .buildkite/scripts/common.sh
  .buildkite/scripts/run_sonar_scanner.sh
Labels: ci

#9745 Update Buildkite pipelines in backport branch (backport-cloud_security_posture-1.8)
  .buildkite/hooks/pre-command
  .buildkite/pipeline.publish.yml
  .buildkite/pipeline.schedule-daily.yml
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  .buildkite/pull-requests.json
  .buildkite/scripts/common.sh
Labels: ci

#9775 [cisco_ftd] Parse src/dst in 313005 messages
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices

#9778 [eset_protect][imperva_cloud_waf][sentinal_one_cloud_funnel][ti_crowdstrike] Use modern ecs@mappings
  packages/eset_protect/_dev/build/build.yml
  packages/eset_protect/changelog.yml
  packages/eset_protect/manifest.yml
  packages/imperva_cloud_waf/_dev/build/build.yml
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/manifest.yml
  packages/sentinel_one_cloud_funnel/_dev/build/build.yml
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
  packages/ti_crowdstrike/_dev/build/build.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/manifest.yml
Labels: enhancement, Integration: SentinelOne Cloud Funnel, Integration:ESETProtect, Integration:TI Crowdstrike, Team:Security-Service Integrations, Integration:Imperva Cloud WAF

#9784 aws_bedrock: fix markdown
  packages/aws_bedrock/_dev/build/docs/README.md
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations

#9725 [integrations][Custom GCS] - Converted Custom GCS integration to Input Package type
  packages/google_cloud_storage/_dev/build/docs/README.md
  packages/google_cloud_storage/_dev/test/system/test-default-config.yml
  packages/google_cloud_storage/agent/input/gcs.yml.hbs
  packages/google_cloud_storage/changelog.yml
  packages/google_cloud_storage/data_stream/generic/_dev/test/system/test-default-config.yml
  packages/google_cloud_storage/data_stream/generic/manifest.yml
  packages/google_cloud_storage/docs/README.md
  packages/google_cloud_storage/fields/agent.yml
  packages/google_cloud_storage/fields/base-fields.yml
  packages/google_cloud_storage/fields/beats.yml
  packages/google_cloud_storage/fields/fields.yml
  packages/google_cloud_storage/manifest.yml
  packages/google_cloud_storage/sample_event.json
Labels: enhancement, integration, Team:Security-Service Integrations, 8.14 candidate

#9730 aws_logs: improve clarity and validity of system testing
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/_dev/deploy/tf/files/test.log
  packages/aws_logs/data_stream/generic/_dev/deploy/tf/main.tf
  packages/aws_logs/data_stream/generic/_dev/test/system/test-default-config.yml
  packages/aws_logs/data_stream/generic/sample_event.json
  packages/aws_logs/manifest.yml
Labels: enhancement, Integration:AWS

#9777 [O11y][Redis] Add AUTH (username) and SSL/TLS support
  packages/redis/changelog.yml
  packages/redis/data_stream/info/agent/stream/stream.yml.hbs
  packages/redis/data_stream/key/agent/stream/stream.yml.hbs
  packages/redis/data_stream/keyspace/agent/stream/stream.yml.hbs
  packages/redis/manifest.yml
Labels: enhancement

#9464 [O11y][Redis Enterprise] Fix intervals in the visualizations of Overview dashboard
  packages/redisenterprise/changelog.yml
  packages/redisenterprise/img/redisenterprise-dashboard.png
  packages/redisenterprise/kibana/dashboard/redisenterprise-8da53a40-5a2f-11ea-bc69-cdcc68092a57.json
  packages/redisenterprise/manifest.yml
Labels: enhancement, Integration:Redis-Enterprise

#9790 [Azure_Functions] Remove `add_cloud_metadata` flag from the Agent config
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/azure_functions/manifest.yml
Labels: bugfix

#9799 [Security Rules] Update security rules package to v8.12.11-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9798 [Security Rules] Update security rules package to v8.11.15-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9795 [Security Rules] Update security rules package to v8.13.6-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0cd2f3e6-41da-40e6-b28b-466f688f00a6_1.json
  packages/security_detection_engine/kibana/security_rule/17261da3-a6d0-463c-aac8-ea1718afcd20_1.json
  packages/security_detection_engine/kibana/security_rule/4f855297-c8e0-4097-9d97-d653f7e471c4_1.json
  packages/security_detection_engine/kibana/security_rule/5f0234fd-7f21-42af-8391-511d5fd11d5c_1.json
  packages/security_detection_engine/kibana/security_rule/b1773d05-f349-45fb-9850-287b8f92f02d_1.json
  packages/security_detection_engine/kibana/security_rule/f4c2515a-18bb-47ce-a768-1dc4e7b0fe6c_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9663 [PANW] add audit log parsing
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-audit-sample.log
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-audit-sample.log-config.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-audit-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/audit.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/fields/fields.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: enhancement, Integration:PANW, Team:Security-Deployment and Devices

#9804 [Security Rules] Update security rules package to v8.10.18
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9803 [Security Rules] Update security rules package to v8.12.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9802 [Security Rules] Update security rules package to v8.11.15
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9801 [Security Rules] Update security rules package to v8.13.6
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#8934 ZeroNetworks V2.0.0
  packages/zeronetworks/_dev/deploy/docker/files/config.yml
  packages/zeronetworks/changelog.yml
  packages/zeronetworks/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/zeronetworks/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/zeronetworks/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zeronetworks/data_stream/audit/fields/fields.yml
  packages/zeronetworks/img/zeronetworks-audit-dashboard.png
  packages/zeronetworks/kibana/dashboard/zeronetworks-eae973d0-b70d-11ee-9469-51dfba0e91e6.json
  packages/zeronetworks/manifest.yml
  packages/zeronetworks/validation.yml
Labels: Integration:ZeroNetworks, Team:Security-Service Integrations

#9536 crowdstrike: update manifest version format to v3.0.3
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:Crowdstrike, Team:Security-Service Integrations

#9520 trend_micro_vision_one: update manifest version format to v3.0.3
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/trend_micro_vision_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/alert/fields/fields.yml
  packages/trend_micro_vision_one/data_stream/alert/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Integration:TrendMicroVisionOne, Team:Security-Service Integrations

#9516 amazon_security_lake: update manifest version format to v3.0.3
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/amazon_security_lake/manifest.yml
Labels: enhancement, Integration:Amazon Security Lake, Team:Security-Service Integrations

#9776 cloudflare: allow user configuration of results per page
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/cloudflare/data_stream/audit/manifest.yml
  packages/cloudflare/data_stream/logpull/agent/stream/httpjson.yml.hbs
  packages/cloudflare/data_stream/logpull/manifest.yml
  packages/cloudflare/manifest.yml
Labels: enhancement, Integration:Cloudflare, Team:Security-Service Integrations

#9750 [ping_one] Update setup documentation
  packages/ping_one/_dev/build/docs/README.md
  packages/ping_one/changelog.yml
  packages/ping_one/data_stream/audit/manifest.yml
  packages/ping_one/docs/README.md
  packages/ping_one/manifest.yml
Labels: bugfix, Integration:PingOne, Team:Security-Service Integrations

#9774 [Azure docs] Replace Azure AD with Microsoft Entra ID
  packages/azure/_dev/build/docs/README.md
  packages/azure/_dev/build/docs/adlogs.md
  packages/azure/changelog.yml
  packages/azure/data_stream/identity_protection/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/identity_protection/manifest.yml
  packages/azure/data_stream/provisioning/fields/fields.yml
  packages/azure/data_stream/provisioning/manifest.yml
  packages/azure/docs/README.md
  packages/azure/docs/adlogs.md
  packages/azure/img/active_directory_logo.png
  packages/azure/img/microsoft-entra-id-logo.svg
  packages/azure/kibana/dashboard/azure-3cdf69c0-32d9-11ed-a2e6-916b60bbea71.json
  packages/azure/kibana/dashboard/azure-5ee36c30-32dc-11ed-a2e6-916b60bbea71.json
  packages/azure/kibana/search/azure-813b8ba0-32eb-11ed-8fa6-3121b5e93ca0.json
  packages/azure/kibana/search/azure-a3664560-32ed-11ed-8fa6-3121b5e93ca0.json
  packages/azure/kibana/search/azure-f7cc8d20-32e9-11ed-8fa6-3121b5e93ca0.json
  packages/azure/manifest.yml
Labels: bug, documentation

#9045 [System] Add custom configuration option to winlog inputs
  packages/system/changelog.yml
  packages/system/data_stream/application/agent/stream/winlog.yml.hbs
  packages/system/data_stream/application/manifest.yml
  packages/system/data_stream/security/agent/stream/winlog.yml.hbs
  packages/system/data_stream/security/manifest.yml
  packages/system/data_stream/system/agent/stream/winlog.yml.hbs
  packages/system/data_stream/system/manifest.yml
  packages/system/manifest.yml
Labels: enhancement, Integration:System, Team:Obs-InfraObs, Team:Security-Windows Platform

#9773 [zscaler_zia] Include cintip field to web log template in docs
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:ZscalerZIA, bugfix, Team:Security-Service Integrations

#7914 packages/prometheus/docs: Replace `darasteam` with `datastream`
  packages/prometheus/_dev/build/docs/README.md
  packages/prometheus/changelog.yml
  packages/prometheus/docs/README.md
  packages/prometheus/manifest.yml
Labels: docs

#9816 [Crowdstrike.FDR] Fix rename processors relating to user.name
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#9466 [Tenable IO] Update the input type from HTTPJSON to CEL.
  packages/tenable_io/_dev/build/docs/README.md
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/asset/agent/stream/cel.yml.hbs
  packages/tenable_io/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/asset/manifest.yml
  packages/tenable_io/data_stream/asset/sample_event.json
  packages/tenable_io/data_stream/plugin/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/plugin/agent/stream/cel.yml.hbs
  packages/tenable_io/data_stream/plugin/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/plugin/manifest.yml
  packages/tenable_io/data_stream/plugin/sample_event.json
  packages/tenable_io/data_stream/scan/_dev/test/pipeline/test-common-config.yml
  packages/tenable_io/data_stream/scan/_dev/test/pipeline/test-scan.log
  packages/tenable_io/data_stream/scan/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/scan/agent/stream/cel.yml.hbs
  packages/tenable_io/data_stream/scan/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/scan/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/scan/fields/agent.yml
  packages/tenable_io/data_stream/scan/fields/base-fields.yml
  packages/tenable_io/data_stream/scan/fields/ecs.yml
  packages/tenable_io/data_stream/scan/fields/fields.yml
  packages/tenable_io/data_stream/scan/fields/overridden-ecs.yml
  packages/tenable_io/data_stream/scan/manifest.yml
  packages/tenable_io/data_stream/scan/sample_event.json
  packages/tenable_io/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/tenable_io/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/vulnerability/manifest.yml
  packages/tenable_io/data_stream/vulnerability/sample_event.json
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
Labels: enhancement, Integration:Tenable.io, Crest, Team:Security-Service Integrations

#9822 [Apache] Rename apache2.error.integration to apache.error.module
  packages/apache/changelog.yml
  packages/apache/kibana/dashboard/apache-Logs-Apache-Dashboard.json
  packages/apache/kibana/search/apache-errors-log.json
  packages/apache/manifest.yml
Labels: bug

#9830 ti_threatconnect: add error handling to API requests
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ThreatConnect

#9737 [TI_RecordedFuture] Decode Evidence_Details field
  packages/ti_recordedfuture/_dev/deploy/docker/files/config-api.yml
  packages/ti_recordedfuture/_dev/deploy/docker/files/config-csv-download.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-domain-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-hash-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-ip-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/system/test-fusion-file-download-config.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/system/test-risklist-api-config.yml
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/data_stream/threat/fields/ecs.yml
  packages/ti_recordedfuture/data_stream/threat/fields/fields.yml
  packages/ti_recordedfuture/data_stream/threat/sample_event.json
  packages/ti_recordedfuture/docs/README.md
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_recordedfuture/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_recordedfuture/kibana/dashboard/ti_recordedfuture-554321f4-a649-49da-a5ce-b3dfef1a179b.json
  packages/ti_recordedfuture/kibana/dashboard/ti_recordedfuture-57ab05de-cd7e-4779-9201-1e099f7ab23b.json
  packages/ti_recordedfuture/kibana/dashboard/ti_recordedfuture-ea3dd012-69d8-423d-81b1-2ad9174c75d3.json
  packages/ti_recordedfuture/kibana/tag/ti_recordedfuture-security-solution-default.json
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Integration:Recorded Future, Team:Security-Service Integrations

#9814 [O11y][IBMMQ] Fix system tests
  packages/ibmmq/changelog.yml
  packages/ibmmq/data_stream/errorlog/elasticsearch/ingest_pipeline/default.yml
  packages/ibmmq/manifest.yml
Labels: Integration:IBM-MQ, bugfix

#9831 aws_bedrock: add documentation image
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/img/add_aws_bedrock.png
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:AWS Bedrock

#9810 [Cloudflare Logpush] Add support for WAF*AttackScore fields
  packages/cloudflare_logpush/_dev/deploy/docker/sample_logs/http_request.log
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/fields/fields.yml
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:Cloudflare Logpush, Team:Security-Service Integrations

#9707 [Oracle] Mark `password` field as secret
  packages/oracle/_dev/build/docs/README.md
  packages/oracle/changelog.yml
  packages/oracle/data_stream/memory/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/performance/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/sysmetric/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/system_statistics/agent/stream/stream.yml.hbs
  packages/oracle/data_stream/tablespace/agent/stream/stream.yml.hbs
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: enhancement

#9832 [integrations] - Fixed ignore_malformed issues in multiple integration packages
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/fields/fields.yml
  packages/fortinet_fortimanager/docs/README.md
  packages/fortinet_fortimanager/manifest.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/m365_defender/data_stream/incident/fields/fields.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/fields/fields.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
  packages/tanium/changelog.yml
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-common-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-http-endpoint-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-tcp-config.yml
  packages/tanium/data_stream/threat_response/fields/fields.yml
  packages/tanium/docs/README.md
  packages/tanium/manifest.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/vulnerability/fields/ecs.yml
  packages/tenable_io/data_stream/vulnerability/fields/fields.yml
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/fields/fields.yml
  packages/ti_threatconnect/docs/README.md
  packages/ti_threatconnect/manifest.yml
Labels: integration, bugfix, Team:Security-Service Integrations

#9823 Skip ignored fields check for offending data streams
  packages/activemq/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/system/test-default-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/system/test-keep-metadata-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/fortinet_fortimanager/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/m365_defender/data_stream/incident/_dev/test/system/test-default-config.yml
  packages/mysql/data_stream/slowlog/_dev/test/system/test-default-config.yml
  packages/oracle/data_stream/database_audit/_dev/test/system/test-logfile-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-logfile-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-tcp-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-tls-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-udp-config.yml
  packages/panw/data_stream/panos/_dev/test/system/test-udp-tz-config.yml
  packages/spring_boot/data_stream/http_trace/_dev/test/system/test-default-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-http-endpoint-config.yml
  packages/tanium/data_stream/threat_response/_dev/test/system/test-tcp-config.yml
  packages/tenable_io/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/ti_threatconnect/data_stream/indicator/_dev/test/system/test-default-config.yml
Labels: bugfix

#9705 [aws] Don't index empty AWS Security Hub responses
  packages/aws/changelog.yml
  packages/aws/data_stream/securityhub_findings/agent/stream/httpjson.yml.hbs
  packages/aws/data_stream/securityhub_insights/agent/stream/httpjson.yml.hbs
  packages/aws/manifest.yml
Labels: Integration:AWS, bugfix, Team:Security-Service Integrations

#9652 [azure_network_watcher_nsg] Initial release of the azure network watcher nsg
  .github/CODEOWNERS
  packages/azure_network_watcher_nsg/_dev/build/build.yml
  packages/azure_network_watcher_nsg/_dev/build/docs/README.md
  packages/azure_network_watcher_nsg/_dev/deploy/docker/docker-compose.yml
  packages/azure_network_watcher_nsg/_dev/deploy/docker/sample_logs/testdata.log
  packages/azure_network_watcher_nsg/changelog.yml
  packages/azure_network_watcher_nsg/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/azure_network_watcher_nsg/data_stream/log/_dev/test/pipeline/test-nsg.log
  packages/azure_network_watcher_nsg/data_stream/log/_dev/test/pipeline/test-nsg.log-expected.json
  packages/azure_network_watcher_nsg/data_stream/log/_dev/test/system/test-default-config.yml
  packages/azure_network_watcher_nsg/data_stream/log/agent/stream/abs.yml.hbs
  packages/azure_network_watcher_nsg/data_stream/log/elasticsearch/ingest_pipeline/azure_shared_pipeline.yml
  packages/azure_network_watcher_nsg/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/azure_network_watcher_nsg/data_stream/log/fields/base-fields.yml
  packages/azure_network_watcher_nsg/data_stream/log/fields/beats.yml
  packages/azure_network_watcher_nsg/data_stream/log/fields/fields.yml
  packages/azure_network_watcher_nsg/data_stream/log/fields/package-fields.yml
  packages/azure_network_watcher_nsg/data_stream/log/manifest.yml
  packages/azure_network_watcher_nsg/data_stream/log/sample_event.json
  packages/azure_network_watcher_nsg/docs/README.md
  packages/azure_network_watcher_nsg/img/azure-network-watch-nsg-log-dashboard.png
  packages/azure_network_watcher_nsg/img/azure_network_watcher_logo.svg
  packages/azure_network_watcher_nsg/kibana/dashboard/azure_network_watcher_nsg-0c8f22c3-153c-4466-a97c-2f250fbda5de.json
  packages/azure_network_watcher_nsg/kibana/search/azure_network_watcher_nsg-5284cd1a-dab3-4b98-867e-02ed2005c4fe.json
  packages/azure_network_watcher_nsg/kibana/search/azure_network_watcher_nsg-c63b3237-5106-44b8-9ac9-52c7a1c4feeb.json
  packages/azure_network_watcher_nsg/kibana/search/azure_network_watcher_nsg-cfae4d90-dc5e-48c5-8ca4-b0755e169986.json
  packages/azure_network_watcher_nsg/manifest.yml
  packages/azure_network_watcher_nsg/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#9680 [azure_network_watcher_vnet] Initial release of the azure network watcher vnet
  .github/CODEOWNERS
  packages/azure_network_watcher_vnet/_dev/build/build.yml
  packages/azure_network_watcher_vnet/_dev/build/docs/README.md
  packages/azure_network_watcher_vnet/_dev/deploy/docker/docker-compose.yml
  packages/azure_network_watcher_vnet/_dev/deploy/docker/sample_logs/testdata.log
  packages/azure_network_watcher_vnet/changelog.yml
  packages/azure_network_watcher_vnet/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/azure_network_watcher_vnet/data_stream/log/_dev/test/pipeline/test-vnet.log
  packages/azure_network_watcher_vnet/data_stream/log/_dev/test/pipeline/test-vnet.log-expected.json
  packages/azure_network_watcher_vnet/data_stream/log/_dev/test/system/test-default-config.yml
  packages/azure_network_watcher_vnet/data_stream/log/agent/stream/abs.yml.hbs
  packages/azure_network_watcher_vnet/data_stream/log/elasticsearch/ingest_pipeline/azure_shared_pipeline.yml
  packages/azure_network_watcher_vnet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/azure_network_watcher_vnet/data_stream/log/fields/base-fields.yml
  packages/azure_network_watcher_vnet/data_stream/log/fields/beats.yml
  packages/azure_network_watcher_vnet/data_stream/log/fields/fields.yml
  packages/azure_network_watcher_vnet/data_stream/log/fields/package-fields.yml
  packages/azure_network_watcher_vnet/data_stream/log/manifest.yml
  packages/azure_network_watcher_vnet/data_stream/log/sample_event.json
  packages/azure_network_watcher_vnet/docs/README.md
  packages/azure_network_watcher_vnet/img/azure-network-watcher-vnet-overview.png
  packages/azure_network_watcher_vnet/img/azure_network_watcher_logo.svg
  packages/azure_network_watcher_vnet/kibana/dashboard/azure_network_watcher_vnet-5ecce30b-1eba-4bd8-b440-cd266263449a.json
  packages/azure_network_watcher_vnet/kibana/search/azure_network_watcher_vnet-0e5d4cba-9f41-4c45-b858-54d3e83df6e5.json
  packages/azure_network_watcher_vnet/kibana/search/azure_network_watcher_vnet-51e7dbb1-2c87-429a-8ffa-f1c78ceb2eab.json
  packages/azure_network_watcher_vnet/kibana/search/azure_network_watcher_vnet-b52c9df2-cb7f-4ebe-af8b-569c213423cf.json
  packages/azure_network_watcher_vnet/manifest.yml
  packages/azure_network_watcher_vnet/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations, Integration:Azure-Network-Watcher-VNet

#9828 [Cloud Security] add the cloud formation credentials url
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, 8.15 candidate

#9875 [Security Rules] Update security rules package to v8.11.16-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/02bab13d-fb14-4d7c-b6fe-4a28874d37c5_1.json
  packages/security_detection_engine/kibana/security_rule/080bc66a-5d56-4d1f-8071-817671716db9_107.json
  packages/security_detection_engine/kibana/security_rule/0a97b20f-4144-49ea-be32-b540ecc445de_103.json
  packages/security_detection_engine/kibana/security_rule/10445cf0-0748-11ef-ba75-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/10a500bb-a28f-418e-ba29-ca4c8d1a9f2f_206.json
  packages/security_detection_engine/kibana/security_rule/1397e1b9-0c90-4d24-8d7b-80598eb9bc9a_1.json
  packages/security_detection_engine/kibana/security_rule/16a52c14-7883-47af-8745-9357803f0d4c_113.json
  packages/security_detection_engine/kibana/security_rule/2003cdc8-8d83-4aa5-b132-1f9a8eb48514_103.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_207.json
  packages/security_detection_engine/kibana/security_rule/2553a9af-52a4-4a05-bb03-85b2a479a0a0_1.json
  packages/security_detection_engine/kibana/security_rule/2863ffeb-bf77-44dd-b7a5-93ef94b72036_103.json
  packages/security_detection_engine/kibana/security_rule/37f638ea-909d-4f94-9248-edd21e4a9906_206.json
  packages/security_detection_engine/kibana/security_rule/38948d29-3d5d-42e3-8aec-be832aaaf8eb_207.json
  packages/security_detection_engine/kibana/security_rule/3b382770-efbb-44f4-beed-f5e0a051b895_103.json
  packages/security_detection_engine/kibana/security_rule/453183fa-f903-11ee-8e88-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/453f659e-0429-40b1-bfdb-b6957286e04b_103.json
  packages/security_detection_engine/kibana/security_rule/4b4e9c99-27ea-4621-95c8-82341bc6e512_4.json
  packages/security_detection_engine/kibana/security_rule/565c2b44-7a21-4818-955f-8d4737967d2e_206.json
  packages/security_detection_engine/kibana/security_rule/571afc56-5ed9-465d-a2a9-045f099f6e7e_103.json
  packages/security_detection_engine/kibana/security_rule/5f2f463e-6997-478c-8405-fb41cc283281_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_113.json
  packages/security_detection_engine/kibana/security_rule/66da12b1-ac83-40eb-814c-07ed1d82b7b9_206.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/6e9b351e-a531-4bdc-b73e-7034d6eed7ff_207.json
  packages/security_detection_engine/kibana/security_rule/7453e19e-3dbf-4e4e-9ae0-33d6c6ed15e1_206.json
  packages/security_detection_engine/kibana/security_rule/77a3c3df-8ec4-4da4-b758-878f551dee69_104.json
  packages/security_detection_engine/kibana/security_rule/78e9b5d5-7c07-40a7-a591-3dbbf464c386_1.json
  packages/security_detection_engine/kibana/security_rule/80c52164-c82a-402c-9964-852533d58be1_103.json
  packages/security_detection_engine/kibana/security_rule/827f8d8f-4117-4ae4-b551-f56d54b9da6b_207.json
  packages/security_detection_engine/kibana/security_rule/8446517c-f789-11ee-8ad0-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/8cb4f625-7743-4dfb-ae1b-ad92be9df7bd_103.json
  packages/security_detection_engine/kibana/security_rule/9092cd6c-650f-4fa3-8a8a-28256c7489c9_108.json
  packages/security_detection_engine/kibana/security_rule/96e90768-c3b7-4df6-b5d9-6237f8bc36a8_207.json
  packages/security_detection_engine/kibana/security_rule/990838aa-a953-4f3e-b3cb-6ddf7584de9e_103.json
  packages/security_detection_engine/kibana/security_rule/99239e7d-b0d4-46e3-8609-acafcf99f68c_107.json
  packages/security_detection_engine/kibana/security_rule/9a1a2dae-0b5f-4c3d-8305-a268d404c306_103.json
  packages/security_detection_engine/kibana/security_rule/ac412404-57a5-476f-858f-4e8fbb4f48d8_108.json
  packages/security_detection_engine/kibana/security_rule/c0be5f31-e180-48ed-aa08-96b36899d48f_103.json
  packages/security_detection_engine/kibana/security_rule/c292fa52-4115-408a-b897-e14f684b3cb7_107.json
  packages/security_detection_engine/kibana/security_rule/c3167e1b-f73c-41be-b60b-87f4df707fe3_103.json
  packages/security_detection_engine/kibana/security_rule/c81cefcb-82b9-4408-a533-3c3df549e62d_107.json
  packages/security_detection_engine/kibana/security_rule/c9e38e64-3f4c-4bf3-ad48-0e61a60ea1fa_103.json
  packages/security_detection_engine/kibana/security_rule/d461fac0-43e8-49e2-85ea-3a58fe120b4f_107.json
  packages/security_detection_engine/kibana/security_rule/d75991f2-b989-419d-b797-ac1e54ec2d61_206.json
  packages/security_detection_engine/kibana/security_rule/db8c33a8-03cd-4988-9e2c-d0a4863adb13_103.json
  packages/security_detection_engine/kibana/security_rule/e3c5d5cb-41d5-4206-805c-f30561eae3ac_103.json
  packages/security_detection_engine/kibana/security_rule/e6c98d38-633d-4b3e-9387-42112cd5ac10_107.json
  packages/security_detection_engine/kibana/security_rule/e760c72b-bb1f-44f0-9f0d-37d51744ee75_1.json
  packages/security_detection_engine/kibana/security_rule/eb079c62-4481-4d6e-9643-3ca499df7aaa_103.json
  packages/security_detection_engine/kibana/security_rule/f0b48bbc-549e-4bcf-8ee0-a7a72586c6a7_108.json
  packages/security_detection_engine/kibana/security_rule/ff6cf8b9-b76c-4cc1-ac1b-4935164d1029_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9878 [Security Rules] Update security rules package to v8.12.12-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/02bab13d-fb14-4d7c-b6fe-4a28874d37c5_1.json
  packages/security_detection_engine/kibana/security_rule/080bc66a-5d56-4d1f-8071-817671716db9_107.json
  packages/security_detection_engine/kibana/security_rule/0a97b20f-4144-49ea-be32-b540ecc445de_103.json
  packages/security_detection_engine/kibana/security_rule/10445cf0-0748-11ef-ba75-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/10a500bb-a28f-418e-ba29-ca4c8d1a9f2f_206.json
  packages/security_detection_engine/kibana/security_rule/1397e1b9-0c90-4d24-8d7b-80598eb9bc9a_1.json
  packages/security_detection_engine/kibana/security_rule/16a52c14-7883-47af-8745-9357803f0d4c_113.json
  packages/security_detection_engine/kibana/security_rule/2003cdc8-8d83-4aa5-b132-1f9a8eb48514_103.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_207.json
  packages/security_detection_engine/kibana/security_rule/2553a9af-52a4-4a05-bb03-85b2a479a0a0_1.json
  packages/security_detection_engine/kibana/security_rule/2863ffeb-bf77-44dd-b7a5-93ef94b72036_103.json
  packages/security_detection_engine/kibana/security_rule/37f638ea-909d-4f94-9248-edd21e4a9906_206.json
  packages/security_detection_engine/kibana/security_rule/38948d29-3d5d-42e3-8aec-be832aaaf8eb_207.json
  packages/security_detection_engine/kibana/security_rule/3b382770-efbb-44f4-beed-f5e0a051b895_103.json
  packages/security_detection_engine/kibana/security_rule/453183fa-f903-11ee-8e88-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/453f659e-0429-40b1-bfdb-b6957286e04b_103.json
  packages/security_detection_engine/kibana/security_rule/4b4e9c99-27ea-4621-95c8-82341bc6e512_4.json
  packages/security_detection_engine/kibana/security_rule/565c2b44-7a21-4818-955f-8d4737967d2e_206.json
  packages/security_detection_engine/kibana/security_rule/571afc56-5ed9-465d-a2a9-045f099f6e7e_103.json
  packages/security_detection_engine/kibana/security_rule/5f2f463e-6997-478c-8405-fb41cc283281_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_113.json
  packages/security_detection_engine/kibana/security_rule/66da12b1-ac83-40eb-814c-07ed1d82b7b9_206.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/6e9b351e-a531-4bdc-b73e-7034d6eed7ff_207.json
  packages/security_detection_engine/kibana/security_rule/7453e19e-3dbf-4e4e-9ae0-33d6c6ed15e1_206.json
  packages/security_detection_engine/kibana/security_rule/77a3c3df-8ec4-4da4-b758-878f551dee69_104.json
  packages/security_detection_engine/kibana/security_rule/78e9b5d5-7c07-40a7-a591-3dbbf464c386_1.json
  packages/security_detection_engine/kibana/security_rule/80c52164-c82a-402c-9964-852533d58be1_103.json
  packages/security_detection_engine/kibana/security_rule/827f8d8f-4117-4ae4-b551-f56d54b9da6b_207.json
  packages/security_detection_engine/kibana/security_rule/8446517c-f789-11ee-8ad0-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/8cb4f625-7743-4dfb-ae1b-ad92be9df7bd_103.json
  packages/security_detection_engine/kibana/security_rule/9092cd6c-650f-4fa3-8a8a-28256c7489c9_108.json
  packages/security_detection_engine/kibana/security_rule/96e90768-c3b7-4df6-b5d9-6237f8bc36a8_207.json
  packages/security_detection_engine/kibana/security_rule/990838aa-a953-4f3e-b3cb-6ddf7584de9e_103.json
  packages/security_detection_engine/kibana/security_rule/99239e7d-b0d4-46e3-8609-acafcf99f68c_107.json
  packages/security_detection_engine/kibana/security_rule/9a1a2dae-0b5f-4c3d-8305-a268d404c306_103.json
  packages/security_detection_engine/kibana/security_rule/ac412404-57a5-476f-858f-4e8fbb4f48d8_108.json
  packages/security_detection_engine/kibana/security_rule/c0be5f31-e180-48ed-aa08-96b36899d48f_103.json
  packages/security_detection_engine/kibana/security_rule/c292fa52-4115-408a-b897-e14f684b3cb7_107.json
  packages/security_detection_engine/kibana/security_rule/c3167e1b-f73c-41be-b60b-87f4df707fe3_103.json
  packages/security_detection_engine/kibana/security_rule/c81cefcb-82b9-4408-a533-3c3df549e62d_107.json
  packages/security_detection_engine/kibana/security_rule/c9e38e64-3f4c-4bf3-ad48-0e61a60ea1fa_103.json
  packages/security_detection_engine/kibana/security_rule/d461fac0-43e8-49e2-85ea-3a58fe120b4f_107.json
  packages/security_detection_engine/kibana/security_rule/d75991f2-b989-419d-b797-ac1e54ec2d61_206.json
  packages/security_detection_engine/kibana/security_rule/db8c33a8-03cd-4988-9e2c-d0a4863adb13_103.json
  packages/security_detection_engine/kibana/security_rule/e3c5d5cb-41d5-4206-805c-f30561eae3ac_103.json
  packages/security_detection_engine/kibana/security_rule/e6c98d38-633d-4b3e-9387-42112cd5ac10_107.json
  packages/security_detection_engine/kibana/security_rule/e760c72b-bb1f-44f0-9f0d-37d51744ee75_1.json
  packages/security_detection_engine/kibana/security_rule/eb079c62-4481-4d6e-9643-3ca499df7aaa_103.json
  packages/security_detection_engine/kibana/security_rule/f0b48bbc-549e-4bcf-8ee0-a7a72586c6a7_108.json
  packages/security_detection_engine/kibana/security_rule/ff6cf8b9-b76c-4cc1-ac1b-4935164d1029_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9876 [Security Rules] Update security rules package to v8.13.7-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/02bab13d-fb14-4d7c-b6fe-4a28874d37c5_1.json
  packages/security_detection_engine/kibana/security_rule/080bc66a-5d56-4d1f-8071-817671716db9_107.json
  packages/security_detection_engine/kibana/security_rule/0a97b20f-4144-49ea-be32-b540ecc445de_103.json
  packages/security_detection_engine/kibana/security_rule/10445cf0-0748-11ef-ba75-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/10a500bb-a28f-418e-ba29-ca4c8d1a9f2f_206.json
  packages/security_detection_engine/kibana/security_rule/1397e1b9-0c90-4d24-8d7b-80598eb9bc9a_1.json
  packages/security_detection_engine/kibana/security_rule/16a52c14-7883-47af-8745-9357803f0d4c_113.json
  packages/security_detection_engine/kibana/security_rule/2003cdc8-8d83-4aa5-b132-1f9a8eb48514_103.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_207.json
  packages/security_detection_engine/kibana/security_rule/2553a9af-52a4-4a05-bb03-85b2a479a0a0_1.json
  packages/security_detection_engine/kibana/security_rule/28371aa1-14ed-46cf-ab5b-2fc7d1942278_1.json
  packages/security_detection_engine/kibana/security_rule/2863ffeb-bf77-44dd-b7a5-93ef94b72036_103.json
  packages/security_detection_engine/kibana/security_rule/37f638ea-909d-4f94-9248-edd21e4a9906_206.json
  packages/security_detection_engine/kibana/security_rule/38948d29-3d5d-42e3-8aec-be832aaaf8eb_207.json
  packages/security_detection_engine/kibana/security_rule/3b382770-efbb-44f4-beed-f5e0a051b895_103.json
  packages/security_detection_engine/kibana/security_rule/453183fa-f903-11ee-8e88-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/453f659e-0429-40b1-bfdb-b6957286e04b_103.json
  packages/security_detection_engine/kibana/security_rule/4b4e9c99-27ea-4621-95c8-82341bc6e512_4.json
  packages/security_detection_engine/kibana/security_rule/565c2b44-7a21-4818-955f-8d4737967d2e_206.json
  packages/security_detection_engine/kibana/security_rule/571afc56-5ed9-465d-a2a9-045f099f6e7e_103.json
  packages/security_detection_engine/kibana/security_rule/5f2f463e-6997-478c-8405-fb41cc283281_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_113.json
  packages/security_detection_engine/kibana/security_rule/66da12b1-ac83-40eb-814c-07ed1d82b7b9_206.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/6e9b351e-a531-4bdc-b73e-7034d6eed7ff_207.json
  packages/security_detection_engine/kibana/security_rule/7453e19e-3dbf-4e4e-9ae0-33d6c6ed15e1_206.json
  packages/security_detection_engine/kibana/security_rule/77a3c3df-8ec4-4da4-b758-878f551dee69_104.json
  packages/security_detection_engine/kibana/security_rule/78e9b5d5-7c07-40a7-a591-3dbbf464c386_1.json
  packages/security_detection_engine/kibana/security_rule/80c52164-c82a-402c-9964-852533d58be1_103.json
  packages/security_detection_engine/kibana/security_rule/827f8d8f-4117-4ae4-b551-f56d54b9da6b_207.json
  packages/security_detection_engine/kibana/security_rule/8446517c-f789-11ee-8ad0-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/8cb4f625-7743-4dfb-ae1b-ad92be9df7bd_103.json
  packages/security_detection_engine/kibana/security_rule/9092cd6c-650f-4fa3-8a8a-28256c7489c9_108.json
  packages/security_detection_engine/kibana/security_rule/96e90768-c3b7-4df6-b5d9-6237f8bc36a8_207.json
  packages/security_detection_engine/kibana/security_rule/990838aa-a953-4f3e-b3cb-6ddf7584de9e_103.json
  packages/security_detection_engine/kibana/security_rule/99239e7d-b0d4-46e3-8609-acafcf99f68c_107.json
  packages/security_detection_engine/kibana/security_rule/9a1a2dae-0b5f-4c3d-8305-a268d404c306_103.json
  packages/security_detection_engine/kibana/security_rule/ac412404-57a5-476f-858f-4e8fbb4f48d8_108.json
  packages/security_detection_engine/kibana/security_rule/c0be5f31-e180-48ed-aa08-96b36899d48f_103.json
  packages/security_detection_engine/kibana/security_rule/c292fa52-4115-408a-b897-e14f684b3cb7_107.json
  packages/security_detection_engine/kibana/security_rule/c3167e1b-f73c-41be-b60b-87f4df707fe3_103.json
  packages/security_detection_engine/kibana/security_rule/c81cefcb-82b9-4408-a533-3c3df549e62d_107.json
  packages/security_detection_engine/kibana/security_rule/c9e38e64-3f4c-4bf3-ad48-0e61a60ea1fa_103.json
  packages/security_detection_engine/kibana/security_rule/d461fac0-43e8-49e2-85ea-3a58fe120b4f_107.json
  packages/security_detection_engine/kibana/security_rule/d75991f2-b989-419d-b797-ac1e54ec2d61_206.json
  packages/security_detection_engine/kibana/security_rule/db8c33a8-03cd-4988-9e2c-d0a4863adb13_103.json
  packages/security_detection_engine/kibana/security_rule/e3c5d5cb-41d5-4206-805c-f30561eae3ac_103.json
  packages/security_detection_engine/kibana/security_rule/e6c98d38-633d-4b3e-9387-42112cd5ac10_107.json
  packages/security_detection_engine/kibana/security_rule/e760c72b-bb1f-44f0-9f0d-37d51744ee75_1.json
  packages/security_detection_engine/kibana/security_rule/eb079c62-4481-4d6e-9643-3ca499df7aaa_103.json
  packages/security_detection_engine/kibana/security_rule/f0b48bbc-549e-4bcf-8ee0-a7a72586c6a7_108.json
  packages/security_detection_engine/kibana/security_rule/ff6cf8b9-b76c-4cc1-ac1b-4935164d1029_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9877 [Security Rules] Update security rules package to v8.14.1-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/02bab13d-fb14-4d7c-b6fe-4a28874d37c5_1.json
  packages/security_detection_engine/kibana/security_rule/080bc66a-5d56-4d1f-8071-817671716db9_107.json
  packages/security_detection_engine/kibana/security_rule/0a97b20f-4144-49ea-be32-b540ecc445de_103.json
  packages/security_detection_engine/kibana/security_rule/10445cf0-0748-11ef-ba75-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/10a500bb-a28f-418e-ba29-ca4c8d1a9f2f_206.json
  packages/security_detection_engine/kibana/security_rule/1397e1b9-0c90-4d24-8d7b-80598eb9bc9a_1.json
  packages/security_detection_engine/kibana/security_rule/16a52c14-7883-47af-8745-9357803f0d4c_113.json
  packages/security_detection_engine/kibana/security_rule/2003cdc8-8d83-4aa5-b132-1f9a8eb48514_103.json
  packages/security_detection_engine/kibana/security_rule/20457e4f-d1de-4b92-ae69-142e27a4342a_207.json
  packages/security_detection_engine/kibana/security_rule/2553a9af-52a4-4a05-bb03-85b2a479a0a0_1.json
  packages/security_detection_engine/kibana/security_rule/28371aa1-14ed-46cf-ab5b-2fc7d1942278_1.json
  packages/security_detection_engine/kibana/security_rule/2863ffeb-bf77-44dd-b7a5-93ef94b72036_103.json
  packages/security_detection_engine/kibana/security_rule/37f638ea-909d-4f94-9248-edd21e4a9906_206.json
  packages/security_detection_engine/kibana/security_rule/38948d29-3d5d-42e3-8aec-be832aaaf8eb_207.json
  packages/security_detection_engine/kibana/security_rule/3b382770-efbb-44f4-beed-f5e0a051b895_103.json
  packages/security_detection_engine/kibana/security_rule/453183fa-f903-11ee-8e88-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/453f659e-0429-40b1-bfdb-b6957286e04b_103.json
  packages/security_detection_engine/kibana/security_rule/4b4e9c99-27ea-4621-95c8-82341bc6e512_4.json
  packages/security_detection_engine/kibana/security_rule/565c2b44-7a21-4818-955f-8d4737967d2e_206.json
  packages/security_detection_engine/kibana/security_rule/571afc56-5ed9-465d-a2a9-045f099f6e7e_103.json
  packages/security_detection_engine/kibana/security_rule/5f2f463e-6997-478c-8405-fb41cc283281_1.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_113.json
  packages/security_detection_engine/kibana/security_rule/66da12b1-ac83-40eb-814c-07ed1d82b7b9_206.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/6e9b351e-a531-4bdc-b73e-7034d6eed7ff_207.json
  packages/security_detection_engine/kibana/security_rule/7453e19e-3dbf-4e4e-9ae0-33d6c6ed15e1_206.json
  packages/security_detection_engine/kibana/security_rule/77a3c3df-8ec4-4da4-b758-878f551dee69_104.json
  packages/security_detection_engine/kibana/security_rule/78e9b5d5-7c07-40a7-a591-3dbbf464c386_1.json
  packages/security_detection_engine/kibana/security_rule/80c52164-c82a-402c-9964-852533d58be1_103.json
  packages/security_detection_engine/kibana/security_rule/827f8d8f-4117-4ae4-b551-f56d54b9da6b_207.json
  packages/security_detection_engine/kibana/security_rule/8446517c-f789-11ee-8ad0-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/8cb4f625-7743-4dfb-ae1b-ad92be9df7bd_103.json
  packages/security_detection_engine/kibana/security_rule/9092cd6c-650f-4fa3-8a8a-28256c7489c9_108.json
  packages/security_detection_engine/kibana/security_rule/96e90768-c3b7-4df6-b5d9-6237f8bc36a8_207.json
  packages/security_detection_engine/kibana/security_rule/990838aa-a953-4f3e-b3cb-6ddf7584de9e_103.json
  packages/security_detection_engine/kibana/security_rule/99239e7d-b0d4-46e3-8609-acafcf99f68c_107.json
  packages/security_detection_engine/kibana/security_rule/9a1a2dae-0b5f-4c3d-8305-a268d404c306_103.json
  packages/security_detection_engine/kibana/security_rule/ac412404-57a5-476f-858f-4e8fbb4f48d8_108.json
  packages/security_detection_engine/kibana/security_rule/c0be5f31-e180-48ed-aa08-96b36899d48f_103.json
  packages/security_detection_engine/kibana/security_rule/c292fa52-4115-408a-b897-e14f684b3cb7_107.json
  packages/security_detection_engine/kibana/security_rule/c3167e1b-f73c-41be-b60b-87f4df707fe3_103.json
  packages/security_detection_engine/kibana/security_rule/c81cefcb-82b9-4408-a533-3c3df549e62d_107.json
  packages/security_detection_engine/kibana/security_rule/c9e38e64-3f4c-4bf3-ad48-0e61a60ea1fa_103.json
  packages/security_detection_engine/kibana/security_rule/d461fac0-43e8-49e2-85ea-3a58fe120b4f_107.json
  packages/security_detection_engine/kibana/security_rule/d75991f2-b989-419d-b797-ac1e54ec2d61_206.json
  packages/security_detection_engine/kibana/security_rule/db8c33a8-03cd-4988-9e2c-d0a4863adb13_103.json
  packages/security_detection_engine/kibana/security_rule/e3c5d5cb-41d5-4206-805c-f30561eae3ac_103.json
  packages/security_detection_engine/kibana/security_rule/e6c98d38-633d-4b3e-9387-42112cd5ac10_107.json
  packages/security_detection_engine/kibana/security_rule/e760c72b-bb1f-44f0-9f0d-37d51744ee75_1.json
  packages/security_detection_engine/kibana/security_rule/eb079c62-4481-4d6e-9643-3ca499df7aaa_103.json
  packages/security_detection_engine/kibana/security_rule/f0b48bbc-549e-4bcf-8ee0-a7a72586c6a7_108.json
  packages/security_detection_engine/kibana/security_rule/ff6cf8b9-b76c-4cc1-ac1b-4935164d1029_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9880 [Security Rules] Update security rules package to v8.11.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9881 [Security Rules] Update security rules package to v8.12.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9882 [Security Rules] Update security rules package to v8.13.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9883 [Security Rules] Update security rules package to v8.14.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9515 [Enhancement] Update winlog.event_data.AttributeValue mappings
  packages/system/changelog.yml
  packages/system/data_stream/security/fields/winlog.yml
  packages/system/docs/README.md
  packages/system/manifest.yml
Labels: enhancement, Team:Security-Windows Platform, Area: RAD

#9616 [cisco_asa] Improve ECS categorizations
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-anyconnect-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-hostnames.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sip.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Integration:CiscoASA, Team:Security-Deployment and Devices

#9817 [O11y][Cassandra] Add documentation for Jolokia setup
  packages/cassandra/_dev/build/docs/README.md
  packages/cassandra/changelog.yml
  packages/cassandra/docs/README.md
  packages/cassandra/manifest.yml
Labels: enhancement

#9890 [cisco_ios] fix timezone with offset parsing
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9812 m365_defender: use windows-specific command line analyser
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration: M365_Defender, Team:Security-Service Integrations

#9791 Refresh UEBA package docs
  packages/beaconing/changelog.yml
  packages/beaconing/docs/README.md
  packages/beaconing/elasticsearch/transform/pivot_transform/transform.yml
  packages/beaconing/img/beaconingrules.png
  packages/beaconing/manifest.yml
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/img/dedrules.png
  packages/ded/manifest.yml
  packages/dga/changelog.yml
  packages/dga/docs/README.md
  packages/dga/img/dgarules.png
  packages/dga/manifest.yml
  packages/lmd/changelog.yml
  packages/lmd/docs/README.md
  packages/lmd/img/lmdrules.png
  packages/lmd/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/img/lotlrules.png
  packages/problemchild/manifest.yml
Labels: enhancement

#9893 [System] Mark `logs-system.syslog` data stream as requires root
  packages/system/changelog.yml
  packages/system/data_stream/application/manifest.yml
  packages/system/data_stream/process/fields/fields.yml
  packages/system/data_stream/security/manifest.yml
  packages/system/data_stream/syslog/manifest.yml
  packages/system/manifest.yml
Labels: enhancement

#9853 f5_bigip: clarify event types
  packages/f5_bigip/_dev/build/docs/README.md
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/docs/README.md
  packages/f5_bigip/manifest.yml
Labels: enhancement, Integration:F5-BIGIP, Team:Security-Service Integrations

#9841 cisco_meraki: improve event handling
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-airmarshal-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-ip-flow.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-urls.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/airmarshal.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/flows.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/idsalerts.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/ipflows.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/security.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/urls.yml
  packages/cisco_meraki/data_stream/log/fields/fields.yml
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: enhancement, Integration:Cisco Meraki, Team:Security-Service Integrations

#9843 http_endpoint: test ack api
  packages/http_endpoint/_dev/deploy/docker/docker-compose.yml
  packages/http_endpoint/_dev/test/system/test-http-acked-config.yml
  packages/http_endpoint/changelog.yml
Labels: enhancement, Integration:Custom HTTP Endpoint, Team:Security-Service Integrations

#9861 [O11y][SQL Input] Add healthcheck to all images
  packages/sql_input/_dev/deploy/docker/Dockerfile
  packages/sql_input/_dev/deploy/docker/docker-compose.yml
  packages/sql_input/_dev/deploy/docker/healthcheck.sh
  packages/sql_input/_dev/test/system/test-mssql-config.yml
Labels: bug, bugfix

#9558 Add Harvester Limit to the Apache Tomcat Logs
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/access/manifest.yml
  packages/apache_tomcat/data_stream/catalina/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/catalina/manifest.yml
  packages/apache_tomcat/data_stream/localhost/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/localhost/manifest.yml
  packages/apache_tomcat/manifest.yml
Labels: enhancement

#9836 ThreatConnect: various changes from testing and customer feedback
  packages/ti_threatconnect/_dev/build/docs/README.md
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/_dev/test/pipeline/test-indicator.log-expected.json
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatconnect/data_stream/indicator/fields/fields.yml
  packages/ti_threatconnect/data_stream/indicator/manifest.yml
  packages/ti_threatconnect/data_stream/indicator/sample_event.json
  packages/ti_threatconnect/docs/README.md
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/fields.yml
  packages/ti_threatconnect/manifest.yml
Labels: Integration:ThreatConnect

#9722 [microsoft_dnsserver] Initial release of Microsoft DNS Server integration
  .github/CODEOWNERS
  packages/microsoft_dnsserver/_dev/build/build.yml
  packages/microsoft_dnsserver/_dev/build/docs/README.md
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-events.json
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/analytical/agent/stream/etw.yml.hbs
  packages/microsoft_dnsserver/data_stream/analytical/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/data_stream/analytical/fields/agent.yml
  packages/microsoft_dnsserver/data_stream/analytical/fields/base-fields.yml
  packages/microsoft_dnsserver/data_stream/analytical/fields/ecs.yml
  packages/microsoft_dnsserver/data_stream/analytical/fields/fields.yml
  packages/microsoft_dnsserver/data_stream/analytical/fields/winlog.yml
  packages/microsoft_dnsserver/data_stream/analytical/manifest.yml
  packages/microsoft_dnsserver/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_dnsserver/data_stream/audit/_dev/test/pipeline/test-events.json
  packages/microsoft_dnsserver/data_stream/audit/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/audit/agent/stream/winlog.yml.hbs
  packages/microsoft_dnsserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/data_stream/audit/fields/agent.yml
  packages/microsoft_dnsserver/data_stream/audit/fields/base-fields.yml
  packages/microsoft_dnsserver/data_stream/audit/fields/ecs.yml
  packages/microsoft_dnsserver/data_stream/audit/fields/fields.yml
  packages/microsoft_dnsserver/data_stream/audit/fields/winlog.yml
  packages/microsoft_dnsserver/data_stream/audit/manifest.yml
  packages/microsoft_dnsserver/docs/README.md
  packages/microsoft_dnsserver/img/dashboard-microsoft_dnsserver-analytics.png
  packages/microsoft_dnsserver/img/dashboard-microsoft_dnsserver-audit.png
  packages/microsoft_dnsserver/img/logo.svg
  packages/microsoft_dnsserver/kibana/dashboard/microsoft_dnsserver-355bcc10-992b-4184-86a2-4d19b74296f0.json
  packages/microsoft_dnsserver/kibana/dashboard/microsoft_dnsserver-c5503fd5-e352-4ca1-8f45-23d36c15e0cf.json
  packages/microsoft_dnsserver/kibana/search/microsoft_dnsserver-470ee6e3-039a-4865-b3d4-d66c45176094.json
  packages/microsoft_dnsserver/kibana/tag/microsoft_dnsserver-266afa7f-5df4-403c-b4d9-cd475efd7dc5.json
  packages/microsoft_dnsserver/kibana/tag/microsoft_dnsserver-security-solution-default.json
  packages/microsoft_dnsserver/kibana/tags.yml
  packages/microsoft_dnsserver/manifest.yml
  packages/microsoft_dnsserver/validation.yml
Labels: enhancement, New Integration, Team:Security-Service Integrations, Team:Security-Windows Platform, Integration:Microsoft DNS Server

#9900 [cisco_ios] fix timestamp with zones parsing
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-asr920.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format-tzoffset.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9898 [fortinet_fortigate] Tolerate space between syslog priority and message
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bug, Integration:Fortinet_FortiGate, Team:Security-Deployment and Devices

#9763 [AWS] [CloudTrail] Fix resources field processing
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-assume-role-json.log
  packages/aws/data_stream/cloudtrail/_dev/test/pipeline/test-assume-role-json.log-expected.json
  packages/aws/data_stream/cloudtrail/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: bug, Integration:AWS, bugfix

#9911 aws_bedrock,google_scc,microsoft_defender_cloud,ti_threatconnect: fix renameKeys
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/invocation/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/manifest.yml
  packages/google_scc/changelog.yml
  packages/google_scc/data_stream/asset/elasticsearch/ingest_pipeline/pipeline_asset.yml
  packages/google_scc/data_stream/asset/elasticsearch/ingest_pipeline/pipeline_prior_asset.yml
  packages/google_scc/data_stream/finding/elasticsearch/ingest_pipeline/default.yml
  packages/google_scc/manifest.yml
  packages/microsoft_defender_cloud/changelog.yml
  packages/microsoft_defender_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_cloud/manifest.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatconnect/manifest.yml
Labels: Integration:Microsoft_defender_endpoint, bugfix, Integration:Google Security Command Center, Team:Security-Service Integrations, Integration:ThreatConnect, Integration:AWS Bedrock

#9919 cel: enable okta oauth2.0
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Integration:Custom API, Team:Security-Service Integrations

#9922 threatq: add user configurable page size
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_threatq/data_stream/threat/manifest.yml
  packages/ti_threatq/manifest.yml
Labels: enhancement

#9706 [Azure OpenAI] New Integration
  .github/CODEOWNERS
  packages/azure_openai/_dev/build/build.yml
  packages/azure_openai/_dev/build/docs/README.md
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-common-config.yml
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-audit.log
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-audit.log-expected.json
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-request-response.log
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-request-response.log-expected.json
  packages/azure_openai/data_stream/logs/agent/stream/azure-eventhub.yml.hbs
  packages/azure_openai/data_stream/logs/agent/stream/stream.yml.hbs
  packages/azure_openai/data_stream/logs/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure_openai/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_openai/data_stream/logs/fields/base-fields.yml
  packages/azure_openai/data_stream/logs/fields/fields.yml
  packages/azure_openai/data_stream/logs/fields/package-fields.yml
  packages/azure_openai/data_stream/logs/manifest.yml
  packages/azure_openai/data_stream/logs/sample_event.json
  packages/azure_openai/data_stream/metrics/_dev/test/pipeline/test-openai-request.json
  packages/azure_openai/data_stream/metrics/_dev/test/pipeline/test-openai-request.json-expected.json
  packages/azure_openai/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/azure_openai/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/azure_openai/data_stream/metrics/fields/base-fields.yml
  packages/azure_openai/data_stream/metrics/fields/fields.yml
  packages/azure_openai/data_stream/metrics/fields/package-fields.yml
  packages/azure_openai/data_stream/metrics/manifest.yml
  packages/azure_openai/data_stream/metrics/sample_event.json
  packages/azure_openai/docs/README.md
  packages/azure_openai/img/azure_open_ai_logs.png
  packages/azure_openai/img/azure_open_ai_metrics.png
  packages/azure_openai/img/open_ai.png
  packages/azure_openai/kibana/dashboard/azure_openai-473cae7c-5b4e-4a31-855d-26524a36a454.json
  packages/azure_openai/kibana/dashboard/azure_openai-5b98323b-7e41-408d-8b82-9cc41d4ed747.json
  packages/azure_openai/kibana/lens/azure_openai-01c4fa6c-7dec-477d-b894-d0c179b05596.json
  packages/azure_openai/kibana/lens/azure_openai-1764da9c-08f6-4cd7-8114-b1034f25f99f.json
  packages/azure_openai/kibana/lens/azure_openai-22e160fc-66e3-4621-959c-99061c89fe14.json
  packages/azure_openai/kibana/lens/azure_openai-2f685d81-f25c-4dd6-8eda-7aa0dfb047dc.json
  packages/azure_openai/kibana/lens/azure_openai-659106d5-abcf-4137-b4f5-1e611d82cfee.json
  packages/azure_openai/kibana/lens/azure_openai-65ded919-02f4-4b22-9202-9c7c5f37e14c.json
  packages/azure_openai/kibana/lens/azure_openai-72c471b1-eedf-40d4-ae08-7fb973a250e7.json
  packages/azure_openai/kibana/lens/azure_openai-74511b39-9b30-493e-afb5-051f9eefea41.json
  packages/azure_openai/kibana/lens/azure_openai-7f7ca901-39d4-4bf6-be31-84b15d2f8955.json
  packages/azure_openai/kibana/lens/azure_openai-9392374a-ec8f-4aaf-ac4c-96c0da94a74e.json
  packages/azure_openai/kibana/lens/azure_openai-a7cbf530-2aa9-4420-8dc1-b21a6213a7f4.json
  packages/azure_openai/manifest.yml
  packages/azure_openai/validation.yml
Labels: enhancement, New Integration

#9928 Add component values to endpoint metrics
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/endpoint_security_metrics/fields/fields.yml
  packages/elastic_agent/manifest.yml
Labels: Team:Elastic-Agent, Team:Elastic-Agent-Data-Plane

#9896 [O11y][Couchbase] Fix system tests
  packages/couchbase/_dev/deploy/docker/docker-compose.yml
  packages/couchbase/_dev/deploy/docker/files/setup.sh
Labels: bugfix

#9846 [fortinet_fortiproxy] Add Fortinet FortiProxy integration
  .github/CODEOWNERS
  packages/fortinet_fortiproxy/_dev/build/build.yml
  packages/fortinet_fortiproxy/_dev/build/docs/README.md
  packages/fortinet_fortiproxy/_dev/deploy/docker/docker-compose.yml
  packages/fortinet_fortiproxy/_dev/deploy/docker/sample_logs/fortinet-fortiproxy.log
  packages/fortinet_fortiproxy/changelog.yml
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/pipeline/test-example.log
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/pipeline/test-example.log-expected.json
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/fortinet_fortiproxy/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/fortinet_fortiproxy/data_stream/log/agent/stream/filestream.yml.hbs
  packages/fortinet_fortiproxy/data_stream/log/agent/stream/tcp.yml.hbs
  packages/fortinet_fortiproxy/data_stream/log/agent/stream/udp.yml.hbs
  packages/fortinet_fortiproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortiproxy/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortiproxy/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortiproxy/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortiproxy/data_stream/log/fields/agent.yml
  packages/fortinet_fortiproxy/data_stream/log/fields/base-fields.yml
  packages/fortinet_fortiproxy/data_stream/log/fields/ecs.yml
  packages/fortinet_fortiproxy/data_stream/log/fields/fields.yml
  packages/fortinet_fortiproxy/data_stream/log/manifest.yml
  packages/fortinet_fortiproxy/data_stream/log/sample_event.json
  packages/fortinet_fortiproxy/docs/README.md
  packages/fortinet_fortiproxy/img/dashboard.png
  packages/fortinet_fortiproxy/img/fortinet-logo.svg
  packages/fortinet_fortiproxy/kibana/dashboard/fortinet_fortiproxy-16343146-928c-4ed6-b6da-69035363fb73.json
  packages/fortinet_fortiproxy/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:Fortinet_FortiProxy

#9947 Add field 'event.ingested' to transform
  packages/beaconing/changelog.yml
  packages/beaconing/elasticsearch/transform/pivot_transform/fields/fields.yml
  packages/beaconing/elasticsearch/transform/pivot_transform/transform.yml
  packages/beaconing/manifest.yml
Labels: bugfix

#9944 [Azure] [OpenAI] Update metric types from gauge to counter
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/metrics/fields/fields.yml
  packages/azure_openai/docs/README.md
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9933 cisco_duo: improve error handling
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/admin/_dev/test/pipeline/test-admin.log
  packages/cisco_duo/data_stream/admin/_dev/test/pipeline/test-admin.log-expected.json
  packages/cisco_duo/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/auth/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/offline_enrollment/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/summary/_dev/test/pipeline/test-summary.log-expected.json
  packages/cisco_duo/data_stream/summary/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/data_stream/telephony/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_duo/manifest.yml
Labels: enhancement, integration:Cisco Duo, Team:Security-Service Integrations

#9908 jamf_protect: update manifest format version to v3.0.3
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/alerts/fields/ecs.yml
  packages/jamf_protect/data_stream/alerts/fields/fields.yml
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/data_stream/telemetry/sample_event.json
  packages/jamf_protect/data_stream/web_threat_events/fields/ecs.yml
  packages/jamf_protect/data_stream/web_threat_events/sample_event.json
  packages/jamf_protect/data_stream/web_traffic_events/_dev/test/pipeline/test-jamf-protect-traffic-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/web_traffic_events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/web_traffic_events/fields/ecs.yml
  packages/jamf_protect/data_stream/web_traffic_events/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
  packages/jamf_protect/validation.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:Jamf Protect

#9968 [Azure] [OpenAI] Enhance Logs Dashboard
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_logs.png
  packages/azure_openai/kibana/dashboard/azure_openai-5b98323b-7e41-408d-8b82-9cc41d4ed747.json
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9972 [crowdstrike] Fix handling of empty responses in CEL
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/manifest.yml
Labels: Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#9924 snyk: add support for new api
  packages/snyk/_dev/build/docs/README.md
  packages/snyk/_dev/deploy/docker/files/config.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/_dev/test/pipeline/test-common-config.yml
  packages/snyk/data_stream/audit_logs/_dev/test/pipeline/test-snyk-audit.json
  packages/snyk/data_stream/audit_logs/_dev/test/pipeline/test-snyk-audit.json-expected.json
  packages/snyk/data_stream/audit_logs/_dev/test/system/test-default-config.yml
  packages/snyk/data_stream/audit_logs/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/audit_logs/fields/agent.yml
  packages/snyk/data_stream/audit_logs/fields/base-fields.yml
  packages/snyk/data_stream/audit_logs/fields/beats.yml
  packages/snyk/data_stream/audit_logs/fields/ecs.yml
  packages/snyk/data_stream/audit_logs/fields/fields.yml
  packages/snyk/data_stream/audit_logs/fields/package-fields.yml
  packages/snyk/data_stream/audit_logs/manifest.yml
  packages/snyk/data_stream/audit_logs/sample_event.json
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-common-config.yml
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-snyk-issues.json
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-snyk-issues.json-expected.json
  packages/snyk/data_stream/issues/_dev/test/system/test-default-config.yml
  packages/snyk/data_stream/issues/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/issues/fields/agent.yml
  packages/snyk/data_stream/issues/fields/base-fields.yml
  packages/snyk/data_stream/issues/fields/beats.yml
  packages/snyk/data_stream/issues/fields/ecs.yml
  packages/snyk/data_stream/issues/fields/fields.yml
  packages/snyk/data_stream/issues/fields/package-fields.yml
  packages/snyk/data_stream/issues/manifest.yml
  packages/snyk/data_stream/issues/sample_event.json
  packages/snyk/docs/README.md
  packages/snyk/manifest.yml
Labels: enhancement, Integration:Snyk, Team:Security-Service Integrations

#9935 http_endpoint: clarify supported HMAC header format
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/manifest.yml
Labels: documentation, enhancement, bugfix, Integration:Custom HTTP Endpoint, Team:Security-Service Integrations

#9979 [proofpoint_tap] Hash event.original for doc _id
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/manifest.yml
Labels: Integration:Proofpoint, Team:Security-Service Integrations

#9982 [proofpoint_tap] Set timestamp to max of {click,message}Time and threatTime
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/_dev/test/pipeline/test-clicks-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/fields/fields.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/_dev/test/pipeline/test-clicks-permitted.log-expected.json
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/fields/fields.yml
  packages/proofpoint_tap/data_stream/message_blocked/_dev/test/pipeline/test-message-blocked.log-expected.json
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/_dev/test/pipeline/test-message-delivered.log-expected.json
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: enhancement, Integration:Proofpoint, Team:Security-Service Integrations

#9977 Promote packages to GA
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/manifest.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ThreatConnect, Integration:Jamf Protect

#9983 [m365_defender] Drop last page events for alerts data stream
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
Labels: Integration: M365_Defender, bugfix, Team:Security-Windows Platform

#9936 cel: add support for digest authentication
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Integration:CEL, Team:Security-Service Integrations

#9723 [Microsoft Exchange Server] Adjust mapping to include agent & host field to avoid mapping conflicts
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/ecs.yml
  packages/microsoft_exchange_server/data_stream/smtp/fields/ecs.yml
  packages/microsoft_exchange_server/manifest.yml
Labels: enhancement, Team:Security-Windows Platform

#9962 [Cloudflare Logpush] Improve documentation on how to ingest data from Cloudflare R2
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:Cloudflare Logpush, Team:Security-Service Integrations

#9874 [docs] Add the subobjects adoption guide to docs
  docs/subobjects_adoption_guide.md
Labels: Team:Cloud-Monitoring, docs

#9971 Add cluster UUID to the Logstash node datastream.
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node_cel/agent/stream/cel.yml.hbs
  packages/logstash/manifest.yml
Labels: bug, bugfix

#9988 lastpass: Add `pagesize` and `pageindex` to `detailed_shared_folder` datastream
  packages/lastpass/_dev/deploy/docker/files/config.yml
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/detailed_shared_folder/_dev/test/system/test-default-config.yml
  packages/lastpass/data_stream/detailed_shared_folder/agent/stream/httpjson.yml.hbs
  packages/lastpass/data_stream/detailed_shared_folder/manifest.yml
  packages/lastpass/data_stream/detailed_shared_folder/sample_event.json
  packages/lastpass/docs/README.md
  packages/lastpass/manifest.yml
Labels: enhancement, Integration:Lastpass, Team:Security-Service Integrations

#9990 [Apache Tomcat] Fix improperly configured fields `harvester_limit` and `close.on_state_change.inactive`
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/access/manifest.yml
  packages/apache_tomcat/data_stream/catalina/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/catalina/manifest.yml
  packages/apache_tomcat/data_stream/localhost/agent/stream/filestream.yml.hbs
  packages/apache_tomcat/data_stream/localhost/manifest.yml
  packages/apache_tomcat/manifest.yml
Labels: Integration:Tomcat, Team:Obs-InfraObs, bugfix

#9414 etcd: Added ssl options
  packages/etcd/changelog.yml
  packages/etcd/data_stream/leader/agent/stream/stream.yml.hbs
  packages/etcd/data_stream/leader/fields/fields.yml
  packages/etcd/data_stream/leader/manifest.yml
  packages/etcd/data_stream/leader/sample_event.json
  packages/etcd/data_stream/metrics/_dev/test/system/test-default-config.yml
  packages/etcd/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/etcd/data_stream/metrics/fields/fields.yml
  packages/etcd/data_stream/metrics/fields/package-fields.yml
  packages/etcd/data_stream/metrics/manifest.yml
  packages/etcd/data_stream/self/agent/stream/stream.yml.hbs
  packages/etcd/data_stream/store/agent/stream/stream.yml.hbs
  packages/etcd/manifest.yml
Labels: enhancement, Integration:Etcd

#9950 [O11y][Airflow] Update documentation
  packages/airflow/_dev/build/docs/README.md
  packages/airflow/changelog.yml
  packages/airflow/docs/README.md
  packages/airflow/manifest.yml
Labels: Integration:airflow

#8523 [Fortimanager] Switch from `kv` to `script` Processors to Improve Performance
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimanager/manifest.yml
Labels: enhancement

#9986 [Azure] [OpenAI] Enhance Metrics Dashboard
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_metrics.png
  packages/azure_openai/kibana/dashboard/azure_openai-473cae7c-5b4e-4a31-855d-26524a36a454.json
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9951 [oracle] Fix used bytes logic
  packages/oracle/changelog.yml
  packages/oracle/data_stream/tablespace/agent/stream/stream.yml.hbs
  packages/oracle/kibana/dashboard/oracle-55661160-08c7-11ed-9abf-15e60715cfab.json
  packages/oracle/kibana/dashboard/oracle-9e19fb00-08e1-11ed-9abf-15e60715cfab.json
  packages/oracle/manifest.yml
  packages/oracle/validation.yml
Labels: bug, Integration:Oracle, Team:Obs-InfraObs

#10004 [Azure] [OpenAI] Remove requests.total filter from metrics dashboard
  packages/azure_openai/changelog.yml
  packages/azure_openai/kibana/dashboard/azure_openai-473cae7c-5b4e-4a31-855d-26524a36a454.json
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#9747 [gitlab] Initial release for Gitlab integration
  .github/CODEOWNERS
  packages/gitlab/_dev/build/build.yml
  packages/gitlab/_dev/build/docs/README.md
  packages/gitlab/_dev/deploy/docker/docker-compose.yml
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-api.log
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-production.log
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/api/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/api/_dev/test/pipeline/test-gitlab-api.log
  packages/gitlab/data_stream/api/_dev/test/pipeline/test-gitlab-api.log-expected.json
  packages/gitlab/data_stream/api/_dev/test/system/test-filestream-config.yml
  packages/gitlab/data_stream/api/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/api/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/api/fields/agent.yml
  packages/gitlab/data_stream/api/fields/base-fields.yml
  packages/gitlab/data_stream/api/fields/beats.yml
  packages/gitlab/data_stream/api/fields/fields.yml
  packages/gitlab/data_stream/api/manifest.yml
  packages/gitlab/data_stream/api/sample_event.json
  packages/gitlab/data_stream/production/_dev/test/pipeline/test-common-config.yml
  packages/gitlab/data_stream/production/_dev/test/pipeline/test-gitlab-production.log
  packages/gitlab/data_stream/production/_dev/test/pipeline/test-gitlab-production.log-expected.json
  packages/gitlab/data_stream/production/_dev/test/system/test-filestream-config.yml
  packages/gitlab/data_stream/production/agent/stream/filestream.yml.hbs
  packages/gitlab/data_stream/production/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/production/fields/agent.yml
  packages/gitlab/data_stream/production/fields/base-fields.yml
  packages/gitlab/data_stream/production/fields/beats.yml
  packages/gitlab/data_stream/production/fields/fields.yml
  packages/gitlab/data_stream/production/manifest.yml
  packages/gitlab/data_stream/production/sample_event.json
  packages/gitlab/docs/README.md
  packages/gitlab/img/gitlab-api-dashboard.png
  packages/gitlab/img/gitlab-logo.svg
  packages/gitlab/img/gitlab-production-dashboard.png
  packages/gitlab/kibana/dashboard/gitlab-474c2c79-8777-4fe6-aa0a-232feb1cbee9.json
  packages/gitlab/kibana/dashboard/gitlab-e21a3664-0856-4ad9-83ce-e5e86397c21b.json
  packages/gitlab/manifest.yml
Labels: enhancement, New Integration, Team:Security-Service Integrations, Integration Assistant

#10015 [Security Rules] Update security rules package to v8.14.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10014 [Security Rules] Update security rules package to v8.13.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#10012 [Security Rules] Update security rules package to v8.11.17
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9941 Add Cloud Asset Inventory
  .github/CODEOWNERS
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/agent/stream/aws.yml.hbs
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/asset.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/base-fields.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/docs/README.md
  packages/cloud_asset_inventory/img/logo_cloud_security_posture.svg
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement

#10016 [Azure] [OpenAI] Add Overview Dashboard for both logs and metrics
  packages/azure_openai/changelog.yml
  packages/azure_openai/kibana/dashboard/azure_openai-21d9a0d0-e6a0-4b34-bc6d-ce6560a1dab3.json
  packages/azure_openai/kibana/dashboard/azure_openai-473cae7c-5b4e-4a31-855d-26524a36a454.json
  packages/azure_openai/kibana/dashboard/azure_openai-5b98323b-7e41-408d-8b82-9cc41d4ed747.json
  packages/azure_openai/manifest.yml
Labels: Integration:Azure

#10019 bitdefender: Update doc with input limitation collecting jsonRPC format.
  packages/bitdefender/_dev/build/docs/README.md
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_notifications/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/docs/README.md
  packages/bitdefender/manifest.yml
Labels: enhancement, Integration:Bitdefender, Team:Security-Service Integrations

#10021 [Azure] [OpenAI] Enhance navigation and overview dashboard
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_logs.png
  packages/azure_openai/img/azure_open_ai_metrics.png
  packages/azure_openai/img/azure_open_ai_overview.png
  packages/azure_openai/kibana/dashboard/azure_openai-21d9a0d0-e6a0-4b34-bc6d-ce6560a1dab3.json
  packages/azure_openai/kibana/dashboard/azure_openai-473cae7c-5b4e-4a31-855d-26524a36a454.json
  packages/azure_openai/kibana/dashboard/azure_openai-5b98323b-7e41-408d-8b82-9cc41d4ed747.json
  packages/azure_openai/manifest.yml
  packages/azure_openai/validation.yml
Labels: Integration:Azure

#9451 [Zeek] Bug in NTP pipeline
  packages/zeek/changelog.yml
  packages/zeek/data_stream/ntp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: bug, Integration:Zeek, Team:Security-Deployment and Devices

#10030 [cisco_ios] Update 'if' case in grok to handle IOSXE log message that was erroring
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug

#10003 qualys_vmdr: allow original event preservation
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/manifest.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/system/test-0_valid-config.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/manifest.yml
  packages/qualys_vmdr/data_stream/knowledge_base/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration: Qualys VMDR, Team:Security-Service Integrations

#9994 snyk: fix handling of event filter parameter in audit_logs data stream
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/agent/stream/cel.yml.hbs
  packages/snyk/manifest.yml
Labels: Integration:Snyk, bugfix, Team:Security-Service Integrations

#9997 [O11y][IBM MQ] Enable secret for the `password` field and add dashboard-level filters
  packages/ibmmq/_dev/build/docs/README.md
  packages/ibmmq/changelog.yml
  packages/ibmmq/data_stream/errorlog/_dev/test/pipeline/test-errorlog.log-expected.json
  packages/ibmmq/data_stream/errorlog/elasticsearch/ingest_pipeline/default.yml
  packages/ibmmq/data_stream/errorlog/fields/fields.yml
  packages/ibmmq/data_stream/errorlog/sample_event.json
  packages/ibmmq/data_stream/qmgr/_dev/test/pipeline/test-qmgr-metrics.json-expected.json
  packages/ibmmq/data_stream/qmgr/elasticsearch/ingest_pipeline/default.yml
  packages/ibmmq/data_stream/qmgr/sample_event.json
  packages/ibmmq/docs/README.md
  packages/ibmmq/img/ibmmq-errorlog.png
  packages/ibmmq/kibana/dashboard/ibmmq-8f788c70-36c9-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/dashboard/ibmmq-ba1d8830-7c7b-11e9-9645-e37efaf5baff.json
  packages/ibmmq/kibana/dashboard/ibmmq-d2112e90-36ea-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/dashboard/ibmmq-fc5512c0-36d1-11ea-9f7a-097fe7ab3ddd.json
  packages/ibmmq/kibana/search/ibmmq-82db7ba0-adec-11e9-8358-1517661d7c84.json
  packages/ibmmq/manifest.yml
Labels: Integration:IBM-MQ

#9985 okta: add support for OIN service API authentication
  packages/okta/_dev/build/docs/README.md
  packages/okta/_dev/deploy/docker/files/config_oauth2.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/system/test-oin-config.yml
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:Okta, Team:Security-Service Integrations

#10043 Fix Cloud Assets Inventory dataset
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: bug
