Repository elastic/integrations, pull requests merged in 2024-01, with the labels that each got.

#8650 Add support for tags, processors and the preserve_original_event to mysql
  packages/mysql/_dev/deploy/docker/docker-compose.yml
  packages/mysql/_dev/deploy/docker/entrypoint.sh
  packages/mysql/_dev/deploy/variants.yml
  packages/mysql/changelog.yml
  packages/mysql/data_stream/error/_dev/test/pipeline/test-common-config.yml
  packages/mysql/data_stream/error/_dev/test/pipeline/test-error.log-expected.json
  packages/mysql/data_stream/error/_dev/test/pipeline/test-mariadb-10-4-8.log-expected.json
  packages/mysql/data_stream/error/_dev/test/pipeline/test-mysql-darwin-brew-5-7-10.log-expected.json
  packages/mysql/data_stream/error/_dev/test/pipeline/test-mysql-ubuntu-5-5-53.log-expected.json
  packages/mysql/data_stream/error/_dev/test/pipeline/test-mysql-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/error/agent/stream/stream.yml.hbs
  packages/mysql/data_stream/error/elasticsearch/ingest_pipeline/default.yml
  packages/mysql/data_stream/error/fields/ecs.yml
  packages/mysql/data_stream/error/manifest.yml
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-common-config.yml
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-1-21.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-2-12.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-10-3-13.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mariadb-explain.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-5-7-22.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-darwin-brew-5-7-10.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-debian-5-7-17.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-debian-5-7-19.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-5-5-53.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-mysql-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-5-7-19-innodb.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-5-7-19.log-expected.json
  packages/mysql/data_stream/slowlog/_dev/test/pipeline/test-percona-ubuntu-8-0-15.log-expected.json
  packages/mysql/data_stream/slowlog/agent/stream/stream.yml.hbs
  packages/mysql/data_stream/slowlog/elasticsearch/ingest_pipeline/default.json
  packages/mysql/data_stream/slowlog/fields/ecs.yml
  packages/mysql/data_stream/slowlog/manifest.yml
  packages/mysql/docs/README.md
  packages/mysql/manifest.yml
Labels: enhancement

#8784 [cribl] bumping integration version
  packages/cribl/changelog.yml
  packages/cribl/manifest.yml
Labels: bugfix

#8822 [Cloud Security] revert to have disabled fields removed
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/fields/resource.yml
  packages/cloud_security_posture/data_stream/findings/fields/result.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, 8.12 candidate

#8754 [Oracle] Document alternate method of adding runtime library path
  packages/oracle/_dev/build/docs/README.md
  packages/oracle/changelog.yml
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: documentation, enhancement

#8786 [Threat Intel] Fix IOC expiration duration character casting in painless script
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-integrator-http-config.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-webhook-http-config.yml
  packages/ti_anomali/data_stream/threatstream/_dev/test/system/test-webhook-https-config.yml
  packages/ti_anomali/data_stream/threatstream/agent/stream/http_endpoint.yml.hbs
  packages/ti_anomali/data_stream/threatstream/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
  packages/ti_otx/_dev/deploy/docker/config.yml
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/pulses_subscribed/_dev/test/system/test-default-config.yml
  packages/ti_otx/data_stream/pulses_subscribed/agent/stream/cel.yml.hbs
  packages/ti_otx/data_stream/pulses_subscribed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_otx/data_stream/pulses_subscribed/sample_event.json
  packages/ti_otx/docs/README.md
  packages/ti_otx/manifest.yml
  packages/ti_threatq/_dev/deploy/docker/files/config.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/system/test-default-config.yml
  packages/ti_threatq/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_threatq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatq/data_stream/threat/sample_event.json
  packages/ti_threatq/docs/README.md
  packages/ti_threatq/manifest.yml
Labels: Team:Security-External Integrations, Integration:AlienVaultOTX, Integration:Anomali, bugfix, Integration:ThreatQ

#8831 [Tenable IO] Add request tracing to vulnerability datastream and capture chain requests
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/asset/sample_event.json
  packages/tenable_io/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/tenable_io/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/tenable_io/data_stream/vulnerability/sample_event.json
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Tenable.io

#8813 [Azure Logs] Add caller_ip_address field for sign-in logs
  packages/azure/changelog.yml
  packages/azure/data_stream/application_gateway/_dev/test/pipeline/test-application-gateway-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-raw.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user-signin.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-service-principal-signinlogs-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-service-principal.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-raw.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-sample.log-expected.json
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/signinlogs/fields/fields.yml
  packages/azure/docs/adlogs.md
  packages/azure/manifest.yml
Labels: Integration:Azure

#8837 [ti_misp] Fix attribute for email subject threat indicator
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log
  packages/ti_misp/data_stream/threat_attributes/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat_attributes/elasticsearch/ingest_pipeline/default.yml
  packages/ti_misp/data_stream/threat_attributes/fields/ecs.yml
  packages/ti_misp/docs/README.md
  packages/ti_misp/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:MISP

#8796 [elasticsearch] Minor mappings updates
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/fields.yml
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: Team:obs-ux-infra_services, Integration:Elasticsearch, Feature:Stack Monitoring

#8761 [O11y][MySQL] Rally benchmark `mysql.performance`
  packages/mysql/_dev/benchmark/rally/performance-benchmark.yml
  packages/mysql/_dev/benchmark/rally/performance-benchmark/config.yml
  packages/mysql/_dev/benchmark/rally/performance-benchmark/fields.yml
  packages/mysql/_dev/benchmark/rally/performance-benchmark/template.ndjson
Labels: enhancement, Integration:MySQL

#8848 [Kubernetes] Add support to 1.29 version
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/docs/README.md
Labels: Team:Cloudnative-Monitoring

#8830 [O11y][Oracle WebLogic] Fix Logs Overview dashboard
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/img/oracle_weblogic-logs-overview.png
  packages/oracle_weblogic/kibana/dashboard/oracle_weblogic-4b2b0170-b88a-11ec-b6f8-0795d197226b.json
  packages/oracle_weblogic/kibana/search/oracle_weblogic-29bb6410-aac5-11ee-bb76-15bcee040017.json
  packages/oracle_weblogic/kibana/search/oracle_weblogic-3af04f80-aac9-11ee-b222-f5b5a8e80f6d.json
  packages/oracle_weblogic/kibana/search/oracle_weblogic-d6f23510-aac9-11ee-b222-f5b5a8e80f6d.json
  packages/oracle_weblogic/manifest.yml
Labels: Integration:oracle_weblogic, bugfix

#8789 [ti_crowdstrike] Initial release for ti_crowdstrike.
  .github/CODEOWNERS
  packages/ti_crowdstrike/_dev/build/build.yml
  packages/ti_crowdstrike/_dev/build/docs/README.md
  packages/ti_crowdstrike/_dev/deploy/docker/docker-compose.yml
  packages/ti_crowdstrike/_dev/deploy/docker/files/config.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-common-config.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/intel/_dev/test/system/test-default-config.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ilm/default_policy.json
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/data_stream/intel/fields/base-fields.yml
  packages/ti_crowdstrike/data_stream/intel/fields/beats.yml
  packages/ti_crowdstrike/data_stream/intel/fields/fields.yml
  packages/ti_crowdstrike/data_stream/intel/lifecycle.yml
  packages/ti_crowdstrike/data_stream/intel/manifest.yml
  packages/ti_crowdstrike/data_stream/intel/sample_event.json
  packages/ti_crowdstrike/data_stream/ioc/_dev/test/pipeline/test-common-config.yml
  packages/ti_crowdstrike/data_stream/ioc/_dev/test/pipeline/test-ioc.log
  packages/ti_crowdstrike/data_stream/ioc/_dev/test/pipeline/test-ioc.log-expected.json
  packages/ti_crowdstrike/data_stream/ioc/_dev/test/system/test-default-config.yml
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/elasticsearch/ilm/default_policy.json
  packages/ti_crowdstrike/data_stream/ioc/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/data_stream/ioc/fields/base-fields.yml
  packages/ti_crowdstrike/data_stream/ioc/fields/beats.yml
  packages/ti_crowdstrike/data_stream/ioc/fields/fields.yml
  packages/ti_crowdstrike/data_stream/ioc/lifecycle.yml
  packages/ti_crowdstrike/data_stream/ioc/manifest.yml
  packages/ti_crowdstrike/data_stream/ioc/sample_event.json
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/agent.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/base-fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/beats.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/ecs.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/manifest.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/transform.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/agent.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/base-fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/beats.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/manifest.yml
  packages/ti_crowdstrike/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_crowdstrike/img/crowdstrike_falcon_intelligence-logo.svg
  packages/ti_crowdstrike/img/ti_crowdstrike-intel-dashboard.png
  packages/ti_crowdstrike/img/ti_crowdstrike-ioc-dashboard.png
  packages/ti_crowdstrike/kibana/dashboard/ti_crowdstrike-37a9ef30-9993-11ee-9b44-fd906664033c.json
  packages/ti_crowdstrike/kibana/dashboard/ti_crowdstrike-b81b5020-9e64-11ee-9777-1d1f44d25bb5.json
  packages/ti_crowdstrike/manifest.yml
  packages/ti_crowdstrike/validation.yml
Labels: New Integration, Integration:TI Crowdstrike

#8870 [TCP/UDP] Add missing ECS syslog mapping
  packages/tcp/changelog.yml
  packages/tcp/data_stream/generic/fields/ecs.yml
  packages/tcp/manifest.yml
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/fields/ecs.yml
  packages/udp/manifest.yml
Labels: Team:Security-External Integrations, bugfix, Integration:TCP, Integration:UDP

#8859 vSphere - update details on logs configuration
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: documentation, enhancement, integration

#8872 M365 Defender integration - fix on process.command_line
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: bug, Integration: M365_Defender

#8873 [pulse_secure]Handle session token in vpn log
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-vpn.log
  packages/pulse_connect_secure/data_stream/log/_dev/test/pipeline/test-log-vpn.log-expected.json
  packages/pulse_connect_secure/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pulse_connect_secure/data_stream/log/fields/fields.yml
  packages/pulse_connect_secure/docs/README.md
  packages/pulse_connect_secure/manifest.yml
Labels: Team:Security-External Integrations, Integration:PulseConnectSecure, bugfix

#8883 [Cisco FTD] added nullcheck for Network Directionality when zones aren't configured
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoFTD, bugfix

#8871 [Buildkite] Update catalog-info settings
  catalog-info.yaml
Labels: ci

#8877 [windows] Adding custom config to datastreams winlog input
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_exe_and_dll/manifest.yml
  packages/windows/data_stream/applocker_msi_and_script/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_msi_and_script/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_packaged_app_deployment/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_execution/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/applocker_packaged_app_execution/manifest.yml
  packages/windows/data_stream/forwarded/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/forwarded/manifest.yml
  packages/windows/data_stream/powershell/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/powershell/manifest.yml
  packages/windows/data_stream/powershell_operational/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/powershell_operational/manifest.yml
  packages/windows/data_stream/sysmon_operational/agent/stream/winlog.yml.hbs
  packages/windows/data_stream/sysmon_operational/manifest.yml
  packages/windows/manifest.yml
Labels: enhancement, Team:Elastic-Agent

#8882 aws: fix query range calculation for GuardDuty datastream
  packages/aws/changelog.yml
  packages/aws/data_stream/guardduty/agent/stream/httpjson.yml.hbs
  packages/aws/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:AWS

#8800 [O11y][Nginx] Rally benchmark `nginx.stubstatus`
  packages/nginx/_dev/benchmark/rally/stubstatus-benchmark.yml
  packages/nginx/_dev/benchmark/rally/stubstatus-benchmark/config.yml
  packages/nginx/_dev/benchmark/rally/stubstatus-benchmark/fields.yml
  packages/nginx/_dev/benchmark/rally/stubstatus-benchmark/template.ndjson
Labels: enhancement, Integration:NGINX

#8898 cisco_asa,cisco_ftd: retain source and destination user emails if present
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/ecs.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/ecs.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:CiscoFTD, Integration:CiscoASA

#8875 [ti_opencti] Keep expected nulls, improve error handling
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_opencti/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_opencti/manifest.yml
Labels: Team:Security-External Integrations, bugfix

#8912 [Google Workspace] Adding additional date format to admin pipeline
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-docs.log
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-docs.log-expected.json
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: Team:Security-External Integrations, Integration:Google Workspace, bugfix

#8915 [MySQL] Fix performance benchmarking
  packages/mysql/_dev/benchmark/rally/performance-benchmark/template.ndjson
Labels: Integration:MySQL, bugfix

#8918 AWS: Update integration changelog with backports releases
  packages/aws/changelog.yml
Labels: Integration:AWS, docs

#8899 m365_defender: add geoip processing to {source,destination}.ip
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/event/fields/ecs.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration: M365_Defender

#8897 Add mapping for total_data_set_size in elasticsearch integration
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/cluster_stats/fields/fields.yml
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/data_stream/index_summary/fields/fields.yml
  packages/elasticsearch/data_stream/node_stats/fields/fields.yml
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/manifest.yml
Labels: Integration:Elasticsearch, >enhancement, Feature:Stack Monitoring

#8922 ti_crowdstrike: prevent eval failure when pagination is absent
  packages/ti_crowdstrike/_dev/deploy/docker/files/config.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:TI Crowdstrike

#8803 [o365] Add extra values to `related.user`
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-admin-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365

#8879 [Windows] Sysmon Event ID 26: FileDeleteDetected (File Delete logged) is mapping Process Hashes instead of File Hashes
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-sysmon-operational-events.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/sysmon_operational.yml
  packages/windows/data_stream/sysmon_operational/_dev/test/pipeline/test-events.json-expected.json
  packages/windows/data_stream/sysmon_operational/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Team:Security-External Integrations, Integration:Windows, Team:Elastic-Agent

#8611 [Security Solution] Update SentinelOne integration README with info. on configuring response actions
  packages/sentinel_one/_dev/build/docs/README.md
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, v8.12.0

#8927 [O11y][ActiveMQ] Resolve host.ip field conflict
  packages/activemq/_dev/build/docs/README.md
  packages/activemq/changelog.yml
  packages/activemq/data_stream/broker/fields/ecs.yml
  packages/activemq/data_stream/log/fields/ecs.yml
  packages/activemq/data_stream/queue/fields/ecs.yml
  packages/activemq/data_stream/topic/fields/ecs.yml
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
Labels: Integration:ActiveMQ, bugfix

#8928 [O11y][ActiveMQ] Add metric_type and support tooltip for period
  packages/activemq/changelog.yml
  packages/activemq/data_stream/broker/fields/fields.yml
  packages/activemq/data_stream/broker/manifest.yml
  packages/activemq/data_stream/queue/fields/fields.yml
  packages/activemq/data_stream/queue/manifest.yml
  packages/activemq/data_stream/topic/fields/fields.yml
  packages/activemq/data_stream/topic/manifest.yml
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
Labels: enhancement, Integration:ActiveMQ

#8936 infoblox_nios: handle rpz hit log messages
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/data_stream/log/fields/fields.yml
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Infoblox_nios

#8932 [Cisco Secure Email Gateway] Fix pipeline errors for AMP and Consolidated Event logs
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-amp.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_amp.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/data_stream/log/fields/fields.yml
  packages/cisco_secure_email_gateway/docs/README.md
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Team:Security-External Integrations, Integration:CiscoSecureEmailGateway, bugfix

#8857 [Keycloak] Make parsers configurable to support multiline logs
  packages/keycloak/_dev/build/docs/README.md
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/keycloak/data_stream/log/agent/stream/filestream.yml.hbs
  packages/keycloak/data_stream/log/manifest.yml
  packages/keycloak/docs/README.md
  packages/keycloak/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:Keycloak

#8948 Make Oracle DSN configuration details more discoverable
  packages/oracle/_dev/build/docs/README.md
  packages/oracle/changelog.yml
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: documentation, enhancement

#8949 [Buildkite] Downgrade docker version used for testing
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/common.sh
  .buildkite/scripts/test_integrations_with_serverless.sh
  .buildkite/scripts/test_one_package.sh
Labels: ci

#8833 [SEI] Promote packages to GA
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/manifest.yml
  packages/arista_ngfw/changelog.yml
  packages/arista_ngfw/manifest.yml
  packages/cisco_nexus/changelog.yml
  packages/cisco_nexus/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/cisco_nexus/manifest.yml
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/manifest.yml
  packages/entityanalytics_okta/_dev/deploy/docker/files/config.yml
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/manifest.yml
  packages/google_scc/changelog.yml
  packages/google_scc/manifest.yml
  packages/imperva/changelog.yml
  packages/imperva/manifest.yml
  packages/imperva/validation.yml
  packages/microsoft_defender_cloud/changelog.yml
  packages/microsoft_defender_cloud/manifest.yml
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/manifest.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/manifest.yml
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/manifest.yml
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/manifest.yml
  packages/ti_mandiant_advantage/_dev/deploy/docker/docker-compose.yml
  packages/ti_mandiant_advantage/_dev/deploy/docker/files/config.yml
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-fqdn-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-ipv4-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-md5-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/pipeline/test-threat-intelligence-url-event.json
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/_dev/test/system/test-default-config.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/ecs.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/fields/fields.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/manifest.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/sample_event.json
  packages/ti_mandiant_advantage/manifest.yml
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-domain-name-with-external-reference.json
  packages/ti_opencti/manifest.yml
  packages/trellix_edr_cloud/changelog.yml
  packages/trellix_edr_cloud/manifest.yml
  packages/wiz/changelog.yml
  packages/wiz/manifest.yml
  packages/wiz/validation.yml
Labels: enhancement, Team:Security-External Integrations

#8926 [O11y][ActiveMQ] Update README
  packages/activemq/_dev/build/docs/README.md
  packages/activemq/changelog.yml
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
Labels: documentation, enhancement, Integration:ActiveMQ

#8953 [proofpoint_tap] Add error.message ECS field mapping
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/fields/ecs.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/fields/ecs.yml
  packages/proofpoint_tap/data_stream/message_blocked/fields/ecs.yml
  packages/proofpoint_tap/data_stream/message_delivered/fields/ecs.yml
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: bug, Team:Security-External Integrations, Integration:Proofpoint

#8952 [Buildkite] Update elastic-package settings
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/common.sh
Labels: ci

#8492 [m365_defender] Fix log data stream cursor and query
  packages/m365_defender/_dev/deploy/docker/docker-compose.yml
  packages/m365_defender/_dev/deploy/docker/incident-http-mock-config.yml
  packages/m365_defender/_dev/deploy/docker/log-http-mock-config.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/incident/_dev/test/system/test-default-config.yml
  packages/m365_defender/data_stream/log/_dev/test/system/test-httpjson-config.yml
  packages/m365_defender/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/m365_defender/manifest.yml
Labels: Team:Security-External Integrations, Integration: M365_Defender, bugfix

#8964 [o365] Add error.message ECS field mapping
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-platform-attribute-events.json
  packages/o365/data_stream/audit/fields/ecs.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: bug, Integration:o365, Team:Security-Service Integrations

#8931 [Elasticsearch] Make "Total Storage over time" viz consistent with others by using same sourceField
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/kibana/dashboard/elasticsearch-b1399af0-628c-11ee-9c63-732d7f759a7a.json
  packages/elasticsearch/manifest.yml
Labels: bug

#8974 [bitdefender]: Disable content-type validation
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_notifications/agent/stream/http_endpoint.yml.hbs
  packages/bitdefender/manifest.yml
Labels: enhancement, Integration:Bitdefender

#8986 [o365] Expose OAuth2 token scopes configuration value
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: enhancement, Team:Security-External Integrations, Integration:o365, Team:Security-Service Integrations

#8911 [ti_eclecticiq][Enhancement] Enable SSL configuration
  packages/ti_eclecticiq/_dev/deploy/docker/config.yml
  packages/ti_eclecticiq/changelog.yml
  packages/ti_eclecticiq/data_stream/threat/_dev/test/pipeline/test-outgoing-feed-event.json
  packages/ti_eclecticiq/data_stream/threat/_dev/test/pipeline/test-outgoing-feed-event.json-expected.json
  packages/ti_eclecticiq/data_stream/threat/agent/stream/input.yml.hbs
  packages/ti_eclecticiq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_eclecticiq/manifest.yml
Labels: Team:Security-External Integrations, Integration:EclecticIQ

#8995 Update metrics datastreams tested compatibility version in docs.
  packages/mongodb/_dev/build/docs/README.md
  packages/mongodb/changelog.yml
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: documentation

#9002 lastpass: conditional field access and grok cleanup
  packages/lastpass/changelog.yml
  packages/lastpass/data_stream/event_report/elasticsearch/ingest_pipeline/default.yml
  packages/lastpass/manifest.yml
Labels: Integration:Lastpass, bugfix, Team:Security-Service Integrations

#9006 cisco_secure_endpoint: fix handling of potentially null method call receivers
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_endpoint/manifest.yml
Labels: Integration:CiscoSecureEndpoint, bugfix, Team:Security-Service Integrations

#8990 [Sonicwall] Add missing ECS field mappings
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-drizzthacker.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-general.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-nat.log-expected.json
  packages/sonicwall_firewall/data_stream/log/_dev/test/pipeline/test-sonicos70-aws.log-expected.json
  packages/sonicwall_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall_firewall/data_stream/log/fields/ecs.yml
  packages/sonicwall_firewall/data_stream/log/sample_event.json
  packages/sonicwall_firewall/docs/README.md
  packages/sonicwall_firewall/manifest.yml
Labels: integration:Sonicwall, Team:Security-Deployment and Devices

#9004 cisco_ise: fix handling of potentially null method call receivers
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_ad_connector.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_administrative_and_operational_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_authentication_flow_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_failed_attempts.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_guest.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_identity_stores_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_internal_operations_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_mydevices.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_policy_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_posture_and_client_provisioning_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_radius_accounting.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_radius_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_system_statistics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_tacacs_accounting.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_threat_centric_nac.yml
  packages/cisco_ise/manifest.yml
Labels: Integration:CiscoISE, bugfix, Team:Security-Deployment and Devices

#9005 zeek: fix handling of potentially null method call receivers
  packages/zeek/changelog.yml
  packages/zeek/data_stream/kerberos/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_certs/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_hosts/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_services/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ntp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/signature/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/software/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: Integration:Zeek, bugfix, Team:Security-Deployment and Devices

#8981 [Squid] Add http.request.body.bytes to ecs mappings
  packages/squid/changelog.yml
  packages/squid/data_stream/log/fields/ecs.yml
  packages/squid/docs/README.md
  packages/squid/manifest.yml
Labels: Integration:Squid, Team:Security-Deployment and Devices

#9003 nagios_xi: fix handling of potentially null method call receivers
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/service/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/manifest.yml
Labels: Integration:NagiosXI, bugfix, Team:Security-Service Integrations

#9017 o365: prevent tenant ID being rendered into debug logs
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#8841 [oracle] README updates regarding DSN formats
  packages/oracle/_dev/build/docs/README.md
  packages/oracle/changelog.yml
  packages/oracle/docs/README.md
  packages/oracle/manifest.yml
Labels: Integration:Oracle, Team:Obs-InfraObs, bugfix

#9021 Update the link to the correct reindexing procedure
  packages/activemq/_dev/build/docs/README.md
  packages/activemq/changelog.yml
  packages/activemq/docs/README.md
  packages/activemq/manifest.yml
  packages/apache_spark/_dev/build/docs/README.md
  packages/apache_spark/changelog.yml
  packages/apache_spark/docs/README.md
  packages/apache_spark/manifest.yml
  packages/cassandra/changelog.yml
  packages/cassandra/manifest.yml
  packages/hadoop/_dev/build/docs/README.md
  packages/hadoop/changelog.yml
  packages/hadoop/docs/README.md
  packages/hadoop/manifest.yml
  packages/haproxy/_dev/build/docs/README.md
  packages/haproxy/changelog.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: bug

#8999 [imperva_cloud_waf] Initial release of the imperva cloud waf
  .github/CODEOWNERS
  packages/imperva_cloud_waf/_dev/build/build.yml
  packages/imperva_cloud_waf/_dev/build/docs/README.md
  packages/imperva_cloud_waf/_dev/deploy/tf/env.yml
  packages/imperva_cloud_waf/_dev/deploy/tf/files/test-events.log
  packages/imperva_cloud_waf/_dev/deploy/tf/main.tf
  packages/imperva_cloud_waf/_dev/deploy/tf/variables.tf
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-event.json
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/imperva_cloud_waf/data_stream/event/_dev/test/system/test-default-config.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/imperva_cloud_waf/data_stream/event/fields/base-fields.yml
  packages/imperva_cloud_waf/data_stream/event/fields/beats.yml
  packages/imperva_cloud_waf/data_stream/event/fields/ecs.yml
  packages/imperva_cloud_waf/data_stream/event/fields/fields.yml
  packages/imperva_cloud_waf/data_stream/event/manifest.yml
  packages/imperva_cloud_waf/data_stream/event/sample_event.json
  packages/imperva_cloud_waf/docs/README.md
  packages/imperva_cloud_waf/img/imperva-cwaf-dashboard.png
  packages/imperva_cloud_waf/img/imperva-logo.svg
  packages/imperva_cloud_waf/kibana/dashboard/imperva_cloud_waf-6fbc3530-9a84-11ee-b689-05e9d8af2773.json
  packages/imperva_cloud_waf/kibana/search/imperva_cloud_waf-4c603c80-9a84-11ee-b689-05e9d8af2773.json
  packages/imperva_cloud_waf/kibana/search/imperva_cloud_waf-c10e98f0-9cbf-11ee-b689-05e9d8af2773.json
  packages/imperva_cloud_waf/manifest.yml
  packages/imperva_cloud_waf/validation.yml
Labels: New Integration, Team:Security-Service Integrations

#9000 [cisco_ios] Fix time zone configuration handling
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-asr920.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-badauth.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-tzoffset.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-tzoffset.log-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-tzoffset.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9018 cel,httpjson: advise to use CEL over HTTPJSON for new projects
  packages/cel/changelog.yml
  packages/cel/docs/README.md
  packages/cel/manifest.yml
  packages/httpjson/_dev/build/docs/README.md
  packages/httpjson/changelog.yml
  packages/httpjson/docs/README.md
  packages/httpjson/manifest.yml
Labels: enhancement, Integration:httpjson, Integration:CEL, Team:Security-Service Integrations

#9013 [ti_crowdstrike] Add scope Detail in Readme and Remove Convert Processor for a field
  packages/ti_crowdstrike/_dev/build/docs/README.md
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/data_stream/intel/fields/fields.yml
  packages/ti_crowdstrike/data_stream/intel/sample_event.json
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/sample_event.json
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/elasticsearch/transform/latest_intel/fields/fields.yml
  packages/ti_crowdstrike/manifest.yml
Labels: Integration:TI Crowdstrike, Team:Security-Service Integrations
