Repository elastic/integrations, pull requests merged in 2024-02, with the labels that each got.

#9029 zeek: clean up ingest pipelines
  packages/zeek/changelog.yml
  packages/zeek/data_stream/connection/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/kerberos/_dev/test/pipeline/test-kerberos.log
  packages/zeek/data_stream/kerberos/_dev/test/pipeline/test-kerberos.log-expected.json
  packages/zeek/data_stream/kerberos/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_certs/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_hosts/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_services/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ntp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/signature/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/smb_cmd/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/software/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ssl/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: Integration:Zeek, bugfix, Team:Security-Service Integrations, Team:Security-Deployment and Devices

#8925 [ti_threatconnect] Initial release for ti_threatconnect
  .github/CODEOWNERS
  packages/ti_threatconnect/_dev/build/build.yml
  packages/ti_threatconnect/_dev/build/docs/README.md
  packages/ti_threatconnect/_dev/deploy/docker/docker-compose.yml
  packages/ti_threatconnect/_dev/deploy/docker/files/config-indicator.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/_dev/test/pipeline/test-common-config.yml
  packages/ti_threatconnect/data_stream/indicator/_dev/test/pipeline/test-indicator.log
  packages/ti_threatconnect/data_stream/indicator/_dev/test/pipeline/test-indicator.log-expected.json
  packages/ti_threatconnect/data_stream/indicator/_dev/test/system/test-default-config.yml
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/data_stream/indicator/elasticsearch/ilm/default_policy.json
  packages/ti_threatconnect/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatconnect/data_stream/indicator/fields/base-fields.yml
  packages/ti_threatconnect/data_stream/indicator/fields/beats.yml
  packages/ti_threatconnect/data_stream/indicator/fields/fields.yml
  packages/ti_threatconnect/data_stream/indicator/lifecycle.yml
  packages/ti_threatconnect/data_stream/indicator/manifest.yml
  packages/ti_threatconnect/data_stream/indicator/sample_event.json
  packages/ti_threatconnect/docs/README.md
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/agent.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/base-fields.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/beats.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/ecs.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/fields.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/manifest.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/transform.yml
  packages/ti_threatconnect/img/threat-connect-indicator-dashboard.png
  packages/ti_threatconnect/img/threat-connect-logo.svg
  packages/ti_threatconnect/kibana/dashboard/ti_threatconnect-2d465f90-973d-11ee-839e-ef65b7014120.json
  packages/ti_threatconnect/manifest.yml
  packages/ti_threatconnect/validation.yml
Labels: New Integration, Crest, Team:Security-Service Integrations

#9031 network_traffic: add notice for deprecation of map_to_ecs behaviour
  packages/network_traffic/_dev/build/docs/README.md
  packages/network_traffic/changelog.yml
  packages/network_traffic/data_stream/amqp/manifest.yml
  packages/network_traffic/data_stream/cassandra/manifest.yml
  packages/network_traffic/data_stream/dhcpv4/manifest.yml
  packages/network_traffic/data_stream/dns/manifest.yml
  packages/network_traffic/data_stream/flow/manifest.yml
  packages/network_traffic/data_stream/http/manifest.yml
  packages/network_traffic/data_stream/icmp/manifest.yml
  packages/network_traffic/data_stream/memcached/manifest.yml
  packages/network_traffic/data_stream/mongodb/manifest.yml
  packages/network_traffic/data_stream/mysql/manifest.yml
  packages/network_traffic/data_stream/nfs/manifest.yml
  packages/network_traffic/data_stream/pgsql/manifest.yml
  packages/network_traffic/data_stream/redis/manifest.yml
  packages/network_traffic/data_stream/sip/manifest.yml
  packages/network_traffic/data_stream/thrift/manifest.yml
  packages/network_traffic/data_stream/tls/manifest.yml
  packages/network_traffic/docs/README.md
  packages/network_traffic/manifest.yml
Labels: enhancement, Integration:Network Packet Capture, Team:Security-Service Integrations, Team:Security-Linux Platform

#8546 Migrate Synthetics to package spec v3
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/browser/fields/common.yml
  packages/synthetics/data_stream/browser/fields/ecs.yml
  packages/synthetics/data_stream/browser/fields/http.yml
  packages/synthetics/data_stream/browser/fields/summary.yml
  packages/synthetics/data_stream/browser/fields/synthetics.yml
  packages/synthetics/data_stream/browser/lifecycle.yml
  packages/synthetics/data_stream/browser/manifest.yml
  packages/synthetics/data_stream/browser_network/fields/common.yml
  packages/synthetics/data_stream/browser_network/fields/ecs.yml
  packages/synthetics/data_stream/browser_network/fields/http.yml
  packages/synthetics/data_stream/browser_network/fields/summary.yml
  packages/synthetics/data_stream/browser_network/fields/synthetics.yml
  packages/synthetics/data_stream/browser_network/lifecycle.yml
  packages/synthetics/data_stream/browser_network/manifest.yml
  packages/synthetics/data_stream/browser_screenshot/fields/common.yml
  packages/synthetics/data_stream/browser_screenshot/fields/ecs.yml
  packages/synthetics/data_stream/browser_screenshot/fields/summary.yml
  packages/synthetics/data_stream/browser_screenshot/fields/synthetics.yml
  packages/synthetics/data_stream/browser_screenshot/lifecycle.yml
  packages/synthetics/data_stream/browser_screenshot/manifest.yml
  packages/synthetics/data_stream/http/fields/common.yml
  packages/synthetics/data_stream/http/fields/ecs.yml
  packages/synthetics/data_stream/http/fields/http.yml
  packages/synthetics/data_stream/http/fields/summary.yml
  packages/synthetics/data_stream/http/fields/tls.yml
  packages/synthetics/data_stream/http/lifecycle.yml
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/icmp/fields/common.yml
  packages/synthetics/data_stream/icmp/fields/ecs.yml
  packages/synthetics/data_stream/icmp/fields/summary.yml
  packages/synthetics/data_stream/icmp/fields/tls.yml
  packages/synthetics/data_stream/icmp/lifecycle.yml
  packages/synthetics/data_stream/icmp/manifest.yml
  packages/synthetics/data_stream/tcp/fields/common.yml
  packages/synthetics/data_stream/tcp/fields/ecs.yml
  packages/synthetics/data_stream/tcp/fields/summary.yml
  packages/synthetics/data_stream/tcp/fields/tls.yml
  packages/synthetics/data_stream/tcp/lifecycle.yml
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: enhancement, breaking change

#8939 [O11y][ActiveMQ] Make GA
  packages/activemq/changelog.yml
  packages/activemq/manifest.yml
Labels: enhancement, Integration:ActiveMQ

#8950 [m365_defender] Add Support of Alert Data Stream
  packages/m365_defender/_dev/build/build.yml
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/_dev/deploy/docker/alert-http-mock-config.yml
  packages/m365_defender/_dev/deploy/docker/docker-compose.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/m365_defender/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/m365_defender/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/alert/fields/base-fields.yml
  packages/m365_defender/data_stream/alert/fields/beats.yml
  packages/m365_defender/data_stream/alert/fields/fields.yml
  packages/m365_defender/data_stream/alert/manifest.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/img/m365-defender-alert.png
  packages/m365_defender/img/m365-defender-incident-alert1.png
  packages/m365_defender/img/m365-defender-incident-alert2.png
  packages/m365_defender/img/m365-defender-incidents-incidents1.png
  packages/m365_defender/img/m365-defender-incidents-incidents2.png
  packages/m365_defender/img/m365-defender-incidents.png
  packages/m365_defender/kibana/dashboard/m365_defender-2690a440-7235-11ed-8657-c59f6ece834c.json
  packages/m365_defender/kibana/dashboard/m365_defender-ac54d310-44ab-11ed-8375-0168a9970c06.json
  packages/m365_defender/kibana/dashboard/m365_defender-d80d7840-4366-11ed-b1f2-e917f608bd03.json
  packages/m365_defender/kibana/search/m365_defender-989afc60-44a5-11ed-8375-0168a9970c06.json
  packages/m365_defender/kibana/search/m365_defender-fcf25960-44af-11ed-8375-0168a9970c06.json
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration: M365_Defender, Team:Security-Service Integrations

#8951 [Pleasant Password Server] Initial Integration of PPS
  .github/CODEOWNERS
  packages/pps/LICENSE.txt
  packages/pps/_dev/build/build.yml
  packages/pps/_dev/build/docs/README.md
  packages/pps/_dev/deploy/docker/docker-compose.yml
  packages/pps/_dev/deploy/docker/sample_logs/log.log
  packages/pps/changelog.yml
  packages/pps/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/pps/data_stream/log/_dev/test/pipeline/test-log.log
  packages/pps/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/pps/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/pps/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/pps/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/pps/data_stream/log/_dev/test/system/test-udp-tz-config.yml
  packages/pps/data_stream/log/agent/stream/log.yml.hbs
  packages/pps/data_stream/log/agent/stream/tcp.yml.hbs
  packages/pps/data_stream/log/agent/stream/udp.yml.hbs
  packages/pps/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pps/data_stream/log/fields/agent.yml
  packages/pps/data_stream/log/fields/base-fields.yml
  packages/pps/data_stream/log/fields/ecs.yml
  packages/pps/data_stream/log/manifest.yml
  packages/pps/data_stream/log/sample_event.json
  packages/pps/docs/README.md
  packages/pps/img/logo.svg
  packages/pps/manifest.yml
Labels: New Integration, Team:Security-Service Integrations, Community

#9064 [TI_MISP] Adding new UI options for attributes to ti_misp
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/manifest.yml
  packages/ti_misp/manifest.yml
Labels: enhancement, Integration:MISP, Team:Security-Service Integrations

#9074 [netscout,radware] Deprecate integrations
  packages/netscout/changelog.yml
  packages/netscout/manifest.yml
  packages/radware/changelog.yml
  packages/radware/manifest.yml
Labels: Integration:Netscout, Integration:Radware, Team:Security-Deployment and Devices

#9073 [ti_misp] Pagination fixes
  packages/ti_misp/_dev/deploy/docker/files/config.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/_dev/test/system/test-default-config.yml
  packages/ti_misp/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_misp/data_stream/threat_attributes/_dev/test/system/test-default-config.yml
  packages/ti_misp/data_stream/threat_attributes/agent/stream/httpjson.yml.hbs
  packages/ti_misp/manifest.yml
Labels: Integration:MISP, Team:Service-Integrations, bugfix

#8868 [O11y][MySQL] Rally benchmark `mysql.status`
  packages/mysql/_dev/benchmark/rally/status-benchmark.yml
  packages/mysql/_dev/benchmark/rally/status-benchmark/config.yml
  packages/mysql/_dev/benchmark/rally/status-benchmark/fields.yml
  packages/mysql/_dev/benchmark/rally/status-benchmark/template.ndjson
Labels: enhancement, Integration:MySQL

#8923 [O11y][MySQL] Rally benchmark `mysql.galera_status`
  packages/mysql/_dev/benchmark/rally/galerastatus-benchmark.yml
  packages/mysql/_dev/benchmark/rally/galerastatus-benchmark/config.yml
  packages/mysql/_dev/benchmark/rally/galerastatus-benchmark/fields.yml
  packages/mysql/_dev/benchmark/rally/galerastatus-benchmark/template.ndjson
  packages/mysql/_dev/benchmark/rally/performance-benchmark/config.yml
  packages/nginx/_dev/benchmark/rally/error-benchmark/fields.yml
  packages/nginx/_dev/benchmark/rally/stubstatus-benchmark/config.yml
Labels: enhancement, Integration:MySQL

#9053 [O11y] Address SVR0004 validation for system, redis and microsoft_sqlserver packages
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-18d66970-1fb4-11e9-8a4d-eb34d2834f6b.json
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-361588b0-389b-11ec-9973-85eff9a74fdb.json
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-62b48570-fdf7-11ec-882e-ddefea6aeea3.json
  packages/microsoft_sqlserver/kibana/dashboard/microsoft_sqlserver-a2ead240-18bb-11e9-9836-f37dedd3b411.json
  packages/microsoft_sqlserver/kibana/search/microsoft_sqlserver-a8a63940-fdfa-11ec-882e-ddefea6aeea3.json
  packages/microsoft_sqlserver/manifest.yml
  packages/redis/changelog.yml
  packages/redis/kibana/dashboard/redis-28969190-0511-11e9-9c60-d582a238e2c5.json
  packages/redis/kibana/dashboard/redis-7fea2930-478e-11e7-b1f0-cb29bac6bf8b.json
  packages/redis/kibana/dashboard/redis-AV4YjZ5pux-M-tCAunxK.json
  packages/redis/kibana/search/redis-0ab87b80-478e-11e7-b1f0-cb29bac6bf8b.json
  packages/redis/kibana/search/redis-73613570-4791-11e7-be88-2ddb32f3df97.json
  packages/redis/manifest.yml
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-0d3f2380-fa78-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/dashboard/system-277876d0-fa2c-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/dashboard/system-5517a150-f9ce-11e6-8115-a7c18106d86a.json
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Logs-syslog-dashboard.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/kibana/dashboard/system-Windows-Dashboard.json
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-06b6b060-7a80-11ea-bc9a-0baf2ca323a3.json
  packages/system/kibana/search/system-324686c0-fefb-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-62439dc0-f9c9-11e6-a747-6121780e0414.json
  packages/system/kibana/search/system-6f4071a0-7a78-11ea-bc9a-0baf2ca323a3.json
  packages/system/kibana/search/system-757510b0-a87f-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-7e178c80-fee1-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-8030c1b0-fa77-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/search/system-9066d5b0-fef2-11e9-8405-516218e3d268.json
  packages/system/kibana/search/system-Syslog-system-logs.json
  packages/system/kibana/search/system-b6f321e0-fa25-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/search/system-ce71c9a0-a25e-11e9-a422-d144027429da.json
  packages/system/kibana/search/system-eb0039f0-fa7f-11e6-a1df-a78bd7504d38.json
  packages/system/manifest.yml
Labels: enhancement

#9022 Add secrets support to the Azure Logs integation
  packages/azure/changelog.yml
  packages/azure/data_stream/auditlogs/fields/fields.yml
  packages/azure/docs/adlogs.md
  packages/azure/manifest.yml
Labels: enhancement

#8976 [windows.forwarded] Add fields to ECS mappings
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/ecs.yml
  packages/windows/manifest.yml
Labels: Team:Elastic-Agent

#9085 [Security Rules] Update security rules package to v8.9.14-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/035a6f21-4092-471d-9cda-9e379f459b1e_1.json
  packages/security_detection_engine/kibana/security_rule/0369e8a6-0fa7-4e7a-961a-53180a4c966e_1.json
  packages/security_detection_engine/kibana/security_rule/202829f6-0271-4e88-b882-11a655c590d4_1.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_1.json
  packages/security_detection_engine/kibana/security_rule/5c6f4c58-b381-452a-8976-f1b1c6aa0def_9.json
  packages/security_detection_engine/kibana/security_rule/71d6a53d-abbd-40df-afee-c21fff6aafb0_1.json
  packages/security_detection_engine/kibana/security_rule/7405ddf1-6c8e-41ce-818f-48bea6bcaed8_109.json
  packages/security_detection_engine/kibana/security_rule/79124edf-30a8-4d48-95c4-11522cad94b1_2.json
  packages/security_detection_engine/kibana/security_rule/86c3157c-a951-4a4f-989b-2f0d0f1f9518_1.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_110.json
  packages/security_detection_engine/kibana/security_rule/9c865691-5599-447a-bac9-b3f2df5f9a9d_8.json
  packages/security_detection_engine/kibana/security_rule/9c951837-7d13-4b0c-be7a-f346623c8795_1.json
  packages/security_detection_engine/kibana/security_rule/9f962927-1a4f-45f3-a57b-287f2c7029c1_112.json
  packages/security_detection_engine/kibana/security_rule/a8afdce2-0ec1-11ee-b843-f661ea17fbcd_3.json
  packages/security_detection_engine/kibana/security_rule/ad959eeb-2b7b-4722-ba08-a45f6622f005_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_3.json
  packages/security_detection_engine/kibana/security_rule/c55badd3-3e61-4292-836f-56209dc8a601_2.json
  packages/security_detection_engine/kibana/security_rule/d74d6506-427a-4790-b170-0c2a6ddac799_1.json
  packages/security_detection_engine/kibana/security_rule/e707a7be-cc52-41ac-8ab3-d34b38c20005_2.json
  packages/security_detection_engine/kibana/security_rule/eaef8a35-12e0-4ac0-bc14-81c72b6bd27c_1.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_3.json
  packages/security_detection_engine/kibana/security_rule/f3818c85-2207-4b51-8a28-d70fb156ee87_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9072 [Buildkite] Check excluded packages for serverless tests
  .buildkite/scripts/common.sh
  .buildkite/scripts/test_integrations_with_serverless.sh
Labels: ci

#9090 [Security Rules] Update security rules package to v8.10.11-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/035a6f21-4092-471d-9cda-9e379f459b1e_1.json
  packages/security_detection_engine/kibana/security_rule/0369e8a6-0fa7-4e7a-961a-53180a4c966e_1.json
  packages/security_detection_engine/kibana/security_rule/202829f6-0271-4e88-b882-11a655c590d4_1.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_1.json
  packages/security_detection_engine/kibana/security_rule/5c6f4c58-b381-452a-8976-f1b1c6aa0def_9.json
  packages/security_detection_engine/kibana/security_rule/71d6a53d-abbd-40df-afee-c21fff6aafb0_1.json
  packages/security_detection_engine/kibana/security_rule/7405ddf1-6c8e-41ce-818f-48bea6bcaed8_109.json
  packages/security_detection_engine/kibana/security_rule/79124edf-30a8-4d48-95c4-11522cad94b1_2.json
  packages/security_detection_engine/kibana/security_rule/86c3157c-a951-4a4f-989b-2f0d0f1f9518_1.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_110.json
  packages/security_detection_engine/kibana/security_rule/9c865691-5599-447a-bac9-b3f2df5f9a9d_8.json
  packages/security_detection_engine/kibana/security_rule/9c951837-7d13-4b0c-be7a-f346623c8795_1.json
  packages/security_detection_engine/kibana/security_rule/9f962927-1a4f-45f3-a57b-287f2c7029c1_112.json
  packages/security_detection_engine/kibana/security_rule/a8afdce2-0ec1-11ee-b843-f661ea17fbcd_3.json
  packages/security_detection_engine/kibana/security_rule/ad959eeb-2b7b-4722-ba08-a45f6622f005_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_3.json
  packages/security_detection_engine/kibana/security_rule/c55badd3-3e61-4292-836f-56209dc8a601_2.json
  packages/security_detection_engine/kibana/security_rule/d74d6506-427a-4790-b170-0c2a6ddac799_1.json
  packages/security_detection_engine/kibana/security_rule/e707a7be-cc52-41ac-8ab3-d34b38c20005_2.json
  packages/security_detection_engine/kibana/security_rule/eaef8a35-12e0-4ac0-bc14-81c72b6bd27c_1.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_3.json
  packages/security_detection_engine/kibana/security_rule/f3818c85-2207-4b51-8a28-d70fb156ee87_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9091 [Security Rules] Update security rules package to v8.11.8-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/035a6f21-4092-471d-9cda-9e379f459b1e_1.json
  packages/security_detection_engine/kibana/security_rule/0369e8a6-0fa7-4e7a-961a-53180a4c966e_1.json
  packages/security_detection_engine/kibana/security_rule/202829f6-0271-4e88-b882-11a655c590d4_1.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_1.json
  packages/security_detection_engine/kibana/security_rule/5c6f4c58-b381-452a-8976-f1b1c6aa0def_9.json
  packages/security_detection_engine/kibana/security_rule/71d6a53d-abbd-40df-afee-c21fff6aafb0_1.json
  packages/security_detection_engine/kibana/security_rule/7405ddf1-6c8e-41ce-818f-48bea6bcaed8_109.json
  packages/security_detection_engine/kibana/security_rule/79124edf-30a8-4d48-95c4-11522cad94b1_2.json
  packages/security_detection_engine/kibana/security_rule/86c3157c-a951-4a4f-989b-2f0d0f1f9518_1.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_110.json
  packages/security_detection_engine/kibana/security_rule/9c865691-5599-447a-bac9-b3f2df5f9a9d_8.json
  packages/security_detection_engine/kibana/security_rule/9c951837-7d13-4b0c-be7a-f346623c8795_1.json
  packages/security_detection_engine/kibana/security_rule/9f962927-1a4f-45f3-a57b-287f2c7029c1_112.json
  packages/security_detection_engine/kibana/security_rule/a8afdce2-0ec1-11ee-b843-f661ea17fbcd_3.json
  packages/security_detection_engine/kibana/security_rule/ad959eeb-2b7b-4722-ba08-a45f6622f005_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_3.json
  packages/security_detection_engine/kibana/security_rule/c55badd3-3e61-4292-836f-56209dc8a601_2.json
  packages/security_detection_engine/kibana/security_rule/d74d6506-427a-4790-b170-0c2a6ddac799_1.json
  packages/security_detection_engine/kibana/security_rule/e707a7be-cc52-41ac-8ab3-d34b38c20005_2.json
  packages/security_detection_engine/kibana/security_rule/eaef8a35-12e0-4ac0-bc14-81c72b6bd27c_1.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_3.json
  packages/security_detection_engine/kibana/security_rule/f3818c85-2207-4b51-8a28-d70fb156ee87_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9094 [Security Rules] Update security rules package to v8.12.4-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/035a6f21-4092-471d-9cda-9e379f459b1e_1.json
  packages/security_detection_engine/kibana/security_rule/0369e8a6-0fa7-4e7a-961a-53180a4c966e_1.json
  packages/security_detection_engine/kibana/security_rule/202829f6-0271-4e88-b882-11a655c590d4_1.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_1.json
  packages/security_detection_engine/kibana/security_rule/5c6f4c58-b381-452a-8976-f1b1c6aa0def_9.json
  packages/security_detection_engine/kibana/security_rule/71d6a53d-abbd-40df-afee-c21fff6aafb0_1.json
  packages/security_detection_engine/kibana/security_rule/7405ddf1-6c8e-41ce-818f-48bea6bcaed8_109.json
  packages/security_detection_engine/kibana/security_rule/79124edf-30a8-4d48-95c4-11522cad94b1_2.json
  packages/security_detection_engine/kibana/security_rule/86c3157c-a951-4a4f-989b-2f0d0f1f9518_1.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_110.json
  packages/security_detection_engine/kibana/security_rule/9c865691-5599-447a-bac9-b3f2df5f9a9d_8.json
  packages/security_detection_engine/kibana/security_rule/9c951837-7d13-4b0c-be7a-f346623c8795_1.json
  packages/security_detection_engine/kibana/security_rule/9f962927-1a4f-45f3-a57b-287f2c7029c1_112.json
  packages/security_detection_engine/kibana/security_rule/a8afdce2-0ec1-11ee-b843-f661ea17fbcd_3.json
  packages/security_detection_engine/kibana/security_rule/ad959eeb-2b7b-4722-ba08-a45f6622f005_1.json
  packages/security_detection_engine/kibana/security_rule/b8f8da2d-a9dc-48c0-90e4-955c0aa1259a_3.json
  packages/security_detection_engine/kibana/security_rule/c55badd3-3e61-4292-836f-56209dc8a601_2.json
  packages/security_detection_engine/kibana/security_rule/d74d6506-427a-4790-b170-0c2a6ddac799_1.json
  packages/security_detection_engine/kibana/security_rule/e707a7be-cc52-41ac-8ab3-d34b38c20005_2.json
  packages/security_detection_engine/kibana/security_rule/eaef8a35-12e0-4ac0-bc14-81c72b6bd27c_1.json
  packages/security_detection_engine/kibana/security_rule/eb44611f-62a8-4036-a5ef-587098be6c43_3.json
  packages/security_detection_engine/kibana/security_rule/f3818c85-2207-4b51-8a28-d70fb156ee87_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9058 [Synthetics] Pre-release DSL-enabled package spec v3 integration
  packages/synthetics/changelog.yml
  packages/synthetics/manifest.yml
Labels: breaking change

#9095 [Security Rules] Update security rules package to v8.9.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9096 [Security Rules] Update security rules package to v8.10.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9098 [Security Rules] Update security rules package to v8.11.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9099 [Security Rules] Update security rules package to v8.12.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9042 [akamai] add api emulator for realistic testing
  packages/akamai/_dev/deploy/docker/Dockerfile
  packages/akamai/_dev/deploy/docker/docker-compose.yml
  packages/akamai/_dev/deploy/docker/files/config.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/system/test-default-config.yml
  packages/akamai/data_stream/siem/_dev/test/system/test-emulator-config.yml
  packages/akamai/manifest.yml
Labels: Integration:Akamai

#9030 crowdstrike: add missing fdr host field type mappings
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#9077 zoom: clean-up
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/account.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/chat_channel.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/chat_message.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/default.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/meeting.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/phone.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/recording.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/user.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/webinar.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/zoomroom.yml
  packages/zoom/manifest.yml
Labels: Integration:Zoom, bugfix, Team:Security-Service Integrations

#8254 [AWS Fargate] Remove memory.usage.pct field
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/fields/fields.yml
  packages/awsfargate/data_stream/task_stats/sample_event.json
  packages/awsfargate/docs/README.md
  packages/awsfargate/img/awsfargate-integration-overview.png
  packages/awsfargate/kibana/dashboard/awsfargate-20dc7c50-2e89-11eb-991c-c5fd3b7f5a63.json
  packages/awsfargate/manifest.yml
Labels: enhancement, Integration:AWS

#8983 [o365] Fix dashboard panel filters
  packages/o365/changelog.yml
  packages/o365/kibana/dashboard/o365-712e2c00-685d-11ea-8d6a-292ef5d68366.json
  packages/o365/kibana/search/o365-8b8e5a10-6886-11ea-8d6a-292ef5d68366.json
  packages/o365/kibana/tag/o365-security-solution-default.json
  packages/o365/manifest.yml
Labels: Integration:o365, Team:Service-Integrations, bugfix

#9059 ti_crowdstrike: improve error reporting for unsuccessful API requests
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/data_stream/ioc/agent/stream/cel.yml.hbs
  packages/ti_crowdstrike/manifest.yml
Labels: enhancement, Integration:TI Crowdstrike, Team:Security-Service Integrations

#9041 zscaler_zia: fix mapping of user identities
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns-http-endpoint.log
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/dns/_dev/test/pipeline/test-dns.log-expected.json
  packages/zscaler_zia/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall.log
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall.log-expected.json
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:ZscalerZIA, bugfix, Team:Security-Service Integrations

#9062 infoblox_bloxone_ddi: map dns fields to ecs
  packages/infoblox_bloxone_ddi/changelog.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/_dev/test/pipeline/test-pipeline-dns-data.log-expected.json
  packages/infoblox_bloxone_ddi/data_stream/dns_data/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_bloxone_ddi/data_stream/dns_data/fields/ecs.yml
  packages/infoblox_bloxone_ddi/docs/README.md
  packages/infoblox_bloxone_ddi/manifest.yml
Labels: enhancement, Integration:infoblox_bloxone_ddi, Team:Security-Service Integrations

#9052 ti_recordedfuture: make threat.indicator.url.full available for rules
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-httpjson.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/_dev/test/pipeline/test-url-default.log-expected.json
  packages/ti_recordedfuture/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Integration:Recorded Future, Team:Security-Service Integrations

#9088 [ti_opencti] Update for OpenCTI v5.12.24 GraphQL schema change
  packages/ti_opencti/_dev/build/docs/README.md
  packages/ti_opencti/_dev/deploy/docker/files/config.yml
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-cryptocurrency-wallet.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-domain-name-with-external-reference.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-domain-name.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-email-addr.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-email-message.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-file-with-name.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-file-with-sha256.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-hostname.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-ipv4-addr.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-ipv6-addr.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-mutex.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-phone-number.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-process.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-unknown.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-url.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-user-agent.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-windows-registry-key.json
  packages/ti_opencti/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_opencti/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_opencti/docs/README.md
  packages/ti_opencti/manifest.yml
Labels: breaking change, Team:Service-Integrations, bugfix

#9119 crowdstrike: fix parsing of drive letter from file.path
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: Integration:Crowdstrike, bugfix, Team:Security-Service Integrations

#9080 apm: add transaction.profiler_stack_trace_ids field to traces datastream mapping
  packages/apm/changelog.yml
  packages/apm/data_stream/traces/fields/fields.yml
  packages/apm/docs/README.md
  packages/apm/manifest.yml
Labels: enhancement

#9060 m365_defender: remove invalid IP addresses
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
Labels: Integration: M365_Defender, bugfix, Team:Security-Service Integrations

#9069 [O11y][PHP-FPM] Update README to use documentation guidelines
  packages/php_fpm/_dev/build/docs/README.md
  packages/php_fpm/changelog.yml
  packages/php_fpm/docs/README.md
  packages/php_fpm/manifest.yml
Labels: documentation, enhancement

#9070 [O11y][Spring Boot] Update README to use documentation guidelines.
  packages/spring_boot/_dev/build/docs/README.md
  packages/spring_boot/changelog.yml
  packages/spring_boot/docs/README.md
  packages/spring_boot/manifest.yml
Labels: documentation, enhancement

#9063 [crowdstrike] Expose FDR cache options for more flexibility
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/agent/stream/stream.yml.hbs
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:Crowdstrike, Team:Security-Service Integrations

#9141 [cisco_ftd] Null handling and other clean-up
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:CiscoFTD, bugfix, Team:Security-Deployment and Devices

#9142 [buildkite] Add environment variables to set variables in terraform
  .buildkite/hooks/pre-command
Labels: ci

#8993 [windows] Add filters to visuals for only AppLocker data to be displayed
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/manifest.yml
  packages/windows/data_stream/applocker_msi_and_script/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_execution/manifest.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4662.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4746-user.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4746-user.json-expected.json
  packages/windows/data_stream/forwarded/manifest.yml
  packages/windows/data_stream/powershell/manifest.yml
  packages/windows/data_stream/powershell_operational/manifest.yml
  packages/windows/data_stream/sysmon_operational/manifest.yml
  packages/windows/kibana/dashboard/windows-b28aaad0-2f2d-11ee-acdc-45d0efa0889d.json
  packages/windows/manifest.yml
Labels: Integration:Windows, Team:Elastic-Agent, Team:Security-Windows Platform

#8725 Set sensitive values as secret - Part 1
  packages/1password/changelog.yml
  packages/1password/manifest.yml
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/fields/fields.yml
  packages/akamai/data_stream/siem/manifest.yml
  packages/akamai/docs/README.md
  packages/akamai/manifest.yml
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/manifest.yml
  packages/amazon_security_lake/manifest.yml
  packages/atlassian_bitbucket/changelog.yml
  packages/atlassian_bitbucket/data_stream/audit/manifest.yml
  packages/atlassian_bitbucket/manifest.yml
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/manifest.yml
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/manifest.yml
  packages/atlassian_jira/manifest.yml
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/manifest.yml
  packages/auth0/manifest.yml
  packages/azure_blob_storage/changelog.yml
  packages/azure_blob_storage/manifest.yml
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/manifest.yml
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_notifications/manifest.yml
  packages/bitdefender/manifest.yml
  packages/bitwarden/changelog.yml
  packages/bitwarden/manifest.yml
  packages/box_events/changelog.yml
  packages/box_events/manifest.yml
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/watchlist_hit/fields/fields.yml
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/manifest.yml
  packages/cel/changelog.yml
  packages/cel/manifest.yml
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/manifest.yml
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/manifest.yml
  packages/cisco_meraki/manifest.yml
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/manifest.yml
  packages/cisco_secure_endpoint/manifest.yml
  packages/cisco_umbrella/changelog.yml
  packages/cisco_umbrella/data_stream/log/manifest.yml
  packages/cisco_umbrella/manifest.yml
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/manifest.yml
  packages/cloudflare/data_stream/logpull/manifest.yml
  packages/cloudflare/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Team:Security-Service Integrations

#9130 [AWS Fargate] Update documentation
  packages/awsfargate/_dev/build/docs/README.md
  packages/awsfargate/changelog.yml
  packages/awsfargate/docs/README.md
  packages/awsfargate/manifest.yml
Labels: Integration:AWS

#9126 [hashicorp_vault,zeek] Set sensitive values as secret
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/metrics/manifest.yml
  packages/hashicorp_vault/manifest.yml
  packages/zeek/changelog.yml
  packages/zeek/manifest.yml
Labels: enhancement, Integration:Zeek, Integration:HashicorpVault, Team:Security-Deployment and Devices

#9154 [panw] Add session.start_time for ML jobs
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-tunnel-inspection-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/data_stream/panos/fields/fields.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: enhancement, Integration:PANW, Team:Security-Deployment and Devices

#8957 [O11y][MySQL] Rally benchmark `mysql.error`
  packages/mysql/_dev/benchmark/rally/error-benchmark.yml
  packages/mysql/_dev/benchmark/rally/error-benchmark/config.yml
  packages/mysql/_dev/benchmark/rally/error-benchmark/fields.yml
  packages/mysql/_dev/benchmark/rally/error-benchmark/template.ndjson
Labels: enhancement, Integration:MySQL

#9106 [O11y][Kubernetes] Rally benchmark `kubernetes.state_container`
  packages/aws/_dev/benchmark/rally/ec2_logs-benchmark.yml
  packages/aws/_dev/benchmark/rally/ec2_metrics-benchmark.yml
  packages/kubernetes/_dev/benchmark/rally/state_container-benchmark.yml
  packages/kubernetes/_dev/benchmark/rally/statecontainer-benchmark/config.yml
  packages/kubernetes/_dev/benchmark/rally/statecontainer-benchmark/fields.yml
  packages/kubernetes/_dev/benchmark/rally/statecontainer-benchmark/template.ndjson
  packages/mysql/_dev/benchmark/rally/galera_status-benchmark.yml
Labels: enhancement, Integration:Kubernetes

#9136 [O11y][Kubernetes] Rally benchmark `kubernetes.state_pod`
  packages/kubernetes/_dev/benchmark/rally/state_pod-benchmark.yml
  packages/kubernetes/_dev/benchmark/rally/statepod-benchmark/config.yml
  packages/kubernetes/_dev/benchmark/rally/statepod-benchmark/fields.yml
  packages/kubernetes/_dev/benchmark/rally/statepod-benchmark/template.ndjson
Labels: enhancement, Integration:Kubernetes

#9153 [proofpoint_tap] Clean up null handling
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/manifest.yml
Labels: Integration:Proofpoint, Team:Service-Integrations, bugfix

#9159 Azure Logs: set field type to password on secret fields
  packages/azure/changelog.yml
  packages/azure/manifest.yml
Labels: bug, Team:Cloud-Monitoring

#9024 [O11y][MySQL] Rally benchmark `mysql.slowlog`
  packages/mysql/_dev/benchmark/rally/slowlog-benchmark.yml
  packages/mysql/_dev/benchmark/rally/slowlog-benchmark/config.yml
  packages/mysql/_dev/benchmark/rally/slowlog-benchmark/fields.yml
  packages/mysql/_dev/benchmark/rally/slowlog-benchmark/template.ndjson
Labels: enhancement, Integration:MySQL

#9156 ti_crowdstrike: adding null checks to processors
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:TI Crowdstrike

#9173 [netflow] Fix duplicated names in dashboard
  packages/netflow/changelog.yml
  packages/netflow/kibana/dashboard/netflow-38012abe-c611-4124-8497-381fcd85acc8.json
  packages/netflow/manifest.yml
Labels: bug, Integration:Netflow, Team:Security-Deployment and Devices

#9143 sophos_central: ensure from_date parameter is within bounds
  packages/sophos_central/changelog.yml
  packages/sophos_central/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/sophos_central/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/sophos_central/manifest.yml
Labels: Integration:Sophos, bugfix, Team:Security-Service Integrations

#9160 [Cisco Secure Email Gateway] Fix for grok if hostname appears before category.name in Cisco secure email gateway package
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Integration:CiscoSecureEmailGateway

#9182 [cyberarkpas] Clean up null handling, formatting
  packages/cyberarkpas/changelog.yml
  packages/cyberarkpas/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cyberarkpas/manifest.yml
Labels: Team:Service-Integrations, Integration:CyberArkPAS, bugfix

#9176 [microsoft_defender_endpoint] Clean up null handling
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: Team:Service-Integrations, Integration:Microsoft_defender_endpoint, bugfix

#9148 [ti_cif3] Clean up null handling
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/data_stream/feed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_cif3/manifest.yml
Labels: Team:Service-Integrations, bugfix, Integration:CIF3

#9151 [vectra_detect] Clean up null handling
  packages/vectra_detect/changelog.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-detection.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-lockdown.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-account-scoring.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-audit.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-detection.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-lockdown.yml
  packages/vectra_detect/data_stream/log/elasticsearch/ingest_pipeline/pipeline-host-scoring.yml
  packages/vectra_detect/manifest.yml
Labels: Team:Service-Integrations, Integration:VectraDetect, bugfix

#9152 [tenable_sc] Clean up null handling
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/manifest.yml
Labels: Integration:TenableSC, Team:Service-Integrations, bugfix

#9168 [Cloud Security] Bump integration
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#9065 Azure Resource Metrics - Apply doc template and add generic setup section
  packages/azure_metrics/_dev/build/docs/README.md
  packages/azure_metrics/docs/README.md
Labels: documentation, draft

#9193 [Zscaler ZIA] Avoid pipeline failures for web events
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:ZscalerZIA, bugfix

#9196 Update changelog and manifest for #9065
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/manifest.yml
Labels: documentation

#7366 [AWS] [Fargate] Migrate to GA
  packages/awsfargate/changelog.yml
  packages/awsfargate/data_stream/task_stats/manifest.yml
  packages/awsfargate/manifest.yml
Labels: enhancement, Integration:AWS

#9032 [O11y][Nginx] Rally benchmark `nginx.access`
  packages/nginx/_dev/benchmark/rally/access-benchmark.yml
  packages/nginx/_dev/benchmark/rally/access-benchmark/config.yml
  packages/nginx/_dev/benchmark/rally/access-benchmark/fields.yml
  packages/nginx/_dev/benchmark/rally/access-benchmark/template.ndjson
Labels: enhancement, Integration:NGINX

#9180 [infoblox_nios] Clean up null handling, formatting
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/manifest.yml
Labels: Team:Service-Integrations, Integration:Infoblox_nios, bugfix

#9175 [panw_cortex_xdr] Clean up null handling
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/incidents/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/manifest.yml
Labels: Integration:PanwCortexXDR, Team:Service-Integrations, bugfix

#8790 [CrowdStrike] Add support of REST API for Alert and Host
  packages/crowdstrike/_dev/build/build.yml
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/_dev/deploy/docker/docker-compose.yml
  packages/crowdstrike/_dev/deploy/docker/files/config-alert.yml
  packages/crowdstrike/_dev/deploy/docker/files/config-host.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/alert/_dev/test/system/test-common-config.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/fields/base-fields.yml
  packages/crowdstrike/data_stream/alert/fields/beats.yml
  packages/crowdstrike/data_stream/alert/fields/fields.yml
  packages/crowdstrike/data_stream/alert/manifest.yml
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-event-stream.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-event-stream.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-mobile-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/cspm_events.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/firewall_match.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/identity_protection_incident.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/mobile_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/scheduled_report_notification_event.yml
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/data_stream/falcon/manifest.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/data_stream/host/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/host/_dev/test/pipeline/test-host.log
  packages/crowdstrike/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/crowdstrike/data_stream/host/_dev/test/system/test-common-config.yml
  packages/crowdstrike/data_stream/host/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/host/fields/base-fields.yml
  packages/crowdstrike/data_stream/host/fields/beats.yml
  packages/crowdstrike/data_stream/host/fields/fields.yml
  packages/crowdstrike/data_stream/host/manifest.yml
  packages/crowdstrike/data_stream/host/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/img/crowdstrike-alert-dashboard.png
  packages/crowdstrike/img/crowdstrike-host-dashboard.png
  packages/crowdstrike/kibana/dashboard/crowdstrike-2921b7f0-99b5-11ee-bf4d-afbc95e0486c.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-a4972bc0-fb53-11eb-abed-07307b3f2b0f.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-ad80a080-821b-11ee-bae0-937af575b750.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-d8070b00-99b3-11ee-bf4d-afbc95e0486c.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-e64e8fe0-8210-11ee-bae0-937af575b750.json
  packages/crowdstrike/kibana/tag/crowdstrike-security-solution-default.json
  packages/crowdstrike/manifest.yml
  packages/crowdstrike/validation.yml
Labels: Integration:Crowdstrike, Team:Security-Service Integrations

#9189 [MongoDB] Update the Kibana version condition for multi-host fix and documentation
  packages/mongodb/_dev/build/docs/README.md
  packages/mongodb/changelog.yml
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: documentation, Team:Service-Integrations

#9211 [Cloud Security] Add missing CIS Azure rule templates
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/01629238-aea8-5737-a59b-45baf8dab404.json
  packages/cloud_security_posture/kibana/csp_rule_template/02da047f-bc78-5565-86a0-e121850f76c0.json
  packages/cloud_security_posture/kibana/csp_rule_template/090923c7-e599-572b-bad3-703f768c262a.json
  packages/cloud_security_posture/kibana/csp_rule_template/213e2b33-f2b1-575b-8753-f239b278c25a.json
  packages/cloud_security_posture/kibana/csp_rule_template/27896f4b-0405-5388-bacd-182e77556711.json
  packages/cloud_security_posture/kibana/csp_rule_template/43d5538c-17a3-5e04-9c06-ad4323bfd188.json
  packages/cloud_security_posture/kibana/csp_rule_template/461c5ca2-0173-5b8c-ae36-b229cffefbb2.json
  packages/cloud_security_posture/kibana/csp_rule_template/5ecb8a19-541a-5578-9b9d-b22c1bfbc5e9.json
  packages/cloud_security_posture/kibana/csp_rule_template/66cdd4cc-5870-50e1-959c-91443716b87a.json
  packages/cloud_security_posture/kibana/csp_rule_template/69ffe7f6-bc09-5019-ba77-a2f81169e9de.json
  packages/cloud_security_posture/kibana/csp_rule_template/6e6481f1-5ede-552b-84e5-cceed281052a.json
  packages/cloud_security_posture/kibana/csp_rule_template/70f92ed3-5659-5c95-a8f8-a63211c57635.json
  packages/cloud_security_posture/kibana/csp_rule_template/737dc646-1c66-5fb6-8fcd-1aac6402532d.json
  packages/cloud_security_posture/kibana/csp_rule_template/7bb02abe-d669-5058-a2d6-6ce5ee2dc2be.json
  packages/cloud_security_posture/kibana/csp_rule_template/87952b8d-f537-5f8a-b57b-63a31b031170.json
  packages/cloud_security_posture/kibana/csp_rule_template/88734e31-d055-58ba-bf70-7d40d0b4e707.json
  packages/cloud_security_posture/kibana/csp_rule_template/89ebec6b-3cc4-5898-a3b9-534174f93051.json
  packages/cloud_security_posture/kibana/csp_rule_template/9272d2b5-4e25-5658-8a6c-d917f60134ec.json
  packages/cloud_security_posture/kibana/csp_rule_template/97504079-0d62-5d0a-9939-17b57b444547.json
  packages/cloud_security_posture/kibana/csp_rule_template/9ce2276b-db96-5aad-9329-08ce874c5db6.json
  packages/cloud_security_posture/kibana/csp_rule_template/9fb9a46f-de59-580b-938e-829090bd3975.json
  packages/cloud_security_posture/kibana/csp_rule_template/a22a5431-1471-534c-8e7c-1e16fe0a857c.json
  packages/cloud_security_posture/kibana/csp_rule_template/b287617d-7623-5d72-923d-e79b1301e06c.json
  packages/cloud_security_posture/kibana/csp_rule_template/b794635d-a338-5b4e-bfa0-75257e854c6a.json
  packages/cloud_security_posture/kibana/csp_rule_template/e570dc22-4f5d-51db-a193-983cb7d20afe.json
  packages/cloud_security_posture/kibana/csp_rule_template/eb9e71ae-113b-5631-9e5c-b7fdc0b0666e.json
  packages/cloud_security_posture/kibana/csp_rule_template/ede1488a-e8cd-5d5f-a25d-96c136695594.json
  packages/cloud_security_posture/kibana/csp_rule_template/f5f029ea-d16e-5661-bc66-3096aaeda2f3.json
  packages/cloud_security_posture/kibana/csp_rule_template/f6cfd4ce-1b96-5871-aa9d-8dba2d701579.json
  packages/cloud_security_posture/kibana/csp_rule_template/fa9bbc09-3b1f-5344-a4a4-523a899a35b7.json
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, 8.13 candidate

#9215 [Security Rules] Update security rules package to v8.10.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9217 [Security Rules] Update security rules package to v8.11.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9218 [Security Rules] Update security rules package to v8.12.5
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: Integration:SecurityRules

#9179 [jamf_compliance_reporter] Clean up null handling, other checks, scripting
  packages/jamf_compliance_reporter/changelog.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_app_metrics.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_chdir.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_chroot.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_execve.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_mount.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_posix_spawn.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_aue_unmount.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_license_info_event.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_print_event_information.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_prohibited_app_blocked.yml
  packages/jamf_compliance_reporter/data_stream/log/elasticsearch/ingest_pipeline/pipeline_unified_log_event.yml
  packages/jamf_compliance_reporter/manifest.yml
Labels: Team:Service-Integrations, Integration:JAMF_Compliance_Reporter, bugfix

#9177 [mattermost] Clean up null handling and Painless scripts
  packages/mattermost/changelog.yml
  packages/mattermost/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/mattermost/manifest.yml
Labels: Team:Service-Integrations, Integration:Mattermost, bugfix

#9181 [github] Clean up null handling, formatting
  packages/github/changelog.yml
  packages/github/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/code_scanning/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/dependabot/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/secret_scanning/elasticsearch/ingest_pipeline/default.yml
  packages/github/manifest.yml
Labels: Integration:Github, Team:Service-Integrations, bugfix

#9210 [imperva_cloud_waf] Added Visualizations and updated Dashboard
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/data_stream/event/manifest.yml
  packages/imperva_cloud_waf/img/imperva-cwaf-dashboard.png
  packages/imperva_cloud_waf/kibana/dashboard/imperva_cloud_waf-6fbc3530-9a84-11ee-b689-05e9d8af2773.json
  packages/imperva_cloud_waf/kibana/search/imperva_cloud_waf-4c603c80-9a84-11ee-b689-05e9d8af2773.json
  packages/imperva_cloud_waf/kibana/search/imperva_cloud_waf-c10e98f0-9cbf-11ee-b689-05e9d8af2773.json
  packages/imperva_cloud_waf/manifest.yml
Labels: enhancement, Integration:Imperva Cloud WAF

#9221 [MongoDB] Update the Kibana version condition for the fix of disk space exhaustion.
  packages/mongodb/changelog.yml
  packages/mongodb/manifest.yml
Labels: bugfix

#9129 Set sensitive values as secret - Part 4
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/threatstream/manifest.yml
  packages/ti_anomali/manifest.yml
  packages/ti_cif3/changelog.yml
  packages/ti_cif3/manifest.yml
  packages/ti_cybersixgill/changelog.yml
  packages/ti_cybersixgill/data_stream/threat/manifest.yml
  packages/ti_cybersixgill/manifest.yml
  packages/ti_maltiverse/changelog.yml
  packages/ti_maltiverse/data_stream/indicator/manifest.yml
  packages/ti_maltiverse/manifest.yml
  packages/ti_mandiant_advantage/changelog.yml
  packages/ti_mandiant_advantage/data_stream/threat_intelligence/manifest.yml
  packages/ti_mandiant_advantage/manifest.yml
  packages/ti_misp/changelog.yml
  packages/ti_misp/data_stream/threat/manifest.yml
  packages/ti_misp/data_stream/threat_attributes/manifest.yml
  packages/ti_misp/manifest.yml
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/manifest.yml
  packages/ti_otx/changelog.yml
  packages/ti_otx/data_stream/pulses_subscribed/manifest.yml
  packages/ti_otx/data_stream/threat/manifest.yml
  packages/ti_otx/manifest.yml
  packages/ti_rapid7_threat_command/changelog.yml
  packages/ti_rapid7_threat_command/manifest.yml
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/threat/manifest.yml
  packages/ti_recordedfuture/manifest.yml
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/manifest.yml
  packages/ti_threatq/manifest.yml
  packages/tines/changelog.yml
  packages/tines/manifest.yml
  packages/trellix_edr_cloud/changelog.yml
  packages/trellix_edr_cloud/manifest.yml
  packages/trellix_epo_cloud/changelog.yml
  packages/trellix_epo_cloud/manifest.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/manifest.yml
  packages/wiz/changelog.yml
  packages/wiz/manifest.yml
  packages/zerofox/changelog.yml
  packages/zerofox/manifest.yml
  packages/zeronetworks/changelog.yml
  packages/zeronetworks/data_stream/audit/manifest.yml
  packages/zeronetworks/manifest.yml
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/manifest.yml
  packages/zoom/manifest.yml
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Team:Security-Service Integrations

#9105 [azure_billing] Add documentation for assigning roles in department and billing account scopes.
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/changelog.yml
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
Labels: enhancement, docs

#9158 Add firewall documentation for the Azure Logs integration
  packages/azure/_dev/build/docs/README.md
  packages/azure/changelog.yml
  packages/azure/docs/README.md
  packages/azure/manifest.yml
Labels: documentation, enhancement

#9228 [cisco_ios] Remove erroneous period from repeated messages grok
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:CiscoIOS, Team:Security-Deployment and Devices

#9128 Set sensitive values as secret - Part 3
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-sts-logon-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-parameter-string.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
  packages/okta/changelog.yml
  packages/okta/manifest.yml
  packages/panw_cortex_xdr/_dev/deploy/docker/http-mock-config.yml
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/manifest.yml
  packages/panw_cortex_xdr/data_stream/incidents/manifest.yml
  packages/panw_cortex_xdr/manifest.yml
  packages/ping_one/changelog.yml
  packages/ping_one/manifest.yml
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/manifest.yml
  packages/prisma_cloud/validation.yml
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/manifest.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/manifest.yml
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/threat/fields/fields.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
  packages/slack/changelog.yml
  packages/slack/data_stream/audit/manifest.yml
  packages/slack/manifest.yml
  packages/snyk/changelog.yml
  packages/snyk/manifest.yml
  packages/sophos_central/changelog.yml
  packages/sophos_central/data_stream/alert/fields/fields.yml
  packages/sophos_central/docs/README.md
  packages/sophos_central/manifest.yml
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/manifest.yml
  packages/tanium/changelog.yml
  packages/tanium/manifest.yml
  packages/tenable_io/changelog.yml
  packages/tenable_io/manifest.yml
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/manifest.yml
Labels: enhancement, Team:Security-Service Integrations

#9222 [cisco_asa] Add grok support for 722022, 722023 logs
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/sample_event.json
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: enhancement, Integration:CiscoASA, Team:Security-Deployment and Devices

#9223 [cisco_ftd] Update grok patterns for Probe messages
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-inbound-outbound.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Integration:CiscoFTD, Team:Security-Deployment and Devices

#9124 [trendmicro] Add support of Deep Security version 20
  .github/CODEOWNERS
  packages/trendmicro/_dev/build/build.yml
  packages/trendmicro/_dev/build/docs/README.md
  packages/trendmicro/changelog.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-common-config.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json
  packages/trendmicro/data_stream/deep_security/_dev/test/pipeline/test-trendmicro.json-expected.json
  packages/trendmicro/data_stream/deep_security/_dev/test/system/test-tcp-config.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/system/test-tls-config.yml
  packages/trendmicro/data_stream/deep_security/_dev/test/system/test-udp-config.yml
  packages/trendmicro/data_stream/deep_security/agent/stream/filestream.yml.hbs
  packages/trendmicro/data_stream/deep_security/agent/stream/tcp.yml.hbs
  packages/trendmicro/data_stream/deep_security/agent/stream/udp.yml.hbs
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/application-control-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/default.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/device-control-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/firewall-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/integrity-monitoring-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/intrusion-prevention-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/log-inspection.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/malware-event.yml
  packages/trendmicro/data_stream/deep_security/elasticsearch/ingest_pipeline/system-event.yml
  packages/trendmicro/data_stream/deep_security/fields/agent.yml
  packages/trendmicro/data_stream/deep_security/fields/base-fields.yml
  packages/trendmicro/data_stream/deep_security/fields/beats.yml
  packages/trendmicro/data_stream/deep_security/fields/ecs.yml
  packages/trendmicro/data_stream/deep_security/fields/fields.yml
  packages/trendmicro/data_stream/deep_security/manifest.yml
  packages/trendmicro/data_stream/deep_security/sample_event.json
  packages/trendmicro/docs/README.md
  packages/trendmicro/img/Trend-Micro-Logo.svg
  packages/trendmicro/img/sample-logo.svg
  packages/trendmicro/img/sample-screenshot.png
  packages/trendmicro/img/trend-micro-deep-security-dashboard-screenshot.png
  packages/trendmicro/img/trend-micro-logo.svg
  packages/trendmicro/img/trendmicro-deep_security-dashboard.png
  packages/trendmicro/kibana/dashboard/trendmicro-5036f0c0-c1c5-11ee-9590-81e76a30321d.json
  packages/trendmicro/kibana/dashboard/trendmicro-8efdcf10-a2fc-11ed-bd5a-0d4c2fb00c2c.json
  packages/trendmicro/kibana/tag/trendmicro-security-solution-default.json
  packages/trendmicro/manifest.yml
Labels: enhancement, Integration:TrendMicro

#9100 [O11y][Kubernetes] Rally benchmark `kubernetes.node`
  packages/kubernetes/_dev/benchmark/rally/node-benchmark.yml
  packages/kubernetes/_dev/benchmark/rally/node-benchmark/config.yml
  packages/kubernetes/_dev/benchmark/rally/node-benchmark/fields.yml
  packages/kubernetes/_dev/benchmark/rally/node-benchmark/template.ndjson
Labels: enhancement, Integration:Kubernetes

#9165 [cisco_ise] remove duplicate event code number 60077
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_administrative_and_operational_audit.yml
  packages/cisco_ise/manifest.yml
Labels: Integration:CiscoISE, Team:Security-Deployment and Devices
