Repository elastic/integrations, pull requests merged in 2025-03, with the labels that each got.

#12894 imperva_waf: improve config robustness and error reporting
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/imperva_cloud_waf/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#12798 entityanalytics_okta: split user and device data into their own data streams
  packages/entityanalytics_okta/_dev/build/docs/README.md
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/device/fields/base-fields.yml
  packages/entityanalytics_okta/data_stream/device/fields/beats.yml
  packages/entityanalytics_okta/data_stream/device/fields/ecs.yml
  packages/entityanalytics_okta/data_stream/device/fields/fields.yml
  packages/entityanalytics_okta/data_stream/device/manifest.yml
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-common-config.yml
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-device.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-device.json-expected.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-user.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/system/test-default-config.yml
  packages/entityanalytics_okta/data_stream/entity/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_okta/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/entity/elasticsearch/ingest_pipeline/device.yml
  packages/entityanalytics_okta/data_stream/entity/elasticsearch/ingest_pipeline/user.yml
  packages/entityanalytics_okta/data_stream/entity/fields/base-fields.yml
  packages/entityanalytics_okta/data_stream/entity/fields/beats.yml
  packages/entityanalytics_okta/data_stream/entity/fields/ecs.yml
  packages/entityanalytics_okta/data_stream/entity/fields/fields.yml
  packages/entityanalytics_okta/data_stream/entity/manifest.yml
  packages/entityanalytics_okta/data_stream/entity/routing_rules.yml
  packages/entityanalytics_okta/data_stream/entity/sample_event.json
  packages/entityanalytics_okta/data_stream/user/manifest.yml
  packages/entityanalytics_okta/data_stream/user/sample_event.json
  packages/entityanalytics_okta/docs/README.md
  packages/entityanalytics_okta/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_okta

#12835 mimecast: set event.kind:alert for appropriate events
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/cloud_integrated_logs/_dev/test/pipeline/test-cloud-integrated-logs.log
  packages/mimecast/data_stream/cloud_integrated_logs/_dev/test/pipeline/test-cloud-integrated-logs.log-expected.json
  packages/mimecast/data_stream/cloud_integrated_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-common-config.yml
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log-expected.json
  packages/mimecast/data_stream/dlp_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/dlp_logs/manifest.yml
  packages/mimecast/data_stream/message_release_logs/_dev/test/pipeline/test-release-logs.json-expected.json
  packages/mimecast/data_stream/message_release_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-docs-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v1-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v2-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v1_pipeline.yml
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v2_pipeline.yml
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/pipeline/test-ttp-ap-logs.log-expected.json
  packages/mimecast/data_stream/ttp_ap_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ip_logs/_dev/test/pipeline/test-ttp-ip-logs.log-expected.json
  packages/mimecast/data_stream/ttp_ip_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/_dev/test/pipeline/test-ttp-url-logs.log-expected.json
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/manifest.yml
Labels: enhancement, Integration:mimecast, Team:Security-Service Integrations

#12915 ti_crowdstrike: populate required threat.intelligence fields
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/ioc/_dev/test/pipeline/test-ioc.log
  packages/ti_crowdstrike/data_stream/ioc/_dev/test/pipeline/test-ioc.log-expected.json
  packages/ti_crowdstrike/data_stream/ioc/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:ti_crowdstrike, Team:Security-Service Integrations

#12848 crowdstrike: deflake test
  packages/crowdstrike/data_stream/fdr/_dev/deploy/tf/files/fdr-sample.log
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#12888 {o365.audit},{m365_defender.alert}: Enhance field mappings
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/manifest.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-sts-logon-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-bad-ips.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-duplicated-querytime-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-data-insights-api-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-exchange-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-dlp-sharepoint-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-admin-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-exchange-item-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ip-formats-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-modified-properites.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-ms-teams-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-parameter-string.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-platform-attribute-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepoint-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-stringly-json-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-airinvestigation.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-airinvestigation.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-securitycompliancecenter.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-securitycompliancecenter.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-threatintelligence.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-threatintelligence.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-yammer-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Integration:m365_defender

#12938 [winlog] Add xml_query and level options
  packages/winlog/agent/input/winlog.yml.hbs
  packages/winlog/changelog.yml
  packages/winlog/manifest.yml
Labels: enhancement, Integration:winlog, Team:Security-Windows Platform

#12893 [tenable_io] Enable agentless collection
  packages/tenable_io/_dev/build/docs/README.md
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/scan/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
  packages/tenable_io/validation.yml
Labels: enhancement, Team:Service-Integrations, Integration:tenable_io, Team:Security-Deployment and Devices

#12608 [citrix_adc] Support parsing syslog RFC 5424 messages
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-rfc5424.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-rfc5424.json-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/native.yml
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:citrix_adc

#12901 #11810 - Enabling Microsoft Defender for Endpoint with Agentless deployment
  packages/microsoft_defender_endpoint/_dev/build/docs/README.md
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:microsoft_defender_endpoint, Team:Security-Deployment and Devices

#12760 jamf_pro: add ecs mappings for jamf fields
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-added.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-check-in.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-inventory-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-patch-policy-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-policy-finished.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-computer-push-capability-changed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-device-added-to-dep.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-jss-shutdown.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-jss-startup.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-check-in.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-command-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-enrolled.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-inventory-completed.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-push-sent.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-mobile-device-unenrolled.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-patch-software-title-updated.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-push-sent.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-rest-api-operation.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-scep-challenge.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-smart-group-computer-membership-change.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-smart-group-mobile-device-membership-change.json-expected.json
  packages/jamf_pro/data_stream/events/_dev/test/pipeline/test-smart-group-user-membership-change.json-expected.json
  packages/jamf_pro/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_pro/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:jamf_pro

#12942 http_endpoint: improve HMAC config documentation
  packages/http_endpoint/changelog.yml
  packages/http_endpoint/manifest.yml
Labels: enhancement, Integration:http_endpoint, Team:Security-Service Integrations

#12936 mimecast: Prevent pageToken from incorrectly reappearing in interval requests in multiple datastreams
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/archive_search_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/dlp_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/message_release_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/cel.yml.hbs
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#12851 [teleport] Update event-groups ingest pipeline to manage cloud fields if already present
  packages/teleport/changelog.yml
  packages/teleport/data_stream/audit/_dev/test/system/test-filestream-config.yml
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/event-groups.yml
  packages/teleport/manifest.yml
Labels: Team:Security-Service Integrations, Integration:teleport

#12917 [rubrik] Enable TSDB
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/drives/manifest.yml
  packages/rubrik/data_stream/filesets/manifest.yml
  packages/rubrik/data_stream/global_cluster_performance/manifest.yml
  packages/rubrik/data_stream/managed_volumes/manifest.yml
  packages/rubrik/data_stream/monitoring_jobs/manifest.yml
  packages/rubrik/data_stream/mssql_databases/manifest.yml
  packages/rubrik/data_stream/node_statistics/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/node_statistics/manifest.yml
  packages/rubrik/data_stream/physical_hosts/manifest.yml
  packages/rubrik/data_stream/tasks/manifest.yml
  packages/rubrik/data_stream/virtual_machines/manifest.yml
  packages/rubrik/docs/README.md
  packages/rubrik/manifest.yml
Labels: Team:Obs-InfraObs

#12937 mimecast: Handle empty events in a time window inside threat events.
  packages/mimecast/_dev/deploy/docker/files/config.yml
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/cel.yml.hbs
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#12814 [o365_metrics]Update ownership for O365 Metrics integration
  .github/CODEOWNERS
Labels: Team:Obs-InfraObs, Team:Security-Service Integrations

#12891 #11810 - Enabling m365_defender with Agentless deployment
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/m365_defender/validation.yml
Labels: enhancement, Team:Service-Integrations, Integration:m365_defender, Team:Security-Deployment and Devices

#12895 [Fortinet Fortigate] Add url parsing error handling
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/manifest.yml
Labels: Team:Security-Deployment and Devices

#12934 eset_protect: add support for fields that were missed
  packages/eset_protect/changelog.yml
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/eset_protect/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/eset_protect/data_stream/event/fields/fields.yml
  packages/eset_protect/docs/README.md
  packages/eset_protect/manifest.yml
Labels: bugfix, Integration:eset_protect, Team:Security-Service Integrations

#12933 infoblox_nios: support AD authentication failure log messages and DHCPACK events without device names
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Integration:infoblox_nios, Team:Security-Service Integrations

#12944 box_events: handle collaboration invite events and improve user field handling
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/_dev/test/pipeline/test-anomalous-download.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-copy.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-create.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-download.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-empty.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-event-types.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-invite.log
  packages/box_events/data_stream/events/_dev/test/pipeline/test-invite.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-malicious-content.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-preview.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-rename.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-locations.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-sessions.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-trash.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-upload.log-expected.json
  packages/box_events/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/box_events/data_stream/events/fields/fields.yml
  packages/box_events/docs/README.md
  packages/box_events/manifest.yml
Labels: enhancement, Integration:box_events, Team:Security-Service Integrations

#12735 [Azure] [PlatformLogs] Fix pipeline for edge cases
  packages/azure/changelog.yml
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-edgecases.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-identity-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-kube.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-remote-raw.log-expected.json
  packages/azure/data_stream/platformlogs/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure/data_stream/platformlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:azure, Team:Obs-InfraObs

#12924 [AmazonMQ] Add RabbitMQ metrics dataset
  packages/aws_mq/_dev/build/docs/README.md
  packages/aws_mq/changelog.yml
  packages/aws_mq/data_stream/rabbitmq_metrics/agent/stream/stream.yml.hbs
  packages/aws_mq/data_stream/rabbitmq_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws_mq/data_stream/rabbitmq_metrics/fields/base-fields.yml
  packages/aws_mq/data_stream/rabbitmq_metrics/fields/ecs.yml
  packages/aws_mq/data_stream/rabbitmq_metrics/fields/fields.yml
  packages/aws_mq/data_stream/rabbitmq_metrics/manifest.yml
  packages/aws_mq/data_stream/rabbitmq_metrics/sample_event.json
  packages/aws_mq/docs/README.md
  packages/aws_mq/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:aws_mq

#12963 Fix boolean key in security pipelines
  packages/system/changelog.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security_standard.yml
  packages/windows/manifest.yml
Labels: Integration:windows, Integration:system, bugfix, Team:Security-Windows Platform

#12929 [checkpoint] Extend key/value parsing and expand supported fields
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Integration:checkpoint, Team:Security-Deployment and Devices

#12773 [cisco_asa] Add parsing for 4 new message types
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#12969 qualys_vmdr: Fix package_nested field in asset data stream.
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/_dev/test/pipeline/test-knowledge-base.log-expected.json
  packages/qualys_vmdr/data_stream/user_activity/_dev/test/pipeline/test-no-preserve-custom.log-expected.json
  packages/qualys_vmdr/data_stream/user_activity/_dev/test/pipeline/test-yes-preserve-custom.log-expected.json
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#12780 Updated description on ssl nodes in package level manifest.yml for files owned by obs-infraobs-integrations
  packages/activemq/changelog.yml
  packages/activemq/manifest.yml
  packages/apache/changelog.yml
  packages/apache/manifest.yml
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/manifest.yml
  packages/ceph/changelog.yml
  packages/ceph/manifest.yml
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/manifest.yml
  packages/couchbase/changelog.yml
  packages/couchbase/manifest.yml
  packages/couchdb/changelog.yml
  packages/couchdb/manifest.yml
  packages/golang/changelog.yml
  packages/golang/manifest.yml
  packages/ibmmq/changelog.yml
  packages/ibmmq/manifest.yml
  packages/kafka/changelog.yml
  packages/kafka/manifest.yml
  packages/mongodb/changelog.yml
  packages/mongodb/manifest.yml
  packages/mysql/changelog.yml
  packages/mysql/manifest.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/manifest.yml
  packages/nginx/changelog.yml
  packages/nginx/manifest.yml
  packages/oracle_weblogic/changelog.yml
  packages/oracle_weblogic/manifest.yml
  packages/php_fpm/changelog.yml
  packages/php_fpm/manifest.yml
  packages/redis/changelog.yml
  packages/redis/manifest.yml
  packages/spring_boot/changelog.yml
  packages/spring_boot/manifest.yml
  packages/system/changelog.yml
  packages/system/manifest.yml
Labels: Integration:system, Integration:mysql, Integration:apache, Integration:redis, Integration:ibmmq, Integration:apache_tomcat, Integration:couchdb, Integration:mongodb, Integration:activemq, Integration:ceph, Integration:couchbase, Integration:golang, Integration:kafka, Integration:php_fpm, Integration:nginx, Integration:spring_boot, Integration:nagios_xi, Integration:oracle_weblogic, Team:Obs-InfraObs, bugfix, Team:Security-Deployment and Devices, Team:Security-Linux Platform, Team:Security-Windows Platform, Integration:citrix_adc

#12977 atlassian_{bitbucket,confluence,jira}: improve pipeline robustness to empty strings
  packages/atlassian_bitbucket/changelog.yml
  packages/atlassian_bitbucket/data_stream/audit/_dev/test/pipeline/test-audit-api-empty.log-expected.json
  packages/atlassian_bitbucket/data_stream/audit/_dev/test/pipeline/test-audit-api.log
  packages/atlassian_bitbucket/data_stream/audit/_dev/test/pipeline/test-audit-api.log-expected.json
  packages/atlassian_bitbucket/data_stream/audit/_dev/test/pipeline/test-audit-files.log-expected.json
  packages/atlassian_bitbucket/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_bitbucket/manifest.yml
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-api-empty.log-expected.json
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-api.log
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-api.log-expected.json
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-cloud-empty.log-expected.json
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-cloud.log-expected.json
  packages/atlassian_confluence/data_stream/audit/_dev/test/pipeline/test-audit-files.log-expected.json
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/cloud.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_confluence/data_stream/audit/elasticsearch/ingest_pipeline/self-hosted.yml
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-api.log
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-api.log-expected.json
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-cloud.log-expected.json
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-empty.log-expected.json
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-files.log-expected.json
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/cloud.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/self-hosted.yml
  packages/atlassian_jira/manifest.yml
Labels: enhancement, Integration:atlassian_jira, Integration:atlassian_confluence, Integration:atlassian_bitbucket, bugfix, Team:Security-Service Integrations

#12975 [cisco_aironet] Properly parse CLIENT_ORCH_LOG-6-CLIENT_ADDED_TO_RUN_STATE messages
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/data_stream/log/fields/aironet-fields.yml
  packages/cisco_aironet/docs/README.md
  packages/cisco_aironet/manifest.yml
Labels: Integration:cisco_aironet, bugfix, Team:Security-Deployment and Devices

#13007 panw_cortex_xdr: Fix CEL type conversion in alerts v2.
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/agent/stream/cel.yml.hbs
  packages/panw_cortex_xdr/manifest.yml
Labels: Integration:panw_cortex_xdr, bugfix, Team:Security-Service Integrations

#13010 Update ssl option descriptions package in manifest.yml remaining packages obs infraobs integrations
  packages/cockroachdb/changelog.yml
  packages/cockroachdb/data_stream/status/manifest.yml
  packages/cockroachdb/manifest.yml
  packages/etcd/changelog.yml
  packages/etcd/manifest.yml
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/manifest.yml
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/manifest.yml
  packages/websphere_application_server/changelog.yml
  packages/websphere_application_server/manifest.yml
Labels: Integration:prometheus, Integration:cockroachdb, Integration:etcd, Integration:websphere_application_server, Team:Obs-InfraObs, bugfix, Integration:prometheus_input, Integration:jolokia_input, Team:obs-ds-hosted-services

#13008 Fixed typos in ssl verification node descriptions
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container/manifest.yml
  packages/kubernetes/data_stream/controllermanager/manifest.yml
  packages/kubernetes/data_stream/node/manifest.yml
  packages/kubernetes/data_stream/pod/manifest.yml
  packages/kubernetes/data_stream/scheduler/manifest.yml
  packages/kubernetes/data_stream/system/manifest.yml
  packages/kubernetes/data_stream/volume/manifest.yml
  packages/kubernetes/manifest.yml
Labels: Integration:kubernetes, bugfix, Team:obs-ds-hosted-services

#12984 packages/openai: Release integration as GA
  packages/openai/_dev/build/docs/README.md
  packages/openai/changelog.yml
  packages/openai/docs/README.md
  packages/openai/manifest.yml
Labels: enhancement

#13001 [HTA] Add new security integration package to publish dashboards for `Security: Host` module
  .github/CODEOWNERS
  packages/hta/changelog.yml
  packages/hta/docs/README.md
  packages/hta/img/host-traffic-anomalies-overview.png
  packages/hta/img/security-logo-color-64px.svg
  packages/hta/kibana/dashboard/hta-c3773b23-471c-4168-bb02-90489161ce51.json
  packages/hta/kibana/tag/hta-192d4418-0096-4ebd-9699-d961b8c8f6f7.json
  packages/hta/manifest.yml
  packages/hta/validation.yml
Labels: New Integration, Team:Security-Applied ML

#12941 [wiz] Enable agentless integration
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/changelog.yml
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Team:Security-Service Integrations, Team:Security-Deployment and Devices

#13009 checkpoint_harmony_endpoint: improve handling of 404 and 503 errors
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/antibot/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#13040 [panw] Support stack version 9.0
  packages/panw/changelog.yml
  packages/panw/manifest.yml
Labels: enhancement, Integration:panw, Team:Security-Deployment and Devices

#12767 [google_secops] Initial release of the google secops
  .github/CODEOWNERS
  packages/google_secops/_dev/build/build.yml
  packages/google_secops/_dev/build/docs/README.md
  packages/google_secops/_dev/deploy/docker/docker-compose.yml
  packages/google_secops/_dev/deploy/docker/files/config.yml
  packages/google_secops/changelog.yml
  packages/google_secops/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/google_secops/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/google_secops/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/google_secops/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/google_secops/data_stream/alert/agent/stream/cel.yml.hbs
  packages/google_secops/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/google_secops/data_stream/alert/fields/base-fields.yml
  packages/google_secops/data_stream/alert/fields/beats.yml
  packages/google_secops/data_stream/alert/fields/fields.yml
  packages/google_secops/data_stream/alert/manifest.yml
  packages/google_secops/data_stream/alert/sample_event.json
  packages/google_secops/docs/README.md
  packages/google_secops/img/google-secops-logo.svg
  packages/google_secops/img/google-secops-overview-screenshot.png
  packages/google_secops/kibana/dashboard/google_secops-517f96c9-1d44-420a-9ff4-96cf28de00d7.json
  packages/google_secops/kibana/search/google_secops-5407845c-e294-4f99-a342-9dc7e05dc8e0.json
  packages/google_secops/kibana/search/google_secops-6a9de76e-e146-484e-ad87-fdb29c937fa2.json
  packages/google_secops/manifest.yml
  packages/google_secops/validation.yml
Labels: dashboard, New Integration, Crest, Team:Security-Service Integrations

#12997 Update ssl option descriptions in manifest.yml files. Cleanup and missed packaged owned by Security Service Integrations
  packages/admin_by_request_epm/changelog.yml
  packages/admin_by_request_epm/manifest.yml
  packages/beyondinsight_password_safe/changelog.yml
  packages/beyondinsight_password_safe/manifest.yml
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/manifest.yml
  packages/panw_cortex_xdr/data_stream/incidents/manifest.yml
  packages/panw_cortex_xdr/manifest.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/manifest.yml
  packages/sailpoint_identity_sc/changelog.yml
  packages/sailpoint_identity_sc/manifest.yml
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:panw_cortex_xdr, Integration:zscaler_zia, bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations, Integration:admin_by_request, Integration:sailpoint_isc, Integration:beyondinsight_password_safe

#13043 [cisco_ftd] Message 302304 (and similar) has flexible spacing
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:cisco_ftd, bugfix, Team:Security-Deployment and Devices

#12802 [azure logs] enable event hub processor v2
  packages/azure/_dev/build/docs/events.md
  packages/azure/changelog.yml
  packages/azure/data_stream/events/agent/stream/stream.yml.hbs
  packages/azure/data_stream/events/manifest.yml
  packages/azure/docs/events.md
  packages/azure/manifest.yml
Labels: enhancement, Integration:azure, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#13048 [Cloud Security] Fix GCP Organization Agentless validation
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: bug, Team:Cloud Security

#13038 github.audit: Add Azure Eventhub input for streaming audit logs
  packages/github/_dev/build/docs/README.md
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-eventhub.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-eventhub.log-expected.json
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-json.log-expected.json
  packages/github/data_stream/audit/_dev/test/pipeline/test-organisation-audit-json.log-expected.json
  packages/github/data_stream/audit/agent/stream/azure-eventhub.yml.hbs
  packages/github/data_stream/audit/manifest.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: enhancement, Integration:github, Team:Security-Service Integrations

#12968 [ti_threatq] Update confidence scoring logic, IOC ingestion batch size, ECS field mapping issues and dashboard
  packages/ti_threatq/_dev/build/build.yml
  packages/ti_threatq/_dev/build/docs/README.md
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log-config.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-config.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/agent/stream/httpjson.yml.hbs
  packages/ti_threatq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatq/data_stream/threat/fields/fields.yml
  packages/ti_threatq/data_stream/threat/manifest.yml
  packages/ti_threatq/data_stream/threat/sample_event.json
  packages/ti_threatq/docs/README.md
  packages/ti_threatq/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_threatq/img/threatq-file.png
  packages/ti_threatq/img/threatq-overview.png
  packages/ti_threatq/img/threatq-url.png
  packages/ti_threatq/kibana/dashboard/ti_threatq-a05fd810-78f1-11ec-a97c-7db1518ab848.json
  packages/ti_threatq/kibana/dashboard/ti_threatq-ab289de0-78f1-11ec-a97c-7db1518ab848.json
  packages/ti_threatq/kibana/dashboard/ti_threatq-b45b0c40-78f1-11ec-a97c-7db1518ab848.json
  packages/ti_threatq/kibana/tag/ti_threatq-c0cca010-78f1-11ec-a97c-7db1518ab848.json
  packages/ti_threatq/kibana/tag/ti_threatq-security-solution-default.json
  packages/ti_threatq/manifest.yml
Labels: enhancement, Integration:ti_threatq, Crest, Team:Security-Service Integrations

#13044 {system,windows} Remove dynamic template to avoid ECS overrides.
  packages/system/changelog.yml
  packages/system/data_stream/security/manifest.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/applocker_exe_and_dll/manifest.yml
  packages/windows/data_stream/applocker_msi_and_script/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_deployment/manifest.yml
  packages/windows/data_stream/applocker_packaged_app_execution/manifest.yml
  packages/windows/data_stream/forwarded/manifest.yml
  packages/windows/data_stream/powershell/manifest.yml
  packages/windows/data_stream/powershell_operational/manifest.yml
  packages/windows/data_stream/sysmon_operational/manifest.yml
  packages/windows/data_stream/windows_defender/manifest.yml
  packages/windows/manifest.yml
Labels: Integration:windows, Integration:system, bugfix, Team:Security-Windows Platform

#13053 [Cloud Security] Promote `cloud_security_posture` 1.13.0
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security

#13049 [azure_logs] Enable azure-eventhub processor v2
  packages/azure_logs/_dev/build/docs/README.md
  packages/azure_logs/agent/input/input.yml.hbs
  packages/azure_logs/changelog.yml
  packages/azure_logs/docs/README.md
  packages/azure_logs/manifest.yml
Labels: enhancement, Team:Service-Integrations, Integration:azure_logs

#12982 Add Kibana 9.0 support.
  packages/logstash/changelog.yml
  packages/logstash/manifest.yml
Labels: >enhancement

#13011 Update SSL node description in manifest.yml file for packages owned by sec-deployment-and-devices
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/manifest.yml
  packages/zeek/changelog.yml
  packages/zeek/manifest.yml
Labels: Integration:zeek, Integration:cisco_ise, bugfix, Team:Security-Deployment and Devices

#13013 [AD Entity Analytics] Fix SID parsing and improve mappings
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/data_stream/user/fields/fields.yml
  packages/entityanalytics_ad/data_stream/user/manifest.yml
  packages/entityanalytics_ad/docs/README.md
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, bugfix, Team:Security-Service Integrations, Integration:entityanalytics_ad

#13020 Aligned data pulls to calendar days
  packages/ess_billing/changelog.yml
  packages/ess_billing/data_stream/billing/agent/stream/cel.yml.hbs
  packages/ess_billing/data_stream/billing/manifest.yml
  packages/ess_billing/manifest.yml
Labels: enhancement

#13056 crowdstrike.fdr: Increase field limits in FDR data-streams to avoid unindexed ECS fields
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#12989 [O365 Metrics] Fix pipeline for better handling of field name in site_usage_details & subscriptions data stream
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage_detail/_dev/test/pipeline/test-sharepoint-site-usage-detail.json-expected.json
  packages/o365_metrics/data_stream/sharepoint_site_usage_detail/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/subscriptions/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:o365_metrics

#13066 imperva_cloud_waf: add slash between url base and log file in second stage
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#13083 [Security Rules] Update security rules package to v8.16.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13086 [Security Rules] Update security rules package to v8.17.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13093 [Security Rules] Update security rules package to v8.14.24
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13034 [Azure OpenAI] Add Content Filtering support
  packages/azure_openai/_dev/build/docs/README.md
  packages/azure_openai/changelog.yml
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-gateway.log
  packages/azure_openai/data_stream/logs/_dev/test/pipeline/test-open-ai-gateway.log-expected.json
  packages/azure_openai/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_openai/data_stream/logs/fields/fields.yml
  packages/azure_openai/docs/README.md
  packages/azure_openai/img/azure_openai_content_filtering_overview_1.png
  packages/azure_openai/img/azure_openai_content_filtering_overview_2.png
  packages/azure_openai/kibana/dashboard/azure_openai-21d9a0d0-e6a0-4b34-bc6d-ce6560a1dab3.json
  packages/azure_openai/kibana/dashboard/azure_openai-83bbaa98-7f44-4785-8774-15e0de9f74fa.json
  packages/azure_openai/kibana/dashboard/azure_openai-8b09a72a-8317-4ec5-aafe-4b7d3833dcc0.json
  packages/azure_openai/kibana/dashboard/azure_openai-f5bbc591-5e6b-4af7-b6c5-b02065a06455.json
  packages/azure_openai/kibana/search/azure_openai-385437c4-9b2c-4d2a-a85b-4ec62837963d.json
  packages/azure_openai/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:azure_openai

#12949 [O365 Metrics] Parse nested fields for Teams Call Quality and Subscriptions data streams
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-subscriptions.json
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-subscriptions.json-expected.json
  packages/o365_metrics/data_stream/subscriptions/fields/fields.yml
  packages/o365_metrics/data_stream/teams_call_quality/fields/fields.yml
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#13107 Enable zscaler and sentinel one for agentless
  packages/sentinel_one/_dev/build/docs/README.md
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/agent/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/group/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
  packages/zscaler_zia/_dev/build/docs/README.md
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, Team:Service-Integrations, Integration:sentinel_one

#13094 entityanalytics_ad: do not rename msDS-* fields
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/data_stream/user/fields/fields.yml
  packages/entityanalytics_ad/docs/README.md
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad

#13070 google_workspace: fix JSON error and login challenge_status handling
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/_dev/test/pipeline/test-login.log
  packages/google_workspace/data_stream/login/_dev/test/pipeline/test-login.log-expected.json
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/rules/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: enhancement, Integration:google_workspace, bugfix, Team:Security-Service Integrations

#13111 ti_custom: make Accept and Content-Type headers configurable
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/_dev/test/system/test-taxii-basic-auth-config.yml
  packages/ti_custom/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_custom/data_stream/indicator/manifest.yml
  packages/ti_custom/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ti_custom

#13117 9x compatibility
  packages/ess_billing/changelog.yml
  packages/ess_billing/manifest.yml
Labels: enhancement

#13084 [AD Entity Analytics] Populate `user.name` & `asset.name` with sAMAccountName
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad

#13032 [AmazonMQ] RabbitMQ - Add overview dashboard
  packages/aws_mq/changelog.yml
  packages/aws_mq/img/amazonmq-rabbitmq-overview.png
  packages/aws_mq/kibana/dashboard/aws_mq-58348442-dc71-4ff3-acd1-b043c350153f.json
  packages/aws_mq/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:aws_mq

#13073 [atlassian_jira] Handle Multiple IPs in Source String
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-api.log
  packages/atlassian_jira/data_stream/audit/_dev/test/pipeline/test-audit-api.log-expected.json
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/atlassian_jira/data_stream/audit/elasticsearch/ingest_pipeline/self-hosted.yml
  packages/atlassian_jira/data_stream/audit/fields/fields.yml
  packages/atlassian_jira/docs/README.md
  packages/atlassian_jira/manifest.yml
Labels: Integration:atlassian_jira, bugfix, Crest, Team:Security-Service Integrations, Team:Sit-Crest

#13138 [O365_metrics] Add support for configuring resource parameters.
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/active_users_services_user_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/groups_activity_group_detail/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/mailbox_usage_detail/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/mailbox_usage_quota_status/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/onedrive_usage_account_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/onedrive_usage_account_detail/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/onedrive_usage_file_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/onedrive_usage_storage/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/outlook_activity/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/outlook_app_usage_version_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/service_health/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/sharepoint_site_usage_detail/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/sharepoint_site_usage_storage/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/subscriptions/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/teams_call_quality/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/teams_user_activity_user_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/teams_user_activity_user_detail/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/viva_engage_device_usage_user_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/viva_engage_groups_activity_group_detail/agent/stream/cel.yml.hbs
  packages/o365_metrics/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#13122 [tanium] Use `host.name` instead of `host.hostname`
  packages/tanium/changelog.yml
  packages/tanium/data_stream/action_history/_dev/test/pipeline/test-action-history.log-expected.json
  packages/tanium/data_stream/action_history/sample_event.json
  packages/tanium/data_stream/client_status/_dev/test/pipeline/test-client-status.log-expected.json
  packages/tanium/data_stream/client_status/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/client_status/sample_event.json
  packages/tanium/data_stream/discover/_dev/test/pipeline/test-discover.log-expected.json
  packages/tanium/data_stream/discover/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/discover/sample_event.json
  packages/tanium/data_stream/endpoint_config/_dev/test/pipeline/test-endpoint-config.log-expected.json
  packages/tanium/data_stream/endpoint_config/sample_event.json
  packages/tanium/data_stream/reporting/_dev/test/pipeline/test-reporting.log-expected.json
  packages/tanium/data_stream/reporting/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/reporting/sample_event.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-deep.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-match-details-empty-map-value.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-new-default.log-expected.json
  packages/tanium/data_stream/threat_response/_dev/test/pipeline/test-threat-response.log-expected.json
  packages/tanium/data_stream/threat_response/elasticsearch/ingest_pipeline/default.yml
  packages/tanium/data_stream/threat_response/sample_event.json
  packages/tanium/docs/README.md
  packages/tanium/kibana/dashboard/tanium-53510240-751e-11ed-ac81-f9d06ecfbe4d.json
  packages/tanium/kibana/dashboard/tanium-bb48efc0-7221-11ed-9ca9-cffacbd3ea4b.json
  packages/tanium/kibana/dashboard/tanium-ed004c30-97c3-11ed-995f-9bf277425742.json
  packages/tanium/kibana/dashboard/tanium-ee076ba0-7166-11ed-8152-6bb1c847deb5.json
  packages/tanium/manifest.yml
Labels: dashboard, Integration:tanium, Team:Security-Service Integrations

#13125 add missing grok pattern for kafka logs
  packages/kafka/changelog.yml
  packages/kafka/data_stream/log/_dev/test/pipeline/test-authlog.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-authlog.log-expected.json
  packages/kafka/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/kafka/manifest.yml
Labels: Integration:kafka

#13123 [log] allow log to be installed on 9.x stacks
  packages/log/changelog.yml
  packages/log/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane, Integration:log

#13145 [AD Entity Analytics] Fix UserAccountControl Attribute Table
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:entityanalytics_ad

#13147 Update Elastic agent constraint for 9.0.0
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/manifest.yml
Labels: Integration:elastic_agent, Team:Elastic-Agent-Control-Plane

#13119 cisco_duo, anomali, o365: update Kibana constraint to support 9.0.0
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/manifest.yml
  packages/o365/changelog.yml
  packages/o365/manifest.yml
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/manifest.yml
Labels: enhancement, Integration:o365, Integration:cisco_duo, Integration:ti_anomali, Team:Security-Service Integrations

#13092 [github] Update audit ingest pipeline to cover all fields
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-eventhub.log-expected.json
  packages/github/data_stream/audit/_dev/test/pipeline/test-enterprise-audit-json.log-expected.json
  packages/github/data_stream/audit/_dev/test/pipeline/test-organisation-audit-json.log
  packages/github/data_stream/audit/_dev/test/pipeline/test-organisation-audit-json.log-expected.json
  packages/github/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/audit/fields/fields.yml
  packages/github/data_stream/audit/sample_event.json
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: Integration:github, Crest, Team:Security-Service Integrations, mapping/pipeline issue, Team:Sit-Crest

#13099 [aws] Set event.type and event.action fields in vpcflow logs
  packages/aws/changelog.yml
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-extra-samples.log-expected.json
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-tcp-flag-sequence.log-expected.json
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-v5-all-fields.log-expected.json
  packages/aws/data_stream/vpcflow/_dev/test/pipeline/test-with-message-field.log-expected.json
  packages/aws/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/vpcflow/sample_event.json
  packages/aws/docs/vpcflow.md
  packages/aws/manifest.yml
Labels: Integration:aws, Crest, Team:Security-Service Integrations, Team:Security-External Integrations, mapping/pipeline issue, Team:Sit-Crest

#13059 [cisco_asa] Time with fraction-of-seconds support
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#13067 update `audit_manager` Kibana constraint integration to support to 9.0
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane, Integration:auditd_manager, Team:Security-Linux Platform

#13148 imperva_cloud_waf: clarify imperva file compression configuration
  packages/imperva_cloud_waf/_dev/build/docs/README.md
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/docs/README.md
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#13152 imperva_cloud_waf: step over non-UTF-8 data work items
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#13161 imperva_cloud_waf: work around type mismatch
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#13109 crowdstrike.fdr: Optionally allow data deduplication
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdrv2-notmanaged.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/system/test-default-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/system/test-keep-metadata-config.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/agent/stream/stream.yml.hbs
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13164 [chore] CODEOWNERS: update profiling to ingest-otel-data
  .github/CODEOWNERS
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/manifest.yml
Labels: enhancement, ci

#13168 qualys_vmdr: Fix `event.category` for asset vulnerabilities.
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations

#13172 [problemchild] Update description of `high_sum` ML jobs
  packages/problemchild/changelog.yml
  packages/problemchild/kibana/ml_module/problemchild-ml.json
  packages/problemchild/manifest.yml
Labels: Integration:problemchild, Team:Security-Applied ML

#13158 Fixed transform job definition that was inflating ingest volume
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/transform.yml
  packages/elasticsearch/manifest.yml
Labels: bug, Team:Stack Monitoring

#13105 [wiz] Enable agentless on supported stacks
  packages/wiz/changelog.yml
  packages/wiz/manifest.yml
Labels: bugfix, Integration:wiz, Team:Security-Service Integrations, Team:Security-Deployment and Devices

#13162 [opencanary] Update Event ECS Fields to Remove Noise
  packages/opencanary/changelog.yml
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-events.log
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/opencanary/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/opencanary/manifest.yml
Labels: bugfix, Crest, Team:Security-Service Integrations, Integration:opencanary, Team:Sit-Crest

#13183 github.audit: Fix URL for enterprises.
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/changelog.yml
  packages/github/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/github/manifest.yml
Labels: Integration:github, bugfix, Team:Security-Service Integrations

#13175 microsoft_defender_endpoint: Fix overview dashboard by removing reference to `event.integration`.
  packages/microsoft_defender_endpoint/_dev/deploy/docker/http-mock-config.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/kibana/dashboard/microsoft_defender_endpoint-65402c30-ca6a-11ea-9d4d-9737a63aaa55.json
  packages/microsoft_defender_endpoint/kibana/tag/microsoft_defender_endpoint-security-solution-default.json
  packages/microsoft_defender_endpoint/manifest.yml
Labels: dashboard, Integration:microsoft_defender_endpoint, bugfix, Team:Security-Service Integrations

#13166 [m365_defender] Add toggle button for including unknown Enum members
  packages/m365_defender/_dev/deploy/docker/alert-http-mock-config.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/m365_defender/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/alert/manifest.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration:m365_defender, Crest, Team:Security-Service Integrations, Team:Sit-Crest

#13153 [proofpoint_itm] Initial release of Proofpoint ITM
  .github/CODEOWNERS
  packages/proofpoint_itm/_dev/build/build.yml
  packages/proofpoint_itm/_dev/build/docs/README.md
  packages/proofpoint_itm/_dev/deploy/docker/docker-compose.yml
  packages/proofpoint_itm/_dev/deploy/docker/files/config.yml
  packages/proofpoint_itm/changelog.yml
  packages/proofpoint_itm/data_stream/report/_dev/test/pipeline/test-alert.log
  packages/proofpoint_itm/data_stream/report/_dev/test/pipeline/test-alert.log-expected.json
  packages/proofpoint_itm/data_stream/report/_dev/test/pipeline/test-common-config.yml
  packages/proofpoint_itm/data_stream/report/_dev/test/system/test-default-config.yml
  packages/proofpoint_itm/data_stream/report/agent/stream/cel.yml.hbs
  packages/proofpoint_itm/data_stream/report/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_itm/data_stream/report/fields/base-fields.yml
  packages/proofpoint_itm/data_stream/report/fields/beats.yml
  packages/proofpoint_itm/data_stream/report/fields/fields.yml
  packages/proofpoint_itm/data_stream/report/manifest.yml
  packages/proofpoint_itm/data_stream/report/sample_event.json
  packages/proofpoint_itm/docs/README.md
  packages/proofpoint_itm/img/proofpoint_itm-logo.svg
  packages/proofpoint_itm/img/proofpoint_itm-report-dashboard.png
  packages/proofpoint_itm/kibana/dashboard/proofpoint_itm-29f45960-20a5-4ca4-a40a-ad1504eb8138.json
  packages/proofpoint_itm/kibana/tag/proofpoint_itm-security-solution-default.json
  packages/proofpoint_itm/manifest.yml
Labels: dashboard, New Integration, Crest, Team:Security-Service Integrations, Integration:proofpoint_itm

#12916 [Trendmicro Vision One] - Fixed cursor & pagination logic for "detections" data stream
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/manifest.yml
Labels: breaking change, Integration:trend_micro_vision_one, bugfix, Team:Security-Service Integrations

#13163 Universal Profiling: Add Kibana constraint to support 9.0.0
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/manifest.yml
  packages/universal_profiling_collector/changelog.yml
  packages/universal_profiling_collector/manifest.yml
  packages/universal_profiling_symbolizer/changelog.yml
  packages/universal_profiling_symbolizer/manifest.yml
Labels: enhancement, Integration:universal_profiling_agent, Integration:universal_profiling_collector, Integration:universal_profiling_symbolizer

#13058 Adding agent exclusion filters to dga, lmd and problemchild packages
  packages/dga/changelog.yml
  packages/dga/kibana/ml_module/dga-ml.json
  packages/dga/manifest.yml
  packages/lmd/changelog.yml
  packages/lmd/elasticsearch/transform/pivot_transform/transform.yml
  packages/lmd/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/kibana/ml_module/problemchild-ml.json
  packages/problemchild/manifest.yml
Labels: Integration:lmd, Integration:dga, Integration:problemchild, Team:Security-Applied ML

#13202 [cisco_asa] Handle another variation of message 315011
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, Team:Security-Deployment and Devices

#13195 F5: remove deprecated integration
  .github/CODEOWNERS
  packages/f5/_dev/build/build.yml
  packages/f5/_dev/build/docs/README.md
  packages/f5/_dev/deploy/docker/docker-compose.yml
  packages/f5/_dev/deploy/docker/sample_logs/f5-bigipafm-generated.log
  packages/f5/_dev/deploy/docker/sample_logs/f5-bigipapm-generated.log
  packages/f5/changelog.yml
  packages/f5/data_stream/bigipafm/_dev/test/pipeline/test-common-config.yml
  packages/f5/data_stream/bigipafm/_dev/test/pipeline/test-generated.log
  packages/f5/data_stream/bigipafm/_dev/test/pipeline/test-generated.log-expected.json
  packages/f5/data_stream/bigipafm/_dev/test/system/test-logfile-config.yml
  packages/f5/data_stream/bigipafm/_dev/test/system/test-tcp-config.yml
  packages/f5/data_stream/bigipafm/_dev/test/system/test-udp-config.yml
  packages/f5/data_stream/bigipafm/agent/stream/stream.yml.hbs
  packages/f5/data_stream/bigipafm/agent/stream/tcp.yml.hbs
  packages/f5/data_stream/bigipafm/agent/stream/udp.yml.hbs
  packages/f5/data_stream/bigipafm/elasticsearch/ingest_pipeline/default.yml
  packages/f5/data_stream/bigipafm/fields/base-fields.yml
  packages/f5/data_stream/bigipafm/fields/ecs.yml
  packages/f5/data_stream/bigipafm/fields/fields.yml
  packages/f5/data_stream/bigipafm/manifest.yml
  packages/f5/data_stream/bigipafm/sample_event.json
  packages/f5/data_stream/bigipapm/_dev/test/pipeline/test-common-config.yml
  packages/f5/data_stream/bigipapm/_dev/test/pipeline/test-generated.log
  packages/f5/data_stream/bigipapm/_dev/test/pipeline/test-generated.log-expected.json
  packages/f5/data_stream/bigipapm/_dev/test/system/test-logfile-config.yml
  packages/f5/data_stream/bigipapm/_dev/test/system/test-tcp-config.yml
  packages/f5/data_stream/bigipapm/_dev/test/system/test-udp-config.yml
  packages/f5/data_stream/bigipapm/agent/stream/stream.yml.hbs
  packages/f5/data_stream/bigipapm/agent/stream/tcp.yml.hbs
  packages/f5/data_stream/bigipapm/agent/stream/udp.yml.hbs
  packages/f5/data_stream/bigipapm/elasticsearch/ingest_pipeline/default.yml
  packages/f5/data_stream/bigipapm/fields/base-fields.yml
  packages/f5/data_stream/bigipapm/fields/ecs.yml
  packages/f5/data_stream/bigipapm/fields/fields.yml
  packages/f5/data_stream/bigipapm/manifest.yml
  packages/f5/data_stream/bigipapm/sample_event.json
  packages/f5/docs/README.md
  packages/f5/img/logo.svg
  packages/f5/manifest.yml
Labels: breaking change, Integration:f5, Team:Security-Service Integrations

#13197 symantec_edr_cloud: remove deprecated integration
  .github/CODEOWNERS
  packages/symantec_edr_cloud/_dev/build/build.yml
  packages/symantec_edr_cloud/_dev/build/docs/README.md
  packages/symantec_edr_cloud/_dev/deploy/docker/docker-compose.yml
  packages/symantec_edr_cloud/_dev/deploy/docker/files/config-incident.yml
  packages/symantec_edr_cloud/changelog.yml
  packages/symantec_edr_cloud/data_stream/incident/_dev/test/pipeline/test-common-config.yml
  packages/symantec_edr_cloud/data_stream/incident/_dev/test/pipeline/test-incident.log
  packages/symantec_edr_cloud/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/symantec_edr_cloud/data_stream/incident/_dev/test/system/test-default-config.yml
  packages/symantec_edr_cloud/data_stream/incident/agent/stream/cel.yml.hbs
  packages/symantec_edr_cloud/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_edr_cloud/data_stream/incident/fields/base-fields.yml
  packages/symantec_edr_cloud/data_stream/incident/fields/beats.yml
  packages/symantec_edr_cloud/data_stream/incident/fields/fields.yml
  packages/symantec_edr_cloud/data_stream/incident/manifest.yml
  packages/symantec_edr_cloud/data_stream/incident/sample_event.json
  packages/symantec_edr_cloud/docs/README.md
  packages/symantec_edr_cloud/img/incident-dashboard.png
  packages/symantec_edr_cloud/img/symantec-logo.svg
  packages/symantec_edr_cloud/kibana/dashboard/symantec_edr_cloud-82da71d0-683a-11ee-b36d-738096ab23d3.json
  packages/symantec_edr_cloud/kibana/search/symantec_edr_cloud-7f431840-6850-11ee-b36d-738096ab23d3.json
  packages/symantec_edr_cloud/kibana/tag/symantec_edr_cloud-security-solution-default.json
  packages/symantec_edr_cloud/kibana/tags.yml
  packages/symantec_edr_cloud/manifest.yml
  packages/symantec_edr_cloud/validation.yml
Labels: breaking change, Team:Security-Service Integrations, Integration:symantec_edr_cloud

#13203 #11810 Enabled agentless deployment for Qualys_VMDR
  packages/qualys_vmdr/_dev/build/docs/README.md
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#13200 checkpoint_harmony_endpoint: fix assignment of endTime query parameter
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/antibot/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#13173 #11810 Enabling Agentless for AbuseCH
  packages/ti_abusech/_dev/build/docs/README.md
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/malwarebazaar/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/threatfox/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/url/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/manifest.yml
Labels: enhancement, Integration:ti_abusech, Team:Security-Service Integrations

#13239 azure_network_watcher_vnet: Document the limitation around tuples.
  packages/azure_network_watcher_vnet/_dev/build/docs/README.md
  packages/azure_network_watcher_vnet/changelog.yml
  packages/azure_network_watcher_vnet/docs/README.md
  packages/azure_network_watcher_vnet/manifest.yml
Labels: documentation, Team:Security-Service Integrations, Integration:azure_network_watcher_vnet

#13182 [docs] Miscellaneous docs clean up
  docs/docset.yml
  docs/extend/dashboard-guidelines.md
  docs/extend/developer-workflow-support-old-package.md
  docs/extend/images/backport_input_step.png
  docs/extend/images/browse_package_commits.png
  docs/extend/images/build.png
  docs/extend/images/colors-in-visualizations.png
  docs/extend/images/datastream-log-message.png
  docs/extend/images/filter-in-visualization.png
  docs/extend/images/grouping-in-visualizations.png
  docs/extend/images/markdown-grouping.png
  docs/extend/images/merge_commit_message.png
  docs/extend/images/package-installed.png
  docs/extend/images/rows-in-visualizations.png
  docs/extend/images/titles-in-visualizations.png
  docs/extend/quick-start.md
Labels: documentation, Team:Docs

#13110 [cef] Update Beats config to ignore empty fields
  packages/cef/_dev/deploy/docker/docker-compose.yml
  packages/cef/_dev/deploy/docker/specific_test_logs/empty-fields.log
  packages/cef/changelog.yml
  packages/cef/data_stream/log/_dev/test/system/test-ignore-empty-fields-config.yml
  packages/cef/data_stream/log/agent/stream/log.yml.hbs
  packages/cef/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cef/data_stream/log/agent/stream/udp.yml.hbs
  packages/cef/data_stream/log/manifest.yml
  packages/cef/manifest.yml
Labels: Integration:cef, bugfix, Team:Security-Deployment and Devices

#13169 carbon_black_cloud: remove deprecated alert data stream and support 9.0.0
  packages/carbon_black_cloud/_dev/build/docs/README.md
  packages/carbon_black_cloud/_dev/deploy/docker/files/config.yml
  packages/carbon_black_cloud/changelog.yml
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/carbon_black_cloud/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/carbon_black_cloud/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/carbon_black_cloud/data_stream/alert/agent/stream/aws-s3.yml.hbs
  packages/carbon_black_cloud/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/carbon_black_cloud/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/carbon_black_cloud/data_stream/alert/fields/agent.yml
  packages/carbon_black_cloud/data_stream/alert/fields/base-fields.yml
  packages/carbon_black_cloud/data_stream/alert/fields/fields.yml
  packages/carbon_black_cloud/data_stream/alert/manifest.yml
  packages/carbon_black_cloud/data_stream/alert/sample_event.json
  packages/carbon_black_cloud/docs/README.md
  packages/carbon_black_cloud/img/carbon_black_cloud-alert_v7-dashboard.png
  packages/carbon_black_cloud/img/carbon_black_cloud-screenshot.png
  packages/carbon_black_cloud/kibana/dashboard/carbon_black_cloud-0954fb80-3a5c-11ed-a8e8-41eb8778c6de.json
  packages/carbon_black_cloud/kibana/search/carbon_black_cloud-b23c6730-3a6e-11ed-a8e8-41eb8778c6de.json
  packages/carbon_black_cloud/manifest.yml
Labels: enhancement, breaking change, Integration:carbon_black_cloud, Team:Security-Service Integrations

#13186 snyk: remove deprecated data streams and support 9.0.0
  packages/snyk/_dev/build/docs/README.md
  packages/snyk/_dev/deploy/docker/files/config.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/snyk/data_stream/audit/_dev/test/pipeline/test-snyk-audit.log
  packages/snyk/data_stream/audit/_dev/test/pipeline/test-snyk-audit.log-expected.json
  packages/snyk/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/snyk/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/snyk/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/audit/fields/agent.yml
  packages/snyk/data_stream/audit/fields/base-fields.yml
  packages/snyk/data_stream/audit/fields/beats.yml
  packages/snyk/data_stream/audit/fields/fields.yml
  packages/snyk/data_stream/audit/fields/package-fields.yml
  packages/snyk/data_stream/audit/manifest.yml
  packages/snyk/data_stream/audit/sample_event.json
  packages/snyk/data_stream/vulnerabilities/_dev/test/pipeline/test-common-config.yml
  packages/snyk/data_stream/vulnerabilities/_dev/test/pipeline/test-snyk-vulnerabilities.log
  packages/snyk/data_stream/vulnerabilities/_dev/test/pipeline/test-snyk-vulnerabilities.log-expected.json
  packages/snyk/data_stream/vulnerabilities/_dev/test/system/test-default-config.yml
  packages/snyk/data_stream/vulnerabilities/agent/stream/httpjson.yml.hbs
  packages/snyk/data_stream/vulnerabilities/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/vulnerabilities/fields/agent.yml
  packages/snyk/data_stream/vulnerabilities/fields/base-fields.yml
  packages/snyk/data_stream/vulnerabilities/fields/beats.yml
  packages/snyk/data_stream/vulnerabilities/fields/fields.yml
  packages/snyk/data_stream/vulnerabilities/fields/package-fields.yml
  packages/snyk/data_stream/vulnerabilities/manifest.yml
  packages/snyk/data_stream/vulnerabilities/sample_event.json
  packages/snyk/docs/README.md
  packages/snyk/manifest.yml
Labels: enhancement, breaking change, Integration:snyk, Team:Security-Service Integrations

#13188 m365_defender: remove deprecated log data stream
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/_dev/deploy/docker/docker-compose.yml
  packages/m365_defender/_dev/deploy/docker/log-http-mock-config.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-empty-ndjson.log
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-empty-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/_dev/test/system/test-httpjson-config.yml
  packages/m365_defender/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/log/fields/agent.yml
  packages/m365_defender/data_stream/log/fields/base-fields.yml
  packages/m365_defender/data_stream/log/fields/fields.yml
  packages/m365_defender/data_stream/log/manifest.yml
  packages/m365_defender/data_stream/log/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, breaking change, Integration:m365_defender, Team:Security-Service Integrations

#13088 Cisco ise time format update
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-guest.log
  packages/cisco_ise/data_stream/log/_dev/test/pipeline/test-pipeline-guest.log-expected.json
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_ad_connector.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_administrative_and_operational_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_authentication_flow_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_failed_attempts.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_guest.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_identity_stores_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_internal_operations_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_monitoring_data_purge_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_mydevices.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_passed_authentications.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_policy_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_posture_and_client_provisioning_audit.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_radius_accounting.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_radius_diagnostics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_system_statistics.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_tacacs_accounting.yml
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/pipeline_threat_centric_nac.yml
  packages/cisco_ise/manifest.yml
Labels: Integration:cisco_ise, bugfix, Team:Security-Deployment and Devices

#13137 [ti_threatq] Map threat.indicator.provider from name instead of provider
  packages/ti_threatq/changelog.yml
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-no-preserve-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/_dev/test/pipeline/test-threatq-sample-ndjson.log-expected.json
  packages/ti_threatq/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/ti_threatq/data_stream/threat/sample_event.json
  packages/ti_threatq/docs/README.md
  packages/ti_threatq/img/threatq-overview.png
  packages/ti_threatq/kibana/dashboard/ti_threatq-a05fd810-78f1-11ec-a97c-7db1518ab848.json
  packages/ti_threatq/kibana/tag/ti_threatq-c0cca010-78f1-11ec-a97c-7db1518ab848.json
  packages/ti_threatq/kibana/tag/ti_threatq-security-solution-default.json
  packages/ti_threatq/manifest.yml
Labels: enhancement, dashboard, Integration:ti_threatq, Crest, Team:Security-Service Integrations

#13244 imperva_cloud_waf: Handle multiple IPs in `cef.extensions.xff`
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-event.json
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/imperva_cloud_waf/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/imperva_cloud_waf/data_stream/event/sample_event.json
  packages/imperva_cloud_waf/docs/README.md
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#13196 [CrowdStrike FDR] expose missing setting for the user
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#13201 wiz.vulnerability: Set `event.id` required for CDR workflow.
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/wiz/data_stream/cloud_configuration_finding/_dev/test/pipeline/test-cloud-configuration-finding.log-expected.json
  packages/wiz/data_stream/issue/_dev/test/pipeline/test-issue.log-expected.json
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/manifest.yml
Labels: bugfix, Integration:wiz, Team:Security-Service Integrations

#13243 #11810 Enabling Agentless for Office 365
  packages/o365/_dev/build/docs/README.md
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#13185 [m365_defender] Fix event.category for the AdvancedHunting-AlertInfo events
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, Team:Security-Service Integrations, mapping/pipeline issue, Team:Sit-Crest

#13187 Amazon MQ Add ActiveMQ audit log support
  packages/aws_mq/_dev/build/docs/README.md
  packages/aws_mq/changelog.yml
  packages/aws_mq/data_stream/activemq_audit_logs/_dev/test/pipeline/test-amazonmq-activemq-audit.log
  packages/aws_mq/data_stream/activemq_audit_logs/_dev/test/pipeline/test-amazonmq-activemq-audit.log-expected.json
  packages/aws_mq/data_stream/activemq_audit_logs/_dev/test/pipeline/test-common-config.yml
  packages/aws_mq/data_stream/activemq_audit_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_mq/data_stream/activemq_audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws_mq/data_stream/activemq_audit_logs/fields/agent.yml
  packages/aws_mq/data_stream/activemq_audit_logs/fields/base-fields.yml
  packages/aws_mq/data_stream/activemq_audit_logs/fields/fields.yml
  packages/aws_mq/data_stream/activemq_audit_logs/fields/input.yml
  packages/aws_mq/data_stream/activemq_audit_logs/manifest.yml
  packages/aws_mq/data_stream/activemq_audit_logs/sample_event.json
  packages/aws_mq/docs/README.md
  packages/aws_mq/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:aws_mq

#13177 #11810 Enabling Agentless for Prisma Cloud
  packages/prisma_cloud/_dev/build/docs/README.md
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/host_profile/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/incident_audit/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/docs/README.md
  packages/prisma_cloud/manifest.yml
Labels: Integration:prisma_cloud, Team:Security-Service Integrations

#13272 cloudflare_logpush: fix handling of events missing ClientRequestProtocol
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations

#13247 docs: fix k8s otel setup link
  packages/kubernetes_otel/docs/README.md
Labels: Team:obs-ds-hosted-services, Integration:kubernetes_otel

#13260 crowdstrike: reduce storage load from less useful or constant fields
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdrv2-notmanaged.log-expected.json
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/agent/stream/stream.yml.hbs
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/base-fields.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13303 [ti_threatconnect] Add a compatibility pipeline to the transform
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/elasticsearch/ingest_pipeline/tactics_compatibility.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/transform.yml
  packages/ti_threatconnect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:ti_threatconnect

#13261 [Ti_AbuseCH] - Added support for optional "Auth Key" request header across all data streams
  packages/ti_abusech/_dev/build/docs/README.md
  packages/ti_abusech/_dev/deploy/docker/files/config-threatfox.yml
  packages/ti_abusech/_dev/deploy/docker/files/config.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/_dev/test/system/test-auth-config.yml
  packages/ti_abusech/data_stream/malware/_dev/test/system/test-no-auth-config.yml
  packages/ti_abusech/data_stream/malware/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/system/test-auth-config.yml
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/system/test-no-auth-config.yml
  packages/ti_abusech/data_stream/malwarebazaar/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/threatfox/_dev/test/system/test-auth-config.yml
  packages/ti_abusech/data_stream/threatfox/_dev/test/system/test-no-auth-config.yml
  packages/ti_abusech/data_stream/threatfox/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/url/_dev/test/system/test-auth-config.yml
  packages/ti_abusech/data_stream/url/_dev/test/system/test-no-auth-config.yml
  packages/ti_abusech/data_stream/url/agent/stream/cel.yml.hbs
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/manifest.yml
Labels: enhancement, Integration:ti_abusech, Team:Security-Service Integrations

#13124 Update spec version of nats and stan packages to 3.0
  packages/nats/changelog.yml
  packages/nats/data_stream/connection/fields/fields.yml
  packages/nats/data_stream/connection/sample_event.json
  packages/nats/data_stream/connections/fields/fields.yml
  packages/nats/data_stream/connections/sample_event.json
  packages/nats/data_stream/log/fields/fields.yml
  packages/nats/data_stream/route/fields/fields.yml
  packages/nats/data_stream/route/sample_event.json
  packages/nats/data_stream/routes/fields/fields.yml
  packages/nats/data_stream/routes/sample_event.json
  packages/nats/data_stream/stats/fields/fields.yml
  packages/nats/data_stream/stats/sample_event.json
  packages/nats/data_stream/subscriptions/fields/fields.yml
  packages/nats/data_stream/subscriptions/sample_event.json
  packages/nats/docs/README.md
  packages/nats/manifest.yml
  packages/stan/changelog.yml
  packages/stan/data_stream/channels/fields/fields.yml
  packages/stan/data_stream/channels/sample_event.json
  packages/stan/data_stream/log/fields/fields.yml
  packages/stan/data_stream/stats/fields/fields.yml
  packages/stan/data_stream/stats/sample_event.json
  packages/stan/data_stream/subscriptions/fields/fields.yml
  packages/stan/data_stream/subscriptions/sample_event.json
  packages/stan/docs/README.md
  packages/stan/manifest.yml
Labels: Integration:stan, Integration:nats, Team:Obs-InfraObs

#13098 Update: Add support for proxy in CEL for rubrik integration
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/drives/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/filesets/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/global_cluster_performance/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/managed_volumes/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/monitoring_jobs/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/mssql_databases/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/node_statistics/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/physical_hosts/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/sla_domains/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/tasks/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/unmanaged_objects/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/virtual_machines/agent/stream/cel.yml.hbs
  packages/rubrik/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12869 crowdstrike: add support for EppDetectionSummaryEvent events
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-event-stream.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-cspmioa-streaming.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-cspmsearch-streaming.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-identity-protection-incident.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-ipd-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-mobile-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-tags-list.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-tags.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-xdr-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/cspm_events.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/epp_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/identity_protection_incident.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/ipd_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/mobile_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/xdr_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-epp-detection-summary.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-epp-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13310 cover an edge case in kafka grok patterns
  packages/kafka/changelog.yml
  packages/kafka/data_stream/log/_dev/test/pipeline/test-authlog.log
  packages/kafka/data_stream/log/_dev/test/pipeline/test-authlog.log-expected.json
  packages/kafka/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/kafka/data_stream/log/agent/stream/log.yml.hbs
  packages/kafka/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/kafka/manifest.yml
Labels: bug, Integration:kafka, Team:Obs-InfraObs

#13312 [Cloud Security][Wiz] add vulnerability event.id to use ecs mapping
  packages/wiz/changelog.yml
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Team:Security-Service Integrations

#13329 [Jamf_Pro] - Fix empty string issue for date query param in filter for Jamf Pro inventory data stream
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json
  packages/jamf_pro/data_stream/inventory/agent/stream/cel.yml.hbs
  packages/jamf_pro/data_stream/inventory/manifest.yml
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#13330 [Ti_AbuseCH] - Added changelog entry and doc updates to retain context of back-port PR_#13317
  packages/ti_abusech/_dev/build/docs/README.md
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/docs/README.md
Labels: Integration:ti_abusech, docs, Team:Security-Service Integrations

#13170 add new 'tenant_settings' data stream to o365_metrics integration
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/_dev/deploy/docker/docker-compose.yml
  packages/o365_metrics/_dev/deploy/docker/files/config.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/tenant_settings/_dev/test/system/test-default-config.yml
  packages/o365_metrics/data_stream/tenant_settings/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/tenant_settings/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/tenant_settings/fields/base-fields.yml
  packages/o365_metrics/data_stream/tenant_settings/fields/fields.yml
  packages/o365_metrics/data_stream/tenant_settings/manifest.yml
  packages/o365_metrics/data_stream/tenant_settings/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#13328 [AmazonMQ] Add visualisation panel to show ActiveMQ general logs in the ActiveMQ overview dashboard
  packages/aws_mq/changelog.yml
  packages/aws_mq/img/amazonmq-activemq-dashboard.png
  packages/aws_mq/kibana/dashboard/aws_mq-787931c1-b9eb-4c6d-9993-e9014e135071.json
  packages/aws_mq/manifest.yml
  packages/aws_mq/validation.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:aws_mq

#13235 ti_threatconnect: fix handling of missing cursor.last_timestamp
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_threatconnect/elasticsearch/transform/latest/transform.yml
  packages/ti_threatconnect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:ti_threatconnect

#13309 [CISA KEVs] Add `Security Solution` tag in dashboard
  packages/cisa_kevs/changelog.yml
  packages/cisa_kevs/kibana/dashboard/cisa_kevs-dcb4dd40-d17a-11ee-b159-799470efb549.json
  packages/cisa_kevs/kibana/tag/cisa_kevs-security-solution-default.json
  packages/cisa_kevs/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:cisa_kevs, Team:Sit-Crest

#13302 [Zscaler ZIA] - Added request tracing config option for http_endpoint input
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/audit/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/audit/manifest.yml
  packages/zscaler_zia/data_stream/dns/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/dns/manifest.yml
  packages/zscaler_zia/data_stream/endpoint_dlp/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/endpoint_dlp/manifest.yml
  packages/zscaler_zia/data_stream/firewall/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/firewall/manifest.yml
  packages/zscaler_zia/data_stream/tunnel/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/tunnel/manifest.yml
  packages/zscaler_zia/data_stream/web/agent/stream/http_endpoint.yml.hbs
  packages/zscaler_zia/data_stream/web/manifest.yml
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:zscaler_zia, Team:Security-Service Integrations

#13333 checkpoint_harmony_endpoint: improve handling of API errors
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/antibot/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#13296 crowdstrike.fdr: Backport 1.56.1 - Expose missing setting for the user
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, backport, Team:Security-Service Integrations

#13343 crowdstrike.fdr: Add backport's changelog entry into main
  packages/crowdstrike/changelog.yml
Labels: Integration:crowdstrike, Team:Security-Service Integrations

#13334 crowdstrike: improve falcon EppDetectionSummaryEvent field mapping
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13335 m365_defender,sentinel_one_cloud_funnel: improve command line split script performance
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, Integration:m365_defender, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations

#13347 [docs] Remove reliance on temporary redirects
  docs/extend/add-data-stream.md
  docs/extend/developer-tsds-guidelines.md
  docs/extend/edit-ingest-pipeline.md
  docs/extend/quick-start.md
  docs/extend/what-is-an-integration.md
Labels: documentation, Team:Docs, docs

#13174 [AD Entity Analytics] User Object Enrichments
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/data_stream/user/fields/fields.yml
  packages/entityanalytics_ad/docs/README.md
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad

#13057 Varonis Integration
  .github/CODEOWNERS
  packages/varonis/_dev/build/build.yml
  packages/varonis/_dev/build/docs/README.md
  packages/varonis/_dev/deploy/docker/docker-compose.yml
  packages/varonis/_dev/deploy/docker/sample_logs/varonis.log
  packages/varonis/changelog.yml
  packages/varonis/data_stream/logs/_dev/test/pipeline/test-common-config.yml
  packages/varonis/data_stream/logs/_dev/test/pipeline/test-logs.json
  packages/varonis/data_stream/logs/_dev/test/pipeline/test-logs.json-expected.json
  packages/varonis/data_stream/logs/_dev/test/system/test-tcp-config.yml
  packages/varonis/data_stream/logs/_dev/test/system/test-udp-config.yml
  packages/varonis/data_stream/logs/agent/stream/tcp.yml.hbs
  packages/varonis/data_stream/logs/agent/stream/udp.yml.hbs
  packages/varonis/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/varonis/data_stream/logs/fields/base-fields.yml
  packages/varonis/data_stream/logs/fields/fields.yml
  packages/varonis/data_stream/logs/manifest.yml
  packages/varonis/data_stream/logs/sample_event.json
  packages/varonis/docs/README.md
  packages/varonis/img/events-screenshot.png
  packages/varonis/img/sample-logo.svg
  packages/varonis/kibana/dashboard/varonis-9e50d608-38eb-4a84-aac7-8a0ed0e8f7b4.json
  packages/varonis/manifest.yml
Labels: dashboard, New Integration

#13298 [Mimecast] Fix the configuration issue
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/archive_search_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/archive_search_logs/sample_event.json
  packages/mimecast/data_stream/audit_events/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/data_stream/cloud_integrated_logs/sample_event.json
  packages/mimecast/data_stream/dlp_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/dlp_logs/sample_event.json
  packages/mimecast/data_stream/message_release_logs/sample_event.json
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_customer/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_grid/sample_event.json
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/sample_event.json
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/httpjson.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, Team:Security-Service Integrations, Team:Sit-Crest
