Repository elastic/integrations, pull requests merged in 2025-10, with the labels that each got.

#15497 crowdstrike: add rally benchmark and fix ingest pipeline bugs
  packages/crowdstrike/_dev/benchmark/rally/alert-benchmark.yml
  packages/crowdstrike/_dev/benchmark/rally/alert-benchmark/config.yml
  packages/crowdstrike/_dev/benchmark/rally/alert-benchmark/fields.yml
  packages/crowdstrike/_dev/benchmark/rally/alert-benchmark/template.ndjson
  packages/crowdstrike/_dev/benchmark/rally/falcon-benchmark.yml
  packages/crowdstrike/_dev/benchmark/rally/falcon-benchmark/config.yml
  packages/crowdstrike/_dev/benchmark/rally/falcon-benchmark/fields.yml
  packages/crowdstrike/_dev/benchmark/rally/falcon-benchmark/template.ndjson
  packages/crowdstrike/_dev/benchmark/rally/fdr-benchmark.yml
  packages/crowdstrike/_dev/benchmark/rally/fdr-benchmark/config.yml
  packages/crowdstrike/_dev/benchmark/rally/fdr-benchmark/fields.yml
  packages/crowdstrike/_dev/benchmark/rally/fdr-benchmark/template.ndjson
  packages/crowdstrike/_dev/benchmark/rally/host-benchmark.yml
  packages/crowdstrike/_dev/benchmark/rally/host-benchmark/config.yml
  packages/crowdstrike/_dev/benchmark/rally/host-benchmark/fields.yml
  packages/crowdstrike/_dev/benchmark/rally/host-benchmark/template.ndjson
  packages/crowdstrike/_dev/benchmark/rally/vulnerability-benchmark.yml
  packages/crowdstrike/_dev/benchmark/rally/vulnerability-benchmark/config.yml
  packages/crowdstrike/_dev/benchmark/rally/vulnerability-benchmark/fields.yml
  packages/crowdstrike/_dev/benchmark/rally/vulnerability-benchmark/template.ndjson
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, Category: Integration quality, Team:Security-Service Integrations, Team:Sit-Crest

#15488 Update billing docs link
  packages/ess_billing/_dev/build/docs/README.md
  packages/ess_billing/changelog.yml
  packages/ess_billing/docs/README.md
  packages/ess_billing/manifest.yml
Labels: bug, documentation, Integration:ess_billing

#15505 [CISCO Meraki] Handle 8021x_client_deauth events and identity field
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/cisco_meraki/data_stream/log/fields/fields.yml
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: documentation, Integration:cisco_meraki, Team:Security-Service Integrations

#15517 [cisco_aironet]: enhance CLIENT_ADDED_TO_RUN_STATE log parsing
  packages/cisco_aironet/changelog.yml
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log
  packages/cisco_aironet/data_stream/log/_dev/test/pipeline/test-aironet-messages.log-expected.json
  packages/cisco_aironet/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_aironet/data_stream/log/fields/aironet-fields.yml
  packages/cisco_aironet/docs/README.md
  packages/cisco_aironet/manifest.yml
Labels: enhancement, Integration:cisco_aironet, Team:Integration-Experience

#15504 [PANW] Fix broken link
  packages/panw/_dev/build/docs/README.md
  packages/panw/changelog.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: bug, documentation, Integration:panw, Team:Integration-Experience

#15329 [Azure AI Foundry] Update dashboard panel with donut chart
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/img/azure_ai_foundry_guardrails_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_guardrails_2.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_2.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-09e1aa79-9d15-4bbe-a32c-85766864fa6a.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-0d923e01-2082-4ba0-a1a3-335ad53f1a00.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-284b4e05-3349-401b-94fe-9136cdb4b2fd.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-2b21bfb1-6fc2-45c5-9f0f-1e15aaab5245.json
  packages/azure_ai_foundry/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:azure_ai_foundry

#14950 feat(beyondtrust_pra): Use Unix timestamp for start_time
  packages/beyondtrust_pra/_dev/deploy/docker/docker-compose.yml
  packages/beyondtrust_pra/_dev/deploy/docker/files/config-access_session.yml
  packages/beyondtrust_pra/changelog.yml
  packages/beyondtrust_pra/data_stream/access_session/_dev/test/system/test-common-config.yml
  packages/beyondtrust_pra/data_stream/access_session/agent/stream/input.yml.hbs
  packages/beyondtrust_pra/data_stream/access_session/elasticsearch/ingest_pipeline/default.yml
  packages/beyondtrust_pra/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:beyondtrust_pra

#15509 Remove AdHoc Views from system_otel dashboards
  packages/system_otel/changelog.yml
  packages/system_otel/kibana/dashboard/system_otel-329ee135-f301-4dab-91f4-af52cd58cb88.json
  packages/system_otel/kibana/dashboard/system_otel-c2749107-6de5-49b5-b007-582a88de8d7c.json
  packages/system_otel/kibana/dashboard/system_otel-c505790f-b3ef-4ca8-81a6-3554be676272.json
  packages/system_otel/manifest.yml
Labels: dashboard, bugfix, Integration:system_otel

#15550 Add missing information on the HAProxy Integration documentation
  packages/haproxy/_dev/build/docs/README.md
  packages/haproxy/changelog.yml
  packages/haproxy/docs/README.md
  packages/haproxy/manifest.yml
Labels: documentation, bugfix

#15578 [Security Rules] Update security rules package to v8.18.15
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#15580 [Security Rules] Update security rules package to v9.0.15
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#15522 Add malware advisory type to GitHub security advisories data stream
  packages/github/changelog.yml
  packages/github/data_stream/security_advisories/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/security_advisories/fields/fields.yml
  packages/github/data_stream/security_advisories/manifest.yml
  packages/github/docs/README.md
  packages/github/manifest.yml
Labels: documentation, Integration:github, Team:Security-Service Integrations

#15437 [sentinel_one] Update Deprecated Visualizations and Enhanced Dashboards
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/img/sentinel-one-activities-dashboard.png
  packages/sentinel_one/img/sentinel-one-agents-dashboard.png
  packages/sentinel_one/img/sentinel-one-alerts-dashboard.png
  packages/sentinel_one/img/sentinel-one-application-dashboard.png
  packages/sentinel_one/img/sentinel-one-application-risk-dashboard.png
  packages/sentinel_one/img/sentinel-one-dashboard.png
  packages/sentinel_one/img/sentinel-one-group-dashboard.png
  packages/sentinel_one/img/sentinel-one-screenshot.png
  packages/sentinel_one/img/sentinel-one-threats-dashboard.png
  packages/sentinel_one/kibana/dashboard/sentinel_one-0dd17490-bbb8-11ec-82b7-8fcb232e9538.json
  packages/sentinel_one/kibana/dashboard/sentinel_one-5881f5f0-bb2c-11ec-82b7-8fcb232e9538.json
  packages/sentinel_one/kibana/dashboard/sentinel_one-67844880-bbb5-11ec-82b7-8fcb232e9538.json
  packages/sentinel_one/kibana/dashboard/sentinel_one-899f2630-bb27-11ec-82b7-8fcb232e9538.json
  packages/sentinel_one/kibana/dashboard/sentinel_one-9d3f16ad-d421-4475-b0e2-c9b3f795e0d5.json
  packages/sentinel_one/kibana/dashboard/sentinel_one-acd472d9-a6b7-4a53-a58d-06c315764c8d.json
  packages/sentinel_one/kibana/dashboard/sentinel_one-bcf1f680-bba3-11ec-82b7-8fcb232e9538.json
  packages/sentinel_one/kibana/search/sentinel_one-35fe472a-8994-4b8d-a6bc-df41aa12ca46.json
  packages/sentinel_one/kibana/search/sentinel_one-89773b00-c1fa-11ec-a23a-27e16fe32bb9.json
  packages/sentinel_one/kibana/tag/sentinel_one-security-solution-default.json
  packages/sentinel_one/manifest.yml
Labels: enhancement, dashboard, Integration:sentinel_one, Category: Integration quality, Team:Security-Service Integrations, Team:Sit-Crest

#15302 [ibm_qradar] Initial release of IBM QRadar
  .github/CODEOWNERS
  packages/ibm_qradar/_dev/build/build.yml
  packages/ibm_qradar/_dev/build/docs/README.md
  packages/ibm_qradar/_dev/deploy/docker/docker-compose.yml
  packages/ibm_qradar/_dev/deploy/docker/files/config.yml
  packages/ibm_qradar/changelog.yml
  packages/ibm_qradar/data_stream/offense/_dev/test/pipeline/test-common-config.yml
  packages/ibm_qradar/data_stream/offense/_dev/test/pipeline/test-offense.log
  packages/ibm_qradar/data_stream/offense/_dev/test/pipeline/test-offense.log-expected.json
  packages/ibm_qradar/data_stream/offense/_dev/test/system/test-default-config.yml
  packages/ibm_qradar/data_stream/offense/agent/stream/cel.yml.hbs
  packages/ibm_qradar/data_stream/offense/elasticsearch/ingest_pipeline/default.yml
  packages/ibm_qradar/data_stream/offense/fields/base-fields.yml
  packages/ibm_qradar/data_stream/offense/fields/beats.yml
  packages/ibm_qradar/data_stream/offense/fields/ecs.yml
  packages/ibm_qradar/data_stream/offense/fields/fields.yml
  packages/ibm_qradar/data_stream/offense/fields/is-transform-source-true.yml
  packages/ibm_qradar/data_stream/offense/manifest.yml
  packages/ibm_qradar/data_stream/offense/sample_event.json
  packages/ibm_qradar/docs/README.md
  packages/ibm_qradar/elasticsearch/transform/latest_offense/fields/base-fields.yml
  packages/ibm_qradar/elasticsearch/transform/latest_offense/fields/beats.yml
  packages/ibm_qradar/elasticsearch/transform/latest_offense/fields/ecs.yml
  packages/ibm_qradar/elasticsearch/transform/latest_offense/fields/fields.yml
  packages/ibm_qradar/elasticsearch/transform/latest_offense/fields/is-transform-source-false.yml
  packages/ibm_qradar/elasticsearch/transform/latest_offense/manifest.yml
  packages/ibm_qradar/elasticsearch/transform/latest_offense/transform.yml
  packages/ibm_qradar/img/ibm_qradar-logo.svg
  packages/ibm_qradar/img/ibm_qradar-offense.png
  packages/ibm_qradar/kibana/dashboard/ibm_qradar-f8f1ddd1-3d71-4833-a10e-87d4119aac56.json
  packages/ibm_qradar/kibana/search/ibm_qradar-21073f01-84bf-4ba8-a8fd-855a660b1ba8.json
  packages/ibm_qradar/manifest.yml
  packages/ibm_qradar/validation.yml
Labels: documentation, dashboard, New Integration

#14836 [Netskope] Add multiple system tests for Transaction data stream
  packages/netskope/data_stream/transaction/_dev/deploy/docker/docker-compose.yml
  packages/netskope/data_stream/transaction/_dev/deploy/docker/files/manifest.yml
  packages/netskope/data_stream/transaction/_dev/deploy/docker/gcs-mock-service/go.mod
  packages/netskope/data_stream/transaction/_dev/deploy/docker/gcs-mock-service/go.sum
  packages/netskope/data_stream/transaction/_dev/deploy/docker/gcs-mock-service/main.go
  packages/netskope/data_stream/transaction/_dev/deploy/docker/sample_logs/trxn.csv.gz
  packages/netskope/data_stream/transaction/_dev/deploy/tf/main.tf
  packages/netskope/data_stream/transaction/_dev/deploy/tf/variables.tf
  packages/netskope/data_stream/transaction/_dev/test/system/test-aws-s3-config.yml
  packages/netskope/data_stream/transaction/_dev/test/system/test-azure-config.yml
  packages/netskope/data_stream/transaction/_dev/test/system/test-gcs-config.yml
  packages/netskope/data_stream/transaction/agent/stream/gcs.yml.hbs
  packages/netskope/data_stream/transaction/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/transaction/fields/beats.yml
  packages/netskope/data_stream/transaction/manifest.yml
  packages/netskope/data_stream/transaction/sample_event.json
  packages/netskope/docs/README.md
Labels: documentation, enhancement, Integration:netskope, Team:Security-Service Integrations, Team:Sit-Crest

#15595 [azure_functions] Parse stringified 'properties' field in Azure Functions app logs
  packages/azure_functions/changelog.yml
  packages/azure_functions/data_stream/functionapplogs/_dev/test/pipeline/test-azure-functions-invalid-json.log
  packages/azure_functions/data_stream/functionapplogs/_dev/test/pipeline/test-azure-functions-invalid-json.log-expected.json
  packages/azure_functions/data_stream/functionapplogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_functions/data_stream/functionapplogs/fields/fields.yml
  packages/azure_functions/docs/README.md
  packages/azure_functions/manifest.yml
Labels: documentation, Team:Obs-InfraObs, bugfix, Integration:azure_functions

#15475 Add `opentelemetry` category to OTEL integrations
  packages/apache_otel/changelog.yml
  packages/apache_otel/manifest.yml
  packages/iis_otel/changelog.yml
  packages/iis_otel/manifest.yml
  packages/mysql_otel/changelog.yml
  packages/mysql_otel/manifest.yml
  packages/nginx_ingress_controller_otel/changelog.yml
  packages/nginx_ingress_controller_otel/manifest.yml
  packages/nginx_otel/changelog.yml
  packages/nginx_otel/manifest.yml
  packages/postgresql_otel/changelog.yml
  packages/postgresql_otel/manifest.yml
Labels: Team:Obs-InfraObs, Team:obs-ds-hosted-services, Integration:nginx_ingress_controller_otel, Integration:nginx_otel, Integration:apache_otel, Integration:mysql_otel, Integration:iis_otel, Integration:postgresql_otel
