Repository elastic/integrations, pull requests merged in 2025-09, with the labels that each got.

#15049 crowdstrike: migrate to combined vulnerabilities endpoint
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/_dev/deploy/docker/files/config-vulnerability.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/crowdstrike/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/crowdstrike/data_stream/vulnerability/_dev/test/policy/test-default.expected
  packages/crowdstrike/data_stream/vulnerability/_dev/test/policy/test-traced.expected
  packages/crowdstrike/data_stream/vulnerability/_dev/test/system/test-common-config.yml
  packages/crowdstrike/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/vulnerability/fields/fields.yml
  packages/crowdstrike/data_stream/vulnerability/manifest.yml
  packages/crowdstrike/data_stream/vulnerability/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: documentation, enhancement, Integration:crowdstrike, Team:Security-Service Integrations, Team:Sit-Crest

#15051 ti_abusech: Add system benchmarks
  packages/ti_abusech/_dev/benchmark/system/deploy/docker/docker-compose.yml
  packages/ti_abusech/_dev/benchmark/system/deploy/docker/files/config.yml
  packages/ti_abusech/_dev/benchmark/system/ja3fingerprints-benchmark.yml
  packages/ti_abusech/_dev/benchmark/system/ja3fingerprints-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/system/ja3fingerprints-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/system/ja3fingerprints-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/system/malware-benchmark.yml
  packages/ti_abusech/_dev/benchmark/system/malware-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/system/malware-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/system/malware-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/system/malwarebazaar-benchmark.yml
  packages/ti_abusech/_dev/benchmark/system/malwarebazaar-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/system/malwarebazaar-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/system/malwarebazaar-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/system/sslblacklist-benchmark.yml
  packages/ti_abusech/_dev/benchmark/system/sslblacklist-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/system/sslblacklist-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/system/sslblacklist-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/system/threatfox-benchmark.yml
  packages/ti_abusech/_dev/benchmark/system/threatfox-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/system/threatfox-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/system/threatfox-benchmark/template.ndjson
Labels: Integration:ti_abusech, Category: Integration quality, Team:Security-Service Integrations

#15121 [Security Rules] Update security rules package to v8.19.6
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#15120 [Security Rules] Update security rules package to v8.18.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#15048 [imperva_cloud_waf] Add System Test for CEL Input
  packages/imperva_cloud_waf/_dev/deploy/docker/docker-compose.yml
  packages/imperva_cloud_waf/_dev/deploy/docker/files/config.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/system/test-cel-config.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/system/test-default-config.yml
  packages/imperva_cloud_waf/data_stream/event/sample_event.json
  packages/imperva_cloud_waf/docs/README.md
Labels: documentation, enhancement, Team:Security-Service Integrations, Integration:imperva_cloud_waf, Team:Sit-Crest

#15129 ti_opencti: Add script processor to drop all nulls / empty strings.
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-x509-certificate.json
  packages/ti_opencti/data_stream/indicator/_dev/test/pipeline/test-x509-certificate.json-expected.json
  packages/ti_opencti/data_stream/indicator/elasticsearch/ingest_pipeline/default.yml
  packages/ti_opencti/manifest.yml
Labels: enhancement, Integration:ti_opencti, Team:Security-Service Integrations

#14841 [backport 1.13] [Cloud Security] Cast GCP and azure project/client IDs as strings
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture, bugfix, backport

#15030 sentinel_one: add pipeline and rally benchmarks (part 1)
  packages/sentinel_one/_dev/benchmark/rally/activity-benchmark.yml
  packages/sentinel_one/_dev/benchmark/rally/activity-benchmark/config.yml
  packages/sentinel_one/_dev/benchmark/rally/activity-benchmark/fields.yml
  packages/sentinel_one/_dev/benchmark/rally/activity-benchmark/template.ndjson
  packages/sentinel_one/_dev/benchmark/rally/agent-benchmark.yml
  packages/sentinel_one/_dev/benchmark/rally/agent-benchmark/config.yml
  packages/sentinel_one/_dev/benchmark/rally/agent-benchmark/fields.yml
  packages/sentinel_one/_dev/benchmark/rally/agent-benchmark/template.ndjson
  packages/sentinel_one/_dev/benchmark/rally/alert-benchmark.yml
  packages/sentinel_one/_dev/benchmark/rally/alert-benchmark/config.yml
  packages/sentinel_one/_dev/benchmark/rally/alert-benchmark/fields.yml
  packages/sentinel_one/_dev/benchmark/rally/alert-benchmark/template.ndjson
  packages/sentinel_one/data_stream/activity/_dev/benchmark/pipeline/activity-sample.log
  packages/sentinel_one/data_stream/activity/_dev/benchmark/pipeline/config.yml
  packages/sentinel_one/data_stream/agent/_dev/benchmark/pipeline/agent-sample.log
  packages/sentinel_one/data_stream/agent/_dev/benchmark/pipeline/config.yml
  packages/sentinel_one/data_stream/alert/_dev/benchmark/pipeline/alert-sample.log
  packages/sentinel_one/data_stream/alert/_dev/benchmark/pipeline/config.yml
  packages/sentinel_one/data_stream/application/_dev/benchmark/pipeline/application-sample.log
  packages/sentinel_one/data_stream/application/_dev/benchmark/pipeline/config.yml
  packages/sentinel_one/data_stream/group/_dev/benchmark/pipeline/config.yml
  packages/sentinel_one/data_stream/group/_dev/benchmark/pipeline/group-sample.log
  packages/sentinel_one/data_stream/threat/_dev/benchmark/pipeline/config.yml
  packages/sentinel_one/data_stream/threat/_dev/benchmark/pipeline/threat-sample.log
Labels: Integration:sentinel_one, Category: Integration quality, Team:Security-Service Integrations, Team:Sit-Crest

#15165 [DGA] Correct Readme typo
  packages/dga/changelog.yml
  packages/dga/docs/README.md
  packages/dga/manifest.yml
Labels: bug, documentation, Integration:dga, Team:Security-Applied ML

#14938 Replace Markdown Navigation with Links Panel
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/kibana/dashboard/cisco_ise-44afda90-3991-11ed-bb16-3b8b6259e7b8.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-506e8200-39a5-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-6b611af0-39a0-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-a42bdb60-39a8-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-db12cdf0-3a2f-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-e0ca7fa0-398e-11ed-bb16-3b8b6259e7b8.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-e2146a20-39a1-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/dashboard/cisco_ise-fcb9bc40-3a32-11ed-a2b2-1d4b9d412e28.json
  packages/cisco_ise/kibana/search/cisco_ise-2c7c0eb0-a505-11ec-ab9d-4b8e737a22d9.json
  packages/cisco_ise/kibana/search/cisco_ise-39e47010-a09b-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-47c77dc0-a065-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-5f739b70-a0a6-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-ac5b9ba0-a02d-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-d1ba7b80-a075-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-eecf4510-a058-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/search/cisco_ise-f681d1f0-a09f-11ec-a0a2-1598702abf83.json
  packages/cisco_ise/kibana/tag/cisco_ise-security-solution-default.json
  packages/cisco_ise/manifest.yml
  packages/fortinet_fortimail/changelog.yml
  packages/fortinet_fortimail/kibana/dashboard/fortinet_fortimail-8adfeca0-a942-11ed-8ba6-130117898d4a.json
  packages/fortinet_fortimail/kibana/dashboard/fortinet_fortimail-c4b7f4d0-a93e-11ed-8ba6-130117898d4a.json
  packages/fortinet_fortimail/kibana/dashboard/fortinet_fortimail-d5803cc0-a937-11ed-8ba6-130117898d4a.json
  packages/fortinet_fortimail/kibana/dashboard/fortinet_fortimail-f352d950-a870-11ed-8ba6-130117898d4a.json
  packages/fortinet_fortimail/kibana/tag/fortinet_fortimail-security-solution-default.json
  packages/fortinet_fortimail/manifest.yml
  packages/imperva/changelog.yml
  packages/imperva/kibana/dashboard/imperva-7579f360-69a9-11ee-a2d3-91cb43f7ca23.json
  packages/imperva/manifest.yml
  packages/osquery/changelog.yml
  packages/osquery/kibana/dashboard/osquery-69f5ae20-eb02-11e7-8f04-51231daa5b05.json
  packages/osquery/kibana/dashboard/osquery-c0a7ce90-f4aa-11e7-8647-534bb4c21040.json
  packages/osquery/kibana/search/osquery-0fe5dc00-f49b-11e7-8647-534bb4c21040.json
  packages/osquery/kibana/search/osquery-3824b080-eb02-11e7-8f04-51231daa5b05.json
  packages/osquery/kibana/search/osquery-7a9482d0-eb00-11e7-8f04-51231daa5b05.json
  packages/osquery/kibana/tag/osquery-security-solution-default.json
  packages/osquery/manifest.yml
Labels: enhancement, dashboard, Integration:imperva, Integration:cisco_ise, Integration:fortinet_fortimail, Integration:osquery, Team:Integration-Experience

#15203 docs: add FAQ section for Azure Logs integration v2 preview
  packages/azure/_dev/build/docs/events.md
  packages/azure/changelog.yml
  packages/azure/docs/events.md
  packages/azure/manifest.yml
Labels: documentation, Integration:azure, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#15167 [amazon_security_lake] Parse JSON in `ocsf.resources.data`, `ocsf.unmapped`
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-findings.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-iam.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-resources-data.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-resources-data.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-unmapped.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-unmapped.log-expected.json
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_resources_data_json.yml
  packages/amazon_security_lake/manifest.yml
Labels: bugfix, Integration:amazon_security_lake, Team:Security-Service Integrations

#15101 Add warning note in RabbitMQ package readme about possible discrepancy after RabbitMQ upgrade
  packages/rabbitmq/_dev/build/docs/README.md
  packages/rabbitmq/changelog.yml
  packages/rabbitmq/docs/README.md
  packages/rabbitmq/manifest.yml
Labels: documentation, enhancement, Integration:rabbitmq, Team:Obs-InfraObs

#15095 [Github] Add links panel widget in dashboards
  packages/github/changelog.yml
  packages/github/img/github-advance_security-dashboard.png
  packages/github/img/github-audit-dashboard.png
  packages/github/img/github-code_scanning-dashboard.png
  packages/github/img/github-dependabot-dashboard.png
  packages/github/img/github-issues-dashboard.png
  packages/github/img/github-secret_scanning-dashboard.png
  packages/github/img/github-security_advisories-dashboard.png
  packages/github/img/github-user-dashboard.png
  packages/github/kibana/dashboard/github-4da91aa0-12fc-11ed-af77-016e1a977d80.json
  packages/github/kibana/dashboard/github-591d69e0-17b6-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-6197be80-220c-11ed-88c4-e3caca48250a.json
  packages/github/kibana/dashboard/github-6a6d7c40-17ab-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-8bfd8310-205c-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/dashboard/github-dcee84c0-2059-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/dashboard/github-e6726e8d-0a94-4917-978a-b5a762b39ee5.json
  packages/github/kibana/dashboard/github-f0104680-ae18-11ed-83fa-df5d96a45724.json
  packages/github/kibana/search/github-173f1050-20ae-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/search/github-8c37be30-872a-46e9-b530-73f0f2e8f5c0.json
  packages/github/manifest.yml
Labels: enhancement, dashboard, Integration:github, Team:Security-Service Integrations, Team:Sit-Crest

#15242 [cisco_asa] Support special chars in interface name for 315011 log messages
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix

#15142 Use journald input by default when running system integration for Debian 13
  packages/system/changelog.yml
  packages/system/manifest.yml
Labels: enhancement, Integration:system, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs, Team:Security-Linux Platform

#15234 [Cloud Asset Inventory] Azure cloud_connectors_federated_identity type
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#15162 [island_browser][device] Add island_browser device datastream
  .github/CODEOWNERS
  packages/island_browser/_dev/build/build.yml
  packages/island_browser/_dev/build/docs/README.md
  packages/island_browser/_dev/deploy/docker/docker-compose.yml
  packages/island_browser/_dev/deploy/docker/files/config.yml
  packages/island_browser/changelog.yml
  packages/island_browser/data_stream/device/_dev/test/pipeline/test-common-config.yml
  packages/island_browser/data_stream/device/_dev/test/pipeline/test-device.log
  packages/island_browser/data_stream/device/_dev/test/pipeline/test-device.log-expected.json
  packages/island_browser/data_stream/device/_dev/test/system/test-default-config.yml
  packages/island_browser/data_stream/device/agent/stream/cel.yml.hbs
  packages/island_browser/data_stream/device/elasticsearch/ilm/default_policy.json
  packages/island_browser/data_stream/device/elasticsearch/ingest_pipeline/default.yml
  packages/island_browser/data_stream/device/fields/base-fields.yml
  packages/island_browser/data_stream/device/fields/beats.yml
  packages/island_browser/data_stream/device/fields/ecs.yml
  packages/island_browser/data_stream/device/fields/fields.yml
  packages/island_browser/data_stream/device/fields/is-transform-source-true.yml
  packages/island_browser/data_stream/device/lifecycle.yml
  packages/island_browser/data_stream/device/manifest.yml
  packages/island_browser/data_stream/device/sample_event.json
  packages/island_browser/docs/README.md
  packages/island_browser/elasticsearch/transform/latest_device/fields/base-fields.yml
  packages/island_browser/elasticsearch/transform/latest_device/fields/beats.yml
  packages/island_browser/elasticsearch/transform/latest_device/fields/ecs.yml
  packages/island_browser/elasticsearch/transform/latest_device/fields/fields.yml
  packages/island_browser/elasticsearch/transform/latest_device/fields/is-transform-source-false.yml
  packages/island_browser/elasticsearch/transform/latest_device/manifest.yml
  packages/island_browser/elasticsearch/transform/latest_device/transform.yml
  packages/island_browser/img/island-browser-device-dashboard.png
  packages/island_browser/img/island-browser-logo.svg
  packages/island_browser/kibana/dashboard/island_browser-86a8fe6b-5da7-4584-a376-ac52a9d4d7a2.json
  packages/island_browser/kibana/search/island_browser-84eb0548-660b-42af-9af1-a762aaa6bb84.json
  packages/island_browser/manifest.yml
  packages/island_browser/validation.yml
Labels: documentation, dashboard, New Integration, Crest, Team:Security-Service Integrations, Integration:island_browser

#15226 [microsoft_defender_endpoint, m365_defender] extract process.name from process.command_line
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: documentation, Integration:microsoft_defender_endpoint, Integration:m365_defender, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#15250 sentinel_one: add rally benchmark (part 2)
  packages/sentinel_one/_dev/benchmark/rally/application-benchmark.yml
  packages/sentinel_one/_dev/benchmark/rally/application-benchmark/config.yml
  packages/sentinel_one/_dev/benchmark/rally/application-benchmark/fields.yml
  packages/sentinel_one/_dev/benchmark/rally/application-benchmark/template.ndjson
  packages/sentinel_one/_dev/benchmark/rally/group-benchmark.yml
  packages/sentinel_one/_dev/benchmark/rally/group-benchmark/config.yml
  packages/sentinel_one/_dev/benchmark/rally/group-benchmark/fields.yml
  packages/sentinel_one/_dev/benchmark/rally/group-benchmark/template.ndjson
  packages/sentinel_one/_dev/benchmark/rally/threat-benchmark.yml
  packages/sentinel_one/_dev/benchmark/rally/threat-benchmark/config.yml
  packages/sentinel_one/_dev/benchmark/rally/threat-benchmark/fields.yml
  packages/sentinel_one/_dev/benchmark/rally/threat-benchmark/template.ndjson
Labels: Integration:sentinel_one, Category: Integration quality, Team:Security-Service Integrations, Team:Sit-Crest

#15297 cel: add support for global header configuration
  packages/cel/_dev/deploy/docker/files/config.yml
  packages/cel/_dev/test/policy/test-auth-and-headers.expected
  packages/cel/_dev/test/policy/test-auth-and-headers.yml
  packages/cel/_dev/test/policy/test-default.expected
  packages/cel/_dev/test/policy/test-default.yml
  packages/cel/_dev/test/policy/test-headers.expected
  packages/cel/_dev/test/policy/test-headers.yml
  packages/cel/_dev/test/system/test-basic-auth-config.yml
  packages/cel/_dev/test/system/test-get-config.yml
  packages/cel/_dev/test/system/test-oauth-config.yml
  packages/cel/_dev/test/system/test-oauth-scope-config.yml
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Integration:cel, Team:Security-Service Integrations

#15311 jamf_protect: fix handling of tags in alerts data stream
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-common-config.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_protect

#15307 feat!(beyondinsight_password_safe): standardize pipelines, disable dynamic mappings
  packages/beyondinsight_password_safe/_dev/build/build.yml
  packages/beyondinsight_password_safe/_dev/deploy/docker/docker-compose.yml
  packages/beyondinsight_password_safe/_dev/deploy/docker/files/config.yml
  packages/beyondinsight_password_safe/changelog.yml
  packages/beyondinsight_password_safe/data_stream/asset/_dev/test/pipeline/test-asset.json-expected.json
  packages/beyondinsight_password_safe/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/beyondinsight_password_safe/data_stream/asset/fields/base-fields.yml
  packages/beyondinsight_password_safe/data_stream/asset/fields/fields.yml
  packages/beyondinsight_password_safe/data_stream/asset/sample_event.json
  packages/beyondinsight_password_safe/data_stream/managedaccount/_dev/test/pipeline/test-managedaccount.json-expected.json
  packages/beyondinsight_password_safe/data_stream/managedaccount/elasticsearch/ingest_pipeline/default.yml
  packages/beyondinsight_password_safe/data_stream/managedaccount/fields/base-fields.yml
  packages/beyondinsight_password_safe/data_stream/managedaccount/fields/fields.yml
  packages/beyondinsight_password_safe/data_stream/managedaccount/sample_event.json
  packages/beyondinsight_password_safe/data_stream/managedsystem/_dev/test/pipeline/test-managedsystem-nullable.json-expected.json
  packages/beyondinsight_password_safe/data_stream/managedsystem/_dev/test/pipeline/test-managedsystem.json-expected.json
  packages/beyondinsight_password_safe/data_stream/managedsystem/elasticsearch/ingest_pipeline/default.yml
  packages/beyondinsight_password_safe/data_stream/managedsystem/fields/base-fields.yml
  packages/beyondinsight_password_safe/data_stream/managedsystem/fields/fields.yml
  packages/beyondinsight_password_safe/data_stream/managedsystem/sample_event.json
  packages/beyondinsight_password_safe/data_stream/session/_dev/test/pipeline/test-session-nullable.json-expected.json
  packages/beyondinsight_password_safe/data_stream/session/_dev/test/pipeline/test-session.json-expected.json
  packages/beyondinsight_password_safe/data_stream/session/elasticsearch/ingest_pipeline/default.yml
  packages/beyondinsight_password_safe/data_stream/session/fields/base-fields.yml
  packages/beyondinsight_password_safe/data_stream/session/fields/fields.yml
  packages/beyondinsight_password_safe/data_stream/session/sample_event.json
  packages/beyondinsight_password_safe/data_stream/useraudit/_dev/test/pipeline/test-useraudits.json-expected.json
  packages/beyondinsight_password_safe/data_stream/useraudit/elasticsearch/ingest_pipeline/default.yml
  packages/beyondinsight_password_safe/data_stream/useraudit/fields/base-fields.yml
  packages/beyondinsight_password_safe/data_stream/useraudit/fields/fields.yml
  packages/beyondinsight_password_safe/data_stream/useraudit/sample_event.json
  packages/beyondinsight_password_safe/docs/README.md
  packages/beyondinsight_password_safe/manifest.yml
Labels: documentation, enhancement, breaking change, Team:Security-Service Integrations, Integration:beyondinsight_password_safe

#15301 swimlane: fix docker deployer for filestream input
  packages/swimlane/_dev/deploy/docker/docker-compose.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Team:Sit-Crest, Integration:swimlane

#15205 fix(azure logs) interim fix to support non-standard log events
  packages/azure/changelog.yml
  packages/azure/data_stream/events/_dev/test/pipeline/test-activitylogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-application-gateway-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-auditlogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-firewall-logs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-graphactivitylogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-identity-protection-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-invalid-category-field-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-invalid-categoryvalue.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-invalid-categoryvalue.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-provisioning-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-signinlogs-raw.log
  packages/azure/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-invalid-time.log
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-invalid-time.log-expected.json
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:azure, Team:Obs-InfraObs, bugfix, Team:obs-ds-hosted-services

#15309 feat: improve s3 access log parsing along with documentation updates
  packages/awsfirehose/_dev/build/docs/README.md
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-s3access-log.json
  packages/awsfirehose/data_stream/logs/_dev/test/pipeline/test-s3access-log.json-expected.json
  packages/awsfirehose/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/awsfirehose/docs/README.md
  packages/awsfirehose/img/firehose_settings.png
  packages/awsfirehose/manifest.yml
Labels: documentation, enhancement, Integration:awsfirehose, Team:obs-ds-hosted-services

#15239 snyk: fix parameter handling and allow issue update ingestion
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/issues/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/issues/manifest.yml
  packages/snyk/manifest.yml
Labels: enhancement, breaking change, Integration:snyk, bugfix, Team:Security-Service Integrations

#15008 Update osquery codeowner
  .github/CODEOWNERS
  packages/osquery/manifest.yml
Labels: Integration:osquery, Team:Integration-Experience

#15325 o365: tolerate changed API next page URI behaviour
  packages/o365/_dev/deploy/docker/config.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, bugfix, Team:Security-Service Integrations

#15099 Kafka consumer producer
  packages/kafka/_dev/build/docs/README.md
  packages/kafka/changelog.yml
  packages/kafka/data_stream/consumer/agent/stream/stream.yml.hbs
  packages/kafka/data_stream/consumer/elasticsearch/ingest_pipeline/default.yml
  packages/kafka/data_stream/consumer/fields/agent.yml
  packages/kafka/data_stream/consumer/fields/base-fields.yml
  packages/kafka/data_stream/consumer/fields/ecs.yml
  packages/kafka/data_stream/consumer/fields/fields.yml
  packages/kafka/data_stream/consumer/fields/package-fields.yml
  packages/kafka/data_stream/consumer/manifest.yml
  packages/kafka/data_stream/consumer/sample_event.json
  packages/kafka/data_stream/producer/agent/stream/stream.yml.hbs
  packages/kafka/data_stream/producer/elasticsearch/ingest_pipeline/default.yml
  packages/kafka/data_stream/producer/fields/agent.yml
  packages/kafka/data_stream/producer/fields/base-fields.yml
  packages/kafka/data_stream/producer/fields/ecs.yml
  packages/kafka/data_stream/producer/fields/fields.yml
  packages/kafka/data_stream/producer/fields/package-fields.yml
  packages/kafka/data_stream/producer/manifest.yml
  packages/kafka/data_stream/producer/sample_event.json
  packages/kafka/docs/README.md
  packages/kafka/manifest.yml
Labels: documentation, enhancement, Integration:kafka, Team:Obs-InfraObs

#15306 [sysdig] Fix the OOM kill issue for vulnerability data stream by dropping a object
  packages/sysdig/changelog.yml
  packages/sysdig/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/sysdig/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/sysdig/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/sysdig/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/sysdig/data_stream/vulnerability/manifest.yml
  packages/sysdig/data_stream/vulnerability/sample_event.json
  packages/sysdig/docs/README.md
  packages/sysdig/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Team:Security-External Integrations, Integration:sysdig, Team:Sit-Crest

#15323 [Cloud Security] update wiz ingest pipeline to set vulnerability.title field
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/wiz/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/vulnerability/fields/fields.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/wiz/manifest.yml
Labels: documentation, enhancement, Integration:wiz, Team:Security-Service Integrations

#15296 Add data retention for elastic agent status_change_logs data stream
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/status_change_logs/elasticsearch/ilm/default_policy.json
  packages/elastic_agent/data_stream/status_change_logs/lifecycle.yml
  packages/elastic_agent/data_stream/status_change_logs/manifest.yml
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent, Integration:elastic_agent

#15355 fix(system tests): disable webhook probe for http_endpoint inputs
  packages/auth0/_dev/deploy/docker/docker-compose.yml
  packages/bbot/_dev/deploy/docker/docker-compose.yml
  packages/beelzebub/_dev/deploy/docker/docker-compose.yml
  packages/bitdefender/_dev/deploy/docker/docker-compose.yml
  packages/carbonblack_edr/_dev/deploy/docker/docker-compose.yml
  packages/cisco_meraki/_dev/deploy/docker/docker-compose.yml
  packages/cloudflare_logpush/_dev/deploy/docker/docker-compose.yml
  packages/f5_bigip/_dev/deploy/docker/docker-compose.yml
  packages/gigamon/_dev/deploy/docker/docker-compose.yml
  packages/http_endpoint/_dev/deploy/docker/docker-compose.yml
  packages/jamf_compliance_reporter/_dev/deploy/docker/docker-compose.yml
  packages/jamf_pro/_dev/deploy/docker/docker-compose.yml
  packages/jamf_protect/_dev/deploy/docker/docker-compose.yml
  packages/opencanary/_dev/deploy/docker/docker-compose.yml
  packages/ping_one/_dev/deploy/docker/docker-compose.yml
  packages/sysdig/_dev/deploy/docker/docker-compose.yml
  packages/tanium/_dev/deploy/docker/docker-compose.yml
  packages/ti_anomali/_dev/deploy/docker/docker-compose.yml
  packages/wiz/_dev/deploy/docker/docker-compose.yml
  packages/zoom/_dev/deploy/docker/docker-compose.yml
  packages/zscaler_zia/_dev/deploy/docker/docker-compose.yml
Labels: Integration:zoom, flaky-test, Integration:zscaler_zia, Integration:auth0, Integration:cisco_meraki, Integration:carbonblack_edr, Integration:jamf_compliance_reporter, Integration:tanium, Integration:ti_anomali, Integration:cloudflare_logpush, bugfix, Integration:f5_bigip, Integration:bitdefender, Integration:http_endpoint, Integration:wiz, Integration:ping_one, Team:Security-Service Integrations, Integration:jamf_protect, Integration:opencanary, Integration:bbot, Integration:gigamon, Integration:jamf_pro, Integration:sysdig, Integration:beelzebub

#15141 [checkpoint_email] Populate additional ECS fields for the event types phishing, spam, and malicious_url
  packages/checkpoint_email/changelog.yml
  packages/checkpoint_email/data_stream/event/_dev/test/pipeline/test-event.log
  packages/checkpoint_email/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/checkpoint_email/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint_email/data_stream/event/fields/fields.yml
  packages/checkpoint_email/data_stream/event/sample_event.json
  packages/checkpoint_email/docs/README.md
  packages/checkpoint_email/manifest.yml
Labels: documentation, enhancement, Team:Security-Service Integrations, mapping/pipeline issue, Integration:checkpoint_email, Team:Sit-Crest

#15326 [Cloud Security] Add elastic connector id to azure
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture, Integration:cloud_asset_inventory

#15373 fix(auth0): use elastic/stream v0.20.0
  packages/auth0/_dev/deploy/docker/docker-compose.yml
Labels: Integration:auth0, Team:Security-Service Integrations

#15318 [ti_greynoise] Add GreyNoise detection rule filter note and integration update section
  packages/ti_greynoise/_dev/build/docs/README.md
  packages/ti_greynoise/changelog.yml
  packages/ti_greynoise/docs/README.md
  packages/ti_greynoise/elasticsearch/transform/ip/transform.yml
  packages/ti_greynoise/elasticsearch/transform/rule/transform.yml
  packages/ti_greynoise/manifest.yml
Labels: documentation, Crest, Team:Security-Service Integrations, Integration:ti_greynoise

#15360 jamf_protect: respect preserve_original_event in alerts
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.json
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.json-expected.json
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/alerts/agent/stream/http_endpoint.yml.hbs
  packages/jamf_protect/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_protect

#15336 abnormal_ai: fix precision of abx_message_id field
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/ai_security_mailbox/sample_event.json
  packages/abnormal_security/data_stream/ai_security_mailbox_not_analyzed/agent/stream/cel.yml.hbs
  packages/abnormal_security/data_stream/ai_security_mailbox_not_analyzed/sample_event.json
  packages/abnormal_security/data_stream/audit/sample_event.json
  packages/abnormal_security/data_stream/case/sample_event.json
  packages/abnormal_security/data_stream/threat/sample_event.json
  packages/abnormal_security/data_stream/vendor_case/sample_event.json
  packages/abnormal_security/docs/README.md
  packages/abnormal_security/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:abnormal_security

#15387 [Security Rules] Update security rules package to v8.19.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#15388 [Security Rules] Update security rules package to v9.0.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#15380 o365: fix handling of error conditions when requesting work continuation
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#14907 [sysdig] Add support for cspm datastream
  packages/sysdig/_dev/build/docs/README.md
  packages/sysdig/_dev/deploy/docker/files/config.yml
  packages/sysdig/changelog.yml
  packages/sysdig/data_stream/alerts/sample_event.json
  packages/sysdig/data_stream/cspm/_dev/test/pipeline/test-common-config.yml
  packages/sysdig/data_stream/cspm/_dev/test/pipeline/test-cspm.log
  packages/sysdig/data_stream/cspm/_dev/test/pipeline/test-cspm.log-expected.json
  packages/sysdig/data_stream/cspm/_dev/test/system/test-default-config.yml
  packages/sysdig/data_stream/cspm/agent/stream/cel.yml.hbs
  packages/sysdig/data_stream/cspm/elasticsearch/ingest_pipeline/default.yml
  packages/sysdig/data_stream/cspm/fields/base-fields.yml
  packages/sysdig/data_stream/cspm/fields/beats.yml
  packages/sysdig/data_stream/cspm/fields/ecs.yml
  packages/sysdig/data_stream/cspm/fields/fields.yml
  packages/sysdig/data_stream/cspm/fields/result.yml
  packages/sysdig/data_stream/cspm/fields/rule.yml
  packages/sysdig/data_stream/cspm/manifest.yml
  packages/sysdig/data_stream/cspm/sample_event.json
  packages/sysdig/data_stream/event/sample_event.json
  packages/sysdig/docs/README.md
  packages/sysdig/img/sysdig-cspm-screenshot.png
  packages/sysdig/img/sysdig-events-screenshot.png
  packages/sysdig/img/sysdig-security-events-screenshot.png
  packages/sysdig/img/sysdig-vulnerability-screenshot.png
  packages/sysdig/kibana/dashboard/sysdig-3bf1d068-5f08-4824-9b30-72977a718b16.json
  packages/sysdig/kibana/dashboard/sysdig-91e1e6ee-c169-4860-9fec-bce5cd05b185.json
  packages/sysdig/kibana/dashboard/sysdig-d0ac6062-d4da-4f63-948d-4aea617909bf.json
  packages/sysdig/kibana/dashboard/sysdig-fae0ccf1-e806-4876-a7fa-7258b094b15b.json
  packages/sysdig/manifest.yml
Labels: documentation, enhancement, dashboard, Team:Security-Service Integrations, Integration:sysdig, Team:Sit-Crest

#15303 [Github] - Added support for gcs and azure-blob-storage inputs for github audit data stream
  packages/github/_dev/build/docs/README.md
  packages/github/_dev/deploy/docker/docker-compose.yml
  packages/github/_dev/deploy/docker/files/config.yml
  packages/github/_dev/deploy/docker/files/manifest.yml
  packages/github/_dev/deploy/docker/gcs-mock-service/go.mod
  packages/github/_dev/deploy/docker/gcs-mock-service/go.sum
  packages/github/_dev/deploy/docker/gcs-mock-service/main.go
  packages/github/_dev/deploy/docker/sample_logs/cloud-storage-data.log
  packages/github/changelog.yml
  packages/github/data_stream/audit/_dev/test/policy/test-abs.expected
  packages/github/data_stream/audit/_dev/test/policy/test-abs.yml
  packages/github/data_stream/audit/_dev/test/policy/test-gcs.expected
  packages/github/data_stream/audit/_dev/test/policy/test-gcs.yml
  packages/github/data_stream/audit/_dev/test/system/test-abs-config.yml
  packages/github/data_stream/audit/_dev/test/system/test-gcs-config.yml
  packages/github/data_stream/audit/agent/stream/abs.yml.hbs
  packages/github/data_stream/audit/agent/stream/gcs.yml.hbs
  packages/github/data_stream/audit/fields/beats.yml
  packages/github/data_stream/audit/manifest.yml
  packages/github/data_stream/dependabot/elasticsearch/ingest_pipeline/default.yml
  packages/github/data_stream/issues/manifest.yml
  packages/github/docs/README.md
  packages/github/elasticsearch/transform/latest_code_scanning/transform.yml
  packages/github/elasticsearch/transform/latest_dependabot/transform.yml
  packages/github/elasticsearch/transform/latest_issues/transform.yml
  packages/github/elasticsearch/transform/latest_secret_scanning/transform.yml
  packages/github/kibana/dashboard/github-4da91aa0-12fc-11ed-af77-016e1a977d80.json
  packages/github/kibana/dashboard/github-591d69e0-17b6-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-6197be80-220c-11ed-88c4-e3caca48250a.json
  packages/github/kibana/dashboard/github-6a6d7c40-17ab-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-f0104680-ae18-11ed-83fa-df5d96a45724.json
  packages/github/manifest.yml
Labels: documentation, enhancement, dashboard, Integration:github, Team:Security-Service Integrations

#15148 [Logstash integration] Add current and peak connections metrics of elastic-agent input plugin.
  packages/logstash/changelog.yml
  packages/logstash/data_stream/plugins/agent/stream/cel.yml.hbs
  packages/logstash/data_stream/plugins/fields/fields.yml
  packages/logstash/docs/README.md
  packages/logstash/kibana/dashboard/logstash-23d2c717-0fd1-4cb1-8d10-69c2fe669a63.json
  packages/logstash/manifest.yml
Labels: documentation, Integration:logstash, dashboard, >enhancement

#15392 m365_defender: ensure $skip parameter is correctly formatted
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/incident/agent/stream/httpjson.yml.hbs
  packages/m365_defender/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#15344 [ti_abusech] Add Support for New Dashboards and Update Deprecated Visualizations
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/img/abusech-domains.png
  packages/ti_abusech/img/abusech-files.png
  packages/ti_abusech/img/abusech-overview.png
  packages/ti_abusech/img/abusech-softwares.png
  packages/ti_abusech/img/abusech-urls.png
  packages/ti_abusech/kibana/dashboard/ti_abusech-2457fb50-3bc3-11ec-ae8c-7d00429ad420.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-68ac01ad-dddf-476c-9a54-8c33c1047e53.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-6a90c980-3b32-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-c0d8d1f0-3b20-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-d11a94be-9b9f-42f8-9fed-d5e89005f24d.json
  packages/ti_abusech/kibana/tag/ti_abusech-73511520-3b32-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/tag/ti_abusech-security-solution-default.json
  packages/ti_abusech/manifest.yml
Labels: enhancement, dashboard, Integration:ti_abusech, Category: Integration quality, Team:Security-Service Integrations, Team:Sit-Crest

#15364 [Tenable SC] Add agentless deployment
  packages/tenable_sc/_dev/build/docs/README.md
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/plugin/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_sc/docs/README.md
  packages/tenable_sc/manifest.yml
Labels: documentation, enhancement, Integration:tenable_sc, Team:Security-Service Integrations, Team:Sit-Crest

#15422 [cisco_asa][bugfix] allow empty access-group
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-106023-iface-with-prefix.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-106023-iface-with-prefix.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Integration-Experience

#15438 [proofpoint_tap] Add Agentless Deployment
  packages/proofpoint_tap/_dev/build/docs/README.md
  packages/proofpoint_tap/changelog.yml
  packages/proofpoint_tap/data_stream/clicks_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/clicks_permitted/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_blocked/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/data_stream/message_delivered/elasticsearch/ingest_pipeline/default.yml
  packages/proofpoint_tap/docs/README.md
  packages/proofpoint_tap/manifest.yml
Labels: documentation, enhancement, Integration:proofpoint_tap, Team:Security-Service Integrations, Team:Sit-Crest

#15453 [island_browser] Remove ILM Policy from user and device data streams
  packages/island_browser/_dev/build/docs/README.md
  packages/island_browser/changelog.yml
  packages/island_browser/data_stream/device/elasticsearch/ilm/default_policy.json
  packages/island_browser/data_stream/device/lifecycle.yml
  packages/island_browser/data_stream/device/manifest.yml
  packages/island_browser/data_stream/user/elasticsearch/ilm/default_policy.json
  packages/island_browser/data_stream/user/lifecycle.yml
  packages/island_browser/data_stream/user/manifest.yml
  packages/island_browser/docs/README.md
  packages/island_browser/manifest.yml
Labels: documentation, bugfix, Crest, Team:Security-Service Integrations, Integration:island_browser

#15342 crowdstrike: improve windows events mappings in FDR data stream
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-lengthy-field-delete.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-lengthy-field-index.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-linux.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-macos.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-windows.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-windows.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: documentation, enhancement, Integration:crowdstrike, Team:Security-Service Integrations, Team:Sit-Crest

#15445 o365: fix error propagation within cel program
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#15456 [syslog_router] Support Cisco IOS
  packages/syslog_router/changelog.yml
  packages/syslog_router/data_stream/log/manifest.yml
  packages/syslog_router/manifest.yml
Labels: enhancement, Integration:syslog_router, Team:Integration-Experience

#15460 Add Sandfly Security connector policy template
  packages/elastic_connectors/agent/input/sandfly.yml.hbs
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/img/service_type/sandfly.svg
  packages/elastic_connectors/manifest.yml
Labels: enhancement, Integration:elastic_connectors, Team:Search-Extract and Transform

#15471 microsoft_defender_endpoint: ensure $skip parameter is correctly formatted
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/microsoft_defender_endpoint/manifest.yml
Labels: Integration:microsoft_defender_endpoint, bugfix, Team:Security-Service Integrations

#15435 [GCP Vertex AI] Prompt response logs datastream
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/prompt_response_logs/agent/stream/stream.yml.hbs
  packages/gcp_vertexai/data_stream/prompt_response_logs/elasticsearch/ingest_pipeline/default.yml
  packages/gcp_vertexai/data_stream/prompt_response_logs/fields/base-fields.yml
  packages/gcp_vertexai/data_stream/prompt_response_logs/fields/fields.yml
  packages/gcp_vertexai/data_stream/prompt_response_logs/manifest.yml
  packages/gcp_vertexai/data_stream/prompt_response_logs/sample_event.json
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/manifest.yml
Labels: documentation, Team:Obs-InfraObs, Integration:gcp_vertexai

#15467 [microsoft_defender_endpoint] ensure `page_size` configuration is preserved in CEL evaluation responses
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/machine/agent/stream/cel.yml.hbs
  packages/microsoft_defender_endpoint/manifest.yml
Labels: Integration:microsoft_defender_endpoint, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#15476 o365: Fix 429 due to multiple subscription start attempts.
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#15089 Keeper Security - New Elastic Integration Package
  .github/CODEOWNERS
  packages/keeper_security_siem_integration/_dev/build/build.yml
  packages/keeper_security_siem_integration/_dev/build/docs/README.md
  packages/keeper_security_siem_integration/changelog.yml
  packages/keeper_security_siem_integration/data_stream/audit/_dev/test/pipeline/test-sample.json
  packages/keeper_security_siem_integration/data_stream/audit/_dev/test/pipeline/test-sample.json-expected.json
  packages/keeper_security_siem_integration/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/keeper_security_siem_integration/data_stream/audit/fields/base-fields.yml
  packages/keeper_security_siem_integration/data_stream/audit/fields/fields.yml
  packages/keeper_security_siem_integration/data_stream/audit/manifest.yml
  packages/keeper_security_siem_integration/data_stream/audit/sample_event.json
  packages/keeper_security_siem_integration/docs/README.md
  packages/keeper_security_siem_integration/img/keeper-dashboard.png
  packages/keeper_security_siem_integration/img/keeper-logo.svg
  packages/keeper_security_siem_integration/kibana/dashboard/keeper-b30d7c4b-4a88-4f70-8d7f-e93f5491b4ac.json
  packages/keeper_security_siem_integration/manifest.yml
Labels: documentation, dashboard, New Integration, Team:Security-Service Integrations

#15486 Fix broken JSON + indentation + added JSON tag
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/kibana/csp_rule_template/02da047f-bc78-5565-86a0-e121850f76c0.json
  packages/cloud_security_posture/kibana/csp_rule_template/1d6ff20d-4803-574b-80d2-e47031d9baa2.json
  packages/cloud_security_posture/kibana/csp_rule_template/c28e606d-f6a7-58b2-820f-e2fb702bf956.json
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture
