Repository elastic/integrations, pull requests merged in 2025-06, with the labels that each got.

#14082 ti_anomali: add missing event.ingested ECS field in transform
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/elasticsearch/transform/latest_intelligence/fields/ecs.yml
  packages/ti_anomali/elasticsearch/transform/latest_intelligence/transform.yml
  packages/ti_anomali/manifest.yml
Labels: Integration:ti_anomali, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#14099 cloudflare_logpush: fix handling Cloudflare's field renames
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/_dev/test/pipeline/test-pipeline-gateway-dns.log
  packages/cloudflare_logpush/data_stream/gateway_dns/_dev/test/pipeline/test-pipeline-gateway-dns.log-expected.json
  packages/cloudflare_logpush/data_stream/gateway_dns/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/network_analytics/_dev/test/pipeline/test-pipeline-network-analytics.log
  packages/cloudflare_logpush/data_stream/network_analytics/_dev/test/pipeline/test-pipeline-network-analytics.log-expected.json
  packages/cloudflare_logpush/data_stream/network_analytics/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations

#13802 [system][fsstat] Add support for `ignore_types`
  packages/system/changelog.yml
  packages/system/data_stream/fsstat/agent/stream/stream.yml.hbs
  packages/system/data_stream/fsstat/manifest.yml
  packages/system/manifest.yml
Labels: Integration:system, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs

#14100 netskope: set event.kind to alert for Netskope alerts
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/manifest.yml
Labels: enhancement, Integration:netskope, Team:Security-Service Integrations, Team:Sit-Crest

#14091 [panw_cortex_xdr] Improve rate limit configuration
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/agent/stream/cel.yml.hbs
  packages/panw_cortex_xdr/data_stream/alerts/agent/stream/httpjson.yml.hbs
  packages/panw_cortex_xdr/data_stream/incidents/agent/stream/httpjson.yml.hbs
  packages/panw_cortex_xdr/manifest.yml
Labels: enhancement, Integration:panw_cortex_xdr, Team:Security-Service Integrations

#14098 [Logstash] Change default log files name in log and slow logs datastream
  packages/logstash/changelog.yml
  packages/logstash/data_stream/log/manifest.yml
  packages/logstash/data_stream/slowlog/manifest.yml
  packages/logstash/manifest.yml
Labels: Integration:logstash, bugfix

#14115 [Security Rules] Update security rules package to v8.16.15
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14116 [Security Rules] Update security rules package to v8.17.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14118 [Security Rules] Update security rules package to v9.0.6
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14008 [Netskope] Change mapping of netskope.alerts.breach.date
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/alerts/fields/fields.yml
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: Integration:netskope, Team:Security-Service Integrations

#14087 [Asset Discovery] Add `entity.source` to asset discovery
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/entity.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#13783 Add enable_batch_api option in azure resource metrics
  packages/azure_metrics/_dev/build/docs/README.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/compute_vm/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/compute_vm_scaleset/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_instance/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_registry/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_service/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/database_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/monitor/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/storage_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/manifest.yml
Labels: Integration:azure_metrics, Team:obs-ds-hosted-services

#14093 beyondinsight_password_safe: standardize user name processing
  packages/beyondinsight_password_safe/changelog.yml
  packages/beyondinsight_password_safe/data_stream/useraudit/_dev/test/pipeline/test-useraudits.json-expected.json
  packages/beyondinsight_password_safe/data_stream/useraudit/elasticsearch/ingest_pipeline/default.yml
  packages/beyondinsight_password_safe/data_stream/useraudit/sample_event.json
  packages/beyondinsight_password_safe/docs/README.md
  packages/beyondinsight_password_safe/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:beyondinsight_password_safe

#14018 [azure metrics] Add latency config option
  packages/azure_metrics/_dev/build/docs/README.md
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/data_stream/compute_vm/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/compute_vm_scaleset/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_instance/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_registry/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/container_service/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/database_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/monitor/agent/stream/stream.yml.hbs
  packages/azure_metrics/data_stream/storage_account/agent/stream/stream.yml.hbs
  packages/azure_metrics/docs/README.md
  packages/azure_metrics/manifest.yml
Labels: Integration:azure_metrics, Team:obs-ds-hosted-services

#14078 symantec_endpoint_security: Parse events containing "module.url" as string.
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-system.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-system.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_module.yml
  packages/symantec_endpoint_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#14130 tenable_io: Document breaking-changes introduced in 4.0.0.
  packages/tenable_io/_dev/build/docs/README.md
  packages/tenable_io/changelog.yml
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
Labels: documentation, Integration:tenable_io, Team:Security-Service Integrations

#14128 [sql_input] make hosts field secret
  packages/sql_input/_dev/deploy/docker/docker-compose.yml
  packages/sql_input/changelog.yml
  packages/sql_input/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:sql_input

#14132 [Cloud Security] Adding direct-access-key in Cloud Asset Inventory's Cloud Formation template links.
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:cloud_asset_inventory

#14148 Okta: populate user.email when user name is an email address
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations

#13956 [aws] Add support for external_id to datastreams fetching logs from S3
  packages/aws/changelog.yml
  packages/aws/data_stream/apigateway_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudfront_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/cloudtrail/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/ec2_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/elb_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/emr_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/firewall_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/guardduty/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/route53_resolver_logs/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/s3access/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/vpcflow/agent/stream/aws-s3.yml.hbs
  packages/aws/data_stream/waf/agent/stream/aws-s3.yml.hbs
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#14169 [AWS] [Redshift] Fix `node_type` in terraform config
  packages/aws/changelog.yml
  packages/aws/data_stream/redshift/_dev/deploy/tf/main.tf
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs

#14173 [entityanalytics_ad] Remove members from group information by default
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/data_stream/user/manifest.yml
  packages/entityanalytics_ad/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:entityanalytics_ad

#14177 [cisco_secure_email_gateway] Support SplunkGIS logs, improve log file name handling
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log
  packages/cisco_secure_email_gateway/data_stream/log/_dev/test/pipeline/test-common-consolidated-event.log-expected.json
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: enhancement, Integration:cisco_secure_email_gateway, Team:Security-Deployment and Devices

#14179 [AWS] [Redshift] Add `InstanceType` dimension
  packages/aws/changelog.yml
  packages/aws/data_stream/redshift/fields/fields.yml
  packages/aws/docs/redshift.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:Obs-InfraObs

#14070 [AWS] Add lambda logs dataset
  .github/CODEOWNERS
  packages/aws/_dev/build/docs/lambda.md
  packages/aws/changelog.yml
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-dotnet-json.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-dotnet-json.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-dotnet-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-dotnet-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-golang-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-golang-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-java-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-java-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-nodejs-json.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-nodejs-json.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-nodejs-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-nodejs-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-platform-json.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-platform-json.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-powershell-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-powershell-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-powertools-json.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-powertools-json.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-python-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-python-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-ruby-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-ruby-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-typescript-plain.log
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-awslambda-typescript-plain.log-expected.json
  packages/aws/data_stream/lambda_logs/_dev/test/pipeline/test-common-config.yml
  packages/aws/data_stream/lambda_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/lambda_logs/elasticsearch/ingest_pipeline/aws-lambda-json.yml
  packages/aws/data_stream/lambda_logs/elasticsearch/ingest_pipeline/aws-lambda-plaintext.yml
  packages/aws/data_stream/lambda_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/lambda_logs/fields/base-fields.yml
  packages/aws/data_stream/lambda_logs/fields/beats.yml
  packages/aws/data_stream/lambda_logs/fields/fields.yml
  packages/aws/data_stream/lambda_logs/manifest.yml
  packages/aws/data_stream/lambda_logs/sample_event.json
  packages/aws/docs/lambda.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#14170 [O365_metrics] Fix CEL evaluation error in teams_call_quality data stream.
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/teams_call_quality/agent/stream/cel.yml.hbs
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:o365_metrics

#14175 qualys_vmdr: prevent sending empty IDs in the knowledge base API request
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations, Team:Sit-Crest

#14067 [symantec_endpoint_security] Fix processing errors for when some fields are missing
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-attribute-ids.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-attribute-ids.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-file-size.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-file-size.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-file-type.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-file-type.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-signature-value-ids.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-missing-signature-value-ids.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_cybox.yml
  packages/symantec_endpoint_security/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#13909 [ti_anomali] Modify field type to eliminate field conflicts within the data streams.
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-apt-domain.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-apt-email.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-apt-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-apt-url.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-bot-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-c2-domain.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-c2-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-c2-url.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-i2p-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-domain.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-email.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-file-name.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-ipv6.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-md5.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-ssdeep.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-mal-url.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-parked-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-phish-email.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-phish-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-phish-md5.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-phish-url.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-scan-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-spam-domain.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-ssh-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-suspicious-domain.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-tor-ip.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-torrent-tracker-url.json-expected.json
  packages/ti_anomali/data_stream/intelligence/_dev/test/pipeline/test-itype-whois-privacy-domain.json-expected.json
  packages/ti_anomali/data_stream/intelligence/elasticsearch/ingest_pipeline/default.yml
  packages/ti_anomali/data_stream/intelligence/fields/fields.yml
  packages/ti_anomali/data_stream/intelligence/sample_event.json
  packages/ti_anomali/data_stream/threatstream/_dev/test/pipeline/test-anomali-threatstream.json-expected.json
  packages/ti_anomali/data_stream/threatstream/fields/fields.yml
  packages/ti_anomali/data_stream/threatstream/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/elasticsearch/transform/latest_intelligence/fields/fields.yml
  packages/ti_anomali/elasticsearch/transform/latest_intelligence/transform.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/fields/fields.yml
  packages/ti_anomali/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_anomali/manifest.yml
Labels: Integration:ti_anomali, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#14209 [filestream] add warning about only ingesting files >= 1024 bytes
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/changelog.yml
  packages/filestream/data_stream/generic/manifest.yml
  packages/filestream/docs/README.md
  packages/filestream/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane, Integration:filestream

#14181 [AWS Lambda] Add lambda logs overview dashboard
  packages/aws/changelog.yml
  packages/aws/img/filebeat-aws-lambda-overview.png
  packages/aws/img/metricbeat-aws-lambda-overview.png
  packages/aws/kibana/dashboard/aws-67f8c833-3224-40fd-ba9f-2e7a5a8d2d18.json
  packages/aws/kibana/dashboard/aws-7ac8e1d0-28d2-11ea-ba6c-49a884eb104f.json
  packages/aws/manifest.yml
Labels: Integration:aws, dashboard, Team:Obs-InfraObs, Team:obs-ds-hosted-services

#14184 Add VertexAI Auditlogs Dashboard
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/auditlogs/_dev/test/pipeline/test-vertexai.log
  packages/gcp_vertexai/data_stream/auditlogs/_dev/test/pipeline/test-vertexai.log-expected.json
  packages/gcp_vertexai/data_stream/auditlogs/elasticsearch/ingest_pipeline/default.yml
  packages/gcp_vertexai/img/vertexai_auditlogs.png
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-1b42c117-7971-424d-8015-c02f1317824d.json
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-d566516f-06fd-47e0-aba1-44148598c59a.json
  packages/gcp_vertexai/kibana/map/gcp_vertexai-a60a5081-be88-4802-aea1-fd33bd008591.json
  packages/gcp_vertexai/kibana/search/gcp_vertexai-201625b6-343e-43c7-ab67-e77d1f8ed790.json
  packages/gcp_vertexai/manifest.yml
  packages/gcp_vertexai/validation.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:gcp_vertexai

#13522 Remove event.original processors from several remaining integrations part 2
  packages/modsecurity/changelog.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/apache-modsec.yml
  packages/modsecurity/data_stream/auditlog/elasticsearch/ingest_pipeline/nginx-modsec.yml
  packages/modsecurity/manifest.yml
  packages/osquery/changelog.yml
  packages/osquery/data_stream/result/elasticsearch/ingest_pipeline/default.yml
  packages/osquery/manifest.yml
  packages/qnap_nas/changelog.yml
  packages/qnap_nas/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/qnap_nas/manifest.yml
  packages/salesforce/changelog.yml
  packages/salesforce/data_stream/apex/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/logout/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/data_stream/setupaudittrail/elasticsearch/ingest_pipeline/default.yml
  packages/salesforce/manifest.yml
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/manifest.yml
  packages/spring_boot/changelog.yml
  packages/spring_boot/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/data_stream/http_trace/elasticsearch/ingest_pipeline/default.yml
  packages/spring_boot/manifest.yml
  packages/stan/changelog.yml
  packages/stan/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/stan/manifest.yml
  packages/sysmon_linux/changelog.yml
  packages/sysmon_linux/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sysmon_linux/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-5424.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-debian11-preserve-original.json-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-debian11.json-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-rhel79.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-ubuntu1204.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-host-syslog-processor.json-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-multiline.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-secure-rhel7.log-expected.json
  packages/system/data_stream/auth/_dev/test/pipeline/test-timestamp.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog-sample.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-darwin-syslog.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-iso8601-timestamp-multiline-syslog.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-preserve-event-original.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-suse-syslog.log-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-syslog-debian11-preserve-original.json-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-syslog-debian11.json-expected.json
  packages/system/data_stream/syslog/_dev/test/pipeline/test-tz-offset.log-expected.json
  packages/system/data_stream/syslog/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/manifest.yml
Labels: Integration:system, Integration:stan, Integration:vsphere, Integration:sophos, Integration:spring_boot, Integration:modsecurity, Team:Obs-InfraObs, Integration:salesforce, Integration:sysmon_linux, Team:Security-Deployment and Devices, Team:Security-Linux Platform, Integration:osquery, Integration:qnap_nas

#13520 Removed event.original processors from network and network-obs relate…
  packages/fortinet_fortiedr/changelog.yml
  packages/fortinet_fortiedr/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortiedr/manifest.yml
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
  packages/fortinet_fortimanager/changelog.yml
  packages/fortinet_fortimanager/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortimanager/manifest.yml
  packages/iptables/changelog.yml
  packages/iptables/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/iptables/manifest.yml
  packages/istio/changelog.yml
  packages/istio/data_stream/access_logs/elasticsearch/ingest_pipeline/default.yml
  packages/istio/manifest.yml
  packages/juniper_junos/changelog.yml
  packages/juniper_junos/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_junos/manifest.yml
  packages/juniper_netscreen/changelog.yml
  packages/juniper_netscreen/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_netscreen/manifest.yml
  packages/juniper_srx/changelog.yml
  packages/juniper_srx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/juniper_srx/manifest.yml
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/manifest.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/data_stream/service/elasticsearch/ingest_pipeline/default.yml
  packages/nagios_xi/manifest.yml
  packages/netscout/changelog.yml
  packages/netscout/data_stream/sightline/elasticsearch/ingest_pipeline/default.yml
  packages/netscout/manifest.yml
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
  packages/pfsense/changelog.yml
  packages/pfsense/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/pfsense/manifest.yml
  packages/snort/changelog.yml
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/snort/manifest.yml
  packages/sonicwall_firewall/changelog.yml
  packages/sonicwall_firewall/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/sonicwall_firewall/manifest.yml
  packages/stormshield/changelog.yml
  packages/stormshield/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/stormshield/manifest.yml
  packages/suricata/changelog.yml
  packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml
  packages/suricata/manifest.yml
Labels: Integration:istio, Integration:panw, Integration:suricata, Integration:iptables, Integration:snort, Integration:sonicwall_firewall, Integration:juniper_srx, Integration:netscout, Integration:microsoft_dhcp, Integration:nagios_xi, Integration:pfsense, Team:Obs-InfraObs, Integration:fortinet_fortigate, Team:Security-Deployment and Devices, Team:Security-Windows Platform, Integration:juniper_junos, Integration:juniper_netscreen, Integration:stormshield, Integration:fortinet_fortiedr, Integration:fortinet_fortimanager, Team:obs-ds-hosted-services

#14212 crowdstrike: add support for multi-resource streams
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/agent/stream/streaming.yml.hbs
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#14081 [Nvidia_GPU] Nvidia GPU Integration Enhancements
  packages/nvidia_gpu/_dev/build/docs/README.md
  packages/nvidia_gpu/changelog.yml
  packages/nvidia_gpu/data_stream/stats/elasticsearch/ingest_pipeline/default.yml
  packages/nvidia_gpu/data_stream/stats/fields/fields.yml
  packages/nvidia_gpu/data_stream/stats/fields/kubernetes.yml
  packages/nvidia_gpu/data_stream/stats/sample_event.json
  packages/nvidia_gpu/docs/README.md
  packages/nvidia_gpu/img/nvidia_dashboard1.1.png
  packages/nvidia_gpu/img/nvidia_dashboard1.2.png
  packages/nvidia_gpu/img/nvidia_dashboard2.1.png
  packages/nvidia_gpu/img/nvidia_dashboard2.2.png
  packages/nvidia_gpu/kibana/dashboard/nvidia_gpu-a3a5759a-1b3d-456d-8ab8-83e97f774030.json
  packages/nvidia_gpu/kibana/dashboard/nvidia_gpu-bac121fe-6cd9-48a7-a349-f52ffa42d56b.json
  packages/nvidia_gpu/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:nvidia_gpu

#14199 Added agent status change data stream to Elastic Agent package
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/status_change_logs/fields/base-fields.yml
  packages/elastic_agent/data_stream/status_change_logs/fields/fields.yml
  packages/elastic_agent/data_stream/status_change_logs/manifest.yml
  packages/elastic_agent/data_stream/status_change_logs/sample_event.json
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent, Integration:elastic_agent

#14220 [imperva_cloud_waf] Encode spaces in URL
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-event.json
  packages/imperva_cloud_waf/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/imperva_cloud_waf/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf, Team:Sit-Crest

#14216 [mongodb] Increase default polling `period` from 10s to 60s
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/collstats/manifest.yml
  packages/mongodb/data_stream/dbstats/manifest.yml
  packages/mongodb/data_stream/metrics/manifest.yml
  packages/mongodb/data_stream/replstatus/manifest.yml
  packages/mongodb/data_stream/status/manifest.yml
  packages/mongodb/manifest.yml
Labels: Integration:mongodb, Team:Obs-InfraObs

#14221 [zscaler_zpa] `Fix related.host` to be `related.hosts`
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/user_activity/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/manifest.yml
Labels: Integration:zscaler_zpa, bugfix, Team:Security-Service Integrations

#13922 Fix dashboard link
  packages/azure/changelog.yml
  packages/azure/kibana/dashboard/azure-1e5c9b50-f24a-11ec-a5a8-bf965bcd5646.json
  packages/azure/manifest.yml
Labels: Integration:azure, dashboard, Team:obs-ds-hosted-services

#13972 [Swimlane Turbine] Added support for collecting audit logs via API
  packages/swimlane/_dev/build/docs/README.md
  packages/swimlane/_dev/deploy/docker/config.yml
  packages/swimlane/_dev/deploy/docker/docker-compose.yml
  packages/swimlane/changelog.yml
  packages/swimlane/data_stream/audit_logs/_dev/test/pipeline/test-events.log
  packages/swimlane/data_stream/audit_logs/_dev/test/pipeline/test-events.log-expected.json
  packages/swimlane/data_stream/audit_logs/_dev/test/system/test-default-config.yml
  packages/swimlane/data_stream/audit_logs/agent/stream/cel.yml.hbs
  packages/swimlane/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/audit_logs/fields/base-fields.yml
  packages/swimlane/data_stream/audit_logs/manifest.yml
  packages/swimlane/data_stream/audit_logs/sample_event.json
  packages/swimlane/data_stream/swimlane_api/sample_event.json
  packages/swimlane/data_stream/tenant_api/sample_event.json
  packages/swimlane/data_stream/turbine_api/sample_event.json
  packages/swimlane/docs/README.md
  packages/swimlane/img/turbine-cloud-pat.png
  packages/swimlane/img/turbine-cloud-settings.png
  packages/swimlane/manifest.yml
Labels: Team:Security-Service Integrations, Integration:swimlane

#14206 [O365_metrics] Add `subscriptions` Dashboard
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/img/dashboard-subscriptions.png
  packages/o365_metrics/kibana/dashboard/o365_metrics-0a6fa214-6cd1-4970-b7a4-f168a3f33c5c.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-2abb4172-9e95-458a-8ade-64403457b1f0.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-5a19bdb2-e9c5-4774-8397-9e1501d70e3a.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-8a87d02c-46d4-4284-8df3-5a23b6b8324f.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-9edf2772-2d81-4c6d-bb24-fa72c997a572.json
  packages/o365_metrics/kibana/tag/o365_metrics-security-solution-default.json
  packages/o365_metrics/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:o365_metrics

#14124 [sentinel_one_cloud_funnel] Add Support for Azure Blob Storage Input
  packages/sentinel_one_cloud_funnel/_dev/build/docs/README.md
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/agent/stream/abs.yml.hbs
  packages/sentinel_one_cloud_funnel/data_stream/event/manifest.yml
  packages/sentinel_one_cloud_funnel/docs/README.md
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations, Team:Sit-Crest

#14247 [Security Rules] Update security rules package to v8.18.7-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/035889c4-2686-4583-a7df-67f89c292f2c_216.json
  packages/security_detection_engine/kibana/security_rule/064a2e08-25da-11f0-b1f1-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/12f07955-1674-44f7-86b5-c35da0a6f41a_316.json
  packages/security_detection_engine/kibana/security_rule/14de811c-d60f-11ec-9fd7-f661ea17fbce_207.json
  packages/security_detection_engine/kibana/security_rule/1600f9e2-5be6-4742-8593-1ba50cd94069_1.json
  packages/security_detection_engine/kibana/security_rule/1cd01db9-be24-4bef-8e7c-e923f0ff78ab_209.json
  packages/security_detection_engine/kibana/security_rule/264c641e-c202-11ef-993e-f661ea17fbce_5.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_311.json
  packages/security_detection_engine/kibana/security_rule/2772264c-6fb9-4d9d-9014-b416eed21254_210.json
  packages/security_detection_engine/kibana/security_rule/2856446a-34e6-435b-9fb5-f8f040bfa7ed_211.json
  packages/security_detection_engine/kibana/security_rule/28f6f34b-8e16-487a-b5fd-9d22eb903db8_9.json
  packages/security_detection_engine/kibana/security_rule/2d6f5332-42ea-11f0-b09a-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_2.json
  packages/security_detection_engine/kibana/security_rule/35df0dd8-092d-4a83-88c1-5151a804f31b_319.json
  packages/security_detection_engine/kibana/security_rule/375132c6-25d5-11f0-8745-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/37994bca-0611-4500-ab67-5588afe73b77_105.json
  packages/security_detection_engine/kibana/security_rule/39144f38-5284-4f8e-a2ae-e3fd628d90b0_210.json
  packages/security_detection_engine/kibana/security_rule/4182e486-fc61-11ee-a05d-f661ea17fbce_6.json
  packages/security_detection_engine/kibana/security_rule/4b1ee53e-3fdc-11f0-8c24-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/4b74d3b0-416e-4099-b432-677e1cd098cc_3.json
  packages/security_detection_engine/kibana/security_rule/5e23495f-09e2-4484-8235-bdb150d698c9_1.json
  packages/security_detection_engine/kibana/security_rule/64f17c52-6c6e-479e-ba72-236f3df18f3d_2.json
  packages/security_detection_engine/kibana/security_rule/6ddb6c33-00ce-4acd-832a-24b251512023_2.json
  packages/security_detection_engine/kibana/security_rule/6e2355cc-c60a-4d92-a80c-e54a45ad2400_5.json
  packages/security_detection_engine/kibana/security_rule/713e0f5f-caf7-4dc2-88a7-3561f61f262a_1.json
  packages/security_detection_engine/kibana/security_rule/8446517c-f789-11ee-8ad0-f661ea17fbce_7.json
  packages/security_detection_engine/kibana/security_rule/8623535c-1e17-44e1-aa97-7a0699c3037d_210.json
  packages/security_detection_engine/kibana/security_rule/88671231-6626-4e1b-abb7-6e361a171fbb_207.json
  packages/security_detection_engine/kibana/security_rule/9395fd2c-9947-4472-86ef-4aceb2f7e872_212.json
  packages/security_detection_engine/kibana/security_rule/98fd7407-0bd5-5817-cda0-3fcc33113a56_212.json
  packages/security_detection_engine/kibana/security_rule/99ac5005-8a9e-4625-a0af-5f7bb447204b_1.json
  packages/security_detection_engine/kibana/security_rule/9a6f5d74-c7e7-4a8b-945e-462c102daee4_1.json
  packages/security_detection_engine/kibana/security_rule/9ebd48ac-a0e2-430a-a219-fe072a50146b_1.json
  packages/security_detection_engine/kibana/security_rule/a60326d7-dca7-4fb7-93eb-1ca03a1febbd_213.json
  packages/security_detection_engine/kibana/security_rule/ac5a2759-5c34-440a-b0c4-51fe674611d6_205.json
  packages/security_detection_engine/kibana/security_rule/b11116fd-023c-4718-aeb8-fa9d283fc53b_1.json
  packages/security_detection_engine/kibana/security_rule/c1e79a70-fa6f-11ee-8bc8-f661ea17fbce_6.json
  packages/security_detection_engine/kibana/security_rule/c28750fa-4092-11f0-aca6-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/c6655282-6c79-11ef-bbb5-f661ea17fbcc_4.json
  packages/security_detection_engine/kibana/security_rule/cd82e3d6-1346-4afd-8f22-38388bbf34cb_7.json
  packages/security_detection_engine/kibana/security_rule/cde1bafa-9f01-4f43-a872-605b678968b0_217.json
  packages/security_detection_engine/kibana/security_rule/ce73954b-a0a4-4f05-b67b-294c500dac77_1.json
  packages/security_detection_engine/kibana/security_rule/d84a11c0-eb12-4e7d-8a0a-718e38351e29_1.json
  packages/security_detection_engine/kibana/security_rule/e903ce9a-5ce6-4246-bb14-75ed3ec2edf5_3.json
  packages/security_detection_engine/kibana/security_rule/f3475224-b179-4f78-8877-c2bd64c26b88_212.json
  packages/security_detection_engine/kibana/security_rule/f6d8c743-0916-4483-8333-3c6f107e0caa_2.json
  packages/security_detection_engine/kibana/security_rule/f701be14-0a36-4e9a-a851-b3e20ae55f09_1.json
  packages/security_detection_engine/kibana/security_rule/f766ffaf-9568-4909-b734-75d19b35cbf4_103.json
  packages/security_detection_engine/kibana/security_rule/f9abcddc-a05d-4345-a81d-000b79aa5525_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14250 [cisco_ios] Add support for longer time zone formats
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format-tzoffset.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format-tzoffset.log-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format-tzoffset.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:cisco_ios, Team:Security-Deployment and Devices

#14253 [Security Rules] Update security rules package to v8.17.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14252 [Security Rules] Update security rules package to v8.16.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14235 abnormal_security: allow configuration of a grace period for ai_security_mailbox_not_analyzed
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/ai_security_mailbox_not_analyzed/agent/stream/cel.yml.hbs
  packages/abnormal_security/data_stream/ai_security_mailbox_not_analyzed/manifest.yml
  packages/abnormal_security/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:abnormal_security

#14079 [rapid7_insightvm] Add asset_vulnerability data stream for Cloud Detection and Response (CDR) workflow
  packages/rapid7_insightvm/_dev/build/docs/README.md
  packages/rapid7_insightvm/_dev/deploy/docker/files/config.yml
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/rapid7_insightvm/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/data_stream/asset/manifest.yml
  packages/rapid7_insightvm/data_stream/asset/sample_event.json
  packages/rapid7_insightvm/data_stream/asset_vulnerability/_dev/test/pipeline/test-asset-vulnerability.log
  packages/rapid7_insightvm/data_stream/asset_vulnerability/_dev/test/pipeline/test-asset-vulnerability.log-expected.json
  packages/rapid7_insightvm/data_stream/asset_vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/_dev/test/system/test-default-config.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/agent/stream/cel.yml.hbs
  packages/rapid7_insightvm/data_stream/asset_vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/base-fields.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/beats.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/ecs.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/fields.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/package.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/resource.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/fields/vulnerability.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/manifest.yml
  packages/rapid7_insightvm/data_stream/asset_vulnerability/sample_event.json
  packages/rapid7_insightvm/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/rapid7_insightvm/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/rapid7_insightvm/data_stream/vulnerability/sample_event.json
  packages/rapid7_insightvm/docs/README.md
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/base-fields.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/beats.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/ecs.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/package.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/resource.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/fields/vulnerability.yml
  packages/rapid7_insightvm/elasticsearch/transform/latest_cdr_vulnerabilities/transform.yml
  packages/rapid7_insightvm/manifest.yml
Labels: enhancement, Integration:rapid7_insightvm, Team:Security-Service Integrations, Team:Sit-Crest

#13920 azure: fix Grok processor error for firewall network rule logs
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:azure, Team:Security-Service Integrations

#14268 [pad] Update ML jobs description and groups for Privileged Access Detection
  packages/pad/changelog.yml
  packages/pad/kibana/ml_module/pad-ml.json
  packages/pad/manifest.yml
Labels: enhancement, Team:Security-Applied ML, Integration:pad

#14290 {ti_eclectiqiq,ti_opencti,ti_threatconnect}: Update error.message field mapping as per ECS inside Threat Intel destination indices.
  packages/ti_eclecticiq/changelog.yml
  packages/ti_eclecticiq/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_eclecticiq/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_eclecticiq/manifest.yml
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/elasticsearch/transform/latest_ioc/fields/ecs.yml
  packages/ti_opencti/elasticsearch/transform/latest_ioc/transform.yml
  packages/ti_opencti/manifest.yml
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/fields/ecs.yml
  packages/ti_threatconnect/elasticsearch/transform/latest/transform.yml
  packages/ti_threatconnect/manifest.yml
Labels: bugfix, Integration:ti_opencti, Integration:ti_eclecticiq, Team:Security-Service Integrations, Integration:ti_threatconnect

#14291 Fix table and edits on MySQL Integration
  packages/mysql/_dev/build/docs/README.md
  packages/mysql/changelog.yml
  packages/mysql/docs/README.md
  packages/mysql/manifest.yml
Labels: documentation, Integration:mysql, Team:Obs-InfraObs, bugfix

#14298 imperva_cloud_waf: handle case where cursor state cannot be found in …
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#14139 New Integration - Qualys Web application Scanning Integration (qualys_was)
  .github/CODEOWNERS
  packages/qualys_was/_dev/build/build.yml
  packages/qualys_was/_dev/build/docs/README.md
  packages/qualys_was/_dev/deploy/docker/docker-compose.yml
  packages/qualys_was/_dev/deploy/docker/files/config.yml
  packages/qualys_was/changelog.yml
  packages/qualys_was/data_stream/vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/qualys_was/data_stream/vulnerability/_dev/test/pipeline/test-non-verbose-findings.log
  packages/qualys_was/data_stream/vulnerability/_dev/test/pipeline/test-non-verbose-findings.log-expected.json
  packages/qualys_was/data_stream/vulnerability/_dev/test/pipeline/test-verbose-findings.log
  packages/qualys_was/data_stream/vulnerability/_dev/test/pipeline/test-verbose-findings.log-expected.json
  packages/qualys_was/data_stream/vulnerability/_dev/test/system/test-vulnerability-config.yml
  packages/qualys_was/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/qualys_was/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_was/data_stream/vulnerability/elasticsearch/ingest_pipeline/pipeline_knowledge_base.yml
  packages/qualys_was/data_stream/vulnerability/fields/base-fields.yml
  packages/qualys_was/data_stream/vulnerability/fields/beats.yml
  packages/qualys_was/data_stream/vulnerability/fields/fields.yml
  packages/qualys_was/data_stream/vulnerability/fields/kb_fields.yml
  packages/qualys_was/data_stream/vulnerability/manifest.yml
  packages/qualys_was/data_stream/vulnerability/sample_event.json
  packages/qualys_was/docs/README.md
  packages/qualys_was/img/qualys-was-detections-dashboard.png
  packages/qualys_was/img/qualys-was-logo.svg
  packages/qualys_was/kibana/dashboard/qualys_was-e98bb088-8853-4e6a-8887-c3f301100fe6.json
  packages/qualys_was/kibana/tag/qualys_was-security-solution-default.json
  packages/qualys_was/kibana/tags.yml
  packages/qualys_was/manifest.yml
  packages/qualys_was/validation.yml
Labels: dashboard, New Integration, Team:Security-Service Integrations, Integration:qualys_was

#14248 Clarify OS support for DED
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/elasticsearch/transform/pivot_transform/transform.yml
  packages/ded/kibana/ml_module/ded-ml.json
  packages/ded/manifest.yml
Labels: Integration:ded, Team:Security-Applied ML

#14256 [osquery manager] Fix mapping for action_data
  packages/osquery_manager/changelog.yml
  packages/osquery_manager/data_stream/result/fields/primary-fields.yml
  packages/osquery_manager/manifest.yml
Labels: bugfix, Integration:osquery_manager, Team:Security-Deployment and Devices

#14232 [O365_metrics] Add `active_users_services_user_counts` Dashboard
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/img/dashboard-active-users-services-user-counts.png
  packages/o365_metrics/kibana/dashboard/o365_metrics-0a6fa214-6cd1-4970-b7a4-f168a3f33c5c.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-2abb4172-9e95-458a-8ade-64403457b1f0.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-5a19bdb2-e9c5-4774-8397-9e1501d70e3a.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-8a87d02c-46d4-4284-8df3-5a23b6b8324f.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-977e9818-ac21-45be-8ca4-aae0f9accca7.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-9edf2772-2d81-4c6d-bb24-fa72c997a572.json
  packages/o365_metrics/kibana/tag/o365_metrics-security-solution-default.json
  packages/o365_metrics/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:o365_metrics

#14281 [Azure AI Foundry] Add Azure AI Foundry Integration
  .github/CODEOWNERS
  packages/azure_ai_foundry/_dev/build/build.yml
  packages/azure_ai_foundry/_dev/build/docs/README.md
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/data_stream/metrics/_dev/test/pipeline/test-aifoundry.json
  packages/azure_ai_foundry/data_stream/metrics/_dev/test/pipeline/test-aifoundry.json-expected.json
  packages/azure_ai_foundry/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/azure_ai_foundry/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/azure_ai_foundry/data_stream/metrics/fields/base-fields.yml
  packages/azure_ai_foundry/data_stream/metrics/fields/fields.yml
  packages/azure_ai_foundry/data_stream/metrics/fields/package-fields.yml
  packages/azure_ai_foundry/data_stream/metrics/manifest.yml
  packages/azure_ai_foundry/data_stream/metrics/sample_event.json
  packages/azure_ai_foundry/docs/README.md
  packages/azure_ai_foundry/img/ai_foundry.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_2.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-0d923e01-2082-4ba0-a1a3-335ad53f1a00.json
  packages/azure_ai_foundry/kibana/search/azure_ai_foundry-be6bcfb8-fc7d-412d-9ef7-e0b7c6ceb8ee.json
  packages/azure_ai_foundry/manifest.yml
  packages/azure_ai_foundry/validation.yml
Labels: dashboard, New Integration

#14104 Gigamon: Child dashboards added for Zero Trust dashboards and an attribute is replaced in "OT sessions with Latency" widget.
  packages/gigamon/changelog.yml
  packages/gigamon/data_stream/ami/_dev/test/pipeline/test-ami.json-expected.json
  packages/gigamon/data_stream/ami/sample_event.json
  packages/gigamon/docs/README.md
  packages/gigamon/img/Device_Dashboard.png
  packages/gigamon/img/Network_and_Environment_Dashboard.png
  packages/gigamon/img/Visibility_and_Analytics_Dashboard.png
  packages/gigamon/kibana/dashboard/gigamon-032aab7b-87b2-444c-8c86-956d092598fb.json
  packages/gigamon/kibana/dashboard/gigamon-20c6c22a-dae0-4a0a-ad8c-043f878fc109.json
  packages/gigamon/kibana/dashboard/gigamon-3523b534-7525-44a7-808f-6a9f3235a67d.json
  packages/gigamon/kibana/dashboard/gigamon-3e5652b3-1b0e-428f-9dc3-78d179ce2463.json
  packages/gigamon/kibana/dashboard/gigamon-46931a21-a33e-43af-aadf-da8d6446b9cc.json
  packages/gigamon/kibana/dashboard/gigamon-4ae2cd9a-3eef-42c6-a02c-731ce74d94ac.json
  packages/gigamon/kibana/dashboard/gigamon-56da3239-c99d-40cb-b491-bda501b52368.json
  packages/gigamon/kibana/dashboard/gigamon-60d20029-8831-4156-bee7-fbcf2213486d.json
  packages/gigamon/kibana/dashboard/gigamon-62291e9e-8b75-4f23-9121-79959da99b3b.json
  packages/gigamon/kibana/dashboard/gigamon-64ca15b3-8327-4940-8b35-0e75ab3a73c6.json
  packages/gigamon/kibana/dashboard/gigamon-80233efd-b0b8-455d-8b9c-8483d7f898d4.json
  packages/gigamon/kibana/dashboard/gigamon-855a64dc-1a72-403f-932b-a5b848378f7e.json
  packages/gigamon/kibana/dashboard/gigamon-87c75cf5-252c-42c3-a327-3d0539c10845.json
  packages/gigamon/kibana/dashboard/gigamon-8d02ca6f-9333-4cab-8b8a-a141e9fccdcf.json
  packages/gigamon/kibana/dashboard/gigamon-8f772203-64e0-4d1b-bb0e-14fa57b4b754.json
  packages/gigamon/kibana/dashboard/gigamon-c1be36a7-86aa-4442-b07f-facd9db043f3.json
  packages/gigamon/kibana/dashboard/gigamon-d6cecabb-f026-4823-914d-b4d61fd61787.json
  packages/gigamon/kibana/dashboard/gigamon-d866be49-47b2-4306-a2be-d5cb6b6ab9c8.json
  packages/gigamon/kibana/dashboard/gigamon-e192a946-8287-450a-a8f0-e23de9f95dae.json
  packages/gigamon/kibana/dashboard/gigamon-e733c64e-6ea9-4dd6-a8ca-3914274598f3.json
  packages/gigamon/manifest.yml
Labels: dashboard, Team:Security-Service Integrations, Integration:gigamon

#14266 [sql_input] Update manifest format_version to 3.*
  packages/sql_input/_dev/test/system/test-mssql-config.yml
  packages/sql_input/_dev/test/system/test-postgresql-config.yml
  packages/sql_input/changelog.yml
  packages/sql_input/fields/input.yml
  packages/sql_input/manifest.yml
  packages/sql_input/sample_event.json
Labels: enhancement, Team:Obs-InfraObs, Integration:sql_input

#14338 Remove Dependabot reviewers configuration
  .github/dependabot.yml
Labels: enhancement, ci

#14316 google_workspace,o365: Handle field collision with organizaiton.* fields
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log-expected.json
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/groups/_dev/test/pipeline/test-groups.log-expected.json
  packages/google_workspace/data_stream/groups/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/saml/_dev/test/pipeline/test-saml.log-expected.json
  packages/google_workspace/data_stream/saml/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/user_accounts/_dev/test/pipeline/test-user-accounts.log-expected.json
  packages/google_workspace/data_stream/user_accounts/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: Integration:google_workspace, Integration:o365, Team:Security-Service Integrations, Team:Sit-Crest

#13907 Vsphere metrics
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/virtualmachine/fields/fields.yml
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#14193 [ServiceNow] Fix missing date format and incorrect handling of non-terminal errors
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event-aws-with-display-values.log
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event.log
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alm_hardware.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_change_request.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_cmdb_ci_business_app.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_cmn_location.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_incident.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_kb_knowledge.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_problem.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_sc_req_item.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_sys_user.yml
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/pipeline_task_ci.yml
  packages/servicenow/data_stream/event/manifest.yml
  packages/servicenow/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:servicenow

#14190 Fix minor spelling mistakes
  packages/github/changelog.yml
  packages/github/data_stream/security_advisories/manifest.yml
  packages/github/manifest.yml
  packages/miniflux/changelog.yml
  packages/miniflux/data_stream/feed_entry/manifest.yml
  packages/miniflux/manifest.yml
Labels: Integration:github, bugfix, Team:Security-Service Integrations, Integration:miniflux

#14319 box_events: fix handling of large cursor offsets
  packages/box_events/_dev/deploy/docker/files/config.yml
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/_dev/test/system/test-httpjson-config.yml
  packages/box_events/data_stream/events/agent/stream/httpjson.yml.hbs
  packages/box_events/manifest.yml
Labels: Integration:box_events, bugfix, Team:Security-Service Integrations

#14323 amazon_security_lake: fix handling of JSON encoded flattened fields
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-discovery.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-discovery.log-expected.json
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/amazon_security_lake/manifest.yml
Labels: bugfix, Integration:amazon_security_lake, Team:Security-Service Integrations

#14299 gitlab: fix field type and value for event.duration
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/application/_dev/test/pipeline/test-application.log-expected.json
  packages/gitlab/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gitlab/data_stream/auth/_dev/test/pipeline/test-auth.log-expected.json
  packages/gitlab/data_stream/pages/_dev/test/pipeline/test-pages.log-expected.json
  packages/gitlab/data_stream/sidekiq/_dev/test/pipeline/test-gitlab-sidekiq.log-expected.json
  packages/gitlab/data_stream/sidekiq/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/sidekiq/sample_event.json
  packages/gitlab/docs/README.md
  packages/gitlab/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:gitlab

#14357 abnormal_security: rebrand Abnormal Security integration to Abnormal AI
  packages/abnormal_security/_dev/build/docs/README.md
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/ai_security_mailbox/manifest.yml
  packages/abnormal_security/data_stream/ai_security_mailbox_not_analyzed/manifest.yml
  packages/abnormal_security/data_stream/audit/manifest.yml
  packages/abnormal_security/data_stream/case/manifest.yml
  packages/abnormal_security/data_stream/threat/fields/fields.yml
  packages/abnormal_security/data_stream/threat/manifest.yml
  packages/abnormal_security/data_stream/vendor_case/manifest.yml
  packages/abnormal_security/docs/README.md
  packages/abnormal_security/kibana/dashboard/abnormal_security-37ed5d19-c753-43a0-b0a2-f8e6437ddfe5.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-6a8e53ac-7759-4564-bcd6-03c6a9792eac.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-7997c0a4-da55-4090-b24f-586dbd19aff4.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-a0e8aab9-b870-4903-a966-7195fd6cee9c.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-a4364503-ada3-4fe6-a054-d152accf207c.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-f6562262-e429-470d-af45-4c80afdcf664.json
  packages/abnormal_security/kibana/search/abnormal_security-5a32aa45-1ea0-4b68-9c06-53425f4e2deb.json
  packages/abnormal_security/kibana/search/abnormal_security-a2d86921-d69f-4f99-a9eb-88a7ba0b2923.json
  packages/abnormal_security/kibana/search/abnormal_security-b154b107-1350-48fe-b50e-d5427c5169ff.json
  packages/abnormal_security/kibana/search/abnormal_security-e34b2986-68c2-4de9-8601-7bdefab429bc.json
  packages/abnormal_security/kibana/search/abnormal_security-ecec7bf6-c7a6-4fb4-8054-863c5a1a666e.json
  packages/abnormal_security/kibana/search/abnormal_security-f9b16544-6009-42fa-b569-ff029cc5c019.json
  packages/abnormal_security/kibana/tag/abnormal_security-1c95de21-1f0d-4245-bdc6-3cf701a1743f.json
  packages/abnormal_security/kibana/tag/abnormal_security-security-solution-default.json
  packages/abnormal_security/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:abnormal_security, Team:Sit-Crest

#14294 [cisco_ios] Add support for Kiwi format logs
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-kiwi.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-kiwi.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: enhancement, Integration:cisco_ios, Team:Security-Deployment and Devices
