Repository elastic/integrations, pull requests merged in 2025-08, with the labels that each got.

#14550 [FireEye] Add missing ECS fields
  packages/fireeye/changelog.yml
  packages/fireeye/data_stream/nx/_dev/test/pipeline/test-nx.log-expected.json
  packages/fireeye/data_stream/nx/elasticsearch/ingest_pipeline/default.yml
  packages/fireeye/data_stream/nx/elasticsearch/ingest_pipeline/renaming-raws.yml
  packages/fireeye/data_stream/nx/fields/fields.yml
  packages/fireeye/data_stream/nx/sample_event.json
  packages/fireeye/docs/README.md
  packages/fireeye/manifest.yml
Labels: documentation, enhancement, Integration:fireeye, Team:Security-Service Integrations, Team:Sit-Crest

#14752 fix: integration dashboard, `[Elastic Agent] Errors` counter shows `files_opened_total`
  packages/elastic_agent/kibana/dashboard/elastic_agent-ea44c820-95cb-11ee-b517-0550321b54cc.json
Labels: Team:Elastic-Agent, dashboard, Integration:elastic_agent, Team:Elastic-Agent-Data-Plane, bugfix

#14784 [Netskope Events v2] Fix typos in ingest pipeline
  packages/netskope/changelog.yml
  packages/netskope/data_stream/events_v2/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events_v2/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/manifest.yml
Labels: Integration:netskope, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#14780 [snyk] Fetch related projects for issues
  packages/snyk/_dev/deploy/docker/files/config.yml
  packages/snyk/changelog.yml
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-snyk-issues.json
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-snyk-issues.json-expected.json
  packages/snyk/data_stream/issues/_dev/test/system/test-default-config.yml
  packages/snyk/data_stream/issues/agent/stream/cel.yml.hbs
  packages/snyk/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/issues/fields/fields.yml
  packages/snyk/data_stream/issues/manifest.yml
  packages/snyk/docs/README.md
  packages/snyk/manifest.yml
Labels: enhancement, Integration:snyk, Team:Security-Service Integrations

#14730 [o365] Explain data latency in the documentation
  packages/o365/_dev/build/docs/README.md
  packages/o365/changelog.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: documentation, enhancement, Integration:o365, Team:Security-Service Integrations

#14789 crowdstrike: update README to clarify the log file format and location for the Falcon SIEM Connector
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/manifest.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: documentation, enhancement, Integration:crowdstrike, Team:Security-Service Integrations, Team:Sit-Crest

#14762 crowdstrike: Remove _id-Based Deduplication when `Data Deduplication` option is disabled in fdr data stream
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#14800 [Security Rules] Update security rules package to v8.18.10-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_206.json
  packages/security_detection_engine/kibana/security_rule/1fa350e0-0aa2-4055-bf8f-ab8b59233e59_1.json
  packages/security_detection_engine/kibana/security_rule/23f18264-2d6d-11ef-9413-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/25e7fee6-fc25-11ee-ba0f-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/264c641e-c202-11ef-993e-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/29052c19-ff3e-42fd-8363-7be14d7c5469_208.json
  packages/security_detection_engine/kibana/security_rule/2e56e1bc-867a-11ee-b13e-f661ea17fbcd_303.json
  packages/security_detection_engine/kibana/security_rule/37b211e8-4e2f-440f-86d8-06cc8f158cfa_212.json
  packages/security_detection_engine/kibana/security_rule/3fac01b2-b811-11ef-b25b-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/5841b80f-a1f8-4c00-a966-d2cc4a7a82e4_1.json
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_4.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/6b341d03-1d63-41ac-841a-2009c86959ca_1.json
  packages/security_detection_engine/kibana/security_rule/70558fd5-6448-4c65-804a-8567ce02c3a2_1.json
  packages/security_detection_engine/kibana/security_rule/720fc1aa-e195-4a1d-81d8-04edfe5313ed_1.json
  packages/security_detection_engine/kibana/security_rule/74147312-ba03-4bea-91d1-040d54c1e8c3_1.json
  packages/security_detection_engine/kibana/security_rule/77122db4-5876-4127-b91b-6c179eb21f88_1.json
  packages/security_detection_engine/kibana/security_rule/792dd7a6-7e00-4a0a-8a9a-a7c24720b5ec_104.json
  packages/security_detection_engine/kibana/security_rule/860f2a03-a1cf-48d6-a674-c6d62ae608a1_1.json
  packages/security_detection_engine/kibana/security_rule/8a7933b4-9d0a-4c1c-bda5-e39fb045ff1d_1.json
  packages/security_detection_engine/kibana/security_rule/8eeeda11-dca6-4c3e-910f-7089db412d1c_1.json
  packages/security_detection_engine/kibana/security_rule/909bf7c8-d371-11ef-bcc3-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/931e25a5-0f5e-4ae0-ba0d-9e94eff7e3a4_206.json
  packages/security_detection_engine/kibana/security_rule/94e734c0-2cda-11ef-84e1-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/95b99adc-2cda-11ef-84e1-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/976b2391-413f-4a94-acb4-7911f3803346_1.json
  packages/security_detection_engine/kibana/security_rule/9aa4be8d-5828-417d-9f54-7cd304571b24_3.json
  packages/security_detection_engine/kibana/security_rule/9b35422b-9102-45a9-8610-2e0c22281c55_1.json
  packages/security_detection_engine/kibana/security_rule/a60326d7-dca7-4fb7-93eb-1ca03a1febbd_211.json
  packages/security_detection_engine/kibana/security_rule/ab8f074c-5565-4bc4-991c-d49770e19fc9_2.json
  packages/security_detection_engine/kibana/security_rule/aeebe561-c338-4118-9924-8cb4e478aa58_1.json
  packages/security_detection_engine/kibana/security_rule/c1a9ed70-d349-11ef-841c-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/c1e79a70-fa6f-11ee-8bc8-f661ea17fbce_4.json
  packages/security_detection_engine/kibana/security_rule/c5637438-e32d-4bb3-bc13-bd7932b3289f_1.json
  packages/security_detection_engine/kibana/security_rule/cc382a2e-7e52-11ee-9aac-f661ea17fbcd_204.json
  packages/security_detection_engine/kibana/security_rule/d3b6222f-537e-4b84-956a-3ebae2dcf811_1.json
  packages/security_detection_engine/kibana/security_rule/dde13d58-bc39-4aa0-87fd-b4bdbf4591da_2.json
  packages/security_detection_engine/kibana/security_rule/df919b5e-a0f6-4fd8-8598-e3ce79299e3b_2.json
  packages/security_detection_engine/kibana/security_rule/e43b7578-f3cc-4682-a8cf-f9d8a5fb07f1_1.json
  packages/security_detection_engine/kibana/security_rule/f0cc239b-67fa-46fc-89d4-f861753a40f5_3.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_11.json
  packages/security_detection_engine/kibana/security_rule/f6d07a70-9ad0-11ef-954f-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/fd332492-0bc6-11ef-b5be-f661ea17fbcc_3.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14801 [Security Rules] Update security rules package to v8.19.3-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_206.json
  packages/security_detection_engine/kibana/security_rule/1fa350e0-0aa2-4055-bf8f-ab8b59233e59_1.json
  packages/security_detection_engine/kibana/security_rule/23f18264-2d6d-11ef-9413-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/25e7fee6-fc25-11ee-ba0f-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/264c641e-c202-11ef-993e-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/29052c19-ff3e-42fd-8363-7be14d7c5469_208.json
  packages/security_detection_engine/kibana/security_rule/2e56e1bc-867a-11ee-b13e-f661ea17fbcd_303.json
  packages/security_detection_engine/kibana/security_rule/37b211e8-4e2f-440f-86d8-06cc8f158cfa_212.json
  packages/security_detection_engine/kibana/security_rule/3fac01b2-b811-11ef-b25b-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/5841b80f-a1f8-4c00-a966-d2cc4a7a82e4_1.json
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_4.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/6b341d03-1d63-41ac-841a-2009c86959ca_1.json
  packages/security_detection_engine/kibana/security_rule/70558fd5-6448-4c65-804a-8567ce02c3a2_1.json
  packages/security_detection_engine/kibana/security_rule/720fc1aa-e195-4a1d-81d8-04edfe5313ed_1.json
  packages/security_detection_engine/kibana/security_rule/74147312-ba03-4bea-91d1-040d54c1e8c3_1.json
  packages/security_detection_engine/kibana/security_rule/77122db4-5876-4127-b91b-6c179eb21f88_1.json
  packages/security_detection_engine/kibana/security_rule/792dd7a6-7e00-4a0a-8a9a-a7c24720b5ec_104.json
  packages/security_detection_engine/kibana/security_rule/860f2a03-a1cf-48d6-a674-c6d62ae608a1_1.json
  packages/security_detection_engine/kibana/security_rule/8a7933b4-9d0a-4c1c-bda5-e39fb045ff1d_1.json
  packages/security_detection_engine/kibana/security_rule/8eeeda11-dca6-4c3e-910f-7089db412d1c_1.json
  packages/security_detection_engine/kibana/security_rule/909bf7c8-d371-11ef-bcc3-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/931e25a5-0f5e-4ae0-ba0d-9e94eff7e3a4_206.json
  packages/security_detection_engine/kibana/security_rule/94e734c0-2cda-11ef-84e1-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/95b99adc-2cda-11ef-84e1-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/976b2391-413f-4a94-acb4-7911f3803346_1.json
  packages/security_detection_engine/kibana/security_rule/9aa4be8d-5828-417d-9f54-7cd304571b24_3.json
  packages/security_detection_engine/kibana/security_rule/9b35422b-9102-45a9-8610-2e0c22281c55_1.json
  packages/security_detection_engine/kibana/security_rule/a60326d7-dca7-4fb7-93eb-1ca03a1febbd_211.json
  packages/security_detection_engine/kibana/security_rule/ab8f074c-5565-4bc4-991c-d49770e19fc9_2.json
  packages/security_detection_engine/kibana/security_rule/aeebe561-c338-4118-9924-8cb4e478aa58_1.json
  packages/security_detection_engine/kibana/security_rule/c1a9ed70-d349-11ef-841c-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/c1e79a70-fa6f-11ee-8bc8-f661ea17fbce_4.json
  packages/security_detection_engine/kibana/security_rule/c5637438-e32d-4bb3-bc13-bd7932b3289f_1.json
  packages/security_detection_engine/kibana/security_rule/cc382a2e-7e52-11ee-9aac-f661ea17fbcd_204.json
  packages/security_detection_engine/kibana/security_rule/d3b6222f-537e-4b84-956a-3ebae2dcf811_1.json
  packages/security_detection_engine/kibana/security_rule/dde13d58-bc39-4aa0-87fd-b4bdbf4591da_2.json
  packages/security_detection_engine/kibana/security_rule/df919b5e-a0f6-4fd8-8598-e3ce79299e3b_2.json
  packages/security_detection_engine/kibana/security_rule/e43b7578-f3cc-4682-a8cf-f9d8a5fb07f1_1.json
  packages/security_detection_engine/kibana/security_rule/f0cc239b-67fa-46fc-89d4-f861753a40f5_3.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_11.json
  packages/security_detection_engine/kibana/security_rule/f6d07a70-9ad0-11ef-954f-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/fd332492-0bc6-11ef-b5be-f661ea17fbcc_3.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14802 [Security Rules] Update security rules package to v9.0.10-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/181f6b23-3799-445e-9589-0018328a9e46_206.json
  packages/security_detection_engine/kibana/security_rule/1fa350e0-0aa2-4055-bf8f-ab8b59233e59_1.json
  packages/security_detection_engine/kibana/security_rule/23f18264-2d6d-11ef-9413-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/25e7fee6-fc25-11ee-ba0f-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/264c641e-c202-11ef-993e-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/29052c19-ff3e-42fd-8363-7be14d7c5469_208.json
  packages/security_detection_engine/kibana/security_rule/2e56e1bc-867a-11ee-b13e-f661ea17fbcd_303.json
  packages/security_detection_engine/kibana/security_rule/37b211e8-4e2f-440f-86d8-06cc8f158cfa_212.json
  packages/security_detection_engine/kibana/security_rule/3fac01b2-b811-11ef-b25b-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/5841b80f-a1f8-4c00-a966-d2cc4a7a82e4_1.json
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_4.json
  packages/security_detection_engine/kibana/security_rule/6a309864-fc3f-11ee-b8cc-f661ea17fbce_3.json
  packages/security_detection_engine/kibana/security_rule/6b341d03-1d63-41ac-841a-2009c86959ca_1.json
  packages/security_detection_engine/kibana/security_rule/70558fd5-6448-4c65-804a-8567ce02c3a2_1.json
  packages/security_detection_engine/kibana/security_rule/720fc1aa-e195-4a1d-81d8-04edfe5313ed_1.json
  packages/security_detection_engine/kibana/security_rule/74147312-ba03-4bea-91d1-040d54c1e8c3_1.json
  packages/security_detection_engine/kibana/security_rule/77122db4-5876-4127-b91b-6c179eb21f88_1.json
  packages/security_detection_engine/kibana/security_rule/792dd7a6-7e00-4a0a-8a9a-a7c24720b5ec_104.json
  packages/security_detection_engine/kibana/security_rule/860f2a03-a1cf-48d6-a674-c6d62ae608a1_1.json
  packages/security_detection_engine/kibana/security_rule/8a7933b4-9d0a-4c1c-bda5-e39fb045ff1d_1.json
  packages/security_detection_engine/kibana/security_rule/8eeeda11-dca6-4c3e-910f-7089db412d1c_1.json
  packages/security_detection_engine/kibana/security_rule/909bf7c8-d371-11ef-bcc3-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/931e25a5-0f5e-4ae0-ba0d-9e94eff7e3a4_206.json
  packages/security_detection_engine/kibana/security_rule/94e734c0-2cda-11ef-84e1-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/95b99adc-2cda-11ef-84e1-f661ea17fbce_103.json
  packages/security_detection_engine/kibana/security_rule/976b2391-413f-4a94-acb4-7911f3803346_1.json
  packages/security_detection_engine/kibana/security_rule/9aa4be8d-5828-417d-9f54-7cd304571b24_3.json
  packages/security_detection_engine/kibana/security_rule/9b35422b-9102-45a9-8610-2e0c22281c55_1.json
  packages/security_detection_engine/kibana/security_rule/a60326d7-dca7-4fb7-93eb-1ca03a1febbd_211.json
  packages/security_detection_engine/kibana/security_rule/ab8f074c-5565-4bc4-991c-d49770e19fc9_2.json
  packages/security_detection_engine/kibana/security_rule/aeebe561-c338-4118-9924-8cb4e478aa58_1.json
  packages/security_detection_engine/kibana/security_rule/c1a9ed70-d349-11ef-841c-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/c1e79a70-fa6f-11ee-8bc8-f661ea17fbce_4.json
  packages/security_detection_engine/kibana/security_rule/c5637438-e32d-4bb3-bc13-bd7932b3289f_1.json
  packages/security_detection_engine/kibana/security_rule/cc382a2e-7e52-11ee-9aac-f661ea17fbcd_204.json
  packages/security_detection_engine/kibana/security_rule/d3b6222f-537e-4b84-956a-3ebae2dcf811_1.json
  packages/security_detection_engine/kibana/security_rule/dde13d58-bc39-4aa0-87fd-b4bdbf4591da_2.json
  packages/security_detection_engine/kibana/security_rule/df919b5e-a0f6-4fd8-8598-e3ce79299e3b_2.json
  packages/security_detection_engine/kibana/security_rule/e43b7578-f3cc-4682-a8cf-f9d8a5fb07f1_1.json
  packages/security_detection_engine/kibana/security_rule/f0cc239b-67fa-46fc-89d4-f861753a40f5_3.json
  packages/security_detection_engine/kibana/security_rule/f33e68a4-bd19-11ed-b02f-f661ea17fbcc_11.json
  packages/security_detection_engine/kibana/security_rule/f6d07a70-9ad0-11ef-954f-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/fd332492-0bc6-11ef-b5be-f661ea17fbcc_3.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14805 [Security Rules] Update security rules package to v8.18.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14806 [Security Rules] Update security rules package to v8.19.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14808 [Security Rules] Update security rules package to v9.1.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14787 bitdefender: migrate push_configuration and push_statistics data streams to CEL
  packages/bitdefender/changelog.yml
  packages/bitdefender/data_stream/push_configuration/_dev/test/system/test-default-config.yml
  packages/bitdefender/data_stream/push_configuration/agent/stream/cel.yml.hbs
  packages/bitdefender/data_stream/push_configuration/agent/stream/httpjson.yml.hbs
  packages/bitdefender/data_stream/push_configuration/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/data_stream/push_configuration/manifest.yml
  packages/bitdefender/data_stream/push_configuration/sample_event.json
  packages/bitdefender/data_stream/push_statistics/_dev/test/system/test-default-config.yml
  packages/bitdefender/data_stream/push_statistics/agent/stream/cel.yml.hbs
  packages/bitdefender/data_stream/push_statistics/agent/stream/httpjson.yml.hbs
  packages/bitdefender/data_stream/push_statistics/elasticsearch/ingest_pipeline/default.yml
  packages/bitdefender/data_stream/push_statistics/manifest.yml
  packages/bitdefender/data_stream/push_statistics/sample_event.json
  packages/bitdefender/docs/README.md
  packages/bitdefender/manifest.yml
Labels: documentation, enhancement, Integration:bitdefender, Team:Security-Service Integrations

#14575 [prometheus_input] Update docs to include information about SSL configuration options
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/docs/README.md
  packages/prometheus_input/manifest.yml
Labels: documentation, Team:Obs-InfraObs, Integration:prometheus_input

#14751 [DOCS] Add instructions to collect AWS CloudWatch specific metrics
  packages/aws/_dev/build/docs/cloudwatch.md
  packages/aws/docs/cloudwatch.md
Labels: documentation, enhancement, Integration:aws, Team:obs-ds-hosted-services

#14770 Add discovery datasets field to system_otel
  packages/system_otel/changelog.yml
  packages/system_otel/manifest.yml
Labels: enhancement, Integration:system_otel

#13958 NGINX OTEL Content Pack
  .github/CODEOWNERS
  packages/nginx_otel/changelog.yml
  packages/nginx_otel/docs/README.md
  packages/nginx_otel/img/logo_nginx.svg
  packages/nginx_otel/img/nginx_otel_metrics.png
  packages/nginx_otel/kibana/dashboard/nginx_otel-0fbba4c5-8ae3-4d8e-aadc-cc9ba3fde5ba.json
  packages/nginx_otel/manifest.yml
Labels: documentation, dashboard, New Integration

#14817 [Elastic Security] Update alert index in README.md
  packages/elastic_security/_dev/build/docs/README.md
  packages/elastic_security/changelog.yml
  packages/elastic_security/docs/README.md
  packages/elastic_security/manifest.yml
Labels: bug, documentation, Team:Security-Service Integrations, Integration:elastic_security

#14818 Generalize install instructions to adapt to ai4soc project
  packages/elastic_security/_dev/build/docs/README.md
  packages/elastic_security/changelog.yml
  packages/elastic_security/docs/README.md
  packages/elastic_security/manifest.yml
  packages/google_secops/_dev/build/docs/README.md
  packages/google_secops/changelog.yml
  packages/google_secops/docs/README.md
  packages/google_secops/manifest.yml
  packages/microsoft_sentinel/_dev/build/docs/README.md
  packages/microsoft_sentinel/changelog.yml
  packages/microsoft_sentinel/docs/README.md
  packages/microsoft_sentinel/manifest.yml
  packages/splunk/_dev/build/docs/README.md
  packages/splunk/changelog.yml
  packages/splunk/docs/README.md
  packages/splunk/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:microsoft_sentinel, Integration:google_secops, Integration:splunk, Integration:elastic_security

#14664 [wiz] Add Filters to Retrieve all Types of Vulnerabilities
  packages/wiz/changelog.yml
  packages/wiz/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/wiz/data_stream/vulnerability/manifest.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Team:Security-Service Integrations, Team:Sit-Crest

#14829 [Security Rules] Update security rules package to v8.19.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14791 [qualys_vmdr] Update the logic for populating the vulnerability.* fields
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection-events.json-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: documentation, bugfix, Integration:qualys_vmdr, Team:Security-Service Integrations, Team:Sit-Crest, Category: CDR

#14831 [Security Rules] Update security rules package to v9.0.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14464 [cisco_ios] Add Dissect and Grok patterns for IPACCESSLOGP logs with Event Code Trimming
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: enhancement, Integration:cisco_ios, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Sit-Crest

#14793 [Cloud Security] Cast GCP and azure project/client IDs as strings
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/agent/stream/gcp.yml.hbs
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture, bugfix

#14771 [o365] Surface credential or subscription errors in Fleet status
  packages/o365/_dev/deploy/docker/config.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/system/test-cel-bad-creds-config.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#14792 [Jolokia Input] Update Documentation
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/docs/README.md
  packages/jolokia_input/manifest.yml
Labels: documentation, Team:Obs-InfraObs, Integration:jolokia_input

#14815 [sql_input] backport sql_input 0.6 to be visible in kibana 9.0.0
  packages/sql_input/_dev/deploy/docker/docker-compose.yml
  packages/sql_input/changelog.yml
  packages/sql_input/manifest.yml
Labels: Team:Obs-InfraObs, Integration:sql_input

#14827 [sql_input] add v0.6.1 to changelog (backported)
  packages/sql_input/changelog.yml
Labels: Team:Obs-InfraObs, Integration:sql_input, backport

#14691 [AWSFirehose] New ingest pipeline for firehose
  packages/awsfirehose/_dev/build/docs/README.md
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/awsfirehose/docs/README.md
  packages/awsfirehose/img/amazonfirehose.png
  packages/awsfirehose/manifest.yml
Labels: documentation, Integration:awsfirehose, Team:obs-ds-hosted-services

#14845 [AWS Firehose] Firehose link for changelog
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/manifest.yml
Labels: Integration:awsfirehose, Team:obs-ds-hosted-services

#14851 crowdstrike: add basic policy tests
  packages/crowdstrike/data_stream/alert/_dev/test/policy/test-default.expected
  packages/crowdstrike/data_stream/alert/_dev/test/policy/test-default.yml
  packages/crowdstrike/data_stream/alert/_dev/test/policy/test-traced.expected
  packages/crowdstrike/data_stream/alert/_dev/test/policy/test-traced.yml
  packages/crowdstrike/data_stream/alert/agent/stream/cel.yml.hbs
  packages/crowdstrike/data_stream/falcon/_dev/test/policy/test-default.expected
  packages/crowdstrike/data_stream/falcon/_dev/test/policy/test-default.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/policy/test-streaming.expected
  packages/crowdstrike/data_stream/falcon/_dev/test/policy/test-streaming.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/policy/test-default.expected
  packages/crowdstrike/data_stream/fdr/_dev/test/policy/test-default.yml
  packages/crowdstrike/data_stream/host/_dev/test/policy/test-default.expected
  packages/crowdstrike/data_stream/host/_dev/test/policy/test-default.yml
  packages/crowdstrike/data_stream/vulnerability/_dev/test/policy/test-default.expected
  packages/crowdstrike/data_stream/vulnerability/_dev/test/policy/test-default.yml
  packages/crowdstrike/data_stream/vulnerability/_dev/test/policy/test-traced.expected
  packages/crowdstrike/data_stream/vulnerability/_dev/test/policy/test-traced.yml
  packages/crowdstrike/data_stream/vulnerability/agent/stream/cel.yml.hbs
Labels: enhancement, Integration:crowdstrike, Category: Integration quality, Team:Security-Service Integrations

#14218 [elastic_agent] update dashboards
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-92846340-95ab-11ee-8ec1-093013efb0e3.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-ea44c820-95cb-11ee-b517-0550321b54cc.json
  packages/elastic_agent/kibana/dashboard/elastic_agent-f16b4870-9811-11ee-80a4-550241a842c0.json
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent, dashboard, Integration:elastic_agent, Team:Elastic-Agent-Data-Plane

#14769 Add `fips_compatible` flag to Azure * packages
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/manifest.yml
  packages/azure_app_service/changelog.yml
  packages/azure_app_service/manifest.yml
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/manifest.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/manifest.yml
  packages/azure_functions/changelog.yml
  packages/azure_functions/manifest.yml
  packages/azure_logs/changelog.yml
  packages/azure_logs/manifest.yml
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/manifest.yml
  packages/azure_openai/changelog.yml
  packages/azure_openai/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:azure_metrics, Integration:azure_app_service, Integration:azure_application_insights, Integration:azure_billing, Integration:azure_functions, Integration:azure_openai, Team:obs-ds-hosted-services, Integration:azure_logs, Integration:azure_ai_foundry

#14763 [ti_google_threat_intelligence] Resize metric panels on IOC-related dashboards
  packages/ti_google_threat_intelligence/changelog.yml
  packages/ti_google_threat_intelligence/data_stream/cryptominer/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/first_stage_delivery_vectors/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/infostealer/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/ioc_stream/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/iot/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/linux/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/malicious_network_infrastructure/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/malware/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/mobile/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/osx/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/phishing/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/ransomware/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/threat_actor/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/trending/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/vulnerability_weaponization/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/elasticsearch/transform/domain_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/domain_ioc_st/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/file_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/file_ioc_st/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/ip_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/ip_ioc_st/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/rule/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/rule_ioc_st/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/url_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/url_ioc_st/transform.yml
  packages/ti_google_threat_intelligence/img/ioc_stream_overview_dashboard.png
  packages/ti_google_threat_intelligence/img/ioc_stream_threat_intelligence_dashboard.png
  packages/ti_google_threat_intelligence/kibana/dashboard/ti_google_threat_intelligence-55f5f53b-343e-4095-b61f-1089a5273d84.json
  packages/ti_google_threat_intelligence/kibana/dashboard/ti_google_threat_intelligence-fb3daf8e-b45b-4fd9-bf94-dbaf96fcfb67.json
  packages/ti_google_threat_intelligence/kibana/security_rule/05b83871-a7af-494f-b1cf-be4b20ac4a86.json
  packages/ti_google_threat_intelligence/kibana/security_rule/1e6b8753-550a-401e-bffd-06f085f3e658.json
  packages/ti_google_threat_intelligence/kibana/security_rule/36b2cd30-34ae-46c4-993e-a370ea059692.json
  packages/ti_google_threat_intelligence/kibana/security_rule/378bd5c1-04ab-4048-a7ba-d25c3e1e3585.json
  packages/ti_google_threat_intelligence/kibana/security_rule/5bd95a46-10e3-4bb9-9c0e-4d7493e359ac.json
  packages/ti_google_threat_intelligence/kibana/security_rule/677c4a0c-d433-48c4-b465-4bab3d0b1755.json
  packages/ti_google_threat_intelligence/kibana/security_rule/9b852169-e461-453a-b42f-1cf9ca6594bc.json
  packages/ti_google_threat_intelligence/kibana/security_rule/b31e8055-8985-4a06-a7e0-4c1b650ade87.json
  packages/ti_google_threat_intelligence/manifest.yml
Labels: dashboard, bugfix, Crest, Team:Security-Service Integrations, Integration:ti_google_threat_intelligence

#14799 amazon_security_lake: tolerate non-ISO8601 in time_dt timestamps
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_findings.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_identity_and_access_management.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_network_activity.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_system_activity.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_actor.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_device.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_file.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_process.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_system_activity_helper.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_tls.yml
  packages/amazon_security_lake/manifest.yml
Labels: enhancement, Integration:amazon_security_lake, Team:Security-Service Integrations

#14760 [proofpoint_on_demand] add keep_alive and keep_alive_interval config options
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/proofpoint_on_demand/data_stream/audit/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/audit/manifest.yml
  packages/proofpoint_on_demand/data_stream/mail/_dev/test/system/test-default-config.yml
  packages/proofpoint_on_demand/data_stream/mail/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/mail/manifest.yml
  packages/proofpoint_on_demand/data_stream/message/_dev/test/system/test-default-config.yml
  packages/proofpoint_on_demand/data_stream/message/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/message/manifest.yml
  packages/proofpoint_on_demand/manifest.yml
Labels: enhancement, integration, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#14842 Make Jolokia Input Package GA
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/docs/README.md
  packages/jolokia_input/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:jolokia_input

#14774 ti_abusech: Update readme content and UI layout
  packages/ti_abusech/_dev/build/docs/README.md
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/ja3_fingerprints/manifest.yml
  packages/ti_abusech/data_stream/malware/manifest.yml
  packages/ti_abusech/data_stream/malwarebazaar/manifest.yml
  packages/ti_abusech/data_stream/sslblacklist/manifest.yml
  packages/ti_abusech/data_stream/threatfox/manifest.yml
  packages/ti_abusech/data_stream/url/manifest.yml
  packages/ti_abusech/docs/README.md
  packages/ti_abusech/kibana/dashboard/ti_abusech-2457fb50-3bc3-11ec-ae8c-7d00429ad420.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-6a90c980-3b32-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/dashboard/ti_abusech-c0d8d1f0-3b20-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/tag/ti_abusech-73511520-3b32-11ec-ae50-2fdf1e96c6a6.json
  packages/ti_abusech/kibana/tag/ti_abusech-security-solution-default.json
  packages/ti_abusech/manifest.yml
Labels: documentation, enhancement, dashboard, Integration:ti_abusech, Category: Integration quality, Team:Security-Service Integrations

#14885 microsoft_defender_endpoint: add SSL configuration for log data stream
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/log/manifest.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Integration:microsoft_defender_endpoint, Team:Security-Service Integrations

#14834 [sentinel_one] Add Support for Application Data Stream
  packages/sentinel_one/_dev/build/docs/README.md
  packages/sentinel_one/_dev/deploy/docker/files/config.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/application/_dev/test/pipeline/test-common-config.yml
  packages/sentinel_one/data_stream/application/_dev/test/pipeline/test-pipeline-application.log
  packages/sentinel_one/data_stream/application/_dev/test/pipeline/test-pipeline-application.log-expected.json
  packages/sentinel_one/data_stream/application/_dev/test/system/test-default-config.yml
  packages/sentinel_one/data_stream/application/agent/stream/cel.yml.hbs
  packages/sentinel_one/data_stream/application/elasticsearch/ilm/default_policy.json
  packages/sentinel_one/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/application/fields/base-fields.yml
  packages/sentinel_one/data_stream/application/fields/beats.yml
  packages/sentinel_one/data_stream/application/fields/fields.yml
  packages/sentinel_one/data_stream/application/lifecycle.yml
  packages/sentinel_one/data_stream/application/manifest.yml
  packages/sentinel_one/data_stream/application/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/elasticsearch/transform/latest_application/fields/base-fields.yml
  packages/sentinel_one/elasticsearch/transform/latest_application/fields/beats.yml
  packages/sentinel_one/elasticsearch/transform/latest_application/fields/fields.yml
  packages/sentinel_one/elasticsearch/transform/latest_application/fields/is-transform-source-false.yml
  packages/sentinel_one/elasticsearch/transform/latest_application/manifest.yml
  packages/sentinel_one/elasticsearch/transform/latest_application/transform.yml
  packages/sentinel_one/img/sentinel-one-application-dashboard.png
  packages/sentinel_one/kibana/dashboard/sentinel_one-acd472d9-a6b7-4a53-a58d-06c315764c8d.json
  packages/sentinel_one/manifest.yml
Labels: documentation, enhancement, dashboard, Integration:sentinel_one, Team:Security-Service Integrations, Team:Sit-Crest

#14892 [cisco_ftd] Include NAT IPs and ports from security event messages
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Integration:cisco_ftd, Team:Integration-Experience

#14729 [mysql_otel] MySQL OpenTelemetry Content Pack
  .github/CODEOWNERS
  packages/mysql_otel/LICENSE.txt
  packages/mysql_otel/changelog.yml
  packages/mysql_otel/docs/README.md
  packages/mysql_otel/img/logo_mysql_otel.svg
  packages/mysql_otel/img/mysql_otel_metrics.png
  packages/mysql_otel/img/mysql_otel_metrics_2.png
  packages/mysql_otel/img/mysql_otel_replica_metrics.png
  packages/mysql_otel/kibana/dashboard/mysql_otel-73691849-6ca6-461b-b37a-b8b0d7d3d0a5.json
  packages/mysql_otel/kibana/dashboard/mysql_otel-7c507653-ae7c-4e3f-93ea-5a6121e28c16.json
  packages/mysql_otel/manifest.yml
Labels: documentation, dashboard, New Integration, Team:Obs-InfraObs

#14644 [qualys_gav] Initial release of the Qualys GAV
  .github/CODEOWNERS
  packages/qualys_gav/_dev/build/build.yml
  packages/qualys_gav/_dev/build/docs/README.md
  packages/qualys_gav/_dev/deploy/docker/docker-compose.yml
  packages/qualys_gav/_dev/deploy/docker/files/config.yml
  packages/qualys_gav/changelog.yml
  packages/qualys_gav/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/qualys_gav/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/qualys_gav/data_stream/asset/_dev/test/pipeline/test-common-config.yml
  packages/qualys_gav/data_stream/asset/_dev/test/system/test-default-config.yml
  packages/qualys_gav/data_stream/asset/agent/stream/cel.yml.hbs
  packages/qualys_gav/data_stream/asset/elasticsearch/ilm/default_policy.json
  packages/qualys_gav/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_gav/data_stream/asset/fields/base-fields.yml
  packages/qualys_gav/data_stream/asset/fields/beats.yml
  packages/qualys_gav/data_stream/asset/fields/fields.yml
  packages/qualys_gav/data_stream/asset/fields/is-transform-source-true.yml
  packages/qualys_gav/data_stream/asset/lifecycle.yml
  packages/qualys_gav/data_stream/asset/manifest.yml
  packages/qualys_gav/data_stream/asset/sample_event.json
  packages/qualys_gav/docs/README.md
  packages/qualys_gav/elasticsearch/transform/latest_asset/fields/base-fields.yml
  packages/qualys_gav/elasticsearch/transform/latest_asset/fields/beats.yml
  packages/qualys_gav/elasticsearch/transform/latest_asset/fields/ecs.yml
  packages/qualys_gav/elasticsearch/transform/latest_asset/fields/fields.yml
  packages/qualys_gav/elasticsearch/transform/latest_asset/fields/is-transform-source-false.yml
  packages/qualys_gav/elasticsearch/transform/latest_asset/manifest.yml
  packages/qualys_gav/elasticsearch/transform/latest_asset/transform.yml
  packages/qualys_gav/img/qualys_gav-asset.png
  packages/qualys_gav/img/qualys_gav-logo.svg
  packages/qualys_gav/kibana/dashboard/qualys_gav-e7e0529f-6cb1-4b01-b5f8-568cfb07c306.json
  packages/qualys_gav/manifest.yml
Labels: documentation, dashboard, New Integration, Crest, Integration:qualys_gav

#14899 qualys_vmdr: implement X-RateLimit header handling
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/user_activity/agent/stream/cel.yml.hbs
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#14838 [apache] OTel Content pack
  .github/CODEOWNERS
  packages/apache_otel/LICENSE.txt
  packages/apache_otel/changelog.yml
  packages/apache_otel/docs/README.md
  packages/apache_otel/img/apache_otel_metrics.png
  packages/apache_otel/img/logo_apache.svg
  packages/apache_otel/kibana/dashboard/apache_otel-b536d9d2-90f0-4177-a92e-adbe6e12427d.json
  packages/apache_otel/manifest.yml
Labels: documentation, enhancement, dashboard, New Integration, Team:Obs-InfraObs, Integration:apache_otel

#14924 feat(o365): add support for configurable oauth2 endpoint params
  packages/o365/_dev/deploy/docker/config.yml
  packages/o365/_dev/deploy/docker/docker-compose.yml
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/system/test-grant-type-refresh-token-config.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#14926 Enhance Azure platformlogs ingest pipeline for function app logs
  packages/azure/changelog.yml
  packages/azure/data_stream/auditlogs/fields/fields.yml
  packages/azure/data_stream/events/manifest.yml
  packages/azure/data_stream/firewall_logs/fields/ecs.yml
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-edgecases.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-functionapp.log
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-functionapp.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-identity-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-identity.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-json-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-invalid-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-kube.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-raw.log-expected.json
  packages/azure/data_stream/platformlogs/_dev/test/pipeline/test-platformlogs-remote-raw.log-expected.json
  packages/azure/data_stream/platformlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/platformlogs/fields/fields.yml
  packages/azure/data_stream/signinlogs/fields/fields.yml
  packages/azure/docs/platformlogs.md
  packages/azure/manifest.yml
Labels: documentation, Integration:azure, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#14932 o365: reduce code complexity, repeated work and garbage generation
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#14939 trend_micro_vision_one: Support UNIX_MS date format in detection data stream
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Integration:trend_micro_vision_one, Team:Security-Service Integrations

#14944 o365: tolerate string JSON encodings of objects in Actions field
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-airinvestigation.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-airinvestigation.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#14908 ti_abusech: Add policy tests
  packages/ti_abusech/data_stream/ja3_fingerprints/_dev/test/policy/test-all.expected
  packages/ti_abusech/data_stream/ja3_fingerprints/_dev/test/policy/test-all.yml
  packages/ti_abusech/data_stream/ja3_fingerprints/_dev/test/policy/test-default.expected
  packages/ti_abusech/data_stream/ja3_fingerprints/_dev/test/policy/test-default.yml
  packages/ti_abusech/data_stream/malware/_dev/test/policy/test-all.expected
  packages/ti_abusech/data_stream/malware/_dev/test/policy/test-all.yml
  packages/ti_abusech/data_stream/malware/_dev/test/policy/test-default.expected
  packages/ti_abusech/data_stream/malware/_dev/test/policy/test-default.yml
  packages/ti_abusech/data_stream/malware/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/policy/test-all.expected
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/policy/test-all.yml
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/policy/test-default.expected
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/policy/test-default.yml
  packages/ti_abusech/data_stream/malwarebazaar/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/sslblacklist/_dev/test/policy/test-all.expected
  packages/ti_abusech/data_stream/sslblacklist/_dev/test/policy/test-all.yml
  packages/ti_abusech/data_stream/sslblacklist/_dev/test/policy/test-default.expected
  packages/ti_abusech/data_stream/sslblacklist/_dev/test/policy/test-default.yml
  packages/ti_abusech/data_stream/threatfox/_dev/test/policy/test-all.expected
  packages/ti_abusech/data_stream/threatfox/_dev/test/policy/test-all.yml
  packages/ti_abusech/data_stream/threatfox/_dev/test/policy/test-default.expected
  packages/ti_abusech/data_stream/threatfox/_dev/test/policy/test-default.yml
  packages/ti_abusech/data_stream/threatfox/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/url/_dev/test/policy/test-all.expected
  packages/ti_abusech/data_stream/url/_dev/test/policy/test-all.yml
  packages/ti_abusech/data_stream/url/_dev/test/policy/test-default.expected
  packages/ti_abusech/data_stream/url/_dev/test/policy/test-default.yml
  packages/ti_abusech/data_stream/url/agent/stream/cel.yml.hbs
Labels: Integration:ti_abusech, Category: Integration quality, Team:Security-Service Integrations

#14958 fix(aws.config): handle empty DescribeConfigRules responses
  packages/aws/changelog.yml
  packages/aws/data_stream/config/_dev/deploy/docker/files/config.yml
  packages/aws/data_stream/config/agent/stream/cel.yml.hbs
  packages/aws/data_stream/config/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Integration:aws, bugfix, Team:Security-Service Integrations

#14968 [Security Rules] Update security rules package to v8.18.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14957 Missing ELASTIC_PACKAGE_ELASTICSEARCH_API_KEY in description
  docs/extend/elastic-package.md
Labels: documentation

#14937 Review the Microsoft Office 365 Metrics Integration documentation
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#14935 sailpoint_identity_sc: make API version configurable and fix search endpoint format
  packages/sailpoint_identity_sc/_dev/build/docs/README.md
  packages/sailpoint_identity_sc/_dev/deploy/docker/files/config.yml
  packages/sailpoint_identity_sc/changelog.yml
  packages/sailpoint_identity_sc/data_stream/events/_dev/test/system/test-default-config.yml
  packages/sailpoint_identity_sc/data_stream/events/agent/stream/cel.yml.hbs
  packages/sailpoint_identity_sc/docs/README.md
  packages/sailpoint_identity_sc/manifest.yml
Labels: documentation, enhancement, bugfix, Team:Security-Service Integrations, Integration:sailpoint_identity_sc

#14959 fix(azure.eventhub): handles properties as string and drops empty fields
  packages/azure/changelog.yml
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-dropemptyfields-raw.log
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-dropemptyfields-raw.log-config.yml
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-dropemptyfields-raw.log-expected.json
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-properties-raw.log
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-properties-raw.log-config.yml
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-properties-raw.log-expected.json
  packages/azure/data_stream/eventhub/_dev/test/pipeline/test-eventhub-raw.log-expected.json
  packages/azure/data_stream/eventhub/elasticsearch/ingest_pipeline/parsed-message.yml
  packages/azure/data_stream/eventhub/fields/package-fields.yml
  packages/azure/docs/eventhub.md
  packages/azure/manifest.yml
Labels: documentation, Integration:azure, bugfix, Team:obs-ds-hosted-services

#14987 fix(beyondinsight_password_safe): remove cookies on auth failure
  packages/beyondinsight_password_safe/changelog.yml
  packages/beyondinsight_password_safe/data_stream/managedaccount/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/managedsystem/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/session/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/useraudit/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:beyondinsight_password_safe

#14990 okta: fix missing boolean negation
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/manifest.yml
Labels: Integration:okta, bugfix, Team:Security-Service Integrations

#12654 Inital PR for WMI Input Package
  .github/CODEOWNERS
  packages/wmi/LICENSE.txt
  packages/wmi/_dev/build/build.yml
  packages/wmi/agent/input/input.yml.hbs
  packages/wmi/changelog.yml
  packages/wmi/docs/README.md
  packages/wmi/fields/base-fields.yml
  packages/wmi/img/logo_windows.svg
  packages/wmi/manifest.yml
Labels: documentation, New Integration

#14917 Update the Integrations doc guidelines to reflect the new template
  docs/extend/documentation-guidelines.md
Labels: documentation, enhancement

#14672 [microsoft_dnsserver] Adapt to support new ETW events.
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-events.json
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/analytical/agent/stream/etw.yml.hbs
  packages/microsoft_dnsserver/data_stream/analytical/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/data_stream/analytical/fields/winlog.yml
  packages/microsoft_dnsserver/data_stream/analytical/manifest.yml
  packages/microsoft_dnsserver/docs/README.md
  packages/microsoft_dnsserver/manifest.yml
Labels: documentation, enhancement, Team:Security-Windows Platform, Integration:microsoft_dnsserver

#14891 [windows] Only try to extract extension when there is a dot in the file name in defender data stream.
  packages/windows/changelog.yml
  packages/windows/data_stream/windows_defender/elasticsearch/ingest_pipeline/default.yml
  packages/windows/manifest.yml
Labels: Integration:windows, bugfix, Team:Security-Windows Platform

#15000 splunk: use config auth instead of manual header handling
  packages/splunk/changelog.yml
  packages/splunk/data_stream/alert/agent/stream/cel.yml.hbs
  packages/splunk/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:splunk

#15005 [prisma_access] Handle Malformed URL and Parsing Issue
  packages/prisma_access/_dev/deploy/docker/sample_logs/prisma_access.log
  packages/prisma_access/changelog.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/prisma_access/data_stream/event/_dev/test/system/test-tcp-config.yml
  packages/prisma_access/data_stream/event/agent/stream/tcp.yml.hbs
  packages/prisma_access/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_access/data_stream/event/fields/fields.yml
  packages/prisma_access/data_stream/event/sample_event.json
  packages/prisma_access/docs/README.md
  packages/prisma_access/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:prisma_access, Team:Sit-Crest

#15019 [crowdstrike] Added a conditional JSON parsing workaround for ResourceAttributes
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#14983 [Cisco FTD] added pattern for 313005 input type for unknown
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:cisco_ftd, bugfix, Team:Integration-Experience

#14557 [extrahop][Detection] Initial release of the extrahop
  .github/CODEOWNERS
  packages/extrahop/_dev/build/build.yml
  packages/extrahop/_dev/build/docs/README.md
  packages/extrahop/_dev/deploy/docker/docker-compose.yml
  packages/extrahop/_dev/deploy/docker/files/config.yml
  packages/extrahop/changelog.yml
  packages/extrahop/data_stream/detection/_dev/test/pipeline/test-common-config.yml
  packages/extrahop/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log
  packages/extrahop/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/extrahop/data_stream/detection/_dev/test/system/test-common-config.yml
  packages/extrahop/data_stream/detection/agent/stream/cel.yml.hbs
  packages/extrahop/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/extrahop/data_stream/detection/fields/base-fields.yml
  packages/extrahop/data_stream/detection/fields/beats.yml
  packages/extrahop/data_stream/detection/fields/ecs.yml
  packages/extrahop/data_stream/detection/fields/fields.yml
  packages/extrahop/data_stream/detection/fields/is-transform-source-true.yml
  packages/extrahop/data_stream/detection/manifest.yml
  packages/extrahop/data_stream/detection/sample_event.json
  packages/extrahop/docs/README.md
  packages/extrahop/elasticsearch/transform/latest_detection/fields/base-fields.yml
  packages/extrahop/elasticsearch/transform/latest_detection/fields/beats.yml
  packages/extrahop/elasticsearch/transform/latest_detection/fields/ecs.yml
  packages/extrahop/elasticsearch/transform/latest_detection/fields/fields.yml
  packages/extrahop/elasticsearch/transform/latest_detection/fields/is-transform-source-false.yml
  packages/extrahop/elasticsearch/transform/latest_detection/manifest.yml
  packages/extrahop/elasticsearch/transform/latest_detection/transform.yml
  packages/extrahop/img/detection-dashboard.png
  packages/extrahop/img/extrahop-logo.svg
  packages/extrahop/kibana/dashboard/extrahop-0987a5a3-15cb-4579-b298-08d170e7cb01.json
  packages/extrahop/kibana/search/extrahop-d2c0d7c5-4e87-4141-a8e4-63fc832bf6b6.json
  packages/extrahop/manifest.yml
  packages/extrahop/validation.yml
Labels: documentation, dashboard, New Integration, Crest, Team:Security-Service Integrations, Integration:extrahop

#15032 [O365 Metrics] Fix supported range for `initial_interval` and `sync_days`
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/groups_activity_group_detail/manifest.yml
  packages/o365_metrics/data_stream/onedrive_usage_account_detail/manifest.yml
  packages/o365_metrics/data_stream/teams_user_activity_user_detail/manifest.yml
  packages/o365_metrics/data_stream/viva_engage_groups_activity_group_detail/manifest.yml
  packages/o365_metrics/manifest.yml
Labels: Integration:o365_metrics

#14402 [beelzebub] Improve log event handling
  packages/beelzebub/_dev/deploy/docker/sample_logs/logs-ndjson.log
  packages/beelzebub/changelog.yml
  packages/beelzebub/data_stream/logs/_dev/test/pipeline/test-common-config.yml
  packages/beelzebub/data_stream/logs/_dev/test/pipeline/test-logs-ndjson.log
  packages/beelzebub/data_stream/logs/_dev/test/pipeline/test-logs-ndjson.log-expected.json
  packages/beelzebub/data_stream/logs/_dev/test/system/test-filestream-config.yml
  packages/beelzebub/data_stream/logs/_dev/test/system/test-http_endpoint-config.yml
  packages/beelzebub/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/beelzebub/data_stream/logs/fields/fields.yml
  packages/beelzebub/docs/README.md
  packages/beelzebub/manifest.yml
Labels: documentation, enhancement, Team:Security-Service Integrations, Integration:beelzebub

#15024 Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#15026 cel: add missing resource timeout template snippet and improve docs
  packages/cel/_dev/test/system/test-basic-auth-config.yml
  packages/cel/_dev/test/system/test-get-config.yml
  packages/cel/_dev/test/system/test-oauth-config.yml
  packages/cel/_dev/test/system/test-oauth-scope-config.yml
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, bugfix, Integration:cel, Team:Security-Service Integrations

#14916 [Crowdstrike] Populate `message` field from `crowdstrike.event_simpleName` field for FDR data stream
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-linux.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-macos.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-windows.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations, Team:Sit-Crest

#15018 [Docs] update quick start public docs
  docs/extend/quick-start.md
Labels: documentation

#15052 [Elastic Agent] use `component.id` instead of `elastic_agent.process` in memory visualisations
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/manifest.yml
Labels: enhancement, Team:Elastic-Agent, dashboard, Integration:elastic_agent, Team:Elastic-Agent-Data-Plane

#15062 conduct: fix markdown
  CODE_OF_CONDUCT.md
Labels: documentation

#15044 [Github] harmonise appearance of dashboards
  packages/github/changelog.yml
  packages/github/img/github-advance_security-dashboard.png
  packages/github/img/github-audit-dashboard.png
  packages/github/img/github-code_scanning-dashboard.png
  packages/github/img/github-dependabot-dashboard.png
  packages/github/img/github-issues-dashboard.png
  packages/github/img/github-secret_scanning-dashboard.png
  packages/github/img/github-security_advisories-dashboard.png
  packages/github/img/github-user-dashboard.png
  packages/github/kibana/dashboard/github-4da91aa0-12fc-11ed-af77-016e1a977d80.json
  packages/github/kibana/dashboard/github-591d69e0-17b6-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-6197be80-220c-11ed-88c4-e3caca48250a.json
  packages/github/kibana/dashboard/github-6a6d7c40-17ab-11ed-809a-7b4be950fe9c.json
  packages/github/kibana/dashboard/github-8bfd8310-205c-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/dashboard/github-dcee84c0-2059-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/dashboard/github-e6726e8d-0a94-4917-978a-b5a762b39ee5.json
  packages/github/kibana/dashboard/github-f0104680-ae18-11ed-83fa-df5d96a45724.json
  packages/github/kibana/search/github-173f1050-20ae-11ec-8b10-11a4c5e322a0.json
  packages/github/kibana/search/github-8c37be30-872a-46e9-b530-73f0f2e8f5c0.json
  packages/github/kibana/tag/github-security-solution-default.json
  packages/github/manifest.yml
Labels: enhancement, dashboard, Integration:github, Team:Security-Service Integrations, Team:Sit-Crest

#15042 [ti_greynoise] Update data collection endpoint
  packages/ti_greynoise/_dev/deploy/docker/files/config.yml
  packages/ti_greynoise/changelog.yml
  packages/ti_greynoise/data_stream/ip/agent/stream/cel.yml.hbs
  packages/ti_greynoise/data_stream/ip/sample_event.json
  packages/ti_greynoise/docs/README.md
  packages/ti_greynoise/elasticsearch/transform/ip/transform.yml
  packages/ti_greynoise/elasticsearch/transform/rule/transform.yml
  packages/ti_greynoise/manifest.yml
Labels: documentation, enhancement, Crest, Team:Security-Service Integrations, Integration:ti_greynoise

#15046 [Jamf Protect 3.2.0] Enhancements to process mapping
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/data_stream/telemetry/_dev/test/pipeline/test-jamf-protect-telemetry-sample-logs.log
  packages/jamf_protect/data_stream/telemetry/_dev/test/pipeline/test-jamf-protect-telemetry-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_authentication.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_btm_launch_item_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_btm_launch_item_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_exec.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_network_connect.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_attribute_set.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_attribute_value_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_attribute_value_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_create_group.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_create_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_delete_group.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_delete_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_disable_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_enable_user.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_group_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_group_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_group_set.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_od_modify_password.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_profile_add.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_profile_remove.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_event_tcc_modify.yml
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/pipeline_object_process.yml
  packages/jamf_protect/data_stream/telemetry/fields/ecs.yml
  packages/jamf_protect/data_stream/telemetry/sample_event.json
  packages/jamf_protect/data_stream/telemetry_legacy/sample_event.json
  packages/jamf_protect/data_stream/web_threat_events/sample_event.json
  packages/jamf_protect/data_stream/web_traffic_events/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: documentation, Team:Security-Service Integrations, Integration:jamf_protect

#14554 Kubernetes.audit_logs: add support for cloud providers
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/_dev/build/docs/audit-logs.md
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/audit_logs/_dev/test/pipeline/test-audit.log
  packages/kubernetes/data_stream/audit_logs/_dev/test/pipeline/test-audit.log-config.yml
  packages/kubernetes/data_stream/audit_logs/_dev/test/pipeline/test-audit.log-expected.json
  packages/kubernetes/data_stream/audit_logs/agent/stream/aws-cloudwatch.yml.hbs
  packages/kubernetes/data_stream/audit_logs/agent/stream/azure-eventhub.yml.hbs
  packages/kubernetes/data_stream/audit_logs/agent/stream/gcp-pubsub.yml.hbs
  packages/kubernetes/data_stream/audit_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/kubernetes/data_stream/audit_logs/fields/ecs.yml
  packages/kubernetes/data_stream/audit_logs/fields/fields.yml
  packages/kubernetes/data_stream/audit_logs/manifest.yml
  packages/kubernetes/docs/README.md
  packages/kubernetes/docs/audit-logs.md
  packages/kubernetes/manifest.yml
Labels: documentation, enhancement, Integration:kubernetes, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#15017 snyk: accept undocumented behaviour that the API has
  packages/snyk/changelog.yml
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-snyk-issues.json
  packages/snyk/data_stream/issues/_dev/test/pipeline/test-snyk-issues.json-expected.json
  packages/snyk/data_stream/issues/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/data_stream/issues/fields/fields.yml
  packages/snyk/docs/README.md
  packages/snyk/manifest.yml
Labels: documentation, enhancement, Integration:snyk, Team:Security-Service Integrations

#14592 [linux] require root privileges for pageinfo
  packages/linux/changelog.yml
  packages/linux/data_stream/pageinfo/manifest.yml
  packages/linux/manifest.yml
Labels: Integration:linux, Team:Elastic-Agent-Data-Plane, bugfix

#15096 [O365 Metrics] Make O365 Metrics integration GA
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#15100 [symantec_endpoint_security] Fix loss of state in error case
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/incident/agent/stream/cel.yml.hbs
  packages/symantec_endpoint_security/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:symantec_endpoint_security
