Repository elastic/integrations, pull requests merged in 2025-04, with the labels that each got.

#12682 [cisco_asa] parse 'message repeated X times' updated
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-repeat-deny.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-repeat-deny.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/data_stream/log/fields/fields.yml
  packages/cisco_asa/docs/README.md
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, Team:Security-Deployment and Devices

#13344 qualys_vmdr: Update to v3 API for asset and knowledge_base data streams
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/pipeline_knowledge_base.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/fields/fields.yml
  packages/qualys_vmdr/data_stream/knowledge_base/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/knowledge_base/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/knowledge_base/fields/fields.yml
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#12946 A new integration for tencent_cloud_audit_log
  .github/CODEOWNERS
  packages/tencent_cloud/_dev/build/build.yml
  packages/tencent_cloud/_dev/build/docs/README.md
  packages/tencent_cloud/changelog.yml
  packages/tencent_cloud/data_stream/audit/_dev/test/pipeline/test-audit-log.log
  packages/tencent_cloud/data_stream/audit/_dev/test/pipeline/test-audit-log.log-expected.json
  packages/tencent_cloud/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/tencent_cloud/data_stream/audit/agent/stream/aws-s3.yml.hbs
  packages/tencent_cloud/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/tencent_cloud/data_stream/audit/fields/agent.yml
  packages/tencent_cloud/data_stream/audit/fields/base-fields.yml
  packages/tencent_cloud/data_stream/audit/fields/fields.yml
  packages/tencent_cloud/data_stream/audit/manifest.yml
  packages/tencent_cloud/docs/README.md
  packages/tencent_cloud/img/logo.png
  packages/tencent_cloud/img/tencent_cloud_audit_dashboard.png
  packages/tencent_cloud/kibana/dashboard/tencent_cloud-d409e6da-ca03-46eb-9450-19d7a2fdcb51.json
  packages/tencent_cloud/kibana/ml_module/tencent_cloud-Logs-ml.json
  packages/tencent_cloud/kibana/search/tencent_cloud-63599546-8df2-4c55-9ea6-21d92d355cb6.json
  packages/tencent_cloud/kibana/search/tencent_cloud-9faeac68-2942-4fd1-a186-a45087ba6e43.json
  packages/tencent_cloud/kibana/tag/tencent_cloud-fleet-managed-default.json
  packages/tencent_cloud/kibana/tag/tencent_cloud-fleet-pkg-tencent_cloud-default.json
  packages/tencent_cloud/manifest.yml
Labels: dashboard, New Integration, Team:Security-Service Integrations, maintainer:Community

#13371 [Auth0] - Fixed an existing date parsing issue for `auth0.logs` data stream
  packages/auth0/_dev/deploy/docker/files/config-logs.yml
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/_dev/test/system/test-auth0-cel-config.yml
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/data_stream/logs/sample_event.json
  packages/auth0/docs/README.md
  packages/auth0/manifest.yml
Labels: Integration:auth0, bugfix, Team:Security-Service Integrations

#13365 [Kubernetes] Add test coverage for Kubernetes v1.32
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/common.sh
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/docs/README.md
Labels: Integration:kubernetes, Team:obs-ds-hosted-services

#13361 chore: update list of supported kafka versions in README
  packages/kafka/_dev/build/docs/README.md
  packages/kafka/changelog.yml
  packages/kafka/docs/README.md
  packages/kafka/manifest.yml
Labels: enhancement, Integration:kafka, Team:Obs-InfraObs

#13325 crowdstrike: improve ingest pipeline performance
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13346 Cloudflare Logpush - fix SQS worker setting
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/access_request/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/access_request/manifest.yml
  packages/cloudflare_logpush/data_stream/audit/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/audit/manifest.yml
  packages/cloudflare_logpush/data_stream/casb/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/casb/manifest.yml
  packages/cloudflare_logpush/data_stream/device_posture/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/device_posture/manifest.yml
  packages/cloudflare_logpush/data_stream/dns/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/dns/manifest.yml
  packages/cloudflare_logpush/data_stream/dns_firewall/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/dns_firewall/manifest.yml
  packages/cloudflare_logpush/data_stream/firewall_event/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/firewall_event/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_dns/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_http/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_http/manifest.yml
  packages/cloudflare_logpush/data_stream/gateway_network/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/gateway_network/manifest.yml
  packages/cloudflare_logpush/data_stream/http_request/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/http_request/manifest.yml
  packages/cloudflare_logpush/data_stream/magic_ids/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/magic_ids/manifest.yml
  packages/cloudflare_logpush/data_stream/nel_report/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/nel_report/manifest.yml
  packages/cloudflare_logpush/data_stream/network_analytics/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/network_analytics/manifest.yml
  packages/cloudflare_logpush/data_stream/network_session/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/network_session/manifest.yml
  packages/cloudflare_logpush/data_stream/sinkhole_http/manifest.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/spectrum_event/manifest.yml
  packages/cloudflare_logpush/data_stream/workers_trace/agent/stream/aws-s3.yml.hbs
  packages/cloudflare_logpush/data_stream/workers_trace/manifest.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, Team:Security-Service Integrations

#13378 entityanalytics_entra_id: Add "event.original" field when "preserve_original_event" is set.
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-common-config.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-device.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/system/test-default-config.yml
  packages/entityanalytics_entra_id/data_stream/entity/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_entra_id/data_stream/entity/manifest.yml
  packages/entityanalytics_entra_id/data_stream/entity/sample_event.json
  packages/entityanalytics_entra_id/docs/README.md
  packages/entityanalytics_entra_id/manifest.yml
Labels: enhancement, Integration:entityanalytics_entra_id, Team:Security-Service Integrations

#13331 [doc] ti_crowdstrike doc update to setup on IOC scope to add ioc-management:read
  packages/ti_crowdstrike/_dev/build/docs/README.md
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/manifest.yml
Labels: documentation, enhancement, docs, Integration:ti_crowdstrike, Team:Security-Service Integrations

#13389 [Azure OpenAI] Update dashboard images with content filtering link
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_billing.png
  packages/azure_openai/img/azure_open_ai_overview.png
  packages/azure_openai/img/azure_open_ai_ptu_deployment.png
  packages/azure_openai/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:azure_openai

#13375 barracuda_cloudgen_firewall: add mappings for missing fields `apps` and `protos` in firewall events
  packages/barracuda_cloudgen_firewall/_dev/deploy/docker/sample_logs/firewall.ndjson
  packages/barracuda_cloudgen_firewall/changelog.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-firewall.log
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-firewall.log-expected.json
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-threat.log-expected.json
  packages/barracuda_cloudgen_firewall/data_stream/log/_dev/test/pipeline/test-web.log-expected.json
  packages/barracuda_cloudgen_firewall/data_stream/log/elasticsearch/ingest_pipeline/firewall.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/fields/fields.yml
  packages/barracuda_cloudgen_firewall/data_stream/log/sample_event.json
  packages/barracuda_cloudgen_firewall/docs/README.md
  packages/barracuda_cloudgen_firewall/manifest.yml
Labels: enhancement, Integration:barracuda_cloudgen_firewall, Team:Security-Service Integrations

#13362 [Entity Analytics AD] Add config option to set TLS options
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_ad/data_stream/user/manifest.yml
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad, Team:Sit-Crest

#13397 [backport] crowdstrike.fdr: fix condition in date processors
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, backport, Team:Security-Service Integrations

#13399 crowdstrike.fdr: add backport's changelog entry
  packages/crowdstrike/changelog.yml
Labels: Integration:crowdstrike, Team:Security-Service Integrations

#13360 [microsoft_sentinel] Add event.provider and rule.name ecs fields and update event.severity values
  packages/microsoft_sentinel/changelog.yml
  packages/microsoft_sentinel/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/microsoft_sentinel/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/microsoft_sentinel/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sentinel/data_stream/alert/sample_event.json
  packages/microsoft_sentinel/docs/README.md
  packages/microsoft_sentinel/manifest.yml
Labels: Crest, Team:Security-Service Integrations, Integration:microsoft_sentinel

#13342 [AmazonMQ] Add firehose routing rules for ActiveMQ and RabbitMQ metrics
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-mq-metrics.json
  packages/awsfirehose/data_stream/metrics/_dev/test/pipeline/test-mq-metrics.json-expected.json
  packages/awsfirehose/data_stream/metrics/routing_rules.yml
  packages/awsfirehose/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:awsfirehose, Team:obs-ds-hosted-services

#13370 updating disclaimer for aws_cloudwatch logs
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_logs/manifest.yml
  packages/aws/manifest.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#13359 [prisma_cloud] Remove generic vulnerability info from host data stream
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/prisma_cloud/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/data_stream/host/fields/fields.yml
  packages/prisma_cloud/data_stream/host/sample_event.json
  packages/prisma_cloud/docs/README.md
  packages/prisma_cloud/img/prisma_cloud-host-dashboard.png
  packages/prisma_cloud/kibana/dashboard/prisma_cloud-19913580-7495-11ee-9d52-2d0fa627877e.json
  packages/prisma_cloud/kibana/search/prisma_cloud-d140b5e0-771d-11ee-b6b7-396983b7218f.json
  packages/prisma_cloud/manifest.yml
Labels: dashboard, bugfix, Integration:prisma_cloud, Team:Security-Service Integrations

#13358 [Cisco_Meraki] Add ECS Mappings and Grok Pattern to parse DHCP events
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/data_stream/events/_dev/test/pipeline/test-mx-events.json-expected.json
  packages/cisco_meraki/data_stream/events/sample_event.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-airmarshal-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-flows.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-ip-flow.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-security-events.log-expected.json
  packages/cisco_meraki/data_stream/log/_dev/test/pipeline/test-urls.log-expected.json
  packages/cisco_meraki/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/cisco_meraki/data_stream/log/sample_event.json
  packages/cisco_meraki/docs/README.md
  packages/cisco_meraki/manifest.yml
Labels: Integration:cisco_meraki, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13299 Add new data stream entra_app_registrations
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/_dev/deploy/docker/files/config.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/app_registrations/_dev/test/pipeline/test-common-config.yml
  packages/o365_metrics/data_stream/app_registrations/_dev/test/pipeline/test-entra-app.json
  packages/o365_metrics/data_stream/app_registrations/_dev/test/pipeline/test-entra-app.json-expected.json
  packages/o365_metrics/data_stream/app_registrations/_dev/test/system/test-default-config.yml
  packages/o365_metrics/data_stream/app_registrations/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/app_registrations/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/app_registrations/fields/base-fields.yml
  packages/o365_metrics/data_stream/app_registrations/fields/fields.yml
  packages/o365_metrics/data_stream/app_registrations/manifest.yml
  packages/o365_metrics/data_stream/app_registrations/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#13364 [google_workspace] Add data studio event type
  packages/google_workspace/_dev/build/docs/README.md
  packages/google_workspace/_dev/deploy/docker/config.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/data_studio/_dev/test/pipeline/test-common-config.yml
  packages/google_workspace/data_stream/data_studio/_dev/test/pipeline/test-data-studio.log
  packages/google_workspace/data_stream/data_studio/_dev/test/pipeline/test-data-studio.log-expected.json
  packages/google_workspace/data_stream/data_studio/_dev/test/system/test-default-config.yml
  packages/google_workspace/data_stream/data_studio/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/data_studio/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/data_studio/fields/base-fields.yml
  packages/google_workspace/data_stream/data_studio/fields/beats.yml
  packages/google_workspace/data_stream/data_studio/fields/fields.yml
  packages/google_workspace/data_stream/data_studio/fields/package-fields.yml
  packages/google_workspace/data_stream/data_studio/manifest.yml
  packages/google_workspace/data_stream/data_studio/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/img/google-workspace-data-studio-screenshot.png
  packages/google_workspace/kibana/dashboard/google_workspace-0a2bcebc-a1ca-42b6-bb04-6206d8885eec.json
  packages/google_workspace/kibana/dashboard/google_workspace-7b55f304-7a6b-4131-bc36-591e35732394.json
  packages/google_workspace/kibana/search/google_workspace-36dc0c42-4dc3-4df6-8b2a-2ee29f0d22fd.json
  packages/google_workspace/kibana/search/google_workspace-8817b016-61c1-4d10-bdc2-e30e9fd93d4c.json
  packages/google_workspace/kibana/search/google_workspace-b95cf166-2f93-42c0-bf69-6ce3e2309a5b.json
  packages/google_workspace/kibana/tag/google_workspace-security-solution-default.json
  packages/google_workspace/manifest.yml
Labels: enhancement, Integration:google_workspace, dashboard, Team:Security-Service Integrations, Team:Sit-Crest

#13401 update vSphere supported versions in documentation
  packages/vsphere/_dev/build/docs/README.md
  packages/vsphere/changelog.yml
  packages/vsphere/docs/README.md
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#13390 [CSPM] bump cspm prerelease 1.14.0-preview01
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture

#13387 [AmazonMQ] Add a visualisation panel to show general logs in the RabbitMQ overview dashboard
  packages/aws_mq/changelog.yml
  packages/aws_mq/img/amazonmq-rabbitmq-overview.png
  packages/aws_mq/kibana/dashboard/aws_mq-58348442-dc71-4ff3-acd1-b043c350153f.json
  packages/aws_mq/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:aws_mq

#13409 [O365 Metrics] Add `Required Permissions` Column
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#13426 ti_anomali: Add `initial_interval` parameter to API ingestion.
  packages/ti_anomali/_dev/deploy/docker/files/intelligence-api-config.yml
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/intelligence/_dev/test/system/test-default-config.yml
  packages/ti_anomali/data_stream/intelligence/agent/stream/cel.yml.hbs
  packages/ti_anomali/data_stream/intelligence/manifest.yml
  packages/ti_anomali/data_stream/intelligence/sample_event.json
  packages/ti_anomali/docs/README.md
  packages/ti_anomali/manifest.yml
Labels: Integration:ti_anomali, bugfix, Team:Security-Service Integrations

#13380 [Cloudflare Logpush] Add parse for missing fields
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log-expected.json
  packages/cloudflare_logpush/data_stream/firewall_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/firewall_event/fields/fields.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#13295 Removed deprecated _source.mode in transform index
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/manifest.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/transform.yml
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:elasticsearch, Team:Stack Monitoring

#12887 Add support for ESET Protect notifications which are plain text
  packages/eset_protect/_dev/build/docs/README.md
  packages/eset_protect/changelog.yml
  packages/eset_protect/data_stream/detection/_dev/test/pipeline/test-detection.log-expected.json
  packages/eset_protect/data_stream/device_task/_dev/test/pipeline/test-device-task.log-expected.json
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/eset_protect/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/eset_protect/docs/README.md
  packages/eset_protect/manifest.yml
Labels: enhancement, Integration:eset_protect, Team:Security-Service Integrations

#13404 okta: retain full email address as user.name
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-no-flattened-events.log-expected.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-yes-flattened-events.log-expected.json
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations

#13437 cspm: fix nightly for pre-release
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security

#13300 [o365_metrics] entra id users data stream
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/_dev/deploy/docker/files/config.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/entra_id_users/_dev/test/system/test-default-config.yml
  packages/o365_metrics/data_stream/entra_id_users/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/entra_id_users/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/entra_id_users/fields/base-fields.yml
  packages/o365_metrics/data_stream/entra_id_users/fields/fields.yml
  packages/o365_metrics/data_stream/entra_id_users/manifest.yml
  packages/o365_metrics/data_stream/entra_id_users/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#13400 [Cloudflare Logpush] Set `Datetime` value to `@timestamp` field
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/fields/fields.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, Team:Security-Service Integrations, Team:Sit-Crest

#13443 [Asset Discovery] Change entity.name from text to keyword
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/entity.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: bug

#13393 [ZPA User Activity] do not set error.message for expected hostname behaviour
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/user_activity/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/manifest.yml
Labels: Integration:zscaler_zpa, Team:Security-Service Integrations

#13386 mimecast: fix bugs in empty value handling
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/archive_search_logs/_dev/test/pipeline/test-archive-search-logs.log
  packages/mimecast/data_stream/archive_search_logs/_dev/test/pipeline/test-archive-search-logs.log-expected.json
  packages/mimecast/data_stream/archive_search_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/archive_search_logs/sample_event.json
  packages/mimecast/data_stream/audit_events/_dev/test/pipeline/test-audit-events.log-expected.json
  packages/mimecast/data_stream/audit_events/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/data_stream/cloud_integrated_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/cloud_integrated_logs/sample_event.json
  packages/mimecast/data_stream/dlp_logs/_dev/test/pipeline/test-dlp-logs.log-expected.json
  packages/mimecast/data_stream/dlp_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/dlp_logs/sample_event.json
  packages/mimecast/data_stream/message_release_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/message_release_logs/sample_event.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v1_pipeline.yml
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v2_pipeline.yml
  packages/mimecast/data_stream/siem_logs/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_customer/_dev/test/pipeline/test-threat-intel-malware-customer.log-expected.json
  packages/mimecast/data_stream/threat_intel_malware_customer/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/threat_intel_malware_customer/sample_event.json
  packages/mimecast/data_stream/threat_intel_malware_grid/_dev/test/pipeline/test-threat-intel-malware-grid.log-expected.json
  packages/mimecast/data_stream/threat_intel_malware_grid/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/threat_intel_malware_grid/sample_event.json
  packages/mimecast/data_stream/ttp_ap_logs/_dev/test/pipeline/test-ttp-ap-logs.log-expected.json
  packages/mimecast/data_stream/ttp_ap_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ap_logs/sample_event.json
  packages/mimecast/data_stream/ttp_ip_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_ip_logs/sample_event.json
  packages/mimecast/data_stream/ttp_url_logs/elasticsearch/ingest_pipeline/default.yml
  packages/mimecast/data_stream/ttp_url_logs/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#13420 MongoDB Atlas - review documentation
  packages/mongodb_atlas/_dev/build/docs/README.md
  packages/mongodb_atlas/changelog.yml
  packages/mongodb_atlas/docs/README.md
  packages/mongodb_atlas/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:mongodb_atlas

#13441 Update the subscriptions data stream.
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/_dev/deploy/docker/files/config.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-common-config.yml
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-subscriptions.json
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-subscriptions.json-expected.json
  packages/o365_metrics/data_stream/subscriptions/_dev/test/system/test-default-config.yml
  packages/o365_metrics/data_stream/subscriptions/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/subscriptions/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/subscriptions/fields/base-fields.yml
  packages/o365_metrics/data_stream/subscriptions/fields/fields.yml
  packages/o365_metrics/data_stream/subscriptions/manifest.yml
  packages/o365_metrics/data_stream/subscriptions/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#13448 [unifiedlogs] Downgrade package spec version
  packages/unifiedlogs/changelog.yml
  packages/unifiedlogs/manifest.yml
Labels: enhancement, Team:Security-Windows Platform, Integration:unifiedlogs

#13421 proofpoint_on_demand: set subobjects false to msg_parts.metadata field
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/message/fields/fields.yml
  packages/proofpoint_on_demand/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#13451 cloudflare_logpush: add tests for gateway_{dns,http}
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/gateway_dns/_dev/test/pipeline/test-pipeline-gateway-dns.log
  packages/cloudflare_logpush/data_stream/gateway_dns/_dev/test/pipeline/test-pipeline-gateway-dns.log-expected.json
  packages/cloudflare_logpush/data_stream/gateway_dns/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/gateway_http/_dev/test/pipeline/test-common-config.yml
  packages/cloudflare_logpush/data_stream/gateway_http/_dev/test/pipeline/test-pipeline-gateway-http.log
  packages/cloudflare_logpush/data_stream/gateway_http/_dev/test/pipeline/test-pipeline-gateway-http.log-expected.json
  packages/cloudflare_logpush/data_stream/gateway_http/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations

#13425 [O11y][MongoDB Atlas] Update all dashboards as per best practices
  packages/mongodb_atlas/changelog.yml
  packages/mongodb_atlas/img/mongodb_atlas-alert-logs-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-disk-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-hardware-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-mongod-audit-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-mongod-database-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-organization-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-process-dashboard.png
  packages/mongodb_atlas/img/mongodb_atlas-project-dashboard.png
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-16beaf93-02f4-4d5c-8d2e-b34e5c9fe8ed.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-30078da3-455a-49a8-8710-8fb28b5ae836.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-81c7e5e2-b621-452b-8dd1-cddadd7bd9bc.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-88554c14-2b94-424f-8a3e-b6f65722fd51.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-b435ef26-546b-4e56-994e-90544e208c72.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-b6ceb5eb-c380-42c1-a3ca-8fcd0bc3dc50.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-cc6eb0e9-9eb2-4eb1-aa02-f61d53212adb.json
  packages/mongodb_atlas/kibana/dashboard/mongodb_atlas-d4ab650a-d11b-46e7-9935-0f6090724562.json
  packages/mongodb_atlas/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:mongodb_atlas

#13469 [Security Rules] Update security rules package to v8.17.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13470 [Security Rules] Update security rules package to v8.18.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13471 [Security Rules] Update security rules package to v9.0.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13472 [Security Rules] Update security rules package to v8.16.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13458 [O11y][MongoDB Atlas] Make GA
  packages/mongodb_atlas/_dev/build/docs/README.md
  packages/mongodb_atlas/changelog.yml
  packages/mongodb_atlas/docs/README.md
  packages/mongodb_atlas/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:mongodb_atlas

#13427 [system][syslog] add a pattern in filebeat.system module to capture greedy multiline logs with ISO timestamps
  packages/system/changelog.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-iso8601-timestamp-multiline-syslog.log
  packages/system/data_stream/syslog/_dev/test/pipeline/test-iso8601-timestamp-multiline-syslog.log-config.yml
  packages/system/data_stream/syslog/_dev/test/pipeline/test-iso8601-timestamp-multiline-syslog.log-expected.json
  packages/system/data_stream/syslog/elasticsearch/ingest_pipeline/default.yml
  packages/system/manifest.yml
Labels: bug, Integration:system, Team:Obs-InfraObs

#13478 sentinel_one: fix handling of events with empty string values
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sentinel_one/data_stream/agent/_dev/test/pipeline/test-pipeline-agent.log-expected.json
  packages/sentinel_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/sentinel_one/data_stream/group/_dev/test/pipeline/test-pipeline-group.log-expected.json
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log-expected.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/manifest.yml
Labels: Integration:sentinel_one, bugfix, Team:Security-Service Integrations

#13431 [google_secops, microsoft_sentinel] logo and categorization updates to support AI4DSOC
  packages/google_secops/changelog.yml
  packages/google_secops/img/google-secops-logo-with-text.svg
  packages/google_secops/img/google-secops-logo.svg
  packages/google_secops/manifest.yml
  packages/microsoft_sentinel/changelog.yml
  packages/microsoft_sentinel/img/microsoft-logo.svg
  packages/microsoft_sentinel/img/microsoft-sentinel-logo.svg
  packages/microsoft_sentinel/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:microsoft_sentinel, Integration:google_secops

#13487 [crowdstrike, sentinel_one] logo updates to support AI4DSOC
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/img/logo-integrations-crowdstrike.svg
  packages/crowdstrike/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/img/sentinel-one-logo.svg
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:crowdstrike, Integration:sentinel_one, Team:Security-Service Integrations

#13373 [crowdstrike, microsoft_defender_endpoint, sentinel_one] Update host.* ECS mappings
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/data_stream/host/_dev/test/pipeline/test-host.log
  packages/crowdstrike/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/crowdstrike/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/host/sample_event.json
  packages/crowdstrike/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/crowdstrike/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/crowdstrike/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/vulnerability/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/_dev/test/pipeline/test-pipeline-activity.log-expected.json
  packages/sentinel_one/data_stream/activity/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:crowdstrike, Integration:microsoft_defender_endpoint, Integration:sentinel_one, Team:Security-Service Integrations, Team:Sit-Crest

#13480 [Auth0] Fix `event.type` and `event.category` for failed authentication events
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-login-failure.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-login-failure.json-expected.json
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/manifest.yml
Labels: Integration:auth0, Team:Security-Service Integrations, Team:Sit-Crest

#13497 [Elastic Agent] Remove hardcoded `agent.name` filter from Agent Metrics dashboard
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/kibana/dashboard/elastic_agent-f47f18cc-9c7d-4278-b2ea-a6dee816d395.json
  packages/elastic_agent/manifest.yml
Labels: dashboard, Integration:elastic_agent, bugfix

#13439 Fix Sign-in logs location.state field to region field
  packages/azure/changelog.yml
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-managed-identity-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-managed-identity.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user-signin.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-non-interactive-user.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-service-principal-signinlogs-sample.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-service-principal.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-raw.log-expected.json
  packages/azure/data_stream/signinlogs/_dev/test/pipeline/test-signinlogs-sample.log-expected.json
  packages/azure/data_stream/signinlogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/data_stream/signinlogs/fields/fields.yml
  packages/azure/docs/adlogs.md
  packages/azure/manifest.yml
Labels: Integration:azure, Team:Obs-InfraObs, bugfix

#13254 [O365 Metrics] Add Entra Features data stream
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/_dev/deploy/docker/files/config.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/entra_features/_dev/test/system/test-default-config.yml
  packages/o365_metrics/data_stream/entra_features/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/entra_features/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/entra_features/fields/base-fields.yml
  packages/o365_metrics/data_stream/entra_features/fields/fields.yml
  packages/o365_metrics/data_stream/entra_features/manifest.yml
  packages/o365_metrics/data_stream/entra_features/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#13486 Updating grok pattern for awss3 access ingest pipeline
  packages/aws/changelog.yml
  packages/aws/data_stream/s3access/_dev/test/pipeline/test-s3-server-access.log
  packages/aws/data_stream/s3access/_dev/test/pipeline/test-s3-server-access.log-expected.json
  packages/aws/data_stream/s3access/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/s3access/fields/fields.yml
  packages/aws/docs/s3.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#13450 [cisco_ios] Fix parsing of FQDN hostnames
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-fqdn.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-fqdn.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:cisco_ios, bugfix, Team:Security-Deployment and Devices

#13523 [microsoft_defender_endpoint] Add machine and machine action data streams
  packages/microsoft_defender_endpoint/_dev/build/docs/README.md
  packages/microsoft_defender_endpoint/_dev/deploy/docker/http-mock-config.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/machine/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_defender_endpoint/data_stream/machine/_dev/test/pipeline/test-machine.log
  packages/microsoft_defender_endpoint/data_stream/machine/_dev/test/pipeline/test-machine.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/machine/_dev/test/system/test-default-config.yml
  packages/microsoft_defender_endpoint/data_stream/machine/agent/stream/cel.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/machine/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/machine/fields/base-fields.yml
  packages/microsoft_defender_endpoint/data_stream/machine/fields/beats.yml
  packages/microsoft_defender_endpoint/data_stream/machine/fields/fields.yml
  packages/microsoft_defender_endpoint/data_stream/machine/manifest.yml
  packages/microsoft_defender_endpoint/data_stream/machine/sample_event.json
  packages/microsoft_defender_endpoint/data_stream/machine_action/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/_dev/test/pipeline/test-machine-action.log
  packages/microsoft_defender_endpoint/data_stream/machine_action/_dev/test/pipeline/test-machine-action.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/machine_action/_dev/test/system/test-default-config.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/agent/stream/cel.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/machine_action/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/fields/base-fields.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/fields/beats.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/fields/fields.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/fields/is-transform-source-true.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/manifest.yml
  packages/microsoft_defender_endpoint/data_stream/machine_action/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/fields/base-fields.yml
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/fields/beats.yml
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/fields/ecs.yml
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/fields/fields.yml
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/fields/is-transform-source-false.yml
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/manifest.yml
  packages/microsoft_defender_endpoint/elasticsearch/transform/latest_action/transform.yml
  packages/microsoft_defender_endpoint/img/microsoft_defender_endpoint-machine_action_overview.png
  packages/microsoft_defender_endpoint/img/microsoft_defender_endpoint-machine_overview.png
  packages/microsoft_defender_endpoint/kibana/dashboard/microsoft_defender_endpoint-65402c30-ca6a-11ea-9d4d-9737a63aaa55.json
  packages/microsoft_defender_endpoint/kibana/dashboard/microsoft_defender_endpoint-6a043fee-1e3d-454b-96d1-159e6efce215.json
  packages/microsoft_defender_endpoint/kibana/dashboard/microsoft_defender_endpoint-c89734ca-ab7f-419d-b665-50076cceee60.json
  packages/microsoft_defender_endpoint/kibana/tag/microsoft_defender_endpoint-security-solution-default.json
  packages/microsoft_defender_endpoint/kibana/tags.yml
  packages/microsoft_defender_endpoint/manifest.yml
  packages/microsoft_defender_endpoint/validation.yml
Labels: enhancement, Integration:microsoft_defender_endpoint, Team:Security-Service Integrations, Team:Sit-Crest

#13532 [windows] Fix PS dashboard filters
  packages/windows/changelog.yml
  packages/windows/kibana/dashboard/windows-c77e06c0-9e7c-11ea-af6f-cfdb1ee1d6c8.json
  packages/windows/manifest.yml
Labels: Integration:windows, bugfix, Team:Security-Windows Platform

#13085 [Splunk] Initial release of the splunk
  .github/CODEOWNERS
  packages/splunk/_dev/build/build.yml
  packages/splunk/_dev/build/docs/README.md
  packages/splunk/_dev/deploy/docker/docker-compose.yml
  packages/splunk/_dev/deploy/docker/files/config.yml
  packages/splunk/changelog.yml
  packages/splunk/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/splunk/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/splunk/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/splunk/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/splunk/data_stream/alert/agent/stream/cel.yml.hbs
  packages/splunk/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/splunk/data_stream/alert/fields/base-fields.yml
  packages/splunk/data_stream/alert/fields/beats.yml
  packages/splunk/data_stream/alert/fields/fields.yml
  packages/splunk/data_stream/alert/manifest.yml
  packages/splunk/data_stream/alert/sample_event.json
  packages/splunk/docs/README.md
  packages/splunk/img/splunk-alert-dashboard.png
  packages/splunk/img/splunk-logo.svg
  packages/splunk/kibana/dashboard/splunk-eef0d14a-7e42-414d-a0dc-a41423800158.json
  packages/splunk/manifest.yml
Labels: dashboard, New Integration, Crest, Team:Security-Service Integrations

#13488 [Cloud Security Posture] UpdateCloud connector integration input
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#13533 [splunk] adding `siem` category to splunk
  packages/splunk/changelog.yml
  packages/splunk/manifest.yml
Labels: enhancement, Team:Security-Service Integrations

#13534 microsoft_sentinel, google_secops: Make packages GA
  packages/google_secops/changelog.yml
  packages/google_secops/manifest.yml
  packages/microsoft_sentinel/changelog.yml
  packages/microsoft_sentinel/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:microsoft_sentinel, Integration:google_secops

#13139 [O365 Metrics] Add field `site_type` missing in onedrive data streams
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/onedrive_usage_account_counts/_dev/test/pipeline/test-onedrive-usage-account-counts.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage_account_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage_account_counts/fields/fields.yml
  packages/o365_metrics/data_stream/onedrive_usage_account_counts/sample_event.json
  packages/o365_metrics/data_stream/onedrive_usage_file_counts/_dev/test/pipeline/test-onedrive-usage-file-counts.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage_file_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage_file_counts/fields/fields.yml
  packages/o365_metrics/data_stream/onedrive_usage_file_counts/sample_event.json
  packages/o365_metrics/data_stream/onedrive_usage_storage/_dev/test/pipeline/test-onedrive-usage-storage.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage_storage/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage_storage/fields/fields.yml
  packages/o365_metrics/data_stream/onedrive_usage_storage/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:o365_metrics

#13403 [beyondtrust_pra] Initial release of the BeyondTrust PRA
  .github/CODEOWNERS
  packages/beyondtrust_pra/_dev/build/build.yml
  packages/beyondtrust_pra/_dev/build/docs/README.md
  packages/beyondtrust_pra/_dev/deploy/docker/docker-compose.yml
  packages/beyondtrust_pra/_dev/deploy/docker/files/config-access_session.yml
  packages/beyondtrust_pra/changelog.yml
  packages/beyondtrust_pra/data_stream/access_session/_dev/test/pipeline/test-common-config.yml
  packages/beyondtrust_pra/data_stream/access_session/_dev/test/pipeline/test-event.log
  packages/beyondtrust_pra/data_stream/access_session/_dev/test/pipeline/test-event.log-expected.json
  packages/beyondtrust_pra/data_stream/access_session/_dev/test/system/test-common-config.yml
  packages/beyondtrust_pra/data_stream/access_session/agent/stream/input.yml.hbs
  packages/beyondtrust_pra/data_stream/access_session/elasticsearch/ingest_pipeline/default.yml
  packages/beyondtrust_pra/data_stream/access_session/fields/base-fields.yml
  packages/beyondtrust_pra/data_stream/access_session/fields/beats.yml
  packages/beyondtrust_pra/data_stream/access_session/fields/fields.yml
  packages/beyondtrust_pra/data_stream/access_session/manifest.yml
  packages/beyondtrust_pra/data_stream/access_session/sample_event.json
  packages/beyondtrust_pra/docs/README.md
  packages/beyondtrust_pra/img/beyondtrust-pra-dashboard.png
  packages/beyondtrust_pra/img/beyondtrust_pra-logo.png
  packages/beyondtrust_pra/kibana/dashboard/beyondtrust_pra-7227e888-45cd-4e05-8ac3-f7d18c367bec.json
  packages/beyondtrust_pra/kibana/search/beyondtrust_pra-6738050a-2a9a-403a-b785-9ea93f0aff61.json
  packages/beyondtrust_pra/manifest.yml
  packages/beyondtrust_pra/validation.yml
Labels: dashboard, New Integration, Crest, Team:Security-Service Integrations

#13548 [docs] Fix image paths for docs-assembler
  docs/extend/dashboard-guidelines.md
  docs/extend/developer-workflow-support-old-package.md
  docs/extend/quick-start.md
Labels: documentation, Team:Docs, docs

#12768 [Nvidia/GPU] Introduce Nvidia GPU Integration
  .github/CODEOWNERS
  packages/nvidia_gpu/LICENSE.txt
  packages/nvidia_gpu/_dev/build/build.yml
  packages/nvidia_gpu/_dev/build/docs/README.md
  packages/nvidia_gpu/changelog.yml
  packages/nvidia_gpu/data_stream/stats/agent/stream/stream.yml.hbs
  packages/nvidia_gpu/data_stream/stats/elasticsearch/ingest_pipeline/default.yml
  packages/nvidia_gpu/data_stream/stats/fields/base-fields.yml
  packages/nvidia_gpu/data_stream/stats/fields/ecs.yml
  packages/nvidia_gpu/data_stream/stats/fields/fields.yml
  packages/nvidia_gpu/data_stream/stats/fields/kubernetes.yml
  packages/nvidia_gpu/data_stream/stats/manifest.yml
  packages/nvidia_gpu/data_stream/stats/sample_event.json
  packages/nvidia_gpu/docs/README.md
  packages/nvidia_gpu/img/nvidia_logo.svg
  packages/nvidia_gpu/kibana/dashboard/nvidia_gpu-a3a5759a-1b3d-456d-8ab8-83e97f774030.json
  packages/nvidia_gpu/kibana/dashboard/nvidia_gpu-bac121fe-6cd9-48a7-a349-f52ffa42d56b.json
  packages/nvidia_gpu/kibana/tag/nvidia_gpu-bc9ea2cd-816a-40a9-912e-a97c5781ba0c.json
  packages/nvidia_gpu/manifest.yml
Labels: dashboard, New Integration

#13546 [system,windows] Fix security pipeline and powershell dashboard
  packages/system/changelog.yml
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security_standard.yml
  packages/windows/kibana/dashboard/windows-c77e06c0-9e7c-11ea-af6f-cfdb1ee1d6c8.json
  packages/windows/manifest.yml
Labels: Integration:windows, Integration:system, dashboard, bugfix, Team:Security-Windows Platform

#13542 [AWS] Guardduty dashboard enhancements
  packages/aws/changelog.yml
  packages/aws/img/guardduty-findings-overview.png
  packages/aws/img/guardduty-findings-severity.png
  packages/aws/img/guardduty-findings-threat.png
  packages/aws/img/guardduty-screenshot.png
  packages/aws/kibana/dashboard/aws-401261a0-6a39-11ed-b880-2f1b70138655.json
  packages/aws/kibana/dashboard/aws-9d21f520-6a36-11ed-b880-2f1b70138655.json
  packages/aws/kibana/dashboard/aws-f890a5b0-6a3a-11ed-b880-2f1b70138655.json
  packages/aws/kibana/search/aws-b3169d70-6a38-11ed-b880-2f1b70138655.json
  packages/aws/kibana/search/aws-df758050-6a49-11ed-b880-2f1b70138655.json
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, dashboard, Team:Security-Service Integrations, Team:obs-ds-hosted-services, Team:Sit-Crest

#13633 [GCP] Preserve original value of resource name
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/gcp/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/audit/sample_event.json
  packages/gcp/docs/README.md
  packages/gcp/docs/audit.md
  packages/gcp/manifest.yml
Labels: Integration:gcp, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13638 [cisco_meraki_metrics] scale values in device channel utilization so they display correctly as percentages
  packages/cisco_meraki_metrics/changelog.yml
  packages/cisco_meraki_metrics/data_stream/device_health/_dev/test/pipeline/test-pipeline-device-health.json-expected.json
  packages/cisco_meraki_metrics/data_stream/device_health/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_meraki_metrics/manifest.yml
Labels: bug

#13625 [HAProxy] Ingest Pipeline Fix to handle Malformed URLs
  packages/haproxy/changelog.yml
  packages/haproxy/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/haproxy/manifest.yml
Labels: Integration:haproxy, Team:Obs-InfraObs

#13622 [ESET Protect] Remove BOM from the Syslog message
  packages/eset_protect/changelog.yml
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log
  packages/eset_protect/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/eset_protect/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/eset_protect/manifest.yml
Labels: bugfix, Integration:eset_protect, Team:Security-Service Integrations, Team:Sit-Crest

#13639 [google_workspace] Fix CEL page token and cursor logic
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/calendar/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/calendar/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/calendar/sample_event.json
  packages/google_workspace/data_stream/chrome/_dev/test/pipeline/test-chrome.log-expected.json
  packages/google_workspace/data_stream/chrome/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/chrome/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/chrome/sample_event.json
  packages/google_workspace/data_stream/data_studio/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/data_studio/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/data_studio/sample_event.json
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13642 checkpoint_harmony_endpoint: fix typo when calculating next start time
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/antibot/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/antimalware/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatemulation/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/threatextraction/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/urlfiltering/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/data_stream/zerophishing/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#13444 Cloud Security Posture - Misconfiguration Latest Transform
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/base-fields.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/cloud.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/cloudbeat.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/ecs.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/fields.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/related.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/resource.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/result.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/fields/rule.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/manifest.yml
  packages/cloud_security_posture/elasticsearch/transform/misconfiguration/transform.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture

#13481 [Azure OpenAI] Update billing dashboard panel
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_billing.png
  packages/azure_openai/kibana/dashboard/azure_openai-f5bbc591-5e6b-4af7-b6c5-b02065a06455.json
  packages/azure_openai/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:azure_openai

#13652 [CSPM] Remove unused azure credentials
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/azure.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement

#13587 fix(packages/ti_domaintools): use ecs field definitions
  packages/ti_domaintools/changelog.yml
  packages/ti_domaintools/data_stream/nod_feed/fields/base-fields.yml
  packages/ti_domaintools/data_stream/nod_feed/fields/fields.yml
  packages/ti_domaintools/docs/README.md
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/base-fields.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/beats.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/ecs.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/fields.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/transform.yml
  packages/ti_domaintools/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:ti_domaintools

#13657 [integrations][websocket] - Added support for retry configuration options
  packages/websocket/agent/input/websocket.yml.hbs
  packages/websocket/changelog.yml
  packages/websocket/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:websocket

#13654 Add support for EDT timezone
  packages/postgresql/changelog.yml
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-default.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-10-min-duration-statement.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-4.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-autovacuum-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-connection-disconnection-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-duration-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-ipv6-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-multi-line-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-parse-bind-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-start-stop-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-11-tempfile-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-default.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-12-min-duration-statement.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-13-error-code-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-14-csv.log
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-14-csv.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-debian-with-slowlog.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-multi-core.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-9-6-new-timestamp.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-aws.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-query-steps-slowlog.log-expected.json
  packages/postgresql/data_stream/log/_dev/test/pipeline/test-postgresql-ubuntu-9-5.log-expected.json
  packages/postgresql/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/postgresql/manifest.yml
Labels: Integration:postgresql, Team:Obs-InfraObs

#13634 [Teleport] Add support for configuring which cloud metadata to use
  packages/teleport/changelog.yml
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-teleport-all-events.log-expected.json
  packages/teleport/data_stream/audit/_dev/test/pipeline/test-teleport-generated.log-expected.json
  packages/teleport/data_stream/audit/_dev/test/system/test-filestream-config.yml
  packages/teleport/data_stream/audit/agent/stream/filestream.yml.hbs
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/teleport/data_stream/audit/elasticsearch/ingest_pipeline/event-groups.yml
  packages/teleport/data_stream/audit/manifest.yml
  packages/teleport/data_stream/audit/sample_event.json
  packages/teleport/docs/README.md
  packages/teleport/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:teleport, Team:Sit-Crest

#13663 Allow deprecated mode for the `log` integration
  packages/log/agent/input/input.yml.hbs
  packages/log/changelog.yml
  packages/log/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#13655 [splunk] Update the splunk logo to have transparent background
  packages/splunk/changelog.yml
  packages/splunk/img/splunk-logo.svg
  packages/splunk/manifest.yml
Labels: enhancement, Team:Security-Service Integrations

#13653 [docs] Fix various syntax and rendering errors
  docs/docset.yml
  docs/extend/add-mapping.md
  docs/extend/package-spec.md
  docs/extend/pipeline-testing.md
  docs/extend/quick-start.md
  docs/extend/testing-validation.md
  docs/extend/what-is-an-integration.md
Labels: Team:Docs, docs

#13666 Rename `Custom Filestream Logs` -> `Custom Logs (Filestream)`
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/changelog.yml
  packages/filestream/docs/README.md
  packages/filestream/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#13540 [cisco_ise] Add Support of Timezone Configuration Parameter
  packages/cisco_ise/_dev/deploy/docker/sample_logs/log.log
  packages/cisco_ise/changelog.yml
  packages/cisco_ise/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/cisco_ise/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_ise/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_ise/data_stream/log/agent/stream/filestream.yml.hbs
  packages/cisco_ise/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_ise/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_ise/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ise/data_stream/log/manifest.yml
  packages/cisco_ise/data_stream/log/sample_event.json
  packages/cisco_ise/docs/README.md
  packages/cisco_ise/manifest.yml
Labels: enhancement, Integration:cisco_ise, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Sit-Crest

#13670 Add warning about migrating from log to filestream
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/changelog.yml
  packages/filestream/docs/README.md
  packages/filestream/manifest.yml
  packages/log/changelog.yml
  packages/log/docs/README.md
  packages/log/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane, Integration:log, Integration:filestream

#13679 Rename the log package from Legacy to Deprecated
  packages/filestream/_dev/build/docs/README.md
  packages/filestream/changelog.yml
  packages/filestream/docs/README.md
  packages/filestream/manifest.yml
  packages/log/changelog.yml
  packages/log/docs/README.md
  packages/log/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#13547 [O365 Metrics] Add Entra Alerts data stream
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/_dev/deploy/docker/files/config.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/entra_alerts/_dev/test/system/test-default-config.yml
  packages/o365_metrics/data_stream/entra_alerts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/entra_alerts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/entra_alerts/fields/base-fields.yml
  packages/o365_metrics/data_stream/entra_alerts/fields/fields.yml
  packages/o365_metrics/data_stream/entra_alerts/manifest.yml
  packages/o365_metrics/data_stream/entra_alerts/sample_event.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#13621 [Servicenow] Add support to append `sysparm query` in CEL input
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/system/test-default-config.yml
  packages/servicenow/data_stream/event/agent/stream/cel.yml.hbs
  packages/servicenow/data_stream/event/manifest.yml
  packages/servicenow/data_stream/event/sample_event.json
  packages/servicenow/docs/README.md
  packages/servicenow/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:servicenow, Team:Sit-Crest

#13455 qualys_vmdr: Add latest transform for Asset Host Detections
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/base-fields.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/beats.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/ecs.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/fields.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/package.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/resource.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/fields/vulnerability.yml
  packages/qualys_vmdr/elasticsearch/transform/latest_cdr_vulnerabilities/transform.yml
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#13705 [Security Rules] Update security rules package to v8.17.9
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13706 [Security Rules] Update security rules package to v8.18.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13707 [Security Rules] Update security rules package to v9.0.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13687 [LMD] Remove time_of_day detector from ML module
  packages/lmd/changelog.yml
  packages/lmd/kibana/ml_module/lmd-ml.json
  packages/lmd/manifest.yml
Labels: enhancement, Integration:lmd, Team:Security-Applied ML

#13582 [Cloud Security] bump posture package
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: breaking change, Team:Cloud Security, Integration:cloud_security_posture

#13324 [watchguard_firebox] Fix parsing errors
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-event.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-event.log-expected.json
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-traffic.log-expected.json
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_traffic.yml
  packages/watchguard_firebox/data_stream/log/sample_event.json
  packages/watchguard_firebox/docs/README.md
  packages/watchguard_firebox/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:watchguard_firebox

#13668 [fortinet_fortigate] Add deltabytes field, ensure rcvddelta and sentdelta fields are integers
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-6-2.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-4.log-expected.json
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortigate/data_stream/log/fields/fields.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: enhancement, bugfix, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#13665 [Atlassian JIRA and Atlassian Conflunce] Update Cursor Logic to Remove Duplicate Events
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_jira/manifest.yml
Labels: Integration:atlassian_jira, Integration:atlassian_confluence, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13708 ti_abusech: Handle API errors inside CEL
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/malwarebazaar/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/threatfox/agent/stream/cel.yml.hbs
  packages/ti_abusech/data_stream/url/agent/stream/cel.yml.hbs
  packages/ti_abusech/manifest.yml
Labels: Integration:ti_abusech, bugfix, Team:Security-Service Integrations

#13517 Removed event.original processors for integration Zeek
  packages/zeek/changelog.yml
  packages/zeek/data_stream/capture_loss/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/connection/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/dce_rpc/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/dhcp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/dnp3/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/dpd/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/files/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ftp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/http/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/irc/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/kerberos/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_certs/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_hosts/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/known_services/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/modbus/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/mysql/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/notice/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ntlm/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ntp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ocsp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/pe/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/radius/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/rdp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/rfb/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/signature/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/sip/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/smb_cmd/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/smb_files/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/smb_mapping/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/smtp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/snmp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/socks/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/software/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ssh/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/ssl/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/stats/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/syslog/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/traceroute/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/tunnel/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/weird/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/data_stream/x509/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: Integration:zeek, Team:Security-Deployment and Devices

#13557 o365: improve rendering of event.original in documents
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-azuread-sts-logon-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-bad-ips.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-modified-properites.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepoint-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sharepointfileop-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sp-sharing-op-events.json-expected.json
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/data_stream/audit/sample_event.json
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#13554 m365_defender: improve user.name field handling
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration:m365_defender, Team:Security-Service Integrations

#13649 [netskope] Ignore empty string values for `ml_detection` and `is_web_universal_connector`
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log
  packages/netskope/data_stream/alerts/_dev/test/pipeline/test-alerts.log-expected.json
  packages/netskope/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/manifest.yml
Labels: Integration:netskope, bugfix, Team:Security-Service Integrations

#13643 abnormal_security: fix navigation between dashboards in tables of content
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/kibana/dashboard/abnormal_security-37ed5d19-c753-43a0-b0a2-f8e6437ddfe5.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-6a8e53ac-7759-4564-bcd6-03c6a9792eac.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-7997c0a4-da55-4090-b24f-586dbd19aff4.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-a0e8aab9-b870-4903-a966-7195fd6cee9c.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-a4364503-ada3-4fe6-a054-d152accf207c.json
  packages/abnormal_security/kibana/dashboard/abnormal_security-f6562262-e429-470d-af45-4c80afdcf664.json
  packages/abnormal_security/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Integration:abnormal_security

#13714 [Cloud Asset Inventory] Add `required_vars`
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture, Integration:cloud_asset_inventory

#13719 [Bug]Fixed missing template_path for google_cloud_storage elastic connector
  packages/elastic_connectors/manifest.yml
Labels: bug, Integration:elastic_connectors, Team:Search-Extract and Transform

#13741 [Security Rules] Update security rules package to v8.16.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13742 [Security Rules] Update security rules package to v8.17.10
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13743 [Security Rules] Update security rules package to v8.18.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13744 [Security Rules] Update security rules package to v9.0.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13550 entityanalytics_ad: map user group details to ecs fields
  packages/entityanalytics_ad/changelog.yml
  packages/entityanalytics_ad/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_ad/data_stream/user/elasticsearch/ingest_pipeline/entity.yml
  packages/entityanalytics_ad/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_ad
