Repository elastic/integrations, pull requests merged in 2025-07, with the labels that each got.

#14289 o365: fix handling of file size values and numeric IDs
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-common-config.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-numbery-json-events.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-numbery-json-events.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#14275 crowdstrike: include "informational" in the set of info severities
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#14331 [microsoft_defender_endpoint] Add Initial Interval in Config Options
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_defender_endpoint/data_stream/log/manifest.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: enhancement, Integration:microsoft_defender_endpoint, Team:Security-Service Integrations, Team:Sit-Crest

#14346 [Azure AI Foundry] Add logs datastream to support prompt response log
  packages/azure_ai_foundry/_dev/build/docs/README.md
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-ai-foundry-gateway.log
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-ai-foundry-gateway.log-expected.json
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-common-config.yml
  packages/azure_ai_foundry/data_stream/logs/agent/stream/azure-eventhub.yml.hbs
  packages/azure_ai_foundry/data_stream/logs/agent/stream/stream.yml.hbs
  packages/azure_ai_foundry/data_stream/logs/elasticsearch/ingest_pipeline/azure-shared-pipeline.yml
  packages/azure_ai_foundry/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_ai_foundry/data_stream/logs/fields/base-fields.yml
  packages/azure_ai_foundry/data_stream/logs/fields/fields.yml
  packages/azure_ai_foundry/data_stream/logs/fields/package-fields.yml
  packages/azure_ai_foundry/data_stream/logs/manifest.yml
  packages/azure_ai_foundry/data_stream/logs/sample_event.json
  packages/azure_ai_foundry/docs/README.md
  packages/azure_ai_foundry/img/azure_ai_foundry_apim_overview.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-2b21bfb1-6fc2-45c5-9f0f-1e15aaab5245.json
  packages/azure_ai_foundry/kibana/search/azure_ai_foundry-dd302b35-4d01-4269-aee8-aa56850135d9.json
  packages/azure_ai_foundry/manifest.yml
Labels: documentation, dashboard, Team:Obs-InfraObs, Integration:azure_ai_foundry

#14243 [O365_metrics] Add `entra_id_users` Dashboard
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/img/dashboard-entra-id-users.png
  packages/o365_metrics/kibana/dashboard/o365_metrics-0a6fa214-6cd1-4970-b7a4-f168a3f33c5c.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-2abb4172-9e95-458a-8ade-64403457b1f0.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-5a19bdb2-e9c5-4774-8397-9e1501d70e3a.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-8a87d02c-46d4-4284-8df3-5a23b6b8324f.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-977e9818-ac21-45be-8ca4-aae0f9accca7.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-9edf2772-2d81-4c6d-bb24-fa72c997a572.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-f204a268-a4d4-43dd-b7fa-c7c9fb006cbb.json
  packages/o365_metrics/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:o365_metrics

#13492 [windows_etw] Make windows_etw ga
  packages/windows_etw/changelog.yml
  packages/windows_etw/manifest.yml
Labels: enhancement, Team:Security-Windows Platform, Integration:windows_etw

#14376 [DOCS] Part 3 - Remove duplicated installation instructions
  packages/armis/_dev/build/docs/README.md
  packages/armis/changelog.yml
  packages/armis/docs/README.md
  packages/armis/manifest.yml
  packages/citrix_adc/_dev/build/docs/README.md
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/docs/README.md
  packages/citrix_adc/manifest.yml
  packages/claroty_xdome/_dev/build/docs/README.md
  packages/claroty_xdome/changelog.yml
  packages/claroty_xdome/docs/README.md
  packages/claroty_xdome/manifest.yml
  packages/imperva/_dev/build/docs/README.md
  packages/imperva/changelog.yml
  packages/imperva/docs/README.md
  packages/imperva/manifest.yml
  packages/microsoft_dnsserver/_dev/build/docs/README.md
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/docs/README.md
  packages/microsoft_dnsserver/manifest.yml
  packages/squid/_dev/build/docs/README.md
  packages/squid/changelog.yml
  packages/squid/docs/README.md
  packages/squid/manifest.yml
  packages/watchguard_firebox/_dev/build/docs/README.md
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/docs/README.md
  packages/watchguard_firebox/manifest.yml
Labels: documentation, enhancement, Integration:squid, Integration:imperva, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Security-Windows Platform, Integration:microsoft_dnsserver, Integration:citrix_adc, Integration:watchguard_firebox, Integration:armis, Integration:claroty_xdome

#14405 [Cloud Asset Discovery] Fix cloudformation version and params
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:cloud_asset_inventory

#14392 amazon_security_lake: remove incoming null fields
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-network-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/amazon_security_lake/manifest.yml
Labels: bugfix, Integration:amazon_security_lake, Team:Security-Service Integrations

#14347 [Azure AI Foundry] Add billing dashboard
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/img/azure_ai_foundry_billing.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-09e1aa79-9d15-4bbe-a32c-85766864fa6a.json
  packages/azure_ai_foundry/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:azure_ai_foundry

#14374 ti_recordedfuture: fingerprint id and log fields
  packages/ti_recordedfuture/changelog.yml
  packages/ti_recordedfuture/data_stream/triggered_alert/elasticsearch/ingest_pipeline/default.yml
  packages/ti_recordedfuture/manifest.yml
Labels: enhancement, Integration:ti_recordedfuture, Team:Security-Service Integrations

#14068 Add `fips_compatible` flag to multiple packages
  packages/azure/changelog.yml
  packages/azure/manifest.yml
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/manifest.yml
  packages/mongodb/changelog.yml
  packages/mongodb/manifest.yml
  packages/mysql/changelog.yml
  packages/mysql/manifest.yml
  packages/oracle/changelog.yml
  packages/oracle/manifest.yml
  packages/postgresql/changelog.yml
  packages/postgresql/manifest.yml
Labels: Integration:mysql, Integration:azure, Integration:postgresql, Integration:mongodb, Integration:oracle, Integration:microsoft_sqlserver, Team:Obs-InfraObs, Team:obs-ds-hosted-services

#14396 [azure_blob_storage, azure_network_watcher_nsg, azure_network_watcher_vnet, symantec_enpoint_security] Add RBAC Based Auth for Azure Blob Storage Input
  packages/azure_blob_storage/agent/input/abs.yml.hbs
  packages/azure_blob_storage/changelog.yml
  packages/azure_blob_storage/manifest.yml
  packages/azure_network_watcher_nsg/_dev/build/docs/README.md
  packages/azure_network_watcher_nsg/changelog.yml
  packages/azure_network_watcher_nsg/data_stream/log/agent/stream/abs.yml.hbs
  packages/azure_network_watcher_nsg/data_stream/log/manifest.yml
  packages/azure_network_watcher_nsg/docs/README.md
  packages/azure_network_watcher_nsg/manifest.yml
  packages/azure_network_watcher_vnet/_dev/build/docs/README.md
  packages/azure_network_watcher_vnet/changelog.yml
  packages/azure_network_watcher_vnet/data_stream/log/agent/stream/abs.yml.hbs
  packages/azure_network_watcher_vnet/data_stream/log/manifest.yml
  packages/azure_network_watcher_vnet/docs/README.md
  packages/azure_network_watcher_vnet/manifest.yml
  packages/symantec_endpoint_security/_dev/build/docs/README.md
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/agent/stream/abs.yml.hbs
  packages/symantec_endpoint_security/data_stream/event/manifest.yml
  packages/symantec_endpoint_security/docs/README.md
  packages/symantec_endpoint_security/manifest.yml
Labels: documentation, enhancement, Integration:azure_blob_storage, Team:Security-Service Integrations, Integration:azure_network_watcher_vnet, Integration:azure_network_watcher_nsg, Integration:symantec_endpoint_security, Team:Sit-Crest

#14271 [panw] Update readme content
  packages/panw/_dev/build/docs/README.md
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/manifest.yml
  packages/panw/docs/README.md
  packages/panw/manifest.yml
Labels: documentation, Integration:panw, bugfix, Team:Security-Deployment and Devices

#12876 feat: [prometheus_input] add support for leader election and condition
  packages/prometheus_input/agent/input/input.yml.hbs
  packages/prometheus_input/changelog.yml
  packages/prometheus_input/manifest.yml
Labels: Team:Obs-InfraObs, Integration:prometheus_input

#14433 entityanalytics_entra_id: Ingest extra field selected via select option
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json
  packages/entityanalytics_entra_id/data_stream/entity/_dev/test/pipeline/test-users.json-expected.json
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/device.yml
  packages/entityanalytics_entra_id/data_stream/entity/elasticsearch/ingest_pipeline/user.yml
  packages/entityanalytics_entra_id/data_stream/entity/fields/fields.yml
  packages/entityanalytics_entra_id/docs/README.md
  packages/entityanalytics_entra_id/manifest.yml
Labels: documentation, bugfix, Integration:entityanalytics_entra_id, Team:Security-Service Integrations, Team:Sit-Crest

#14384 Update the Cloudflare Logpush integration data streams intro
  packages/cloudflare_logpush/_dev/build/docs/README.md
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: documentation, enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#14436 [sql_input] Improve docs
  packages/sql_input/docs/README.md
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:sql_input

#14439 aws: fix agent template typo
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws/data_stream/cloudtrail/agent/stream/aws-s3.yml.hbs
  packages/aws/manifest.yml
Labels: Integration:aws, bugfix, Team:Security-Service Integrations

#14451 [Security Rules] Update security rules package to v9.0.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14452 [Security Rules] Update security rules package to v9.1.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14410 [Azure AI Foundry] Add native log category
  packages/azure_ai_foundry/_dev/build/docs/README.md
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-ai-foundry-audit.log
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-ai-foundry-audit.log-expected.json
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-ai-foundry-request-response.log
  packages/azure_ai_foundry/data_stream/logs/_dev/test/pipeline/test-ai-foundry-request-response.log-expected.json
  packages/azure_ai_foundry/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure_ai_foundry/docs/README.md
  packages/azure_ai_foundry/manifest.yml
Labels: documentation, Team:Obs-InfraObs, Integration:azure_ai_foundry

#14467 [cloud asset discovery]: fix cloudformation for cloud connectors
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:cloud_asset_inventory

#14415 [azure logs] Normalize capitalized Category field for proper data stream routing
  packages/azure/changelog.yml
  packages/azure/data_stream/events/_dev/test/pipeline/test-activitylogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-activitylogs-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-application-gateway-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-application-gateway-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-auditlogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-auditlogs-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-firewall-logs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-firewall-logs-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-graphactivitylogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-graphactivitylogs-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-identity-protection-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-identity-protection-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-invalid-category-field-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-invalid-category-field-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-provisioning-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-provisioning-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-signinlogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-signinlogs-raw.log-expected.json
  packages/azure/data_stream/events/_dev/test/pipeline/test-springcloudlogs-raw.log
  packages/azure/data_stream/events/_dev/test/pipeline/test-springcloudlogs-raw.log-expected.json
  packages/azure/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:azure, bugfix, Team:obs-ds-hosted-services

#14471 fix(cyberark_epm): propagate state variables on error
  packages/cyberark_epm/changelog.yml
  packages/cyberark_epm/data_stream/admin_audit/agent/stream/cel.yml.hbs
  packages/cyberark_epm/data_stream/aggregated_event/agent/stream/cel.yml.hbs
  packages/cyberark_epm/data_stream/policyaudit_aggregated_event/agent/stream/cel.yml.hbs
  packages/cyberark_epm/data_stream/policyaudit_raw_event/agent/stream/cel.yml.hbs
  packages/cyberark_epm/data_stream/raw_event/agent/stream/cel.yml.hbs
  packages/cyberark_epm/manifest.yml
Labels: Team:Security-Service Integrations, Integration:cyberark_epm

#14448 [microsoft_defender_endpoint, m365_defender] Add Process Name ECS Mapping
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
Labels: documentation, enhancement, Integration:microsoft_defender_endpoint, Integration:m365_defender, Team:Security-Service Integrations, Team:Sit-Crest

#14368 [O365_metrics] Add `app_registrations` Dashboard
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/img/dashboard-app-registrations.png
  packages/o365_metrics/kibana/dashboard/o365_metrics-0a6fa214-6cd1-4970-b7a4-f168a3f33c5c.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-2abb4172-9e95-458a-8ade-64403457b1f0.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-51a8703b-513f-44e5-9569-5c40f1374f42.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-5a19bdb2-e9c5-4774-8397-9e1501d70e3a.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-8a87d02c-46d4-4284-8df3-5a23b6b8324f.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-977e9818-ac21-45be-8ca4-aae0f9accca7.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-9edf2772-2d81-4c6d-bb24-fa72c997a572.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-f204a268-a4d4-43dd-b7fa-c7c9fb006cbb.json
  packages/o365_metrics/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:o365_metrics

#14481 [ti_threatconnect] Remove outdated version information
  packages/ti_threatconnect/_dev/build/docs/README.md
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/docs/README.md
  packages/ti_threatconnect/elasticsearch/transform/latest/transform.yml
  packages/ti_threatconnect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:ti_threatconnect

#14434 [auth0] Improve webhook setup instructions
  packages/auth0/_dev/build/docs/README.md
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/manifest.yml
  packages/auth0/docs/README.md
  packages/auth0/manifest.yml
Labels: documentation, enhancement, Integration:auth0, Team:Security-Service Integrations

#14258 ti_custom: add support for alternative token auth types
  packages/ti_custom/_dev/deploy/docker/files/config.yml
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/_dev/test/system/test-taxii-token-config.yml
  packages/ti_custom/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_custom/data_stream/indicator/manifest.yml
  packages/ti_custom/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ti_custom

#14126 [Nginx] Allow for parsing of optional request duration in access-log
  packages/nginx/changelog.yml
  packages/nginx/data_stream/access/_dev/test/pipeline/test-access.log
  packages/nginx/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/nginx/data_stream/access/_dev/test/pipeline/test-nginx.log-expected.json
  packages/nginx/data_stream/access/_dev/test/pipeline/test-test-with-host.log
  packages/nginx/data_stream/access/_dev/test/pipeline/test-test-with-host.log-expected.json
  packages/nginx/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/nginx/data_stream/access/fields/fields.yml
  packages/nginx/data_stream/error/_dev/test/pipeline/test-error-raw.log-expected.json
  packages/nginx/docs/README.md
  packages/nginx/manifest.yml
Labels: documentation, enhancement, Integration:nginx, Team:Obs-InfraObs

#14427 Add GitHub Security Advisories dashboard
  packages/github/changelog.yml
  packages/github/img/github-security_advisories-dashboard.png
  packages/github/kibana/dashboard/github-e6726e8d-0a94-4917-978a-b5a762b39ee5.json
  packages/github/kibana/search/github-8c37be30-872a-46e9-b530-73f0f2e8f5c0.json
  packages/github/manifest.yml
Labels: dashboard, Integration:github, Team:Security-Service Integrations

#14336 [microsoft_dnsserver] Enrich dns.question.* fields
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/analytical/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/data_stream/audit/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Team:Security-Windows Platform, Integration:microsoft_dnsserver, Team:Sit-Crest

#14482 [system] fix CPU Usage on [Metrics System] Overview "hosts" tab
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/manifest.yml
Labels: Integration:system, dashboard, Team:Obs-InfraObs, bugfix

#14499 zoom: map user.email and participant.public_ip fields to ECS
  packages/zoom/changelog.yml
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-account.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-chat-channel.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-chat-message.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-meeting.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-meeting.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-phone.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-recording.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-user.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-user.json-config.yml
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-user.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-webinar.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-webinar.json-expected.json
  packages/zoom/data_stream/webhook/_dev/test/pipeline/test-zoomroom.json-expected.json
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/meeting.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/user.yml
  packages/zoom/data_stream/webhook/elasticsearch/ingest_pipeline/webinar.yml
  packages/zoom/data_stream/webhook/fields/fields.yml
  packages/zoom/docs/README.md
  packages/zoom/manifest.yml
Labels: documentation, enhancement, Integration:zoom, Team:Security-Service Integrations

#14506 [ti_greynoise] Add Agentless deployment
  packages/ti_greynoise/_dev/build/docs/README.md
  packages/ti_greynoise/changelog.yml
  packages/ti_greynoise/data_stream/ip/elasticsearch/ingest_pipeline/default.yml
  packages/ti_greynoise/docs/README.md
  packages/ti_greynoise/elasticsearch/transform/ip/fields/ecs.yml
  packages/ti_greynoise/elasticsearch/transform/ip/transform.yml
  packages/ti_greynoise/manifest.yml
Labels: documentation, Crest, Team:Security-Service Integrations, Integration:ti_greynoise

#14381 wiz: fix description of client ID and secret fields
  packages/wiz/changelog.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:wiz, Team:Security-Service Integrations

#14508 [Azure AI Foundry] Fix the dashboard summary & Update dashboard name
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/img/azure_ai_foundry_apim_overview.png
  packages/azure_ai_foundry/img/azure_ai_foundry_billing.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_2.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-09e1aa79-9d15-4bbe-a32c-85766864fa6a.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-0d923e01-2082-4ba0-a1a3-335ad53f1a00.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-2b21bfb1-6fc2-45c5-9f0f-1e15aaab5245.json
  packages/azure_ai_foundry/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, bugfix, Integration:azure_ai_foundry

#14466 [cloud security posture]: fix link versions for 8.19.0 and 9.1.0
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture, bugfix

#14358 Update platform support documentation for UEBA packages
  packages/beaconing/changelog.yml
  packages/beaconing/docs/README.md
  packages/beaconing/elasticsearch/transform/pivot_transform/transform.yml
  packages/beaconing/manifest.yml
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/elasticsearch/transform/pivot_transform/transform.yml
  packages/ded/manifest.yml
  packages/dga/changelog.yml
  packages/dga/docs/README.md
  packages/dga/manifest.yml
  packages/lmd/changelog.yml
  packages/lmd/docs/README.md
  packages/lmd/manifest.yml
  packages/pad/changelog.yml
  packages/pad/docs/README.md
  packages/pad/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/manifest.yml
Labels: documentation, enhancement, Integration:lmd, Integration:beaconing, Integration:ded, Integration:dga, Integration:problemchild, Team:Security-Applied ML, Integration:pad

#14511 [ti_google_threat_intelligence] Add Agentless deployment
  packages/ti_google_threat_intelligence/_dev/build/docs/README.md
  packages/ti_google_threat_intelligence/changelog.yml
  packages/ti_google_threat_intelligence/data_stream/cryptominer/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/cryptominer/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/first_stage_delivery_vectors/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/first_stage_delivery_vectors/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/infostealer/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/infostealer/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/iot/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/iot/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/linux/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/linux/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/malicious_network_infrastructure/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/malicious_network_infrastructure/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/malware/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/malware/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/mobile/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/mobile/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/data_stream/osx/agent/stream/cel.yml.hbs
  packages/ti_google_threat_intelligence/data_stream/osx/elasticsearch/ingest_pipeline/default.yml
  packages/ti_google_threat_intelligence/docs/README.md
  packages/ti_google_threat_intelligence/elasticsearch/transform/domain_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/file_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/ip_ioc/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/rule/transform.yml
  packages/ti_google_threat_intelligence/elasticsearch/transform/url_ioc/transform.yml
  packages/ti_google_threat_intelligence/img/threat_feed_overview_dashboard.png
  packages/ti_google_threat_intelligence/img/threat_intelligence_dashboard.png
  packages/ti_google_threat_intelligence/kibana/dashboard/ti_google_threat_intelligence-0b0fb6b4-d250-4e31-a56a-bb872e4c7c4a.json
  packages/ti_google_threat_intelligence/kibana/dashboard/ti_google_threat_intelligence-95187e5c-b4a2-45ad-b6a4-d6ce68e1f43e.json
  packages/ti_google_threat_intelligence/kibana/dashboard/ti_google_threat_intelligence-9e8de699-a623-4a1b-9f63-7d641116f531.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-1539bed1-9500-4751-b492-07bff04c887b.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-38af8948-a1f0-450e-9ebc-8e35544e8c16.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-64fb5964-6114-490d-9f0b-2d3684f8cc8d.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-70860d2b-3f3b-4185-b524-f0afdb0d2cf6.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-7a6faa45-29fd-449f-a05d-7d00858f614c.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-7b0a91d7-7d7b-4e23-aff7-dd97e820dae2.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-7f91c071-f4d8-47af-bad9-e07e9ad4892c.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-8470cc18-e5e2-4a93-ae98-8ef0f93fcc07.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-a051cab4-06f3-4b8c-b7c3-9bb1fbc90cab.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-aeff19b8-15d8-49eb-aae1-0439e0f014cd.json
  packages/ti_google_threat_intelligence/kibana/search/ti_google_threat_intelligence-e813ee30-c48e-4607-be05-8f2abe2f8bd1.json
  packages/ti_google_threat_intelligence/kibana/security_rule/05b83871-a7af-494f-b1cf-be4b20ac4a86.json
  packages/ti_google_threat_intelligence/kibana/security_rule/1e6b8753-550a-401e-bffd-06f085f3e658.json
  packages/ti_google_threat_intelligence/kibana/security_rule/36b2cd30-34ae-46c4-993e-a370ea059692.json
  packages/ti_google_threat_intelligence/kibana/security_rule/677c4a0c-d433-48c4-b465-4bab3d0b1755.json
  packages/ti_google_threat_intelligence/kibana/tag/ti_google_threat_intelligence-security-solution-default.json
  packages/ti_google_threat_intelligence/manifest.yml
Labels: documentation, enhancement, dashboard, Crest, Team:Security-Service Integrations, Integration:ti_google_threat_intelligence

#14540 fix(packages/sysdig)!: change sysdig.event.category from text to keyword
  packages/sysdig/changelog.yml
  packages/sysdig/data_stream/alerts/fields/base-fields.yml
  packages/sysdig/data_stream/alerts/fields/fields.yml
  packages/sysdig/data_stream/event/fields/base-fields.yml
  packages/sysdig/docs/README.md
  packages/sysdig/manifest.yml
Labels: documentation, breaking change, Team:Security-Service Integrations, Integration:sysdig

#14543 zscaler_zia: Fix pkg_version parameter in the check_template_version script in ingest pipelines
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/endpoint_dlp/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/tunnel/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: documentation, Integration:zscaler_zia, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#14529 [cloudflare_logpush] Fix audit data stream null handling
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations

#14544 swimlane: fix field type conflicts and use ECS definitions
  packages/swimlane/changelog.yml
  packages/swimlane/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/audit_logs/fields/base-fields.yml
  packages/swimlane/data_stream/audit_logs/sample_event.json
  packages/swimlane/data_stream/swimlane_api/_dev/test/pipeline/test-events.log-expected.json
  packages/swimlane/data_stream/swimlane_api/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/swimlane_api/fields/base-fields.yml
  packages/swimlane/data_stream/swimlane_api/sample_event.json
  packages/swimlane/data_stream/tenant_api/_dev/test/pipeline/test-events.log-expected.json
  packages/swimlane/data_stream/tenant_api/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/tenant_api/fields/base-fields.yml
  packages/swimlane/data_stream/tenant_api/sample_event.json
  packages/swimlane/data_stream/turbine_api/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/turbine_api/fields/base-fields.yml
  packages/swimlane/data_stream/turbine_api/sample_event.json
  packages/swimlane/docs/README.md
  packages/swimlane/manifest.yml
Labels: documentation, bugfix, Team:Security-Service Integrations, Integration:swimlane

#14551 [Azure AI Foundry] Add guardrails dashboard
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/img/azure_ai_foundry_apim_overview.png
  packages/azure_ai_foundry/img/azure_ai_foundry_billing.png
  packages/azure_ai_foundry/img/azure_ai_foundry_guardrails_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_guardrails_2.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_2.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-09e1aa79-9d15-4bbe-a32c-85766864fa6a.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-0d923e01-2082-4ba0-a1a3-335ad53f1a00.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-284b4e05-3349-401b-94fe-9136cdb4b2fd.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-2b21bfb1-6fc2-45c5-9f0f-1e15aaab5245.json
  packages/azure_ai_foundry/kibana/search/azure_ai_foundry-c619166c-9706-4a45-90d8-19c95899cd85.json
  packages/azure_ai_foundry/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:azure_ai_foundry

#14565 [cloud security posture]: release version 3.0.0
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture

#14477 [Entro Security] Initial release of the Entro Security Integration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/integration_bug.yml
  .github/ISSUE_TEMPLATE/integration_feature_request.yml
  packages/entro/_dev/build/build.yml
  packages/entro/_dev/build/docs/README.md
  packages/entro/_dev/deploy/docker/docker-compose.yml
  packages/entro/_dev/deploy/docker/files/config.yml
  packages/entro/changelog.yml
  packages/entro/data_stream/audit/_dev/test/pipeline/test-audit-logs.json
  packages/entro/data_stream/audit/_dev/test/pipeline/test-audit-logs.json-expected.json
  packages/entro/data_stream/audit/_dev/test/system/test-common-config.yml
  packages/entro/data_stream/audit/agent/stream/cel.yml.hbs
  packages/entro/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/entro/data_stream/audit/fields/agent.yml
  packages/entro/data_stream/audit/fields/base-fields.yml
  packages/entro/data_stream/audit/fields/fields.yml
  packages/entro/data_stream/audit/manifest.yml
  packages/entro/data_stream/audit/sample_event.json
  packages/entro/docs/README.md
  packages/entro/img/audit-dashboard.png
  packages/entro/img/entro_security-logo.svg
  packages/entro/kibana/dashboard/entro-14e06003-3dc0-4b07-bb53-85a87ed0fefe.json
  packages/entro/manifest.yml
Labels: documentation, dashboard, New Integration, Team:Security-Service Integrations, Integration:entro

#14567 [o365] Stricter enforcement of maximum age limits
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/data_stream/audit/manifest.yml
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#14504 [Cisco Nexus] Improve timezone and timestamp handling
  packages/cisco_nexus/_dev/deploy/docker/sample_logs/test-nexus.log
  packages/cisco_nexus/changelog.yml
  packages/cisco_nexus/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/cisco_nexus/data_stream/log/_dev/test/pipeline/test-nexus-tz-mapping.log
  packages/cisco_nexus/data_stream/log/_dev/test/pipeline/test-nexus-tz-mapping.log-expected.json
  packages/cisco_nexus/data_stream/log/_dev/test/pipeline/test-nexus.log-expected.json
  packages/cisco_nexus/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_nexus/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_nexus/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/cisco_nexus/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_nexus/data_stream/log/agent/stream/filestream.yml.hbs
  packages/cisco_nexus/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_nexus/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_nexus/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_nexus/data_stream/log/manifest.yml
  packages/cisco_nexus/data_stream/log/sample_event.json
  packages/cisco_nexus/docs/README.md
  packages/cisco_nexus/manifest.yml
Labels: documentation, enhancement, Integration:cisco_nexus, Team:Security-Deployment and Devices

#14318 [aws_billing] Add new `aws_billing` integration
  .github/CODEOWNERS
  packages/aws_billing/LICENSE.txt
  packages/aws_billing/_dev/build/build.yml
  packages/aws_billing/_dev/build/docs/README.md
  packages/aws_billing/changelog.yml
  packages/aws_billing/data_stream/cur/_dev/test/pipeline/test-aws-billing-without-resource-id.log
  packages/aws_billing/data_stream/cur/_dev/test/pipeline/test-aws-billing-without-resource-id.log-expected.json
  packages/aws_billing/data_stream/cur/_dev/test/pipeline/test-common-config.yml
  packages/aws_billing/data_stream/cur/agent/stream/aws-s3.yml.hbs
  packages/aws_billing/data_stream/cur/elasticsearch/ingest_pipeline/default.yml
  packages/aws_billing/data_stream/cur/elasticsearch/ingest_pipeline/pipeline_extract_metadata.yml
  packages/aws_billing/data_stream/cur/fields/base-fields.yml
  packages/aws_billing/data_stream/cur/fields/fields.yml
  packages/aws_billing/data_stream/cur/fields/input.yml
  packages/aws_billing/data_stream/cur/manifest.yml
  packages/aws_billing/data_stream/cur/sample_event.json
  packages/aws_billing/docs/README.md
  packages/aws_billing/elasticsearch/transform/cur/fields/base-fields.yml
  packages/aws_billing/elasticsearch/transform/cur/fields/fields.yml
  packages/aws_billing/elasticsearch/transform/cur/fields/input.yml
  packages/aws_billing/elasticsearch/transform/cur/manifest.yml
  packages/aws_billing/elasticsearch/transform/cur/transform.yml
  packages/aws_billing/img/all_time.png
  packages/aws_billing/img/current_month.png
  packages/aws_billing/img/logo_aws.svg
  packages/aws_billing/kibana/dashboard/aws_billing-01aace34-9219-4c6c-80a9-b903af48950f.json
  packages/aws_billing/kibana/dashboard/aws_billing-81918d21-70c6-4bc0-a03e-9e298460a525.json
  packages/aws_billing/kibana/dashboard/aws_billing-a716ad8e-0f77-4592-b497-6c841447efd2.json
  packages/aws_billing/kibana/dashboard/aws_billing-fa467f8d-50d9-4cb0-ae88-94ef24e9941a.json
  packages/aws_billing/kibana/dashboard/aws_billing-fb79da15-4c4c-453f-9d3d-b792ce2482ff.json
  packages/aws_billing/manifest.yml
  packages/aws_billing/validation.yml
Labels: documentation, dashboard, New Integration, Team:Obs-InfraObs

#14591 [cloud_asset_inventory] Version 1.0.0
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_asset_inventory

#14580 infoblox_nios: update integration for compatibility with NIOS 9.0
  packages/infoblox_nios/_dev/build/docs/README.md
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/docs/README.md
  packages/infoblox_nios/manifest.yml
Labels: documentation, enhancement, Integration:infoblox_nios, Team:Security-Service Integrations, Team:Sit-Crest

#14589 [Azure AI Foundry] Fix typo in the billing dashboard summary
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-09e1aa79-9d15-4bbe-a32c-85766864fa6a.json
  packages/azure_ai_foundry/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, bugfix, Integration:azure_ai_foundry

#14416 [aws_logs] fix number_of_workers to be always passed in hbs template
  packages/aws_logs/_dev/build/docs/README.md
  packages/aws_logs/changelog.yml
  packages/aws_logs/data_stream/generic/agent/stream/aws-cloudwatch.yml.hbs
  packages/aws_logs/data_stream/generic/agent/stream/aws-s3.yml.hbs
  packages/aws_logs/data_stream/generic/manifest.yml
  packages/aws_logs/docs/README.md
  packages/aws_logs/manifest.yml
Labels: documentation, Team:Obs-InfraObs, bugfix, Integration:aws_logs, Team:obs-ds-hosted-services

#14284 [infoblox_threat_defense] Initial release of Infoblox Threat Defense
  .github/CODEOWNERS
  packages/infoblox_threat_defense/_dev/build/build.yml
  packages/infoblox_threat_defense/_dev/build/docs/README.md
  packages/infoblox_threat_defense/_dev/deploy/docker/docker-compose.yml
  packages/infoblox_threat_defense/_dev/deploy/docker/sample_logs/log.log
  packages/infoblox_threat_defense/changelog.yml
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-atlas-notification.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-atlas-notification.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-audit.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-audit.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-dhcp-lease.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-dhcp-lease.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-dns-response.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-dns-response.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-rpz.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-rpz.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-service.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-service.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-soc-insight.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/pipeline/test-soc-insight.json-expected.json
  packages/infoblox_threat_defense/data_stream/event/_dev/test/system/test-tcp-config.yml
  packages/infoblox_threat_defense/data_stream/event/_dev/test/system/test-tls-config.yml
  packages/infoblox_threat_defense/data_stream/event/_dev/test/system/test-udp-config.yml
  packages/infoblox_threat_defense/data_stream/event/agent/stream/tcp.yml.hbs
  packages/infoblox_threat_defense/data_stream/event/agent/stream/udp.yml.hbs
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_atlas_notification.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_dhcp_lease.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_dns_response.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_rpz.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_service.yml
  packages/infoblox_threat_defense/data_stream/event/elasticsearch/ingest_pipeline/pipeline_soc_insight.yml
  packages/infoblox_threat_defense/data_stream/event/fields/base-fields.yml
  packages/infoblox_threat_defense/data_stream/event/fields/beats.yml
  packages/infoblox_threat_defense/data_stream/event/fields/fields.yml
  packages/infoblox_threat_defense/data_stream/event/manifest.yml
  packages/infoblox_threat_defense/data_stream/event/sample_event.json
  packages/infoblox_threat_defense/docs/README.md
  packages/infoblox_threat_defense/img/event-atlas-notification-and-service-events-dashboard.png
  packages/infoblox_threat_defense/img/event-audit-dashboard.png
  packages/infoblox_threat_defense/img/event-dhcp-lease-dashboard.png
  packages/infoblox_threat_defense/img/event-dns-response-dashboard.png
  packages/infoblox_threat_defense/img/event-rpz-dashboard.png
  packages/infoblox_threat_defense/img/event-soc-insights-dashboard.png
  packages/infoblox_threat_defense/img/infoblox-threat-defense-logo.svg
  packages/infoblox_threat_defense/kibana/dashboard/infoblox_threat_defense-04db9888-c729-4316-8090-aed0117d9f43.json
  packages/infoblox_threat_defense/kibana/dashboard/infoblox_threat_defense-47018494-4ab0-4a3a-b53b-fc355a012e37.json
  packages/infoblox_threat_defense/kibana/dashboard/infoblox_threat_defense-57ddf8b7-8a06-4691-9229-3d96fe89c548.json
  packages/infoblox_threat_defense/kibana/dashboard/infoblox_threat_defense-8d9df97b-90fd-4806-8b7d-4d38e920c6c1.json
  packages/infoblox_threat_defense/kibana/dashboard/infoblox_threat_defense-b505f56a-e97e-4c2b-ac55-7ffb90148bda.json
  packages/infoblox_threat_defense/kibana/dashboard/infoblox_threat_defense-f2144dc9-2ca1-4e38-94ef-cfad0e70efb6.json
  packages/infoblox_threat_defense/kibana/search/infoblox_threat_defense-435257c9-42f2-4a24-bf41-d6155ca08a04.json
  packages/infoblox_threat_defense/kibana/search/infoblox_threat_defense-492438ab-abcf-466b-a283-7bbedbe0406a.json
  packages/infoblox_threat_defense/kibana/search/infoblox_threat_defense-61aec66e-a50e-4b86-91e3-65f282bc53cd.json
  packages/infoblox_threat_defense/kibana/search/infoblox_threat_defense-66b1b6de-8058-44d9-8190-fbbe2cdf2afb.json
  packages/infoblox_threat_defense/kibana/search/infoblox_threat_defense-be0edc99-11cd-4488-b43c-fd05be732244.json
  packages/infoblox_threat_defense/manifest.yml
  packages/infoblox_threat_defense/validation.yml
Labels: documentation, dashboard, New Integration, Crest, Team:Security-Service Integrations, Integration:infoblox_threat_defense

#14549 google_workspace: add missing field mappings in data streams
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-application.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-calendar.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-chat.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-chromeos.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-contacts.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-delegatedadmin.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-docs.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-domain.log
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-domain.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-gmail.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-groups.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-licenses.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-mobile.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-org.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-security.log
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-security.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-sites.log-expected.json
  packages/google_workspace/data_stream/admin/_dev/test/pipeline/test-admin-user.log-expected.json
  packages/google_workspace/data_stream/admin/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/admin/fields/fields.yml
  packages/google_workspace/data_stream/device/_dev/test/pipeline/test-device.log
  packages/google_workspace/data_stream/device/_dev/test/pipeline/test-device.log-expected.json
  packages/google_workspace/data_stream/device/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/device/fields/fields.yml
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log-expected.json
  packages/google_workspace/data_stream/drive/fields/fields.yml
  packages/google_workspace/data_stream/login/_dev/test/pipeline/test-login.log
  packages/google_workspace/data_stream/login/_dev/test/pipeline/test-login.log-expected.json
  packages/google_workspace/data_stream/login/fields/fields.yml
  packages/google_workspace/data_stream/token/_dev/test/pipeline/test-token.log
  packages/google_workspace/data_stream/token/_dev/test/pipeline/test-token.log-expected.json
  packages/google_workspace/data_stream/token/fields/fields.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: documentation, enhancement, Integration:google_workspace, Team:Security-Service Integrations, Team:Sit-Crest

#14586 ti_abusech: improve ECS compatibility and tests
  packages/ti_abusech/_dev/deploy/docker/docker-compose.yml
  packages/ti_abusech/_dev/deploy/docker/files/config-threatfox.yml
  packages/ti_abusech/_dev/deploy/docker/files/config.yml
  packages/ti_abusech/changelog.yml
  packages/ti_abusech/data_stream/malware/_dev/test/pipeline/test-malware-ndjson.log-expected.json
  packages/ti_abusech/data_stream/malware/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/malware/sample_event.json
  packages/ti_abusech/data_stream/malwarebazaar/_dev/test/pipeline/test-malwarebazaar-ndjson.log-expected.json
  packages/ti_abusech/data_stream/malwarebazaar/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/malwarebazaar/sample_event.json
  packages/ti_abusech/data_stream/threatfox/_dev/test/pipeline/test-threatfox-ndjson.log
  packages/ti_abusech/data_stream/threatfox/_dev/test/pipeline/test-threatfox-ndjson.log-expected.json
  packages/ti_abusech/data_stream/threatfox/_dev/test/system/test-auth-config.yml
  packages/ti_abusech/data_stream/threatfox/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/threatfox/sample_event.json
  packages/ti_abusech/data_stream/url/_dev/test/pipeline/test-abusechurl-dump.log-expected.json
  packages/ti_abusech/data_stream/url/elasticsearch/ingest_pipeline/default.yml
  packages/ti_abusech/data_stream/url/sample_event.json
  packages/ti_abusech/manifest.yml
Labels: enhancement, Integration:ti_abusech, Team:Security-Service Integrations, Team:Sit-Crest

#14585 amazon_security_lake: fix handling of invalid '-' ip values
  packages/amazon_security_lake/changelog.yml
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-application-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-findings.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-findings.log-expected.json
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-network-activity.log
  packages/amazon_security_lake/data_stream/event/_dev/test/pipeline/test-network-activity.log-expected.json
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_network_activity.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_device.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_network_endpoint.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_proxy.yml
  packages/amazon_security_lake/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_tls.yml
  packages/amazon_security_lake/manifest.yml
Labels: bugfix, Integration:amazon_security_lake, Team:Security-Service Integrations

#14581 Add a note to version map of CSP integration about serverless kibana.version constraint
  packages/cloud_security_posture/changelog.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture

#14640 [Security Rules] Update security rules package to v8.18.9-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/498e4094-60e7-11f0-8847-f661ea17fbcd_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14641 [Security Rules] Update security rules package to v8.19.2-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/498e4094-60e7-11f0-8847-f661ea17fbcd_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14642 [Security Rules] Update security rules package to v9.0.9-beta.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/498e4094-60e7-11f0-8847-f661ea17fbcd_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14646 Custom TI: add filter for transform's destination index in dashboard
  packages/ti_custom/changelog.yml
  packages/ti_custom/kibana/dashboard/ti_custom-e336dd7a-d5cb-4b7f-a6cd-85c45d0bd1ac.json
  packages/ti_custom/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:ti_custom

#14649 [Security Rules] Update security rules package to v8.18.9-beta.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/75c53838-5dcd-11f0-829c-f661ea17fbcd_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14651 [Security Rules] Update security rules package to v9.0.9-beta.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/75c53838-5dcd-11f0-829c-f661ea17fbcd_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14657 [Security Rules] Update security rules package to v9.1.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/70558fd5-6448-4c65-804a-8567ce02c3a2_1.json
  packages/security_detection_engine/kibana/security_rule/720fc1aa-e195-4a1d-81d8-04edfe5313ed_1.json
  packages/security_detection_engine/kibana/security_rule/74147312-ba03-4bea-91d1-040d54c1e8c3_1.json
  packages/security_detection_engine/kibana/security_rule/9b35422b-9102-45a9-8610-2e0c22281c55_1.json
  packages/security_detection_engine/kibana/security_rule/aeebe561-c338-4118-9924-8cb4e478aa58_1.json
  packages/security_detection_engine/kibana/security_rule/d3b6222f-537e-4b84-956a-3ebae2dcf811_1.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14609 [o365] No delays until up-to-date
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#14383 Use links panel in dashboard for the system integration
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-0d3f2380-fa78-11e6-ae9b-81e5311e8cab.json
  packages/system/kibana/dashboard/system-277876d0-fa2c-11e6-bbd3-29c986c96e5a.json
  packages/system/kibana/dashboard/system-5517a150-f9ce-11e6-8115-a7c18106d86a.json
  packages/system/kibana/dashboard/system-71f720f0-ff18-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/kibana/dashboard/system-Logs-syslog-dashboard.json
  packages/system/kibana/dashboard/system-Metrics-system-overview.json
  packages/system/kibana/dashboard/system-Windows-Dashboard.json
  packages/system/kibana/dashboard/system-bae11b00-9bfc-11ea-87e4-49f31ec44891.json
  packages/system/kibana/dashboard/system-bb858830-f412-11e9-8405-516218e3d268.json
  packages/system/kibana/dashboard/system-d401ef40-a7d5-11e9-a422-d144027429da.json
  packages/system/manifest.yml
Labels: enhancement, Integration:system, dashboard, Team:Obs-InfraObs

#14577 [statsd_input] update statsd_input package manifest.yml format_version to 3.4.0.
  packages/statsd_input/changelog.yml
  packages/statsd_input/fields/input.yml
  packages/statsd_input/manifest.yml
Labels: enhancement, Integration:statsd_input, Team:Obs-InfraObs

#14678 [Security AI Prompts] First major release
  packages/security_ai_prompts/changelog.yml
  packages/security_ai_prompts/manifest.yml
Labels: 8.19 candidate, Integration:security_ai_prompts

#14674 [system] Fix condition in handlebar file of security data stream
  packages/system/changelog.yml
  packages/system/data_stream/security/agent/stream/winlog.yml.hbs
  packages/system/manifest.yml
Labels: Integration:system, Crest, Team:Security-Windows Platform

#14682 [CLOUDFLARE_LOGPUSH] Do not convert 0 timestamps in spectrum_event datastream
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/spectrum_event/_dev/test/pipeline/test-pipeline-spectrum-event.log
  packages/cloudflare_logpush/data_stream/spectrum_event/_dev/test/pipeline/test-pipeline-spectrum-event.log-expected.json
  packages/cloudflare_logpush/data_stream/spectrum_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations

#14607 Add Links panel to `elastic/obs-infraobs-integrations` packages
  packages/iis/changelog.yml
  packages/iis/kibana/dashboard/iis-2c171500-858b-11ea-91bc-ab084c7ec0e7.json
  packages/iis/kibana/dashboard/iis-4b975820-85a1-11ea-91bc-ab084c7ec0e7.json
  packages/iis/kibana/dashboard/iis-b4108810-861c-11ea-91bc-ab084c7ec0e7.json
  packages/iis/kibana/dashboard/iis-ebc23240-8572-11ea-91bc-ab084c7ec0e7.json
  packages/iis/manifest.yml
  packages/nagios_xi/changelog.yml
  packages/nagios_xi/kibana/dashboard/nagios_xi-3a61d470-a0fe-11ec-8479-e1ade3344260.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9c265030-af6f-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-9f8b2710-af64-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/kibana/dashboard/nagios_xi-d56317e0-af6d-11ec-9663-316bb496e4b6.json
  packages/nagios_xi/manifest.yml
  packages/nginx_ingress_controller_otel/changelog.yml
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-05a72585-3900-4944-b648-2f15907872d1.json
  packages/nginx_ingress_controller_otel/kibana/dashboard/nginx_ingress_controller_otel-30277d32-7af7-4a29-b5e2-a77e707d8471.json
  packages/nginx_ingress_controller_otel/manifest.yml
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/kibana/dashboard/o365_metrics-0a6fa214-6cd1-4970-b7a4-f168a3f33c5c.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-2abb4172-9e95-458a-8ade-64403457b1f0.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-51a8703b-513f-44e5-9569-5c40f1374f42.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-5a19bdb2-e9c5-4774-8397-9e1501d70e3a.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-8a87d02c-46d4-4284-8df3-5a23b6b8324f.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-977e9818-ac21-45be-8ca4-aae0f9accca7.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-9edf2772-2d81-4c6d-bb24-fa72c997a572.json
  packages/o365_metrics/kibana/dashboard/o365_metrics-f204a268-a4d4-43dd-b7fa-c7c9fb006cbb.json
  packages/o365_metrics/manifest.yml
Labels: Integration:iis, dashboard, Integration:nagios_xi, Team:Obs-InfraObs, Integration:nginx_ingress_controller_otel, Integration:o365_metrics

#14693 feat(google_workspace): Add actor application name and drive api method
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log
  packages/google_workspace/data_stream/drive/_dev/test/pipeline/test-drive.log-expected.json
  packages/google_workspace/data_stream/drive/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/data_stream/drive/fields/fields.yml
  packages/google_workspace/data_stream/drive/fields/package-fields.yml
  packages/google_workspace/docs/README.md
  packages/google_workspace/manifest.yml
Labels: enhancement, Integration:google_workspace, Team:Security-Service Integrations

#14524 [Netskope] Add `Events v2` data stream
  packages/netskope/_dev/build/docs/README.md
  packages/netskope/changelog.yml
  packages/netskope/data_stream/events_v2/_dev/deploy/tf/env.yml
  packages/netskope/data_stream/events_v2/_dev/deploy/tf/files/events.csv
  packages/netskope/data_stream/events_v2/_dev/deploy/tf/main.tf
  packages/netskope/data_stream/events_v2/_dev/deploy/tf/variables.tf
  packages/netskope/data_stream/events_v2/_dev/test/pipeline/test-common-config.yml
  packages/netskope/data_stream/events_v2/_dev/test/pipeline/test-events.log
  packages/netskope/data_stream/events_v2/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/data_stream/events_v2/_dev/test/system/test-aws-s3-config.yml
  packages/netskope/data_stream/events_v2/agent/stream/abs.yml.hbs
  packages/netskope/data_stream/events_v2/agent/stream/aws-s3.yml.hbs
  packages/netskope/data_stream/events_v2/agent/stream/gcs.yml.hbs
  packages/netskope/data_stream/events_v2/elasticsearch/ingest_pipeline/default.yml
  packages/netskope/data_stream/events_v2/fields/base-fields.yml
  packages/netskope/data_stream/events_v2/fields/beats.yml
  packages/netskope/data_stream/events_v2/fields/fields.yml
  packages/netskope/data_stream/events_v2/manifest.yml
  packages/netskope/data_stream/events_v2/sample_event.json
  packages/netskope/docs/README.md
  packages/netskope/img/netskope-events_v2-screenshot.png
  packages/netskope/kibana/dashboard/netskope-114731b3-20a0-4dfb-9ac6-3cfcc580de86.json
  packages/netskope/manifest.yml
Labels: enhancement, dashboard, Integration:netskope, Team:Security-Service Integrations, Team:Sit-Crest

#14688 [Apache] Update tests to use the debian archive
  packages/apache/_dev/deploy/docker/Dockerfile
  packages/apache/changelog.yml
  packages/apache/manifest.yml
Labels: Integration:apache, Team:Obs-InfraObs, bugfix

#14719 [Security Rules] Update security rules package to v9.1.3-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/70558fd5-6448-4c65-804a-8567ce02c3a2_1.json
  packages/security_detection_engine/kibana/security_rule/720fc1aa-e195-4a1d-81d8-04edfe5313ed_1.json
  packages/security_detection_engine/kibana/security_rule/74147312-ba03-4bea-91d1-040d54c1e8c3_1.json
  packages/security_detection_engine/kibana/security_rule/9b35422b-9102-45a9-8610-2e0c22281c55_1.json
  packages/security_detection_engine/kibana/security_rule/aeebe561-c338-4118-9924-8cb4e478aa58_1.json
  packages/security_detection_engine/kibana/security_rule/d3b6222f-537e-4b84-956a-3ebae2dcf811_1.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#14711 Add `fips_compatible` flag to sql input package
  packages/sql_input/changelog.yml
  packages/sql_input/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:sql_input

#14718 [DED] Add info to clarify network and file events
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/elasticsearch/transform/pivot_transform/transform.yml
  packages/ded/manifest.yml
Labels: documentation, Integration:ded, Team:Security-Applied ML

#14700 [TENABLE_IO] Use script to convert strings to numeric in asset datastream - backport
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/tenable_io/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/manifest.yml
Labels: Integration:tenable_io, bugfix, backport, Team:Security-Service Integrations

#14723 crowdstrike: add more EppDetectionSummaryEvent tests, fix field definitions and make data-safe
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/epp_detection_summary.yml
  packages/crowdstrike/data_stream/falcon/fields/fields.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-common-config.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-epp-detection-summary.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-epp-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: documentation, enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#14692 Mapping of Gigamon Metadata Attributes to ECS fields
  packages/gigamon/changelog.yml
  packages/gigamon/data_stream/ami/_dev/test/pipeline/test-ami.json
  packages/gigamon/data_stream/ami/_dev/test/pipeline/test-ami.json-expected.json
  packages/gigamon/data_stream/ami/elasticsearch/ingest_pipeline/default.yml
  packages/gigamon/data_stream/ami/fields/fields.yml
  packages/gigamon/data_stream/ami/sample_event.json
  packages/gigamon/docs/README.md
  packages/gigamon/manifest.yml
Labels: documentation, enhancement, Team:Security-Service Integrations, Integration:gigamon, maintainer:Partner

#14705 ti_abusech: Add pipeline and rally benchmarks
  packages/ti_abusech/_dev/benchmark/rally/malware-benchmark.yml
  packages/ti_abusech/_dev/benchmark/rally/malware-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/rally/malware-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/rally/malware-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/rally/malwarebazaar-benchmark.yml
  packages/ti_abusech/_dev/benchmark/rally/malwarebazaar-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/rally/malwarebazaar-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/rally/malwarebazaar-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/rally/threatfox-benchmark.yml
  packages/ti_abusech/_dev/benchmark/rally/threatfox-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/rally/threatfox-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/rally/threatfox-benchmark/template.ndjson
  packages/ti_abusech/_dev/benchmark/rally/url-benchmark.yml
  packages/ti_abusech/_dev/benchmark/rally/url-benchmark/config.yml
  packages/ti_abusech/_dev/benchmark/rally/url-benchmark/fields.yml
  packages/ti_abusech/_dev/benchmark/rally/url-benchmark/template.ndjson
  packages/ti_abusech/data_stream/malware/_dev/benchmark/pipeline/config.yml
  packages/ti_abusech/data_stream/malware/_dev/benchmark/pipeline/test-malware-ndjson.log
  packages/ti_abusech/data_stream/malwarebazaar/_dev/benchmark/pipeline/config.yml
  packages/ti_abusech/data_stream/malwarebazaar/_dev/benchmark/pipeline/test-malwarebazaar-ndjson.log
  packages/ti_abusech/data_stream/threatfox/_dev/benchmark/pipeline/config.yml
  packages/ti_abusech/data_stream/threatfox/_dev/benchmark/pipeline/test-threatfox-ndjson.log
  packages/ti_abusech/data_stream/url/_dev/benchmark/pipeline/config.yml
  packages/ti_abusech/data_stream/url/_dev/benchmark/pipeline/test-abusechurl-dump.log
Labels: Integration:ti_abusech, Category: Integration quality, Team:Security-Service Integrations

#14722 fix(m365_defender): propagate state variables on error
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#14746 rapid7_insightvm: avoid logging failure for empty HTTPJSON template value evaluation
  packages/rapid7_insightvm/changelog.yml
  packages/rapid7_insightvm/data_stream/asset/agent/stream/httpjson.yml.hbs
  packages/rapid7_insightvm/data_stream/asset/sample_event.json
  packages/rapid7_insightvm/data_stream/vulnerability/agent/stream/httpjson.yml.hbs
  packages/rapid7_insightvm/data_stream/vulnerability/sample_event.json
  packages/rapid7_insightvm/docs/README.md
  packages/rapid7_insightvm/manifest.yml
Labels: documentation, enhancement, Integration:rapid7_insightvm, Team:Security-Service Integrations, Team:Sit-Crest

#14615 [Azure AI Foundry] Rename billing dashboard
  packages/azure_ai_foundry/changelog.yml
  packages/azure_ai_foundry/img/azure_ai_foundry_apim_overview.png
  packages/azure_ai_foundry/img/azure_ai_foundry_billing.png
  packages/azure_ai_foundry/img/azure_ai_foundry_guardrails_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_1.png
  packages/azure_ai_foundry/img/azure_ai_foundry_overview_2.png
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-09e1aa79-9d15-4bbe-a32c-85766864fa6a.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-0d923e01-2082-4ba0-a1a3-335ad53f1a00.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-284b4e05-3349-401b-94fe-9136cdb4b2fd.json
  packages/azure_ai_foundry/kibana/dashboard/azure_ai_foundry-2b21bfb1-6fc2-45c5-9f0f-1e15aaab5245.json
  packages/azure_ai_foundry/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:azure_ai_foundry

#14748 [cisco_ftd] Ensure observer zone fields are set
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-endpoint-profile.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-config.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-intrusion.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-malware-site.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:cisco_ftd, bugfix, Team:Security-Deployment and Devices, Team:Integration-Experience

#14757 fix(cisco_ftd): handle optional spaces in message ID 113014
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:cisco_ftd, bugfix, Team:Security-Deployment and Devices
