Repository elastic/integrations, pull requests merged in 2025-05, with the labels that each got.

#13748 [Cloud Security] Change Cloud Asset Inventory to Cloud Asset Discovery
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/docs/README.md
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-2773feaf-50bb-43f8-9fa9-8f9a5f85e566.json
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#13499 [Swimlane] New integration
  .github/CODEOWNERS
  packages/swimlane/_dev/build/build.yml
  packages/swimlane/_dev/build/docs/README.md
  packages/swimlane/_dev/deploy/docker/docker-compose.yml
  packages/swimlane/_dev/deploy/docker/sample_logs/test-swimlane-api.log
  packages/swimlane/_dev/deploy/docker/sample_logs/test-tenant-api.log
  packages/swimlane/_dev/deploy/docker/sample_logs/test-turbine-api.log
  packages/swimlane/changelog.yml
  packages/swimlane/data_stream/swimlane_api/_dev/test/pipeline/test-events.log
  packages/swimlane/data_stream/swimlane_api/_dev/test/pipeline/test-events.log-expected.json
  packages/swimlane/data_stream/swimlane_api/_dev/test/system/test-default-config.yml
  packages/swimlane/data_stream/swimlane_api/agent/stream/stream.yml.hbs
  packages/swimlane/data_stream/swimlane_api/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/swimlane_api/fields/base-fields.yml
  packages/swimlane/data_stream/swimlane_api/manifest.yml
  packages/swimlane/data_stream/swimlane_api/sample_event.json
  packages/swimlane/data_stream/tenant_api/_dev/test/pipeline/test-events.log
  packages/swimlane/data_stream/tenant_api/_dev/test/pipeline/test-events.log-expected.json
  packages/swimlane/data_stream/tenant_api/_dev/test/system/test-default-config.yml
  packages/swimlane/data_stream/tenant_api/agent/stream/stream.yml.hbs
  packages/swimlane/data_stream/tenant_api/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/tenant_api/fields/base-fields.yml
  packages/swimlane/data_stream/tenant_api/manifest.yml
  packages/swimlane/data_stream/tenant_api/sample_event.json
  packages/swimlane/data_stream/turbine_api/_dev/test/pipeline/test-events.log
  packages/swimlane/data_stream/turbine_api/_dev/test/pipeline/test-events.log-expected.json
  packages/swimlane/data_stream/turbine_api/_dev/test/system/test-default-config.yml
  packages/swimlane/data_stream/turbine_api/agent/stream/stream.yml.hbs
  packages/swimlane/data_stream/turbine_api/elasticsearch/ingest_pipeline/default.yml
  packages/swimlane/data_stream/turbine_api/fields/base-fields.yml
  packages/swimlane/data_stream/turbine_api/manifest.yml
  packages/swimlane/data_stream/turbine_api/sample_event.json
  packages/swimlane/docs/README.md
  packages/swimlane/img/swimlane.png
  packages/swimlane/img/tpi-audit-log-settings.png
  packages/swimlane/manifest.yml
Labels: New Integration, Team:Security-Service Integrations

#13671 [symantec_endpoint_security] Event mapping improvements
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-application.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-audit.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-diagnostic.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-event.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-event.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-license.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-security.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-system.log
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-category-system.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/symantec_endpoint_security/data_stream/event/_dev/test/pipeline/test-scalar-flattened.log-expected.json
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_category_system.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_actor.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_attack.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_connection.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_cybox.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_device.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_file.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_process.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_registry.yml
  packages/symantec_endpoint_security/data_stream/event/elasticsearch/ingest_pipeline/pipeline_object_threat.yml
  packages/symantec_endpoint_security/data_stream/event/fields/base-fields.yml
  packages/symantec_endpoint_security/data_stream/event/fields/winlog.yml
  packages/symantec_endpoint_security/data_stream/event/sample_event.json
  packages/symantec_endpoint_security/docs/README.md
  packages/symantec_endpoint_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#13727 [azure_frontdoor] Clarify supported log types in README
  packages/azure_frontdoor/_dev/build/docs/README.md
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/docs/README.md
  packages/azure_frontdoor/manifest.yml
Labels: Integration:azure_frontdoor, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13768 [Cloud Security] Fix Cloud Asset Inventory dataview name
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/docs/README.md
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-2773feaf-50bb-43f8-9fa9-8f9a5f85e566.json
  packages/cloud_asset_inventory/manifest.yml
Labels: Team:Cloud Security, bugfix, Integration:cloud_asset_inventory

#13767 [fortinet_fortigate] Set bad URL to url.original
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-2.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet-7-2.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/event.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/traffic.yml
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/utm.yml
  packages/fortinet_fortigate/data_stream/log/fields/ecs.yml
  packages/fortinet_fortigate/docs/README.md
  packages/fortinet_fortigate/manifest.yml
Labels: Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#13074 [system/process][system/process_summary] Add support `degrade_on_partial`
  packages/system/changelog.yml
  packages/system/data_stream/process/agent/stream/stream.yml.hbs
  packages/system/data_stream/process/manifest.yml
  packages/system/data_stream/process_summary/agent/stream/stream.yml.hbs
  packages/system/data_stream/process_summary/manifest.yml
  packages/system/manifest.yml
Labels: enhancement, Integration:system, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs, Team:Security-Linux Platform

#13703 [google_workspace] Handle lag time
  packages/google_workspace/_dev/deploy/docker/config.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/access_transparency/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/access_transparency/manifest.yml
  packages/google_workspace/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/admin/manifest.yml
  packages/google_workspace/data_stream/calendar/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/calendar/manifest.yml
  packages/google_workspace/data_stream/chat/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/chat/manifest.yml
  packages/google_workspace/data_stream/chrome/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/chrome/manifest.yml
  packages/google_workspace/data_stream/context_aware_access/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/context_aware_access/manifest.yml
  packages/google_workspace/data_stream/data_studio/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/data_studio/manifest.yml
  packages/google_workspace/data_stream/device/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/device/manifest.yml
  packages/google_workspace/data_stream/drive/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/drive/manifest.yml
  packages/google_workspace/data_stream/gcp/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/gcp/manifest.yml
  packages/google_workspace/data_stream/group_enterprise/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/group_enterprise/manifest.yml
  packages/google_workspace/data_stream/groups/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/groups/manifest.yml
  packages/google_workspace/data_stream/login/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/login/manifest.yml
  packages/google_workspace/data_stream/rules/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/rules/manifest.yml
  packages/google_workspace/data_stream/saml/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/saml/manifest.yml
  packages/google_workspace/data_stream/token/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/token/manifest.yml
  packages/google_workspace/data_stream/user_accounts/agent/stream/httpjson.yml.hbs
  packages/google_workspace/data_stream/user_accounts/manifest.yml
  packages/google_workspace/data_stream/vault/agent/stream/cel.yml.hbs
  packages/google_workspace/data_stream/vault/manifest.yml
  packages/google_workspace/manifest.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations

#13721 entityanalytics_okta,okta: record okta domain into host.name in ingested documents
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-device.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-device.json-expected.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-user.json
  packages/entityanalytics_okta/data_stream/entity/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/entity/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_okta/data_stream/entity/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/entity/sample_event.json
  packages/entityanalytics_okta/manifest.yml
  packages/okta/changelog.yml
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json
  packages/okta/data_stream/system/_dev/test/pipeline/test-okta-system-events.json-expected.json
  packages/okta/data_stream/system/agent/stream/httpjson.yml.hbs
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/data_stream/system/sample_event.json
  packages/okta/docs/README.md
  packages/okta/manifest.yml
Labels: enhancement, Integration:okta, Team:Security-Service Integrations, Integration:entityanalytics_okta

#13711 sentinel_one_cloud_funnel: ensure that []-indexes are null safe
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-command-script.log
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-command-script.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-command-script.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-indicator.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: bugfix, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations

#13551 opencanary: do not test redact-enabled pipeline
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/opencanary/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
Labels: flaky-test, Team:Security-Service Integrations, Integration:opencanary

#13747 [Pulse Connect Secure] Add Support of Dashboard
  packages/pulse_connect_secure/changelog.yml
  packages/pulse_connect_secure/img/pulse_connect_secure-overview.png
  packages/pulse_connect_secure/kibana/dashboard/pulse_connect_secure-231bf2be-205c-40ad-9493-7de5b4ca36c2.json
  packages/pulse_connect_secure/kibana/tag/pulse_connect_secure-security-solution-default.json
  packages/pulse_connect_secure/manifest.yml
Labels: enhancement, dashboard, Integration:pulse_connect_secure, Team:Security-Service Integrations, Team:Sit-Crest

#13784 [Atlassian JIRA and Atlassian Confluence] Fix Time Parsing in Cursor Logic
  packages/atlassian_confluence/changelog.yml
  packages/atlassian_confluence/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_confluence/manifest.yml
  packages/atlassian_jira/changelog.yml
  packages/atlassian_jira/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/atlassian_jira/manifest.yml
Labels: Integration:atlassian_jira, Integration:atlassian_confluence, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13689 [hpe_aruba_cx] Initial Release for HPE Aruba CX
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/integration_bug.yml
  .github/ISSUE_TEMPLATE/integration_feature_request.yml
  packages/hpe_aruba_cx/LICENSE.txt
  packages/hpe_aruba_cx/_dev/build/build.yml
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/_dev/deploy/docker/docker-compose.yml
  packages/hpe_aruba_cx/_dev/deploy/docker/sample_logs/aruba.log
  packages/hpe_aruba_cx/changelog.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/hpe_aruba_cx/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/hpe_aruba_cx/data_stream/log/agent/stream/filestream.yml.hbs
  packages/hpe_aruba_cx/data_stream/log/agent/stream/tcp.yml.hbs
  packages/hpe_aruba_cx/data_stream/log/agent/stream/udp.yml.hbs
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/agent.yml
  packages/hpe_aruba_cx/data_stream/log/fields/base-fields.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/data_stream/log/manifest.yml
  packages/hpe_aruba_cx/data_stream/log/sample_event.json
  packages/hpe_aruba_cx/docs/README.md
  packages/hpe_aruba_cx/img/aruba-networks-logo.svg
  packages/hpe_aruba_cx/img/dashboard.png
  packages/hpe_aruba_cx/kibana/dashboard/hpe_aruba_cx-2ec9d647-9d43-482a-beb7-5df529b86747.json
  packages/hpe_aruba_cx/kibana/tag/hpe_aruba_cx-73df3ba8-270e-48b8-b050-5080ab7cb7e4.json
  packages/hpe_aruba_cx/kibana/tag/hpe_aruba_cx-f2abcc29-4bd2-4df3-a62f-46bec069f3f8.json
  packages/hpe_aruba_cx/manifest.yml
Labels: dashboard, New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#13780 [zeek] Fix date parsing error for smtp logs
  packages/zeek/changelog.yml
  packages/zeek/data_stream/smtp/_dev/test/pipeline/test-smtp.log
  packages/zeek/data_stream/smtp/_dev/test/pipeline/test-smtp.log-expected.json
  packages/zeek/data_stream/smtp/elasticsearch/ingest_pipeline/default.yml
  packages/zeek/manifest.yml
Labels: Integration:zeek, bugfix, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Sit-Crest

#13367 #11810 Enabling Agentless for AWS Security Hub
  packages/aws/_dev/build/docs/securityhub.md
  packages/aws/changelog.yml
  packages/aws/docs/securityhub.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#13581 [Cloudflare Logpush] Fix data type for `http_request.bot.detection_tags` field
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/fields/fields.yml
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13763 [Crowdstrike] Fix navigation links in `Table of Contents` section
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/kibana/dashboard/crowdstrike-2921b7f0-99b5-11ee-bf4d-afbc95e0486c.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-63da2573-4e68-4e7d-a06b-6858edb60fd5.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-a4972bc0-fb53-11eb-abed-07307b3f2b0f.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-ad80a080-821b-11ee-bae0-937af575b750.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-d8070b00-99b3-11ee-bf4d-afbc95e0486c.json
  packages/crowdstrike/kibana/dashboard/crowdstrike-e64e8fe0-8210-11ee-bae0-937af575b750.json
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, dashboard, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13762 [crowdstrike] Improve device.id ECS mapping for FDR data stream
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-lengthy-field-delete.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr-lengthy-field-index.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations, Team:Sit-Crest

#13789 [Integrations docs] Fix mispelled word on the screenshot
  docs/extend/images/titles-in-visualizations.png
Labels: bug, documentation

#13795 o365: improve clarity of CEL code
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#13521 Remove event.original processors from several remaining integrations part 1
  packages/gcp/changelog.yml
  packages/gcp/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/dns/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/loadbalancing_logs/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/data_stream/vpcflow/elasticsearch/ingest_pipeline/default.yml
  packages/gcp/manifest.yml
  packages/goflow2/changelog.yml
  packages/goflow2/data_stream/sflow/elasticsearch/ingest_pipeline/default.yml
  packages/goflow2/manifest.yml
  packages/golang/changelog.yml
  packages/golang/data_stream/expvar/elasticsearch/ingest_pipeline/default.yml
  packages/golang/data_stream/heap/elasticsearch/ingest_pipeline/default.yml
  packages/golang/manifest.yml
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/elasticsearch/ingest_pipeline/default.yml
  packages/hadoop/manifest.yml
  packages/hashicorp_vault/changelog.yml
  packages/hashicorp_vault/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hashicorp_vault/manifest.yml
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-hid-bravura-monitor.log-expected.json
  packages/hid_bravura_monitor/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/_dev/test/pipeline/test-hid-bravura-monitor-events.json-expected.json
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/manifest.yml
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/elasticsearch/ingest_pipeline/default.yml
  packages/imperva/manifest.yml
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/smtp/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/manifest.yml
Labels: Integration:gcp, Integration:golang, Integration:imperva, Integration:hadoop, Integration:hashicorp_vault, Team:Obs-InfraObs, Integration:hid_bravura_monitor, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Security-Windows Platform, Integration:microsoft_exchange_server, Integration:goflow2

#13323 [Security Solution] Security AI Prompts
  .github/CODEOWNERS
  packages/security_ai_prompts/LICENSE.txt
  packages/security_ai_prompts/changelog.yml
  packages/security_ai_prompts/docs/README.md
  packages/security_ai_prompts/img/security-logo-color-64px.svg
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-0294e06f-7bcf-4482-a69f-46dec8f71ff8.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-034df21d-12d6-4469-982c-dd0f8a65a4a5.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-03ad8ab6-2111-419a-a402-94b0ece7ddd1.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-07e39137-e4d8-4285-8171-0e18a018eb93.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-1335984e-83c2-42b8-8efd-abb270566e51.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-21bf494d-1892-4dc9-8c9b-f003efd6f9ca.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-29e7b006-c847-4cfd-80ec-c5e5b082fc37.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-33c52d5d-aab4-45d8-9e2e-05a479023b45.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-51f73355-33e7-4859-9e13-9123361ad9c5.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-556e4f5c-4e1f-48e5-bc9c-5325e2fd6346.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-59e59dc2-7d7e-4e69-ba52-854dae12e5c2.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-5aed7934-fe4b-40c2-b9a7-ab8d644a2642.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-602e96a7-858f-459c-b152-d627558c68c5.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-6978c278-f145-460b-b53b-3b00e33a4de9.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-6fe5ddab-e3d8-432f-9648-c5b34869f571.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-70e0fd25-4f36-496c-9f8d-47dfc3061ab0.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-72182b73-0d9e-4f99-b47d-f7a8b7248f8b.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-733cd906-299b-44c4-9147-937670029587.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-751f48ef-49ed-47c8-bc57-9e367f1e512a.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-76898bdd-fde1-463c-b5fa-7985159f93b3.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-772dbb36-ec46-40c5-b4ab-3cbc164aed80.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-789685d5-e2be-404f-9f2c-3049b9d391b1.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-7922d497-40fc-40b0-8c22-f7f355e95d47.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-83226b5a-2050-4f51-b691-afa727d7ac49.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-9233c09f-1142-492c-ba08-404603544fcb.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-9e414862-1852-497f-85f1-ece061416569.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-a81a5f89-42ea-4668-9085-c26781439bec.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-b80e742d-4ba5-49a8-bdf2-17846db1ba81.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-bcc278a9-e3d8-4105-bffa-1129d9541d69.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-c1aa8246-8f50-4ffd-98ce-252488c2ca3e.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-c6a8a02d-ad9d-4f79-91e0-b0aed3b8fab6.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-c812bfbf-607b-40c7-acf4-ade12f3b7ac0.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-c8c21d93-01bc-4e94-a956-9657fbb0a1ee.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-e42ddeb4-e4b8-4a7a-925e-92136043ab35.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-e4599c5c-6e8f-4bdf-b703-b565953fecba.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-e704faef-01de-466a-a7d1-ac44df085055.json
  packages/security_ai_prompts/kibana/security_ai_prompt/security_ai_prompts-f5aeb934-c775-4a5f-8b57-85c2746a8389.json
  packages/security_ai_prompts/manifest.yml
Labels: enhancement, New Integration, 8.19 candidate

#13796 beyondinsight_password_safe: improve error reporting for API request failures
  packages/beyondinsight_password_safe/changelog.yml
  packages/beyondinsight_password_safe/data_stream/asset/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/managedaccount/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/managedsystem/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/session/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/data_stream/useraudit/agent/stream/cel.yml.hbs
  packages/beyondinsight_password_safe/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:beyondinsight_password_safe

#13812 [Security Rules] Update security rules package to v8.16.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13813 [Security Rules] Update security rules package to v8.17.11
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13814 [Security Rules] Update security rules package to v8.18.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13815 [Security Rules] Update security rules package to v9.0.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13761 [okta] Fix dashboard filters
  packages/okta/changelog.yml
  packages/okta/img/filebeat-okta-dashboard.png
  packages/okta/img/okta-system-screenshot.png
  packages/okta/kibana/dashboard/okta-749203a0-67b1-11ea-a76f-bf44814e437d.json
  packages/okta/kibana/search/okta-298faf71-d846-4007-9510-4e8ff20aa772.json
  packages/okta/kibana/tag/okta-security-solution-default.json
  packages/okta/manifest.yml
Labels: Integration:okta, dashboard, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13713 [FireEye] Add Overview Dashboard
  packages/fireeye/changelog.yml
  packages/fireeye/img/fireeye-overview.png
  packages/fireeye/kibana/dashboard/fireeye-a369bcaf-11a5-41b7-891e-80a064831ea8.json
  packages/fireeye/kibana/search/fireeye-5f8ff60d-886d-4e5c-a013-6f589cf96d35.json
  packages/fireeye/kibana/tag/fireeye-security-solution-default.json
  packages/fireeye/manifest.yml
  packages/fireeye/validation.yml
Labels: enhancement, dashboard, Integration:fireeye, Team:Security-Service Integrations, Team:Sit-Crest

#13631 [miniflux] New integration
  .github/CODEOWNERS
  packages/miniflux/_dev/build/build.yml
  packages/miniflux/_dev/build/docs/README.md
  packages/miniflux/changelog.yml
  packages/miniflux/data_stream/feed_entry/_dev/deploy/docker/docker-compose.yml
  packages/miniflux/data_stream/feed_entry/_dev/deploy/docker/files/config.yml
  packages/miniflux/data_stream/feed_entry/_dev/test/pipeline/test-vulnerability.log
  packages/miniflux/data_stream/feed_entry/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/miniflux/data_stream/feed_entry/_dev/test/system/test-cel-config.yml
  packages/miniflux/data_stream/feed_entry/agent/stream/cel.yml.hbs
  packages/miniflux/data_stream/feed_entry/elasticsearch/ingest_pipeline/default.yml
  packages/miniflux/data_stream/feed_entry/fields/base-fields.yml
  packages/miniflux/data_stream/feed_entry/fields/beats.yml
  packages/miniflux/data_stream/feed_entry/fields/fields.yml
  packages/miniflux/data_stream/feed_entry/manifest.yml
  packages/miniflux/data_stream/feed_entry/sample_event.json
  packages/miniflux/docs/README.md
  packages/miniflux/img/miniflux-logo.svg
  packages/miniflux/img/sample-screenshot.png
  packages/miniflux/manifest.yml
Labels: New Integration, Team:Security-Service Integrations

#13676 [AWS] Handle duplicate fields in Network Firewall Logs data stream
  packages/aws/changelog.yml
  packages/aws/data_stream/firewall_logs/_dev/test/pipeline/test-firewall.log
  packages/aws/data_stream/firewall_logs/_dev/test/pipeline/test-firewall.log-expected.json
  packages/aws/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/aws/manifest.yml
Labels: Integration:aws, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13746 [Cisco Secure Endpoint] Add Dashboard
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/img/cisco_secure_endpoint-overview.png
  packages/cisco_secure_endpoint/kibana/dashboard/cisco_secure_endpoint-bc8dfe81-c26c-44d5-aa26-029f950d0355.json
  packages/cisco_secure_endpoint/kibana/search/cisco_secure_endpoint-cd4aab1d-ad21-4e11-b044-95b000d4f6a3.json
  packages/cisco_secure_endpoint/kibana/tag/cisco_secure_endpoint-security-solution-default.json
  packages/cisco_secure_endpoint/manifest.yml
  packages/cisco_secure_endpoint/validation.yml
Labels: enhancement, dashboard, Integration:cisco_secure_endpoint, Team:Security-Service Integrations, Team:Sit-Crest

#13307 [netflow] Expand the tcp_control_bits into the relevant flag names
  packages/netflow/changelog.yml
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json
  packages/netflow/data_stream/log/_dev/test/pipeline/test-netflow-log-events.json-expected.json
  packages/netflow/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/netflow/data_stream/log/fields/package-fields.yml
  packages/netflow/docs/README.md
  packages/netflow/manifest.yml
Labels: enhancement, Integration:netflow, Team:Security-Deployment and Devices

#13806 [Cloud Security] Backport cloud security posture 1.13: remove GCP project and org Id from validation
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: Team:Cloud Security, Integration:cloud_security_posture, bugfix

#13698 [Cloudflare] Use CEL input to add support for token authorization in Audit log data stream
  packages/cloudflare/_dev/build/docs/README.md
  packages/cloudflare/changelog.yml
  packages/cloudflare/data_stream/audit/agent/stream/cel.yml.hbs
  packages/cloudflare/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/cloudflare/data_stream/audit/manifest.yml
  packages/cloudflare/data_stream/logpull/agent/stream/httpjson.yml.hbs
  packages/cloudflare/docs/README.md
  packages/cloudflare/manifest.yml
Labels: Integration:cloudflare, Team:Security-Service Integrations

#13834 o365: ensure empty responses do not lead to invalid request ranges
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#13740 [crowdstrike] Reset state values to overcome error in vulnerability data collection.
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Crest, Team:Security-Service Integrations

#13723 [Tenable OT Security] Fix field type of `message` field
  packages/tenable_ot_security/changelog.yml
  packages/tenable_ot_security/data_stream/system_log/fields/base-fields.yml
  packages/tenable_ot_security/docs/README.md
  packages/tenable_ot_security/img/screenshot1.png
  packages/tenable_ot_security/kibana/dashboard/tenable_ot_security-c6423a0a-fd80-489b-8302-17ba2024f345.json
  packages/tenable_ot_security/manifest.yml
Labels: dashboard, bugfix, Team:Security-Service Integrations, Team:Sit-Crest, Integration:tenable_ot_security

#13717 [Keycloak] Add Overview Dashboard
  packages/keycloak/changelog.yml
  packages/keycloak/img/keycloak-overview-dashboard.png
  packages/keycloak/kibana/dashboard/keycloak-5aecc44a-16d7-47db-805a-245ef0d1bf77.json
  packages/keycloak/kibana/tag/keycloak-security-solution-default.json
  packages/keycloak/manifest.yml
Labels: dashboard, Integration:keycloak, Team:Security-Service Integrations, Team:Sit-Crest

#13824 [Jamf Protect] Fix field type from `long` to `keyword` for process fields
  packages/jamf_protect/changelog.yml
  packages/jamf_protect/data_stream/alerts/_dev/test/pipeline/test-jamf-protect-alerts-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/alerts/sample_event.json
  packages/jamf_protect/data_stream/telemetry/_dev/test/pipeline/test-jamf-protect-telemetry-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/telemetry/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_protect/data_stream/telemetry/fields/ecs.yml
  packages/jamf_protect/data_stream/telemetry/sample_event.json
  packages/jamf_protect/data_stream/telemetry_legacy/_dev/test/pipeline/test-jamf-protect-telemetry-legacy-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/telemetry_legacy/sample_event.json
  packages/jamf_protect/data_stream/web_threat_events/_dev/test/pipeline/test-jamf-protect-threat-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/web_threat_events/sample_event.json
  packages/jamf_protect/data_stream/web_traffic_events/_dev/test/pipeline/test-jamf-protect-traffic-sample-logs.log-expected.json
  packages/jamf_protect/data_stream/web_traffic_events/sample_event.json
  packages/jamf_protect/docs/README.md
  packages/jamf_protect/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_protect, Team:Sit-Crest

#13688 [wiz] Add defend data stream
  packages/wiz/_dev/build/build.yml
  packages/wiz/_dev/build/docs/README.md
  packages/wiz/_dev/deploy/docker/docker-compose.yml
  packages/wiz/_dev/deploy/docker/sample_logs/defend.log
  packages/wiz/changelog.yml
  packages/wiz/data_stream/audit/manifest.yml
  packages/wiz/data_stream/audit/sample_event.json
  packages/wiz/data_stream/cloud_configuration_finding/sample_event.json
  packages/wiz/data_stream/cloud_configuration_finding_full_posture/sample_event.json
  packages/wiz/data_stream/defend/_dev/test/pipeline/test-common-config.yml
  packages/wiz/data_stream/defend/_dev/test/pipeline/test-defend.json
  packages/wiz/data_stream/defend/_dev/test/pipeline/test-defend.json-expected.json
  packages/wiz/data_stream/defend/_dev/test/system/test-http-endpoint-basic-config.yml
  packages/wiz/data_stream/defend/_dev/test/system/test-http-endpoint-no-auth-config.yml
  packages/wiz/data_stream/defend/_dev/test/system/test-http-endpoint-token-config.yml
  packages/wiz/data_stream/defend/agent/stream/http_endpoint.yml.hbs
  packages/wiz/data_stream/defend/elasticsearch/ingest_pipeline/default.yml
  packages/wiz/data_stream/defend/fields/base-fields.yml
  packages/wiz/data_stream/defend/fields/beats.yml
  packages/wiz/data_stream/defend/fields/fields.yml
  packages/wiz/data_stream/defend/manifest.yml
  packages/wiz/data_stream/defend/sample_event.json
  packages/wiz/data_stream/issue/manifest.yml
  packages/wiz/data_stream/issue/sample_event.json
  packages/wiz/data_stream/vulnerability/manifest.yml
  packages/wiz/data_stream/vulnerability/sample_event.json
  packages/wiz/docs/README.md
  packages/wiz/img/wiz-defend-dashboard.png
  packages/wiz/kibana/dashboard/wiz-3c3519be-f4f9-4c67-a9d8-1db4182b6e6a.json
  packages/wiz/kibana/dashboard/wiz-726802c0-4007-48b9-bae5-09daa69d4368.json
  packages/wiz/kibana/dashboard/wiz-927c36f0-6358-11ee-a265-c3569aa0cebf.json
  packages/wiz/kibana/dashboard/wiz-be3fd3f0-6358-11ee-9db4-21f79f2e6273.json
  packages/wiz/kibana/dashboard/wiz-d8f91a20-6363-11ee-a265-c3569aa0cebf.json
  packages/wiz/kibana/search/wiz-f71321c0-a641-4411-a33e-f39569c2c7be.json
  packages/wiz/manifest.yml
  packages/wiz/validation.yml
Labels: dashboard, Integration:wiz, Crest, Team:Security-Service Integrations

#13388 [claroty_xdome] Initial release of Claroty xDome
  .github/CODEOWNERS
  packages/claroty_xdome/_dev/build/build.yml
  packages/claroty_xdome/_dev/build/docs/README.md
  packages/claroty_xdome/_dev/deploy/docker/docker-compose.yml
  packages/claroty_xdome/_dev/deploy/docker/files/config.yml
  packages/claroty_xdome/changelog.yml
  packages/claroty_xdome/data_stream/alert/_dev/test/pipeline/test-alert.log
  packages/claroty_xdome/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/claroty_xdome/data_stream/alert/_dev/test/pipeline/test-common-config.yml
  packages/claroty_xdome/data_stream/alert/_dev/test/system/test-default-config.yml
  packages/claroty_xdome/data_stream/alert/agent/stream/cel.yml.hbs
  packages/claroty_xdome/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/claroty_xdome/data_stream/alert/fields/base-fields.yml
  packages/claroty_xdome/data_stream/alert/fields/beats.yml
  packages/claroty_xdome/data_stream/alert/fields/fields.yml
  packages/claroty_xdome/data_stream/alert/manifest.yml
  packages/claroty_xdome/data_stream/alert/sample_event.json
  packages/claroty_xdome/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/claroty_xdome/data_stream/event/_dev/test/pipeline/test-event.log
  packages/claroty_xdome/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/claroty_xdome/data_stream/event/_dev/test/system/test-default-config.yml
  packages/claroty_xdome/data_stream/event/agent/stream/cel.yml.hbs
  packages/claroty_xdome/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/claroty_xdome/data_stream/event/fields/base-fields.yml
  packages/claroty_xdome/data_stream/event/fields/beats.yml
  packages/claroty_xdome/data_stream/event/fields/fields.yml
  packages/claroty_xdome/data_stream/event/manifest.yml
  packages/claroty_xdome/data_stream/event/sample_event.json
  packages/claroty_xdome/data_stream/vulnerability/_dev/test/pipeline/test-common-config.yml
  packages/claroty_xdome/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log
  packages/claroty_xdome/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/claroty_xdome/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/claroty_xdome/data_stream/vulnerability/agent/stream/cel.yml.hbs
  packages/claroty_xdome/data_stream/vulnerability/elasticsearch/ingest_pipeline/default.yml
  packages/claroty_xdome/data_stream/vulnerability/fields/base-fields.yml
  packages/claroty_xdome/data_stream/vulnerability/fields/beats.yml
  packages/claroty_xdome/data_stream/vulnerability/fields/fields.yml
  packages/claroty_xdome/data_stream/vulnerability/manifest.yml
  packages/claroty_xdome/data_stream/vulnerability/sample_event.json
  packages/claroty_xdome/docs/README.md
  packages/claroty_xdome/img/claroty-xdome-logo.svg
  packages/claroty_xdome/img/claroty_xdome-alert.png
  packages/claroty_xdome/img/claroty_xdome-event.png
  packages/claroty_xdome/img/claroty_xdome-vulnerability.png
  packages/claroty_xdome/kibana/dashboard/claroty_xdome-1a6db475-9ab4-4970-9684-9a427321a765.json
  packages/claroty_xdome/kibana/dashboard/claroty_xdome-9d8a86b9-6253-4aa6-8f5c-06f4dce86a59.json
  packages/claroty_xdome/kibana/dashboard/claroty_xdome-9dc03d8d-e798-4bad-a368-c21468a5eeea.json
  packages/claroty_xdome/kibana/search/claroty_xdome-135de86d-8045-480a-bc10-cb321b87dc42.json
  packages/claroty_xdome/kibana/search/claroty_xdome-aabe9af9-ccb6-4706-9e00-9714aefc802a.json
  packages/claroty_xdome/manifest.yml
  packages/claroty_xdome/validation.yml
Labels: dashboard, New Integration, Crest, Team:Security-Service Integrations

#13839 [Security Rules] Update security rules package to v9.0.5-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/70558fd5-6448-4c65-804a-8567ce02c3a2_1.json
  packages/security_detection_engine/kibana/security_rule/74147312-ba03-4bea-91d1-040d54c1e8c3_1.json
  packages/security_detection_engine/kibana/security_rule/9b35422b-9102-45a9-8610-2e0c22281c55_1.json
  packages/security_detection_engine/kibana/security_rule/aeebe561-c338-4118-9924-8cb4e478aa58_1.json
  packages/security_detection_engine/kibana/security_rule/d3b6222f-537e-4b84-956a-3ebae2dcf811_1.json
  packages/security_detection_engine/manifest.yml
Labels: Integration:security_detection_engine

#13800 [Falco] Fix Conflicting Field Types
  packages/falco/changelog.yml
  packages/falco/data_stream/alerts/_dev/test/pipeline/test-falco.log-expected.json
  packages/falco/data_stream/alerts/_dev/test/pipeline/test-nopreserve.log-expected.json
  packages/falco/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/falco/data_stream/alerts/fields/fields.yml
  packages/falco/data_stream/alerts/sample_event.json
  packages/falco/docs/README.md
  packages/falco/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:falco, Team:Sit-Crest

#13866 [Cloud Security] Asset Inventory and CSPM - remove GCP project and org id from validation
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/manifest.yml
  packages/cloud_asset_inventory/manifest.yml
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: Integration:cloud_security_posture, bugfix, Integration:cloud_asset_inventory

#13862 [Crowdstrike Alert] adjust batch size to API limit
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, Team:Security-Service Integrations

#13833 crowdstrike: handle UTCTimestamp values in Unix seconds
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13882 azure: fix Grok processor error for firewall network rule logs
  packages/azure/changelog.yml
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-applicationrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-applicationrules-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-dnsproxy-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-dnsproxyrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-natrule-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrule-structured-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-networkrules-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/_dev/test/pipeline/test-sdh3075-raw.log-expected.json
  packages/azure/data_stream/firewall_logs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: Integration:azure, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13863 [azure logs] Document Azure logs categories routing rules
  packages/azure/_dev/build/docs/events.md
  packages/azure/docs/events.md
Labels: documentation, Integration:azure, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#13733 Gigamon: ZT and OT dashboards added and Renaming of NPM Dashboards to Network Telemetry Insights.
  packages/gigamon/changelog.yml
  packages/gigamon/img/Network_Telemetry_Insights_Dashboard.png
  packages/gigamon/img/Operational_Technology_Dashboard.png
  packages/gigamon/img/ZeroTrust_Dashboard.png
  packages/gigamon/kibana/dashboard/gigamon-032aab7b-87b2-444c-8c86-956d092598fb.json
  packages/gigamon/kibana/dashboard/gigamon-20c6c22a-dae0-4a0a-ad8c-043f878fc109.json
  packages/gigamon/kibana/dashboard/gigamon-3523b534-7525-44a7-808f-6a9f3235a67d.json
  packages/gigamon/kibana/dashboard/gigamon-3e5652b3-1b0e-428f-9dc3-78d179ce2463.json
  packages/gigamon/kibana/dashboard/gigamon-46931a21-a33e-43af-aadf-da8d6446b9cc.json
  packages/gigamon/kibana/dashboard/gigamon-4ae2cd9a-3eef-42c6-a02c-731ce74d94ac.json
  packages/gigamon/kibana/dashboard/gigamon-56da3239-c99d-40cb-b491-bda501b52368.json
  packages/gigamon/kibana/dashboard/gigamon-62291e9e-8b75-4f23-9121-79959da99b3b.json
  packages/gigamon/kibana/dashboard/gigamon-64ca15b3-8327-4940-8b35-0e75ab3a73c6.json
  packages/gigamon/kibana/dashboard/gigamon-855a64dc-1a72-403f-932b-a5b848378f7e.json
  packages/gigamon/kibana/dashboard/gigamon-8d02ca6f-9333-4cab-8b8a-a141e9fccdcf.json
  packages/gigamon/kibana/dashboard/gigamon-8f772203-64e0-4d1b-bb0e-14fa57b4b754.json
  packages/gigamon/kibana/dashboard/gigamon-c1be36a7-86aa-4442-b07f-facd9db043f3.json
  packages/gigamon/kibana/dashboard/gigamon-d6cecabb-f026-4823-914d-b4d61fd61787.json
  packages/gigamon/kibana/dashboard/gigamon-d866be49-47b2-4306-a2be-d5cb6b6ab9c8.json
  packages/gigamon/kibana/dashboard/gigamon-e192a946-8287-450a-a8f0-e23de9f95dae.json
  packages/gigamon/kibana/dashboard/gigamon-e733c64e-6ea9-4dd6-a8ca-3914274598f3.json
  packages/gigamon/manifest.yml
Labels: dashboard, Team:Security-Service Integrations, Integration:gigamon

#13816 [cisco_ios] Fix parsing of hostnames that start with a digit
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-numeric-hostname.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-numeric-hostname.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: bug, Integration:cisco_ios, Team:Security-Deployment and Devices

#12913 crowdstrike: implement enhanced field mapping logic
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-linux.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-linux.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-macos.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-macos.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-windows.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-windows.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/fields/ecs.yml
  packages/crowdstrike/data_stream/fdr/fields/fields.yml
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13885 [Cloudflare Logpush] map cloudflare_logpush.http_request.client.ssl.cipher to tls.cipher
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/sample_event.json
  packages/cloudflare_logpush/docs/README.md
  packages/cloudflare_logpush/manifest.yml
Labels: Integration:cloudflare_logpush, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13731 [mattermost] Add Support of Dashboard
  packages/mattermost/changelog.yml
  packages/mattermost/img/mattermost-audit_dashboard.png
  packages/mattermost/kibana/dashboard/mattermost-55a753ac-7944-4a4e-ad5b-a7418b1a1543.json
  packages/mattermost/kibana/search/mattermost-4373bca9-5312-4f80-8c01-942bfdc2ac06.json
  packages/mattermost/manifest.yml
  packages/mattermost/validation.yml
Labels: enhancement, dashboard, Integration:mattermost, Team:Security-Service Integrations, Team:Sit-Crest

#13826 [ti_anomali] Add support for proxy URL and SSL configuration parameters
  packages/ti_anomali/changelog.yml
  packages/ti_anomali/data_stream/intelligence/manifest.yml
  packages/ti_anomali/manifest.yml
Labels: enhancement, Integration:ti_anomali, Team:Security-Service Integrations, Team:Sit-Crest

#13884 [Tychon] Change Data Type of Some Fields
  packages/tychon/changelog.yml
  packages/tychon/data_stream/arp/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/browser/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/browser/fields/fields.yml
  packages/tychon/data_stream/browser/sample_event.json
  packages/tychon/data_stream/ciphers/_dev/test/pipeline/test-base.log
  packages/tychon/data_stream/ciphers/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/ciphers/elasticsearch/ingest_pipeline/rest.yml
  packages/tychon/data_stream/ciphers/fields/fields.yml
  packages/tychon/data_stream/ciphers/sample_event.json
  packages/tychon/data_stream/cmrs/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/coams/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/cpu/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/cve/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/epp/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/exposedservice/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/externaldevicecontrol/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/features/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/harddrive/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/hardware/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/host/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/networkadapter/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/softwareinventory/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/stig/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/systemcerts/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/data_stream/volume/_dev/test/pipeline/test-base.log-expected.json
  packages/tychon/docs/README.md
  packages/tychon/elasticsearch/transform/browser/fields/fields.yml
  packages/tychon/elasticsearch/transform/ciphers/fields/fields.yml
  packages/tychon/manifest.yml
Labels: enhancement, Integration:tychon, Team:Security-Service Integrations, Team:Sit-Crest

#13894 [zscaler_zia] Update Event Type and Add Event Outcome
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log
  packages/zscaler_zia/data_stream/web/_dev/test/pipeline/test-web.log-expected.json
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/sample_event.json
  packages/zscaler_zia/docs/README.md
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:zscaler_zia, Team:Security-Service Integrations, Team:Sit-Crest

#13883 fix missing config in system core data stream
  packages/system/changelog.yml
  packages/system/data_stream/core/agent/stream/stream.yml.hbs
  packages/system/manifest.yml
Labels: bug, Integration:system, Team:Obs-InfraObs

#13906 crowdstrike: add ECS user mappings for Crowdstrike fields
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-windows.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#13769 [M365 Defender] Improve response action support in event dataset.
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/event/fields/agent.yml
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, Team:Security-Service Integrations

#13925 o365: Set subobjects false to conflict fields
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#13918 [O365] Update the mapping of `message` ECS field for `SecurityComplianceAlerts` events
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/_dev/test/pipeline/test-sec-comp-alerts-events.json-expected.json
  packages/o365/data_stream/audit/_dev/test/pipeline/test-wl-securitycompliancecenter.json-expected.json
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations, Team:Sit-Crest

#13934 [Security Rules] Update security rules package to v8.16.14-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0b96dfd8-5b8c-4485-9a1c-69ff7839786a_108.json
  packages/security_detection_engine/kibana/security_rule/0c1e8fda-4f09-451e-bc77-a192b6cbfc32_104.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_8.json
  packages/security_detection_engine/kibana/security_rule/0ce6487d-8069-4888-9ddd-61b52490cebc_211.json
  packages/security_detection_engine/kibana/security_rule/14fa0285-fe78-4843-ac8e-f4b481f49da9_2.json
  packages/security_detection_engine/kibana/security_rule/17c7f6a5-5bc9-4e1f-92bf-13632d24384d_213.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_216.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_312.json
  packages/security_detection_engine/kibana/security_rule/290aca65-e94d-403b-ba0f-62f320e63f51_319.json
  packages/security_detection_engine/kibana/security_rule/2a3f38a8-204e-11f0-9c1f-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/2e1e835d-01e5-48ca-b9fc-7a61f7f11902_214.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_6.json
  packages/security_detection_engine/kibana/security_rule/32c5cf9c-2ef8-4e87-819e-5ccb7cd18b14_316.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_3.json
  packages/security_detection_engine/kibana/security_rule/3a657da0-1df2-11ef-a327-f661ea17fbcc_106.json
  packages/security_detection_engine/kibana/security_rule/3ad49c61-7adc-42c1-b788-732eda2f5abf_108.json
  packages/security_detection_engine/kibana/security_rule/4494c14f-5ff8-4ed2-8e99-bf816a1642fc_6.json
  packages/security_detection_engine/kibana/security_rule/5700cb81-df44-46aa-a5d7-337798f53eb8_108.json
  packages/security_detection_engine/kibana/security_rule/581add16-df76-42bb-af8e-c979bfb39a59_318.json
  packages/security_detection_engine/kibana/security_rule/5b9eb30f-87d6-45f4-9289-2bf2024f0376_8.json
  packages/security_detection_engine/kibana/security_rule/60b6b72f-0fbc-47e7-9895-9ba7627a8b50_107.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_119.json
  packages/security_detection_engine/kibana/security_rule/6cf17149-a8e3-44ec-9ec9-fdc8535547a1_3.json
  packages/security_detection_engine/kibana/security_rule/6e1a2cc4-d260-11ed-8829-f661ea17fbcc_111.json
  packages/security_detection_engine/kibana/security_rule/6ea41894-66c3-4df7-ad6b-2c5074eb3df8_212.json
  packages/security_detection_engine/kibana/security_rule/71bccb61-e19b-452f-b104-79a60e546a95_319.json
  packages/security_detection_engine/kibana/security_rule/78de1aeb-5225-4067-b8cc-f4a1de8a8546_311.json
  packages/security_detection_engine/kibana/security_rule/79ce2c96-72f7-44f9-88ef-60fa1ac2ce47_7.json
  packages/security_detection_engine/kibana/security_rule/97db8b42-69d8-4bf3-9fd4-c69a1d895d68_10.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_117.json
  packages/security_detection_engine/kibana/security_rule/9d110cb3-5f4b-4c9a-b9f5-53f0a1707ae4_216.json
  packages/security_detection_engine/kibana/security_rule/a02cb68e-7c93-48d1-93b2-2c39023308eb_114.json
  packages/security_detection_engine/kibana/security_rule/a3cc60d8-2701-11f0-accf-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_8.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_9.json
  packages/security_detection_engine/kibana/security_rule/adbfa3ee-777e-4747-b6b0-7bd645f30880_9.json
  packages/security_detection_engine/kibana/security_rule/b25a7df2-120a-4db2-bd3f-3e4b86b24bee_215.json
  packages/security_detection_engine/kibana/security_rule/b41a13c6-ba45-4bab-a534-df53d0cfed6a_317.json
  packages/security_detection_engine/kibana/security_rule/bcaa15ce-2d41-44d7-a322-918f9db77766_8.json
  packages/security_detection_engine/kibana/security_rule/bfeaf89b-a2a7-48a3-817f-e41829dc61ee_216.json
  packages/security_detection_engine/kibana/security_rule/c125e48f-6783-41f0-b100-c3bf1b114d16_10.json
  packages/security_detection_engine/kibana/security_rule/c20cd758-07b1-46a1-b03f-fa66158258b8_104.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_9.json
  packages/security_detection_engine/kibana/security_rule/cff92c41-2225-4763-b4ce-6f71e5bda5e6_318.json
  packages/security_detection_engine/kibana/security_rule/da0d4bae-33ee-11f0-a59f-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/e2f9fdf5-8076-45ad-9427-41e0e03dc9c2_214.json
  packages/security_detection_engine/kibana/security_rule/e7075e8d-a966-458e-a183-85cd331af255_107.json
  packages/security_detection_engine/kibana/security_rule/e882e934-2aaa-11f0-8272-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/ebfe1448-7fac-4d59-acea-181bd89b1f7f_317.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_8.json
  packages/security_detection_engine/kibana/security_rule/f97504ac-1053-498f-aeaa-c6d01e76b379_205.json
  packages/security_detection_engine/kibana/security_rule/fa488440-04cc-41d7-9279-539387bf2a17_317.json
  packages/security_detection_engine/kibana/security_rule/fb01d790-9f74-4e76-97dd-b4b0f7bf6435_107.json
  packages/security_detection_engine/kibana/security_rule/fcf18de8-ad7d-4d01-b3f7-a11d5b3883af_1.json
  packages/security_detection_engine/kibana/security_rule/fda1d332-5e08-4f27-8a9b-8c802e3292a6_16.json
  packages/security_detection_engine/kibana/security_rule/feafdc51-c575-4ed2-89dd-8e20badc2d6c_7.json
  packages/security_detection_engine/kibana/security_rule/fef62ecf-0260-4b71-848b-a8624b304828_4.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13935 [Security Rules] Update security rules package to v8.17.12-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0b96dfd8-5b8c-4485-9a1c-69ff7839786a_106.json
  packages/security_detection_engine/kibana/security_rule/0c1e8fda-4f09-451e-bc77-a192b6cbfc32_102.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_6.json
  packages/security_detection_engine/kibana/security_rule/0ce6487d-8069-4888-9ddd-61b52490cebc_211.json
  packages/security_detection_engine/kibana/security_rule/0d3d2254-2b4a-11f0-a019-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/17c7f6a5-5bc9-4e1f-92bf-13632d24384d_211.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_214.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_412.json
  packages/security_detection_engine/kibana/security_rule/290aca65-e94d-403b-ba0f-62f320e63f51_317.json
  packages/security_detection_engine/kibana/security_rule/2a3f38a8-204e-11f0-9c1f-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/2e1e835d-01e5-48ca-b9fc-7a61f7f11902_212.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_4.json
  packages/security_detection_engine/kibana/security_rule/32c5cf9c-2ef8-4e87-819e-5ccb7cd18b14_314.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3a657da0-1df2-11ef-a327-f661ea17fbcc_104.json
  packages/security_detection_engine/kibana/security_rule/3ad49c61-7adc-42c1-b788-732eda2f5abf_106.json
  packages/security_detection_engine/kibana/security_rule/4494c14f-5ff8-4ed2-8e99-bf816a1642fc_4.json
  packages/security_detection_engine/kibana/security_rule/5700cb81-df44-46aa-a5d7-337798f53eb8_106.json
  packages/security_detection_engine/kibana/security_rule/581add16-df76-42bb-af8e-c979bfb39a59_318.json
  packages/security_detection_engine/kibana/security_rule/5b9eb30f-87d6-45f4-9289-2bf2024f0376_6.json
  packages/security_detection_engine/kibana/security_rule/60b6b72f-0fbc-47e7-9895-9ba7627a8b50_105.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_117.json
  packages/security_detection_engine/kibana/security_rule/6cf17149-a8e3-44ec-9ec9-fdc8535547a1_1.json
  packages/security_detection_engine/kibana/security_rule/6e1a2cc4-d260-11ed-8829-f661ea17fbcc_109.json
  packages/security_detection_engine/kibana/security_rule/6ea41894-66c3-4df7-ad6b-2c5074eb3df8_210.json
  packages/security_detection_engine/kibana/security_rule/71bccb61-e19b-452f-b104-79a60e546a95_319.json
  packages/security_detection_engine/kibana/security_rule/78de1aeb-5225-4067-b8cc-f4a1de8a8546_309.json
  packages/security_detection_engine/kibana/security_rule/79ce2c96-72f7-44f9-88ef-60fa1ac2ce47_5.json
  packages/security_detection_engine/kibana/security_rule/97db8b42-69d8-4bf3-9fd4-c69a1d895d68_8.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_117.json
  packages/security_detection_engine/kibana/security_rule/9d110cb3-5f4b-4c9a-b9f5-53f0a1707ae4_214.json
  packages/security_detection_engine/kibana/security_rule/a02cb68e-7c93-48d1-93b2-2c39023308eb_114.json
  packages/security_detection_engine/kibana/security_rule/a3cc60d8-2701-11f0-accf-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_6.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_7.json
  packages/security_detection_engine/kibana/security_rule/adbfa3ee-777e-4747-b6b0-7bd645f30880_7.json
  packages/security_detection_engine/kibana/security_rule/b25a7df2-120a-4db2-bd3f-3e4b86b24bee_213.json
  packages/security_detection_engine/kibana/security_rule/b41a13c6-ba45-4bab-a534-df53d0cfed6a_315.json
  packages/security_detection_engine/kibana/security_rule/bcaa15ce-2d41-44d7-a322-918f9db77766_6.json
  packages/security_detection_engine/kibana/security_rule/bfeaf89b-a2a7-48a3-817f-e41829dc61ee_214.json
  packages/security_detection_engine/kibana/security_rule/c125e48f-6783-41f0-b100-c3bf1b114d16_8.json
  packages/security_detection_engine/kibana/security_rule/c20cd758-07b1-46a1-b03f-fa66158258b8_102.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_7.json
  packages/security_detection_engine/kibana/security_rule/cff92c41-2225-4763-b4ce-6f71e5bda5e6_316.json
  packages/security_detection_engine/kibana/security_rule/da0d4bae-33ee-11f0-a59f-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/de67f85e-2d43-11f0-b8c9-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/e2f9fdf5-8076-45ad-9427-41e0e03dc9c2_212.json
  packages/security_detection_engine/kibana/security_rule/e7075e8d-a966-458e-a183-85cd331af255_105.json
  packages/security_detection_engine/kibana/security_rule/e882e934-2aaa-11f0-8272-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/ebfe1448-7fac-4d59-acea-181bd89b1f7f_315.json
  packages/security_detection_engine/kibana/security_rule/f0cc239b-67fa-46fc-89d4-f861753a40f5_2.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_6.json
  packages/security_detection_engine/kibana/security_rule/f97504ac-1053-498f-aeaa-c6d01e76b379_203.json
  packages/security_detection_engine/kibana/security_rule/fa488440-04cc-41d7-9279-539387bf2a17_315.json
  packages/security_detection_engine/kibana/security_rule/fb01d790-9f74-4e76-97dd-b4b0f7bf6435_105.json
  packages/security_detection_engine/kibana/security_rule/fda1d332-5e08-4f27-8a9b-8c802e3292a6_14.json
  packages/security_detection_engine/kibana/security_rule/feafdc51-c575-4ed2-89dd-8e20badc2d6c_5.json
  packages/security_detection_engine/kibana/security_rule/fef62ecf-0260-4b71-848b-a8624b304828_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13936 [Security Rules] Update security rules package to v8.18.5-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/0b96dfd8-5b8c-4485-9a1c-69ff7839786a_106.json
  packages/security_detection_engine/kibana/security_rule/0c1e8fda-4f09-451e-bc77-a192b6cbfc32_102.json
  packages/security_detection_engine/kibana/security_rule/0c41e478-5263-4c69-8f9e-7dfd2c22da64_6.json
  packages/security_detection_engine/kibana/security_rule/0ce6487d-8069-4888-9ddd-61b52490cebc_211.json
  packages/security_detection_engine/kibana/security_rule/0d3d2254-2b4a-11f0-a019-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/17c7f6a5-5bc9-4e1f-92bf-13632d24384d_211.json
  packages/security_detection_engine/kibana/security_rule/1fe3b299-fbb5-4657-a937-1d746f2c711a_214.json
  packages/security_detection_engine/kibana/security_rule/26f68dba-ce29-497b-8e13-b4fde1db5a2d_412.json
  packages/security_detection_engine/kibana/security_rule/290aca65-e94d-403b-ba0f-62f320e63f51_317.json
  packages/security_detection_engine/kibana/security_rule/2a3f38a8-204e-11f0-9c1f-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/2e1e835d-01e5-48ca-b9fc-7a61f7f11902_212.json
  packages/security_detection_engine/kibana/security_rule/2f95540c-923e-4f57-9dae-de30169c68b9_4.json
  packages/security_detection_engine/kibana/security_rule/32c5cf9c-2ef8-4e87-819e-5ccb7cd18b14_314.json
  packages/security_detection_engine/kibana/security_rule/35ab3cfa-6c67-11ef-ab4d-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/3a657da0-1df2-11ef-a327-f661ea17fbcc_104.json
  packages/security_detection_engine/kibana/security_rule/3ad49c61-7adc-42c1-b788-732eda2f5abf_106.json
  packages/security_detection_engine/kibana/security_rule/4494c14f-5ff8-4ed2-8e99-bf816a1642fc_4.json
  packages/security_detection_engine/kibana/security_rule/5700cb81-df44-46aa-a5d7-337798f53eb8_106.json
  packages/security_detection_engine/kibana/security_rule/581add16-df76-42bb-af8e-c979bfb39a59_318.json
  packages/security_detection_engine/kibana/security_rule/5b9eb30f-87d6-45f4-9289-2bf2024f0376_6.json
  packages/security_detection_engine/kibana/security_rule/60b6b72f-0fbc-47e7-9895-9ba7627a8b50_105.json
  packages/security_detection_engine/kibana/security_rule/66883649-f908-4a5b-a1e0-54090a1d3a32_117.json
  packages/security_detection_engine/kibana/security_rule/6cf17149-a8e3-44ec-9ec9-fdc8535547a1_1.json
  packages/security_detection_engine/kibana/security_rule/6e1a2cc4-d260-11ed-8829-f661ea17fbcc_109.json
  packages/security_detection_engine/kibana/security_rule/6ea41894-66c3-4df7-ad6b-2c5074eb3df8_210.json
  packages/security_detection_engine/kibana/security_rule/71bccb61-e19b-452f-b104-79a60e546a95_319.json
  packages/security_detection_engine/kibana/security_rule/78de1aeb-5225-4067-b8cc-f4a1de8a8546_309.json
  packages/security_detection_engine/kibana/security_rule/79ce2c96-72f7-44f9-88ef-60fa1ac2ce47_5.json
  packages/security_detection_engine/kibana/security_rule/97db8b42-69d8-4bf3-9fd4-c69a1d895d68_8.json
  packages/security_detection_engine/kibana/security_rule/97fc44d3-8dae-4019-ae83-298c3015600f_117.json
  packages/security_detection_engine/kibana/security_rule/9d110cb3-5f4b-4c9a-b9f5-53f0a1707ae4_214.json
  packages/security_detection_engine/kibana/security_rule/a02cb68e-7c93-48d1-93b2-2c39023308eb_114.json
  packages/security_detection_engine/kibana/security_rule/a3cc60d8-2701-11f0-accf-f661ea17fbcd_2.json
  packages/security_detection_engine/kibana/security_rule/a61809f3-fb5b-465c-8bff-23a8a068ac60_6.json
  packages/security_detection_engine/kibana/security_rule/aab184d3-72b3-4639-b242-6597c99d8bca_7.json
  packages/security_detection_engine/kibana/security_rule/adbfa3ee-777e-4747-b6b0-7bd645f30880_7.json
  packages/security_detection_engine/kibana/security_rule/b25a7df2-120a-4db2-bd3f-3e4b86b24bee_213.json
  packages/security_detection_engine/kibana/security_rule/b41a13c6-ba45-4bab-a534-df53d0cfed6a_315.json
  packages/security_detection_engine/kibana/security_rule/bcaa15ce-2d41-44d7-a322-918f9db77766_6.json
  packages/security_detection_engine/kibana/security_rule/bfeaf89b-a2a7-48a3-817f-e41829dc61ee_214.json
  packages/security_detection_engine/kibana/security_rule/c125e48f-6783-41f0-b100-c3bf1b114d16_8.json
  packages/security_detection_engine/kibana/security_rule/c20cd758-07b1-46a1-b03f-fa66158258b8_102.json
  packages/security_detection_engine/kibana/security_rule/c9482bfa-a553-4226-8ea2-4959bd4f7923_7.json
  packages/security_detection_engine/kibana/security_rule/cff92c41-2225-4763-b4ce-6f71e5bda5e6_316.json
  packages/security_detection_engine/kibana/security_rule/da0d4bae-33ee-11f0-a59f-f661ea17fbcd_1.json
  packages/security_detection_engine/kibana/security_rule/de67f85e-2d43-11f0-b8c9-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/e2f9fdf5-8076-45ad-9427-41e0e03dc9c2_212.json
  packages/security_detection_engine/kibana/security_rule/e7075e8d-a966-458e-a183-85cd331af255_105.json
  packages/security_detection_engine/kibana/security_rule/e882e934-2aaa-11f0-8272-f661ea17fbcc_1.json
  packages/security_detection_engine/kibana/security_rule/ebfe1448-7fac-4d59-acea-181bd89b1f7f_315.json
  packages/security_detection_engine/kibana/security_rule/f0cc239b-67fa-46fc-89d4-f861753a40f5_2.json
  packages/security_detection_engine/kibana/security_rule/f3e22c8b-ea47-45d1-b502-b57b6de950b3_6.json
  packages/security_detection_engine/kibana/security_rule/f97504ac-1053-498f-aeaa-c6d01e76b379_203.json
  packages/security_detection_engine/kibana/security_rule/fa488440-04cc-41d7-9279-539387bf2a17_315.json
  packages/security_detection_engine/kibana/security_rule/fb01d790-9f74-4e76-97dd-b4b0f7bf6435_105.json
  packages/security_detection_engine/kibana/security_rule/fda1d332-5e08-4f27-8a9b-8c802e3292a6_14.json
  packages/security_detection_engine/kibana/security_rule/feafdc51-c575-4ed2-89dd-8e20badc2d6c_5.json
  packages/security_detection_engine/kibana/security_rule/fef62ecf-0260-4b71-848b-a8624b304828_2.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13939 [Security Rules] Update security rules package to v8.16.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13940 [Security Rules] Update security rules package to v8.17.12
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#13434 [AWS] Update README - EC2 Instance IAM Role for AWS Authentication
  packages/aws/_dev/build/docs/README.md
  packages/aws/changelog.yml
  packages/aws/docs/README.md
  packages/aws/manifest.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#13886 [azure logs] Align typefaces in logs routing docs and update change log
  packages/azure/_dev/build/docs/events.md
  packages/azure/changelog.yml
  packages/azure/docs/events.md
  packages/azure/manifest.yml
Labels: Integration:azure, Team:obs-ds-hosted-services

#13919 [Kubernetes] Add test coverage for Kubernetes v1.33
  .buildkite/pipeline.serverless.yml
  .buildkite/pipeline.yml
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/docs/README.md
Labels: Integration:kubernetes, Team:obs-ds-hosted-services

#13938 cisco_duo: add support for http proxy configuration
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/activity/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/admin/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/auth/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/offline_enrollment/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/summary/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony/agent/stream/httpjson.yml.hbs
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/trust_monitor/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: enhancement, Integration:cisco_duo, Team:Security-Service Integrations

#13960 [ti_custom] Add user-configurable HTTP Client Timeout parameter
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_custom/data_stream/indicator/manifest.yml
  packages/ti_custom/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:ti_custom, Team:Sit-Crest

#13348 apm: Add integration policy variable `tail_sampling_ttl` to configure `apm-server.sampling.tail.ttl`
  packages/apm/agent/input/template.yml.hbs
  packages/apm/changelog.yml
  packages/apm/manifest.yml
Labels: Integration:apm

#13933 abnormal_security: enrich threat events with attachment and link details
  packages/abnormal_security/_dev/build/docs/README.md
  packages/abnormal_security/_dev/deploy/docker/files/config.yml
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/abnormal_security/data_stream/threat/_dev/test/pipeline/test-threat.log
  packages/abnormal_security/data_stream/threat/_dev/test/pipeline/test-threat.log-expected.json
  packages/abnormal_security/data_stream/threat/_dev/test/system/test-default-config.yml
  packages/abnormal_security/data_stream/threat/agent/stream/cel.yml.hbs
  packages/abnormal_security/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/abnormal_security/data_stream/threat/fields/fields.yml
  packages/abnormal_security/data_stream/threat/manifest.yml
  packages/abnormal_security/data_stream/threat/sample_event.json
  packages/abnormal_security/docs/README.md
  packages/abnormal_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:abnormal_security

#13957 [cisco_ftd] Add Pasrsing for Some Extra Fields
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-security-connection.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/data_stream/log/sample_event.json
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, Integration:cisco_ftd, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Team:Sit-Crest

#13961 [crowdstrike] Correct network.direction mapping
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/firewall_match.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#13568 [checkpoint] Expand and fix IANA number handling
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: Integration:checkpoint, Team:Security-Deployment and Devices

#13971 [Cloud Security] Cloud Asset Inventory: fixed cloud formation URL
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: bugfix

#13964 cisco_secure_endpoint: squelch errors from pagination ends
  packages/cisco_secure_endpoint/changelog.yml
  packages/cisco_secure_endpoint/data_stream/event/agent/stream/httpjson.yml.hbs
  packages/cisco_secure_endpoint/manifest.yml
Labels: enhancement, Integration:cisco_secure_endpoint, Team:Security-Service Integrations

#13965 github: squelch errors from pagination ends
  packages/github/changelog.yml
  packages/github/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/code_scanning/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/dependabot/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/issues/agent/stream/httpjson.yml.hbs
  packages/github/data_stream/secret_scanning/agent/stream/httpjson.yml.hbs
  packages/github/manifest.yml
Labels: enhancement, Integration:github, Team:Security-Service Integrations

#13959 [forgerock] Map `forgerock.response.elapsedTime` as a long not a date
  packages/forgerock/changelog.yml
  packages/forgerock/data_stream/am_access/elasticsearch/ingest_pipeline/default.yml
  packages/forgerock/data_stream/am_access/fields/forgerock-fields.yml
  packages/forgerock/data_stream/idm_access/elasticsearch/ingest_pipeline/default.yml
  packages/forgerock/data_stream/idm_access/fields/forgerock-fields.yml
  packages/forgerock/docs/README.md
  packages/forgerock/manifest.yml
Labels: bugfix, Integration:forgerock, Team:Security-Service Integrations

#13955 crowdstrike,m365_defender,microsoft_defender_{cloud,endpoint},sentinel_one: normalise severity handling
  packages/crowdstrike/_dev/build/docs/README.md
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-identity-protection-incident.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/sample_event.json
  packages/crowdstrike/data_stream/host/sample_event.json
  packages/crowdstrike/data_stream/vulnerability/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_alert.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_cloud/_dev/build/docs/README.md
  packages/microsoft_defender_cloud/changelog.yml
  packages/microsoft_defender_cloud/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/microsoft_defender_cloud/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_cloud/docs/README.md
  packages/microsoft_defender_cloud/manifest.yml
  packages/microsoft_defender_endpoint/_dev/build/docs/README.md
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/data_stream/machine/sample_event.json
  packages/microsoft_defender_endpoint/data_stream/machine_action/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
  packages/sentinel_one/_dev/build/docs/README.md
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/activity/sample_event.json
  packages/sentinel_one/data_stream/agent/sample_event.json
  packages/sentinel_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/sentinel_one/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/alert/sample_event.json
  packages/sentinel_one/data_stream/group/sample_event.json
  packages/sentinel_one/data_stream/threat/sample_event.json
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:crowdstrike, Integration:microsoft_defender_endpoint, Integration:sentinel_one, Integration:m365_defender, Team:Security-Service Integrations, Integration:microsoft_defender_cloud

#13150 [integration/system] add use_performance_counters in system integration
  packages/system/changelog.yml
  packages/system/data_stream/core/agent/stream/stream.yml.hbs
  packages/system/data_stream/core/manifest.yml
  packages/system/data_stream/cpu/agent/stream/stream.yml.hbs
  packages/system/data_stream/cpu/manifest.yml
  packages/system/manifest.yml
Labels: Integration:system, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs

#13963 Adding agentless deployment to the sublime security integration
  packages/sublime_security/_dev/build/docs/README.md
  packages/sublime_security/changelog.yml
  packages/sublime_security/docs/README.md
  packages/sublime_security/manifest.yml
Labels: Team:Security-Service Integrations, Integration:sublime_security

#13755 zscaler_zpa: fix handling of multiple remote IPs, and event categorisation
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/zscaler_zpa/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/zscaler_zpa/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/manifest.yml
Labels: Integration:zscaler_zpa, bugfix, Team:Security-Service Integrations

#13930 [Cribl] Fix handling of metric event type
  packages/cribl/_dev/build/docs/README.md
  packages/cribl/changelog.yml
  packages/cribl/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/cribl/data_stream/metrics/fields/base-fields.yml
  packages/cribl/data_stream/metrics/manifest.yml
  packages/cribl/docs/README.md
  packages/cribl/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:cribl, Team:Sit-Crest

#13947 [Infoblox NIOS] Handle the parsing of IPv6 address
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_audit.yml
  packages/infoblox_nios/manifest.yml
Labels: Integration:infoblox_nios, bugfix, Team:Security-Service Integrations, Team:Sit-Crest

#13825 mimecast: resolve field data type conflicts between data streams
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v2-logs.log
  packages/mimecast/data_stream/siem_logs/_dev/test/pipeline/test-siem-v2-logs.log-expected.json
  packages/mimecast/data_stream/siem_logs/elasticsearch/ingest_pipeline/v2_pipeline.yml
  packages/mimecast/data_stream/siem_logs/fields/field.yml
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-attributes-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-long-ndjson.log-expected.json
  packages/ti_misp/data_stream/threat/_dev/test/pipeline/test-misp-sample-ndjson.log-expected.json
Labels: breaking change, Integration:ti_misp, Integration:mimecast, Team:Security-Service Integrations, Team:Sit-Crest

#13978 aws.firewall: Document ingested log types of AWS Network Firewall
  packages/aws/_dev/build/docs/firewall.md
  packages/aws/changelog.yml
  packages/aws/docs/firewall.md
  packages/aws/manifest.yml
Labels: documentation, Integration:aws, Team:Security-Service Integrations

#13950 apm: Add config for tail-based sampling discard on write
  packages/apm/agent/input/template.yml.hbs
  packages/apm/changelog.yml
  packages/apm/manifest.yml
Labels: Integration:apm

#13977 [Netskope Alerts] Add text multi-field to netskope.alerts.breach.description field
  packages/netskope/changelog.yml
  packages/netskope/data_stream/alerts/fields/fields.yml
  packages/netskope/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/netskope/docs/README.md
  packages/netskope/manifest.yml
Labels: Integration:netskope, Team:Security-Service Integrations

#13999 zscaler_zpa: fix IPProtocol mapping
  packages/zscaler_zpa/changelog.yml
  packages/zscaler_zpa/data_stream/user_activity/_dev/test/pipeline/test-user-activity.log-expected.json
  packages/zscaler_zpa/data_stream/user_activity/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zpa/data_stream/user_activity/sample_event.json
  packages/zscaler_zpa/docs/README.md
  packages/zscaler_zpa/manifest.yml
Labels: Integration:zscaler_zpa, bugfix, Team:Security-Service Integrations

#13626 [sysdig] Add support for security event datastream
  packages/sysdig/_dev/build/docs/README.md
  packages/sysdig/_dev/deploy/docker/docker-compose.yml
  packages/sysdig/_dev/deploy/docker/files/config.yml
  packages/sysdig/changelog.yml
  packages/sysdig/data_stream/alerts/_dev/test/pipeline/test-sysdig.log-expected.json
  packages/sysdig/data_stream/alerts/sample_event.json
  packages/sysdig/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/sysdig/data_stream/event/_dev/test/pipeline/test-event.log
  packages/sysdig/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/sysdig/data_stream/event/_dev/test/system/test-default-config.yml
  packages/sysdig/data_stream/event/agent/stream/cel.yml.hbs
  packages/sysdig/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/sysdig/data_stream/event/fields/base-fields.yml
  packages/sysdig/data_stream/event/fields/beats.yml
  packages/sysdig/data_stream/event/fields/fields.yml
  packages/sysdig/data_stream/event/manifest.yml
  packages/sysdig/data_stream/event/sample_event.json
  packages/sysdig/docs/README.md
  packages/sysdig/img/sysdig-security-events-screenshot.png
  packages/sysdig/kibana/dashboard/sysdig-d0ac6062-d4da-4f63-948d-4aea617909bf.json
  packages/sysdig/kibana/dashboard/sysdig-fae0ccf1-e806-4876-a7fa-7258b094b15b.json
  packages/sysdig/kibana/search/sysdig-81a3c734-23e4-4acb-83dd-ae05dd98536c.json
  packages/sysdig/manifest.yml
  packages/sysdig/validation.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:sysdig, Team:Sit-Crest

#14010 ti_crowdstrike.intel: Fix mapping of vulnerability field
  packages/ti_crowdstrike/_dev/deploy/docker/files/config.yml
  packages/ti_crowdstrike/changelog.yml
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log
  packages/ti_crowdstrike/data_stream/intel/_dev/test/pipeline/test-intel.log-expected.json
  packages/ti_crowdstrike/data_stream/intel/elasticsearch/ingest_pipeline/default.yml
  packages/ti_crowdstrike/data_stream/intel/sample_event.json
  packages/ti_crowdstrike/docs/README.md
  packages/ti_crowdstrike/manifest.yml
Labels: bugfix, Integration:ti_crowdstrike, Team:Security-Service Integrations

#13984 [crowdstrike,m365_defender,microsoft_defender_endpoint,trend_micro_vision_one] map source-specific fields to process.* ECS fields
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/crowdstrike/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/alert/sample_event.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-event-stream.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-epp-detection-summary.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-events.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-firewall.log-expected.json
  packages/crowdstrike/data_stream/falcon/_dev/test/pipeline/test-falcon-sample.log-expected.json
  packages/crowdstrike/data_stream/falcon/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/falcon/sample_event.json
  packages/crowdstrike/docs/README.md
  packages/crowdstrike/manifest.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/alert/sample_event.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/incident/sample_event.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/_dev/test/pipeline/test-defenderatp.log-expected.json
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/data_stream/log/sample_event.json
  packages/microsoft_defender_endpoint/docs/README.md
  packages/microsoft_defender_endpoint/manifest.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/_dev/test/pipeline/test-pipeline-alert.log-expected.json
  packages/trend_micro_vision_one/data_stream/audit/_dev/test/pipeline/test-pipeline-audit.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/_dev/test/pipeline/test-pipeline-detection.log-expected.json
  packages/trend_micro_vision_one/data_stream/detection/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/detection/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, Integration:crowdstrike, Integration:microsoft_defender_endpoint, Integration:m365_defender, Integration:trend_micro_vision_one, Team:Security-Service Integrations, Team:Sit-Crest

#13588 [trend_micro_vision_one] Collect telemetry via the Datalake Pipeline API
  packages/trend_micro_vision_one/_dev/build/docs/README.md
  packages/trend_micro_vision_one/_dev/deploy/docker/files/config.yml
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/telemetry/_dev/test/pipeline/test-common-config.yml
  packages/trend_micro_vision_one/data_stream/telemetry/_dev/test/pipeline/test-data.log
  packages/trend_micro_vision_one/data_stream/telemetry/_dev/test/pipeline/test-data.log-expected.json
  packages/trend_micro_vision_one/data_stream/telemetry/_dev/test/system/test-default-config.yml
  packages/trend_micro_vision_one/data_stream/telemetry/agent/stream/cel.yml.hbs
  packages/trend_micro_vision_one/data_stream/telemetry/elasticsearch/ingest_pipeline/default.yml
  packages/trend_micro_vision_one/data_stream/telemetry/fields/agent.yml
  packages/trend_micro_vision_one/data_stream/telemetry/fields/base-fields.yml
  packages/trend_micro_vision_one/data_stream/telemetry/fields/ecs-fields.yml
  packages/trend_micro_vision_one/data_stream/telemetry/fields/fields.yml
  packages/trend_micro_vision_one/data_stream/telemetry/manifest.yml
  packages/trend_micro_vision_one/data_stream/telemetry/sample_event.json
  packages/trend_micro_vision_one/docs/README.md
  packages/trend_micro_vision_one/img/trend-micro-vision-one-telemetry-dashboard-screenshot.png
  packages/trend_micro_vision_one/kibana/dashboard/trend_micro_vision_one-16edcded-6b80-45b9-a6fd-aa0caa5fab50.json
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, dashboard, Integration:trend_micro_vision_one, Team:Security-Service Integrations

#14017 [jamf_pro] Add event.module definition for the events data stream
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/events/fields/base-fields.yml
  packages/jamf_pro/data_stream/events/sample_event.json
  packages/jamf_pro/data_stream/inventory/fields/base-fields.yml
  packages/jamf_pro/data_stream/inventory/sample_event.json
  packages/jamf_pro/docs/README.md
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#13875 crowdstrike.fdr: Parse additional notification payloads using parsing script.
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/agent/stream/aws-s3.yml.hbs
  packages/crowdstrike/data_stream/fdr/manifest.yml
  packages/crowdstrike/manifest.yml
Labels: enhancement, Integration:crowdstrike, Team:Security-Service Integrations

#14001 [Box Events] Update and expand ECS `user.*` field mappings
  packages/box_events/changelog.yml
  packages/box_events/data_stream/events/_dev/test/pipeline/test-anomalous-download.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-copy.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-create.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-download.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-invite.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-malicious-content.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-preview.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-rename.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-locations.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-suspicious-sessions.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-trash.log-expected.json
  packages/box_events/data_stream/events/_dev/test/pipeline/test-upload.log-expected.json
  packages/box_events/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/box_events/manifest.yml
Labels: enhancement, Integration:box_events, Team:Security-Service Integrations, Team:Sit-Crest

#14029 apm: Backport TBS ttl and discard_on_write_failure to 8.19
  packages/apm/agent/input/template.yml.hbs
  packages/apm/changelog.yml
  packages/apm/manifest.yml
Labels: Integration:apm

#14027 [KeyClock] Set the ECS field `event.outcome` based on the value of `keycloak.login.type`
  packages/keycloak/changelog.yml
  packages/keycloak/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/keycloak/data_stream/log/elasticsearch/ingest_pipeline/events.yml
  packages/keycloak/data_stream/log/sample_event.json
  packages/keycloak/docs/README.md
  packages/keycloak/manifest.yml
Labels: enhancement, Integration:keycloak, Team:Security-Service Integrations, Team:Sit-Crest

#13680 [panw_cortex_xdr] Add event data stream and dashboards of incident and alert
  packages/panw_cortex_xdr/_dev/build/docs/README.md
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/deploy/docker/docker-compose.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/deploy/docker/http-mock-config.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr-bioc.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-panw-xdr.log-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-reprocess.json-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/alerts/sample_event.json
  packages/panw_cortex_xdr/data_stream/event/_dev/test/pipeline/test-common-config.yml
  packages/panw_cortex_xdr/data_stream/event/_dev/test/pipeline/test-event.log
  packages/panw_cortex_xdr/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/panw_cortex_xdr/data_stream/event/agent/stream/gcs.yml.hbs
  packages/panw_cortex_xdr/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/event/fields/base-fields.yml
  packages/panw_cortex_xdr/data_stream/event/fields/beats.yml
  packages/panw_cortex_xdr/data_stream/event/fields/fields.yml
  packages/panw_cortex_xdr/data_stream/event/fields/gcs.yml
  packages/panw_cortex_xdr/data_stream/event/manifest.yml
  packages/panw_cortex_xdr/data_stream/incidents/_dev/deploy/docker/docker-compose.yml
  packages/panw_cortex_xdr/data_stream/incidents/_dev/deploy/docker/http-mock-config.yml
  packages/panw_cortex_xdr/data_stream/incidents/_dev/test/pipeline/test-panw-xdr-incident.log-expected.json
  packages/panw_cortex_xdr/data_stream/incidents/_dev/test/pipeline/test-reprocess.json-expected.json
  packages/panw_cortex_xdr/data_stream/incidents/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/incidents/sample_event.json
  packages/panw_cortex_xdr/docs/README.md
  packages/panw_cortex_xdr/img/panw_cortex_xdr-alerts.png
  packages/panw_cortex_xdr/img/panw_cortex_xdr-events.png
  packages/panw_cortex_xdr/img/panw_cortex_xdr-incidents.png
  packages/panw_cortex_xdr/kibana/dashboard/panw_cortex_xdr-10c6821e-1f7c-4ea6-acf8-e667ab0f03ce.json
  packages/panw_cortex_xdr/kibana/dashboard/panw_cortex_xdr-a349f1e6-6762-4a54-9512-e22b32acb9d9.json
  packages/panw_cortex_xdr/kibana/dashboard/panw_cortex_xdr-acba7c6a-e721-46ea-9263-1d0d8cc61922.json
  packages/panw_cortex_xdr/kibana/tag/panw_cortex_xdr-security-solution-default.json
  packages/panw_cortex_xdr/manifest.yml
  packages/panw_cortex_xdr/validation.yml
Labels: dashboard, Integration:panw_cortex_xdr, Crest, Team:Security-Service Integrations

#13799 Add support of Vertex AI Audit Logs
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/auditlogs/_dev/test/pipeline/test-vertexai.log
  packages/gcp_vertexai/data_stream/auditlogs/_dev/test/pipeline/test-vertexai.log-expected.json
  packages/gcp_vertexai/data_stream/auditlogs/agent/stream/stream.yml.hbs
  packages/gcp_vertexai/data_stream/auditlogs/elasticsearch/ingest_pipeline/default.yml
  packages/gcp_vertexai/data_stream/auditlogs/fields/base-fields.yml
  packages/gcp_vertexai/data_stream/auditlogs/fields/fields.yml
  packages/gcp_vertexai/data_stream/auditlogs/manifest.yml
  packages/gcp_vertexai/data_stream/auditlogs/sample_event.json
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/manifest.yml
Labels: Team:Obs-InfraObs, Integration:gcp_vertexai

#13896 [Apache_Tomcat] Ingest pipeline pattern enhancement
  packages/apache_tomcat/_dev/build/docs/README.md
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/apache_tomcat/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/data_stream/access/fields/fields.yml
  packages/apache_tomcat/data_stream/catalina/fields/beats.yml
  packages/apache_tomcat/docs/README.md
  packages/apache_tomcat/manifest.yml
Labels: Integration:apache_tomcat, Team:Obs-InfraObs

#14056 o365: validate field type in pipeline before accessing subfields
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#14034 Publish First EPSS major version 1.0.0
  packages/first_epss/_dev/deploy/docker/docker-compose.yml
  packages/first_epss/changelog.yml
  packages/first_epss/data_stream/vulnerability/_dev/test/pipeline/test-vulnerability.log-expected.json
  packages/first_epss/data_stream/vulnerability/_dev/test/system/test-default-config.yml
  packages/first_epss/data_stream/vulnerability/fields/beats.yml
  packages/first_epss/data_stream/vulnerability/fields/fields.yml
  packages/first_epss/data_stream/vulnerability/manifest.yml
  packages/first_epss/data_stream/vulnerability/sample_event.json
  packages/first_epss/docs/README.md
  packages/first_epss/manifest.yml
Labels: Team:Security-Service Integrations, Integration:first_epss

#14035 beelzebub: implement password redaction via gsub
  packages/beelzebub/changelog.yml
  packages/beelzebub/data_stream/logs/_dev/test/pipeline/test-logs-ndjson.log-expected.json
  packages/beelzebub/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/beelzebub/manifest.yml
Labels: flaky-test, bugfix, Team:Security-Service Integrations, Integration:beelzebub

#14004 packages/openai: Update dashboard screenshots
  packages/openai/changelog.yml
  packages/openai/img/openai-audio-speech.png
  packages/openai/img/openai-audio-transcription.png
  packages/openai/img/openai-image.png
  packages/openai/img/openai-overview.png
  packages/openai/img/openai-token.png
  packages/openai/img/usage-dashboard-screenshot.png
  packages/openai/manifest.yml
Labels: Team:Obs-InfraObs, Integration:openai

#14013 [Cribl] Release integration as GA
  packages/cribl/_dev/build/build.yml
  packages/cribl/changelog.yml
  packages/cribl/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/cribl/data_stream/metrics/elasticsearch/ingest_pipeline/default.yml
  packages/cribl/img/logs-overview-dashboard.png
  packages/cribl/img/metrics-overview-dashboard.png
  packages/cribl/kibana/dashboard/cribl-220597a9-3b61-4198-8f39-002cd202b178.json
  packages/cribl/kibana/dashboard/cribl-3b258466-c0ad-4819-a793-003099c1bbf9.json
  packages/cribl/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:cribl, Team:Sit-Crest

#14011 [prisma_cloud] Add support for REST API Input to the Incident Audit data stream
  packages/prisma_cloud/_dev/build/docs/README.md
  packages/prisma_cloud/_dev/deploy/docker/files/config.yml
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/incident_audit/_dev/test/system/test-cel-config.yml
  packages/prisma_cloud/data_stream/incident_audit/agent/stream/cel.yml.hbs
  packages/prisma_cloud/data_stream/incident_audit/manifest.yml
  packages/prisma_cloud/data_stream/incident_audit/sample_event.json
  packages/prisma_cloud/docs/README.md
  packages/prisma_cloud/manifest.yml
Labels: enhancement, Integration:prisma_cloud, Team:Security-Service Integrations, Team:Sit-Crest

#14084 Move Attributes to a flattened entity.raw
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/entity.yml
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement
