Repository elastic/integrations, pull requests merged in 2025-01, with the labels that each got.

#12206 entityanalytics_okta: Add `event.original` field when `preserve_original_event` tag is set.
  packages/entityanalytics_okta/changelog.yml
  packages/entityanalytics_okta/data_stream/user/_dev/test/pipeline/test-user.json-expected.json
  packages/entityanalytics_okta/data_stream/user/_dev/test/system/test-default-config.yml
  packages/entityanalytics_okta/data_stream/user/agent/stream/entity-analytics.yml.hbs
  packages/entityanalytics_okta/data_stream/user/elasticsearch/ingest_pipeline/default.yml
  packages/entityanalytics_okta/data_stream/user/manifest.yml
  packages/entityanalytics_okta/data_stream/user/sample_event.json
  packages/entityanalytics_okta/docs/README.md
  packages/entityanalytics_okta/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:entityanalytics_okta

#11883 [aws] [cloudwatch_metrics] Map aws.dimensions field as object
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/package-fields.yml
  packages/aws/docs/cloudwatch.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:obs-ds-hosted-services

#11708 [O11y][MongoDB Atlas] Fix error handling mechanism in disk, hardware and process data streams
  packages/mongodb_atlas/changelog.yml
  packages/mongodb_atlas/data_stream/disk/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/hardware/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/process/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/project/sample_event.json
  packages/mongodb_atlas/docs/README.md
  packages/mongodb_atlas/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:mongodb_atlas

#12215 [Corelight] Add security workflows dashboards
  packages/corelight/changelog.yml
  packages/corelight/docs/README.md
  packages/corelight/img/corelight-suricata-ids-alert-overview.png
  packages/corelight/img/intel.png
  packages/corelight/img/ip-interrogation.png
  packages/corelight/img/log-hunting.png
  packages/corelight/img/name-resolution-insights.png
  packages/corelight/img/notices.png
  packages/corelight/img/rdp-inferences-overview.png
  packages/corelight/img/remote-activity-insights-screenshot.png
  packages/corelight/img/secure-channel-insights.png
  packages/corelight/img/security-posture.png
  packages/corelight/img/ssh-inferences-overview.png
  packages/corelight/img/vpn-insights.png
  packages/corelight/kibana/dashboard/corelight-023162b6-94da-4d8d-b1f6-de6192356cce.json
  packages/corelight/kibana/dashboard/corelight-2d4dc345-cbbe-4d7a-9203-5ab11c8cb5ba.json
  packages/corelight/kibana/dashboard/corelight-323b0f27-993e-4fee-ae6e-b5977d7cab11.json
  packages/corelight/kibana/dashboard/corelight-3a4a279f-f238-47de-90ba-f643c5647fde.json
  packages/corelight/kibana/dashboard/corelight-45197477-c13f-4e52-a5dd-fb4f53564963.json
  packages/corelight/kibana/dashboard/corelight-65a5fa91-06e4-459b-b4bb-998c85a6cf08.json
  packages/corelight/kibana/dashboard/corelight-7c0946bc-acd0-4ec3-ab3b-8a92853f4a3b.json
  packages/corelight/kibana/dashboard/corelight-8546a96c-86c9-4edf-9d46-88338d6ac40e.json
  packages/corelight/kibana/dashboard/corelight-f1208ffe-d168-46d1-9531-24de523d1bfb.json
  packages/corelight/kibana/dashboard/corelight-f4864774-ed73-4b78-b861-5b8235ec12cf.json
  packages/corelight/kibana/dashboard/corelight-f7da14f0-85db-48e8-a591-1f650af0f618.json
  packages/corelight/kibana/dashboard/corelight-ff07e65c-2703-4cbe-a45f-3881025352a3.json
  packages/corelight/kibana/search/corelight-0e9e3c43-9a05-4427-ae03-cd819c418889.json
  packages/corelight/kibana/search/corelight-11552ca0-3e4f-4820-ab4a-05e382a371ef.json
  packages/corelight/kibana/search/corelight-3f297c60-28e0-4914-9ced-787072a95c49.json
  packages/corelight/kibana/search/corelight-47793bd6-b227-40eb-b8d6-0089c332c552.json
  packages/corelight/kibana/search/corelight-7bc4e6b5-966f-4f20-b1d6-c38040342881.json
  packages/corelight/kibana/search/corelight-86b2a063-fb17-4165-8046-843ff5cf33aa.json
  packages/corelight/manifest.yml
Labels: enhancement, dashboard, Crest, Team:Security-Service Integrations, Integration:corelight

#12222 Update Custom Logs Package Readme
  packages/log/changelog.yml
  packages/log/docs/README.md
  packages/log/manifest.yml
Labels: enhancement, Team:Elastic-Agent-Data-Plane, Integration:log

#12106 ti_threatconnect: add query to base dashboard to avoid duplicates and update label
  packages/ti_threatconnect/changelog.yml
  packages/ti_threatconnect/kibana/dashboard/ti_threatconnect-2d465f90-973d-11ee-839e-ef65b7014120.json
  packages/ti_threatconnect/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:ti_threatconnect

#12014 [cisco_meraki] Migrate log stream visualization to saved search
  packages/cisco_meraki/changelog.yml
  packages/cisco_meraki/kibana/dashboard/cisco_meraki-4832a430-af22-11ec-a899-6f7e676e0fb4.json
  packages/cisco_meraki/kibana/tag/cisco_meraki-security-solution-default.json
  packages/cisco_meraki/manifest.yml
Labels: enhancement, dashboard, Integration:cisco_meraki, Team:Security-Service Integrations

#12191 #12185-5/6/7/8/9 5 new event types for Aruba (SYS, SYSMON, Supportability, TCAM, TELNET Server)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12190 #12185-1/2/3/4 4 new event types for Aruba (SSH Server/Client, Smartlink and SNMP)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#11367 Problem child ingest pipeline bug
  packages/problemchild/changelog.yml
  packages/problemchild/elasticsearch/ingest_pipeline/problem_child_ingest_pipeline.yml
  packages/problemchild/manifest.yml
Labels: Stalled, bugfix, Integration:problemchild, Team:Security-Applied ML

#12193 #12192-1/2/3/4 4 new event types for Aruba (Traffic Insight, TPM, Time Management and Temperature)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12184 #12118 8/9/10 Added 3 new events types (sFlow, Self Test and REST)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12226 [Windows] Fix mapping for field `dns.answers`
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/fields/ecs.yml
  packages/windows/data_stream/sysmon_operational/fields/ecs.yml
  packages/windows/docs/README.md
  packages/windows/manifest.yml
Labels: Integration:windows, bugfix, Team:Security-Windows Platform

#12233 [azure][graphactivitylogs] - Fixed a bug related to event.duration value mapping
  packages/azure/changelog.yml
  packages/azure/data_stream/graphactivitylogs/_dev/test/pipeline/test-activitylogs-raw.log-expected.json
  packages/azure/data_stream/graphactivitylogs/elasticsearch/ingest_pipeline/default.yml
  packages/azure/manifest.yml
Labels: integration, Integration:azure, bugfix, Team:Security-Service Integrations

#12231 [jamf_pro] Inventory pagination fix
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/agent/stream/cel.yml.hbs
  packages/jamf_pro/data_stream/inventory/manifest.yml
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#11656 [elasticsearch] Extension of the Elasticsearch integration with datastream-centric stats
  packages/elasticsearch/_dev/build/docs/README.md
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/index/fields/fields.yml
  packages/elasticsearch/data_stream/index/sample_event.json
  packages/elasticsearch/docs/README.md
  packages/elasticsearch/elasticsearch/ingest_pipeline/monitoring_indices.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/fields/fields.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/manifest.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/transform.yml
  packages/elasticsearch/img/indices_datastream_view.png
  packages/elasticsearch/kibana/dashboard/elasticsearch-consumption.json
  packages/elasticsearch/kibana/index_pattern/elasticsearch-monitoringindices.json
  packages/elasticsearch/manifest.yml
Labels: enhancement, Integration:elasticsearch, dashboard, Team:Stack Monitoring

#12247 #12192 9/10 Added two additional event types (User management, User-based tunnels Events)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12244 #12192-5/6/7/8 Added three new event types (Transceiver, UDLD and UFD)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12223 Add missing categories
  packages/aws/changelog.yml
  packages/aws/manifest.yml
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/manifest.yml
  packages/aws_logs/changelog.yml
  packages/aws_logs/manifest.yml
  packages/awsfargate/changelog.yml
  packages/awsfargate/manifest.yml
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/manifest.yml
  packages/azure/changelog.yml
  packages/azure/manifest.yml
  packages/azure_application_insights/changelog.yml
  packages/azure_application_insights/manifest.yml
  packages/azure_billing/changelog.yml
  packages/azure_billing/manifest.yml
  packages/azure_blob_storage/changelog.yml
  packages/azure_blob_storage/manifest.yml
  packages/azure_frontdoor/changelog.yml
  packages/azure_frontdoor/manifest.yml
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/manifest.yml
  packages/azure_network_watcher_nsg/changelog.yml
  packages/azure_network_watcher_nsg/manifest.yml
  packages/azure_network_watcher_vnet/changelog.yml
  packages/azure_network_watcher_vnet/manifest.yml
  packages/cisco_meraki_metrics/changelog.yml
  packages/cisco_meraki_metrics/manifest.yml
  packages/gcp/changelog.yml
  packages/gcp/manifest.yml
  packages/gcp_metrics/changelog.yml
  packages/gcp_metrics/manifest.yml
  packages/gcp_pubsub/changelog.yml
  packages/gcp_pubsub/manifest.yml
  packages/jolokia_input/changelog.yml
  packages/jolokia_input/manifest.yml
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/manifest.yml
  packages/panw_metrics/changelog.yml
  packages/panw_metrics/manifest.yml
  packages/statsd_input/changelog.yml
  packages/statsd_input/manifest.yml
Labels: Integration:azure, Integration:aws, Integration:gcp, Integration:statsd_input, Integration:gcp_pubsub, Integration:microsoft_sqlserver, Team:Obs-InfraObs, Integration:azure_blob_storage, Integration:azure_frontdoor, Integration:awsfirehose, Integration:azure_metrics, Team:Security-Service Integrations, Team:Security-Deployment and Devices, Integration:azure_network_watcher_vnet, Integration:aws_bedrock, Integration:jolokia_input, Integration:azure_network_watcher_nsg, Integration:aws_logs, Integration:awsfargate, Integration:azure_application_insights, Integration:azure_billing, Integration:gcp_metrics, Team:obs-ds-hosted-services, Integration:cisco_meraki_metrics, Integration:panw_metrics

#12258 [Security Rules] Update security rules package to v8.14.19-beta.1
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/kibana/security_rule/01c49712-25bc-49d2-a27d-d7ce52f5dc49_103.json
  packages/security_detection_engine/kibana/security_rule/0294f105-d7af-4a02-ae90-35f56763ffa2_103.json
  packages/security_detection_engine/kibana/security_rule/06d555e4-c8ce-4d90-90e1-ec7f66df5a6a_1.json
  packages/security_detection_engine/kibana/security_rule/07639887-da3a-4fbf-9532-8ce748ff8c50_105.json
  packages/security_detection_engine/kibana/security_rule/095b6a58-8f88-4b59-827c-ab584ad4e759_103.json
  packages/security_detection_engine/kibana/security_rule/0e4367a0-a483-439d-ad2e-d90500b925fd_103.json
  packages/security_detection_engine/kibana/security_rule/135abb91-dcf4-48aa-b81a-5ad036b67c68_1.json
  packages/security_detection_engine/kibana/security_rule/183f3cd2-4cc6-44c0-917c-c5d29ecdcf74_1.json
  packages/security_detection_engine/kibana/security_rule/185c782e-f86a-11ee-9d9f-f661ea17fbce_2.json
  packages/security_detection_engine/kibana/security_rule/192657ba-ab0e-4901-89a2-911d611eee98_5.json
  packages/security_detection_engine/kibana/security_rule/1965eab8-d17f-4b21-8c48-ad5ff133695d_1.json
  packages/security_detection_engine/kibana/security_rule/1c6a8c7a-5cb6-4a82-ba27-d5a5b8a40a38_212.json
  packages/security_detection_engine/kibana/security_rule/1ca62f14-4787-4913-b7af-df11745a49da_103.json
  packages/security_detection_engine/kibana/security_rule/1e9b271c-8caa-4e20-aed8-e91e34de9283_103.json
  packages/security_detection_engine/kibana/security_rule/24401eca-ad0b-4ff9-9431-487a8e183af9_105.json
  packages/security_detection_engine/kibana/security_rule/28eb3afe-131d-48b0-a8fc-9784f3d54f3c_3.json
  packages/security_detection_engine/kibana/security_rule/345889c4-23a8-4bc0-b7ca-756bd17ce83b_102.json
  packages/security_detection_engine/kibana/security_rule/3af4cb9b-973f-4c54-be2b-7623c0e21b2b_103.json
  packages/security_detection_engine/kibana/security_rule/3fac01b2-b811-11ef-b25b-f661ea17fbce_1.json
  packages/security_detection_engine/kibana/security_rule/4030c951-448a-4017-a2da-ed60f6d14f4f_103.json
  packages/security_detection_engine/kibana/security_rule/41761cd3-380f-4d4d-89f3-46d6853ee35d_103.json
  packages/security_detection_engine/kibana/security_rule/428e9109-dc13-4ae9-84cb-100464d4c6fa_1.json
  packages/security_detection_engine/kibana/security_rule/4c3c6c47-e38f-4944-be27-5c80be973bd7_1.json
  packages/security_detection_engine/kibana/security_rule/4f855297-c8e0-4097-9d97-d653f7e471c4_4.json
  packages/security_detection_engine/kibana/security_rule/53ef31ea-1f8a-493b-9614-df23d8277232_1.json
  packages/security_detection_engine/kibana/security_rule/54902e45-3467-49a4-8abc-529f2c8cfb80_212.json
  packages/security_detection_engine/kibana/security_rule/5c832156-5785-4c9c-a2e7-0d80d2ba3daa_1.json
  packages/security_detection_engine/kibana/security_rule/61336fe6-c043-4743-ab6e-41292f439603_103.json
  packages/security_detection_engine/kibana/security_rule/696015ef-718e-40ff-ac4a-cc2ba88dbeeb_4.json
  packages/security_detection_engine/kibana/security_rule/6cea88e4-6ce2-4238-9981-a54c140d6336_103.json
  packages/security_detection_engine/kibana/security_rule/6e2355cc-c60a-4d92-a80c-e54a45ad2400_1.json
  packages/security_detection_engine/kibana/security_rule/8a0fd93a-7df8-410d-8808-4cc5e340f2b9_103.json
  packages/security_detection_engine/kibana/security_rule/907a26f5-3eb6-4338-a70e-6c375c1cde8a_1.json
  packages/security_detection_engine/kibana/security_rule/929223b4-fba3-4a1c-a943-ec4716ad23ec_1.json
  packages/security_detection_engine/kibana/security_rule/9a1a2dae-0b5f-4c3d-8305-a268d404c306_104.json
  packages/security_detection_engine/kibana/security_rule/9b343b62-d173-4cfd-bd8b-e6379f964ca4_105.json
  packages/security_detection_engine/kibana/security_rule/a198fbbd-9413-45ec-a269-47ae4ccf59ce_4.json
  packages/security_detection_engine/kibana/security_rule/a22b8486-5c4b-4e05-ad16-28de550b1ccc_1.json
  packages/security_detection_engine/kibana/security_rule/ab75c24b-2502-43a0-bf7c-e60e662c811e_115.json
  packages/security_detection_engine/kibana/security_rule/ce08b55a-f67d-4804-92b5-617b0fe5a5b5_103.json
  packages/security_detection_engine/kibana/security_rule/ded09d02-0137-4ccc-8005-c45e617e8d4c_106.json
  packages/security_detection_engine/kibana/security_rule/f48ecc44-7d02-437d-9562-b838d2c41987_3.json
  packages/security_detection_engine/kibana/security_rule/f94e898e-94f1-4545-8923-03e4b2866211_103.json
  packages/security_detection_engine/kibana/security_rule/fa488440-04cc-41d7-9279-539387bf2a17_314.json
  packages/security_detection_engine/kibana/security_rule/fb0afac5-bbd6-49b0-b4f8-44e5381e1587_103.json
  packages/security_detection_engine/kibana/security_rule/fc909baa-fb34-4c46-9691-be276ef4234c_103.json
  packages/security_detection_engine/kibana/security_rule/fd01b949-81be-46d5-bcf8-284395d5f56d_103.json
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12237 [aws] [cloudwatch_metrics] Map aws.dimensions field as object (backport of #11883)
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudwatch_metrics/fields/package-fields.yml
  packages/aws/docs/cloudwatch.md
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#12246 [ Cloudflare Logpush ] Populate event.id from the Ray ID value for Firewall Events and HTTP Requests
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/data_stream/firewall_event/_dev/test/pipeline/test-pipeline-firewall-event.log-expected.json
  packages/cloudflare_logpush/data_stream/firewall_event/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/data_stream/http_request/_dev/test/pipeline/test-pipeline-http-request.log-expected.json
  packages/cloudflare_logpush/data_stream/http_request/elasticsearch/ingest_pipeline/default.yml
  packages/cloudflare_logpush/manifest.yml
Labels: enhancement, Integration:cloudflare_logpush, Team:Security-Service Integrations

#12263 [Security Rules] Update security rules package to v8.14.19
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12265 [Security Rules] Update security rules package to v8.16.4
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12264 [Security Rules] Update security rules package to v8.15.13
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12266 [Security Rules] Update security rules package to v8.17.2
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12262 [aws] Add changelog entry for backport version 2.30.3
  packages/aws/changelog.yml
Labels: Integration:aws, Team:obs-ds-hosted-services

#12275 Akamai: fix pipeline error when converting empty field
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log
  packages/akamai/data_stream/siem/_dev/test/pipeline/test-http-json.log-expected.json
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
Labels: Integration:akamai, bugfix, Team:Security-Service Integrations

#12178 [rubrik] Add Monitoring Jobs datastream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/managed_volumes/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/managed_volumes/fields/fields.yml
  packages/rubrik/data_stream/monitoring_jobs/_dev/test/pipeline/test-monitoring-jobs-metrics.log
  packages/rubrik/data_stream/monitoring_jobs/_dev/test/pipeline/test-monitoring-jobs-metrics.log-expected.json
  packages/rubrik/data_stream/monitoring_jobs/agent/stream/httpjson.yml.hbs
  packages/rubrik/data_stream/monitoring_jobs/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/monitoring_jobs/fields/base-fields.yml
  packages/rubrik/data_stream/monitoring_jobs/fields/fields.yml
  packages/rubrik/data_stream/monitoring_jobs/manifest.yml
  packages/rubrik/data_stream/monitoring_jobs/sample_event.json
  packages/rubrik/docs/README.md
Labels: New Integration, Team:Obs-InfraObs, Integration:rubrik

#12282 [trend_micro_vision_one] - Added configurable page size option for the detection and audit data streams
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/audit/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/audit/manifest.yml
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/data_stream/detection/manifest.yml
  packages/trend_micro_vision_one/manifest.yml
Labels: enhancement, integration, Integration:trend_micro_vision_one, Team:Security-Service Integrations

#12205 [rubrik] Add `virtualmachines` data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/managed_volumes/_dev/test/pipeline/test-managed-volumes-metrics.log-expected.json
  packages/rubrik/data_stream/virtualmachines/_dev/test/pipeline/test-virtualmachines-metrics.log
  packages/rubrik/data_stream/virtualmachines/_dev/test/pipeline/test-virtualmachines-metrics.log-expected.json
  packages/rubrik/data_stream/virtualmachines/agent/stream/httpjson.yml.hbs
  packages/rubrik/data_stream/virtualmachines/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/virtualmachines/fields/base-fields.yml
  packages/rubrik/data_stream/virtualmachines/fields/fields.yml
  packages/rubrik/data_stream/virtualmachines/manifest.yml
  packages/rubrik/data_stream/virtualmachines/sample_event.json
  packages/rubrik/docs/README.md
Labels: New Integration, Team:Obs-InfraObs, Integration:rubrik

#12227 Kubernetes Audit log update - added datatype for annotations.pod-security_kubernetes_io/audit-violation
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/audit_logs/fields/fields.yml
  packages/kubernetes/docs/audit-logs.md
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:kubernetes, Team:Cloudnative-Monitoring

#12225 [Search Connectors] Add remaining service types tiles
  packages/elastic_connectors/agent/input/amazon_s3.yml.hbs
  packages/elastic_connectors/agent/input/azure_blob_storage.yml.hbs
  packages/elastic_connectors/agent/input/box.yml.hbs
  packages/elastic_connectors/agent/input/confluence.yml.hbs
  packages/elastic_connectors/agent/input/dropbox.yml.hbs
  packages/elastic_connectors/agent/input/gmail.yml.hbs
  packages/elastic_connectors/agent/input/google_cloud_storage.yml.hbs
  packages/elastic_connectors/agent/input/jira.yml.hbs
  packages/elastic_connectors/agent/input/microsoft_sql.yml.hbs
  packages/elastic_connectors/agent/input/mongodb.yml.hbs
  packages/elastic_connectors/agent/input/mysql.yml.hbs
  packages/elastic_connectors/agent/input/network_drive.yml.hbs
  packages/elastic_connectors/agent/input/notion.yml.hbs
  packages/elastic_connectors/agent/input/onedrive.yml.hbs
  packages/elastic_connectors/agent/input/oracle.yml.hbs
  packages/elastic_connectors/agent/input/outlook.yml.hbs
  packages/elastic_connectors/agent/input/postgresql.yml.hbs
  packages/elastic_connectors/agent/input/salesforce.yml.hbs
  packages/elastic_connectors/agent/input/servicenow.yml.hbs
  packages/elastic_connectors/agent/input/sharepoint_online.yml.hbs
  packages/elastic_connectors/agent/input/sharepoint_server.yml.hbs
  packages/elastic_connectors/agent/input/slack.yml.hbs
  packages/elastic_connectors/agent/input/teams.yml.hbs
  packages/elastic_connectors/agent/input/zoom.yml.hbs
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/docs/README.md
  packages/elastic_connectors/img/service_type/amazon_s3.svg
  packages/elastic_connectors/img/service_type/azure_blob_storage.svg
  packages/elastic_connectors/img/service_type/box.svg
  packages/elastic_connectors/img/service_type/confluence.svg
  packages/elastic_connectors/img/service_type/dropbox.svg
  packages/elastic_connectors/img/service_type/gmail.svg
  packages/elastic_connectors/img/service_type/google_cloud_storage.svg
  packages/elastic_connectors/img/service_type/jira.svg
  packages/elastic_connectors/img/service_type/microsoft_sql.svg
  packages/elastic_connectors/img/service_type/mongodb.svg
  packages/elastic_connectors/img/service_type/mysql.svg
  packages/elastic_connectors/img/service_type/network_drive.svg
  packages/elastic_connectors/img/service_type/notion.svg
  packages/elastic_connectors/img/service_type/onedrive.svg
  packages/elastic_connectors/img/service_type/oracle.svg
  packages/elastic_connectors/img/service_type/outlook.svg
  packages/elastic_connectors/img/service_type/postgresql.svg
  packages/elastic_connectors/img/service_type/salesforce.svg
  packages/elastic_connectors/img/service_type/servicenow.svg
  packages/elastic_connectors/img/service_type/sharepoint_online.svg
  packages/elastic_connectors/img/service_type/sharepoint_server.svg
  packages/elastic_connectors/img/service_type/slack.svg
  packages/elastic_connectors/img/service_type/teams.svg
  packages/elastic_connectors/img/service_type/zoom.svg
  packages/elastic_connectors/manifest.yml
Labels: enhancement, Integration:elastic_connectors, Team:Search-Extract and Transform

#12288 [qnap_nas] Ensure event.created is correctly mapped
  packages/qnap_nas/changelog.yml
  packages/qnap_nas/data_stream/log/fields/ecs.yml
  packages/qnap_nas/docs/README.md
  packages/qnap_nas/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:qnap_nas

#12276 #12248-1/2 added two event types (Virtual Switching Extension and Virtual Switching Framework)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12250 Amazon Bedrock - Add Guardrails metrics
  .github/CODEOWNERS
  packages/aws_bedrock/_dev/build/docs/README.md
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/data_stream/guardrails/agent/stream/stream.yml.hbs
  packages/aws_bedrock/data_stream/guardrails/elasticsearch/ingest_pipeline/default.yml
  packages/aws_bedrock/data_stream/guardrails/fields/base-fields.yml
  packages/aws_bedrock/data_stream/guardrails/fields/ecs.yml
  packages/aws_bedrock/data_stream/guardrails/fields/fields.yml
  packages/aws_bedrock/data_stream/guardrails/manifest.yml
  packages/aws_bedrock/data_stream/guardrails/sample_event.json
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:aws_bedrock

#12274 Make prospector.scanner.fingerprint configurable
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/container_logs/manifest.yml
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:kubernetes, Team:Cloudnative-Monitoring

#12290 #12248-3/4/5/6/7 Adding 5 new event types (VLAN Interface, VLAN, VRRP, VRF Mgr and VRF)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12201 [O365_metrics] Add yammer_device_usage datastream.
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/yammer_device_usage/_dev/test/pipeline/test-common-config.yml
  packages/o365_metrics/data_stream/yammer_device_usage/_dev/test/pipeline/test-metrics.json
  packages/o365_metrics/data_stream/yammer_device_usage/_dev/test/pipeline/test-metrics.json-expected.json
  packages/o365_metrics/data_stream/yammer_device_usage/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/yammer_device_usage/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/yammer_device_usage/fields/agent.yml
  packages/o365_metrics/data_stream/yammer_device_usage/fields/base-fields.yml
  packages/o365_metrics/data_stream/yammer_device_usage/fields/fields.yml
  packages/o365_metrics/data_stream/yammer_device_usage/manifest.yml
  packages/o365_metrics/data_stream/yammer_device_usage/sample_event.json
  packages/o365_metrics/docs/README.md
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#12285 Fix missing `event.action` in S1 Network Events
  packages/sentinel_one_cloud_funnel/changelog.yml
  packages/sentinel_one_cloud_funnel/data_stream/event/_dev/test/pipeline/test-network-action.log-expected.json
  packages/sentinel_one_cloud_funnel/data_stream/event/elasticsearch/ingest_pipeline/pipeline-network-action.yml
  packages/sentinel_one_cloud_funnel/manifest.yml
Labels: enhancement, Integration:sentinel_one_cloud_funnel, Team:Security-Service Integrations

#12146 [vsphere] Add support for Shared Secrets /SSL Thumbprint Logins and add more granular filtering for file pipeline
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/log/_dev/test/pipeline/test-format-common.log
  packages/vsphere/data_stream/log/_dev/test/pipeline/test-format-common.log-expected.json
  packages/vsphere/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/vsphere/data_stream/log/elasticsearch/ingest_pipeline/login.yml
  packages/vsphere/manifest.yml
Labels: enhancement, Integration:vsphere, Team:Obs-InfraObs

#12239 [microsoft-exchange-online-message-trace] - Added support for sliding window attributes and updated default interval values.
  packages/microsoft_exchange_online_message_trace/_dev/build/docs/README.md
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/agent/stream/httpjson.yml.hbs
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: enhancement, integration, Integration:microsoft_exchange_online_message_trac, Team:Security-Service Integrations

#12302 #12248 8/9/10/11 Adding last 4 event types (VSX, VXLAN (and agent) and Zero Touch)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12292 microsoft_exchange_online_message_trace - handle SenderAddress of '<>'
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: Integration:microsoft_exchange_online_message_trac, bugfix, Team:Security-Service Integrations

#12284 enable enriched fields where there is a nested kv under a msg=... field
  packages/auditd/changelog.yml
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-enriched.log
  packages/auditd/data_stream/log/_dev/test/pipeline/test-auditd-enriched.log-expected.json
  packages/auditd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/auditd/manifest.yml
Labels: Integration:auditd, bugfix, Team:Security-Linux Platform

#12301 [fortinet_forticlient] Deprecate package
  .github/ISSUE_TEMPLATE/integration_bug.yml
  packages/fortinet_forticlient/changelog.yml
  packages/fortinet_forticlient/manifest.yml
Labels: enhancement, deprecation, Team:Security-Deployment and Devices, Integration:fortinet_forticlient

#12341 Update docker documentation with note about podman compatibility
  packages/docker/_dev/build/docs/README.md
  packages/docker/changelog.yml
  packages/docker/docs/README.md
  packages/docker/manifest.yml
Labels: enhancement, Integration:docker, Team:Cloudnative-Monitoring

#12286 [GitLab] Update params mapping for nested object arrays
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/api/_dev/test/pipeline/test-gitlab-api.log
  packages/gitlab/data_stream/api/_dev/test/pipeline/test-gitlab-api.log-expected.json
  packages/gitlab/data_stream/api/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/api/fields/fields.yml
  packages/gitlab/data_stream/api/sample_event.json
  packages/gitlab/data_stream/production/_dev/test/pipeline/test-gitlab-production.log-expected.json
  packages/gitlab/data_stream/production/elasticsearch/ingest_pipeline/default.yml
  packages/gitlab/data_stream/production/fields/fields.yml
  packages/gitlab/data_stream/production/sample_event.json
  packages/gitlab/docs/README.md
  packages/gitlab/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:gitlab

#12338 #12249-1 Driving to 10.15 OS support for all events including missed events from previous iteration of implementation (part 1)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12005 [cef] Add Pre-processor config option to CEF manifest
  packages/cef/_dev/build/docs/README.md
  packages/cef/changelog.yml
  packages/cef/data_stream/log/_dev/test/system/test-logfile-preprocessor-config.yml
  packages/cef/data_stream/log/_dev/test/system/test-tcp-preprocessor-config.yml
  packages/cef/data_stream/log/_dev/test/system/test-udp-preprocessor-config.yml
  packages/cef/data_stream/log/agent/stream/log.yml.hbs
  packages/cef/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cef/data_stream/log/agent/stream/udp.yml.hbs
  packages/cef/data_stream/log/manifest.yml
  packages/cef/docs/README.md
  packages/cef/manifest.yml
Labels: enhancement, Integration:cef, Team:Security-Deployment and Devices

#12344 [zscaler_zia] Drop 'Unknown' values in the audit data stream
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/audit/_dev/test/pipeline/test-audit.log
  packages/zscaler_zia/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/zscaler_zia/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#12343 [cisco_ftd] Ensure event message is saved to event.reason for IDs 101001 through 105052
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/manifest.yml
Labels: Integration:cisco_ftd, bugfix, Team:Security-Deployment and Devices

#12353 [microsoft_exchange_online_message_trace] - Updated invalid PR number
  packages/microsoft_exchange_online_message_trace/changelog.yml
Labels: Integration:microsoft_exchange_online_message_trac, bugfix, Team:Security-Service Integrations

#12214 [M365_Defender] Enhancement - Add support for IdentityInfo Table
  packages/m365_defender/_dev/build/docs/README.md
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-alert.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-app-and-identity.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-email.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_app_and_identity.yml
  packages/m365_defender/data_stream/event/fields/fields.yml
  packages/m365_defender/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-empty-ndjson.log-expected.json
  packages/m365_defender/data_stream/log/_dev/test/pipeline/test-m365-defender-ndjson.log-expected.json
  packages/m365_defender/docs/README.md
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration:m365_defender, Team:Security-Service Integrations

#12342 [panw_cortex_xdr] Allow reprocessing of events with `event.original`
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-reprocess.json
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-reprocess.json-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/incidents/_dev/test/pipeline/test-reprocess.json
  packages/panw_cortex_xdr/data_stream/incidents/_dev/test/pipeline/test-reprocess.json-expected.json
  packages/panw_cortex_xdr/data_stream/incidents/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/manifest.yml
Labels: enhancement, Integration:panw_cortex_xdr, Team:Security-Service Integrations

#12333 [jamf_pro] Inventory date formatting for filter
  packages/jamf_pro/_dev/deploy/docker/files/config.yml
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/agent/stream/cel.yml.hbs
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#11873 [sophos] Allow user-defined timezone override mappings
  packages/sophos/_dev/build/docs/README.md
  packages/sophos/changelog.yml
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dhcp.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-dns.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-http.log-expected.json
  packages/sophos/data_stream/utm/_dev/test/pipeline/test-sophos-utm-packetfilter.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-common-config.yml
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-spam.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-virus-ftp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-virus-smtp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-anti-virus-web.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-atp-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-authentication.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-content-filtering-http.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-content-filtering-web-content-policy.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-firewall.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-idp.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-sandstorm.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-systemhealth.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-18-5-wireless.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-sophos-xg.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-cfilter-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-event-new.log-expected.json
  packages/sophos/data_stream/xg/_dev/test/pipeline/test-xg-firewall-new.log-expected.json
  packages/sophos/data_stream/xg/agent/stream/log.yml.hbs
  packages/sophos/data_stream/xg/agent/stream/tcp.yml.hbs
  packages/sophos/data_stream/xg/agent/stream/udp.yml.hbs
  packages/sophos/data_stream/xg/elasticsearch/ingest_pipeline/default.yml
  packages/sophos/data_stream/xg/manifest.yml
  packages/sophos/docs/README.md
  packages/sophos/manifest.yml
Labels: enhancement, Integration:sophos, Team:Security-Deployment and Devices

#12349 Ensure filestream fingerprint is disabled in system tests
  packages/goflow2/changelog.yml
  packages/goflow2/data_stream/sflow/_dev/test/system/test-filestream-config.yml
  packages/goflow2/data_stream/sflow/agent/stream/filestream.yml.hbs
  packages/goflow2/data_stream/sflow/manifest.yml
  packages/goflow2/manifest.yml
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/_dev/test/system/test-logfile-config.yml
  packages/imperva/data_stream/securesphere/agent/stream/filestream.yml.hbs
  packages/imperva/data_stream/securesphere/manifest.yml
  packages/imperva/manifest.yml
  packages/proxysg/changelog.yml
  packages/proxysg/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/proxysg/data_stream/log/agent/stream/stream.yml.hbs
  packages/proxysg/data_stream/log/manifest.yml
  packages/proxysg/manifest.yml
  packages/syslog_router/changelog.yml
  packages/syslog_router/data_stream/log/_dev/test/system/test-filestream-config.yml
  packages/syslog_router/manifest.yml
Labels: enhancement, Integration:imperva, Team:Security-Deployment and Devices, Integration:proxysg, Integration:goflow2, Integration:syslog_router

#12361 servicenow: Add option to parse fields containing only display values in S3.
  packages/servicenow/_dev/build/docs/README.md
  packages/servicenow/_dev/deploy/docker/files/config.yml
  packages/servicenow/changelog.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event-aws-with-display-values.log
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event-aws-with-display-values.log-config.yml
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event-aws-with-display-values.log-expected.json
  packages/servicenow/data_stream/event/_dev/test/pipeline/test-event.log-expected.json
  packages/servicenow/data_stream/event/agent/stream/aws-s3.yml.hbs
  packages/servicenow/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/servicenow/data_stream/event/manifest.yml
  packages/servicenow/docs/README.md
  packages/servicenow/kibana/dashboard/servicenow-014c13b4-59bc-4bfa-bcb2-fdc1828020bf.json
  packages/servicenow/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:servicenow

#11935 [MS365] [SharePoint] Add SharePoint Usage data stream
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage/_dev/test/pipeline/test-sharepoint-site-usage-detail.json
  packages/o365_metrics/data_stream/sharepoint_site_usage/_dev/test/pipeline/test-sharepoint-site-usage-detail.json-expected.json
  packages/o365_metrics/data_stream/sharepoint_site_usage/_dev/test/pipeline/test-sharepoint-site-usage-storage.json
  packages/o365_metrics/data_stream/sharepoint_site_usage/_dev/test/pipeline/test-sharepoint-site-usage-storage.json-expected.json
  packages/o365_metrics/data_stream/sharepoint_site_usage/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/sharepoint_site_usage/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage/fields/agent.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage/fields/base-fields.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage/fields/fields.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage/manifest.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage/sample_event.json
  packages/o365_metrics/data_stream/yammer_device_usage/_dev/test/pipeline/test-metrics.json-expected.json
  packages/o365_metrics/docs/README.md
  packages/o365_metrics/manifest.yml
Labels: enhancement, New Integration, Team:Obs-InfraObs, Integration:o365_metrics

#12354 Edit Azure Open AI page
  packages/azure_openai/_dev/build/docs/README.md
  packages/azure_openai/changelog.yml
  packages/azure_openai/docs/README.md
  packages/azure_openai/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:azure_openai

#12360 [rubrik] Add `drives` data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/drives/_dev/test/pipeline/test-drives-metrics.log
  packages/rubrik/data_stream/drives/_dev/test/pipeline/test-drives-metrics.log-expected.json
  packages/rubrik/data_stream/drives/agent/stream/httpjson.yml.hbs
  packages/rubrik/data_stream/drives/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/drives/fields/base-fields.yml
  packages/rubrik/data_stream/drives/fields/fields.yml
  packages/rubrik/data_stream/drives/manifest.yml
  packages/rubrik/data_stream/drives/sample_event.json
  packages/rubrik/docs/README.md
  packages/rubrik/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12168 increase clarity of agent policies for EA packages
  packages/beaconing/changelog.yml
  packages/beaconing/docs/README.md
  packages/beaconing/elasticsearch/transform/pivot_transform/transform.yml
  packages/beaconing/manifest.yml
  packages/ded/changelog.yml
  packages/ded/docs/README.md
  packages/ded/manifest.yml
  packages/dga/changelog.yml
  packages/dga/docs/README.md
  packages/dga/manifest.yml
  packages/lmd/changelog.yml
  packages/lmd/docs/README.md
  packages/lmd/manifest.yml
  packages/problemchild/changelog.yml
  packages/problemchild/docs/README.md
  packages/problemchild/manifest.yml
Labels: enhancement, Integration:lmd, Integration:beaconing, Integration:ded, Integration:dga, Integration:problemchild, Team:Security-Applied ML

#12367 [integrations/journald] - update kibana requirement to 9.x
  packages/journald/changelog.yml
  packages/journald/manifest.yml
Labels: enhancement, Integration:journald, Team:Elastic-Agent-Data-Plane

#12289 [rubrik] Add `physical_hosts` data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/physical_hosts/_dev/test/pipeline/test-physical-hosts-metrics.log
  packages/rubrik/data_stream/physical_hosts/_dev/test/pipeline/test-physical-hosts-metrics.log-expected.json
  packages/rubrik/data_stream/physical_hosts/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/physical_hosts/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/physical_hosts/fields/base-fields.yml
  packages/rubrik/data_stream/physical_hosts/fields/fields.yml
  packages/rubrik/data_stream/physical_hosts/manifest.yml
  packages/rubrik/data_stream/physical_hosts/sample_event.json
  packages/rubrik/docs/README.md
  packages/rubrik/manifest.yml
Labels: enhancement, New Integration, Team:Obs-InfraObs, Integration:rubrik

#12362 [citrix_adc] Handle additional parsing case for UDPFLOWSTAT
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:citrix_adc

#12358 [rubrik] Add `mssql_databases` data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/mssql_databases/_dev/test/pipeline/test-mssql-databases-metrics.log
  packages/rubrik/data_stream/mssql_databases/_dev/test/pipeline/test-mssql-databases-metrics.log-expected.json
  packages/rubrik/data_stream/mssql_databases/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/mssql_databases/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/mssql_databases/fields/base-fields.yml
  packages/rubrik/data_stream/mssql_databases/fields/fields.yml
  packages/rubrik/data_stream/mssql_databases/manifest.yml
  packages/rubrik/data_stream/mssql_databases/sample_event.json
  packages/rubrik/docs/README.md
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12371 [cisco_secure_email_gateway] Fix field name in remove processor
  packages/cisco_secure_email_gateway/changelog.yml
  packages/cisco_secure_email_gateway/data_stream/log/elasticsearch/ingest_pipeline/pipeline_consolidated_event.yml
  packages/cisco_secure_email_gateway/manifest.yml
Labels: Integration:cisco_secure_email_gateway, bugfix, Team:Security-Deployment and Devices

#12212 [O11y][MSSQL] Add optional mssql.query field to `performance` data stream for debugging purposes
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/performance/_dev/test/pipeline/test-common-config.yml
  packages/microsoft_sqlserver/data_stream/performance/_dev/test/pipeline/test-performance.json
  packages/microsoft_sqlserver/data_stream/performance/_dev/test/pipeline/test-performance.json-expected.json
  packages/microsoft_sqlserver/data_stream/performance/_dev/test/system/test-perf-config.yml
  packages/microsoft_sqlserver/data_stream/performance/agent/stream/stream.yml.hbs
  packages/microsoft_sqlserver/data_stream/performance/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sqlserver/data_stream/performance/fields/fields.yml
  packages/microsoft_sqlserver/data_stream/performance/manifest.yml
  packages/microsoft_sqlserver/data_stream/performance/sample_event.json
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver, Team:Obs-InfraObs

#12216 [O11y][MSSQL] Add mssql.query field to `transaction_logs` data stream for debug purposes
  packages/microsoft_sqlserver/changelog.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/_dev/test/system/test-transaction-config.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/agent/stream/stream.yml.hbs
  packages/microsoft_sqlserver/data_stream/transaction_log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/fields/fields.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/manifest.yml
  packages/microsoft_sqlserver/data_stream/transaction_log/sample_event.json
  packages/microsoft_sqlserver/docs/README.md
  packages/microsoft_sqlserver/manifest.yml
Labels: enhancement, Integration:microsoft_sqlserver, Team:Obs-InfraObs

#12332 Amazon Bedrock - Add Guardrails dashboard
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/img/amazon_bedrock_guardrails_invocation_details.png
  packages/aws_bedrock/img/amazon_bedrock_guardrails_overview.png
  packages/aws_bedrock/img/aws_bedrock_invocation.png
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-14fd745a-d3c1-4ebe-bd25-00b465336cde.json
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/manifest.yml
  packages/aws_bedrock/validation.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock

#12355 f5_bigip: Add geo enrichment
  packages/f5_bigip/changelog.yml
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-common-config.yml
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-afm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-apm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-asm.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-avr.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-dos-and-bot.log-expected.json
  packages/f5_bigip/data_stream/log/_dev/test/pipeline/test-pipeline-bigip-ltm.log-expected.json
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigip_bot_and_dos.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipafm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipapm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipasm.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipavr.yml
  packages/f5_bigip/data_stream/log/elasticsearch/ingest_pipeline/pipeline_bigipltm.yml
  packages/f5_bigip/manifest.yml
Labels: enhancement, Integration:f5_bigip, Team:Security-Service Integrations

#12356 zscaler_zia: Use `source.nat.ip` as an alternate for geo IPs in `firewall` and `web` logs.
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall-http-endpoint.log-expected.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-firewall.log-expected.json
  packages/zscaler_zia/data_stream/firewall/_dev/test/pipeline/test-unicode.json-expected.json
  packages/zscaler_zia/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/data_stream/web/elasticsearch/ingest_pipeline/default.yml
  packages/zscaler_zia/manifest.yml
Labels: Integration:zscaler_zia, bugfix, Team:Security-Service Integrations

#12380 okta: Fix ECS event.category and event.type mappings
  packages/okta/changelog.yml
  packages/okta/data_stream/system/elasticsearch/ingest_pipeline/default.yml
  packages/okta/manifest.yml
Labels: Integration:okta, bugfix, Team:Security-Service Integrations

#12220 Refactor asset to entity and remove custom fields in favor of ecs
  packages/cloud_asset_inventory/_dev/build/build.yml
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/asset.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/cloud.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/ecs.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/entity.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/host.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/iam.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/network.yml
  packages/cloud_asset_inventory/data_stream/asset_inventory/fields/resource_policies.yml
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-b4949290-465a-44ac-829a-099642147567.json
  packages/cloud_asset_inventory/kibana/index_pattern/cloud_asset_inventory-c9edb0f7-b901-44b0-8a64-1110053bc9cc.json
  packages/cloud_asset_inventory/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_asset_inventory

#12388 [cisco_asa] Fix event.outcome mapping for event IDs 106100 and 106102
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-invalid-data.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#12385 [udp] Migrate to input package
  packages/udp/_dev/test/system/test-syslog-config.yml
  packages/udp/_dev/test/system/test-syslog-preserve-original-config.yml
  packages/udp/_dev/test/system/test-udp-config.yml
  packages/udp/_dev/test/system/test-udp-preserve-original-config.yml
  packages/udp/agent/input/udp.yml.hbs
  packages/udp/changelog.yml
  packages/udp/data_stream/generic/_dev/test/system/test-syslog-config.yml
  packages/udp/data_stream/generic/_dev/test/system/test-syslog-preserve-original-config.yml
  packages/udp/data_stream/generic/_dev/test/system/test-udp-config.yml
  packages/udp/data_stream/generic/_dev/test/system/test-udp-preserve-original-config.yml
  packages/udp/data_stream/generic/manifest.yml
  packages/udp/data_stream/generic/sample_event.json
  packages/udp/fields/base-fields.yml
  packages/udp/fields/beats.yml
  packages/udp/fields/ecs.yml
  packages/udp/manifest.yml
Labels: enhancement, Integration:udp, Team:Security-Deployment and Devices

#12372 [cisco_asa] Handle variations of device name in event 434004
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: enhancement, Integration:cisco_asa, Team:Security-Deployment and Devices

#12378 #12249-3 Driving to 10.15 OS (part 3)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12329 [Cloud Security] add external id field
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/agent/stream/aws.yml.hbs
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture, 8.18 candidate

#12251 Sanity test run for OBS top 5 integration packages for 9.0.0
  packages/gcp/changelog.yml
  packages/gcp/manifest.yml
  packages/iis/changelog.yml
  packages/iis/manifest.yml
  packages/mysql/changelog.yml
  packages/mysql/manifest.yml
  packages/nginx/changelog.yml
  packages/nginx/manifest.yml
  packages/system/changelog.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-5424.log-config.yml
  packages/system/data_stream/auth/_dev/test/pipeline/test-auth-rhel79.log-config.yml
  packages/system/manifest.yml
Labels: enhancement, Integration:system, Integration:mysql, Integration:gcp, Integration:iis, Integration:nginx, Team:Obs-InfraObs, Team:Security-Linux Platform, Team:obs-ds-hosted-services

#12369 [Defender Endpoint] fix null ref for description description
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: Integration:microsoft_defender_endpoint, bugfix, Team:Security-Service Integrations

#12401 M365 Defender: Make token endpoint configurable for Alert data stream
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/alert/agent/stream/httpjson.yml.hbs
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration:m365_defender, Team:Security-Service Integrations

#12395 #12249-3 Updated and added new event types to 10.15 spec (Part 3)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12404 [Kubernetes][Bug-Fix] Fix kubernetes.pod.cpu.usage.nanocores unit of measure
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/pod/fields/fields.yml
  packages/kubernetes/docs/kubelet.md
  packages/kubernetes/manifest.yml
Labels: Integration:kubernetes

#12393 akamai - fingerprint event.original instead of requestId
  packages/akamai/changelog.yml
  packages/akamai/data_stream/siem/elasticsearch/ingest_pipeline/default.yml
  packages/akamai/manifest.yml
Labels: Integration:akamai, bugfix, Team:Security-Service Integrations

#12414 [Security Rules] Update security rules package to v8.15.14
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12415 [Security Rules] Update security rules package to v8.16.5
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12416 [Security Rules] Update security rules package to v8.17.3
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12413 [Security Rules] Update security rules package to v8.14.20
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12421 [GCP VertexAI] Remove zone filter and fix regions
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/metrics/agent/stream/stream.yml.hbs
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:gcp_vertexai

#12419 [proofpoint_on_demand] - Added new advanced config options for blanket & infinite retries and updated default retry values
  packages/proofpoint_on_demand/changelog.yml
  packages/proofpoint_on_demand/data_stream/audit/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/mail/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/data_stream/message/agent/stream/websocket.yml.hbs
  packages/proofpoint_on_demand/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:proofpoint_on_demand

#12070 Add support of memory and LocksAndThreads .NET CLR metrics
  packages/iis/_dev/build/docs/README.md
  packages/iis/changelog.yml
  packages/iis/data_stream/application_pool/fields/fields.yml
  packages/iis/data_stream/application_pool/sample_event.json
  packages/iis/docs/README.md
  packages/iis/manifest.yml
Labels: enhancement, Integration:iis, Team:Obs-InfraObs

#12403 #12249-4 OS 10.15 support part 4
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12427 [LMD] Bugfix in the LMD transform runtime script
  packages/lmd/changelog.yml
  packages/lmd/elasticsearch/transform/pivot_transform/transform.yml
  packages/lmd/manifest.yml
Labels: Integration:lmd, bugfix, Team:Security-Applied ML

#11761 Removed technical preview language
  packages/logstash/_dev/build/docs/README.md
  packages/logstash/changelog.yml
  packages/logstash/data_stream/node_cel/manifest.yml
  packages/logstash/docs/README.md
  packages/logstash/manifest.yml
Labels: documentation, enhancement, Integration:logstash, Team:Stack Monitoring

#12422 Add Amazon Bedrock Guardrails Improvements
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/img/add_aws_bedrock.png
  packages/aws_bedrock/img/amazon_bedrock_guardrails_invocation_details.png
  packages/aws_bedrock/img/amazon_bedrock_guardrails_overview.png
  packages/aws_bedrock/img/aws_bedrock_chat_image.png
  packages/aws_bedrock/img/aws_bedrock_invocation.png
  packages/aws_bedrock/img/aws_bedrock_logs.png
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-14fd745a-d3c1-4ebe-bd25-00b465336cde.json
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:aws_bedrock

#12268 Making Kubernetes OpenTelemetry Assets GA
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/manifest.yml
  packages/kubernetes_otel/validation.yml
Labels: enhancement, Team:Cloudnative-Monitoring, Integration:kubernetes_otel

#12218 [O365_metrics] Add teams_device_usage_user_counts data stream.
  .github/CODEOWNERS
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/_dev/test/pipeline/test-common-config.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/_dev/test/pipeline/test-metrics.json
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/_dev/test/pipeline/test-metrics.json-expected.json
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/fields/agent.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/fields/base-fields.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/fields/fields.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/manifest.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/sample_event.json
  packages/o365_metrics/docs/README.md
Labels: enhancement, Team:Obs-InfraObs, Integration:o365_metrics

#12429 [cisco_asa] Set event.outcome to failure for all denied events
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-106023-iface-with-prefix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-additional-messages.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-missing-groups.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-filtered.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-non-canonical.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-not-ip.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sample.log-expected.json
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-sgt-tag-name.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#12431 #12249-5 Update to OS 10.15 (part 5)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12425 [integrations][trend_micro_vision_one] - Fixed inconsistent time interval issue leading to data loss in the detections data stream
  packages/trend_micro_vision_one/changelog.yml
  packages/trend_micro_vision_one/data_stream/detection/agent/stream/httpjson.yml.hbs
  packages/trend_micro_vision_one/manifest.yml
Labels: Integration:trend_micro_vision_one, bugfix, Team:Security-Service Integrations

#12453 tenable_io: parse serial_number for Asset events
  packages/tenable_io/changelog.yml
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-asset.log
  packages/tenable_io/data_stream/asset/_dev/test/pipeline/test-asset.log-expected.json
  packages/tenable_io/data_stream/asset/elasticsearch/ingest_pipeline/default.yml
  packages/tenable_io/data_stream/asset/fields/fields.yml
  packages/tenable_io/docs/README.md
  packages/tenable_io/manifest.yml
Labels: enhancement, Integration:tenable_io, Team:Security-Service Integrations

#12449 M365defender ASN enrichment
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-device.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_device.yml
  packages/m365_defender/manifest.yml
Labels: enhancement, Integration:m365_defender, Team:Security-Service Integrations

#12454 prisma_cloud: Fix handle of templates array in ingest pipeline
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/host/_dev/test/pipeline/test-host.log
  packages/prisma_cloud/data_stream/host/_dev/test/pipeline/test-host.log-expected.json
  packages/prisma_cloud/data_stream/host/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_cloud/manifest.yml
Labels: bugfix, Integration:prisma_cloud, Team:Security-Service Integrations

#12445 [chore][integration/linux] - correct PR number in changelog
  packages/linux/changelog.yml
Labels: Integration:linux, Team:Elastic-Agent-Data-Plane, bugfix

#12444 Adding escape_string helper to ensure connector_name field is escaped properly
  packages/elastic_connectors/agent/input/amazon_s3.yml.hbs
  packages/elastic_connectors/agent/input/azure_blob_storage.yml.hbs
  packages/elastic_connectors/agent/input/box.yml.hbs
  packages/elastic_connectors/agent/input/confluence.yml.hbs
  packages/elastic_connectors/agent/input/dropbox.yml.hbs
  packages/elastic_connectors/agent/input/github.yml.hbs
  packages/elastic_connectors/agent/input/gmail.yml.hbs
  packages/elastic_connectors/agent/input/google_cloud_storage.yml.hbs
  packages/elastic_connectors/agent/input/google_drive.yml.hbs
  packages/elastic_connectors/agent/input/jira.yml.hbs
  packages/elastic_connectors/agent/input/microsoft_sql.yml.hbs
  packages/elastic_connectors/agent/input/mongodb.yml.hbs
  packages/elastic_connectors/agent/input/mysql.yml.hbs
  packages/elastic_connectors/agent/input/network_drive.yml.hbs
  packages/elastic_connectors/agent/input/notion.yml.hbs
  packages/elastic_connectors/agent/input/onedrive.yml.hbs
  packages/elastic_connectors/agent/input/oracle.yml.hbs
  packages/elastic_connectors/agent/input/outlook.yml.hbs
  packages/elastic_connectors/agent/input/postgresql.yml.hbs
  packages/elastic_connectors/agent/input/salesforce.yml.hbs
  packages/elastic_connectors/agent/input/servicenow.yml.hbs
  packages/elastic_connectors/agent/input/sharepoint_online.yml.hbs
  packages/elastic_connectors/agent/input/sharepoint_server.yml.hbs
  packages/elastic_connectors/agent/input/slack.yml.hbs
  packages/elastic_connectors/agent/input/teams.yml.hbs
  packages/elastic_connectors/agent/input/zoom.yml.hbs
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/manifest.yml
Labels: bugfix, Integration:elastic_connectors, Team:Search-Extract and Transform

#12447 #12249-6 Driving to OS 10.15 part 6
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12460 [fleet_server] Support 9.0 stack
  packages/fleet_server/changelog.yml
  packages/fleet_server/manifest.yml
Labels: Team:Fleet, Integration:fleet_server, bugfix

#12459 #12448: Fixing IPv6 parsing for IPV6ACCESSLOGP messages
  packages/cisco_ios/_dev/deploy/docker/sample_logs/cisco-ios.log
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-asr920.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-badauth.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-cisco-ios.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-date-format.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog-header.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-syslog.log-expected.json
  packages/cisco_ios/data_stream/log/_dev/test/system/test-logfile-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-tcp-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-tls-config.yml
  packages/cisco_ios/data_stream/log/_dev/test/system/test-udp-config.yml
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/manifest.yml
Labels: Integration:cisco_ios, bugfix, Team:Security-Deployment and Devices

#12469 NPM Dashboards added
  packages/gigamon/_dev/build/docs/README.md
  packages/gigamon/changelog.yml
  packages/gigamon/docs/README.md
  packages/gigamon/img/NPM_Dashboard.png
  packages/gigamon/kibana/dashboard/gigamon-032aab7b-87b2-444c-8c86-956d092598fb.json
  packages/gigamon/kibana/dashboard/gigamon-20c6c22a-dae0-4a0a-ad8c-043f878fc109.json
  packages/gigamon/kibana/dashboard/gigamon-3523b534-7525-44a7-808f-6a9f3235a67d.json
  packages/gigamon/kibana/dashboard/gigamon-3e5652b3-1b0e-428f-9dc3-78d179ce2463.json
  packages/gigamon/kibana/dashboard/gigamon-46931a21-a33e-43af-aadf-da8d6446b9cc.json
  packages/gigamon/kibana/dashboard/gigamon-4ae2cd9a-3eef-42c6-a02c-731ce74d94ac.json
  packages/gigamon/kibana/dashboard/gigamon-62291e9e-8b75-4f23-9121-79959da99b3b.json
  packages/gigamon/kibana/dashboard/gigamon-64ca15b3-8327-4940-8b35-0e75ab3a73c6.json
  packages/gigamon/kibana/dashboard/gigamon-855a64dc-1a72-403f-932b-a5b848378f7e.json
  packages/gigamon/kibana/dashboard/gigamon-8d02ca6f-9333-4cab-8b8a-a141e9fccdcf.json
  packages/gigamon/kibana/dashboard/gigamon-8f772203-64e0-4d1b-bb0e-14fa57b4b754.json
  packages/gigamon/kibana/dashboard/gigamon-d6cecabb-f026-4823-914d-b4d61fd61787.json
  packages/gigamon/kibana/dashboard/gigamon-d866be49-47b2-4306-a2be-d5cb6b6ab9c8.json
  packages/gigamon/kibana/dashboard/gigamon-e192a946-8287-450a-a8f0-e23de9f95dae.json
  packages/gigamon/kibana/dashboard/gigamon-e733c64e-6ea9-4dd6-a8ca-3914274598f3.json
  packages/gigamon/manifest.yml
Labels: enhancement, dashboard, Team:Security-Service Integrations, Integration:gigamon

#12455 universal_profiling_agent: update image of screenshot
  packages/universal_profiling_agent/changelog.yml
  packages/universal_profiling_agent/img/flamegraph-overview.png
  packages/universal_profiling_agent/manifest.yml
Labels: enhancement, Integration:universal_profiling_agent

#12463 #12249-7 Update events to OS 10.15 (part 7)
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12363 [Cloud Security] add required_vars validation rules and default CSPM and Asset Inventory to agentless deployment
  packages/cloud_asset_inventory/changelog.yml
  packages/cloud_asset_inventory/manifest.yml
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: enhancement, Team:Cloud Security, Integration:cloud_security_posture, Integration:cloud_asset_inventory

#12446 [microsoft_exchange_online_message_trace] Remove event.start/end
  packages/microsoft_exchange_online_message_trace/changelog.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_exchange_online_message_trace/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_online_message_trace/data_stream/log/sample_event.json
  packages/microsoft_exchange_online_message_trace/docs/README.md
  packages/microsoft_exchange_online_message_trace/manifest.yml
Labels: Integration:microsoft_exchange_online_message_trac, bugfix, Team:Security-Service Integrations

#12428 qualys_vmdr: Add "show_igs" and fingerprint processor UI options
  packages/qualys_vmdr/_dev/deploy/docker/files/config.yml
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-common-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/system/test-default-config.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/agent/stream/input.yml.hbs
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/manifest.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/sample_event.json
  packages/qualys_vmdr/docs/README.md
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#12438 Missing vulnerability management category
  packages/tenable_io/changelog.yml
  packages/tenable_io/manifest.yml
  packages/tenable_sc/changelog.yml
  packages/tenable_sc/manifest.yml
Labels: enhancement, Integration:tenable_sc, Integration:tenable_io, Team:Security-Service Integrations

#12257 [O11y][MongoDB Atlas] Fix error handling mechanism in alert, mongod_audit, mongod_database, organization and project data streams as well update data type from object to flattened for mongod_audit.param and mongod_database.attributes fields to prevent data conflict/loss
  packages/mongodb_atlas/changelog.yml
  packages/mongodb_atlas/data_stream/alert/_dev/test/pipeline/test-alert-logs.json-expected.json
  packages/mongodb_atlas/data_stream/alert/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/alert/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb_atlas/data_stream/mongod_audit/_dev/test/pipeline/test-mongod-audit.json
  packages/mongodb_atlas/data_stream/mongod_audit/_dev/test/pipeline/test-mongod-audit.json-expected.json
  packages/mongodb_atlas/data_stream/mongod_audit/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/mongod_audit/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb_atlas/data_stream/mongod_audit/fields/fields.yml
  packages/mongodb_atlas/data_stream/mongod_database/_dev/test/pipeline/test-mongod-database.json-expected.json
  packages/mongodb_atlas/data_stream/mongod_database/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/mongod_database/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb_atlas/data_stream/mongod_database/fields/fields.yml
  packages/mongodb_atlas/data_stream/organization/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/organization/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb_atlas/data_stream/organization/fields/fields.yml
  packages/mongodb_atlas/data_stream/project/agent/stream/input.yml.hbs
  packages/mongodb_atlas/data_stream/project/elasticsearch/ingest_pipeline/default.yml
  packages/mongodb_atlas/data_stream/project/fields/fields.yml
  packages/mongodb_atlas/docs/README.md
  packages/mongodb_atlas/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:mongodb_atlas

#12491 google_workspace.chrome: Increase CEL resource.tracer.maxsize limit
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/chrome/agent/stream/cel.yml.hbs
  packages/google_workspace/manifest.yml
Labels: enhancement, Integration:google_workspace, Team:Security-Service Integrations

#12493 [Amazon Bedrock] Overview and Guardrails dashboard improvements
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/img/amazon_bedrock_guardrails_invocation_details.png
  packages/aws_bedrock/img/amazon_bedrock_guardrails_overview.png
  packages/aws_bedrock/img/aws_bedrock_chat_image.png
  packages/aws_bedrock/img/aws_bedrock_invocation.png
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-14fd745a-d3c1-4ebe-bd25-00b465336cde.json
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock

#12489 o365: ensure URL is included in returned state
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/agent/stream/cel.yml.hbs
  packages/o365/manifest.yml
Labels: Integration:o365, bugfix, Team:Security-Service Integrations

#12497 [imperva_cloud_waf] Tolerate no separator in log files
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#12492 [cisco_duo] Avoid obsolete cursor data in activity, telephony_v2
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/activity/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/telephony_v2/agent/stream/cel.yml.hbs
  packages/cisco_duo/manifest.yml
Labels: Integration:cisco_duo, bugfix, Team:Security-Service Integrations

#12451 Enhancements to Vertex AI dashboard
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/data_stream/metrics/manifest.yml
  packages/gcp_vertexai/img/gcp-vertexai-overview-dashboard.png
  packages/gcp_vertexai/kibana/dashboard/gcp_vertexai-b711f0e9-6c69-42f1-9edc-d276f6f162a3.json
  packages/gcp_vertexai/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:gcp_vertexai

#12504 [apache] Support stack 9.0
  packages/apache/changelog.yml
  packages/apache/manifest.yml
Labels: enhancement, Integration:apache, Team:Obs-InfraObs

#12432 [Azure Billing] Fix billing subscription scope in doc
  packages/azure_billing/_dev/build/docs/README.md
  packages/azure_billing/changelog.yml
  packages/azure_billing/docs/README.md
  packages/azure_billing/manifest.yml
Labels: Team:Obs-InfraObs, bugfix, Integration:azure_billing

#12502 #12249- Part 8 of OS 10.15 updating
  packages/hpe_aruba_cx/_dev/build/docs/README.md
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-cx.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log
  packages/hpe_aruba_cx/data_stream/log/_dev/test/pipeline/test-aruba-fabricated.log-expected.json
  packages/hpe_aruba_cx/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hpe_aruba_cx/data_stream/log/fields/ecs.yml
  packages/hpe_aruba_cx/data_stream/log/fields/fields.yml
  packages/hpe_aruba_cx/docs/README.md
Labels: New Integration, Team:Security-Deployment and Devices, Integration:hpe_aruba_cx

#12439 [Checkpoint] Include sequencenum for checkpoint fingerprint
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-checkpoint.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: Integration:checkpoint, bugfix, Team:Security-Deployment and Devices

#12510 gitlab,ping_federate: make system tests pass on 9.0.0
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-audit.log
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-pages.log
  packages/gitlab/_dev/deploy/docker/sample_logs/test-gitlab-sidekiq.log
  packages/gitlab/changelog.yml
  packages/gitlab/data_stream/api/fields/beats.yml
  packages/gitlab/data_stream/application/fields/beats.yml
  packages/gitlab/data_stream/audit/_dev/test/system/test-default-config.yml
  packages/gitlab/data_stream/audit/fields/beats.yml
  packages/gitlab/data_stream/auth/fields/beats.yml
  packages/gitlab/data_stream/pages/_dev/test/system/test-default-config.yml
  packages/gitlab/data_stream/pages/fields/beats.yml
  packages/gitlab/data_stream/production/fields/beats.yml
  packages/gitlab/data_stream/sidekiq/_dev/test/system/test-filestream-config.yml
  packages/gitlab/data_stream/sidekiq/fields/beats.yml
  packages/gitlab/docs/README.md
  packages/gitlab/manifest.yml
  packages/ping_federate/_dev/deploy/docker/sample_logs/test-admin.log
  packages/ping_federate/_dev/deploy/docker/sample_logs/test-audit.log
  packages/ping_federate/data_stream/admin/_dev/test/system/test-logfile-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-logfile-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-tcp-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-tls-config.yml
  packages/ping_federate/data_stream/audit/_dev/test/system/test-udp-config.yml
Labels: enhancement, bugfix, Team:Security-Service Integrations, Integration:gitlab, Integration:ping_federate

#12518 [mimecast] Fix cursor time formatting and selection
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/archive_search_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/audit_events/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/dlp_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/message_release_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/ttp_ap_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/ttp_ip_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/ttp_url_logs/agent/stream/cel.yml.hbs
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#12433 [Vertex AI] Review the integration page
  packages/gcp_vertexai/_dev/build/docs/README.md
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/docs/README.md
  packages/gcp_vertexai/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:gcp_vertexai

#12159 [MS365] [Service Health] Add Service Health datastream
  .github/CODEOWNERS
  packages/o365_metrics/_dev/build/docs/README.md
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/service_health/_dev/test/pipeline/test-common-config.yml
  packages/o365_metrics/data_stream/service_health/_dev/test/pipeline/test-servicehealth.json
  packages/o365_metrics/data_stream/service_health/_dev/test/pipeline/test-servicehealth.json-expected.json
  packages/o365_metrics/data_stream/service_health/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/service_health/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/service_health/fields/agent.yml
  packages/o365_metrics/data_stream/service_health/fields/base-fields.yml
  packages/o365_metrics/data_stream/service_health/fields/fields.yml
  packages/o365_metrics/data_stream/service_health/manifest.yml
  packages/o365_metrics/data_stream/service_health/sample_event.json
  packages/o365_metrics/docs/README.md
Labels: New Integration, Team:Obs-InfraObs, Integration:o365_metrics

#12525 Make Vertex AI Integration GA
  packages/gcp_vertexai/changelog.yml
  packages/gcp_vertexai/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:gcp_vertexai

#12384 google_workspace: Fix flaky test from as.asn and as.organization_name fields
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/chrome/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/manifest.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations

#12424 [AWS Bedrock] Editing the integration page
  packages/aws_bedrock/_dev/build/docs/README.md
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/docs/README.md
  packages/aws_bedrock/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock

#12515 [ti_opencti] Allow proxy configuration
  packages/ti_opencti/changelog.yml
  packages/ti_opencti/data_stream/indicator/agent/stream/cel.yml.hbs
  packages/ti_opencti/manifest.yml
Labels: enhancement, Integration:ti_opencti, Team:Security-Service Integrations

#12396 [rubrik] Add `tasks` data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/tasks/_dev/test/pipeline/test-tasks-metrics.log
  packages/rubrik/data_stream/tasks/_dev/test/pipeline/test-tasks-metrics.log-expected.json
  packages/rubrik/data_stream/tasks/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/tasks/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/tasks/fields/base-fields.yml
  packages/rubrik/data_stream/tasks/fields/fields.yml
  packages/rubrik/data_stream/tasks/manifest.yml
  packages/rubrik/data_stream/tasks/sample_event.json
  packages/rubrik/docs/README.md
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12407 Add support of extra mongodb collstats metrics
  packages/mongodb/changelog.yml
  packages/mongodb/data_stream/collstats/fields/fields.yml
  packages/mongodb/docs/README.md
  packages/mongodb/manifest.yml
Labels: enhancement, Integration:mongodb, Team:Obs-InfraObs

#11996 [Prometheus] Added custom configuration option to all data streams.
  packages/prometheus/changelog.yml
  packages/prometheus/data_stream/collector/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/collector/manifest.yml
  packages/prometheus/data_stream/query/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/query/manifest.yml
  packages/prometheus/data_stream/remote_write/agent/stream/stream.yml.hbs
  packages/prometheus/data_stream/remote_write/manifest.yml
  packages/prometheus/manifest.yml
Labels: enhancement, Integration:prometheus, Team:Cloudnative-Monitoring, Team:Obs-InfraObs

#12514 [Amazon Bedrock] Make Amazon Bedrock package GA
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:aws_bedrock

#12517 [PANW] Remove leftover message field after parse
  packages/panw/changelog.yml
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-audit-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-authentication-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-config-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-correlated-events-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-decryption-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-globalprotect-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-gtp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-hipmatch-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-other-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-inc-traffic.json-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-ip-tag-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-sctp-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-system-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-threat-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-time-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-traffic-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-tunnel-inspection-sample.log-expected.json
  packages/panw/data_stream/panos/_dev/test/pipeline/test-panw-panos-userid-sample.log-expected.json
  packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml
  packages/panw/manifest.yml
Labels: breaking change, Integration:panw, Team:Security-Deployment and Devices

#12512 imperva_cloud_waf: re-add removed system test definition
  packages/imperva_cloud_waf/data_stream/event/_dev/test/system/test-default-config.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#12532 [jamf_pro] Fix mapping of `jamf_pro.inventory.general.enrollment_method`
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json-expected.json
  packages/jamf_pro/data_stream/inventory/fields/fields-general.yml
  packages/jamf_pro/docs/README.md
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#12542 mimecast: fix rendering of CEL programs in config files
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/cloud_integrated_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/siem_logs/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_customer/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/threat_intel_malware_grid/agent/stream/cel.yml.hbs
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#12545 [o365] Static fields for use by security rules
  packages/o365/changelog.yml
  packages/o365/data_stream/audit/fields/fields.yml
  packages/o365/docs/README.md
  packages/o365/manifest.yml
Labels: enhancement, Integration:o365, Team:Security-Service Integrations

#12443 Apache Tomcat made the HTTP in the log optional
  packages/apache_tomcat/changelog.yml
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log
  packages/apache_tomcat/data_stream/access/_dev/test/pipeline/test-access.log-expected.json
  packages/apache_tomcat/data_stream/access/elasticsearch/ingest_pipeline/default.yml
  packages/apache_tomcat/manifest.yml
Labels: Integration:apache_tomcat, Team:Obs-InfraObs, bugfix

#12556 [citrix_adc] Handle additional parsing cases for HTTPREQUEST and TCPCONN_TIMEDOUT
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-waf-native.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/manifest.yml
Labels: bugfix, Team:Security-Deployment and Devices, Integration:citrix_adc

#12167 [checkpoint] Improve firewall session log handling
  packages/checkpoint/changelog.yml
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log
  packages/checkpoint/data_stream/firewall/_dev/test/pipeline/test-r81x.log-expected.json
  packages/checkpoint/data_stream/firewall/elasticsearch/ingest_pipeline/default.yml
  packages/checkpoint/data_stream/firewall/fields/fields.yml
  packages/checkpoint/docs/README.md
  packages/checkpoint/manifest.yml
Labels: enhancement, Integration:checkpoint, Team:Security-Deployment and Devices
