Repository elastic/integrations, pull requests merged in 2025-02, with the labels that each got.

#12383 infoblox_nios: Add network.protocol for dns and dhcp pipelines
  packages/infoblox_nios/changelog.yml
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-audit.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dhcp.log-expected.json
  packages/infoblox_nios/data_stream/log/_dev/test/pipeline/test-dns.log-expected.json
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dhcp.yml
  packages/infoblox_nios/data_stream/log/elasticsearch/ingest_pipeline/pipeline_dns.yml
  packages/infoblox_nios/manifest.yml
Labels: enhancement, Integration:infoblox_nios, Team:Security-Service Integrations

#12546 m365_defender: fix message ID handling
  packages/m365_defender/changelog.yml
  packages/m365_defender/data_stream/event/_dev/test/pipeline/test-email.log-expected.json
  packages/m365_defender/data_stream/event/elasticsearch/ingest_pipeline/pipeline_email.yml
  packages/m365_defender/manifest.yml
Labels: Integration:m365_defender, bugfix, Team:Security-Service Integrations

#12554 [rubrik] Add Global Cluster Performance data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/filesets/sample_event.json
  packages/rubrik/data_stream/global_cluster_performance/_dev/test/pipeline/test-cluster-performance-metrics.log
  packages/rubrik/data_stream/global_cluster_performance/_dev/test/pipeline/test-cluster-performance-metrics.log-expected.json
  packages/rubrik/data_stream/global_cluster_performance/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/global_cluster_performance/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/global_cluster_performance/fields/base-fields.yml
  packages/rubrik/data_stream/global_cluster_performance/fields/fields.yml
  packages/rubrik/data_stream/global_cluster_performance/manifest.yml
  packages/rubrik/data_stream/global_cluster_performance/sample_event.json
  packages/rubrik/docs/README.md
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12549 tychon, ti_custom: fix system tests for 9.0
  packages/ti_custom/changelog.yml
  packages/ti_custom/data_stream/indicator/fields/beats.yml
  packages/ti_custom/docs/README.md
  packages/ti_custom/elasticsearch/transform/latest_ioc/fields/beats.yml
  packages/ti_custom/manifest.yml
  packages/tychon/data_stream/cmrs/_dev/deploy/docker/sample_logs/test-base.ndjson
  packages/tychon/data_stream/cmrs/_dev/test/system/test-default-config.yml
Labels: enhancement, bugfix, Integration:tychon, Team:Security-Service Integrations, Integration:ti_custom

#12543 apm: change tail_sampling_storage_limit config default to 0GB
  packages/apm/changelog.yml
  packages/apm/manifest.yml
Labels: breaking change, Integration:apm

#12568 [elastic_agent] Add missing apm-server tail sampling monitoring metrics mappings
  packages/elastic_agent/changelog.yml
  packages/elastic_agent/data_stream/apm_server_metrics/fields/beat-fields.yml
  packages/elastic_agent/manifest.yml
Labels: Integration:elastic_agent, bugfix

#12538 Update Kubernetes container logs documentation
  packages/kubernetes/_dev/build/docs/README.md
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/container_logs/agent/stream/stream.yml.hbs
  packages/kubernetes/data_stream/container_logs/manifest.yml
  packages/kubernetes/docs/README.md
  packages/kubernetes/manifest.yml
Labels: enhancement, Integration:kubernetes, Team:Cloudnative-Monitoring

#12579 [cisco_asa] Fix issue with linking time zone mapping to agent config
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/agent/stream/stream.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/tcp.yml.hbs
  packages/cisco_asa/data_stream/log/agent/stream/udp.yml.hbs
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#12599 [snort] Fix time format using incorrect year specifier
  packages/snort/changelog.yml
  packages/snort/data_stream/log/_dev/test/pipeline/test-log-pfsense.log-expected.json
  packages/snort/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/snort/manifest.yml
Labels: Integration:snort, bugfix, Team:Security-Deployment and Devices

#12490 [MS365] [Subscriptions] Add Subscriptions data stream
  .github/CODEOWNERS
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-common-config.yml
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-subscriptions.json
  packages/o365_metrics/data_stream/subscriptions/_dev/test/pipeline/test-subscriptions.json-expected.json
  packages/o365_metrics/data_stream/subscriptions/agent/stream/cel.yml.hbs
  packages/o365_metrics/data_stream/subscriptions/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/subscriptions/fields/agent.yml
  packages/o365_metrics/data_stream/subscriptions/fields/base-fields.yml
  packages/o365_metrics/data_stream/subscriptions/fields/fields.yml
  packages/o365_metrics/data_stream/subscriptions/manifest.yml
  packages/o365_metrics/data_stream/subscriptions/sample_event.json
Labels: New Integration, Integration:1password, Team:Obs-InfraObs, Team:Security-Service Integrations, Integration:abnormal_security, Integration:o365_metrics

#12612 [O11y][System] Fix dashboard query in `[Metrics System] Host overview`
  packages/system/changelog.yml
  packages/system/kibana/dashboard/system-79ffd6e0-faa0-11e6-947f-177f697178b8.json
  packages/system/manifest.yml
Labels: Integration:system, Team:Obs-InfraObs, bugfix

#12494 packages/openai: New OpenAI integration
  .github/CODEOWNERS
  packages/openai/_dev/build/build.yml
  packages/openai/_dev/build/docs/README.md
  packages/openai/changelog.yml
  packages/openai/data_stream/audio_speeches/agent/stream/cel.yml.hbs
  packages/openai/data_stream/audio_speeches/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/audio_speeches/fields/base-fields.yml
  packages/openai/data_stream/audio_speeches/fields/fields.yml
  packages/openai/data_stream/audio_speeches/manifest.yml
  packages/openai/data_stream/audio_speeches/sample_event.json
  packages/openai/data_stream/audio_transcriptions/agent/stream/cel.yml.hbs
  packages/openai/data_stream/audio_transcriptions/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/audio_transcriptions/fields/base-fields.yml
  packages/openai/data_stream/audio_transcriptions/fields/fields.yml
  packages/openai/data_stream/audio_transcriptions/manifest.yml
  packages/openai/data_stream/audio_transcriptions/sample_event.json
  packages/openai/data_stream/code_interpreter_sessions/agent/stream/cel.yml.hbs
  packages/openai/data_stream/code_interpreter_sessions/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/code_interpreter_sessions/fields/base-fields.yml
  packages/openai/data_stream/code_interpreter_sessions/fields/fields.yml
  packages/openai/data_stream/code_interpreter_sessions/manifest.yml
  packages/openai/data_stream/code_interpreter_sessions/sample_event.json
  packages/openai/data_stream/completions/agent/stream/cel.yml.hbs
  packages/openai/data_stream/completions/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/completions/fields/base-fields.yml
  packages/openai/data_stream/completions/fields/fields.yml
  packages/openai/data_stream/completions/manifest.yml
  packages/openai/data_stream/completions/sample_event.json
  packages/openai/data_stream/embeddings/agent/stream/cel.yml.hbs
  packages/openai/data_stream/embeddings/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/embeddings/fields/base-fields.yml
  packages/openai/data_stream/embeddings/fields/fields.yml
  packages/openai/data_stream/embeddings/manifest.yml
  packages/openai/data_stream/embeddings/sample_event.json
  packages/openai/data_stream/images/agent/stream/cel.yml.hbs
  packages/openai/data_stream/images/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/images/fields/base-fields.yml
  packages/openai/data_stream/images/fields/fields.yml
  packages/openai/data_stream/images/manifest.yml
  packages/openai/data_stream/images/sample_event.json
  packages/openai/data_stream/moderations/agent/stream/cel.yml.hbs
  packages/openai/data_stream/moderations/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/moderations/fields/base-fields.yml
  packages/openai/data_stream/moderations/fields/fields.yml
  packages/openai/data_stream/moderations/manifest.yml
  packages/openai/data_stream/moderations/sample_event.json
  packages/openai/data_stream/vector_stores/agent/stream/cel.yml.hbs
  packages/openai/data_stream/vector_stores/elasticsearch/ingest_pipeline/default.yml
  packages/openai/data_stream/vector_stores/fields/base-fields.yml
  packages/openai/data_stream/vector_stores/fields/fields.yml
  packages/openai/data_stream/vector_stores/manifest.yml
  packages/openai/data_stream/vector_stores/sample_event.json
  packages/openai/docs/README.md
  packages/openai/img/openai-logo.svg
  packages/openai/img/usage-dashboard-screenshot.png
  packages/openai/kibana/dashboard/openai-651bb059-f606-44fc-b704-2078d0af26da.json
  packages/openai/manifest.yml
Labels: New Integration, Team:Obs-InfraObs, Integration:openai

#12381 Add 9.0.0 constraint to sec-windows-platform packages
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/manifest.yml
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/manifest.yml
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/manifest.yml
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/_dev/test/system/test-default-config.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/httpproxy/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/manifest.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/_dev/test/system/test-default-config.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/imap4_pop3/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/manifest.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/system/test-default-config.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/messagetracking/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/manifest.yml
  packages/microsoft_exchange_server/data_stream/smtp/_dev/test/system/test-default-config.yml
  packages/microsoft_exchange_server/data_stream/smtp/agent/stream/filestream.yml.hbs
  packages/microsoft_exchange_server/data_stream/smtp/fields/fields.yml
  packages/microsoft_exchange_server/data_stream/smtp/manifest.yml
  packages/microsoft_exchange_server/manifest.yml
  packages/mysql_enterprise/changelog.yml
  packages/mysql_enterprise/manifest.yml
  packages/unifiedlogs/changelog.yml
  packages/unifiedlogs/manifest.yml
  packages/windows_etw/changelog.yml
  packages/windows_etw/manifest.yml
  packages/winlog/changelog.yml
  packages/winlog/manifest.yml
Labels: enhancement, Integration:microsoft_dhcp, Integration:hid_bravura_monitor, Integration:winlog, Team:Security-Windows Platform, Integration:windows_etw, Integration:microsoft_dnsserver, Integration:microsoft_exchange_server, Integration:mysql_enterprise, Integration:unifiedlogs

#12551 [windows] Add support for fully rendered security events
  packages/system/changelog.yml
  packages/system/data_stream/security/_dev/test/pipeline/test-4674.json-expected.json
  packages/system/data_stream/security/_dev/test/pipeline/test-security-5140-5145.json-expected.json
  packages/system/data_stream/security/elasticsearch/ingest_pipeline/standard.yml
  packages/system/manifest.yml
  packages/windows/changelog.yml
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4662.json-expected.json
  packages/windows/data_stream/forwarded/_dev/test/pipeline/test-security-4674.json-expected.json
  packages/windows/data_stream/forwarded/elasticsearch/ingest_pipeline/security.yml
  packages/windows/manifest.yml
Labels: enhancement, Integration:windows, Integration:system, New Integration, Integration:1password, Team:Security-Service Integrations, Team:Security-Windows Platform, Integration:abnormal_security

#12567 Docker enablement for 9.0
  packages/docker/changelog.yml
  packages/docker/manifest.yml
Labels: enhancement, Integration:docker, Team:Cloudnative-Monitoring, Team:obs-ds-hosted-services

#12535 Enabling 9.0.0 kibana support for kubernetes, kubernetes_otel, nginx_ingress, istio and containerd integrations
  packages/containerd/changelog.yml
  packages/containerd/data_stream/blkio/fields/fields.yml
  packages/containerd/data_stream/cpu/fields/fields.yml
  packages/containerd/data_stream/memory/fields/fields.yml
  packages/containerd/manifest.yml
  packages/istio/changelog.yml
  packages/istio/data_stream/access_logs/elasticsearch/ingest_pipeline/default.yml
  packages/istio/manifest.yml
  packages/kubernetes/changelog.yml
  packages/kubernetes/manifest.yml
  packages/kubernetes_otel/changelog.yml
  packages/kubernetes_otel/manifest.yml
  packages/nginx_ingress_controller/changelog.yml
  packages/nginx_ingress_controller/manifest.yml
Labels: Integration:nginx_ingress_controller, Integration:kubernetes, Integration:istio, Team:Cloudnative-Monitoring, Integration:containerd, Team:obs-ds-hosted-services, Integration:kubernetes_otel

#12625 Changed ownership of logstash package to logstash team
  .github/CODEOWNERS
Labels: Integration:logstash, Feature:Stack Monitoring, Team:Stack Monitoring

#12618 [Imperva] Add additional 21 custom strings for SecureSphere
  packages/imperva/changelog.yml
  packages/imperva/data_stream/securesphere/_dev/test/pipeline/test-securesphere.json
  packages/imperva/data_stream/securesphere/_dev/test/pipeline/test-securesphere.json-expected.json
  packages/imperva/data_stream/securesphere/elasticsearch/ingest_pipeline/default.yml
  packages/imperva/data_stream/securesphere/fields/fields.yml
  packages/imperva/docs/README.md
  packages/imperva/manifest.yml
Labels: Integration:imperva, Team:Security-Deployment and Devices

#12508 crowdstrike: fix handling of network direction
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-data.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdrv2-notmanaged.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/inbound_network.yml
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/outbound_network.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, New Integration, bugfix, Team:Security-Service Integrations

#12651 New connectors icon
  packages/elastic_connectors/changelog.yml
  packages/elastic_connectors/img/connectors-logo.svg
  packages/elastic_connectors/manifest.yml
Labels: bugfix, Integration:elastic_connectors, Team:Search-Extract and Transform

#12664 Fixed Queries in Gigamon Dashboards
  packages/gigamon/changelog.yml
  packages/gigamon/kibana/dashboard/gigamon-032aab7b-87b2-444c-8c86-956d092598fb.json
  packages/gigamon/kibana/dashboard/gigamon-855a64dc-1a72-403f-932b-a5b848378f7e.json
  packages/gigamon/kibana/dashboard/gigamon-8d02ca6f-9333-4cab-8b8a-a141e9fccdcf.json
  packages/gigamon/kibana/dashboard/gigamon-e733c64e-6ea9-4dd6-a8ca-3914274598f3.json
  packages/gigamon/manifest.yml
Labels: dashboard, Team:Security-Service Integrations, Integration:gigamon

#12646 Initial Domaintools Integration
  .github/CODEOWNERS
  packages/ti_domaintools/_dev/build/build.yml
  packages/ti_domaintools/_dev/build/docs/README.md
  packages/ti_domaintools/_dev/deploy/docker/docker-compose.yml
  packages/ti_domaintools/_dev/deploy/docker/files/config.yml
  packages/ti_domaintools/changelog.yml
  packages/ti_domaintools/data_stream/nod_feed/_dev/test/pipeline/test-event.json
  packages/ti_domaintools/data_stream/nod_feed/_dev/test/pipeline/test-event.json-expected.json
  packages/ti_domaintools/data_stream/nod_feed/_dev/test/system/test-default-config.yml
  packages/ti_domaintools/data_stream/nod_feed/agent/stream/cel.yml.hbs
  packages/ti_domaintools/data_stream/nod_feed/elasticsearch/ilm/default_policy.json
  packages/ti_domaintools/data_stream/nod_feed/elasticsearch/ingest_pipeline/default.yml
  packages/ti_domaintools/data_stream/nod_feed/fields/base-fields.yml
  packages/ti_domaintools/data_stream/nod_feed/fields/fields.yml
  packages/ti_domaintools/data_stream/nod_feed/fields/is-ioc-transform-source-true.yml
  packages/ti_domaintools/data_stream/nod_feed/lifecycle.yml
  packages/ti_domaintools/data_stream/nod_feed/manifest.yml
  packages/ti_domaintools/data_stream/nod_feed/sample_event.json
  packages/ti_domaintools/docs/README.md
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/base-fields.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/beats.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/ecs.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/fields.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/fields/is-ioc-transform-source-false.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/manifest.yml
  packages/ti_domaintools/elasticsearch/transform/latest_nod/transform.yml
  packages/ti_domaintools/img/logo.png
  packages/ti_domaintools/manifest.yml
Labels: Partner, New Integration, Team:Security-Service Integrations

#12675 [Security Rules] Update security rules package to v8.15.16
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12676 [Security Rules] Update security rules package to v8.17.5
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12678 [Security Rules] Update security rules package to v8.14.22
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12679 [Security Rules] Update security rules package to v8.16.7
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12647 packages/cel - add 'condition' variable
  packages/cel/agent/input/input.yml.hbs
  packages/cel/changelog.yml
  packages/cel/manifest.yml
Labels: enhancement, Integration:cel, Team:Security-Service Integrations

#12607 sublime_security: improve file selectors config documentation
  packages/sublime_security/changelog.yml
  packages/sublime_security/data_stream/audit/manifest.yml
  packages/sublime_security/data_stream/email_message/manifest.yml
  packages/sublime_security/data_stream/message_event/manifest.yml
  packages/sublime_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:sublime_security

#12649 abnormal_security: include judgementStatus field in fingerprint
  packages/abnormal_security/changelog.yml
  packages/abnormal_security/data_stream/ai_security_mailbox/_dev/test/pipeline/test-ai-security-mailbox.log-expected.json
  packages/abnormal_security/data_stream/ai_security_mailbox/elasticsearch/ingest_pipeline/default.yml
  packages/abnormal_security/data_stream/audit/_dev/test/pipeline/test-audit.log-expected.json
  packages/abnormal_security/data_stream/case/_dev/test/pipeline/test-case.log-expected.json
  packages/abnormal_security/data_stream/threat/_dev/test/pipeline/test-threat.log-expected.json
  packages/abnormal_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:abnormal_security

#12666 google_workspace: Omit pageToken from interval requests in chrome events
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/chrome/agent/stream/cel.yml.hbs
  packages/google_workspace/manifest.yml
Labels: Integration:google_workspace, bugfix, Team:Security-Service Integrations

#12634 [Corelight] Update saved search of all dashboards
  packages/corelight/changelog.yml
  packages/corelight/img/corelight-suricata-ids-alert-overview.png
  packages/corelight/img/intel.png
  packages/corelight/img/log-hunting.png
  packages/corelight/img/notices.png
  packages/corelight/img/rdp-inferences-overview.png
  packages/corelight/img/software.png
  packages/corelight/img/ssh-inferences-overview.png
  packages/corelight/img/vpn-insights.png
  packages/corelight/kibana/dashboard/corelight-023162b6-94da-4d8d-b1f6-de6192356cce.json
  packages/corelight/kibana/dashboard/corelight-2d4dc345-cbbe-4d7a-9203-5ab11c8cb5ba.json
  packages/corelight/kibana/dashboard/corelight-323b0f27-993e-4fee-ae6e-b5977d7cab11.json
  packages/corelight/kibana/dashboard/corelight-40bbc19b-dd9c-4b43-a88a-e29fc8701902.json
  packages/corelight/kibana/dashboard/corelight-65a5fa91-06e4-459b-b4bb-998c85a6cf08.json
  packages/corelight/kibana/dashboard/corelight-7c0946bc-acd0-4ec3-ab3b-8a92853f4a3b.json
  packages/corelight/kibana/dashboard/corelight-f1208ffe-d168-46d1-9531-24de523d1bfb.json
  packages/corelight/kibana/dashboard/corelight-f7da14f0-85db-48e8-a591-1f650af0f618.json
  packages/corelight/kibana/dashboard/corelight-ff07e65c-2703-4cbe-a45f-3881025352a3.json
  packages/corelight/kibana/search/corelight-039807c4-9ec2-4778-b548-0e08877fb8d2.json
  packages/corelight/kibana/search/corelight-0e9e3c43-9a05-4427-ae03-cd819c418889.json
  packages/corelight/kibana/search/corelight-25c4969f-1368-433e-905d-fda0ae7e4923.json
  packages/corelight/kibana/search/corelight-34498312-f418-4e47-9931-bc5fc46c0bff.json
  packages/corelight/kibana/search/corelight-7bc4e6b5-966f-4f20-b1d6-c38040342881.json
  packages/corelight/kibana/search/corelight-845d2914-3a55-4057-9dca-a3fd4e226d54.json
  packages/corelight/kibana/search/corelight-86b2a063-fb17-4165-8046-843ff5cf33aa.json
  packages/corelight/kibana/search/corelight-92c0bf7d-5abe-46a1-800d-281386e4b219.json
  packages/corelight/kibana/search/corelight-9eee7e02-dea8-4e4b-9dc1-9d1df9785aef.json
  packages/corelight/kibana/search/corelight-a44be701-0e99-4b53-9073-b7720df40481.json
  packages/corelight/kibana/search/corelight-af161fed-c80a-4207-9026-0d3c665efe1a.json
  packages/corelight/kibana/search/corelight-e0f9718e-23ec-4c36-8040-d687fc177db4.json
  packages/corelight/kibana/search/corelight-eb605992-3157-4a95-a654-e2fd650da993.json
  packages/corelight/manifest.yml
Labels: dashboard, Crest, Team:Security-Service Integrations, Integration:corelight

#12665 [Corelight] Enable "Paginate table" toggle and show all columns of table visualization
  packages/corelight/changelog.yml
  packages/corelight/img/name-resolution-insights.png
  packages/corelight/img/remote-activity-insights.png
  packages/corelight/img/secure-channel-insights.png
  packages/corelight/kibana/dashboard/corelight-45197477-c13f-4e52-a5dd-fb4f53564963.json
  packages/corelight/kibana/dashboard/corelight-7c0946bc-acd0-4ec3-ab3b-8a92853f4a3b.json
  packages/corelight/kibana/dashboard/corelight-8546a96c-86c9-4edf-9d46-88338d6ac40e.json
  packages/corelight/kibana/dashboard/corelight-f4864774-ed73-4b78-b861-5b8235ec12cf.json
  packages/corelight/manifest.yml
Labels: dashboard, Crest, Team:Security-Service Integrations, Integration:corelight

#12616 [rubrik] add node_statistics data stream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/node_statistics/_dev/test/pipeline/test-node-statistics.log
  packages/rubrik/data_stream/node_statistics/_dev/test/pipeline/test-node-statistics.log-expected.json
  packages/rubrik/data_stream/node_statistics/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/node_statistics/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/node_statistics/fields/base-fields.yml
  packages/rubrik/data_stream/node_statistics/fields/fields.yml
  packages/rubrik/data_stream/node_statistics/manifest.yml
  packages/rubrik/data_stream/node_statistics/sample_event.json
  packages/rubrik/docs/README.md
  packages/rubrik/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12648 imperva_cloud_waf: improve error reporting for API requests
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#12592 [O11y][Apache] Support SSL/TLS for status data stream
  packages/apache/changelog.yml
  packages/apache/data_stream/status/agent/stream/stream.yml.hbs
  packages/apache/manifest.yml
Labels: enhancement, Integration:apache, Team:Obs-InfraObs

#12660 Goggle Metrics Integration enable v9 Kibana support
  packages/gcp_metrics/changelog.yml
  packages/gcp_metrics/manifest.yml
Labels: Integration:gcp, Team:obs-ds-hosted-services

#12628 [Google Workspace] Fixed a bug where a panel in the Login Dashboard did not filter correctly.
  packages/google_workspace/_dev/deploy/docker/config.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/data_stream/login/_dev/test/pipeline/test-login.log
  packages/google_workspace/data_stream/login/_dev/test/pipeline/test-login.log-expected.json
  packages/google_workspace/data_stream/login/elasticsearch/ingest_pipeline/default.yml
  packages/google_workspace/kibana/search/google_workspace-2c0d5bc0-3b0d-11ed-8bdd-f5c5df6c1370.json
  packages/google_workspace/manifest.yml
Labels: bug, Integration:google_workspace, Team:Service-Integrations

#12348 Sailpoint identity security cloud integration
  .github/CODEOWNERS
  packages/sailpoint_identity_sc/_dev/build/build.yml
  packages/sailpoint_identity_sc/_dev/build/docs/README.md
  packages/sailpoint_identity_sc/_dev/deploy/docker/docker-compose.yml
  packages/sailpoint_identity_sc/_dev/deploy/docker/files/config.yml
  packages/sailpoint_identity_sc/changelog.yml
  packages/sailpoint_identity_sc/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/sailpoint_identity_sc/data_stream/events/_dev/test/pipeline/test-event.json
  packages/sailpoint_identity_sc/data_stream/events/_dev/test/pipeline/test-event.json-expected.json
  packages/sailpoint_identity_sc/data_stream/events/_dev/test/system/test-default-config.yml
  packages/sailpoint_identity_sc/data_stream/events/agent/stream/cel.yml.hbs
  packages/sailpoint_identity_sc/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/sailpoint_identity_sc/data_stream/events/fields/base-fields.yml
  packages/sailpoint_identity_sc/data_stream/events/fields/event-fields.yml
  packages/sailpoint_identity_sc/data_stream/events/manifest.yml
  packages/sailpoint_identity_sc/data_stream/events/sample_event.json
  packages/sailpoint_identity_sc/docs/README.md
  packages/sailpoint_identity_sc/img/dashboard.png
  packages/sailpoint_identity_sc/img/sics.svg
  packages/sailpoint_identity_sc/kibana/dashboard/sailpoint_identity_sc-7b41587a-7abc-44f3-901e-1501ef78520e.json
  packages/sailpoint_identity_sc/manifest.yml
Labels: New Integration, Team:Security-Service Integrations, EPAM

#12681 [fortinet_fortigate] Update key/value parsing
  packages/fortinet_fortigate/changelog.yml
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log
  packages/fortinet_fortigate/data_stream/log/_dev/test/pipeline/test-fortinet.log-expected.json
  packages/fortinet_fortigate/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/fortinet_fortigate/manifest.yml
Labels: bugfix, Integration:fortinet_fortigate, Team:Security-Deployment and Devices

#12717 prisma_access: do not classify THREAT events as indicators
  packages/prisma_access/changelog.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/prisma_access/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_access/data_stream/event/sample_event.json
  packages/prisma_access/docs/README.md
  packages/prisma_access/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:prisma_access

#12702 sentinel_one: handle comma-separated IP lists
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log
  packages/sentinel_one/data_stream/threat/_dev/test/pipeline/test-pipeline-threat.log-expected.json
  packages/sentinel_one/data_stream/threat/elasticsearch/ingest_pipeline/default.yml
  packages/sentinel_one/data_stream/threat/fields/fields.yml
  packages/sentinel_one/docs/README.md
  packages/sentinel_one/manifest.yml
Labels: enhancement, Integration:sentinel_one, Team:Security-Service Integrations

#12715 auth0: retain original event type identifier
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-login-failure.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-login-success.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-logout-success.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-mgmt-api-success.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-pull-responses.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-signup-failure.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-signup-success.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-token-xchg-success.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-user-behaviour-fail.json-expected.json
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-user-behaviour-success.json-expected.json
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/data_stream/logs/fields/fields.yml
  packages/auth0/data_stream/logs/sample_event.json
  packages/auth0/docs/README.md
  packages/auth0/manifest.yml
Labels: enhancement, Integration:auth0, Team:Security-Service Integrations

#12641 Azure Integrations enable v9 Kibana support
  packages/azure/changelog.yml
  packages/azure/manifest.yml
  packages/azure_metrics/changelog.yml
  packages/azure_metrics/manifest.yml
Labels: Integration:azure, Integration:azure_metrics, Team:obs-ds-hosted-services, Integration:azure_logs

#12687 AWS Firehose for 9.0.0 enablement
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/manifest.yml
Labels: Integration:awsfirehose, Team:obs-ds-hosted-services

#12639 OBS non-cloud package with 9.0.0 Sanity Issues
  packages/apache_tomcat/_dev/deploy/docker/docker-compose.yml
  packages/apache_tomcat/_dev/deploy/docker/sample_logs/localhost.log
  packages/apache_tomcat/data_stream/access/sample_event.json
  packages/apache_tomcat/data_stream/localhost/sample_event.json
  packages/apache_tomcat/docs/README.md
  packages/coredns/_dev/deploy/docker/docker-compose.yml
  packages/coredns/data_stream/log/sample_event.json
  packages/coredns/docs/README.md
Labels: enhancement, Integration:coredns, Integration:apache_tomcat, Integration:envoyproxy

#12716 prisma_cloud: map alert.policy.{description,name,recommendation} as text or multi_field text
  packages/prisma_cloud/changelog.yml
  packages/prisma_cloud/data_stream/alert/_dev/test/pipeline/test-alert.log-expected.json
  packages/prisma_cloud/data_stream/alert/fields/fields.yml
  packages/prisma_cloud/data_stream/alert/sample_event.json
  packages/prisma_cloud/docs/README.md
  packages/prisma_cloud/manifest.yml
Labels: enhancement, Integration:prisma_cloud, Team:Security-Service Integrations

#12577 [envoyproxy][mongodb_atlas] Update failing mappings when validation based on mappings enabled
  packages/envoyproxy/changelog.yml
  packages/envoyproxy/data_stream/stats/fields/fields.yml
  packages/envoyproxy/docs/README.md
  packages/envoyproxy/manifest.yml
  packages/mongodb_atlas/changelog.yml
  packages/mongodb_atlas/data_stream/organization/fields/fields.yml
  packages/mongodb_atlas/data_stream/project/fields/fields.yml
  packages/mongodb_atlas/docs/README.md
  packages/mongodb_atlas/manifest.yml
Labels: Integration:mongodb_atlas, Integration:envoyproxy

#12593 Add 9.0.0 Kibana constraint to selected SSI packages for testing
  packages/cel/changelog.yml
  packages/cel/manifest.yml
  packages/cloudflare_logpush/changelog.yml
  packages/cloudflare_logpush/manifest.yml
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/manifest.yml
  packages/entityanalytics_entra_id/changelog.yml
  packages/entityanalytics_entra_id/manifest.yml
  packages/google_workspace/changelog.yml
  packages/google_workspace/manifest.yml
  packages/m365_defender/changelog.yml
  packages/m365_defender/manifest.yml
  packages/mimecast/changelog.yml
  packages/mimecast/manifest.yml
  packages/sentinel_one/changelog.yml
  packages/sentinel_one/manifest.yml
  packages/ti_custom/changelog.yml
  packages/ti_custom/manifest.yml
  packages/wiz/changelog.yml
  packages/wiz/manifest.yml
Labels: enhancement, Integration:crowdstrike, Integration:google_workspace, Integration:mimecast, Integration:sentinel_one, Integration:m365_defender, Integration:cloudflare_logpush, Integration:cel, Integration:wiz, Integration:entityanalytics_entra_id, Team:Security-Service Integrations, Integration:ti_custom

#12734 qualys_vmdr: tolerate missing version details in asset_host_detection vulnerability results
  packages/qualys_vmdr/changelog.yml
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log
  packages/qualys_vmdr/data_stream/asset_host_detection/_dev/test/pipeline/test-asset-host-detection.log-expected.json
  packages/qualys_vmdr/data_stream/asset_host_detection/elasticsearch/ingest_pipeline/default.yml
  packages/qualys_vmdr/manifest.yml
Labels: enhancement, Integration:qualys_vmdr, Team:Security-Service Integrations

#12696 [O365 Metrics] Add cel failure check to all data streams
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/active_users_services_user_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/groups_activity_group_detail/_dev/test/pipeline/test-groups-activity-group-detail.json-expected.json
  packages/o365_metrics/data_stream/mailbox_usage_detail/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/mailbox_usage_quota_status/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage_account_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage_account_detail/_dev/test/pipeline/test-onedrive-usage-account-detail.json-expected.json
  packages/o365_metrics/data_stream/onedrive_usage_file_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/onedrive_usage_storage/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/outlook_activity/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/outlook_app_usage_version_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/service_health/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage_detail/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/sharepoint_site_usage_storage/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/subscriptions/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/teams_call_quality/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/teams_device_usage_user_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/teams_user_activity_user_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/teams_user_activity_user_detail/_dev/test/pipeline/test-teams-user-activity-user-detail.json-expected.json
  packages/o365_metrics/data_stream/viva_engage_device_usage_user_counts/elasticsearch/ingest_pipeline/default.yml
  packages/o365_metrics/data_stream/viva_engage_groups_activity_group_detail/_dev/test/pipeline/test-viva-engage-groups-activity-group.json-expected.json
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#12754 Updated description on ssl node in manifest.yml to be uniform and link to online documentation for integrations owned by stack-monitoring
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/manifest.yml
  packages/kibana/changelog.yml
  packages/kibana/manifest.yml
Labels: Integration:elasticsearch, Integration:kibana, bugfix, Team:Stack Monitoring

#12756 Added description on ssl.* nodes in data_streams owned by obs-cloudnative-monitoring
  packages/kubernetes/changelog.yml
  packages/kubernetes/data_stream/apiserver/manifest.yml
  packages/kubernetes/data_stream/container/manifest.yml
  packages/kubernetes/data_stream/node/manifest.yml
  packages/kubernetes/data_stream/pod/manifest.yml
  packages/kubernetes/data_stream/state_container/manifest.yml
  packages/kubernetes/data_stream/state_cronjob/manifest.yml
  packages/kubernetes/data_stream/state_daemonset/manifest.yml
  packages/kubernetes/data_stream/state_deployment/manifest.yml
  packages/kubernetes/data_stream/state_job/manifest.yml
  packages/kubernetes/data_stream/state_namespace/manifest.yml
  packages/kubernetes/data_stream/state_node/manifest.yml
  packages/kubernetes/data_stream/state_persistentvolume/manifest.yml
  packages/kubernetes/data_stream/state_persistentvolumeclaim/manifest.yml
  packages/kubernetes/data_stream/state_pod/manifest.yml
  packages/kubernetes/data_stream/state_replicaset/manifest.yml
  packages/kubernetes/data_stream/state_resourcequota/manifest.yml
  packages/kubernetes/data_stream/state_service/manifest.yml
  packages/kubernetes/data_stream/state_statefulset/manifest.yml
  packages/kubernetes/data_stream/state_storageclass/manifest.yml
  packages/kubernetes/data_stream/system/manifest.yml
  packages/kubernetes/data_stream/volume/manifest.yml
  packages/kubernetes/manifest.yml
Labels: Integration:kubernetes, Team:Cloudnative-Monitoring, bugfix

#12779 imperva_cloud_waf: fix syntax for error message construction
  packages/imperva_cloud_waf/changelog.yml
  packages/imperva_cloud_waf/data_stream/event/agent/stream/cel.yml.hbs
  packages/imperva_cloud_waf/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:imperva_cloud_waf

#12770 mimecast.audit_events: Prevent pageToken from incorrectly reappearing in interval requests
  packages/mimecast/changelog.yml
  packages/mimecast/data_stream/audit_events/agent/stream/cel.yml.hbs
  packages/mimecast/data_stream/audit_events/sample_event.json
  packages/mimecast/docs/README.md
  packages/mimecast/manifest.yml
Labels: Integration:mimecast, bugfix, Team:Security-Service Integrations

#12778 checkpoint_harmony_endpoint.forensics: Improve error reporting for API requests
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#12766 Enablement & Sanity test run for OpenAi OBS integration package for 9.0.0
  packages/openai/changelog.yml
  packages/openai/manifest.yml
Labels: enhancement, Integration:openai

#12689 Jamf Pro: fix flaky system tests
  packages/jamf_pro/_dev/deploy/docker/files/config.yml
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/_dev/test/system/test-inventory-config.yml
  packages/jamf_pro/data_stream/inventory/agent/stream/cel.yml.hbs
  packages/jamf_pro/data_stream/inventory/manifest.yml
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#12575 [linux] Avoid using dynamic templates for flattened objects
  packages/linux/changelog.yml
  packages/linux/data_stream/memory/fields/fields.yml
  packages/linux/manifest.yml
Labels: Integration:linux, Team:Elastic-Agent-Data-Plane

#12787 [Amazon Bedrock Guardrails] Update dashboard with policy violation details
  packages/aws_bedrock/changelog.yml
  packages/aws_bedrock/img/amazon_bedrock_guardrails_invocation_details.png
  packages/aws_bedrock/img/amazon_bedrock_guardrails_overview.png
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-14fd745a-d3c1-4ebe-bd25-00b465336cde.json
  packages/aws_bedrock/kibana/dashboard/aws_bedrock-2a19b571-251b-487b-84b2-abd887efb8a4.json
  packages/aws_bedrock/manifest.yml
Labels: enhancement, dashboard, Team:Obs-InfraObs, Integration:aws_bedrock

#12771 Updated description on ssl node to include links to online documentation for integrations owned by customer-architects
  packages/ess_billing/changelog.yml
  packages/ess_billing/manifest.yml
Labels: bugfix, Integration:ess_billing

#12729 symantec_endpoint_security: support ISO8601 timestamps
  packages/symantec_endpoint_security/changelog.yml
  packages/symantec_endpoint_security/data_stream/incident/_dev/test/pipeline/test-incident.log
  packages/symantec_endpoint_security/data_stream/incident/_dev/test/pipeline/test-incident.log-expected.json
  packages/symantec_endpoint_security/data_stream/incident/elasticsearch/ingest_pipeline/default.yml
  packages/symantec_endpoint_security/data_stream/incident/sample_event.json
  packages/symantec_endpoint_security/docs/README.md
  packages/symantec_endpoint_security/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:symantec_endpoint_security

#12795 checkpoint_harmony_endpoint: Fix indentation in forensics CEL program
  packages/checkpoint_harmony_endpoint/changelog.yml
  packages/checkpoint_harmony_endpoint/data_stream/forensics/agent/stream/cel.yml.hbs
  packages/checkpoint_harmony_endpoint/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:checkpoint_harmony_endpoint

#12637 AWS Integration enable v9 Kibana support
  packages/aws/changelog.yml
  packages/aws/data_stream/guardduty/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/inspector/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_findings/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/securityhub_insights/elasticsearch/ingest_pipeline/default.yml
  packages/aws/data_stream/waf/fields/fields.yml
  packages/aws/docs/waf.md
  packages/aws/manifest.yml
  packages/aws/validation.yml
  packages/aws_logs/changelog.yml
  packages/aws_logs/manifest.yml
Labels: Integration:aws, Integration:aws_logs, Team:obs-ds-hosted-services

#12769 [cisco_meraki_metrics] wrap organization IDs in quotes
  packages/cisco_meraki_metrics/changelog.yml
  packages/cisco_meraki_metrics/data_stream/device_health/agent/stream/stream.yml.hbs
  packages/cisco_meraki_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:cisco_meraki_metrics

#12788 Enablement & Sanity test run for evoyproxy OBS integration package for 9.0.0
  packages/envoyproxy/changelog.yml
  packages/envoyproxy/data_stream/log/fields/beats.yml
  packages/envoyproxy/data_stream/log/sample_event.json
  packages/envoyproxy/docs/README.md
  packages/envoyproxy/manifest.yml
Labels: enhancement, Integration:envoyproxy

#12809 [Security Rules] Update security rules package to v8.15.17
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12810 [Security Rules] Update security rules package to v8.16.8
  packages/security_detection_engine/changelog.yml
  packages/security_detection_engine/manifest.yml
Labels: enhancement, Integration:security_detection_engine

#12570 [awsfirehose] Avoid using dynamic templates for flattened objects
  packages/awsfirehose/changelog.yml
  packages/awsfirehose/data_stream/logs/fields/fields.yml
  packages/awsfirehose/data_stream/metrics/fields/fields.yml
  packages/awsfirehose/docs/README.md
  packages/awsfirehose/manifest.yml
Labels: Integration:awsfirehose, Team:obs-ds-hosted-services

#12755 aws: ignore long cloudtrail.{request_parameters,response_elements} fields
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/fields/fields.yml
  packages/aws/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs, Team:Security-Service Integrations, Team:obs-ds-hosted-services

#12775 Updated description on ssl node in manifest.yml owned by logstash to be uniform with other integrations
  packages/logstash/changelog.yml
  packages/logstash/manifest.yml
Labels: Integration:logstash, bugfix

#12777 zscaler_zia: update kibana constraint to support 9.0.0
  packages/zscaler_zia/changelog.yml
  packages/zscaler_zia/manifest.yml
Labels: enhancement, Integration:zscaler_zia, Team:Security-Service Integrations

#12813 [Elasticsearch][Ingest pipeline] Stop truncating the elasticsearch server log messages
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/data_stream/server/_dev/test/pipeline/test-server-logs.log
  packages/elasticsearch/data_stream/server/_dev/test/pipeline/test-server-logs.log-expected.json
  packages/elasticsearch/data_stream/server/elasticsearch/ingest_pipeline/pipeline-json.yml
  packages/elasticsearch/manifest.yml
Labels: Integration:elasticsearch, Feature:Stack Monitoring, bugfix, Team:Stack Monitoring

#12797 jamf_pro: make host.mac format conform to ECS definition
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory-groups-memberships.json-expected.json
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json-expected.json
  packages/jamf_pro/data_stream/inventory/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#12816 auth0: fix event.type and event.category for failed authentication events
  packages/auth0/changelog.yml
  packages/auth0/data_stream/logs/_dev/test/pipeline/test-login-failure.json-expected.json
  packages/auth0/data_stream/logs/elasticsearch/ingest_pipeline/default.yml
  packages/auth0/data_stream/logs/sample_event.json
  packages/auth0/docs/README.md
  packages/auth0/manifest.yml
Labels: Integration:auth0, bugfix, Team:Security-Service Integrations

#12837 Make filestream available in 9.X
  packages/filestream/changelog.yml
  packages/filestream/manifest.yml
Labels: Team:Elastic-Agent-Data-Plane

#12636 [ecs] windows platform packages to ecs 8.17
  packages/hid_bravura_monitor/_dev/build/build.yml
  packages/hid_bravura_monitor/changelog.yml
  packages/hid_bravura_monitor/data_stream/log/_dev/test/pipeline/test-hid-bravura-monitor.log-expected.json
  packages/hid_bravura_monitor/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/log/sample_event.json
  packages/hid_bravura_monitor/data_stream/winlog/_dev/test/pipeline/test-hid-bravura-monitor-events.json-expected.json
  packages/hid_bravura_monitor/data_stream/winlog/elasticsearch/ingest_pipeline/default.yml
  packages/hid_bravura_monitor/data_stream/winlog/sample_event.json
  packages/hid_bravura_monitor/docs/README.md
  packages/hid_bravura_monitor/manifest.yml
  packages/microsoft_dhcp/_dev/build/build.yml
  packages/microsoft_dhcp/changelog.yml
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-log.log-expected.json
  packages/microsoft_dhcp/data_stream/log/_dev/test/pipeline/test-logv6.log-expected.json
  packages/microsoft_dhcp/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dhcp/data_stream/log/sample_event.json
  packages/microsoft_dhcp/docs/README.md
  packages/microsoft_dhcp/manifest.yml
  packages/microsoft_dnsserver/_dev/build/build.yml
  packages/microsoft_dnsserver/changelog.yml
  packages/microsoft_dnsserver/data_stream/analytical/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/analytical/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/data_stream/audit/_dev/test/pipeline/test-events.json-expected.json
  packages/microsoft_dnsserver/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_dnsserver/manifest.yml
  packages/microsoft_exchange_server/_dev/build/build.yml
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/httpproxy/_dev/test/pipeline/test-httpproxy.log-expected.json
  packages/microsoft_exchange_server/data_stream/httpproxy/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/imap4_pop3/_dev/test/pipeline/test-imap4-pop3.json-expected.json
  packages/microsoft_exchange_server/data_stream/imap4_pop3/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log-expected.json
  packages/microsoft_exchange_server/data_stream/messagetracking/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/data_stream/smtp/_dev/test/pipeline/test-smtp.json-expected.json
  packages/microsoft_exchange_server/data_stream/smtp/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/manifest.yml
  packages/mysql_enterprise/_dev/build/build.yml
  packages/mysql_enterprise/changelog.yml
  packages/mysql_enterprise/data_stream/audit/_dev/test/pipeline/test-mysql-audit.log-expected.json
  packages/mysql_enterprise/data_stream/audit/elasticsearch/ingest_pipeline/default.yml
  packages/mysql_enterprise/data_stream/audit/sample_event.json
  packages/mysql_enterprise/docs/README.md
  packages/mysql_enterprise/manifest.yml
  packages/unifiedlogs/_dev/build/build.yml
  packages/unifiedlogs/changelog.yml
  packages/unifiedlogs/manifest.yml
  packages/windows_etw/_dev/build/build.yml
  packages/windows_etw/changelog.yml
  packages/windows_etw/manifest.yml
  packages/windows_etw/sample_event.json
  packages/winlog/_dev/build/build.yml
  packages/winlog/changelog.yml
  packages/winlog/manifest.yml
Labels: enhancement, Integration:microsoft_dhcp, Integration:hid_bravura_monitor, Integration:winlog, Team:Security-Windows Platform, Integration:windows_etw, Integration:microsoft_dnsserver, Integration:microsoft_exchange_server, Integration:mysql_enterprise, Integration:unifiedlogs

#12828 [cisco_ios] Support additional header format and message type
  packages/cisco_ios/changelog.yml
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-ios-fix.log
  packages/cisco_ios/data_stream/log/_dev/test/pipeline/test-ios-fix.log-expected.json
  packages/cisco_ios/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ios/data_stream/log/fields/ecs.yml
  packages/cisco_ios/docs/README.md
  packages/cisco_ios/manifest.yml
Labels: Integration:cisco_ios, bugfix, Team:Security-Deployment and Devices

#12818 digital_guardian: fix mapping of dg_alert.alert_wb field and add export profile guid
  packages/digital_guardian/changelog.yml
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log
  packages/digital_guardian/data_stream/arc/_dev/test/pipeline/test-dg-arc.log-expected.json
  packages/digital_guardian/data_stream/arc/agent/stream/cel.yml.hbs
  packages/digital_guardian/data_stream/arc/elasticsearch/ingest_pipeline/default.yml
  packages/digital_guardian/data_stream/arc/fields/fields.yml
  packages/digital_guardian/data_stream/arc/sample_event.json
  packages/digital_guardian/docs/README.md
  packages/digital_guardian/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:digital_guardian

#12776 Updated description on ssl node in data_stream to be uniform and include links to online documentation for integrations owned by obs-ux-management-team
  packages/synthetics/changelog.yml
  packages/synthetics/data_stream/http/manifest.yml
  packages/synthetics/data_stream/tcp/manifest.yml
  packages/synthetics/manifest.yml
Labels: bugfix, Integration:synthetics, Team:obs-ux-management

#12849 [O365] [OneDrive Usage Storage] Fix cel code
  packages/o365_metrics/changelog.yml
  packages/o365_metrics/data_stream/onedrive_usage_storage/agent/stream/cel.yml.hbs
  packages/o365_metrics/manifest.yml
Labels: Team:Obs-InfraObs, Integration:o365_metrics

#12774 [citrix_adc] Pipeline fixes for parsing errors
  packages/citrix_adc/changelog.yml
  packages/citrix_adc/data_stream/interface/_dev/test/pipeline/test-interface-metrics.log-expected.json
  packages/citrix_adc/data_stream/lbvserver/_dev/test/pipeline/test-lbvserver-metrics.log-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-config-time.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-local-time.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native-with-delink.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-native.json-expected.json
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log
  packages/citrix_adc/data_stream/log/_dev/test/pipeline/test-citrix-sslvpn-message.log-expected.json
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/citrix_adc/data_stream/log/elasticsearch/ingest_pipeline/sslvpn_and_aaatm_feature.yml
  packages/citrix_adc/data_stream/service/_dev/test/pipeline/test-service-metrics.log-expected.json
  packages/citrix_adc/data_stream/system/_dev/test/pipeline/test-system-metrics.log-expected.json
  packages/citrix_adc/data_stream/vpn/_dev/test/pipeline/test-vpn-metrics.log-expected.json
  packages/citrix_adc/manifest.yml
Labels: bugfix

#12727 Updated description on ssl node in data_stream to be uniform and include links to online documentation for integrations owned by obs-infraobs-integrations
  packages/aws/changelog.yml
  packages/aws/data_stream/cloudtrail/manifest.yml
  packages/aws/data_stream/guardduty/manifest.yml
  packages/aws/data_stream/inspector/manifest.yml
  packages/aws/data_stream/securityhub_findings/manifest.yml
  packages/aws/data_stream/securityhub_insights/manifest.yml
  packages/aws/manifest.yml
  packages/hadoop/changelog.yml
  packages/hadoop/data_stream/application/manifest.yml
  packages/hadoop/data_stream/cluster/manifest.yml
  packages/hadoop/data_stream/datanode/manifest.yml
  packages/hadoop/data_stream/namenode/manifest.yml
  packages/hadoop/data_stream/node_manager/manifest.yml
  packages/hadoop/manifest.yml
  packages/kafka_log/changelog.yml
  packages/kafka_log/data_stream/generic/manifest.yml
  packages/kafka_log/manifest.yml
  packages/vsphere/changelog.yml
  packages/vsphere/data_stream/log/manifest.yml
  packages/vsphere/manifest.yml
Labels: Integration:aws, Integration:vsphere, Integration:hadoop, Integration:kafka_log, Team:Obs-InfraObs, bugfix, Team:obs-ds-hosted-services

#12726 [cisco_ftd] Lots of new message support
  packages/cisco_ftd/changelog.yml
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log
  packages/cisco_ftd/data_stream/log/_dev/test/pipeline/test-ftd-fix.log-expected.json
  packages/cisco_ftd/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_ftd/data_stream/log/fields/fields.yml
  packages/cisco_ftd/docs/README.md
  packages/cisco_ftd/manifest.yml
Labels: enhancement, bugfix

#12796 Billing integration dedup credits & stalling fixes
  packages/ess_billing/changelog.yml
  packages/ess_billing/data_stream/billing/agent/stream/cel.yml.hbs
  packages/ess_billing/data_stream/billing/elasticsearch/ingest_pipeline/default.yml
  packages/ess_billing/data_stream/billing/manifest.yml
  packages/ess_billing/data_stream/credits/agent/stream/cel.yml.hbs
  packages/ess_billing/data_stream/credits/elasticsearch/ingest_pipeline/default.yml
  packages/ess_billing/data_stream/credits/manifest.yml
  packages/ess_billing/kibana/dashboard/ess_billing-creditsdashboard.json
  packages/ess_billing/manifest.yml
Labels: bugfix

#12739 [Azure OpenAI] Enhance Azure openAI dashboard
  packages/azure_openai/changelog.yml
  packages/azure_openai/img/azure_open_ai_billing.png
  packages/azure_openai/img/azure_open_ai_overview.png
  packages/azure_openai/img/azure_open_ai_ptu_deployment.png
  packages/azure_openai/kibana/dashboard/azure_openai-21d9a0d0-e6a0-4b34-bc6d-ce6560a1dab3.json
  packages/azure_openai/kibana/dashboard/azure_openai-83bbaa98-7f44-4785-8774-15e0de9f74fa.json
  packages/azure_openai/kibana/dashboard/azure_openai-f5bbc591-5e6b-4af7-b6c5-b02065a06455.json
  packages/azure_openai/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:azure_openai

#12807 [AmazonMQ] ActiveMQ metrics dataset of AmazonMQ
  .github/CODEOWNERS
  packages/aws_mq/_dev/build/build.yml
  packages/aws_mq/_dev/build/docs/README.md
  packages/aws_mq/changelog.yml
  packages/aws_mq/data_stream/activemq_metrics/agent/stream/stream.yml.hbs
  packages/aws_mq/data_stream/activemq_metrics/elasticsearch/ingest_pipeline/default.yml
  packages/aws_mq/data_stream/activemq_metrics/fields/base-fields.yml
  packages/aws_mq/data_stream/activemq_metrics/fields/ecs.yml
  packages/aws_mq/data_stream/activemq_metrics/fields/fields.yml
  packages/aws_mq/data_stream/activemq_metrics/manifest.yml
  packages/aws_mq/data_stream/activemq_metrics/sample_event.json
  packages/aws_mq/docs/README.md
  packages/aws_mq/img/amazom-mq-config-screenshot.png
  packages/aws_mq/img/aws-mq-logo.svg
  packages/aws_mq/manifest.yml
Labels: enhancement, Integration:aws, Team:Obs-InfraObs

#12402 Admin By Request EPM Connector
  .github/CODEOWNERS
  packages/admin_by_request_epm/_dev/build/build.yml
  packages/admin_by_request_epm/_dev/build/docs/README.md
  packages/admin_by_request_epm/_dev/deploy/docker/docker-compose.yml
  packages/admin_by_request_epm/_dev/deploy/docker/files/config.yml
  packages/admin_by_request_epm/changelog.yml
  packages/admin_by_request_epm/data_stream/auditlog/_dev/test/pipeline/test-auditlog.log
  packages/admin_by_request_epm/data_stream/auditlog/_dev/test/pipeline/test-auditlog.log-expected.json
  packages/admin_by_request_epm/data_stream/auditlog/_dev/test/pipeline/test-common-config.yml
  packages/admin_by_request_epm/data_stream/auditlog/_dev/test/system/test-default-config.yml
  packages/admin_by_request_epm/data_stream/auditlog/agent/stream/cel.yml.hbs
  packages/admin_by_request_epm/data_stream/auditlog/elasticsearch/ingest_pipeline/default.yml
  packages/admin_by_request_epm/data_stream/auditlog/fields/base-fields.yml
  packages/admin_by_request_epm/data_stream/auditlog/fields/fields.yml
  packages/admin_by_request_epm/data_stream/auditlog/manifest.yml
  packages/admin_by_request_epm/data_stream/auditlog/sample_event.json
  packages/admin_by_request_epm/data_stream/events/_dev/test/pipeline/test-common-config.yml
  packages/admin_by_request_epm/data_stream/events/_dev/test/pipeline/test-events.log
  packages/admin_by_request_epm/data_stream/events/_dev/test/pipeline/test-events.log-expected.json
  packages/admin_by_request_epm/data_stream/events/_dev/test/system/test-default-config.yml
  packages/admin_by_request_epm/data_stream/events/agent/stream/cel.yml.hbs
  packages/admin_by_request_epm/data_stream/events/elasticsearch/ingest_pipeline/default.yml
  packages/admin_by_request_epm/data_stream/events/fields/base-fields.yml
  packages/admin_by_request_epm/data_stream/events/fields/fields.yml
  packages/admin_by_request_epm/data_stream/events/manifest.yml
  packages/admin_by_request_epm/data_stream/events/sample_event.json
  packages/admin_by_request_epm/docs/README.md
  packages/admin_by_request_epm/img/auditlog_1.png
  packages/admin_by_request_epm/img/events_1.png
  packages/admin_by_request_epm/img/logo.svg
  packages/admin_by_request_epm/kibana/dashboard/admin_by_request_epm-186f2f70-8c25-4de7-b2b6-950045f14a49.json
  packages/admin_by_request_epm/kibana/dashboard/admin_by_request_epm-aef4665f-b43e-46f4-a635-1be3117ffc9e.json
  packages/admin_by_request_epm/manifest.yml
Labels: New Integration, Integration:1password, Integration:abnormal_security

#12859 CSPM remove azure.credentials.client_certificate_password from required_vars
  packages/cloud_security_posture/changelog.yml
  packages/cloud_security_posture/data_stream/findings/manifest.yml
  packages/cloud_security_posture/manifest.yml
Labels: bugfix

#12860 [CrowdStrike FDR] - Fixed parsing of RawProcessIDs in edge case scenarios
  packages/crowdstrike/changelog.yml
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log
  packages/crowdstrike/data_stream/fdr/_dev/test/pipeline/test-fdr.log-expected.json
  packages/crowdstrike/data_stream/fdr/elasticsearch/ingest_pipeline/default.yml
  packages/crowdstrike/manifest.yml
Labels: Integration:crowdstrike, bugfix, Team:Security-Service Integrations

#12817 snyk: prevent empty-keyed fields in snyk.audit_logs.content.notSupported
  packages/snyk/changelog.yml
  packages/snyk/data_stream/audit_logs/_dev/test/pipeline/test-snyk-audit.json-expected.json
  packages/snyk/data_stream/audit_logs/elasticsearch/ingest_pipeline/default.yml
  packages/snyk/manifest.yml
Labels: Integration:snyk, bugfix, Team:Security-Service Integrations

#12819 prisma_access: handle array PanOSDNSResponse values
  packages/prisma_access/changelog.yml
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json
  packages/prisma_access/data_stream/event/_dev/test/pipeline/test-event.json-expected.json
  packages/prisma_access/data_stream/event/elasticsearch/ingest_pipeline/default.yml
  packages/prisma_access/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:prisma_access

#12857 panw_cortex_xdr.{alerts,incidents}: Delete the `remove` processor thats clearing all fields.
  packages/panw_cortex_xdr/changelog.yml
  packages/panw_cortex_xdr/data_stream/alerts/_dev/test/pipeline/test-reprocess.json-expected.json
  packages/panw_cortex_xdr/data_stream/alerts/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/data_stream/incidents/_dev/test/pipeline/test-reprocess.json-expected.json
  packages/panw_cortex_xdr/data_stream/incidents/elasticsearch/ingest_pipeline/default.yml
  packages/panw_cortex_xdr/manifest.yml
Labels: Integration:panw_cortex_xdr, bugfix, Team:Security-Service Integrations

#12834 jamf_pro: normalize jamf_pro.inventory.operating_system.version and os.version to three-part versions
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json-expected.json
  packages/jamf_pro/data_stream/inventory/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_pro/manifest.yml
Labels: enhancement, Team:Security-Service Integrations, Integration:jamf_pro

#12862 [Amazon MQ] Add ActiveMQ overview dashboard
  packages/aws_mq/changelog.yml
  packages/aws_mq/img/amazom-mq-config-screenshot.png
  packages/aws_mq/img/amazonmq-activemq-dashboard.png
  packages/aws_mq/kibana/dashboard/aws_mq-787931c1-b9eb-4c6d-9993-e9014e135071.json
  packages/aws_mq/manifest.yml
Labels: dashboard, Team:Obs-InfraObs, Integration:aws_mq

#12877 [cisco_asa] Trim quotes from user.name
  packages/cisco_asa/changelog.yml
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log
  packages/cisco_asa/data_stream/log/_dev/test/pipeline/test-asa-fix.log-expected.json
  packages/cisco_asa/data_stream/log/elasticsearch/ingest_pipeline/default.yml
  packages/cisco_asa/manifest.yml
Labels: Integration:cisco_asa, bugfix, Team:Security-Deployment and Devices

#12541 [auditd_manager] Update fields and sample_event.json
  packages/auditd_manager/changelog.yml
  packages/auditd_manager/data_stream/auditd/fields/fields.yml
  packages/auditd_manager/data_stream/auditd/sample_event.json
  packages/auditd_manager/docs/README.md
  packages/auditd_manager/manifest.yml
Labels: Integration:auditd_manager, bugfix, Team:Security-Linux Platform

#12872 jamf_pro.inventory: Fix related users containing empty string.
  packages/jamf_pro/changelog.yml
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory-groups-memberships.json-expected.json
  packages/jamf_pro/data_stream/inventory/_dev/test/pipeline/test-inventory.json-expected.json
  packages/jamf_pro/data_stream/inventory/elasticsearch/ingest_pipeline/default.yml
  packages/jamf_pro/manifest.yml
Labels: bugfix, Team:Security-Service Integrations, Integration:jamf_pro

#12886 MS Defender for Endpoint - add support for Kibana `9.0.0`
  packages/microsoft_defender_endpoint/changelog.yml
  packages/microsoft_defender_endpoint/manifest.yml
Labels: >enhancement, Integration:microsoft_defender_endpoint

#12846 Allow empty fields in the exchange integration redux
  packages/microsoft_exchange_server/changelog.yml
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log
  packages/microsoft_exchange_server/data_stream/messagetracking/_dev/test/pipeline/test-messagetracking.log-expected.json
  packages/microsoft_exchange_server/data_stream/messagetracking/elasticsearch/ingest_pipeline/default.yml
  packages/microsoft_exchange_server/manifest.yml
Labels: New Integration, bugfix, Team:Security-Service Integrations, Team:Security-Windows Platform, Integration:microsoft_exchange_server

#11480 Bugfix: Fix formulas for computing tier capacity
  packages/elasticsearch/changelog.yml
  packages/elasticsearch/elasticsearch/transform/index_pivot/transform.yml
  packages/elasticsearch/kibana/dashboard/elasticsearch-b1399af0-628c-11ee-9c63-732d7f759a7a.json
  packages/elasticsearch/manifest.yml
Labels: Integration:elasticsearch, dashboard, New Integration, bugfix, Team:Security-Service Integrations, Team:Stack Monitoring

#12838 packages/openai: Change default bucket_width and improve documentation and field descriptions
  packages/openai/_dev/build/docs/README.md
  packages/openai/changelog.yml
  packages/openai/data_stream/audio_speeches/manifest.yml
  packages/openai/data_stream/audio_transcriptions/manifest.yml
  packages/openai/data_stream/code_interpreter_sessions/manifest.yml
  packages/openai/data_stream/completions/manifest.yml
  packages/openai/data_stream/embeddings/manifest.yml
  packages/openai/data_stream/images/manifest.yml
  packages/openai/data_stream/moderations/manifest.yml
  packages/openai/data_stream/vector_stores/manifest.yml
  packages/openai/docs/README.md
  packages/openai/manifest.yml
Labels: documentation, enhancement, Team:Obs-InfraObs, Integration:openai

#12839 [rubrik] Add unmanaged objects datastream
  packages/rubrik/_dev/build/docs/README.md
  packages/rubrik/changelog.yml
  packages/rubrik/data_stream/unmanaged_objects/_dev/test/pipeline/test-unmanaged-objects-metrics.log
  packages/rubrik/data_stream/unmanaged_objects/_dev/test/pipeline/test-unmanaged-objects-metrics.log-expected.json
  packages/rubrik/data_stream/unmanaged_objects/agent/stream/cel.yml.hbs
  packages/rubrik/data_stream/unmanaged_objects/elasticsearch/ingest_pipeline/default.yml
  packages/rubrik/data_stream/unmanaged_objects/fields/base-fields.yml
  packages/rubrik/data_stream/unmanaged_objects/fields/fields.yml
  packages/rubrik/data_stream/unmanaged_objects/manifest.yml
  packages/rubrik/data_stream/unmanaged_objects/sample_event.json
  packages/rubrik/docs/README.md
  packages/rubrik/manifest.yml
Labels: enhancement, Team:Obs-InfraObs, Integration:rubrik

#12904 [docs] Add the new docs CI checks
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: Team:Docs

#12905 [docs] Migrate docs from AsciiDoc to Markdown
  docs/docset.yml
  docs/extend/_publish_an_integration.md
  docs/extend/add-data-stream.md
  docs/extend/add-mapping.md
  docs/extend/asset-testing.md
  docs/extend/build-create-package.md
  docs/extend/build-it.md
  docs/extend/build-new-integration.md
  docs/extend/build-overview.md
  docs/extend/build-spin-stack.md
  docs/extend/changelog-spec.md
  docs/extend/create-dashboards.md
  docs/extend/dashboard-guidelines.md
  docs/extend/data-stream-spec.md
  docs/extend/define-deployment-modes.md
  docs/extend/dev-spec.md
  docs/extend/developer-tsds-guidelines.md
  docs/extend/developer-workflow-fleet-UI.md
  docs/extend/developer-workflow-import-beat.md
  docs/extend/developer-workflow-support-old-package.md
  docs/extend/developer-workflows.md
  docs/extend/docs-spec.md
  docs/extend/documentation-guidelines.md
  docs/extend/edit-ingest-pipeline.md
  docs/extend/elastic-package.md
  docs/extend/finishing-touches.md
  docs/extend/general-guidelines.md
  docs/extend/index.md
  docs/extend/integration-definitions.md
  docs/extend/integrations-guidelines.md
  docs/extend/integrations-tsds-synthetic-source.md
  docs/extend/kibana-spec.md
  docs/extend/manifest-spec.md
  docs/extend/package-spec.md
  docs/extend/pipeline-testing.md
  docs/extend/quick-start.md
  docs/extend/static-testing.md
  docs/extend/system-testing.md
  docs/extend/testing-new-indexing-features.md
  docs/extend/testing-validation.md
  docs/extend/testing.md
  docs/extend/tips-for-building.md
  docs/extend/toc.yml
  docs/extend/upload-new-integration.md
  docs/extend/what-is-an-integration.md
  docs/images/backport_input_step.png
  docs/images/browse_package_commits.png
  docs/images/build.png
  docs/images/colors-in-visualizations.png
  docs/images/datastream-log-message.png
  docs/images/filter-in-visualization.png
  docs/images/grouping-in-visualizations.png
  docs/images/markdown-grouping.png
  docs/images/merge_commit_message.png
  docs/images/package-installed.png
  docs/images/rows-in-visualizations.png
  docs/images/titles-in-visualizations.png
Labels: documentation, Team:Docs

#12909 [watchguard_firebox] Support email addresses in 2500-0000 and 2500-0001 events
  packages/watchguard_firebox/changelog.yml
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-diagnostic.log
  packages/watchguard_firebox/data_stream/log/_dev/test/pipeline/test-diagnostic.log-expected.json
  packages/watchguard_firebox/data_stream/log/elasticsearch/ingest_pipeline/pipeline_diagnostic.yml
  packages/watchguard_firebox/data_stream/log/fields/fields.yml
  packages/watchguard_firebox/docs/README.md
  packages/watchguard_firebox/manifest.yml
Labels: enhancement, Team:Security-Deployment and Devices, Integration:watchguard_firebox

#12870 cisco_duo.auth: Provide option to ignore ingesting API Errors.
  packages/cisco_duo/changelog.yml
  packages/cisco_duo/data_stream/auth/_dev/test/system/test-cel-config.yml
  packages/cisco_duo/data_stream/auth/_dev/test/system/test-httpjson-config.yml
  packages/cisco_duo/data_stream/auth/agent/stream/cel.yml.hbs
  packages/cisco_duo/data_stream/auth/manifest.yml
  packages/cisco_duo/manifest.yml
Labels: enhancement, Integration:cisco_duo, Team:Security-Service Integrations

#12926 [azlogs] Fix the custom storage container description for the Azure Logs integration v2
  packages/azure/changelog.yml
  packages/azure/data_stream/events/manifest.yml
  packages/azure/manifest.yml
Labels: Integration:azure, Team:Service-Integrations, bugfix, Team:Security-Service Integrations, Team:obs-ds-hosted-services
